{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "flatPath": "v1/ampUrls:batchGet",
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "path": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "name": "acceleratedmobilepageurl",
  "documentationLink": "https://developers.google.com/amp/cache/",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "id": "acceleratedmobilepageurl:v1",
  "revision": "20260826",
  "version_module": true,
  "schemas": {
    "BatchGetAmpUrlsResponse": {
      "type": "object",
      "properties": {
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once.",
          "type": "array",
          "items": {
            "$ref": "AmpUrl"
          }
        },
        "urlErrors": {
          "items": {
            "$ref": "AmpUrlError"
          },
          "type": "array",
          "description": "The errors for requested URLs that have no AMP URL."
        }
      },
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response."
    },
    "AmpUrlError": {
      "id": "AmpUrlError",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "An optional descriptive error message."
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "description": "The error code of an API call."
        }
      }
    },
    "BatchGetAmpUrlsRequest": {
      "type": "object",
      "description": "AMP URL request for a batch of URLs.",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits))."
        },
        "lookupStrategy": {
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ],
          "type": "string",
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "description": "The lookup_strategy being requested."
        }
      },
      "id": "BatchGetAmpUrlsRequest"
    },
    "AmpUrl": {
      "id": "AmpUrl",
      "properties": {
        "ampUrl": {
          "type": "string",
          "description": "The AMP URL pointing to the publisher's web server."
        },
        "cdnAmpUrl": {
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        }
      },
      "description": "AMP URL response for a requested URL.",
      "type": "object"
    }
  },
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "basePath": "",
  "version": "v1",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "canonicalName": "Acceleratedmobilepageurl",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). "
}