{
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "batchPath": "batch",
  "name": "adexchangebuyer2",
  "canonicalName": "AdExchangeBuyerII",
  "id": "adexchangebuyer2:v2beta1",
  "revision": "20260924",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "basePath": "",
  "schemas": {
    "VideoTargeting": {
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "type": "array",
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty."
        },
        "excludedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          }
        }
      },
      "description": "Represents targeting information about video.",
      "id": "VideoTargeting",
      "type": "object"
    },
    "DayPartTargeting": {
      "properties": {
        "timeZoneType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "description": "The timezone to use for interpreting the day part targeting."
        },
        "dayParts": {
          "description": "A list of day part targeting criterion.",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "type": "object",
      "id": "DayPartTargeting",
      "description": "Specifies the day part targeting criteria."
    },
    "ListBidResponseErrorsResponse": {
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "description": "List of rows, with counts of bid responses aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponseErrorsRequest.pageToken field in the subsequent call to the bidResponseErrors.list method to retrieve the next page of results."
        }
      },
      "id": "ListBidResponseErrorsResponse",
      "description": "Response message for listing all reasons that bid responses resulted in an error."
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "description": "Response message for listing all creatives associated with a given filtered bid reason.",
      "properties": {
        "filteredBidCreativeRows": {
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results."
        }
      },
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "type": "object"
    },
    "ServingRestriction": {
      "properties": {
        "disapprovalReasons": {
          "description": "Any disapprovals bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method. Deprecated; use disapproval field instead.",
          "items": {
            "$ref": "Disapproval"
          },
          "type": "array",
          "deprecated": true
        },
        "status": {
          "description": "The status of the creative in this context (for example, it has been explicitly disapproved or is pending review).",
          "enum": [
            "STATUS_UNSPECIFIED",
            "DISAPPROVAL",
            "PENDING_REVIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "The status is not known.",
            "The ad was disapproved in this context.",
            "The ad is pending review in this context."
          ]
        },
        "disapproval": {
          "$ref": "Disapproval",
          "description": "Disapproval bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method."
        },
        "contexts": {
          "type": "array",
          "description": "The contexts for the restriction.",
          "items": {
            "$ref": "ServingContext"
          }
        }
      },
      "description": "Output only. A representation of the status of an ad in a specific context. A context here relates to where something ultimately serves (for example, a user or publisher geo, a platform, an HTTPS versus HTTP request, or the type of auction).",
      "type": "object",
      "id": "ServingRestriction"
    },
    "ListProposalsResponse": {
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for listing proposals.",
      "id": "ListProposalsResponse"
    },
    "TargetingCriteria": {
      "type": "object",
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "id": "TargetingCriteria",
      "properties": {
        "exclusions": {
          "type": "array",
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "items": {
            "$ref": "TargetingValue"
          }
        },
        "inclusions": {
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        }
      }
    },
    "RemoveDealAssociationRequest": {
      "type": "object",
      "description": "A request for removing the association between a deal and a creative.",
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be removed.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "id": "RemoveDealAssociationRequest"
    },
    "MarketplaceTargeting": {
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "type": "object",
      "id": "MarketplaceTargeting",
      "properties": {
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Geo criteria IDs to be included/excluded."
        },
        "technologyTargeting": {
          "description": "Technology targeting information, for example, operating system, device category.",
          "$ref": "TechnologyTargeting"
        },
        "videoTargeting": {
          "description": "Video targeting information.",
          "$ref": "VideoTargeting"
        },
        "placementTargeting": {
          "description": "Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Inventory sizes to be included/excluded."
        }
      }
    },
    "Seller": {
      "properties": {
        "subAccountId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Ad manager network code for the seller."
        },
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        }
      },
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object",
      "id": "Seller"
    },
    "Price": {
      "type": "object",
      "description": "Represents a price and a pricing type for a product / deal.",
      "properties": {
        "pricingType": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "type": "string",
          "description": "The pricing type for the deal/product. (default: CPM)"
        },
        "amount": {
          "$ref": "Money",
          "description": "The actual price with currency specified."
        }
      },
      "id": "Price"
    },
    "VideoContent": {
      "type": "object",
      "properties": {
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a video ad."
        },
        "videoVastXml": {
          "type": "string",
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard."
        }
      },
      "id": "VideoContent",
      "description": "Video content for a creative."
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "properties": {
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "type": "object"
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "type": "object",
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.",
      "properties": {
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buyer": {
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer).",
          "$ref": "Buyer"
        },
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        }
      }
    },
    "DeliveryControl": {
      "type": "object",
      "properties": {
        "deliveryRateType": {
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true
        },
        "frequencyCaps": {
          "description": "Output only. Specifies any frequency caps.",
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true
        },
        "creativeBlockingLevel": {
          "readOnly": true,
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ]
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deals will be paced."
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "items": {
            "type": "string"
          },
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "type": "array"
        },
        "reason": {
          "type": "string",
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      },
      "description": "Request message to pause serving for finalized deals."
    },
    "FilteredBidCreativeRow": {
      "type": "object",
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "properties": {
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified creative."
        }
      },
      "id": "FilteredBidCreativeRow"
    },
    "Correction": {
      "type": "object",
      "properties": {
        "contexts": {
          "type": "array",
          "description": "The contexts for the correction.",
          "items": {
            "$ref": "ServingContext"
          }
        },
        "details": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional details about what was corrected."
        },
        "type": {
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ],
          "type": "string",
          "description": "The type of correction that was applied to the creative."
        }
      },
      "id": "Correction",
      "description": "Output only. Shows any corrections that were applied to this creative."
    },
    "CreativeRestrictions": {
      "type": "object",
      "id": "CreativeRestrictions",
      "properties": {
        "skippableAdType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "type": "string",
          "description": "The format of the environment that the creatives will be displayed in."
        },
        "creativeSpecifications": {
          "type": "array",
          "items": {
            "$ref": "CreativeSpecification"
          }
        }
      },
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals."
    },
    "AuctionContext": {
      "properties": {
        "auctionTypes": {
          "description": "The auction types this restriction applies to.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ],
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ]
          }
        }
      },
      "type": "object",
      "id": "AuctionContext",
      "description": "Output only. The auction type the restriction applies to."
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "properties": {
        "securities": {
          "description": "The security types in this context.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ],
            "enum": [
              "INSECURE",
              "SSL"
            ]
          }
        }
      },
      "description": "Output only. A security context.",
      "deprecated": true,
      "type": "object"
    },
    "GuaranteedFixedPriceTerms": {
      "type": "object",
      "description": "Terms for Programmatic Guaranteed Deals.",
      "properties": {
        "guaranteedLooks": {
          "type": "string",
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64"
        },
        "guaranteedImpressions": {
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.",
          "type": "string"
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "type": "string",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "percentShareOfVoice": {
          "type": "string",
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached."
        },
        "fixedPrices": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Fixed price for the specified buyer.",
          "type": "array"
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string"
        }
      },
      "id": "GuaranteedFixedPriceTerms"
    },
    "FilteredBidDetailRow": {
      "type": "object",
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified detail.",
          "$ref": "MetricValue"
        },
        "detail": {
          "description": "The ID of the detail, can be numeric or text. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "type": "string"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "detailId": {
          "deprecated": true,
          "description": "Note: this field will be deprecated, use \"detail\" field instead. When \"detail\" field represents an integer value, this field is populated as the same integer value \"detail\" field represents, otherwise this field will be 0. The ID of the detail. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The number of filtered bids with the specified dimension values, among those filtered due to the requested filtering reason (for example, creative status), that have the specified detail.",
      "id": "FilteredBidDetailRow"
    },
    "Proposal": {
      "properties": {
        "billedBuyer": {
          "readOnly": true,
          "$ref": "Buyer",
          "description": "Output only. Reference to the buyer that will get billed for this proposal."
        },
        "originatorRole": {
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "type": "string"
        },
        "proposalId": {
          "description": "Output only. The unique ID of the proposal.",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The notes associated with this proposal.",
          "items": {
            "$ref": "Note"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The name for the proposal."
        },
        "sellerContacts": {
          "readOnly": true,
          "description": "Output only. Contact information for the seller.",
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "type": "string",
          "readOnly": true
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "isSetupComplete": {
          "type": "boolean",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal."
        },
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "type": "array",
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal."
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Private data for buyer. (hidden from seller)."
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true
        },
        "proposalState": {
          "readOnly": true,
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ],
          "description": "Output only. The current state of the proposal.",
          "type": "string"
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "format": "google-datetime",
          "readOnly": true
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "isRenegotiating": {
          "type": "boolean",
          "description": "Output only. True if the proposal is being renegotiated.",
          "readOnly": true
        },
        "seller": {
          "$ref": "Seller",
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "privateAuctionId": {
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise."
    },
    "ListFilteredBidsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidsRequest.pageToken field in the subsequent call to the filteredBids.list method to retrieve the next page of results."
        },
        "creativeStatusRows": {
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason (for example, creative status).",
          "type": "array",
          "items": {
            "$ref": "CreativeStatusRow"
          }
        }
      },
      "type": "object",
      "id": "ListFilteredBidsResponse",
      "description": "Response message for listing all reasons that bids were filtered from the auction."
    },
    "AddNoteRequest": {
      "description": "Request message for adding a note to a given proposal.",
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "description": "Details of the note to add.",
          "$ref": "Note"
        }
      },
      "type": "object"
    },
    "CreativeSpecification": {
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "type": "object",
      "properties": {
        "creativeSize": {
          "$ref": "AdSize",
          "description": "The size of the creative."
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "id": "CreativeSpecification"
    },
    "StopWatchingCreativeRequest": {
      "description": "A request for stopping notifications for changes to creative Status.",
      "type": "object",
      "properties": {},
      "id": "StopWatchingCreativeRequest"
    },
    "DayPart": {
      "id": "DayPart",
      "properties": {
        "endTime": {
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries."
        }
      },
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week.",
      "type": "object"
    },
    "CreativeDealAssociation": {
      "description": "The association between a creative and a deal.",
      "type": "object",
      "id": "CreativeDealAssociation",
      "properties": {
        "creativeId": {
          "description": "The ID of the creative associated with the deal.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "The account the creative belongs to."
        },
        "dealsId": {
          "description": "The externalDealId for the deal associated with the creative.",
          "type": "string"
        }
      }
    },
    "ClientUser": {
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "email": {
          "description": "User's email address. The value of this field is ignored in an update operation.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "type": "string",
          "format": "int64"
        },
        "userId": {
          "type": "string",
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation.",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "The status of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ],
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ]
        }
      },
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified."
    },
    "PublisherProfile": {
      "properties": {
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "description": "URL to a publisher rate card.",
          "type": "string"
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array"
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "type": "array"
        },
        "publisherProfileId": {
          "description": "Unique ID for publisher profile.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the publisher profile."
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "mobileApps": {
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array",
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        }
      },
      "id": "PublisherProfile",
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise.",
      "type": "object"
    },
    "BidResponseWithoutBidsStatusRow": {
      "id": "BidResponseWithoutBidsStatusRow",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "status": {
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ]
        },
        "impressionCount": {
          "description": "The number of impressions for which there was a bid response with the specified status.",
          "$ref": "MetricValue"
        }
      },
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status.",
      "type": "object"
    },
    "ListBidMetricsResponse": {
      "type": "object",
      "id": "ListBidMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "properties": {
        "bidMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "BidMetricsRow"
          },
          "description": "List of rows, each containing a set of bid metrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results."
        }
      }
    },
    "Money": {
      "id": "Money",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object"
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        },
        "publisherProfiles": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles."
        }
      },
      "type": "object",
      "description": "Response message for profiles visible to the buyer."
    },
    "NonGuaranteedFixedPriceTerms": {
      "properties": {
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          }
        }
      },
      "description": "Terms for Preferred Deals.",
      "id": "NonGuaranteedFixedPriceTerms",
      "type": "object"
    },
    "Note": {
      "id": "Note",
      "properties": {
        "noteId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID for the note."
        },
        "proposalRevision": {
          "description": "Output only. The revision number of the proposal when the note is created.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "note": {
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp for when this note was created."
        },
        "creatorRole": {
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "description": "Output only. The role of the person (buyer/seller) creating the note.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        }
      },
      "description": "A proposal may be associated to several notes.",
      "type": "object"
    },
    "ListClientUserInvitationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        },
        "invitations": {
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "type": "array",
          "description": "The returned list of client users."
        }
      },
      "id": "ListClientUserInvitationsResponse",
      "type": "object"
    },
    "HtmlContent": {
      "type": "object",
      "description": "HTML content for a creative.",
      "properties": {
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "The height of the HTML snippet in pixels."
        },
        "width": {
          "description": "The width of the HTML snippet in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "snippet": {
          "type": "string",
          "description": "The HTML snippet that displays the ad when inserted in the web page."
        }
      },
      "id": "HtmlContent"
    },
    "DealTerms": {
      "id": "DealTerms",
      "type": "object",
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher.",
      "properties": {
        "sellerTimeZone": {
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.",
          "type": "string"
        },
        "brandingType": {
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ],
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ],
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "type": "string"
        },
        "estimatedImpressionsPerDay": {
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller.",
          "type": "string",
          "format": "int64"
        },
        "guaranteedFixedPriceTerms": {
          "description": "The terms for guaranteed fixed price deals.",
          "$ref": "GuaranteedFixedPriceTerms"
        },
        "description": {
          "type": "string",
          "description": "Publisher provided description for the terms."
        },
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller.",
          "$ref": "Price"
        },
        "nonGuaranteedAuctionTerms": {
          "description": "The terms for non-guaranteed auction deals.",
          "$ref": "NonGuaranteedAuctionTerms"
        },
        "nonGuaranteedFixedPriceTerms": {
          "$ref": "NonGuaranteedFixedPriceTerms",
          "description": "The terms for non-guaranteed fixed price deals."
        }
      }
    },
    "CalloutStatusRow": {
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "id": "CalloutStatusRow",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        },
        "calloutStatusId": {
          "type": "integer",
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32"
        }
      }
    },
    "ServingContext": {
      "description": "The serving context for this restriction.",
      "type": "object",
      "id": "ServingContext",
      "properties": {
        "all": {
          "description": "Matches all contexts.",
          "type": "string",
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ]
        },
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "appType": {
          "$ref": "AppContext",
          "description": "Matches impressions for a particular app type."
        },
        "securityType": {
          "deprecated": true,
          "$ref": "SecurityContext",
          "description": "Matches impressions for a particular security type."
        },
        "auctionType": {
          "$ref": "AuctionContext",
          "description": "Matches impressions for a particular auction type."
        }
      }
    },
    "RelativeDateRange": {
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30",
      "type": "object",
      "properties": {
        "offsetDays": {
          "format": "int32",
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "type": "integer"
        },
        "durationDays": {
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RelativeDateRange"
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "properties": {
        "users": {
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CompleteSetupRequest": {
      "properties": {
        "externalDealIds": {
          "description": "The external deal ids of the deals to mark as setup completed. If empty, all the deals in the proposal will be marked as setup completed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "id": "CompleteSetupRequest"
    },
    "ListDealAssociationsResponse": {
      "id": "ListDealAssociationsResponse",
      "description": "A response for listing creative and deal associations",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        },
        "associations": {
          "description": "The list of associations.",
          "items": {
            "$ref": "CreativeDealAssociation"
          },
          "type": "array"
        }
      }
    },
    "CreativeStatusRow": {
      "type": "object",
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status.",
      "id": "CreativeStatusRow",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified status."
        },
        "creativeStatusId": {
          "format": "int32",
          "type": "integer",
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes)."
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Client": {
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file.",
          "type": "string",
          "format": "int64"
        },
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer.",
          "type": "string"
        },
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        },
        "status": {
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ]
        },
        "role": {
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "clientAccountId": {
          "type": "string",
          "format": "int64",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations."
        },
        "entityType": {
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        },
        "entityName": {
          "type": "string",
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations."
        }
      },
      "id": "Client"
    },
    "FilterSet": {
      "type": "object",
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "id": "FilterSet",
      "properties": {
        "timeSeriesGranularity": {
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional.",
          "type": "string",
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations.",
          "type": "string"
        },
        "formats": {
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "type": "array",
          "items": {
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "type": "string"
          },
          "deprecated": true
        },
        "publisherIdentifiers": {
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "absoluteDateRange": {
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone.",
          "$ref": "AbsoluteDateRange"
        },
        "format": {
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ]
        },
        "platforms": {
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "type": "string"
          },
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms).",
          "type": "array"
        },
        "environment": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "description": "The environment on which to filter; optional.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ]
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern."
        },
        "sellerNetworkIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs."
        },
        "realtimeTimeRange": {
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp.",
          "$ref": "RealtimeTimeRange"
        },
        "breakdownDimensions": {
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          },
          "type": "array"
        },
        "dealId": {
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "width": {
          "description": "Image width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "height": {
          "format": "int32",
          "description": "Image height in pixels.",
          "type": "integer"
        }
      },
      "id": "Image",
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved."
    },
    "FirstPartyMobileApplicationTargeting": {
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludedAppIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be excluded."
        }
      },
      "type": "object",
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
    },
    "DealServingMetadata": {
      "type": "object",
      "description": "Message captures metadata about the serving status of a deal.",
      "properties": {
        "dealPauseStatus": {
          "readOnly": true,
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "$ref": "DealPauseStatus"
        }
      },
      "id": "DealServingMetadata"
    },
    "LocationContext": {
      "description": "Output only. The Geo criteria the restriction applies to.",
      "type": "object",
      "properties": {
        "geoCriteriaIds": {
          "type": "array",
          "description": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "LocationContext"
    },
    "ResumeProposalDealsRequest": {
      "id": "ResumeProposalDealsRequest",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message to resume (unpause) serving for already-finalized deals."
    },
    "RealtimeTimeRange": {
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set.",
      "type": "object",
      "id": "RealtimeTimeRange",
      "properties": {
        "startTimestamp": {
          "format": "google-datetime",
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "type": "string"
        }
      }
    },
    "ResumeProposalRequest": {
      "id": "ResumeProposalRequest",
      "description": "Request message to resume (unpause) serving for an already-finalized proposal.",
      "properties": {},
      "type": "object"
    },
    "TimeInterval": {
      "id": "TimeInterval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp marking the start of the range (inclusive) for which data is included."
        },
        "endTime": {
          "type": "string",
          "description": "The timestamp marking the end of the range (exclusive) for which data is included.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "An interval of time, with an absolute start and end."
    },
    "ListNonBillableWinningBidsResponse": {
      "id": "ListNonBillableWinningBidsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results.",
          "type": "string"
        },
        "nonBillableWinningBidStatusRows": {
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "type": "array",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          }
        }
      },
      "type": "object",
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid."
    },
    "ClientUserInvitation": {
      "properties": {
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        },
        "invitationId": {
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified."
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "The list of matching products at their head revision number.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "List pagination support.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for listing products visible to the buyer."
    },
    "ContactInformation": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "properties": {
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        }
      },
      "type": "object",
      "id": "ContactInformation"
    },
    "ListImpressionMetricsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results."
        },
        "impressionMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "ImpressionMetricsRow"
          },
          "description": "List of rows, each containing a set of impression metrics."
        }
      },
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "id": "ListImpressionMetricsResponse"
    },
    "CreativeSize": {
      "description": "Specifies the size of the creative.",
      "type": "object",
      "properties": {
        "size": {
          "$ref": "Size",
          "description": "For regular or video creative size type, specifies the size of the creative"
        },
        "allowedFormats": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ],
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ],
            "type": "string"
          },
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video).",
          "type": "array"
        },
        "creativeSizeType": {
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ],
          "type": "string",
          "description": "The creative size type.",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ]
        },
        "companionSizes": {
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "nativeTemplate": {
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ]
        },
        "skippableAdType": {
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ]
        }
      },
      "id": "CreativeSize"
    },
    "Buyer": {
      "type": "object",
      "id": "Buyer",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Authorized Buyers account ID of the buyer."
        }
      }
    },
    "WatchCreativeRequest": {
      "type": "object",
      "description": "A request for watching changes to creative Status.",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      },
      "id": "WatchCreativeRequest"
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "type": "array",
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients."
        }
      },
      "type": "object"
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "type": "object",
      "description": "Represents targeting about various types of technology.",
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        }
      }
    },
    "AbsoluteDateRange": {
      "id": "AbsoluteDateRange",
      "type": "object",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date."
        },
        "endDate": {
          "$ref": "Date",
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date."
        }
      },
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail."
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "properties": {
        "height": {
          "type": "string",
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "sizeType": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "description": "The size type of the ad slot."
        },
        "width": {
          "type": "string",
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        }
      },
      "id": "AdSize",
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "description": "Represents targeting information for operating systems.",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        }
      },
      "type": "object"
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "description": "A creative and its classification data.",
      "properties": {
        "detectedSensitiveCategories": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids."
        },
        "detectedProductCategories": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs."
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "creativeId": {
          "type": "string",
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
        },
        "agencyId": {
          "type": "string",
          "description": "The agency ID for this creative.",
          "format": "int64"
        },
        "apiUpdateTime": {
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string",
          "format": "google-datetime"
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes."
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "servingRestrictions": {
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "items": {
            "$ref": "ServingRestriction"
          },
          "type": "array"
        },
        "openAuctionStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "type": "string",
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method."
        },
        "detectedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative.",
          "type": "array"
        },
        "dealsStatus": {
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "corrections": {
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "Correction"
          }
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "restrictedCategories": {
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          }
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the company being advertised in the creative."
        },
        "adTechnologyProviders": {
          "$ref": "AdTechnologyProviders",
          "description": "Output only. The detected ad technology providers."
        },
[...]
