{
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "discoveryVersion": "v1",
  "canonicalName": "AdExchangeBuyerII",
  "batchPath": "batch",
  "version": "v2beta1",
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "version_module": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "Disapproval": {
      "id": "Disapproval",
      "type": "object",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not declared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
            "Misuse of personal information.",
            "Omission of relevant information.",
            "Unavailable promotions.",
            "Misleading or unrealistic promotions.",
            "Offensive or inappropriate content.",
            "Capitalizing on sensitive events.",
            "Shocking content.",
            "Products & Services that enable dishonest behavior.",
            "The ad does not meet technical requirements.",
            "Restricted political content.",
            "Unsupported content.",
            "Invalid bidding method.",
            "Video length exceeds limits.",
            "Unacceptable content: Japanese healthcare.",
            "Online pharmacy ID required.",
            "Unacceptable content: Abortion.",
            "Unacceptable content: Birth control.",
            "Restricted in China.",
            "Unacceptable content: Korean healthcare.",
            "Non-family safe or adult content.",
            "Clinical trial recruitment.",
            "Maximum number of HTTP calls exceeded.",
            "Maximum number of cookies exceeded.",
            "Financial service ad does not adhere to specifications.",
            "Flash content was found in an unsupported context.",
            "Misuse by an Open Measurement SDK script.",
            "Use of an Open Measurement SDK vendor not on approved vendor list.",
            "Unacceptable landing page.",
            "Unsupported language.",
            "Non-SSL compliant.",
            "Temporary pausing of creative.",
            "Promotes services related to bail bonds.",
            "Promotes speculative and/or experimental medical treatments."
          ],
          "description": "The categorized reason for disapproval.",
          "type": "string",
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ]
        },
        "details": {
          "items": {
            "type": "string"
          },
          "description": "Additional details about the reason for disapproval.",
          "type": "array"
        }
      },
      "description": "Output only. The reason and details for a disapproval."
    },
    "AppContext": {
      "type": "object",
      "id": "AppContext",
      "properties": {
        "appTypes": {
          "items": {
            "enumDescriptions": [
              "Native app context.",
              "Mobile web app context."
            ],
            "type": "string",
            "enum": [
              "NATIVE",
              "WEB"
            ]
          },
          "description": "The app types this restriction applies to.",
          "type": "array"
        }
      },
      "description": "Output only. The app type the restriction applies to for mobile device."
    },
    "NonGuaranteedAuctionTerms": {
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request.",
      "id": "NonGuaranteedAuctionTerms",
      "properties": {
        "reservePricesPerBuyer": {
          "type": "array",
          "description": "Reserve price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          }
        },
        "autoOptimizePrivateAuction": {
          "type": "boolean",
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      },
      "type": "object"
    },
    "CalloutStatusRow": {
      "id": "CalloutStatusRow",
      "type": "object",
      "properties": {
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "calloutStatusId": {
          "format": "int32",
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "type": "integer"
        }
      },
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status."
    },
    "ListBidMetricsResponse": {
      "id": "ListBidMetricsResponse",
      "properties": {
        "bidMetricsRows": {
          "type": "array",
          "description": "List of rows, each containing a set of bid metrics.",
          "items": {
            "$ref": "BidMetricsRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results."
        }
      },
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "type": "object"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "id": "ListBidResponsesWithoutBidsResponse",
      "properties": {
        "bidResponseWithoutBidsStatusRows": {
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          },
          "description": "List of rows, with counts of bid responses without bids aggregated by status.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ClientUserInvitation": {
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "clientAccountId": {
          "format": "int64",
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer."
        },
        "invitationId": {
          "type": "string",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "format": "int64"
        }
      }
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "properties": {
        "users": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "FilterSet": {
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "properties": {
        "formats": {
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "deprecated": true,
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "type": "string",
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ]
          },
          "type": "array"
        },
        "publisherIdentifiers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together."
        },
        "environment": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "description": "The environment on which to filter; optional."
        },
        "timeSeriesGranularity": {
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional.",
          "type": "string",
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ]
        },
        "absoluteDateRange": {
          "$ref": "AbsoluteDateRange",
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone."
        },
        "platforms": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ]
          },
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms).",
          "type": "array"
        },
        "format": {
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ]
        },
        "sellerNetworkIds": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs.",
          "type": "array"
        },
        "creativeId": {
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations."
        },
        "dealId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern."
        },
        "breakdownDimensions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "type": "string",
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          },
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions."
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "realtimeTimeRange": {
          "$ref": "RealtimeTimeRange",
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp."
        }
      },
      "type": "object",
      "id": "FilterSet"
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included.",
          "type": "array"
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be excluded."
        }
      }
    },
    "CompleteSetupRequest": {
      "type": "object",
      "id": "CompleteSetupRequest",
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "properties": {
        "externalDealIds": {
          "description": "The external deal ids of the deals to mark as setup completed. If empty, all the deals in the proposal will be marked as setup completed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListCreativesResponse": {
      "id": "ListCreativesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results.",
          "type": "string"
        },
        "creatives": {
          "description": "The list of creatives.",
          "items": {
            "$ref": "Creative"
          },
          "type": "array"
        }
      },
      "description": "A response for listing creatives."
    },
    "DealPauseStatus": {
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true.",
      "id": "DealPauseStatus",
      "type": "object",
      "properties": {
        "sellerPauseReason": {
          "description": "The seller's reason for pausing, if the seller paused the deal.",
          "type": "string"
        },
        "buyerPauseReason": {
          "type": "string",
          "description": "The buyer's reason for pausing, if the buyer paused the deal."
        },
        "firstPausedBy": {
          "description": "The role of the person who first paused this deal.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "hasBuyerPaused": {
          "description": "True, if the buyer has paused the deal unilaterally.",
          "type": "boolean"
        },
        "hasSellerPaused": {
          "description": "True, if the seller has paused the deal unilaterally.",
          "type": "boolean"
        }
      }
    },
    "WatchCreativeRequest": {
      "type": "object",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      },
      "description": "A request for watching changes to creative Status.",
      "id": "WatchCreativeRequest"
    },
    "FilteredBidDetailRow": {
      "properties": {
        "detail": {
          "description": "The ID of the detail, can be numeric or text. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "type": "string"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified detail."
        },
        "detailId": {
          "type": "integer",
          "format": "int32",
          "description": "Note: this field will be deprecated, use \"detail\" field instead. When \"detail\" field represents an integer value, this field is populated as the same integer value \"detail\" field represents, otherwise this field will be 0. The ID of the detail. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "deprecated": true
        }
      },
      "id": "FilteredBidDetailRow",
      "type": "object",
      "description": "The number of filtered bids with the specified dimension values, among those filtered due to the requested filtering reason (for example, creative status), that have the specified detail."
    },
    "Note": {
      "id": "Note",
      "description": "A proposal may be associated to several notes.",
      "properties": {
        "noteId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID for the note."
        },
        "proposalRevision": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The revision number of the proposal when the note is created."
        },
        "creatorRole": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the person (buyer/seller) creating the note.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when this note was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "note": {
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoContent": {
      "properties": {
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a video ad."
        }
      },
      "id": "VideoContent",
      "description": "Video content for a creative.",
      "type": "object"
    },
    "ListDealAssociationsResponse": {
      "type": "object",
      "description": "A response for listing creative and deal associations",
      "id": "ListDealAssociationsResponse",
      "properties": {
        "associations": {
          "type": "array",
          "description": "The list of associations.",
          "items": {
            "$ref": "CreativeDealAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "BidMetricsRow": {
      "properties": {
        "bids": {
          "$ref": "MetricValue",
          "description": "The number of bids that Ad Exchange received from the buyer."
        },
        "reachedQueries": {
          "description": "The number of bids that won the auction and also won the mediation waterfall (if any).",
          "$ref": "MetricValue"
        },
        "billedImpressions": {
          "description": "The number of bids for which the buyer was billed. Also called valid impressions as invalid impressions are not billed.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "viewableImpressions": {
          "$ref": "MetricValue",
          "description": "The number of bids for which the corresponding impression was viewable (as defined by Active View)."
        },
        "bidsInAuction": {
          "description": "The number of bids that were permitted to compete in the auction.",
          "$ref": "MetricValue"
        },
        "impressionsWon": {
          "$ref": "MetricValue",
          "description": "The number of bids that won the auction."
        },
        "measurableImpressions": {
          "$ref": "MetricValue",
          "description": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View)."
        }
      },
      "description": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;",
      "id": "BidMetricsRow",
      "type": "object"
    },
    "Product": {
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "id": "Product",
      "properties": {
        "creatorContacts": {
          "type": "array",
          "description": "Optional contact information for the creator of this product.",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "terms": {
          "$ref": "DealTerms",
          "description": "The negotiable terms of the deal."
        },
        "webPropertyCode": {
          "type": "string",
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal."
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        },
        "createTime": {
          "description": "Creation time.",
          "type": "string",
          "format": "google-datetime"
        },
        "seller": {
          "$ref": "Seller",
          "description": "Information about the seller that created this product."
        },
        "availableEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving."
        },
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "syndicationProduct": {
          "type": "string",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "description": "The syndication product associated with the deal."
        },
        "targetingCriterion": {
          "type": "array",
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "items": {
            "$ref": "TargetingCriteria"
          }
        },
        "availableStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving."
        },
        "updateTime": {
          "description": "Time of last update.",
          "format": "google-datetime",
          "type": "string"
        },
        "productRevision": {
          "description": "The revision number of the product (auto-assigned by Marketplace).",
          "format": "int64",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The unique ID for the product."
        }
      },
      "type": "object"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "properties": {},
      "type": "object",
      "description": "Request to cancel an ongoing negotiation."
    },
    "ListNonBillableWinningBidsResponse": {
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid.",
      "id": "ListNonBillableWinningBidsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results."
        },
        "nonBillableWinningBidStatusRows": {
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "type": "array",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          }
        }
      },
      "type": "object"
    },
    "FilteredBidCreativeRow": {
      "type": "object",
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        }
      },
      "id": "FilteredBidCreativeRow",
      "description": "The number of filtered bids with the specified dimension values that have the specified creative."
    },
    "TechnologyTargeting": {
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        }
      },
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology.",
      "type": "object"
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "description": "Represents targeting information about video.",
      "properties": {
        "excludedPositionTypes": {
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          }
        },
        "targetedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        }
      }
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "type": "object",
      "description": "Request message to pause serving for finalized deals.",
      "properties": {
        "reason": {
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        },
        "externalDealIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused."
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        }
      }
    },
    "PauseProposalRequest": {
      "id": "PauseProposalRequest",
      "type": "object",
      "description": "Request message to pause serving for an already-finalized proposal.",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      }
    },
    "ContactInformation": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "type": "object",
      "id": "ContactInformation",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address for the contact."
        },
        "name": {
          "type": "string",
          "description": "The name of the contact."
        }
      }
    },
    "AdTechnologyProviders": {
      "properties": {
        "detectedProviderIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "type": "array"
        },
        "hasUnidentifiedProvider": {
          "type": "boolean",
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction."
        }
      },
      "type": "object",
      "id": "AdTechnologyProviders",
      "description": "Detected ad technology provider information."
    },
    "CreativeDealAssociation": {
      "description": "The association between a creative and a deal.",
      "type": "object",
      "id": "CreativeDealAssociation",
      "properties": {
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative associated with the deal."
        },
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "dealsId": {
          "type": "string",
          "description": "The externalDealId for the deal associated with the creative."
        }
      }
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal.",
      "type": "object",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "StopWatchingCreativeRequest": {
      "type": "object",
      "id": "StopWatchingCreativeRequest",
      "properties": {},
      "description": "A request for stopping notifications for changes to creative Status."
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "properties": {
        "detailType": {
          "type": "string",
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ],
          "description": "The type of detail that the detail IDs represent.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ]
        },
        "filteredBidDetailRows": {
          "items": {
            "$ref": "FilteredBidDetailRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCreativeStatusBreakdownByDetailResponse"
    },
    "DeliveryControl": {
      "description": "Message contains details about how the deals will be paced.",
      "id": "DeliveryControl",
      "properties": {
        "deliveryRateType": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string"
        },
        "frequencyCaps": {
          "type": "array",
          "description": "Output only. Specifies any frequency caps.",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true
        },
        "creativeBlockingLevel": {
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "readOnly": true,
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "Buyer": {
      "id": "Buyer",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      }
    },
    "SecurityContext": {
      "id": "SecurityContext",
      "deprecated": true,
      "type": "object",
      "description": "Output only. A security context.",
      "properties": {
        "securities": {
          "description": "The security types in this context.",
          "items": {
            "type": "string",
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ]
          },
          "type": "array"
        }
      }
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "properties": {
        "clients": {
          "description": "The returned list of clients.",
          "items": {
            "$ref": "Client"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreativeSpecification": {
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "properties": {
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        },
        "creativeCompanionSizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CreativeSpecification"
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "type": "object",
      "properties": {
        "width": {
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "sizeType": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The size type of the ad slot.",
          "type": "string",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      }
    },
    "Size": {
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "id": "Size",
      "properties": {
        "width": {
          "format": "int32",
          "description": "The width of the creative",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "The height of the creative.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ListProposalsResponse": {
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals.",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "properties": {
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "type": "object",
      "id": "InventorySizeTargeting"
    },
    "DealServingMetadata": {
      "description": "Message captures metadata about the serving status of a deal.",
      "properties": {
        "dealPauseStatus": {
          "$ref": "DealPauseStatus",
          "readOnly": true,
          "description": "Output only. Tracks which parties (if any) have paused a deal."
        }
      },
      "type": "object",
      "id": "DealServingMetadata"
    },
    "MarketplaceTargeting": {
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "id": "MarketplaceTargeting",
      "properties": {
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology targeting information, for example, operating system, device category."
        },
        "placementTargeting": {
          "description": "Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "videoTargeting": {
          "description": "Video targeting information.",
          "$ref": "VideoTargeting"
        }
      },
      "type": "object"
    },
    "NonBillableWinningBidStatusRow": {
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The status specifying why the winning bids were not billed.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall.",
            "The impression was not billed because it exceeded a guaranteed deal delivery goal."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION",
            "OVERDELIVERED_IMPRESSION"
          ]
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "id": "NonBillableWinningBidStatusRow"
    },
    "PublisherProfile": {
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise.",
      "properties": {
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "buyerPitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the publisher profile."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "type": "array"
        },
        "publisherProfileId": {
          "description": "Unique ID for publisher profile.",
          "type": "string"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "description": "URL to a publisher rate card.",
          "type": "string"
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        }
      },
      "type": "object",
      "id": "PublisherProfile"
    },
    "AuctionContext": {
      "id": "AuctionContext",
      "properties": {
        "auctionTypes": {
          "description": "The auction types this restriction applies to.",
          "items": {
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ],
            "type": "string",
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ]
          },
          "type": "array"
        }
      },
      "description": "Output only. The auction type the restriction applies to.",
      "type": "object"
    },
    "NativeContent": {
      "properties": {
        "starRating": {
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "type": "number",
          "format": "double"
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        },
        "image": {
          "$ref": "Image",
          "description": "A large image."
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a native video ad."
        },
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "The URL to use for click tracking."
        },
        "storeUrl": {
          "deprecated": true,
          "description": "The URL to the app store to purchase/download the promoted app.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        }
      },
      "description": "Native content for a creative.",
      "type": "object",
      "id": "NativeContent"
    },
    "ListFilterSetsResponse": {
      "description": "Response message for listing filter sets.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filterSets": {
          "description": "The filter sets belonging to the buyer.",
          "type": "array",
          "items": {
            "$ref": "FilterSet"
          }
        }
      },
      "type": "object",
      "id": "ListFilterSetsResponse"
    },
    "ServingContext": {
      "type": "object",
      "id": "ServingContext",
      "description": "The serving context for this restriction.",
      "properties": {
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        },
        "platform": {
          "$ref": "PlatformContext",
          "description": "Matches impressions coming from a particular platform."
        },
        "all": {
          "description": "Matches all contexts.",
          "enumDescriptions": [
            "A simple context."
          ],
          "type": "string",
          "enum": [
            "SIMPLE_CONTEXT"
          ]
        },
        "appType": {
          "$ref": "AppContext",
          "description": "Matches impressions for a particular app type."
        },
        "securityType": {
          "$ref": "SecurityContext",
          "deprecated": true,
          "description": "Matches impressions for a particular security type."
        },
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        }
      }
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "properties": {
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer)."
        },
        "advertiserIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price."
        }
      },
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.",
      "type": "object"
    },
    "Creative": {
      "description": "A creative and its classification data.",
      "properties": {
        "agencyId": {
          "type": "string",
          "format": "int64",
          "description": "The agency ID for this creative."
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the company being advertised in the creative."
        },
        "accountId": {
          "type": "string",
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method."
        },
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ]
          }
        },
        "impressionTrackingUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of URLs to be called to record an impression."
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
        },
        "detectedAdvertiserIds": {
          "description": "Output only. Detected advertiser IDs, if any.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "video": {
          "$ref": "VideoContent",
          "description": "A video creative."
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "detectedProductCategories": {
          "type": "array",
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "native": {
          "$ref": "NativeContent",
          "description": "A native creative."
        },
        "detectedDomains": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative.",
          "type": "array"
        },
        "openAuctionStatus": {
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "version": {
          "type": "integer",
          "description": "Output only. The version of this creative.",
          "format": "int32"
        },
        "restrictedCategories": {
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          }
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "corrections": {
          "type": "array",
          "deprecated": true,
          "items": {
            "$ref": "Correction"
          },
          "description": "Output only. Shows any corrections that were applied to this creative."
        },
        "vendorIds": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "type": "array"
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "detectedLanguages": {
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "servingRestrictions": {
          "items": {
            "$ref": "ServingRestriction"
          },
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "type": "array"
        },
        "declaredClickThroughUrls": {
          "items": {
            "type": "string"
          },
          "description": "The set of declared destination URLs for the creative.",
          "type": "array"
        },
        "apiUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the creative through the API."
        },
        "detectedSensitiveCategories": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array",
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids."
        },
        "dealsStatus": {
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method."
        }
      },
      "type": "object",
      "id": "Creative"
    },
    "BidResponseWithoutBidsStatusRow": {
      "type": "object",
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status.",
      "id": "BidResponseWithoutBidsStatusRow",
      "properties": {
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid response with the specified status."
        },
        "status": {
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ]
        }
      }
    },
    "AbsoluteDateRange": {
      "id": "AbsoluteDateRange",
      "properties": {
        "startDate": {
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        }
      },
      "type": "object",
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail."
    },
    "UrlTargeting": {
      "type": "object",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UrlTargeting",
      "properties": {
        "targetedUrls": {
          "description": "A list of URLs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedUrls": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "id": "ListClientUserInvitationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        },
        "invitations": {
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "description": "The returned list of client users.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TargetingValue": {
      "id": "TargetingValue",
      "properties": {
        "longValue": {
          "format": "int64",
          "description": "The long value to include/exclude.",
          "type": "string"
        },
        "creativeSizeValue": {
          "$ref": "CreativeSize",
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE"
        },
        "dayPartTargetingValue": {
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager.",
          "$ref": "DayPartTargeting"
        },
        "stringValue": {
          "description": "The string value to include/exclude.",
          "type": "string"
        }
      },
      "description": "A polymorphic targeting value used as part of Shared Targeting.",
      "type": "object"
    },
    "ListProductsResponse": {
      "type": "object",
      "description": "Response message for listing products visible to the buyer.",
      "id": "ListProductsResponse",
      "properties": {
        "products": {
          "description": "The list of matching products at their head revision number.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "List pagination support.",
          "type": "string"
        }
      }
    },
    "RowDimensions": {
      "type": "object",
      "id": "RowDimensions",
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row.",
      "properties": {
        "publisherIdentifier": {
          "type": "string",
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested."
        },
        "timeInterval": {
          "description": "The time interval that this row represents.",
          "$ref": "TimeInterval"
        }
      }
    },
    "GuaranteedFixedPriceTerms": {
      "description": "Terms for Programmatic Guaranteed Deals.",
      "id": "GuaranteedFixedPriceTerms",
      "type": "object",
      "properties": {
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "percentShareOfVoice": {
          "type": "string",
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached."
        },
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array"
        },
        "reservationType": {
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        },
        "guaranteedLooks": {
          "format": "int64",
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string"
        },
        "guaranteedImpressions": {
          "type": "string",
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
        },
        "impressionCap": {
          "format": "int64",
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "type": "string"
        }
      }
    },
    "Seller": {
      "id": "Seller",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        },
        "subAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Ad manager network code for the seller."
        }
      }
    },
    "LocationContext": {
      "properties": {
        "geoCriteriaIds": {
          "description": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "id": "LocationContext",
      "description": "Output only. The Geo criteria the restriction applies to.",
      "type": "object"
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "properties": {
        "filteredBidCreativeRows": {
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing all creatives associated with a given filtered bid reason.",
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "type": "object"
    },
    "Proposal": {
      "type": "object",
      "properties": {
        "proposalState": {
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "description": "Output only. The current state of the proposal.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ],
          "readOnly": true
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "The name for the proposal.",
          "type": "string"
        },
        "buyer": {
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Buyer"
        },
        "proposalId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the proposal."
        },
        "proposalRevision": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "deals": {
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "notes": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The notes associated with this proposal.",
          "items": {
            "$ref": "Note"
          }
        },
        "isSetupComplete": {
          "deprecated": true,
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal."
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Private data for buyer. (hidden from seller)."
        },
        "privateAuctionId": {
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "type": "string",
          "readOnly": true
        },
        "originatorRole": {
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "isRenegotiating": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the proposal is being renegotiated."
        },
        "seller": {
          "$ref": "Seller",
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "billedBuyer": {
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "$ref": "Buyer",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the proposal was last revised."
        },
[...]
