{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Ad Exchange Buyer API II",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "version_module": true,
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "schemas": {
    "TargetingValue": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "The string value to include/exclude."
        },
        "longValue": {
          "format": "int64",
          "type": "string",
          "description": "The long value to include/exclude."
        },
        "dayPartTargetingValue": {
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager.",
          "$ref": "DayPartTargeting"
        },
        "creativeSizeValue": {
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE",
          "$ref": "CreativeSize"
        }
      },
      "type": "object",
      "description": "A polymorphic targeting value used as part of Shared Targeting.",
      "id": "TargetingValue"
    },
    "ListNonBillableWinningBidsResponse": {
      "id": "ListNonBillableWinningBidsResponse",
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid.",
      "type": "object",
      "properties": {
        "nonBillableWinningBidStatusRows": {
          "type": "array",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          },
          "description": "List of rows, with counts of bids not billed aggregated by reason."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "properties": {
        "filteredBidDetailRows": {
          "items": {
            "$ref": "FilteredBidDetailRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "type": "array"
        },
        "detailType": {
          "type": "string",
          "description": "The type of detail that the detail IDs represent.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ]
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "InventorySizeTargeting": {
      "type": "object",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "id": "InventorySizeTargeting",
      "properties": {
        "excludedInventorySizes": {
          "description": "A list of inventory sizes to be excluded.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        }
      }
    },
    "HtmlContent": {
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the HTML snippet in pixels."
        },
        "height": {
          "description": "The height of the HTML snippet in pixels.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "HTML content for a creative.",
      "id": "HtmlContent"
    },
    "ListClientUsersResponse": {
      "properties": {
        "users": {
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUser"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        }
      },
      "type": "object",
      "id": "ListClientUsersResponse"
    },
    "Buyer": {
      "id": "Buyer",
      "type": "object",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "properties": {
        "appStore": {
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "Playstation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRETV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the app."
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store.",
          "type": "string"
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "id": "PublisherProfileMobileApplication",
      "type": "object"
    },
    "ListBidMetricsResponse": {
      "type": "object",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "id": "ListBidMetricsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results.",
          "type": "string"
        },
        "bidMetricsRows": {
          "type": "array",
          "description": "List of rows, each containing a set of bid metrics.",
          "items": {
            "$ref": "BidMetricsRow"
          }
        }
      }
    },
    "ListFilterSetsResponse": {
      "properties": {
        "filterSets": {
          "description": "The filter sets belonging to the buyer.",
          "type": "array",
          "items": {
            "$ref": "FilterSet"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListFilterSetsResponse",
      "description": "Response message for listing filter sets."
    },
    "Deal": {
      "properties": {
        "dealId": {
          "type": "string",
          "description": "Output only. A unique deal ID for the deal (server-assigned).",
          "readOnly": true
        },
        "programmaticCreativeSource": {
          "type": "string",
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by buyer.",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "readOnly": true,
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ]
        },
        "createProductId": {
          "description": "The product ID from which this deal was created. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this deal.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time of the deal creation.",
          "format": "google-datetime"
        },
        "webPropertyCode": {
          "description": "The web property code for the seller copied over from the product.",
          "type": "string"
        },
        "creativeRestrictions": {
          "readOnly": true,
          "description": "Output only. Restricitions about the creatives associated with the deal (for example, size) This is available for Programmatic Guaranteed/Preferred Deals in Ad Manager.",
          "$ref": "CreativeRestrictions"
        },
        "dealServingMetadata": {
          "$ref": "DealServingMetadata",
          "description": "Output only. Metadata about the serving status of this deal.",
          "readOnly": true
        },
        "creativePreApprovalPolicy": {
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        },
        "creativeSafeFrameCompatibility": {
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible."
        },
        "sellerContacts": {
          "description": "Output only. Seller contact information for the deal.",
          "readOnly": true,
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "availableEndTime": {
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not required for Private Auction deals or Preferred Deals.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The name of the deal.",
          "type": "string"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "description": {
          "type": "string",
          "description": "Description for the deal terms."
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "description": "The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher."
        },
        "availableStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true
        },
        "createProductRevision": {
          "type": "string",
          "description": "Optional. Revision number of the product that the deal was created from. If present on create, and the server `product_revision` has advanced since the passed-in `create_product_revision`, an `ABORTED` error will be returned. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "format": "int64"
        },
        "dealTerms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "targeting": {
          "readOnly": true,
          "$ref": "MarketplaceTargeting",
          "description": "Output only. Specifies the subset of inventory targeted by the deal."
        },
        "syndicationProduct": {
          "type": "string",
          "description": "The syndication product associated with the deal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "proposalId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the proposal that this deal is part of."
        },
        "externalDealId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The external deal ID assigned to this deal once the deal is finalized. This is the deal ID that shows up in serving/reporting etc."
        },
        "targetingCriterion": {
          "description": "The shared targeting visible to buyers and sellers. Each shared targeting entity is AND'd together.",
          "type": "array",
          "items": {
            "$ref": "TargetingCriteria"
          }
        }
      },
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads on. A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving.",
      "type": "object"
    },
    "RowDimensions": {
      "type": "object",
      "properties": {
        "timeInterval": {
          "description": "The time interval that this row represents.",
          "$ref": "TimeInterval"
        },
        "publisherIdentifier": {
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested.",
          "type": "string"
        }
      },
      "id": "RowDimensions",
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row."
    },
    "Image": {
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "type": "object",
      "id": "Image",
      "properties": {
        "width": {
          "description": "Image width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image."
        },
        "height": {
          "description": "Image height in pixels.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "FilteredBidCreativeRow": {
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "properties": {
        "bidCount": {
          "$ref": "MetricValue",
          "description": "The number of bids with the specified creative."
        },
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        }
      },
      "type": "object",
      "id": "FilteredBidCreativeRow"
    },
    "Size": {
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the creative"
        },
        "height": {
          "description": "The height of the creative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "id": "Size"
    },
    "AbsoluteDateRange": {
      "properties": {
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        },
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date."
        }
      },
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail.",
      "id": "AbsoluteDateRange",
      "type": "object"
    },
    "ContactInformation": {
      "id": "ContactInformation",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "ImpressionMetricsRow": {
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "inventoryMatches": {
          "description": "The number of impressions that match the buyer's inventory pretargeting.",
          "$ref": "MetricValue"
        },
        "availableImpressions": {
          "description": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable.",
          "$ref": "MetricValue"
        },
        "responsesWithBids": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid."
        },
        "successfulResponses": {
          "description": "The number of impressions for which the buyer successfully sent a response to Ad Exchange.",
          "$ref": "MetricValue"
        },
        "bidRequests": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid request."
        }
      },
      "description": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel.",
      "type": "object",
      "id": "ImpressionMetricsRow"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "type": "object",
      "id": "ListBidResponsesWithoutBidsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results.",
          "type": "string"
        },
        "bidResponseWithoutBidsStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of bid responses without bids aggregated by status.",
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          }
        }
      }
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "type": "object",
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal."
    },
    "PlacementTargeting": {
      "properties": {
        "urlTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UrlTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "id": "PlacementTargeting"
    },
    "SecurityContext": {
      "deprecated": true,
      "type": "object",
      "description": "Output only. A security context.",
      "id": "SecurityContext",
      "properties": {
        "securities": {
          "description": "The security types in this context.",
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ]
          },
          "type": "array"
        }
      }
    },
    "Note": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when this note was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "noteId": {
          "description": "Output only. The unique ID for the note.",
          "readOnly": true,
          "type": "string"
        },
        "proposalRevision": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The revision number of the proposal when the note is created."
        },
        "note": {
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "creatorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role of the person (buyer/seller) creating the note."
        }
      },
      "type": "object",
      "description": "A proposal may be associated to several notes.",
      "id": "Note"
    },
    "CreativeRestrictions": {
      "id": "CreativeRestrictions",
      "properties": {
        "creativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "description": "The format of the environment that the creatives will be displayed in.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ]
        },
        "creativeSpecifications": {
          "type": "array",
          "items": {
            "$ref": "CreativeSpecification"
          }
        },
        "skippableAdType": {
          "type": "string",
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ]
        }
      },
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals.",
      "type": "object"
    },
    "UrlTargeting": {
      "properties": {
        "targetedUrls": {
          "type": "array",
          "description": "A list of URLs to be included.",
          "items": {
            "type": "string"
          }
        },
        "excludedUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded."
        }
      },
      "id": "UrlTargeting",
      "type": "object",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply."
    },
    "TimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay"
    },
    "TargetingCriteria": {
      "properties": {
        "inclusions": {
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "items": {
            "$ref": "TargetingValue"
          },
          "type": "array"
        },
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        },
        "exclusions": {
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "type": "array"
        }
      },
      "id": "TargetingCriteria",
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "type": "object"
    },
    "GuaranteedFixedPriceTerms": {
      "description": "Terms for Programmatic Guaranteed Deals.",
      "type": "object",
      "properties": {
        "guaranteedImpressions": {
          "format": "int64",
          "type": "string",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "type": "string",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string"
        },
        "fixedPrices": {
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Fixed price for the specified buyer."
        },
        "guaranteedLooks": {
          "format": "int64",
          "type": "string",
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GuaranteedFixedPriceTerms"
    },
    "ClientUserInvitation": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer."
        },
        "invitationId": {
          "type": "string",
          "format": "int64",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations."
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified."
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "description": "Request message to pause serving for finalized deals.",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "items": {
            "type": "string"
          },
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "type": "array"
        },
        "reason": {
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      }
    },
    "RealtimeTimeRange": {
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set.",
      "properties": {
        "startTimestamp": {
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "RealtimeTimeRange",
      "type": "object"
    },
    "ListDealAssociationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        },
        "associations": {
          "items": {
            "$ref": "CreativeDealAssociation"
          },
          "description": "The list of associations.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A response for listing creative and deal associations",
      "id": "ListDealAssociationsResponse"
    },
    "ResumeProposalRequest": {
      "properties": {},
      "id": "ResumeProposalRequest",
      "type": "object",
      "description": "Request message to resume (unpause) serving for an already-finalized proposal."
    },
    "Correction": {
      "type": "object",
      "description": "Output only. Shows any corrections that were applied to this creative.",
      "id": "Correction",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional details about what was corrected."
        },
        "type": {
          "description": "The type of correction that was applied to the creative.",
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ],
          "type": "string"
        },
        "contexts": {
          "description": "The contexts for the correction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "type": "object",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "properties": {
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be excluded.",
          "type": "array"
        },
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "properties": {
        "filteredBidCreativeRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative.",
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "description": "Response message for listing all creatives associated with a given filtered bid reason."
    },
    "DealTerms": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Publisher provided description for the terms."
        },
        "brandingType": {
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ],
          "type": "string"
        },
        "estimatedImpressionsPerDay": {
          "format": "int64",
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller.",
          "type": "string"
        },
        "guaranteedFixedPriceTerms": {
          "description": "The terms for guaranteed fixed price deals.",
          "$ref": "GuaranteedFixedPriceTerms"
        },
        "nonGuaranteedAuctionTerms": {
          "description": "The terms for non-guaranteed auction deals.",
          "$ref": "NonGuaranteedAuctionTerms"
        },
        "nonGuaranteedFixedPriceTerms": {
          "description": "The terms for non-guaranteed fixed price deals.",
          "$ref": "NonGuaranteedFixedPriceTerms"
        },
        "estimatedGrossSpend": {
          "$ref": "Price",
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller."
        },
        "sellerTimeZone": {
          "type": "string",
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones."
        }
      },
      "type": "object",
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher.",
      "id": "DealTerms"
    },
    "DealServingMetadata": {
      "properties": {
        "dealPauseStatus": {
          "$ref": "DealPauseStatus",
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DealServingMetadata",
      "description": "Message captures metadata about the serving status of a deal."
    },
    "AddDealAssociationRequest": {
      "id": "AddDealAssociationRequest",
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be added.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "type": "object",
      "description": "A request for associating a deal and a creative."
    },
    "Client": {
      "type": "object",
      "id": "Client",
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "properties": {
        "clientAccountId": {
          "format": "int64",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "partnerClientId": {
          "type": "string",
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer."
        },
        "entityId": {
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "description": "The status of the client buyer.",
          "type": "string"
        },
        "visibleToSeller": {
          "type": "boolean",
          "description": "Whether the client buyer will be visible to sellers."
        },
        "entityType": {
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ],
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations."
        },
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        },
        "role": {
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "type": "string",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`."
        }
      }
    },
    "RemoveDealAssociationRequest": {
      "type": "object",
      "properties": {
        "association": {
          "$ref": "CreativeDealAssociation",
          "description": "The association between a creative and a deal that should be removed."
        }
      },
      "description": "A request for removing the association between a deal and a creative.",
      "id": "RemoveDealAssociationRequest"
    },
    "CreativeDealAssociation": {
      "description": "The association between a creative and a deal.",
      "id": "CreativeDealAssociation",
      "properties": {
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "creativeId": {
          "description": "The ID of the creative associated with the deal.",
          "type": "string"
        },
        "dealsId": {
          "type": "string",
          "description": "The externalDealId for the deal associated with the creative."
        }
      },
      "type": "object"
    },
    "NonGuaranteedAuctionTerms": {
      "id": "NonGuaranteedAuctionTerms",
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request.",
      "type": "object",
      "properties": {
        "reservePricesPerBuyer": {
          "type": "array",
          "description": "Reserve price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          }
        },
        "autoOptimizePrivateAuction": {
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        }
      }
    },
    "WatchCreativeRequest": {
      "type": "object",
      "description": "A request for watching changes to creative Status.",
      "id": "WatchCreativeRequest",
      "properties": {
        "topic": {
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format.",
          "type": "string"
        }
      }
    },
    "ListImpressionMetricsResponse": {
      "id": "ListImpressionMetricsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results.",
          "type": "string"
        },
        "impressionMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "ImpressionMetricsRow"
          },
          "description": "List of rows, each containing a set of impression metrics."
        }
      },
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "DeliveryControl": {
      "properties": {
        "deliveryRateType": {
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "creativeBlockingLevel": {
          "readOnly": true,
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "type": "string"
        },
        "frequencyCaps": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array",
          "description": "Output only. Specifies any frequency caps.",
          "readOnly": true
        }
      },
      "description": "Message contains details about how the deals will be paced.",
      "id": "DeliveryControl",
      "type": "object"
    },
    "BidMetricsRow": {
      "id": "BidMetricsRow",
      "description": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;",
      "properties": {
        "measurableImpressions": {
          "description": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View).",
          "$ref": "MetricValue"
        },
        "impressionsWon": {
          "description": "The number of bids that won the auction.",
          "$ref": "MetricValue"
        },
        "reachedQueries": {
          "$ref": "MetricValue",
          "description": "The number of bids that won the auction and also won the mediation waterfall (if any)."
        },
        "billedImpressions": {
          "description": "The number of bids for which the buyer was billed. Also called valid impressions as invalid impressions are not billed.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bids": {
          "description": "The number of bids that Ad Exchange received from the buyer.",
          "$ref": "MetricValue"
        },
        "bidsInAuction": {
          "$ref": "MetricValue",
          "description": "The number of bids that were permitted to compete in the auction."
        },
        "viewableImpressions": {
          "description": "The number of bids for which the corresponding impression was viewable (as defined by Active View).",
          "$ref": "MetricValue"
        }
      },
      "type": "object"
    },
    "Product": {
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "id": "Product",
      "type": "object",
      "properties": {
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The unique ID for the product."
        },
        "syndicationProduct": {
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "description": "The syndication product associated with the deal.",
          "type": "string"
        },
        "hasCreatorSignedOff": {
          "type": "boolean",
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false."
        },
        "creatorContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Optional contact information for the creator of this product."
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this product as set by the seller."
        },
        "updateTime": {
          "description": "Time of last update.",
          "format": "google-datetime",
          "type": "string"
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "type": "array"
        },
        "webPropertyCode": {
          "type": "string",
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal."
        },
        "productRevision": {
          "format": "int64",
          "type": "string",
          "description": "The revision number of the product (auto-assigned by Marketplace)."
        },
        "availableEndTime": {
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Creation time."
        },
        "availableStartTime": {
          "type": "string",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "format": "google-datetime"
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "seller": {
          "$ref": "Seller",
          "description": "Information about the seller that created this product."
        }
      }
    },
    "CancelNegotiationRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation.",
      "id": "CancelNegotiationRequest"
    },
    "AppContext": {
      "properties": {
        "appTypes": {
          "items": {
            "enum": [
              "NATIVE",
              "WEB"
            ],
            "enumDescriptions": [
              "Native app context.",
              "Mobile web app context."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The app types this restriction applies to."
        }
      },
      "type": "object",
      "description": "Output only. The app type the restriction applies to for mobile device.",
      "id": "AppContext"
    },
    "ListProductsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support."
        },
        "products": {
          "description": "The list of matching products at their head revision number.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListProductsResponse",
      "description": "Response message for listing products visible to the buyer."
    },
    "ServingRestriction": {
      "properties": {
        "disapproval": {
          "$ref": "Disapproval",
          "description": "Disapproval bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method."
        },
        "disapprovalReasons": {
          "type": "array",
          "items": {
            "$ref": "Disapproval"
          },
          "description": "Any disapprovals bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method. Deprecated; use disapproval field instead.",
          "deprecated": true
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "DISAPPROVAL",
            "PENDING_REVIEW"
          ],
          "description": "The status of the creative in this context (for example, it has been explicitly disapproved or is pending review).",
          "enumDescriptions": [
            "The status is not known.",
            "The ad was disapproved in this context.",
            "The ad is pending review in this context."
          ],
          "type": "string"
        },
        "contexts": {
          "description": "The contexts for the restriction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        }
      },
      "type": "object",
      "description": "Output only. A representation of the status of an ad in a specific context. A context here relates to where something ultimately serves (for example, a user or publisher geo, a platform, an HTTPS versus HTTP request, or the type of auction).",
      "id": "ServingRestriction"
    },
    "ResumeProposalDealsRequest": {
      "type": "object",
      "description": "Request message to resume (unpause) serving for already-finalized deals.",
      "properties": {
        "externalDealIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed."
        }
      },
      "id": "ResumeProposalDealsRequest"
    },
    "AdSize": {
      "id": "AdSize",
      "type": "object",
      "description": "Represents size of a single ad slot, or a creative.",
      "properties": {
        "width": {
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "sizeType": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "description": "The size type of the ad slot.",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "type": "object",
      "id": "ListPublisherProfilesResponse",
      "description": "Response message for profiles visible to the buyer.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support"
        },
        "publisherProfiles": {
          "type": "array",
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          }
        }
      }
    },
    "MetricValue": {
      "properties": {
        "variance": {
          "type": "string",
          "format": "int64",
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value"
        },
        "value": {
          "description": "The expected value of the metric.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled).",
      "id": "MetricValue",
      "type": "object"
    },
    "TimeInterval": {
      "description": "An interval of time, with an absolute start and end.",
      "id": "TimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The timestamp marking the start of the range (inclusive) for which data is included.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp marking the end of the range (exclusive) for which data is included."
        }
      }
    },
    "CreativeStatusRow": {
      "properties": {
        "creativeStatusId": {
          "format": "int32",
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "type": "integer"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        }
      },
      "id": "CreativeStatusRow",
      "type": "object",
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status."
    },
    "VideoTargeting": {
      "type": "object",
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR)."
        }
      }
    },
    "PauseProposalRequest": {
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "id": "PauseProposalRequest",
      "description": "Request message to pause serving for an already-finalized proposal.",
      "type": "object"
    },
    "ListClientUserInvitationsResponse": {
      "type": "object",
      "id": "ListClientUserInvitationsResponse",
      "properties": {
        "invitations": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUserInvitation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        }
      }
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "numTimeUnits": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer",
          "format": "int32"
        },
        "maxImpressions": {
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitType": {
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        }
      },
      "description": "Frequency cap.",
      "id": "FrequencyCap"
    },
    "ListProposalsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals."
        }
      },
      "type": "object",
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals."
    },
    "Proposal": {
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The name for the proposal.",
          "type": "string"
        },
        "billedBuyer": {
          "$ref": "Buyer",
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "readOnly": true
        },
        "proposalRevision": {
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "privateAuctionId": {
          "readOnly": true,
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "type": "string"
        },
        "buyerContacts": {
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Contact information for the buyer.",
          "type": "array"
        },
        "seller": {
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Seller"
        },
        "originatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal."
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        },
        "isRenegotiating": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if the proposal is being renegotiated."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "format": "google-datetime",
          "readOnly": true
        },
        "sellerContacts": {
          "type": "array",
          "description": "Output only. Contact information for the seller.",
          "items": {
            "$ref": "ContactInformation"
          },
          "readOnly": true
        },
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "type": "array"
        },
        "proposalState": {
          "readOnly": true,
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "description": "Output only. The current state of the proposal.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ]
        },
        "proposalId": {
          "description": "Output only. The unique ID of the proposal.",
          "type": "string",
          "readOnly": true
        },
        "notes": {
          "description": "Output only. The notes associated with this proposal.",
          "items": {
            "$ref": "Note"
          },
          "readOnly": true,
          "type": "array"
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "readOnly": true,
          "type": "string"
        },
        "buyerPrivateData": {
          "description": "Private data for buyer. (hidden from seller).",
          "$ref": "PrivateData"
        },
        "lastUpdaterOrCommentorRole": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment."
        }
      }
    },
    "ListCreativesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results.",
          "type": "string"
        },
        "creatives": {
          "description": "The list of creatives.",
          "type": "array",
          "items": {
            "$ref": "Creative"
          }
        }
      },
      "type": "object",
      "description": "A response for listing creatives.",
      "id": "ListCreativesResponse"
    },
    "CalloutStatusRow": {
      "type": "object",
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "id": "CalloutStatusRow",
      "properties": {
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "calloutStatusId": {
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "AuctionContext": {
      "type": "object",
      "properties": {
        "auctionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ],
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ]
          },
          "description": "The auction types this restriction applies to."
        }
      },
      "id": "AuctionContext",
      "description": "Output only. The auction type the restriction applies to."
    },
    "ListClientsResponse": {
      "properties": {
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListClientsResponse"
    },
    "ServingContext": {
      "type": "object",
      "id": "ServingContext",
      "description": "The serving context for this restriction.",
      "properties": {
        "securityType": {
          "$ref": "SecurityContext",
          "deprecated": true,
          "description": "Matches impressions for a particular security type."
        },
        "all": {
          "enumDescriptions": [
            "A simple context."
          ],
          "description": "Matches all contexts.",
          "enum": [
            "SIMPLE_CONTEXT"
          ],
          "type": "string"
        },
        "appType": {
          "$ref": "AppContext",
          "description": "Matches impressions for a particular app type."
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "location": {
          "$ref": "LocationContext",
          "description": "Matches impressions coming from users *or* publishers in a specific location."
        },
        "auctionType": {
          "$ref": "AuctionContext",
          "description": "Matches impressions for a particular auction type."
        }
      }
    },
    "DayPart": {
      "type": "object",
      "id": "DayPart",
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week.",
      "properties": {
        "endTime": {
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "The day of the week to target. If unspecified, applicable to all days."
        },
        "startTime": {
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings.",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      }
    },
    "ListBidResponseErrorsResponse": {
      "properties": {
        "calloutStatusRows": {
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "type": "array",
          "description": "List of rows, with counts of bid responses aggregated by callout status."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponseErrorsRequest.pageToken field in the subsequent call to the bidResponseErrors.list method to retrieve the next page of results."
        }
      },
      "id": "ListBidResponseErrorsResponse",
      "type": "object",
      "description": "Response message for listing all reasons that bid responses resulted in an error."
    },
    "RelativeDateRange": {
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30",
      "type": "object",
      "id": "RelativeDateRange",
      "properties": {
        "durationDays": {
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32",
          "type": "integer"
        },
        "offsetDays": {
          "type": "integer",
          "format": "int32",
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0."
        }
      }
    },
    "FilterSet": {
      "id": "FilterSet",
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "properties": {
        "sellerNetworkIds": {
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "breakdownDimensions": {
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions.",
          "items": {
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ],
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "dealId": {
          "format": "int64",
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string"
        },
        "timeSeriesGranularity": {
          "type": "string",
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional.",
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        },
        "realtimeTimeRange": {
          "$ref": "RealtimeTimeRange",
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp."
        },
        "platforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ]
          },
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms)."
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "environment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "description": "The environment on which to filter; optional.",
          "type": "string"
        },
        "absoluteDateRange": {
          "$ref": "AbsoluteDateRange",
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone."
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern."
        },
        "formats": {
          "type": "array",
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "deprecated": true,
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ],
            "type": "string"
          }
        },
        "format": {
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ],
          "type": "string"
        },
        "publisherIdentifiers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together."
        },
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoContent": {
      "description": "Video content for a creative.",
      "id": "VideoContent",
      "type": "object",
      "properties": {
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        }
      }
    },
    "NativeContent": {
      "description": "Native content for a creative.",
      "properties": {
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a native video ad."
        },
        "starRating": {
          "description": "The app rating in the app store. Must be in the range [0-5].",
[...]
