{
  "canonicalName": "AdExchangeBuyerII",
  "version_module": true,
  "servicePath": "",
  "title": "Ad Exchange Buyer API II",
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "version": "v2beta1",
  "revision": "20260828",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "name": "adexchangebuyer2",
  "ownerName": "Google",
  "batchPath": "batch",
  "protocol": "rest",
  "id": "adexchangebuyer2:v2beta1",
  "resources": {
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "flatPath": "v2beta1/accounts/{accountId}/products",
              "response": {
                "$ref": "ListProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.products.list",
              "description": "List all products visible to the buyer (optionally filtered by the specified PQL query).",
              "path": "v2beta1/accounts/{accountId}/products",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListProductsResponse."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path"
                },
                "filter": {
                  "description": "An optional PQL query used to query for products. See https://developers.google.com/ad-manager/docs/pqlreference for documentation about PQL and examples. Nested repeated fields, such as product.targetingCriterion.inclusions, cannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.products.get",
              "description": "Gets the requested product by ID.",
              "path": "v2beta1/accounts/{accountId}/products/{productId}",
              "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
              "response": {
                "$ref": "Product"
              },
              "parameterOrder": [
                "accountId",
                "productId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID for the product to get the head revision for."
                }
              }
            }
          }
        },
        "clients": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "response": {
                "$ref": "ListClientsResponse"
              },
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32"
                },
                "accountId": {
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "required": true
                },
                "partnerClientId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response."
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "adexchangebuyer2.accounts.clients.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId"
              ],
              "path": "v2beta1/accounts/{accountId}/clients",
              "description": "Lists all the clients for the current sponsor buyer."
            },
            "get": {
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "response": {
                "$ref": "Client"
              },
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "description": "Gets a client buyer with a given client account ID.",
              "id": "adexchangebuyer2.accounts.clients.get",
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "format": "int64",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Numerical account ID of the client's sponsor buyer. (required)"
                },
                "clientAccountId": {
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Numerical account ID of the client buyer to retrieve. (required)"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "type": "string",
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)"
                },
                "clientAccountId": {
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "id": "adexchangebuyer2.accounts.clients.update",
              "httpMethod": "PUT",
              "description": "Updates an existing client buyer.",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "response": {
                "$ref": "Client"
              },
              "request": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ]
            },
            "create": {
              "description": "Creates a new client buyer.",
              "parameters": {
                "accountId": {
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true
                }
              },
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "response": {
                "$ref": "Client"
              },
              "path": "v2beta1/accounts/{accountId}/clients",
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.clients.create"
            }
          },
          "resources": {
            "invitations": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "required": true
                    },
                    "clientAccountId": {
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "id": "adexchangebuyer2.accounts.clients.invitations.create"
                },
                "list": {
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method.",
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ]
                },
                "get": {
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "httpMethod": "GET",
                  "description": "Retrieves an existing client user invitation.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "location": "path",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)"
                    },
                    "invitationId": {
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Numerical identifier of the user invitation to retrieve. (required)"
                    },
                    "clientAccountId": {
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)"
                    }
                  }
                }
              }
            },
            "users": {
              "methods": {
                "get": {
                  "description": "Retrieves an existing client user.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.get",
                  "parameters": {
                    "accountId": {
                      "format": "int64",
                      "type": "string",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "required": true,
                      "location": "path"
                    },
                    "userId": {
                      "format": "int64",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "list": {
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "parameters": {
                    "clientAccountId": {
                      "required": true,
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
                      "location": "query"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
                      "format": "int64"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "id": "adexchangebuyer2.accounts.clients.users.list"
                },
                "update": {
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Updates an existing client user. Only the user status can be changed on update.",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameters": {
                    "userId": {
                      "type": "string",
                      "format": "int64",
                      "location": "path",
                      "required": true,
                      "description": "Numerical identifier of the user to retrieve. (required)"
                    },
                    "clientAccountId": {
                      "type": "string",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "required": true,
                      "location": "path",
                      "format": "int64"
                    },
                    "accountId": {
                      "format": "int64",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          }
        },
        "creatives": {
          "resources": {
            "dealAssociations": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  },
                  "description": "List all creative-deal associations.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "parameters": {
                    "creativeId": {
                      "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "query": {
                      "type": "string",
                      "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'",
                      "location": "query"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list"
                },
                "add": {
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "request": {
                    "$ref": "AddDealAssociationRequest"
                  },
                  "description": "Associate an existing deal with a creative.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The account the creative belongs to.",
                      "location": "path"
                    },
                    "creativeId": {
                      "required": true,
                      "type": "string",
                      "description": "The ID of the creative associated with the deal.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "remove": {
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "creativeId": {
                      "description": "The ID of the creative associated with the deal.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "accountId": {
                      "required": true,
                      "description": "The account the creative belongs to.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "description": "Remove the association between a deal and a creative.",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove",
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "adexchangebuyer2.accounts.creatives.list",
              "description": "Lists creatives.",
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/creatives",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method.",
                  "type": "string"
                },
                "query": {
                  "location": "query",
                  "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to.",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive."
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "parameters": {
                "creativeId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the creative to retrieve."
                },
                "accountId": {
                  "description": "The account the creative belongs to.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "id": "adexchangebuyer2.accounts.creatives.get",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "description": "Gets a creative.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "update": {
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "response": {
                "$ref": "Creative"
              },
              "description": "Updates a creative.",
              "request": {
                "$ref": "Creative"
              },
              "id": "adexchangebuyer2.accounts.creatives.update",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "creativeId": {
                  "location": "path",
                  "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "creativeId"
              ]
            },
            "create": {
              "description": "Creates a creative.",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.create",
              "request": {
                "$ref": "Creative"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "required": true
                },
                "duplicateIdMode": {
                  "type": "string",
                  "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Recommended. This means that an ID will be unique to a single creative. Multiple creatives will not share an ID.",
                    "Not recommended. Using this option will allow multiple creatives to share the same ID. Get and Update requests will not be possible for any ID that has more than one creative associated. (List will still function.) This is only intended for backwards compatibility in cases where a single ID is already shared by multiple creatives from previous APIs."
                  ]
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "response": {
                "$ref": "Creative"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/creatives"
            },
            "watch": {
              "description": "Watches a creative. Will result in push notifications being sent to the topic when the creative changes status.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "request": {
                "$ref": "WatchCreativeRequest"
              },
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.creatives.watch",
              "parameters": {
                "creativeId": {
                  "description": "The creative ID to watch for status changes. Specify \"-\" to watch all creatives under the above account. If both creative-level and account-level notifications are sent, only a single notification will be sent to the creative-level notification topic.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "The account of the creative to watch.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch"
            },
            "stopWatching": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "parameters": {
                "creativeId": {
                  "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account of the creative to stop notifications for.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "description": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              }
            }
          }
        },
        "proposals": {
          "methods": {
            "addNote": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Create a new note and attach it to the proposal. The note is assigned a unique ID by the server. The proposal revision number will not increase when associated with a new note.",
              "httpMethod": "POST",
              "parameters": {
                "proposalId": {
                  "type": "string",
                  "description": "The ID of the proposal to attach the note to.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "response": {
                "$ref": "Note"
              },
              "request": {
                "$ref": "AddNoteRequest"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "id": "adexchangebuyer2.accounts.proposals.addNote"
            },
            "completeSetup": {
              "request": {
                "$ref": "CompleteSetupRequest"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "required": true
                },
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to mark as setup completed.",
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.proposals.completeSetup",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "response": {
                "$ref": "Proposal"
              },
              "description": "You can opt-in to manually update proposals to indicate that setup is complete. By default, proposal setup is automatically completed after their deals are finalized. Contact your Technical Account Manager to opt in. Buyers can call this method when the proposal has been finalized, and all the required creatives have been uploaded using the Creatives API. This call updates the `is_setup_completed` field on the deals in the proposal, and notifies the seller. The server then advances the revision number of the most recent proposal. To mark an individual deal as ready to serve, call `buyers.finalizedDeals.setReadyToServe` in the Marketplace API."
            },
            "update": {
              "description": "Update the given proposal at the client known revision number. If the server revision has advanced since the passed-in `proposal.proposal_revision`, an `ABORTED` error message will be returned. Only the buyer-modifiable fields of the proposal will be updated. Note that the deals in the proposal will be updated to match the passed-in copy. If a passed-in deal does not have a `deal_id`, the server will assign a new unique ID and create the deal. If passed-in deal has a `deal_id`, it will be updated to match the passed-in copy. Any existing deals not present in the passed-in proposal will be deleted. It is an error to pass in a deal with a `deal_id` not present at head.",
              "request": {
                "$ref": "Proposal"
              },
              "httpMethod": "PUT",
              "id": "adexchangebuyer2.accounts.proposals.update",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "proposalId": {
                  "description": "The unique ID of the proposal.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "response": {
                "$ref": "Proposal"
              }
            },
            "create": {
              "id": "adexchangebuyer2.accounts.proposals.create",
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "response": {
                "$ref": "Proposal"
              },
              "description": "Create the given proposal. Each created proposal and any deals it contains are assigned a unique ID by the server.",
              "request": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID of the buyer."
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "resume": {
              "id": "adexchangebuyer2.accounts.proposals.resume",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the proposal to resume.",
                  "required": true
                }
              },
              "description": "Update the given proposal to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all deals in the proposal. Note that if the `has_seller_paused` bit is also set, serving will not resume until the seller also resumes. It is a no-op to resume an already-running proposal. It is an error to call ResumeProposal for a proposal that is not finalized or renegotiating.",
              "request": {
                "$ref": "ResumeProposalRequest"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "pause": {
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "id": "adexchangebuyer2.accounts.proposals.pause",
              "parameters": {
                "proposalId": {
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the proposal to pause.",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Update the given proposal to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all deals in the proposal. It is a no-op to pause an already-paused proposal. It is an error to call PauseProposal for a proposal that is not finalized or renegotiating.",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "request": {
                "$ref": "PauseProposalRequest"
              }
            },
            "accept": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Mark the proposal as accepted at the given revision number. If the number does not match the server's revision number an `ABORTED` error message will be returned. This call updates the proposal_state from `PROPOSED` to `BUYER_ACCEPTED`, or from `SELLER_ACCEPTED` to `FINALIZED`. Upon calling this endpoint, the buyer implicitly agrees to the terms and conditions optionally set within the proposal by the publisher.",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "response": {
                "$ref": "Proposal"
              },
              "id": "adexchangebuyer2.accounts.proposals.accept",
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "parameters": {
                "proposalId": {
                  "description": "The ID of the proposal to accept.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ]
            },
            "cancelNegotiation": {
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "description": "Cancel an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized, but only cancels a negotiation unilaterally.",
              "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "parameters": {
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to cancel negotiation for.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID of the buyer."
                }
              },
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "required": true
                },
                "filterSyntax": {
                  "location": "query",
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "type": "string",
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ]
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.list",
              "description": "List proposals. A filter expression (PQL query) may be specified to filter the results. To retrieve all finalized proposals, regardless if a proposal is being renegotiated, see the FinalizedProposals resource. Note that Bidder/ChildSeat relationships differ from the usual behavior. A Bidder account can only see its child seats' proposals by specifying the ChildSeat's accountId in the request path."
            },
            "get": {
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "id": "adexchangebuyer2.accounts.proposals.get",
              "description": "Gets a proposal given its ID. The proposal is returned at its head revision.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the proposal"
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "list": {
              "path": "v2beta1/accounts/{accountId}/publisherProfiles",
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "description": "List all publisher profiles visible to the buyer",
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as return from ListPublisherProfilesResponse."
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Specify the number of results to include per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "get": {
              "description": "Gets the requested publisher profile by id.",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "location": "path"
                },
                "publisherProfileId": {
                  "location": "path",
                  "required": true,
                  "description": "The id for the publisher profile to get.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "response": {
                "$ref": "PublisherProfile"
              },
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ]
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "pause": {
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "response": {
                "$ref": "Proposal"
              },
              "id": "adexchangebuyer2.accounts.finalizedProposals.pause",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string"
                },
                "proposalId": {
                  "type": "string",
                  "required": true,
                  "description": "The proposal_id of the proposal containing the deals.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PauseProposalDealsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.pause endpoint. It is a no-op to pause already-paused deals. It is an error to call PauseProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "httpMethod": "POST"
            },
            "resume": {
              "description": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.resume endpoint. It is a no-op to resume running deals or deals paused by the other party. It is an error to call ResumeProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "httpMethod": "POST",
              "request": {
                "$ref": "ResumeProposalDealsRequest"
              },
              "parameters": {
                "proposalId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The proposal_id of the proposal containing the deals."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.resume",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume"
            },
            "list": {
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered."
                },
                "filterSyntax": {
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ],
                  "location": "query",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "type": "string",
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER."
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                }
              }
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "filterSets": {
          "resources": {
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBidRequests.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filterSetName": {
                      "required": true,
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "filteredBids": {
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      },
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.details.list",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                          "location": "query"
                        },
                        "filterSetName": {
                          "type": "string",
                          "required": true,
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "creativeStatusId": {
                          "type": "integer",
                          "required": true,
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "location": "path",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "parameters": {
                        "creativeStatusId": {
                          "required": true,
                          "type": "integer",
                          "location": "path",
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "format": "int32"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                          "location": "query"
                        },
                        "filterSetName": {
                          "required": true,
                          "location": "path",
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        }
                      },
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.creatives.list",
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "parameters": {
                    "filterSetName": {
                      "location": "path",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                  "path": "v2beta1/{+filterSetName}/filteredBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids",
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBids.list",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "impressionMetrics": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "id": "adexchangebuyer2.bidders.filterSets.impressionMetrics.list",
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponsesWithoutBids.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    },
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidMetrics",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.bidMetrics.list",
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filterSetName": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "filterSetName": {
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "id": "adexchangebuyer2.bidders.filterSets.nonBillableWinningBids.list"
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponseErrors.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason."
                }
              }
            },
            "losingBids": {
              "methods": {
                "list": {
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "id": "adexchangebuyer2.bidders.filterSets.losingBids.list",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/losingBids",
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "create": {
              "description": "Creates the specified filter set for the account with the given account ID.",
              "parameterOrder": [
                "ownerName"
              ],
              "id": "adexchangebuyer2.bidders.filterSets.create",
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "response": {
                "$ref": "FilterSet"
              },
              "request": {
                "$ref": "FilterSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/{+ownerName}/filterSets",
              "httpMethod": "POST",
              "parameters": {
                "ownerName": {
                  "pattern": "^bidders/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`"
                },
                "isTransient": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation."
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.bidders.filterSets.delete",
              "path": "v2beta1/{+name}"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "response": {
                "$ref": "FilterSet"
              },
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "parameterOrder": [
                "name"
              ],
              "id": "adexchangebuyer2.bidders.filterSets.get"
            },
            "list": {
              "httpMethod": "GET",
              "id": "adexchangebuyer2.bidders.filterSets.list",
              "path": "v2beta1/{+ownerName}/filterSets",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer"
                },
                "ownerName": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "ownerName"
              ],
              "description": "Lists all filter sets for the account with the given account ID."
            }
          }
        },
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "ownerName": {
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
[...]
