{
  "version": "v2beta1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "StopWatchingCreativeRequest": {
      "type": "object",
      "description": "A request for stopping notifications for changes to creative Status.",
      "properties": {},
      "id": "StopWatchingCreativeRequest"
    },
    "ListFilterSetsResponse": {
      "description": "Response message for listing filter sets.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filterSets": {
          "type": "array",
          "items": {
            "$ref": "FilterSet"
          },
          "description": "The filter sets belonging to the buyer."
        }
      },
      "id": "ListFilterSetsResponse",
      "type": "object"
    },
    "ResumeProposalDealsRequest": {
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed."
        }
      },
      "id": "ResumeProposalDealsRequest",
      "description": "Request message to resume (unpause) serving for already-finalized deals."
    },
    "LocationContext": {
      "description": "Output only. The Geo criteria the restriction applies to.",
      "id": "LocationContext",
      "type": "object",
      "properties": {
        "geoCriteriaIds": {
          "description": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        }
      }
    },
    "UrlTargeting": {
      "properties": {
        "targetedUrls": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included.",
          "type": "array"
        },
        "excludedUrls": {
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded.",
          "type": "array"
        }
      },
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UrlTargeting",
      "type": "object"
    },
    "DayPart": {
      "id": "DayPart",
      "properties": {
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries."
        },
        "dayOfWeek": {
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "startTime": {
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        }
      },
      "type": "object",
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week."
    },
    "RelativeDateRange": {
      "properties": {
        "offsetDays": {
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "type": "integer",
          "format": "int32"
        },
        "durationDays": {
          "format": "int32",
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "type": "integer"
        }
      },
      "id": "RelativeDateRange",
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30",
      "type": "object"
    },
    "ListFilteredBidsResponse": {
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason (for example, creative status).",
          "type": "array",
          "items": {
            "$ref": "CreativeStatusRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidsRequest.pageToken field in the subsequent call to the filteredBids.list method to retrieve the next page of results."
        }
      },
      "id": "ListFilteredBidsResponse",
      "description": "Response message for listing all reasons that bids were filtered from the auction."
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "properties": {
        "creatorContacts": {
          "description": "Optional contact information for the creator of this product.",
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "terms": {
          "$ref": "DealTerms",
          "description": "The negotiable terms of the deal."
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "seller": {
          "$ref": "Seller",
          "description": "Information about the seller that created this product."
        },
        "availableEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving."
        },
        "availableStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving."
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "publisherProfileId": {
          "type": "string",
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time.",
          "type": "string"
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Time of last update.",
          "format": "google-datetime"
        },
        "productRevision": {
          "format": "int64",
          "type": "string",
          "description": "The revision number of the product (auto-assigned by Marketplace)."
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "syndicationProduct": {
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "description": "The syndication product associated with the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "type": "string"
        }
      }
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "type": "object",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "properties": {
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        },
        "urlTargeting": {
          "$ref": "UrlTargeting",
          "description": "URLs to be included/excluded."
        }
      }
    },
    "AcceptProposalRequest": {
      "type": "object",
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal.",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListProposalsResponse": {
      "description": "Response message for listing proposals.",
      "type": "object",
      "properties": {
        "proposals": {
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListProposalsResponse"
    },
    "CreativeSize": {
      "type": "object",
      "id": "CreativeSize",
      "description": "Specifies the size of the creative.",
      "properties": {
        "size": {
          "$ref": "Size",
          "description": "For regular or video creative size type, specifies the size of the creative"
        },
        "nativeTemplate": {
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "type": "string",
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ]
        },
        "companionSizes": {
          "items": {
            "$ref": "Size"
          },
          "type": "array",
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO"
        },
        "creativeSizeType": {
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ],
          "type": "string",
          "description": "The creative size type."
        },
        "allowedFormats": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ],
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ]
          },
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video).",
          "type": "array"
        },
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "type": "string"
        }
      }
    },
    "RemoveDealAssociationRequest": {
      "type": "object",
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be removed.",
          "$ref": "CreativeDealAssociation"
        }
      },
      "id": "RemoveDealAssociationRequest",
      "description": "A request for removing the association between a deal and a creative."
    },
    "AdTechnologyProviders": {
      "id": "AdTechnologyProviders",
      "properties": {
        "hasUnidentifiedProvider": {
          "type": "boolean",
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction."
        },
        "detectedProviderIds": {
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Detected ad technology provider information."
    },
    "ListCreativesResponse": {
      "properties": {
        "creatives": {
          "type": "array",
          "description": "The list of creatives.",
          "items": {
            "$ref": "Creative"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "A response for listing creatives.",
      "id": "ListCreativesResponse",
      "type": "object"
    },
    "DayPartTargeting": {
      "properties": {
        "timeZoneType": {
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ]
        },
        "dayParts": {
          "items": {
            "$ref": "DayPart"
          },
          "description": "A list of day part targeting criterion.",
          "type": "array"
        }
      },
      "id": "DayPartTargeting",
      "description": "Specifies the day part targeting criteria.",
      "type": "object"
    },
    "Size": {
      "id": "Size",
      "type": "object",
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The width of the creative"
        },
        "height": {
          "type": "integer",
          "description": "The height of the creative.",
          "format": "int32"
        }
      }
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "type": "object",
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "properties": {
        "filteredBidDetailRows": {
          "type": "array",
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "items": {
            "$ref": "FilteredBidDetailRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results."
        },
        "detailType": {
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ],
          "type": "string",
          "description": "The type of detail that the detail IDs represent."
        }
      }
    },
    "AddDealAssociationRequest": {
      "type": "object",
      "properties": {
        "association": {
          "$ref": "CreativeDealAssociation",
          "description": "The association between a creative and a deal that should be added."
        }
      },
      "id": "AddDealAssociationRequest",
      "description": "A request for associating a deal and a creative."
    },
    "TargetingValue": {
      "description": "A polymorphic targeting value used as part of Shared Targeting.",
      "properties": {
        "stringValue": {
          "description": "The string value to include/exclude.",
          "type": "string"
        },
        "dayPartTargetingValue": {
          "description": "The daypart targeting to include / exclude. Filled in when the key is GOOG_DAYPART_TARGETING. The definition of this targeting is derived from the structure used by Ad Manager.",
          "$ref": "DayPartTargeting"
        },
        "creativeSizeValue": {
          "description": "The creative size value to include/exclude. Filled in when key = GOOG_CREATIVE_SIZE",
          "$ref": "CreativeSize"
        },
        "longValue": {
          "format": "int64",
          "description": "The long value to include/exclude.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetingValue"
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings."
    },
    "DealPauseStatus": {
      "properties": {
        "hasSellerPaused": {
          "type": "boolean",
          "description": "True, if the seller has paused the deal unilaterally."
        },
        "firstPausedBy": {
          "type": "string",
          "description": "The role of the person who first paused this deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "sellerPauseReason": {
          "type": "string",
          "description": "The seller's reason for pausing, if the seller paused the deal."
        },
        "hasBuyerPaused": {
          "description": "True, if the buyer has paused the deal unilaterally.",
          "type": "boolean"
        },
        "buyerPauseReason": {
          "description": "The buyer's reason for pausing, if the buyer paused the deal.",
          "type": "string"
        }
      },
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true.",
      "id": "DealPauseStatus",
      "type": "object"
    },
    "DeliveryControl": {
      "type": "object",
      "id": "DeliveryControl",
      "description": "Message contains details about how the deals will be paced.",
      "properties": {
        "frequencyCaps": {
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps."
        },
        "deliveryRateType": {
          "type": "string",
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "creativeBlockingLevel": {
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OperatingSystemTargeting": {
      "type": "object",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "description": "Represents targeting information for operating systems."
    },
    "GuaranteedFixedPriceTerms": {
      "properties": {
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64",
          "type": "string"
        },
        "impressionCap": {
          "format": "int64",
          "type": "string",
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached."
        },
        "fixedPrices": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array",
          "description": "Fixed price for the specified buyer."
        },
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "guaranteedImpressions": {
          "format": "int64",
          "type": "string",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        }
      },
      "description": "Terms for Programmatic Guaranteed Deals.",
      "id": "GuaranteedFixedPriceTerms",
      "type": "object"
    },
    "Proposal": {
      "properties": {
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "type": "string",
          "readOnly": true
        },
        "proposalState": {
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "description": "Output only. The current state of the proposal.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ],
          "type": "string"
        },
        "sellerContacts": {
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Output only. Contact information for the seller.",
          "readOnly": true,
          "type": "array"
        },
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "type": "array"
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "billedBuyer": {
          "readOnly": true,
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "$ref": "Buyer"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the proposal was last revised."
        },
        "displayName": {
          "description": "The name for the proposal.",
          "type": "string"
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "isSetupComplete": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal."
        },
        "seller": {
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Seller"
        },
        "buyerPrivateData": {
          "description": "Private data for buyer. (hidden from seller).",
          "$ref": "PrivateData"
        },
        "privateAuctionId": {
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "readOnly": true,
          "type": "string"
        },
        "proposalId": {
          "type": "string",
          "description": "Output only. The unique ID of the proposal.",
          "readOnly": true
        },
        "notes": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "Output only. The notes associated with this proposal."
        },
        "originatorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true,
          "type": "string"
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal is being renegotiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "buyerContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Contact information for the buyer."
        }
      },
      "id": "Proposal",
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise."
    },
    "TargetingCriteria": {
      "type": "object",
      "id": "TargetingCriteria",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        },
        "inclusions": {
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of value to include as part of the targeting. Each value is OR'd together."
        },
        "exclusions": {
          "type": "array",
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "items": {
            "$ref": "TargetingValue"
          }
        }
      },
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting."
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      }
    },
    "ClientUser": {
      "type": "object",
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified.",
      "id": "ClientUser",
      "properties": {
        "userId": {
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ],
          "type": "string",
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ],
          "description": "The status of the client user."
        },
        "email": {
          "description": "User's email address. The value of this field is ignored in an update operation.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Image": {
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "id": "Image",
      "type": "object",
      "properties": {
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "Image width in pixels."
        },
        "height": {
          "description": "Image height in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "type": "string",
          "description": "The URL of the image."
        }
      }
    },
    "ClientUserInvitation": {
      "type": "object",
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "properties": {
        "invitationId": {
          "type": "string",
          "format": "int64",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations."
        },
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListFilteredBidRequestsResponse": {
      "type": "object",
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "properties": {
        "calloutStatusRows": {
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "type": "array",
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListFilteredBidRequestsResponse"
    },
    "BidResponseWithoutBidsStatusRow": {
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status.",
      "properties": {
        "impressionCount": {
          "description": "The number of impressions for which there was a bid response with the specified status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "$ref": "RowDimensions",
          "description": "The values of all dimensions associated with metric values in this row."
        },
        "status": {
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ]
        }
      },
      "id": "BidResponseWithoutBidsStatusRow",
      "type": "object"
    },
    "ContactInformation": {
      "properties": {
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "ContactInformation"
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "timeUnitType": {
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        },
        "numTimeUnits": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Frequency cap."
    },
    "MetricValue": {
      "id": "MetricValue",
      "properties": {
        "variance": {
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value",
          "format": "int64",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The expected value of the metric.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled)."
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "properties": {
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "sizeType": {
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The size type of the ad slot.",
          "type": "string"
        },
        "height": {
          "format": "int64",
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        }
      },
      "id": "AdSize",
      "type": "object"
    },
    "AbsoluteDateRange": {
      "type": "object",
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail.",
      "id": "AbsoluteDateRange",
      "properties": {
        "startDate": {
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        }
      }
    },
    "CreativeSpecification": {
      "id": "CreativeSpecification",
      "type": "object",
      "properties": {
        "creativeSize": {
          "$ref": "AdSize",
          "description": "The size of the creative."
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "description": "A creative and its classification data.",
      "properties": {
        "detectedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative."
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the company being advertised in the creative."
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "detectedLanguages": {
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "openAuctionStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "type": "string"
        },
        "creativeId": {
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "adTechnologyProviders": {
          "$ref": "AdTechnologyProviders",
          "description": "Output only. The detected ad technology providers."
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "dealsStatus": {
          "type": "string",
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "vendorIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values."
        },
        "declaredClickThroughUrls": {
          "description": "The set of declared destination URLs for the creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedProductCategories": {
          "type": "array",
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "detectedAdvertiserIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. Detected advertiser IDs, if any.",
          "type": "array"
        },
        "corrections": {
          "type": "array",
          "items": {
            "$ref": "Correction"
          },
          "deprecated": true,
          "description": "Output only. Shows any corrections that were applied to this creative."
        },
        "restrictedCategories": {
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "apiUpdateTime": {
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string",
          "format": "google-datetime"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "impressionTrackingUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of URLs to be called to record an impression."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The version of this creative."
        },
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ]
          }
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "servingRestrictions": {
          "items": {
            "$ref": "ServingRestriction"
          },
          "type": "array",
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction)."
        },
        "detectedSensitiveCategories": {
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "CriteriaTargeting": {
      "properties": {
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded."
        },
        "targetedCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "A list of numeric IDs to be included."
        }
      },
      "type": "object",
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs."
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "description": "Response message for listing all creatives associated with a given filtered bid reason.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filteredBidCreativeRows": {
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          },
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative."
        }
      },
      "id": "ListCreativeStatusBreakdownByCreativeResponse"
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "properties": {
        "publisherProfileId": {
          "type": "string",
          "description": "Unique ID for publisher profile."
        },
        "topHeadlines": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\"."
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "mediaKitUrl": {
          "type": "string",
          "description": "URL to additional marketing and sales materials."
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "items": {
            "type": "string"
          }
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "type": "string",
          "description": "URL to a publisher rate card."
        },
        "displayName": {
          "type": "string",
          "description": "Name of the publisher profile."
        },
        "googlePlusUrl": {
          "type": "string",
          "description": "URL to publisher's Google+ page."
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        }
      },
      "type": "object",
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise."
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          },
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Represents targeting information about video."
    },
    "Seller": {
      "id": "Seller",
      "properties": {
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        },
        "subAccountId": {
          "description": "Output only. Ad manager network code for the seller.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object"
    },
    "CreativeDealAssociation": {
      "description": "The association between a creative and a deal.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account the creative belongs to."
        },
        "dealsId": {
          "description": "The externalDealId for the deal associated with the creative.",
          "type": "string"
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative associated with the deal."
        }
      },
      "id": "CreativeDealAssociation",
      "type": "object"
    },
    "ListDealAssociationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results."
        },
        "associations": {
          "type": "array",
          "description": "The list of associations.",
          "items": {
            "$ref": "CreativeDealAssociation"
          }
        }
      },
      "id": "ListDealAssociationsResponse",
      "type": "object",
      "description": "A response for listing creative and deal associations"
    },
    "NativeContent": {
      "type": "object",
      "id": "NativeContent",
      "description": "Native content for a creative.",
      "properties": {
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "callToAction": {
          "type": "string",
          "description": "A label for the button that the user is supposed to click."
        },
        "clickLinkUrl": {
          "description": "The URL that the browser/SDK will load when the user clicks the ad.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "starRating": {
          "type": "number",
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "format": "double"
        },
        "storeUrl": {
          "type": "string",
          "description": "The URL to the app store to purchase/download the promoted app.",
          "deprecated": true
        },
        "body": {
          "type": "string",
          "description": "A long description of the ad."
        },
        "headline": {
          "type": "string",
          "description": "A short title for the ad."
        },
        "priceDisplayText": {
          "type": "string",
          "description": "The price of the promoted app including currency info."
        }
      }
    },
    "PauseProposalDealsRequest": {
      "type": "object",
      "id": "PauseProposalDealsRequest",
      "properties": {
        "externalDealIds": {
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "reason": {
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "description": "Request message to pause serving for finalized deals."
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles."
        },
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        }
      },
      "description": "Response message for profiles visible to the buyer.",
      "type": "object"
    },
    "FilteredBidCreativeRow": {
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        },
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        }
      },
      "id": "FilteredBidCreativeRow",
      "description": "The number of filtered bids with the specified dimension values that have the specified creative."
    },
    "CalloutStatusRow": {
      "id": "CalloutStatusRow",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "calloutStatusId": {
          "format": "int32",
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "type": "integer"
        },
        "impressionCount": {
          "$ref": "MetricValue",
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status."
        }
      },
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "type": "object"
    },
    "AuctionContext": {
      "type": "object",
      "id": "AuctionContext",
      "description": "Output only. The auction type the restriction applies to.",
      "properties": {
        "auctionTypes": {
          "type": "array",
          "description": "The auction types this restriction applies to.",
          "items": {
            "type": "string",
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ],
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ]
          }
        }
      }
    },
    "CompleteSetupRequest": {
      "id": "CompleteSetupRequest",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external deal ids of the deals to mark as setup completed. If empty, all the deals in the proposal will be marked as setup completed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request message for indicating that the proposal's setup step is complete."
    },
    "Money": {
      "properties": {
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        }
      },
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "id": "Money"
    },
    "ListLosingBidsResponse": {
      "description": "Response message for listing all reasons that bids lost in the auction.",
      "id": "ListLosingBidsResponse",
      "properties": {
        "creativeStatusRows": {
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "description": "List of rows, with counts of losing bids aggregated by loss reason (for example, creative status).",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListLosingBidsRequest.pageToken field in the subsequent call to the losingBids.list method to retrieve the next page of results."
        }
      },
      "type": "object"
    },
    "NonGuaranteedFixedPriceTerms": {
      "description": "Terms for Preferred Deals.",
      "properties": {
        "fixedPrices": {
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array",
          "description": "Fixed price for the specified buyer."
        }
      },
      "type": "object",
      "id": "NonGuaranteedFixedPriceTerms"
    },
    "Client": {
      "properties": {
        "entityType": {
          "type": "string",
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        },
        "role": {
          "type": "string",
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "clientAccountId": {
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "format": "int64",
          "type": "string"
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "status": {
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer.",
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "type": "string"
        },
        "partnerClientId": {
          "type": "string",
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer."
        },
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        },
        "entityId": {
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "id": "Client",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "id": "InventorySizeTargeting",
      "type": "object",
      "properties": {
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be excluded."
        },
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "type": "array",
          "description": "A list of inventory sizes to be included."
        }
      }
    },
    "DealServingMetadata": {
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "$ref": "DealPauseStatus",
          "readOnly": true
        }
      },
      "description": "Message captures metadata about the serving status of a deal.",
      "type": "object",
      "id": "DealServingMetadata"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results."
        },
        "bidResponseWithoutBidsStatusRows": {
          "type": "array",
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          },
          "description": "List of rows, with counts of bid responses without bids aggregated by status."
        }
      },
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "id": "ListBidResponsesWithoutBidsResponse"
    },
    "PlatformContext": {
      "type": "object",
      "properties": {
        "platforms": {
          "description": "The platforms this restriction applies to.",
          "type": "array",
          "items": {
            "enum": [
              "DESKTOP",
              "ANDROID",
              "IOS"
            ],
            "enumDescriptions": [
              "Desktop platform.",
              "Android platform.",
              "iOS platform."
            ],
            "type": "string"
          }
        }
      },
      "id": "PlatformContext",
      "description": "Output only. The type of platform the restriction applies to."
    },
    "ListClientUserInvitationsResponse": {
      "id": "ListClientUserInvitationsResponse",
      "properties": {
        "invitations": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUserInvitation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FilteredBidDetailRow": {
      "id": "FilteredBidDetailRow",
      "properties": {
        "detail": {
          "type": "string",
          "description": "The ID of the detail, can be numeric or text. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message."
        },
        "bidCount": {
          "description": "The number of bids with the specified detail.",
          "$ref": "MetricValue"
        },
        "detailId": {
          "description": "Note: this field will be deprecated, use \"detail\" field instead. When \"detail\" field represents an integer value, this field is populated as the same integer value \"detail\" field represents, otherwise this field will be 0. The ID of the detail. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "type": "object",
      "description": "The number of filtered bids with the specified dimension values, among those filtered due to the requested filtering reason (for example, creative status), that have the specified detail."
    },
    "PauseProposalRequest": {
      "id": "PauseProposalRequest",
      "description": "Request message to pause serving for an already-finalized proposal.",
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Disapproval": {
      "id": "Disapproval",
      "properties": {
        "reason": {
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ],
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
[...]
