{
  "revision": "20260910",
  "canonicalName": "AdExchangeBuyerII",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "id": "adexchangebuyer2:v2beta1",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "version": "v2beta1",
  "servicePath": "",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "basePath": "",
  "title": "Ad Exchange Buyer API II",
  "resources": {
    "buyers": {
      "resources": {
        "filterSets": {
          "resources": {
            "impressionMetrics": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.impressionMetrics.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                      "type": "string"
                    },
                    "filterSetName": {
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "description": "Lists all metrics that are measured in terms of number of impressions."
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponsesWithoutBids.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filterSetName": {
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method."
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason."
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.nonBillableWinningBids.list",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                      "location": "query"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    }
                  }
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBidRequests.list",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "parameters": {
                    "filterSetName": {
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests"
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidMetrics",
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filterSetName": {
                      "required": true,
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.buyers.filterSets.bidMetrics.list",
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  }
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                      "type": "string",
                      "location": "query"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponseErrors.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  }
                }
              }
            },
            "filteredBids": {
              "resources": {
                "creatives": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.creatives.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                          "type": "string"
                        },
                        "creativeStatusId": {
                          "type": "integer",
                          "location": "path",
                          "format": "int32",
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "required": true
                        },
                        "filterSetName": {
                          "location": "path",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string",
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives"
                    }
                  }
                },
                "details": {
                  "methods": {
                    "list": {
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "httpMethod": "GET",
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                          "type": "string"
                        },
                        "creativeStatusId": {
                          "required": true,
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "type": "integer",
                          "format": "int32",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "filterSetName": {
                          "required": true,
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      },
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.details.list",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/filteredBids",
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filterSetName": {
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids",
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBids.list",
                  "parameterOrder": [
                    "filterSetName"
                  ]
                }
              }
            },
            "losingBids": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/losingBids",
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "id": "adexchangebuyer2.buyers.filterSets.losingBids.list",
                  "parameters": {
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v2beta1/{+ownerName}/filterSets",
              "id": "adexchangebuyer2.buyers.filterSets.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query"
                },
                "ownerName": {
                  "pattern": "^buyers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                }
              },
              "description": "Lists all filter sets for the account with the given account ID.",
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "parameterOrder": [
                "ownerName"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "path": "v2beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "id": "adexchangebuyer2.buyers.filterSets.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "FilterSet"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                }
              }
            },
            "delete": {
              "id": "adexchangebuyer2.buyers.filterSets.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "create": {
              "parameters": {
                "ownerName": {
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "isTransient": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation."
                }
              },
              "id": "adexchangebuyer2.buyers.filterSets.create",
              "request": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets",
              "parameterOrder": [
                "ownerName"
              ],
              "path": "v2beta1/{+ownerName}/filterSets",
              "httpMethod": "POST",
              "response": {
                "$ref": "FilterSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Creates the specified filter set for the account with the given account ID."
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "products": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The page token as returned from ListProductsResponse."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "An optional PQL query used to query for products. See https://developers.google.com/ad-manager/docs/pqlreference for documentation about PQL and examples. Nested repeated fields, such as product.targetingCriterion.inclusions, cannot be filtered."
                }
              },
              "id": "adexchangebuyer2.accounts.products.list",
              "flatPath": "v2beta1/accounts/{accountId}/products",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "ListProductsResponse"
              },
              "path": "v2beta1/accounts/{accountId}/products",
              "description": "List all products visible to the buyer (optionally filtered by the specified PQL query).",
              "parameterOrder": [
                "accountId"
              ]
            },
            "get": {
              "path": "v2beta1/accounts/{accountId}/products/{productId}",
              "id": "adexchangebuyer2.accounts.products.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "productId"
              ],
              "response": {
                "$ref": "Product"
              },
              "description": "Gets the requested product by ID.",
              "flatPath": "v2beta1/accounts/{accountId}/products/{productId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The ID for the product to get the head revision for."
                }
              }
            }
          }
        },
        "finalizedProposals": {
          "methods": {
            "pause": {
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.pause",
              "description": "Update given deals to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.pause endpoint. It is a no-op to pause already-paused deals. It is an error to call PauseProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "required": true,
                  "description": "The proposal_id of the proposal containing the deals.",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PauseProposalDealsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST",
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:pause"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.finalizedProposals.list",
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals",
              "parameterOrder": [
                "accountId"
              ],
              "description": "List finalized proposals, regardless if a proposal is being renegotiated. A filter expression (PQL query) may be specified to filter the results. The notes will not be returned.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID of the buyer.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "location": "query"
                },
                "filterSyntax": {
                  "type": "string",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "location": "query",
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ]
                }
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals",
              "response": {
                "$ref": "ListProposalsResponse"
              }
            },
            "resume": {
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "description": "The proposal_id of the proposal containing the deals.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "description": "Update given deals to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all listed deals in the request. Currently, this method only applies to PG and PD deals. For PA deals, call accounts.proposals.resume endpoint. It is a no-op to resume running deals or deals paused by the other party. It is an error to call ResumeProposalDeals for deals which are not part of the proposal of proposal_id or which are not finalized or renegotiating.",
              "id": "adexchangebuyer2.accounts.finalizedProposals.resume",
              "flatPath": "v2beta1/accounts/{accountId}/finalizedProposals/{proposalId}:resume",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Proposal"
              },
              "request": {
                "$ref": "ResumeProposalDealsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            }
          }
        },
        "creatives": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Creative"
              },
              "parameters": {
                "creativeId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the creative to retrieve.",
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The account the creative belongs to."
                }
              },
              "id": "adexchangebuyer2.accounts.creatives.get",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "description": "Gets a creative."
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "description": "Lists creatives.",
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "path": "v2beta1/accounts/{accountId}/creatives",
              "id": "adexchangebuyer2.accounts.creatives.list",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive."
                },
                "query": {
                  "location": "query",
                  "description": "An optional query string to filter creatives. If no filter is specified, all active creatives will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsStatus: {approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus: {approved, conditionally_approved, disapproved, not_checked} - attribute: {a numeric attribute from the list of attributes} - disapprovalReason: {a reason from DisapprovalReason} Example: 'accountId=12345 AND (dealsStatus:disapproved AND disapprovalReason:unacceptable_content) OR attribute:47'",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "The account to list the creatives from. Specify \"-\" to list all creatives the current user has access to.",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.next_page_token returned from the previous call to 'ListCreatives' method.",
                  "location": "query"
                }
              }
            },
            "create": {
              "path": "v2beta1/accounts/{accountId}/creatives",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "duplicateIdMode": {
                  "enumDescriptions": [
                    "Recommended. This means that an ID will be unique to a single creative. Multiple creatives will not share an ID.",
                    "Not recommended. Using this option will allow multiple creatives to share the same ID. Get and Update requests will not be possible for any ID that has more than one creative associated. (List will still function.) This is only intended for backwards compatibility in cases where a single ID is already shared by multiple creatives from previous APIs."
                  ],
                  "description": "Indicates if multiple creatives can share an ID or not. Default is NO_DUPLICATES (one ID per creative).",
                  "location": "query",
                  "enum": [
                    "NO_DUPLICATES",
                    "FORCE_ENABLE_DUPLICATE_IDS"
                  ],
                  "type": "string"
                },
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "adexchangebuyer2.accounts.creatives.create",
              "request": {
                "$ref": "Creative"
              },
              "description": "Creates a creative.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Creative"
              }
            },
            "stopWatching": {
              "description": "Stops watching a creative. Will stop push notifications being sent to the topics when the creative changes status.",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching",
              "parameters": {
                "creativeId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The creative ID of the creative to stop notifications for. Specify \"-\" to specify stopping account level notifications."
                },
                "accountId": {
                  "description": "The account of the creative to stop notifications for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "adexchangebuyer2.accounts.creatives.stopWatching",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "request": {
                "$ref": "StopWatchingCreativeRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST"
            },
            "watch": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "WatchCreativeRequest"
              },
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch",
              "id": "adexchangebuyer2.accounts.creatives.watch",
              "parameters": {
                "creativeId": {
                  "type": "string",
                  "description": "The creative ID to watch for status changes. Specify \"-\" to watch all creatives under the above account. If both creative-level and account-level notifications are sent, only a single notification will be sent to the creative-level notification topic.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "The account of the creative to watch.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Watches a creative. Will result in push notifications being sent to the topic when the creative changes status.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}:watch"
            },
            "update": {
              "parameters": {
                "creativeId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
                },
                "accountId": {
                  "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}",
              "parameterOrder": [
                "accountId",
                "creativeId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Creative"
              },
              "description": "Updates a creative.",
              "response": {
                "$ref": "Creative"
              },
              "id": "adexchangebuyer2.accounts.creatives.update"
            }
          },
          "resources": {
            "dealAssociations": {
              "methods": {
                "add": {
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "request": {
                    "$ref": "AddDealAssociationRequest"
                  },
                  "description": "Associate an existing deal with a creative.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.add",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The account the creative belongs to.",
                      "type": "string"
                    },
                    "creativeId": {
                      "location": "path",
                      "description": "The ID of the creative associated with the deal.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                },
                "remove": {
                  "httpMethod": "POST",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "description": "Remove the association between a deal and a creative.",
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The account the creative belongs to."
                    },
                    "creativeId": {
                      "required": true,
                      "description": "The ID of the creative associated with the deal.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ],
                  "request": {
                    "$ref": "RemoveDealAssociationRequest"
                  },
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.remove"
                },
                "list": {
                  "flatPath": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations",
                  "id": "adexchangebuyer2.accounts.creatives.dealAssociations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "List all creative-deal associations.",
                  "response": {
                    "$ref": "ListDealAssociationsResponse"
                  },
                  "parameters": {
                    "query": {
                      "description": "An optional query string to filter deal associations. If no filter is specified, all associations will be returned. Supported queries are: - accountId=*account_id_string* - creativeId=*creative_id_string* - dealsId=*deals_id_string* - dealsStatus:{approved, conditionally_approved, disapproved, not_checked} - openAuctionStatus:{approved, conditionally_approved, disapproved, not_checked} Example: 'dealsId=12345 AND dealsStatus:disapproved'",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListDealAssociationsResponse.next_page_token returned from the previous call to 'ListDealAssociations' method."
                    },
                    "accountId": {
                      "description": "The account to list the associations from. Specify \"-\" to list all creatives the current user has access to.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer associations than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "creativeId": {
                      "type": "string",
                      "location": "path",
                      "description": "The creative ID to list the associations from. Specify \"-\" to list all creatives under the above account.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "creativeId"
                  ]
                }
              }
            }
          }
        },
        "proposals": {
          "methods": {
            "accept": {
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "required": true,
                  "description": "The ID of the proposal to accept.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:accept",
              "id": "adexchangebuyer2.accounts.proposals.accept",
              "httpMethod": "POST",
              "response": {
                "$ref": "Proposal"
              },
              "description": "Mark the proposal as accepted at the given revision number. If the number does not match the server's revision number an `ABORTED` error message will be returned. This call updates the proposal_state from `PROPOSED` to `BUYER_ACCEPTED`, or from `SELLER_ACCEPTED` to `FINALIZED`. Upon calling this endpoint, the buyer implicitly agrees to the terms and conditions optionally set within the proposal by the publisher.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "cancelNegotiation": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:cancelNegotiation",
              "description": "Cancel an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized, but only cancels a negotiation unilaterally.",
              "response": {
                "$ref": "Proposal"
              },
              "id": "adexchangebuyer2.accounts.proposals.cancelNegotiation",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "parameters": {
                "proposalId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the proposal to cancel negotiation for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "request": {
                "$ref": "CancelNegotiationRequest"
              }
            },
            "create": {
              "id": "adexchangebuyer2.accounts.proposals.create",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "description": "Create the given proposal. Each created proposal and any deals it contains are assigned a unique ID by the server.",
              "request": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/proposals",
              "flatPath": "v2beta1/accounts/{accountId}/proposals"
            },
            "list": {
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "description": "List proposals. A filter expression (PQL query) may be specified to filter the results. To retrieve all finalized proposals, regardless if a proposal is being renegotiated, see the FinalizedProposals resource. Note that Bidder/ChildSeat relationships differ from the usual behavior. A Bidder account can only see its child seats' proposals by specifying the ChildSeat's accountId in the request path.",
              "parameters": {
                "filter": {
                  "description": "An optional PQL filter query used to query for proposals. Nested repeated fields, such as proposal.deals.targetingCriterion, cannot be filtered.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as returned from ListProposalsResponse.",
                  "type": "string"
                },
                "filterSyntax": {
                  "description": "Syntax the filter is written in. Current implementation defaults to PQL but in the future it will be LIST_FILTER.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "FILTER_SYNTAX_UNSPECIFIED",
                    "PQL",
                    "LIST_FILTER"
                  ],
                  "enumDescriptions": [
                    "A placeholder for an undefined filter syntax.",
                    "PQL query syntax. Visit https://developers.google.com/ad-manager/api/pqlreference for PQL documentation and examples.",
                    "API list filtering syntax. Read about syntax and usage at https://developers.google.com/authorized-buyers/apis/guides/v2/list-filters."
                  ]
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals",
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET",
              "flatPath": "v2beta1/accounts/{accountId}/proposals"
            },
            "addNote": {
              "parameters": {
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "proposalId": {
                  "location": "path",
                  "required": true,
                  "description": "The ID of the proposal to attach the note to.",
                  "type": "string"
                }
              },
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:addNote",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Note"
              },
              "id": "adexchangebuyer2.accounts.proposals.addNote",
              "description": "Create a new note and attach it to the proposal. The note is assigned a unique ID by the server. The proposal revision number will not increase when associated with a new note.",
              "request": {
                "$ref": "AddNoteRequest"
              }
            },
            "get": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "required": true,
                  "location": "path",
                  "description": "The unique ID of the proposal",
                  "type": "string"
                }
              },
              "id": "adexchangebuyer2.accounts.proposals.get",
              "response": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "description": "Gets a proposal given its ID. The proposal is returned at its head revision."
            },
            "resume": {
              "id": "adexchangebuyer2.accounts.proposals.resume",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:resume",
              "response": {
                "$ref": "Proposal"
              },
              "parameters": {
                "proposalId": {
                  "description": "The ID of the proposal to resume.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the buyer.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "ResumeProposalRequest"
              },
              "description": "Update the given proposal to resume serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to false for all deals in the proposal. Note that if the `has_seller_paused` bit is also set, serving will not resume until the seller also resumes. It is a no-op to resume an already-running proposal. It is an error to call ResumeProposal for a proposal that is not finalized or renegotiating."
            },
            "pause": {
              "response": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause",
              "parameters": {
                "proposalId": {
                  "description": "The ID of the proposal to pause.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "id": "adexchangebuyer2.accounts.proposals.pause",
              "description": "Update the given proposal to pause serving. This method will set the `DealServingMetadata.DealPauseStatus.has_buyer_paused` bit to true for all deals in the proposal. It is a no-op to pause an already-paused proposal. It is an error to call PauseProposal for a proposal that is not finalized or renegotiating.",
              "request": {
                "$ref": "PauseProposalRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:pause"
            },
            "update": {
              "id": "adexchangebuyer2.accounts.proposals.update",
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "description": "Update the given proposal at the client known revision number. If the server revision has advanced since the passed-in `proposal.proposal_revision`, an `ABORTED` error message will be returned. Only the buyer-modifiable fields of the proposal will be updated. Note that the deals in the proposal will be updated to match the passed-in copy. If a passed-in deal does not have a `deal_id`, the server will assign a new unique ID and create the deal. If passed-in deal has a `deal_id`, it will be updated to match the passed-in copy. Any existing deals not present in the passed-in proposal will be deleted. It is an error to pass in a deal with a `deal_id` not present at head.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameters": {
                "proposalId": {
                  "type": "string",
                  "location": "path",
                  "description": "The unique ID of the proposal.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the buyer."
                }
              },
              "request": {
                "$ref": "Proposal"
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "Proposal"
              }
            },
            "completeSetup": {
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.proposals.completeSetup",
              "description": "You can opt-in to manually update proposals to indicate that setup is complete. By default, proposal setup is automatically completed after their deals are finalized. Contact your Technical Account Manager to opt in. Buyers can call this method when the proposal has been finalized, and all the required creatives have been uploaded using the Creatives API. This call updates the `is_setup_completed` field on the deals in the proposal, and notifies the seller. The server then advances the revision number of the most recent proposal. To mark an individual deal as ready to serve, call `buyers.finalizedDeals.setReadyToServe` in the Marketplace API.",
              "request": {
                "$ref": "CompleteSetupRequest"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID of the buyer."
                },
                "proposalId": {
                  "description": "The ID of the proposal to mark as setup completed.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup",
              "parameterOrder": [
                "accountId",
                "proposalId"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/proposals/{proposalId}:completeSetup"
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET",
              "id": "adexchangebuyer2.accounts.publisherProfiles.get",
              "description": "Gets the requested publisher profile by id.",
              "path": "v2beta1/accounts/{accountId}/publisherProfiles/{publisherProfileId}",
              "parameters": {
                "publisherProfileId": {
                  "type": "string",
                  "description": "The id for the publisher profile to get.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID of the buyer.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "publisherProfileId"
              ],
              "response": {
                "$ref": "PublisherProfile"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.publisherProfiles.list",
              "description": "List all publisher profiles visible to the buyer",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "flatPath": "v2beta1/accounts/{accountId}/publisherProfiles",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID of the buyer.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The page token as return from ListPublisherProfilesResponse.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Specify the number of results to include per page.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "path": "v2beta1/accounts/{accountId}/publisherProfiles"
            }
          }
        },
        "clients": {
          "resources": {
            "users": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.users.list",
                  "parameters": {
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "description": "The account ID of the client buyer to list users for. (required) You must specify either a string representation of a numerical account identifier or the `-` character to list all the client users for all the clients of a given sponsor buyer.",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "accountId": {
                      "description": "Numerical account ID of the sponsor buyer of the client to list users for. (required)",
                      "format": "int64",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the accounts.clients.users.list method.",
                      "location": "query"
                    }
                  },
                  "description": "Lists all the known client users for a specified sponsor buyer account ID.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users",
                  "httpMethod": "GET",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users"
                },
                "update": {
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "id": "adexchangebuyer2.accounts.clients.users.update",
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "location": "path",
                      "type": "string",
                      "format": "int64",
                      "required": true
                    },
                    "clientAccountId": {
                      "type": "string",
                      "location": "path",
                      "format": "int64",
                      "required": true,
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)"
                    },
                    "userId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "required": true
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "description": "Updates an existing client user. Only the user status can be changed on update."
                },
                "get": {
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "userId"
                  ],
                  "description": "Retrieves an existing client user.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}",
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "parameters": {
                    "userId": {
                      "required": true,
                      "format": "int64",
                      "type": "string",
                      "description": "Numerical identifier of the user to retrieve. (required)",
                      "location": "path"
                    },
                    "clientAccountId": {
                      "required": true,
                      "type": "string",
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user to be retrieved is associated with. (required)",
                      "location": "path"
                    },
                    "accountId": {
                      "format": "int64",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Numerical account ID of the client's sponsor buyer. (required)"
                    }
                  },
                  "id": "adexchangebuyer2.accounts.clients.users.get"
                }
              }
            },
            "invitations": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "ClientUserInvitation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "id": "adexchangebuyer2.accounts.clients.invitations.create",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "type": "string",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "location": "path",
                      "format": "int64"
                    },
                    "clientAccountId": {
                      "description": "Numerical account ID of the client buyer that the user should be associated with. (required)",
                      "format": "int64",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "description": "Creates and sends out an email invitation to access an Ad Exchange client buyer account.",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId"
                  ],
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListClientUserInvitationsResponse"
                  },
                  "id": "adexchangebuyer2.accounts.clients.invitations.list",
                  "description": "Lists all the client users invitations for a client with a given account ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)",
                      "format": "int64",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUserInvitationsResponse.nextPageToken returned from the previous call to the clients.invitations.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "clientAccountId": {
                      "required": true,
                      "type": "string",
                      "description": "Numerical account ID of the client buyer to list invitations for. (required) You must either specify a string representation of a numerical account identifier or the `-` character to list all the invitations for all the clients of a given sponsor buyer.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer clients than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "invitationId": {
                      "description": "Numerical identifier of the user invitation to retrieve. (required)",
                      "format": "int64",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "clientAccountId": {
                      "type": "string",
                      "required": true,
                      "format": "int64",
                      "description": "Numerical account ID of the client buyer that the user invitation to be retrieved is associated with. (required)",
                      "location": "path"
                    },
                    "accountId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "format": "int64",
                      "description": "Numerical account ID of the client's sponsor buyer. (required)"
                    }
                  },
                  "response": {
                    "$ref": "ClientUserInvitation"
                  },
                  "parameterOrder": [
                    "accountId",
                    "clientAccountId",
                    "invitationId"
                  ],
                  "id": "adexchangebuyer2.accounts.clients.invitations.get",
                  "description": "Retrieves an existing client user invitation.",
                  "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}",
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "create": {
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "description": "Creates a new client buyer.",
              "path": "v2beta1/accounts/{accountId}/clients",
              "request": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "id": "adexchangebuyer2.accounts.clients.create",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to create a client for. (required)",
                  "format": "int64",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Client"
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "response": {
                "$ref": "Client"
              },
              "parameters": {
                "clientAccountId": {
                  "required": true,
                  "description": "Unique numerical account ID of the client to update. (required)",
                  "type": "string",
                  "location": "path",
                  "format": "int64"
                },
                "accountId": {
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "description": "Unique numerical account ID for the buyer of which the client buyer is a customer; the sponsor buyer to update a client for. (required)",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "httpMethod": "PUT",
              "description": "Updates an existing client buyer.",
              "id": "adexchangebuyer2.accounts.clients.update",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}"
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "clientAccountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "flatPath": "v2beta1/accounts/{accountId}/clients/{clientAccountId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Numerical account ID of the client's sponsor buyer. (required)",
                  "location": "path",
                  "type": "string",
                  "format": "int64"
                },
                "clientAccountId": {
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "location": "path",
                  "description": "Numerical account ID of the client buyer to retrieve. (required)"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "id": "adexchangebuyer2.accounts.clients.get",
              "description": "Gets a client buyer with a given client account ID.",
              "httpMethod": "GET"
            },
            "list": {
              "path": "v2beta1/accounts/{accountId}/clients",
              "parameterOrder": [
                "accountId"
              ],
              "id": "adexchangebuyer2.accounts.clients.list",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "flatPath": "v2beta1/accounts/{accountId}/clients",
              "parameters": {
                "partnerClientId": {
                  "location": "query",
                  "description": "Optional unique identifier (from the standpoint of an Ad Exchange sponsor buyer partner) of the client to return. If specified, at most one client will be returned in the response.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Unique numerical account ID of the sponsor buyer to list the clients for.",
                  "format": "int64",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the accounts.clients.list method.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer clients than requested. If unspecified, the server will pick an appropriate default."
                }
              },
              "response": {
                "$ref": "ListClientsResponse"
              },
              "description": "Lists all the clients for the current sponsor buyer.",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "parameters": {
[...]
