{
  "name": "adexchangebuyer2",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "batchPath": "batch",
  "title": "Ad Exchange Buyer API II",
  "revision": "20260901",
  "version": "v2beta1",
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "canonicalName": "AdExchangeBuyerII",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adexchange.buyer": {
          "description": "Manage your Ad Exchange buyer account configuration"
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "id": "adexchangebuyer2:v2beta1",
  "version_module": true,
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "description": "Access the latest features for managing Authorized Buyers accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.",
  "resources": {
    "buyers": {
      "resources": {
        "filterSets": {
          "resources": {
            "losingBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.buyers.filterSets.losingBids.list",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method.",
                      "type": "string"
                    },
                    "filterSetName": {
                      "location": "path",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/losingBids",
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "httpMethod": "GET"
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "parameters": {
                    "filterSetName": {
                      "required": true,
                      "location": "path",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponsesWithoutBids.list",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids"
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                      "location": "query"
                    },
                    "filterSetName": {
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBidRequests.list",
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason."
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method."
                    }
                  },
                  "id": "adexchangebuyer2.buyers.filterSets.nonBillableWinningBids.list",
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "filteredBids": {
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      },
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.details.list",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method."
                        },
                        "creativeStatusId": {
                          "required": true,
                          "format": "int32",
                          "location": "path",
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "type": "integer"
                        },
                        "filterSetName": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "id": "adexchangebuyer2.buyers.filterSets.filteredBids.creatives.list",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method."
                        },
                        "filterSetName": {
                          "location": "path",
                          "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string"
                        },
                        "creativeStatusId": {
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                          "type": "integer",
                          "format": "int32",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        }
                      },
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/filteredBids",
                  "id": "adexchangebuyer2.buyers.filterSets.filteredBids.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method."
                    },
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/filteredBids"
                }
              }
            },
            "impressionMetrics": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.buyers.filterSets.impressionMetrics.list",
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "parameters": {
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method."
                    }
                  },
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/bidMetrics",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true,
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "adexchangebuyer2.buyers.filterSets.bidMetrics.list",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidMetrics",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all metrics that are measured in terms of number of bids."
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filterSetName": {
                      "location": "path",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                  "id": "adexchangebuyer2.buyers.filterSets.bidResponseErrors.list",
                  "httpMethod": "GET",
                  "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "isTransient": {
                  "location": "query",
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                  "type": "boolean"
                },
                "ownerName": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets",
              "parameterOrder": [
                "ownerName"
              ],
              "path": "v2beta1/{+ownerName}/filterSets",
              "id": "adexchangebuyer2.buyers.filterSets.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "FilterSet"
              },
              "description": "Creates the specified filter set for the account with the given account ID.",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET",
              "description": "Lists all filter sets for the account with the given account ID.",
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets",
              "id": "adexchangebuyer2.buyers.filterSets.list",
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "path": "v2beta1/{+ownerName}/filterSets",
              "parameters": {
                "ownerName": {
                  "location": "path",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                }
              },
              "parameterOrder": [
                "ownerName"
              ]
            },
            "delete": {
              "id": "adexchangebuyer2.buyers.filterSets.delete",
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "parameters": {
                "name": {
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "get": {
              "flatPath": "v2beta1/buyers/{buyersId}/filterSets/{filterSetsId}",
              "id": "adexchangebuyer2.buyers.filterSets.get",
              "response": {
                "$ref": "FilterSet"
              },
              "parameters": {
                "name": {
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "pattern": "^buyers/[^/]+/filterSets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "path": "v2beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "filterSets": {
          "resources": {
            "losingBids": {
              "methods": {
                "list": {
                  "description": "List all reasons for which bids lost in the auction, with the number of bids that lost for each reason.",
                  "path": "v2beta1/{+filterSetName}/losingBids",
                  "id": "adexchangebuyer2.bidders.filterSets.losingBids.list",
                  "response": {
                    "$ref": "ListLosingBidsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/losingBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListLosingBidsResponse.nextPageToken returned from the previous call to the losingBids.list method."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "impressionMetrics": {
              "methods": {
                "list": {
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/impressionMetrics",
                  "path": "v2beta1/{+filterSetName}/impressionMetrics",
                  "id": "adexchangebuyer2.bidders.filterSets.impressionMetrics.list",
                  "response": {
                    "$ref": "ListImpressionMetricsResponse"
                  },
                  "parameters": {
                    "filterSetName": {
                      "required": true,
                      "location": "path",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "description": "Lists all metrics that are measured in terms of number of impressions.",
                  "httpMethod": "GET"
                }
              }
            },
            "bidResponseErrors": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponseErrors.list",
                  "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponseErrors",
                  "response": {
                    "$ref": "ListBidResponseErrorsResponse"
                  }
                }
              }
            },
            "filteredBidRequests": {
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBidRequests.list",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    },
                    "filterSetName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method.",
                      "type": "string"
                    }
                  },
                  "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason.",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListFilteredBidRequestsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBidRequests",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "nonBillableWinningBids": {
              "methods": {
                "list": {
                  "id": "adexchangebuyer2.bidders.filterSets.nonBillableWinningBids.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "response": {
                    "$ref": "ListNonBillableWinningBidsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                  "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ]
                }
              }
            },
            "bidResponsesWithoutBids": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListBidResponsesWithoutBidsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                  "id": "adexchangebuyer2.bidders.filterSets.bidResponsesWithoutBids.list",
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                  "parameters": {
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "location": "path",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                    }
                  }
                }
              }
            },
            "bidMetrics": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "filterSetName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method."
                    }
                  },
                  "description": "Lists all metrics that are measured in terms of number of bids.",
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/bidMetrics",
                  "id": "adexchangebuyer2.bidders.filterSets.bidMetrics.list",
                  "response": {
                    "$ref": "ListBidMetricsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "path": "v2beta1/{+filterSetName}/bidMetrics"
                }
              }
            },
            "filteredBids": {
              "resources": {
                "details": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "creativeStatusId": {
                          "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                          "type": "integer",
                          "format": "int32",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                          "location": "query"
                        },
                        "filterSetName": {
                          "location": "path",
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.details.list",
                      "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details"
                    }
                  }
                },
                "creatives": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                      "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                      "response": {
                        "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                      },
                      "parameterOrder": [
                        "filterSetName",
                        "creativeStatusId"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "filterSetName": {
                          "required": true,
                          "location": "path",
                          "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string"
                        },
                        "creativeStatusId": {
                          "location": "path",
                          "format": "int32",
                          "type": "integer",
                          "required": true,
                          "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes)."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method."
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.filterSets.filteredBids.creatives.list"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "path": "v2beta1/{+filterSetName}/filteredBids",
                  "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                  "parameters": {
                    "filterSetName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "pattern": "^bidders/[^/]+/filterSets/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "filterSetName"
                  ],
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.filterSets.filteredBids.list",
                  "response": {
                    "$ref": "ListFilteredBidsResponse"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}/filteredBids"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists all filter sets for the account with the given account ID.",
              "parameterOrder": [
                "ownerName"
              ],
              "httpMethod": "GET",
              "path": "v2beta1/{+ownerName}/filterSets",
              "id": "adexchangebuyer2.bidders.filterSets.list",
              "response": {
                "$ref": "ListFilterSetsResponse"
              },
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method.",
                  "type": "string",
                  "location": "query"
                },
                "ownerName": {
                  "location": "path",
                  "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "type": "string",
                  "required": true,
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "create": {
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "FilterSet"
              },
              "parameterOrder": [
                "ownerName"
              ],
              "path": "v2beta1/{+ownerName}/filterSets",
              "parameters": {
                "ownerName": {
                  "location": "path",
                  "required": true,
                  "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                },
                "isTransient": {
                  "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "adexchangebuyer2.bidders.filterSets.create",
              "request": {
                "$ref": "FilterSet"
              },
              "description": "Creates the specified filter set for the account with the given account ID."
            },
            "get": {
              "response": {
                "$ref": "FilterSet"
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "description": "Retrieves the requested filter set for the account with the given account ID.",
              "path": "v2beta1/{+name}",
              "id": "adexchangebuyer2.bidders.filterSets.get",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v2beta1/bidders/{biddersId}/filterSets/{filterSetsId}",
              "id": "adexchangebuyer2.bidders.filterSets.delete",
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/filterSets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                  "location": "path"
                }
              },
              "description": "Deletes the requested filter set from the account with the given account ID.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adexchange.buyer"
              ],
              "path": "v2beta1/{+name}",
              "httpMethod": "DELETE"
            }
          }
        },
        "accounts": {
          "resources": {
            "filterSets": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "type": "string",
                      "description": "Full name of the resource being requested. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                    }
                  },
                  "description": "Retrieves the requested filter set for the account with the given account ID.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2beta1/{+name}",
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FilterSet"
                  }
                },
                "create": {
                  "parameters": {
                    "ownerName": {
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "description": "Name of the owner (bidder or account) of the filter set to be created. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "isTransient": {
                      "description": "Whether the filter set is transient, or should be persisted indefinitely. By default, filter sets are not transient. If transient, it will be available for at least 1 hour after creation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Creates the specified filter set for the account with the given account ID.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "parameterOrder": [
                    "ownerName"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.create",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "FilterSet"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "request": {
                    "$ref": "FilterSet"
                  },
                  "path": "v2beta1/{+ownerName}/filterSets"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.list",
                  "path": "v2beta1/{+ownerName}/filterSets",
                  "response": {
                    "$ref": "ListFilterSetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets",
                  "description": "Lists all filter sets for the account with the given account ID.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilterSetsResponse.nextPageToken returned from the previous call to the accounts.filterSets.list method."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "ownerName": {
                      "type": "string",
                      "pattern": "^bidders/[^/]+/accounts/[^/]+$",
                      "description": "Name of the owner (bidder or account) of the filter sets to be listed. For example: - For a bidder-level filter set for bidder 123: `bidders/123` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "ownerName"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                      "description": "Full name of the resource to delete. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adexchange.buyer"
                  ],
                  "id": "adexchangebuyer2.bidders.accounts.filterSets.delete",
                  "path": "v2beta1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes the requested filter set from the account with the given account ID.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}"
                }
              },
              "resources": {
                "bidMetrics": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidMetrics.list",
                      "parameters": {
                        "filterSetName": {
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidMetricsResponse.nextPageToken returned from the previous call to the bidMetrics.list method.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListBidMetricsResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidMetrics",
                      "path": "v2beta1/{+filterSetName}/bidMetrics",
                      "description": "Lists all metrics that are measured in terms of number of bids.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ]
                    }
                  }
                },
                "bidResponsesWithoutBids": {
                  "methods": {
                    "list": {
                      "path": "v2beta1/{+filterSetName}/bidResponsesWithoutBids",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponsesWithoutBids.list",
                      "httpMethod": "GET",
                      "description": "List all reasons for which bid responses were considered to have no applicable bids, with the number of bid responses affected for each reason.",
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponsesWithoutBids",
                      "response": {
                        "$ref": "ListBidResponsesWithoutBidsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponsesWithoutBidsResponse.nextPageToken returned from the previous call to the bidResponsesWithoutBids.list method.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    }
                  }
                },
                "filteredBidRequests": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "filterSetName": {
                          "location": "path",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "type": "string",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidRequestsResponse.nextPageToken returned from the previous call to the filteredBidRequests.list method."
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/filteredBidRequests",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListFilteredBidRequestsResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBidRequests",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBidRequests.list",
                      "description": "List all reasons that caused a bid request not to be sent for an impression, with the number of bid requests not sent for each reason."
                    }
                  }
                },
                "nonBillableWinningBids": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/nonBillableWinningBids",
                      "parameters": {
                        "filterSetName": {
                          "required": true,
                          "location": "path",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListNonBillableWinningBidsResponse.nextPageToken returned from the previous call to the nonBillableWinningBids.list method.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListNonBillableWinningBidsResponse"
                      },
                      "description": "List all reasons for which winning bids were not billable, with the number of bids not billed for each reason.",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.nonBillableWinningBids.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "path": "v2beta1/{+filterSetName}/nonBillableWinningBids",
                      "httpMethod": "GET"
                    }
                  }
                },
                "impressionMetrics": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListImpressionMetricsResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/impressionMetrics",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.impressionMetrics.list",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "filterSetName": {
                          "type": "string",
                          "required": true,
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListImpressionMetricsResponse.nextPageToken returned from the previous call to the impressionMetrics.list method.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "path": "v2beta1/{+filterSetName}/impressionMetrics",
                      "description": "Lists all metrics that are measured in terms of number of impressions.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ]
                    }
                  }
                },
                "bidResponseErrors": {
                  "methods": {
                    "list": {
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.bidResponseErrors.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "path": "v2beta1/{+filterSetName}/bidResponseErrors",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "filterSetName": {
                          "location": "path",
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "required": true,
                          "type": "string",
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListBidResponseErrorsResponse.nextPageToken returned from the previous call to the bidResponseErrors.list method."
                        }
                      },
                      "description": "List all errors that occurred in bid responses, with the number of bid responses affected for each reason.",
                      "response": {
                        "$ref": "ListBidResponseErrorsResponse"
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/bidResponseErrors",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "filterSetName"
                      ]
                    }
                  }
                },
                "filteredBids": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adexchange.buyer"
                      ],
                      "httpMethod": "GET",
                      "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.list",
                      "path": "v2beta1/{+filterSetName}/filteredBids",
                      "parameterOrder": [
                        "filterSetName"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default."
                        },
                        "filterSetName": {
                          "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListFilteredBidsResponse.nextPageToken returned from the previous call to the filteredBids.list method.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids",
                      "description": "List all reasons for which bids were filtered, with the number of bids filtered for each reason.",
                      "response": {
                        "$ref": "ListFilteredBidsResponse"
                      }
                    }
                  },
                  "resources": {
                    "creatives": {
                      "methods": {
                        "list": {
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/creatives",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByCreativeResponse"
                          },
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/creatives",
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.creatives.list",
                          "parameters": {
                            "creativeStatusId": {
                              "required": true,
                              "description": "The ID of the creative status for which to retrieve a breakdown by creative. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
                              "location": "path",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByCreativeResponse.nextPageToken returned from the previous call to the filteredBids.creatives.list method.",
                              "location": "query"
                            },
                            "filterSetName": {
                              "location": "path",
                              "required": true,
                              "description": "Name of the filter set that should be applied to the requested metrics. For example: - For a bidder-level filter set for bidder 123: `bidders/123/filterSets/abc` - For an account-level filter set for the buyer account representing bidder 123: `bidders/123/accounts/123/filterSets/abc` - For an account-level filter set for the child seat buyer account 456 whose bidder is 123: `bidders/123/accounts/456/filterSets/abc`",
                              "type": "string",
                              "pattern": "^bidders/[^/]+/accounts/[^/]+/filterSets/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "GET",
                          "description": "List all creatives associated with a specific reason for which bids were filtered, with the number of bids filtered for each creative.",
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ]
                        }
                      }
                    },
                    "details": {
                      "methods": {
                        "list": {
                          "id": "adexchangebuyer2.bidders.accounts.filterSets.filteredBids.details.list",
                          "flatPath": "v2beta1/bidders/{biddersId}/accounts/{accountsId}/filterSets/{filterSetsId}/filteredBids/{creativeStatusId}/details",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListCreativeStatusBreakdownByDetailResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/adexchange.buyer"
                          ],
                          "parameterOrder": [
                            "filterSetName",
                            "creativeStatusId"
                          ],
                          "path": "v2beta1/{+filterSetName}/filteredBids/{creativeStatusId}/details",
                          "description": "List all details associated with a specific reason for which bids were filtered, with the number of bids filtered for each detail.",
                          "parameters": {
                            "creativeStatusId": {
                              "description": "The ID of the creative status for which to retrieve a breakdown by detail. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes). Details are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.",
                              "format": "int32",
                              "location": "path",
                              "type": "integer",
                              "required": true
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativeStatusBreakdownByDetailResponse.nextPageToken returned from the previous call to the filteredBids.details.list method.",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will pick an appropriate default.",
                              "format": "int32"
                            },
                            "filterSetName": {
                              "required": true,
[...]
