{
  "mtlsRootUrl": "https://adexchangebuyer.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "rootUrl": "https://adexchangebuyer.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "ServingContext": {
      "properties": {
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        },
        "appType": {
          "description": "Matches impressions for a particular app type.",
          "$ref": "AppContext"
        },
        "all": {
          "enum": [
            "SIMPLE_CONTEXT"
          ],
          "enumDescriptions": [
            "A simple context."
          ],
          "type": "string",
          "description": "Matches all contexts."
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "securityType": {
          "$ref": "SecurityContext",
          "deprecated": true,
          "description": "Matches impressions for a particular security type."
        },
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        }
      },
      "id": "ServingContext",
      "description": "The serving context for this restriction.",
      "type": "object"
    },
    "RelativeDateRange": {
      "properties": {
        "offsetDays": {
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "format": "int32",
          "type": "integer"
        },
        "durationDays": {
          "type": "integer",
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32"
        }
      },
      "id": "RelativeDateRange",
      "type": "object",
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30"
    },
    "CreativeSize": {
      "description": "Specifies the size of the creative.",
      "type": "object",
      "properties": {
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "type": "string"
        },
        "size": {
          "description": "For regular or video creative size type, specifies the size of the creative",
          "$ref": "Size"
        },
        "creativeSizeType": {
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ],
          "description": "The creative size type.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ]
        },
        "companionSizes": {
          "type": "array",
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO",
          "items": {
            "$ref": "Size"
          }
        },
        "nativeTemplate": {
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ],
          "type": "string"
        },
        "allowedFormats": {
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ],
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ]
          }
        }
      },
      "id": "CreativeSize"
    },
    "PlacementTargeting": {
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "properties": {
        "urlTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UrlTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "id": "PlacementTargeting"
    },
    "HtmlContent": {
      "id": "HtmlContent",
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The height of the HTML snippet in pixels."
        },
        "width": {
          "format": "int32",
          "description": "The width of the HTML snippet in pixels.",
          "type": "integer"
        },
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "HTML content for a creative."
    },
    "AuctionContext": {
      "properties": {
        "auctionTypes": {
          "description": "The auction types this restriction applies to.",
          "items": {
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ]
          },
          "type": "array"
        }
      },
      "id": "AuctionContext",
      "type": "object",
      "description": "Output only. The auction type the restriction applies to."
    },
    "RealtimeTimeRange": {
      "id": "RealtimeTimeRange",
      "type": "object",
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set.",
      "properties": {
        "startTimestamp": {
          "format": "google-datetime",
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "type": "object",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "numTimeUnits": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        },
        "timeUnitType": {
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ]
        }
      },
      "description": "Frequency cap.",
      "id": "FrequencyCap"
    },
    "MarketplaceTargeting": {
      "type": "object",
      "properties": {
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "description": "Placement targeting information, for example, URL, mobile applications."
        },
        "videoTargeting": {
          "description": "Video targeting information.",
          "$ref": "VideoTargeting"
        },
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Technology targeting information, for example, operating system, device category."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        }
      },
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "id": "MarketplaceTargeting"
    },
    "VideoContent": {
      "type": "object",
      "properties": {
        "videoVastXml": {
          "type": "string",
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard."
        },
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        }
      },
      "description": "Video content for a creative.",
      "id": "VideoContent"
    },
    "GuaranteedFixedPriceTerms": {
      "type": "object",
      "description": "Terms for Programmatic Guaranteed Deals.",
      "id": "GuaranteedFixedPriceTerms",
      "properties": {
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64",
          "type": "string"
        },
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached."
        },
        "guaranteedImpressions": {
          "type": "string",
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy."
        },
        "fixedPrices": {
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Fixed price for the specified buyer."
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "type": "string",
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        },
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        }
      }
    },
    "Seller": {
      "id": "Seller",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product."
        },
        "subAccountId": {
          "readOnly": true,
          "description": "Output only. Ad manager network code for the seller.",
          "type": "string"
        }
      }
    },
    "InventorySizeTargeting": {
      "type": "object",
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "properties": {
        "excludedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded.",
          "type": "array"
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "TechnologyTargeting": {
      "description": "Represents targeting about various types of technology.",
      "type": "object",
      "properties": {
        "deviceCapabilityTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device capabilities to be included/excluded."
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        }
      },
      "id": "TechnologyTargeting"
    },
    "TimeInterval": {
      "type": "object",
      "id": "TimeInterval",
      "description": "An interval of time, with an absolute start and end.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp marking the start of the range (inclusive) for which data is included."
        },
        "endTime": {
          "description": "The timestamp marking the end of the range (exclusive) for which data is included.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CreativeRestrictions": {
      "type": "object",
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals.",
      "properties": {
        "creativeSpecifications": {
          "type": "array",
          "items": {
            "$ref": "CreativeSpecification"
          }
        },
        "skippableAdType": {
          "type": "string",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ]
        },
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "type": "string",
          "description": "The format of the environment that the creatives will be displayed in."
        }
      },
      "id": "CreativeRestrictions"
    },
    "PublisherProfile": {
      "type": "object",
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise.",
      "id": "PublisherProfile",
      "properties": {
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "displayName": {
          "description": "Name of the publisher profile.",
          "type": "string"
        },
        "mobileApps": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "rateCardInfoUrl": {
          "type": "string",
          "description": "URL to a publisher rate card."
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "publisherProfileId": {
          "description": "Unique ID for publisher profile.",
          "type": "string"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        }
      }
    },
    "LocationContext": {
      "description": "Output only. The Geo criteria the restriction applies to.",
      "type": "object",
      "properties": {
        "geoCriteriaIds": {
          "type": "array",
          "description": "IDs representing the geo location for this context. Refer to the [geo-table.csv](https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv) file for different geo criteria IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "id": "LocationContext"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "Buyer": {
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "id": "Buyer",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "description": "Response message for profiles visible to the buyer.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "List pagination support",
          "type": "string"
        },
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array"
        }
      }
    },
    "AdTechnologyProviders": {
      "type": "object",
      "properties": {
        "hasUnidentifiedProvider": {
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction.",
          "type": "boolean"
        },
        "detectedProviderIds": {
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "id": "AdTechnologyProviders",
      "description": "Detected ad technology provider information."
    },
    "SecurityContext": {
      "description": "Output only. A security context.",
      "deprecated": true,
      "type": "object",
      "id": "SecurityContext",
      "properties": {
        "securities": {
          "description": "The security types in this context.",
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ],
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DayPart": {
      "id": "DayPart",
      "type": "object",
      "properties": {
        "startTime": {
          "$ref": "TimeOfDay",
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries."
        },
        "endTime": {
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week."
    },
    "PauseProposalRequest": {
      "id": "PauseProposalRequest",
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message to pause serving for an already-finalized proposal."
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "description": "Mobile application targeting settings.",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "id": "MobileApplicationTargeting"
    },
    "DealTerms": {
      "id": "DealTerms",
      "type": "object",
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher.",
      "properties": {
        "nonGuaranteedAuctionTerms": {
          "$ref": "NonGuaranteedAuctionTerms",
          "description": "The terms for non-guaranteed auction deals."
        },
        "description": {
          "type": "string",
          "description": "Publisher provided description for the terms."
        },
        "nonGuaranteedFixedPriceTerms": {
          "description": "The terms for non-guaranteed fixed price deals.",
          "$ref": "NonGuaranteedFixedPriceTerms"
        },
        "sellerTimeZone": {
          "type": "string",
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones."
        },
        "estimatedImpressionsPerDay": {
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller.",
          "format": "int64",
          "type": "string"
        },
        "guaranteedFixedPriceTerms": {
          "description": "The terms for guaranteed fixed price deals.",
          "$ref": "GuaranteedFixedPriceTerms"
        },
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller.",
          "$ref": "Price"
        },
        "brandingType": {
          "type": "string",
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ],
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ]
        }
      }
    },
    "BidResponseWithoutBidsStatusRow": {
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "impressionCount": {
          "description": "The number of impressions for which there was a bid response with the specified status.",
          "$ref": "MetricValue"
        },
        "status": {
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ]
        }
      },
      "type": "object",
      "id": "BidResponseWithoutBidsStatusRow",
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status."
    },
    "DealServingMetadata": {
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "readOnly": true,
          "$ref": "DealPauseStatus"
        }
      },
      "id": "DealServingMetadata",
      "type": "object",
      "description": "Message captures metadata about the serving status of a deal."
    },
    "CompleteSetupRequest": {
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "id": "CompleteSetupRequest",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external deal ids of the deals to mark as setup completed. If empty, all the deals in the proposal will be marked as setup completed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Disapproval": {
      "id": "Disapproval",
      "properties": {
        "reason": {
          "description": "The categorized reason for disapproval.",
          "type": "string",
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not declared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
            "Misuse of personal information.",
            "Omission of relevant information.",
            "Unavailable promotions.",
            "Misleading or unrealistic promotions.",
            "Offensive or inappropriate content.",
            "Capitalizing on sensitive events.",
            "Shocking content.",
            "Products & Services that enable dishonest behavior.",
            "The ad does not meet technical requirements.",
            "Restricted political content.",
            "Unsupported content.",
            "Invalid bidding method.",
            "Video length exceeds limits.",
            "Unacceptable content: Japanese healthcare.",
            "Online pharmacy ID required.",
            "Unacceptable content: Abortion.",
            "Unacceptable content: Birth control.",
            "Restricted in China.",
            "Unacceptable content: Korean healthcare.",
            "Non-family safe or adult content.",
            "Clinical trial recruitment.",
            "Maximum number of HTTP calls exceeded.",
            "Maximum number of cookies exceeded.",
            "Financial service ad does not adhere to specifications.",
            "Flash content was found in an unsupported context.",
            "Misuse by an Open Measurement SDK script.",
            "Use of an Open Measurement SDK vendor not on approved vendor list.",
            "Unacceptable landing page.",
            "Unsupported language.",
            "Non-SSL compliant.",
            "Temporary pausing of creative.",
            "Promotes services related to bail bonds.",
            "Promotes speculative and/or experimental medical treatments."
          ],
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ]
        },
        "details": {
          "description": "Additional details about the reason for disapproval.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Output only. The reason and details for a disapproval."
    },
    "WatchCreativeRequest": {
      "id": "WatchCreativeRequest",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format."
        }
      },
      "type": "object",
      "description": "A request for watching changes to creative Status."
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "id": "VideoTargeting",
      "properties": {
        "targetedPositionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty."
        },
        "excludedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string"
          }
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "id": "ListClientUserInvitationsResponse",
      "type": "object",
      "properties": {
        "invitations": {
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "type": "array",
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "Deal": {
      "description": "A deal represents a segment of inventory for displaying ads on. A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving.",
      "properties": {
        "syndicationProduct": {
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ],
          "description": "The syndication product associated with the deal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ]
        },
        "sellerContacts": {
          "type": "array",
          "description": "Output only. Seller contact information for the deal.",
          "readOnly": true,
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "creativeSafeFrameCompatibility": {
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "readOnly": true,
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ]
        },
        "externalDealId": {
          "description": "Output only. The external deal ID assigned to this deal once the deal is finalized. This is the deal ID that shows up in serving/reporting etc.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time of the deal creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "deliveryControl": {
          "description": "The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher.",
          "$ref": "DeliveryControl"
        },
        "webPropertyCode": {
          "type": "string",
          "description": "The web property code for the seller copied over from the product."
        },
        "description": {
          "description": "Description for the deal terms.",
          "type": "string"
        },
        "isSetupComplete": {
          "type": "boolean",
          "description": "Output only. True, if the buyside inventory setup is complete for this deal.",
          "readOnly": true
        },
        "creativePreApprovalPolicy": {
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "type": "string",
          "description": "Output only. Specifies the creative pre-approval policy.",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "readOnly": true
        },
        "creativeRestrictions": {
          "description": "Output only. Restricitions about the creatives associated with the deal (for example, size) This is available for Programmatic Guaranteed/Preferred Deals in Ad Manager.",
          "readOnly": true,
          "$ref": "CreativeRestrictions"
        },
        "updateTime": {
          "description": "Output only. The time when the deal was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "dealServingMetadata": {
          "$ref": "DealServingMetadata",
          "description": "Output only. Metadata about the serving status of this deal.",
          "readOnly": true
        },
        "programmaticCreativeSource": {
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by buyer.",
          "readOnly": true,
          "type": "string"
        },
        "createProductRevision": {
          "description": "Optional. Revision number of the product that the deal was created from. If present on create, and the server `product_revision` has advanced since the passed-in `create_product_revision`, an `ABORTED` error will be returned. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string",
          "format": "int64"
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "type": "array",
          "description": "The shared targeting visible to buyers and sellers. Each shared targeting entity is AND'd together."
        },
        "availableStartTime": {
          "format": "google-datetime",
          "description": "Optional. Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string"
        },
        "dealId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A unique deal ID for the deal (server-assigned)."
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Buyer private data (hidden from seller)."
        },
        "availableEndTime": {
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not required for Private Auction deals or Preferred Deals.",
          "format": "google-datetime"
        },
        "proposalId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the proposal that this deal is part of."
        },
        "displayName": {
          "type": "string",
          "description": "The name of the deal."
        },
        "targeting": {
          "readOnly": true,
          "description": "Output only. Specifies the subset of inventory targeted by the deal.",
          "$ref": "MarketplaceTargeting"
        },
        "dealTerms": {
          "$ref": "DealTerms",
          "description": "The negotiable terms of the deal."
        },
        "createProductId": {
          "description": "The product ID from which this deal was created. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Deal"
    },
    "Money": {
      "id": "Money",
      "type": "object",
      "properties": {
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "type": "string",
          "description": "The three-letter currency code defined in ISO 4217."
        },
        "nanos": {
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer"
        }
      },
      "description": "Represents an amount of money with its currency type."
    },
    "ClientUserInvitation": {
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "format": "int64",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer."
        },
        "invitationId": {
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "FilteredBidCreativeRow": {
      "properties": {
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative."
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        }
      },
      "id": "FilteredBidCreativeRow",
      "type": "object",
      "description": "The number of filtered bids with the specified dimension values that have the specified creative."
    },
    "Creative": {
      "id": "Creative",
      "type": "object",
      "properties": {
        "declaredClickThroughUrls": {
          "type": "array",
          "description": "The set of declared destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "detectedProductCategories": {
          "type": "array",
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "servingRestrictions": {
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "type": "array",
          "items": {
            "$ref": "ServingRestriction"
          }
        },
        "detectedSensitiveCategories": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "type": "array"
        },
        "corrections": {
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "items": {
            "$ref": "Correction"
          },
          "deprecated": true,
          "type": "array"
        },
        "restrictedCategories": {
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ]
          },
          "type": "array"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "detectedDomains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The detected domains for this creative."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The version of this creative."
        },
        "dealsStatus": {
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "vendorIds": {
          "type": "array",
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "apiUpdateTime": {
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string",
          "format": "google-datetime"
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "type": "string",
          "format": "int64"
        },
        "creativeId": {
          "type": "string",
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "detectedAdvertiserIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Output only. Detected advertiser IDs, if any."
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        },
        "openAuctionStatus": {
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ]
        },
        "detectedLanguages": {
          "type": "array",
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "items": {
            "type": "string"
          }
        },
        "html": {
          "$ref": "HtmlContent",
          "description": "An HTML creative."
        },
        "attributes": {
          "items": {
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "type": "string",
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ]
          },
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "type": "array"
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "video": {
          "$ref": "VideoContent",
          "description": "A video creative."
        }
      },
      "description": "A creative and its classification data."
    },
    "Client": {
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "id": "Client",
      "properties": {
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ],
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ]
        },
        "entityId": {
          "format": "int64",
          "type": "string",
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file."
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "type": "string",
          "description": "The status of the client buyer."
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "role": {
          "type": "string",
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "format": "int64"
        },
        "clientName": {
          "type": "string",
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed."
        }
      },
      "type": "object"
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "properties": {
        "clients": {
          "type": "array",
          "description": "The returned list of clients.",
          "items": {
            "$ref": "Client"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the accounts.clients.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Note": {
      "description": "A proposal may be associated to several notes.",
      "type": "object",
      "properties": {
        "creatorRole": {
          "description": "Output only. The role of the person (buyer/seller) creating the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "note": {
          "type": "string",
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number of the proposal when the note is created."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The timestamp for when this note was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "noteId": {
          "type": "string",
          "description": "Output only. The unique ID for the note.",
          "readOnly": true
        }
      },
      "id": "Note"
    },
    "AbsoluteDateRange": {
      "type": "object",
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail.",
      "id": "AbsoluteDateRange",
      "properties": {
        "startDate": {
          "$ref": "Date",
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date."
        },
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        }
      }
    },
    "Size": {
      "type": "object",
      "properties": {
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "The width of the creative"
        },
        "height": {
          "description": "The height of the creative.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Size",
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting."
    },
    "TargetingCriteria": {
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "type": "object",
      "properties": {
        "exclusions": {
          "items": {
            "$ref": "TargetingValue"
          },
          "type": "array",
          "description": "The list of values to exclude from targeting. Each value is AND'd together."
        },
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        },
        "inclusions": {
          "type": "array",
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "items": {
            "$ref": "TargetingValue"
          }
        }
      },
      "id": "TargetingCriteria"
    },
    "NativeContent": {
      "id": "NativeContent",
      "description": "Native content for a creative.",
      "type": "object",
      "properties": {
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative."
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "logo": {
          "$ref": "Image",
          "description": "A smaller image, for the advertiser's logo."
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a native video ad."
        },
        "storeUrl": {
          "type": "string",
          "description": "The URL to the app store to purchase/download the promoted app.",
          "deprecated": true
        },
        "clickTrackingUrl": {
          "type": "string",
          "description": "The URL to use for click tracking."
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "image": {
          "$ref": "Image",
          "description": "A large image."
        },
        "callToAction": {
          "type": "string",
          "description": "A label for the button that the user is supposed to click."
        },
        "starRating": {
          "format": "double",
          "type": "number",
          "description": "The app rating in the app store. Must be in the range [0-5]."
        }
      }
    },
    "ListBidMetricsResponse": {
      "type": "object",
      "id": "ListBidMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results.",
          "type": "string"
        },
        "bidMetricsRows": {
          "items": {
            "$ref": "BidMetricsRow"
          },
          "description": "List of rows, each containing a set of bid metrics.",
          "type": "array"
        }
      }
    },
    "AdSize": {
      "type": "object",
      "id": "AdSize",
      "properties": {
        "height": {
          "type": "string",
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "sizeType": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "description": "The size type of the ad slot.",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        }
      },
      "description": "Represents size of a single ad slot, or a creative."
    },
    "CreativeSpecification": {
      "type": "object",
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "id": "CreativeSpecification",
      "properties": {
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        },
        "creativeCompanionSizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array"
        }
      }
    },
    "PrivateData": {
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal.",
      "id": "PrivateData",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "type": "object"
    },
    "ClientUser": {
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ],
          "description": "The status of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ]
        },
        "userId": {
          "format": "int64",
          "type": "string",
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation."
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "type": "string",
          "format": "int64"
        },
        "email": {
          "description": "User's email address. The value of this field is ignored in an update operation.",
          "type": "string"
        }
      },
      "id": "ClientUser",
      "type": "object",
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified."
    },
    "ListDealAssociationsResponse": {
      "description": "A response for listing creative and deal associations",
      "id": "ListDealAssociationsResponse",
      "type": "object",
      "properties": {
        "associations": {
          "items": {
            "$ref": "CreativeDealAssociation"
          },
          "type": "array",
          "description": "The list of associations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results."
        }
      }
    },
    "StopWatchingCreativeRequest": {
      "type": "object",
      "id": "StopWatchingCreativeRequest",
      "description": "A request for stopping notifications for changes to creative Status.",
      "properties": {}
    },
    "Proposal": {
      "type": "object",
      "properties": {
        "privateAuctionId": {
          "readOnly": true,
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "type": "string"
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "readOnly": true,
          "description": "Output only. The notes associated with this proposal.",
          "type": "array"
        },
        "originatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal."
        },
        "deals": {
          "type": "array",
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "items": {
            "$ref": "Deal"
          }
        },
        "billedBuyer": {
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "readOnly": true,
          "$ref": "Buyer"
        },
        "proposalRevision": {
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true
        },
        "buyer": {
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Buyer"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true
        },
        "isRenegotiating": {
          "readOnly": true,
          "description": "Output only. True if the proposal is being renegotiated.",
          "type": "boolean"
        },
        "seller": {
          "$ref": "Seller",
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "buyerContacts": {
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Contact information for the buyer.",
          "type": "array"
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "readOnly": true,
          "type": "string"
        },
        "lastUpdaterOrCommentorRole": {
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string"
        },
        "sellerContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Output only. Contact information for the seller.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The name for the proposal."
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Private data for buyer. (hidden from seller)."
        },
        "proposalState": {
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "description": "Output only. The current state of the proposal.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ]
        },
        "proposalId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the proposal.",
          "type": "string"
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal.",
          "type": "boolean",
          "readOnly": true,
          "deprecated": true
        }
      },
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise."
    },
    "ListNonBillableWinningBidsResponse": {
      "description": "Response message for listing all reasons for which a buyer was not billed for a winning bid.",
      "type": "object",
      "id": "ListNonBillableWinningBidsResponse",
      "properties": {
        "nonBillableWinningBidStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of bids not billed aggregated by reason.",
          "items": {
            "$ref": "NonBillableWinningBidStatusRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListNonBillableWinningBidsRequest.pageToken field in the subsequent call to the nonBillableWinningBids.list method to retrieve the next page of results."
        }
      }
    },
    "ResumeProposalDealsRequest": {
      "id": "ResumeProposalDealsRequest",
      "description": "Request message to resume (unpause) serving for already-finalized deals.",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreativeDealAssociation": {
      "properties": {
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative associated with the deal."
        },
        "accountId": {
          "type": "string",
          "description": "The account the creative belongs to."
        },
        "dealsId": {
          "type": "string",
          "description": "The externalDealId for the deal associated with the creative."
        }
      },
      "type": "object",
      "id": "CreativeDealAssociation",
      "description": "The association between a creative and a deal."
    },
    "PricePerBuyer": {
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.",
      "id": "PricePerBuyer",
      "type": "object",
      "properties": {
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "buyer": {
          "$ref": "Buyer",
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer)."
        },
        "advertiserIds": {
          "type": "array",
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RowDimensions": {
      "properties": {
        "timeInterval": {
          "$ref": "TimeInterval",
          "description": "The time interval that this row represents."
        },
        "publisherIdentifier": {
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested.",
          "type": "string"
        }
      },
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row.",
      "id": "RowDimensions",
      "type": "object"
    },
    "ContactInformation": {
      "id": "ContactInformation",
      "type": "object",
      "description": "Contains information on how a buyer or seller can be reached.",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the contact."
        }
      }
    },
    "ListImpressionMetricsResponse": {
      "id": "ListImpressionMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "properties": {
        "impressionMetricsRows": {
          "description": "List of rows, each containing a set of impression metrics.",
          "type": "array",
          "items": {
            "$ref": "ImpressionMetricsRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListFilteredBidRequestsResponse": {
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
[...]
