{
  "title": "Admin SDK API",
  "revision": "20260917",
  "id": "admin:datatransfer_v1",
  "canonicalName": "DataTransfer",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "version": "datatransfer_v1",
  "basePath": "",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "servicePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "parameterOrder": [
            "applicationId"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "location": "path"
            }
          },
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}"
        },
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list",
          "path": "admin/datatransfer/v1/applications",
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "maximum": "500",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list."
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/applications"
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "datatransfer.transfers.get",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "parameters": {
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "minimum": "1"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify the next page in the list.",
              "type": "string"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "path": "admin/datatransfer/v1/transfers"
        },
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "httpMethod": "POST",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameters": {}
        }
      }
    }
  },
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "schemas": {
    "DataTransfersListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string"
        }
      },
      "id": "DataTransfersListResponse",
      "type": "object",
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationsListResponse": {
      "properties": {
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "ApplicationsListResponse",
      "type": "object",
      "description": "Template for a collection of Applications."
    },
    "Application": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application"
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object",
      "properties": {
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        }
      }
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "properties": {
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object"
    }
  },
  "packagePath": "admin",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch"
}