{
  "servicePath": "",
  "id": "admin:datatransfer_v1",
  "name": "admin",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://admin.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerName": "Google",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "packagePath": "admin",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version": "datatransfer_v1",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "flatPath": "admin/datatransfer/v1/applications",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "maximum": "500",
              "type": "integer",
              "minimum": "1"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "datatransfer.applications.list",
          "path": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          }
        },
        "get": {
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "applicationId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "parameterOrder": [
            "applicationId"
          ]
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "location": "path",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameterOrder": [
            "dataTransferId"
          ],
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "newOwnerUserId": {
              "location": "query",
              "description": "Destination user's profile ID.",
              "type": "string"
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "500",
              "location": "query",
              "format": "int32",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100."
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "id": "datatransfer.transfers.list",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    }
  },
  "title": "Admin SDK API",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "revision": "20260907",
  "kind": "discovery#restDescription",
  "schemas": {
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Template for application transfer parameters.",
      "type": "object",
      "id": "ApplicationTransferParam"
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "kind": {
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Application": {
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        }
      }
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList"
        }
      },
      "type": "object",
      "id": "DataTransfersListResponse"
    },
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for a collection of Applications."
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "DataTransfer"
}