{
  "fullyEncodeReservedExpansion": true,
  "packagePath": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "rootUrl": "https://admin.googleapis.com/",
  "batchPath": "batch",
  "schemas": {
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "properties": {
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        }
      },
      "id": "ApplicationDataTransfer",
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "DataTransfersListResponse": {
      "type": "object",
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "type": "array",
          "description": "List of data transfer requests."
        }
      }
    },
    "Application": {
      "id": "Application",
      "properties": {
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        }
      },
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer",
      "properties": {
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object"
    },
    "ApplicationsListResponse": {
      "properties": {
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string",
          "default": "admin#datatransfer#applicationsList"
        }
      },
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications.",
      "type": "object"
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "title": "Admin SDK API",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "version": "datatransfer_v1",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves information about an application for the given application ID.",
          "parameters": {
            "applicationId": {
              "format": "int64",
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.get"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "maximum": "500",
              "format": "int32"
            }
          },
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "id": "datatransfer.applications.list",
          "parameterOrder": []
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "required": true
            }
          },
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET"
        },
        "insert": {
          "request": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "id": "datatransfer.transfers.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "newOwnerUserId": {
              "location": "query",
              "description": "Destination user's profile ID.",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify the next page in the list."
            },
            "oldOwnerUserId": {
              "location": "query",
              "description": "Source user's profile ID.",
              "type": "string"
            },
            "status": {
              "location": "query",
              "description": "Status of the transfer.",
              "type": "string"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500"
            }
          },
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET"
        }
      }
    }
  },
  "canonicalName": "DataTransfer",
  "revision": "20260823",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "name": "admin",
  "id": "admin:datatransfer_v1"
}