{
  "revision": "20260913",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "basePath": "",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "rootUrl": "https://admin.googleapis.com/",
  "id": "admin:datatransfer_v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "title": "Admin SDK API",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string",
          "default": "admin#datatransfer#applicationsList"
        },
        "applications": {
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "Template for a collection of Applications.",
      "type": "object"
    },
    "DataTransfersListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        }
      },
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        }
      }
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "requestTime": {
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        }
      },
      "type": "object",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array"
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters."
    },
    "Application": {
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "id": {
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "transferParams": {
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "id": "Application"
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    }
  },
  "canonicalName": "DataTransfer",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "format": "int32"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "format": "int64",
              "location": "path",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "required": true
            }
          },
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves information about an application for the given application ID.",
          "id": "datatransfer.applications.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "required": true,
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID."
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "request": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "id": "datatransfer.transfers.insert",
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ]
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "path": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "id": "datatransfer.transfers.list",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "maximum": "500",
              "minimum": "1",
              "location": "query",
              "type": "integer"
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "status": {
              "location": "query",
              "type": "string",
              "description": "Status of the transfer."
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            }
          },
          "httpMethod": "GET"
        }
      }
    }
  },
  "packagePath": "admin",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "version": "datatransfer_v1",
  "name": "admin",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "baseUrl": "https://admin.googleapis.com/"
}