{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "id": "admin:datatransfer_v1",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "version": "datatransfer_v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "name": "admin",
  "title": "Admin SDK API",
  "canonicalName": "DataTransfer",
  "packagePath": "admin",
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "parameterOrder": [
            "dataTransferId"
          ]
        },
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "id": "datatransfer.transfers.list",
          "parameters": {
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "oldOwnerUserId": {
              "type": "string",
              "description": "Source user's profile ID.",
              "location": "query"
            },
            "status": {
              "location": "query",
              "description": "Status of the transfer.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "type": "integer",
              "location": "query",
              "maximum": "500",
              "format": "int32"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers"
        },
        "insert": {
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "parameters": {},
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/applications",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100."
            }
          },
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications"
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20261004",
  "schemas": {
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64"
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string"
        }
      }
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        }
      },
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "description": "Template for application transfer parameters."
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        }
      }
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      }
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "type": "object",
      "properties": {
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList"
        }
      },
      "id": "ApplicationsListResponse"
    }
  },
  "rootUrl": "https://admin.googleapis.com/"
}