{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        }
      }
    }
  },
  "id": "admin:directory_v1",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "admin",
  "canonicalName": "directory",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "title": "Admin SDK API",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "version": "directory_v1",
  "ownerName": "Google",
  "packagePath": "admin",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "revision": "20260909",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "rootUrl": "https://admin.googleapis.com/",
  "schemas": {
    "UserKeyword": {
      "id": "UserKeyword",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        }
      },
      "description": "JSON template for a keyword entry.",
      "type": "object"
    },
    "DomainAlias": {
      "type": "object",
      "properties": {
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain alias. (Read-only)"
        },
        "parentDomainName": {
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string",
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#domainAlias",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "The creation time of the domain alias. (Read-only)."
        },
        "domainAliasName": {
          "description": "The domain alias name.",
          "type": "string"
        }
      },
      "id": "DomainAlias"
    },
    "Schemas": {
      "id": "Schemas",
      "type": "object",
      "properties": {
        "schemas": {
          "description": "A list of UserSchema objects.",
          "type": "array",
          "items": {
            "$ref": "Schema"
          }
        },
        "kind": {
          "default": "admin#directory#schemas",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "JSON response template for List Schema operation in Directory API."
    },
    "BatchDeletePrintServersRequest": {
      "description": "Request to delete multiple existing print servers in a batch.",
      "id": "BatchDeletePrintServersRequest",
      "type": "object",
      "properties": {
        "printServerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of print server IDs that should be deleted (max `100` per batch)."
        }
      }
    },
    "GroupAlias": {
      "type": "object",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "id": "GroupAlias",
      "properties": {
        "id": {
          "description": "The unique ID of the group.",
          "type": "string"
        },
        "alias": {
          "type": "string",
          "description": "The alias email address."
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "primaryEmail": {
          "type": "string",
          "description": "The primary email address of the group."
        }
      }
    },
    "ListPrinterModelsResponse": {
      "id": "ListPrinterModelsResponse",
      "properties": {
        "printerModels": {
          "type": "array",
          "items": {
            "$ref": "PrinterModel"
          },
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for listing allowed printer models.",
      "type": "object"
    },
    "UserAddress": {
      "description": "JSON template for address.",
      "id": "UserAddress",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "Country code."
        },
        "region": {
          "description": "Region.",
          "type": "string"
        },
        "sourceIsStructured": {
          "type": "boolean",
          "description": "User supplied address was structured. Structured addresses are NOT supported at this time. You might be able to write structured addresses but any values will eventually be clobbered."
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "poBox": {
          "description": "Other parts of address.",
          "type": "string"
        },
        "extendedAddress": {
          "description": "Extended Address.",
          "type": "string"
        },
        "formatted": {
          "description": "Formatted address.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard values of that entry. For example address could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such type should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "locality": {
          "description": "Locality.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "Country."
        },
        "postalCode": {
          "description": "Postal code.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary address. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "streetAddress": {
          "description": "Street.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserIm": {
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "customProtocol": {
          "description": "Custom protocol.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "im": {
          "type": "string",
          "description": "Instant messenger id."
        },
        "primary": {
          "description": "If this is user's primary im. Only one entry could be marked as primary.",
          "type": "boolean"
        }
      },
      "description": "JSON template for instant messenger of an user.",
      "id": "UserIm"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "type": "object",
      "id": "DirectoryChromeosdevicesCommandResult",
      "properties": {
        "executeTime": {
          "description": "The time at which the command was executed or failed to execute.",
          "format": "google-datetime",
          "type": "string"
        },
        "commandResultPayload": {
          "type": "string",
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available."
        },
        "errorMessage": {
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed.",
          "type": "string"
        },
        "result": {
          "type": "string",
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "description": "The result of the command.",
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ]
        }
      },
      "description": "The result of executing a command."
    },
    "CountChromeOsDevicesResponse": {
      "description": "A response for counting ChromeOS devices.",
      "properties": {
        "count": {
          "description": "The total number of devices matching the request.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CountChromeOsDevicesResponse"
    },
    "OrgUnit": {
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "type": "object",
      "id": "OrgUnit",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit.",
          "type": "string"
        },
        "parentOrgUnitId": {
          "type": "string",
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set."
        },
        "parentOrgUnitPath": {
          "type": "string",
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set."
        },
        "kind": {
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`.",
          "default": "admin#directory#orgUnit",
          "type": "string"
        },
        "blockInheritance": {
          "type": "boolean",
          "deprecated": true,
          "description": "This field is deprecated and setting its value has no effect."
        },
        "description": {
          "type": "string",
          "description": "Description of the organizational unit."
        },
        "name": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          },
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required."
        },
        "orgUnitPath": {
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user).",
          "type": "string"
        }
      }
    },
    "Asp": {
      "type": "object",
      "properties": {
        "lastTimeUsed": {
          "type": "string",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "format": "int64"
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user who issued the ASP."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#asp`.",
          "default": "admin#directory#asp"
        },
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        },
        "codeId": {
          "format": "int32",
          "description": "The unique ID of the ASP.",
          "type": "integer"
        },
        "creationTime": {
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        }
      },
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "id": "Asp"
    },
    "UserName": {
      "id": "UserName",
      "properties": {
        "familyName": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's last name. Required when creating a user account."
        },
        "givenName": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's first name. Required when creating a user account."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name. Limit: 256 characters."
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChromeOsMoveDevicesToOu": {
      "id": "ChromeOsMoveDevicesToOu",
      "type": "object",
      "properties": {
        "deviceIds": {
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Chrome OS devices to be moved to OU"
        }
      }
    },
    "Token": {
      "type": "object",
      "description": "JSON template for token resource in Directory API.",
      "id": "Token",
      "properties": {
        "nativeApp": {
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device.",
          "type": "boolean"
        },
        "displayText": {
          "type": "string",
          "description": "The displayable name of the application the token is issued to."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#token`.",
          "default": "admin#directory#token",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user that issued the token."
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID of the application the token is issued to."
        },
        "anonymous": {
          "type": "boolean",
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of authorization scopes the application is granted."
        }
      }
    },
    "MobileDeviceAction": {
      "type": "object",
      "id": "MobileDeviceAction",
      "properties": {
        "action": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          },
          "description": "The action to be performed on the device."
        }
      }
    },
    "RoleAssignment": {
      "properties": {
        "assignedTo": {
          "type": "string",
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts)."
        },
        "scopeType": {
          "type": "string",
          "description": "The scope in which this role is assigned."
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "assigneeType": {
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "user",
            "group"
          ]
        },
        "expirationDetails": {
          "description": "Optional. Details regarding the expiration of this role assignment.",
          "$ref": "ExpirationDetails"
        },
        "condition": {
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "default": "admin#directory#roleAssignment",
          "type": "string"
        },
        "roleId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the role that is assigned."
        },
        "roleAssignmentId": {
          "description": "ID of this roleAssignment.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RoleAssignment",
      "description": "Defines an assignment of a role.",
      "type": "object"
    },
    "ListPrintServersResponse": {
      "properties": {
        "printServers": {
          "description": "List of print servers.",
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPrintServersResponse",
      "type": "object"
    },
    "BatchCreatePrintServersRequest": {
      "type": "object",
      "id": "BatchCreatePrintServersRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreatePrintServerRequest"
          },
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch)."
        }
      },
      "description": "Request to add multiple new print servers in a batch."
    },
    "FeatureInstance": {
      "description": "JSON template for a feature instance.",
      "properties": {
        "feature": {
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature.",
          "$ref": "Feature"
        }
      },
      "type": "object",
      "id": "FeatureInstance"
    },
    "Feature": {
      "description": "JSON template for Feature object in Directory API.",
      "id": "Feature",
      "type": "object",
      "properties": {
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          },
          "type": "string",
          "description": "The name of the feature."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#Feature",
          "description": "Kind of resource this is."
        }
      }
    },
    "Members": {
      "id": "Members",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "members": {
          "description": "A list of member objects.",
          "type": "array",
          "items": {
            "$ref": "Member"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#members"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "MobileDevice": {
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices.html).",
      "id": "MobileDevice",
      "properties": {
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "wifiMacAddress": {
          "description": "The device's MAC address on Wi-Fi networks.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Mobile Device manufacturer (Read-only)",
          "type": "string"
        },
        "supportsWorkProfile": {
          "type": "boolean",
          "description": "Work profile supported on device (Read-only)"
        },
        "encryptionStatus": {
          "type": "string",
          "description": "Mobile Device Encryption Status (Read-only)"
        },
        "applications": {
          "items": {
            "type": "object",
            "properties": {
              "displayName": {
                "type": "string",
                "description": "The application's display name. An example is `Browser`."
              },
              "versionCode": {
                "format": "int32",
                "type": "integer",
                "description": "The application's version code. An example is `13`."
              },
              "versionName": {
                "type": "string",
                "description": "The application's version name. An example is `3.2-140714`."
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "packageName": {
                "type": "string",
                "description": "The application's package name. An example is `com.android.browser`."
              }
            }
          },
          "type": "array",
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications."
        },
        "email": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user) method."
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "hardware": {
          "description": "Mobile Device Hardware (Read-only)",
          "type": "string"
        },
        "buildNumber": {
          "description": "The device's operating system build number.",
          "type": "string"
        },
        "securityPatchLevel": {
          "description": "Mobile Device Security patch level (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "brand": {
          "description": "Mobile Device Brand (Read-only)",
          "type": "string"
        },
        "managedAccountIsOnOwnerProfile": {
          "type": "boolean",
          "description": "Boolean indicating if this account is on owner/primary profile or not."
        },
        "kind": {
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "default": "admin#directory#mobiledevice",
          "type": "string"
        },
        "lastSync": {
          "format": "date-time",
          "type": "string",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "userAgent": {
          "description": "Gives information about the device such as `os` version. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kernelVersion": {
          "type": "string",
          "description": "The device's kernel version."
        },
        "serialNumber": {
          "type": "string",
          "description": "The device's serial number."
        },
        "model": {
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile=devices#update_mobile_device).",
          "type": "string"
        },
        "otherAccountsInfo": {
          "description": "The list of accounts added on device (Read-only)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "firstSync": {
          "type": "string",
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "format": "date-time"
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of mobile device."
        },
        "adbStatus": {
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "developerOptionsStatus": {
          "description": "Developer options enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "networkOperator": {
          "type": "string",
          "description": "Mobile Device mobile or network operator (if available) (Read-only)"
        },
        "deviceId": {
          "type": "string",
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier."
        },
        "name": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user)."
        },
        "hardwareId": {
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property.",
          "type": "string"
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        },
        "unknownSourcesStatus": {
          "description": "Unknown sources enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "deviceCompromisedStatus": {
          "type": "string",
          "description": "The compromised device status."
        },
        "releaseVersion": {
          "type": "string",
          "description": "Mobile Device release version version (Read-only)"
        }
      },
      "type": "object"
    },
    "Printer": {
      "id": "Printer",
      "type": "object",
      "description": "Printer configuration.",
      "properties": {
        "auxiliaryMessages": {
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "readOnly": true,
          "type": "array"
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Name of printer."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when printer was created."
        },
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)"
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "useDriverlessConfig": {
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Editable. Description of printer."
        }
      }
    },
    "Domains2": {
      "properties": {
        "domains": {
          "type": "array",
          "description": "A list of domain objects.",
          "items": {
            "$ref": "Domains"
          }
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#domains",
          "description": "Kind of resource this is."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Domains2",
      "type": "object"
    },
    "UserEmail": {
      "id": "UserEmail",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary email. Only one entry could be marked as primary."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "public_key_encryption_certificates": {
          "properties": {
            "is_default": {
              "description": "Whether this is the default certificate for the given email address.",
              "type": "boolean"
            },
            "certificate": {
              "type": "string",
              "description": "X.509 encryption certificate in `PEM` format. Must only be an end-entity (leaf) certificate."
            },
            "state": {
              "type": "string",
              "description": "Denotes the certificate's state in its lifecycle. Possible values are `not_yet_validated`, `valid`, `invalid`, `expired`, and `revoked`."
            }
          },
          "description": "Public Key Encryption Certificates. Current limit: 1 per email address, and 5 per user.",
          "type": "object"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value."
        },
        "address": {
          "description": "Email id of the user.",
          "type": "string"
        }
      },
      "description": "JSON template for an email.",
      "type": "object"
    },
    "PrintServerFailureInfo": {
      "id": "PrintServerFailureInfo",
      "properties": {
        "errorCode": {
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Canonical code for why the update failed to apply."
        },
        "printServerId": {
          "description": "ID of a failed print server.",
          "type": "string"
        },
        "printServer": {
          "$ref": "PrintServer",
          "description": "Failed print server."
        },
        "errorMessage": {
          "type": "string",
          "description": "Failure reason message."
        }
      },
      "description": "Info about failures",
      "type": "object"
    },
    "UserGender": {
      "type": "object",
      "id": "UserGender",
      "properties": {
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "customGender": {
          "type": "string",
          "description": "Custom gender."
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      }
    },
    "BatchChangeChromeOsDeviceStatusRequest": {
      "id": "BatchChangeChromeOsDeviceStatusRequest",
      "properties": {
        "deviceIds": {
          "description": "Required. List of the IDs of the ChromeOS devices to change. Maximum 50.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "changeChromeOsDeviceStatusAction": {
          "enumDescriptions": [
            "Default value. Value is unused.",
            "Deprovisions a ChromeOS device. If you have ChromeOS devices that are no longer being used in your organization, you should deprovision them so that you’re no longer managing them. Deprovisioning the device removes all policies that were on the device as well as device-level printers and the ability to use the device as a kiosk. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Disables a ChromeOS device. Use this action if a user loses their device or it’s stolen, this makes it such that the device is still managed, so it will still receive policies, but no one can use it. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Reenables a ChromeOS device to be used after being disabled. Reenables the device once it's no longer lost or it's been recovered. This allows the device to be used again. Depending on the upgrade associated with the device this might consume one license from the license pool, meaning that if there aren't enough licenses available the operation will fail."
          ],
          "description": "Required. The action to take on the ChromeOS device in order to change its status.",
          "type": "string",
          "enum": [
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE"
          ]
        },
        "deprovisionReason": {
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "description": "Optional. The reason behind a device deprovision. Must be provided if 'changeChromeOsDeviceStatusAction' is set to 'CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION'. Otherwise, omit this field."
        }
      },
      "type": "object",
      "description": "A request for changing the status of a batch of ChromeOS devices."
    },
    "MobileDevices": {
      "properties": {
        "mobiledevices": {
          "items": {
            "$ref": "MobileDevice"
          },
          "description": "A list of Mobile Device objects.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#mobiledevices",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "MobileDevices",
      "type": "object"
    },
    "UserRelation": {
      "properties": {
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserRelation",
      "description": "JSON template for a relation entry."
    },
    "CreatePrintServerRequest": {
      "id": "CreatePrintServerRequest",
      "type": "object",
      "description": "Request for adding a new print server.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`"
        },
        "printServer": {
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units).",
          "$ref": "PrintServer"
        }
      }
    },
    "BatchDeletePrintersResponse": {
      "id": "BatchDeletePrintersResponse",
      "type": "object",
      "properties": {
        "printerIds": {
          "type": "array",
          "description": "A list of Printer.id that were successfully deleted.",
          "items": {
            "type": "string"
          }
        },
        "failedPrinters": {
          "description": "A list of update failures.",
          "items": {
            "$ref": "FailureInfo"
          },
          "type": "array"
        }
      },
      "description": "Response for deleting existing printers in batch."
    },
    "BacklightInfo": {
      "id": "BacklightInfo",
      "properties": {
        "brightness": {
          "format": "int32",
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness.",
          "type": "integer",
          "readOnly": true
        },
        "maxBrightness": {
          "description": "Output only. Maximum brightness for the backlight.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "path": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information."
        }
      },
      "description": "Information about the device's backlights.",
      "type": "object"
    },
    "AuxiliaryMessage": {
      "properties": {
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        },
        "fieldMask": {
          "description": "Field that this message concerns.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ],
          "description": "Message severity",
          "type": "string"
        }
      },
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}",
      "type": "object",
      "id": "AuxiliaryMessage"
    },
    "DomainAliases": {
      "id": "DomainAliases",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#domainAliases",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "domainAliases": {
          "description": "A list of domain alias objects.",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        }
      }
    },
    "BatchChangeChromeOsDeviceStatusResponse": {
      "type": "object",
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "type": "array",
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      },
      "description": "The response of changing the status of a batch of ChromeOS devices.",
      "id": "BatchChangeChromeOsDeviceStatusResponse"
    },
    "ChromeOsDeviceAction": {
      "id": "ChromeOsDeviceAction",
      "description": "Data about an update to the status of a Chrome OS device.",
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "Action to be taken on the Chrome OS device.",
          "annotations": {
            "required": [
              "directory.chromeosdevices.action"
            ]
          }
        },
        "deprovisionReason": {
          "description": "Only used when the action is `deprovision`. With the `deprovision` action, this field is required. *Note*: The deprovision reason is audited because it might have implications on licenses for perpetual subscription customers.",
          "type": "string"
        }
      }
    },
    "CreatePrinterRequest": {
      "description": "Request for adding a new printer.",
      "id": "CreatePrinterRequest",
      "type": "object",
      "properties": {
        "printer": {
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU.",
          "$ref": "Printer"
        },
        "parent": {
          "description": "Required. The name of the customer. Format: customers/{customer_id}",
          "type": "string"
        }
      }
    },
    "UserPosixAccount": {
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username of the account."
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary account within the SystemId.",
          "type": "boolean"
        },
        "uid": {
          "format": "uint64",
          "type": "string",
          "description": "The POSIX compliant user ID."
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        },
        "systemId": {
          "description": "System identifier for which account Username or Uid apply to.",
          "type": "string"
        },
        "gid": {
          "description": "The default group ID.",
          "format": "uint64",
          "type": "string"
        },
        "shell": {
          "type": "string",
          "description": "The path to the login shell for this account."
        }
      },
      "type": "object",
      "id": "UserPosixAccount"
    },
    "ChromeOsDevices": {
      "type": "object",
      "id": "ChromeOsDevices",
      "properties": {
        "chromeosdevices": {
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "type": "array",
          "description": "A list of Chrome OS Device objects."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#chromeosdevices",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      }
    },
    "Buildings": {
      "id": "Buildings",
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "buildings": {
          "description": "The Buildings in this page of results.",
          "items": {
            "$ref": "Building"
          },
          "type": "array"
        }
      }
    },
    "Schema": {
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "id": "Schema",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#schema",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "displayName": {
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "description": "Display name for the schema.",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "description": "A list of fields in the schema."
        },
        "schemaName": {
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string",
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error."
        }
      }
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "Building",
      "properties": {
        "coordinates": {
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees.",
          "$ref": "BuildingCoordinates"
        },
        "address": {
          "$ref": "BuildingAddress",
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required."
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "buildingId": {
          "type": "string",
          "description": "Unique identifier for the building. The maximum length is 100 characters."
        },
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A brief description of the building. For example, \"Chelsea Market\"."
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "floorNames": {
          "type": "array",
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Group": {
      "properties": {
        "id": {
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`.",
          "type": "string"
        },
        "nonEditableAliases": {
          "type": "array",
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#group",
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`."
        },
        "email": {
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "type": "string",
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details."
        },
        "directMembersCount": {
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The group's display name."
        },
        "externalIds": {
          "items": {
            "$ref": "ExternalId"
          },
          "description": "Optional. The list of external IDs for the group, such as an immutable identifier from an external identity provider or directory sync client. Each entry contains a namespace and an ID value.",
          "type": "array"
        },
        "adminCreated": {
          "type": "boolean",
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        }
      },
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-groups). For information about other types of groups, see the [Cloud Identity Groups API documentation](https://cloud.google.com/identity/docs/groups). Note: The user calling the API (or being impersonated by a service account) must have an assigned [role](https://developers.google.com/workspace/admin/directory/v1/guides/manage-roles) that includes Admin API Groups permissions, such as Super Admin or Groups Admin.",
      "type": "object",
      "id": "Group"
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "properties": {
        "commandId": {
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "A response for issuing a command.",
      "id": "DirectoryChromeosdevicesIssueCommandResponse"
    },
    "UserMakeAdmin": {
      "properties": {
        "status": {
          "annotations": {
            "required": [
              "directory.users.makeAdmin"
            ]
          },
          "type": "boolean",
          "description": "Indicates the administrator status of the user."
        }
      },
      "id": "UserMakeAdmin",
      "type": "object"
    },
    "UserOrganization": {
      "type": "object",
      "properties": {
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "fullTimeEquivalent": {
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title (designation) of the user in the organization."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        },
        "description": {
          "description": "Description of the organization.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "primary": {
          "type": "boolean",
          "description": "If it user's primary organization."
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        }
      },
      "id": "UserOrganization",
      "description": "JSON template for an organization entry."
    },
    "Groups": {
      "id": "Groups",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#groups",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "groups": {
          "description": "A list of group objects.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        }
      }
    },
    "Asps": {
      "properties": {
        "kind": {
          "default": "admin#directory#aspList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#aspList`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          }
        }
      },
      "type": "object",
      "id": "Asps"
    },
    "DirectoryChromeosdevicesCommand": {
      "type": "object",
      "properties": {
        "commandExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired."
        },
        "type": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of the command.",
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ]
        },
        "issueTime": {
          "description": "The timestamp when the command was issued by the admin.",
          "type": "string",
          "format": "google-datetime"
        },
        "payload": {
          "type": "string",
          "description": "The payload that the command specified, if any."
        },
        "commandResult": {
          "$ref": "DirectoryChromeosdevicesCommandResult",
          "description": "The result of the command execution."
        },
        "state": {
          "description": "Indicates the command state.",
          "type": "string",
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ]
        },
        "commandId": {
          "description": "Unique ID of a device command.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DirectoryChromeosdevicesCommand",
      "description": "Information regarding a command that was issued to a device."
    },
    "UserPhoto": {
      "type": "object",
      "properties": {
        "height": {
          "format": "int32",
          "description": "Height of the photo in pixels.",
          "type": "integer"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#user#photo",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the photo in pixels."
        },
        "photoData": {
          "format": "byte",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "type": "string",
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels."
        },
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        }
      },
      "id": "UserPhoto"
    },
    "OrgUnits": {
      "type": "object",
      "id": "OrgUnits",
      "properties": {
        "organizationUnits": {
          "type": "array",
          "description": "A list of organizational unit objects.",
          "items": {
            "$ref": "OrgUnit"
          }
        },
        "kind": {
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`.",
          "default": "admin#directory#orgUnits",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "BuildingCoordinates": {
      "properties": {
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in decimal degrees."
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude in decimal degrees."
        }
      },
      "description": "Public API: Resources.buildings",
      "type": "object",
      "id": "BuildingCoordinates"
    },
    "CustomerPostalAddress": {
      "properties": {
        "addressLine3": {
          "type": "string",
          "description": "Address line 3 of the address."
        },
        "addressLine1": {
          "type": "string",
          "description": "A customer's physical address. The address can be composed of one to three lines."
        },
        "region": {
          "type": "string",
          "description": "Name of the region. An example of a region value is `NY` for the state of New York."
        },
        "postalCode": {
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element.",
          "type": "string"
        },
        "countryCode": {
          "type": "string",
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm)."
        },
        "addressLine2": {
          "description": "Address line 2 of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`."
        },
        "contactName": {
          "description": "The customer contact's name.",
          "type": "string"
        },
        "organizationName": {
          "description": "The company or company division name.",
          "type": "string"
        }
      },
      "id": "CustomerPostalAddress",
      "type": "object"
    },
    "ByteUsage": {
      "id": "ByteUsage",
      "description": "Represents a data capacity with some amount of current usage in bytes.",
      "type": "object",
      "properties": {
        "usedBytes": {
          "format": "int64",
          "description": "Output only. The current usage value, in bytes.",
          "readOnly": true,
          "type": "string"
        },
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total capacity value, in bytes."
        }
      }
    },
    "Domains": {
      "id": "Domains",
      "type": "object",
      "properties": {
        "creationTime": {
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "format": "int64",
          "type": "string"
        },
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        },
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "domainName": {
          "description": "The domain name of the customer.",
          "type": "string",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domain"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "domainAliases": {
          "description": "A list of domain alias objects. (Read-only)",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        }
      }
    },
    "Privilege": {
      "id": "Privilege",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#directory#privilege",
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "serviceId": {
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list).",
          "type": "string"
        },
        "privilegeName": {
          "description": "The name of the privilege.",
          "type": "string"
        },
        "childPrivileges": {
          "type": "array",
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "items": {
            "$ref": "Privilege"
          }
        },
        "isOuScopable": {
          "description": "If the privilege can be restricted to an organization unit.",
          "type": "boolean"
        }
      }
    },
    "BuildingAddress": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "postalCode": {
          "description": "Optional. Postal code of the address.",
          "type": "string"
        },
        "locality": {
          "type": "string",
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines."
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address."
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region."
        },
        "addressLines": {
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address.",
          "type": "array"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. CLDR region code of the country/region of the address."
        }
      },
      "id": "BuildingAddress"
    },
    "ChangeChromeOsDeviceStatusSucceeded": {
      "properties": {},
      "type": "object",
      "id": "ChangeChromeOsDeviceStatusSucceeded",
      "description": "Response for a successful ChromeOS device status change."
    },
    "UserWebsite": {
      "description": "JSON template for a website entry.",
      "properties": {
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary website or not."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserWebsite"
    },
    "UserCustomProperties": {
      "additionalProperties": {
        "type": "any"
      },
      "type": "object",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)",
      "id": "UserCustomProperties"
    },
    "ExternalId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique identifier string assigned by the external provider."
        },
        "namespace": {
          "type": "string",
          "description": "The system or identity provider managing this ID."
        }
      },
      "description": "External identifier used to link and identify this group across external directory systems.",
      "id": "ExternalId"
    },
    "BatchDeletePrintServersResponse": {
      "id": "BatchDeletePrintServersResponse",
      "type": "object",
      "properties": {
        "printServerIds": {
          "description": "A list of print server IDs that were successfully deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedPrintServers": {
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array",
          "description": "A list of update failures."
        }
      }
    },
    "RoleAssignments": {
      "id": "RoleAssignments",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`.",
          "default": "admin#directory#roleAssignments",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of RoleAssignment resources.",
          "type": "array",
          "items": {
            "$ref": "RoleAssignment"
          }
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintersRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "type": "array",
          "description": "A list of Printers to be created. Max 50 at a time."
        }
      },
      "type": "object",
      "description": "Request for adding new printers in batch.",
      "id": "BatchCreatePrintersRequest"
    },
    "UserExternalId": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the Id."
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "value": {
          "description": "The value of the id.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "JSON template for an externalId entry.",
      "id": "UserExternalId"
    },
    "FanInfo": {
      "type": "object",
      "description": "Information about the device's fan.",
      "id": "FanInfo",
      "properties": {
        "speedRpm": {
          "format": "int32",
          "description": "Output only. Fan speed in RPM.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "UserUndelete": {
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      },
      "id": "UserUndelete",
      "type": "object"
    },
    "BatchCreatePrintServersResponse": {
      "type": "object",
      "id": "BatchCreatePrintServersResponse",
      "properties": {
        "failures": {
          "type": "array",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
[...]
