{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "admin",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "required": true,
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "location": "path",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "description": "Retrieves information about an application for the given application ID."
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "maximum": "500"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token to specify next page in the list."
            }
          },
          "id": "datatransfer.applications.list"
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "datatransfer.transfers.insert",
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameterOrder": [
            "dataTransferId"
          ],
          "id": "datatransfer.transfers.get",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {
            "newOwnerUserId": {
              "type": "string",
              "description": "Destination user's profile ID.",
              "location": "query"
            },
            "status": {
              "location": "query",
              "type": "string",
              "description": "Status of the transfer."
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "maxResults": {
              "format": "int32",
              "minimum": "1",
              "location": "query",
              "maximum": "500",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100."
            }
          },
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "id": "datatransfer.transfers.list"
        }
      }
    }
  },
  "title": "Admin SDK API",
  "canonicalName": "DataTransfer",
  "baseUrl": "https://admin.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "revision": "20260909",
  "id": "admin:datatransfer_v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "dataTransfers": {
          "type": "array",
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        }
      },
      "id": "Application"
    },
    "ApplicationsListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        }
      },
      "description": "Template for a collection of Applications.",
      "type": "object",
      "id": "ApplicationsListResponse"
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array"
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        }
      },
      "id": "ApplicationDataTransfer"
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string",
          "format": "date-time"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "DataTransfer",
      "type": "object"
    }
  },
  "basePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "packagePath": "admin",
  "version": "datatransfer_v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerDomain": "google.com"
}