{
  "version": "datatransfer_v1",
  "resources": {
    "transfers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "httpMethod": "GET",
          "id": "datatransfer.transfers.list",
          "parameters": {
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "maximum": "500",
              "type": "integer"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": []
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.insert",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements."
        },
        "get": {
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.get",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "description": "Retrieves a data transfer request by its resource ID.",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the applications available for data transfer for a customer.",
          "path": "admin/datatransfer/v1/applications",
          "flatPath": "admin/datatransfer/v1/applications",
          "id": "datatransfer.applications.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "minimum": "1",
              "format": "int32",
              "maximum": "500"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "parameters": {
            "applicationId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "required": true
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "id": "datatransfer.applications.get"
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "basePath": "",
  "canonicalName": "DataTransfer",
  "baseUrl": "https://admin.googleapis.com/",
  "revision": "20260917",
  "rootUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "name": "admin",
  "title": "Admin SDK API",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "packagePath": "admin",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "protocol": "rest",
  "schemas": {
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse"
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string"
        }
      },
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object",
      "properties": {
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        }
      },
      "id": "DataTransfer"
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "description": "Template for application transfer parameters.",
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "properties": {
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        },
        "applicationTransferParams": {
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      },
      "id": "ApplicationDataTransfer",
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "DataTransfersListResponse": {
      "type": "object",
      "id": "DataTransfersListResponse",
      "properties": {
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "description": "Template for a collection of DataTransfer resources."
    }
  }
}