{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "ownerDomain": "google.com",
  "packagePath": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "id": "admin:datatransfer_v1",
  "servicePath": "",
  "version": "datatransfer_v1",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "baseUrl": "https://admin.googleapis.com/",
  "canonicalName": "DataTransfer",
  "title": "Admin SDK API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "schemas": {
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        }
      }
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object",
      "properties": {
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "default": "admin#datatransfer#DataTransfer",
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "applicationDataTransfers": {
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        }
      },
      "id": "DataTransfer"
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationId": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID."
        }
      },
      "id": "ApplicationDataTransfer",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters."
    },
    "Application": {
      "id": "Application",
      "properties": {
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "type": "object",
      "id": "ApplicationsListResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260917",
  "name": "admin",
  "ownerName": "Google",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "httpMethod": "GET",
          "id": "datatransfer.applications.list",
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/applications",
          "path": "admin/datatransfer/v1/applications",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Application"
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64"
            }
          },
          "id": "datatransfer.applications.get"
        }
      }
    },
    "transfers": {
      "methods": {
        "get": {
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [
            "dataTransferId"
          ]
        },
        "list": {
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "id": "datatransfer.transfers.list",
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameters": {
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "maximum": "500",
              "type": "integer",
              "minimum": "1",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            },
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ]
        },
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "DataTransfer"
          },
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers"
        }
      }
    }
  }
}