{
  "basePath": "",
  "baseUrl": "https://admin.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "rootUrl": "https://admin.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "flatPath": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "format": "int32",
              "maximum": "500"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            },
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "path": "admin/datatransfer/v1/applications",
          "description": "Lists the applications available for data transfer for a customer.",
          "parameterOrder": [],
          "id": "datatransfer.applications.list"
        },
        "get": {
          "parameterOrder": [
            "applicationId"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "ID of the application resource to be retrieved."
            }
          },
          "id": "datatransfer.applications.get"
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "id": "datatransfer.transfers.insert",
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameterOrder": [],
          "httpMethod": "POST",
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "path": "admin/datatransfer/v1/transfers"
        },
        "get": {
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID."
        },
        "list": {
          "flatPath": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "minimum": "1",
              "location": "query",
              "maximum": "500",
              "type": "integer",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "path": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "parameterOrder": []
        }
      }
    }
  },
  "canonicalName": "DataTransfer",
  "name": "admin",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260929",
  "version": "datatransfer_v1",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "id": "admin:datatransfer_v1",
  "title": "Admin SDK API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "packagePath": "admin",
  "protocol": "rest",
  "schemas": {
    "ApplicationsListResponse": {
      "description": "Template for a collection of Applications.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "applications": {
          "items": {
            "$ref": "Application"
          },
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        }
      },
      "id": "ApplicationsListResponse"
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object",
      "properties": {
        "dataTransfers": {
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests."
        },
        "kind": {
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        }
      }
    },
    "DataTransfer": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "requestTime": {
          "format": "date-time",
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object",
      "id": "DataTransfer"
    },
    "Application": {
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        }
      },
      "id": "Application",
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data."
    },
    "ApplicationTransferParam": {
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The application's ID.",
          "type": "string"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      },
      "description": "Template to map fields of ApplicationDataTransfer resource."
    }
  },
  "servicePath": "",
  "ownerDomain": "google.com"
}