{
  "ownerName": "Google",
  "packagePath": "admin",
  "protocol": "rest",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "title": "Admin SDK API",
  "basePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://admin.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "DataTransfer",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "applications": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "id": "datatransfer.applications.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "location": "query",
              "minimum": "1"
            }
          },
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "path": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "description": "Retrieves information about an application for the given application ID.",
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "type": "string",
              "location": "path",
              "format": "int64",
              "required": true
            }
          },
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get"
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "id": "datatransfer.transfers.insert",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameters": {}
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers",
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "status": {
              "type": "string",
              "location": "query",
              "description": "Status of the transfer."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "oldOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Source user's profile ID."
            },
            "maxResults": {
              "minimum": "1",
              "location": "query",
              "maximum": "500",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify the next page in the list."
            },
            "newOwnerUserId": {
              "location": "query",
              "description": "Destination user's profile ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "id": "datatransfer.transfers.list"
        },
        "get": {
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "id": "admin:datatransfer_v1",
  "baseUrl": "https://admin.googleapis.com/",
  "name": "admin",
  "revision": "20260924",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "version": "datatransfer_v1",
  "schemas": {
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "type": "object",
      "properties": {
        "dataTransfers": {
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ApplicationDataTransfer"
    },
    "ApplicationTransferParam": {
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Template for application transfer parameters.",
      "id": "ApplicationTransferParam"
    },
    "DataTransfer": {
      "id": "DataTransfer",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string",
          "default": "admin#datatransfer#DataTransfer"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "properties": {
        "applications": {
          "type": "array",
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "type": "object",
      "description": "Template for a collection of Applications."
    },
    "Application": {
      "id": "Application",
      "properties": {
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource"
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        }
      },
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object"
    }
  }
}