{
  "basePath": "",
  "id": "admin:datatransfer_v1",
  "name": "admin",
  "rootUrl": "https://admin.googleapis.com/",
  "title": "Admin SDK API",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "baseUrl": "https://admin.googleapis.com/",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "discoveryVersion": "v1",
  "version": "datatransfer_v1",
  "schemas": {
    "ApplicationDataTransfer": {
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationId": {
          "description": "The application's ID.",
          "type": "string",
          "format": "int64"
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "ApplicationTransferParam": {
      "type": "object",
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        },
        "value": {
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array"
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "id": "DataTransfer",
      "properties": {
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        }
      },
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "Application": {
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "id": "Application",
      "properties": {
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "id": {
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      }
    },
    "DataTransfersListResponse": {
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests."
        }
      },
      "id": "DataTransfersListResponse",
      "type": "object"
    },
    "ApplicationsListResponse": {
      "properties": {
        "applications": {
          "type": "array",
          "items": {
            "$ref": "Application"
          },
          "description": "The list of applications that support data transfer and are also installed for the customer."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications."
        }
      },
      "id": "ApplicationsListResponse",
      "type": "object",
      "description": "Template for a collection of Applications."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260913",
  "kind": "discovery#restDescription",
  "packagePath": "admin",
  "ownerName": "Google",
  "resources": {
    "transfers": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "id": "datatransfer.transfers.list",
          "httpMethod": "GET",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "flatPath": "admin/datatransfer/v1/transfers",
          "parameters": {
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify the next page in the list.",
              "type": "string"
            },
            "newOwnerUserId": {
              "description": "Destination user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "maximum": "500"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "path": "admin/datatransfer/v1/transfers"
        },
        "get": {
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "DataTransfer"
          },
          "parameterOrder": [
            "dataTransferId"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "parameterOrder": [],
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "request": {
            "$ref": "DataTransfer"
          },
          "parameters": {},
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Lists the applications available for data transfer for a customer.",
          "flatPath": "admin/datatransfer/v1/applications",
          "parameters": {
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "maximum": "500",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "path": "admin/datatransfer/v1/applications",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list"
        },
        "get": {
          "parameters": {
            "applicationId": {
              "required": true,
              "description": "ID of the application resource to be retrieved.",
              "format": "int64",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [
            "applicationId"
          ],
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves information about an application for the given application ID."
        }
      }
    }
  },
  "protocol": "rest",
  "canonicalName": "DataTransfer",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerDomain": "google.com"
}