{
  "packagePath": "admin",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "datatransfer_v1",
  "title": "Admin SDK API",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "schemas": {
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object",
      "properties": {
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        },
        "applicationId": {
          "format": "int64",
          "type": "string",
          "description": "The application's ID."
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        }
      },
      "id": "ApplicationDataTransfer"
    },
    "ApplicationTransferParam": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "type": "object",
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters."
    },
    "DataTransfer": {
      "properties": {
        "overallTransferStatusCode": {
          "type": "string",
          "description": "Read-only. Overall transfer status."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "type": "array"
        },
        "requestTime": {
          "format": "date-time",
          "description": "Read-only. The time at which the data transfer was requested.",
          "type": "string"
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        }
      },
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object"
    },
    "DataTransfersListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "dataTransfers": {
          "type": "array",
          "description": "List of data transfer requests.",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "type": "string",
          "default": "admin#datatransfer#dataTransfersList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources."
    },
    "ApplicationsListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "items": {
            "$ref": "Application"
          },
          "type": "array"
        }
      },
      "description": "Template for a collection of Applications.",
      "id": "ApplicationsListResponse",
      "type": "object"
    },
    "Application": {
      "properties": {
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "type": "array",
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "type": "string"
        },
        "kind": {
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        }
      },
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object"
    }
  },
  "basePath": "",
  "protocol": "rest",
  "rootUrl": "https://admin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "revision": "20260914",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "ownerName": "Google",
  "id": "admin:datatransfer_v1",
  "servicePath": "",
  "batchPath": "batch",
  "canonicalName": "DataTransfer",
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameters": {
            "dataTransferId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method."
            }
          },
          "response": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "list": {
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "parameters": {
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "status": {
              "description": "Status of the transfer.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "1",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query",
              "maximum": "500"
            },
            "newOwnerUserId": {
              "type": "string",
              "location": "query",
              "description": "Destination user's profile ID."
            }
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "insert": {
          "parameterOrder": [],
          "parameters": {},
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "request": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "id": "datatransfer.transfers.insert",
          "path": "admin/datatransfer/v1/transfers",
          "response": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers"
        }
      }
    },
    "applications": {
      "methods": {
        "list": {
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "flatPath": "admin/datatransfer/v1/applications",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Lists the applications available for data transfer for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.list",
          "parameters": {
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "format": "int32",
              "maximum": "500",
              "description": "Maximum number of results to return. Default is 100.",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.applications.get",
          "description": "Retrieves information about an application for the given application ID.",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "response": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "applicationId"
          ],
          "parameters": {
            "applicationId": {
              "format": "int64",
              "type": "string",
              "description": "ID of the application resource to be retrieved.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/"
}