{
  "basePath": "",
  "description": "The AdMob API allows publishers to programmatically get information about their AdMob account. ",
  "discoveryVersion": "v1",
  "id": "admob:v1beta",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/admob/api/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admob.report": {
          "description": "See your AdMob data"
        },
        "https://www.googleapis.com/auth/admob.readonly": {
          "description": "See your AdMob data"
        }
      }
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "adUnitMappings": {
          "methods": {
            "batchCreate": {
              "request": {
                "$ref": "BatchCreateAdUnitMappingsRequest"
              },
              "response": {
                "$ref": "BatchCreateAdUnitMappingsResponse"
              },
              "path": "v1beta/{+parent}/adUnitMappings:batchCreate",
              "id": "admob.accounts.adUnitMappings.batchCreate",
              "streamingType": "NONE",
              "httpMethod": "POST",
              "description": "Batch create the ad unit mappings under the specific AdMob account. The maximum allowed batch size is 100. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The AdMob account which owns this collection of ad unit mappings. Format: accounts/{publisher_id} See https://support.google.com/admob/answer/2784578 for instructions on how to find your AdMob publisher ID.",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/accounts/{accountsId}/adUnitMappings:batchCreate"
            }
          }
        },
        "networkReport": {
          "methods": {
            "generate": {
              "streamingType": "SERVER_SIDE",
              "id": "admob.accounts.networkReport.generate",
              "request": {
                "$ref": "GenerateNetworkReportRequest"
              },
              "flatPath": "v1beta/accounts/{accountsId}/networkReport:generate",
              "path": "v1beta/{+parent}/networkReport:generate",
              "parameters": {
                "parent": {
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GenerateNetworkReportResponse"
              },
              "description": "Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ]
            }
          }
        },
        "campaignReport": {
          "methods": {
            "generate": {
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GenerateCampaignReportResponse"
              },
              "httpMethod": "POST",
              "id": "admob.accounts.campaignReport.generate",
              "streamingType": "NONE",
              "flatPath": "v1beta/accounts/{accountsId}/campaignReport:generate",
              "request": {
                "$ref": "GenerateCampaignReportRequest"
              },
              "path": "v1beta/{+parent}/campaignReport:generate",
              "parameterOrder": [
                "parent"
              ],
              "description": "Generates Campaign Report based on provided specifications."
            }
          }
        },
        "adUnits": {
          "methods": {
            "list": {
              "streamingType": "NONE",
              "response": {
                "$ref": "ListAdUnitsResponse"
              },
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation of a prior `ListAdUnits` call, and that the system should return the next page of data."
                }
              },
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/adUnits",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "admob.accounts.adUnits.list",
              "description": "List the ad units under the specified AdMob account."
            },
            "create": {
              "id": "admob.accounts.adUnits.create",
              "response": {
                "$ref": "AdUnit"
              },
              "path": "v1beta/{+parent}/adUnits",
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AdUnit"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the account to create the specified ad unit for. Example: accounts/pub-9876543210987654"
                }
              },
              "httpMethod": "POST",
              "description": "Creates an ad unit under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "streamingType": "NONE"
            }
          },
          "resources": {
            "adUnitMappings": {
              "methods": {
                "list": {
                  "description": "List ad unit mappings under the specified AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "path": "v1beta/{+parent}/adUnitMappings",
                  "response": {
                    "$ref": "ListAdUnitMappingsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ],
                  "id": "admob.accounts.adUnits.adUnitMappings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "streamingType": "NONE",
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of ad unit mappings to return. If unspecified or 0, at most 10,000 ad unit mappings will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListAdUnitMappings` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The parent which owns this collection of ad unit mappings. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible field to filter by is: - \"DISPLAY_NAME\" Possible filter function is: - `IN`: Used to filter fields that represent a singleton including \"DISPLAY_NAME\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Ad Unit Mapping 1\", \"Test Ad Unit Mapping 2\")",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "AdUnitMapping"
                  },
                  "path": "v1beta/{+parent}/adUnitMappings",
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings",
                  "id": "admob.accounts.adUnits.adUnitMappings.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$",
                      "description": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "AdUnitMapping"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an ad unit mapping under the specific AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "httpMethod": "POST",
                  "streamingType": "NONE"
                }
              }
            }
          }
        },
        "adSources": {
          "resources": {
            "adapters": {
              "methods": {
                "list": {
                  "id": "admob.accounts.adSources.adapters.list",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adSources/[^/]+$",
                      "required": true,
                      "description": "Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListAdaptersResponse"
                  },
                  "description": "List the adapters of the ad source.",
                  "path": "v1beta/{+parent}/adapters",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/accounts/{accountsId}/adSources/{adSourcesId}/adapters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "streamingType": "NONE",
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAdSourcesResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "v1beta/{+parent}/adSources",
              "id": "admob.accounts.adSources.list",
              "streamingType": "NONE",
              "httpMethod": "GET",
              "flatPath": "v1beta/accounts/{accountsId}/adSources",
              "description": "List the ad sources."
            }
          }
        },
        "mediationReport": {
          "methods": {
            "generate": {
              "description": "Generates an AdMob Mediation report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
              "response": {
                "$ref": "GenerateMediationReportResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
                }
              },
              "request": {
                "$ref": "GenerateMediationReportRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "path": "v1beta/{+parent}/mediationReport:generate",
              "flatPath": "v1beta/accounts/{accountsId}/mediationReport:generate",
              "streamingType": "SERVER_SIDE",
              "id": "admob.accounts.mediationReport.generate"
            }
          }
        },
        "mediationGroups": {
          "methods": {
            "create": {
              "id": "admob.accounts.mediationGroups.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "MediationGroup"
              },
              "path": "v1beta/{+parent}/mediationGroups",
              "description": "Create a mediation group under the specific AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}",
                  "required": true,
                  "type": "string"
                }
              },
              "streamingType": "NONE",
              "request": {
                "$ref": "MediationGroup"
              },
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "httpMethod": "POST"
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "MediationGroup"
              },
              "description": "Update the specified mediation group under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "List of mediation group fields to be updated. Updates to repeated fields such as items in a list will fully replace the existing value(s) with the new value(s). Updates to individual values in a map can be done by indexing by the key. The following field masks are supported for mediation group updates: - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"]\" clang-format off - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].ad_unit_mappings[\\\"{ad_unit_id}\\\"]\" clang-format on - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_micros\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_mode\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].state\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].display_name\" - \"targeting.ad_unit_ids\" To update a mediation group with a new mediation group line, use a distinct negative number for the \"mediation_group_line_id\". For Example: update_mask { paths: \"mediation_group_lines[\\\"123456789012345\\\"].cpm_micros\" }"
                },
                "name": {
                  "description": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$"
                }
              },
              "id": "admob.accounts.mediationGroups.patch",
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MediationGroup"
              },
              "streamingType": "NONE"
            },
            "list": {
              "description": "List mediation groups under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "path": "v1beta/{+parent}/mediationGroups",
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "id": "admob.accounts.mediationGroups.list",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of mediation groups to return. If unspecified or 0, at most 10,000 mediation groups will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. Resource name of the account to list mediation groups for. Example: accounts/pub-9876543210987654",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The value returned by the last `ListMediationGroupsResponse`; indicates that this is a continuation of a prior `ListMediationGroups` call, and that the system should return the next page of data."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible fields to filter by are: - \"AD_SOURCE_IDS\" - \"AD_UNIT_IDS\" - \"APP_IDS\" - \"DISPLAY_NAME\" - \"FORMAT\" - \"MEDIATION_GROUP_ID\" - \"PLATFORM\" - \"STATE\" - \"TARGETED_REGION_CODES\" Possible filter functions are: - `IN`: Used to filter fields that represent a singleton including \"MEDIATION_GROUP_ID\", \"DISPLAY_NAME\", \"STATE\", \"PLATFORM\", and \"FORMAT\". - `CONTAINS_ANY`: Used to filter fields that represent a collection including \"AD_SOURCE_IDS\", \"AD_UNIT_IDS\", \"APP_IDS\", and \"TARGETED_REGION_CODES\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Group 1\", \"Test Group 2\") AND IN(PLATFORM, \"ANDROID\") AND CONTAINS_ANY(AD_SOURCE_IDS, \"5450213213286189855\")"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "response": {
                "$ref": "ListMediationGroupsResponse"
              },
              "streamingType": "NONE",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "mediationAbExperiments": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments",
                  "path": "v1beta/{+parent}/mediationAbExperiments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an A/B testing experiment for a specified AdMob account and a mediation group. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}/mediationGroups/{mediation_group_id}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.create",
                  "streamingType": "NONE",
                  "request": {
                    "$ref": "MediationAbExperiment"
                  }
                },
                "stop": {
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments:stop",
                  "httpMethod": "POST",
                  "description": "Stop the mediation A/B experiment and choose a variant. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "path": "v1beta/{+name}:stop",
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.stop",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+/mediationAbExperiments$",
                      "required": true,
                      "description": "Name of the mediation group, the experiment for which to choose a variant for. Example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiments"
                    }
                  },
                  "request": {
                    "$ref": "StopMediationAbExperimentRequest"
                  },
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "streamingType": "NONE",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "apps": {
          "methods": {
            "create": {
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "path": "v1beta/{+parent}/apps",
              "streamingType": "NONE",
              "response": {
                "$ref": "App"
              },
              "request": {
                "$ref": "App"
              },
              "httpMethod": "POST",
              "description": "Creates an app under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "parent": {
                  "description": "Required. Resource name of the account for which the app is being created. Example: accounts/pub-9876543210987654",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "admob.accounts.apps.create"
            },
            "list": {
              "response": {
                "$ref": "ListAppsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "streamingType": "NONE",
              "description": "List the apps under the specified AdMob account.",
              "id": "admob.accounts.apps.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "path": "v1beta/{+parent}/apps",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The value returned by the last `ListAppsResponse`; indicates that this is a continuation of a prior `ListApps` call, and that the system should return the next page of data.",
                  "location": "query"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ],
          "description": "Gets information about the specified AdMob publisher account.",
          "id": "admob.accounts.get",
          "httpMethod": "GET",
          "flatPath": "v1beta/accounts/{accountsId}",
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ],
          "streamingType": "NONE",
          "response": {
            "$ref": "PublisherAccount"
          }
        },
        "list": {
          "description": "Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For more information, see https://support.google.com/admob/answer/10243672.",
          "flatPath": "v1beta/accounts",
          "httpMethod": "GET",
          "streamingType": "NONE",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Maximum number of accounts to return.",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "ListPublisherAccountsResponse"
          },
          "id": "admob.accounts.list",
          "path": "v1beta/accounts",
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ]
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "name": "admob",
  "ownerDomain": "google.com",
  "revision": "20260903",
  "version": "v1beta",
  "protocol": "rest",
  "schemas": {
    "GenerateNetworkReportRequest": {
      "type": "object",
      "id": "GenerateNetworkReportRequest",
      "description": "Request to generate an AdMob Network report.",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "NetworkReportSpec"
        }
      }
    },
    "ReportRow": {
      "id": "ReportRow",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "type": "object",
          "description": "Map of dimension values in a row, with keys as enum name of the dimensions.",
          "additionalProperties": {
            "$ref": "ReportRowDimensionValue"
          }
        },
        "metricValues": {
          "type": "object",
          "description": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it.",
          "additionalProperties": {
            "$ref": "ReportRowMetricValue"
          }
        }
      },
      "description": "A row of the returning report."
    },
    "MediationAbExperiment": {
      "properties": {
        "displayName": {
          "description": "The display name for the mediation A/B experiment.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. The time at which the experiment was started (in UTC).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "treatmentMediationLines": {
          "type": "array",
          "description": "The experiment mediation lines created for the treatment. They will be used for serving when the experiment status is RUNNING.",
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          }
        },
        "experimentId": {
          "type": "string",
          "description": "Output only. Unique identifier for the mediation A/B experiment. It is an output only property.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "EXPERIMENT_STATE_UNSPECIFIED",
            "EXPIRED",
            "RUNNING",
            "ENDED"
          ],
          "enumDescriptions": [
            "Default for an unset field. Do not use.",
            "The experiment has expired.",
            "The experiment is running and thus used in serving.",
            "The experiment is ended, but not yet expired. Serving continues in the original configurations while the experiment is ready to call an action."
          ],
          "description": "Output only. The state of the experiment. It is an output only field."
        },
        "variantLeader": {
          "enumDescriptions": [
            "Default value of the enum. Do not use.",
            "The control leading the experiment.",
            "The treatment leading the experiment.",
            "Collected data (impressions) are insufficient to determine a leader.",
            "Experiment hasn't run long enough to determine a leader.",
            "Neither variant is a decisive winner in the observed data."
          ],
          "enum": [
            "VARIANT_LEADER_UNSPECIFIED",
            "CONTROL",
            "TREATMENT",
            "INSUFFICIENT_DATA",
            "TOO_EARLY_TO_CALL",
            "NO_VARIANT_LEADER"
          ],
          "description": "Output only. The variant leader for the experiment according to some key metrics.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time at which the experiment was ended or target to end (in UTC).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "treatmentTrafficPercentage": {
          "format": "int64",
          "description": "The percentage of the mediation A/B experiment traffic that will be send to the treatment (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details.",
          "type": "string"
        },
        "mediationGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The mediation group id this experiment belongs to. This can be used for filtering the experiments in the list experiments API."
        },
        "name": {
          "description": "Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/ {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiment/12345",
          "type": "string"
        },
        "controlMediationLines": {
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          },
          "type": "array",
          "description": "Output only. The experiment mediation lines for control. They are inherited from the parent mediation group. It is an output only field.",
          "readOnly": true
        }
      },
      "id": "MediationAbExperiment",
      "description": "The mediation A/B experiment.",
      "type": "object"
    },
    "BatchCreateAdUnitMappingsRequest": {
      "id": "BatchCreateAdUnitMappingsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "CreateAdUnitMappingRequest"
          },
          "description": "Required. The request message specifying the ad unit mappings to create. A maximum of 100 ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed 100, the entire request will be rejected and no ad unit mappings will be created."
        }
      },
      "type": "object",
      "description": "Request to create a batch of ad unit mappings under the specific AdMob account."
    },
    "BatchCreateAdUnitMappingsResponse": {
      "type": "object",
      "description": "Response containing a batch of created ad unit mappings.",
      "id": "BatchCreateAdUnitMappingsResponse",
      "properties": {
        "adUnitMappings": {
          "type": "array",
          "description": "The Ad units mappings created under the requested account.",
          "items": {
            "$ref": "AdUnitMapping"
          }
        }
      }
    },
    "GenerateNetworkReportResponse": {
      "type": "object",
      "id": "GenerateNetworkReportResponse",
      "description": "The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"dateRange\": { \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localizationSettings\": { \"currencyCode\": \"USD\", \"languageCode\": \"en-US\" } } }, { \"row\": { \"dimensionValues\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", displayLabel: \"My app name!\" } }, \"metricValues\": { \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000} } } }, { \"footer\": {\"matchingRowCount\": 1} }]",
      "properties": {
        "header": {
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings.",
          "$ref": "ReportHeader"
        },
        "footer": {
          "description": "Additional information about the generated report, such as warnings about the data.",
          "$ref": "ReportFooter"
        },
        "row": {
          "$ref": "ReportRow",
          "description": "Actual report data."
        }
      }
    },
    "MediationReportSpecDimensionFilter": {
      "description": "Describes which report rows to match based on their dimension values.",
      "id": "MediationReportSpecDimensionFilter",
      "properties": {
        "matchesAny": {
          "$ref": "StringList",
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
        },
        "dimension": {
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Applies the filter criterion to the specified dimension."
        }
      },
      "type": "object"
    },
    "AppLinkedAppInfo": {
      "type": "object",
      "id": "AppLinkedAppInfo",
      "description": "Information from the app store if the app is linked to an app store.",
      "properties": {
        "androidAppStores": {
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "Google Play Store.",
              "Amazon Appstore.",
              "Oppo App Market.",
              "Samsung Galaxy Store.",
              "VIVO App Store.",
              "Xiaomi GetApps."
            ],
            "enum": [
              "ANDROID_APP_STORE_UNSPECIFIED",
              "GOOGLE_PLAY_APP_STORE",
              "AMAZON_APP_STORE",
              "OPPO_APP_STORE",
              "SAMSUNG_APP_STORE",
              "VIVO_APP_STORE",
              "XIAOMI_APP_STORE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The app store information for published Android apps. This field is only used for apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is the Google Play App store. This field can be updated after app is created. If the app is not published, this field will not be included in the response."
        },
        "appStoreId": {
          "description": "The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: \"com.example.myapp\". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example \"105169111\". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store."
        }
      }
    },
    "ListAppsResponse": {
      "id": "ListAppsResponse",
      "description": "Response for the apps list request.",
      "properties": {
        "apps": {
          "items": {
            "$ref": "App"
          },
          "description": "The resulting apps for the requested account.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more apps for the request; this value should be passed in a new `ListAppsRequest`."
        }
      },
      "type": "object"
    },
    "ListAdUnitMappingsResponse": {
      "description": "Response for the ListAdUnitMappingsRequest.",
      "properties": {
        "adUnitMappings": {
          "items": {
            "$ref": "AdUnitMapping"
          },
          "description": "The ad unit mappings from the specified account and ad unit.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Used to set the `page_token` in the `ListAdUnitMappingsRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAdUnitMappingsResponse",
      "type": "object"
    },
    "ReportFooter": {
      "properties": {
        "warnings": {
          "type": "array",
          "description": "Warnings associated with generation of the report.",
          "items": {
            "$ref": "ReportWarning"
          }
        },
        "matchingRowCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response."
        }
      },
      "type": "object",
      "id": "ReportFooter",
      "description": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response."
    },
    "PublisherAccount": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of this account. Format is accounts/{publisher_id}."
        },
        "reportingTimeZone": {
          "type": "string",
          "description": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion."
        },
        "publisherId": {
          "type": "string",
          "description": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890)."
        }
      },
      "id": "PublisherAccount",
      "type": "object",
      "description": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports."
    },
    "ListMediationGroupsResponse": {
      "type": "object",
      "description": "Response for the mediation groups list request.",
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there may be more mediation groups for the request; this value should be passed in a new `ListMediationGroupsRequest`.",
          "type": "string"
        },
        "mediationGroups": {
          "items": {
            "$ref": "MediationGroup"
          },
          "type": "array",
          "description": "The resulting mediation groups for the requested account."
        }
      },
      "id": "ListMediationGroupsResponse"
    },
    "CampaignReportSpec": {
      "description": "The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS and CLICKS sliced by CAMPAIGN_ID can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 12, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 12, \"day\": 30} }, \"dimensions\": [\"CAMPAIGN_ID\"], \"metrics\": [\"IMPRESSIONS\", \"CLICKS\"], }",
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated. The max range is 30 days.",
          "$ref": "DateRange"
        },
        "metrics": {
          "type": "array",
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of times an ad is shown to the user.",
              "The number of times a user clicks an ad.",
              "The number of clicks an ad receives divided by the number of times the ad is shown.",
              "The number of times apps were downloaded to devices.",
              "The estimated cost of serving a campaign ad instead of an ad that earns revenue. The currency is the reporting currency for campaigns.",
              "The average cost per install. This means the average amount that was spent to acquire a new user. The currency is the reporting currency for campaigns.",
              "The number of times a user interacts with an ad. This consists of clicks and engagements."
            ],
            "enum": [
              "METRIC_UNSPECIFIED",
              "IMPRESSIONS",
              "CLICKS",
              "CLICK_THROUGH_RATE",
              "INSTALLS",
              "ESTIMATED_COST",
              "AVERAGE_CPI",
              "INTERACTIONS"
            ],
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Language used for any localized text, such as certain applicable dimension values. The language tag is defined in the IETF BCP47. Defaults to 'en-US' if unspecified or invalid.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Default value of an unspecified dimension. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\").",
              "The unique ID of the campaign, for example \"123456789\", which is consistent with the campaign id from campaign list api.",
              "The name of the campaign.",
              "The unique ID of the ad, for example \"123456789\".",
              "The name of the ad, which may not be unique.",
              "The vendor-specific unique ID of the app where the ad is placed. For example, com.goog.bar for Android and 123456789 for iOS apps.",
              "The name of the app where the ad is placed.",
              "The platform of the app where the ad is placed.",
              "The name of the targeted country.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension."
            ],
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "CAMPAIGN_ID",
              "CAMPAIGN_NAME",
              "AD_ID",
              "AD_NAME",
              "PLACEMENT_ID",
              "PLACEMENT_NAME",
              "PLACEMENT_PLATFORM",
              "COUNTRY",
              "FORMAT"
            ],
            "type": "string"
          },
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
        }
      },
      "id": "CampaignReportSpec",
      "type": "object"
    },
    "GenerateMediationReportResponse": {
      "id": "GenerateMediationReportResponse",
      "description": "The streaming response for the AdMob Mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]",
      "type": "object",
      "properties": {
        "row": {
          "$ref": "ReportRow",
          "description": "Actual report data."
        },
        "footer": {
          "description": "Additional information about the generated report, such as warnings about the data.",
          "$ref": "ReportFooter"
        },
        "header": {
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings.",
          "$ref": "ReportHeader"
        }
      }
    },
    "CreateAdUnitMappingRequest": {
      "id": "CreateAdUnitMappingRequest",
      "properties": {
        "parent": {
          "description": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
          "type": "string"
        },
        "adUnitMapping": {
          "$ref": "AdUnitMapping",
          "description": "Required. The ad unit mapping to create."
        }
      },
      "type": "object",
      "description": "Request to create an ad unit mapping under the specific AdMob account and ad unit."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object"
    },
    "LocalizationSettings": {
      "properties": {
        "languageCode": {
          "description": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified."
        }
      },
      "type": "object",
      "id": "LocalizationSettings",
      "description": "Localization settings for reports, such as currency and language. It affects how metrics are calculated."
    },
    "ReportRowMetricValue": {
      "properties": {
        "integerValue": {
          "format": "int64",
          "type": "string",
          "description": "Metric integer value."
        },
        "microsValue": {
          "description": "Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.",
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "description": "Double precision (approximate) decimal values. Rates are from 0 to 1.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Representation of a metric value.",
      "id": "ReportRowMetricValue",
      "type": "object"
    },
    "ReportRowDimensionValue": {
      "type": "object",
      "id": "ReportRowDimensionValue",
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The localized string representation of the value. If unspecified, the display label should be derived from the value."
        },
        "value": {
          "description": "Dimension value in the format specified in the report's spec Dimension enum.",
          "type": "string"
        }
      },
      "description": "Representation of a dimension value."
    },
    "MediationGroupMediationGroupLine": {
      "properties": {
        "id": {
          "description": "The 16 digit ID for this mediation line e.g. 0123456789012345. When creating a new mediation group line, use a distinct negative integer as the ID place holder.",
          "type": "string"
        },
        "cpmMicros": {
          "type": "string",
          "format": "int64",
          "description": "The CPM for this allocation line. $0.01 is the minimum allowed amount. For LIVE CPM modes, the default amount is $0.01. This value is ignored if `cpm_mode` is `LIVE`. **Warning:** \"USD\" is the only supported currency at the moment. The unit is in micros."
        },
        "cpmMode": {
          "description": "Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE` are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com) if you wish to create or update to other cpm modes.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "CPM is calculated per ad request based on the ad auction.",
            "CPM is set by the user manually.",
            "CPM is retrieved from the ad network using the publisher specified credentials. Output only."
          ],
          "enum": [
            "CPM_MODE_UNSPECIFIED",
            "LIVE",
            "MANUAL",
            "ANO"
          ],
          "type": "string"
        },
        "adSourceId": {
          "description": "The ID of the ad source this mediation line is associated with.",
          "type": "string"
        },
        "displayName": {
          "description": "User-provided label for this mediation line. The maximum length allowed is 255 characters.",
          "type": "string"
        },
        "experimentVariant": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group line belongs to the variant A.",
            "The mediation group line belongs to the variant B.",
            "The mediation group line isn't a part of an experiment."
          ],
          "enum": [
            "VARIANT_UNSPECIFIED",
            "VARIANT_A",
            "VARIANT_B",
            "ORIGINAL"
          ],
          "type": "string",
          "description": "Output only. The Mediation A/B experiment variant to which the mediation group line belongs to."
        },
        "adUnitMappings": {
          "description": "References of the ad unit mappings for each ad unit associated with this mediation line. Key is the ad unit ID, value is resource name of the ad unit mapping. For mediation lines where the ad source id is the AdMob Network, ad unit mappings will be ignored.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "The status of the mediation group line. Only enabled mediation group lines will be served.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group line is active and used to serve ads.",
            "The mediation group line has been disabled and is no longer served. Disabled mediation group lines can be re-enabled.",
            "The mediation group line will be removed and no longer served. Removed mediation group lines can not be re-enabled and will no longer be visible. This is an input only field."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "REMOVED"
          ]
        }
      },
      "id": "MediationGroupMediationGroupLine",
      "description": "Settings for an ad network used by a mediation group.",
      "type": "object"
    },
    "App": {
      "type": "object",
      "properties": {
        "manualAppInfo": {
          "$ref": "AppManualAppInfo",
          "description": "The information for an app that is not linked to any app store. After an app is linked, this information is still retrivable. If no name is provided for the app upon creation, a placeholder name will be used."
        },
        "platform": {
          "type": "string",
          "description": "Describes the platform of the app. Limited to \"IOS\" and \"ANDROID\"."
        },
        "appId": {
          "description": "The externally visible ID of the app which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654~0123456789",
          "type": "string"
        },
        "linkedAppInfo": {
          "$ref": "AppLinkedAppInfo",
          "description": "Immutable. The information for an app that is linked to an app store. This field is present if and only if the app is linked to an app store."
        },
        "name": {
          "description": "Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example: accounts/pub-9876543210987654/apps/0123456789",
          "type": "string"
        },
        "appApprovalState": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The app requires additional user action to be approved. Please refer to https://support.google.com/admob/answer/10564477 for details and next steps.",
            "The app is pending review.",
            "The app is approved and can serve ads."
          ],
          "description": "Output only. The approval state for the app. The field is read-only.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "APP_APPROVAL_STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "IN_REVIEW",
            "APPROVED"
          ]
        }
      },
      "description": "Describes an AdMob app for a specific platform (For example: Android or iOS).",
      "id": "App"
    },
    "MediationGroupTargeting": {
      "id": "MediationGroupTargeting",
      "type": "object",
      "properties": {
        "excludedRegionCodes": {
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group does not exclude any region.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "Ad format targeted by this mediation group. Examples: \"BANNER\", \"NATIVE\".",
          "type": "string"
        },
        "platform": {
          "type": "string",
          "description": "Describes the platform of the app. Examples: \"IOS\", \"ANDROID\"."
        },
        "idfaTargeting": {
          "description": "The parameter can be used to target ad requests based on the availability of the IDFA. If set to ALL, the mediation group applies to all ad requests (with or without IDFA). If set to AVAILABLE, the mediation group applies to ad requests with IDFA. If set to NOT_AVAILABLE, the mediation group applies to ad requests without IDFA. Doesn't need to be specified for an ANDROID device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "All the devices are targeted, regardless of IDFA availability.",
            "Only the devices with IDFA availability are targeted.",
            "Only the devices without IDFA availability are targeted."
          ],
          "type": "string",
          "enum": [
            "IDFA_TARGETING_UNSPECIFIED",
            "ALL",
            "AVAILABLE",
            "NOT_AVAILABLE"
          ]
        },
        "targetedRegionCodes": {
          "type": "array",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group targets all available regions. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag.",
          "items": {
            "type": "string"
          }
        },
        "adUnitIds": {
          "items": {
            "type": "string"
          },
          "description": "Ad units targeted by this mediation group. Example: \"ca-app-pub-1234/8790\".",
          "type": "array"
        }
      },
      "description": "Set of criteria targeted by this mediation group. For example, a mediation group can target specific ad unit IDs, platform, format and geo location."
    },
    "StringList": {
      "type": "object",
      "id": "StringList",
      "description": "List of string values.",
      "properties": {
        "values": {
          "description": "The string values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AppManualAppInfo": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the app as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters."
        }
      },
      "id": "AppManualAppInfo",
      "type": "object",
      "description": "Information provided for manual apps which are not linked to an application store (Example: Google Play, App Store)."
    },
    "AdUnitRewardSettings": {
      "properties": {
        "unitType": {
          "type": "string",
          "description": "Reward item for this ad unit."
        },
        "unitAmount": {
          "description": "Reward amount for this ad unit.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AdUnitRewardSettings",
      "type": "object",
      "description": "Settings for a rewarded ad unit."
    },
    "MediationReportSpec": {
      "properties": {
        "timeZone": {
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment.",
          "type": "string"
        },
        "sortConditions": {
          "type": "array",
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
          "items": {
            "$ref": "MediationReportSpecSortCondition"
          }
        },
        "maxReportRows": {
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
          "format": "int32",
          "type": "integer"
        },
        "localizationSettings": {
          "description": "Localization settings of the report.",
          "$ref": "LocalizationSettings"
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated."
        },
        "metrics": {
          "items": {
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of requests. The value is an integer.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
              "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
            ]
          },
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "type": "array"
        },
        "dimensions": {
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
          "items": {
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
              "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
              "Mobile operating system version, e.g. \"iOS 13.5.1\".",
              "GMA SDK version, e.g. \"iOS 7.62.0\".",
              "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
              "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
            ]
          },
          "type": "array"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "MediationReportSpecDimensionFilter"
          },
          "description": "Describes which report rows to match based on their dimension values.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "MediationReportSpec",
      "description": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;"
    },
    "ReportWarning": {
      "type": "object",
      "description": "Warnings associated with generation of the report.",
      "properties": {
        "description": {
          "description": "Describes the details of the warning message, in English.",
          "type": "string"
        },
        "type": {
          "description": "Type of the warning.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Some data in this report is aggregated based on a time zone different from the requested time zone. This could happen if a local time-zone report has the start time before the last time this time zone changed. The description field will contain the date of the last time zone change.",
            "There is an unusual delay in processing the source data for the requested date range. The report results might be less up to date than usual. AdMob is aware of the issue and is actively working to resolve it.",
            "Warnings that are exposed without a specific type. Useful when new warning types are added but the API is not changed yet.",
            "The currency being requested is not the account currency. The earning metrics will be based on the requested currency, and thus not a good estimation of the final payment anymore, due to the currency rate fluctuation."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
            "DATA_DELAYED",
            "OTHER",
            "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
          ],
          "type": "string"
        }
      },
      "id": "ReportWarning"
    },
    "GenerateCampaignReportRequest": {
      "properties": {
        "reportSpec": {
          "description": "Campaign report specification.",
          "$ref": "CampaignReportSpec"
        }
      },
      "description": "Request to generate campaign report.",
      "id": "GenerateCampaignReportRequest",
      "type": "object"
    },
    "AdapterAdapterConfigMetadata": {
      "type": "object",
      "id": "AdapterAdapterConfigMetadata",
      "properties": {
        "isRequired": {
          "type": "boolean",
          "description": "Whether this metadata is required for configuring the AdUnitMappings."
        },
        "adapterConfigMetadataId": {
          "type": "string",
          "description": "This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations)."
        },
        "adapterConfigMetadataLabel": {
          "type": "string",
          "description": "Name of the adapter configuration metadata."
        }
      },
      "description": "Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations associated with AdUnitMappings for the this adapter."
    },
    "AdSource": {
      "properties": {
        "adSourceId": {
          "type": "string",
          "description": "ID of this ad source."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}"
        },
        "title": {
          "description": "Display name of this ad source.",
          "type": "string"
        }
      },
      "id": "AdSource",
      "description": "Definition of a mediation ad source.",
      "type": "object"
    },
    "ReportHeader": {
      "properties": {
        "dateRange": {
          "description": "The date range for which the report is generated. This is identical to the range specified in the report request.",
          "$ref": "DateRange"
        },
        "localizationSettings": {
          "description": "Localization settings of the report. This is identical to the settings in the report request.",
          "$ref": "LocalizationSettings"
        },
        "reportingTimeZone": {
          "type": "string",
          "description": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
        }
      },
      "type": "object",
      "id": "ReportHeader",
      "description": "Groups data helps to treat the generated report. Always sent as a first message in the stream response."
    },
    "NetworkReportSpecDimensionFilter": {
      "id": "NetworkReportSpecDimensionFilter",
      "description": "Describes which report rows to match based on their dimension values.",
      "type": "object",
      "properties": {
        "matchesAny": {
          "$ref": "StringList",
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
        },
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ]
        }
      }
    },
    "ListPublisherAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.",
          "type": "string"
        },
        "account": {
          "description": "Publisher that the client credentials can access.",
          "items": {
            "$ref": "PublisherAccount"
          },
          "type": "array"
        }
      },
      "id": "ListPublisherAccountsResponse",
      "type": "object",
      "description": "Response for the publisher account list request."
    },
    "AdUnit": {
      "type": "object",
      "properties": {
        "adFormat": {
          "type": "string",
          "description": "AdFormat of the ad unit. Possible values are as follows: \"APP_OPEN\" - App Open ad format. \"BANNER\" - Banner ad format. \"BANNER_INTERSTITIAL\" - Legacy format that can be used as either banner or interstitial. This format can no longer be created but can be targeted by mediation groups. \"INTERSTITIAL\" - A full screen ad. Supported ad types are \"RICH_MEDIA\" and \"VIDEO\". \"NATIVE\" - Native ad format. \"REWARDED\" - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user. Supported ad types are \"RICH_MEDIA\" (interactive) and video where video can not be excluded. \"REWARDED_INTERSTITIAL\" - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467."
        },
        "rewardSettings": {
          "$ref": "AdUnitRewardSettings",
          "description": "Optional. Settings for a rewarded ad unit. This can be set or unset only when the ad_format is \"REWARDED\"."
        },
        "appId": {
          "description": "The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment} Example: accounts/pub-9876543210987654/adUnits/0123456789"
        },
        "adTypes": {
          "description": "Ad media type supported by this ad unit. Possible values as follows: \"RICH_MEDIA\" - Text, image, and other non-video media. \"VIDEO\" - Video media.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the ad unit as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters."
        },
        "adUnitId": {
          "description": "The externally visible ID of the ad unit which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654/0123456789",
          "type": "string"
        }
      },
      "description": "Describes an AdMob ad unit.",
      "id": "AdUnit"
    },
    "ListAdSourcesResponse": {
      "type": "object",
      "id": "ListAdSourcesResponse",
      "description": "Response for the ListAdSourcesRequest.",
      "properties": {
        "adSources": {
          "description": "The ad sources.",
          "items": {
            "$ref": "AdSource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "NetworkReportSpec": {
      "properties": {
        "timeZone": {
          "type": "string",
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
        },
        "dateRange": {
          "description": "The date range for which the report is generated.",
          "$ref": "DateRange"
        },
        "dimensionFilters": {
          "items": {
            "$ref": "NetworkReportSpecDimensionFilter"
          },
          "type": "array",
          "description": "Describes which report rows to match based on their dimension values."
        },
        "localizationSettings": {
          "description": "Localization settings of the report.",
          "$ref": "LocalizationSettings"
        },
        "maxReportRows": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error."
        },
        "sortConditions": {
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
          "items": {
            "$ref": "NetworkReportSpecSortCondition"
          },
          "type": "array"
        },
        "dimensions": {
          "type": "array",
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
          "items": {
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_UNIT",
              "APP",
              "AD_TYPE",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
              "Mobile operating system version, e.g. \"iOS 13.5.1\".",
              "GMA SDK version, e.g. \"iOS 7.62.0\".",
              "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
              "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
            ]
          }
        },
        "metrics": {
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "items": {
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "IMPRESSION_RPM",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "SHOW_RATE"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
              "The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value."
            ]
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "NetworkReportSpec",
      "description": "The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the 'US' and 'CN' countries can look like the following example: { 'date_range': { 'start_date': {'year': 2021, 'month': 9, 'day': 1}, 'end_date': {'year': 2021, 'month': 9, 'day': 30} }, 'dimensions': ['DATE', 'APP', 'COUNTRY'], 'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'], 'dimension_filters': [ { 'dimension': 'COUNTRY', 'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]} } ], 'sort_conditions': [ {'dimension':'APP', order: 'ASCENDING'}, {'metric':'CLICKS', order: 'DESCENDING'} ], 'localization_settings': { 'currency_code': 'USD', 'language_code': 'en-US' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;"
    },
    "AdUnitMapping": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value.",
            "The ad unit mapping is active and used to serve ads or collecting stats."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED"
          ],
          "type": "string",
          "description": "Output only. The status of this ad unit mapping.",
          "readOnly": true
        },
        "adapterId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of mediation ad source adapter used by this ad unit mapping. The adapter determines the information needed in the ad_network_settings."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of this ad unit mapping instance."
        },
        "name": {
          "description": "Resource name of this ad unit mapping. Format is: accounts/{publisher_id}/adUnits/{ad_unit_id_fragment}/adUnitMappings/{ad_unit_mapping_id} Example: accounts/pub-1234567890123456/adUnits/0123456789/adUnitMappings/987654321",
          "type": "string"
        },
        "adUnitConfigurations": {
          "description": "Settings for the specified ad unit to make an ad request to 3rd party ad network. Key-value pairs with values set by the user for the keys requested by the ad network. Please see https://support.google.com/admob/answer/3245073 for details on how to configure the network settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Settings to map an AdMob ad unit to a 3rd party ad unit.",
      "id": "AdUnitMapping"
    },
    "ListAdUnitsResponse": {
      "id": "ListAdUnitsResponse",
      "type": "object",
      "properties": {
        "adUnits": {
          "type": "array",
          "description": "The resulting ad units for the requested account.",
          "items": {
            "$ref": "AdUnit"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`."
        }
      },
      "description": "Response for the ad units list request."
    },
    "GenerateMediationReportRequest": {
      "id": "GenerateMediationReportRequest",
      "description": "Request to generate an AdMob Mediation report.",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "MediationReportSpec"
        }
      },
      "type": "object"
    },
    "MediationGroup": {
      "properties": {
        "state": {
          "description": "The status of the mediation group. Only enabled mediation groups will be served.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
[...]
