{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admob.readonly": {
          "description": "See your AdMob data"
        },
        "https://www.googleapis.com/auth/admob.report": {
          "description": "See your AdMob data"
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "canonicalName": "AdMob",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "rootUrl": "https://admob.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260913",
  "description": "The AdMob API allows publishers to programmatically get information about their AdMob account. ",
  "servicePath": "",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "streamingType": "NONE",
          "id": "admob.accounts.list",
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ],
          "description": "Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For more information, see https://support.google.com/admob/answer/10243672.",
          "parameterOrder": [],
          "path": "v1beta/accounts",
          "flatPath": "v1beta/accounts",
          "response": {
            "$ref": "ListPublisherAccountsResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Maximum number of accounts to return.",
              "format": "int32"
            }
          }
        },
        "get": {
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "description": "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Gets information about the specified AdMob publisher account.",
          "streamingType": "NONE",
          "flatPath": "v1beta/accounts/{accountsId}",
          "response": {
            "$ref": "PublisherAccount"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admob.readonly",
            "https://www.googleapis.com/auth/admob.report"
          ],
          "id": "admob.accounts.get",
          "httpMethod": "GET"
        }
      },
      "resources": {
        "adUnitMappings": {
          "methods": {
            "batchCreate": {
              "description": "Batch create the ad unit mappings under the specific AdMob account. The maximum allowed batch size is 100. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The AdMob account which owns this collection of ad unit mappings. Format: accounts/{publisher_id} See https://support.google.com/admob/answer/2784578 for instructions on how to find your AdMob publisher ID.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "admob.accounts.adUnitMappings.batchCreate",
              "streamingType": "NONE",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchCreateAdUnitMappingsRequest"
              },
              "flatPath": "v1beta/accounts/{accountsId}/adUnitMappings:batchCreate",
              "response": {
                "$ref": "BatchCreateAdUnitMappingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/adUnitMappings:batchCreate"
            }
          }
        },
        "mediationReport": {
          "methods": {
            "generate": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654"
                }
              },
              "streamingType": "SERVER_SIDE",
              "request": {
                "$ref": "GenerateMediationReportRequest"
              },
              "id": "admob.accounts.mediationReport.generate",
              "description": "Generates an AdMob Mediation report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "flatPath": "v1beta/accounts/{accountsId}/mediationReport:generate",
              "response": {
                "$ref": "GenerateMediationReportResponse"
              },
              "path": "v1beta/{+parent}/mediationReport:generate",
              "httpMethod": "POST"
            }
          }
        },
        "campaignReport": {
          "methods": {
            "generate": {
              "streamingType": "NONE",
              "flatPath": "v1beta/accounts/{accountsId}/campaignReport:generate",
              "response": {
                "$ref": "GenerateCampaignReportResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "httpMethod": "POST",
              "description": "Generates Campaign Report based on provided specifications.",
              "id": "admob.accounts.campaignReport.generate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GenerateCampaignReportRequest"
              },
              "path": "v1beta/{+parent}/campaignReport:generate"
            }
          }
        },
        "adSources": {
          "resources": {
            "adapters": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "admob.accounts.adSources.adapters.list",
                  "description": "List the adapters of the ad source.",
                  "httpMethod": "GET",
                  "flatPath": "v1beta/accounts/{accountsId}/adSources/{adSourcesId}/adapters",
                  "response": {
                    "$ref": "ListAdaptersResponse"
                  },
                  "path": "v1beta/{+parent}/adapters",
                  "streamingType": "NONE",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListAdapters` call. Provide this to retrieve the subsequent page.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of adapters to return. If unspecified or 0, at most 10,000 adapters will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/adSources/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent which owns this collection of adapters. Format: accounts/{publisher_id}/adSources/{ad_source_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/adSources",
              "description": "List the ad sources.",
              "flatPath": "v1beta/accounts/{accountsId}/adSources",
              "response": {
                "$ref": "ListAdSourcesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page."
                }
              },
              "streamingType": "NONE",
              "id": "admob.accounts.adSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "apps": {
          "methods": {
            "create": {
              "request": {
                "$ref": "App"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Resource name of the account for which the app is being created. Example: accounts/pub-9876543210987654",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "admob.accounts.apps.create",
              "path": "v1beta/{+parent}/apps",
              "description": "Creates an app under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "streamingType": "NONE",
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "response": {
                "$ref": "App"
              },
              "httpMethod": "POST"
            },
            "list": {
              "streamingType": "NONE",
              "path": "v1beta/{+parent}/apps",
              "flatPath": "v1beta/accounts/{accountsId}/apps",
              "response": {
                "$ref": "ListAppsResponse"
              },
              "description": "List the apps under the specified AdMob account.",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000."
                },
                "pageToken": {
                  "description": "The value returned by the last `ListAppsResponse`; indicates that this is a continuation of a prior `ListApps` call, and that the system should return the next page of data.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "admob.accounts.apps.list"
            }
          }
        },
        "adUnits": {
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Resource name of the account to create the specified ad unit for. Example: accounts/pub-9876543210987654"
                }
              },
              "streamingType": "NONE",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an ad unit under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "id": "admob.accounts.adUnits.create",
              "path": "v1beta/{+parent}/adUnits",
              "request": {
                "$ref": "AdUnit"
              },
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "response": {
                "$ref": "AdUnit"
              },
              "httpMethod": "POST"
            },
            "list": {
              "path": "v1beta/{+parent}/adUnits",
              "streamingType": "NONE",
              "parameterOrder": [
                "parent"
              ],
              "id": "admob.accounts.adUnits.list",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation of a prior `ListAdUnits` call, and that the system should return the next page of data.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000."
                }
              },
              "description": "List the ad units under the specified AdMob account.",
              "flatPath": "v1beta/accounts/{accountsId}/adUnits",
              "response": {
                "$ref": "ListAdUnitsResponse"
              }
            }
          },
          "resources": {
            "adUnitMappings": {
              "methods": {
                "create": {
                  "id": "admob.accounts.adUnits.adUnitMappings.create",
                  "request": {
                    "$ref": "AdUnitMapping"
                  },
                  "httpMethod": "POST",
                  "streamingType": "NONE",
                  "description": "Create an ad unit mapping under the specific AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings",
                  "response": {
                    "$ref": "AdUnitMapping"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent which owns the ad unit mapping. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/adUnitMappings"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListAdUnitMappings` call. Provide this to retrieve the subsequent page."
                    },
                    "pageSize": {
                      "description": "The maximum number of ad unit mappings to return. If unspecified or 0, at most 10,000 ad unit mappings will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent which owns this collection of ad unit mappings. Format: accounts/{publisher_id}/adUnits/{ad_unit_id}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adUnits/[^/]+$"
                    },
                    "filter": {
                      "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible field to filter by is: - \"DISPLAY_NAME\" Possible filter function is: - `IN`: Used to filter fields that represent a singleton including \"DISPLAY_NAME\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Ad Unit Mapping 1\", \"Test Ad Unit Mapping 2\")",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "List ad unit mappings under the specified AdMob account and ad unit. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "streamingType": "NONE",
                  "path": "v1beta/{+parent}/adUnitMappings",
                  "id": "admob.accounts.adUnits.adUnitMappings.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/admob.readonly"
                  ],
                  "flatPath": "v1beta/accounts/{accountsId}/adUnits/{adUnitsId}/adUnitMappings",
                  "response": {
                    "$ref": "ListAdUnitMappingsResponse"
                  }
                }
              }
            }
          }
        },
        "networkReport": {
          "methods": {
            "generate": {
              "streamingType": "SERVER_SIDE",
              "description": "Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
              "httpMethod": "POST",
              "flatPath": "v1beta/accounts/{accountsId}/networkReport:generate",
              "response": {
                "$ref": "GenerateNetworkReportResponse"
              },
              "request": {
                "$ref": "GenerateNetworkReportRequest"
              },
              "id": "admob.accounts.networkReport.generate",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly",
                "https://www.googleapis.com/auth/admob.report"
              ],
              "path": "v1beta/{+parent}/networkReport:generate"
            }
          }
        },
        "mediationGroups": {
          "resources": {
            "mediationAbExperiments": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "MediationAbExperiment"
                  },
                  "httpMethod": "POST",
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an A/B testing experiment for a specified AdMob account and a mediation group. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "streamingType": "NONE",
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments",
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "path": "v1beta/{+parent}/mediationAbExperiments",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$",
                      "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}/mediationGroups/{mediation_group_id}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "stop": {
                  "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}/mediationAbExperiments:stop",
                  "response": {
                    "$ref": "MediationAbExperiment"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StopMediationAbExperimentRequest"
                  },
                  "id": "admob.accounts.mediationGroups.mediationAbExperiments.stop",
                  "description": "Stop the mediation A/B experiment and choose a variant. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
                  "path": "v1beta/{+name}:stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "streamingType": "NONE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Name of the mediation group, the experiment for which to choose a variant for. Example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiments",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/mediationGroups/[^/]+/mediationAbExperiments$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "response": {
                "$ref": "ListMediationGroupsResponse"
              },
              "httpMethod": "GET",
              "description": "List mediation groups under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "path": "v1beta/{+parent}/mediationGroups",
              "parameterOrder": [
                "parent"
              ],
              "streamingType": "NONE",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of mediation groups to return. If unspecified or 0, at most 10,000 mediation groups will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The value returned by the last `ListMediationGroupsResponse`; indicates that this is a continuation of a prior `ListMediationGroups` call, and that the system should return the next page of data.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "The filter string that uses [EBNF grammar syntax](https://google.aip.dev/assets/misc/ebnf-filtering.txt). Possible fields to filter by are: - \"AD_SOURCE_IDS\" - \"AD_UNIT_IDS\" - \"APP_IDS\" - \"DISPLAY_NAME\" - \"FORMAT\" - \"MEDIATION_GROUP_ID\" - \"PLATFORM\" - \"STATE\" - \"TARGETED_REGION_CODES\" Possible filter functions are: - `IN`: Used to filter fields that represent a singleton including \"MEDIATION_GROUP_ID\", \"DISPLAY_NAME\", \"STATE\", \"PLATFORM\", and \"FORMAT\". - `CONTAINS_ANY`: Used to filter fields that represent a collection including \"AD_SOURCE_IDS\", \"AD_UNIT_IDS\", \"APP_IDS\", and \"TARGETED_REGION_CODES\". The filter functions can be added together using `AND`. `OR` functionality is not supported. Example: filter: IN(DISPLAY_NAME, \"Test Group 1\", \"Test Group 2\") AND IN(PLATFORM, \"ANDROID\") AND CONTAINS_ANY(AD_SOURCE_IDS, \"5450213213286189855\")",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Resource name of the account to list mediation groups for. Example: accounts/pub-9876543210987654"
                }
              },
              "id": "admob.accounts.mediationGroups.list",
              "scopes": [
                "https://www.googleapis.com/auth/admob.readonly"
              ]
            },
            "create": {
              "description": "Create a mediation group under the specific AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "path": "v1beta/{+parent}/mediationGroups",
              "httpMethod": "POST",
              "streamingType": "NONE",
              "id": "admob.accounts.mediationGroups.create",
              "request": {
                "$ref": "MediationGroup"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent which owns the mediation group. Format: accounts/{publisher_id}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups",
              "response": {
                "$ref": "MediationGroup"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "flatPath": "v1beta/accounts/{accountsId}/mediationGroups/{mediationGroupsId}",
              "response": {
                "$ref": "MediationGroup"
              },
              "request": {
                "$ref": "MediationGroup"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "streamingType": "NONE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+/mediationGroups/[^/]+$",
                  "description": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of mediation group fields to be updated. Updates to repeated fields such as items in a list will fully replace the existing value(s) with the new value(s). Updates to individual values in a map can be done by indexing by the key. The following field masks are supported for mediation group updates: - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"]\" clang-format off - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].ad_unit_mappings[\\\"{ad_unit_id}\\\"]\" clang-format on - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_micros\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].cpm_mode\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].state\" - \"mediation_group_lines[\\\"{mediation_group_line_id}\\\"].display_name\" - \"targeting.ad_unit_ids\" To update a mediation group with a new mediation group line, use a distinct negative number for the \"mediation_group_line_id\". For Example: update_mask { paths: \"mediation_group_lines[\\\"123456789012345\\\"].cpm_micros\" }"
                }
              },
              "id": "admob.accounts.mediationGroups.patch",
              "description": "Update the specified mediation group under the specified AdMob account. This method has limited access. If you see a 403 permission denied error, please reach out to your account manager for access.",
              "httpMethod": "PATCH"
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "https://developers.google.com/admob/api/",
  "mtlsRootUrl": "https://admob.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "baseUrl": "https://admob.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "title": "AdMob API",
  "schemas": {
    "MediationReportSpecDimensionFilter": {
      "id": "MediationReportSpecDimensionFilter",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ]
        },
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition.",
          "$ref": "StringList"
        }
      },
      "description": "Describes which report rows to match based on their dimension values.",
      "type": "object"
    },
    "GenerateMediationReportRequest": {
      "type": "object",
      "description": "Request to generate an AdMob Mediation report.",
      "properties": {
        "reportSpec": {
          "description": "Network report specification.",
          "$ref": "MediationReportSpec"
        }
      },
      "id": "GenerateMediationReportRequest"
    },
    "LocalizationSettings": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.",
          "type": "string"
        }
      },
      "id": "LocalizationSettings",
      "description": "Localization settings for reports, such as currency and language. It affects how metrics are calculated."
    },
    "AppLinkedAppInfo": {
      "id": "AppLinkedAppInfo",
      "description": "Information from the app store if the app is linked to an app store.",
      "properties": {
        "appStoreId": {
          "description": "The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: \"com.example.myapp\". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example \"105169111\". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked.",
          "type": "string"
        },
        "androidAppStores": {
          "items": {
            "type": "string",
            "enum": [
              "ANDROID_APP_STORE_UNSPECIFIED",
              "GOOGLE_PLAY_APP_STORE",
              "AMAZON_APP_STORE",
              "OPPO_APP_STORE",
              "SAMSUNG_APP_STORE",
              "VIVO_APP_STORE",
              "XIAOMI_APP_STORE"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "Google Play Store.",
              "Amazon Appstore.",
              "Oppo App Market.",
              "Samsung Galaxy Store.",
              "VIVO App Store.",
              "Xiaomi GetApps."
            ]
          },
          "type": "array",
          "description": "Optional. The app store information for published Android apps. This field is only used for apps on the Android platform and will be ignored if the PLATFORM is set to iOS. The default value is the Google Play App store. This field can be updated after app is created. If the app is not published, this field will not be included in the response."
        },
        "displayName": {
          "description": "Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportRow": {
      "id": "ReportRow",
      "properties": {
        "dimensionValues": {
          "additionalProperties": {
            "$ref": "ReportRowDimensionValue"
          },
          "type": "object",
          "description": "Map of dimension values in a row, with keys as enum name of the dimensions."
        },
        "metricValues": {
          "additionalProperties": {
            "$ref": "ReportRowMetricValue"
          },
          "type": "object",
          "description": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it."
        }
      },
      "type": "object",
      "description": "A row of the returning report."
    },
    "ListAdSourcesResponse": {
      "id": "ListAdSourcesResponse",
      "type": "object",
      "description": "Response for the ListAdSourcesRequest.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "adSources": {
          "items": {
            "$ref": "AdSource"
          },
          "type": "array",
          "description": "The ad sources."
        }
      }
    },
    "ReportRowMetricValue": {
      "properties": {
        "integerValue": {
          "description": "Metric integer value.",
          "format": "int64",
          "type": "string"
        },
        "microsValue": {
          "description": "Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.",
          "format": "int64",
          "type": "string"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Double precision (approximate) decimal values. Rates are from 0 to 1."
        }
      },
      "id": "ReportRowMetricValue",
      "description": "Representation of a metric value.",
      "type": "object"
    },
    "StopMediationAbExperimentRequest": {
      "type": "object",
      "description": "Request to end the mediation A/B experiment and choose a winning variant.",
      "properties": {
        "variantChoice": {
          "type": "string",
          "enum": [
            "VARIANT_CHOICE_UNSPECIFIED",
            "VARIANT_CHOICE_A",
            "VARIANT_CHOICE_B"
          ],
          "description": "The choice for the winning variant.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Use the mediation lines from Variant A and complete the experiment. Variant A contains the original serving lines before the experiment creation.",
            "Use the mediation lines form Variant B and complete the experiment. Variant B contains the newly added serving lines."
          ]
        }
      },
      "id": "StopMediationAbExperimentRequest"
    },
    "Adapter": {
      "description": "Describes adapters supported by each mediation ad source. Adapters correspond to a specific SDK implementation of the ad source, and are each associated with a single platform and a list of supported ad unit formats. Adapters may also require setting some configurations to perform ad requests. Configurations can be specified in the AdUnitMapping by setting the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations) key/value pairs. For example, the ad_unit_configurations can be used to pass various IDs to the adapter's third-party SDK.",
      "type": "object",
      "id": "Adapter",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the adapter. Format is: accounts/{publisher_id}/adSources/{ad_source_id}/adapters/{adapter_id}.",
          "readOnly": true,
          "type": "string"
        },
        "platform": {
          "description": "Output only. Mobile application platform supported by this adapter. Supported values are: IOS, ANDROID, WINDOWS_PHONE",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "description": "Output only. The display name of this adapter.",
          "readOnly": true,
          "type": "string"
        },
        "adapterId": {
          "type": "string",
          "description": "Output only. ID of this adapter. It is used to set [adapter_id](#AdUnitMapping.adapter_id).",
          "readOnly": true
        },
        "adapterConfigMetadata": {
          "readOnly": true,
          "description": "Output only. Configuration metadata associated with this adapter.",
          "items": {
            "$ref": "AdapterAdapterConfigMetadata"
          },
          "type": "array"
        },
        "formats": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Indicates the formats of the ad units supported by this adapter.",
          "type": "array"
        }
      }
    },
    "MediationGroup": {
      "id": "MediationGroup",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for this mediation group. Format is: accounts/{publisher_id}/mediationGroups/{mediation_group_id} Example: accounts/pub-9876543210987654/mediationGroups/0123456789"
        },
        "mediationAbExperimentState": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group has an experiment in the RUNNING state.",
            "There is no experiment in the RUNNING state in the mediation group."
          ],
          "description": "Output only. The state of the mediation a/b experiment that belongs to this mediation group.",
          "type": "string",
          "enum": [
            "EXPERIMENT_STATE_UNSPECIFIED",
            "RUNNING",
            "NOT_RUNNING"
          ],
          "readOnly": true
        },
        "targeting": {
          "description": "Set of criteria targeted by this mediation group, such as ad units and geo locations.",
          "$ref": "MediationGroupTargeting"
        },
        "mediationGroupId": {
          "description": "The ID of the mediation group. Example: \"0123456789\". This is a read only property.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The mediation group is active and used to serve ads or to collect stats.",
            "The mediation group has been disabled and is no longer serving ads or collecting stats. Disabled mediation groups can be re-enabled."
          ],
          "description": "The status of the mediation group. Only enabled mediation groups will be served."
        },
        "displayName": {
          "description": "User provided name for the mediation group. The maximum length allowed is 120 characters.",
          "type": "string"
        },
        "mediationGroupLines": {
          "additionalProperties": {
            "$ref": "MediationGroupMediationGroupLine"
          },
          "type": "object",
          "description": "The mediation lines used for serving for this mediation group. Key is the ID of the mediation group line. For creation, use distinct negative values as placeholder."
        }
      },
      "description": "Describes an AdMob Mediation group."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "id": "Date",
      "type": "object"
    },
    "AppManualAppInfo": {
      "properties": {
        "displayName": {
          "description": "The display name of the app as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppManualAppInfo",
      "description": "Information provided for manual apps which are not linked to an application store (Example: Google Play, App Store)."
    },
    "GenerateMediationReportResponse": {
      "id": "GenerateMediationReportResponse",
      "properties": {
        "footer": {
          "description": "Additional information about the generated report, such as warnings about the data.",
          "$ref": "ReportFooter"
        },
        "row": {
          "description": "Actual report data.",
          "$ref": "ReportRow"
        },
        "header": {
          "$ref": "ReportHeader",
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings."
        }
      },
      "description": "The streaming response for the AdMob Mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]",
      "type": "object"
    },
    "ListPublisherAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.",
          "type": "string"
        },
        "account": {
          "description": "Publisher that the client credentials can access.",
          "items": {
            "$ref": "PublisherAccount"
          },
          "type": "array"
        }
      },
      "description": "Response for the publisher account list request.",
      "type": "object",
      "id": "ListPublisherAccountsResponse"
    },
    "PublisherAccount": {
      "id": "PublisherAccount",
      "description": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports.",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion.",
          "type": "string"
        },
        "publisherId": {
          "description": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890).",
          "type": "string"
        },
        "reportingTimeZone": {
          "description": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name of this account. Format is accounts/{publisher_id}."
        }
      }
    },
    "DateRange": {
      "type": "object",
      "id": "DateRange",
      "description": "Specification of a single date range. Both dates are inclusive.",
      "properties": {
        "startDate": {
          "description": "Start date of the date range, inclusive. Must be less than or equal to the end date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "End date of the date range, inclusive. Must be greater than or equal to the start date.",
          "$ref": "Date"
        }
      }
    },
    "ListAdUnitsResponse": {
      "id": "ListAdUnitsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`."
        },
        "adUnits": {
          "description": "The resulting ad units for the requested account.",
          "type": "array",
          "items": {
            "$ref": "AdUnit"
          }
        }
      },
      "description": "Response for the ad units list request."
    },
    "ListAppsResponse": {
      "description": "Response for the apps list request.",
      "id": "ListAppsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more apps for the request; this value should be passed in a new `ListAppsRequest`."
        },
        "apps": {
          "description": "The resulting apps for the requested account.",
          "items": {
            "$ref": "App"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AdapterAdapterConfigMetadata": {
      "description": "Configuration metadata associated with this adapter. They are used to define the ad_unit_configurations associated with AdUnitMappings for the this adapter.",
      "properties": {
        "adapterConfigMetadataLabel": {
          "type": "string",
          "description": "Name of the adapter configuration metadata."
        },
        "isRequired": {
          "description": "Whether this metadata is required for configuring the AdUnitMappings.",
          "type": "boolean"
        },
        "adapterConfigMetadataId": {
          "description": "This is used to fill the key of the [ad_unit_configurations](#AdUnitMapping.ad_unit_configurations).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdapterAdapterConfigMetadata"
    },
    "NetworkReportSpecDimensionFilter": {
      "id": "NetworkReportSpecDimensionFilter",
      "description": "Describes which report rows to match based on their dimension values.",
      "type": "object",
      "properties": {
        "matchesAny": {
          "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition.",
          "$ref": "StringList"
        },
        "dimension": {
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "description": "Applies the filter criterion to the specified dimension.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ]
        }
      }
    },
    "ReportHeader": {
      "properties": {
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated. This is identical to the range specified in the report request."
        },
        "reportingTimeZone": {
          "type": "string",
          "description": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\"."
        },
        "localizationSettings": {
          "description": "Localization settings of the report. This is identical to the settings in the report request.",
          "$ref": "LocalizationSettings"
        }
      },
      "type": "object",
      "id": "ReportHeader",
      "description": "Groups data helps to treat the generated report. Always sent as a first message in the stream response."
    },
    "MediationAbExperiment": {
      "description": "The mediation A/B experiment.",
      "properties": {
        "controlMediationLines": {
          "type": "array",
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          },
          "description": "Output only. The experiment mediation lines for control. They are inherited from the parent mediation group. It is an output only field.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default for an unset field. Do not use.",
            "The experiment has expired.",
            "The experiment is running and thus used in serving.",
            "The experiment is ended, but not yet expired. Serving continues in the original configurations while the experiment is ready to call an action."
          ],
          "readOnly": true,
          "description": "Output only. The state of the experiment. It is an output only field.",
          "type": "string",
          "enum": [
            "EXPERIMENT_STATE_UNSPECIFIED",
            "EXPIRED",
            "RUNNING",
            "ENDED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Resource name for this experiment. The format is accounts/{publisher_id}/ mediationGroups/{mediation_group_id}/mediationAbExperiment/ {mediation_group_experiment_id}. For example: accounts/pub-9876543210987654/mediationGroups/0123456789/ mediationAbExperiment/12345"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the experiment was started (in UTC)."
        },
        "displayName": {
          "description": "The display name for the mediation A/B experiment.",
          "type": "string"
        },
        "treatmentMediationLines": {
          "items": {
            "$ref": "MediationAbExperimentExperimentMediationLine"
          },
          "description": "The experiment mediation lines created for the treatment. They will be used for serving when the experiment status is RUNNING.",
          "type": "array"
        },
        "treatmentTrafficPercentage": {
          "format": "int64",
          "type": "string",
          "description": "The percentage of the mediation A/B experiment traffic that will be send to the treatment (variant B). The remainder is sent to the control (variant A). The percentage is expressed as an integer in the inclusive range of [1,99]. See https://support.google.com/admob/answer/9572326 for details."
        },
        "mediationGroupId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The mediation group id this experiment belongs to. This can be used for filtering the experiments in the list experiments API."
        },
        "experimentId": {
          "readOnly": true,
          "description": "Output only. Unique identifier for the mediation A/B experiment. It is an output only property.",
          "type": "string"
        },
        "variantLeader": {
          "enumDescriptions": [
            "Default value of the enum. Do not use.",
            "The control leading the experiment.",
            "The treatment leading the experiment.",
            "Collected data (impressions) are insufficient to determine a leader.",
            "Experiment hasn't run long enough to determine a leader.",
            "Neither variant is a decisive winner in the observed data."
          ],
          "type": "string",
          "enum": [
            "VARIANT_LEADER_UNSPECIFIED",
            "CONTROL",
            "TREATMENT",
            "INSUFFICIENT_DATA",
            "TOO_EARLY_TO_CALL",
            "NO_VARIANT_LEADER"
          ],
          "readOnly": true,
          "description": "Output only. The variant leader for the experiment according to some key metrics."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time at which the experiment was ended or target to end (in UTC).",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "MediationAbExperiment",
      "type": "object"
    },
    "CampaignReportSpec": {
      "id": "CampaignReportSpec",
      "properties": {
        "dimensions": {
          "items": {
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "CAMPAIGN_ID",
              "CAMPAIGN_NAME",
              "AD_ID",
              "AD_NAME",
              "PLACEMENT_ID",
              "PLACEMENT_NAME",
              "PLACEMENT_PLATFORM",
              "COUNTRY",
              "FORMAT"
            ],
            "enumDescriptions": [
              "Default value of an unspecified dimension. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\").",
              "The unique ID of the campaign, for example \"123456789\", which is consistent with the campaign id from campaign list api.",
              "The name of the campaign.",
              "The unique ID of the ad, for example \"123456789\".",
              "The name of the ad, which may not be unique.",
              "The vendor-specific unique ID of the app where the ad is placed. For example, com.goog.bar for Android and 123456789 for iOS apps.",
              "The name of the app where the ad is placed.",
              "The platform of the app where the ad is placed.",
              "The name of the targeted country.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension."
            ]
          },
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
          "type": "array"
        },
        "languageCode": {
          "description": "Language used for any localized text, such as certain applicable dimension values. The language tag is defined in the IETF BCP47. Defaults to 'en-US' if unspecified or invalid.",
          "type": "string"
        },
        "metrics": {
          "items": {
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "IMPRESSIONS",
              "CLICKS",
              "CLICK_THROUGH_RATE",
              "INSTALLS",
              "ESTIMATED_COST",
              "AVERAGE_CPI",
              "INTERACTIONS"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of times an ad is shown to the user.",
              "The number of times a user clicks an ad.",
              "The number of clicks an ad receives divided by the number of times the ad is shown.",
              "The number of times apps were downloaded to devices.",
              "The estimated cost of serving a campaign ad instead of an ad that earns revenue. The currency is the reporting currency for campaigns.",
              "The average cost per install. This means the average amount that was spent to acquire a new user. The currency is the reporting currency for campaigns.",
              "The number of times a user interacts with an ad. This consists of clicks and engagements."
            ]
          },
          "type": "array",
          "description": "List of metrics of the report. A report must specify at least one metric."
        },
        "dateRange": {
          "description": "The date range for which the report is generated. The max range is 30 days.",
          "$ref": "DateRange"
        }
      },
      "description": "The specification for generating a Campaign report. For example, the specification to get IMPRESSIONS and CLICKS sliced by CAMPAIGN_ID can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 12, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 12, \"day\": 30} }, \"dimensions\": [\"CAMPAIGN_ID\"], \"metrics\": [\"IMPRESSIONS\", \"CLICKS\"], }",
      "type": "object"
    },
    "GenerateNetworkReportRequest": {
      "properties": {
        "reportSpec": {
          "$ref": "NetworkReportSpec",
          "description": "Network report specification."
        }
      },
      "type": "object",
      "description": "Request to generate an AdMob Network report.",
      "id": "GenerateNetworkReportRequest"
    },
    "BatchCreateAdUnitMappingsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreateAdUnitMappingRequest"
          },
          "type": "array",
          "description": "Required. The request message specifying the ad unit mappings to create. A maximum of 100 ad unit mappings can be created in a batch. If the number of ad unit mappings in the batch request exceed 100, the entire request will be rejected and no ad unit mappings will be created."
        }
      },
      "id": "BatchCreateAdUnitMappingsRequest",
      "type": "object",
      "description": "Request to create a batch of ad unit mappings under the specific AdMob account."
    },
    "NetworkReportSpecSortCondition": {
      "type": "object",
      "properties": {
        "metric": {
          "description": "Sort by the specified metric.",
          "type": "string",
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "IMPRESSION_RPM",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "SHOW_RATE"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of ad requests. The value is an integer. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The estimated earnings per thousand ad impressions. The value is in micros. For example, $1.03 would be represented as 1030000. Equivalent to eCPM in the AdMob UI. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value. **Warning:** The metric is incompatible with [AD_TYPE](#Dimension.ENUM_VALUES.AD_TYPE) dimension.",
            "The ratio of ads that are displayed over ads that are returned, defined as impressions / matched requests. The value is a double precision (approximate) decimal value."
          ]
        },
        "order": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ],
          "description": "Sorting order of the dimension or metric.",
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ]
        },
        "dimension": {
          "description": "Sort by the specified dimension.",
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_UNIT",
            "APP",
            "AD_TYPE",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/1234\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "Type of the ad (for example, \"text\" or \"image\"), an ad delivery dimension. **Warning:** The dimension is incompatible with [AD_REQUESTS](#Metric.ENUM_VALUES.AD_REQUESTS), [MATCH_RATE](#Metric.ENUM_VALUES.MATCH_RATE) and [IMPRESSION_RPM](#Metric.ENUM_VALUES.IMPRESSION_RPM) metrics.",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ]
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric.",
      "id": "NetworkReportSpecSortCondition"
    },
    "ListAdaptersResponse": {
      "id": "ListAdaptersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Used to set the `page_token` in the `ListAdapterRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "adapters": {
          "items": {
            "$ref": "Adapter"
          },
          "type": "array",
          "description": "The adapter."
        }
      },
      "description": "Response for the ListAdaptersRequest.",
      "type": "object"
    },
    "ListMediationGroupsResponse": {
      "type": "object",
      "properties": {
        "mediationGroups": {
          "description": "The resulting mediation groups for the requested account.",
          "type": "array",
          "items": {
            "$ref": "MediationGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If not empty, indicates that there may be more mediation groups for the request; this value should be passed in a new `ListMediationGroupsRequest`."
        }
      },
      "id": "ListMediationGroupsResponse",
      "description": "Response for the mediation groups list request."
    },
    "ReportFooter": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "description": "Warnings associated with generation of the report.",
          "items": {
            "$ref": "ReportWarning"
          }
        },
        "matchingRowCount": {
          "format": "int64",
          "description": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response.",
          "type": "string"
        }
      },
      "id": "ReportFooter",
      "description": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response."
    },
    "App": {
      "properties": {
        "appId": {
          "description": "The externally visible ID of the app which can be used to integrate with AdMob. This is a read only property. Example: ca-app-pub-9876543210987654~0123456789",
          "type": "string"
        },
        "platform": {
          "description": "Describes the platform of the app. Limited to \"IOS\" and \"ANDROID\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example: accounts/pub-9876543210987654/apps/0123456789"
        },
        "linkedAppInfo": {
          "description": "Immutable. The information for an app that is linked to an app store. This field is present if and only if the app is linked to an app store.",
          "$ref": "AppLinkedAppInfo"
        },
        "manualAppInfo": {
          "description": "The information for an app that is not linked to any app store. After an app is linked, this information is still retrivable. If no name is provided for the app upon creation, a placeholder name will be used.",
          "$ref": "AppManualAppInfo"
        },
        "appApprovalState": {
          "readOnly": true,
          "description": "Output only. The approval state for the app. The field is read-only.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The app requires additional user action to be approved. Please refer to https://support.google.com/admob/answer/10564477 for details and next steps.",
            "The app is pending review.",
            "The app is approved and can serve ads."
          ],
          "type": "string",
          "enum": [
            "APP_APPROVAL_STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "IN_REVIEW",
            "APPROVED"
          ]
        }
      },
      "type": "object",
      "description": "Describes an AdMob app for a specific platform (For example: Android or iOS).",
      "id": "App"
    },
    "ListAdUnitMappingsResponse": {
      "type": "object",
      "properties": {
        "adUnitMappings": {
          "type": "array",
          "items": {
            "$ref": "AdUnitMapping"
          },
          "description": "The ad unit mappings from the specified account and ad unit."
        },
        "nextPageToken": {
          "description": "Used to set the `page_token` in the `ListAdUnitMappingsRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for the ListAdUnitMappingsRequest.",
      "id": "ListAdUnitMappingsResponse"
    },
    "MediationAbExperimentExperimentMediationLine": {
      "id": "MediationAbExperimentExperimentMediationLine",
      "type": "object",
      "properties": {
        "mediationGroupLine": {
          "$ref": "MediationGroupMediationGroupLine",
          "description": "The mediation group line used by the experiment."
        }
      },
      "description": "The mediation group line for the experiment. It will be used for serving during the run of the experiment."
    },
    "AdSource": {
      "properties": {
        "adSourceId": {
          "description": "ID of this ad source.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Display name of this ad source."
        },
        "name": {
          "type": "string",
          "description": "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}"
        }
      },
      "id": "AdSource",
      "description": "Definition of a mediation ad source.",
      "type": "object"
    },
    "MediationReportSpec": {
      "properties": {
        "sortConditions": {
          "items": {
            "$ref": "MediationReportSpecSortCondition"
          },
          "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
          "type": "array"
        },
        "metrics": {
          "type": "array",
          "description": "List of metrics of the report. A report must specify at least one metric.",
          "items": {
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "The number of requests. The value is an integer.",
              "The number of times a user clicks an ad. The value is an integer.",
              "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
              "The total number of ads shown to users. The value is an integer.",
              "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
              "The number of times ads are returned in response to a request. The value is an integer.",
              "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
              "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
            ],
            "type": "string",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ]
          }
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "enumDescriptions": [
              "Default value for an unset field. Do not use.",
              "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
              "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
              "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
              "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
              "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
              "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
              "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
              "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
              "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
              "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
              "Mobile operating system version, e.g. \"iOS 13.5.1\".",
              "GMA SDK version, e.g. \"iOS 7.62.0\".",
              "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
              "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
            ]
          },
          "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account."
        },
        "dateRange": {
          "$ref": "DateRange",
          "description": "The date range for which the report is generated."
        },
        "dimensionFilters": {
          "items": {
            "$ref": "MediationReportSpecDimensionFilter"
          },
          "description": "Describes which report rows to match based on their dimension values.",
          "type": "array"
        },
        "timeZone": {
          "type": "string",
          "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment."
        },
        "maxReportRows": {
          "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
          "format": "int32",
          "type": "integer"
        },
        "localizationSettings": {
          "$ref": "LocalizationSettings",
          "description": "Localization settings of the report."
        }
      },
      "type": "object",
      "description": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;",
      "id": "MediationReportSpec"
    },
    "GenerateCampaignReportRequest": {
      "description": "Request to generate campaign report.",
      "type": "object",
      "properties": {
        "reportSpec": {
          "$ref": "CampaignReportSpec",
          "description": "Campaign report specification."
        }
      },
      "id": "GenerateCampaignReportRequest"
    },
    "ReportRowDimensionValue": {
      "properties": {
        "displayLabel": {
          "type": "string",
          "description": "The localized string representation of the value. If unspecified, the display label should be derived from the value."
        },
        "value": {
          "type": "string",
          "description": "Dimension value in the format specified in the report's spec Dimension enum."
        }
      },
      "description": "Representation of a dimension value.",
      "id": "ReportRowDimensionValue",
      "type": "object"
    },
    "GenerateNetworkReportResponse": {
      "id": "GenerateNetworkReportResponse",
      "type": "object",
      "properties": {
        "row": {
          "$ref": "ReportRow",
          "description": "Actual report data."
        },
        "header": {
          "description": "Report generation settings that describes the report contents, such as the report date range and localization settings.",
          "$ref": "ReportHeader"
        },
        "footer": {
          "description": "Additional information about the generated report, such as warnings about the data.",
          "$ref": "ReportFooter"
        }
      },
      "description": "The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"dateRange\": { \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localizationSettings\": { \"currencyCode\": \"USD\", \"languageCode\": \"en-US\" } } }, { \"row\": { \"dimensionValues\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", displayLabel: \"My app name!\" } }, \"metricValues\": { \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000} } } }, { \"footer\": {\"matchingRowCount\": 1} }]"
    },
    "MediationReportSpecSortCondition": {
      "type": "object",
      "id": "MediationReportSpecSortCondition",
      "properties": {
        "dimension": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "A date in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "A month in the YYYYMM format (for example, \"202107\"). Requests can specify at most one time dimension.",
            "The date of the first day of a week in the YYYYMMDD format (for example, \"20210701\"). Requests can specify at most one time dimension.",
            "The [unique ID of the ad source](/admob/api/v1/ad_sources) (for example, \"5450213213286189855\" and \"AdMob Network\" as label value).",
            "The unique ID of the ad source instance (for example, \"ca-app-pub-1234:asi:5678\" and \"AdMob (default)\" as label value).",
            "The unique ID of the ad unit (for example, \"ca-app-pub-1234/8790\"). If AD_UNIT dimension is specified, then APP is included automatically.",
            "The unique ID of the mobile application (for example, \"ca-app-pub-1234~1234\").",
            "The unique ID of the mediation group (for example, \"ca-app-pub-1234:mg:1234\" and \"AdMob (default)\" as label value).",
            "CLDR country code of the place where the ad views/clicks occur (for example, \"US\" or \"FR\"). This is a geography dimension.",
            "Format of the ad unit (for example, \"banner\", \"native\"), an ad delivery dimension.",
            "Mobile OS platform of the app (for example, \"Android\" or \"iOS\").",
            "Mobile operating system version, e.g. \"iOS 13.5.1\".",
            "GMA SDK version, e.g. \"iOS 7.62.0\".",
            "For Android, the app version name can be found in versionName in PackageInfo. For iOS, the app version name can be found in CFBundleShortVersionString.",
            "Restriction mode for ads serving (e.g. \"Non-personalized ads\")."
          ],
          "type": "string",
          "enum": [
            "DIMENSION_UNSPECIFIED",
            "DATE",
            "MONTH",
            "WEEK",
            "AD_SOURCE",
            "AD_SOURCE_INSTANCE",
            "AD_UNIT",
            "APP",
            "MEDIATION_GROUP",
            "COUNTRY",
            "FORMAT",
            "PLATFORM",
            "MOBILE_OS_VERSION",
            "GMA_SDK_VERSION",
            "APP_VERSION_NAME",
            "SERVING_RESTRICTION"
          ],
          "description": "Sort by the specified dimension."
        },
        "metric": {
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "The number of requests. The value is an integer.",
            "The number of times a user clicks an ad. The value is an integer.",
            "The estimated earnings of the AdMob publisher. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $6.50 would be represented as 6500000. Estimated earnings per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated earnings will show 0 for dates prior to October 20, 2019.",
            "The total number of ads shown to users. The value is an integer.",
            "The ratio of clicks over impressions. The value is a double precision (approximate) decimal value.",
            "The number of times ads are returned in response to a request. The value is an integer.",
            "The ratio of matched ad requests over the total ad requests. The value is a double precision (approximate) decimal value.",
            "The third-party ad network's estimated average eCPM. The currency unit (USD, EUR, or other) of the earning metrics are determined by the localization setting for currency. The amount is in micros. For example, $2.30 would be represented as 2300000. The estimated average eCPM per mediation group and per ad source instance level is supported dating back to October 20, 2019. Third-party estimated average eCPM will show 0 for dates prior to October 20, 2019."
          ],
          "description": "Sort by the specified metric.",
          "type": "string",
          "enum": [
            "METRIC_UNSPECIFIED",
            "AD_REQUESTS",
            "CLICKS",
            "ESTIMATED_EARNINGS",
            "IMPRESSIONS",
            "IMPRESSION_CTR",
            "MATCHED_REQUESTS",
            "MATCH_RATE",
            "OBSERVED_ECPM"
          ]
        },
        "order": {
          "type": "string",
          "enum": [
            "SORT_ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "description": "Sorting order of the dimension or metric.",
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "Sort dimension value or metric value in ascending order.",
            "Sort dimension value or metric value in descending order."
          ]
        }
      },
      "description": "Sorting direction to be applied on a dimension or a metric."
    },
    "MediationGroupTargeting": {
      "description": "Set of criteria targeted by this mediation group. For example, a mediation group can target specific ad unit IDs, platform, format and geo location.",
      "type": "object",
      "id": "MediationGroupTargeting",
      "properties": {
        "adUnitIds": {
          "description": "Ad units targeted by this mediation group. Example: \"ca-app-pub-1234/8790\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "idfaTargeting": {
          "description": "The parameter can be used to target ad requests based on the availability of the IDFA. If set to ALL, the mediation group applies to all ad requests (with or without IDFA). If set to AVAILABLE, the mediation group applies to ad requests with IDFA. If set to NOT_AVAILABLE, the mediation group applies to ad requests without IDFA. Doesn't need to be specified for an ANDROID device.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "All the devices are targeted, regardless of IDFA availability.",
            "Only the devices with IDFA availability are targeted.",
            "Only the devices without IDFA availability are targeted."
          ],
          "type": "string",
          "enum": [
            "IDFA_TARGETING_UNSPECIFIED",
            "ALL",
            "AVAILABLE",
            "NOT_AVAILABLE"
          ]
        },
        "excludedRegionCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group does not exclude any region."
        },
        "platform": {
          "description": "Describes the platform of the app. Examples: \"IOS\", \"ANDROID\".",
          "type": "string"
        },
        "targetedRegionCodes": {
          "description": "The Unicode country/region code (CLDR) of a location, such as \"US\". Unset if this mediation group targets all available regions. For more information, see http://www.unicode.org/reports/tr35/#unicode_region_subtag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "type": "string",
          "description": "Ad format targeted by this mediation group. Examples: \"BANNER\", \"NATIVE\"."
        }
      }
    },
    "StringList": {
      "id": "StringList",
      "description": "List of string values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The string values."
        }
      },
      "type": "object"
    },
    "BatchCreateAdUnitMappingsResponse": {
      "properties": {
        "adUnitMappings": {
          "type": "array",
          "items": {
            "$ref": "AdUnitMapping"
          },
          "description": "The Ad units mappings created under the requested account."
        }
      },
      "id": "BatchCreateAdUnitMappingsResponse",
      "description": "Response containing a batch of created ad unit mappings.",
      "type": "object"
    },
    "MediationGroupMediationGroupLine": {
      "description": "Settings for an ad network used by a mediation group.",
      "properties": {
        "cpmMode": {
          "type": "string",
          "enum": [
            "CPM_MODE_UNSPECIFIED",
            "LIVE",
            "MANUAL",
            "ANO"
          ],
          "enumDescriptions": [
            "Default value for an unset field. Do not use.",
            "CPM is calculated per ad request based on the ad auction.",
            "CPM is set by the user manually.",
            "CPM is retrieved from the ad network using the publisher specified credentials. Output only."
          ],
          "description": "Indicates how the CPM for this mediation line is provided. Note that `MANUAL` and `LIVE` are the only fully-supported mode at the moment. Please use the AdMob UI (https://admob.google.com) if you wish to create or update to other cpm modes."
        },
        "adUnitMappings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
[...]
