{
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "name": "adsenseplatform",
  "basePath": "",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "version_module": true,
  "resources": {
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "list": {
              "id": "adsenseplatform.accounts.platforms.list",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "parent": {
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true
                }
              },
              "description": "Lists platforms for a specified account.",
              "path": "v1alpha/{+parent}/platforms",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Platform"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "required": true
                }
              },
              "id": "adsenseplatform.accounts.platforms.get",
              "description": "Gets a platform.",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "path": "v1alpha/{+name}"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "PlatformGroup"
                  }
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Update a Platform Group.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "description": "Lists Platform Groups for a specified Platform.",
                  "path": "v1alpha/{+parent}/groups",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "path": "v1alpha/{+parent}/sites",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$"
                        }
                      },
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        },
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Update a Platform Child Site.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}"
                    },
                    "get": {
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Account"
              },
              "path": "v1alpha/{+name}",
              "id": "adsenseplatform.platforms.accounts.get",
              "httpMethod": "GET",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string"
                }
              }
            },
            "create": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account.",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "path": "v1alpha/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "path": "v1alpha/{+parent}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "close": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Closes a sub-account.",
              "path": "v1alpha/{+name}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close"
            },
            "lookup": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "parameters": {
                "creationRequestId": {
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}"
                }
              },
              "path": "v1alpha/{+parent}/accounts:lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              }
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "request": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "description": "Creates an account event.",
                  "path": "v1alpha/{+parent}/events",
                  "response": {
                    "$ref": "Event"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "sites": {
              "methods": {
                "requestReview": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "path": "v1alpha/{+name}:requestReview",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "path": "v1alpha/{+parent}/sites",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "list": {
                  "description": "Lists sites for a specific account.",
                  "path": "v1alpha/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "description": "Deletes a site from a specified account.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "get": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a site from a specified sub-account.",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "LookupAccountResponse": {
      "type": "object",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      },
      "description": "Response definition for the lookup account rpc."
    },
    "CloseAccountRequest": {
      "description": "Request definition for the account close rpc.",
      "properties": {},
      "type": "object",
      "id": "CloseAccountRequest"
    },
    "Platform": {
      "id": "Platform",
      "properties": {
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the platform.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a Transparent Platform."
    },
    "Address": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        }
      },
      "id": "Address",
      "description": "Address data."
    },
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "type": "array",
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "id": "ListSitesResponse"
    },
    "ListPlatformGroupsResponse": {
      "type": "object",
      "id": "ListPlatformGroupsResponse",
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platformGroups": {
          "type": "array",
          "items": {
            "$ref": "PlatformGroup"
          },
          "description": "The platform groups returned in this list response."
        }
      }
    },
    "Event": {
      "id": "Event",
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string"
        },
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListPlatformsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platforms": {
          "type": "array",
          "description": "The platforms returned in this list response.",
          "items": {
            "$ref": "Platform"
          }
        }
      },
      "description": "Response definition for the platform list rpc.",
      "id": "ListPlatformsResponse",
      "type": "object"
    },
    "PlatformChildSite": {
      "properties": {
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlatformChildSite",
      "description": "Representation of a Transparent Platform Child Site."
    },
    "ListAccountsResponse": {
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        }
      }
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "properties": {
        "platformChildSites": {
          "description": "The platform child sites returned in this list response.",
          "items": {
            "$ref": "PlatformChildSite"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response definition for the list platform child sites rpc."
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PlatformGroup": {
      "type": "object",
      "id": "PlatformGroup",
      "properties": {
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        },
        "revshareMillipercent": {
          "$ref": "Decimal",
          "readOnly": true,
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%)."
        },
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
          "type": "string"
        }
      },
      "description": "Representation of a Transparent Platform Group."
    },
    "EventInfo": {
      "id": "EventInfo",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "description": "Private information for partner recorded events (PII).",
      "type": "object"
    },
    "Site": {
      "type": "object",
      "description": "Representation of a Site.",
      "id": "Site",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of a site.",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        }
      }
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "properties": {},
      "type": "object"
    },
    "Account": {
      "description": "Representation of an Account.",
      "type": "object",
      "properties": {
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of the account."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        }
      },
      "id": "Account"
    },
    "CloseAccountResponse": {
      "type": "object",
      "description": "Response definition for the account close rpc.",
      "properties": {},
      "id": "CloseAccountResponse"
    }
  },
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "AdSense Platform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "description": "",
  "batchPath": "batch",
  "revision": "20260922",
  "protocol": "rest",
  "version": "v1alpha",
  "id": "adsenseplatform:v1alpha",
  "title": "AdSense Platform API",
  "servicePath": "",
  "rootUrl": "https://adsenseplatform.googleapis.com/"
}