{
  "version": "v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "name": "adsense",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "schemas": {
    "PolicyIssue": {
      "properties": {
        "adRequestCount": {
          "format": "int64",
          "type": "string",
          "description": "Required. Total number of ad requests affected by the policy violations over the past seven days."
        },
        "policyTopics": {
          "description": "Required. Unordered list. The policy topics that this entity was found to violate over the past seven days.",
          "type": "array",
          "items": {
            "$ref": "PolicyTopic"
          }
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "The action is unspecified.",
            "No ad serving enforcement is currently present, but enforcement will start on the `warning_escalation_date` if the issue is not resolved.",
            "Ad serving demand has been restricted on the entity.",
            "Ad serving has been disabled on the entity.",
            "Ads are being served for the entity but Confirmed Click is being applied to the ads. See https://support.google.com/adsense/answer/10025624.",
            "Ad personalization is restricted because the ad requests coming from the EEA and UK do not have a TCF string or the Consent Management Platform (CMP) indicated by the TCF string is not Google certified. As a result, basic/limited ads will be served. See https://support.google.com/adsense/answer/13554116."
          ],
          "description": "Required. The most severe action taken on the entity over the past seven days.",
          "enum": [
            "ENFORCEMENT_ACTION_UNSPECIFIED",
            "WARNED",
            "AD_SERVING_RESTRICTED",
            "AD_SERVING_DISABLED",
            "AD_SERVED_WITH_CLICK_CONFIRMATION",
            "AD_PERSONALIZATION_RESTRICTED"
          ]
        },
        "entityType": {
          "enumDescriptions": [
            "The entity type is unspecified.",
            "The enforced entity is an entire website.",
            "The enforced entity is a particular section of a website. All the pages with this prefix are enforced.",
            "The enforced entity is a single web page."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "SITE",
            "SITE_SECTION",
            "PAGE"
          ],
          "description": "Required. Type of the entity indicating if the entity is a site, site-section, or page.",
          "type": "string"
        },
        "name": {
          "description": "Required. Resource name of the entity with policy issues. Format: accounts/{account}/policyIssues/{policy_issue}",
          "type": "string"
        },
        "site": {
          "description": "Required. Hostname/domain of the entity (for example \"foo.com\" or \"www.foo.com\"). This _should_ be a bare domain/host name without any protocol. This will be present for all policy issues.",
          "type": "string"
        },
        "uri": {
          "description": "Optional. URI of the page having policy violations (for example \"foo.com/bar\" or \"www.foo.com/bar\"). This will be present if the `entity_type` is `PAGE` and will be absent for other entity types.",
          "type": "string"
        },
        "siteSection": {
          "type": "string",
          "description": "Optional. Prefix of the site-section having policy issues (For example \"foo.com/bar-section\"). This will be present if the `entity_type` is `SITE_SECTION` and will be absent for other entity types."
        },
        "adClients": {
          "description": "Optional. List of ad clients associated with the policy issue (either as the primary ad client or an associated host/secondary ad client). In the latter case, this will be an ad client that is not owned by the current account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastDetectedDate": {
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were last detected on the entity.",
          "$ref": "Date"
        },
        "warningEscalationDate": {
          "$ref": "Date",
          "description": "Optional. The date (in the America/Los_Angeles timezone) when the entity will have ad serving demand restricted or ad serving disabled. This is present only for issues with a `WARNED` enforcement action. See https://support.google.com/adsense/answer/11066888."
        },
        "firstDetectedDate": {
          "$ref": "Date",
          "description": "Required. The date (in the America/Los_Angeles timezone) when policy violations were first detected on the entity."
        }
      },
      "type": "object",
      "id": "PolicyIssue",
      "description": "Representation of a policy issue for a single entity (site, site-section, or page). All issues for a single entity are represented by a single PolicyIssue resource, though that PolicyIssue can have multiple causes (or \"topics\") that can change over time. Policy issues are removed if there are no issues detected recently or if there's a recent successful appeal for the entity."
    },
    "AdClientAdCode": {
      "properties": {
        "ampHead": {
          "type": "string",
          "description": "Output only. The AdSense code snippet to add to the head of an AMP page.",
          "readOnly": true
        },
        "ampBody": {
          "description": "Output only. The AdSense code snippet to add to the body of an AMP page.",
          "readOnly": true,
          "type": "string"
        },
        "adCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The AdSense code snippet to add to the head of an HTML page."
        }
      },
      "description": "Representation of the AdSense code for a given ad client. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
      "id": "AdClientAdCode",
      "type": "object"
    },
    "Account": {
      "properties": {
        "premium": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this account is premium. Premium accounts have access to additional spam-related metrics."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "The account time zone, as used by reporting. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: accounts/pub-[0-9]+",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of the account.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of this account."
        },
        "pendingTasks": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Outstanding tasks that need to be completed as part of the sign-up process for a new account. e.g. \"billing-profile-creation\", \"phone-pin-verification\".",
          "type": "array"
        },
        "state": {
          "description": "Output only. State of the account.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "NEEDS_ATTENTION",
            "CLOSED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The account is open and ready to serve ads.",
            "There are some issues with this account. Publishers should visit AdSense in order to fix the account.",
            "The account is closed and can't serve ads."
          ]
        }
      },
      "type": "object",
      "description": "Representation of an account.",
      "id": "Account"
    },
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "type": "array",
          "description": "The alerts returned in this list response.",
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "type": "object",
      "description": "Response definition for the alerts list rpc.",
      "id": "ListAlertsResponse"
    },
    "CustomChannel": {
      "id": "CustomChannel",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}"
        },
        "displayName": {
          "description": "Required. Display name of the custom channel.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Whether the custom channel is active and collecting data. See https://support.google.com/adsense/answer/10077192."
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `CUSTOM_CHANNEL_ID` reporting dimension.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Representation of a custom channel."
    },
    "Header": {
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) of this column. Only present if the header type is METRIC_CURRENCY."
        },
        "name": {
          "description": "Required. Name of the header.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of the header.",
          "enumDescriptions": [
            "Unspecified header.",
            "Dimension header type.",
            "Tally header type.",
            "Ratio header type.",
            "Currency header type.",
            "Milliseconds header type.",
            "Decimal header type."
          ],
          "type": "string",
          "enum": [
            "HEADER_TYPE_UNSPECIFIED",
            "DIMENSION",
            "METRIC_TALLY",
            "METRIC_RATIO",
            "METRIC_CURRENCY",
            "METRIC_MILLISECONDS",
            "METRIC_DECIMAL"
          ]
        }
      },
      "description": "The header information of the columns requested in the report.",
      "id": "Header",
      "type": "object"
    },
    "AdUnitAdCode": {
      "description": "Representation of the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
      "properties": {
        "adCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The code snippet to add to the body of an HTML page."
        }
      },
      "id": "AdUnitAdCode",
      "type": "object"
    },
    "AdBlockingRecoveryTag": {
      "id": "AdBlockingRecoveryTag",
      "description": "Representation of an ad blocking recovery tag. See https://support.google.com/adsense/answer/11575177.",
      "type": "object",
      "properties": {
        "errorProtectionCode": {
          "type": "string",
          "description": "Error protection code that can be used in conjunction with the tag. It'll display a message to users if an [ad blocking extension blocks their access to your site](https://support.google.com/adsense/answer/11575480)."
        },
        "tag": {
          "type": "string",
          "description": "The ad blocking recovery tag. Note that the message generated by the tag can be blocked by an ad blocking extension. If this is not your desired outcome, then you'll need to use it in conjunction with the error protection code."
        }
      }
    },
    "ListPaymentsResponse": {
      "type": "object",
      "properties": {
        "payments": {
          "description": "The payments returned in this list response.",
          "items": {
            "$ref": "Payment"
          },
          "type": "array"
        }
      },
      "id": "ListPaymentsResponse",
      "description": "Response definition for the payments list rpc."
    },
    "ListCustomChannelsResponse": {
      "id": "ListCustomChannelsResponse",
      "type": "object",
      "description": "Response definition for the custom channel list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "items": {
            "$ref": "CustomChannel"
          },
          "type": "array",
          "description": "The custom channels returned in this list response."
        }
      }
    },
    "ListAdUnitsResponse": {
      "type": "object",
      "id": "ListAdUnitsResponse",
      "properties": {
        "adUnits": {
          "items": {
            "$ref": "AdUnit"
          },
          "type": "array",
          "description": "The ad units returned in the list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the adunit list rpc."
    },
    "Row": {
      "id": "Row",
      "type": "object",
      "properties": {
        "cells": {
          "items": {
            "$ref": "Cell"
          },
          "description": "Cells in the row.",
          "type": "array"
        }
      },
      "description": "Row representation."
    },
    "HttpBody": {
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "id": "HttpBody",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs."
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The HTTP request/response body as raw binary."
        }
      }
    },
    "ListSavedReportsResponse": {
      "id": "ListSavedReportsResponse",
      "properties": {
        "savedReports": {
          "items": {
            "$ref": "SavedReport"
          },
          "description": "The reports returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through reports. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the saved reports list rpc.",
      "type": "object"
    },
    "PolicyTopic": {
      "type": "object",
      "description": "Information about a particular policy topic. A policy topic represents a single class of policy issue that can impact ad serving for your site. For example, sexual content or having ads that obscure your content. A single policy issue can have multiple policy topics for a single entity.",
      "id": "PolicyTopic",
      "properties": {
        "topic": {
          "description": "Required. The policy topic. For example, \"sexual-content\" or \"ads-obscuring-content\".\"",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The type is unspecified.",
            "Topics that are primarily related to the Google Publisher Policy (GPP) (https://support.google.com/publisherpolicies/answer/10502938) or the Google Publisher Restrictions (GPR) policies (https://support.google.com/publisherpolicies/answer/10437795).",
            "Topics that are related to advertiser preferences. Certain advertisers may choose not to bid on content that are labeled with certain policies.",
            "Any topics that are a result of a country or regional regulatory requirement body."
          ],
          "type": "string",
          "description": "Optional. The type of policy topic. For example, \"POLICY\" represents all the policy topics that are related to the Google Publisher Policy (GPP). See https://support.google.com/adsense/answer/15689616.",
          "enum": [
            "POLICY_TOPIC_TYPE_UNSPECIFIED",
            "POLICY",
            "ADVERTISER_PREFERENCE",
            "REGULATORY"
          ]
        },
        "mustFix": {
          "description": "Required. Deprecated. Always set to false.",
          "type": "boolean",
          "deprecated": true
        }
      }
    },
    "ListAdClientsResponse": {
      "id": "ListAdClientsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad clients. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "adClients": {
          "type": "array",
          "items": {
            "$ref": "AdClient"
          },
          "description": "The ad clients returned in this list response."
        }
      },
      "description": "Response definition for the ad client list rpc.",
      "type": "object"
    },
    "SavedReport": {
      "description": "Representation of a saved report.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the report. Format: accounts/{account}/reports/{report}",
          "type": "string"
        },
        "title": {
          "description": "Report title as specified by publisher.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SavedReport"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListSitesResponse": {
      "description": "Response definition for the sites list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        }
      },
      "id": "ListSitesResponse",
      "type": "object"
    },
    "ListLinkedAdUnitsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through ad units. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "adUnits": {
          "items": {
            "$ref": "AdUnit"
          },
          "type": "array",
          "description": "The ad units returned in the list response."
        }
      },
      "description": "Response definition for the ad units linked to a custom channel list rpc.",
      "id": "ListLinkedAdUnitsResponse",
      "type": "object"
    },
    "Site": {
      "id": "Site",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: * The site hasn't been checked yet. * The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain (or subdomain) of the site, e.g. \"example.com\" or \"www.example.com\". This is used in the `OWNED_SITE_DOMAIN_NAME` reporting dimension."
        },
        "reportingDimensionId": {
          "type": "string",
          "description": "Output only. Unique ID of the site as used in the `OWNED_SITE_ID` reporting dimension.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: accounts/{account}/sites/{site}"
        },
        "autoAdsEnabled": {
          "type": "boolean",
          "description": "Whether auto ads is turned on for the site."
        }
      },
      "type": "object",
      "description": "Representation of a Site."
    },
    "UrlChannel": {
      "type": "object",
      "description": "Representation of a URL channel. URL channels allow you to track the performance of particular pages in your site; see [URL channels](https://support.google.com/adsense/answer/2923836) for more information.",
      "properties": {
        "reportingDimensionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID of the custom channel as used in the `URL_CHANNEL_ID` reporting dimension."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the URL channel. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}"
        },
        "uriPattern": {
          "description": "URI pattern of the channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home",
          "type": "string"
        }
      },
      "id": "UrlChannel"
    },
    "Payment": {
      "type": "object",
      "id": "Payment",
      "properties": {
        "amount": {
          "type": "string",
          "description": "Output only. The amount of unpaid or paid earnings, as a formatted string, including the currency. E.g. \"¥1,235 JPY\", \"$1,234.57\", \"£87.65\".",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of the payment. Format: - accounts/{account}/payments/unpaid for unpaid (current) AdSense earnings. - accounts/{account}/payments/youtube-unpaid for unpaid (current) YouTube earnings. - accounts/{account}/payments/yyyy-MM-dd for paid AdSense earnings. - accounts/{account}/payments/youtube-yyyy-MM-dd for paid YouTube earnings.",
          "type": "string",
          "readOnly": true
        },
        "date": {
          "$ref": "Date",
          "readOnly": true,
          "description": "Output only. For paid earnings, the date that the payment was credited. For unpaid earnings, this field is empty. Payment dates are always returned in the billing timezone (America/Los_Angeles)."
        }
      },
      "description": "Representation of an unpaid or paid payment. See [Payment timelines for AdSense](https://support.google.com/adsense/answer/7164703) for more information about payments and the [YouTube homepage and payments account](https://support.google.com/adsense/answer/11622510) article for information about dedicated payments accounts for YouTube."
    },
    "Cell": {
      "properties": {
        "value": {
          "description": "Value in the cell. The dimension cells contain strings, and the metric cells contain numbers.",
          "type": "string"
        }
      },
      "description": "Cell representation.",
      "type": "object",
      "id": "Cell"
    },
    "ListAccountsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The accounts returned in this list response."
        }
      },
      "id": "ListAccountsResponse",
      "description": "Response definition for the account list rpc."
    },
    "Alert": {
      "properties": {
        "name": {
          "description": "Output only. Resource name of the alert. Format: accounts/{account}/alerts/{alert}",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of alert. This identifies the broad type of this alert, and provides a stable machine-readable identifier that will not be translated. For example, \"payment-hold\".",
          "type": "string"
        },
        "severity": {
          "enumDescriptions": [
            "Unspecified severity.",
            "Info.",
            "Warning.",
            "Severe."
          ],
          "type": "string",
          "description": "Output only. Severity of this alert.",
          "readOnly": true,
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "INFO",
            "WARNING",
            "SEVERE"
          ]
        },
        "message": {
          "description": "Output only. The localized alert message. This may contain HTML markup, such as phrase elements or links.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Alert",
      "description": "Representation of an alert."
    },
    "ContentAdsSettings": {
      "properties": {
        "size": {
          "description": "Required. Size of the ad unit. e.g. \"728x90\", \"1x3\" (for responsive ad units).",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "DISPLAY",
            "FEED",
            "ARTICLE",
            "MATCHED_CONTENT",
            "LINK"
          ],
          "enumDescriptions": [
            "Unspecified ad unit type.",
            "Display ad unit.",
            "In-feed ad unit.",
            "In-article ad unit.",
            "Matched content unit.",
            "Link ad unit. Note that link ad units have now been retired, see https://support.google.com/adsense/answer/9987221."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true
          ],
          "type": "string",
          "description": "Required. Type of the ad unit."
        }
      },
      "id": "ContentAdsSettings",
      "description": "Settings specific to content ads (AFC).",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "ListUrlChannelsResponse": {
      "description": "Response definition for the url channels list rpc.",
      "properties": {
        "urlChannels": {
          "type": "array",
          "items": {
            "$ref": "UrlChannel"
          },
          "description": "The url channels returned in this list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through url channels. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListUrlChannelsResponse",
      "type": "object"
    },
    "AdUnit": {
      "properties": {
        "contentAdsSettings": {
          "$ref": "ContentAdsSettings",
          "description": "Required. Settings specific to content ads (AFC)."
        },
        "name": {
          "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ARCHIVED"
          ],
          "description": "Required. State of the ad unit.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Ad unit has been activated by the user.",
            "Ad unit has been archived by the user. Note that archived ad units are only removed from the default view in the UI. Archived ad units can still serve ads."
          ]
        },
        "reportingDimensionId": {
          "description": "Output only. Unique ID of the ad unit as used in the `AD_UNIT_ID` reporting dimension.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the ad unit, as provided when the ad unit was created."
        }
      },
      "type": "object",
      "description": "Representation of an ad unit. An ad unit represents a saved ad unit with a specific set of ad settings that have been customized within an account.",
      "id": "AdUnit"
    },
    "ReportResult": {
      "description": "Result of a generated report.",
      "properties": {
        "totalMatchedRows": {
          "format": "int64",
          "description": "The total number of rows matched by the report request.",
          "type": "string"
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "The header information; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array"
        },
        "totals": {
          "$ref": "Row",
          "description": "The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty."
        },
        "rows": {
          "description": "The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "warnings": {
          "type": "array",
          "description": "Any warnings associated with generation of the report. These warnings are always returned in English.",
          "items": {
            "type": "string"
          }
        },
        "endDate": {
          "description": "Required. End date of the range (inclusive).",
          "$ref": "Date"
        },
        "averages": {
          "description": "The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.",
          "$ref": "Row"
        },
        "startDate": {
          "description": "Required. Start date of the range (inclusive).",
          "$ref": "Date"
        }
      },
      "type": "object",
      "id": "ReportResult"
    },
    "ListPolicyIssuesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through policy issues. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "policyIssues": {
          "description": "The policy issues returned in the list response.",
          "items": {
            "$ref": "PolicyIssue"
          },
          "type": "array"
        }
      },
      "id": "ListPolicyIssuesResponse",
      "type": "object",
      "description": "Response definition for the policy issues list rpc. Policy issues are reported only if the publisher has at least one AFC ad client in READY or GETTING_READY state. If the publisher has no such AFC ad client, the response will be an empty list."
    },
    "ListLinkedCustomChannelsResponse": {
      "id": "ListLinkedCustomChannelsResponse",
      "description": "Response definition for the custom channels linked to an adunit list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through alerts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "customChannels": {
          "type": "array",
          "description": "The custom channels returned in this list response.",
          "items": {
            "$ref": "CustomChannel"
          }
        }
      },
      "type": "object"
    },
    "AdClient": {
      "description": "Representation of an ad client. An ad client represents a user's subscription with a specific AdSense product.",
      "properties": {
        "productCode": {
          "description": "Output only. Reporting product code of the ad client. For example, \"AFC\" for AdSense for Content. Corresponds to the `PRODUCT_CODE` dimension, and present only if the ad client supports reporting.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "GETTING_READY",
            "REQUIRES_REVIEW"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "The ad client is ready to show ads.",
            "Running some checks on the ad client before it is ready to serve ads.",
            "The ad client hasn't been checked yet. There are tasks pending before AdSense will start the review."
          ],
          "description": "Output only. State of the ad client."
        },
        "reportingDimensionId": {
          "readOnly": true,
          "description": "Output only. Unique ID of the ad client as used in the `AD_CLIENT_ID` reporting dimension. Present only if the ad client supports reporting.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the ad client. Format: accounts/{account}/adclients/{adclient}",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "AdClient"
    },
    "ListChildAccountsResponse": {
      "type": "object",
      "id": "ListChildAccountsResponse",
      "description": "Response definition for the child account list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The accounts returned in this list response."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    }
  },
  "resources": {
    "accounts": {
      "methods": {
        "getAdBlockingRecoveryTag": {
          "path": "v2/{+name}/adBlockingRecoveryTag",
          "description": "Gets the ad blocking recovery tag of an account.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to get the tag for. Format: accounts/{account}",
              "required": true,
              "type": "string"
            }
          },
          "id": "adsense.accounts.getAdBlockingRecoveryTag",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "flatPath": "v2/accounts/{accountsId}/adBlockingRecoveryTag",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "AdBlockingRecoveryTag"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token."
            }
          },
          "id": "adsense.accounts.list",
          "path": "v2/accounts",
          "description": "Lists all accounts available to this user.",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": [],
          "flatPath": "v2/accounts"
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "id": "adsense.accounts.get",
          "path": "v2/{+name}",
          "description": "Gets information about the selected AdSense account.",
          "flatPath": "v2/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Account to get information about. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ]
        },
        "listChildAccounts": {
          "path": "v2/{+parent}:listChildAccounts",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path"
            },
            "pageToken": {
              "location": "query",
              "description": "A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "adsense.accounts.listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "policyIssues": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v2/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/policyIssues/[^/]+$",
                  "description": "Required. Name of the policy issue. Format: accounts/{account}/policyIssues/{policy_issue}",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v2/accounts/{accountsId}/policyIssues/{policyIssuesId}",
              "description": "Gets information about the selected policy issue.",
              "id": "adsense.accounts.policyIssues.get",
              "response": {
                "$ref": "PolicyIssue"
              }
            },
            "list": {
              "response": {
                "$ref": "ListPolicyIssuesResponse"
              },
              "flatPath": "v2/accounts/{accountsId}/policyIssues",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account for which policy issues are being retrieved. Format: accounts/{account}",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListPolicyIssues` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPolicyIssues` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of policy issues to include in the response, used for paging. If unspecified, at most 10000 policy issues will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all the policy issues where the specified account is involved, both directly and through any AFP child accounts.",
              "id": "adsense.accounts.policyIssues.list",
              "path": "v2/{+parent}/policyIssues"
            }
          }
        },
        "payments": {
          "methods": {
            "list": {
              "id": "adsense.accounts.payments.list",
              "description": "Lists all the payments available for an account.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v2/accounts/{accountsId}/payments",
              "response": {
                "$ref": "ListPaymentsResponse"
              },
              "path": "v2/{+parent}/payments",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The account which owns the collection of payments. Format: accounts/{account}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            }
          }
        },
        "adclients": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v2/{+parent}/adclients",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v2/accounts/{accountsId}/adclients",
              "response": {
                "$ref": "ListAdClientsResponse"
              },
              "id": "adsense.accounts.adclients.list",
              "description": "Lists all the ad clients available in an account.",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the ad client to retrieve. Format: accounts/{account}/adclients/{adclient}",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v2/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "adsense.accounts.adclients.get",
              "response": {
                "$ref": "AdClient"
              },
              "description": "Gets the ad client from the given resource name.",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "getAdcode": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+name}/adcode",
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
              "response": {
                "$ref": "AdClientAdCode"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "adsense.accounts.adclients.getAdcode",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode"
            }
          },
          "resources": {
            "customchannels": {
              "methods": {
                "patch": {
                  "path": "v2/{+name}",
                  "description": "Updates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "id": "adsense.accounts.adclients.customchannels.patch",
                  "request": {
                    "$ref": "CustomChannel"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}",
                  "description": "Gets information about the selected custom channel.",
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "list": {
                  "id": "adsense.accounts.adclients.customchannels.list",
                  "description": "Lists all the custom channels available in an ad client.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "path": "v2/{+parent}/customchannels",
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Deletes a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsense.accounts.adclients.customchannels.delete",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "description": "Required. Name of the custom channel to delete. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "listLinkedAdUnits": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "description": "Lists all the ad units available for a custom channel.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "path": "v2/{+parent}/customchannels",
                  "id": "adsense.accounts.adclients.customchannels.create",
                  "description": "Creates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client to create a custom channel under. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "CustomChannel"
                  }
                }
              }
            },
            "adunits": {
              "methods": {
                "get": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "id": "adsense.accounts.adclients.adunits.get",
                  "description": "Gets an ad unit from a specified account and ad client."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. Note that ad units can only be created for ad clients with an \"AFC\" product code. For more info see the [AdClient resource](/adsense/management/reference/rest/v2/accounts.adclients). For now, this method can only be used to create `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Ad client to create an ad unit under. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "id": "adsense.accounts.adclients.adunits.create",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "path": "v2/{+parent}/adunits"
                },
                "listLinkedCustomChannels": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels",
                  "description": "Lists all the custom channels available for an ad unit.",
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}"
                    }
                  },
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels"
                },
                "patch": {
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v2/{+name}",
                  "id": "adsense.accounts.adclients.adunits.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "description": "Updates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. For now, this method can only be used to update `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all ad units under a specified account and ad client.",
                  "id": "adsense.accounts.adclients.adunits.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}/adunits",
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  }
                },
                "getAdcode": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode",
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}/adcode",
                  "description": "Gets the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028)."
                }
              }
            },
            "urlchannels": {
              "methods": {
                "get": {
                  "description": "Gets information about the selected url channel.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsense.accounts.adclients.urlchannels.get",
                  "response": {
                    "$ref": "UrlChannel"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels/{urlchannelsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the url channel to retrieve. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/urlchannels/[^/]+$"
                    }
                  },
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "list": {
                  "description": "Lists active url channels.",
                  "path": "v2/{+parent}/urlchannels",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}"
                    }
                  },
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        },
        "reports": {
          "resources": {
            "saved": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+parent}/reports/saved",
                  "id": "adsense.accounts.reports.saved.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSavedReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSavedReports` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "flatPath": "v2/accounts/{accountsId}/reports/saved",
                  "description": "Lists saved reports."
                },
                "generateCsv": {
                  "description": "Generates a csv formatted saved report.",
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "path": "v2/{+name}/saved:generateCsv",
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                    },
                    "endDate.year": {
                      "type": "integer",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "format": "int32"
                    },
                    "dateRange": {
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "type": "string",
                      "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "location": "query"
                    },
                    "startDate.month": {
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "format": "int32",
                      "location": "query"
                    },
                    "languageCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                    },
                    "endDate.month": {
                      "type": "integer",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "location": "query",
                      "format": "int32"
                    },
                    "startDate.day": {
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "endDate.day": {
                      "format": "int32",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query",
                      "type": "integer"
                    },
                    "reportingTimeZone": {
                      "type": "string",
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "location": "query",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ]
                    },
                    "name": {
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "location": "path"
                    },
                    "startDate.year": {
                      "format": "int32",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "generate": {
                  "description": "Generates a saved report.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "reportingTimeZone": {
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "type": "string",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ],
                      "location": "query"
                    },
                    "languageCode": {
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                      "location": "query",
                      "type": "string"
                    },
                    "dateRange": {
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ],
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "location": "query",
                      "description": "Date range of the report, if unset the range will be considered CUSTOM."
                    },
                    "endDate.year": {
                      "location": "query",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}"
                    },
                    "currencyCode": {
                      "type": "string",
                      "location": "query",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                    },
                    "startDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "startDate.day": {
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "endDate.month": {
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "type": "integer",
                      "location": "query"
                    },
                    "startDate.month": {
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "endDate.day": {
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "path": "v2/{+name}/saved:generate",
                  "response": {
                    "$ref": "ReportResult"
                  },
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "id": "adsense.accounts.reports.saved.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "getSaved": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "description": "Required. The name of the saved report to retrieve. Format: accounts/{account}/reports/{report}",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+name}/saved",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved",
              "id": "adsense.accounts.reports.getSaved",
              "description": "Gets the saved report from the given resource name.",
              "response": {
                "$ref": "SavedReport"
              }
            },
            "generateCsv": {
              "response": {
                "$ref": "HttpBody"
              },
              "description": "Generates a csv formatted ad hoc report.",
              "id": "adsense.accounts.reports.generateCsv",
              "parameterOrder": [
                "account"
              ],
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv",
              "path": "v2/{+account}/reports:generateCsv",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "metrics": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of clicks considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
[...]
