{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "title": "AdSense Platform API",
  "version": "v1alpha",
  "discoveryVersion": "v1",
  "name": "adsenseplatform",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "canonicalName": "AdSense Platform",
  "resources": {
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "path": "v1alpha/{+parent}/platforms",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists platforms for a specified account.",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "adsenseplatform.accounts.platforms.list",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms"
            },
            "get": {
              "id": "adsenseplatform.accounts.platforms.get",
              "path": "v1alpha/{+name}",
              "description": "Gets a platform.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "Platform"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "description": "Update a Platform Group.",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "list": {
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token."
                    }
                  },
                  "description": "Lists Platform Groups for a specified Platform.",
                  "path": "v1alpha/{+parent}/groups",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                        },
                        "parent": {
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/sites",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "path": "v1alpha/{+name}",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                }
              },
              "path": "v1alpha/{+parent}/accounts",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "description": "Gets information about the selected sub-account.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.get",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account.",
              "path": "v1alpha/{+parent}/accounts"
            },
            "close": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameters": {
                "name": {
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1alpha/{+name}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "description": "Closes a sub-account.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.platforms.accounts.close"
            },
            "lookup": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "required": true,
                  "location": "path"
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "path": "v1alpha/{+parent}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}"
                    }
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "request": {
                    "$ref": "Event"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "response": {
                    "$ref": "Event"
                  },
                  "path": "v1alpha/{+parent}/events",
                  "httpMethod": "POST",
                  "description": "Creates an account event."
                }
              }
            },
            "sites": {
              "methods": {
                "requestReview": {
                  "path": "v1alpha/{+name}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "httpMethod": "POST",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview"
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "description": "Lists sites for a specific account.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1alpha/{+parent}/sites"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Gets a site from a specified sub-account."
                },
                "delete": {
                  "description": "Deletes a site from a specified account.",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "request": {
                    "$ref": "Site"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "description": "Creates a site for a specified account.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "schemas": {
    "Event": {
      "id": "Event",
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ]
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Event timestamp."
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "properties": {},
      "type": "object",
      "description": "Response definition for the site request review rpc."
    },
    "ListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        }
      },
      "id": "ListAccountsResponse",
      "type": "object",
      "description": "Response definition for the list accounts rpc."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      }
    },
    "CloseAccountRequest": {
      "properties": {},
      "id": "CloseAccountRequest",
      "type": "object",
      "description": "Request definition for the account close rpc."
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Platform": {
      "id": "Platform",
      "type": "object",
      "description": "Representation of a Transparent Platform.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the platform.",
          "type": "string"
        }
      }
    },
    "LookupAccountResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "description": "Response definition for the lookup account rpc.",
      "id": "LookupAccountResponse"
    },
    "Site": {
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        }
      }
    },
    "Account": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account."
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "state": {
          "type": "string",
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        }
      },
      "type": "object",
      "description": "Representation of an Account.",
      "id": "Account"
    },
    "EventInfo": {
      "id": "EventInfo",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "description": "Private information for partner recorded events (PII).",
      "type": "object"
    },
    "ListPlatformGroupsResponse": {
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "platformGroups": {
          "items": {
            "$ref": "PlatformGroup"
          },
          "type": "array",
          "description": "The platform groups returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformGroupsResponse",
      "type": "object"
    },
    "ListPlatformsResponse": {
      "type": "object",
      "properties": {
        "platforms": {
          "description": "The platforms returned in this list response.",
          "items": {
            "$ref": "Platform"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the platform list rpc.",
      "id": "ListPlatformsResponse"
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc."
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "type": "object",
      "description": "Response definition for the list platform child sites rpc.",
      "properties": {
        "platformChildSites": {
          "items": {
            "$ref": "PlatformChildSite"
          },
          "description": "The platform child sites returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "PlatformChildSite": {
      "id": "PlatformChildSite",
      "type": "object",
      "description": "Representation of a Transparent Platform Child Site.",
      "properties": {
        "platformGroup": {
          "type": "string",
          "description": "Resource name of the Platform Group of the Platform Child Site."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PlatformGroup": {
      "properties": {
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
          "type": "string"
        },
        "revshareMillipercent": {
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "readOnly": true,
          "$ref": "Decimal"
        },
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlatformGroup",
      "description": "Representation of a Transparent Platform Group."
    },
    "CloseAccountResponse": {
      "properties": {},
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc.",
      "type": "object"
    },
    "Address": {
      "properties": {
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Address data.",
      "id": "Address"
    }
  },
  "version_module": true,
  "revision": "20260930",
  "batchPath": "batch",
  "description": "",
  "protocol": "rest",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "id": "adsenseplatform:v1alpha",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/"
}