{
  "batchPath": "batch",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "title": "AdSense Platform API",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "revision": "20260930",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "ownerDomain": "google.com",
  "canonicalName": "AdSense Platform",
  "schemas": {
    "LookupAccountResponse": {
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "ListPlatformGroupsResponse": {
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platformGroups": {
          "type": "array",
          "description": "The platform groups returned in this list response.",
          "items": {
            "$ref": "PlatformGroup"
          }
        }
      },
      "type": "object",
      "id": "ListPlatformGroupsResponse"
    },
    "Account": {
      "description": "Representation of an Account.",
      "id": "Account",
      "properties": {
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "description": "Output only. Approval state of the account."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "readOnly": true
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        }
      },
      "type": "object"
    },
    "ListAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "type": "object"
    },
    "Decimal": {
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Decimal",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "ListPlatformsResponse": {
      "description": "Response definition for the platform list rpc.",
      "properties": {
        "platforms": {
          "description": "The platforms returned in this list response.",
          "items": {
            "$ref": "Platform"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListPlatformsResponse",
      "type": "object"
    },
    "Event": {
      "type": "object",
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event",
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "type": "string",
          "description": "Required. Event type."
        },
        "eventTime": {
          "type": "string",
          "description": "Required. Event timestamp.",
          "format": "google-datetime"
        },
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        }
      }
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "type": "object",
      "description": "Response definition for the site request review rpc.",
      "properties": {}
    },
    "CloseAccountResponse": {
      "type": "object",
      "properties": {},
      "description": "Response definition for the account close rpc.",
      "id": "CloseAccountResponse"
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "type": "object",
      "properties": {
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        },
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        }
      },
      "id": "EventInfo"
    },
    "ListPlatformChildSitesResponse": {
      "description": "Response definition for the list platform child sites rpc.",
      "id": "ListPlatformChildSitesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "platformChildSites": {
          "description": "The platform child sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformChildSite"
          }
        }
      }
    },
    "PlatformGroup": {
      "description": "Representation of a Transparent Platform Group.",
      "id": "PlatformGroup",
      "type": "object",
      "properties": {
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        },
        "revshareMillipercent": {
          "readOnly": true,
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "$ref": "Decimal"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        }
      }
    },
    "ListSitesResponse": {
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The sites returned in this list response."
        }
      },
      "id": "ListSitesResponse"
    },
    "Platform": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}"
        },
        "description": {
          "description": "Output only. Description of the platform.",
          "readOnly": true,
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Representation of a Transparent Platform.",
      "id": "Platform"
    },
    "Site": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        }
      },
      "description": "Representation of a Site.",
      "id": "Site",
      "type": "object"
    },
    "CloseAccountRequest": {
      "description": "Request definition for the account close rpc.",
      "properties": {},
      "id": "CloseAccountRequest",
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "properties": {
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "phone": {
          "type": "string",
          "description": "Phone number with international code (i.e. +441234567890)."
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        }
      },
      "type": "object",
      "description": "Address data."
    },
    "TimeZone": {
      "type": "object",
      "id": "TimeZone",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "PlatformChildSite": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "readOnly": true
        },
        "platformGroup": {
          "type": "string",
          "description": "Resource name of the Platform Group of the Platform Child Site."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        }
      },
      "id": "PlatformChildSite",
      "description": "Representation of a Transparent Platform Child Site.",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "adsenseplatform",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path"
                },
                "creationRequestId": {
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about the selected sub-account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Account"
              },
              "path": "v1alpha/{+parent}/accounts",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "description": "Creates a sub-account.",
              "id": "adsenseplatform.platforms.accounts.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Account"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.list",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "path": "v1alpha/{+parent}/accounts",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              }
            },
            "close": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "adsenseplatform.platforms.accounts.close",
              "path": "v1alpha/{+name}:close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Closes a sub-account."
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Event"
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Event"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "path": "v1alpha/{+parent}/events",
                  "description": "Creates an account event.",
                  "httpMethod": "POST"
                }
              }
            },
            "sites": {
              "methods": {
                "list": {
                  "description": "Lists sites for a specific account.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1alpha/{+parent}/sites",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSitesResponse"
                  }
                },
                "get": {
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets a site from a specified sub-account.",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Site"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "path": "v1alpha/{+parent}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "description": "Creates a site for a specified account.",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "requestReview": {
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "path": "v1alpha/{+name}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "description": "Gets a platform.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "response": {
                "$ref": "Platform"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "id": "adsenseplatform.accounts.platforms.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1alpha/{+parent}/platforms",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists platforms for a specified account.",
              "id": "adsenseplatform.accounts.platforms.list",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms"
            }
          },
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "patch": {
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "httpMethod": "PATCH",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "request": {
                        "$ref": "PlatformChildSite"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        }
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "path": "v1alpha/{+parent}/sites"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "description": "Update a Platform Group.",
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Platform Groups for a specified Platform.",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+parent}/groups"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "",
  "id": "adsenseplatform:v1alpha",
  "basePath": "",
  "rootUrl": "https://adsenseplatform.googleapis.com/"
}