{
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "id": "adsenseplatform:v1",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "title": "AdSense Platform API",
  "kind": "discovery#restDescription",
  "name": "adsenseplatform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "basePath": "",
  "version_module": true,
  "description": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "version": "v1",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260826",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "description": "Lists sites for a specific account.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "requestReview": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview"
                },
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create"
                },
                "get": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Gets a site from a specified sub-account.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "httpMethod": "DELETE"
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Event"
                  },
                  "response": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+parent}/events",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "description": "Creates an account event.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events"
                }
              }
            }
          },
          "methods": {
            "close": {
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "httpMethod": "POST",
              "path": "v1/{+name}:close",
              "description": "Closes a sub-account.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              }
            },
            "lookup": {
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path"
                },
                "creationRequestId": {
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/accounts:lookup"
            },
            "create": {
              "request": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "required": true,
                  "location": "path",
                  "pattern": "^platforms/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "description": "Creates a sub-account.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/accounts"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.get",
              "description": "Gets information about the selected sub-account.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "parameters": {
                "name": {
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Account"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "v1/{+parent}/accounts",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^platforms/[^/]+$"
                }
              },
              "id": "adsenseplatform.platforms.accounts.list",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerName": "Google",
  "schemas": {
    "Site": {
      "id": "Site",
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true
        }
      },
      "description": "Representation of a Site."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The sites returned in this list response."
        }
      }
    },
    "CloseAccountResponse": {
      "id": "CloseAccountResponse",
      "type": "object",
      "description": "Response definition for the account close rpc.",
      "properties": {}
    },
    "RequestSiteReviewResponse": {
      "properties": {},
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc.",
      "type": "object"
    },
    "Account": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "type": "string",
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of the account."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        }
      },
      "description": "Representation of an Account.",
      "type": "object",
      "id": "Account"
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "type": "object",
      "id": "EventInfo"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      }
    },
    "CloseAccountRequest": {
      "properties": {},
      "description": "Request definition for the account close rpc.",
      "type": "object",
      "id": "CloseAccountRequest"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "Phone number with international code (i.e. +441234567890)."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        }
      },
      "description": "Address data."
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the list accounts rpc."
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "type": "string",
          "description": "Required. Event timestamp.",
          "format": "google-datetime"
        },
        "eventType": {
          "description": "Required. Event type.",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string"
        }
      }
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "canonicalName": "AdSense Platform"
}