{
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about the selected sub-account.",
              "id": "adsenseplatform.platforms.accounts.get",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "response": {
                "$ref": "Account"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "lookup": {
              "parameters": {
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "required": true
                }
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "path": "v1/{+parent}/accounts:lookup",
              "httpMethod": "GET"
            },
            "close": {
              "httpMethod": "POST",
              "description": "Closes a sub-account.",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "id": "adsenseplatform.platforms.accounts.close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "path": "v1/{+name}:close",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "path": "v1/{+parent}/accounts",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "Account"
              },
              "request": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "parameters": {
                "parent": {
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Creates a sub-account."
            },
            "list": {
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "path": "v1/{+parent}/accounts",
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^platforms/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "description": "Deletes a site from a specified account.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "requestReview": {
                  "path": "v1/{+name}:requestReview",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "description": "Lists sites for a specific account.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/sites",
                  "description": "Creates a site for a specified account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "request": {
                    "$ref": "Site"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Gets a site from a specified sub-account."
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "path": "v1/{+parent}/events",
                  "httpMethod": "POST",
                  "description": "Creates an account event.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "response": {
                    "$ref": "Event"
                  },
                  "request": {
                    "$ref": "Event"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "kind": "discovery#restDescription",
  "schemas": {
    "Address": {
      "type": "object",
      "id": "Address",
      "properties": {
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "phone": {
          "type": "string",
          "description": "Phone number with international code (i.e. +441234567890)."
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      },
      "description": "Address data."
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "TimeZone": {
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "ListAccountsResponse": {
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object"
    },
    "Account": {
      "description": "Representation of an Account.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        }
      },
      "id": "Account"
    },
    "ListSitesResponse": {
      "type": "object",
      "description": "Response definition for the site list rpc.",
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      }
    },
    "Event": {
      "properties": {
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventType": {
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type."
        },
        "eventTime": {
          "type": "string",
          "description": "Required. Event timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event"
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "properties": {},
      "type": "object",
      "id": "RequestSiteReviewResponse"
    },
    "LookupAccountResponse": {
      "type": "object",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "description": "Response definition for the lookup account rpc."
    },
    "CloseAccountRequest": {
      "type": "object",
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "properties": {}
    },
    "CloseAccountResponse": {
      "description": "Response definition for the account close rpc.",
      "id": "CloseAccountResponse",
      "properties": {},
      "type": "object"
    },
    "EventInfo": {
      "type": "object",
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "id": "EventInfo"
    },
    "Site": {
      "type": "object",
      "description": "Representation of a Site.",
      "id": "Site",
      "properties": {
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "title": "AdSense Platform API",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "id": "adsenseplatform:v1",
  "canonicalName": "AdSense Platform",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20260907",
  "protocol": "rest",
  "name": "adsenseplatform",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "description": ""
}