{
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "basePath": "",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "id": "adsenseplatform:v1",
  "title": "AdSense Platform API",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "revision": "20260827",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "name": "adsenseplatform",
  "version_module": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "AdSense Platform",
  "schemas": {
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "description": "Response definition for the list accounts rpc."
    },
    "LookupAccountResponse": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      },
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "Event": {
      "id": "Event",
      "properties": {
        "eventType": {
          "type": "string",
          "description": "Required. Event type.",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ]
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      },
      "type": "object",
      "description": "A platform sub-account event to record spam signals."
    },
    "CloseAccountResponse": {
      "description": "Response definition for the account close rpc.",
      "id": "CloseAccountResponse",
      "type": "object",
      "properties": {}
    },
    "EventInfo": {
      "id": "EventInfo",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "type": "object",
      "description": "Private information for partner recorded events (PII)."
    },
    "CloseAccountRequest": {
      "type": "object",
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "properties": {}
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Account": {
      "description": "Representation of an Account.",
      "properties": {
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        }
      },
      "id": "Account",
      "type": "object"
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "properties": {},
      "id": "RequestSiteReviewResponse",
      "type": "object"
    },
    "Site": {
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        }
      }
    },
    "Address": {
      "type": "object",
      "description": "Address data.",
      "properties": {
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        }
      },
      "id": "Address"
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "sites": {
          "type": "array",
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    }
  },
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                },
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                }
              },
              "path": "v1/{+parent}/accounts",
              "httpMethod": "GET",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/accounts",
              "description": "Creates a sub-account.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "id": "adsenseplatform.platforms.accounts.create"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Account"
              },
              "path": "v1/{+name}",
              "id": "adsenseplatform.platforms.accounts.get"
            },
            "lookup": {
              "id": "adsenseplatform.platforms.accounts.lookup",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path",
                  "required": true
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "path": "v1/{+parent}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ]
            },
            "close": {
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameterOrder": [
                "name"
              ],
              "description": "Closes a sub-account.",
              "id": "adsenseplatform.platforms.accounts.close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "path": "v1/{+name}:close"
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a site from a specified account."
                },
                "requestReview": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "path": "v1/{+name}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "list": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+parent}/sites",
                  "description": "Lists sites for a specific account.",
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates a site for a specified account."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "description": "Gets a site from a specified sub-account.",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/events",
                  "request": {
                    "$ref": "Event"
                  },
                  "response": {
                    "$ref": "Event"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an account event.",
                  "id": "adsenseplatform.platforms.accounts.events.create"
                }
              }
            }
          }
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}