{
  "title": "AdSense Platform API",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "version_module": true,
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "name": "adsenseplatform",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "path": "v1alpha/{+parent}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists sites for a specific account.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/sites",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates a site for a specified account.",
                  "request": {
                    "$ref": "Site"
                  }
                },
                "requestReview": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "path": "v1alpha/{+name}:requestReview"
                },
                "get": {
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets a site from a specified sub-account.",
                  "response": {
                    "$ref": "Site"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}"
                },
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "description": "Deletes a site from a specified account.",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Event"
                  },
                  "request": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1alpha/{+parent}/events",
                  "description": "Creates an account event.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "id": "adsenseplatform.platforms.accounts.events.create"
                }
              }
            }
          },
          "methods": {
            "close": {
              "httpMethod": "POST",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "parameters": {
                "name": {
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.platforms.accounts.close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Closes a sub-account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close"
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.get",
              "response": {
                "$ref": "Account"
              },
              "description": "Gets information about the selected sub-account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts",
              "httpMethod": "POST",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "request": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "location": "path"
                }
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Creates a sub-account."
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "id": "adsenseplatform.platforms.accounts.list",
              "path": "v1alpha/{+parent}/accounts"
            },
            "lookup": {
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "creationRequestId": {
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "id": "adsenseplatform.accounts.platforms.get",
              "path": "v1alpha/{+name}",
              "description": "Gets a platform.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Platform"
              }
            },
            "list": {
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "path": "v1alpha/{+parent}/platforms",
              "id": "adsenseplatform.accounts.platforms.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists platforms for a specified account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "patch": {
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field."
                    }
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "description": "Update a Platform Group.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "response": {
                    "$ref": "PlatformGroup"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "response": {
                    "$ref": "PlatformGroup"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/groups",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "description": "Lists Platform Groups for a specified Platform.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "httpMethod": "GET"
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "location": "path",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/sites",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "required": true,
                          "location": "path",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "location": "query"
                        }
                      },
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "AdSense Platform",
  "id": "adsenseplatform:v1alpha",
  "description": "",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "revision": "20260923",
  "schemas": {
    "CloseAccountResponse": {
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc.",
      "properties": {},
      "type": "object"
    },
    "PlatformChildSite": {
      "type": "object",
      "properties": {
        "platformGroup": {
          "type": "string",
          "description": "Resource name of the Platform Group of the Platform Child Site."
        },
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
          "type": "string"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Representation of a Transparent Platform Child Site.",
      "id": "PlatformChildSite"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of the account.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        }
      },
      "description": "Representation of an Account."
    },
    "Address": {
      "properties": {
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        }
      },
      "id": "Address",
      "type": "object",
      "description": "Address data."
    },
    "Site": {
      "description": "Representation of a Site.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "readOnly": true
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        }
      },
      "id": "Site",
      "type": "object"
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "id": "RequestSiteReviewResponse",
      "properties": {}
    },
    "CloseAccountRequest": {
      "properties": {},
      "type": "object",
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc."
    },
    "PlatformGroup": {
      "properties": {
        "revshareMillipercent": {
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "$ref": "Decimal",
          "readOnly": true
        },
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        }
      },
      "type": "object",
      "description": "Representation of a Transparent Platform Group.",
      "id": "PlatformGroup"
    },
    "Decimal": {
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "id": "Decimal",
      "type": "object",
      "properties": {
        "value": {
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range.",
          "type": "string"
        }
      }
    },
    "TimeZone": {
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      }
    },
    "ListAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the list accounts rpc.",
      "type": "object",
      "id": "ListAccountsResponse"
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "description": "The platforms returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Platform"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformsResponse",
      "type": "object",
      "description": "Response definition for the platform list rpc."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Platform": {
      "type": "object",
      "id": "Platform",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the platform."
        },
        "defaultPlatformGroup": {
          "type": "string",
          "description": "Default platform group for the platform."
        }
      },
      "description": "Representation of a Transparent Platform."
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "description": "Response definition for the list platform child sites rpc.",
      "properties": {
        "platformChildSites": {
          "description": "The platform child sites returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformChildSite"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object"
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "id": "ListSitesResponse",
      "type": "object",
      "description": "Response definition for the site list rpc."
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        },
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        }
      },
      "type": "object",
      "id": "EventInfo"
    },
    "LookupAccountResponse": {
      "description": "Response definition for the lookup account rpc.",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListPlatformGroupsResponse": {
      "description": "Response definition for the platform groups list rpc.",
      "id": "ListPlatformGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "platformGroups": {
          "type": "array",
          "description": "The platform groups returned in this list response.",
          "items": {
            "$ref": "PlatformGroup"
          }
        }
      },
      "type": "object"
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type."
        },
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    }
  },
  "version": "v1alpha"
}