{
  "version_module": true,
  "baseUrl": "https://adsense.googleapis.com/",
  "basePath": "",
  "revision": "20260930",
  "documentationLink": "https://developers.google.com/adsense/management/",
  "mtlsRootUrl": "https://adsense.mtls.googleapis.com/",
  "rootUrl": "https://adsense.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "methods": {
        "listChildAccounts": {
          "path": "v2/{+parent}:listChildAccounts",
          "description": "Lists all accounts directly managed by the given AdSense account.",
          "response": {
            "$ref": "ListChildAccountsResponse"
          },
          "id": "adsense.accounts.listChildAccounts",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "flatPath": "v2/accounts/{accountsId}:listChildAccounts",
          "parameters": {
            "pageSize": {
              "location": "query",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListChildAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListChildAccounts` must match the call that provided the page token."
            },
            "parent": {
              "required": true,
              "description": "Required. The parent account, which owns the child accounts. Format: accounts/{account}",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "type": "string"
            }
          }
        },
        "get": {
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. Account to get information about. Format: accounts/{account}",
              "pattern": "^accounts/[^/]+$"
            }
          },
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "flatPath": "v2/accounts/{accountsId}",
          "id": "adsense.accounts.get",
          "path": "v2/{+name}",
          "description": "Gets information about the selected AdSense account."
        },
        "getAdBlockingRecoveryTag": {
          "httpMethod": "GET",
          "path": "v2/{+name}/adBlockingRecoveryTag",
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Gets the ad blocking recovery tag of an account.",
          "flatPath": "v2/accounts/{accountsId}/adBlockingRecoveryTag",
          "parameterOrder": [
            "name"
          ],
          "id": "adsense.accounts.getAdBlockingRecoveryTag",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to get the tag for. Format: accounts/{account}",
              "required": true
            }
          },
          "response": {
            "$ref": "AdBlockingRecoveryTag"
          }
        },
        "list": {
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/adsense",
            "https://www.googleapis.com/auth/adsense.readonly"
          ],
          "description": "Lists all accounts available to this user.",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "id": "adsense.accounts.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v2/accounts",
          "flatPath": "v2/accounts"
        }
      },
      "resources": {
        "adclients": {
          "resources": {
            "adunits": {
              "methods": {
                "create": {
                  "id": "adsense.accounts.adclients.adunits.create",
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Ad client to create an ad unit under. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "path": "v2/{+parent}/adunits",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits",
                  "description": "Creates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. Note that ad units can only be created for ad clients with an \"AFC\" product code. For more info see the [AdClient resource](/adsense/management/reference/rest/v2/accounts.adclients). For now, this method can only be used to create `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "httpMethod": "POST"
                },
                "get": {
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "description": "Gets an ad unit from a specified account and ad client.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. AdUnit to get information about. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "id": "adsense.accounts.adclients.adunits.get",
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to update. If empty, a full update is performed."
                    },
                    "name": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "type": "string",
                      "description": "Output only. Resource name of the ad unit. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.patch",
                  "request": {
                    "$ref": "AdUnit"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AdUnit"
                  },
                  "description": "Updates an ad unit. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method. For now, this method can only be used to update `DISPLAY` ad units. See: https://support.google.com/adsense/answer/9183566",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/adunits",
                  "id": "adsense.accounts.adclients.adunits.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAdUnitsResponse"
                  },
                  "description": "Lists all ad units under a specified account and ad client.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdUnits` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits"
                },
                "getAdcode": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$",
                      "description": "Required. Name of the adunit for which to get the adcode. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "adsense.accounts.adclients.adunits.getAdcode",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+name}/adcode",
                  "response": {
                    "$ref": "AdUnitAdCode"
                  },
                  "description": "Gets the ad unit code for a given ad unit. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634) and [Where to place the ad code in your HTML](https://support.google.com/adsense/answer/9190028).",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}/adcode"
                },
                "listLinkedCustomChannels": {
                  "description": "Lists all the custom channels available for an ad unit.",
                  "response": {
                    "$ref": "ListLinkedCustomChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}:listLinkedCustomChannels",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adunits/{adunitsId}:listLinkedCustomChannels",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedCustomChannels` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The ad unit which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}/adunits/{adunit}",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/adunits/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsense.accounts.adclients.adunits.listLinkedCustomChannels"
                }
              }
            },
            "customchannels": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListCustomChannelsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The ad client which owns the collection of custom channels. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListCustomChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomChannels` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of custom channels to include in the response, used for paging. If unspecified, at most 10000 custom channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "path": "v2/{+parent}/customchannels",
                  "description": "Lists all the custom channels available in an ad client.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.customchannels.list"
                },
                "listLinkedAdUnits": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists all the ad units available for a custom channel.",
                  "id": "adsense.accounts.adclients.customchannels.listLinkedAdUnits",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of ad units to include in the response, used for paging. If unspecified, at most 10000 ad units will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The custom channel which owns the collection of ad units. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListLinkedAdUnits` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListLinkedAdUnits` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}:listLinkedAdUnits",
                  "response": {
                    "$ref": "ListLinkedAdUnitsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}:listLinkedAdUnits"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "description": "Updates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "description": "Output only. Resource name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The list of fields to update. If empty, a full update is performed.",
                      "type": "string"
                    }
                  },
                  "id": "adsense.accounts.adclients.customchannels.patch",
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the custom channel. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "location": "path"
                    }
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "adsense.accounts.adclients.customchannels.get",
                  "description": "Gets information about the selected custom channel."
                },
                "create": {
                  "id": "adsense.accounts.adclients.customchannels.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CustomChannel"
                  },
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels",
                  "path": "v2/{+parent}/customchannels",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The ad client to create a custom channel under. Format: accounts/{account}/adclients/{adclient}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "CustomChannel"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the custom channel to delete. Format: accounts/{account}/adclients/{adclient}/customchannels/{customchannel}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/customchannels/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a custom channel. This method can be called only by a restricted set of projects, which are usually owned by [AdSense for Platforms](https://developers.google.com/adsense/platforms/) publishers. Contact your account manager if you need to use this method.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/customchannels/{customchannelsId}",
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "id": "adsense.accounts.adclients.customchannels.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "urlchannels": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists active url channels.",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels",
                  "id": "adsense.accounts.adclients.urlchannels.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The ad client which owns the collection of url channels. Format: accounts/{account}/adclients/{adclient}",
                      "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListUrlChannels` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUrlChannels` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of url channels to include in the response, used for paging. If unspecified, at most 10000 url channels will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListUrlChannelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v2/{+parent}/urlchannels"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets information about the selected url channel.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/urlchannels/{urlchannelsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/adclients/[^/]+/urlchannels/[^/]+$",
                      "description": "Required. The name of the url channel to retrieve. Format: accounts/{account}/adclients/{adclient}/urlchannels/{urlchannel}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "adsense.accounts.adclients.urlchannels.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "UrlChannel"
                  },
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of ad clients to include in the response, used for paging. If unspecified, at most 10000 ad clients will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAdClients` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAdClients` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The account which owns the collection of ad clients. Format: accounts/{account}",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v2/{+parent}/adclients",
              "flatPath": "v2/accounts/{accountsId}/adclients",
              "description": "Lists all the ad clients available in an account.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "adsense.accounts.adclients.list",
              "response": {
                "$ref": "ListAdClientsResponse"
              }
            },
            "getAdcode": {
              "id": "adsense.accounts.adclients.getAdcode",
              "response": {
                "$ref": "AdClientAdCode"
              },
              "httpMethod": "GET",
              "description": "Gets the AdSense code for a given ad client. This returns what was previously known as the 'auto ad code'. This is only supported for ad clients with a product_code of AFC. For more information, see [About the AdSense code](https://support.google.com/adsense/answer/9274634).",
              "path": "v2/{+name}/adcode",
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}/adcode",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the ad client for which to get the adcode. Format: accounts/{account}/adclients/{adclient}",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "flatPath": "v2/accounts/{accountsId}/adclients/{adclientsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the ad client to retrieve. Format: accounts/{account}/adclients/{adclient}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/adclients/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AdClient"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "description": "Gets the ad client from the given resource name.",
              "parameterOrder": [
                "name"
              ],
              "id": "adsense.accounts.adclients.get"
            }
          }
        },
        "sites": {
          "methods": {
            "list": {
              "description": "Lists all the sites available in an account.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The account which owns the collection of sites. Format: accounts/{account}",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "adsense.accounts.sites.list",
              "response": {
                "$ref": "ListSitesResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v2/{+parent}/sites",
              "flatPath": "v2/accounts/{accountsId}/sites"
            },
            "get": {
              "id": "adsense.accounts.sites.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the site. Format: accounts/{account}/sites/{site}",
                  "required": true,
                  "pattern": "^accounts/[^/]+/sites/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets information about the selected site.",
              "flatPath": "v2/accounts/{accountsId}/sites/{sitesId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Site"
              },
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            }
          }
        },
        "reports": {
          "methods": {
            "generateCsv": {
              "parameters": {
                "startDate.day": {
                  "format": "int32",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending."
                },
                "filters": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report."
                },
                "languageCode": {
                  "type": "string",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                  "location": "query"
                },
                "startDate.month": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                },
                "dimensions": {
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "HOSTED_AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "HOSTED_CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "PAGE_URL",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "TRAFFIC_SOURCE_NAME",
                    "TRAFFIC_SOURCE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING",
                    "OS_TYPE_NAME",
                    "OS_TYPE_CODE",
                    "BROWSER_TYPE_NAME",
                    "BROWSER_TYPE_CODE",
                    "WEBVIEW_TYPE_NAME",
                    "WEBVIEW_TYPE_CODE"
                  ],
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Not supported.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized traffic source name (e.g. \"Google\", \"Bing\", \"Facebook\", \"Other\"). For more information, see [Traffic source breakdown](https://support.google.com/adsense/answer/16474600).",
                    "Traffic source code (e.g. \"GOOGLE\", \"BING\", \"FACEBOOK\", \"OTHER\"). For more information, see [Traffic source breakdown](https://support.google.com/adsense/answer/16474600).",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches.",
                    "Localized operating system type name (e.g. \"Windows\", \"MacOS\", \"Android\"). For more information, see [Operating system breakdown](https://support.google.com/adsense/answer/16853822).",
                    "Operating system type code (e.g. \"WINDOWS\", \"MAC\", \"ANDROID\"). For more information, see [Operating system breakdown](https://support.google.com/adsense/answer/16853822).",
                    "Localized browser type name (e.g. \"Google Chrome\", \"Firefox\", \"Safari\"). For more information, see [Browser breakdown](https://support.google.com/adsense/answer/16851903).",
                    "Browser type code (e.g. \"CHROME\", \"FIREFOX\", \"SAFARI\"). For more information, see [Browser breakdown](https://support.google.com/adsense/answer/16851903).",
                    "Localized webview type name (e.g. \"Webview (Uncategorized)\", \"Non-webview\"). For more information, see [Hosting App breakdown](https://support.google.com/adsense/answer/16853515).",
                    "Webview type code (e.g. \"UNCATEGORIZED\", \"NONE\"). For more information, see [Hosting App breakdown](https://support.google.com/adsense/answer/16853515)."
                  ],
                  "enumDeprecated": [
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    true,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false
                  ],
                  "type": "string",
                  "description": "Dimensions to base the report on.",
                  "repeated": true,
                  "location": "query"
                },
                "endDate.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "endDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32"
                },
                "startDate.year": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                },
                "limit": {
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "dateRange": {
                  "location": "query",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ],
                  "type": "string"
                },
                "account": {
                  "location": "path",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                },
                "reportingTimeZone": {
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725)."
                },
                "metrics": {
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of clicks considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages. This metric can only be used when generating a report in the Google timezone, not the account timezone. Since the account timezone is the default for report generation, this metric can only be used by explicitly specifying `reportingTimeZone=GOOGLE_TIME_ZONE`.",
                    "Number of requests for non-ad units (for example a related search unit). For more information, see [Funnel requests](https://support.google.com/adsense/answer/11586959).",
                    "Number of requests for non-ad units ads that returned content that was shown to the user. For more information, see [Funnel impressions](https://support.google.com/adsense/answer/11585767).",
                    "Number of times a user clicked on a non-ad unit, triggering further ad requests. For more information, see [Funnel clicks](https://support.google.com/adsense/answer/11586382).",
                    "Revenue per thousand funnel impressions. This is calculated by dividing estimated revenue by the number of funnel impressions multiplied by 1000. For more information, see [Funnel RPM](https://support.google.com/adsense/answer/11585979)."
                  ],
                  "repeated": true,
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES",
                    "FUNNEL_REQUESTS",
                    "FUNNEL_IMPRESSIONS",
                    "FUNNEL_CLICKS",
                    "FUNNEL_RPM"
                  ],
                  "location": "query",
                  "description": "Required. Reporting metrics.",
                  "type": "string"
                },
                "endDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer"
                },
                "currencyCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "response": {
                "$ref": "HttpBody"
              },
              "httpMethod": "GET",
              "id": "adsense.accounts.reports.generateCsv",
              "path": "v2/{+account}/reports:generateCsv",
              "parameterOrder": [
                "account"
              ],
              "flatPath": "v2/accounts/{accountsId}/reports:generateCsv",
              "description": "Generates a csv formatted ad hoc report."
            },
            "generate": {
              "path": "v2/{+account}/reports:generate",
              "flatPath": "v2/accounts/{accountsId}/reports:generate",
              "parameterOrder": [
                "account"
              ],
              "description": "Generates an ad hoc report.",
              "parameters": {
                "startDate.month": {
                  "type": "integer",
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "location": "query",
                  "format": "int32"
                },
                "dimensions": {
                  "type": "string",
                  "enumDeprecated": [
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    true,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false,
                    false
                  ],
                  "repeated": true,
                  "enum": [
                    "DIMENSION_UNSPECIFIED",
                    "DATE",
                    "WEEK",
                    "MONTH",
                    "ACCOUNT_NAME",
                    "AD_CLIENT_ID",
                    "HOSTED_AD_CLIENT_ID",
                    "PRODUCT_NAME",
                    "PRODUCT_CODE",
                    "AD_UNIT_NAME",
                    "AD_UNIT_ID",
                    "AD_UNIT_SIZE_NAME",
                    "AD_UNIT_SIZE_CODE",
                    "CUSTOM_CHANNEL_NAME",
                    "CUSTOM_CHANNEL_ID",
                    "HOSTED_CUSTOM_CHANNEL_ID",
                    "OWNED_SITE_DOMAIN_NAME",
                    "OWNED_SITE_ID",
                    "PAGE_URL",
                    "URL_CHANNEL_NAME",
                    "URL_CHANNEL_ID",
                    "BUYER_NETWORK_NAME",
                    "BUYER_NETWORK_ID",
                    "BID_TYPE_NAME",
                    "BID_TYPE_CODE",
                    "CREATIVE_SIZE_NAME",
                    "CREATIVE_SIZE_CODE",
                    "DOMAIN_NAME",
                    "DOMAIN_CODE",
                    "COUNTRY_NAME",
                    "COUNTRY_CODE",
                    "PLATFORM_TYPE_NAME",
                    "PLATFORM_TYPE_CODE",
                    "TARGETING_TYPE_NAME",
                    "TARGETING_TYPE_CODE",
                    "TRAFFIC_SOURCE_NAME",
                    "TRAFFIC_SOURCE_CODE",
                    "CONTENT_PLATFORM_NAME",
                    "CONTENT_PLATFORM_CODE",
                    "AD_PLACEMENT_NAME",
                    "AD_PLACEMENT_CODE",
                    "REQUESTED_AD_TYPE_NAME",
                    "REQUESTED_AD_TYPE_CODE",
                    "SERVED_AD_TYPE_NAME",
                    "SERVED_AD_TYPE_CODE",
                    "AD_FORMAT_NAME",
                    "AD_FORMAT_CODE",
                    "CUSTOM_SEARCH_STYLE_NAME",
                    "CUSTOM_SEARCH_STYLE_ID",
                    "DOMAIN_REGISTRANT",
                    "WEBSEARCH_QUERY_STRING",
                    "OS_TYPE_NAME",
                    "OS_TYPE_CODE",
                    "BROWSER_TYPE_NAME",
                    "BROWSER_TYPE_CODE",
                    "WEBVIEW_TYPE_NAME",
                    "WEBVIEW_TYPE_CODE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified dimension.",
                    "Date dimension in YYYY-MM-DD format (e.g. \"2010-02-10\").",
                    "Week dimension in YYYY-MM-DD format, representing the first day of each week (e.g. \"2010-02-08\"). The first day of the week is determined by the language_code specified in a report generation request (so e.g. this would be a Monday for \"en-GB\" or \"es\", but a Sunday for \"en\" or \"fr-CA\").",
                    "Month dimension in YYYY-MM format (e.g. \"2010-02\").",
                    "Account name. The members of this dimension match the values from Account.display_name.",
                    "Unique ID of an ad client. The members of this dimension match the values from AdClient.reporting_dimension_id.",
                    "Unique ID of a sub-account's ad client. The members of this dimension match the values from AdClient.reporting_dimension_id (for the sub-account).",
                    "Localized product name (e.g. \"AdSense for Content\", \"AdSense for Search\").",
                    "Product code (e.g. \"AFC\", \"AFS\"). The members of this dimension match the values from AdClient.product_code.",
                    "Ad unit name (within which an ad was served). The members of this dimension match the values from AdUnit.display_name.",
                    "Unique ID of an ad unit (within which an ad was served). The members of this dimension match the values from AdUnit.reporting_dimension_id.",
                    "Localized size of an ad unit (e.g. \"728x90\", \"Responsive\").",
                    "The size code of an ad unit (e.g. \"728x90\", \"responsive\").",
                    "Custom channel name. The members of this dimension match the values from CustomChannel.display_name.",
                    "Unique ID of a custom channel. The members of this dimension match the values from CustomChannel.reporting_dimension_id.",
                    "Not supported.",
                    "Domain name of a verified site (e.g. \"example.com\"). The members of this dimension match the values from Site.domain.",
                    "Unique ID of a verified site. The members of this dimension match the values from Site.reporting_dimension_id.",
                    "URL of the page upon which the ad was served. This is a complete URL including scheme and query parameters. Note that the URL that appears in this dimension may be a canonicalized version of the one that was used in the original request, and so may not exactly match the URL that a user might have seen. Note that there are also some caveats to be aware of when using this dimension. For more information, see [Page URL breakdown](https://support.google.com/adsense/answer/11988478).",
                    "Name of a URL channel. The members of this dimension match the values from UrlChannel.uri_pattern.",
                    "Unique ID of a URL channel. The members of this dimension match the values from UrlChannel.reporting_dimension_id.",
                    "Name of an ad network that returned the winning ads for an ad request (e.g. \"Google AdWords\"). Note that unlike other \"NAME\" dimensions, the members of this dimensions are not localized.",
                    "Unique (opaque) ID of an ad network that returned the winning ads for an ad request.",
                    "Localized bid type name (e.g. \"CPC bids\", \"CPM bids\") for a served ad.",
                    "Type of a bid (e.g. \"cpc\", \"cpm\") for a served ad.",
                    "Localized creative size name (e.g. \"728x90\", \"Dynamic\") of a served ad.",
                    "Creative size code (e.g. \"728x90\", \"dynamic\") of a served ad.",
                    "Localized name of a host on which an ad was served, after IDNA decoding (e.g. \"www.google.com\", \"Web caches and other\", \"bücher.example\").",
                    "Name of a host on which an ad was served (e.g. \"www.google.com\", \"webcaches\", \"xn--bcher-kva.example\").",
                    "Localized region name of a user viewing an ad (e.g. \"United States\", \"France\").",
                    "CLDR region code of a user viewing an ad (e.g. \"US\", \"FR\").",
                    "Localized platform type name (e.g. \"High-end mobile devices\", \"Desktop\").",
                    "Platform type code (e.g. \"HighEndMobile\", \"Desktop\").",
                    "Localized targeting type name (e.g. \"Contextual\", \"Personalized\", \"Run of Network\").",
                    "Targeting type code (e.g. \"Keyword\", \"UserInterest\", \"RunOfNetwork\").",
                    "Localized traffic source name (e.g. \"Google\", \"Bing\", \"Facebook\", \"Other\"). For more information, see [Traffic source breakdown](https://support.google.com/adsense/answer/16474600).",
                    "Traffic source code (e.g. \"GOOGLE\", \"BING\", \"FACEBOOK\", \"OTHER\"). For more information, see [Traffic source breakdown](https://support.google.com/adsense/answer/16474600).",
                    "Localized content platform name an ad request was made from (e.g. \"AMP\", \"Web\").",
                    "Content platform code an ad request was made from (e.g. \"AMP\", \"HTML\").",
                    "Localized ad placement name (e.g. \"Ad unit\", \"Global settings\", \"Manual\").",
                    "Ad placement code (e.g. \"AD_UNIT\", \"ca-pub-123456:78910\", \"OTHER\").",
                    "Localized requested ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Requested ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized served ad type name (e.g. \"Display\", \"Link unit\", \"Other\").",
                    "Served ad type code (e.g. \"IMAGE\", \"RADLINK\", \"OTHER\").",
                    "Localized ad format name indicating the way an ad is shown to the users on your site (e.g. \"In-page\", \"Anchor\", \"Vignette\").",
                    "Ad format code indicating the way an ad is shown to the users on your site (e.g. \"ON_PAGE\", \"ANCHOR\", \"INTERSTITIAL\").",
                    "Custom search style name.",
                    "Custom search style id.",
                    "Domain registrants.",
                    "Query strings for web searches.",
                    "Localized operating system type name (e.g. \"Windows\", \"MacOS\", \"Android\"). For more information, see [Operating system breakdown](https://support.google.com/adsense/answer/16853822).",
                    "Operating system type code (e.g. \"WINDOWS\", \"MAC\", \"ANDROID\"). For more information, see [Operating system breakdown](https://support.google.com/adsense/answer/16853822).",
                    "Localized browser type name (e.g. \"Google Chrome\", \"Firefox\", \"Safari\"). For more information, see [Browser breakdown](https://support.google.com/adsense/answer/16851903).",
                    "Browser type code (e.g. \"CHROME\", \"FIREFOX\", \"SAFARI\"). For more information, see [Browser breakdown](https://support.google.com/adsense/answer/16851903).",
                    "Localized webview type name (e.g. \"Webview (Uncategorized)\", \"Non-webview\"). For more information, see [Hosting App breakdown](https://support.google.com/adsense/answer/16853515).",
                    "Webview type code (e.g. \"UNCATEGORIZED\", \"NONE\"). For more information, see [Hosting App breakdown](https://support.google.com/adsense/answer/16853515)."
                  ],
                  "description": "Dimensions to base the report on."
                },
                "account": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                },
                "currencyCode": {
                  "location": "query",
                  "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                  "type": "string"
                },
                "endDate.year": {
                  "type": "integer",
                  "location": "query",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "format": "int32"
                },
                "metrics": {
                  "enum": [
                    "METRIC_UNSPECIFIED",
                    "PAGE_VIEWS",
                    "AD_REQUESTS",
                    "MATCHED_AD_REQUESTS",
                    "TOTAL_IMPRESSIONS",
                    "IMPRESSIONS",
                    "INDIVIDUAL_AD_IMPRESSIONS",
                    "CLICKS",
                    "PAGE_VIEWS_SPAM_RATIO",
                    "AD_REQUESTS_SPAM_RATIO",
                    "MATCHED_AD_REQUESTS_SPAM_RATIO",
                    "IMPRESSIONS_SPAM_RATIO",
                    "INDIVIDUAL_AD_IMPRESSIONS_SPAM_RATIO",
                    "CLICKS_SPAM_RATIO",
                    "AD_REQUESTS_COVERAGE",
                    "PAGE_VIEWS_CTR",
                    "AD_REQUESTS_CTR",
                    "MATCHED_AD_REQUESTS_CTR",
                    "IMPRESSIONS_CTR",
                    "INDIVIDUAL_AD_IMPRESSIONS_CTR",
                    "ACTIVE_VIEW_MEASURABILITY",
                    "ACTIVE_VIEW_VIEWABILITY",
                    "ACTIVE_VIEW_TIME",
                    "ESTIMATED_EARNINGS",
                    "PAGE_VIEWS_RPM",
                    "AD_REQUESTS_RPM",
                    "MATCHED_AD_REQUESTS_RPM",
                    "IMPRESSIONS_RPM",
                    "INDIVIDUAL_AD_IMPRESSIONS_RPM",
                    "COST_PER_CLICK",
                    "ADS_PER_IMPRESSION",
                    "TOTAL_EARNINGS",
                    "WEBSEARCH_RESULT_PAGES",
                    "FUNNEL_REQUESTS",
                    "FUNNEL_IMPRESSIONS",
                    "FUNNEL_CLICKS",
                    "FUNNEL_RPM"
                  ],
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "enumDescriptions": [
                    "Unspecified metric.",
                    "Number of page views.",
                    "Number of ad units that requested ads (for content ads) or search queries (for search ads). An ad request may result in zero, one, or multiple individual ad impressions depending on the size of the ad unit and whether any ads were available.",
                    "Requests that returned at least one ad.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Impressions. An impression is counted for each ad request where at least one ad has been downloaded to the user's device and has begun to load. It is the number of ad units (for content ads) or search queries (for search ads) that showed ads.",
                    "Ads shown. Different ad formats will display varying numbers of ads. For example, a vertical banner may consist of 2 or more ads. Also, the number of ads in an ad unit may vary depending on whether the ad unit is displaying standard text ads, expanded text ads or image ads.",
                    "Number of times a user clicked on a standard content ad.",
                    "Fraction of page views considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad requests that returned ads considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of ad impressions considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Fraction of clicks considered to be spam. Only available to [premium accounts](https://developers.google.com/adsense/management/reference/rest/v2/accounts#Account.FIELDS.premium).",
                    "Ratio of requested ad units or queries to the number returned to the site.",
                    "Ratio of individual page views that resulted in a click.",
                    "Ratio of ad requests that resulted in a click.",
                    "Ratio of clicks to matched requests.",
                    "Ratio of IMPRESSIONS that resulted in a click.",
                    "Ratio of individual ad impressions that resulted in a click.",
                    "Ratio of requests that were measurable for viewability.",
                    "Ratio of requests that were viewable.",
                    "Mean time an ad was displayed on screen.",
                    "Estimated earnings of the publisher. Note that earnings up to yesterday are accurate, more recent earnings are estimated due to the possibility of spam, or exchange rate fluctuations.",
                    "Revenue per thousand page views. This is calculated by dividing the estimated revenue by the number of page views multiplied by 1000.",
                    "Revenue per thousand ad requests. This is calculated by dividing estimated revenue by the number of ad requests multiplied by 1000.",
                    "Revenue per thousand matched ad requests. This is calculated by dividing estimated revenue by the number of matched ad requests multiplied by 1000.",
                    "Revenue per thousand ad impressions. This is calculated by dividing estimated revenue by the number of ad impressions multiplied by 1000.",
                    "Revenue per thousand individual ad impressions. This is calculated by dividing estimated revenue by the number of individual ad impressions multiplied by 1000.",
                    "Amount the publisher earns each time a user clicks on an ad. CPC is calculated by dividing the estimated revenue by the number of clicks received.",
                    "Number of ad views per impression.",
                    "Total earnings are the gross estimated earnings from revenue shared traffic before any parent and child account revenue share is applied.",
                    "Number of results pages. This metric can only be used when generating a report in the Google timezone, not the account timezone. Since the account timezone is the default for report generation, this metric can only be used by explicitly specifying `reportingTimeZone=GOOGLE_TIME_ZONE`.",
                    "Number of requests for non-ad units (for example a related search unit). For more information, see [Funnel requests](https://support.google.com/adsense/answer/11586959).",
                    "Number of requests for non-ad units ads that returned content that was shown to the user. For more information, see [Funnel impressions](https://support.google.com/adsense/answer/11585767).",
                    "Number of times a user clicked on a non-ad unit, triggering further ad requests. For more information, see [Funnel clicks](https://support.google.com/adsense/answer/11586382).",
                    "Revenue per thousand funnel impressions. This is calculated by dividing estimated revenue by the number of funnel impressions multiplied by 1000. For more information, see [Funnel RPM](https://support.google.com/adsense/answer/11585979)."
                  ],
                  "description": "Required. Reporting metrics."
                },
                "startDate.year": {
                  "format": "int32",
                  "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                  "location": "query",
                  "type": "integer"
                },
                "dateRange": {
                  "location": "query",
                  "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                  "enumDescriptions": [
                    "Unspecified date range.",
                    "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                    "Current day.",
                    "Yesterday.",
                    "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                    "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                    "Last 7 days, excluding current day.",
                    "Last 30 days, excluding current day."
                  ],
                  "type": "string",
                  "enum": [
                    "REPORTING_DATE_RANGE_UNSPECIFIED",
                    "CUSTOM",
                    "TODAY",
                    "YESTERDAY",
                    "MONTH_TO_DATE",
                    "YEAR_TO_DATE",
                    "LAST_7_DAYS",
                    "LAST_30_DAYS"
                  ]
                },
                "limit": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of rows of report data to return. Reports producing more rows than the requested limit will be truncated. If unset, this defaults to 100,000 rows for `Reports.GenerateReport` and 1,000,000 rows for `Reports.GenerateCsvReport`, which are also the maximum values permitted here. Report truncation can be identified (for `Reports.GenerateReport` only) by comparing the number of rows returned to the value returned in `total_matched_rows`."
                },
                "endDate.month": {
                  "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "languageCode": {
                  "location": "query",
                  "type": "string",
                  "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag)."
                },
                "filters": {
                  "type": "string",
                  "description": "A list of [filters](/adsense/management/reporting/filtering) to apply to the report. All provided filters must match in order for the data to be included in the report.",
                  "location": "query",
                  "repeated": true
                },
                "orderBy": {
                  "type": "string",
                  "repeated": true,
                  "description": "The name of a dimension or metric to sort the resulting report on, can be prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.",
                  "location": "query"
                },
                "endDate.day": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "location": "query"
                },
                "reportingTimeZone": {
                  "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                  "type": "string",
                  "enum": [
                    "REPORTING_TIME_ZONE_UNSPECIFIED",
                    "ACCOUNT_TIME_ZONE",
                    "GOOGLE_TIME_ZONE"
                  ],
                  "enumDescriptions": [
                    "Unspecified timezone.",
                    "Use the account timezone in the report.",
                    "Use the Google timezone in the report (America/Los_Angeles)."
                  ],
                  "location": "query"
                },
                "startDate.day": {
                  "location": "query",
                  "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsense.accounts.reports.generate",
              "response": {
                "$ref": "ReportResult"
              },
              "httpMethod": "GET"
            },
            "getSaved": {
              "path": "v2/{+name}/saved",
              "parameterOrder": [
                "name"
              ],
              "id": "adsense.accounts.reports.getSaved",
              "description": "Gets the saved report from the given resource name.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the saved report to retrieve. Format: accounts/{account}/reports/{report}",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/reports/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "SavedReport"
              },
              "httpMethod": "GET",
              "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            }
          },
          "resources": {
            "saved": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListSavedReportsResponse"
                  },
                  "id": "adsense.accounts.reports.saved.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists saved reports.",
                  "flatPath": "v2/accounts/{accountsId}/reports/saved",
                  "path": "v2/{+parent}/reports/saved",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSavedReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSavedReports` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of reports to include in the response, used for paging. If unspecified, at most 10000 reports will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "parent": {
                      "pattern": "^accounts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The account which owns the collection of reports. Format: accounts/{account}",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "generateCsv": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generateCsv",
                  "httpMethod": "GET",
                  "id": "adsense.accounts.reports.saved.generateCsv",
                  "description": "Generates a csv formatted saved report.",
                  "response": {
                    "$ref": "HttpBody"
                  },
                  "path": "v2/{+name}/saved:generateCsv",
                  "parameters": {
                    "startDate.year": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
                    },
                    "endDate.month": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
                    },
                    "endDate.year": {
                      "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "currencyCode": {
                      "location": "query",
                      "description": "The [ISO-4217 currency code](https://en.wikipedia.org/wiki/ISO_4217) to use when reporting on monetary metrics. Defaults to the account's currency if not set.",
                      "type": "string"
                    },
                    "startDate.month": {
                      "type": "integer",
                      "location": "query",
                      "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
                      "format": "int32"
                    },
                    "reportingTimeZone": {
                      "enumDescriptions": [
                        "Unspecified timezone.",
                        "Use the account timezone in the report.",
                        "Use the Google timezone in the report (America/Los_Angeles)."
                      ],
                      "description": "Timezone in which to generate the report. If unspecified, this defaults to the account timezone. For more information, see [changing the time zone of your reports](https://support.google.com/adsense/answer/9830725).",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "REPORTING_TIME_ZONE_UNSPECIFIED",
                        "ACCOUNT_TIME_ZONE",
                        "GOOGLE_TIME_ZONE"
                      ]
                    },
                    "startDate.day": {
                      "type": "integer",
                      "location": "query",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "format": "int32"
                    },
                    "dateRange": {
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "REPORTING_DATE_RANGE_UNSPECIFIED",
                        "CUSTOM",
                        "TODAY",
                        "YESTERDAY",
                        "MONTH_TO_DATE",
                        "YEAR_TO_DATE",
                        "LAST_7_DAYS",
                        "LAST_30_DAYS"
                      ],
                      "description": "Date range of the report, if unset the range will be considered CUSTOM.",
                      "enumDescriptions": [
                        "Unspecified date range.",
                        "A custom date range specified using the `start_date` and `end_date` fields. This is the default if no ReportingDateRange is provided.",
                        "Current day.",
                        "Yesterday.",
                        "From the start of the current month to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-03-01, 2020-03-12].",
                        "From the start of the current year to the current day. e.g. if the current date is 2020-03-12 then the range will be [2020-01-01, 2020-03-12].",
                        "Last 7 days, excluding current day.",
                        "Last 30 days, excluding current day."
                      ]
                    },
                    "languageCode": {
                      "description": "The language to use for translating report output. If unspecified, this defaults to English (\"en\"). If the given language is not supported, report output will be returned in English. The language is specified as an [IETF BCP-47 language code](https://en.wikipedia.org/wiki/IETF_language_tag).",
                      "type": "string",
                      "location": "query"
                    },
                    "endDate.day": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/reports/[^/]+$",
                      "description": "Required. Name of the saved report. Format: accounts/{account}/reports/{report}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "generate": {
                  "flatPath": "v2/accounts/{accountsId}/reports/{reportsId}/saved:generate",
                  "path": "v2/{+name}/saved:generate",
                  "id": "adsense.accounts.reports.saved.generate",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Generates a saved report.",
                  "parameters": {
                    "endDate.year": {
[...]
