{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "schemas": {
    "ListSitesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response.",
          "type": "array"
        }
      },
      "description": "Response definition for the site list rpc.",
      "id": "ListSitesResponse",
      "type": "object"
    },
    "CloseAccountResponse": {
      "properties": {},
      "id": "CloseAccountResponse",
      "type": "object",
      "description": "Response definition for the account close rpc."
    },
    "PlatformGroup": {
      "properties": {
        "description": {
          "description": "Required. Description of the PlatformGroup.",
          "type": "string"
        },
        "revshareMillipercent": {
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "$ref": "Decimal",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        }
      },
      "id": "PlatformGroup",
      "type": "object",
      "description": "Representation of a Transparent Platform Group."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "type": "object",
      "description": "Address data.",
      "properties": {
        "city": {
          "type": "string",
          "description": "City. Max length 60 bytes or 30 characters."
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "phone": {
          "type": "string",
          "description": "Phone number with international code (i.e. +441234567890)."
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        }
      }
    },
    "Platform": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of the platform.",
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "id": "Platform",
      "description": "Representation of a Transparent Platform."
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "description": "Response definition for the list platform child sites rpc.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platformChildSites": {
          "description": "The platform child sites returned in this list response.",
          "items": {
            "$ref": "PlatformChildSite"
          },
          "type": "array"
        }
      }
    },
    "Event": {
      "id": "Event",
      "type": "object",
      "description": "A platform sub-account event to record spam signals.",
      "properties": {
        "eventType": {
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type.",
          "type": "string"
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Event timestamp."
        }
      }
    },
    "ListPlatformsResponse": {
      "description": "Response definition for the platform list rpc.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platforms": {
          "type": "array",
          "items": {
            "$ref": "Platform"
          },
          "description": "The platforms returned in this list response."
        }
      },
      "id": "ListPlatformsResponse"
    },
    "LookupAccountResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc."
    },
    "ListPlatformGroupsResponse": {
      "properties": {
        "platformGroups": {
          "description": "The platform groups returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformGroup"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformGroupsResponse",
      "type": "object",
      "description": "Response definition for the platform groups list rpc."
    },
    "Site": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "type": "string",
          "readOnly": true
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of a site.",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "type": "string"
        }
      },
      "description": "Representation of a Site.",
      "id": "Site"
    },
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "properties": {},
      "type": "object"
    },
    "Account": {
      "properties": {
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Approval state of the account.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        }
      },
      "id": "Account",
      "description": "Representation of an Account.",
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object"
    },
    "EventInfo": {
      "type": "object",
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "id": "EventInfo"
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "type": "object",
      "description": "Response definition for the site request review rpc.",
      "properties": {}
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "description": "Response definition for the list accounts rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        }
      }
    },
    "PlatformChildSite": {
      "id": "PlatformChildSite",
      "description": "Representation of a Transparent Platform Child Site.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        },
        "domain": {
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name.",
          "readOnly": true,
          "type": "string"
        },
        "platformGroup": {
          "type": "string",
          "description": "Resource name of the Platform Group of the Platform Child Site."
        }
      },
      "type": "object"
    }
  },
  "revision": "20260903",
  "protocol": "rest",
  "ownerName": "Google",
  "id": "adsenseplatform:v1alpha",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "kind": "discovery#restDescription",
  "version": "v1alpha",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "resources": {
    "accounts": {
      "resources": {
        "platforms": {
          "resources": {
            "groups": {
              "methods": {
                "patch": {
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a Platform Group.",
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "PATCH"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/groups",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "location": "path"
                    }
                  },
                  "description": "Lists Platform Groups for a specified Platform."
                },
                "get": {
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "PlatformGroup"
                  }
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ]
                    },
                    "patch": {
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "description": "Update a Platform Child Site.",
                      "parameters": {
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "httpMethod": "PATCH",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/{+parent}/sites",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account."
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "response": {
                "$ref": "Platform"
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "httpMethod": "GET",
              "description": "Gets a platform.",
              "id": "adsenseplatform.accounts.platforms.get",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/platforms",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "id": "adsenseplatform.accounts.platforms.list",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists platforms for a specified account."
            }
          }
        }
      }
    },
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "sites": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists sites for a specific account.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a site from a specified account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/sites",
                  "request": {
                    "$ref": "Site"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "requestReview": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1alpha/{+name}:requestReview",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "description": "Gets a site from a specified sub-account.",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Event"
                  },
                  "path": "v1alpha/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates an account event.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "response": {
                    "$ref": "Event"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "id": "adsenseplatform.platforms.accounts.list",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "description": "Gets information about the selected sub-account.",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.get"
            },
            "close": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "description": "Closes a sub-account.",
              "id": "adsenseplatform.platforms.accounts.close",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Creates a sub-account.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "path": "v1alpha/{+parent}/accounts",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "id": "adsenseplatform.platforms.accounts.create",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts"
            },
            "lookup": {
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}"
                }
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "path": "v1alpha/{+parent}/accounts:lookup"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "name": "adsenseplatform",
  "title": "AdSense Platform API",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "canonicalName": "AdSense Platform",
  "version_module": true
}