{
  "revision": "20260827",
  "version": "v1",
  "basePath": "",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "name": "adsenseplatform",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "ownerDomain": "google.com",
  "version_module": true,
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "description": "",
  "discoveryVersion": "v1",
  "canonicalName": "AdSense Platform",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "id": "adsenseplatform:v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "schemas": {
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "id": "EventInfo",
      "type": "object",
      "properties": {
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        },
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        }
      }
    },
    "Event": {
      "id": "Event",
      "description": "A platform sub-account event to record spam signals.",
      "type": "object",
      "properties": {
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type.",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        }
      }
    },
    "LookupAccountResponse": {
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "id": "LookupAccountResponse"
    },
    "CloseAccountRequest": {
      "type": "object",
      "properties": {},
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc."
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc.",
      "type": "object",
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "CloseAccountResponse": {
      "properties": {},
      "id": "CloseAccountResponse",
      "type": "object",
      "description": "Response definition for the account close rpc."
    },
    "RequestSiteReviewResponse": {
      "properties": {},
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "id": "RequestSiteReviewResponse"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListAccountsResponse": {
      "type": "object",
      "id": "ListAccountsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "description": "Response definition for the list accounts rpc."
    },
    "Site": {
      "type": "object",
      "description": "Representation of a Site.",
      "id": "Site",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "readOnly": true
        },
        "domain": {
          "type": "string",
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "type": "string"
        }
      }
    },
    "Address": {
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        }
      },
      "type": "object",
      "id": "Address",
      "description": "Address data."
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "id": "TimeZone"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "Representation of an Account.",
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ]
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "title": "AdSense Platform API",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "path": "v1/{+parent}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+$"
                },
                "creationRequestId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets information about the selected sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Account"
              },
              "id": "adsenseplatform.platforms.accounts.get",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "Account"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a sub-account.",
              "id": "adsenseplatform.platforms.accounts.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Account"
              }
            },
            "close": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "path": "v1/{+name}:close",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.close",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "description": "Closes a sub-account.",
              "request": {
                "$ref": "CloseAccountRequest"
              }
            },
            "list": {
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                }
              },
              "id": "adsenseplatform.platforms.accounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/accounts",
              "flatPath": "v1/platforms/{platformsId}/accounts"
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a site for a specified account.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "Site"
                  },
                  "path": "v1/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create"
                },
                "list": {
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists sites for a specific account.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1/{+name}",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "requestReview": {
                  "path": "v1/{+name}:requestReview",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a site from a specified account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.delete"
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "response": {
                    "$ref": "Event"
                  },
                  "path": "v1/{+parent}/events",
                  "httpMethod": "POST",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "description": "Creates an account event.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Event"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}