{
  "title": "AdSense Platform API",
  "discoveryVersion": "v1",
  "description": "",
  "servicePath": "",
  "name": "adsenseplatform",
  "kind": "discovery#restDescription",
  "version_module": true,
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "revision": "20260902",
  "batchPath": "batch",
  "version": "v1alpha",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "create": {
              "description": "Creates a sub-account.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha/{+parent}/accounts",
              "request": {
                "$ref": "Account"
              }
            },
            "close": {
              "httpMethod": "POST",
              "description": "Closes a sub-account.",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "path": "v1alpha/{+name}:close",
              "id": "adsenseplatform.platforms.accounts.close",
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close"
            },
            "get": {
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "response": {
                "$ref": "Account"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about the selected sub-account.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true
                }
              },
              "id": "adsenseplatform.platforms.accounts.get"
            },
            "lookup": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameters": {
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}"
                }
              },
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404."
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "path": "v1alpha/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "required": true,
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              }
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/events",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "description": "Creates an account event.",
                  "response": {
                    "$ref": "Event"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "request": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                }
              }
            },
            "sites": {
              "methods": {
                "requestReview": {
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:requestReview",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "description": "Deletes a site from a specified account."
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "httpMethod": "POST",
                  "description": "Creates a site for a specified account.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "path": "v1alpha/{+parent}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists sites for a specific account.",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        },
                        "parent": {
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "location": "path",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "path": "v1alpha/{+parent}/sites",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "path": "v1alpha/{+name}"
                    },
                    "patch": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Update a Platform Child Site."
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "description": "Lists Platform Groups for a specified Platform.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1alpha/{+parent}/groups"
                },
                "patch": {
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "parameters": {
                    "name": {
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Update a Platform Group.",
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "PATCH"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "description": "Gets a platform.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "required": true,
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.accounts.platforms.get",
              "response": {
                "$ref": "Platform"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/platforms",
              "id": "adsenseplatform.accounts.platforms.list",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "description": "Lists platforms for a specified account.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms"
            }
          }
        }
      }
    }
  },
  "canonicalName": "AdSense Platform",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    }
  },
  "id": "adsenseplatform:v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "basePath": "",
  "schemas": {
    "ListPlatformsResponse": {
      "id": "ListPlatformsResponse",
      "description": "Response definition for the platform list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "platforms": {
          "type": "array",
          "description": "The platforms returned in this list response.",
          "items": {
            "$ref": "Platform"
          }
        }
      },
      "type": "object"
    },
    "Platform": {
      "id": "Platform",
      "type": "object",
      "properties": {
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the platform."
        }
      },
      "description": "Representation of a Transparent Platform."
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "type": "object",
      "properties": {}
    },
    "EventInfo": {
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        }
      },
      "type": "object",
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII)."
    },
    "LookupAccountResponse": {
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response definition for the lookup account rpc."
    },
    "PlatformChildSite": {
      "id": "PlatformChildSite",
      "type": "object",
      "properties": {
        "platformGroup": {
          "type": "string",
          "description": "Resource name of the Platform Group of the Platform Child Site."
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        }
      },
      "description": "Representation of a Transparent Platform Child Site."
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "type": "object",
      "id": "RequestSiteReviewResponse",
      "properties": {}
    },
    "ListSitesResponse": {
      "type": "object",
      "id": "ListSitesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "sites": {
          "items": {
            "$ref": "Site"
          },
          "type": "array",
          "description": "The sites returned in this list response."
        }
      },
      "description": "Response definition for the site list rpc."
    },
    "Event": {
      "id": "Event",
      "properties": {
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type."
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Event timestamp."
        }
      },
      "description": "A platform sub-account event to record spam signals.",
      "type": "object"
    },
    "ListPlatformGroupsResponse": {
      "id": "ListPlatformGroupsResponse",
      "properties": {
        "platformGroups": {
          "description": "The platform groups returned in this list response.",
          "items": {
            "$ref": "PlatformGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response definition for the platform groups list rpc."
    },
    "CloseAccountResponse": {
      "id": "CloseAccountResponse",
      "properties": {},
      "description": "Response definition for the account close rpc.",
      "type": "object"
    },
    "Account": {
      "description": "Representation of an Account.",
      "id": "Account",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TimeZone"
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "description": "Response definition for the list platform child sites rpc.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platformChildSites": {
          "items": {
            "$ref": "PlatformChildSite"
          },
          "type": "array",
          "description": "The platform child sites returned in this list response."
        }
      },
      "type": "object"
    },
    "Address": {
      "description": "Address data.",
      "id": "Address",
      "type": "object",
      "properties": {
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "company": {
          "type": "string",
          "description": "Name of the company. Max length 255 bytes or 34 characters."
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "type": "object"
    },
    "Decimal": {
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "type": "object"
    },
    "Site": {
      "properties": {
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true
        }
      },
      "description": "Representation of a Site.",
      "id": "Site",
      "type": "object"
    },
    "PlatformGroup": {
      "type": "object",
      "id": "PlatformGroup",
      "properties": {
        "revshareMillipercent": {
          "readOnly": true,
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "$ref": "Decimal"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}"
        },
        "description": {
          "type": "string",
          "description": "Required. Description of the PlatformGroup."
        }
      },
      "description": "Representation of a Transparent Platform Group."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  }
}