{
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "version": "v1",
  "discoveryVersion": "v1",
  "canonicalName": "Advisorynotifications",
  "ownerDomain": "google.com",
  "name": "advisorynotifications",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "ownerName": "Google",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "properties": {
        "notifications": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          },
          "description": "List of notifications under a given parent.",
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "Estimation of a total number of notifications."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response of ListNotifications endpoint."
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        },
        "dataRows": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "description": "A notification object for notifying customers about security and privacy issues.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the notification was created."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}."
        },
        "subject": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject",
          "description": "The subject line of the notification."
        },
        "notificationType": {
          "description": "Type of notification",
          "type": "string",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ],
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ]
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          },
          "description": "A list of messages in the notification."
        }
      },
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Notification"
    },
    "GoogleCloudAdvisorynotificationsV1Text": {
      "description": "A text object containing the English text and its localized copies.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "properties": {
        "localizationState": {
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "description": "Status of the localization.",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ],
          "type": "string"
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        },
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Settings for each NotificationType."
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "description": "Attachment with specific information about the issue.",
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "properties": {
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        },
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "type": "object",
      "properties": {
        "text": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Text",
          "description": "The text content."
        }
      },
      "description": "A subject line of a notification."
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "description": "A message which contains notification details.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "The Message creation timestamp.",
          "type": "string"
        },
        "localizationTime": {
          "description": "Time when Message was localized",
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "description": "The attachments to download."
        },
        "body": {
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody",
          "description": "The message content."
        }
      },
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "properties": {
        "text": {
          "$ref": "GoogleCloudAdvisorynotificationsV1Text",
          "description": "The text content of the message body."
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "type": "object",
      "description": "A message body containing text."
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "properties": {
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        },
        "notificationSettings": {
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "description": "Settings for Advisory Notifications."
    }
  },
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "description": "Get notification settings.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.organizations.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "GET"
            },
            "updateSettings": {
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Update notification settings.",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path"
                }
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "description": "Gets a notification.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "id": "advisorynotifications.organizations.locations.notifications.get"
                },
                "list": {
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "description": "Lists notifications under a given parent.",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string",
                      "location": "query"
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response."
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/notifications",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "description": "Get notification settings.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "location": "path"
                }
              },
              "id": "advisorynotifications.projects.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            },
            "updateSettings": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "id": "advisorynotifications.projects.locations.updateSettings",
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Update notification settings."
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/notifications",
                  "description": "Lists notifications under a given parent.",
                  "parameters": {
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "type": "string",
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ]
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\"."
                    },
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "parameters": {
                    "languageCode": {
                      "location": "query",
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a notification.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "revision": "20260823",
  "title": "Advisory Notifications API",
  "id": "advisorynotifications:v1",
  "servicePath": ""
}