{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "batchPath": "batch",
  "id": "agentidentitycredentials:v1",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1_Pending": {
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1_Pending",
      "type": "object",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
    },
    "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsResponse",
      "properties": {
        "success": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1_Success",
          "description": "Message indicating credentials were successfully retrieved."
        },
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1_ConsentRejected"
        },
        "uriConsentRequired": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1_UriConsentRequired",
          "description": "Message indicating URI-based consent is required."
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1_Pending",
          "description": "Message indicating credential retrieval is pending."
        }
      },
      "type": "object",
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts."
    },
    "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsResponse": {
      "properties": {},
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "id": "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsResponse",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1_Success": {
      "description": "Message indicating successful retrieval of credentials.",
      "properties": {
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "token": {
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1_Success"
    },
    "GoogleCloudAgentidentitycredentialsV1_UriConsentRequired": {
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "id": "GoogleCloudAgentidentitycredentialsV1_UriConsentRequired",
      "properties": {
        "uid": {
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "readOnly": true,
          "type": "string"
        },
        "consentNonce": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5)."
        },
        "authorizationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present."
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsRequest": {
      "description": "Request message for `FinalizeCredentials`.",
      "properties": {
        "userIdValidationState": {
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1_ConsentRejected": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1_ConsentRejected",
      "description": "Indicates the user has rejected the permission delegation or canceled the request."
    },
    "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsRequest": {
      "properties": {
        "scopes": {
          "description": "Optional. The OAuth scopes required for this access.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsRequest",
      "type": "object",
      "description": "Request message for `RetrieveCredentials`."
    }
  },
  "title": "Agent Identity Credentials API",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "version": "v1",
  "version_module": true,
  "revision": "20260928",
  "protocol": "rest",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "canonicalName": "Agent Identity Credentials",
  "name": "agentidentitycredentials",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "path": "v1/{+authProvider}/credentials:finalize",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsRequest"
                      },
                      "parameters": {
                        "authProvider": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "description": "Finalizes the credentials after a successful consent flow."
                    },
                    "retrieve": {
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "path": "v1/{+authProvider}/credentials:retrieve",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsRequest"
                      },
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "parameters": {
                        "authProvider": {
                          "required": true,
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  }
}