{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Agent Identity Credentials",
  "discoveryVersion": "v1",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "title": "Agent Identity Credentials API",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired": {
      "type": "object",
      "properties": {
        "consentNonce": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5)."
        },
        "authorizationUri": {
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Success": {
      "properties": {
        "header": {
          "type": "string",
          "description": "The HTTP header name where the token should be placed."
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "expireTime": {
          "type": "string",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "format": "google-datetime"
        },
        "token": {
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow.",
          "type": "string"
        }
      },
      "description": "Message indicating successful retrieval of credentials.",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Success",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest": {
      "type": "object",
      "description": "Request message for `FinalizeCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest",
      "properties": {
        "userIdValidationState": {
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse": {
      "type": "object",
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
    },
    "GoogleCloudAgentidentitycredentialsV1beta_Pending": {
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1beta_Pending",
      "type": "object",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse": {
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse",
      "properties": {
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected"
        },
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Success"
        },
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired"
        },
        "pending": {
          "description": "Message indicating credential retrieval is pending.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1beta_Pending"
        }
      },
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest": {
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest",
      "properties": {
        "forceRefreshToken": {
          "type": "string",
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
        },
        "continueUri": {
          "type": "string",
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected."
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for `RetrieveCredentials`."
    },
    "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected": {
      "id": "GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected",
      "description": "Indicates the user has rejected the permission delegation or canceled the request.",
      "type": "object",
      "properties": {}
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "protocol": "rest",
  "id": "agentidentitycredentials:v1beta",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "name": "agentidentitycredentials",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "revision": "20260826",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "retrieve": {
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest"
                      },
                      "path": "v1beta/{+authProvider}/credentials:retrieve",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information."
                    },
                    "finalize": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
                      },
                      "parameters": {
                        "authProvider": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
                        }
                      },
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "path": "v1beta/{+authProvider}/credentials:finalize",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest"
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription"
}