{
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "kind": "discovery#restDescription",
  "id": "agentidentitycredentials:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "protocol": "rest",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "revision": "20260928",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Agent Identity Credentials",
  "version": "v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "retrieve": {
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "path": "v1alpha/{+authProvider}/credentials:retrieve"
                    },
                    "exchange": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "path": "v1alpha/{+authProvider}/credentials:exchange",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:exchange",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.exchange",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest"
                      },
                      "description": "Swaps an input credential for a target credential as per the rules and provider defined in the given auth provider."
                    },
                    "finalize": {
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "authProvider": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "name": "agentidentitycredentials",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "title": "Agent Identity Credentials API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse": {
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The scopes actually associated with the retrieved token.",
          "items": {
            "type": "string"
          }
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. The expiration time of the exchanged access token.",
          "type": "string"
        },
        "acquireTime": {
          "type": "string",
          "description": "Optional. The time when the token was acquired.",
          "format": "google-datetime"
        },
        "token": {
          "type": "string",
          "description": "The user-consented workforce access token resulting from the exchange."
        }
      },
      "description": "Response message for `ExchangeCredentials` containing the resulting credentials.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "description": "Request message for `RetrieveCredentials`.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest",
      "properties": {
        "forceRefreshToken": {
          "type": "string",
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access."
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "continueUri": {
          "type": "string",
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected."
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The desired downstream OAuth scopes to request for the exchanged token.",
          "type": "array"
        },
        "sourceCredential": {
          "description": "Required. The incoming identity or assertion token to be exchanged.",
          "type": "string"
        },
        "targetTokenType": {
          "type": "string",
          "enum": [
            "TARGET_TOKEN_TYPE_UNSPECIFIED",
            "TARGET_TOKEN_TYPE_ACCESS_TOKEN",
            "TARGET_TOKEN_TYPE_ID_JAG"
          ],
          "enumDescriptions": [
            "Unspecified target token type. The service will apply default exchange semantics based on the target AuthProvider's configuration.",
            "Request an OAuth access token.",
            "Request an Identity Assertion Authorization Grant (ID-JAG) token."
          ],
          "description": "Optional. The desired target token type to be returned from the exchange. If unspecified, defaults to the token type configured on the AuthProvider."
        },
        "tokenBinding": {
          "description": "Optional. The token binding parameters to be applied to downstream tokens and embedded into the ID-JAG assertion.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding"
        }
      },
      "description": "Request message for `ExchangeCredentials`.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "properties": {
        "consentNonce": {
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5).",
          "type": "string",
          "readOnly": true
        },
        "authorizationUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present."
        },
        "uid": {
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "type": "object",
      "properties": {
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        },
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
          "description": "Message indicating credential retrieval is pending."
        },
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected"
        }
      },
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "type": "object",
      "description": "Request message for `FinalizeCredentials`.",
      "properties": {
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "userIdValidationState": {
          "type": "string",
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow."
        },
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "properties": {
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "token": {
          "type": "string",
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
      "description": "Message indicating successful retrieval of credentials."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding": {
      "properties": {
        "certificateFingerprint": {
          "description": "Optional. The base64url-encoded SHA-256 hash of the DER-encoded X.509 client certificate, as defined in RFC 8705 Section 3.1 (corresponding to \"x5t#S256\"). Format requirements: - Base64url encoding (RFC 4648 Section 5) using URL-safe characters ('-' and '_') without padding ('='). - Exactly 43 characters long for a 256-bit SHA-256 digest.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding",
      "description": "Configuration for binding downstream credentials to client communication channel properties.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse",
      "properties": {}
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "type": "object",
      "description": "Indicates the user has rejected the permission delegation or canceled the request.",
      "properties": {}
    }
  },
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/"
}