{
  "version": "v1alpha",
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "revision": "20260918",
  "name": "agentidentitycredentials",
  "protocol": "rest",
  "basePath": "",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Agent Identity Credentials API",
  "servicePath": "",
  "discoveryVersion": "v1",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "httpMethod": "POST",
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "retrieve": {
                      "path": "v1alpha/{+authProvider}/credentials:retrieve",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve"
                    },
                    "exchange": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:exchange",
                      "path": "v1alpha/{+authProvider}/credentials:exchange",
                      "description": "Swaps an input credential for a target credential as per the rules and provider defined in the given auth provider.",
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.exchange",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "id": "agentidentitycredentials:v1alpha",
  "batchPath": "batch",
  "canonicalName": "Agent Identity Credentials",
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "type": "object",
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts.",
      "properties": {
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
          "description": "Message indicating credential retrieval is pending."
        },
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected"
        },
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "description": "Indicates the user has rejected the permission delegation or canceled the request."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "description": "Request message for `FinalizeCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest",
      "properties": {
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        },
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "userIdValidationState": {
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The OAuth scopes required for this access."
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected.",
          "type": "string"
        }
      },
      "description": "Request message for `RetrieveCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse",
      "description": "Response message for `FinalizeCredentials`. Intentionally empty."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "description": "Message indicating successful retrieval of credentials.",
      "type": "object",
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
        },
        "header": {
          "type": "string",
          "description": "The HTTP header name where the token should be placed."
        },
        "token": {
          "type": "string",
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "type": "object",
      "properties": {
        "authorizationUri": {
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique ID of the credentials retrieval operation.",
          "readOnly": true
        },
        "consentNonce": {
          "readOnly": true,
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5).",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "type": "object",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time.",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding",
      "type": "object",
      "properties": {
        "certificateFingerprint": {
          "type": "string",
          "description": "Optional. The base64url-encoded SHA-256 hash of the DER-encoded X.509 client certificate, as defined in RFC 8705 Section 3.1 (corresponding to \"x5t#S256\"). Format requirements: - Base64url encoding (RFC 4648 Section 5) using URL-safe characters ('-' and '_') without padding ('='). - Exactly 43 characters long for a 256-bit SHA-256 digest."
        }
      },
      "description": "Configuration for binding downstream credentials to client communication channel properties."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest": {
      "description": "Request message for `ExchangeCredentials`.",
      "properties": {
        "targetTokenType": {
          "enumDescriptions": [
            "Unspecified target token type. The service will apply default exchange semantics based on the target AuthProvider's configuration.",
            "Request an OAuth access token.",
            "Request an Identity Assertion Authorization Grant (ID-JAG) token."
          ],
          "type": "string",
          "enum": [
            "TARGET_TOKEN_TYPE_UNSPECIFIED",
            "TARGET_TOKEN_TYPE_ACCESS_TOKEN",
            "TARGET_TOKEN_TYPE_ID_JAG"
          ],
          "description": "Optional. The desired target token type to be returned from the exchange. If unspecified, defaults to the token type configured on the AuthProvider."
        },
        "tokenBinding": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding",
          "description": "Optional. The token binding parameters to be applied to downstream tokens and embedded into the ID-JAG assertion."
        },
        "scopes": {
          "description": "Optional. The desired downstream OAuth scopes to request for the exchanged token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceCredential": {
          "description": "Required. The incoming identity or assertion token to be exchanged.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse",
      "properties": {
        "expireTime": {
          "type": "string",
          "description": "Optional. The expiration time of the exchanged access token.",
          "format": "google-datetime"
        },
        "acquireTime": {
          "format": "google-datetime",
          "description": "Optional. The time when the token was acquired.",
          "type": "string"
        },
        "scopes": {
          "description": "The scopes actually associated with the retrieved token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "token": {
          "description": "The user-consented workforce access token resulting from the exchange.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for `ExchangeCredentials` containing the resulting credentials."
    }
  },
  "version_module": true
}