{
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "finalize": {
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      },
                      "parameters": {
                        "authProvider": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "type": "string"
                        }
                      }
                    },
                    "exchange": {
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse"
                      },
                      "httpMethod": "POST",
                      "description": "Swaps an input credential for a target credential as per the rules and provider defined in the given auth provider.",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.exchange",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "path": "v1alpha/{+authProvider}/credentials:exchange",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:exchange",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest"
                      }
                    },
                    "retrieve": {
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "path": "v1alpha/{+authProvider}/credentials:retrieve",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "httpMethod": "POST",
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Agent Identity Credentials API",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "revision": "20260918",
  "ownerName": "Google",
  "protocol": "rest",
  "id": "agentidentitycredentials:v1alpha",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://agentidentitycredentials.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "name": "agentidentitycredentials",
  "basePath": "",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse": {
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scopes actually associated with the retrieved token."
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Optional. The expiration time of the exchanged access token.",
          "type": "string"
        },
        "acquireTime": {
          "format": "google-datetime",
          "description": "Optional. The time when the token was acquired.",
          "type": "string"
        },
        "token": {
          "type": "string",
          "description": "The user-consented workforce access token resulting from the exchange."
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse",
      "description": "Response message for `ExchangeCredentials` containing the resulting credentials."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "properties": {
        "token": {
          "type": "string",
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list."
        },
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        }
      },
      "description": "Message indicating successful retrieval of credentials.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest",
      "properties": {
        "userIdValidationState": {
          "description": "Required. The encrypted state passed back from the consent flow.",
          "format": "byte",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "consentNonce": {
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata.",
          "type": "string"
        }
      },
      "description": "Request message for `FinalizeCredentials`."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "properties": {
        "success": {
          "description": "Message indicating credentials were successfully retrieved.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success"
        },
        "consentRejected": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
          "description": "Message indicating consent was rejected."
        },
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        },
        "pending": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
          "description": "Message indicating credential retrieval is pending."
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "forceRefreshToken": {
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow.",
          "type": "string"
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The OAuth scopes required for this access.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest",
      "type": "object",
      "description": "Request message for `RetrieveCredentials`."
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "type": "object",
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired",
      "properties": {
        "authorizationUri": {
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string"
        },
        "consentNonce": {
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5).",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the credentials retrieval operation."
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding": {
      "type": "object",
      "description": "Configuration for binding downstream credentials to client communication channel properties.",
      "properties": {
        "certificateFingerprint": {
          "type": "string",
          "description": "Optional. The base64url-encoded SHA-256 hash of the DER-encoded X.509 client certificate, as defined in RFC 8705 Section 3.1 (corresponding to \"x5t#S256\"). Format requirements: - Base64url encoding (RFC 4648 Section 5) using URL-safe characters ('-' and '_') without padding ('='). - Exactly 43 characters long for a 256-bit SHA-256 digest."
        }
      },
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest": {
      "type": "object",
      "description": "Request message for `ExchangeCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest",
      "properties": {
        "sourceCredential": {
          "type": "string",
          "description": "Required. The incoming identity or assertion token to be exchanged."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The desired downstream OAuth scopes to request for the exchanged token.",
          "items": {
            "type": "string"
          }
        },
        "targetTokenType": {
          "enumDescriptions": [
            "Unspecified target token type. The service will apply default exchange semantics based on the target AuthProvider's configuration.",
            "Request an OAuth access token.",
            "Request an Identity Assertion Authorization Grant (ID-JAG) token."
          ],
          "type": "string",
          "enum": [
            "TARGET_TOKEN_TYPE_UNSPECIFIED",
            "TARGET_TOKEN_TYPE_ACCESS_TOKEN",
            "TARGET_TOKEN_TYPE_ID_JAG"
          ],
          "description": "Optional. The desired target token type to be returned from the exchange. If unspecified, defaults to the token type configured on the AuthProvider."
        },
        "tokenBinding": {
          "description": "Optional. The token binding parameters to be applied to downstream tokens and embedded into the ID-JAG assertion.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "description": "Indicates the user has rejected the permission delegation or canceled the request.",
      "type": "object",
      "properties": {}
    }
  },
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Agent Identity Credentials",
  "batchPath": "batch",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "version_module": true,
  "servicePath": "",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "version": "v1alpha",
  "ownerDomain": "google.com"
}