{
  "revision": "20261001",
  "canonicalName": "Agent Identity",
  "id": "agentidentity:v1beta",
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "title": "Agent Identity API",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "baseUrl": "https://agentidentity.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "description": "",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "schemas": {
    "TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ConnectorReferenceAuthProvider": {
      "description": "Configuration parameters for the Connector Reference auth provider.",
      "id": "ConnectorReferenceAuthProvider",
      "properties": {
        "connector": {
          "type": "string",
          "description": "Required. The name of the referenced connector."
        },
        "authorizationDetails": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            },
            "type": "object"
          },
          "description": "Optional. Rich Authorization Requests (RFC 9396) detailing targeted OAuth resources/scopes, formatted as a JSON array of JSON objects.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CustomIssuer": {
      "type": "object",
      "id": "CustomIssuer",
      "description": "Configuration for a custom or third-party authorization server issuer.",
      "properties": {
        "issuer": {
          "type": "string",
          "description": "Optional. The issuer identifier of the target Authorization Server."
        },
        "tokenUrl": {
          "description": "Required. The token endpoint of the target OAuth authorization server to retrieve resource tokens.",
          "type": "string"
        }
      }
    },
    "ResolveAuthorizationRequest": {
      "id": "ResolveAuthorizationRequest",
      "properties": {
        "clientUserId": {
          "description": "Required. The user ID of the client for whom the authorization is resolved.",
          "type": "string"
        }
      },
      "description": "Request message for `ResolveAuthorization`.",
      "type": "object"
    },
    "ThreeLeggedOAuth": {
      "type": "object",
      "description": "Configuration for 3-legged OAuth (3LO) authentication.",
      "id": "ThreeLeggedOAuth",
      "properties": {
        "authorizationUrl": {
          "description": "Optional. The authorization endpoint to send users to for consenting to delegate to the agent. For example, \"https://auth.atlassian.com/authorize\".",
          "type": "string"
        },
        "enablePkce": {
          "type": "boolean",
          "description": "Optional. Enables Proof Key for Code Exchange (PKCE) for the OAuth flow to prevent authorization code interception attacks."
        },
        "clientSecret": {
          "type": "string",
          "description": "Optional. Input only. The client secret of the OAuth client."
        },
        "defaultContinueUri": {
          "description": "Optional. The default continue URI for the 3LO flow, used when no continue URI is provided in the RetrieveCredentials request.",
          "type": "string"
        },
        "tokenUrl": {
          "description": "Optional. The token endpoint for requesting tokens on behalf of an end user. For example, \"https://auth.atlassian.com/oauth/token\".",
          "type": "string"
        },
        "redirectUrl": {
          "description": "Output only. The redirect URL this auth provider uses for the OAuth exchange. This is deterministic based on the name of the auth provider.",
          "type": "string",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID of the OAuth client."
        }
      }
    },
    "ClientAssertionJwtAuth": {
      "type": "object",
      "id": "ClientAssertionJwtAuth",
      "properties": {
        "clientId": {
          "description": "Required. The client identifier.",
          "type": "string"
        }
      },
      "description": "Configuration for client ID and client assertion JWT authentication."
    },
    "QueryWorkloadsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        },
        "workloadIds": {
          "description": "The unique list of identifiers for the agents that used this auth provider, starting with `principal://`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "QueryWorkloadsResponse",
      "description": "Response message for `QueryWorkloads`."
    },
    "EnableAuthProviderRequest": {
      "description": "Request message for `EnableAuthProvider`.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "EnableAuthProviderRequest",
      "type": "object"
    },
    "CrossAppAccessAuthProvider": {
      "description": "Configuration parameters for the Cross-App Access auth provider.",
      "id": "CrossAppAccessAuthProvider",
      "type": "object",
      "properties": {
        "clientSecretAuth": {
          "description": "Option 1: Authenticate using a standard `client_id` and `client_secret`.",
          "$ref": "ClientSecretAuth"
        },
        "customIssuer": {
          "description": "Configuration when using a custom or third-party authorization server as the issuer.",
          "$ref": "CustomIssuer"
        },
        "idJagInput": {
          "$ref": "DirectIdJagInput",
          "description": "Configuration for when the input is already an ID-JAG."
        },
        "workforceIdentityFederation": {
          "description": "Configuration when using Workforce Identity Federation as the issuer.",
          "$ref": "WorkforceIdentityFederation"
        },
        "additionalParameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Additional parameters to be passed to the token endpoint."
        },
        "idTokenInput": {
          "description": "Configuration for when the input is an ID token.",
          "$ref": "IdTokenProcessingConfig"
        },
        "googleAccount": {
          "description": "Configuration when using Google Accounts as the issuer.",
          "$ref": "GoogleAccount"
        },
        "clientAssertionJwtAuth": {
          "$ref": "ClientAssertionJwtAuth",
          "description": "Option 2: Authenticate using a standard `client_id` and a Client Assertion JWT."
        }
      }
    },
    "ListAccessSummariesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "accessSummaries": {
          "items": {
            "$ref": "AccessSummary"
          },
          "description": "The list of access summaries.",
          "type": "array"
        }
      },
      "id": "ListAccessSummariesResponse",
      "description": "Response message for `ListAccessSummaries`."
    },
    "ClientSecretAuth": {
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Required. Input only. The client secret."
        },
        "clientId": {
          "description": "Required. The client identifier.",
          "type": "string"
        }
      },
      "description": "Configuration for client ID and client secret authentication.",
      "id": "ClientSecretAuth",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "QueryAuthProvidersResponse": {
      "type": "object",
      "description": "Response message for `QueryAuthProviders`.",
      "properties": {
        "authProviderNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The unique list of auth provider resource names used by the workload."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "QueryAuthProvidersResponse"
    },
    "AgentIdentityPool": {
      "description": "Marker message to indicate the managed Agent Identity Pool is used.",
      "type": "object",
      "properties": {},
      "id": "AgentIdentityPool"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      }
    },
    "RevokeAuthorizationResponse": {
      "description": "Response message for `RevokeAuthorization`.",
      "id": "RevokeAuthorizationResponse",
      "type": "object",
      "properties": {}
    },
    "ListAuthorizationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "authorizations": {
          "description": "The list of authorizations.",
          "items": {
            "$ref": "Authorization"
          },
          "type": "array"
        }
      },
      "description": "Response message for `ListAuthorizations`.",
      "id": "ListAuthorizationsResponse"
    },
    "RevokeAuthorizationRequest": {
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The identity of the user to revoke authorization for."
        }
      },
      "id": "RevokeAuthorizationRequest",
      "description": "Request message for `RevokeAuthorization`."
    },
    "ApiKeyParams": {
      "id": "ApiKeyParams",
      "description": "Configuration for API key authentication.",
      "type": "object",
      "properties": {
        "apiKey": {
          "description": "Optional. Input only. The API key for this auth provider.",
          "type": "string"
        }
      }
    },
    "DisableAuthProviderRequest": {
      "description": "Request message for `DisableAuthProvider`.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "DisableAuthProviderRequest",
      "type": "object"
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "UndeleteAuthProviderRequest": {
      "id": "UndeleteAuthProviderRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for `UndeleteAuthProvider`."
    },
    "AccessSummary": {
      "type": "object",
      "description": "Represents an access summary.",
      "id": "AccessSummary",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Output only. The URL of the authentication server that was accessed.",
          "readOnly": true
        },
        "workloadId": {
          "type": "string",
          "description": "Output only. The identity bound to the workload that this user interacted with to produce this access summary. Typically an agentic SPIFFE ID.",
          "readOnly": true
        },
        "purgeTime": {
          "type": "string",
          "description": "Output only. The time when this access summary is permanently deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "userId": {
          "readOnly": true,
          "description": "Output only. The user ID provided by the workload application for this user. Not verified by Google.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the access summary.",
          "type": "string"
        },
        "firstAccessTime": {
          "description": "Output only. The first time this user interacted with this workload, rounded to the previous hour.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels as key-value pairs.",
          "type": "object"
        },
        "authProviderType": {
          "enum": [
            "AUTH_PROVIDER_TYPE_UNSPECIFIED",
            "AUTH_PROVIDER_TYPE_THREE_LEGGED_OAUTH",
            "AUTH_PROVIDER_TYPE_TWO_LEGGED_OAUTH",
            "AUTH_PROVIDER_TYPE_API_KEY",
            "AUTH_PROVIDER_TYPE_GEMINI_ENTERPRISE",
            "AUTH_PROVIDER_TYPE_CROSS_APP_ACCESS",
            "AUTH_PROVIDER_TYPE_CONNECTOR_REFERENCE"
          ],
          "enumDescriptions": [
            "Unspecified auth provider type.",
            "3-legged OAuth (3LO) auth provider type.",
            "2-legged OAuth (2LO) auth provider type.",
            "API key auth provider type.",
            "Gemini Enterprise auth provider type.",
            "Cross-App Access auth provider type.",
            "Connector Reference auth provider type."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The auth provider type used to create this access summary."
        },
        "lastAccessTime": {
          "description": "Output only. The most recent time this user interacted with this workload, rounded to the previous hour.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "authProvider": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The auth provider that this access summary is associated with."
        },
        "scopes": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. All scopes that have been used by this user with this workload. The number of scopes is limited to 200.",
          "type": "array"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Authorization": {
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the authorization.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "clientUserId": {
          "type": "string",
          "description": "Output only. The client user ID provided by the client application for their end user. Not verified by Google.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The creation timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Active.",
            "Suspended."
          ],
          "description": "Output only. The state of the authorization."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The scopes actually granted by the end user during the consent flow.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents an authorization.",
      "id": "Authorization"
    },
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "AuthProviderTypeParams": {
      "type": "object",
      "description": "Required. Parameters specific to the auth provider type.",
      "properties": {
        "apiKey": {
          "description": "Parameters for API key authentication.",
          "$ref": "ApiKeyParams"
        },
        "connectorReferenceAuthProvider": {
          "description": "Parameters for Connector Reference authentication.",
          "$ref": "ConnectorReferenceAuthProvider"
        },
        "geAuthProvider": {
          "$ref": "GeminiEnterpriseAuthProviderParams",
          "description": "Parameters for Gemini Enterprise authentication."
        },
        "threeLeggedOauth": {
          "$ref": "ThreeLeggedOAuth",
          "description": "Parameters for 3-legged OAuth (3LO) authentication."
        },
        "twoLeggedOauth": {
          "$ref": "TwoLeggedOAuth",
          "description": "Parameters for 2-legged OAuth (2LO) authentication."
        },
        "xaaAuthProvider": {
          "$ref": "CrossAppAccessAuthProvider",
          "description": "Parameters for Cross-App Access authentication."
        }
      },
      "id": "AuthProviderTypeParams"
    },
    "AuthProvider": {
      "description": "Represents an auth provider.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the resource. Must be less than 256 characters."
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the auth provider will expire.",
          "format": "google-datetime"
        },
        "authProviderTypeParams": {
          "description": "Required. Parameters specific to the auth provider type.",
          "$ref": "AuthProviderTypeParams"
        },
        "deleted": {
          "readOnly": true,
          "description": "Output only. Set to `true` if the auth provider is deleted.",
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. Labels as key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "blockedScopes": {
          "type": "array",
          "description": "Optional. List of scopes that are blocked from being requested for this auth provider. If a scope appears in this list, it will not be requested, even if it also appears in `allowed_scopes`. `blocked_scopes` takes precedence over `allowed_scopes`. The number of blocked scopes is limited to 200.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. The full resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "allowedScopes": {
          "description": "Optional. List of scopes that are allowed to be requested for this auth provider. If this list is non-empty, only scopes within this list may be requested. If this list is empty, all scopes may be requested. Scopes appearing in `blocked_scopes` are disallowed even if they appear in `allowed_scopes`. The number of allowed scopes is limited to 200.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "Enabled and can be used.",
            "Disabled and cannot be used."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the auth provider.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update timestamp."
        },
        "workloadIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Input only. Identifiers for the agents that will use this auth provider, starting with `principal://`. For example: `principal://agents.global.org-${ORG_ID}.system.id.goog/resources/aiplatform/projects/{PROJECT_ID}/locations/{LOCATIONS}/reasoningEngines/{ID}`"
        }
      },
      "type": "object",
      "id": "AuthProvider"
    },
    "DirectIdJagInput": {
      "type": "object",
      "properties": {},
      "description": "Marker message indicating the input is already an ID-JAG, so no fetching is required.",
      "id": "DirectIdJagInput"
    },
    "GoogleAccount": {
      "properties": {},
      "type": "object",
      "description": "Configuration for Google Account usage as the issuer.",
      "id": "GoogleAccount"
    },
    "ListAuthProvidersResponse": {
      "id": "ListAuthProvidersResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "authProviders": {
          "items": {
            "$ref": "AuthProvider"
          },
          "description": "The list of auth providers.",
          "type": "array"
        }
      },
      "description": "Response message for `ListAuthProviders`.",
      "type": "object"
    },
    "Binding": {
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GeminiEnterpriseAuthProviderParams": {
      "id": "GeminiEnterpriseAuthProviderParams",
      "properties": {},
      "description": "Configuration for Gemini Enterprise authentication.",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "type": "object",
      "id": "AuditLogConfig"
    },
    "TwoLeggedOAuth": {
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Optional. The token endpoint of the OAuth client."
        },
        "clientSecret": {
          "description": "Optional. Input only. The client secret of the OAuth client.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Optional. The client ID of the OAuth client."
        }
      },
      "description": "Configuration for 2-legged OAuth (2LO) authentication.",
      "id": "TwoLeggedOAuth",
      "type": "object"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        }
      },
      "id": "Policy"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "IdTokenProcessingConfig": {
      "properties": {
        "agentIdentityPool": {
          "$ref": "AgentIdentityPool",
          "description": "Indicates the managed Agent Identity pool should be used to fetch the ID-JAG."
        },
        "idJagAdditionalClaims": {
          "description": "Optional. Optional additional claims to include when fetching an ID-JAG.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "idJagAuthProvider": {
          "description": "The resource name of the ID-JAG auth provider. Format: \"projects/{project}/locations/{location}/authProviders/{auth_provider}\"",
          "type": "string"
        }
      },
      "id": "IdTokenProcessingConfig",
      "description": "Defines how to process an input ID token to obtain an ID-JAG.",
      "type": "object"
    },
    "ResolveAuthorizationResponse": {
      "properties": {
        "authorization": {
          "type": "string",
          "description": "The resource name of the resolved authorization. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}/authorizations/{authorization}"
        }
      },
      "id": "ResolveAuthorizationResponse",
      "type": "object",
      "description": "Response message for `ResolveAuthorization`."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "WorkforceIdentityFederation": {
      "id": "WorkforceIdentityFederation",
      "description": "Configuration for Workforce Identity Federation usage as the issuer.",
      "properties": {},
      "type": "object"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "accessSummaries": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}",
                  "response": {
                    "$ref": "AccessSummary"
                  },
                  "description": "Gets details of a single access summary.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/accessSummaries/{accessSummariesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/accessSummaries/[^/]+$",
                      "description": "Required. The resource name of the access summary."
                    }
                  },
                  "id": "agentidentity.projects.locations.accessSummaries.get"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000."
                    },
                    "filter": {
                      "description": "Optional. Filter string to restrict the results. Currently supports filtering by `workload_id` or `auth_provider_name`. If no filter is provided, returns all access summaries for the requested project and location. Format: `workload_id=\"\"` or `auth_provider_name=\"\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. This field is currently ignored. Defaults to ordering by (auth_provider_id, user_id) in ascending order.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListAccessSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/accessSummaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/accessSummaries",
                  "description": "Lists access summaries in a given project and location. Supported filters: - `workload_id`: Filter by the SPIFFE ID of the agent. Example: `workload_id=\"spiffe://example.com/ns/default/sa/my-agent\"`",
                  "id": "agentidentity.projects.locations.accessSummaries.list"
                }
              }
            },
            "authProviders": {
              "methods": {
                "revokeAuthorization": {
                  "id": "agentidentity.projects.locations.authProviders.revokeAuthorization",
                  "request": {
                    "$ref": "RevokeAuthorizationRequest"
                  },
                  "path": "v1beta/{+name}:revokeAuthorization",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:revokeAuthorization",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RevokeAuthorizationResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "description": "Revokes all authorizations for a specific user on an auth provider. This deletes all authorization records associated with the user and auth provider, effectively revoking access across all agents.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1beta/{+resource}:testIamPermissions",
                  "id": "agentidentity.projects.locations.authProviders.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "query": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders:query",
                  "id": "agentidentity.projects.locations.authProviders.query",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned. A page token, received from a previous QueryAuthProviders call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to QueryAuthProviders must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}"
                    },
                    "workloadId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The workload identifier to filter by."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "format": "int32"
                    }
                  },
                  "path": "v1beta/{+parent}/authProviders:query",
                  "description": "Queries which auth providers are used by a given workload ID.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "QueryAuthProvidersResponse"
                  }
                },
                "undelete": {
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "description": "Undeletes a single auth provider.",
                  "request": {
                    "$ref": "UndeleteAuthProviderRequest"
                  },
                  "id": "agentidentity.projects.locations.authProviders.undelete",
                  "path": "v1beta/{+name}:undelete",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:undelete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "id": "agentidentity.projects.locations.authProviders.delete",
                  "description": "Deletes a single auth provider.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "description": "Required. The resource name of the auth provider.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "description": "Updates the parameters of a single auth provider.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the auth provider resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The full resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "id": "agentidentity.projects.locations.authProviders.patch",
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "AuthProvider"
                  },
                  "path": "v1beta/{+name}"
                },
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders",
                  "description": "Lists auth providers in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.list",
                  "path": "v1beta/{+parent}/authProviders",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned.",
                      "location": "query"
                    },
                    "showDeleted": {
                      "type": "boolean",
                      "description": "Optional. Deleted auth providers will be kept with a soft-delete for 30 days before being purged. If this field is set to `true`, deleted auth providers will also be returned.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Optional. Currently ignored. Defaults to ordering by auth_provider_id in ascending order.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter results. This field is currently ignored."
                    }
                  },
                  "response": {
                    "$ref": "ListAuthProvidersResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the auth provider.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}",
                  "httpMethod": "GET",
                  "id": "agentidentity.projects.locations.authProviders.get",
                  "description": "Gets details of a single auth provider.",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "description": "Enables a single auth provider.",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "request": {
                    "$ref": "EnableAuthProviderRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}:enable",
                  "httpMethod": "POST",
                  "id": "agentidentity.projects.locations.authProviders.enable",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:enable"
                },
                "disable": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:disable",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DisableAuthProviderRequest"
                  },
                  "description": "Disables a single auth provider.",
                  "id": "agentidentity.projects.locations.authProviders.disable",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "path": "v1beta/{+name}:disable"
                },
                "queryWorkloads": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}:queryWorkloads",
                  "response": {
                    "$ref": "QueryWorkloadsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:queryWorkloads",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the auth provider to query. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. When paginating, all other parameters provided to `QueryWorkloads` must match the call that provided the page token. If this field is omitted, the first page is returned.",
                      "location": "query"
                    }
                  },
                  "id": "agentidentity.projects.locations.authProviders.queryWorkloads",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Queries which workloads are using a given auth provider."
                },
                "create": {
                  "httpMethod": "POST",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource where the auth provider is created. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "authProviderId": {
                      "location": "query",
                      "description": "Required. The ID to use for the auth provider, which will become the final segment of the auth provider's resource name. This value should be 1-63 characters, and valid characters are /a-z-/. The first character must be a lowercase letter, and the last character must be a lowercase letter or a number.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a new auth provider in a given project and location.",
                  "request": {
                    "$ref": "AuthProvider"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.create",
                  "path": "v1beta/{+parent}/authProviders",
                  "response": {
                    "$ref": "AuthProvider"
                  }
                },
                "resolveAuthorization": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.resolveAuthorization",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta/{+name}:resolveAuthorization",
                  "response": {
                    "$ref": "ResolveAuthorizationResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Resolves an authorization for a user on an auth provider, creating one if it does not exist or returning an existing one.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the auth provider to resolve authorization for. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:resolveAuthorization",
                  "request": {
                    "$ref": "ResolveAuthorizationRequest"
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "agentidentity.projects.locations.authProviders.setIamPolicy",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta/{+resource}:setIamPolicy"
                },
                "getIamPolicy": {
                  "httpMethod": "GET",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1beta/{+resource}:getIamPolicy"
                }
              },
              "resources": {
                "authorizations": {
                  "methods": {
                    "getIamPolicy": {
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameters": {
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        },
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}:getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "agentidentity.projects.locations.authProviders.authorizations.getIamPolicy",
                      "path": "v1beta/{+resource}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      }
                    },
                    "setIamPolicy": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}:setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "response": {
                        "$ref": "Policy"
                      },
                      "id": "agentidentity.projects.locations.authProviders.authorizations.setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      }
                    },
                    "get": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the authorization.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "description": "Gets details of a single authorization.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Authorization"
                      },
                      "id": "agentidentity.projects.locations.authProviders.authorizations.get"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the authorization to delete. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}/authorizations/{authorization}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "id": "agentidentity.projects.locations.authProviders.authorizations.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a single authorization.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}"
                    },
                    "list": {
                      "path": "v1beta/{+parent}/authorizations",
                      "id": "agentidentity.projects.locations.authProviders.authorizations.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations",
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. This field is currently ignored. Defaults to ordering by authorization_id in ascending order.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter string to restrict the results. Currently supports filtering by `client_user_id` only. Format: `client_user_id=\"\"`",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListAuthorizations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAuthorizations` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "ListAuthorizationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists authorizations in a given project and location."
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "agentidentity.projects.locations.authProviders.authorizations.testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "path": "v1beta/{+resource}:testIamPermissions"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1beta/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "agentidentity.projects.locations.list",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/locations"
            },
            "get": {
              "id": "agentidentity.projects.locations.get",
              "description": "Gets information about a location.",
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Location"
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://agentidentity.googleapis.com/",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "version": "v1beta",
  "name": "agentidentity",
  "mtlsRootUrl": "https://agentidentity.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": ""
}