{
  "baseUrl": "https://agentidentity.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "version_module": true,
  "batchPath": "batch",
  "description": "",
  "protocol": "rest",
  "id": "agentidentity:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "id": "agentidentity.projects.locations.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "agentidentity.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations"
            }
          },
          "resources": {
            "accessSummaries": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListAccessSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/accessSummaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists access summaries in a given project and location. Supported filters: - `workload_id`: Filter by the SPIFFE ID of the agent. Example: `workload_id=\"spiffe://example.com/ns/default/sa/my-agent\"`",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. This field is currently ignored. Defaults to ordering by (auth_provider_id, user_id) in ascending order.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter string to restrict the results. Currently supports filtering by `workload_id` or `auth_provider_name`. If no filter is provided, returns all access summaries for the requested project and location. Format: `workload_id=\"\"` or `auth_provider_name=\"\"`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "agentidentity.projects.locations.accessSummaries.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accessSummaries"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/accessSummaries/[^/]+$",
                      "description": "Required. The resource name of the access summary.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/accessSummaries/{accessSummariesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "AccessSummary"
                  },
                  "id": "agentidentity.projects.locations.accessSummaries.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a single access summary.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "authProviders": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/authProviders",
                  "response": {
                    "$ref": "ListAuthProvidersResponse"
                  },
                  "id": "agentidentity.projects.locations.authProviders.list",
                  "description": "Lists auth providers in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "showDeleted": {
                      "description": "Optional. Deleted auth providers will be kept with a soft-delete for 30 days before being purged. If this field is set to `true`, deleted auth providers will also be returned.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Currently ignored. Defaults to ordering by auth_provider_id in ascending order."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
                      "required": true
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter results. This field is currently ignored."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders"
                },
                "undelete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "description": "Undeletes a single auth provider.",
                  "id": "agentidentity.projects.locations.authProviders.undelete",
                  "path": "v1/{+name}:undelete",
                  "request": {
                    "$ref": "UndeleteAuthProviderRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:undelete"
                },
                "query": {
                  "path": "v1/{+parent}/authProviders:query",
                  "parameters": {
                    "workloadId": {
                      "description": "Required. The workload identifier to filter by.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned. A page token, received from a previous QueryAuthProviders call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to QueryAuthProviders must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "QueryAuthProvidersResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders:query",
                  "description": "Queries which auth providers are used by a given workload ID.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "agentidentity.projects.locations.authProviders.query"
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "queryWorkloads": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:queryWorkloads",
                  "id": "agentidentity.projects.locations.authProviders.queryWorkloads",
                  "description": "Queries which workloads are using a given auth provider.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "QueryWorkloadsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:queryWorkloads",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the auth provider to query. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. A token, which can be sent as `page_token` to retrieve the next page. When paginating, all other parameters provided to `QueryWorkloads` must match the call that provided the page token. If this field is omitted, the first page is returned.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "agentidentity.projects.locations.authProviders.getIamPolicy",
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "format": "int32"
                    },
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single auth provider.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "id": "agentidentity.projects.locations.authProviders.delete",
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name of the auth provider.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the auth provider.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "agentidentity.projects.locations.authProviders.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "description": "Gets details of a single auth provider."
                },
                "enable": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:enable",
                  "description": "Enables a single auth provider.",
                  "request": {
                    "$ref": "EnableAuthProviderRequest"
                  },
                  "id": "agentidentity.projects.locations.authProviders.enable",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "path": "v1/{+name}:enable"
                },
                "disable": {
                  "request": {
                    "$ref": "DisableAuthProviderRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:disable",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "location": "path"
                    }
                  },
                  "description": "Disables a single auth provider.",
                  "id": "agentidentity.projects.locations.authProviders.disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "path": "v1/{+name}:disable"
                },
                "create": {
                  "path": "v1/{+parent}/authProviders",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "authProviderId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the auth provider, which will become the final segment of the auth provider's resource name. This value should be 1-63 characters, and valid characters are /a-z-/. The first character must be a lowercase letter, and the last character must be a lowercase letter or a number."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource where the auth provider is created. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "agentidentity.projects.locations.authProviders.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AuthProvider"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new auth provider in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "revokeAuthorization": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:revokeAuthorization",
                  "description": "Revokes all authorizations for a specific user on an auth provider. This deletes all authorization records associated with the user and auth provider, effectively revoking access across all agents.",
                  "id": "agentidentity.projects.locations.authProviders.revokeAuthorization",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RevokeAuthorizationRequest"
                  },
                  "path": "v1/{+name}:revokeAuthorization",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "RevokeAuthorizationResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the auth provider resource by the update. The fields specified in the `update_mask` are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten."
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The full resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "request": {
                    "$ref": "AuthProvider"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}",
                  "id": "agentidentity.projects.locations.authProviders.patch",
                  "response": {
                    "$ref": "AuthProvider"
                  },
                  "description": "Updates the parameters of a single auth provider.",
                  "httpMethod": "PATCH"
                },
                "testIamPermissions": {
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "id": "agentidentity.projects.locations.authProviders.testIamPermissions",
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}:testIamPermissions",
                  "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
                }
              },
              "resources": {
                "authorizations": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "agentidentity.projects.locations.authProviders.authorizations.list",
                      "response": {
                        "$ref": "ListAuthorizationsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/authorizations",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListAuthorizations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAuthorizations` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter string to restrict the results. Currently supports filtering by `client_user_id` only. Format: `client_user_id=\"\"`",
                          "type": "string"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. This field is currently ignored. Defaults to ordering by authorization_id in ascending order.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "description": "Lists authorizations in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the authorization to delete. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}/authorizations/{authorization}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "location": "path"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "agentidentity.projects.locations.authProviders.authorizations.delete",
                      "description": "Deletes a single authorization."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Authorization"
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single authorization.",
                      "id": "agentidentity.projects.locations.authProviders.authorizations.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+/authorizations/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the authorization."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/authorizations/{authorizationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://agentidentity.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260827",
  "title": "Agent Identity API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://agentidentity.googleapis.com/",
  "schemas": {
    "EnableAuthProviderRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "Request message for `EnableAuthProvider`.",
      "id": "EnableAuthProviderRequest"
    },
    "QueryWorkloadsResponse": {
      "properties": {
        "workloadIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The unique list of identifiers for the agents that used this auth provider, starting with `principal://`."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "QueryWorkloadsResponse",
      "description": "Response message for `QueryWorkloads`."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "AuthProvider": {
      "id": "AuthProvider",
      "properties": {
        "description": {
          "description": "Optional. Description of the resource. Must be less than 256 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the auth provider.",
          "enumDescriptions": [
            "Unspecified state.",
            "Enabled and can be used.",
            "Disabled and cannot be used."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleted": {
          "description": "Output only. Set to `true` if the auth provider is deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The creation timestamp."
        },
        "allowedScopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of scopes that are allowed to be requested for this auth provider. If this list is non-empty, only scopes within this list may be requested. If this list is empty, all scopes may be requested. Scopes appearing in `blocked_scopes` are disallowed even if they appear in `allowed_scopes`. The number of allowed scopes is limited to 200.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The full resource name of the auth provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "Output only. The time when the auth provider will expire.",
          "format": "google-datetime",
          "readOnly": true
        },
        "authProviderTypeParams": {
          "description": "Required. Parameters specific to the auth provider type.",
          "$ref": "AuthProviderTypeParams"
        },
        "workloadIds": {
          "description": "Optional. Input only. Identifiers for the agents that will use this auth provider, starting with `principal://`. For example: `principal://agents.global.org-${ORG_ID}.system.id.goog/resources/aiplatform/projects/{PROJECT_ID}/locations/{LOCATIONS}/reasoningEngines/{ID}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockedScopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of scopes that are blocked from being requested for this auth provider. If a scope appears in this list, it will not be requested, even if it also appears in `allowed_scopes`. `blocked_scopes` takes precedence over `allowed_scopes`. The number of blocked scopes is limited to 200."
        },
        "labels": {
          "description": "Optional. Labels as key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Represents an auth provider."
    },
    "AuditLogConfig": {
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AuditLogConfig"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission.",
          "type": "array"
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "RevokeAuthorizationRequest": {
      "description": "Request message for `RevokeAuthorization`.",
      "type": "object",
      "id": "RevokeAuthorizationRequest",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Required. The identity of the user to revoke authorization for."
        }
      }
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "GeminiEnterpriseAuthProviderParams": {
      "description": "Configuration for Gemini Enterprise authentication.",
      "type": "object",
      "id": "GeminiEnterpriseAuthProviderParams",
      "properties": {}
    },
    "TwoLeggedOAuth": {
      "description": "Configuration for 2-legged OAuth (2LO) authentication.",
      "id": "TwoLeggedOAuth",
      "type": "object",
      "properties": {
        "tokenUrl": {
          "type": "string",
          "description": "Optional. The token endpoint of the OAuth client."
        },
        "clientSecret": {
          "description": "Optional. Input only. The client secret of the OAuth client.",
          "type": "string"
        },
        "clientId": {
          "description": "Optional. The client ID of the OAuth client.",
          "type": "string"
        }
      }
    },
    "AuthProviderTypeParams": {
      "id": "AuthProviderTypeParams",
      "type": "object",
      "description": "Required. Parameters specific to the auth provider type.",
      "properties": {
        "apiKey": {
          "$ref": "ApiKeyParams",
          "description": "Parameters for API key authentication."
        },
        "threeLeggedOauth": {
          "description": "Parameters for 3-legged OAuth (3LO) authentication.",
          "$ref": "ThreeLeggedOAuth"
        },
        "twoLeggedOauth": {
          "$ref": "TwoLeggedOAuth",
          "description": "Parameters for 2-legged OAuth (2LO) authentication."
        },
        "geAuthProvider": {
          "description": "Parameters for Gemini Enterprise authentication.",
          "$ref": "GeminiEnterpriseAuthProviderParams"
        }
      }
    },
    "ListAuthProvidersResponse": {
      "id": "ListAuthProvidersResponse",
      "type": "object",
      "description": "Response message for `ListAuthProviders`.",
      "properties": {
        "authProviders": {
          "type": "array",
          "items": {
            "$ref": "AuthProvider"
          },
          "description": "The list of auth providers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "AccessSummary": {
      "id": "AccessSummary",
      "properties": {
        "purgeTime": {
          "format": "google-datetime",
          "description": "Output only. The time when this access summary is permanently deleted.",
          "type": "string",
          "readOnly": true
        },
        "firstAccessTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The first time this user interacted with this workload, rounded to the previous hour."
        },
        "lastAccessTime": {
          "type": "string",
          "description": "Output only. The most recent time this user interacted with this workload, rounded to the previous hour.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "scopes": {
          "description": "Output only. All scopes that have been used by this user with this workload. The number of scopes is limited to 200.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "workloadId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identity bound to the workload that this user interacted with to produce this access summary. Typically an agentic SPIFFE ID."
        },
        "authProviderType": {
          "type": "string",
          "description": "Output only. The auth provider type used to create this access summary.",
          "enum": [
            "AUTH_PROVIDER_TYPE_UNSPECIFIED",
            "AUTH_PROVIDER_TYPE_THREE_LEGGED_OAUTH",
            "AUTH_PROVIDER_TYPE_TWO_LEGGED_OAUTH",
            "AUTH_PROVIDER_TYPE_API_KEY",
            "AUTH_PROVIDER_TYPE_GEMINI_ENTERPRISE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified auth provider type.",
            "3-legged OAuth (3LO) auth provider type.",
            "2-legged OAuth (2LO) auth provider type.",
            "API key auth provider type.",
            "Gemini Enterprise auth provider type."
          ]
        },
        "userId": {
          "description": "Output only. The user ID provided by the workload application for this user. Not verified by Google.",
          "readOnly": true,
          "type": "string"
        },
        "tokenUrl": {
          "description": "Output only. The URL of the authentication server that was accessed.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of the access summary.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels as key-value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authProvider": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The auth provider that this access summary is associated with."
        }
      },
      "description": "Represents an access summary.",
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      }
    },
    "ApiKeyParams": {
      "type": "object",
      "properties": {
        "apiKey": {
          "type": "string",
          "description": "Optional. Input only. The API key for this auth provider."
        }
      },
      "description": "Configuration for API key authentication.",
      "id": "ApiKeyParams"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse"
    },
    "DisableAuthProviderRequest": {
      "description": "Request message for `DisableAuthProvider`.",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "DisableAuthProviderRequest"
    },
    "ListAccessSummariesResponse": {
      "id": "ListAccessSummariesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "accessSummaries": {
          "type": "array",
          "description": "The list of access summaries.",
          "items": {
            "$ref": "AccessSummary"
          }
        }
      },
      "description": "Response message for `ListAccessSummaries`."
    },
    "RevokeAuthorizationResponse": {
      "id": "RevokeAuthorizationResponse",
      "type": "object",
      "properties": {},
      "description": "Response message for `RevokeAuthorization`."
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "UndeleteAuthProviderRequest": {
      "id": "UndeleteAuthProviderRequest",
      "description": "Request message for `UndeleteAuthProvider`.",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "ThreeLeggedOAuth": {
      "properties": {
        "authorizationUrl": {
          "type": "string",
          "description": "Optional. The authorization endpoint to send users to for consenting to delegate to the agent. For example, \"https://auth.atlassian.com/authorize\"."
        },
        "clientId": {
          "description": "Optional. The client ID of the OAuth client.",
          "type": "string"
        },
        "redirectUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The redirect URL this auth provider uses for the OAuth exchange. This is deterministic based on the name of the auth provider."
        },
        "clientSecret": {
          "description": "Optional. Input only. The client secret of the OAuth client.",
          "type": "string"
        },
        "enablePkce": {
          "description": "Optional. Enables Proof Key for Code Exchange (PKCE) for the OAuth flow to prevent authorization code interception attacks.",
          "type": "boolean"
        },
        "defaultContinueUri": {
          "description": "Optional. The default continue URI for the 3LO flow, used when no continue URI is provided in the RetrieveCredentials request.",
          "type": "string"
        },
        "tokenUrl": {
          "type": "string",
          "description": "Optional. The token endpoint for requesting tokens on behalf of an end user. For example, \"https://auth.atlassian.com/oauth/token\"."
        }
      },
      "id": "ThreeLeggedOAuth",
      "type": "object",
      "description": "Configuration for 3-legged OAuth (3LO) authentication."
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "Authorization": {
      "type": "object",
      "id": "Authorization",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The scopes actually granted by the end user during the consent flow.",
          "type": "array",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Active.",
            "Suspended."
          ],
          "description": "Output only. The state of the authorization."
        },
        "createTime": {
          "description": "Output only. The creation timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the authorization.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update timestamp."
        },
        "clientUserId": {
          "description": "Output only. The client user ID provided by the client application for their end user. Not verified by Google.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents an authorization."
    },
    "QueryAuthProvidersResponse": {
      "id": "QueryAuthProvidersResponse",
      "type": "object",
      "description": "Response message for `QueryAuthProviders`.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "authProviderNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The unique list of auth provider resource names used by the workload."
        }
      }
    },
    "ListAuthorizationsResponse": {
      "description": "Response message for `ListAuthorizations`.",
      "properties": {
        "authorizations": {
          "items": {
            "$ref": "Authorization"
          },
          "type": "array",
          "description": "The list of authorizations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "id": "ListAuthorizationsResponse",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    }
  },
  "servicePath": "",
  "canonicalName": "Agent Identity",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "name": "agentidentity"
}