{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "rootUrl": "https://agentregistry.googleapis.com/",
  "name": "agentregistry",
  "canonicalName": "Agent Registry",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "id": "agentregistry.projects.locations.get",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "agentregistry.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            }
          },
          "resources": {
            "endpoints": {
              "methods": {
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A query string used to filter the list of endpoints returned. The filter expression must follow AIP-160 syntax. Filtering is supported on the `name`, `display_name`, `description`, `version`, and `interfaces` fields. Some examples: * `name = \"projects/p1/locations/l1/endpoints/e1\"` * `display_name = \"my-endpoint\"` * `description = \"my-endpoint-description\"` * `version = \"v1\"` * `interfaces.transport = \"HTTP_JSON\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location to list endpoints in. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "agentregistry.projects.locations.endpoints.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Endpoints in a given project and location.",
                  "response": {
                    "$ref": "ListEndpointsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+parent}/endpoints",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/endpoints"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Endpoint"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Endpoint.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the endpoint to retrieve. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.endpoints.get"
                }
              }
            },
            "mcpServers": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.mcpServers.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    }
                  },
                  "response": {
                    "$ref": "ListMcpServersResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists McpServers in a given project and location.",
                  "path": "v1/{+parent}/mcpServers",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/mcpServers",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "search": {
                  "request": {
                    "$ref": "SearchMcpServersRequest"
                  },
                  "path": "v1/{+parent}/mcpServers:search",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/mcpServers:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "SearchMcpServersResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Searches McpServers in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for SearchMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.mcpServers.search"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/mcpServers/{mcpServersId}",
                  "id": "agentregistry.projects.locations.mcpServers.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/mcpServers/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single McpServer.",
                  "response": {
                    "$ref": "McpServer"
                  }
                }
              }
            },
            "agents": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets details of a single Agent.",
                  "response": {
                    "$ref": "Agent"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/agents/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "agentregistry.projects.locations.agents.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agents/{agentsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListAgentsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists Agents in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.agents.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent value for ListAgentsRequest",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/agents",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agents",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "search": {
                  "path": "v1/{+parent}/agents:search",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/agents:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "SearchAgentsRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.agents.search",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent value for SearchAgentsRequest. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "SearchAgentsResponse"
                  },
                  "httpMethod": "POST",
                  "description": "Searches Agents in a given project and location."
                }
              }
            },
            "services": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.services.delete",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Service"
                  },
                  "path": "v1/{+parent}/services",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Service in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location to create the Service in. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true
                    },
                    "serviceId": {
                      "description": "Required. The ID to use for the service, which will become the final component of the service's resource name. This value should be 4-63 characters, and valid characters are `/a-z-/`.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.services.create"
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Optional. A query string used to filter the list of services returned. The filter expression must follow AIP-160 syntax. Filtering is supported on the `name`, `display_name`, `description`, and `labels` fields. Some examples: * `name = \"projects/p1/locations/l1/services/s1\"` * `display_name = \"my-service\"` * `description : \"myservice description\"` * `labels.env = \"prod\"`",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location to list services in. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "agentregistry.projects.locations.services.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists Services in a given project and location.",
                  "response": {
                    "$ref": "ListServicesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+parent}/services",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.services.get",
                  "response": {
                    "$ref": "Service"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Service.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/services/{servicesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "Service"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/services/[^/]+$",
                      "required": true,
                      "description": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.services.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Service."
                }
              }
            },
            "bindings": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.bindings.delete",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Binding."
                },
                "fetchAvailable": {
                  "response": {
                    "$ref": "FetchAvailableBindingsResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Fetches available Bindings.",
                  "parameters": {
                    "sourceIdentifier": {
                      "location": "query",
                      "type": "string",
                      "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "description": "Required. The parent, in the format `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "targetIdentifier": {
                      "description": "Optional. The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.bindings.fetchAvailable",
                  "path": "v1/{+parent}/bindings:fetchAvailable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings:fetchAvailable",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Binding"
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Binding.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.bindings.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "Binding"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Binding resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.bindings.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Binding."
                },
                "create": {
                  "request": {
                    "$ref": "Binding"
                  },
                  "path": "v1/{+parent}/bindings",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Binding in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The project and location to create the Binding in. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "bindingId": {
                      "description": "Required. The ID to use for the binding, which will become the final component of the binding's resource name. This value should be 4-63 characters, and must conform to RFC-1034. Specifically, it must match the regular expression `^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$`.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.bindings.create"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+parent}/bindings",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/bindings",
                  "id": "agentregistry.projects.locations.bindings.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "description": "Required. The project and location to list bindings in. Expected format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. A query string used to filter the list of bindings returned. The filter expression must follow AIP-160 syntax.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists Bindings in a given project and location.",
                  "response": {
                    "$ref": "ListBindingsResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "id": "agentregistry.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "agentregistry.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "Agent Registry is a centralized, unified catalog that lets you store, discover, and govern Model Context Protocol (MCP) servers, tools, and AI agents within Google Cloud.",
  "servicePath": "",
  "schemas": {
    "SearchMcpServersRequest": {
      "id": "SearchMcpServersRequest",
      "description": "Message for searching MCP Servers",
      "properties": {
        "searchString": {
          "type": "string",
          "description": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`."
        },
        "pageSize": {
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "format": "int32",
          "type": "integer"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
        }
      },
      "type": "object"
    },
    "ListAgentsResponse": {
      "type": "object",
      "description": "Message for response to listing Agents",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "agents": {
          "description": "The list of Agents.",
          "type": "array",
          "items": {
            "$ref": "Agent"
          }
        }
      },
      "id": "ListAgentsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "ListEndpointsResponse": {
      "description": "Message for response to listing Endpoints",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        },
        "endpoints": {
          "items": {
            "$ref": "Endpoint"
          },
          "type": "array",
          "description": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
        }
      },
      "type": "object",
      "id": "ListEndpointsResponse"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Interface": {
      "id": "Interface",
      "description": "Represents the connection details for an Agent or MCP Server.",
      "properties": {
        "url": {
          "description": "Required. The destination URL.",
          "type": "string"
        },
        "protocolBinding": {
          "enumDescriptions": [
            "Unspecified transport protocol.",
            "JSON-RPC specification.",
            "gRPC specification.",
            "HTTP+JSON specification."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_BINDING_UNSPECIFIED",
            "JSONRPC",
            "GRPC",
            "HTTP_JSON"
          ],
          "description": "Required. The protocol binding of the interface."
        }
      },
      "type": "object"
    },
    "Annotations": {
      "id": "Annotations",
      "description": "Annotations describing the characteristics and behavior of a tool or operation.",
      "properties": {
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A human-readable title for the tool."
        },
        "openWorldHint": {
          "description": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true",
          "type": "boolean",
          "readOnly": true
        },
        "readOnlyHint": {
          "type": "boolean",
          "description": "Output only. If true, the tool does not modify its environment. Default: false",
          "readOnly": true
        },
        "destructiveHint": {
          "description": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true",
          "type": "boolean",
          "readOnly": true
        },
        "idempotentHint": {
          "type": "boolean",
          "description": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Tool": {
      "id": "Tool",
      "description": "Represents a single tool provided by an MCP Server.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Human-readable name of the tool.",
          "readOnly": true
        },
        "annotations": {
          "description": "Output only. Annotations associated with the tool.",
          "$ref": "Annotations",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of what the tool does."
        }
      },
      "type": "object"
    },
    "A2ASkill": {
      "description": "Represents the skills of an Agent.",
      "properties": {
        "name": {
          "description": "Output only. A human-readable name for the agent's skill.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "type": "array",
          "description": "Output only. Keywords describing the skill.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "examples": {
          "type": "array",
          "description": "Output only. Example prompts or scenarios this skill can handle.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Output only. A more detailed description of the skill.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "description": "Output only. A unique identifier for the agent's skill.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "A2ASkill"
    },
    "SearchAgentsResponse": {
      "id": "SearchAgentsResponse",
      "description": "Message for response to searching Agents",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "A list of Agents that match the `search_string`."
        }
      },
      "type": "object"
    },
    "McpServer": {
      "description": "Represents an MCP (Model Context Protocol) Server.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "mcpServerId": {
          "type": "string",
          "description": "Output only. A stable, globally unique identifier for MCP Servers.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`.",
          "type": "string"
        },
        "attributes": {
          "description": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the MCP Server.",
          "readOnly": true
        },
        "interfaces": {
          "readOnly": true,
          "items": {
            "$ref": "Interface"
          },
          "description": "Output only. The connection details for the MCP Server.",
          "type": "array"
        },
        "tools": {
          "type": "array",
          "description": "Output only. Tools provided by the MCP Server.",
          "readOnly": true,
          "items": {
            "$ref": "Tool"
          }
        },
        "description": {
          "description": "Output only. The description of the MCP Server.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "McpServer"
    },
    "ListMcpServersResponse": {
      "id": "ListMcpServersResponse",
      "description": "Message for response to listing McpServers",
      "properties": {
        "mcpServers": {
          "items": {
            "$ref": "McpServer"
          },
          "type": "array",
          "description": "The list of McpServers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "Source": {
      "id": "Source",
      "description": "The source of the Binding.",
      "properties": {
        "identifier": {
          "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FetchAvailableBindingsResponse": {
      "type": "object",
      "description": "Message for response to fetching available Bindings.",
      "properties": {
        "bindings": {
          "description": "The list of Bindings.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "FetchAvailableBindingsResponse"
    },
    "Protocol": {
      "type": "object",
      "description": "Represents the protocol of an Agent.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Output only. The type of the protocol.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT",
            "CUSTOM"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "The interfaces point to an A2A Agent following the A2A specification.",
            "Agent does not follow any standard protocol."
          ]
        },
        "interfaces": {
          "readOnly": true,
          "items": {
            "$ref": "Interface"
          },
          "description": "Output only. The connection details for the Agent.",
          "type": "array"
        },
        "protocolVersion": {
          "type": "string",
          "description": "Output only. The version of the protocol, for example, the A2A Agent Card version.",
          "readOnly": true
        }
      },
      "id": "Protocol"
    },
    "SearchMcpServersResponse": {
      "type": "object",
      "description": "Message for response to searching MCP Servers",
      "properties": {
        "mcpServers": {
          "type": "array",
          "description": "A list of McpServers that match the `search_string`.",
          "items": {
            "$ref": "McpServer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "SearchMcpServersResponse"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object"
    },
    "Card": {
      "description": "Full Agent Card payload, often obtained from the A2A Agent Card.",
      "properties": {
        "content": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The content of the agent card."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT_CARD"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Indicates that the card is an A2A Agent Card."
          ],
          "type": "string",
          "description": "Output only. The type of agent card."
        }
      },
      "type": "object",
      "id": "Card"
    },
    "Agent": {
      "description": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol.",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`."
        },
        "attributes": {
          "readOnly": true,
          "description": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI.",
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "card": {
          "description": "Output only. Full Agent Card payload, when available.",
          "$ref": "Card",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description.",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. A universally unique identifier for the Agent.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. The display name of the agent, often obtained from the A2A Agent Card.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "readOnly": true,
          "description": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent.",
          "type": "string"
        },
        "protocols": {
          "description": "Output only. The connection details for the Agent.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Protocol"
          }
        },
        "agentId": {
          "description": "Output only. A stable, globally unique identifier for agents.",
          "type": "string",
          "readOnly": true
        },
        "skills": {
          "readOnly": true,
          "items": {
            "$ref": "A2ASkill"
          },
          "type": "array",
          "description": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card."
        }
      },
      "type": "object",
      "id": "Agent"
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "type": "object",
      "description": "Message for response to listing Services",
      "properties": {
        "services": {
          "type": "array",
          "description": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`.",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        }
      }
    },
    "SearchAgentsRequest": {
      "id": "SearchAgentsRequest",
      "type": "object",
      "description": "Message for searching Agents",
      "properties": {
        "searchString": {
          "description": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "format": "int32"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
        }
      }
    },
    "Endpoint": {
      "id": "Endpoint",
      "description": "Represents an Endpoint.",
      "properties": {
        "endpointId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A stable, globally unique identifier for Endpoint."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. Display name for the Endpoint.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          },
          "description": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment.",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description of an Endpoint.",
          "type": "string"
        },
        "interfaces": {
          "items": {
            "$ref": "Interface"
          },
          "type": "array",
          "description": "Required. The connection details for the Endpoint."
        }
      },
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Represents a user-defined Binding.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this binding was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this binding was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "source": {
          "description": "Required. The target Agent of the Binding.",
          "$ref": "Source"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
        },
        "displayName": {
          "description": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters.",
          "type": "string"
        },
        "authProviderBinding": {
          "description": "The binding for AuthProvider.",
          "$ref": "AuthProviderBinding"
        },
        "description": {
          "description": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters.",
          "type": "string"
        },
        "target": {
          "description": "Required. The target Agent Registry Resource of the Binding.",
          "$ref": "Target"
        }
      }
    },
    "EndpointSpec": {
      "type": "object",
      "description": "The spec of the endpoint.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Endpoint. The `content` field must be empty."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC"
          ],
          "description": "Required. The type of the endpoint spec content."
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the endpoint spec. Reserved for future use."
        }
      },
      "id": "EndpointSpec"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "description": "Represents a user-defined Service.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "agentSpec": {
          "description": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent.",
          "$ref": "AgentSpec"
        },
        "mcpServerSpec": {
          "description": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server.",
          "$ref": "McpServerSpec"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`."
        },
        "registryResource": {
          "type": "string",
          "description": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "readOnly": true
        },
        "interfaces": {
          "items": {
            "$ref": "Interface"
          },
          "type": "array",
          "description": "Optional. The connection details for the Service."
        },
        "endpointSpec": {
          "description": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint.",
          "$ref": "EndpointSpec"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters."
        }
      }
    },
    "AuthProviderBinding": {
      "id": "AuthProviderBinding",
      "type": "object",
      "description": "The AuthProvider of the Binding.",
      "properties": {
        "authProvider": {
          "description": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of OAuth2 scopes of the AuthProvider.",
          "type": "array"
        },
        "continueUri": {
          "type": "string",
          "description": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow."
        }
      }
    },
    "Target": {
      "type": "object",
      "description": "The target of the Binding.",
      "properties": {
        "identifier": {
          "description": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      },
      "id": "Target"
    },
    "ListBindingsResponse": {
      "type": "object",
      "description": "Message for response to listing Bindings",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        }
      },
      "id": "ListBindingsResponse"
    },
    "McpServerSpec": {
      "description": "The spec of the MCP Server.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the MCP Server. The `content` field must be empty.",
            "The content is a MCP Tool Spec following the One MCP specification. The payload is the same as the `tools/list` response."
          ],
          "description": "Required. The type of the MCP Server spec content.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "TOOL_SPEC"
          ]
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        }
      },
      "type": "object",
      "id": "McpServerSpec"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "AgentSpec": {
      "id": "AgentSpec",
      "description": "The spec of the agent.",
      "properties": {
        "content": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "A2A_AGENT_CARD"
          ],
          "description": "Required. The type of the agent spec content.",
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Agent. The `content` field must be empty.",
            "The content is an A2A Agent Card following the A2A specification. The `interfaces` field must be empty."
          ]
        }
      },
      "type": "object"
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "revision": "20260827",
  "documentationLink": "https://docs.cloud.google.com/agent-registry/overview",
  "version": "v1",
  "kind": "discovery#restDescription",
  "title": "Agent Registry API",
  "ownerName": "Google",
  "baseUrl": "https://agentregistry.googleapis.com/",
  "id": "agentregistry:v1",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/agentregistry.read-only": {
          "description": "See your Google Cloud Agent Registry data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/agentregistry.read-write": {
          "description": "See, edit, configure, and delete your Google Cloud Agent Registry data and see the email address for your Google Account"
        }
      }
    }
  },
  "mtlsRootUrl": "https://agentregistry.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version_module": true
}