{
  "discoveryVersion": "v1",
  "documentationLink": "https://docs.cloud.google.com/agent-registry/overview",
  "rootUrl": "https://agentregistry.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://agentregistry.googleapis.com/",
  "version": "v1alpha",
  "id": "agentregistry:v1alpha",
  "revision": "20261003",
  "schemas": {
    "Attributes": {
      "description": "Consumer provided attributes.",
      "id": "Attributes",
      "type": "object",
      "properties": {
        "operatorOwners": {
          "items": {
            "$ref": "ContactInfo"
          },
          "type": "array",
          "description": "Optional. Operator team that ensures runtime and operations."
        },
        "environment": {
          "$ref": "Environment",
          "description": "Optional. User-defined environment information."
        },
        "criticality": {
          "description": "Optional. User-defined criticality information.",
          "$ref": "Criticality"
        },
        "businessOwners": {
          "type": "array",
          "description": "Optional. Business team that ensures user needs are met and value is delivered",
          "items": {
            "$ref": "ContactInfo"
          }
        },
        "developerOwners": {
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Developer team that owns development and coding."
        }
      }
    },
    "SkillRevision": {
      "id": "SkillRevision",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Universally unique identifier (UUID4) for the skill revision."
        },
        "frontmatter": {
          "readOnly": true,
          "description": "Output only. Extracted YAML frontmatter configuration snapshot.",
          "$ref": "Frontmatter"
        },
        "name": {
          "description": "Identifier. Resource name of the SkillRevision. Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The revision is being created.",
            "The revision is active.",
            "The revision failed to compile or ingest.",
            "The revision is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED",
            "DELETING"
          ],
          "description": "Output only. The system-managed lifecycle state of this revision."
        },
        "archiveUploadSource": {
          "$ref": "ArchiveUploadSource",
          "description": "Optional. Immutable. Direct write-only raw archive upload source."
        },
        "gcsSource": {
          "description": "Optional. Immutable. Cloud Storage object generation URI.",
          "$ref": "GcsSource"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size of the compiled zip payload in bytes (assists client download progress)."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Revision creation timestamp."
        },
        "sha256Hash": {
          "readOnly": true,
          "description": "Output only. Cryptographic SHA-256 integrity and deduplication digest of the payload zip.",
          "type": "string"
        }
      },
      "description": "Represents an immutable, versioned snapshot of a Skill package.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Environment": {
      "properties": {
        "environment": {
          "deprecated": true,
          "description": "Optional. Environment name. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "type": "string"
        },
        "type": {
          "description": "Required. Environment Type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ]
        }
      },
      "description": "Environment of the Application, Service, or Workload",
      "type": "object",
      "id": "Environment"
    },
    "GoogleIamV1Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "GoogleIamV1Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      }
    },
    "Interface": {
      "type": "object",
      "id": "Interface",
      "properties": {
        "protocolBinding": {
          "description": "Required. The protocol binding of the interface.",
          "enumDescriptions": [
            "Unspecified transport protocol.",
            "JSON-RPC specification.",
            "gRPC specification.",
            "HTTP+JSON specification."
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_BINDING_UNSPECIFIED",
            "JSONRPC",
            "GRPC",
            "HTTP_JSON"
          ]
        },
        "url": {
          "description": "Required. The destination URL.",
          "type": "string"
        }
      },
      "description": "Represents the connection details for an Agent or MCP Server."
    },
    "SearchMcpServersRequest": {
      "id": "SearchMcpServersRequest",
      "type": "object",
      "description": "Message for searching MCP Servers",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
        },
        "searchString": {
          "description": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "format": "int32"
        }
      }
    },
    "Criticality": {
      "type": "object",
      "properties": {
        "missionCritical": {
          "description": "Optional. Indicates mission-critical Application, Service, or Workload. Deprecated: Please refer to type instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "level": {
          "deprecated": true,
          "description": "Optional. Criticality level. Can contain only lowercase letters, numeric characters, underscores, and dashes. Can have a maximum length of 63 characters. Deprecated: Please refer to type instead.",
          "type": "string"
        },
        "type": {
          "description": "Required. Criticality Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ]
        }
      },
      "id": "Criticality",
      "description": "Criticality of the Application, Service, or Workload"
    },
    "FetchAvailableBindingsResponse": {
      "type": "object",
      "id": "FetchAvailableBindingsResponse",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "The list of Bindings.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to fetching available Bindings."
    },
    "AgentSpec": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Agent. The `content` field must be empty.",
            "The content is an A2A Agent Card following the A2A specification. The `interfaces` field must be empty."
          ],
          "description": "Required. Immutable. The type of the agent spec content.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "A2A_AGENT_CARD"
          ]
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        }
      },
      "type": "object",
      "id": "AgentSpec",
      "description": "The spec of the agent."
    },
    "Annotations": {
      "properties": {
        "idempotentHint": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false"
        },
        "openWorldHint": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true"
        },
        "readOnlyHint": {
          "description": "Output only. If true, the tool does not modify its environment. Default: false",
          "type": "boolean",
          "readOnly": true
        },
        "title": {
          "description": "Output only. A human-readable title for the tool.",
          "type": "string",
          "readOnly": true
        },
        "destructiveHint": {
          "description": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "Annotations",
      "description": "Annotations describing the characteristics and behavior of a tool or operation.",
      "type": "object"
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest",
      "type": "object"
    },
    "A2ASkill": {
      "type": "object",
      "id": "A2ASkill",
      "description": "Represents the skills of an Agent.",
      "properties": {
        "id": {
          "description": "Output only. A unique identifier for the agent's skill.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A more detailed description of the skill.",
          "type": "string"
        },
        "examples": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Example prompts or scenarios this skill can handle."
        },
        "name": {
          "description": "Output only. A human-readable name for the agent's skill.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "Output only. Keywords describing the skill.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListEndpointsResponse": {
      "type": "object",
      "description": "Message for response to listing Endpoints",
      "id": "ListEndpointsResponse",
      "properties": {
        "endpoints": {
          "description": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`.",
          "items": {
            "$ref": "Endpoint"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. Used in page_token."
        }
      }
    },
    "Binding": {
      "description": "Represents a user-defined Binding.",
      "properties": {
        "displayName": {
          "description": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters.",
          "type": "string"
        },
        "name": {
          "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
          "type": "string"
        },
        "source": {
          "$ref": "Source",
          "description": "Optional. The source Agent of the Binding."
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters."
        },
        "authProviderBinding": {
          "$ref": "AuthProviderBinding",
          "description": "The binding for AuthProvider."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this binding was last updated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this binding was created."
        },
        "target": {
          "description": "Required. The target Agent Registry Resource of the Binding.",
          "$ref": "Target"
        }
      },
      "id": "Binding",
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "type": "object",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "GoogleIamV1AuditLogConfig"
    },
    "Card": {
      "type": "object",
      "id": "Card",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of agent card.",
          "enumDescriptions": [
            "Unspecified type.",
            "Indicates that the card is an A2A Agent Card."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT_CARD"
          ]
        },
        "content": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. The content of the agent card.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "Full Agent Card payload, often obtained from the A2A Agent Card."
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AiApplication": {
      "description": "Represents an AI Application.",
      "type": "object",
      "id": "AiApplication",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the AI Application."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the AI Application. Format: `projects/{project}/locations/{location}/aiApplications/{ai_application}`"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time.",
          "readOnly": true
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "applicationProperties": {
          "description": "Output only. Properties of an underlying cloud resource that can comprise an AI Application.",
          "$ref": "ApplicationProperties",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. Universally unique identifier (UUID4) for the AI Application.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-defined description of the AI Application.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The resource is being provisioned or created.",
            "The resource is active and ready for use.",
            "The resource is in the process of being deleted."
          ],
          "description": "Output only. The current state of the AI Application.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "McpServerSpec": {
      "id": "McpServerSpec",
      "description": "The spec of the MCP Server.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC",
            "TOOL_SPEC"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the MCP Server. The `content` field must be empty.",
            "The content is a MCP Tool Spec following the One MCP specification. The payload is the same as the `tools/list` response."
          ],
          "description": "Required. Immutable. The type of the MCP Server spec content."
        },
        "content": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
        }
      },
      "type": "object"
    },
    "Target": {
      "type": "object",
      "description": "The target of the Binding.",
      "properties": {
        "identifier": {
          "description": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      },
      "id": "Target"
    },
    "ListAiApplicationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "aiApplications": {
          "description": "The list of AiApplications.",
          "items": {
            "$ref": "AiApplication"
          },
          "type": "array"
        }
      },
      "id": "ListAiApplicationsResponse",
      "type": "object",
      "description": "Message for response to listing AiApplications."
    },
    "Publisher": {
      "description": "Represents a verified Publisher of Skills. Prepopulated publishers include `publishers/cloud.google.com` and `publishers/workspace.google.com`.",
      "type": "object",
      "properties": {
        "documentationUri": {
          "description": "Optional. URI pointing to official publisher documentation.",
          "type": "string"
        },
        "supportUri": {
          "description": "Optional. URI pointing to the support portal or email.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the publisher. Format: `projects/{project}/locations/{location}/publishers/{publisher}`"
        },
        "verifiedPrefix": {
          "description": "Required. The verified prefix (e.g. \"snowflake-\", \"google-\") associated with this publisher. The system uses this prefix to enforce name-squatting rules during Skill registration. Must be globally unique across all publishers.",
          "type": "string"
        },
        "publisherTier": {
          "enumDescriptions": [
            "Default value. Unspecified.",
            "First-party Google-curated and verified global publishers.",
            "Third-party verified enterprise partner publishers.",
            "Private publishers within the developer's workspace/project."
          ],
          "readOnly": true,
          "enum": [
            "PUBLISHER_TIER_UNSPECIFIED",
            "FIRST_PARTY",
            "THIRD_PARTY",
            "PRIVATE"
          ],
          "description": "Output only. The curation tier of the publisher.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human readable display name of the publisher."
        }
      },
      "id": "Publisher"
    },
    "Agent": {
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier for the Agent."
        },
        "card": {
          "readOnly": true,
          "$ref": "Card",
          "description": "Output only. Full Agent Card payload, when available."
        },
        "location": {
          "type": "string",
          "description": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider).",
          "readOnly": true
        },
        "description": {
          "description": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update time."
        },
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The display name of the agent, often obtained from the A2A Agent Card."
        },
        "skills": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "A2ASkill"
          },
          "description": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card."
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "attributes": {
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            }
          },
          "readOnly": true,
          "description": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI.",
          "type": "object"
        },
        "name": {
          "description": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`.",
          "type": "string"
        },
        "agentId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A stable, globally unique identifier for agents."
        },
        "version": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent."
        },
        "protocols": {
          "items": {
            "$ref": "Protocol"
          },
          "type": "array",
          "description": "Output only. The connection details for the Agent.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol.",
      "id": "Agent"
    },
    "Expr": {
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Tool": {
      "description": "Represents a single tool provided by an MCP Server.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Human-readable name of the tool.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Output only. Description of what the tool does.",
          "readOnly": true
        },
        "annotations": {
          "$ref": "Annotations",
          "readOnly": true,
          "description": "Output only. Annotations associated with the tool."
        }
      },
      "id": "Tool",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        }
      },
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "Protocol": {
      "description": "Represents the protocol of an Agent.",
      "id": "Protocol",
      "properties": {
        "protocolVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of the protocol, for example, the A2A Agent Card version."
        },
        "interfaces": {
          "description": "Output only. The connection details for the Agent.",
          "items": {
            "$ref": "Interface"
          },
          "type": "array",
          "readOnly": true
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The interfaces point to an A2A Agent following the A2A specification.",
            "Agent does not follow any standard protocol."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "A2A_AGENT",
            "CUSTOM"
          ],
          "type": "string",
          "description": "Output only. The type of the protocol."
        }
      },
      "type": "object"
    },
    "ListMcpServersResponse": {
      "properties": {
        "mcpServers": {
          "items": {
            "$ref": "McpServer"
          },
          "type": "array",
          "description": "The list of McpServers."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListMcpServersResponse",
      "type": "object",
      "description": "Message for response to listing McpServers"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "ListAgentsResponse": {
      "type": "object",
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "The list of Agents."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListAgentsResponse",
      "description": "Message for response to listing Agents"
    },
    "ExtendedMetadata": {
      "id": "ExtendedMetadata",
      "properties": {
        "metadataStruct": {
          "readOnly": true,
          "description": "Output only. The metadata contents.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "type": "object",
      "description": "Additional metadata for a Service or Workload."
    },
    "SearchAgentsRequest": {
      "id": "SearchAgentsRequest",
      "description": "Message for searching Agents",
      "properties": {
        "pageSize": {
          "description": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested.",
          "format": "int32",
          "type": "integer"
        },
        "searchString": {
          "type": "string",
          "description": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:aiplatform:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
        }
      },
      "type": "object"
    },
    "ListPublishersResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page offset continuation token."
        },
        "publishers": {
          "description": "The returned list of Publishers.",
          "type": "array",
          "items": {
            "$ref": "Publisher"
          }
        }
      },
      "type": "object",
      "description": "Response listing Publishers.",
      "id": "ListPublishersResponse"
    },
    "SearchAgentsResponse": {
      "properties": {
        "agents": {
          "type": "array",
          "items": {
            "$ref": "Agent"
          },
          "description": "A list of Agents that match the `search_string`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        }
      },
      "id": "SearchAgentsResponse",
      "type": "object",
      "description": "Message for response to searching Agents"
    },
    "McpServer": {
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. The description of the MCP Server.",
          "type": "string"
        },
        "tools": {
          "readOnly": true,
          "items": {
            "$ref": "Tool"
          },
          "type": "array",
          "description": "Output only. Tools provided by the MCP Server."
        },
        "createTime": {
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment.",
          "readOnly": true,
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object."
            }
          }
        },
        "mcpServerId": {
          "description": "Output only. A stable, globally unique identifier for MCP Servers.",
          "type": "string",
          "readOnly": true
        },
        "interfaces": {
          "type": "array",
          "description": "Output only. The connection details for the MCP Server.",
          "readOnly": true,
          "items": {
            "$ref": "Interface"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`.",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the MCP Server."
        }
      },
      "description": "Represents an MCP (Model Context Protocol) Server.",
      "type": "object",
      "id": "McpServer"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "ArchiveUploadSource": {
      "description": "Direct write-only raw archive payload upload.",
      "id": "ArchiveUploadSource",
      "properties": {
        "archiveContent": {
          "description": "Required. Input only. Write-only raw ZIP/TAR archive payload bytes containing the skill package.",
          "type": "string",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListAiApplicationAgentsResponse": {
      "description": "Message for response to listing Agents under an AI Application.",
      "type": "object",
      "id": "ListAiApplicationAgentsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "agents": {
          "items": {
            "$ref": "Agent"
          },
          "type": "array",
          "description": "The list of Agents."
        }
      }
    },
    "ApplicationProperties": {
      "properties": {
        "extendedMetadata": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the App Hub application. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        }
      },
      "id": "ApplicationProperties",
      "description": "Additional system properties of an Application.",
      "type": "object"
    },
    "Frontmatter": {
      "type": "object",
      "description": "Structured metadata attributes extracted from the package's local SKILL.md frontmatter.",
      "id": "Frontmatter",
      "properties": {
        "description": {
          "description": "Required. Functional description.",
          "type": "string"
        },
        "compatibility": {
          "description": "Optional. Environmental dependencies or local sidecars.",
          "type": "string"
        },
        "license": {
          "type": "string",
          "description": "Optional. License."
        },
        "metadata": {
          "description": "Optional. Extensible flattened map mapping custom tags, authors, and version parameters.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the skill."
        }
      }
    },
    "ContactInfo": {
      "id": "ContactInfo",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. Email address of the contacts.",
          "type": "string"
        },
        "channel": {
          "$ref": "Channel",
          "description": "Optional. Communication channel of the contacts."
        },
        "displayName": {
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters.",
          "type": "string"
        }
      },
      "description": "Contact information of stakeholders."
    },
    "ListAiApplicationMcpServersResponse": {
      "properties": {
        "mcpServers": {
          "items": {
            "$ref": "McpServer"
          },
          "description": "The list of McpServers.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing McpServers under an AI Application.",
      "type": "object",
      "id": "ListAiApplicationMcpServersResponse"
    },
    "GoogleIamV1Binding": {
      "type": "object",
      "id": "GoogleIamV1Binding",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      }
    },
    "ListSkillRevisionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page offset continuation token.",
          "type": "string"
        },
        "skillRevisions": {
          "items": {
            "$ref": "SkillRevision"
          },
          "type": "array",
          "description": "Returned version snapshot list."
        }
      },
      "type": "object",
      "id": "ListSkillRevisionsResponse",
      "description": "Response listing Revisions."
    },
    "GoogleIamV1AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      }
    },
    "Service": {
      "description": "Represents a user-defined Service.",
      "type": "object",
      "id": "Service",
      "properties": {
        "interfaces": {
          "type": "array",
          "items": {
            "$ref": "Interface"
          },
          "description": "Optional. The connection details for the Service."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time."
        },
        "mcpServerSpec": {
          "description": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server.",
          "$ref": "McpServerSpec"
        },
        "description": {
          "type": "string",
          "description": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters."
        },
        "endpointSpec": {
          "$ref": "EndpointSpec",
          "description": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint."
        },
        "agentSpec": {
          "description": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent.",
          "$ref": "AgentSpec"
        },
        "displayName": {
          "description": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
          "type": "string"
        },
        "registryResource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update time.",
          "format": "google-datetime"
        }
      }
    },
    "Source": {
      "description": "The source of the Binding.",
      "type": "object",
      "id": "Source",
      "properties": {
        "identifier": {
          "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`",
          "type": "string"
        }
      }
    },
    "ListSkillsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page continuation continuation token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable locations or failures.",
          "items": {
            "type": "string"
          }
        },
        "skills": {
          "items": {
            "$ref": "Skill"
          },
          "type": "array",
          "description": "Returned container list."
        }
      },
      "description": "Response structure listing logical Skills.",
      "id": "ListSkillsResponse"
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "GoogleIamV1SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "SearchSkillsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Query page offset continuation token."
        },
        "skills": {
          "type": "array",
          "description": "Matched Skills list.",
          "items": {
            "$ref": "Skill"
          }
        }
      },
      "type": "object",
      "description": "Response listing searched Skills.",
      "id": "SearchSkillsResponse"
    },
    "ListAiApplicationEndpointsResponse": {
      "description": "Message for response to listing Endpoints under an AI Application.",
      "id": "ListAiApplicationEndpointsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "endpoints": {
          "type": "array",
          "description": "The list of Endpoints.",
          "items": {
            "$ref": "Endpoint"
          }
        }
      },
      "type": "object"
    },
    "Channel": {
      "properties": {
        "uri": {
          "description": "Required. URI of the channel.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Separate message to accommodate custom formats across IRC and Slack.",
      "id": "Channel"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. Used in page_token."
        }
      },
      "description": "Message for response to listing Services"
    },
    "ListBindingsResponse": {
      "description": "Message for response to listing Bindings",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`.",
          "type": "array",
          "items": {
            "$ref": "Binding"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return. Used in page_token.",
          "type": "string"
        }
      },
      "id": "ListBindingsResponse"
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsResponse"
    },
    "AuthProviderBinding": {
      "id": "AuthProviderBinding",
      "description": "The AuthProvider of the Binding.",
      "properties": {
        "continueUri": {
          "type": "string",
          "description": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of OAuth2 scopes of the AuthProvider."
        },
        "authProvider": {
          "type": "string",
          "description": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
        }
      },
      "type": "object"
    },
    "Endpoint": {
      "id": "Endpoint",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Description of an Endpoint."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment.",
          "additionalProperties": {
            "additionalProperties": {
              "description": "Properties of the object.",
              "type": "any"
            },
            "type": "object"
          },
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name for the Endpoint.",
          "type": "string"
        },
        "interfaces": {
          "description": "Required. The connection details for the Endpoint.",
          "type": "array",
          "items": {
            "$ref": "Interface"
          }
        },
        "endpointId": {
          "readOnly": true,
          "description": "Output only. A stable, globally unique identifier for Endpoint.",
          "type": "string"
        }
      },
      "description": "Represents an Endpoint.",
      "type": "object"
    },
    "EndpointSpec": {
      "id": "EndpointSpec",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "There is no spec for the Endpoint. The `content` field must be empty."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NO_SPEC"
          ],
          "description": "Required. Immutable. The type of the endpoint spec content."
        },
        "content": {
          "description": "Optional. The content of the endpoint spec. Reserved for future use.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        }
      },
      "description": "The spec of the endpoint.",
      "type": "object"
    },
    "SearchMcpServersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
        },
        "mcpServers": {
          "type": "array",
          "items": {
            "$ref": "McpServer"
          },
          "description": "A list of McpServers that match the `search_string`."
        }
      },
      "description": "Message for response to searching MCP Servers",
      "id": "SearchMcpServersResponse"
    },
    "Skill": {
      "id": "Skill",
      "properties": {
        "targetState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The skill is in draft and cannot be served.",
            "The skill is active and can be served.",
            "The skill is disabled and cannot be served.",
            "The skill is deprecated. It can still be served, but emits warnings.",
            "The skill is decommissioned and cannot be served."
          ],
          "description": "Required. User-managed target state of the skill.",
          "type": "string",
          "enum": [
            "TARGET_STATE_UNSPECIFIED",
            "TARGET_STATE_DRAFT",
            "TARGET_STATE_ACTIVE",
            "TARGET_STATE_DISABLED",
            "TARGET_STATE_DEPRECATED",
            "TARGET_STATE_DECOMMISSIONED"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Brief summary describing the capabilities of the skill. Maximum length is 2048 characters."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the Skill. Format: `projects/{project}/locations/{location}/skills/{skill}` The `{skill}` segment acts as the resource ID. If the skill is associated with a Publisher, this segment typically uses a hyphenated namespace prefix corresponding to the publisher (e.g., `google-workspace-create-docs`)."
        },
        "frontmatter": {
          "$ref": "Frontmatter",
          "readOnly": true,
          "description": "Output only. Lightweight frontmatter metadata attributes copied from the default revision."
        },
        "initialRevision": {
          "$ref": "SkillRevision",
          "description": "Optional. Input only. Optional nested initial revision payload to support standard one-shot creation. The server processes this field on input during creation but must never return it in responses."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_CREATING",
            "STATE_DRAFT",
            "STATE_ACTIVE",
            "STATE_DISABLED",
            "STATE_DEPRECATED",
            "STATE_DECOMMISSIONED",
            "STATE_DELETING"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The skill is being created. It is not served.",
            "The skill is in draft, or lacks a valid payload. It is not served.",
            "The skill is active and is served.",
            "The skill is disabled and is not served.",
            "The skill is deprecated. It is served, but emits warnings.",
            "The skill is decommissioned and is not served.",
            "The skill is being deleted. It is not served."
          ],
          "readOnly": true,
          "description": "Output only. The system-managed state of the skill.",
          "type": "string"
        },
        "defaultRevision": {
          "description": "Optional. The full resource name of the revision currently served by default (floating track). Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`",
          "type": "string"
        },
        "type": {
          "description": "Required. Structural deployment type (SIMPLE leaf vs COMPOSITE bundle).",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SIMPLE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A standard, leaf executable skill containing natural language and code."
          ]
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time.",
          "readOnly": true
        },
        "skillId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A stable, globally unique logical identifier for the skill. It is securely constructed by the backend by combining the associated `publisher`'s verified namespace and the skill's resource ID to enforce strict ownership. For example, the prefix `google-` is reserved exclusively for first-party Google publishers to prevent namespace squatting. Example: `urn:skill:google-workspace:create-docs`"
        },
        "displayName": {
          "description": "Required. Human-readable display name of the skill. Maximum length is 128 characters.",
          "type": "string"
        },
        "publisher": {
          "description": "Optional. The publisher resource associated with this skill. Format: `projects/{project}/locations/{location}/publishers/{publisher}` The publisher dictates the allowed namespace prefixes for the skill's name and logical `skill_id` (e.g., Publisher `google` authorizes the `google-*` prefix).",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. Universally unique identifier (UUID4) for the logical container.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents an Executable Agent Skill or a Composite Tool Suite (Bundle). Sibling resource with Agent and McpServer under agentregistry.googleapis.com."
    },
    "GcsSource": {
      "type": "object",
      "description": "Specifications for Cloud Storage objects.",
      "id": "GcsSource",
      "properties": {
        "generation": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Cloud Storage object generation ID. If not specified, the latest generation is used."
        },
        "uri": {
          "type": "string",
          "description": "Required. Cloud Storage object URI. Format: `gs://{bucket_name}/{object_name}`"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "agentregistry.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}/locations"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/agentregistry.read-only",
                "https://www.googleapis.com/auth/agentregistry.read-write",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "agentregistry.projects.locations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "bindings": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Binding"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "agentregistry.projects.locations.bindings.get",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "description": "Gets details of a single Binding."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "agentregistry.projects.locations.bindings.list",
                  "response": {
                    "$ref": "ListBindingsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Hint for how to order the results",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project and location to list bindings in. Expected format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. A query string used to filter the list of bindings returned. The filter expression must follow AIP-160 syntax.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists Bindings in a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/bindings"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "agentregistry.projects.locations.bindings.delete",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "description": "Required. The name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a single Binding.",
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "description": "Updates the parameters of a single Binding.",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/bindings/[^/]+$",
                      "location": "path",
                      "description": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`.",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Binding resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "agentregistry.projects.locations.bindings.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/bindings/{bindingsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Binding"
                  },
                  "path": "v1alpha/{+name}"
                },
                "fetchAvailable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/agentregistry.read-only",
                    "https://www.googleapis.com/auth/agentregistry.read-write",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "FetchAvailableBindingsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, in the format `projects/{project}/locations/{location}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "sourceIdentifier": {
                      "location": "query",
                      "type": "string",
                      "description": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
                    },
                    "targetIdentifier": {
                      "description": "Optional. The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. Page size is 500 if unspecified and is capped at `500` even if a larger value is given.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "agentregistry.projects.locations.bindings.fetchAvailable",
[...]
