{
  "fullyEncodeReservedExpansion": true,
  "title": "Agent Identity Credentials API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://agentidentitycredentials.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "batchPath": "batch",
  "revision": "20260918",
  "baseUrl": "https://agentidentitycredentials.googleapis.com/",
  "canonicalName": "Agent Identity Credentials",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "v1alpha",
  "schemas": {
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse": {
      "description": "Response message for `FinalizeCredentials`. Intentionally empty.",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest": {
      "properties": {
        "targetTokenType": {
          "enumDescriptions": [
            "Unspecified target token type. The service will apply default exchange semantics based on the target AuthProvider's configuration.",
            "Request an OAuth access token.",
            "Request an Identity Assertion Authorization Grant (ID-JAG) token."
          ],
          "description": "Optional. The desired target token type to be returned from the exchange. If unspecified, defaults to the token type configured on the AuthProvider.",
          "type": "string",
          "enum": [
            "TARGET_TOKEN_TYPE_UNSPECIFIED",
            "TARGET_TOKEN_TYPE_ACCESS_TOKEN",
            "TARGET_TOKEN_TYPE_ID_JAG"
          ]
        },
        "tokenBinding": {
          "description": "Optional. The token binding parameters to be applied to downstream tokens and embedded into the ID-JAG assertion.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding"
        },
        "scopes": {
          "description": "Optional. The desired downstream OAuth scopes to request for the exchanged token.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceCredential": {
          "type": "string",
          "description": "Required. The incoming identity or assertion token to be exchanged."
        }
      },
      "description": "Request message for `ExchangeCredentials`.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the credentials retrieval operation."
        },
        "authorizationUri": {
          "readOnly": true,
          "description": "Output only. The URL where the user should be redirected to grant consent. This will always be present.",
          "type": "string"
        },
        "consentNonce": {
          "description": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5).",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Pending": {
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Pending",
      "description": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time.",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse": {
      "description": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts.",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse",
      "properties": {
        "consentRejected": {
          "description": "Message indicating consent was rejected.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected"
        },
        "success": {
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
          "description": "Message indicating credentials were successfully retrieved."
        },
        "uriConsentRequired": {
          "description": "Message indicating URI-based consent is required.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_UriConsentRequired"
        },
        "pending": {
          "description": "Message indicating credential retrieval is pending.",
          "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_Pending"
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_Success": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_Success",
      "description": "Message indicating successful retrieval of credentials.",
      "type": "object",
      "properties": {
        "header": {
          "description": "The HTTP header name where the token should be placed.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list."
        },
        "token": {
          "type": "string",
          "description": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
        },
        "expireTime": {
          "description": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest",
      "type": "object",
      "description": "Request message for `RetrieveCredentials`.",
      "properties": {
        "userId": {
          "description": "Required. The identity of the end user.",
          "type": "string"
        },
        "continueUri": {
          "description": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected.",
          "type": "string"
        },
        "forceRefreshToken": {
          "type": "string",
          "description": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
        },
        "scopes": {
          "description": "Optional. The OAuth scopes required for this access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding": {
      "description": "Configuration for binding downstream credentials to client communication channel properties.",
      "properties": {
        "certificateFingerprint": {
          "description": "Optional. The base64url-encoded SHA-256 hash of the DER-encoded X.509 client certificate, as defined in RFC 8705 Section 3.1 (corresponding to \"x5t#S256\"). Format requirements: - Base64url encoding (RFC 4648 Section 5) using URL-safe characters ('-' and '_') without padding ('='). - Exactly 43 characters long for a 256-bit SHA-256 digest.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_TokenBinding"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected": {
      "description": "Indicates the user has rejected the permission delegation or canceled the request.",
      "properties": {},
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ConsentRejected",
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest",
      "description": "Request message for `FinalizeCredentials`.",
      "properties": {
        "consentNonce": {
          "type": "string",
          "description": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata."
        },
        "userId": {
          "type": "string",
          "description": "Required. The identity of the end user."
        },
        "userIdValidationState": {
          "type": "string",
          "format": "byte",
          "description": "Required. The encrypted state passed back from the consent flow."
        }
      },
      "type": "object"
    },
    "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse": {
      "id": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse",
      "description": "Response message for `ExchangeCredentials` containing the resulting credentials.",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "The scopes actually associated with the retrieved token.",
          "type": "array"
        },
        "acquireTime": {
          "type": "string",
          "description": "Optional. The time when the token was acquired.",
          "format": "google-datetime"
        },
        "token": {
          "type": "string",
          "description": "The user-consented workforce access token resulting from the exchange."
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The expiration time of the exchanged access token."
        }
      },
      "type": "object"
    }
  },
  "id": "agentidentitycredentials:v1alpha",
  "description": "The Agent Identity Credentials API retrieves and finalizes authorization credentials for auth providers.",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "authProviders": {
              "resources": {
                "credentials": {
                  "methods": {
                    "retrieve": {
                      "description": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information.",
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.retrieve",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsRequest"
                      },
                      "path": "v1alpha/{+authProvider}/credentials:retrieve",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "parameters": {
                        "authProvider": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:retrieve",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_RetrieveCredentialsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "finalize": {
                      "description": "Finalizes the credentials after a successful consent flow.",
                      "path": "v1alpha/{+authProvider}/credentials:finalize",
                      "parameters": {
                        "authProvider": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$",
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.finalize",
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:finalize",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_FinalizeCredentialsResponse"
                      }
                    },
                    "exchange": {
                      "id": "agentidentitycredentials.projects.locations.authProviders.credentials.exchange",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Swaps an input credential for a target credential as per the rules and provider defined in the given auth provider.",
                      "parameters": {
                        "authProvider": {
                          "description": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/authProviders/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsResponse"
                      },
                      "parameterOrder": [
                        "authProvider"
                      ],
                      "request": {
                        "$ref": "GoogleCloudAgentidentitycredentialsV1alpha_ExchangeCredentialsRequest"
                      },
                      "path": "v1alpha/{+authProvider}/credentials:exchange",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/authProviders/{authProvidersId}/credentials:exchange"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "name": "agentidentitycredentials",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/iam/docs/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "rootUrl": "https://agentidentitycredentials.googleapis.com/"
}