{
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "discoveryVersion": "v1",
  "revision": "20260920",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/aiplatform": {
          "description": "See, edit, configure, and delete your Google Cloud Vertex AI data and see the email address for your Google Account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "name": "aiplatform",
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "resources": {
    "migratableResources": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations",
              "httpMethod": "GET",
              "id": "aiplatform.migratableResources.operations.list",
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^migratableResources/[^/]+$"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "id": "aiplatform.migratableResources.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "parameters": {
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                },
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "aiplatform.migratableResources.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "cancel": {
              "id": "aiplatform.migratableResources.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.migratableResources.operations.get"
            }
          }
        }
      }
    },
    "tuningJobs": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "parameters": {
                "timeout": {
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on."
                }
              },
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.tuningJobs.operations.wait"
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^tuningJobs/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations",
              "httpMethod": "GET",
              "id": "aiplatform.tuningJobs.operations.list",
              "path": "v1/{+name}/operations"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.tuningJobs.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}",
              "id": "aiplatform.tuningJobs.operations.get"
            },
            "delete": {
              "id": "aiplatform.tuningJobs.operations.delete",
              "flatPath": "v1/tuningJobs/{tuningJobsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^tuningJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "v1": {
      "methods": {
        "evaluateDataset": {
          "path": "v1:evaluateDataset",
          "id": "aiplatform.evaluateDataset",
          "parameterOrder": [],
          "flatPath": "v1:evaluateDataset",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateDatasetRequest"
          },
          "description": "Evaluates a dataset based on a set of given metrics.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {},
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "generateInstanceRubrics": {
          "path": "v1:generateInstanceRubrics",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "aiplatform.generateInstanceRubrics",
          "httpMethod": "POST",
          "description": "Generates rubrics for a given prompt. A rubric represents a single testable criterion for evaluation. One input prompt could have multiple rubrics This RPC allows users to get suggested rubrics based on provided prompt, which can then be reviewed and used for subsequent evaluations.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsResponse"
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateInstanceRubricsRequest"
          },
          "flatPath": "v1:generateInstanceRubrics",
          "parameterOrder": []
        },
        "evaluateInstances": {
          "flatPath": "v1:evaluateInstances",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Evaluates instances based on a given metric.",
          "id": "aiplatform.evaluateInstances",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1EvaluateInstancesResponse"
          },
          "parameters": {},
          "path": "v1:evaluateInstances"
        }
      }
    },
    "ragEngineConfig": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "id": "aiplatform.ragEngineConfig.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:wait",
              "parameters": {
                "timeout": {
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.ragEngineConfig.operations.wait"
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^ragEngineConfig$",
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                }
              },
              "id": "aiplatform.ragEngineConfig.operations.list",
              "flatPath": "v1/ragEngineConfig/operations",
              "httpMethod": "GET",
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "id": "aiplatform.ragEngineConfig.operations.get",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.ragEngineConfig.operations.cancel",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "batchPredictionJobs": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "parameters": {
            "name": {
              "pattern": "^batchPredictionJobs/[^/]+$",
              "description": "Required. The name of the BatchPredictionJob resource. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "aiplatform.batchPredictionJobs.get",
          "description": "Gets a BatchPredictionJob",
          "flatPath": "v1/batchPredictionJobs/{batchPredictionJobsId}",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "flatPath": "v1/batchPredictionJobs",
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "aiplatform.batchPredictionJobs.create",
          "description": "Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "path": "v1/batchPredictionJobs"
        },
        "list": {
          "parameterOrder": [],
          "description": "Lists BatchPredictionJobs in a Location.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse"
          },
          "id": "aiplatform.batchPredictionJobs.list",
          "parameters": {
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "The standard list page size.",
              "type": "integer"
            },
            "parent": {
              "type": "string",
              "description": "Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`",
              "location": "query"
            },
            "filter": {
              "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`<`, `<=`,`>`, `>=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time>\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
              "type": "string",
              "location": "query"
            },
            "readMask": {
              "location": "query",
              "type": "string",
              "format": "google-fieldmask",
              "description": "Mask specifying which fields to read."
            },
            "pageToken": {
              "location": "query",
              "description": "The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "path": "v1/batchPredictionJobs",
          "flatPath": "v1/batchPredictionJobs"
        }
      }
    },
    "datasets": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "aiplatform.datasets.operations.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}",
              "path": "v1/{+name}"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.datasets.operations.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.datasets.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "delete": {
              "id": "aiplatform.datasets.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}"
            },
            "list": {
              "id": "aiplatform.datasets.operations.list",
              "path": "v1/{+name}/operations",
              "flatPath": "v1/datasets/{datasetsId}/operations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^datasets/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "savedQueries": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "aiplatform.datasets.savedQueries.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "cancel": {
                  "id": "aiplatform.datasets.savedQueries.operations.cancel",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "wait": {
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string"
                    },
                    "timeout": {
                      "format": "google-duration",
                      "location": "query",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.savedQueries.operations.wait",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "aiplatform.datasets.savedQueries.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "aiplatform.datasets.savedQueries.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations"
                }
              }
            }
          }
        },
        "datasetVersions": {
          "methods": {
            "restore": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "GET",
              "id": "aiplatform.datasets.datasetVersions.restore",
              "parameters": {
                "name": {
                  "description": "Required. The name of the DatasetVersion resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "type": "string",
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}:restore",
              "description": "Restores a dataset version.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:restore",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions",
              "description": "Lists DatasetVersions in a Dataset.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListDatasetVersionsResponse"
              },
              "id": "aiplatform.datasets.datasetVersions.list",
              "path": "v1/{+parent}/datasetVersions",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "readMask": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Mask specifying which fields to read.",
                  "format": "google-fieldmask"
                },
                "parent": {
                  "pattern": "^datasets/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the Dataset to list DatasetVersions from. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The standard list filter."
                },
                "orderBy": {
                  "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                  "type": "string",
                  "pattern": "^datasets/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Create a version from a Dataset.",
              "request": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "path": "v1/{+parent}/datasetVersions",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.datasets.datasetVersions.create"
            },
            "delete": {
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "description": "Deletes a Dataset version.",
              "id": "aiplatform.datasets.datasetVersions.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "required": true,
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "parameters": {
                "readMask": {
                  "description": "Mask specifying which fields to read.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$",
                  "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "aiplatform.datasets.datasetVersions.get",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "description": "Gets a Dataset version.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name`"
                },
                "name": {
                  "type": "string",
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$",
                  "required": true,
                  "description": "Output only. Identifier. The resource name of the DatasetVersion. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "description": "Updates a DatasetVersion.",
              "path": "v1/{+name}",
              "id": "aiplatform.datasets.datasetVersions.patch",
              "response": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              }
            }
          }
        },
        "annotationSpecs": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "aiplatform.datasets.annotationSpecs.operations.list"
                },
                "cancel": {
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "aiplatform.datasets.annotationSpecs.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "wait": {
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.datasets.annotationSpecs.operations.wait",
                  "httpMethod": "POST",
                  "parameters": {
                    "timeout": {
                      "type": "string",
                      "format": "google-duration",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    },
                    "name": {
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "required": true
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "aiplatform.datasets.annotationSpecs.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "dataItems": {
          "resources": {
            "annotations": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.datasets.dataItems.annotations.operations.delete",
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                      "parameters": {
                        "name": {
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to be deleted.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}"
                    },
                    "cancel": {
                      "id": "aiplatform.datasets.dataItems.annotations.operations.cancel",
                      "path": "v1/{+name}:cancel",
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/aiplatform",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource.",
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "location": "path"
                        }
                      },
                      "id": "aiplatform.datasets.dataItems.annotations.operations.get",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/aiplatform",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}"
                    },
                    "list": {
                      "path": "v1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "id": "aiplatform.datasets.dataItems.annotations.operations.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/aiplatform",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "The standard list filter."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32"
                        },
                        "name": {
                          "description": "The name of the operation's parent resource.",
                          "location": "path",
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "wait": {
                      "parameters": {
                        "timeout": {
                          "location": "query",
                          "format": "google-duration",
                          "type": "string",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                        },
                        "name": {
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "The name of the operation resource to wait on."
                        }
                      },
                      "path": "v1/{+name}:wait",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/aiplatform",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.datasets.dataItems.annotations.operations.wait",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}:wait",
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}",
                  "id": "aiplatform.datasets.dataItems.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.datasets.dataItems.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource."
                    }
                  }
                },
                "wait": {
                  "id": "aiplatform.datasets.dataItems.operations.wait",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to wait on."
                    },
                    "timeout": {
                      "type": "string",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "cancel": {
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "aiplatform.datasets.dataItems.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "id": "aiplatform.datasets.dataItems.operations.list"
                }
              }
            }
          }
        }
      },
      "methods": {
        "get": {
          "flatPath": "v1/datasets/{datasetsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets a Dataset.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. The name of the Dataset resource."
            },
            "readMask": {
              "type": "string",
              "description": "Mask specifying which fields to read.",
              "format": "google-fieldmask",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "id": "aiplatform.datasets.get",
          "path": "v1/{+name}"
        },
        "patch": {
          "path": "v1/{+name}",
          "flatPath": "v1/datasets/{datasetsId}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "id": "aiplatform.datasets.patch",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "parameters": {
            "updateMask": {
              "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name` * `description` * `labels`",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "description": "Output only. Identifier. The resource name of the Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
              "type": "string",
              "location": "path",
              "pattern": "^datasets/[^/]+$",
              "required": true
            }
          },
          "description": "Updates a Dataset.",
          "httpMethod": "PATCH"
        },
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "path": "v1/datasets",
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to create the Dataset in. Format: `projects/{project}/locations/{location}`",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "description": "Creates a Dataset.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "id": "aiplatform.datasets.create",
          "flatPath": "v1/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "delete": {
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Deletes a Dataset.",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^datasets/[^/]+$",
              "description": "Required. The resource name of the Dataset to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.datasets.delete",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/datasets/{datasetsId}",
          "path": "v1/{+name}"
        },
        "list": {
          "parameters": {
            "parent": {
              "location": "query",
              "type": "string",
              "description": "Required. The name of the Dataset's parent resource. Format: `projects/{project}/locations/{location}`"
            },
            "filter": {
              "type": "string",
              "description": "An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `display_name`: supports = and != * `metadata_schema_uri`: supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. Some examples: * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"`",
              "location": "query"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Mask specifying which fields to read.",
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time`",
              "type": "string"
            }
          },
          "path": "v1/datasets",
          "httpMethod": "GET",
          "description": "Lists Datasets in a Location.",
          "parameterOrder": [],
          "id": "aiplatform.datasets.list",
          "flatPath": "v1/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListDatasetsResponse"
          }
        }
      }
    },
    "schedules": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "id": "aiplatform.schedules.operations.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^schedules/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.schedules.operations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^schedules/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.schedules.operations.list",
              "path": "v1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/schedules/{schedulesId}/operations",
              "scopes": [
[...]
