{
  "servicePath": "",
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "revision": "20260920",
  "endpoints": [
    {
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east1"
    },
    {
      "description": "Locational Endpoint",
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "location": "australia-southeast1",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-southwest1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "location": "europe-west10",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west6"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "description": "Locational Endpoint",
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "location": "me-west1",
      "description": "Locational Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "location": "us-east1",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4"
    },
    {
      "location": "us-east7",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "location": "us-west2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    }
  ],
  "basePath": "",
  "title": "Agent Platform API",
  "id": "aiplatform:v1",
  "version_module": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformation": {
      "type": "object",
      "properties": {
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTimestampTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationCategoricalTransformation"
        },
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformation"
    },
    "GoogleCloudAiplatformV1ToolParallelAiSearch": {
      "id": "GoogleCloudAiplatformV1ToolParallelAiSearch",
      "properties": {
        "customConfigs": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. Custom configs for ParallelAiSearch. This field can be used to pass any parameter from the Parallel.ai Search API. See the Parallel.ai documentation for the full list of available parameters and their usage: https://docs.parallel.ai/api-reference/search-beta/search Currently only `source_policy`, `excerpts`, `max_results`, `mode`, `fetch_policy` can be set via this field. For example: { \"source_policy\": { \"include_domains\": [\"google.com\", \"wikipedia.org\"], \"exclude_domains\": [\"example.com\"] }, \"fetch_policy\": { \"max_age_seconds\": 3600 } }"
        },
        "enableDataRetention": {
          "description": "Optional. Deprecated: Use `enable_zero_data_retention` instead. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used.",
          "deprecated": true,
          "type": "boolean"
        },
        "enableZeroDataRetention": {
          "type": "boolean",
          "description": "Optional. Instructs Vertex Grounding to use Parallel's Zero Data Retention Marketplace product. If this value is \"false\" or omitted, the Parallel Web Search for Grounding standard subscription will be used. If this value is \"true\", the Parallel Web Search for Grounding - ZDR subscription will be used."
        },
        "apiKey": {
          "description": "Optional. The API key for ParallelAiSearch. If an API key is not provided, the system will attempt to verify access by checking for an active Parallel.ai subscription through the Google Cloud Marketplace. See https://docs.parallel.ai/search/search-quickstart for more details.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ParallelAiSearch tool type. A tool that uses the Parallel.ai search engine for grounding."
    },
    "GoogleCloudAiplatformV1ExplainRequest": {
      "id": "GoogleCloudAiplatformV1ExplainRequest",
      "description": "Request message for PredictionService.Explain.",
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Required. The instances that are the input to the explanation call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the explanation call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri."
        },
        "explanationSpecOverride": {
          "$ref": "GoogleCloudAiplatformV1ExplanationSpecOverride",
          "description": "If specified, overrides the explanation_spec of the DeployedModel. Can be used for explaining prediction results with different configurations, such as: - Explaining top-5 predictions results as opposed to top-1; - Increasing path count or step count of the attribution methods to reduce approximate errors; - Using different baselines for explaining the prediction results."
        },
        "parameters": {
          "type": "any",
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri."
        },
        "deployedModelId": {
          "description": "If specified, this ExplainRequest will be served by the chosen DeployedModel, overriding Endpoint.traffic_split.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource": {
      "properties": {
        "sourceArchive": {
          "format": "byte",
          "type": "string",
          "description": "Required. Input only. The application source code archive. It must be a compressed tarball (.tar.gz) file."
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource",
      "description": "Specifies source code provided as a byte stream.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SafetyInstance": {
      "id": "GoogleCloudAiplatformV1SafetyInstance",
      "type": "object",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "description": "Spec for safety instance."
    },
    "GoogleCloudAiplatformV1ListSandboxEnvironmentsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListSandboxEnvironmentsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
        },
        "sandboxEnvironments": {
          "type": "array",
          "description": "The SandboxEnvironments matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironment"
          }
        }
      },
      "description": "Response message for SandboxEnvironmentService.ListSandboxEnvironments.",
      "id": "GoogleCloudAiplatformV1ListSandboxEnvironmentsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PipelineJob": {
      "properties": {
        "templateMetadata": {
          "readOnly": true,
          "description": "Output only. Pipeline template metadata. Will fill up fields if PipelineJob.template_uri is from supported template registry.",
          "$ref": "GoogleCloudAiplatformV1PipelineTemplateMetadata"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the Pipeline. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a pipelineJob. If set, this PipelineJob and all of its sub-resources will be secured by this key."
        },
        "scheduleName": {
          "type": "string",
          "description": "Output only. The schedule resource name. Only returned if the Pipeline is created by Schedule API.",
          "readOnly": true
        },
        "reservedIpRanges": {
          "items": {
            "type": "string"
          },
          "description": "A list of names for the reserved ip ranges under the VPC network that can be used for this Pipeline Job's workload. If set, we will deploy the Pipeline Job's workload within the provided ip ranges. Otherwise, the job will be deployed to any ip ranges under the provided VPC network. Example: ['vertex-ai-ip-range'].",
          "type": "array"
        },
        "error": {
          "description": "Output only. The error that occurred during pipeline execution. Only populated when the pipeline's state is FAILED or CANCELLED.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this PipelineJob was most recently updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Pipeline end time.",
          "format": "google-datetime"
        },
        "jobDetail": {
          "$ref": "GoogleCloudAiplatformV1PipelineJobDetail",
          "readOnly": true,
          "description": "Output only. The details of pipeline run. Not available in the list view."
        },
        "pipelineSpec": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object",
          "description": "A compiled definition of a pipeline, represented as a `JSON` object. Defines the structure of the pipeline, including its components, tasks, and parameters. This specification is generated by compiling a pipeline function defined in `Python` using the `Kubeflow Pipelines SDK`."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Pipeline start time.",
          "format": "google-datetime"
        },
        "preflightValidations": {
          "description": "Optional. Whether to do component level validations before job creation.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize PipelineJob. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels. Note there is some reserved label key for Vertex AI Pipelines. - `vertex-ai-pipelines-run-billing-id`, user set value will get overrided."
        },
        "runtimeConfig": {
          "description": "Runtime config of the pipeline.",
          "$ref": "GoogleCloudAiplatformV1PipelineJobRuntimeConfig"
        },
        "name": {
          "description": "Output only. The resource name of the PipelineJob.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Pipeline creation time."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "PIPELINE_STATE_UNSPECIFIED",
            "PIPELINE_STATE_QUEUED",
            "PIPELINE_STATE_PENDING",
            "PIPELINE_STATE_RUNNING",
            "PIPELINE_STATE_SUCCEEDED",
            "PIPELINE_STATE_FAILED",
            "PIPELINE_STATE_CANCELLING",
            "PIPELINE_STATE_CANCELLED",
            "PIPELINE_STATE_PAUSED"
          ],
          "enumDescriptions": [
            "The pipeline state is unspecified.",
            "The pipeline has been created or resumed, and processing has not yet begun.",
            "The service is preparing to run the pipeline.",
            "The pipeline is in progress.",
            "The pipeline completed successfully.",
            "The pipeline failed.",
            "The pipeline is being cancelled. From this state, the pipeline may only go to either PIPELINE_STATE_SUCCEEDED, PIPELINE_STATE_FAILED or PIPELINE_STATE_CANCELLED.",
            "The pipeline has been cancelled.",
            "The pipeline has been stopped, and can be resumed."
          ],
          "description": "Output only. The detailed state of the job."
        },
        "templateUri": {
          "description": "A template uri from where the PipelineJob.pipeline_spec, if empty, will be downloaded. Currently, only uri from Vertex Template Registry & Gallery is supported. Reference to https://cloud.google.com/vertex-ai/docs/pipelines/create-pipeline-template.",
          "type": "string"
        },
        "network": {
          "description": "The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to which the Pipeline Job's workload should be peered. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. Private services access must already be configured for the network. Pipeline job will apply the network configuration to the Google Cloud resources being launched, if applied, such as Vertex AI Training or Dataflow job. If left unspecified, the workload is not peered with any network.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account that the pipeline workload runs as. If not specified, the Compute Engine default service account in the project will be used. See https://cloud.google.com/compute/docs/access/service-accounts#default_service_account Users starting the pipeline must have the `iam.serviceAccounts.actAs` permission on this service account."
        },
        "pscInterfaceConfig": {
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig",
          "description": "Optional. Configuration for PSC-I for PipelineJob."
        }
      },
      "type": "object",
      "description": "An instance of a machine learning PipelineJob.",
      "id": "GoogleCloudAiplatformV1PipelineJob"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec": {
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec",
      "properties": {
        "metric": {
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec",
          "description": "Metric specs for the NAS job. Validation for this field is done at `multi_trial_algorithm_spec` field."
        },
        "multiTrialAlgorithm": {
          "description": "The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `REINFORCEMENT_LEARNING`.",
          "type": "string",
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ],
          "enumDescriptions": [
            "Defaults to `REINFORCEMENT_LEARNING`.",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ]
        },
        "trainTrialSpec": {
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec",
          "description": "Spec for train trials. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched."
        },
        "searchTrialSpec": {
          "description": "Required. Spec for search trials.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec"
        }
      },
      "type": "object",
      "description": "The spec of multi-trial Neural Architecture Search (NAS)."
    },
    "GoogleCloudAiplatformV1KeepAliveProbeHttpGet": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string",
          "description": "Required. Specifies the path of the HTTP GET request (e.g., `\"/is_busy\"`)."
        },
        "port": {
          "description": "Optional. Specifies the port number on the container to which the request is sent.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1KeepAliveProbeHttpGet",
      "description": "Specifies the HTTP GET configuration for the probe."
    },
    "GoogleCloudAiplatformV1AddContextChildrenRequest": {
      "id": "GoogleCloudAiplatformV1AddContextChildrenRequest",
      "properties": {
        "childContexts": {
          "type": "array",
          "description": "The resource names of the child Contexts.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for MetadataService.AddContextChildren.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeleteFeatureValuesResponse": {
      "properties": {
        "selectTimeRangeAndFeature": {
          "description": "Response for request specifying time range and feature",
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectTimeRangeAndFeature"
        },
        "selectEntity": {
          "$ref": "GoogleCloudAiplatformV1DeleteFeatureValuesResponseSelectEntity",
          "description": "Response for request specifying the entities to delete"
        }
      },
      "id": "GoogleCloudAiplatformV1DeleteFeatureValuesResponse",
      "description": "Response message for FeaturestoreService.DeleteFeatureValues.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet": {
      "description": "A review snippet that is used to generate the answer.",
      "properties": {
        "reviewId": {
          "description": "The ID of the review that is being referenced.",
          "type": "string"
        },
        "title": {
          "description": "The title of the review.",
          "type": "string"
        },
        "googleMapsUri": {
          "description": "A link to show the review on Google Maps.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1GroundingChunkMapsPlaceAnswerSourcesReviewSnippet"
    },
    "GoogleCloudAiplatformV1FeatureViewDataKeyCompositeKey": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeatureViewDataKeyCompositeKey",
      "properties": {
        "parts": {
          "items": {
            "type": "string"
          },
          "description": "Parts to construct Entity ID. Should match with the same ID columns as defined in FeatureView in the same order.",
          "type": "array"
        }
      },
      "description": "ID that is comprised from several parts (columns)."
    },
    "GoogleCloudAiplatformV1AddTrialMeasurementRequest": {
      "id": "GoogleCloudAiplatformV1AddTrialMeasurementRequest",
      "type": "object",
      "properties": {
        "measurement": {
          "description": "Required. The measurement to be added to a Trial.",
          "$ref": "GoogleCloudAiplatformV1Measurement"
        }
      },
      "description": "Request message for VizierService.AddTrialMeasurement."
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchSpec": {
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchSpec",
      "type": "object",
      "properties": {},
      "description": "Spec for TrajectoryInOrderMatch metric - returns 1 if tool calls in the reference trajectory appear in the predicted trajectory in the same order, else 0."
    },
    "GoogleCloudAiplatformV1AskContextsResponse": {
      "description": "Response message for VertexRagService.AskContexts.",
      "id": "GoogleCloudAiplatformV1AskContextsResponse",
      "type": "object",
      "properties": {
        "contexts": {
          "$ref": "GoogleCloudAiplatformV1RagContexts",
          "description": "The contexts of the query."
        },
        "response": {
          "type": "string",
          "description": "The Retrieval Response."
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateUserScenariosRequest": {
      "properties": {
        "geminiAgentConfig": {
          "description": "Optional. Config for a Gemini Agent to generate user scenarios for.",
          "$ref": "GoogleCloudAiplatformV1GeminiAgentConfig"
        },
        "allowCrossRegionModel": {
          "description": "Optional. Allows the scenario generation to use cross region models. When this flag is set, the service may route traffic to other regions if a model is unavailable in the current region (e.g., to a `global` endpoint). If a fully-qualified model endpoint resource name with a different region than the request location is provided elsewhere in the request, this flag must be set to true or the request will fail.",
          "type": "boolean"
        },
        "userScenarioGenerationConfig": {
          "$ref": "GoogleCloudAiplatformV1UserScenarioGenerationConfig",
          "description": "Required. Configuration for generating user scenarios."
        },
        "rootAgentId": {
          "description": "Optional. The agent id to identify the root agent. Required unless `gemini_agent_config` is set, in which case it is derived from the referenced Gemini Agent.",
          "type": "string"
        },
        "agents": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1AgentConfig"
          },
          "description": "Optional. A map containing the static configurations for each agent in the system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent. Required unless `gemini_agent_config` is set, in which case the agents map and `root_agent_id` are derived from the referenced Gemini Agent."
        }
      },
      "type": "object",
      "description": "Request message for DataFoundryService.GenerateUserScenarios.",
      "id": "GoogleCloudAiplatformV1GenerateUserScenariosRequest"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
      "properties": {
        "anomalyDetectionBaseline": {
          "type": "string",
          "enum": [
            "BASELINE_UNSPECIFIED",
            "LATEST_STATS",
            "MOST_RECENT_SNAPSHOT_STATS",
            "PREVIOUS_IMPORT_FEATURES_STATS"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "Choose the later one statistics generated by either most recent snapshot analysis or previous import features analysis. If non of them exists, skip anomaly detection and only generate a statistics.",
            "Use the statistics generated by the most recent snapshot analysis if exists.",
            "Use the statistics generated by the previous import features analysis if exists."
          ],
          "description": "The baseline used to do anomaly detection for the statistics generated by import features analysis."
        },
        "state": {
          "description": "Whether to enable / disable / inherite default hebavior for import features analysis.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ]
        }
      },
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListEvaluationSetsResponse": {
      "properties": {
        "evaluationSets": {
          "type": "array",
          "description": "List of EvaluationSets in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results."
        }
      },
      "description": "Response message for EvaluationManagementService.ListEvaluationSets.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListEvaluationSetsResponse"
    },
    "GoogleCloudAiplatformV1MeasurementMetric": {
      "id": "GoogleCloudAiplatformV1MeasurementMetric",
      "properties": {
        "metricId": {
          "description": "Output only. The ID of the Metric. The Metric should be defined in StudySpec's Metrics.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Output only. The value for this metric.",
          "type": "number",
          "format": "double",
          "readOnly": true
        }
      },
      "description": "A message representing a metric in the measurement.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSourceDirectMemory": {
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSourceDirectMemory",
      "type": "object",
      "description": "A direct memory to upload to Memory Bank.",
      "properties": {
        "fact": {
          "type": "string",
          "description": "Required. The fact to consolidate with existing memories."
        },
        "topics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryTopicId"
          },
          "type": "array",
          "description": "Optional. The topics that the consolidated memories should be associated with."
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN",
      "description": "Config for ANN search. RagManagedDb uses a tree-based structure to partition data and facilitate faster searches. As a tradeoff, it requires longer indexing time and manual triggering of index rebuild via the ImportRagFiles and UpdateRagCorpus API.",
      "properties": {
        "treeDepth": {
          "description": "The depth of the tree-based structure. Only depth values of 2 and 3 are supported. Recommended value is 2 if you have if you have O(10K) files in the RagCorpus and set this to 3 if more than that. Default value is 2.",
          "type": "integer",
          "format": "int32"
        },
        "leafCount": {
          "type": "integer",
          "description": "Number of leaf nodes in the tree-based structure. Each leaf node contains groups of closely related vectors along with their corresponding centroid. Recommended value is 10 * sqrt(num of RagFiles in your RagCorpus). Default value is 500.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1MigratableResourceDataLabelingDataset": {
      "properties": {
        "datasetDisplayName": {
          "description": "The Dataset's display name in datalabeling.googleapis.com.",
          "type": "string"
        },
        "dataset": {
          "type": "string",
          "description": "Full resource name of data labeling Dataset. Format: `projects/{project}/datasets/{dataset}`."
        },
        "dataLabelingAnnotatedDatasets": {
          "description": "The migratable AnnotatedDataset in datalabeling.googleapis.com belongs to the data labeling Dataset.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset"
          },
          "type": "array"
        }
      },
      "description": "Represents one Dataset in datalabeling.googleapis.com.",
      "id": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDataset",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListFeatureViewSyncsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureViewSyncsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "featureViewSyncs": {
          "description": "The FeatureViewSyncs matching the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureViewSync"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ListFeatureViewSyncsResponse",
      "description": "Response message for FeatureOnlineStoreAdminService.ListFeatureViewSyncs."
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadataPartialResult": {
      "description": "Represents a partial result in batch migration operation for one MigrateResourceRequest.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadataPartialResult",
      "properties": {
        "dataset": {
          "type": "string",
          "description": "Migrated dataset resource name."
        },
        "error": {
          "description": "The error result of the migration request in case of failure.",
          "$ref": "GoogleRpcStatus"
        },
        "model": {
          "type": "string",
          "description": "Migrated model resource name."
        },
        "request": {
          "$ref": "GoogleCloudAiplatformV1MigrateResourceRequest",
          "description": "It's the same as the value in BatchMigrateResourcesRequest.migrate_resource_requests."
        }
      }
    },
    "GoogleCloudAiplatformV1GenieSource": {
      "id": "GoogleCloudAiplatformV1GenieSource",
      "description": "Contains information about the source of the models generated from Generative AI Studio.",
      "properties": {
        "baseModelUri": {
          "description": "Required. The public base model URI.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1AutomaticResources",
      "description": "A description of resources that to large degree are decided by Agent Platform, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "properties": {
        "minReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Immutable. The minimum number of replicas that will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error."
        },
        "maxReplicaCount": {
          "format": "int32",
          "description": "Immutable. The maximum number of replicas that may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale to that many replicas is guaranteed (barring service outages). If traffic increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Agent Platform may be unable to scale beyond certain replica number.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureSelector": {
      "type": "object",
      "description": "Selector for Features of an EntityType.",
      "id": "GoogleCloudAiplatformV1FeatureSelector",
      "properties": {
        "idMatcher": {
          "description": "Required. Matches Features based on ID.",
          "$ref": "GoogleCloudAiplatformV1IdMatcher"
        }
      }
    },
    "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest": {
      "id": "GoogleCloudAiplatformV1AssignNotebookRuntimeRequest",
      "properties": {
        "notebookRuntimeId": {
          "type": "string",
          "description": "Optional. User specified ID for the notebook runtime."
        },
        "notebookRuntimeTemplate": {
          "description": "Required. The resource name of the NotebookRuntimeTemplate based on which a NotebookRuntime will be assigned (reuse or create a new one).",
          "type": "string"
        },
        "notebookRuntime": {
          "$ref": "GoogleCloudAiplatformV1NotebookRuntime",
          "description": "Required. Provide runtime specific information (e.g. runtime owner, notebook id) used for NotebookRuntime assignment."
        }
      },
      "description": "Request message for NotebookService.AssignNotebookRuntime.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelGardenSource": {
      "properties": {
        "publicModelName": {
          "description": "Required. The model garden source model resource name.",
          "type": "string"
        },
        "skipHfModelCache": {
          "description": "Optional. Whether to avoid pulling the model from the HF cache.",
          "type": "boolean"
        },
        "versionId": {
          "type": "string",
          "description": "Optional. The model garden source model version ID."
        }
      },
      "description": "Contains information about the source of the models generated from Model Garden.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelGardenSource"
    },
    "GoogleCloudAiplatformV1PreTunedModel": {
      "type": "object",
      "properties": {
        "tunedModelName": {
          "description": "The resource name of the Model. E.g., a model resource name with a specified version id or alias: `projects/{project}/locations/{location}/models/{model}@{version_id}` `projects/{project}/locations/{location}/models/{model}@{alias}` Or, omit the version id to use the default version: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "checkpointId": {
          "description": "Optional. The source checkpoint id. If not specified, the default checkpoint will be used.",
          "type": "string"
        },
        "baseModel": {
          "readOnly": true,
          "description": "Output only. The name of the base model this PreTunedModel was tuned from.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PreTunedModel",
      "description": "A pre-tuned model for continuous tuning."
    },
    "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata",
      "properties": {
        "multiLabel": {
          "type": "boolean",
          "description": "Whether or not the classification label is multi_label."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1Claim": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Claim",
      "properties": {
        "endIndex": {
          "format": "int32",
          "description": "Index in the input text where the claim ends (exclusive).",
          "type": "integer"
        },
        "startIndex": {
          "description": "Index in the input text where the claim starts (inclusive).",
          "format": "int32",
          "type": "integer"
        },
        "factIndexes": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Indexes of the facts supporting this claim."
        },
        "score": {
          "format": "float",
          "description": "Confidence score of this corroboration.",
          "type": "number"
        }
      },
      "description": "Claim that is extracted from the input text and facts that support it."
    },
    "GoogleTypeLatLng": {
      "id": "GoogleTypeLatLng",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double",
          "type": "number"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CancelHyperparameterTuningJobRequest": {
      "description": "Request message for JobService.CancelHyperparameterTuningJob.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CancelHyperparameterTuningJobRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1WriteTensorboardRunDataResponse": {
      "id": "GoogleCloudAiplatformV1WriteTensorboardRunDataResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for TensorboardService.WriteTensorboardRunData."
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionInstance": {
      "description": "Spec for TrajectoryPrecision instance.",
      "properties": {
        "predictedTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for predicted tool call trajectory."
        },
        "referenceTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for reference tool call trajectory."
        }
      },
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionInstance",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateLossClustersRequestEvaluationResultList": {
      "description": "A wrapper to allow providing a list of items inline.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateLossClustersRequestEvaluationResultList",
      "properties": {
        "evaluationResults": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationResult"
          },
          "type": "array",
          "description": "Required. The list of evaluation results to analyze."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolCallValidMetricValue": {
      "id": "GoogleCloudAiplatformV1ToolCallValidMetricValue",
      "type": "object",
      "description": "Tool call valid metric value for an instance.",
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. Tool call valid score.",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1GeminiPreferenceExample": {
      "description": "Input example for preference optimization.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GeminiPreferenceExample",
      "properties": {
        "contents": {
          "description": "Multi-turn contents that represents the Prompt.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          }
        },
        "completions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1GeminiPreferenceExampleCompletion"
          },
          "type": "array",
          "description": "List of completions for a given prompt."
        }
      }
    },
    "GoogleCloudAiplatformV1RayClusterAutoscalingSpec": {
      "id": "GoogleCloudAiplatformV1RayClusterAutoscalingSpec",
      "properties": {
        "upscalingSpeed": {
          "description": "Optional. The number of nodes allowed to be pending as a multiple of the current number of nodes. [OSS Ray reference](https://docs.ray.io/en/latest/cluster/vms/user-guides/configuring-autoscaling.html#upscaling-and-downscaling-speed)",
          "format": "int64",
          "type": "string"
        },
        "idleTimeoutMinutes": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of minutes that need to pass before an idle worker node is removed by the autoscaler. Default is 5 mins."
        }
      },
      "type": "object",
      "description": "Ray cluster level autoscaling configuration."
    },
    "GoogleCloudAiplatformV1EvaluationParserConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationParserConfig",
      "properties": {
        "customCodeParserConfig": {
          "description": "Optional. Use custom code to parse the LLM response.",
          "$ref": "GoogleCloudAiplatformV1EvaluationParserConfigCustomCodeParserConfig"
        }
      },
      "type": "object",
      "description": "Config for parsing LLM responses. It can be used to parse the LLM response to be evaluated, or the LLM response from LLM-based metrics/Autoraters."
    },
    "GoogleCloudAiplatformV1DeployModelOperationMetadata": {
      "id": "GoogleCloudAiplatformV1DeployModelOperationMetadata",
      "type": "object",
      "description": "Runtime operation information for EndpointService.DeployModel.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "deploymentStage": {
          "readOnly": true,
          "description": "Output only. The deployment stage of the model.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The deployment is initializing and setting up the environment.",
            "The deployment is preparing the model assets.",
            "The deployment is creating the underlying serving cluster.",
            "The deployment is adding nodes to the serving cluster.",
            "The deployment is getting the container image for the model server.",
            "The deployment is starting the model server.",
            "The deployment is performing finalization steps.",
            "The deployment has terminated.",
            "The deployment has succeeded.",
            "The deployment has failed."
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_STAGE_UNSPECIFIED",
            "STARTING_DEPLOYMENT",
            "PREPARING_MODEL",
            "CREATING_SERVING_CLUSTER",
            "ADDING_NODES_TO_CLUSTER",
            "GETTING_CONTAINER_IMAGE",
            "STARTING_MODEL_SERVER",
            "FINISHING_UP",
            "DEPLOYMENT_TERMINATED",
            "SUCCESSFULLY_DEPLOYED",
            "FAILED_TO_DEPLOY"
          ]
        }
      }
    },
    "GoogleCloudAiplatformV1RemoveDatapointsRequest": {
      "properties": {
        "datapointIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of datapoint ids to be deleted."
        }
      },
      "description": "Request message for IndexService.RemoveDatapoints",
      "id": "GoogleCloudAiplatformV1RemoveDatapointsRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListFeatureViewsResponse": {
      "id": "GoogleCloudAiplatformV1ListFeatureViewsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureViewsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "featureViews": {
          "description": "The FeatureViews matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureView"
          },
          "type": "array"
        }
      },
      "description": "Response message for FeatureOnlineStoreAdminService.ListFeatureViews.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchSpec": {
      "properties": {
        "useStrictStringMatch": {
          "description": "Optional. Whether to use STRICT string match on parameter values.",
          "type": "boolean"
        }
      },
      "description": "Spec for tool parameter key value match metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchSpec"
    },
    "GoogleCloudAiplatformV1IndexEndpoint": {
      "type": "object",
      "properties": {
        "encryptionSpec": {
          "description": "Immutable. Customer-managed encryption key spec for an IndexEndpoint. If set, this IndexEndpoint and all sub-resources of this IndexEndpoint will be secured by this key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "privateServiceConnectConfig": {
          "$ref": "GoogleCloudAiplatformV1PrivateServiceConnectConfig",
          "description": "Optional. Configuration for private service connect. network and private_service_connect_config are mutually exclusive."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the IndexEndpoint. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this IndexEndpoint was last updated. This timestamp is not updated when the endpoint's DeployedIndexes are updated, e.g. due to updates of the original Indexes they are the deployments of."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "description": "Output only. Reserved for future use.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the IndexEndpoint."
        },
        "enablePrivateServiceConnect": {
          "type": "boolean",
          "description": "Optional. Deprecated: If true, expose the IndexEndpoint via private service connect. Only one of the fields, network or enable_private_service_connect, can be set.",
          "deprecated": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your IndexEndpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object"
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "publicEndpointDomainName": {
          "description": "Output only. If public_endpoint_enabled is true, this field will be populated with the domain name to use for this index endpoint.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when this IndexEndpoint was created."
        },
        "publicEndpointEnabled": {
          "type": "boolean",
          "description": "Optional. If true, the deployed index will be accessible through public endpoint."
        },
        "description": {
          "description": "The description of the IndexEndpoint.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The full name of the Google Compute Engine [network](https://cloud.google.com/compute/docs/networks-and-firewalls#networks) to which the IndexEndpoint should be peered. Private services access must already be configured for the network. If left unspecified, the Endpoint is not peered with any network. network and private_service_connect_config are mutually exclusive. [Format](https://cloud.google.com/compute/docs/reference/rest/v1/networks/insert): `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in '12345', and {network} is network name.",
          "type": "string"
        },
        "deployedIndexes": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeployedIndex"
          },
          "type": "array",
          "description": "Output only. The indexes deployed in this endpoint."
        }
      },
      "description": "Indexes are deployed into it. An IndexEndpoint can have multiple DeployedIndexes.",
      "id": "GoogleCloudAiplatformV1IndexEndpoint"
    },
    "GoogleCloudAiplatformV1AuthConfigGoogleServiceAccountConfig": {
      "description": "Config for Google Service Account Authentication.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account that the extension execution service runs as. - If the service account is specified, the `iam.serviceAccounts.getAccessToken` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified service account. - If not specified, the Vertex AI Extension Service Agent will be used to execute the Extension."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1AuthConfigGoogleServiceAccountConfig"
    },
    "GoogleCloudAiplatformV1GenericOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenericOperationMetadata",
      "properties": {
        "partialFailures": {
          "type": "array",
          "items": {
            "$ref": "GoogleRpcStatus"
          },
          "description": "Output only. Partial failures encountered. E.g. single files that couldn't be read. This field should never exceed 20 entries. Status details field will contain standard Google Cloud error details.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the operation was updated for the last time. If the operation has finished (successfully or not), this is the finish time.",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the operation was created."
        }
      },
      "description": "Generic Metadata shared by all operations."
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecIntValueCondition": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecIntValueCondition",
      "properties": {
        "values": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Required. Matches values of the parent parameter of 'INTEGER' type. All values must lie in `integer_value_spec` of parent parameter.",
          "type": "array"
        }
      },
      "description": "Represents the spec to match integer values from parent parameter."
    },
    "GoogleCloudAiplatformV1GoogleMapsRouting": {
      "id": "GoogleCloudAiplatformV1GoogleMapsRouting",
      "description": "Grounding with Google Maps Routing APIs (ComputeRoutes and SearchAlongRoute).",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1SearchNearestEntitiesRequest": {
      "type": "object",
      "properties": {
        "query": {
          "description": "Required. The query.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQuery"
        },
        "returnFullEntity": {
          "description": "Optional. If set to true, the full entities (including all vector values and metadata) of the nearest neighbors are returned; otherwise only entity id of the nearest neighbors will be returned. Note that returning full entities will significantly increase the latency and cost of the query.",
          "type": "boolean"
        }
      },
      "description": "The request message for FeatureOnlineStoreService.SearchNearestEntities.",
      "id": "GoogleCloudAiplatformV1SearchNearestEntitiesRequest"
    },
    "GoogleCloudAiplatformV1NearestNeighborQuery": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NearestNeighborQuery",
      "properties": {
        "numericFilters": {
          "type": "array",
          "description": "Optional. The list of numeric filters.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryNumericFilter"
          }
        },
        "parameters": {
          "description": "Optional. Parameters that can be set to tune query on the fly.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryParameters"
        },
        "entityId": {
          "type": "string",
          "description": "Optional. The entity id whose similar entities should be searched for. If embedding is set, search will use embedding instead of entity_id."
        },
        "stringFilters": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter"
          },
          "description": "Optional. The list of string filters.",
          "type": "array"
        },
        "embedding": {
          "description": "Optional. The embedding vector that be used for similar search.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryEmbedding"
        },
        "perCrowdingAttributeNeighborCount": {
          "format": "int32",
          "description": "Optional. Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than sper_crowding_attribute_neighbor_count of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity.",
          "type": "integer"
        },
        "neighborCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The number of similar entities to be retrieved from feature view for each query."
        }
      },
      "description": "A query to find a number of similar entities."
    },
    "GoogleCloudAiplatformV1CancelNasJobRequest": {
      "description": "Request message for JobService.CancelNasJob.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1CancelNasJobRequest"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictionResultError": {
      "id": "GoogleCloudAiplatformV1SchemaPredictionResultError",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "type": "string",
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "description": "Error status. This will be serialized into the enum name e.g. \"NOT_FOUND\"."
        },
        "message": {
          "type": "string",
          "description": "Error message with additional details."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1GroundednessResult": {
      "properties": {
        "explanation": {
          "description": "Output only. Explanation for groundedness score.",
          "type": "string",
          "readOnly": true
        },
        "score": {
          "type": "number",
          "format": "float",
          "readOnly": true,
          "description": "Output only. Groundedness score."
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "Output only. Confidence for groundedness score."
        }
      },
      "description": "Spec for groundedness result.",
      "id": "GoogleCloudAiplatformV1GroundednessResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MetricMetadataScoreRange": {
      "description": "The range of possible scores for this metric, used for plotting.",
      "type": "object",
      "properties": {
        "step": {
          "description": "Optional. The distance between discrete steps in the range. If unset, the range is assumed to be continuous.",
          "format": "double",
          "type": "number"
        },
        "description": {
          "description": "Optional. The description of the score explaining the directionality etc.",
          "type": "string"
        },
        "min": {
          "format": "double",
          "description": "Required. The minimum value of the score range (inclusive).",
          "type": "number"
        },
        "max": {
          "format": "double",
          "type": "number",
          "description": "Required. The maximum value of the score range (inclusive)."
        }
      },
      "id": "GoogleCloudAiplatformV1MetricMetadataScoreRange"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation": {
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation"
    },
    "GoogleCloudAiplatformV1Tensor": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Tensor",
      "properties": {
        "doubleVal": {
          "type": "array",
          "description": "DOUBLE",
          "items": {
            "format": "double",
            "type": "number"
          }
        },
        "listVal": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          },
          "description": "A list of tensor values.",
          "type": "array"
        },
        "tensorVal": {
          "format": "byte",
          "type": "string",
          "description": "Serialized raw tensor content."
        },
        "floatVal": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "FLOAT",
          "type": "array"
        },
        "uint64Val": {
          "description": "UINT64",
          "type": "array",
          "items": {
            "format": "uint64",
            "type": "string"
          }
        },
        "boolVal": {
          "type": "array",
          "description": "Type specific representations that make it easy to create tensor protos in all languages. Only the representation corresponding to \"dtype\" can be set. The values hold the flattened representation of the tensor in row major order. BOOL",
          "items": {
            "type": "boolean"
          }
        },
        "stringVal": {
          "type": "array",
          "description": "STRING",
          "items": {
            "type": "string"
          }
        },
        "shape": {
          "description": "Shape of the tensor.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "uintVal": {
          "description": "UINT8 UINT16 UINT32",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array"
        },
        "int64Val": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "INT64"
        },
        "bytesVal": {
          "type": "array",
          "description": "STRING",
          "items": {
            "format": "byte",
            "type": "string"
          }
        },
        "dtype": {
          "enumDescriptions": [
            "Not a legal value for DataType. Used to indicate a DataType field has not been set.",
            "Data types that all computation devices are expected to be capable to support.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The data type of tensor.",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "STRING",
            "FLOAT",
            "DOUBLE",
            "INT8",
            "INT16",
            "INT32",
            "INT64",
            "UINT8",
            "UINT16",
            "UINT32",
            "UINT64"
          ]
        },
        "intVal": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "INT_8 INT_16 INT_32",
          "type": "array"
        },
        "structVal": {
          "type": "object",
          "description": "A map of string to tensor.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          }
        }
      },
      "description": "A tensor value type."
    },
    "GoogleCloudAiplatformV1ListMemoriesResponse": {
      "description": "Response message for MemoryBankService.ListMemories.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListMemoriesRequest.page_token to obtain that page."
        },
        "memories": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Memory"
          },
          "type": "array",
          "description": "List of Memories in the requested page."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListMemoriesResponse"
    },
    "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker": {
      "properties": {
        "modelName": {
          "type": "string",
          "description": "Optional. The model name used for ranking. See [Supported models](https://cloud.google.com/vertex-ai/generative-ai/docs/model-reference/inference#supported-models)."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker",
      "description": "Config for LlmRanker."
    },
    "GoogleCloudAiplatformV1RagManagedDbConfigUnprovisioned": {
      "description": "Disables the RAG Engine service and deletes all your data held within this service. This will halt the billing of the service. NOTE: Once deleted the data cannot be recovered. To start using RAG Engine again, you will need to update the tier by calling the UpdateRagEngineConfig API.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1RagManagedDbConfigUnprovisioned",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData": {
      "type": "object",
      "properties": {
        "interactionIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Lists interaction IDs associated with the prompt. This maps 1:1 to PromptMessage.contents. If InteractionData is present, every prompt message has an interaction ID."
        }
      },
      "description": "Defines data for an interaction prompt.",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData"
    },
    "GoogleCloudAiplatformV1SyncFeatureViewRequest": {
      "id": "GoogleCloudAiplatformV1SyncFeatureViewRequest",
      "description": "Request message for FeatureOnlineStoreAdminService.SyncFeatureView.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecSliceConfig": {
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecSliceConfig",
      "description": "Specification message containing the config for this SliceSpec. When `kind` is selected as `value` and/or `range`, only a single slice will be computed. When `all_values` is present, a separate slice will be computed for each possible label/value for the corresponding key in `config`. Examples, with feature zip_code with values 12345, 23334, 88888 and feature country with values \"US\", \"Canada\", \"Mexico\" in the dataset: Example 1: { \"zip_code\": { \"value\": { \"float_value\": 12345.0 } } } A single slice for any data with zip_code 12345 in the dataset. Example 2: { \"zip_code\": { \"range\": { \"low\": 12345, \"high\": 20000 } } } A single slice containing data where the zip_codes between 12345 and 20000 For this example, data with the zip_code of 12345 will be in this slice. Example 3: { \"zip_code\": { \"range\": { \"low\": 10000, \"high\": 20000 } }, \"country\": { \"value\": { \"string_value\": \"US\" } } } A single slice containing data where the zip_codes between 10000 and 20000 has the country \"US\". For this example, data with the zip_code of 12345 and country \"US\" will be in this slice. Example 4: { \"country\": {\"all_values\": { \"value\": true } } } Three slices are computed, one for each unique country in the dataset. Example 5: { \"country\": { \"all_values\": { \"value\": true } }, \"zip_code\": { \"value\": { \"float_value\": 12345.0 } } } Three slices are computed, one for each unique country in the dataset where the zip_code is also 12345. For this example, data with zip_code 12345 and country \"US\" will be in one slice, zip_code 12345 and country \"Canada\" in another slice, and zip_code 12345 and country \"Mexico\" in another slice, totaling 3 slices.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A unique specific value for a given feature. Example: `{ \"value\": { \"string_value\": \"12345\" } }`",
          "$ref": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecValue"
        },
        "allValues": {
          "description": "If all_values is set to true, then all possible labels of the keyed feature will have another slice computed. Example: `{\"all_values\":{\"value\":true}}`",
          "type": "boolean"
        },
        "range": {
          "$ref": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecRange",
          "description": "A range of values for a numerical feature. Example: `{\"range\":{\"low\":10000.0,\"high\":50000.0}}` will capture 12345 and 23334 in the slice."
        }
      }
    },
    "GoogleCloudAiplatformV1RagFileTransformationConfig": {
      "description": "Specifies the transformation config for RagFiles.",
      "id": "GoogleCloudAiplatformV1RagFileTransformationConfig",
      "properties": {
        "ragFileChunkingConfig": {
          "$ref": "GoogleCloudAiplatformV1RagFileChunkingConfig",
          "description": "Specifies the chunking config for RagFiles."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExactMatchResults": {
      "type": "object",
      "properties": {
        "exactMatchMetricValues": {
          "readOnly": true,
          "description": "Output only. Exact match metric values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ExactMatchMetricValue"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1ExactMatchResults",
      "description": "Results for exact match metric."
    },
    "GoogleCloudAiplatformV1TensorboardBlobSequence": {
      "id": "GoogleCloudAiplatformV1TensorboardBlobSequence",
      "properties": {
        "values": {
          "description": "List of blobs contained within the sequence.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardBlob"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "One point viewable on a blob metric plot, but mostly just a wrapper message to work around repeated fields can't be used directly within `oneof` fields."
    },
    "GoogleCloudAiplatformV1MemoryBankCustomizationConfigMemoryTopicCustomMemoryTopic": {
      "properties": {
        "label": {
          "type": "string",
          "description": "Required. Represents the label of the topic."
        },
        "description": {
          "description": "Required. Represents the description of the memory topic. This should explain what information should be extracted for this topic.",
          "type": "string"
        }
      },
      "description": "A custom memory topic defined by the developer.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigMemoryTopicCustomMemoryTopic"
    },
    "GoogleCloudAiplatformV1StudyTimeConstraint": {
      "type": "object",
      "description": "Time-based Constraint for Study",
      "id": "GoogleCloudAiplatformV1StudyTimeConstraint",
      "properties": {
        "maxDuration": {
          "type": "string",
          "description": "Counts the wallclock time passed since the creation of this Study.",
          "format": "google-duration"
        },
        "endTime": {
          "type": "string",
          "description": "Compares the wallclock time to this time. Must use UTC timezone.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1MetricSource": {
      "description": "The metric source used for evaluation.",
      "properties": {
        "metricResourceName": {
          "description": "Optional. Resource name for registered metric.",
          "type": "string"
        },
        "metric": {
          "description": "Inline metric config.",
          "$ref": "GoogleCloudAiplatformV1Metric"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricSource"
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInstance": {
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInstance",
      "type": "object",
      "description": "Spec for summarization verbosity instance.",
      "properties": {
        "instruction": {
          "description": "Optional. Summarization prompt for LLM.",
          "type": "string"
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "context": {
          "description": "Required. Text to be summarized.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureStatsAnomaly": {
      "id": "GoogleCloudAiplatformV1FeatureStatsAnomaly",
      "type": "object",
      "properties": {
        "score": {
          "format": "double",
          "type": "number",
          "description": "Feature importance score, only populated when cross-feature monitoring is enabled. For now only used to represent feature attribution score within range [0, 1] for ModelDeploymentMonitoringObjectiveType.FEATURE_ATTRIBUTION_SKEW and ModelDeploymentMonitoringObjectiveType.FEATURE_ATTRIBUTION_DRIFT."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The end timestamp of window where stats were generated. For objectives where time window doesn't make sense (e.g. Featurestore Snapshot Monitoring), end_time indicates the timestamp of the data used to generate stats (e.g. timestamp we take snapshots for feature values)."
        },
        "anomalyUri": {
          "description": "Path of the anomaly file for current feature values in Cloud Storage bucket. Format: gs:////anomalies. Example: gs://monitoring_bucket/feature_name/anomalies. Stats are stored as binary format with Protobuf message Anoamlies are stored as binary format with Protobuf message [tensorflow.metadata.v0.AnomalyInfo] (https://github.com/tensorflow/metadata/blob/master/tensorflow_metadata/proto/v0/anomalies.proto).",
          "type": "string"
        },
        "distributionDeviation": {
          "type": "number",
          "description": "Deviation from the current stats to baseline stats. 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence.",
          "format": "double"
        },
        "anomalyDetectionThreshold": {
          "type": "number",
          "description": "This is the threshold used when detecting anomalies. The threshold can be changed by user, so this one might be different from ThresholdConfig.value.",
          "format": "double"
        },
        "statsUri": {
          "description": "Path of the stats file for current feature values in Cloud Storage bucket. Format: gs:////stats. Example: gs://monitoring_bucket/feature_name/stats. Stats are stored as binary format with Protobuf message [tensorflow.metadata.v0.FeatureNameStatistics](https://github.com/tensorflow/metadata/blob/master/tensorflow_metadata/proto/v0/statistics.proto).",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start timestamp of window where stats were generated. For objectives where time window doesn't make sense (e.g. Featurestore Snapshot Monitoring), start_time is only used to indicate the monitoring intervals, so it always equals to (end_time - monitoring_interval)."
        }
      },
      "description": "Stats and Anomaly generated at specific timestamp for specific Feature. The start_time and end_time are used to define the time range of the dataset that current stats belongs to, e.g. prediction traffic is bucketed into prediction datasets by time window. If the Dataset is not defined by time window, start_time = end_time. Timestamp of the stats and anomalies always refers to end_time. Raw stats and anomalies are stored in stats_uri or anomaly_uri in the tensorflow defined protos. Field data_stats contains almost identical information with the raw stats in Vertex AI defined proto, for UI to display."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Tokenize text to words. Convert each words to a dictionary lookup index and generate an embedding for each index. Combine the embedding of all elements into a single embedding using the mean. * Tokenization is based on unicode script boundaries. * Missing values get their own lookup index and resulting embedding. * Stop-words receive no special treatment and are not removed.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchInstance": {
      "properties": {
        "referenceTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for reference tool call trajectory."
        },
        "predictedTrajectory": {
          "description": "Required. Spec for predicted tool call trajectory.",
          "$ref": "GoogleCloudAiplatformV1Trajectory"
        }
      },
      "type": "object",
      "description": "Spec for TrajectoryInOrderMatch instance.",
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchInstance"
    },
    "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata": {
      "type": "object",
      "description": "Runtime operation information for JobService.UpdateModelDeploymentMonitoringJob.",
      "id": "GoogleCloudAiplatformV1UpdateModelDeploymentMonitoringJobOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1CustomJob": {
      "properties": {
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "startTime": {
          "description": "Output only. Time when the CustomJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. Only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`."
        },
        "updateTime": {
          "description": "Output only. Time when the CustomJob was most recently updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels with user-defined metadata to organize CustomJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "jobSpec": {
          "description": "Required. Job spec.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the CustomJob was created."
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired.",
            "The job is being updated. Only jobs in the `RUNNING` state can be updated. After updating, the job goes back to the `RUNNING` state.",
            "The job is partially succeeded, some results may be missing due to errors."
          ],
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED",
            "JOB_STATE_UPDATING",
            "JOB_STATE_PARTIALLY_SUCCEEDED"
          ],
          "readOnly": true
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key options for a CustomJob. If this is set, then all resources created by the CustomJob will be encrypted with the provided encryption key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the CustomJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`."
        },
        "webAccessUris": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. URIs for accessing [interactive shells](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) (one URI for each training node). Only available if job_spec.enable_web_access is `true`. The keys are names of each node in the training job; for example, `workerpool0-0` for the primary node, `workerpool1-0` for the first node in the second worker pool, and `workerpool1-1` for the second node in the second worker pool. The values are the URIs for each node's interactive shell.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of a CustomJob.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the CustomJob. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CustomJob",
      "type": "object",
      "description": "Represents a job that runs custom workloads such as a Docker container or a Python package. A CustomJob can have multiple worker pools and each worker pool can have its own machine and input spec. A CustomJob will be cleaned up once the job enters terminal state (failed or succeeded)."
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilitySessionScopeInactivityTrigger": {
      "type": "object",
      "properties": {
        "threshold": {
          "description": "Required. The amount of time that must pass with no new traces before a session is considered ready for evaluation. This is a required field if InactivityTrigger is used. The value must be a positive duration no greater than 7 days (604800 seconds).",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilitySessionScopeInactivityTrigger",
      "description": "Configuration for inactivity based session completion."
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoClassificationPredictionInstance": {
      "properties": {
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        },
        "timeSegmentStart": {
          "type": "string",
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision."
        },
        "content": {
          "type": "string",
          "description": "The Google Cloud Storage location of the video on which to perform the prediction."
[...]
