{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "id": "aiplatform:v1",
  "resources": {
    "semanticGovernancePolicies": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "timeout": {
                  "type": "string",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:wait",
              "id": "aiplatform.semanticGovernancePolicies.operations.wait",
              "httpMethod": "POST",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "list": {
              "path": "v1/{+name}/operations",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.list",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "pattern": "^semanticGovernancePolicies/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "id": "aiplatform.semanticGovernancePolicies.operations.cancel"
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource."
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "id": "aiplatform.semanticGovernancePolicies.operations.get",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1/semanticGovernancePolicies/{semanticGovernancePoliciesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^semanticGovernancePolicies/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "aiplatform.semanticGovernancePolicies.operations.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "migratableResources": {
      "resources": {
        "operations": {
          "methods": {
            "wait": {
              "path": "v1/{+name}:wait",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.migratableResources.operations.wait",
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}:wait",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.migratableResources.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^migratableResources/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations",
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.migratableResources.operations.cancel",
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$"
                }
              },
              "id": "aiplatform.migratableResources.operations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.migratableResources.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^migratableResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/migratableResources/{migratableResourcesId}/operations/{operationsId}"
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.media.upload",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "path": "/upload/v1/{+parent}/ragFiles:upload",
                "multipart": true
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileRequest"
          },
          "path": "v1/{+parent}/ragFiles:upload",
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/ragCorpora/{ragCorporaId}/ragFiles:upload",
          "response": {
            "$ref": "GoogleCloudAiplatformV1UploadRagFileResponse"
          },
          "description": "Upload a file into a RagCorpus.",
          "parameters": {
            "parent": {
              "description": "Required. The name of the RagCorpus resource into which to upload the file. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
              "required": true,
              "location": "path",
              "pattern": "^projects/[^/]+/locations/[^/]+/ragCorpora/[^/]+$",
              "type": "string"
            }
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "get": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}",
              "id": "aiplatform.publishers.models.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Gets a Model Garden publisher model.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "isHuggingFaceModel": {
                  "description": "Optional. Boolean indicates whether the requested model is a Hugging Face model.",
                  "location": "query",
                  "type": "boolean"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "description": "Optional. PublisherModel view specifying which fields to read.",
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ]
                },
                "huggingFaceToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Token used to access Hugging Face gated models."
                },
                "languageCode": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in."
                },
                "name": {
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudAiplatformV1PublisherModel"
              }
            },
            "generateContent": {
              "id": "aiplatform.publishers.models.generateContent",
              "path": "v1/{+model}:generateContent",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "parameters": {
                "model": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:generateContent",
              "httpMethod": "POST",
              "description": "Generate content with multimodal inputs.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "model"
              ]
            },
            "countTokens": {
              "id": "aiplatform.publishers.models.countTokens",
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+endpoint}:countTokens",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:countTokens",
              "parameterOrder": [
                "endpoint"
              ],
              "description": "Perform a token counting.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
              },
              "httpMethod": "POST"
            },
            "streamGenerateContent": {
              "httpMethod": "POST",
              "parameterOrder": [
                "model"
              ],
              "id": "aiplatform.publishers.models.streamGenerateContent",
              "description": "Generate content with multimodal inputs with streaming support.",
              "path": "v1/{+model}:streamGenerateContent",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "model": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              }
            },
            "computeTokens": {
              "path": "v1/{+endpoint}:computeTokens",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Return a list of tokens based on the input text.",
              "id": "aiplatform.publishers.models.computeTokens",
              "parameterOrder": [
                "endpoint"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:computeTokens",
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                  "type": "string",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "required": true
                }
              }
            },
            "fetchPredictOperation": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Fetch an asynchronous online prediction operation.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "aiplatform.publishers.models.fetchPredictOperation",
              "parameterOrder": [
                "endpoint"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:fetchPredictOperation",
              "parameters": {
                "endpoint": {
                  "required": true,
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "location": "path"
                }
              },
              "path": "v1/{+endpoint}:fetchPredictOperation"
            },
            "predict": {
              "parameters": {
                "endpoint": {
                  "required": true,
                  "type": "string",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictRequest"
              },
              "path": "v1/{+endpoint}:predict",
              "response": {
                "$ref": "GoogleCloudAiplatformV1PredictResponse"
              },
              "description": "",
              "parameterOrder": [
                "endpoint"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predict",
              "id": "aiplatform.publishers.models.predict",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "predictLongRunning": {
              "path": "v1/{+endpoint}:predictLongRunning",
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.predictLongRunning",
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
              },
              "description": "",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predictLongRunning",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "endpoint": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "batchPredictionJobs": {
      "methods": {
        "get": {
          "flatPath": "v1/batchPredictionJobs/{batchPredictionJobsId}",
          "id": "aiplatform.batchPredictionJobs.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the BatchPredictionJob resource. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
              "location": "path",
              "pattern": "^batchPredictionJobs/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "description": "Gets a BatchPredictionJob"
        },
        "list": {
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call.",
              "type": "string"
            },
            "readMask": {
              "type": "string",
              "description": "Mask specifying which fields to read.",
              "format": "google-fieldmask",
              "location": "query"
            },
            "filter": {
              "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`<`, `<=`,`>`, `>=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time>\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
              "type": "string",
              "location": "query"
            },
            "parent": {
              "description": "Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "id": "aiplatform.batchPredictionJobs.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/batchPredictionJobs",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse"
          },
          "httpMethod": "GET",
          "path": "v1/batchPredictionJobs",
          "description": "Lists BatchPredictionJobs in a Location."
        },
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "flatPath": "v1/batchPredictionJobs",
          "path": "v1/batchPredictionJobs",
          "parameterOrder": [],
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`",
              "location": "query",
              "type": "string"
            }
          },
          "id": "aiplatform.batchPredictionJobs.create",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "description": "Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    },
    "memoryBanks": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "aiplatform.memoryBanks.operations.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^memoryBanks/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.memoryBanks.operations.cancel",
              "httpMethod": "POST"
            },
            "wait": {
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}:wait",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path"
                },
                "timeout": {
                  "format": "google-duration",
                  "type": "string",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.memoryBanks.operations.wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.memoryBanks.operations.get",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/memoryBanks/{memoryBanksId}/operations/{operationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.memoryBanks.operations.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^memoryBanks/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        },
        "memories": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "aiplatform.memoryBanks.memories.operations.delete"
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "id": "aiplatform.memoryBanks.memories.operations.wait",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}:wait"
                },
                "list": {
                  "id": "aiplatform.memoryBanks.memories.operations.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.memoryBanks.memories.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/memoryBanks/{memoryBanksId}/memories/{memoriesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^memoryBanks/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.memoryBanks.memories.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "indexEndpoints": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.indexEndpoints.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource.",
                  "type": "string"
                }
              },
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "id": "aiplatform.indexEndpoints.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "parameters": {
                "name": {
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:cancel",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST"
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.indexEndpoints.operations.wait",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string",
                  "format": "google-duration"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST"
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "type": "string",
                  "pattern": "^indexEndpoints/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.list",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations"
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.delete"
            }
          }
        }
      }
    },
    "studies": {
      "resources": {
        "trials": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.studies.trials.operations.delete"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.studies.trials.operations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "aiplatform.studies.trials.operations.cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel"
                },
                "wait": {
                  "parameters": {
                    "timeout": {
                      "format": "google-duration",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^studies/[^/]+/trials/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "id": "aiplatform.studies.trials.operations.wait"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^studies/[^/]+/trials/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/studies/{studiesId}/trials/{trialsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/aiplatform",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.studies.trials.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path"
                }
              },
              "id": "aiplatform.studies.operations.delete",
              "path": "v1/{+name}"
            },
            "get": {
              "id": "aiplatform.studies.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource."
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "flatPath": "v1/studies/{studiesId}/operations",
              "id": "aiplatform.studies.operations.list",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^studies/[^/]+$",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "httpMethod": "POST",
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.studies.operations.wait",
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:wait",
              "parameters": {
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "cancel": {
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^studies/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path"
                }
              },
              "flatPath": "v1/studies/{studiesId}/operations/{operationsId}:cancel",
              "id": "aiplatform.studies.operations.cancel"
            }
          }
        }
      }
    },
    "dataLabelingJobs": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.dataLabelingJobs.operations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.dataLabelingJobs.operations.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "cancel": {
              "id": "aiplatform.dataLabelingJobs.operations.cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "list": {
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations",
              "path": "v1/{+name}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "id": "aiplatform.dataLabelingJobs.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^dataLabelingJobs/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "httpMethod": "POST",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:wait",
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "path": "v1/{+name}:wait",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "timeout": {
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.dataLabelingJobs.operations.wait"
            }
          }
        }
      }
    },
    "reasoningEngines": {
      "methods": {
        "patch": {
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "id": "aiplatform.reasoningEngines.patch",
          "description": "Updates a reasoning engine.",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "Optional. Mask specifying which fields to update.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "location": "path",
              "description": "Identifier. The resource name of the ReasoningEngine. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "pattern": "^reasoningEngines/[^/]+$",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "flatPath": "v1/reasoningEngines",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.reasoningEngines.list",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Optional. The standard list page size."
            },
            "pageToken": {
              "description": "Optional. The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The resource name of the Location to list the ReasoningEngines from. Format: `projects/{project}/locations/{location}`"
            },
            "filter": {
              "location": "query",
              "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
              "type": "string"
            }
          },
          "path": "v1/reasoningEngines",
          "httpMethod": "GET",
          "description": "Lists reasoning engines in a location.",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListReasoningEnginesResponse"
          }
        },
        "executeCode": {
          "id": "aiplatform.reasoningEngines.executeCode",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:executeCode",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ExecuteCodeRequest"
          },
          "path": "v1/{+name}:executeCode",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "description": "Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ExecuteCodeResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Executes code statelessly."
        },
        "asyncQuery": {
          "id": "aiplatform.reasoningEngines.asyncQuery",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1AsyncQueryReasoningEngineRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:asyncQuery",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:asyncQuery",
          "description": "Async query using a reasoning engine."
        },
        "streamQuery": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "pattern": "^reasoningEngines/[^/]+$"
            }
          },
          "id": "aiplatform.reasoningEngines.streamQuery",
          "request": {
            "$ref": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest"
          },
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:streamQuery",
          "path": "v1/{+name}:streamQuery",
          "description": "Streams queries using a reasoning engine.",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleApiHttpBody"
          }
        },
        "query": {
          "description": "Queries using a reasoning engine.",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:query",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
          },
          "httpMethod": "POST",
          "path": "v1/{+name}:query",
          "response": {
            "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineResponse"
          },
          "id": "aiplatform.reasoningEngines.query"
        },
        "get": {
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "description": "Gets a reasoning engine.",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.reasoningEngines.get",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the ReasoningEngine resource. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "pattern": "^reasoningEngines/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          }
        },
        "create": {
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The resource name of the Location to create the ReasoningEngine in. Format: `projects/{project}/locations/{location}`"
            }
          },
          "id": "aiplatform.reasoningEngines.create",
          "description": "Creates a reasoning engine.",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          },
          "flatPath": "v1/reasoningEngines",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/reasoningEngines"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "aiplatform.reasoningEngines.delete",
          "description": "Deletes a reasoning engine.",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "parameters": {
            "force": {
              "description": "Optional. If set to true, child resources of this reasoning engine will also be deleted. Otherwise, the request will fail with FAILED_PRECONDITION error when the reasoning engine has undeleted child resources.",
              "location": "query",
              "type": "boolean"
            },
            "name": {
              "location": "path",
              "description": "Required. The name of the ReasoningEngine resource to be deleted. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "pattern": "^reasoningEngines/[^/]+$",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "scopes": [
            "https://www.googleapis.com/auth/aiplatform",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "cancelAsyncQuery": {
          "parameterOrder": [
            "name"
          ],
          "description": "Cancels an AsyncQueryReasoningEngine operation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineResponse"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "required": true,
              "type": "string",
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path"
            }
          },
          "id": "aiplatform.reasoningEngines.cancelAsyncQuery",
          "path": "v1/{+name}:cancelAsyncQuery",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:cancelAsyncQuery",
          "request": {
            "$ref": "GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineRequest"
          },
          "httpMethod": "POST"
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/aiplatform",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
[...]
