{
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics": {
      "description": "Metrics for a single confidence threshold.",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics",
      "properties": {
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "confidenceThreshold": {
          "format": "float",
          "type": "number",
          "description": "The confidence threshold value used to compute the metrics."
        },
        "recall": {
          "type": "number",
          "format": "float",
          "description": "Recall under the given confidence threshold."
        },
        "precision": {
          "description": "Precision under the given confidence threshold.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchResults": {
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchResults",
      "type": "object",
      "description": "Results for tool parameter key match metric.",
      "properties": {
        "toolParameterKeyMatchMetricValues": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKeyMatchMetricValue"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Tool parameter key match metric values."
        }
      }
    },
    "GoogleCloudAiplatformV1AskContextsResponse": {
      "type": "object",
      "properties": {
        "response": {
          "description": "The Retrieval Response.",
          "type": "string"
        },
        "contexts": {
          "$ref": "GoogleCloudAiplatformV1RagContexts",
          "description": "The contexts of the query."
        }
      },
      "description": "Response message for VertexRagService.AskContexts.",
      "id": "GoogleCloudAiplatformV1AskContextsResponse"
    },
    "GoogleCloudAiplatformV1AggregationResult": {
      "properties": {
        "pointwiseMetricResult": {
          "description": "Result for pointwise metric.",
          "$ref": "GoogleCloudAiplatformV1PointwiseMetricResult"
        },
        "exactMatchMetricValue": {
          "$ref": "GoogleCloudAiplatformV1ExactMatchMetricValue",
          "description": "Results for exact match metric."
        },
        "aggregationMetric": {
          "description": "Aggregation metric.",
          "type": "string",
          "enum": [
            "AGGREGATION_METRIC_UNSPECIFIED",
            "AVERAGE",
            "MODE",
            "STANDARD_DEVIATION",
            "VARIANCE",
            "MINIMUM",
            "MAXIMUM",
            "MEDIAN",
            "PERCENTILE_P90",
            "PERCENTILE_P95",
            "PERCENTILE_P99"
          ],
          "enumDescriptions": [
            "Unspecified aggregation metric.",
            "Average aggregation metric. Not supported for Pairwise metric.",
            "Mode aggregation metric.",
            "Standard deviation aggregation metric. Not supported for pairwise metric.",
            "Variance aggregation metric. Not supported for pairwise metric.",
            "Minimum aggregation metric. Not supported for pairwise metric.",
            "Maximum aggregation metric. Not supported for pairwise metric.",
            "Median aggregation metric. Not supported for pairwise metric.",
            "90th percentile aggregation metric. Not supported for pairwise metric.",
            "95th percentile aggregation metric. Not supported for pairwise metric.",
            "99th percentile aggregation metric. Not supported for pairwise metric."
          ]
        },
        "pairwiseMetricResult": {
          "description": "Result for pairwise metric.",
          "$ref": "GoogleCloudAiplatformV1PairwiseMetricResult"
        },
        "customCodeExecutionResult": {
          "description": "Result for code execution metric.",
          "$ref": "GoogleCloudAiplatformV1CustomCodeExecutionResult"
        },
        "bleuMetricValue": {
          "description": "Results for bleu metric.",
          "$ref": "GoogleCloudAiplatformV1BleuMetricValue"
        },
        "rougeMetricValue": {
          "$ref": "GoogleCloudAiplatformV1RougeMetricValue",
          "description": "Results for rouge metric."
        }
      },
      "id": "GoogleCloudAiplatformV1AggregationResult",
      "description": "The aggregation result for a single metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EntityType": {
      "type": "object",
      "properties": {
        "offlineStorageTtlDays": {
          "format": "int32",
          "description": "Optional. Config for data retention policy in offline storage. TTL in days for feature values that will be stored in offline storage. The Feature Store offline storage periodically removes obsolete feature values older than `offline_storage_ttl_days` since the feature generation time. If unset (or explicitly set to 0), default to 4000 days TTL.",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "description": {
          "description": "Optional. Description of the EntityType.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata to organize your EntityTypes. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one EntityType (System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this EntityType was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "monitoringConfig": {
          "description": "Optional. The default monitoring configuration for all Features with value type (Feature.ValueType) BOOL, STRING, DOUBLE or INT64 under this EntityType. If this is populated with [FeaturestoreMonitoringConfig.monitoring_interval] specified, snapshot analysis monitoring is enabled. Otherwise, snapshot analysis monitoring is disabled.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig"
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "name": {
          "description": "Immutable. Name of the EntityType. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` The last part entity_type is assigned by the client. The entity_type can be up to 64 characters long and can consist only of ASCII Latin letters A-Z and a-z and underscore(_), and ASCII digits 0-9 starting with a letter. The value will be unique given a featurestore.",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this EntityType was most recently updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An entity type is a type of object in a system that needs to be modeled and have stored information about. For example, driver is an entity type, and driver0 is an instance of an entity type driver.",
      "id": "GoogleCloudAiplatformV1EntityType"
    },
    "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation",
      "type": "object",
      "description": "Represents a polyline in image.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        },
        "vertexes": {
          "description": "The vertexes are connected one by one and the last vertex in not connected to the first one.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaVertex"
          }
        },
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionVideoClassificationPredictionResult": {
      "description": "Prediction output format for Video Classification.",
      "type": "object",
      "properties": {
        "timeSegmentEnd": {
          "type": "string",
          "description": "The end, exclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end. Note that for 'segment-classification' prediction type, this equals the original 'timeSegmentEnd' from the input instance, for other types it is the end of a shot or a 1 second interval respectively.",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "description": "The Model's confidence in correction of this prediction, higher value means higher confidence.",
          "format": "float"
        },
        "id": {
          "type": "string",
          "description": "The resource ID of the AnnotationSpec that had been identified."
        },
        "timeSegmentStart": {
          "type": "string",
          "format": "google-duration",
          "description": "The beginning, inclusive, of the video's time segment in which the AnnotationSpec has been identified. Expressed as a number of seconds as measured from the start of the video, with fractions up to a microsecond precision, and with \"s\" appended at the end. Note that for 'segment-classification' prediction type, this equals the original 'timeSegmentStart' from the input instance, for other types it is the start of a shot or a 1 second interval respectively."
        },
        "type": {
          "description": "The type of the prediction. The requested types can be configured via parameters. This will be one of - segment-classification - shot-classification - one-sec-interval-classification",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that had been identified."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionVideoClassificationPredictionResult"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools": {
      "type": "object",
      "properties": {
        "tool": {
          "description": "Optional. List of tools: each tool can have multiple function declarations.",
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          }
        }
      },
      "description": "Deprecated: Use `agent_eval_data` instead. Represents a list of tools for an agent.",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools"
    },
    "GoogleCloudAiplatformV1GroundingChunkRetrievedContext": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the retrieved data source."
        },
        "uri": {
          "type": "string",
          "description": "The URI of the retrieved data source."
        },
        "documentName": {
          "description": "Output only. The full resource name of the referenced Vertex AI Search document. This is used to identify the specific document that was retrieved. The format is `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}/documents/{document}`.",
          "type": "string",
          "readOnly": true
        },
        "text": {
          "description": "The content of the retrieved data source.",
          "type": "string"
        },
        "ragChunk": {
          "$ref": "GoogleCloudAiplatformV1RagChunk",
          "description": "Additional context for a Retrieval-Augmented Generation (RAG) retrieval result. This is populated only when the RAG retrieval tool is used."
        }
      },
      "type": "object",
      "description": "Context retrieved from a data source to ground the model's response. This is used when a retrieval tool fetches information from a user-provided corpus or a public dataset.",
      "id": "GoogleCloudAiplatformV1GroundingChunkRetrievedContext"
    },
    "GoogleCloudAiplatformV1ActivateOnlineEvaluatorRequest": {
      "id": "GoogleCloudAiplatformV1ActivateOnlineEvaluatorRequest",
      "type": "object",
      "description": "Request message for ActivateOnlineEvaluator.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1Segment": {
      "properties": {
        "endIndex": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The end index of the segment in the `Part`, measured in bytes. This marks the end of the segment and is exclusive, meaning the segment includes content up to, but not including, the byte at this index."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The start index of the segment in the `Part`, measured in bytes. This marks the beginning of the segment and is inclusive, meaning the byte at this index is the first byte of the segment."
        },
        "text": {
          "readOnly": true,
          "description": "Output only. The text of the segment.",
          "type": "string"
        },
        "partIndex": {
          "description": "Output only. The index of the `Part` object that this segment belongs to. This is useful for associating the segment with a specific part of the content.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A segment of the content.",
      "id": "GoogleCloudAiplatformV1Segment"
    },
    "CloudAiLargeModelsVisionNamedBoundingBox": {
      "type": "object",
      "id": "CloudAiLargeModelsVisionNamedBoundingBox",
      "properties": {
        "entities": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "x2": {
          "format": "float",
          "type": "number"
        },
        "y1": {
          "format": "float",
          "type": "number"
        },
        "classes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "y2": {
          "type": "number",
          "format": "float"
        },
        "scores": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array"
        },
        "x1": {
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance": {
      "description": "Spec for tool parameter key match instance.",
      "type": "object",
      "properties": {
        "reference": {
          "type": "string",
          "description": "Required. Ground truth used to compare against the prediction."
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance"
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesRequest": {
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesRequest",
      "description": "Request message for MigrationService.BatchMigrateResources.",
      "properties": {
        "migrateResourceRequests": {
          "description": "Required. The request messages specifying the resources to migrate. They must be in the same location as the destination. Up to 50 resources can be migrated in one batch.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigrateResourceRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInstance": {
      "description": "Spec for summarization verbosity instance.",
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInstance",
      "properties": {
        "instruction": {
          "type": "string",
          "description": "Optional. Summarization prompt for LLM."
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "type": "string",
          "description": "Optional. Ground truth used to compare against the prediction."
        },
        "context": {
          "description": "Required. Text to be summarized.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1Metadata": {
      "type": "object",
      "description": "Metadata for a chunk.",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Optional. Attributes attached to the data. The keys have semantic conventions and the consumers of the attributes should know how to deserialize the value bytes based on the keys.",
          "type": "object"
        }
      },
      "id": "GoogleCloudAiplatformV1Metadata"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage": {
      "type": "object",
      "description": "The prompt message that aligns with the prompt message in google.cloud.aiplatform.master.GenerateContentRequest.",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage",
      "properties": {
        "contents": {
          "type": "array",
          "description": "The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          }
        },
        "toolConfig": {
          "description": "Tool config. This config is shared for all tools provided in the request.",
          "$ref": "GoogleCloudAiplatformV1ToolConfig"
        },
        "model": {
          "description": "The model name.",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          },
          "description": "A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model."
        },
        "safetySettings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetySetting"
          },
          "description": "Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates.",
          "type": "array"
        },
        "systemInstruction": {
          "description": "The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "generationConfig": {
          "description": "Generation config.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentConnectionInfo": {
      "description": "The connection information of the SandboxEnvironment.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentConnectionInfo",
      "properties": {
        "loadBalancerHostname": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The hostname of the load balancer."
        },
        "loadBalancerIp": {
          "type": "string",
          "description": "Output only. The IP address of the load balancer.",
          "readOnly": true
        },
        "routingToken": {
          "readOnly": true,
          "description": "Output only. The routing token for the SandboxEnvironment.",
          "type": "string"
        },
        "serviceAttachment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the PSC-E service attachment created for private ingress to this SandboxEnvironment. Only populated when the template enables private ingress (see SandboxEnvironmentTemplate.ingress_control_config). VPC-SC customers use this to create a PSC endpoint in their VPC."
        },
        "sandboxInternalIp": {
          "description": "Output only. The internal IP address of the SandboxEnvironment.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExecutableCode": {
      "type": "object",
      "properties": {
        "language": {
          "enumDescriptions": [
            "Unspecified language. This value should not be used.",
            "Python >= 3.10, with numpy and simpy available."
          ],
          "description": "Required. Programming language of the `code`.",
          "type": "string",
          "enum": [
            "LANGUAGE_UNSPECIFIED",
            "PYTHON"
          ]
        },
        "id": {
          "type": "string",
          "description": "Optional. Unique identifier of the `ExecutableCode` part. The server returns the `CodeExecutionResult` with the matching `id`."
        },
        "code": {
          "type": "string",
          "description": "Required. The code to be executed."
        }
      },
      "id": "GoogleCloudAiplatformV1ExecutableCode",
      "description": "Code generated by the model that is meant to be executed, and the result returned to the model. Generated when using the `CodeExecution` tool, in which the code will be automatically executed, and a corresponding CodeExecutionResult will also be generated."
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionRecognitionMetrics": {
      "properties": {
        "evaluatedActionCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of ground truth actions used to create this evaluation."
        },
        "videoActionMetrics": {
          "description": "The metric entries for precision window lengths: 1s,2s,3s.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetrics"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionRecognitionMetrics",
      "type": "object",
      "description": "Model evaluation metrics for video action recognition."
    },
    "GoogleCloudAiplatformV1SchemaTextDatasetMetadata": {
      "properties": {
        "dataItemSchemaUri": {
          "type": "string",
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Text DataItems that belong to this Dataset."
        },
        "gcsBucket": {
          "type": "string",
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset."
        }
      },
      "type": "object",
      "description": "The metadata of Datasets that contain Text DataItems.",
      "id": "GoogleCloudAiplatformV1SchemaTextDatasetMetadata"
    },
    "GoogleCloudAiplatformV1ImageResponseFormat": {
      "properties": {
        "mimeType": {
          "type": "string",
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "IMAGE_JPEG"
          ],
          "description": "Optional. The MIME type of the image output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JPEG image format."
          ]
        },
        "delivery": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "description": "Optional. Delivery mode for the generated content.",
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ]
        },
        "aspectRatio": {
          "type": "string",
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_ONE_BY_ONE",
            "ASPECT_RATIO_TWO_BY_THREE",
            "ASPECT_RATIO_THREE_BY_TWO",
            "ASPECT_RATIO_THREE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_THREE",
            "ASPECT_RATIO_FOUR_BY_FIVE",
            "ASPECT_RATIO_FIVE_BY_FOUR",
            "ASPECT_RATIO_NINE_BY_SIXTEEN",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_TWENTY_ONE_BY_NINE",
            "ASPECT_RATIO_ONE_BY_EIGHT",
            "ASPECT_RATIO_EIGHT_BY_ONE",
            "ASPECT_RATIO_ONE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_ONE"
          ],
          "description": "Optional. The aspect ratio for the image output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "1:1 aspect ratio.",
            "2:3 aspect ratio.",
            "3:2 aspect ratio.",
            "3:4 aspect ratio.",
            "4:3 aspect ratio.",
            "4:5 aspect ratio.",
            "5:4 aspect ratio.",
            "9:16 aspect ratio.",
            "16:9 aspect ratio.",
            "21:9 aspect ratio.",
            "1:8 aspect ratio.",
            "8:1 aspect ratio.",
            "1:4 aspect ratio.",
            "4:1 aspect ratio."
          ]
        },
        "imageSize": {
          "type": "string",
          "enum": [
            "IMAGE_SIZE_UNSPECIFIED",
            "IMAGE_SIZE_FIVE_TWELVE",
            "IMAGE_SIZE_ONE_K",
            "IMAGE_SIZE_TWO_K",
            "IMAGE_SIZE_FOUR_K"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "512px image size.",
            "1K image size.",
            "2K image size.",
            "4K image size."
          ],
          "description": "Optional. The size of the image output."
        }
      },
      "id": "GoogleCloudAiplatformV1ImageResponseFormat",
      "type": "object",
      "description": "Configuration for image-specific output formatting."
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSourceEvent": {
      "type": "object",
      "description": "A single piece of conversation from which to generate memories.",
      "properties": {
        "content": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Required. A single piece of content from which to generate memories."
        }
      },
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSourceEvent"
    },
    "GoogleCloudAiplatformV1EmbedContentResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EmbedContentResponse",
      "description": "Response message for PredictionService.EmbedContent.",
      "properties": {
        "embedding": {
          "description": "The embedding generated from the input content.",
          "$ref": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding"
        },
        "usageMetadata": {
          "$ref": "GoogleCloudAiplatformV1UsageMetadata",
          "description": "Usage metadata about the response(s)."
        },
        "truncated": {
          "type": "boolean",
          "description": "Whether the input content was truncated before generating the embedding."
        }
      }
    },
    "GoogleCloudAiplatformV1CreateNotebookExecutionJobOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateNotebookExecutionJobOperationMetadata",
      "description": "Metadata information for NotebookService.CreateNotebookExecutionJob.",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "type": "string",
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptInstancePromptExecution": {
      "id": "GoogleCloudAiplatformV1SchemaPromptInstancePromptExecution",
      "properties": {
        "arguments": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptInstanceVariableValue"
          },
          "description": "Maps variable names to their value."
        }
      },
      "description": "A prompt instance's parameters set that contains a set of variable values.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UploadRagFileConfig": {
      "description": "Config for uploading RagFile.",
      "id": "GoogleCloudAiplatformV1UploadRagFileConfig",
      "properties": {
        "ragFileTransformationConfig": {
          "description": "Specifies the transformation config for RagFiles.",
          "$ref": "GoogleCloudAiplatformV1RagFileTransformationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1LustreMount": {
      "type": "object",
      "description": "Represents a mount configuration for Lustre file system.",
      "id": "GoogleCloudAiplatformV1LustreMount",
      "properties": {
        "instanceIp": {
          "description": "Required. IP address of the Lustre instance.",
          "type": "string"
        },
        "volumeHandle": {
          "type": "string",
          "description": "Required. The unique identifier of the Lustre volume."
        },
        "filesystem": {
          "description": "Required. The name of the Lustre filesystem.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Required. Destination mount path. The Lustre file system will be mounted for the user under /mnt/lustre/",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec",
      "properties": {
        "maxTrialCount": {
          "format": "int32",
          "description": "Required. The maximum number of Neural Architecture Search (NAS) trials to run.",
          "type": "integer"
        },
        "maxParallelTrialCount": {
          "description": "Required. The maximum number of trials to run in parallel.",
          "format": "int32",
          "type": "integer"
        },
        "searchTrialJobSpec": {
          "description": "Required. The spec of a search trial job. The same spec applies to all search trials.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "maxFailedTrialCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of failed trials that need to be seen before failing the NasJob. If set to 0, Vertex AI decides how many trials must fail before the whole job fails."
        }
      },
      "description": "Represent spec for search trials."
    },
    "GoogleCloudAiplatformV1AssignNotebookRuntimeOperationMetadata": {
      "id": "GoogleCloudAiplatformV1AssignNotebookRuntimeOperationMetadata",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "type": "string",
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime."
        }
      },
      "description": "Metadata information for NotebookService.AssignNotebookRuntime."
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigSimilaritySearchConfig": {
      "description": "Configuration for how to perform similarity search on memories.",
      "type": "object",
      "properties": {
        "embeddingModel": {
          "description": "Required. The model used to generate embeddings to lookup similar memories. Format: `projects/{project}/locations/{location}/publishers/google/models/{model}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigSimilaritySearchConfig"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation": {
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Training pipeline will infer the proper transformation based on the statistic of dataset.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation"
    },
    "GoogleCloudAiplatformV1NotebookRuntimeTemplateRef": {
      "properties": {
        "notebookRuntimeTemplate": {
          "description": "Immutable. A resource name of the NotebookRuntimeTemplate.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1NotebookRuntimeTemplateRef",
      "type": "object",
      "description": "Points to a NotebookRuntimeTemplateRef."
    },
    "GoogleCloudAiplatformV1PairwiseMetricSpec": {
      "properties": {
        "candidateResponseFieldName": {
          "type": "string",
          "description": "Optional. The field name of the candidate response."
        },
        "baselineResponseFieldName": {
          "type": "string",
          "description": "Optional. The field name of the baseline response."
        },
        "systemInstruction": {
          "type": "string",
          "description": "Optional. System instructions for pairwise metric."
        },
        "customOutputFormatConfig": {
          "description": "Optional. CustomOutputFormatConfig allows customization of metric output. When this config is set, the default output is replaced with the raw output string. If a custom format is chosen, the `pairwise_choice` and `explanation` fields in the corresponding metric result will be empty.",
          "$ref": "GoogleCloudAiplatformV1CustomOutputFormatConfig"
        },
        "metricPromptTemplate": {
          "type": "string",
          "description": "Required. Metric prompt template for pairwise metric."
        }
      },
      "description": "Spec for pairwise metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1PairwiseMetricSpec"
    },
    "GoogleCloudAiplatformV1NotebookEucConfig": {
      "properties": {
        "eucDisabled": {
          "description": "Input only. Whether EUC is disabled in this NotebookRuntimeTemplate. In proto3, the default value of a boolean is false. In this way, by default EUC will be enabled for NotebookRuntimeTemplate.",
          "type": "boolean"
        },
        "bypassActasCheck": {
          "description": "Output only. Whether ActAs check is bypassed for service account attached to the VM. If false, we need ActAs check for the default Compute Engine Service account. When a Runtime is created, a VM is allocated using Default Compute Engine Service Account. Any user requesting to use this Runtime requires Service Account User (ActAs) permission over this SA. If true, Runtime owner is using EUC and does not require the above permission as VM no longer use default Compute Engine SA, but a P4SA.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The euc configuration of NotebookRuntimeTemplate.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1NotebookEucConfig"
    },
    "GoogleCloudAiplatformV1ExternalApiElasticSearchParams": {
      "type": "object",
      "description": "The search parameters to use for the ELASTIC_SEARCH spec.",
      "properties": {
        "numHits": {
          "type": "integer",
          "description": "Optional. Number of hits (chunks) to request. When specified, it is passed to Elasticsearch as the `num_hits` param.",
          "format": "int32"
        },
        "searchTemplate": {
          "type": "string",
          "description": "The ElasticSearch search template to use."
        },
        "index": {
          "type": "string",
          "description": "The ElasticSearch index to use."
        }
      },
      "id": "GoogleCloudAiplatformV1ExternalApiElasticSearchParams"
    },
    "GoogleCloudAiplatformV1NasTrialDetail": {
      "properties": {
        "searchTrial": {
          "description": "The requested search NasTrial.",
          "$ref": "GoogleCloudAiplatformV1NasTrial"
        },
        "parameters": {
          "type": "string",
          "description": "The parameters for the NasJob NasTrial."
        },
        "trainTrial": {
          "description": "The train NasTrial corresponding to search_trial. Only populated if search_trial is used for training.",
          "$ref": "GoogleCloudAiplatformV1NasTrial"
        },
        "name": {
          "description": "Output only. Resource name of the NasTrialDetail.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1NasTrialDetail",
      "type": "object",
      "description": "Represents a NasTrial details along with its parameters. If there is a corresponding train NasTrial, the train NasTrial is also returned."
    },
    "GoogleCloudAiplatformV1GenerateFetchAccessTokenRequest": {
      "id": "GoogleCloudAiplatformV1GenerateFetchAccessTokenRequest",
      "description": "Request message for FeatureOnlineStoreService.GenerateFetchAccessToken.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1QueryReasoningEngineResponse": {
      "type": "object",
      "description": "Response message for ReasoningEngineExecutionService.QueryReasoningEngine.",
      "properties": {
        "output": {
          "description": "Response provided by users in JSON object format.",
          "type": "any"
        }
      },
      "id": "GoogleCloudAiplatformV1QueryReasoningEngineResponse"
    },
    "GoogleCloudAiplatformV1ModelVersionCheckpoint": {
      "id": "GoogleCloudAiplatformV1ModelVersionCheckpoint",
      "deprecated": true,
      "description": "Describes the machine learning model version checkpoint.",
      "type": "object",
      "properties": {
        "epoch": {
          "format": "int64",
          "description": "The epoch of the checkpoint.",
          "type": "string"
        },
        "step": {
          "description": "The step of the checkpoint.",
          "type": "string",
          "format": "int64"
        },
        "checkpointId": {
          "type": "string",
          "description": "The ID of the checkpoint."
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluateDatasetResponse": {
      "id": "GoogleCloudAiplatformV1EvaluateDatasetResponse",
      "description": "The results from an evaluation run performed by the EvaluationService.",
      "properties": {
        "outputInfo": {
          "description": "Output only. Output info for EvaluationService.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1OutputInfo"
        },
        "aggregationOutput": {
          "description": "Output only. Aggregation statistics derived from results of EvaluationService.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1AggregationOutput"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchDeletePipelineJobsRequest": {
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the PipelineJobs to delete. A maximum of 32 PipelineJobs can be deleted in a batch. Format: `projects/{project}/locations/{location}/pipelineJobs/{pipelineJob}`",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1BatchDeletePipelineJobsRequest",
      "description": "Request message for PipelineService.BatchDeletePipelineJobs.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FluencyInstance": {
      "description": "Spec for fluency instance.",
      "id": "GoogleCloudAiplatformV1FluencyInstance",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        }
      },
      "type": "object"
    },
    "GoogleIamV1Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "GoogleTypeExpr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1Binding"
    },
    "GoogleCloudAiplatformV1EvaluationInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationInstance",
      "description": "A single instance to be evaluated. Instances are used to specify the input data for evaluation, from simple string comparisons to complex, multi-turn model evaluations",
      "properties": {
        "prompt": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
          "description": "Optional. Data used to populate placeholder `prompt` in a metric prompt template."
        },
        "rubricGroups": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1RubricGroup"
          },
          "type": "object",
          "description": "Optional. Named groups of rubrics associated with the prompt. This is used for rubric-based evaluations where rubrics can be referenced by a key. The key could represent versions, associated metrics, etc."
        },
        "interactionsDataSource": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInteractionsDataSource",
          "description": "Optional. Source for populating `AgentData` from an Interactions API interaction. If set, no other agent data source fields (`cloud_trace_agent_data_source`, `agent_eval_data`, `agent_data`) may be set. The request will be rejected with INVALID_ARGUMENT if multiple agent data sources are provided."
        },
        "response": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
          "description": "Optional. Data used to populate placeholder `response` in a metric prompt template."
        },
        "otherData": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceMapInstance",
          "description": "Optional. Other data used to populate placeholders based on their key. If a key conflicts with a field in the EvaluationInstance (e.g. `prompt`), the value of the field will take precedence over the value in other_data."
        },
        "agentData": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `agent_eval_data` instead. Data used for agent evaluation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentData"
        },
        "reference": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
          "description": "Optional. Data used to populate placeholder `reference` in a metric prompt template."
        }
      }
    },
    "GoogleCloudAiplatformV1RebootPersistentResourceRequest": {
      "type": "object",
      "description": "Request message for PersistentResourceService.RebootPersistentResource.",
      "properties": {},
      "id": "GoogleCloudAiplatformV1RebootPersistentResourceRequest"
    },
    "GoogleCloudAiplatformV1SemanticGovernancePolicyEngine": {
      "type": "object",
      "properties": {
        "pscForwardingRule": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the PSC endpoint resource created in customer project. Format: projects/{project}/regions/{region}/forwardingRules/{forwarding_rule}"
        },
        "name": {
          "description": "Identifier. The resource name of the SemanticGovernancePolicyEngine. Format: projects/{project}/locations/{location}/semanticGovernancePolicyEngine",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "INACTIVE",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "A provisioning operation is in progress. The engine will transition to ACTIVE on success or FAILED on failure.",
            "The engine and all of its gateway configurations are provisioned and ready to serve traffic.",
            "A deprovisioning operation is in progress. The engine will transition to INACTIVE on success or FAILED on failure.",
            "The engine has no provisioned infrastructure: either never provisioned, or successfully deprovisioned.",
            "The most recent provisioning or deprovisioning operation failed. The engine may have partial infrastructure that needs explicit deprovision; the engine may be either re-provisioned or deprovisioned to recover."
          ],
          "description": "Output only. The state of the SemanticGovernancePolicyEngine.",
          "type": "string",
          "readOnly": true
        },
        "pscServiceAttachment": {
          "description": "Output only. URI of the PSC attachment resource provided by SGP. Format: projects/{project}/regions/{region}/serviceAttachments/{service_attachment}",
          "readOnly": true,
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The private IPv4 address of the PSC endpoint.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this SemanticGovernancePolicyEngine was last updated."
        },
        "gatewayConfigs": {
          "type": "object",
          "description": "Optional. Configurations for gateways. The keys are user-defined names for each gateway. At most 5 gateway configurations are allowed.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1GatewayConfig"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this SemanticGovernancePolicyEngine was created.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1SemanticGovernancePolicyEngine",
      "description": "Define a singleton SemanticGovernancePolicyEngine resource under a project and location."
    },
    "CloudAiLargeModelsVisionGenerateVideoExperimentsAudioControlConfig": {
      "properties": {
        "useTargetAudioFromVideo": {
          "type": "boolean",
          "description": "Optional. When true, uses the audio track from the input video as the target audio instead of regenerating it. Mutually exclusive with `target_audio` below. Requires the input to be a video file, not an image sequence."
        },
        "targetAudio": {
          "$ref": "CloudAiLargeModelsVisionGenerateVideoRequestAudio",
          "description": "Optional. Audio file to use as the target audio input to Omni. Only used when `use_target_audio_from_video` is false. Cannot be set simultaneously with `use_target_audio_from_video = true`."
        }
      },
      "type": "object",
      "id": "CloudAiLargeModelsVisionGenerateVideoExperimentsAudioControlConfig",
      "description": "Configuration for audio control."
    },
    "GoogleCloudAiplatformV1FluencyResult": {
      "id": "GoogleCloudAiplatformV1FluencyResult",
      "description": "Spec for fluency result.",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. Confidence for fluency score.",
          "readOnly": true,
          "format": "float"
        },
        "score": {
          "description": "Output only. Fluency score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Explanation for fluency score."
        }
      }
    },
    "CloudAiLargeModelsVisionGenerateVideoRequestVideo": {
      "id": "CloudAiLargeModelsVisionGenerateVideoRequestVideo",
      "type": "object",
      "properties": {
        "blobId": {
          "description": "Blob ID of the video. This is used for storing large videos in the request.",
          "type": "string"
        },
        "bytesBase64Encoded": {
          "description": "Base64 encoded bytes string representing the video.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content of the video. Only the video in the below listed MIME types are supported. - video/mp4"
        }
      }
    },
    "GoogleCloudAiplatformV1CopyModelResponse": {
      "id": "GoogleCloudAiplatformV1CopyModelResponse",
      "type": "object",
      "description": "Response message of ModelService.CopyModel operation.",
      "properties": {
        "model": {
          "type": "string",
          "description": "The name of the copied Model resource. Format: `projects/{project}/locations/{location}/models/{model}`"
        },
        "modelVersionId": {
          "description": "Output only. The version ID of the model that is copied.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleTypeColor": {
      "id": "GoogleTypeColor",
      "properties": {
        "alpha": {
          "format": "float",
          "type": "number",
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0)."
        },
        "red": {
          "format": "float",
          "type": "number",
          "description": "The amount of red in the color as a value in the interval [0, 1]."
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "type": "object"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute question answering relevance.",
          "type": "boolean"
        }
      },
      "description": "Spec for question answering relevance metric.",
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec"
    },
    "GoogleCloudAiplatformV1PreferenceOptimizationHyperParameters": {
      "type": "object",
      "description": "Hyperparameters for Preference Optimization.",
      "properties": {
        "beta": {
          "type": "number",
          "format": "double",
          "description": "Optional. Weight for KL Divergence regularization."
        },
        "epochCount": {
          "description": "Optional. Number of complete passes the model makes over the entire training dataset during training.",
          "type": "string",
          "format": "int64"
        },
        "learningRateMultiplier": {
          "format": "double",
          "description": "Optional. Multiplier for adjusting the default learning rate.",
          "type": "number"
        },
        "adapterSize": {
          "enumDescriptions": [
            "Adapter size is unspecified.",
            "Adapter size 1.",
            "Adapter size 2.",
            "Adapter size 4.",
            "Adapter size 8.",
            "Adapter size 16.",
            "Adapter size 32."
          ],
          "description": "Optional. Adapter size for preference optimization.",
          "type": "string",
          "enum": [
            "ADAPTER_SIZE_UNSPECIFIED",
            "ADAPTER_SIZE_ONE",
            "ADAPTER_SIZE_TWO",
            "ADAPTER_SIZE_FOUR",
            "ADAPTER_SIZE_EIGHT",
            "ADAPTER_SIZE_SIXTEEN",
            "ADAPTER_SIZE_THIRTY_TWO"
          ]
        }
      },
      "id": "GoogleCloudAiplatformV1PreferenceOptimizationHyperParameters"
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityOpenTelemetry": {
      "properties": {
        "semconvVersion": {
          "description": "Required. Defines which version OTel Semantic Convention the data follows. Can be \"1.39.0\" or newer.",
          "type": "string"
        }
      },
      "description": "Configuration for data source following OpenTelemetry.",
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityOpenTelemetry",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelEvaluationSlice": {
      "type": "object",
      "description": "A collection of metrics calculated by comparing Model's predictions on a slice of the test data against ground truth annotations.",
      "properties": {
        "metricsSchemaUri": {
          "readOnly": true,
          "description": "Output only. Points to a YAML file stored on Google Cloud Storage describing the metrics of this ModelEvaluationSlice. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the ModelEvaluationSlice."
        },
        "modelExplanation": {
          "description": "Output only. Aggregated explanation metrics for the Model's prediction output over the data this ModelEvaluation uses. This field is populated only if the Model is evaluated with explanations, and only for tabular Models.",
          "$ref": "GoogleCloudAiplatformV1ModelExplanation",
          "readOnly": true
        },
        "slice": {
          "readOnly": true,
          "description": "Output only. The slice of the test data that is used to evaluate the Model.",
          "$ref": "GoogleCloudAiplatformV1ModelEvaluationSliceSlice"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this ModelEvaluationSlice was created."
        },
        "metrics": {
          "type": "any",
          "description": "Output only. Sliced evaluation metrics of the Model. The schema of the metrics is stored in metrics_schema_uri",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1ModelEvaluationSlice"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationExample": {
      "properties": {
        "referenceSentencesFileInputs": {
          "description": "The reference sentences from file.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationSentenceFileInput"
          },
          "type": "array"
        },
        "referenceSentencePairLists": {
          "type": "array",
          "description": "The reference sentences from inline text.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecReferenceSentencePairList"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationExample",
      "description": "The translation example that contains reference sentences from various sources."
    },
    "GoogleCloudAiplatformV1GenerationConfig": {
      "description": "Configuration for content generation. This message contains all the parameters that control how the model generates content. It allows you to influence the randomness, length, and structure of the output.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerationConfig",
      "properties": {
        "audioTranscriptionConfig": {
          "$ref": "GoogleCloudAiplatformV1AudioTranscriptionConfig",
          "description": "Optional. Configuration for audio transcription (speech recognition)."
        },
        "temperature": {
          "format": "float",
          "description": "Optional. Controls the randomness of the output. A higher temperature results in more creative and diverse responses, while a lower temperature makes the output more predictable and focused. The valid range is (0.0, 2.0].",
          "type": "number"
        },
        "logprobs": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of top log probabilities to return for each token. This can be used to see which other tokens were considered likely candidates for a given position. A higher value will return more options, but it will also increase the size of the response."
        },
        "responseJsonSchema": {
          "deprecated": true,
          "type": "any",
          "description": "Optional. When this field is set, response_schema must be omitted and response_mime_type must be set to `application/json`. Deprecated: Use `response_format` instead."
        },
        "seed": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. A seed for the random number generator. By setting a seed, you can make the model's output mostly deterministic. For a given prompt and parameters (like temperature, top_p, etc.), the model will produce the same response every time. However, it's not a guaranteed absolute deterministic behavior. This is different from parameters like `temperature`, which control the *level* of randomness. `seed` ensures that the \"random\" choices the model makes are the same on every run, making it essential for testing and ensuring reproducible results."
        },
        "responseModalities": {
          "type": "array",
          "description": "Optional. The modalities of the response. The model will generate a response that includes all the specified modalities. For example, if this is set to `[TEXT, IMAGE]`, the response will include both text and an image.",
          "items": {
            "enumDescriptions": [
              "Unspecified modality. Will be processed as text.",
              "Text modality.",
              "Image modality.",
              "Audio modality.",
              "Video modality."
            ],
            "type": "string",
            "enum": [
              "MODALITY_UNSPECIFIED",
              "TEXT",
              "IMAGE",
              "AUDIO",
              "VIDEO"
            ]
          }
        },
        "responseLogprobs": {
          "type": "boolean",
          "description": "Optional. If set to true, the log probabilities of the output tokens are returned. Log probabilities are the logarithm of the probability of a token appearing in the output. A higher log probability means the token is more likely to be generated. This can be useful for analyzing the model's confidence in its own output and for debugging."
        },
        "routingConfig": {
          "description": "Optional. Routing configuration.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfigRoutingConfig"
        },
        "responseSchema": {
          "$ref": "GoogleCloudAiplatformV1Schema",
          "description": "Optional. Lets you to specify a schema for the model's response, ensuring that the output conforms to a particular structure. This is useful for generating structured data such as JSON. The schema is a subset of the [OpenAPI 3.0 schema object](https://spec.openapis.org/oas/v3.0.3#schema) object. When this field is set, you must also set the `response_mime_type` to `application/json`. Deprecated: Use `response_format` instead.",
          "deprecated": true
        },
        "imageConfig": {
          "description": "Optional. Config for image generation features. Deprecated: Use `response_format.image` instead.",
          "$ref": "GoogleCloudAiplatformV1ImageConfig",
          "deprecated": true
        },
        "enableAffectiveDialog": {
          "type": "boolean",
          "description": "Optional. If enabled, the model will detect emotions and adapt its responses accordingly. For example, if the model detects that the user is frustrated, it may provide a more empathetic response."
        },
        "mediaResolution": {
          "enumDescriptions": [
            "Media resolution has not been set.",
            "Media resolution set to low (64 tokens).",
            "Media resolution set to medium (256 tokens).",
            "Media resolution set to high (zoomed reframing with 256 tokens)."
          ],
          "type": "string",
          "enum": [
            "MEDIA_RESOLUTION_UNSPECIFIED",
            "MEDIA_RESOLUTION_LOW",
            "MEDIA_RESOLUTION_MEDIUM",
            "MEDIA_RESOLUTION_HIGH"
          ],
          "description": "Optional. The token resolution at which input media content is sampled. This is used to control the trade-off between the quality of the response and the number of tokens used to represent the media. A higher resolution allows the model to perceive more detail, which can lead to a more nuanced response, but it will also use more tokens. This does not affect the image dimensions sent to the model."
        },
        "candidateCount": {
          "type": "integer",
          "description": "Optional. The number of candidate responses to generate. A higher `candidate_count` can provide more options to choose from, but it also consumes more resources. This can be useful for generating a variety of responses and selecting the best one.",
          "format": "int32"
        },
        "stopSequences": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of character sequences that will stop the model from generating further tokens. If a stop sequence is generated, the output will end at that point. This is useful for controlling the length and structure of the output. For example, you can use [\"\\n\", \"###\"] to stop generation at a new line or a specific marker.",
          "type": "array"
        },
        "frequencyPenalty": {
          "format": "float",
          "description": "Optional. Penalizes tokens based on their frequency in the generated text. A positive value helps to reduce the repetition of words and phrases. Valid values can range from [-2.0, 2.0].",
          "type": "number"
        },
        "responseMimeType": {
          "deprecated": true,
          "description": "Optional. The IANA standard MIME type of the response. The model will generate output that conforms to this MIME type. Supported values include 'text/plain' (default) and 'application/json'. The model needs to be prompted to output the appropriate response type, otherwise the behavior is undefined. Deprecated: Use `response_format` instead.",
          "type": "string"
        },
        "audioTimestamp": {
          "description": "Optional. If enabled, audio timestamps will be included in the request to the model. This can be useful for synchronizing audio with other modalities in the response.",
          "type": "boolean"
        },
        "responseFormat": {
          "description": "Optional. New response format field for the model to configure output formatting and delivery.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ResponseFormat"
          },
          "type": "array"
        },
        "topP": {
          "type": "number",
          "description": "Optional. Specifies the nucleus sampling threshold. The model considers only the smallest set of tokens whose cumulative probability is at least `top_p`. This helps generate more diverse and less repetitive responses. For example, a `top_p` of 0.9 means the model considers tokens until the cumulative probability of the tokens to select from reaches 0.9. It's recommended to adjust either temperature or `top_p`, but not both.",
          "format": "float"
        },
        "maxOutputTokens": {
          "format": "int32",
          "description": "Optional. The maximum number of tokens to generate in the response. A token is approximately four characters. The default value varies by model. This parameter can be used to control the length of the generated text and prevent overly long responses.",
          "type": "integer"
        },
        "speechConfig": {
          "description": "Optional. The speech generation config.",
          "$ref": "GoogleCloudAiplatformV1SpeechConfig"
        },
        "presencePenalty": {
          "type": "number",
          "format": "float",
          "description": "Optional. Penalizes tokens that have already appeared in the generated text. A positive value encourages the model to generate more diverse and less repetitive text. Valid values can range from [-2.0, 2.0]."
        },
        "topK": {
          "description": "Optional. Specifies the top-k sampling threshold. The model considers only the top k most probable tokens for the next token. This can be useful for generating more coherent and less random text. For example, a `top_k` of 40 means the model will choose the next word from the 40 most likely words.",
          "format": "float",
          "type": "number"
        },
        "thinkingConfig": {
          "$ref": "GoogleCloudAiplatformV1GenerationConfigThinkingConfig",
          "description": "Optional. Configuration for thinking features. An error will be returned if this field is set for models that don't support thinking."
        },
        "translationConfig": {
          "$ref": "GoogleCloudAiplatformV1TranslationConfig",
          "description": "Optional. Config for translation."
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpecRepeatedRubrics": {
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpecRepeatedRubrics",
      "type": "object",
      "description": "Defines a list of rubrics, used when providing rubrics inline.",
      "properties": {
        "rubrics": {
          "description": "The list of rubrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Rubric"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchResults": {
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchResults",
      "type": "object",
      "description": "Results for tool parameter key value match metric.",
      "properties": {
        "toolParameterKvMatchMetricValues": {
          "type": "array",
          "description": "Output only. Tool parameter key value match metric values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKVMatchMetricValue"
          },
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1UpdateFeatureViewOperationMetadata": {
      "id": "GoogleCloudAiplatformV1UpdateFeatureViewOperationMetadata",
      "type": "object",
      "description": "Details of operations that perform update FeatureView.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for FeatureView Update.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateUserScenariosResponse": {
      "type": "object",
      "properties": {
        "userScenarios": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1UserScenario"
          },
          "type": "array",
          "description": "The generated user scenarios used to simulate multi-turn agent running results and agent evaluation."
        }
      },
      "description": "Response message for DataFoundryService.GenerateUserScenarios.",
      "id": "GoogleCloudAiplatformV1GenerateUserScenariosResponse"
    },
    "GoogleCloudAiplatformV1FunctionResponsePart": {
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1FunctionResponsePart",
      "properties": {
        "fileData": {
          "$ref": "GoogleCloudAiplatformV1FunctionResponseFileData",
          "description": "URI based data."
        },
        "inlineData": {
          "$ref": "GoogleCloudAiplatformV1FunctionResponseBlob",
          "description": "Inline media bytes."
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationHelpfulnessInput": {
      "description": "Input for summarization helpfulness metric.",
      "id": "GoogleCloudAiplatformV1SummarizationHelpfulnessInput",
      "properties": {
        "instance": {
          "description": "Required. Summarization helpfulness instance.",
          "$ref": "GoogleCloudAiplatformV1SummarizationHelpfulnessInstance"
        },
        "metricSpec": {
          "description": "Required. Spec for summarization helpfulness score metric.",
          "$ref": "GoogleCloudAiplatformV1SummarizationHelpfulnessSpec"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeprovisionSemanticGovernancePolicyEngineRequest": {
      "type": "object",
      "description": "Request message for SemanticGovernancePolicyEngineService.DeprovisionSemanticGovernancePolicyEngine.",
      "properties": {
        "force": {
          "description": "Optional. If true, the operation bypass checks on current state and force the deprovisioning operation.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1DeprovisionSemanticGovernancePolicyEngineRequest"
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch": {
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchImageSearch",
      "properties": {},
      "type": "object",
      "description": "Image search for grounding and related configurations."
    },
    "GoogleCloudAiplatformV1SlackSourceSlackChannels": {
      "properties": {
        "apiKeyConfig": {
          "description": "Required. The SecretManager secret version resource name (e.g. projects/{project}/secrets/{secret}/versions/{version}) storing the Slack channel access token that has access to the slack channel IDs. See: https://api.slack.com/tutorials/tracks/getting-a-token.",
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig"
        },
        "channels": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SlackSourceSlackChannelsSlackChannel"
          },
          "description": "Required. The Slack channel IDs.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1SlackSourceSlackChannels",
      "type": "object",
      "description": "SlackChannels contains the Slack channels and corresponding access token."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputs": {
      "properties": {
        "exportEvaluatedDataItemsConfig": {
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig"
        },
        "windowConfig": {
          "description": "Config containing strategy for generating sliding windows.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionWindowConfig"
        },
        "enableProbabilisticInference": {
          "type": "boolean",
          "description": "If probabilistic inference is enabled, the model will fit a distribution that captures the uncertainty of a prediction. At inference time, the predictive distribution is used to make a point prediction that minimizes the optimization objective. For example, the mean of a predictive distribution is the point prediction that minimizes RMSE loss. If quantiles are specified, then the quantiles of the distribution are also returned. The optimization objective cannot be minimize-quantile-loss."
        },
        "targetColumn": {
          "description": "The name of the column that the Model is to predict values for. This column must be unavailable at forecast.",
          "type": "string"
        },
        "timeSeriesIdentifierColumn": {
          "description": "The name of the column that identifies the time series.",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Objective function the model is optimizing towards. The training process creates a model that optimizes the value of the objective function over the validation set. The supported optimization objectives: * \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). * \"minimize-mae\" - Minimize mean-absolute error (MAE). * \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE). * \"minimize-rmspe\" - Minimize root-mean-squared percentage error (RMSPE). * \"minimize-wape-mae\" - Minimize the combination of weighted absolute percentage error (WAPE) and mean-absolute-error (MAE). * \"minimize-quantile-loss\" - Minimize the quantile loss at the quantiles defined in `quantiles`. * \"minimize-mape\" - Minimize the mean absolute percentage error."
        },
        "weightColumn": {
          "type": "string",
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1."
        },
        "additionalExperiments": {
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the time series forcasting training.",
          "type": "array"
        },
        "timeSeriesAttributeColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Column names that should be used as attribute columns. The value of these columns does not vary as a function of time. For example, store ID or item color."
        },
        "dataGranularity": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity",
          "description": "Expected difference in time granularity between rows in the data."
        },
        "validationOptions": {
          "description": "Validation options for the data validation component. The available options are: * \"fail-pipeline\" - default, will validate against the validation and fail the pipeline if it fails. * \"ignore-validation\" - ignore the results of the validation and continue",
          "type": "string"
        },
        "hierarchyConfig": {
          "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig"
        },
        "quantiles": {
          "items": {
            "type": "number",
            "format": "double"
          },
          "description": "Quantiles to use for minimize-quantile-loss `optimization_objective`, or for probabilistic inference. Up to 5 quantiles are allowed of values between 0 and 1, exclusive. Required if the value of optimization_objective is minimize-quantile-loss. Represents the percent quantiles to use for that objective. Quantiles must be unique.",
          "type": "array"
        },
        "availableAtForecastColumns": {
          "items": {
            "type": "string"
          },
          "description": "Names of columns that are available and provided when a forecast is requested. These columns contain information for the given entity (identified by the time_series_identifier_column column) that is known at forecast. For example, predicted weather for a specific day.",
          "type": "array"
        },
        "unavailableAtForecastColumns": {
          "description": "Names of columns that are unavailable when a forecast is requested. This column contains information for the given entity (identified by the time_series_identifier_column) that is unknown before the forecast For example, actual weather on a given day.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "contextWindow": {
          "format": "int64",
          "description": "The amount of time into the past training and prediction data is used for model training and prediction respectively. Expressed in number of units defined by the `data_granularity` field.",
          "type": "string"
        },
        "forecastHorizon": {
          "description": "The amount of time into the future for which forecasted values for the target are returned. Expressed in number of units defined by the `data_granularity` field.",
          "format": "int64",
          "type": "string"
        },
        "holidayRegions": {
          "type": "array",
          "description": "The geographical region based on which the holiday effect is applied in modeling by adding holiday categorical array feature that include all holidays matching the date. This option only allowed when data_granularity is day. By default, holiday effect modeling is disabled. To turn it on, specify the holiday region using this option.",
          "items": {
            "type": "string"
          }
        },
        "trainBudgetMilliNodeHours": {
          "format": "int64",
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive.",
          "type": "string"
        },
        "timeColumn": {
          "description": "The name of the column that identifies time order in the time series. This column must be available at forecast.",
          "type": "string"
        },
        "transformations": {
          "description": "Each transformation will apply transform function to given input column. And the result will be used for training. When creating transformation for BigQuery Struct column, the column should be flattened using \".\" as the delimiter.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputs"
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionInput",
      "description": "Instances and metric spec for TrajectoryPrecision metric.",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for TrajectoryPrecision metric.",
          "$ref": "GoogleCloudAiplatformV1TrajectoryPrecisionSpec"
        },
        "instances": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryPrecisionInstance"
          },
          "description": "Required. Repeated TrajectoryPrecision instance.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate": {
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate",
      "type": "object",
      "description": "Defines a predicate for filtering based on a numeric value.",
      "properties": {
        "comparisonOperator": {
          "type": "string",
          "enum": [
            "COMPARISON_OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_OR_EQUAL",
            "EQUAL",
            "NOT_EQUAL",
            "GREATER_OR_EQUAL",
            "GREATER"
          ],
          "description": "Required. The comparison operator to apply.",
          "enumDescriptions": [
            "Unspecified comparison operator. This value should not be used.",
            "Less than.",
            "Less than or equal to.",
            "Equal to.",
            "Not equal to.",
            "Greater than or equal to.",
            "Greater than."
          ]
        },
        "value": {
          "type": "number",
          "format": "float",
          "description": "Required. The value to compare against."
        }
      }
    },
    "GoogleCloudAiplatformV1MetricxResult": {
      "description": "Spec for MetricX result - calculates the MetricX score for the given instance using the version specified in the spec.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1MetricxResult",
      "properties": {
        "score": {
          "description": "Output only. MetricX score. Range depends on version.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter": {
      "id": "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter",
      "type": "object",
      "description": "String filter is used to search a subset of the entities by using boolean rules on string columns. For example: if a query specifies string filter with 'name = color, allow_tokens = {red, blue}, deny_tokens = {purple}',' then that query will match entities that are red or blue, but if those points are also purple, then they will be excluded even if they are red/blue. Only string filter is supported for now, numeric filter will be supported in the near future.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Column names in BigQuery that used as filters."
        },
        "denyTokens": {
          "description": "Optional. The denied tokens.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowTokens": {
          "description": "Optional. The allowed tokens.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec",
      "description": "Specification for deploying from source code.",
      "type": "object",
      "properties": {
        "inlineSource": {
          "description": "Source code is provided directly in the request.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource"
        },
        "agentConfigSource": {
          "description": "Source code is generated from the agent config.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSource"
        },
        "pythonSpec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecPythonSpec",
          "description": "Configuration for a Python application."
        },
        "developerConnectSource": {
          "description": "Source code is in a Git repository managed by Developer Connect.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectSource"
        },
        "imageSpec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecImageSpec",
          "description": "Optional. Configuration for building an image with custom config file."
        }
      }
    },
    "GoogleCloudAiplatformV1RetrieveMemoriesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RetrieveMemoriesRequest",
      "description": "Request message for MemoryBankService.RetrieveMemories.",
      "properties": {
        "memoryTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Represents an unspecified memory type. This value should not be used.",
              "Indicates belonging to a collection of natural language memories.",
              "Indicates belonging to a structured profile."
            ],
            "type": "string",
            "enum": [
              "MEMORY_TYPE_UNSPECIFIED",
              "NATURAL_LANGUAGE_COLLECTION",
              "STRUCTURED_PROFILE"
            ]
          },
          "description": "Optional. Specifies the types of memories to retrieve. If this field is empty or not provided, the request will default to retrieving only memories of type `NATURAL_LANGUAGE_COLLECTION`. If populated, the request will retrieve memories matching any of the specified `MemoryType` values."
        },
        "similaritySearchParams": {
          "$ref": "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimilaritySearchParams",
          "description": "Parameters for semantic similarity search based retrieval."
        },
        "filter": {
          "type": "string",
          "description": "Optional. The standard list filter that will be applied to the retrieved memories. More detail in [AIP-160](https://google.aip.dev/160). Supported fields: * `fact` * `create_time` * `update_time` * `topics` (i.e. `topics.custom_memory_topic_label: \"example topic\" OR topics.managed_memory_topic: USER_PREFERENCES`)"
        },
        "filterGroups": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryConjunctionFilter"
          },
          "description": "Optional. Metadata filters that will be applied to the retrieved memories' `metadata` using OR logic. Filters are defined using disjunctive normal form (OR of ANDs). For example: `filter_groups: [{filters: [{key: \"author\", value: {string_value: \"agent 123\"}, op: EQUAL}]}, {filters: [{key: \"label\", value: {string_value: \"travel\"}, op: EQUAL}, {key: \"author\", value: {string_value: \"agent 321\"}, op: EQUAL}]}]` would be equivalent to the logical expression: `(metadata.author = \"agent 123\" OR (metadata.label = \"travel\" AND metadata.author = \"agent 321\"))`.",
          "type": "array"
        },
        "simpleRetrievalParams": {
          "description": "Parameters for simple (non-similarity search) retrieval.",
          "$ref": "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimpleRetrievalParams"
        },
        "scope": {
          "description": "Required. The scope of the memories to retrieve. A memory must have exactly the same scope (`Memory.scope`) as the scope provided here to be retrieved (same keys and values). Order does not matter, but it is case-sensitive.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateContentRequest": {
      "id": "GoogleCloudAiplatformV1GenerateContentRequest",
      "type": "object",
      "description": "Request message for [PredictionService.GenerateContent].",
      "properties": {
        "toolConfig": {
          "$ref": "GoogleCloudAiplatformV1ToolConfig",
          "description": "Optional. Tool config. This config is shared for all tools provided in the request."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. It is used for billing and reporting only. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetySetting"
          },
          "description": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates."
        },
        "systemInstruction": {
[...]
