{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/aiplatform": {
          "description": "See, edit, configure, and delete your Google Cloud Vertex AI data and see the email address for your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "name": "aiplatform",
  "id": "aiplatform:v1",
  "basePath": "",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Agent Platform API",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "revision": "20260831",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "description": "Build, scale, govern, and optimize sophisticated agents and models.",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "schemas": {
    "GoogleCloudAiplatformV1GoogleMapsPlaces": {
      "properties": {},
      "description": "Grounding with Google Maps Places data (e.g. QueryPlaces). This is the default Google Maps grounding type when no other type is specified.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GoogleMapsPlaces"
    },
    "GoogleCloudAiplatformV1TextResponseFormat": {
      "description": "Configuration for text-specific output formatting.",
      "id": "GoogleCloudAiplatformV1TextResponseFormat",
      "type": "object",
      "properties": {
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "APPLICATION_JSON",
            "TEXT_PLAIN"
          ],
          "description": "Optional. The IANA standard MIME type of the response.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JSON output format.",
            "Plain text output format."
          ],
          "type": "string"
        },
        "schema": {
          "type": "any",
          "description": "Optional. The JSON schema that the output should conform to. Only applicable when mime_type is APPLICATION_JSON."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata": {
      "properties": {
        "multiLabel": {
          "description": "Whether or not the classification label is multi_label.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaVisualInspectionClassificationLabelSavedQueryMetadata"
    },
    "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider": {
      "description": "Configuration for an authentication provider, including support for [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).",
      "properties": {
        "audiences": {
          "description": "The list of JWT [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3). that are allowed to access. A JWT containing any of these audiences will be accepted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allowedIssuers": {
          "description": "A list of allowed JWT issuers. Each entry must be a valid Google service account, in the following format: `service-account-name@project-id.iam.gserviceaccount.com`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeployedIndexAuthConfigAuthProvider"
    },
    "GoogleCloudAiplatformV1RayMetricSpec": {
      "description": "Configuration for the Ray metrics.",
      "properties": {
        "disabled": {
          "description": "Optional. Flag to disable the Ray metrics collection.",
          "type": "boolean"
        },
        "enableUsageStatsCollection": {
          "type": "boolean",
          "description": "Optional. Flag to enable the Ray usage stats collection by Anyscale. https://docs.ray.io/en/latest/cluster/usage-stats.html#usage-stats-collection Disable by default."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1RayMetricSpec"
    },
    "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation": {
      "properties": {
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        },
        "vertexes": {
          "type": "array",
          "description": "The vertexes are connected one by one and the last vertex in not connected to the first one.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaVertex"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationPolylineAnnotation",
      "description": "Represents a polyline in image."
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecIntegerValueSpec": {
      "type": "object",
      "properties": {
        "defaultValue": {
          "type": "string",
          "format": "int64",
          "description": "A default value for an `INTEGER` parameter that is assumed to be a relatively good starting point. Unset value signals that there is no offered starting point. Currently only supported by the Vertex AI Vizier service. Not supported by HyperparameterTuningJob or TrainingPipeline."
        },
        "minValue": {
          "format": "int64",
          "type": "string",
          "description": "Required. Inclusive minimum value of the parameter."
        },
        "maxValue": {
          "type": "string",
          "description": "Required. Inclusive maximum value of the parameter.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecIntegerValueSpec",
      "description": "Value specification for a parameter in `INTEGER` type."
    },
    "GoogleCloudAiplatformV1EnterpriseWebSearch": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EnterpriseWebSearch",
      "description": "Tool to search public web data, powered by Vertex AI Search and Sec4 compliance.",
      "properties": {
        "excludeDomains": {
          "description": "Optional. List of domains to be excluded from the search results. The default limit is 2000 domains.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockingConfidence": {
          "enum": [
            "PHISH_BLOCK_THRESHOLD_UNSPECIFIED",
            "BLOCK_LOW_AND_ABOVE",
            "BLOCK_MEDIUM_AND_ABOVE",
            "BLOCK_HIGH_AND_ABOVE",
            "BLOCK_HIGHER_AND_ABOVE",
            "BLOCK_VERY_HIGH_AND_ABOVE",
            "BLOCK_ONLY_EXTREMELY_HIGH"
          ],
          "description": "Optional. Sites with confidence level chosen & above this value will be blocked from the search results.",
          "enumDescriptions": [
            "Defaults to unspecified.",
            "Blocks Low and above confidence URL that is risky.",
            "Blocks Medium and above confidence URL that is risky.",
            "Blocks High and above confidence URL that is risky.",
            "Blocks Higher and above confidence URL that is risky.",
            "Blocks Very high and above confidence URL that is risky.",
            "Blocks Extremely high confidence URL that is risky."
          ],
          "type": "string"
        }
      }
    },
    "CloudAiLargeModelsVisionVideo": {
      "id": "CloudAiLargeModelsVisionVideo",
      "type": "object",
      "description": "Video",
      "properties": {
        "video": {
          "format": "byte",
          "description": "Raw bytes.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Video encoding, for example \"video/mp4\"."
        },
        "text": {
          "type": "string",
          "description": "Text/Expanded text input for Help Me Write."
        },
        "uri": {
          "description": "Path to another storage (typically Google Cloud Storage).",
          "type": "string"
        },
        "encodedVideo": {
          "type": "string",
          "description": "Base 64 encoded video bytes."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecStructuredPrompt": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecStructuredPrompt",
      "properties": {
        "inputPrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Preamble: The input prefixes before each example input.",
          "type": "array"
        },
        "infillSuffix": {
          "type": "string",
          "description": "Preamble: For infill prompt, the suffix after expected model response."
        },
        "context": {
          "description": "Preamble: The context of the prompt.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "outputPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Preamble: The output prefixes before each example output."
        },
        "predictionInputs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPartList"
          },
          "description": "Preamble: The input test data for prediction. Each PartList in this field represents one text-only input set for a single model request."
        },
        "interactionData": {
          "description": "Data for interaction use case.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData"
        },
        "examples": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPartList"
          },
          "description": "Preamble: A set of examples for expected model response."
        },
        "promptMessage": {
          "description": "The prompt message.",
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage"
        },
        "infillPrefix": {
          "description": "Preamble: For infill prompt, the prefix before expected model response.",
          "type": "string"
        },
        "appBuilderData": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecAppBuilderData",
          "description": "Data for app builder use case."
        }
      },
      "description": "Prompt variation that stores preambles in separate fields.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance",
      "type": "object",
      "description": "Spec for question answering correctness instance.",
      "properties": {
        "instruction": {
          "type": "string",
          "description": "Required. The question asked and other instruction in the inference prompt."
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Optional. Text provided as context to answer the question."
        }
      }
    },
    "GoogleCloudAiplatformV1IngestionDirectContentsSource": {
      "id": "GoogleCloudAiplatformV1IngestionDirectContentsSource",
      "type": "object",
      "description": "Ingest events directly from the request.",
      "properties": {
        "events": {
          "description": "Required. The events to ingest.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1IngestionDirectContentsSourceEvent"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
      "properties": {
        "rows": {
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "Rows in the confusion matrix. The number of rows is equal to the size of `annotationSpecs`. `rowsi` is the number of DataItems that have ground truth of the `annotationSpecs[i]` and are predicted as `annotationSpecs[j]` by the Model being evaluated. For Text Extraction, when `annotationSpecs[i]` is the last element in `annotationSpecs`, i.e. the special negative AnnotationSpec, `rowsi` is the number of predicted entities of `annoatationSpec[j]` that are not labeled as any of the ground truth AnnotationSpec. When annotationSpecs[j] is the special negative AnnotationSpec, `rowsi` is the number of entities have ground truth of `annotationSpec[i]` that are not predicted as an entity by the Model. The value of the last cell, i.e. `rowi` where i == j and `annotationSpec[i]` is the special negative AnnotationSpec, is always 0.",
          "type": "array"
        },
        "annotationSpecs": {
          "description": "AnnotationSpecs used in the confusion matrix. For AutoML Text Extraction, a special negative AnnotationSpec with empty `id` and `displayName` of \"NULL\" will be added as the last element.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrixAnnotationSpecRef"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewSync": {
      "description": "FeatureViewSync is a representation of sync operation which copies data from data source to Feature View in Online Store.",
      "id": "GoogleCloudAiplatformV1FeatureViewSync",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the FeatureViewSync. Format: `projects/{project}/locations/{location}/featureOnlineStores/{feature_online_store}/featureViews/{feature_view}/featureViewSyncs/{feature_view_sync}`"
        },
        "finalStatus": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. Final status of the FeatureViewSync.",
          "readOnly": true
        },
        "runTime": {
          "description": "Output only. Time when this FeatureViewSync is finished.",
          "readOnly": true,
          "$ref": "GoogleTypeInterval"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this FeatureViewSync is created. Creation of a FeatureViewSync means that the job is pending / waiting for sufficient resources but may not have started the actual data transfer yet.",
          "type": "string"
        },
        "syncSummary": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewSyncSyncSummary",
          "description": "Output only. Summary of the sync job.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CoherenceInstance": {
      "id": "GoogleCloudAiplatformV1CoherenceInstance",
      "type": "object",
      "description": "Spec for coherence instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData",
      "description": "Defines data for an interaction prompt.",
      "type": "object",
      "properties": {
        "interactionIds": {
          "type": "array",
          "description": "Optional. Lists interaction IDs associated with the prompt. This maps 1:1 to PromptMessage.contents. If InteractionData is present, every prompt message has an interaction ID.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN": {
      "description": "Config for ANN search. RagManagedDb uses a tree-based structure to partition data and facilitate faster searches. As a tradeoff, it requires longer indexing time and manual triggering of index rebuild via the ImportRagFiles and UpdateRagCorpus API.",
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN",
      "type": "object",
      "properties": {
        "treeDepth": {
          "format": "int32",
          "description": "The depth of the tree-based structure. Only depth values of 2 and 3 are supported. Recommended value is 2 if you have if you have O(10K) files in the RagCorpus and set this to 3 if more than that. Default value is 2.",
          "type": "integer"
        },
        "leafCount": {
          "description": "Number of leaf nodes in the tree-based structure. Each leaf node contains groups of closely related vectors along with their corresponding centroid. Recommended value is 10 * sqrt(num of RagFiles in your RagCorpus). Default value is 500.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1DatasetDistribution": {
      "id": "GoogleCloudAiplatformV1DatasetDistribution",
      "properties": {
        "p5": {
          "description": "Output only. The 5th percentile of the values in the population.",
          "format": "double",
          "type": "number",
          "readOnly": true
        },
        "buckets": {
          "description": "Output only. Defines the histogram bucket.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DatasetDistributionDistributionBucket"
          }
        },
        "min": {
          "type": "number",
          "description": "Output only. The minimum of the population values.",
          "format": "double",
          "readOnly": true
        },
        "median": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Output only. The median of the values in the population."
        },
        "p95": {
          "readOnly": true,
          "format": "double",
          "type": "number",
          "description": "Output only. The 95th percentile of the values in the population."
        },
        "max": {
          "readOnly": true,
          "format": "double",
          "description": "Output only. The maximum of the population values.",
          "type": "number"
        },
        "mean": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The arithmetic mean of the values in the population.",
          "format": "double"
        },
        "sum": {
          "description": "Output only. Sum of a given population of values.",
          "readOnly": true,
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "description": "Distribution computed over a tuning dataset."
    },
    "GoogleCloudAiplatformV1TFRecordDestination": {
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "Required. Google Cloud Storage location."
        }
      },
      "type": "object",
      "description": "The storage details for TFRecord output content.",
      "id": "GoogleCloudAiplatformV1TFRecordDestination"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationCategoricalTransformation",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SpeechConfig": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Optional. The language code (ISO 639-1) for the speech synthesis."
        },
        "multiSpeakerVoiceConfig": {
          "description": "The configuration for a multi-speaker text-to-speech request. This field is mutually exclusive with `voice_config`.",
          "$ref": "GoogleCloudAiplatformV1MultiSpeakerVoiceConfig"
        },
        "voiceConfig": {
          "description": "The configuration for the voice to use.",
          "$ref": "GoogleCloudAiplatformV1VoiceConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1SpeechConfig",
      "description": "Configuration for speech generation."
    },
    "GoogleCloudAiplatformV1UpgradeNotebookRuntimeOperationMetadata": {
      "description": "Metadata information for NotebookService.UpgradeNotebookRuntime.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1UpgradeNotebookRuntimeOperationMetadata",
      "properties": {
        "progressMessage": {
          "type": "string",
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime."
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1AuthConfigApiKeyConfig": {
      "id": "GoogleCloudAiplatformV1AuthConfigApiKeyConfig",
      "properties": {
        "httpElementLocation": {
          "enumDescriptions": [
            "",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ],
          "type": "string",
          "description": "Optional. The location of the API key.",
          "enum": [
            "HTTP_IN_UNSPECIFIED",
            "HTTP_IN_QUERY",
            "HTTP_IN_HEADER",
            "HTTP_IN_PATH",
            "HTTP_IN_BODY",
            "HTTP_IN_COOKIE"
          ]
        },
        "apiKeyString": {
          "type": "string",
          "description": "Optional. The API key to be used in the request directly."
        },
        "name": {
          "type": "string",
          "description": "Optional. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name."
        },
        "apiKeySecret": {
          "type": "string",
          "description": "Optional. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If both `api_key_secret` and `api_key_string` are specified, this field takes precedence over `api_key_string`. - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource."
        }
      },
      "type": "object",
      "description": "Config for authentication with API key."
    },
    "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation": {
      "properties": {
        "timeSegment": {
          "$ref": "GoogleCloudAiplatformV1SchemaTimeSegment",
          "description": "This Annotation applies to the time period represented by the TimeSegment. If it's not set, the Annotation applies to the whole video."
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        }
      },
      "type": "object",
      "description": "Annotation details specific to video classification.",
      "id": "GoogleCloudAiplatformV1SchemaVideoClassificationAnnotation"
    },
    "GoogleCloudAiplatformV1ModelArmorConfig": {
      "properties": {
        "promptTemplateName": {
          "description": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`.",
          "type": "string"
        },
        "responseTemplateName": {
          "description": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelArmorConfig",
      "type": "object",
      "description": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputs": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputs",
      "properties": {
        "validationOptions": {
          "description": "Validation options for the data validation component. The available options are: * \"fail-pipeline\" - default, will validate against the validation and fail the pipeline if it fails. * \"ignore-validation\" - ignore the results of the validation and continue",
          "type": "string"
        },
        "optimizationObjective": {
          "type": "string",
          "description": "Objective function the model is optimizing towards. The training process creates a model that optimizes the value of the objective function over the validation set. The supported optimization objectives: * \"minimize-rmse\" (default) - Minimize root-mean-squared error (RMSE). * \"minimize-mae\" - Minimize mean-absolute error (MAE). * \"minimize-rmsle\" - Minimize root-mean-squared log error (RMSLE). * \"minimize-rmspe\" - Minimize root-mean-squared percentage error (RMSPE). * \"minimize-wape-mae\" - Minimize the combination of weighted absolute percentage error (WAPE) and mean-absolute-error (MAE). * \"minimize-quantile-loss\" - Minimize the quantile loss at the quantiles defined in `quantiles`. * \"minimize-mape\" - Minimize the mean absolute percentage error."
        },
        "trainBudgetMilliNodeHours": {
          "type": "string",
          "description": "Required. The train budget of creating this model, expressed in milli node hours i.e. 1,000 value in this field means 1 node hour. The training cost of the model will not exceed this budget. The final cost will be attempted to be close to the budget, though may end up being (even) noticeably smaller - at the backend's discretion. This especially may happen when further model training ceases to provide any improvements. If the budget is set to a value known to be insufficient to train a model for the given dataset, the training won't be attempted and will error. The train budget must be between 1,000 and 72,000 milli node hours, inclusive.",
          "format": "int64"
        },
        "weightColumn": {
          "description": "Column name that should be used as the weight column. Higher values in this column give more importance to the row during model training. The column must have numeric values between 0 and 10000 inclusively; 0 means the row is ignored for training. If weight column field is not set, then all rows are assumed to have equal weight of 1.",
          "type": "string"
        },
        "additionalExperiments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional experiment flags for the time series forcasting training."
        },
        "exportEvaluatedDataItemsConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig",
          "description": "Configuration for exporting test set predictions to a BigQuery table. If this configuration is absent, then the export is not performed."
        },
        "transformations": {
          "description": "Each transformation will apply transform function to given input column. And the result will be used for training. When creating transformation for BigQuery Struct column, the column should be flattened using \".\" as the delimiter.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformation"
          }
        },
        "forecastHorizon": {
          "type": "string",
          "format": "int64",
          "description": "The amount of time into the future for which forecasted values for the target are returned. Expressed in number of units defined by the `data_granularity` field."
        },
        "timeColumn": {
          "description": "The name of the column that identifies time order in the time series. This column must be available at forecast.",
          "type": "string"
        },
        "enableProbabilisticInference": {
          "type": "boolean",
          "description": "If probabilistic inference is enabled, the model will fit a distribution that captures the uncertainty of a prediction. At inference time, the predictive distribution is used to make a point prediction that minimizes the optimization objective. For example, the mean of a predictive distribution is the point prediction that minimizes RMSE loss. If quantiles are specified, then the quantiles of the distribution are also returned. The optimization objective cannot be minimize-quantile-loss."
        },
        "availableAtForecastColumns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Names of columns that are available and provided when a forecast is requested. These columns contain information for the given entity (identified by the time_series_identifier_column column) that is known at forecast. For example, predicted weather for a specific day."
        },
        "timeSeriesAttributeColumns": {
          "description": "Column names that should be used as attribute columns. The value of these columns does not vary as a function of time. For example, store ID or item color.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "windowConfig": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionWindowConfig",
          "description": "Config containing strategy for generating sliding windows."
        },
        "quantiles": {
          "items": {
            "format": "double",
            "type": "number"
          },
          "description": "Quantiles to use for minimize-quantile-loss `optimization_objective`, or for probabilistic inference. Up to 5 quantiles are allowed of values between 0 and 1, exclusive. Required if the value of optimization_objective is minimize-quantile-loss. Represents the percent quantiles to use for that objective. Quantiles must be unique.",
          "type": "array"
        },
        "dataGranularity": {
          "description": "Expected difference in time granularity between rows in the data.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity"
        },
        "holidayRegions": {
          "description": "The geographical region based on which the holiday effect is applied in modeling by adding holiday categorical array feature that include all holidays matching the date. This option only allowed when data_granularity is day. By default, holiday effect modeling is disabled. To turn it on, specify the holiday region using this option.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hierarchyConfig": {
          "description": "Configuration that defines the hierarchical relationship of time series and parameters for hierarchical forecasting strategies.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHierarchyConfig"
        },
        "contextWindow": {
          "type": "string",
          "format": "int64",
          "description": "The amount of time into the past training and prediction data is used for model training and prediction respectively. Expressed in number of units defined by the `data_granularity` field."
        },
        "timeSeriesIdentifierColumn": {
          "type": "string",
          "description": "The name of the column that identifies the time series."
        },
        "unavailableAtForecastColumns": {
          "description": "Names of columns that are unavailable when a forecast is requested. This column contains information for the given entity (identified by the time_series_identifier_column) that is unknown before the forecast For example, actual weather on a given day.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetColumn": {
          "description": "The name of the column that the Model is to predict values for. This column must be unavailable at forecast.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ModelSourceInfo": {
      "properties": {
        "sourceType": {
          "description": "Type of the model source.",
          "enumDescriptions": [
            "Should not be used.",
            "The Model is uploaded by automl training pipeline.",
            "The Model is uploaded by user or custom training pipeline.",
            "The Model is registered and sync'ed from BigQuery ML.",
            "The Model is saved or tuned from Model Garden.",
            "The Model is saved or tuned from Genie.",
            "The Model is uploaded by text embedding finetuning pipeline.",
            "The Model is saved or tuned from Marketplace."
          ],
          "type": "string",
          "enum": [
            "MODEL_SOURCE_TYPE_UNSPECIFIED",
            "AUTOML",
            "CUSTOM",
            "BQML",
            "MODEL_GARDEN",
            "GENIE",
            "CUSTOM_TEXT_EMBEDDING",
            "MARKETPLACE"
          ]
        },
        "copy": {
          "type": "boolean",
          "description": "If this Model is copy of another Model. If true then source_type pertains to the original."
        }
      },
      "id": "GoogleCloudAiplatformV1ModelSourceInfo",
      "type": "object",
      "description": "Detail description of the source information of the model."
    },
    "GoogleCloudAiplatformV1PurgeContextsRequest": {
      "properties": {
        "filter": {
          "description": "Required. A required filter matching the Contexts to be purged. E.g., `update_time <= 2020-11-19T11:30:00-04:00`.",
          "type": "string"
        },
        "force": {
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Context names that would be deleted.",
          "type": "boolean"
        }
      },
      "description": "Request message for MetadataService.PurgeContexts.",
      "id": "GoogleCloudAiplatformV1PurgeContextsRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RemoveDatapointsResponse": {
      "id": "GoogleCloudAiplatformV1RemoveDatapointsResponse",
      "properties": {},
      "type": "object",
      "description": "Response message for IndexService.RemoveDatapoints"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognition": {
      "description": "A TrainingJob that trains and uploads an AutoML Video Action Recognition Model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognition",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognitionInputs"
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationQualityInstance": {
      "description": "Spec for summarization quality instance.",
      "type": "object",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "instruction": {
          "type": "string",
          "description": "Required. Summarization prompt for LLM."
        },
        "context": {
          "type": "string",
          "description": "Required. Text to be summarized."
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SummarizationQualityInstance"
    },
    "GoogleCloudAiplatformV1BigQuerySource": {
      "id": "GoogleCloudAiplatformV1BigQuerySource",
      "properties": {
        "inputUri": {
          "description": "Required. BigQuery URI to a table, up to 2000 characters long. Accepted forms: * BigQuery path. For example: `bq://projectId.bqDatasetId.bqTableId`.",
          "type": "string"
        }
      },
      "description": "The BigQuery location for the input content.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionMetricValue": {
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionMetricValue",
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "readOnly": true,
          "description": "Output only. TrajectoryPrecision score.",
          "type": "number"
        }
      },
      "description": "TrajectoryPrecision metric value for an instance."
    },
    "GoogleCloudAiplatformV1ImageConfigImageOutputOptions": {
      "id": "GoogleCloudAiplatformV1ImageConfigImageOutputOptions",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. The image format that the output should be saved as."
        },
        "compressionQuality": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The compression quality of the output image."
        }
      },
      "description": "The image output format for generated images.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateFeatureViewOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateFeatureViewOperationMetadata",
      "description": "Details of operations that perform create FeatureView.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for FeatureView Create."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilitySessionScopePredicate": {
      "id": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilitySessionScopePredicate",
      "properties": {
        "userTurns": {
          "description": "Filter on the number of user turns within a session.",
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate"
        },
        "toolCallErrors": {
          "description": "Filter on the number of tool call errors within a session.",
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate"
        },
        "duration": {
          "description": "Filter on the duration of a session (in seconds).",
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate"
        },
        "modelCalls": {
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate",
          "description": "Filter on the number of underlying LLM calls within a session."
        },
        "toolCalls": {
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate",
          "description": "Filter on the number of underlying tool calls within a session."
        },
        "modelCallErrors": {
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate",
          "description": "Filter on the number of LLM call errors within a session."
        },
        "totalTokenUsage": {
          "description": "Filter on the total token usage within a session.",
          "$ref": "GoogleCloudAiplatformV1OnlineEvaluatorCloudObservabilityNumericPredicate"
        }
      },
      "type": "object",
      "description": "Defines a single filter predicate."
    },
    "CloudAiLargeModelsVisionMedia": {
      "id": "CloudAiLargeModelsVisionMedia",
      "properties": {
        "image": {
          "$ref": "CloudAiLargeModelsVisionImage",
          "description": "Image."
        },
        "video": {
          "description": "Video",
          "$ref": "CloudAiLargeModelsVisionVideo"
        }
      },
      "description": "Media.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecValue": {
      "description": "Single value that supports strings and floats.",
      "type": "object",
      "properties": {
        "stringValue": {
          "description": "String type.",
          "type": "string"
        },
        "floatValue": {
          "type": "number",
          "description": "Float type.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpecValue"
    },
    "GoogleCloudAiplatformV1RagChunk": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The content of the chunk.",
          "type": "string"
        },
        "fileId": {
          "type": "string",
          "description": "The ID of the file that the chunk belongs to."
        },
        "pageSpan": {
          "description": "If populated, represents where the chunk starts and ends in the document.",
          "$ref": "GoogleCloudAiplatformV1RagChunkPageSpan"
        },
        "chunkId": {
          "type": "string",
          "description": "The ID of the chunk."
        }
      },
      "id": "GoogleCloudAiplatformV1RagChunk",
      "description": "A RagChunk includes the content of a chunk of a RagFile, and associated metadata."
    },
    "GoogleCloudAiplatformV1TuningDataStats": {
      "id": "GoogleCloudAiplatformV1TuningDataStats",
      "description": "The tuning data statistic values for TuningJob.",
      "type": "object",
      "properties": {
        "preferenceOptimizationDataStats": {
          "$ref": "GoogleCloudAiplatformV1PreferenceOptimizationDataStats",
          "description": "Output only. Statistics for preference optimization.",
          "readOnly": true
        },
        "supervisedTuningDataStats": {
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDataStats",
          "description": "The SFT Tuning data stats."
        }
      }
    },
    "GoogleCloudAiplatformV1EmbedContentResponseEmbedding": {
      "type": "object",
      "description": "A list of floats representing an embedding.",
      "id": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding",
      "properties": {
        "values": {
          "type": "array",
          "description": "Embedding vector values.",
          "items": {
            "type": "number",
            "format": "float"
          }
        }
      }
    },
    "CloudAiLargeModelsVisionGenerateVideoRequestAudio": {
      "description": "The raw bytes or Cloud Storage URI for an audio input.",
      "type": "object",
      "id": "CloudAiLargeModelsVisionGenerateVideoRequestAudio",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the content of the audio. Only audio in below listed MIME types are supported. - audio/wav - audio/mp3 - audio/mpeg",
          "type": "string"
        },
        "blobId": {
          "type": "string",
          "description": "Blob ID of the audio. This is used for storing the large audio in the request."
        },
        "bytesBase64Encoded": {
          "description": "Base64 encoded bytes string representing the audio.",
          "type": "string"
        },
        "gcsUri": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListNasTrialDetailsResponse": {
      "description": "Response message for JobService.ListNasTrialDetails",
      "id": "GoogleCloudAiplatformV1ListNasTrialDetailsResponse",
      "type": "object",
      "properties": {
        "nasTrialDetails": {
          "description": "List of top NasTrials in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NasTrialDetail"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListNasTrialDetailsRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult",
      "description": "Prediction output format for Image and Text Classification.",
      "type": "object",
      "properties": {
        "ids": {
          "description": "The resource IDs of the AnnotationSpecs that had been identified.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "confidences": {
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array",
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids."
        },
        "displayNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecPartList": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecPartList",
      "description": "A list of elements and information that make up a portion of prompt.",
      "properties": {
        "parts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Part"
          },
          "type": "array",
          "description": "A list of elements that can be part of a prompt."
        }
      }
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDb": {
      "description": "The config for the default RAG-managed Vector DB.",
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDb",
      "type": "object",
      "properties": {
        "knn": {
          "description": "Performs a KNN search on RagCorpus. Default choice if not specified.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbKNN"
        },
        "ann": {
          "description": "Performs an ANN search on RagCorpus. Use this if you have a lot of files (> 10K) in your RagCorpus and want to reduce the search latency.",
          "$ref": "GoogleCloudAiplatformV1RagVectorDbConfigRagManagedDbANN"
        }
      }
    },
    "GoogleCloudAiplatformV1SpeakerVoiceConfig": {
      "description": "Configuration for a single speaker in a multi-speaker setup.",
      "properties": {
        "speaker": {
          "description": "Required. The name of the speaker. This should be the same as the speaker name used in the prompt.",
          "type": "string"
        },
        "voiceConfig": {
          "$ref": "GoogleCloudAiplatformV1VoiceConfig",
          "description": "Required. The configuration for the voice of this speaker."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SpeakerVoiceConfig"
    },
    "GoogleCloudAiplatformV1HyperparameterTuningJob": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when the HyperparameterTuningJob was most recently updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "studySpec": {
          "$ref": "GoogleCloudAiplatformV1StudySpec",
          "description": "Required. Study configuration of the HyperparameterTuningJob."
        },
        "endTime": {
          "description": "Output only. Time when the HyperparameterTuningJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the HyperparameterTuningJob. The name can be up to 128 characters long and can consist of any UTF-8 characters."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key options for a HyperparameterTuningJob. If this is set, then all resources created by the HyperparameterTuningJob will be encrypted with the provided encryption key."
        },
        "state": {
          "description": "Output only. The detailed state of the job.",
          "readOnly": true,
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED",
            "JOB_STATE_UPDATING",
            "JOB_STATE_PARTIALLY_SUCCEEDED"
          ],
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired.",
            "The job is being updated. Only jobs in the `RUNNING` state can be updated. After updating, the job goes back to the `RUNNING` state.",
            "The job is partially succeeded, some results may be missing due to errors."
          ],
          "type": "string"
        },
        "trialJobSpec": {
          "description": "Required. The spec of a trial job. The same spec applies to the CustomJobs created in all the trials.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "maxTrialCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The desired total number of Trials."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the HyperparameterTuningJob."
        },
        "trials": {
          "description": "Output only. Trials of the HyperparameterTuningJob.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1Trial"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the HyperparameterTuningJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "readOnly": true,
          "description": "Output only. Only populated when job's state is JOB_STATE_FAILED or JOB_STATE_CANCELLED."
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize HyperparameterTuningJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maxFailedTrialCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of failed Trials that need to be seen before failing the HyperparameterTuningJob. If set to 0, Vertex AI decides how many Trials must fail before the whole job fails."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the HyperparameterTuningJob was created."
        },
        "parallelTrialCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The desired number of Trials to run in parallel."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        }
      },
      "id": "GoogleCloudAiplatformV1HyperparameterTuningJob",
      "description": "Represents a HyperparameterTuningJob. A HyperparameterTuningJob has a Study specification and multiple CustomJobs with identical CustomJob specification."
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesPayload": {
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesPayload",
      "description": "Contains Feature values to be written for a specific entity.",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Required. The ID of the entity.",
          "type": "string"
        },
        "featureValues": {
          "description": "Required. Feature values to be written, mapping from Feature ID to value. Up to 100,000 `feature_values` entries may be written across all payloads. The feature generation time, aligned by days, must be no older than five years (1825 days) and no later than one year (366 days) in the future.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1FeatureValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1GroundingChunkMapsRoute": {
      "id": "GoogleCloudAiplatformV1GroundingChunkMapsRoute",
      "type": "object",
      "description": "Route information from Google Maps.",
      "properties": {
        "duration": {
          "format": "google-duration",
          "description": "The total duration of the route.",
          "type": "string"
        },
        "encodedPolyline": {
          "type": "string",
          "description": "An encoded polyline of the route. See https://developers.google.com/maps/documentation/utilities/polylinealgorithm"
        },
        "distanceMeters": {
          "type": "integer",
          "description": "The total distance of the route, in meters.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1ExternalApiSimpleSearchParams": {
      "type": "object",
      "description": "The search parameters to use for SIMPLE_SEARCH spec.",
      "id": "GoogleCloudAiplatformV1ExternalApiSimpleSearchParams",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ToolComputerUse": {
      "id": "GoogleCloudAiplatformV1ToolComputerUse",
      "properties": {
        "environment": {
          "enumDescriptions": [
            "Defaults to browser.",
            "Operates in a web browser.",
            "Operates in a mobile environment.",
            "Operates in a desktop environment."
          ],
          "type": "string",
          "description": "Required. The environment being operated.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_BROWSER",
            "ENVIRONMENT_MOBILE",
            "ENVIRONMENT_DESKTOP"
          ]
        },
        "excludedPredefinedFunctions": {
          "type": "array",
          "description": "Optional. By default, [predefined functions](https://cloud.google.com/vertex-ai/generative-ai/docs/computer-use#supported-actions) are included in the final model call. Some of them can be explicitly excluded from being automatically included. This can serve two purposes: 1. Using a more restricted / different action space. 2. Improving the definitions / instructions of predefined functions.",
          "items": {
            "type": "string"
          }
        },
        "enablePromptInjectionDetection": {
          "description": "Optional. Enables the prompt injection detection check on computer-use request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Tool to support computer use."
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTextExtractionPredictionResult": {
      "description": "Prediction output format for Text Extraction.",
      "properties": {
        "displayNames": {
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ids": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "The resource IDs of the AnnotationSpecs that had been identified, ordered by the confidence score descendingly."
        },
        "confidences": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "type": "array",
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids."
        },
        "textSegmentStartOffsets": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "The start offsets, inclusive, of the text segment in which the AnnotationSpec has been identified. Expressed as a zero-based number of characters as measured from the start of the text snippet.",
          "type": "array"
        },
        "textSegmentEndOffsets": {
          "type": "array",
          "description": "The end offsets, inclusive, of the text segment in which the AnnotationSpec has been identified. Expressed as a zero-based number of characters as measured from the start of the text snippet.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTextExtractionPredictionResult"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics": {
      "properties": {
        "iouThreshold": {
          "type": "number",
          "format": "float",
          "description": "The intersection-over-union threshold value used to compute this metrics entry."
        },
        "meanAveragePrecision": {
          "description": "The mean average precision, most often close to `auPrc`.",
          "type": "number",
          "format": "float"
        },
        "confidenceMetrics": {
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics",
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerationConfigRoutingConfigManualRoutingMode": {
      "description": "The configuration for manual routing. When manual routing is specified, the model will be selected based on the model name provided.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerationConfigRoutingConfigManualRoutingMode",
      "properties": {
        "modelName": {
          "description": "The name of the model to use. Only public LLM models are accepted.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchInstance": {
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchInstance",
      "type": "object",
      "properties": {
        "referenceTrajectory": {
          "description": "Required. Spec for reference tool call trajectory.",
          "$ref": "GoogleCloudAiplatformV1Trajectory"
        },
        "predictedTrajectory": {
          "$ref": "GoogleCloudAiplatformV1Trajectory",
          "description": "Required. Spec for predicted tool call trajectory."
        }
      },
      "description": "Spec for TrajectoryInOrderMatch instance."
    },
    "GoogleCloudAiplatformV1SearchEntryPoint": {
      "id": "GoogleCloudAiplatformV1SearchEntryPoint",
      "description": "An entry point for displaying Google Search results. A `SearchEntryPoint` is populated when the grounding source for a model's response is Google Search. It provides information that you can use to display the search results in your application.",
      "properties": {
        "renderedContent": {
          "type": "string",
          "description": "Optional. An HTML snippet that can be embedded in a web page or an application's webview. This snippet displays a search result, including the title, URL, and a brief description of the search result."
        },
        "sdkBlob": {
          "type": "string",
          "description": "Optional. A base64-encoded JSON object that contains a list of search queries and their corresponding search URLs. This information can be used to build a custom search UI.",
          "format": "byte"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest": {
      "properties": {
        "tensorboardTimeSeriesId": {
          "type": "string",
          "description": "Optional. The user specified unique ID to use for the TensorboardTimeSeries, which becomes the final component of the TensorboardTimeSeries's resource name. This value should match \"a-z0-9{0, 127}\""
        },
        "parent": {
          "type": "string",
          "description": "Required. The resource name of the TensorboardRun to create the TensorboardTimeSeries in. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`"
        },
        "tensorboardTimeSeries": {
          "description": "Required. The TensorboardTimeSeries to create.",
          "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
        }
      },
      "type": "object",
      "description": "Request message for TensorboardService.CreateTensorboardTimeSeries.",
      "id": "GoogleCloudAiplatformV1CreateTensorboardTimeSeriesRequest"
    },
    "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigPredictionDriftDetectionConfig": {
      "properties": {
        "driftThresholds": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
          },
          "description": "Key is the feature name and value is the threshold. If a feature needs to be monitored for drift, a value threshold must be configured for that feature. The threshold here is against feature distribution distance between different time windws.",
          "type": "object"
        },
        "defaultDriftThreshold": {
          "description": "Drift anomaly detection threshold used by all features. When the per-feature thresholds are not set, this field can be used to specify a threshold for all features.",
          "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
        },
        "attributionScoreDriftThresholds": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ThresholdConfig"
          },
          "description": "Key is the feature name and value is the threshold. The threshold here is against attribution score distance between different time windows."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigPredictionDriftDetectionConfig",
      "description": "The config for Prediction data drift detection."
    },
    "GoogleCloudAiplatformV1VertexAISearchDataStoreSpec": {
      "description": "Define data stores within engine to filter on in a search call and configurations for those data stores. For more information, see https://cloud.google.com/generative-ai-app-builder/docs/reference/rpc/google.cloud.discoveryengine.v1#datastorespec",
      "type": "object",
      "id": "GoogleCloudAiplatformV1VertexAISearchDataStoreSpec",
      "properties": {
        "dataStore": {
          "type": "string",
          "description": "Full resource name of DataStore, such as Format: `projects/{project}/locations/{location}/collections/{collection}/dataStores/{dataStore}`"
        },
        "filter": {
          "description": "Optional. Filter specification to filter documents in the data store specified by data_store field. For more information on filtering, see [Filtering](https://cloud.google.com/generative-ai-app-builder/docs/filter-search-metadata)",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RawOutput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RawOutput",
      "description": "Raw output.",
      "properties": {
        "rawOutput": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Raw output string.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimilaritySearchParams": {
      "type": "object",
      "description": "Parameters for semantic similarity search based retrieval.",
      "id": "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimilaritySearchParams",
      "properties": {
        "topK": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of memories to return. The service may return fewer than this value. If unspecified, at most 3 memories will be returned. The maximum value is 100; values above 100 will be coerced to 100."
        },
        "searchQuery": {
          "type": "string",
          "description": "Required. Query to use for similarity search retrieval. If provided, then the parent ReasoningEngine must have ReasoningEngineContextSpec.MemoryBankConfig.SimilaritySearchConfig set."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextExtractionAnnotation": {
      "id": "GoogleCloudAiplatformV1SchemaTextExtractionAnnotation",
      "properties": {
        "annotationSpecId": {
          "type": "string",
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the AnnotationSpec that this Annotation pertains to."
        },
        "textSegment": {
          "description": "The segment of the text content.",
          "$ref": "GoogleCloudAiplatformV1SchemaTextSegment"
        }
      },
      "type": "object",
      "description": "Annotation details specific to text extraction."
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSourceEvent": {
      "type": "object",
      "description": "A single piece of conversation from which to generate memories.",
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSourceEvent",
      "properties": {
        "content": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Required. A single piece of content from which to generate memories."
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewDirectWriteRequest": {
      "description": "Request message for FeatureOnlineStoreService.FeatureViewDirectWrite.",
      "id": "GoogleCloudAiplatformV1FeatureViewDirectWriteRequest",
      "type": "object",
      "properties": {
        "dataKeyAndFeatureValues": {
          "description": "Required. The data keys and associated feature values.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureViewDirectWriteRequestDataKeyAndFeatureValues"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1IntermediateExtractedMemory": {
      "description": "An extracted memory that is the intermediate result before consolidation.",
      "properties": {
        "fact": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the fact of the extracted memory."
        },
        "context": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the explanation of why the information was extracted from the source content."
        },
        "structuredData": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "readOnly": true,
          "description": "Output only. Represents the structured value of the extracted memory."
        }
      },
      "id": "GoogleCloudAiplatformV1IntermediateExtractedMemory",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ExplanationMetadata": {
      "properties": {
        "outputs": {
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOutputMetadata"
          },
          "description": "Required. Map from output names to output metadata. For Vertex AI-provided Tensorflow images, keys can be any user defined string that consists of any UTF-8 characters. For custom images, keys are the name of the output field in the prediction to be explained. Currently only one key is allowed.",
          "type": "object"
        },
        "featureAttributionsSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing the format of the feature attributions. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). AutoML tabular Models always have this field populated by Vertex AI. Note: The URI given on output may be different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "latentSpaceSource": {
          "description": "Name of the source to generate embeddings for example based explanations.",
          "type": "string"
        },
        "inputs": {
          "description": "Required. Map from feature names to feature input metadata. Keys are the name of the features. Values are the specification of the feature. An empty InputMetadata is valid. It describes a text feature which has the name specified as the key in ExplanationMetadata.inputs. The baseline of the empty feature is chosen by Vertex AI. For Vertex AI-provided Tensorflow images, the key can be any friendly name of the feature. Once specified, featureAttributions are keyed by this key (if not grouped with another feature). For custom images, the key must match with the key in instance.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ExplanationMetadataInputMetadata"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplanationMetadata",
      "description": "Metadata describing the Model's input and output for explanation."
    },
    "GoogleCloudAiplatformV1CreateFeatureRequest": {
      "type": "object",
      "description": "Request message for FeaturestoreService.CreateFeature. Request message for FeatureRegistryService.CreateFeature.",
      "id": "GoogleCloudAiplatformV1CreateFeatureRequest",
      "properties": {
        "feature": {
          "description": "Required. The Feature to create.",
          "$ref": "GoogleCloudAiplatformV1Feature"
        },
        "parent": {
          "description": "Required. The resource name of the EntityType or FeatureGroup to create a Feature. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
          "type": "string"
        },
        "featureId": {
          "type": "string",
          "description": "Required. The ID to use for the Feature, which will become the final component of the Feature's resource name. This value may be up to 128 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within an EntityType/FeatureGroup."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetricsConfidenceMetrics": {
      "properties": {
        "precision": {
          "description": "Output only. Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "Output only. The harmonic mean of recall and precision."
        },
        "recall": {
          "description": "Output only. Recall for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "description": "Output only. The confidence threshold value used to compute the metrics.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoActionMetricsConfidenceMetrics",
      "description": "Metrics for a single confidence threshold."
    },
    "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse": {
      "id": "GoogleCloudAiplatformV1ReadTensorboardBlobDataResponse",
      "properties": {
        "blobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardBlob"
          },
          "description": "Blob messages containing blob bytes."
        }
      },
      "description": "Response message for TensorboardService.ReadTensorboardBlobData.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListHyperparameterTuningJobsResponse": {
      "id": "GoogleCloudAiplatformV1ListHyperparameterTuningJobsResponse",
      "properties": {
        "hyperparameterTuningJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1HyperparameterTuningJob"
          },
          "description": "List of HyperparameterTuningJobs in the requested page. HyperparameterTuningJob.trials of the jobs will be not be returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass to ListHyperparameterTuningJobsRequest.page_token to obtain that page."
        }
      },
      "type": "object",
      "description": "Response message for JobService.ListHyperparameterTuningJobs"
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesResponse": {
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesResponse",
      "description": "Response message for FeaturestoreService.ExportFeatureValues.",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentation": {
      "description": "A TrainingJob that trains and uploads an AutoML Image Segmentation Model.",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationMetadata",
          "description": "The metadata information."
        },
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentationInputs"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageSegmentation"
    },
    "GoogleCloudAiplatformV1ModelMonitoringAlertConfig": {
      "description": "The alert config for model monitoring.",
      "type": "object",
      "properties": {
        "notificationChannels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource names of the NotificationChannels to send alert. Must be of the format `projects//notificationChannels/`"
        },
        "enableLogging": {
          "description": "Dump the anomalies to Cloud Logging. The anomalies will be put to json payload encoded from proto ModelMonitoringStatsAnomalies. This can be further synced to Pub/Sub or any other services supported by Cloud Logging.",
          "type": "boolean"
        },
        "emailAlertConfig": {
          "description": "Email alert config.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringAlertConfigEmailAlertConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelMonitoringAlertConfig"
    },
    "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchInput": {
      "id": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchInput",
      "properties": {
        "instances": {
          "description": "Required. Repeated TrajectoryAnyOrderMatch instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchInstance"
          }
        },
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchSpec",
          "description": "Required. Spec for TrajectoryAnyOrderMatch metric."
        }
      },
      "type": "object",
      "description": "Instances and metric spec for TrajectoryAnyOrderMatch metric."
    },
    "GoogleCloudAiplatformV1ToolCodeExecution": {
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also ExecutableCode and CodeExecutionResult, which are input and output to this tool.",
      "id": "GoogleCloudAiplatformV1ToolCodeExecution",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1SlackSourceSlackChannels": {
      "id": "GoogleCloudAiplatformV1SlackSourceSlackChannels",
      "description": "SlackChannels contains the Slack channels and corresponding access token.",
      "type": "object",
      "properties": {
        "channels": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SlackSourceSlackChannelsSlackChannel"
          },
          "description": "Required. The Slack channel IDs.",
          "type": "array"
        },
        "apiKeyConfig": {
          "description": "Required. The SecretManager secret version resource name (e.g. projects/{project}/secrets/{secret}/versions/{version}) storing the Slack channel access token that has access to the slack channel IDs. See: https://api.slack.com/tutorials/tracks/getting-a-token.",
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1AvroSource": {
      "description": "The storage details for Avro input content.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        }
      },
      "id": "GoogleCloudAiplatformV1AvroSource"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec",
      "description": "Specification for deploying from source code.",
      "properties": {
        "developerConnectSource": {
          "description": "Source code is in a Git repository managed by Developer Connect.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectSource"
        },
        "pythonSpec": {
          "description": "Configuration for a Python application.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecPythonSpec"
        },
        "imageSpec": {
          "description": "Optional. Configuration for building an image with custom config file.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecImageSpec"
        },
        "inlineSource": {
          "description": "Source code is provided directly in the request.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource"
        },
        "agentConfigSource": {
          "description": "Source code is generated from the agent config.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSource"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics": {
      "properties": {
        "exactMatch": {
          "description": "The rate at which the input predicted strings exactly match their references.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics"
    },
    "GoogleCloudAiplatformV1CometInput": {
      "properties": {
        "instance": {
          "$ref": "GoogleCloudAiplatformV1CometInstance",
          "description": "Required. Comet instance."
        },
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1CometSpec",
          "description": "Required. Spec for comet metric."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CometInput",
      "description": "Input for Comet metric."
    },
    "GoogleCloudAiplatformV1OutputInfo": {
      "type": "object",
      "description": "Describes the info for output of EvaluationService.",
      "properties": {
        "gcsOutputDirectory": {
          "description": "Output only. The full path of the Cloud Storage directory created, into which the evaluation results and aggregation results are written.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1OutputInfo"
    },
    "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityInstance",
      "properties": {
        "instruction": {
          "description": "Required. Question Answering prompt for LLM.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Required. Text to answer the question."
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "prediction": {
          "type": "string",
          "description": "Required. Output of the candidate model."
        },
        "baselinePrediction": {
          "type": "string",
          "description": "Required. Output of the baseline model."
        }
      },
      "description": "Spec for pairwise question answering quality instance."
    },
    "GoogleCloudAiplatformV1GenerateContentResponsePromptFeedback": {
      "properties": {
        "blockReason": {
          "enumDescriptions": [
            "The blocked reason is unspecified.",
            "The prompt was blocked for safety reasons.",
            "The prompt was blocked for other reasons. For example, it may be due to the prompt's language, or because it contains other harmful content.",
            "The prompt was blocked because it contains a term from the terminology blocklist.",
            "The prompt was blocked because it contains prohibited content.",
            "The prompt was blocked by Model Armor.",
            "The prompt was blocked because it contains content that is unsafe for image generation.",
            "The prompt was blocked as a jailbreak attempt."
          ],
          "enum": [
            "BLOCKED_REASON_UNSPECIFIED",
            "SAFETY",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "JAILBREAK"
          ],
          "type": "string",
          "description": "Output only. The reason why the prompt was blocked.",
          "readOnly": true
        },
        "blockReasonMessage": {
          "description": "Output only. A readable message that explains the reason why the prompt was blocked.",
          "type": "string",
          "readOnly": true
        },
        "safetyRatings": {
          "description": "Output only. A list of safety ratings for the prompt. There is one rating per category.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Content filter results for a prompt sent in the request. Note: This is sent only in the first stream chunk and only if no candidates were generated due to content violations.",
      "id": "GoogleCloudAiplatformV1GenerateContentResponsePromptFeedback"
    },
    "GoogleCloudAiplatformV1ImageResponseFormat": {
      "description": "Configuration for image-specific output formatting.",
      "properties": {
        "imageSize": {
          "description": "Optional. The size of the image output.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "512px image size.",
            "1K image size.",
            "2K image size.",
            "4K image size."
          ],
          "enum": [
            "IMAGE_SIZE_UNSPECIFIED",
            "IMAGE_SIZE_FIVE_TWELVE",
            "IMAGE_SIZE_ONE_K",
            "IMAGE_SIZE_TWO_K",
            "IMAGE_SIZE_FOUR_K"
          ],
          "type": "string"
        },
        "mimeType": {
          "enum": [
            "MIME_TYPE_UNSPECIFIED",
            "IMAGE_JPEG"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "JPEG image format."
          ],
          "type": "string",
          "description": "Optional. The MIME type of the image output."
        },
        "delivery": {
          "type": "string",
          "enum": [
            "DELIVERY_UNSPECIFIED",
            "INLINE",
            "URI"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Generated bytes are returned inline in the response.",
            "Generated content is stored and a URI is returned."
          ],
          "description": "Optional. Delivery mode for the generated content."
        },
        "aspectRatio": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "1:1 aspect ratio.",
            "2:3 aspect ratio.",
            "3:2 aspect ratio.",
            "3:4 aspect ratio.",
            "4:3 aspect ratio.",
            "4:5 aspect ratio.",
            "5:4 aspect ratio.",
            "9:16 aspect ratio.",
            "16:9 aspect ratio.",
            "21:9 aspect ratio.",
            "1:8 aspect ratio.",
            "8:1 aspect ratio.",
            "1:4 aspect ratio.",
            "4:1 aspect ratio."
          ],
          "enum": [
            "ASPECT_RATIO_UNSPECIFIED",
            "ASPECT_RATIO_ONE_BY_ONE",
            "ASPECT_RATIO_TWO_BY_THREE",
            "ASPECT_RATIO_THREE_BY_TWO",
            "ASPECT_RATIO_THREE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_THREE",
            "ASPECT_RATIO_FOUR_BY_FIVE",
            "ASPECT_RATIO_FIVE_BY_FOUR",
            "ASPECT_RATIO_NINE_BY_SIXTEEN",
            "ASPECT_RATIO_SIXTEEN_BY_NINE",
            "ASPECT_RATIO_TWENTY_ONE_BY_NINE",
            "ASPECT_RATIO_ONE_BY_EIGHT",
            "ASPECT_RATIO_EIGHT_BY_ONE",
            "ASPECT_RATIO_ONE_BY_FOUR",
            "ASPECT_RATIO_FOUR_BY_ONE"
          ],
          "type": "string",
          "description": "Optional. The aspect ratio for the image output."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ImageResponseFormat"
    },
    "GoogleCloudAiplatformV1GenerationConfigThinkingConfig": {
      "type": "object",
      "properties": {
        "includeThoughts": {
          "type": "boolean",
          "description": "Optional. If true, the model will include its thoughts in the response. \"Thoughts\" are the intermediate steps the model takes to arrive at the final response. They can provide insights into the model's reasoning process and help with debugging. If this is true, thoughts are returned only when available."
        },
        "thinkingLevel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level.",
            "MINIMAL thinking level."
          ],
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "MINIMAL"
          ],
          "description": "Optional. The number of thoughts tokens that the model should generate."
        },
        "thinkingBudget": {
          "format": "int32",
          "description": "Optional. The token budget for the model's thinking process. The model will make a best effort to stay within this budget. This can be used to control the trade-off between response quality and latency.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1GenerationConfigThinkingConfig",
      "description": "Configuration for the model's thinking features. \"Thinking\" is a process where the model breaks down a complex task into smaller, manageable steps. This allows the model to reason about the task, plan its approach, and execute the plan to generate a high-quality response."
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesResponse": {
      "description": "Response message for MigrationService.BatchMigrateResources.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesResponse",
      "properties": {
        "migrateResourceResponses": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigrateResourceResponse"
          },
          "type": "array",
          "description": "Successfully migrated resources."
        }
      }
    },
    "GoogleCloudAiplatformV1FulfillmentSpec": {
      "properties": {
        "version": {
          "format": "int32",
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer"
        }
      },
      "description": "Spec for fulfillment metric.",
      "id": "GoogleCloudAiplatformV1FulfillmentSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureViewIndexConfig": {
      "properties": {
        "distanceMeasureType": {
          "enumDescriptions": [
            "Should not be set.",
            "Euclidean (L_2) Distance.",
            "Cosine Distance. Defined as 1 - cosine similarity. We strongly suggest using DOT_PRODUCT_DISTANCE + UNIT_L2_NORM instead of COSINE distance. Our algorithms have been more optimized for DOT_PRODUCT distance which, when combined with UNIT_L2_NORM, is mathematically equivalent to COSINE distance and results in the same ranking.",
            "Dot Product Distance. Defined as a negative of the dot product."
          ],
          "type": "string",
          "enum": [
            "DISTANCE_MEASURE_TYPE_UNSPECIFIED",
            "SQUARED_L2_DISTANCE",
            "COSINE_DISTANCE",
            "DOT_PRODUCT_DISTANCE"
          ],
          "description": "Optional. The distance measure used in nearest neighbor search."
        },
        "embeddingDimension": {
          "type": "integer",
          "description": "Optional. The number of dimensions of the input embedding.",
          "format": "int32"
        },
        "crowdingColumn": {
          "description": "Optional. Column of crowding. This column contains crowding attribute which is a constraint on a neighbor list produced by FeatureOnlineStoreService.SearchNearestEntities to diversify search results. If NearestNeighborQuery.per_crowding_attribute_neighbor_count is set to K in SearchNearestEntitiesRequest, it's guaranteed that no more than K entities of the same crowding attribute are returned in the response.",
          "type": "string"
        },
        "filterColumns": {
          "type": "array",
          "description": "Optional. Columns of features that're used to filter vector search results.",
          "items": {
            "type": "string"
          }
        },
        "bruteForceConfig": {
          "description": "Optional. Configuration options for using brute force search, which simply implements the standard linear search in the database for each query. It is primarily meant for benchmarking and to generate the ground truth for approximate search.",
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfigBruteForceConfig"
        },
        "treeAhConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfigTreeAHConfig",
          "description": "Optional. Configuration options for the tree-AH algorithm (Shallow tree + Asymmetric Hashing). Please refer to this paper for more details: https://arxiv.org/abs/1908.10396"
        },
        "embeddingColumn": {
          "type": "string",
          "description": "Optional. Column of embedding. This column contains the source data to create index for vector search. embedding_column must be set when using vector search."
        }
      },
      "type": "object",
      "description": "Configuration for vector indexing.",
      "id": "GoogleCloudAiplatformV1FeatureViewIndexConfig"
    },
    "GoogleIamV1Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
[...]
