{
  "version": "v1beta1",
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "id": "alertcenter:v1beta1",
  "ownerDomain": "google.com",
  "title": "Google Workspace Alert Center API",
  "discoveryVersion": "v1",
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/settings",
          "flatPath": "v1beta1/settings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns customer-level settings.",
          "httpMethod": "GET",
          "id": "alertcenter.getSettings"
        },
        "updateSettings": {
          "httpMethod": "PATCH",
          "parameterOrder": [],
          "request": {
            "$ref": "Settings"
          },
          "id": "alertcenter.updateSettings",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "flatPath": "v1beta1/settings"
        }
      }
    },
    "alerts": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.delete",
          "flatPath": "v1beta1/alerts/{alertId}",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            },
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to delete.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "getMetadata": {
          "httpMethod": "GET",
          "id": "alertcenter.alerts.getMetadata",
          "path": "v1beta1/alerts/{alertId}/metadata",
          "parameterOrder": [
            "alertId"
          ],
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "AlertMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "batchDelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "Performs batch delete operation on alerts.",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "flatPath": "v1beta1/alerts:batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "id": "alertcenter.alerts.batchDelete"
        },
        "batchUndelete": {
          "id": "alertcenter.alerts.batchUndelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "path": "v1beta1/alerts:batchUndelete",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchUndelete",
          "description": "Performs batch undelete operation on alerts."
        },
        "undelete": {
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "id": "alertcenter.alerts.undelete",
          "response": {
            "$ref": "Alert"
          },
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "path": "v1beta1/alerts",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "flatPath": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.list",
          "description": "Lists the alerts.",
          "response": {
            "$ref": "ListAlertsResponse"
          }
        },
        "get": {
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "id": "alertcenter.alerts.get",
          "response": {
            "$ref": "Alert"
          },
          "path": "v1beta1/alerts/{alertId}",
          "flatPath": "v1beta1/alerts/{alertId}"
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "request": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "parameters": {
                "customerId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "response": {
                "$ref": "AlertFeedback"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST"
            },
            "list": {
              "parameters": {
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query",
                  "type": "string"
                },
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameterOrder": [
                "alertId"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "GET",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "id": "alertcenter.alerts.feedback.list",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "revision": "20260831",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "name": "alertcenter",
  "servicePath": "",
  "schemas": {
    "AlertMetadata": {
      "id": "AlertMetadata",
      "description": "An alert metadata.",
      "type": "object",
      "properties": {
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this metadata was last updated.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        }
      }
    },
    "TransferError": {
      "id": "TransferError",
      "description": "Details for an invalid transfer or forward.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "invalidReason": {
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string"
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER."
        },
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        }
      }
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      },
      "description": "Detector provided by Google.",
      "type": "object"
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "type": "object",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      },
      "description": "Metadata related to the action."
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "type": "object",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "affectedUserEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident."
        },
        "domain": {
          "type": "string",
          "description": "Customer domain for email template personalization."
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        }
      }
    },
    "SSOProfileDeletedEvent": {
      "id": "SSOProfileDeletedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder"
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "type": "object",
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail"
    },
    "DriveSyncStateChanged": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the user affected."
        },
        "syncPauseStartTime": {
          "description": "Time at which sync was paused.",
          "format": "google-datetime",
          "type": "string"
        },
        "syncState": {
          "description": "The current sync state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ]
        },
        "syncStateChangeReason": {
          "description": "The reason for the sync state change.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ]
        }
      },
      "type": "object",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "id": "DriveSyncStateChanged"
    },
    "AppSettingsChanged": {
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "id": "AppSettingsChanged",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        }
      },
      "type": "object"
    },
    "BadWhitelist": {
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "type": "object",
      "id": "BadWhitelist",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
    },
    "SSOProfileCreatedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileCreatedEvent",
      "type": "object"
    },
    "UserChanges": {
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "id": "UserChanges",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of alert IDs to undelete."
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsRequest"
    },
    "ApnsCertificateExpirationInfo": {
      "type": "object",
      "id": "ApnsCertificateExpirationInfo",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "appleId": {
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it.",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The expiration date of the APNS certificate."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "description": "Customer-level settings."
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "id": "DlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      },
      "type": "object"
    },
    "PrimaryAdminChangedEvent": {
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        },
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        }
      },
      "id": "PrimaryAdminChangedEvent",
      "type": "object"
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "id": "MatchInfo",
      "type": "object",
      "properties": {
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        },
        "userDefinedDetector": {
          "$ref": "UserDefinedDetectorInfo",
          "description": "For matched detector defined by administrators."
        }
      }
    },
    "DomainId": {
      "id": "DomainId",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "description": "Domain ID of Gmail phishing alerts."
    },
    "SSOProfileUpdatedEvent": {
      "type": "object",
      "properties": {
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        },
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got updated"
        }
      },
      "id": "SSOProfileUpdatedEvent",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder"
    },
    "TransferMisconfiguration": {
      "type": "object",
      "description": "Error related to transferring or forwarding a phone call.",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "TransferError"
          },
          "description": "Details for each invalid transfer or forward."
        }
      },
      "id": "TransferMisconfiguration"
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "type": "object",
      "properties": {
        "keyServiceError": {
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration.",
          "type": "array"
        },
        "idpError": {
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          }
        }
      },
      "description": "Alerts for client-side encryption outages."
    },
    "AccountWarning": {
      "description": "Alerts for user account warning events.",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "id": "AccountWarning",
      "type": "object"
    },
    "KeyServiceError": {
      "type": "object",
      "id": "KeyServiceError",
      "properties": {
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "format": "int64",
          "type": "string"
        },
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "format": "int64",
          "type": "string"
        },
        "keyServiceUrl": {
          "description": "Url of the external key service.",
          "type": "string"
        },
        "errorInfo": {
          "type": "string",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "description": "Info on the key service error.",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ]
        }
      },
      "description": "Error related to an external key service."
    },
    "Notification": {
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "type": "object",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      }
    },
    "StateSponsoredAttack": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack"
    },
    "AccessApproval": {
      "properties": {
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "justificationReason": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ]
          },
          "description": "Justification for data access based on justification enums."
        },
        "officeLocation": {
          "type": "string",
          "description": "Office location of Google staff requesting access such as \"US\"."
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Products within scope of the Access Approvals request."
        },
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        }
      },
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "type": "object"
    },
    "SuspiciousActivity": {
      "type": "object",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivity"
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "type": "object",
      "properties": {
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The sent time of the email."
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "The date of the event related to this email.",
          "format": "google-datetime"
        }
      },
      "description": "Details of a message in phishing spike alert."
    },
    "AlertFeedback": {
      "type": "object",
      "description": "A customer feedback about an alert.",
      "id": "AlertFeedback",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "description": "Required. The type of the feedback.",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this feedback was created."
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        }
      }
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        }
      }
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsRequest"
    },
    "BatchDeleteAlertsResponse": {
      "type": "object",
      "id": "BatchDeleteAlertsResponse",
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`.",
          "type": "object"
        }
      },
      "description": "Response to batch delete operation on alerts."
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "properties": {
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        },
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        }
      },
      "id": "ResourceInfo",
      "type": "object"
    },
    "User": {
      "properties": {
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "type": "object",
      "id": "User",
      "description": "A user."
    },
    "VoicemailMisconfiguration": {
      "description": "Issue(s) with sending to voicemail.",
      "type": "object",
      "id": "VoicemailMisconfiguration",
      "properties": {
        "errors": {
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "type": "array"
        }
      }
    },
    "AppsOutage": {
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime",
          "type": "string"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of products impacted by the outage."
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "resolutionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known."
        },
        "status": {
          "type": "string",
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        }
      },
      "id": "AppsOutage",
      "type": "object"
    },
    "RuleInfo": {
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      },
      "description": "Proto that contains rule information.",
      "type": "object",
      "id": "RuleInfo"
    },
    "UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "type": "object",
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "id": "UndeleteAlertRequest"
    },
    "AbuseDetected": {
      "properties": {
        "variationType": {
          "type": "string",
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ]
        },
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        },
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        }
      },
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "type": "object",
      "id": "AbuseDetected"
    },
    "DomainWideTakeoutInitiated": {
      "properties": {
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        },
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "type": "object",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
    },
    "Csv": {
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "dataRows": {
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        }
      },
      "id": "Csv",
      "type": "object"
    },
    "AccountSuspensionWarning": {
      "properties": {
        "appealWindow": {
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration"
        },
        "suspensionDetails": {
          "type": "array",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "type": "string",
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ]
        }
      },
      "id": "AccountSuspensionWarning",
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object"
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "payloadFormat": {
          "type": "string",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON."
        },
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      }
    },
    "ListAlertFeedbackResponse": {
      "type": "object",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          }
        }
      },
      "description": "Response message for an alert feedback listing request.",
      "id": "ListAlertFeedbackResponse"
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request.",
      "properties": {
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        },
        "alerts": {
          "type": "array",
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          }
        }
      },
      "type": "object"
    },
    "DeviceManagementRule": {
      "properties": {
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        }
      },
      "id": "DeviceManagementRule",
      "description": "Alerts from Device Management Rules configured by Admin.",
      "type": "object"
    },
    "VaultAcceleratedDeletion": {
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The UTC timestamp of when the AD request was created"
        },
        "matterId": {
          "type": "string",
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request"
        },
        "actionType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string",
          "description": "The action can be one of create and cancel"
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "appType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VaultAcceleratedDeletion"
    },
    "MandatoryServiceAnnouncement": {
      "id": "MandatoryServiceAnnouncement",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        },
        "title": {
          "description": "One line summary of the announcement",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserDefinedDetectorInfo": {
      "description": "Detector defined by administrators.",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        }
      },
      "type": "object",
      "id": "UserDefinedDetectorInfo"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "MailPhishing": {
      "type": "object",
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "systemActionType": {
          "type": "string",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "description": "System actions on the messages.",
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ]
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "properties": {
        "failedAlertStatus": {
          "type": "object",
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The successful list of alert IDs."
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsResponse",
      "description": "Response to batch undelete operation on alerts."
    },
    "SensitiveAdminAction": {
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time at which event occurred",
          "type": "string"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        }
      },
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "id": "SensitiveAdminAction",
      "type": "object"
    },
    "VoicemailRecipientError": {
      "description": "Issue(s) with a voicemail recipient.",
      "properties": {
        "email": {
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted.",
          "type": "string"
        },
        "invalidReason": {
          "type": "string",
          "description": "Reason for the error.",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ]
        }
      },
      "type": "object",
      "id": "VoicemailRecipientError"
    },
    "MaliciousEntity": {
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "id": "MaliciousEntity",
      "type": "object"
    },
    "RequestInfo": {
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "type": "object",
      "properties": {
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "appDeveloperEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of app developers who triggered notifications for above application."
        }
      }
    },
    "PhishingSpike": {
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        }
      },
      "id": "PhishingSpike",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "id": "SuperAdminPasswordResetEvent",
      "type": "object",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      }
    },
    "LoginDetails": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        },
        "loginTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
        }
      },
      "description": "The details of the login action.",
      "id": "LoginDetails"
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "DeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      }
    },
    "Attachment": {
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment",
      "type": "object",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      }
    },
    "ActivityRule": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "windowSize": {
          "type": "string",
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "createTime": {
          "description": "Rule create timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the last update to the rule."
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "actionNames": {
          "items": {
            "type": "string"
          },
          "description": "List of action names associated with the rule threshold.",
          "type": "array"
        }
      },
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "ActivityRule"
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "properties": {
        "abuseReason": {
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning.",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ]
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "description": "Details about why an account is receiving an account suspension warning."
    },
    "ReportingRule": {
      "id": "ReportingRule",
      "type": "object",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "properties": {
        "alertDetails": {
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "query": {
          "type": "string",
          "format": "byte",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        }
      }
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AppMakerSqlSetupNotification"
    },
    "MergeInfo": {
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      },
      "description": "New alert tracking numbers.",
      "type": "object",
      "id": "MergeInfo"
    },
    "IdentityProviderError": {
      "description": "Error related to an identity provider.",
      "properties": {
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "format": "int64",
          "type": "string"
        },
        "errorInfo": {
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "description": "Info on the identity provider error.",
          "type": "string"
        },
        "authorizationBaseUrl": {
          "type": "string",
          "description": "Authorization base url of the identity provider."
        }
      },
      "type": "object",
      "id": "IdentityProviderError"
    },
    "Alert": {
      "id": "Alert",
      "type": "object",
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert."
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was created."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated."
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "An alert affecting a customer."
    },
    "RuleViolationInfo": {
      "id": "RuleViolationInfo",
      "type": "object",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "triggeredActionInfo": {
          "type": "array",
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          }
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "agentType": {
          "description": "Optional. Agent type that triggered the rule.",
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "type": "string"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "type": "array"
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "type": "array"
        },
        "eventType": {
          "type": "string",
          "description": "Event associated with this alert after applying the rule.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ]
        },
        "dataSource": {
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "type": "string",
          "description": "Source of the data."
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "trigger": {
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ]
        },
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "description": "List of matches that were found in the resource content.",
          "type": "array"
        }
      }
    },
    "VoiceMisconfiguration": {
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "id": "VoiceMisconfiguration",
      "properties": {
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity whose configuration is now invalid."
        },
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "voicemailMisconfiguration": {
          "$ref": "VoicemailMisconfiguration",
          "description": "Issue(s) with sending to voicemail."
        },
        "fixUri": {
          "type": "string",
          "description": "Link that the admin can follow to fix the issue."
        },
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "description": "Type of the entity whose configuration is now invalid.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entity": {
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "values": {
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Entity"
    },
    "CsvRow": {
      "id": "CsvRow",
      "type": "object",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A representation of a single data row in a CSV file."
    },
    "EntityList": {
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the key detail used to display this entity list."
        },
        "headers": {
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          }
        },
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "description": "List of entities affected by the alert.",
          "type": "array"
        }
      },
      "id": "EntityList",
      "type": "object"
    },
    "SupportTicket": {
      "properties": {
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        },
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        }
      },
      "description": "Support ticket related to Access Approvals request",
      "type": "object",
      "id": "SupportTicket"
    }
  },
  "baseUrl": "https://alertcenter.googleapis.com/",
  "version_module": true,
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "canonicalName": "AlertCenter",
  "protocol": "rest",
  "ownerName": "Google",
  "rootUrl": "https://alertcenter.googleapis.com/"
}