{
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "revision": "20260907",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "protocol": "rest",
  "version": "v1beta1",
  "kind": "discovery#restDescription",
  "id": "alertcenter:v1beta1",
  "basePath": "",
  "name": "alertcenter",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://alertcenter.googleapis.com/",
  "canonicalName": "AlertCenter",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "resources": {
    "v1beta1": {
      "methods": {
        "updateSettings": {
          "id": "alertcenter.updateSettings",
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/settings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "request": {
            "$ref": "Settings"
          }
        },
        "getSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "description": "Returns customer-level settings.",
          "httpMethod": "GET",
          "id": "alertcenter.getSettings",
          "path": "v1beta1/settings"
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "parameters": {
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                },
                "alertId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to."
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "response": {
                "$ref": "AlertFeedback"
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "AlertFeedback"
              },
              "httpMethod": "POST",
              "id": "alertcenter.alerts.feedback.create"
            },
            "list": {
              "id": "alertcenter.alerts.feedback.list",
              "httpMethod": "GET",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "customerId": {
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query"
                },
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query"
                }
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              }
            }
          }
        }
      },
      "methods": {
        "batchDelete": {
          "parameters": {},
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchDelete",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "flatPath": "v1beta1/alerts:batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "description": "Performs batch delete operation on alerts.",
          "parameterOrder": []
        },
        "undelete": {
          "path": "v1beta1/alerts/{alertId}:undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "httpMethod": "POST",
          "parameterOrder": [
            "alertId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.undelete",
          "parameters": {
            "alertId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the alert to undelete."
            }
          },
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts/{alertId}",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "response": {
            "$ref": "Alert"
          },
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to retrieve.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.get",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "getMetadata": {
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "AlertMetadata"
          },
          "flatPath": "v1beta1/alerts/{alertId}/metadata"
        },
        "list": {
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts",
          "description": "Lists the alerts.",
          "id": "alertcenter.alerts.list",
          "path": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "orderBy": {
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            },
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": []
        },
        "delete": {
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "id": "alertcenter.alerts.delete",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to delete."
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/alerts/{alertId}"
        },
        "batchUndelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "flatPath": "v1beta1/alerts:batchUndelete",
          "path": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Performs batch undelete operation on alerts.",
          "id": "alertcenter.alerts.batchUndelete"
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "VoicemailMisconfiguration": {
      "properties": {
        "errors": {
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail."
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "properties": {
        "failedAlertStatus": {
          "type": "object",
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The successful list of alert IDs."
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileCreatedEvent",
      "type": "object"
    },
    "TransferError": {
      "type": "object",
      "properties": {
        "invalidReason": {
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Ring group or auto attendant ID. Not set for users."
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "entityType": {
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "type": "string",
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ]
        }
      },
      "description": "Details for an invalid transfer or forward.",
      "id": "TransferError"
    },
    "VoiceMisconfiguration": {
      "properties": {
        "voicemailMisconfiguration": {
          "$ref": "VoicemailMisconfiguration",
          "description": "Issue(s) with sending to voicemail."
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity whose configuration is now invalid."
        },
        "entityType": {
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "type": "string",
          "description": "Type of the entity whose configuration is now invalid."
        },
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "membersMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with members of a ring group."
        },
        "fixUri": {
          "type": "string",
          "description": "Link that the admin can follow to fix the issue."
        }
      },
      "type": "object",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "id": "VoiceMisconfiguration"
    },
    "AlertFeedback": {
      "description": "A customer feedback about an alert.",
      "type": "object",
      "id": "AlertFeedback",
      "properties": {
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ]
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        }
      }
    },
    "UserDefinedDetectorInfo": {
      "id": "UserDefinedDetectorInfo",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        }
      },
      "description": "Detector defined by administrators."
    },
    "SuspiciousActivity": {
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events."
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "type": "object",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "SuspiciousActivity"
    },
    "KeyServiceError": {
      "properties": {
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "type": "string",
          "format": "int64"
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        },
        "errorInfo": {
          "description": "Info on the key service error.",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "type": "string",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ]
        },
        "errorCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of similar errors encountered."
        }
      },
      "type": "object",
      "id": "KeyServiceError",
      "description": "Error related to an external key service."
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "type": "string",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "description": "The reason why this account is receiving an account suspension warning."
        },
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "properties": {
        "title": {
          "description": "One line summary of the announcement",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      },
      "type": "object",
      "id": "MandatoryServiceAnnouncement",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products."
    },
    "ListAlertFeedbackResponse": {
      "properties": {
        "feedback": {
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array",
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      },
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "id": "ListAlertFeedbackResponse"
    },
    "CsvRow": {
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A representation of a single data row in a CSV file.",
      "type": "object",
      "id": "CsvRow"
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "affectedUserEmails": {
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        }
      },
      "type": "object"
    },
    "AbuseDetected": {
      "id": "AbuseDetected",
      "type": "object",
      "properties": {
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "type": "string",
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ]
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        },
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        }
      },
      "description": "A generic alert for abusive user activity occurring with a customer."
    },
    "TransferMisconfiguration": {
      "type": "object",
      "description": "Error related to transferring or forwarding a phone call.",
      "properties": {
        "errors": {
          "description": "Details for each invalid transfer or forward.",
          "items": {
            "$ref": "TransferError"
          },
          "type": "array"
        }
      },
      "id": "TransferMisconfiguration"
    },
    "AppSettingsChanged": {
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "id": "AppSettingsChanged",
      "properties": {
        "alertDetails": {
          "format": "byte",
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      }
    },
    "SSOProfileUpdatedEvent": {
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileUpdatedEvent",
      "type": "object",
      "properties": {
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        },
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        }
      }
    },
    "RuleInfo": {
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RuleInfo",
      "description": "Proto that contains rule information."
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array",
          "description": "List of matches that were found in the resource content."
        },
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "triggeredActionTypes": {
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array",
          "description": "Actions applied as a consequence of the rule being triggered."
        },
        "eventType": {
          "description": "Event associated with this alert after applying the rule.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ]
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ],
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ]
        },
        "triggeredActionInfo": {
          "type": "array",
          "items": {
            "$ref": "ActionInfo"
          },
          "description": "Metadata related to the triggered actions."
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "description": "Source of the data.",
          "type": "string"
        },
        "suppressedActionTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "description": "Actions suppressed due to other actions with higher priority.",
          "type": "array"
        },
        "agentType": {
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "description": "Optional. Agent type that triggered the rule."
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array"
        }
      },
      "id": "RuleViolationInfo",
      "type": "object"
    },
    "UndeleteAlertRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "id": "UndeleteAlertRequest",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "Notification": {
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "type": "object",
      "id": "Notification"
    },
    "DeviceCompromised": {
      "properties": {
        "events": {
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      },
      "id": "DeviceCompromised",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "id": "PredefinedDetectorInfo",
      "type": "object",
      "description": "Detector provided by Google."
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "description": "Alerts for user account warning events.",
      "properties": {
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        },
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "type": "object",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        },
        "alertId": {
          "description": "Required. The list of alert IDs to undelete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AppMakerSqlSetupNotification": {
      "type": "object",
      "properties": {
        "requestInfo": {
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array",
          "description": "List of applications with requests for default SQL set up."
        }
      },
      "id": "AppMakerSqlSetupNotification",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance."
    },
    "MailPhishing": {
      "type": "object",
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "systemActionType": {
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "type": "string"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        }
      }
    },
    "MaliciousEntity": {
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        },
        "entity": {
          "$ref": "User",
          "description": "The actor who triggered a gmail phishing alert."
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object",
      "id": "MaliciousEntity"
    },
    "DeviceManagementRule": {
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "ruleAction": {
          "description": "Action taken as result of the rule",
          "type": "string"
        },
        "ownerId": {
          "type": "string",
          "description": "Obfuscated ID of the owner of the device"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        }
      },
      "type": "object",
      "description": "Alerts from Device Management Rules configured by Admin.",
      "id": "DeviceManagementRule"
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "properties": {
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        }
      },
      "description": "Response to batch delete operation on alerts.",
      "type": "object"
    },
    "Attachment": {
      "description": "Attachment with application-specific information about an alert.",
      "id": "Attachment",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      },
      "type": "object"
    },
    "AlertMetadata": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time this metadata was last updated.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AlertMetadata",
      "description": "An alert metadata."
    },
    "User": {
      "id": "User",
      "type": "object",
      "description": "A user.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      }
    },
    "AppsOutage": {
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "nextUpdateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp by which the next update is expected to arrive."
        },
        "products": {
          "description": "List of products impacted by the outage.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "description": "Current outage status.",
          "type": "string",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "resolutionTime": {
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        }
      },
      "id": "AppsOutage"
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request.",
      "properties": {
        "alerts": {
          "type": "array",
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        }
      },
      "type": "object"
    },
    "BatchDeleteAlertsRequest": {
      "description": "A request to perform batch delete on alerts.",
      "id": "BatchDeleteAlertsRequest",
      "type": "object",
      "properties": {
        "alertId": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to delete.",
          "type": "array"
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      }
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "type": "string"
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic",
      "type": "object"
    },
    "VoicemailRecipientError": {
      "id": "VoicemailRecipientError",
      "type": "object",
      "description": "Issue(s) with a voicemail recipient.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        },
        "invalidReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "description": "Reason for the error."
        }
      }
    },
    "BadWhitelist": {
      "properties": {
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "id": "BadWhitelist",
      "type": "object"
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "type": "object",
      "id": "LoginDetails",
      "properties": {
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        }
      }
    },
    "RequestInfo": {
      "type": "object",
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "properties": {
        "appDeveloperEmail": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of app developers who triggered notifications for above application."
        },
        "numberOfRequests": {
          "type": "string",
          "format": "int64",
          "description": "Required. Number of requests sent for this application to set up default SQL instance."
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      }
    },
    "ActionInfo": {
      "properties": {
        "evidenceLockerFilePath": {
          "type": "string",
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\""
        }
      },
      "type": "object",
      "id": "ActionInfo",
      "description": "Metadata related to the action."
    },
    "DeviceCompromisedSecurityDetail": {
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        }
      },
      "id": "DeviceCompromisedSecurityDetail",
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object"
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "type": "object",
      "properties": {
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "date": {
          "type": "string",
          "description": "The date of the event related to this email.",
          "format": "google-datetime"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "sentTime": {
          "format": "google-datetime",
          "description": "The sent time of the email.",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The `SHA256` hash of email's attachment and all MIME parts."
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        }
      },
      "description": "Details of a message in phishing spike alert."
    },
    "StateSponsoredAttack": {
      "type": "object",
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      }
    },
    "VaultAcceleratedDeletion": {
      "properties": {
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "actionType": {
          "description": "The action can be one of create and cancel",
          "type": "string",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ]
        },
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "type": "string",
          "format": "google-datetime"
        },
        "appType": {
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "type": "string"
        }
      },
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "id": "VaultAcceleratedDeletion",
      "type": "object"
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "type": "object",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        }
      },
      "id": "MatchInfo"
    },
    "ActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "ActivityRule",
      "type": "object",
      "properties": {
        "actionNames": {
          "items": {
            "type": "string"
          },
          "description": "List of action names associated with the rule threshold.",
          "type": "array"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "windowSize": {
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rule create timestamp."
        },
        "supersededAlerts": {
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        }
      }
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "id": "Alert",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "data": {
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was created."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated."
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        }
      }
    },
    "Csv": {
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of headers for data columns in a CSV file."
        },
        "dataRows": {
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      },
      "id": "Csv"
    },
    "DomainId": {
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "type": "object",
      "id": "DomainId",
      "description": "Domain ID of Gmail phishing alerts."
    },
    "MergeInfo": {
      "properties": {
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        },
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "New alert tracking numbers.",
      "id": "MergeInfo"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Entity": {
      "type": "object",
      "id": "Entity",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "link": {
          "type": "string",
          "description": "Link to a Security Investigation Tool search based on this entity, if available."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Extra values beyond name. The order of values should align with headers in EntityList."
        },
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        }
      }
    },
    "SuperAdminPasswordResetEvent": {
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SuperAdminPasswordResetEvent",
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      }
    },
    "DomainWideTakeoutInitiated": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        },
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        }
      },
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "id": "DomainWideTakeoutInitiated"
    },
    "ResourceInfo": {
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        },
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      },
      "id": "ResourceInfo",
      "type": "object",
      "description": "Proto that contains resource information."
    },
    "Settings": {
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "type": "object",
      "id": "Settings",
      "description": "Customer-level settings."
    },
    "DlpRuleViolation": {
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "type": "object",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "id": "DlpRuleViolation"
    },
    "ClientSideEncryptionServiceUnavailable": {
      "properties": {
        "keyServiceError": {
          "type": "array",
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration."
        },
        "idpError": {
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "description": "Identity providers impacted by an outage or misconfiguration."
        }
      },
      "description": "Alerts for client-side encryption outages.",
      "type": "object",
      "id": "ClientSideEncryptionServiceUnavailable"
    },
    "SSOProfileDeletedEvent": {
      "type": "object",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileDeletedEvent"
    },
    "UserChanges": {
      "type": "object",
      "id": "UserChanges",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed"
    },
    "SensitiveAdminAction": {
      "type": "object",
      "id": "SensitiveAdminAction",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "properties": {
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "ssoProfileCreatedEvent": {
          "$ref": "SSOProfileCreatedEvent",
          "description": "Event occurred when SSO Profile created in customer's account"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "PhishingSpike": {
      "id": "PhishingSpike",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        }
      },
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object"
    },
    "PrimaryAdminChangedEvent": {
      "type": "object",
      "properties": {
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        }
      },
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder"
    },
    "DriveSyncStateChanged": {
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "id": "DriveSyncStateChanged",
      "type": "object",
      "properties": {
        "syncStateChangeReason": {
          "type": "string",
          "description": "The reason for the sync state change.",
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ]
        },
        "syncPauseStartTime": {
          "description": "Time at which sync was paused.",
          "type": "string",
          "format": "google-datetime"
        },
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        },
        "syncState": {
          "description": "The current sync state.",
          "type": "string",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ]
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "properties": {
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail",
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "ApnsCertificateExpirationInfo": {
      "type": "object",
      "id": "ApnsCertificateExpirationInfo",
      "properties": {
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        },
        "expirationTime": {
          "type": "string",
          "description": "The expiration date of the APNS certificate.",
          "format": "google-datetime"
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        }
      },
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts."
    },
    "ReportingRule": {
      "id": "ReportingRule",
      "type": "object",
      "properties": {
        "query": {
          "format": "byte",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "type": "string"
        },
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "description": "Alerts from Reporting Rules configured by Admin."
    },
    "EntityList": {
      "type": "object",
      "properties": {
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "List of entities affected by the alert."
        },
        "headers": {
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        }
      },
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI."
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "properties": {
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended.",
          "type": "array"
        },
        "appealWindow": {
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration",
          "type": "string"
        },
        "state": {
          "description": "Account suspension warning state.",
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ]
        }
      },
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object"
    },
    "AccessApproval": {
      "properties": {
        "justificationReason": {
          "description": "Justification for data access based on justification enums.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "type": "string"
          }
        },
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        },
        "requestId": {
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google.",
          "type": "string"
        },
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        },
        "products": {
          "description": "Products within scope of the Access Approvals request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        }
      },
      "id": "AccessApproval",
      "type": "object",
      "description": "Alert that is triggered when Google support requests to access customer data."
    },
    "SupportTicket": {
      "type": "object",
      "description": "Support ticket related to Access Approvals request",
      "id": "SupportTicket",
      "properties": {
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        },
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "IdentityProviderError": {
      "description": "Error related to an identity provider.",
      "type": "object",
      "id": "IdentityProviderError",
      "properties": {
        "errorInfo": {
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "type": "string",
          "description": "Info on the identity provider error.",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ]
        },
        "errorCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of similar errors encountered."
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        }
      }
    }
  },
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "servicePath": "",
  "title": "Google Workspace Alert Center API"
}