{
  "ownerName": "Google",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "rootUrl": "https://alertcenter.googleapis.com/",
  "canonicalName": "AlertCenter",
  "revision": "20260831",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "name": "alertcenter",
  "title": "Google Workspace Alert Center API",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "schemas": {
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MaliciousEntity": {
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object",
      "id": "MaliciousEntity",
      "properties": {
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "DeviceManagementRule": {
      "type": "object",
      "id": "DeviceManagementRule",
      "properties": {
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        },
        "ruleAction": {
          "description": "Action taken as result of the rule",
          "type": "string"
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        }
      },
      "description": "Alerts from Device Management Rules configured by Admin."
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        }
      },
      "id": "ListAlertsResponse",
      "description": "Response message for an alert listing request."
    },
    "SensitiveAdminAction": {
      "properties": {
        "ssoProfileUpdatedEvent": {
          "$ref": "SSOProfileUpdatedEvent",
          "description": "Event occurred when SSO Profile updated in customer's account"
        },
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "actorEmail": {
          "type": "string",
          "description": "Email of person who performed the action"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "type": "string",
          "format": "google-datetime"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        }
      },
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "id": "SensitiveAdminAction",
      "type": "object"
    },
    "Csv": {
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "type": "array",
          "items": {
            "$ref": "CsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        }
      },
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object",
      "id": "Csv"
    },
    "Notification": {
      "id": "Notification",
      "type": "object",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      }
    },
    "TransferMisconfiguration": {
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "TransferError"
          },
          "description": "Details for each invalid transfer or forward."
        }
      },
      "description": "Error related to transferring or forwarding a phone call.",
      "id": "TransferMisconfiguration",
      "type": "object"
    },
    "DomainId": {
      "id": "DomainId",
      "type": "object",
      "description": "Domain ID of Gmail phishing alerts.",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      }
    },
    "DriveSyncStateChanged": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email of the user affected."
        },
        "syncState": {
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "type": "string",
          "description": "The current sync state.",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ]
        },
        "syncStateChangeReason": {
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "type": "string",
          "description": "The reason for the sync state change."
        },
        "syncPauseStartTime": {
          "type": "string",
          "description": "Time at which sync was paused.",
          "format": "google-datetime"
        }
      },
      "id": "DriveSyncStateChanged",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "type": "object"
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "description": "An outage incident reported for a Google Workspace service.",
      "type": "object",
      "properties": {
        "mergeInfo": {
          "$ref": "MergeInfo",
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "description": "Current outage status.",
          "type": "string"
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "type": "string",
          "format": "google-datetime"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "resolutionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known."
        },
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of products impacted by the outage."
        }
      }
    },
    "GmailMessageInfo": {
      "properties": {
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "date": {
          "description": "The date of the event related to this email.",
          "format": "google-datetime",
          "type": "string"
        },
        "sentTime": {
          "format": "google-datetime",
          "description": "The sent time of the email.",
          "type": "string"
        }
      },
      "description": "Details of a message in phishing spike alert.",
      "type": "object",
      "id": "GmailMessageInfo"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "type": "object",
      "description": "Proto that contains resource information.",
      "properties": {
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "RFC2822 message ID."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        },
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        }
      }
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "properties": {
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ]
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this feedback was created."
        }
      },
      "description": "A customer feedback about an alert.",
      "type": "object"
    },
    "PrimaryAdminChangedEvent": {
      "id": "PrimaryAdminChangedEvent",
      "properties": {
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        },
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder"
    },
    "BatchUndeleteAlertsRequest": {
      "properties": {
        "alertId": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to undelete.",
          "type": "array"
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "type": "object"
    },
    "Entity": {
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        }
      },
      "id": "Entity",
      "type": "object"
    },
    "Settings": {
      "properties": {
        "notifications": {
          "type": "array",
          "description": "The list of notifications.",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "type": "object",
      "description": "Customer-level settings.",
      "id": "Settings"
    },
    "CsvRow": {
      "type": "object",
      "properties": {
        "entries": {
          "type": "array",
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CsvRow",
      "description": "A representation of a single data row in a CSV file."
    },
    "TransferError": {
      "id": "TransferError",
      "type": "object",
      "properties": {
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "entityType": {
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ]
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string"
        }
      },
      "description": "Details for an invalid transfer or forward."
    },
    "BatchUndeleteAlertsResponse": {
      "properties": {
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`."
        },
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchUndeleteAlertsResponse",
      "description": "Response to batch undelete operation on alerts."
    },
    "Alert": {
      "type": "object",
      "id": "Alert",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "data": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. `True` if this alert is marked for deletion.",
          "type": "boolean"
        },
        "source": {
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was last updated."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        }
      },
      "description": "An alert affecting a customer."
    },
    "AlertMetadata": {
      "description": "An alert metadata.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly.",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        }
      },
      "id": "AlertMetadata",
      "type": "object"
    },
    "BadWhitelist": {
      "id": "BadWhitelist",
      "type": "object",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "type": "object",
      "id": "SSOProfileCreatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder"
    },
    "BatchDeleteAlertsResponse": {
      "properties": {
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`."
        },
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response to batch delete operation on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsResponse"
    },
    "SSOProfileUpdatedEvent": {
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SSOProfileUpdatedEvent",
      "properties": {
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        },
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got updated"
        }
      }
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "id": "RuleViolationInfo",
      "properties": {
        "matchInfo": {
          "items": {
            "$ref": "MatchInfo"
          },
          "description": "List of matches that were found in the resource content.",
          "type": "array"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "eventType": {
          "description": "Event associated with this alert after applying the rule.",
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ]
        },
        "triggeredActionInfo": {
          "type": "array",
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          }
        },
        "suppressedActionTypes": {
          "type": "array",
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          }
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ],
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ],
          "description": "Trigger of the rule.",
          "type": "string"
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string"
          }
        },
        "dataSource": {
          "description": "Source of the data.",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "type": "string"
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        },
        "agentType": {
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "description": "Optional. Agent type that triggered the rule.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VoicemailMisconfiguration": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "description": "Issue(s) with voicemail recipients.",
          "type": "array"
        }
      },
      "id": "VoicemailMisconfiguration",
      "description": "Issue(s) with sending to voicemail.",
      "type": "object"
    },
    "ActionInfo": {
      "description": "Metadata related to the action.",
      "id": "ActionInfo",
      "type": "object",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      }
    },
    "ApnsCertificateExpirationInfo": {
      "properties": {
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration date of the APNS certificate."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        },
        "appleId": {
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it.",
          "type": "string"
        }
      },
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "id": "ApnsCertificateExpirationInfo",
      "type": "object"
    },
    "GoogleOperations": {
      "properties": {
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        },
        "domain": {
          "type": "string",
          "description": "Customer domain for email template personalization."
        },
        "affectedUserEmails": {
          "items": {
            "type": "string"
          },
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "type": "array"
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        }
      },
      "type": "object",
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application."
    },
    "DlpRuleViolation": {
      "id": "DlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "type": "object",
      "description": "Detector provided by Google.",
      "id": "PredefinedDetectorInfo",
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      }
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "description": "Proto that contains rule information."
    },
    "DeviceCompromised": {
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      }
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A request to perform batch delete on alerts.",
      "id": "BatchDeleteAlertsRequest"
    },
    "RequestInfo": {
      "type": "object",
      "id": "RequestInfo",
      "properties": {
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        },
        "numberOfRequests": {
          "format": "int64",
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "type": "string"
        }
      },
      "description": "Requests for one application that needs default SQL setup."
    },
    "MergeInfo": {
      "id": "MergeInfo",
      "properties": {
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        },
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        }
      },
      "type": "object",
      "description": "New alert tracking numbers."
    },
    "SSOProfileDeletedEvent": {
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      },
      "id": "SSOProfileDeletedEvent"
    },
    "Attachment": {
      "type": "object",
      "description": "Attachment with application-specific information about an alert.",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "id": "Attachment"
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "id": "PhishingSpike",
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      }
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "id": "ListAlertFeedbackResponse",
      "properties": {
        "feedback": {
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending."
        }
      }
    },
    "ActivityRule": {
      "properties": {
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "actionNames": {
          "type": "array",
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          }
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT > 5”.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "supersededAlerts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "windowSize": {
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Rule create timestamp."
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the last update to the rule."
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        }
      },
      "id": "ActivityRule",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "type": "object"
    },
    "KeyServiceError": {
      "description": "Error related to an external key service.",
      "id": "KeyServiceError",
      "properties": {
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "format": "int64",
          "type": "string"
        },
        "errorInfo": {
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ],
          "type": "string",
          "description": "Info on the key service error."
        },
        "errorCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of similar errors encountered."
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        }
      },
      "type": "object"
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        },
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "LoginDetails"
    },
    "DomainWideTakeoutInitiated": {
      "id": "DomainWideTakeoutInitiated",
      "type": "object",
      "properties": {
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      },
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs."
    },
    "UserChanges": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "type": "object",
      "id": "UserChanges"
    },
    "UserDefinedDetectorInfo": {
      "description": "Detector defined by administrators.",
      "type": "object",
      "id": "UserDefinedDetectorInfo",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "properties": {
        "description": {
          "description": "Detailed, freeform text describing the announcement",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        }
      },
      "id": "MandatoryServiceAnnouncement"
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "type": "object",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "id": "MatchInfo"
    },
    "ReportingRule": {
      "type": "object",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "format": "byte"
        },
        "alertDetails": {
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte"
        }
      },
      "id": "ReportingRule"
    },
    "EntityList": {
      "properties": {
        "entities": {
          "items": {
            "$ref": "Entity"
          },
          "description": "List of entities affected by the alert.",
          "type": "array"
        },
        "headers": {
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        }
      },
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "id": "EntityList",
      "type": "object"
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "type": "object",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "newValue": {
          "description": "The new value of the device property after the change.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        }
      }
    },
    "AppSettingsChanged": {
      "properties": {
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "type": "object",
      "id": "AppSettingsChanged",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed"
    },
    "VaultAcceleratedDeletion": {
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "type": "string",
          "format": "google-datetime"
        },
        "actionType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string"
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "appType": {
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "type": "string"
        }
      },
      "id": "VaultAcceleratedDeletion"
    },
    "SupportTicket": {
      "id": "SupportTicket",
      "type": "object",
      "description": "Support ticket related to Access Approvals request",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        }
      }
    },
    "AccountSuspensionWarning": {
      "properties": {
        "appealWindow": {
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration",
          "type": "string"
        },
        "suspensionDetails": {
          "type": "array",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "type": "string",
          "description": "Account suspension warning state.",
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ]
        }
      },
      "id": "AccountSuspensionWarning",
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object"
    },
    "AbuseDetected": {
      "type": "object",
      "id": "AbuseDetected",
      "properties": {
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Product that the abuse is originating from."
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        },
        "variationType": {
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert."
        }
      },
      "description": "A generic alert for abusive user activity occurring with a customer."
    },
    "User": {
      "id": "User",
      "description": "A user.",
      "properties": {
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      },
      "type": "object",
      "id": "SuperAdminPasswordResetEvent"
    },
    "SuspiciousActivity": {
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      },
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "id": "SuspiciousActivity"
    },
    "UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "id": "UndeleteAlertRequest",
      "type": "object"
    },
    "VoiceMisconfiguration": {
      "type": "object",
      "properties": {
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "entityType": {
          "type": "string",
          "description": "Type of the entity whose configuration is now invalid.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ]
        },
        "membersMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with members of a ring group."
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "fixUri": {
          "type": "string",
          "description": "Link that the admin can follow to fix the issue."
        },
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        }
      },
      "id": "VoiceMisconfiguration",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted."
    },
    "IdentityProviderError": {
      "description": "Error related to an identity provider.",
      "type": "object",
      "properties": {
        "errorCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of similar errors encountered."
        },
        "errorInfo": {
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "type": "string",
          "description": "Info on the identity provider error."
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        }
      },
      "id": "IdentityProviderError"
    },
    "AccessApproval": {
      "id": "AccessApproval",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "justificationReason": {
          "type": "array",
          "items": {
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "type": "string"
          },
          "description": "Justification for data access based on justification enums."
        },
        "officeLocation": {
          "type": "string",
          "description": "Office location of Google staff requesting access such as \"US\"."
        },
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        },
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Alert that is triggered when Google support requests to access customer data."
    },
    "MailPhishing": {
      "id": "MailPhishing",
      "properties": {
        "systemActionType": {
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing"
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "type": "string",
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ]
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic",
      "type": "object"
    },
    "AppMakerSqlSetupNotification": {
      "type": "object",
      "properties": {
        "requestInfo": {
          "items": {
            "$ref": "RequestInfo"
          },
          "description": "List of applications with requests for default SQL set up.",
          "type": "array"
        }
      },
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "id": "AppMakerSqlSetupNotification"
    },
    "AccountWarning": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "type": "object",
      "id": "AccountWarning",
      "description": "Alerts for user account warning events."
    },
    "VoicemailRecipientError": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        },
        "invalidReason": {
          "type": "string",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "description": "Reason for the error.",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ]
        }
      },
      "description": "Issue(s) with a voicemail recipient.",
      "type": "object",
      "id": "VoicemailRecipientError"
    },
    "StateSponsoredAttack": {
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "id": "StateSponsoredAttack",
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event.",
      "id": "DeviceCompromisedSecurityDetail",
      "properties": {
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        }
      }
    },
    "ClientSideEncryptionServiceUnavailable": {
      "description": "Alerts for client-side encryption outages.",
      "properties": {
        "idpError": {
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          }
        },
        "keyServiceError": {
          "description": "External key services impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "KeyServiceError"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ClientSideEncryptionServiceUnavailable"
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "description": "The reason why this account is receiving an account suspension warning.",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ]
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      }
    }
  },
  "version_module": true,
  "batchPath": "batch",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "id": "alertcenter:v1beta1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "httpMethod": "GET",
          "id": "alertcenter.getSettings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          },
          "description": "Returns customer-level settings.",
          "flatPath": "v1beta1/settings",
          "parameters": {
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "path": "v1beta1/settings"
        },
        "updateSettings": {
          "description": "Updates the customer-level settings.",
          "request": {
            "$ref": "Settings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.updateSettings",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "path": "v1beta1/settings",
          "parameterOrder": []
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "AlertFeedback"
              },
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "alertId": {
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "type": "string",
                  "location": "path"
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "path": "v1beta1/alerts/{alertId}/feedback"
            },
            "list": {
              "parameters": {
                "alertId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts."
                },
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query",
                  "type": "string"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "alertcenter.alerts.feedback.list",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "GET",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      },
      "methods": {
        "batchDelete": {
          "path": "v1beta1/alerts:batchDelete",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "id": "alertcenter.alerts.batchDelete",
          "flatPath": "v1beta1/alerts:batchDelete",
          "description": "Performs batch delete operation on alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Lists the alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "id": "alertcenter.alerts.list",
          "flatPath": "v1beta1/alerts",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "type": "string"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            },
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "pageSize": {
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "v1beta1/alerts"
        },
        "delete": {
          "httpMethod": "DELETE",
          "id": "alertcenter.alerts.delete",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            },
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to delete.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}"
        },
        "batchUndelete": {
          "id": "alertcenter.alerts.batchUndelete",
          "path": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "description": "Performs batch undelete operation on alerts.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "flatPath": "v1beta1/alerts:batchUndelete",
          "parameterOrder": []
        },
        "getMetadata": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "response": {
            "$ref": "AlertMetadata"
          },
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/alerts/{alertId}/metadata",
          "httpMethod": "GET"
        },
        "undelete": {
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "response": {
            "$ref": "Alert"
          },
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The identifier of the alert to undelete."
            }
          },
          "id": "alertcenter.alerts.undelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "path": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "get": {
          "path": "v1beta1/alerts/{alertId}",
          "flatPath": "v1beta1/alerts/{alertId}",
          "id": "alertcenter.alerts.get",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "alertId": {
              "type": "string",
              "required": true,
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error."
        }
      }
    }
  },
  "basePath": "",
  "version": "v1beta1",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com"
}