{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "alertcenter",
  "version": "v1beta1",
  "protocol": "rest",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "alertcenter:v1beta1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "canonicalName": "AlertCenter",
  "revision": "20260824",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "schemas": {
    "VoicemailRecipientError": {
      "type": "object",
      "properties": {
        "invalidReason": {
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "description": "Reason for the error.",
          "type": "string",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ]
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      },
      "id": "VoicemailRecipientError",
      "description": "Issue(s) with a voicemail recipient."
    },
    "SensitiveAdminAction": {
      "id": "SensitiveAdminAction",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "type": "object",
      "properties": {
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "format": "google-datetime",
          "type": "string"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "ssoProfileUpdatedEvent": {
          "$ref": "SSOProfileUpdatedEvent",
          "description": "Event occurred when SSO Profile updated in customer's account"
        }
      }
    },
    "AppSettingsChanged": {
      "id": "AppSettingsChanged",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "type": "object",
      "properties": {
        "alertDetails": {
          "type": "string",
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "VoiceMisconfiguration": {
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "type": "object",
      "properties": {
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity whose configuration is now invalid."
        },
        "membersMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with members of a ring group."
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "entityType": {
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "description": "Type of the entity whose configuration is now invalid.",
          "type": "string"
        }
      },
      "id": "VoiceMisconfiguration"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      }
    },
    "Csv": {
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          },
          "type": "array"
        }
      },
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object",
      "id": "Csv"
    },
    "AppMakerSqlSetupNotification": {
      "type": "object",
      "id": "AppMakerSqlSetupNotification",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array"
        }
      }
    },
    "AccountSuspensionDetails": {
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "description": "The reason why this account is receiving an account suspension warning.",
          "type": "string",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ]
        },
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        }
      },
      "id": "AccountSuspensionDetails"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "type": "object",
      "properties": {
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of alert IDs to undelete."
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      }
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "type": "object",
      "properties": {
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "affectedUserEmails": {
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        }
      }
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "id": "LoginDetails",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        },
        "loginTime": {
          "format": "google-datetime",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "type": "string"
        }
      }
    },
    "ClientSideEncryptionServiceUnavailable": {
      "description": "Alerts for client-side encryption outages.",
      "properties": {
        "keyServiceError": {
          "description": "External key services impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "KeyServiceError"
          },
          "type": "array"
        },
        "idpError": {
          "items": {
            "$ref": "IdentityProviderError"
          },
          "type": "array",
          "description": "Identity providers impacted by an outage or misconfiguration."
        }
      },
      "id": "ClientSideEncryptionServiceUnavailable",
      "type": "object"
    },
    "AlertFeedback": {
      "properties": {
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "type": {
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "type": "string",
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        }
      },
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert.",
      "type": "object"
    },
    "ApnsCertificateExpirationInfo": {
      "properties": {
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration date of the APNS certificate."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        },
        "appleId": {
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "id": "ApnsCertificateExpirationInfo"
    },
    "MaliciousEntity": {
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "id": "MaliciousEntity",
      "type": "object",
      "properties": {
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        }
      }
    },
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "type": "object",
      "id": "DomainId",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      }
    },
    "StateSponsoredAttack": {
      "id": "StateSponsoredAttack",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "type": "object",
      "description": "A state-sponsored attack alert. Derived from audit logs."
    },
    "MatchInfo": {
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      },
      "id": "MatchInfo",
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule."
    },
    "BatchDeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch delete operation on alerts.",
      "id": "BatchDeleteAlertsResponse",
      "properties": {
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        },
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PrimaryAdminChangedEvent": {
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        },
        "previousAdminEmail": {
          "type": "string",
          "description": "Email of person who was the primary admin before the action"
        },
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        }
      }
    },
    "AbuseDetected": {
      "id": "AbuseDetected",
      "properties": {
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "type": "string",
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ]
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        },
        "subAlertId": {
          "type": "string",
          "description": "Unique identifier of each sub alert that is onboarded."
        }
      },
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "type": "object"
    },
    "SSOProfileDeletedEvent": {
      "type": "object",
      "id": "SSOProfileDeletedEvent",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SSOProfileCreatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      }
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert.",
      "type": "object",
      "properties": {
        "csv": {
          "$ref": "Csv",
          "description": "A CSV file attachment."
        }
      }
    },
    "SuspiciousActivity": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "description": "Required. The list of security events.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "id": "SuspiciousActivity"
    },
    "VaultAcceleratedDeletion": {
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "type": "object",
      "id": "VaultAcceleratedDeletion",
      "properties": {
        "actionType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string"
        },
        "appType": {
          "description": "Currentlty only Gmail is supported as app type",
          "type": "string",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "The UTC timestamp of when the AD request was created",
          "format": "google-datetime"
        },
        "matterId": {
          "type": "string",
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request"
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        }
      }
    },
    "MailPhishing": {
      "id": "MailPhishing",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "systemActionType": {
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string",
          "description": "System actions on the messages."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert.",
          "type": "array"
        }
      },
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "type": "object"
    },
    "PhishingSpike": {
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "properties": {
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        }
      },
      "id": "PhishingSpike"
    },
    "VoicemailMisconfiguration": {
      "type": "object",
      "description": "Issue(s) with sending to voicemail.",
      "id": "VoicemailMisconfiguration",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "description": "Issue(s) with voicemail recipients."
        }
      }
    },
    "UserChanges": {
      "id": "UserChanges",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed"
    },
    "ListAlertFeedbackResponse": {
      "type": "object",
      "properties": {
        "feedback": {
          "items": {
            "$ref": "AlertFeedback"
          },
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array"
        }
      },
      "description": "Response message for an alert feedback listing request.",
      "id": "ListAlertFeedbackResponse"
    },
    "DlpRuleViolation": {
      "type": "object",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "id": "DlpRuleViolation",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules."
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "type": "object",
      "description": "Alerts for user account warning events.",
      "properties": {
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        },
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        }
      }
    },
    "ReportingRule": {
      "type": "object",
      "id": "ReportingRule",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "properties": {
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "RequestInfo": {
      "description": "Requests for one application that needs default SQL setup.",
      "id": "RequestInfo",
      "type": "object",
      "properties": {
        "appDeveloperEmail": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of app developers who triggered notifications for above application."
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "UndeleteAlertRequest": {
      "id": "UndeleteAlertRequest",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "type": "object",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "SuspiciousActivitySecurityDetail": {
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail",
      "type": "object",
      "description": "Detailed information of a single MDM suspicious activity event."
    },
    "ActivityRule": {
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the last update to the rule."
        },
        "actionNames": {
          "items": {
            "type": "string"
          },
          "description": "List of action names associated with the rule threshold.",
          "type": "array"
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "supersededAlerts": {
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "windowSize": {
          "format": "google-duration",
          "type": "string",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Rule create timestamp.",
          "format": "google-datetime"
        }
      },
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "ActivityRule",
      "type": "object"
    },
    "CsvRow": {
      "type": "object",
      "description": "A representation of a single data row in a CSV file.",
      "id": "CsvRow",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DeviceCompromisedSecurityDetail": {
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        }
      },
      "id": "DeviceCompromisedSecurityDetail",
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event."
    },
    "KeyServiceError": {
      "type": "object",
      "properties": {
        "errorInfo": {
          "type": "string",
          "description": "Info on the key service error.",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ]
        },
        "errorCount": {
          "type": "string",
          "description": "Number of similar errors encountered.",
          "format": "int64"
        },
        "httpResponseCode": {
          "type": "string",
          "format": "int64",
          "description": "HTTP response status code from the key service."
        },
        "keyServiceUrl": {
          "description": "Url of the external key service.",
          "type": "string"
        }
      },
      "id": "KeyServiceError",
      "description": "Error related to an external key service."
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "type": "object",
      "properties": {
        "successAlertIds": {
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs.",
          "type": "array"
        },
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        }
      }
    },
    "PredefinedDetectorInfo": {
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      },
      "description": "Detector provided by Google.",
      "type": "object",
      "id": "PredefinedDetectorInfo"
    },
    "AppsOutage": {
      "type": "object",
      "id": "AppsOutage",
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "resolutionTime": {
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime"
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "status": {
          "type": "string",
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        },
        "products": {
          "type": "array",
          "description": "List of products impacted by the outage.",
          "items": {
            "type": "string"
          }
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Notification": {
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      },
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SuperAdminPasswordResetEvent",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder"
    },
    "Alert": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was created."
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime",
          "type": "string"
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time this alert was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "metadata": {
          "$ref": "AlertMetadata",
          "description": "Output only. The metadata associated with this alert."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert."
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        }
      },
      "description": "An alert affecting a customer.",
      "id": "Alert"
    },
    "DomainWideTakeoutInitiated": {
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "type": "object",
      "id": "DomainWideTakeoutInitiated",
      "properties": {
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      }
    },
    "DriveSyncStateChanged": {
      "properties": {
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        },
        "syncStateChangeReason": {
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ],
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "description": "The reason for the sync state change.",
          "type": "string"
        },
        "syncPauseStartTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which sync was paused."
        },
        "syncState": {
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "type": "string",
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "description": "The current sync state."
        }
      },
      "type": "object",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "id": "DriveSyncStateChanged"
    },
    "TransferError": {
      "id": "TransferError",
      "type": "object",
      "description": "Details for an invalid transfer or forward.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Ring group or auto attendant ID. Not set for users."
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        },
        "entityType": {
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER."
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "type": "string",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ]
        }
      }
    },
    "DeviceManagementRule": {
      "properties": {
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "ownerId": {
          "type": "string",
          "description": "Obfuscated ID of the owner of the device"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        }
      },
      "type": "object",
      "description": "Alerts from Device Management Rules configured by Admin.",
      "id": "DeviceManagementRule"
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "properties": {
        "messageId": {
          "type": "string",
          "description": "RFC2822 message ID."
        },
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        },
        "chatAttachmentId": {
          "description": "Chat attachment ID.",
          "type": "string"
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceInfo"
    },
    "IdentityProviderError": {
      "properties": {
        "errorCount": {
          "type": "string",
          "description": "Number of similar errors encountered.",
          "format": "int64"
        },
        "authorizationBaseUrl": {
          "type": "string",
          "description": "Authorization base url of the identity provider."
        },
        "errorInfo": {
          "description": "Info on the identity provider error.",
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "type": "string"
        }
      },
      "description": "Error related to an identity provider.",
      "type": "object",
      "id": "IdentityProviderError"
    },
    "SSOProfileUpdatedEvent": {
      "type": "object",
      "id": "SSOProfileUpdatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        },
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        }
      },
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder"
    },
    "SupportTicket": {
      "description": "Support ticket related to Access Approvals request",
      "id": "SupportTicket",
      "type": "object",
      "properties": {
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        },
        "ticketId": {
          "type": "string",
          "description": "Support ticket ID"
        }
      }
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "type": "object",
      "description": "Metadata related to the action.",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "TransferMisconfiguration": {
      "type": "object",
      "id": "TransferMisconfiguration",
      "description": "Error related to transferring or forwarding a phone call.",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "TransferError"
          },
          "description": "Details for each invalid transfer or forward."
        }
      }
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "properties": {
        "appealWindow": {
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration"
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended.",
          "type": "array"
        },
        "state": {
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A warning that the customer's account is about to be suspended."
    },
    "DeviceCompromised": {
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised",
      "properties": {
        "events": {
          "type": "array",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "description": "Required. The list of security events."
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        }
      }
    },
    "ListAlertsResponse": {
      "description": "Response message for an alert listing request.",
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "type": "array",
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MergeInfo": {
      "properties": {
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      },
      "id": "MergeInfo",
      "description": "New alert tracking numbers.",
      "type": "object"
    },
    "Settings": {
      "id": "Settings",
      "description": "Customer-level settings.",
      "properties": {
        "notifications": {
          "type": "array",
          "items": {
            "$ref": "Notification"
          },
          "description": "The list of notifications."
        }
      },
      "type": "object"
    },
    "EntityList": {
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "type": "object",
      "id": "EntityList",
      "properties": {
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "entities": {
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        },
        "headers": {
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UserDefinedDetectorInfo": {
      "description": "Detector defined by administrators.",
      "type": "object",
      "id": "UserDefinedDetectorInfo",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        }
      }
    },
    "BadWhitelist": {
      "type": "object",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array",
          "description": "The list of messages contained by this alert."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        }
      },
      "id": "BadWhitelist"
    },
    "User": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        },
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A user.",
      "id": "User"
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "User provided name of the rule."
        }
      },
      "description": "Proto that contains rule information.",
      "type": "object"
    },
    "AlertMetadata": {
      "id": "AlertMetadata",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this metadata was last updated."
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An alert metadata."
    },
    "CloudPubsubTopic": {
      "type": "object",
      "id": "CloudPubsubTopic",
      "properties": {
        "payloadFormat": {
          "type": "string",
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ]
        },
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission."
    },
    "Entity": {
      "type": "object",
      "id": "Entity",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        }
      }
    },
    "AccessApproval": {
      "type": "object",
      "properties": {
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "tickets": {
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "type": "array"
        },
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        },
        "justificationReason": {
          "type": "array",
          "description": "Justification for data access based on justification enums.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ]
          }
        }
      },
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data."
    },
    "MandatoryServiceAnnouncement": {
      "id": "MandatoryServiceAnnouncement",
      "type": "object",
      "properties": {
        "title": {
          "description": "One line summary of the announcement",
          "type": "string"
        },
        "description": {
          "description": "Detailed, freeform text describing the announcement",
          "type": "string"
        }
      },
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products."
    },
    "RuleViolationInfo": {
      "properties": {
        "resourceInfo": {
          "$ref": "ResourceInfo",
          "description": "Details of the resource which violated the rule."
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string"
          }
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        },
        "agentType": {
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "type": "string",
          "description": "Optional. Agent type that triggered the rule."
        },
        "eventType": {
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "description": "Event associated with this alert after applying the rule."
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "recipients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to."
        },
        "matchInfo": {
          "type": "array",
          "items": {
            "$ref": "MatchInfo"
          },
          "description": "List of matches that were found in the resource content."
        },
        "trigger": {
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome."
          ],
          "type": "string",
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED"
          ],
          "description": "Trigger of the rule."
        },
        "dataSource": {
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "description": "Source of the data."
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "type": "array",
          "items": {
            "$ref": "ActionInfo"
          }
        }
      },
      "id": "RuleViolationInfo",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "type": "object"
    },
    "BatchDeleteAlertsRequest": {
      "description": "A request to perform batch delete on alerts.",
      "type": "object",
      "id": "BatchDeleteAlertsRequest",
      "properties": {
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      }
    },
    "GmailMessageInfo": {
      "type": "object",
      "id": "GmailMessageInfo",
      "properties": {
        "date": {
          "type": "string",
          "description": "The date of the event related to this email.",
          "format": "google-datetime"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The `SHA256` hash of email's attachment and all MIME parts."
        },
        "sentTime": {
          "description": "The sent time of the email.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "md5HashSubject": {
          "description": "The MD5 Hash of email's subject (only available for reported emails).",
          "type": "string"
        }
      },
      "description": "Details of a message in phishing spike alert."
    }
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://alertcenter.googleapis.com/",
  "title": "Google Workspace Alert Center API",
  "servicePath": "",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "path": "v1beta1/settings",
          "id": "alertcenter.getSettings",
          "flatPath": "v1beta1/settings",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Settings"
          },
          "httpMethod": "GET",
          "description": "Returns customer-level settings."
        },
        "updateSettings": {
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/settings",
          "id": "alertcenter.updateSettings",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Settings"
          },
          "description": "Updates the customer-level settings.",
          "flatPath": "v1beta1/settings"
        }
      }
    },
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.list",
              "parameters": {
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string",
                  "location": "query"
                },
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "alertId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "path": "v1beta1/alerts/{alertId}/feedback"
            },
            "create": {
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              },
              "response": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      },
      "methods": {
        "delete": {
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "DELETE",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "id": "alertcenter.alerts.delete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          }
        },
        "list": {
          "id": "alertcenter.alerts.list",
          "flatPath": "v1beta1/alerts",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query",
              "type": "string"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Lists the alerts.",
          "path": "v1beta1/alerts",
          "httpMethod": "GET",
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "undelete": {
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "POST",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "parameters": {
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to undelete.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "alertcenter.alerts.undelete"
        },
        "batchUndelete": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "flatPath": "v1beta1/alerts:batchUndelete",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "httpMethod": "POST",
          "path": "v1beta1/alerts:batchUndelete",
          "id": "alertcenter.alerts.batchUndelete",
          "description": "Performs batch undelete operation on alerts."
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Alert"
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.get",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve.",
              "type": "string",
              "required": true
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          }
        },
        "getMetadata": {
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            },
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "alertcenter.alerts.getMetadata",
          "response": {
            "$ref": "AlertMetadata"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "path": "v1beta1/alerts/{alertId}/metadata"
        },
        "batchDelete": {
          "flatPath": "v1beta1/alerts:batchDelete",
          "parameters": {},
          "id": "alertcenter.alerts.batchDelete",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1beta1/alerts:batchDelete",
          "description": "Performs batch delete operation on alerts.",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        }
      }
    }
  }
}