{
  "discoveryVersion": "v1",
  "version_module": true,
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "id": "alertcenter:v1beta1",
  "name": "alertcenter",
  "ownerName": "Google",
  "servicePath": "",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260921",
  "version": "v1beta1",
  "basePath": "",
  "canonicalName": "AlertCenter",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "title": "Google Workspace Alert Center API",
  "resources": {
    "alerts": {
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "id": "alertcenter.alerts.feedback.create",
              "response": {
                "$ref": "AlertFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "request": {
                "$ref": "AlertFeedback"
              },
              "parameterOrder": [
                "alertId"
              ],
              "parameters": {
                "alertId": {
                  "type": "string",
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "location": "path",
                  "required": true
                },
                "customerId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                }
              }
            },
            "list": {
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "httpMethod": "GET",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "alertId": {
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "id": "alertcenter.alerts.feedback.list",
              "flatPath": "v1beta1/alerts/{alertId}/feedback"
            }
          }
        }
      },
      "methods": {
        "undelete": {
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "description": "Required. The identifier of the alert to undelete.",
              "type": "string"
            }
          },
          "id": "alertcenter.alerts.undelete",
          "parameterOrder": [
            "alertId"
          ],
          "response": {
            "$ref": "Alert"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "path": "v1beta1/alerts/{alertId}:undelete"
        },
        "batchUndelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchUndelete",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "path": "v1beta1/alerts:batchUndelete",
          "parameterOrder": [],
          "flatPath": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "description": "Performs batch undelete operation on alerts.",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameters": {}
        },
        "batchDelete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "flatPath": "v1beta1/alerts:batchDelete",
          "parameterOrder": [],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "id": "alertcenter.alerts.batchDelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "description": "Performs batch delete operation on alerts.",
          "path": "v1beta1/alerts:batchDelete",
          "parameters": {}
        },
        "list": {
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "id": "alertcenter.alerts.list",
          "path": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1beta1/alerts",
          "parameters": {
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "location": "query",
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "type": "integer"
            }
          },
          "description": "Lists the alerts."
        },
        "delete": {
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to delete."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "alertId"
          ],
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.delete",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1/alerts/{alertId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Alert"
          },
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve."
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            }
          },
          "id": "alertcenter.alerts.get",
          "path": "v1beta1/alerts/{alertId}"
        },
        "getMetadata": {
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "path": "v1beta1/alerts/{alertId}/metadata",
          "parameters": {
            "alertId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert this metadata belongs to."
            },
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "AlertMetadata"
          },
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error."
        }
      }
    },
    "v1beta1": {
      "methods": {
        "getSettings": {
          "description": "Returns customer-level settings.",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/settings",
          "flatPath": "v1beta1/settings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.getSettings",
          "parameterOrder": [],
          "response": {
            "$ref": "Settings"
          }
        },
        "updateSettings": {
          "id": "alertcenter.updateSettings",
          "parameterOrder": [],
          "request": {
            "$ref": "Settings"
          },
          "response": {
            "$ref": "Settings"
          },
          "path": "v1beta1/settings",
          "flatPath": "v1beta1/settings",
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "httpMethod": "PATCH",
          "description": "Updates the customer-level settings."
        }
      }
    }
  },
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "schemas": {
    "EntityList": {
      "id": "EntityList",
      "type": "object",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "properties": {
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "entities": {
          "description": "List of entities affected by the alert.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        },
        "headers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty."
        }
      }
    },
    "AccessApproval": {
      "properties": {
        "products": {
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "tickets": {
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "type": "array"
        },
        "justificationReason": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "type": "string"
          },
          "description": "Justification for data access based on justification enums."
        },
        "officeLocation": {
          "type": "string",
          "description": "Office location of Google staff requesting access such as \"US\"."
        }
      },
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "type": "object"
    },
    "AlertMetadata": {
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime"
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        }
      },
      "description": "An alert metadata.",
      "id": "AlertMetadata"
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "type": "object",
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "A user.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        },
        "displayName": {
          "description": "Display name of the user.",
          "type": "string"
        }
      },
      "id": "User"
    },
    "UndeleteAlertRequest": {
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "id": "UndeleteAlertRequest",
      "type": "object",
      "description": "A request to undelete a specific alert that was marked for deletion."
    },
    "AppMakerSqlSetupNotification": {
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array"
        }
      },
      "id": "AppMakerSqlSetupNotification",
      "type": "object",
      "description": "Alerts from App Maker to notify admins to set up default SQL instance."
    },
    "SensitiveAdminAction": {
      "type": "object",
      "id": "SensitiveAdminAction",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "properties": {
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "eventTime": {
          "description": "The time at which event occurred",
          "type": "string",
          "format": "google-datetime"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "ssoProfileCreatedEvent": {
          "$ref": "SSOProfileCreatedEvent",
          "description": "Event occurred when SSO Profile created in customer's account"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "superAdminPasswordResetEvent": {
          "$ref": "SuperAdminPasswordResetEvent",
          "description": "Event occurred when password was reset for super admin in customer's account"
        }
      }
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "id": "LoginDetails",
      "type": "object",
      "properties": {
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "description": "Customer-level settings.",
      "properties": {
        "notifications": {
          "description": "The list of notifications.",
          "type": "array",
          "items": {
            "$ref": "Notification"
          }
        }
      },
      "type": "object",
      "id": "Settings"
    },
    "DomainId": {
      "id": "DomainId",
      "description": "Domain ID of Gmail phishing alerts.",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      }
    },
    "RuleViolationInfo": {
      "id": "RuleViolationInfo",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "dataSource": {
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "description": "Source of the data."
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "description": "Event associated with this alert after applying the rule.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ]
        },
        "triggeredActionTypes": {
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Actions applied as a consequence of the rule being triggered."
        },
        "recipients": {
          "items": {
            "type": "string"
          },
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array"
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "type": "array",
          "items": {
            "$ref": "MatchInfo"
          }
        },
        "trigger": {
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access.",
            "Agent execution.",
            "Text copied from Chrome.",
            "Network request from Chrome."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS",
            "AGENT_EXECUTION",
            "CHROME_DATA_COPIED",
            "CHROME_NETWORK_REQUEST"
          ]
        },
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "agentType": {
          "type": "string",
          "enum": [
            "AGENT_TYPE_UNSPECIFIED",
            "STUDIO",
            "WORK_AGENT"
          ],
          "enumDescriptions": [
            "Unspecified agent type.",
            "Studio agent type.",
            "Work Agent agent type."
          ],
          "description": "Optional. Agent type that triggered the rule."
        },
        "suppressedActionTypes": {
          "items": {
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "CHROME_KEEP_IN_MANAGED_CHROME",
              "CHROME_BLOCK_DATA_COPIED",
              "CHROME_WARN_DATA_COPIED",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Keep in managed Chrome.",
              "Block text copied from Chrome.",
              "Warn on text copied from Chrome.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "type": "array",
          "description": "Actions suppressed due to other actions with higher priority."
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "type": "array",
          "items": {
            "$ref": "ActionInfo"
          }
        }
      },
      "type": "object"
    },
    "MatchInfo": {
      "description": "Proto that contains match information from the condition part of the rule.",
      "properties": {
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        },
        "userDefinedDetector": {
          "$ref": "UserDefinedDetectorInfo",
          "description": "For matched detector defined by administrators."
        }
      },
      "type": "object",
      "id": "MatchInfo"
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "id": "Alert",
      "type": "object",
      "properties": {
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "updateTime": {
          "description": "Output only. The time this alert was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the event that caused this alert was started or detected."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        }
      }
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "id": "DlpRuleViolation",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "type": "object"
    },
    "ActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "type": "object",
      "id": "ActivityRule",
      "properties": {
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "updateTime": {
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime",
          "type": "string"
        },
        "supersededAlerts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "supersedingAlert": {
          "type": "string",
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts."
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "description": {
          "type": "string",
          "description": "Description of the rule."
        },
        "createTime": {
          "type": "string",
          "description": "Rule create timestamp.",
          "format": "google-datetime"
        },
        "windowSize": {
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "actionNames": {
          "type": "array",
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        }
      }
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      },
      "description": "Proto that contains rule information.",
      "type": "object"
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "id": "CsvRow",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "MergeInfo": {
      "id": "MergeInfo",
      "description": "New alert tracking numbers.",
      "type": "object",
      "properties": {
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        },
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "type": "object"
    },
    "DomainWideTakeoutInitiated": {
      "type": "object",
      "id": "DomainWideTakeoutInitiated",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "properties": {
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        },
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        }
      }
    },
    "TransferError": {
      "id": "TransferError",
      "description": "Details for an invalid transfer or forward.",
      "type": "object",
      "properties": {
        "entityType": {
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ]
        },
        "invalidReason": {
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "description": "Reason for the error."
        },
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "User's email address. This may be unavailable if the entity was deleted."
        },
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        }
      }
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "properties": {
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      },
      "type": "object",
      "description": "Requests for one application that needs default SQL setup."
    },
    "CloudPubsubTopic": {
      "type": "object",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "type": "string",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ]
        }
      },
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic"
    },
    "PhishingSpike": {
      "type": "object",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "properties": {
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        }
      },
      "id": "PhishingSpike"
    },
    "StateSponsoredAttack": {
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "id": "StateSponsoredAttack"
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert.",
      "properties": {
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime"
        },
        "feedbackId": {
          "description": "Output only. The unique identifier for the feedback.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        }
      },
      "type": "object"
    },
    "ApnsCertificateExpirationInfo": {
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "type": "object",
      "id": "ApnsCertificateExpirationInfo",
      "properties": {
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        },
        "expirationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The expiration date of the APNS certificate."
        },
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        }
      }
    },
    "ListAlertsResponse": {
      "type": "object",
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "description": "The list of alerts.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call.",
          "type": "string"
        }
      },
      "description": "Response message for an alert listing request."
    },
    "Entity": {
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        },
        "values": {
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Entity"
    },
    "UserChanges": {
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "type": "object",
      "id": "UserChanges"
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "type": "object",
      "properties": {
        "nextUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp by which the next update is expected to arrive."
        },
        "mergeInfo": {
          "$ref": "MergeInfo",
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED."
        },
        "resolutionTime": {
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime",
          "type": "string"
        },
        "products": {
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage.",
          "type": "array"
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "description": "Current outage status."
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        }
      },
      "description": "An outage incident reported for a Google Workspace service."
    },
    "BatchUndeleteAlertsRequest": {
      "type": "object",
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The list of alert IDs to undelete."
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedAlertStatus": {
          "type": "object",
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "id": "BatchUndeleteAlertsResponse"
    },
    "Notification": {
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "type": "object",
      "properties": {
        "cloudPubsubTopic": {
          "$ref": "CloudPubsubTopic",
          "description": "A Google Cloud Pub/sub topic destination."
        }
      }
    },
    "PrimaryAdminChangedEvent": {
      "type": "object",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        }
      },
      "id": "PrimaryAdminChangedEvent"
    },
    "MaliciousEntity": {
      "type": "object",
      "id": "MaliciousEntity",
      "properties": {
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        },
        "displayName": {
          "type": "string",
          "description": "The header from display name."
        }
      },
      "description": "Entity whose actions triggered a Gmail phishing alert."
    },
    "AccountWarning": {
      "type": "object",
      "id": "AccountWarning",
      "description": "Alerts for user account warning events.",
      "properties": {
        "loginDetails": {
          "$ref": "LoginDetails",
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)"
        },
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        }
      }
    },
    "VaultAcceleratedDeletion": {
      "id": "VaultAcceleratedDeletion",
      "type": "object",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The UTC timestamp of when the AD request was created"
        },
        "actionType": {
          "description": "The action can be one of create and cancel",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ]
        },
        "deletionRequestId": {
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "description": "Currentlty only Gmail is supported as app type"
        }
      }
    },
    "AccountSuspensionDetails": {
      "properties": {
        "abuseReason": {
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning.",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ]
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      },
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning."
    },
    "SSOProfileDeletedEvent": {
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileDeletedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      },
      "type": "object"
    },
    "UserDefinedDetectorInfo": {
      "properties": {
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the detector."
        }
      },
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "type": "object"
    },
    "DeviceManagementRule": {
      "type": "object",
      "properties": {
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "ownerId": {
          "type": "string",
          "description": "Obfuscated ID of the owner of the device"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        }
      },
      "description": "Alerts from Device Management Rules configured by Admin.",
      "id": "DeviceManagementRule"
    },
    "ActionInfo": {
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      },
      "description": "Metadata related to the action.",
      "id": "ActionInfo",
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "description": "Detailed information of a single MDM device compromised event.",
      "id": "DeviceCompromisedSecurityDetail",
      "properties": {
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "type": "object"
    },
    "DriveSyncStateChanged": {
      "properties": {
        "syncPauseStartTime": {
          "description": "Time at which sync was paused.",
          "format": "google-datetime",
          "type": "string"
        },
        "email": {
          "description": "Email of the user affected.",
          "type": "string"
        },
        "syncStateChangeReason": {
          "description": "The reason for the sync state change.",
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state was changed due to unusual activity, such as potential ransomware",
            "The user provided feedback indicating that the initial sync state change may have been caused by unexpected activity",
            "The user provided feedback indicating that the initial sync state change may have been caused by a false positive"
          ]
        },
        "syncState": {
          "type": "string",
          "description": "The current sync state.",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ]
        }
      },
      "type": "object",
      "id": "DriveSyncStateChanged",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop."
    },
    "Csv": {
      "type": "object",
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataRows": {
          "items": {
            "$ref": "CsvRow"
          },
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        }
      },
      "id": "Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows."
    },
    "BadWhitelist": {
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "sourceIp": {
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`.",
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array",
          "description": "The list of messages contained by this alert."
        }
      },
      "type": "object",
      "id": "BadWhitelist",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings."
    },
    "VoicemailRecipientError": {
      "type": "object",
      "id": "VoicemailRecipientError",
      "description": "Issue(s) with a voicemail recipient.",
      "properties": {
        "email": {
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted.",
          "type": "string"
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "type": "string"
        }
      }
    },
    "KeyServiceError": {
      "id": "KeyServiceError",
      "description": "Error related to an external key service.",
      "type": "object",
      "properties": {
        "errorInfo": {
          "description": "Info on the key service error.",
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR",
            "SERVER_SIDE_FETCH_REQUEST_ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed.",
            "Fetch request from the Google server to the key service has failed."
          ]
        },
        "keyServiceUrl": {
          "type": "string",
          "description": "Url of the external key service."
        },
        "errorCount": {
          "format": "int64",
          "description": "Number of similar errors encountered.",
          "type": "string"
        },
        "httpResponseCode": {
          "description": "HTTP response status code from the key service.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AccountSuspensionWarning": {
      "properties": {
        "appealWindow": {
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration",
          "type": "string"
        },
        "suspensionDetails": {
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array",
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "type": "string"
        }
      },
      "id": "AccountSuspensionWarning",
      "type": "object",
      "description": "A warning that the customer's account is about to be suspended."
    },
    "SupportTicket": {
      "description": "Support ticket related to Access Approvals request",
      "properties": {
        "ticketId": {
          "type": "string",
          "description": "Support ticket ID"
        },
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        }
      },
      "id": "SupportTicket",
      "type": "object"
    },
    "VoiceMisconfiguration": {
      "properties": {
        "voicemailMisconfiguration": {
          "$ref": "VoicemailMisconfiguration",
          "description": "Issue(s) with sending to voicemail."
        },
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "entityType": {
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "description": "Type of the entity whose configuration is now invalid.",
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ]
        },
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        }
      },
      "type": "object",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "id": "VoiceMisconfiguration"
    },
    "DeviceCompromised": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "type": "array"
        }
      },
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "type": "object",
      "id": "DeviceCompromised"
    },
    "VoicemailMisconfiguration": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "type": "array",
          "description": "Issue(s) with voicemail recipients."
        }
      },
      "type": "object",
      "description": "Issue(s) with sending to voicemail.",
      "id": "VoicemailMisconfiguration"
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "type": "object",
      "properties": {
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\"."
        }
      },
      "id": "ResourceInfo"
    },
    "GmailMessageInfo": {
      "properties": {
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The sent time of the email."
        },
        "date": {
          "format": "google-datetime",
          "description": "The date of the event related to this email.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The `SHA256` hash of email's attachment and all MIME parts."
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert."
    },
    "SSOProfileUpdatedEvent": {
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got updated"
        },
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        }
      },
      "id": "SSOProfileUpdatedEvent",
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "description": "Detector provided by Google.",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReportingRule": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "format": "byte",
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "query": {
          "type": "string",
          "format": "byte",
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }"
        }
      },
      "id": "ReportingRule",
      "description": "Alerts from Reporting Rules configured by Admin."
    },
    "TransferMisconfiguration": {
      "properties": {
        "errors": {
          "description": "Details for each invalid transfer or forward.",
          "type": "array",
          "items": {
            "$ref": "TransferError"
          }
        }
      },
      "id": "TransferMisconfiguration",
      "description": "Error related to transferring or forwarding a phone call.",
      "type": "object"
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "description": "Detailed information of a single MDM suspicious activity event.",
      "id": "SuspiciousActivitySecurityDetail",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        }
      }
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "type": "object",
      "id": "ListAlertFeedbackResponse",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array"
        }
      }
    },
    "SuperAdminPasswordResetEvent": {
      "type": "object",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "id": "SuperAdminPasswordResetEvent",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      }
    },
    "IdentityProviderError": {
      "id": "IdentityProviderError",
      "properties": {
        "errorInfo": {
          "type": "string",
          "description": "Info on the identity provider error.",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ]
        },
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "format": "int64",
          "type": "string"
        },
        "authorizationBaseUrl": {
          "type": "string",
          "description": "Authorization base url of the identity provider."
        }
      },
      "description": "Error related to an identity provider.",
      "type": "object"
    },
    "AbuseDetected": {
      "properties": {
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "type": "string"
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "additionalDetails": {
          "$ref": "EntityList",
          "description": "List of abusive users/entities to be displayed in a table in the alert."
        }
      },
      "id": "AbuseDetected",
      "type": "object",
      "description": "A generic alert for abusive user activity occurring with a customer."
    },
    "SuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "id": "SuspiciousActivity",
      "properties": {
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "id": "SSOProfileCreatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got created",
          "type": "string"
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "id": "MandatoryServiceAnnouncement",
      "properties": {
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        },
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        }
      }
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "properties": {
        "keyServiceError": {
          "description": "External key services impacted by an outage or misconfiguration.",
          "type": "array",
          "items": {
            "$ref": "KeyServiceError"
          }
        },
        "idpError": {
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "type": "array"
        }
      },
      "description": "Alerts for client-side encryption outages.",
      "type": "object"
    },
    "AppSettingsChanged": {
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        }
      },
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "id": "AppSettingsChanged",
      "type": "object"
    },
    "GoogleOperations": {
      "properties": {
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "domain": {
          "type": "string",
          "description": "Customer domain for email template personalization."
        },
        "title": {
          "description": "A one-line incident description.",
          "type": "string"
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        },
        "affectedUserEmails": {
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "type": "object"
    },
    "MailPhishing": {
      "type": "object",
      "properties": {
        "systemActionType": {
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "description": "System actions on the messages.",
          "type": "string"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        }
      },
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing"
    },
    "BatchDeleteAlertsRequest": {
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to delete."
        }
      },
      "id": "BatchDeleteAlertsRequest",
      "description": "A request to perform batch delete on alerts."
    },
    "Attachment": {
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "id": "Attachment",
      "type": "object",
      "description": "Attachment with application-specific information about an alert."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "baseUrl": "https://alertcenter.googleapis.com/"
}