{
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "revision": "20260813",
  "version_module": true,
  "batchPath": "batch",
  "canonicalName": "Cloud AlloyDB Admin",
  "baseUrl": "https://alloydb.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "schemas": {
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "signalMetadataList": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          },
          "type": "array"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "signalState": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Output only. Disable validation warnings",
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "readOnly": true
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "signalType": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ]
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
    },
    "UpdatePolicy": {
      "id": "UpdatePolicy",
      "type": "object",
      "description": "Policy to be used while updating the instance.",
      "properties": {
        "mode": {
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "FORCE_APPLY"
          ],
          "enumDescriptions": [
            "Mode is unknown.",
            "Least disruptive way to apply the update.",
            "Performs a forced update when applicable. This will be fast but may incur a downtime."
          ],
          "description": "Mode for updating the instance."
        }
      }
    },
    "MaintenanceWindow": {
      "properties": {
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc."
        },
        "startTime": {
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time.",
          "$ref": "GoogleTypeTimeOfDay"
        }
      },
      "type": "object",
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance.",
      "id": "MaintenanceWindow"
    },
    "GeminiClusterConfig": {
      "type": "object",
      "properties": {
        "entitled": {
          "type": "boolean",
          "description": "Output only. Deprecated and unused. This field will be removed in the near future.",
          "deprecated": true,
          "readOnly": true
        }
      },
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "id": "GeminiClusterConfig"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "description": "Disable validation warnings",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. Disable validation warnings"
        },
        "key": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObservabilityInstanceConfig": {
      "description": "Observability Instance specific configuration.",
      "type": "object",
      "id": "ObservabilityInstanceConfig",
      "properties": {
        "maxQueryStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "Query string length. The default value is 10k."
        },
        "queryPlansPerMinute": {
          "type": "integer",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid.",
          "format": "int32"
        },
        "trackWaitEvents": {
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on.",
          "type": "boolean"
        },
        "trackActiveQueryPlan": {
          "type": "boolean",
          "description": "Indicates whether to track active query plans for an instance. If not set, the default value is \"off\". Can only be enabled if track_active_queries is enabled."
        },
        "trackClientAddress": {
          "type": "boolean",
          "description": "Track client address for an instance. If not set, default value is \"off\"."
        },
        "trackActiveQueries": {
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default.",
          "type": "boolean"
        },
        "trackWaitEventTypes": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API."
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
        },
        "enabled": {
          "type": "boolean",
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default."
        },
        "assistiveExperiencesEnabled": {
          "type": "boolean",
          "description": "Whether assistive experiences are enabled for this AlloyDB instance."
        },
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "FailoverInstanceRequest": {
      "id": "FailoverInstanceRequest",
      "description": "Message for triggering failover on an Instance",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "enabled": {
          "description": "If true, autoscaling is enabled for the instance. If not set, the default value is false.",
          "type": "boolean"
        },
        "coolDownPeriodSec": {
          "format": "int64",
          "type": "string",
          "description": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm."
        },
        "maxNodeCount": {
          "description": "Maximum number of nodes for the autoscaler.",
          "type": "string",
          "format": "int64"
        },
        "cpuUtilization": {
          "description": "CPU utilization policy for the autoscaler.",
          "$ref": "CpuUtilization"
        }
      },
      "description": "Policy for the autoscaler."
    },
    "UpgradeClusterResponse": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any."
        },
        "clusterUpgradeDetails": {
          "items": {
            "$ref": "ClusterUpgradeDetails"
          },
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "type": "array"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Status of upgrade operation."
        }
      },
      "type": "object",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "id": "UpgradeClusterResponse"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "description": "Disable validation warnings",
      "properties": {
        "status": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESSFUL",
            "FAILED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "endTime": {
          "type": "string",
          "description": "Disable validation warnings",
          "format": "google-datetime"
        },
        "error": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainOperationError",
          "description": "Disable validation warnings"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupRun"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "properties": {
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "resourceId": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Disable validation warnings"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
    },
    "GeminiInstanceConfig": {
      "type": "object",
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "properties": {
        "entitled": {
          "readOnly": true,
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated and unused. This field will be removed in the near future."
        }
      },
      "id": "GeminiInstanceConfig"
    },
    "MaintenanceUpdatePolicy": {
      "id": "MaintenanceUpdatePolicy",
      "properties": {
        "maintenanceWindows": {
          "description": "Preferred windows to perform maintenance. Currently limited to 1.",
          "items": {
            "$ref": "MaintenanceWindow"
          },
          "type": "array"
        },
        "denyMaintenancePeriods": {
          "description": "Periods to deny maintenance. Currently limited to 1.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      },
      "description": "MaintenanceUpdatePolicy defines the policy for system updates.",
      "type": "object"
    },
    "ExportClusterRequest": {
      "description": "Export cluster request.",
      "type": "object",
      "id": "ExportClusterRequest",
      "properties": {
        "sqlExportOptions": {
          "$ref": "SqlExportOptions",
          "description": "Options for exporting data in SQL format. Required field to be set for SQL file type."
        },
        "gcsDestination": {
          "description": "Required. Option to export data to cloud storage.",
          "$ref": "GcsDestination"
        },
        "database": {
          "type": "string",
          "description": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
        },
        "csvExportOptions": {
          "$ref": "CsvExportOptions",
          "description": "Options for exporting data in CSV format. Required field to be set for CSV file type."
        }
      }
    },
    "StageInfo": {
      "properties": {
        "status": {
          "description": "Status of the stage.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "stage": {
          "description": "The stage.",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ]
        },
        "logsUrl": {
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE.",
          "type": "string"
        }
      },
      "description": "Stage information for different stages in the upgrade process.",
      "type": "object",
      "id": "StageInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "properties": {
        "backupRetentionSettings": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainRetentionSettings"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "automatedBackupEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
      "type": "object"
    },
    "InjectFaultRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "faultType": {
          "type": "string",
          "enum": [
            "FAULT_TYPE_UNSPECIFIED",
            "STOP_VM"
          ],
          "description": "Required. The type of fault to be injected in an instance.",
          "enumDescriptions": [
            "The fault type is unknown.",
            "Stop the VM"
          ]
        }
      },
      "type": "object",
      "description": "Message for triggering fault injection on an instance",
      "id": "InjectFaultRequest"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key).",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "properties": {
        "promotableReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "crossRegionReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "availabilityType": {
          "type": "string",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "type": "object"
    },
    "RestoreClusterRequest": {
      "id": "RestoreClusterRequest",
      "type": "object",
      "properties": {
        "backupSource": {
          "$ref": "BackupSource",
          "description": "Backup source."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. ID of the requesting object."
        },
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        },
        "backupdrPitrSource": {
          "description": "BackupDR source used for point in time recovery.",
          "$ref": "BackupDrPitrSource"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        }
      },
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11"
    },
    "GCAInstanceConfig": {
      "id": "GCAInstanceConfig",
      "properties": {
        "gcaEntitlement": {
          "enumDescriptions": [
            "No GCA entitlement is assigned.",
            "The resource is entitled to the GCA Standard Tier."
          ],
          "description": "Output only. Represents the GCA entitlement state of the instance.",
          "type": "string",
          "enum": [
            "GCA_ENTITLEMENT_TYPE_UNSPECIFIED",
            "GCA_STANDARD"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Instance level configuration parameters related to the Gemini Cloud Assist product."
    },
    "ClusterUpgradeDetails": {
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "type": "object",
      "properties": {
        "stageInfo": {
          "items": {
            "$ref": "StageInfo"
          },
          "type": "array",
          "description": "Array containing stage info associated with this cluster."
        },
        "instanceUpgradeDetails": {
          "type": "array",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          },
          "description": "Upgrade details of the instances directly associated with this cluster."
        },
        "upgradeStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Upgrade status of the cluster.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "description": "Cluster type which can either be primary or secondary.",
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ]
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the cluster"
        },
        "databaseVersion": {
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation.",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "id": "ClusterUpgradeDetails"
    },
    "WeeklySchedule": {
      "type": "object",
      "id": "WeeklySchedule",
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week.",
      "properties": {
        "startTimes": {
          "type": "array",
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          },
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily."
        },
        "daysOfWeek": {
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          }
        }
      }
    },
    "SslConfig": {
      "type": "object",
      "properties": {
        "sslMode": {
          "type": "string",
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior.",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ],
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ]
        },
        "caSource": {
          "type": "string",
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ],
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value.",
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ]
        }
      },
      "id": "SslConfig",
      "description": "SSL configuration."
    },
    "Node": {
      "type": "object",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations.",
      "id": "Node",
      "properties": {
        "ip": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\"."
        },
        "zoneId": {
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\".",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
        },
        "isHotStandby": {
          "description": "Output only. Indicates whether the node set up to be configured as a hot standby.",
          "readOnly": true,
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\".",
          "readOnly": true
        }
      }
    },
    "User": {
      "description": "Message describing User object.",
      "id": "User",
      "properties": {
        "userType": {
          "enumDescriptions": [
            "Unspecified user type.",
            "The default user type that authenticates via password-based authentication.",
            "Database user that can authenticate via IAM-Based authentication.",
            "Database user that represents an IAM group whose members can authenticate via IAM group-based authentication.",
            "Represents a user that belongs to an IAM group.",
            "Represents a service account that belongs to an IAM group."
          ],
          "type": "string",
          "enum": [
            "USER_TYPE_UNSPECIFIED",
            "ALLOYDB_BUILT_IN",
            "ALLOYDB_IAM_USER",
            "ALLOYDB_IAM_GROUP",
            "ALLOYDB_IAM_GROUP_USER",
            "ALLOYDB_IAM_GROUP_SERVICE_ACCOUNT"
          ],
          "description": "Optional. Type of this user."
        },
        "password": {
          "description": "Input only. Password for the user.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}.",
          "type": "string"
        },
        "databaseRoles": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of database roles this user has. The database role strings are subject to the PostgreSQL naming conventions."
        },
        "keepExtraRoles": {
          "type": "boolean",
          "description": "Input only. If the user already exists and it has additional roles, keep them granted."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "type": "object",
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "properties": {
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "doubleValue": {
          "type": "number",
          "description": "For double value",
          "format": "double"
        },
        "stringValue": {
          "type": "string",
          "description": "For string value"
        },
        "int64Value": {
          "type": "string",
          "description": "For integer value",
          "format": "int64"
        }
      },
      "id": "StorageDatabasecenterProtoCommonTypedValue"
    },
    "ListSupportedDatabaseFlagsResponse": {
      "id": "ListSupportedDatabaseFlagsResponse",
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "type": "object",
      "properties": {
        "supportedDatabaseFlags": {
          "type": "array",
          "items": {
            "$ref": "SupportedDatabaseFlag"
          },
          "description": "The list of SupportedDatabaseFlags."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "BackupDrEnabledWindow": {
      "id": "BackupDrEnabledWindow",
      "description": "Information about a single window when BackupDR was enabled for this cluster.",
      "type": "object",
      "properties": {
        "backupPlanAssociation": {
          "description": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster.",
          "type": "string"
        },
        "continuousBackupPreviouslyEnabledTime": {
          "type": "string",
          "description": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "format": "google-datetime"
        },
        "logRetentionPeriod": {
          "format": "google-duration",
          "description": "The retention period for logs generated by BackupDR for this cluster.",
          "type": "string"
        },
        "disabledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`."
        },
        "dataSource": {
          "type": "string",
          "description": "The DataSource resource that represents the cluster in BackupDR."
        },
        "automatedBackupPreviouslyEnabled": {
          "description": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        },
        "continuousBackupPreviouslyEnabled": {
          "type": "boolean",
          "description": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster."
        },
        "enabledTime": {
          "description": "Time when the BackupDR protection for this cluster was enabled.",
          "format": "google-datetime",
          "type": "string"
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "description": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PscConfig": {
      "type": "object",
      "description": "PscConfig contains PSC related configuration at a cluster level.",
      "properties": {
        "serviceOwnedProjectNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity.",
          "type": "string"
        },
        "pscEnabled": {
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance.",
          "type": "boolean"
        }
      },
      "id": "PscConfig"
    },
    "StringRestrictions": {
      "description": "Restrictions on STRING type values",
      "id": "StringRestrictions",
      "properties": {
        "allowedValues": {
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseAgnostic": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the allowed values are case agnostic."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "type": "object",
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The specific engine that the underlying database is running.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ]
        },
        "type": {
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        }
      },
      "description": "Product specification for Condor resources.",
      "id": "StorageDatabasecenterProtoCommonProduct"
    },
    "EncryptionInfo": {
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup.",
      "type": "object",
      "properties": {
        "encryptionType": {
          "type": "string",
          "description": "Output only. Type of encryption.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ],
          "readOnly": true
        },
        "kmsKeyVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup.",
          "type": "array"
        }
      },
      "id": "EncryptionInfo"
    },
    "SupportedDatabaseFlag": {
      "properties": {
        "requiresDbRestart": {
          "type": "boolean",
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's)."
        },
        "valueType": {
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ]
        },
        "stringRestrictions": {
          "$ref": "StringRestrictions",
          "description": "Restriction on STRING type value."
        },
        "name": {
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning.",
          "type": "string"
        },
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ],
          "description": "The scope of the flag.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ]
        },
        "flagName": {
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field.",
          "type": "string"
        },
        "recommendedIntegerValue": {
          "type": "string",
          "format": "int64",
          "description": "The recommended value for an INTEGER flag."
        },
        "integerRestrictions": {
          "$ref": "IntegerRestrictions",
          "description": "Restriction on INTEGER type value."
        },
        "acceptsMultipleValues": {
          "type": "boolean",
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified."
        },
        "supportedDbVersions": {
          "description": "Major database engine versions for which this flag is supported.",
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "type": "string",
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ]
          },
          "type": "array"
        }
      },
      "id": "SupportedDatabaseFlag",
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainCompliance": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "version": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainCompliance"
    },
    "Stats": {
      "id": "Stats",
      "properties": {
        "success": {
          "format": "int32",
          "type": "integer",
          "description": "Number of read pool instances successfully upgraded."
        },
        "notStarted": {
          "type": "integer",
          "description": "Number of read pool instances for which upgrade has not started.",
          "format": "int32"
        },
        "failed": {
          "format": "int32",
          "description": "Number of read pool instances which failed to upgrade.",
          "type": "integer"
        },
        "ongoing": {
          "format": "int32",
          "type": "integer",
          "description": "Number of read pool instances undergoing upgrade."
        }
      },
      "description": "Upgrade stats for read pool instances.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "properties": {
        "startDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "type": "object",
      "description": "Disable validation warnings"
    },
    "DNSConfig": {
      "description": "The DNS config for the endpoint, containing the DNS record name, type and targets.",
      "id": "DNSConfig",
      "type": "object",
      "properties": {
        "dnsRecordType": {
          "description": "The type of the DNS record, e.g., \"A\", \"AAAA\", \"CNAME\".",
          "type": "string"
        },
        "dnsName": {
          "type": "string",
          "description": "The fully qualified domain name (FQDN) of the DNS record, e.g., \".location.alloydb-psa.goog\"."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "tags": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainTags"
    },
    "SecondaryConfig": {
      "type": "object",
      "id": "SecondaryConfig",
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY.",
      "properties": {
        "primaryClusterName": {
          "type": "string",
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        }
      }
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "properties": {
        "startTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The scheduled start time for the maintenance.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead."
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "properties": {
        "internalResourceMetadata": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData"
    },
    "StageStatus": {
      "type": "object",
      "description": "Status of an upgrade stage.",
      "properties": {
        "readPoolInstancesUpgrade": {
          "$ref": "ReadPoolInstancesUpgradeStageStatus",
          "description": "Read pool instances upgrade metadata."
        },
        "stage": {
          "description": "Upgrade stage.",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ]
        },
        "state": {
          "description": "State of this stage.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "id": "StageStatus"
    },
    "QueryInsightsInstanceConfig": {
      "properties": {
        "queryStringLength": {
          "type": "integer",
          "description": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid.",
          "format": "uint32"
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Record application tags for an instance. This flag is turned \"on\" by default."
        },
        "recordClientAddress": {
          "description": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "format": "uint32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid.",
          "type": "integer"
        }
      },
      "id": "QueryInsightsInstanceConfig",
      "type": "object",
      "description": "QueryInsights Instance specific configuration."
    },
    "TrialMetadata": {
      "description": "Contains information and all metadata related to TRIAL clusters.",
      "id": "TrialMetadata",
      "type": "object",
      "properties": {
        "upgradeTime": {
          "type": "string",
          "description": "Upgrade time of trial cluster to Standard cluster.",
          "format": "google-datetime"
        },
        "graceEndTime": {
          "description": "grace end time of the cluster.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "start time of the trial cluster.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the trial cluster.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "gcbdrManaged": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration"
    },
    "ListInstancesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of Instance"
        }
      },
      "id": "ListInstancesResponse",
      "type": "object",
      "description": "Message for response to listing Instances"
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "type": "object",
      "properties": {
        "baselineSlots": {
          "description": "Optional. Disable validation warnings",
          "format": "int64",
          "type": "string"
        },
        "cpuCount": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "memorySizeInBytes": {
          "description": "Disable validation warnings",
          "type": "string",
          "format": "int64"
        },
        "shardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Disable validation warnings"
        },
        "maxReservationSlots": {
          "description": "Optional. Disable validation warnings",
          "format": "int64",
          "type": "string"
        },
        "vcpuCount": {
          "description": "Optional. Disable validation warnings",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration"
    },
    "DenyMaintenancePeriod": {
      "properties": {
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        }
      },
      "description": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date.",
      "type": "object",
      "id": "DenyMaintenancePeriod"
    },
    "BackupDrBackupSource": {
      "type": "object",
      "id": "BackupDrBackupSource",
      "description": "Message describing a BackupDrBackupSource.",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      }
    },
    "PscInstanceConfig": {
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "type": "object",
      "properties": {
        "pscDnsName": {
          "type": "string",
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog",
          "readOnly": true
        },
        "pscAutoConnectionPolicyState": {
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "type": "string",
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ]
        },
        "serviceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "type": "string"
        },
        "allowedConsumerProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance."
        },
        "pscInterfaceConfigs": {
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "type": "array"
        },
        "pscAutoConnections": {
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "type": "array",
          "description": "Optional. Configurations for setting up PSC service automation."
        },
        "pscAutoDnsState": {
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ],
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance.",
          "type": "string",
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ]
        }
      },
      "id": "PscInstanceConfig"
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      }
    },
    "DataplexConfig": {
      "description": "Configuration for Dataplex integration.",
      "id": "DataplexConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\""
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData": {
      "id": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "metricType": {
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ],
          "description": "Required. Disable validation warnings"
        },
        "aggregationType": {
          "type": "string",
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ]
        },
        "observationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Disable validation warnings"
        },
        "value": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonTypedValue"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "properties": {
        "type": {
          "description": "Disable validation warnings",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "type": "string"
        },
        "entitlementState": {
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "properties": {
        "backupdrMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
        },
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedType": {
          "type": "string",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings"
        },
        "resourceId": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Disable validation warnings"
        },
        "feedTimestamp": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "format": "google-datetime"
        },
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "description": "Disable validation warnings"
        },
        "resourceMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        }
      },
      "description": "Disable validation warnings"
    },
    "AlloydbClhErrorsAlloyDbInternalDebugInfo": {
      "description": "AlloyDbInternalDebugInfo contains internal debugging information for AlloyDB errors. It is explicitly kept out of the allowlist (errors.yaml) to ensure it is sanitized (stripped) by OnePlatform for all external requests. Used only to carry internal error details to across UPC/FlowLib boundary for ObservabilityInfo.",
      "type": "object",
      "id": "AlloydbClhErrorsAlloyDbInternalDebugInfo",
      "properties": {
        "originalError": {
          "description": "The original error message or details before sanitization, used internally for debugging and logging.",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "description": "Message for response to listing Clusters",
      "type": "object",
      "id": "ListClustersResponse",
      "properties": {
        "clusters": {
          "description": "The list of Cluster",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "ConnectionInfo": {
      "properties": {
        "instanceUid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique ID of the Instance."
        },
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        },
        "pscDnsName": {
          "description": "Output only. The DNS name to use with PSC for the Instance.",
          "readOnly": true,
          "type": "string"
        },
        "pemCertificateChain": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "Output only. The pem-encoded chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246."
        },
        "pscAutoDnsName": {
          "description": "Output only. Specifies the DNS name to use with PSC service automation for the Instance.",
          "readOnly": true,
          "type": "string"
        },
        "publicIpAddress": {
          "readOnly": true,
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string"
        }
      },
      "id": "ConnectionInfo",
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ]
        },
        "resourceType": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "providerDescription": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "uniqueId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PscInstanceInfo": {
      "id": "PscInstanceInfo",
      "properties": {
        "effectivePscAutoDnsEnabled": {
          "description": "Output only. The effective state of the PSC auto DNS for the instance.",
          "readOnly": true,
          "type": "boolean"
        },
        "pscAutoDnsNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Specifies the auto DNS names for the instance.",
          "items": {
            "type": "string"
          }
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "effectivePscAutoConnectionPolicy": {
          "type": "boolean",
          "description": "Output only. Indicates if the PSC auto connection policy is enabled for the instance. For older instances, this will be off by default, but for newer instances, this will be auto-enabled.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Information about the Private Service Connect (PSC) for the instance."
    },
    "BackupDrInfo": {
      "properties": {
        "previousWindows": {
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list.",
          "type": "array",
          "items": {
            "$ref": "BackupDrEnabledWindow"
          }
        },
        "currentWindow": {
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty.",
          "$ref": "BackupDrEnabledWindow"
        }
      },
      "id": "BackupDrInfo",
      "description": "Information about BackupDR protection for this cluster.",
      "type": "object"
    },
    "SqlExportOptions": {
      "properties": {
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "ifExistTargetObjects": {
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode.",
          "type": "boolean"
        },
        "tables": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tables to export from.",
          "type": "array"
        },
        "schemaOnly": {
          "type": "boolean",
          "description": "Optional. If true, only export the schema."
        }
      },
      "type": "object",
      "description": "Options for exporting data in SQL format.",
      "id": "SqlExportOptions"
    },
    "InstanceUpgradeDetails": {
      "properties": {
        "name": {
          "description": "Normalized name of the instance.",
          "type": "string"
        },
        "instanceType": {
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "description": "Instance type.",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ]
        },
        "upgradeStatus": {
          "description": "Upgrade status of the instance.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "description": "Details regarding the upgrade of instances associated with a cluster.",
      "id": "InstanceUpgradeDetails",
      "type": "object"
    },
    "ContinuousBackupConfig": {
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster.",
      "properties": {
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
        },
        "recoveryWindowDays": {
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days.",
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "description": "Whether ContinuousBackup is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ContinuousBackupConfig"
    },
    "AuthorizedNetwork": {
      "description": "AuthorizedNetwork contains metadata for an authorized network.",
      "id": "AuthorizedNetwork",
      "properties": {
        "cidrRange": {
          "description": "CIDR range for one authorzied network of the instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "type": "object",
      "properties": {
        "networkAttachmentResource": {
          "type": "string",
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance."
        }
      },
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity."
    },
    "QuantityBasedRetention": {
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "id": "QuantityBasedRetention",
      "type": "object",
      "properties": {
        "count": {
          "description": "The number of backups to retain.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "properties": {
        "isDeletionProtectionEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "AutomatedBackupPolicy": {
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "id": "AutomatedBackupPolicy",
      "properties": {
        "quantityBasedRetention": {
          "$ref": "QuantityBasedRetention",
          "description": "Quantity-based Backup retention policy to retain recent backups."
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "labels": {
          "description": "Labels to apply to backups created using this configuration.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "location": {
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster.",
          "type": "string"
        },
        "weeklySchedule": {
          "$ref": "WeeklySchedule",
          "description": "Weekly schedule for the Backup."
        },
        "backupWindow": {
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour.",
          "format": "google-duration",
          "type": "string"
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        },
        "timeBasedRetention": {
          "$ref": "TimeBasedRetention",
          "description": "Time-based Backup retention policy."
        }
      },
      "type": "object"
    },
    "MigrationSource": {
      "properties": {
        "hostPort": {
          "description": "Output only. The host and port of the on-premises instance in host:port format",
          "readOnly": true,
          "type": "string"
        },
        "referenceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster."
        },
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ],
          "description": "Output only. Type of migration source.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "id": "MigrationSource"
    },
    "UpgradeClusterRequest": {
      "description": "Upgrades a cluster.",
      "id": "UpgradeClusterRequest",
      "type": "object",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned."
        },
        "version": {
          "description": "Required. The version the cluster is going to be upgraded to.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "properties": {
        "name": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "signalSeverity": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
[...]
