{
  "discoveryVersion": "v1",
  "schemas": {
    "TimeBasedRetention": {
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object",
      "id": "TimeBasedRetention",
      "properties": {
        "retentionPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "The retention period."
        }
      }
    },
    "ListUsersResponse": {
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "users": {
          "description": "The list of User",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing Users"
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachmentResource": {
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance.",
          "type": "string"
        }
      },
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "lastRefreshTime": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "signalType": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ]
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "description": "Disable validation warnings",
      "properties": {
        "feedTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        },
        "backupdrMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
          "description": "Disable validation warnings"
        },
        "resourceHealthSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "feedType": {
          "description": "Required. Disable validation warnings",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "recommendationSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
          "description": "Disable validation warnings"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "description": "Disable validation warnings"
        },
        "resourceMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Disable validation warnings"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed"
    },
    "ExportClusterResponse": {
      "description": "Response of export cluster rpc.",
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Required. Option to export data to cloud storage."
        }
      },
      "id": "ExportClusterResponse"
    },
    "RestoreFromCloudSQLRequest": {
      "type": "object",
      "id": "RestoreFromCloudSQLRequest",
      "description": "Message for registering Restoring from CloudSQL resource.",
      "properties": {
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "cloudsqlBackupRunSource": {
          "description": "Cluster created from CloudSQL backup run.",
          "$ref": "CloudSQLBackupRunSource"
        }
      }
    },
    "QuantityBasedRetention": {
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The number of backups to retain.",
          "format": "int32"
        }
      },
      "id": "QuantityBasedRetention",
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "id": "AutomatedBackupPolicy",
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "type": "object",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to apply to backups created using this configuration.",
          "type": "object"
        },
        "weeklySchedule": {
          "description": "Weekly schedule for the Backup.",
          "$ref": "WeeklySchedule"
        },
        "backupWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour."
        },
        "timeBasedRetention": {
          "description": "Time-based Backup retention policy.",
          "$ref": "TimeBasedRetention"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
        },
        "quantityBasedRetention": {
          "description": "Quantity-based Backup retention policy to retain recent backups.",
          "$ref": "QuantityBasedRetention"
        },
        "location": {
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster.",
          "type": "string"
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        }
      }
    },
    "ImportClusterResponse": {
      "type": "object",
      "id": "ImportClusterResponse",
      "description": "Response of import rpc.",
      "properties": {
        "bytesDownloaded": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes."
        }
      }
    },
    "BackupDrEnabledWindow": {
      "id": "BackupDrEnabledWindow",
      "description": "Information about a single window when BackupDR was enabled for this cluster.",
      "properties": {
        "backupPlanAssociation": {
          "description": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster.",
          "type": "string"
        },
        "continuousBackupPreviouslyEnabledTime": {
          "type": "string",
          "description": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "format": "google-datetime"
        },
        "disabledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`."
        },
        "enabledTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the BackupDR protection for this cluster was enabled."
        },
        "logRetentionPeriod": {
          "description": "The retention period for logs generated by BackupDR for this cluster.",
          "type": "string",
          "format": "google-duration"
        },
        "dataSource": {
          "type": "string",
          "description": "The DataSource resource that represents the cluster in BackupDR."
        },
        "continuousBackupPreviouslyEnabled": {
          "type": "boolean",
          "description": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster."
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "type": "integer",
          "description": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster.",
          "format": "int32"
        },
        "automatedBackupPreviouslyEnabled": {
          "description": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RestartInstanceRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "nodeIds": {
          "type": "array",
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances.",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "ListInstancesResponse": {
      "type": "object",
      "description": "Message for response to listing Instances",
      "properties": {
        "instances": {
          "description": "The list of Instance",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListInstancesResponse"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "StageStatus": {
      "id": "StageStatus",
      "description": "Status of an upgrade stage.",
      "type": "object",
      "properties": {
        "readPoolInstancesUpgrade": {
          "description": "Read pool instances upgrade metadata.",
          "$ref": "ReadPoolInstancesUpgradeStageStatus"
        },
        "stage": {
          "description": "Upgrade stage.",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ]
        },
        "state": {
          "description": "State of this stage.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      }
    },
    "ContinuousBackupInfo": {
      "properties": {
        "schedule": {
          "readOnly": true,
          "type": "array",
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "description": "Output only. Days of the week on which a continuous backup is taken."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the WALs and backups required for ContinuousBackup."
        },
        "earliestRestorableTime": {
          "description": "Output only. The earliest restorable time that can be restored to. If continuous backups and recovery was recently enabled, the earliest restorable time is the creation time of the earliest eligible backup within this cluster's continuous backup recovery window. After a cluster has had continuous backups enabled for the duration of its recovery window, the earliest restorable time becomes \"now minus the recovery window\". For example, assuming a point in time recovery is attempted at 04/16/2025 3:23:00PM with a 14d recovery window, the earliest restorable time would be 04/02/2025 3:23:00PM. This field is only visible if the CLUSTER_VIEW_CONTINUOUS_BACKUP cluster view is provided.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "enabledTime": {
          "readOnly": true,
          "description": "Output only. When ContinuousBackup was most recently enabled. Set to null if ContinuousBackup is not enabled.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "ContinuousBackupInfo describes the continuous backup properties of a cluster.",
      "id": "ContinuousBackupInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "properties": {
        "value": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "key": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "IntegerRestrictions": {
      "description": "Restrictions on INTEGER type values.",
      "id": "IntegerRestrictions",
      "type": "object",
      "properties": {
        "minValue": {
          "description": "The minimum value that can be specified, if applicable.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "The maximum value that can be specified, if applicable."
        }
      }
    },
    "DnsAutomationInfo": {
      "id": "DnsAutomationInfo",
      "description": "DnsAutomationInfo contains information about the DNS automation for the instance.",
      "type": "object",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ],
          "description": "Output only. The state of the DNS automation.",
          "type": "string"
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The fully qualified domain name of the instance for DNS automation. Example: \"...alloydb.goog.\". Note: The AUDIT directive is intentionally omitted because this field contains sensitive network topology information."
        }
      }
    },
    "GcsDestination": {
      "description": "Destination for Export. Export will be done to cloud storage.",
      "type": "object",
      "id": "GcsDestination",
      "properties": {
        "uri": {
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
      "properties": {
        "recommendationState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "description": "Required. Disable validation warnings",
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ]
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "additionalMetadata": {
          "type": "object",
          "description": "Optional. Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "recommenderId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "recommender": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "recommenderSubtype": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "properties": {
        "phase": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "InstanceUpgradeDetails": {
      "description": "Details regarding the upgrade of instances associated with a cluster.",
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Instance type.",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ]
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the instance."
        },
        "upgradeStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "description": "Upgrade status of the instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        }
      },
      "id": "InstanceUpgradeDetails"
    },
    "PrimaryConfig": {
      "id": "PrimaryConfig",
      "properties": {
        "secondaryClusterNames": {
          "description": "Output only. Names of the clusters that are replicating from this cluster.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Configuration for the primary cluster. It has the list of clusters that are replicating from this cluster. This should be set if and only if the cluster is of type PRIMARY.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "properties": {
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
    },
    "TrialMetadata": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the trial cluster.",
          "type": "string"
        },
        "upgradeTime": {
          "format": "google-datetime",
          "description": "Upgrade time of trial cluster to Standard cluster.",
          "type": "string"
        },
        "graceEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "grace end time of the cluster."
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "start time of the trial cluster."
        }
      },
      "id": "TrialMetadata",
      "description": "Contains information and all metadata related to TRIAL clusters.",
      "type": "object"
    },
    "CloudSQLBackupRunSource": {
      "description": "The source CloudSQL backup resource.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Required. The CloudSQL instance ID."
        },
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        },
        "backupRunId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The CloudSQL backup run ID."
        }
      },
      "type": "object",
      "id": "CloudSQLBackupRunSource"
    },
    "Cluster": {
      "id": "Cluster",
      "type": "object",
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "properties": {
        "primaryConfig": {
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster.",
          "readOnly": true,
          "$ref": "PrimaryConfig"
        },
        "cloudsqlBackupRunSource": {
          "description": "Output only. Cluster created from CloudSQL snapshot.",
          "readOnly": true,
          "$ref": "CloudSQLBackupRunSource"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "dataplexConfig": {
          "description": "Optional. Configuration for Dataplex integration.",
          "$ref": "DataplexConfig"
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "readOnly": true,
          "description": "Output only. Cluster created from a BackupDR backup."
        },
        "sslConfig": {
          "deprecated": true,
          "$ref": "SslConfig",
          "description": "SSL configuration for this AlloyDB cluster."
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster."
        },
        "backupdrInfo": {
          "$ref": "BackupDrInfo",
          "readOnly": true,
          "description": "Output only. Output only information about BackupDR protection for this cluster."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Optional."
        },
        "secondaryConfig": {
          "description": "Cross Region replication config specific to SECONDARY cluster.",
          "$ref": "SecondaryConfig"
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true
        },
        "maintenanceVersionSelectionPolicy": {
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ],
          "type": "string",
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances.",
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ]
        },
        "databaseVersion": {
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. The maintenance update policy determines when to allow or deny updates.",
          "$ref": "MaintenanceUpdatePolicy"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time stamp"
        },
        "state": {
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state."
          ],
          "type": "string",
          "description": "Output only. The current serving state of the cluster.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER"
          ]
        },
        "backupSource": {
          "description": "Output only. Cluster created from backup.",
          "readOnly": true,
          "$ref": "BackupSource"
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "type": "string",
          "readOnly": true
        },
        "maintenanceSchedule": {
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "migrationSource": {
          "readOnly": true,
          "description": "Output only. Cluster created via DMS migration.",
          "$ref": "MigrationSource"
        },
        "network": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead.",
          "deprecated": true,
          "type": "string"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Cluster."
        },
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "initialUser": {
          "$ref": "UserPassword",
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true
        },
        "clusterType": {
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "type": "string",
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "readOnly": true
        },
        "subscriptionType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "description": "Optional. Subscription type of the cluster."
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp",
          "format": "google-datetime"
        },
        "deleteTime": {
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "continuousBackupInfo": {
          "description": "Output only. Continuous backup properties for this cluster.",
          "$ref": "ContinuousBackupInfo",
          "readOnly": true
        },
        "encryptionInfo": {
          "readOnly": true,
          "description": "Output only. The encryption information for the cluster.",
          "$ref": "EncryptionInfo"
        },
        "trialMetadata": {
          "$ref": "TrialMetadata",
          "description": "Output only. Metadata for free trial clusters",
          "readOnly": true
        }
      }
    },
    "SupportedDatabaseFlag": {
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "id": "SupportedDatabaseFlag",
      "type": "object",
      "properties": {
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "valueType": {
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ]
        },
        "acceptsMultipleValues": {
          "type": "boolean",
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified."
        },
        "name": {
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning.",
          "type": "string"
        },
        "scope": {
          "description": "The scope of the flag.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ],
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ]
        },
        "supportedDbVersions": {
          "description": "Major database engine versions for which this flag is supported.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ]
          }
        },
        "recommendedIntegerValue": {
          "type": "string",
          "description": "The recommended value for an INTEGER flag.",
          "format": "int64"
        },
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "flagName": {
          "type": "string",
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "description": "Disable validation warnings",
      "properties": {
        "endDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Disable validation warnings"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "type": "object"
    },
    "SqlImportOptions": {
      "type": "object",
      "properties": {},
      "description": "Options for importing data in SQL format.",
      "id": "SqlImportOptions"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "maintenanceInfo": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "description": "Optional. Disable validation warnings"
        },
        "machineConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "description": "Disable validation warnings"
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "internalAdditionalMetadata": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "availabilityConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
          "description": "Disable validation warnings"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "suspensionReason": {
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "description": "Optional. Disable validation warnings"
        },
        "currentState": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "updationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Disable validation warnings",
          "type": "string"
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "additionalMetadata": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "resourceFlags": {
          "type": "array",
          "description": "Optional. Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          }
        },
        "primaryResourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "location": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "instanceType": {
          "type": "string",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "description": "Disable validation warnings",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ]
        },
        "modes": {
          "items": {
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ],
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Disable validation warnings"
        },
        "backupdrConfiguration": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration"
        },
        "gcbdrConfiguration": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration"
        },
        "zone": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "customMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "description": "Disable validation warnings"
        },
        "expectedState": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "Disable validation warnings"
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        },
        "entitlements": {
          "type": "array",
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          }
        },
        "userLabelSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "CsvImportOptions": {
      "id": "CsvImportOptions",
      "type": "object",
      "properties": {
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        },
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        },
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "type": "array"
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The database table to import CSV file into."
        }
      },
      "description": "Options for importing data in CSV format."
    },
    "DataplexConfig": {
      "description": "Configuration for Dataplex integration.",
      "id": "DataplexConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\"",
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "internalResourceMetadata": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array"
        }
      }
    },
    "MachineConfig": {
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type."
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of CPU's in the VM instance.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine."
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "code": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "message": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "errorType": {
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ],
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ],
          "type": "string",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError"
    },
    "SqlExportOptions": {
      "description": "Options for exporting data in SQL format.",
      "id": "SqlExportOptions",
      "properties": {
        "tables": {
          "description": "Optional. Tables to export from.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ifExistTargetObjects": {
          "type": "boolean",
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode."
        },
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "schemaOnly": {
          "type": "boolean",
          "description": "Optional. If true, only export the schema."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "description": "Disable validation warnings"
    },
    "UpgradeClusterResponse": {
      "properties": {
        "clusterUpgradeDetails": {
          "items": {
            "$ref": "ClusterUpgradeDetails"
          },
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "type": "array"
        },
        "message": {
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any.",
          "type": "string"
        },
        "status": {
          "description": "Status of upgrade operation.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "id": "UpgradeClusterResponse",
      "type": "object",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation."
    },
    "FailoverInstanceRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        }
      },
      "id": "FailoverInstanceRequest",
      "type": "object",
      "description": "Message for triggering failover on an Instance"
    },
    "ClientConnectionConfig": {
      "properties": {
        "sslConfig": {
          "$ref": "SslConfig",
          "description": "Optional. SSL configuration option for this instance."
        },
        "requireConnectors": {
          "type": "boolean",
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database."
        }
      },
      "description": "Client connection configuration",
      "type": "object",
      "id": "ClientConnectionConfig"
    },
    "Stats": {
      "type": "object",
      "description": "Upgrade stats for read pool instances.",
      "id": "Stats",
      "properties": {
        "success": {
          "description": "Number of read pool instances successfully upgraded.",
          "type": "integer",
          "format": "int32"
        },
        "notStarted": {
          "description": "Number of read pool instances for which upgrade has not started.",
          "type": "integer",
          "format": "int32"
        },
        "ongoing": {
          "type": "integer",
          "description": "Number of read pool instances undergoing upgrade.",
          "format": "int32"
        },
        "failed": {
          "description": "Number of read pool instances which failed to upgrade.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "description": "Disable validation warnings",
      "properties": {
        "privateIp": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "publicIp": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainIpAddress"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "properties": {
        "promotableReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "type": "string",
          "description": "Disable validation warnings"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "crossRegionReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "RestoreClusterRequest": {
      "type": "object",
      "properties": {
        "backupdrPitrSource": {
          "description": "BackupDR source used for point in time recovery.",
          "$ref": "BackupDrPitrSource"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. ID of the requesting object."
        },
        "backupSource": {
          "description": "Backup source.",
          "$ref": "BackupSource"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        }
      },
      "id": "RestoreClusterRequest",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11"
    },
    "BackupDrInfo": {
      "type": "object",
      "properties": {
        "currentWindow": {
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty.",
          "$ref": "BackupDrEnabledWindow"
        },
        "previousWindows": {
          "items": {
            "$ref": "BackupDrEnabledWindow"
          },
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list.",
          "type": "array"
        }
      },
      "description": "Information about BackupDR protection for this cluster.",
      "id": "BackupDrInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "type": "object",
      "properties": {
        "quantityBasedRetention": {
          "format": "int32",
          "description": "Disable validation warnings",
          "type": "integer"
        },
        "timestampBasedRetentionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "retentionUnit": {
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "description": "Disable validation warnings",
          "deprecated": true,
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "durationBasedRetention": {
          "format": "google-duration",
          "description": "Disable validation warnings",
          "type": "string"
        },
        "timeBasedRetention": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings"
    },
    "PscInstanceInfo": {
      "type": "object",
      "properties": {
        "pscAutoDnsNames": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Specifies the auto DNS names for the instance.",
          "readOnly": true,
          "type": "array"
        },
        "effectivePscAutoConnectionPolicy": {
          "type": "boolean",
          "description": "Output only. Indicates if the PSC auto connection policy is enabled for the instance. For older instances, this will be off by default, but for newer instances, this will be auto-enabled.",
          "readOnly": true
        },
        "effectivePscAutoDnsEnabled": {
          "type": "boolean",
          "description": "Output only. The effective state of the PSC auto DNS for the instance.",
          "readOnly": true
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\"",
          "type": "string"
        }
      },
      "description": "Information about the Private Service Connect (PSC) for the instance.",
      "id": "PscInstanceInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "properties": {
        "signalMetadataList": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          },
          "description": "Disable validation warnings",
          "type": "array"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "type": "boolean"
        },
        "signalType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceId": {
[...]
