{
  "title": "AlloyDB API",
  "documentationLink": "https://cloud.google.com/alloydb/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "revision": "20260826",
  "schemas": {
    "PscInstanceConfig": {
      "properties": {
        "pscAutoDnsState": {
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance.",
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ],
          "type": "string"
        },
        "pscAutoConnections": {
          "description": "Optional. Configurations for setting up PSC service automation.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "type": "array"
        },
        "allowedConsumerProjects": {
          "type": "array",
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance.",
          "items": {
            "type": "string"
          }
        },
        "serviceAttachmentLink": {
          "type": "string",
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "readOnly": true
        },
        "pscDnsName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog"
        },
        "pscAutoConnectionPolicyState": {
          "type": "string",
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ],
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "pscInterfaceConfigs": {
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "type": "array"
        }
      },
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "type": "object",
      "id": "PscInstanceConfig"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData",
      "properties": {
        "signalId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "additionalMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Disable validation warnings"
        },
        "description": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "provider": {
          "description": "Disable validation warnings",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "externalUri": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "signalSeverity": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Disable validation warnings",
          "type": "string"
        },
        "name": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "eventTime": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "signalClass": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings",
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ]
        },
        "compliance": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainCompliance"
          },
          "type": "array"
        },
        "state": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ],
          "type": "string"
        },
        "resourceContainer": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "signalType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "description": "Required. Disable validation warnings",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ]
        }
      }
    },
    "TimeBasedRetention": {
      "id": "TimeBasedRetention",
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "description": "The retention period.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "MachineConfig": {
      "type": "object",
      "description": "MachineConfig describes the configuration of a machine.",
      "properties": {
        "machineType": {
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of CPU's in the VM instance."
        }
      },
      "id": "MachineConfig"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Backup": {
      "id": "Backup",
      "type": "object",
      "properties": {
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation), if true, indicates that the service is actively updating the resource. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean",
          "readOnly": true
        },
        "clusterUid": {
          "description": "Output only. The system-generated UID of the cluster which was used to create this resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Backup.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs",
          "type": "object"
        },
        "deleteTime": {
          "description": "Output only. Delete time stamp",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED",
            "CONTINUOUS"
          ],
          "description": "The backup type, which suggests the trigger for the backup.",
          "type": "string",
          "enumDescriptions": [
            "Backup Type is unknown.",
            "ON_DEMAND backups that were triggered by the customer (e.g., not AUTOMATED).",
            "AUTOMATED backups triggered by the automated backups scheduler pursuant to an automated backup policy.",
            "CONTINUOUS backups triggered by the automated backups scheduler due to a continuous backup policy."
          ]
        },
        "name": {
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true,
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the backup with a customer-managed encryption key (CMEK). When this field is not specified, the backup will then use default encryption scheme to protect the user data."
        },
        "annotations": {
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is ready.",
            "The backup is creating.",
            "The backup failed.",
            "The backup is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of the backup."
        },
        "databaseVersion": {
          "readOnly": true,
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Output only. The database engine major version of the cluster this backup was created from. Any restored cluster created from this backup will have the same database version.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the backup."
        },
        "expiryQuantity": {
          "readOnly": true,
          "$ref": "QuantityBasedExpiry",
          "description": "Output only. The QuantityBasedExpiry of the backup, specified by the backup's retention policy. Once the expiry quantity is over retention, the backup is eligible to be garbage collected."
        },
        "createCompletionTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource finished being created."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Create time stamp",
          "format": "google-datetime"
        },
        "sizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The size of the backup in bytes.",
          "readOnly": true
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "encryptionInfo": {
          "readOnly": true,
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup."
        },
        "clusterName": {
          "description": "Required. The full resource name of the backup source cluster (e.g., projects/{project}/locations/{region}/clusters/{cluster_id}).",
          "type": "string"
        },
        "expiryTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which after the backup is eligible to be garbage collected. It is the duration specified by the backup's retention policy, added to the backup's create_time.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time stamp Users should not infer any meaning from this field. Its value is generally unrelated to the timing of the backup creation operation."
        }
      },
      "description": "Message describing Backup object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "description": "Disable validation warnings",
      "properties": {
        "provider": {
          "description": "Required. Disable validation warnings",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "providerDescription": {
          "type": "string",
          "description": "Optional. Disable validation warnings"
        },
        "uniqueId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceType": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
      "type": "object"
    },
    "UpgradeClusterRequest": {
      "type": "object",
      "id": "UpgradeClusterRequest",
      "description": "Upgrades a cluster.",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "version": {
          "description": "Required. The version the cluster is going to be upgraded to.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ]
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "id": "ListClustersResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clusters": {
          "description": "The list of Cluster",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Clusters"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "properties": {
        "key": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "value": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "type": "object",
      "description": "Disable validation warnings"
    },
    "ImportClusterResponse": {
      "id": "ImportClusterResponse",
      "description": "Response of import rpc.",
      "properties": {
        "bytesDownloaded": {
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EncryptionInfo": {
      "properties": {
        "encryptionType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Type of encryption.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ]
        },
        "kmsKeyVersions": {
          "type": "array",
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EncryptionInfo",
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "ContinuousBackupSource": {
      "properties": {
        "pointInTime": {
          "description": "Required. The point in time to restore to.",
          "format": "google-datetime",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field.",
          "type": "string"
        }
      },
      "description": "Message describing a ContinuousBackupSource.",
      "id": "ContinuousBackupSource",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainIpAddress",
      "properties": {
        "publicIp": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "privateIp": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings"
    },
    "ExportClusterResponse": {
      "properties": {
        "gcsDestination": {
          "description": "Required. Option to export data to cloud storage.",
          "$ref": "GcsDestination"
        }
      },
      "description": "Response of export cluster rpc.",
      "id": "ExportClusterResponse",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "properties": {
        "int64Value": {
          "format": "int64",
          "description": "For integer value",
          "type": "string"
        },
        "doubleValue": {
          "format": "double",
          "description": "For double value",
          "type": "number"
        },
        "stringValue": {
          "description": "For string value",
          "type": "string"
        },
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        }
      },
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "type": "object"
    },
    "ConnectionPoolConfig": {
      "properties": {
        "poolerCount": {
          "format": "int32",
          "description": "Output only. The number of running poolers per instance.",
          "type": "integer",
          "readOnly": true
        },
        "poolerScalingType": {
          "description": "Optional. The scaling type of the regular pooler.",
          "type": "string",
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ]
        },
        "flags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs.",
          "type": "object"
        },
        "authproxyPoolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ],
          "type": "string",
          "description": "Optional. The scaling type of the AuthProxy pooler."
        },
        "authproxyPoolerCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of running AuthProxy poolers per instance."
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether to enable Managed Connection Pool (MCP)."
        }
      },
      "type": "object",
      "description": "Configuration for Managed Connection Pool (MCP).",
      "id": "ConnectionPoolConfig"
    },
    "CsvImportOptions": {
      "id": "CsvImportOptions",
      "type": "object",
      "description": "Options for importing data in CSV format.",
      "properties": {
        "table": {
          "type": "string",
          "description": "Required. The database table to import CSV file into."
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "type": "array"
        }
      }
    },
    "SupportedDatabaseFlag": {
      "id": "SupportedDatabaseFlag",
      "type": "object",
      "properties": {
        "supportedDbVersions": {
          "type": "array",
          "items": {
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ]
          },
          "description": "Major database engine versions for which this flag is supported."
        },
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "flagName": {
          "type": "string",
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field."
        },
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "recommendedIntegerValue": {
          "description": "The recommended value for an INTEGER flag.",
          "type": "string",
          "format": "int64"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ],
          "type": "string",
          "description": "The scope of the flag.",
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ]
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "acceptsMultipleValues": {
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning.",
          "type": "string"
        },
        "valueType": {
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ],
          "type": "string"
        }
      },
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field."
    },
    "ListSupportedDatabaseFlagsResponse": {
      "type": "object",
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "properties": {
        "supportedDatabaseFlags": {
          "items": {
            "$ref": "SupportedDatabaseFlag"
          },
          "description": "The list of SupportedDatabaseFlags.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "id": "ListSupportedDatabaseFlagsResponse"
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Disable validation warnings"
        },
        "startTime": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CloudSQLBackupRunSource": {
      "type": "object",
      "id": "CloudSQLBackupRunSource",
      "description": "The source CloudSQL backup resource.",
      "properties": {
        "backupRunId": {
          "type": "string",
          "description": "Required. The CloudSQL backup run ID.",
          "format": "int64"
        },
        "instanceId": {
          "type": "string",
          "description": "Required. The CloudSQL instance ID."
        },
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse"
    },
    "Operation": {
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "properties": {
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Disable validation warnings"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Required. Disable validation warnings"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Disable validation warnings"
        },
        "lastRefreshTime": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "QuantityBasedExpiry": {
      "id": "QuantityBasedExpiry",
      "type": "object",
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "properties": {
        "retentionCount": {
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalRetentionCount": {
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "RestartInstanceRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "nodeIds": {
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RestartInstanceRequest"
    },
    "RestoreClusterRequest": {
      "id": "RestoreClusterRequest",
      "type": "object",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "properties": {
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "backupSource": {
          "description": "Backup source.",
          "$ref": "BackupSource"
        },
        "backupdrPitrSource": {
          "description": "BackupDR source used for point in time recovery.",
          "$ref": "BackupDrPitrSource"
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        }
      }
    },
    "UserPassword": {
      "id": "UserPassword",
      "properties": {
        "user": {
          "type": "string",
          "description": "The database username."
        },
        "password": {
          "type": "string",
          "description": "The initial password for the user."
        }
      },
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object"
    },
    "CsvExportOptions": {
      "id": "CsvExportOptions",
      "type": "object",
      "description": "Options for exporting data in CSV format.",
      "properties": {
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        }
      }
    },
    "ContinuousBackupConfig": {
      "properties": {
        "encryptionConfig": {
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "enabled": {
          "description": "Whether ContinuousBackup is enabled.",
          "type": "boolean"
        },
        "recoveryWindowDays": {
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster.",
      "id": "ContinuousBackupConfig",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "description": "Disable validation warnings",
      "properties": {
        "phase": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Optional. Disable validation warnings"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "startDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Disable validation warnings"
        }
      }
    },
    "SwitchoverClusterRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Message for switching over to a cluster",
      "id": "SwitchoverClusterRequest",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "id": "StorageDatabasecenterProtoCommonProduct",
      "description": "Product specification for Condor resources.",
      "type": "object",
      "properties": {
        "engine": {
          "description": "The specific engine that the underlying database is running.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ]
        },
        "type": {
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "type": "string"
        },
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        }
      }
    },
    "IntegerRestrictions": {
      "description": "Restrictions on INTEGER type values.",
      "properties": {
        "minValue": {
          "type": "string",
          "description": "The minimum value that can be specified, if applicable.",
          "format": "int64"
        },
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "The maximum value that can be specified, if applicable."
        }
      },
      "id": "IntegerRestrictions",
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "properties": {
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "quantityBasedRetention": {
          "$ref": "QuantityBasedRetention",
          "description": "Quantity-based Backup retention policy to retain recent backups."
        },
        "timeBasedRetention": {
          "$ref": "TimeBasedRetention",
          "description": "Time-based Backup retention policy."
        },
        "labels": {
          "type": "object",
          "description": "Labels to apply to backups created using this configuration.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "weeklySchedule": {
          "$ref": "WeeklySchedule",
          "description": "Weekly schedule for the Backup."
        },
        "backupWindow": {
          "type": "string",
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour.",
          "format": "google-duration"
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        },
        "location": {
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AutomatedBackupPolicy",
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set."
    },
    "DataplexConfig": {
      "type": "object",
      "description": "Configuration for Dataplex integration.",
      "id": "DataplexConfig",
      "properties": {
        "enabled": {
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\"",
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "properties": {
        "retentionUnit": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "deprecated": true,
          "description": "Disable validation warnings",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ]
        },
        "quantityBasedRetention": {
          "format": "int32",
          "description": "Disable validation warnings",
          "type": "integer"
        },
        "durationBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "description": "Disable validation warnings"
        },
        "timeBasedRetention": {
          "type": "string",
          "deprecated": true,
          "format": "google-duration",
          "description": "Disable validation warnings"
        },
        "timestampBasedRetentionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "type": "object",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "internalResourceMetadata": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "availabilityConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
          "description": "Disable validation warnings"
        },
        "instanceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "description": "Disable validation warnings"
        },
        "primaryResourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "resourceFlags": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          },
          "description": "Optional. Disable validation warnings",
          "type": "array"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Disable validation warnings",
          "type": "object"
        },
        "updationTime": {
          "description": "Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "userLabelSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels",
          "description": "Disable validation warnings"
        },
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "expectedState": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "Disable validation warnings"
        },
        "modes": {
          "description": "Optional. Disable validation warnings",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ],
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ]
          },
          "type": "array"
        },
        "creationTime": {
          "description": "Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "zone": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "maintenanceInfo": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "description": "Optional. Disable validation warnings"
        },
        "suspensionReason": {
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ]
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        },
        "entitlements": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          },
          "description": "Disable validation warnings",
          "type": "array"
        },
        "gcbdrConfiguration": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration"
        },
        "customMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "description": "Disable validation warnings"
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Optional. Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "machineConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "description": "Disable validation warnings"
        },
        "currentState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "edition": {
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "internalAdditionalMetadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Disable validation warnings",
          "type": "object"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        }
      }
    },
    "QuantityBasedRetention": {
      "id": "QuantityBasedRetention",
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of backups to retain."
        }
      }
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "properties": {
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "readOnly": true,
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\"",
          "type": "string"
        },
        "consumerNetworkStatus": {
          "readOnly": true,
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "type": "string"
        },
        "dnsAutomationInfos": {
          "readOnly": true,
          "description": "Output only. List of DNS automation info for the PSC auto connection.",
          "type": "array",
          "items": {
            "$ref": "DnsAutomationInfo"
          }
        },
        "consumerProject": {
          "type": "string",
          "description": "The consumer project to which the PSC service automation endpoint will be created."
        },
        "serviceConnectionPolicyCreationState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly."
        },
        "status": {
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion.",
          "type": "string",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of the PSC service automation endpoint."
        }
      },
      "id": "PscAutoConnectionConfig"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "SecondaryConfig": {
      "type": "object",
      "id": "SecondaryConfig",
      "properties": {
        "primaryClusterName": {
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string"
        }
      },
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY."
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "properties": {
        "network": {
          "description": "Optional. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project_number}/global/networks/{network_id}`. This is required to create a cluster.",
          "type": "string"
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB cluster, for example: \"google-managed-services-default\". If set, the instance IPs for this cluster will be created in the allocated range. The range name must comply with RFC 1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. Field name is intended to be consistent with Cloud SQL."
        }
      },
      "type": "object",
      "description": "Metadata related to network configuration."
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "day": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
        }
      },
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance."
    },
    "BackupDrInfo": {
      "type": "object",
      "id": "BackupDrInfo",
      "description": "Information about BackupDR protection for this cluster.",
      "properties": {
        "previousWindows": {
          "items": {
            "$ref": "BackupDrEnabledWindow"
          },
          "type": "array",
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list."
        },
        "currentWindow": {
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty.",
          "$ref": "BackupDrEnabledWindow"
        }
      }
    },
    "MaintenanceUpdatePolicy": {
      "description": "MaintenanceUpdatePolicy defines the policy for system updates.",
      "properties": {
        "maintenanceWindows": {
          "type": "array",
          "items": {
            "$ref": "MaintenanceWindow"
          },
          "description": "Preferred windows to perform maintenance. Currently limited to 1."
        },
        "denyMaintenancePeriods": {
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "description": "Periods to deny maintenance. Currently limited to 1.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "MaintenanceUpdatePolicy"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "type": "object",
      "properties": {
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "configBasedSignalData": {
[...]
