{
  "discoveryVersion": "v1",
  "revision": "20260818",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ImportClusterRequest": {
      "type": "object",
      "properties": {
        "database": {
          "type": "string",
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
        },
        "user": {
          "type": "string",
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference."
        },
        "gcsUri": {
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        },
        "sqlImportOptions": {
          "$ref": "SqlImportOptions",
          "description": "Options for importing data in SQL format."
        },
        "csvImportOptions": {
          "$ref": "CsvImportOptions",
          "description": "Options for importing data in CSV format."
        }
      },
      "id": "ImportClusterRequest",
      "description": "Import cluster request."
    },
    "CsvExportOptions": {
      "type": "object",
      "id": "CsvExportOptions",
      "description": "Options for exporting data in CSV format.",
      "properties": {
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata",
      "description": "Disable validation warnings",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        }
      }
    },
    "EncryptionConfig": {
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        }
      },
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key).",
      "type": "object"
    },
    "SslConfig": {
      "id": "SslConfig",
      "description": "SSL configuration.",
      "type": "object",
      "properties": {
        "sslMode": {
          "type": "string",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ],
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior.",
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ]
        },
        "caSource": {
          "type": "string",
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ],
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value.",
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ]
        }
      }
    },
    "SupportedDatabaseFlag": {
      "id": "SupportedDatabaseFlag",
      "properties": {
        "scope": {
          "description": "The scope of the flag.",
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ],
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ]
        },
        "valueType": {
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ]
        },
        "acceptsMultipleValues": {
          "type": "boolean",
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified."
        },
        "supportedDbVersions": {
          "type": "array",
          "description": "Major database engine versions for which this flag is supported.",
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "type": "string",
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ]
          }
        },
        "recommendedIntegerValue": {
          "type": "string",
          "format": "int64",
          "description": "The recommended value for an INTEGER flag."
        },
        "name": {
          "type": "string",
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning."
        },
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "recommendedStringValue": {
          "type": "string",
          "description": "The recommended value for a STRING flag."
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "flagName": {
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field.",
          "type": "string"
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        }
      },
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "startTime": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time."
        },
        "day": {
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance.",
      "id": "MaintenanceWindow",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "entitlementState": {
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings"
        },
        "type": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement"
    },
    "Node": {
      "properties": {
        "ip": {
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\".",
          "type": "string",
          "readOnly": true
        },
        "isHotStandby": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the node set up to be configured as a hot standby."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY.",
          "type": "string"
        },
        "zoneId": {
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\".",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Node",
      "type": "object",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations."
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "upgradeClusterStatus": {
          "description": "Output only. UpgradeClusterStatus related metadata.",
          "$ref": "UpgradeClusterStatus",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "CpuUtilization": {
      "properties": {
        "utilizationTarget": {
          "type": "number",
          "description": "Target CPU utilization as a float between 0 and 1.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "CPU utilization policy for the autoscaler.",
      "id": "CpuUtilization"
    },
    "BackupDrPitrSource": {
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
        },
        "pointInTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The point in time to restore to."
        }
      },
      "type": "object",
      "id": "BackupDrPitrSource",
      "description": "Message describing a BackupDrPitrSource."
    },
    "DNSConfig": {
      "description": "The DNS config for the endpoint, containing the DNS record name, type and targets.",
      "id": "DNSConfig",
      "properties": {
        "dnsName": {
          "description": "The fully qualified domain name (FQDN) of the DNS record, e.g., \".location.alloydb-psa.goog\".",
          "type": "string"
        },
        "dnsRecordType": {
          "description": "The type of the DNS record, e.g., \"A\", \"AAAA\", \"CNAME\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        },
        "configBasedSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData"
        },
        "feedTimestamp": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "recommendationSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
          "description": "Disable validation warnings"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "description": "Disable validation warnings"
        },
        "backupdrMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
        },
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedType": {
          "type": "string",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "resourceMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
          "description": "Disable validation warnings"
        },
        "skipIngestion": {
          "type": "boolean",
          "description": "Optional. Disable validation warnings"
        },
        "resourceId": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        }
      }
    },
    "StringRestrictions": {
      "id": "StringRestrictions",
      "properties": {
        "caseAgnostic": {
          "readOnly": true,
          "description": "Output only. Whether the allowed values are case agnostic.",
          "type": "boolean"
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values."
        }
      },
      "description": "Restrictions on STRING type values",
      "type": "object"
    },
    "GeminiInstanceConfig": {
      "properties": {
        "entitled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated and unused. This field will be removed in the near future.",
          "readOnly": true
        }
      },
      "id": "GeminiInstanceConfig",
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "type": "object",
      "properties": {
        "gcbdrConfiguration": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "description": "Disable validation warnings"
        },
        "edition": {
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "maintenanceInfo": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo"
        },
        "tagsSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags",
          "description": "Optional. Disable validation warnings"
        },
        "userLabelSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels",
          "description": "Disable validation warnings"
        },
        "internalAdditionalMetadata": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Optional. Disable validation warnings"
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "currentState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "Disable validation warnings"
        },
        "availabilityConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration"
        },
        "expectedState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "updationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "modes": {
          "items": {
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ],
            "type": "string",
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ]
          },
          "type": "array",
          "description": "Optional. Disable validation warnings"
        },
        "primaryResourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "machineConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
          "description": "Disable validation warnings"
        },
        "creationTime": {
          "format": "google-datetime",
          "description": "Disable validation warnings",
          "type": "string"
        },
        "entitlements": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          },
          "description": "Disable validation warnings",
          "type": "array"
        },
        "suspensionReason": {
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ]
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "primaryResourceLocation": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Disable validation warnings"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Disable validation warnings",
          "type": "object"
        },
        "customMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData"
        },
        "instanceType": {
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ]
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "resourceFlags": {
          "description": "Optional. Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          }
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "description": "Disable validation warnings",
      "properties": {
        "externalReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "availabilityType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Disable validation warnings"
        },
        "crossRegionReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "location": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "signalMetadataList": {
          "type": "array",
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          }
        },
        "signalType": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "backupRun": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "signalState": {
          "readOnly": true,
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "description": "Required. Output only. Disable validation warnings"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        }
      }
    },
    "AutoScalingConfig": {
      "properties": {
        "schedules": {
          "items": {
            "$ref": "Schedule"
          },
          "type": "array",
          "description": "Optional list of schedules for the MIG autoscaler. If not set, no schedules are created."
        },
        "policy": {
          "description": "Policy for the MIG autoscaler.",
          "$ref": "Policy"
        }
      },
      "description": "Configuration for autoscaling.",
      "id": "AutoScalingConfig",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "externalUri": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "signalId": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "compliance": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainCompliance"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "resourceContainer": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "additionalMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Disable validation warnings"
        },
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "description": "Required. Disable validation warnings"
        },
        "provider": {
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "signalSeverity": {
          "type": "string",
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "name": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ],
          "description": "Required. Disable validation warnings"
        },
        "signalClass": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
    },
    "ReadPoolInstancesUpgradeStageStatus": {
      "description": "Read pool instances upgrade specific status.",
      "type": "object",
      "properties": {
        "upgradeStats": {
          "$ref": "Stats",
          "description": "Read pool instances upgrade statistics."
        }
      },
      "id": "ReadPoolInstancesUpgradeStageStatus"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "description": "Disable validation warnings",
      "properties": {
        "key": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "value": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
      "properties": {
        "memorySizeInBytes": {
          "type": "string",
          "format": "int64",
          "description": "Disable validation warnings"
        },
        "cpuCount": {
          "type": "integer",
          "description": "Disable validation warnings",
          "format": "int32",
          "deprecated": true
        },
        "maxReservationSlots": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "format": "int64"
        },
        "vcpuCount": {
          "description": "Optional. Disable validation warnings",
          "type": "number",
          "format": "double"
        },
        "shardCount": {
          "description": "Optional. Disable validation warnings",
          "type": "integer",
          "format": "int32"
        },
        "baselineSlots": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "format": "int64"
        }
      }
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "description": "Product specification for Condor resources.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ]
        },
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        },
        "engine": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "description": "The specific engine that the underlying database is running.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ]
        },
        "minorVersion": {
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc..",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterProtoCommonProduct"
    },
    "QuantityBasedRetention": {
      "properties": {
        "count": {
          "description": "The number of backups to retain.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "id": "QuantityBasedRetention"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "day": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "phase": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule"
    },
    "InstanceUpgradeDetails": {
      "properties": {
        "instanceType": {
          "description": "Instance type.",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        },
        "upgradeStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Upgrade status of the instance."
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the instance."
        }
      },
      "type": "object",
      "description": "Details regarding the upgrade of instances associated with a cluster.",
      "id": "InstanceUpgradeDetails"
    },
    "GCAInstanceConfig": {
      "properties": {
        "gcaEntitlement": {
          "description": "Output only. Represents the GCA entitlement state of the instance.",
          "readOnly": true,
          "enumDescriptions": [
            "No GCA entitlement is assigned.",
            "The resource is entitled to the GCA Standard Tier."
          ],
          "type": "string",
          "enum": [
            "GCA_ENTITLEMENT_TYPE_UNSPECIFIED",
            "GCA_STANDARD"
          ]
        }
      },
      "id": "GCAInstanceConfig",
      "type": "object",
      "description": "Instance level configuration parameters related to the Gemini Cloud Assist product."
    },
    "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData": {
      "id": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "metricType": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ],
          "type": "string",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ]
        },
        "value": {
          "$ref": "StorageDatabasecenterProtoCommonTypedValue",
          "description": "Required. Disable validation warnings"
        },
        "aggregationType": {
          "type": "string",
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ],
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ],
          "description": "Required. Disable validation warnings"
        },
        "observationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Disable validation warnings"
        }
      }
    },
    "CloudSQLBackupRunSource": {
      "description": "The source CloudSQL backup resource.",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        },
        "backupRunId": {
          "type": "string",
          "description": "Required. The CloudSQL backup run ID.",
          "format": "int64"
        },
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        }
      },
      "id": "CloudSQLBackupRunSource"
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "errorType": {
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ]
        },
        "code": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "message": {
          "type": "string",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError"
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "description": "Disable validation warnings",
      "properties": {
        "tags": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "description": "Message describing Backup object",
      "properties": {
        "state": {
          "description": "Output only. The current state of the backup.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is ready.",
            "The backup is creating.",
            "The backup failed.",
            "The backup is being deleted."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The size of the backup in bytes."
        },
        "databaseVersion": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Output only. The database engine major version of the cluster this backup was created from. Any restored cluster created from this backup will have the same database version.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterDeleted": {
          "readOnly": true,
          "description": "Output only. Set to true if the cluster corresponding to this backup is deleted. This field is only populated for when using the BACKUP_VIEW_CLUSTER_DELETED view.",
          "type": "boolean"
        },
        "createCompletionTime": {
          "description": "Output only. Timestamp when the resource finished being created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp Users should not infer any meaning from this field. Its value is generally unrelated to the timing of the backup creation operation."
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the backup with a customer-managed encryption key (CMEK). When this field is not specified, the backup will then use default encryption scheme to protect the user data."
        },
        "expiryQuantity": {
          "readOnly": true,
          "$ref": "QuantityBasedExpiry",
          "description": "Output only. The QuantityBasedExpiry of the backup, specified by the backup's retention policy. Once the expiry quantity is over retention, the backup is eligible to be garbage collected."
        },
        "deleteTime": {
          "description": "Output only. Delete time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "clusterUid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the cluster which was used to create this resource.",
          "readOnly": true
        },
        "clusterName": {
          "description": "Required. The full resource name of the backup source cluster (e.g., projects/{project}/locations/{region}/clusters/{cluster_id}).",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time stamp"
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionInfo": {
          "readOnly": true,
          "description": "Output only. The encryption information for the backup.",
          "$ref": "EncryptionInfo"
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Backup."
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which after the backup is eligible to be garbage collected. It is the duration specified by the backup's retention policy, added to the backup's create_time.",
          "readOnly": true
        },
        "type": {
          "description": "The backup type, which suggests the trigger for the backup.",
          "enumDescriptions": [
            "Backup Type is unknown.",
            "ON_DEMAND backups that were triggered by the customer (e.g., not AUTOMATED).",
            "AUTOMATED backups triggered by the automated backups scheduler pursuant to an automated backup policy.",
            "CONTINUOUS backups triggered by the automated backups scheduler due to a continuous backup policy."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED",
            "CONTINUOUS"
          ]
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation), if true, indicates that the service is actively updating the resource. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the backup."
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        }
      },
      "id": "Backup"
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "description": "Destination for Export. Export will be done to cloud storage.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`."
        }
      }
    },
    "ContinuousBackupInfo": {
      "properties": {
        "enabledTime": {
          "description": "Output only. When ContinuousBackup was most recently enabled. Set to null if ContinuousBackup is not enabled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the WALs and backups required for ContinuousBackup."
        },
        "schedule": {
          "description": "Output only. Days of the week on which a continuous backup is taken.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          }
        },
        "earliestRestorableTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The earliest restorable time that can be restored to. If continuous backups and recovery was recently enabled, the earliest restorable time is the creation time of the earliest eligible backup within this cluster's continuous backup recovery window. After a cluster has had continuous backups enabled for the duration of its recovery window, the earliest restorable time becomes \"now minus the recovery window\". For example, assuming a point in time recovery is attempted at 04/16/2025 3:23:00PM with a 14d recovery window, the earliest restorable time would be 04/02/2025 3:23:00PM. This field is only visible if the CLUSTER_VIEW_CONTINUOUS_BACKUP cluster view is provided.",
          "format": "google-datetime"
        }
      },
      "description": "ContinuousBackupInfo describes the continuous backup properties of a cluster.",
      "id": "ContinuousBackupInfo",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "maintenanceVersion": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "denyMaintenanceSchedules": {
          "description": "Optional. Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule"
          }
        },
        "maintenanceSchedule": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule"
        },
        "upcomingMaintenance": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
          "description": "Optional. Disable validation warnings"
        },
        "currentVersionReleaseDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "maintenanceState": {
          "readOnly": true,
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Output only. Disable validation warnings",
          "type": "string",
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ]
        },
        "nextAvailableMaintenanceVersions": {
          "description": "Optional. Disable validation warnings",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isInstanceStopped": {
          "type": "boolean",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo"
    },
    "PromoteClusterRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "failover": {
          "type": "boolean",
          "description": "Optional. If set, the promote operation will attempt to recreate the original primary cluster as a secondary cluster when it comes back online. Otherwise, the promoted cluster will be a standalone cluster. Currently only supported when there is a single secondary cluster."
        },
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned."
        }
      },
      "description": "Message for promoting a Cluster",
      "id": "PromoteClusterRequest"
    },
    "UpgradeClusterStatus": {
      "type": "object",
      "id": "UpgradeClusterStatus",
      "description": "Message for current status of the Major Version Upgrade operation.",
      "properties": {
        "sourceVersion": {
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "description": "Source database major version.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "state": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Cluster Major Version Upgrade state.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "cancellable": {
          "description": "Whether the operation is cancellable.",
          "type": "boolean"
        },
        "stages": {
          "items": {
            "$ref": "StageStatus"
          },
          "description": "Status of all upgrade stages.",
          "type": "array"
        },
        "targetVersion": {
          "description": "Target database major version.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ]
        }
      }
    },
    "BackupSource": {
      "properties": {
        "backupUid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted.",
          "readOnly": true
        },
        "backupName": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}"
        }
      },
      "description": "Message describing a BackupSource.",
      "type": "object",
      "id": "BackupSource"
    },
    "PscConfig": {
      "id": "PscConfig",
      "description": "PscConfig contains PSC related configuration at a cluster level.",
      "type": "object",
      "properties": {
        "serviceOwnedProjectNumber": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity."
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance."
        }
      }
    },
    "ClientConnectionConfig": {
      "description": "Client connection configuration",
      "id": "ClientConnectionConfig",
      "type": "object",
      "properties": {
        "sslConfig": {
          "description": "Optional. SSL configuration option for this instance.",
          "$ref": "SslConfig"
        },
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        }
      }
    },
    "ConnectionPoolConfig": {
      "properties": {
        "flags": {
          "type": "object",
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "authproxyPoolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "description": "Optional. The scaling type of the AuthProxy pooler.",
          "type": "string",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ]
        },
        "poolerScalingType": {
          "type": "string",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ],
          "description": "Optional. The scaling type of the regular pooler.",
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ]
        },
        "poolerCount": {
          "type": "integer",
          "description": "Output only. The number of running poolers per instance.",
          "readOnly": true,
          "format": "int32"
        },
        "enabled": {
          "description": "Optional. Whether to enable Managed Connection Pool (MCP).",
          "type": "boolean"
        },
        "authproxyPoolerCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of running AuthProxy poolers per instance."
        }
      },
      "type": "object",
      "id": "ConnectionPoolConfig",
      "description": "Configuration for Managed Connection Pool (MCP)."
    },
    "RestoreClusterRequest": {
      "type": "object",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "properties": {
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "continuousBackupSource": {
          "$ref": "ContinuousBackupSource",
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed."
        },
        "backupdrPitrSource": {
          "$ref": "BackupDrPitrSource",
          "description": "BackupDR source used for point in time recovery."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "backupSource": {
          "description": "Backup source.",
[...]
