{
  "title": "AlloyDB API",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "alloydb:v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260904",
  "schemas": {
    "ConnectionPoolConfig": {
      "description": "Configuration for Managed Connection Pool (MCP).",
      "id": "ConnectionPoolConfig",
      "type": "object",
      "properties": {
        "authproxyPoolerCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The number of running AuthProxy poolers per instance."
        },
        "poolerCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of running poolers per instance.",
          "format": "int32"
        },
        "poolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "description": "Optional. The scaling type of the regular pooler.",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ],
          "type": "string"
        },
        "flags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs."
        },
        "authproxyPoolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ],
          "description": "Optional. The scaling type of the AuthProxy pooler.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether to enable Managed Connection Pool (MCP).",
          "type": "boolean"
        }
      }
    },
    "AutoScalingConfig": {
      "description": "Configuration for autoscaling.",
      "properties": {
        "policy": {
          "description": "Policy for the MIG autoscaler.",
          "$ref": "Policy"
        },
        "schedules": {
          "items": {
            "$ref": "Schedule"
          },
          "description": "Optional list of schedules for the MIG autoscaler. If not set, no schedules are created.",
          "type": "array"
        }
      },
      "id": "AutoScalingConfig",
      "type": "object"
    },
    "SslConfig": {
      "type": "object",
      "id": "SslConfig",
      "properties": {
        "sslMode": {
          "type": "string",
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ],
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ],
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior."
        },
        "caSource": {
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value.",
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ],
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ],
          "type": "string"
        }
      },
      "description": "SSL configuration."
    },
    "CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "properties": {
        "deleteResource": {
          "type": "boolean",
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead."
        },
        "exclusiveAction": {
          "description": "Excluisive action returned by the CLH.",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ]
        }
      },
      "type": "object",
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "id": "CloudControl2SharedOperationsReconciliationOperationMetadata"
    },
    "ListUsersResponse": {
      "description": "Message for response to listing Users",
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "users": {
          "description": "The list of User",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      }
    },
    "PscInterfaceConfig": {
      "properties": {
        "networkAttachmentResource": {
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance.",
          "type": "string"
        }
      },
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "id": "PscInterfaceConfig",
      "type": "object"
    },
    "ConnectionInfo": {
      "properties": {
        "pscDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name to use with PSC for the Instance."
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning."
        },
        "instanceUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the Instance."
        },
        "pemCertificateChain": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The pem-encoded chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "deprecated": true
        },
        "pscAutoDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the DNS name to use with PSC service automation for the Instance."
        },
        "publicIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
        }
      },
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "id": "ConnectionInfo",
      "type": "object"
    },
    "ClientConnectionConfig": {
      "id": "ClientConnectionConfig",
      "properties": {
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        },
        "sslConfig": {
          "$ref": "SslConfig",
          "description": "Optional. SSL configuration option for this instance."
        }
      },
      "description": "Client connection configuration",
      "type": "object"
    },
    "UpgradeClusterResponse": {
      "type": "object",
      "properties": {
        "message": {
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any.",
          "type": "string"
        },
        "clusterUpgradeDetails": {
          "type": "array",
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          }
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Status of upgrade operation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "id": "UpgradeClusterResponse"
    },
    "StageStatus": {
      "description": "Status of an upgrade stage.",
      "id": "StageStatus",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "State of this stage.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "readPoolInstancesUpgrade": {
          "description": "Read pool instances upgrade metadata.",
          "$ref": "ReadPoolInstancesUpgradeStageStatus"
        },
        "stage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "description": "Upgrade stage."
        }
      }
    },
    "Backup": {
      "description": "Message describing Backup object",
      "properties": {
        "clusterUid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The system-generated UID of the cluster which was used to create this resource."
        },
        "expiryQuantity": {
          "$ref": "QuantityBasedExpiry",
          "description": "Output only. The QuantityBasedExpiry of the backup, specified by the backup's retention policy. Once the expiry quantity is over retention, the backup is eligible to be garbage collected.",
          "readOnly": true
        },
        "tags": {
          "type": "object",
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Update time stamp Users should not infer any meaning from this field. Its value is generally unrelated to the timing of the backup creation operation.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Delete time stamp",
          "type": "string"
        },
        "expiryTime": {
          "description": "Output only. The time at which after the backup is eligible to be garbage collected. It is the duration specified by the backup's retention policy, added to the backup's create_time.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "clusterDeleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Set to true if the cluster corresponding to this backup is deleted. This field is only populated for when using the BACKUP_VIEW_CLUSTER_DELETED view."
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        },
        "type": {
          "description": "The backup type, which suggests the trigger for the backup.",
          "enumDescriptions": [
            "Backup Type is unknown.",
            "ON_DEMAND backups that were triggered by the customer (e.g., not AUTOMATED).",
            "AUTOMATED backups triggered by the automated backups scheduler pursuant to an automated backup policy.",
            "CONTINUOUS backups triggered by the automated backups scheduler due to a continuous backup policy."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED",
            "CONTINUOUS"
          ],
          "type": "string"
        },
        "clusterName": {
          "type": "string",
          "description": "Required. The full resource name of the backup source cluster (e.g., projects/{project}/locations/{region}/clusters/{cluster_id})."
        },
        "sizeBytes": {
          "description": "Output only. The size of the backup in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the backup.",
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation), if true, indicates that the service is actively updating the resource. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "createCompletionTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the resource finished being created.",
          "readOnly": true,
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18.",
            "The database version is Postgres 19."
          ],
          "description": "Output only. The database engine major version of the cluster this backup was created from. Any restored cluster created from this backup will have the same database version.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backup with a customer-managed encryption key (CMEK). When this field is not specified, the backup will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "edition": {
          "readOnly": true,
          "enumDescriptions": [
            "An unknown Edition type.",
            "Standard AlloyDB cluster.",
            "Developer edition cluster."
          ],
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ALLOYDB",
            "EDITION_ALLOYDB_DEVELOPER"
          ],
          "type": "string",
          "description": "Output only. The edition of the cluster this backup was created from. Any restored cluster created from this backup will have the same edition."
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "state": {
          "description": "Output only. The current state of the backup.",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is ready.",
            "The backup is creating.",
            "The backup failed.",
            "The backup is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Backup.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time stamp"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        }
      },
      "id": "Backup",
      "type": "object"
    },
    "ReadPoolConfig": {
      "type": "object",
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Read capacity, i.e. number of nodes in a read pool instance.",
          "type": "integer"
        },
        "autoScalingConfig": {
          "description": "Autoscaling configuration for the read pool instance. If not set, the read pool instance will not be autoscaled.",
          "$ref": "AutoScalingConfig"
        }
      },
      "description": "Configuration for a read pool instance.",
      "id": "ReadPoolConfig"
    },
    "StageInfo": {
      "properties": {
        "stage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "type": "string",
          "description": "The stage."
        },
        "logsUrl": {
          "type": "string",
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE."
        },
        "status": {
          "type": "string",
          "description": "Status of the stage.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "description": "Stage information for different stages in the upgrade process.",
      "id": "StageInfo",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "type": "object",
      "properties": {
        "observabilityMetricData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData"
        },
        "backupdrMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
          "description": "Disable validation warnings"
        },
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Disable validation warnings"
        },
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "feedType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Required. Disable validation warnings",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "type": "string"
        },
        "resourceMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "feedTimestamp": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "type": "object",
      "properties": {
        "day": {
          "description": "Optional. Disable validation warnings",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "phase": {
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
      "type": "object",
      "properties": {
        "cpuCount": {
          "description": "Disable validation warnings",
          "format": "int32",
          "type": "integer",
          "deprecated": true
        },
        "memorySizeInBytes": {
          "type": "string",
          "description": "Disable validation warnings",
          "format": "int64"
        },
        "maxReservationSlots": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Disable validation warnings"
        },
        "shardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Disable validation warnings"
        },
        "baselineSlots": {
          "description": "Optional. Disable validation warnings",
          "type": "string",
          "format": "int64"
        },
        "vcpuCount": {
          "format": "double",
          "description": "Optional. Disable validation warnings",
          "type": "number"
        }
      },
      "description": "Disable validation warnings"
    },
    "CpuUtilization": {
      "type": "object",
      "description": "CPU utilization policy for the autoscaler.",
      "id": "CpuUtilization",
      "properties": {
        "utilizationTarget": {
          "description": "Target CPU utilization as a float between 0 and 1.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "StringRestrictions": {
      "type": "object",
      "description": "Restrictions on STRING type values",
      "id": "StringRestrictions",
      "properties": {
        "caseAgnostic": {
          "description": "Output only. Whether the allowed values are case agnostic.",
          "type": "boolean",
          "readOnly": true
        },
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "BackupDrInfo": {
      "properties": {
        "previousWindows": {
          "type": "array",
          "items": {
            "$ref": "BackupDrEnabledWindow"
          },
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list."
        },
        "currentWindow": {
          "$ref": "BackupDrEnabledWindow",
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty."
        }
      },
      "description": "Information about BackupDR protection for this cluster.",
      "type": "object",
      "id": "BackupDrInfo"
    },
    "Stats": {
      "id": "Stats",
      "type": "object",
      "description": "Upgrade stats for read pool instances.",
      "properties": {
        "notStarted": {
          "format": "int32",
          "description": "Number of read pool instances for which upgrade has not started.",
          "type": "integer"
        },
        "ongoing": {
          "format": "int32",
          "description": "Number of read pool instances undergoing upgrade.",
          "type": "integer"
        },
        "failed": {
          "type": "integer",
          "format": "int32",
          "description": "Number of read pool instances which failed to upgrade."
        },
        "success": {
          "type": "integer",
          "format": "int32",
          "description": "Number of read pool instances successfully upgraded."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData": {
      "description": "Disable validation warnings",
      "properties": {
        "recommenderId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ]
        },
        "recommender": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "format": "google-datetime"
        },
        "recommendationState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "description": "Required. Disable validation warnings"
        },
        "additionalMetadata": {
          "type": "object",
          "description": "Optional. Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse",
      "type": "object"
    },
    "UpdatePolicy": {
      "type": "object",
      "description": "Policy to be used while updating the instance.",
      "id": "UpdatePolicy",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Mode is unknown.",
            "Least disruptive way to apply the update.",
            "Performs a forced update when applicable. This will be fast but may incur a downtime."
          ],
          "type": "string",
          "description": "Mode for updating the instance.",
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "FORCE_APPLY"
          ]
        }
      }
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "id": "StorageDatabasecenterProtoCommonProduct",
      "properties": {
        "minorVersion": {
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc..",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "description": "The specific engine that the underlying database is running.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        },
        "type": {
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ]
        }
      },
      "description": "Product specification for Condor resources.",
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "type": "object",
      "description": "Message for response to listing Instances",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "instances": {
          "description": "The list of Instance",
          "type": "array",
          "items": {
            "$ref": "Instance"
          }
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "provider": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ]
        },
        "uniqueId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "providerDescription": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
    },
    "DnsAutomationInfo": {
      "description": "DnsAutomationInfo contains information about the DNS automation for the instance.",
      "type": "object",
      "id": "DnsAutomationInfo",
      "properties": {
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "description": "Output only. The fully qualified domain name of the instance for DNS automation. Example: \"...alloydb.goog.\". Note: The AUDIT directive is intentionally omitted because this field contains sensitive network topology information.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ],
          "description": "Output only. The state of the DNS automation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ListEndpointsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "endpoints": {
          "type": "array",
          "items": {
            "$ref": "Endpoint"
          },
          "description": "The list of Endpoints"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ListEndpointsResponse",
      "description": "Message for response to listing Endpoints"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation"
    },
    "PscInstanceConfig": {
      "id": "PscInstanceConfig",
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "type": "object",
      "properties": {
        "pscAutoConnectionPolicyState": {
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ],
          "type": "string"
        },
        "pscDnsName": {
          "type": "string",
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog",
          "readOnly": true
        },
        "pscAutoDnsState": {
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ],
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ]
        },
        "pscInterfaceConfigs": {
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "type": "array"
        },
        "allowedConsumerProjects": {
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pscAutoConnections": {
          "description": "Optional. Configurations for setting up PSC service automation.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "serviceAttachmentLink": {
          "type": "string",
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "readOnly": true
        }
      }
    },
    "SqlExportOptions": {
      "description": "Options for exporting data in SQL format.",
      "type": "object",
      "id": "SqlExportOptions",
      "properties": {
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "tables": {
          "description": "Optional. Tables to export from.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ifExistTargetObjects": {
          "type": "boolean",
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode."
        },
        "schemaOnly": {
          "description": "Optional. If true, only export the schema.",
          "type": "boolean"
        }
      }
    },
    "DataplexConfig": {
      "type": "object",
      "id": "DataplexConfig",
      "description": "Configuration for Dataplex integration.",
      "properties": {
        "enabled": {
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\"",
          "type": "boolean"
        }
      }
    },
    "ContinuousBackupSource": {
      "id": "ContinuousBackupSource",
      "type": "object",
      "properties": {
        "pointInTime": {
          "format": "google-datetime",
          "description": "Required. The point in time to restore to.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field."
        }
      },
      "description": "Message describing a ContinuousBackupSource."
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "properties": {
        "lastRefreshTime": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "format": "google-datetime"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Required. Disable validation warnings"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        }
      },
      "type": "object"
    },
    "RestoreClusterRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "description": "BackupDR backup source."
        },
        "backupSource": {
          "description": "Backup source.",
          "$ref": "BackupSource"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        },
        "backupdrPitrSource": {
          "$ref": "BackupDrPitrSource",
          "description": "BackupDR source used for point in time recovery."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. ID of the requesting object."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "type": "object",
      "id": "RestoreClusterRequest"
    },
    "PromoteClusterRequest": {
      "description": "Message for promoting a Cluster",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "failover": {
          "type": "boolean",
          "description": "Optional. If set, the promote operation will attempt to recreate the original primary cluster as a secondary cluster when it comes back online. Otherwise, the promoted cluster will be a standalone cluster. Currently only supported when there is a single secondary cluster."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        }
      },
      "id": "PromoteClusterRequest",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "description": "Disable validation warnings",
      "properties": {
        "internalResourceMetadata": {
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "type": "object"
    },
    "UserPassword": {
      "id": "UserPassword",
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object",
      "properties": {
        "user": {
          "description": "The database username.",
          "type": "string"
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      }
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "properties": {
        "machineType": {
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU's in the VM instance."
        }
      },
      "type": "object",
      "description": "MachineConfig describes the configuration of a machine."
    },
    "PscAutoConnectionConfig": {
      "id": "PscAutoConnectionConfig",
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
        },
        "serviceConnectionPolicyCreationState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly."
        },
        "consumerNetworkStatus": {
          "readOnly": true,
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "type": "string"
        },
        "consumerProject": {
          "type": "string",
          "description": "The consumer project to which the PSC service automation endpoint will be created."
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. The IP address of the PSC service automation endpoint.",
          "type": "string"
        },
        "consumerNetwork": {
          "type": "string",
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project."
        },
        "serviceConnectionPolicy": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\""
        },
        "dnsAutomationInfos": {
          "description": "Output only. List of DNS automation info for the PSC auto connection.",
          "readOnly": true,
          "items": {
            "$ref": "DnsAutomationInfo"
          },
          "type": "array"
        }
      },
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "type": "object"
    },
    "CloudSQLBackupRunSource": {
      "description": "The source CloudSQL backup resource.",
      "properties": {
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        },
        "backupRunId": {
          "type": "string",
          "description": "Required. The CloudSQL backup run ID.",
          "format": "int64"
        },
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        }
      },
      "id": "CloudSQLBackupRunSource",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "suspensionReason": {
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "description": "Optional. Disable validation warnings",
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ],
          "type": "string"
        },
        "primaryResourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        },
        "creationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Disable validation warnings"
        },
        "expectedState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "type": "string",
          "description": "Disable validation warnings"
        },
        "edition": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "machineConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration"
        },
        "currentState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "additionalMetadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Disable validation warnings",
          "type": "object"
        },
        "availabilityConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration"
        },
        "primaryResourceLocation": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "modes": {
          "type": "array",
          "items": {
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ]
          },
          "description": "Optional. Disable validation warnings"
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "Optional. Disable validation warnings"
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "maintenanceInfo": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo"
        },
        "gcbdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "customMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData"
        },
        "location": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "entitlements": {
          "type": "array",
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          }
        },
        "zone": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "internalAdditionalMetadata": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "updationTime": {
          "type": "string",
          "description": "Disable validation warnings",
          "format": "google-datetime"
        },
        "resourceFlags": {
          "description": "Optional. Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          },
          "type": "array"
        },
        "resourceContainer": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "userLabelSet": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "instanceType": {
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "type": "string",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "isDeletionProtectionEnabled": {
          "type": "boolean",
          "description": "Optional. Disable validation warnings"
        }
      },
      "type": "object"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "Policy for the autoscaler.",
      "properties": {
        "maxNodeCount": {
          "description": "Maximum number of nodes for the autoscaler.",
          "type": "string",
          "format": "int64"
        },
        "coolDownPeriodSec": {
          "description": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm.",
          "type": "string",
          "format": "int64"
        },
        "enabled": {
          "description": "If true, autoscaling is enabled for the instance. If not set, the default value is false.",
          "type": "boolean"
        },
        "cpuUtilization": {
          "description": "CPU utilization policy for the autoscaler.",
          "$ref": "CpuUtilization"
        }
      }
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "type": "object",
      "description": "Destination for Export. Export will be done to cloud storage.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`."
        }
      }
    },
    "User": {
      "id": "User",
      "description": "Message describing User object.",
      "type": "object",
      "properties": {
        "databaseRoles": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of database roles this user has. The database role strings are subject to the PostgreSQL naming conventions.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}."
        },
        "password": {
          "description": "Input only. Password for the user.",
          "type": "string"
        },
        "userType": {
          "enumDescriptions": [
            "Unspecified user type.",
            "The default user type that authenticates via password-based authentication.",
            "Database user that can authenticate via IAM-Based authentication.",
            "Database user that represents an IAM group whose members can authenticate via IAM group-based authentication.",
            "Represents a user that belongs to an IAM group.",
            "Represents a service account that belongs to an IAM group."
          ],
          "enum": [
            "USER_TYPE_UNSPECIFIED",
            "ALLOYDB_BUILT_IN",
            "ALLOYDB_IAM_USER",
            "ALLOYDB_IAM_GROUP",
            "ALLOYDB_IAM_GROUP_USER",
            "ALLOYDB_IAM_GROUP_SERVICE_ACCOUNT"
          ],
          "description": "Optional. Type of this user.",
          "type": "string"
        },
        "keepExtraRoles": {
          "description": "Input only. If the user already exists and it has additional roles, keep them granted.",
          "type": "boolean"
        }
      }
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week.",
      "type": "object",
      "properties": {
        "daysOfWeek": {
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used.",
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "type": "array"
        },
        "startTimes": {
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily.",
          "type": "array",
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          }
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "description": "Disable validation warnings",
      "properties": {
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "signalBoolValue": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata",
      "type": "object"
    },
    "BackupDrPitrSource": {
      "description": "Message describing a BackupDrPitrSource.",
      "properties": {
        "dataSource": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}",
          "type": "string"
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Required. The point in time to restore to.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BackupDrPitrSource"
    },
    "DNSConfig": {
      "type": "object",
      "description": "The DNS config for the endpoint, containing the DNS record name, type and targets.",
      "id": "DNSConfig",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The fully qualified domain name (FQDN) of the DNS record, e.g., \".location.alloydb-psa.goog\"."
        },
        "dnsRecordType": {
          "type": "string",
          "description": "The type of the DNS record, e.g., \"A\", \"AAAA\", \"CNAME\"."
        }
      }
    },
    "IntegerRestrictions": {
      "description": "Restrictions on INTEGER type values.",
      "type": "object",
      "properties": {
        "maxValue": {
          "format": "int64",
          "type": "string",
          "description": "The maximum value that can be specified, if applicable."
[...]
