{
  "discoveryVersion": "v1",
  "version": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "name": "alloydb",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "rootUrl": "https://alloydb.googleapis.com/",
  "schemas": {
    "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration": {
      "properties": {
        "gcbdrManaged": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration"
    },
    "ContinuousBackupConfig": {
      "properties": {
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
        },
        "enabled": {
          "description": "Whether ContinuousBackup is enabled.",
          "type": "boolean"
        },
        "recoveryWindowDays": {
          "type": "integer",
          "format": "int32",
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days."
        }
      },
      "type": "object",
      "id": "ContinuousBackupConfig",
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster."
    },
    "UpgradeClusterStatus": {
      "id": "UpgradeClusterStatus",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "description": "Cluster Major Version Upgrade state.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "sourceVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Source database major version.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "cancellable": {
          "type": "boolean",
          "description": "Whether the operation is cancellable."
        },
        "stages": {
          "description": "Status of all upgrade stages.",
          "type": "array",
          "items": {
            "$ref": "StageStatus"
          }
        },
        "targetVersion": {
          "description": "Target database major version.",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        }
      },
      "type": "object",
      "description": "Message for current status of the Major Version Upgrade operation."
    },
    "ExportClusterResponse": {
      "type": "object",
      "id": "ExportClusterResponse",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Required. Option to export data to cloud storage."
        }
      },
      "description": "Response of export cluster rpc."
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "uniqueId": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "providerDescription": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "properties": {
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedTimestamp": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "backupdrMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
        },
        "configBasedSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData"
        },
        "databaseResourceSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
          "description": "Disable validation warnings"
        },
        "resourceMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
          "description": "Disable validation warnings"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "feedType": {
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "description": "Required. Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
      "properties": {
        "vcpuCount": {
          "format": "double",
          "type": "number",
          "description": "Optional. Disable validation warnings"
        },
        "memorySizeInBytes": {
          "format": "int64",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "cpuCount": {
          "description": "Disable validation warnings",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "baselineSlots": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Disable validation warnings"
        },
        "maxReservationSlots": {
          "format": "int64",
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "shardCount": {
          "type": "integer",
          "description": "Optional. Disable validation warnings",
          "format": "int32"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "Cluster": {
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "id": "Cluster",
      "type": "object",
      "properties": {
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "migrationSource": {
          "$ref": "MigrationSource",
          "readOnly": true,
          "description": "Output only. Cluster created via DMS migration."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "cloudsqlBackupRunSource": {
          "description": "Output only. Cluster created from CloudSQL snapshot.",
          "readOnly": true,
          "$ref": "CloudSQLBackupRunSource"
        },
        "subscriptionType": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ],
          "description": "Optional. Subscription type of the cluster."
        },
        "maintenanceSchedule": {
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "readOnly": true,
          "$ref": "MaintenanceSchedule"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "type": "string"
        },
        "initialUser": {
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored.",
          "$ref": "UserPassword"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time stamp",
          "type": "string"
        },
        "databaseVersion": {
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "secondaryConfig": {
          "description": "Cross Region replication config specific to SECONDARY cluster.",
          "$ref": "SecondaryConfig"
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. The maintenance update policy determines when to allow or deny updates.",
          "$ref": "MaintenanceUpdatePolicy"
        },
        "backupdrBackupSource": {
          "description": "Output only. Cluster created from a BackupDR backup.",
          "$ref": "BackupDrBackupSource",
          "readOnly": true
        },
        "maintenanceVersionSelectionPolicy": {
          "type": "string",
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances.",
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ],
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ]
        },
        "network": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead.",
          "deprecated": true,
          "type": "string"
        },
        "networkConfig": {
          "description": "Optional.",
          "$ref": "NetworkConfig"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "trialMetadata": {
          "readOnly": true,
          "$ref": "TrialMetadata",
          "description": "Output only. Metadata for free trial clusters"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Cluster.",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Delete time stamp"
        },
        "backupSource": {
          "description": "Output only. Cluster created from backup.",
          "readOnly": true,
          "$ref": "BackupSource"
        },
        "state": {
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER"
          ],
          "readOnly": true,
          "description": "Output only. The current serving state of the cluster.",
          "type": "string"
        },
        "clusterType": {
          "readOnly": true,
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "type": "string",
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ]
        },
        "backupdrInfo": {
          "readOnly": true,
          "description": "Output only. Output only information about BackupDR protection for this cluster.",
          "$ref": "BackupDrInfo"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the cluster."
        },
        "pscConfig": {
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster.",
          "$ref": "PscConfig"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
        },
        "continuousBackupInfo": {
          "description": "Output only. Continuous backup properties for this cluster.",
          "readOnly": true,
          "$ref": "ContinuousBackupInfo"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "sslConfig": {
          "description": "SSL configuration for this AlloyDB cluster.",
          "deprecated": true,
          "$ref": "SslConfig"
        },
        "primaryConfig": {
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster.",
          "$ref": "PrimaryConfig",
          "readOnly": true
        },
        "dataplexConfig": {
          "$ref": "DataplexConfig",
          "description": "Optional. Configuration for Dataplex integration."
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        }
      }
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "description": "Product specification for Condor resources.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        },
        "type": {
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "engine": {
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_MEMORYSTORE_FOR_VALKEY",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The specific engine that the underlying database is running.",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Memorystore with Valkey.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "type": "string"
        },
        "minorVersion": {
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc..",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterProtoCommonProduct"
    },
    "CsvExportOptions": {
      "id": "CsvExportOptions",
      "description": "Options for exporting data in CSV format.",
      "properties": {
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SqlExportOptions": {
      "properties": {
        "tables": {
          "description": "Optional. Tables to export from.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ifExistTargetObjects": {
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode.",
          "type": "boolean"
        },
        "schemaOnly": {
          "type": "boolean",
          "description": "Optional. If true, only export the schema."
        },
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        }
      },
      "id": "SqlExportOptions",
      "type": "object",
      "description": "Options for exporting data in SQL format."
    },
    "ListUsersResponse": {
      "description": "Message for response to listing Users",
      "type": "object",
      "id": "ListUsersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "The list of User"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "PscConfig": {
      "type": "object",
      "description": "PscConfig contains PSC related configuration at a cluster level.",
      "properties": {
        "serviceOwnedProjectNumber": {
          "readOnly": true,
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity.",
          "type": "string",
          "format": "int64"
        },
        "pscEnabled": {
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance.",
          "type": "boolean"
        }
      },
      "id": "PscConfig"
    },
    "MaintenanceSchedule": {
      "id": "MaintenanceSchedule",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The scheduled start time for the maintenance.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead."
    },
    "ImportClusterResponse": {
      "id": "ImportClusterResponse",
      "properties": {
        "bytesDownloaded": {
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Response of import rpc.",
      "type": "object"
    },
    "EncryptionInfo": {
      "properties": {
        "encryptionType": {
          "readOnly": true,
          "description": "Output only. Type of encryption.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ]
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "EncryptionInfo",
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup."
    },
    "CloudSQLBackupRunSource": {
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Required. The CloudSQL instance ID."
        },
        "backupRunId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The CloudSQL backup run ID."
        },
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        }
      },
      "id": "CloudSQLBackupRunSource",
      "type": "object",
      "description": "The source CloudSQL backup resource."
    },
    "SqlImportOptions": {
      "description": "Options for importing data in SQL format.",
      "properties": {},
      "id": "SqlImportOptions",
      "type": "object"
    },
    "DenyMaintenancePeriod": {
      "description": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date.",
      "id": "DenyMaintenancePeriod",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "description": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC",
          "$ref": "GoogleTypeTimeOfDay"
        }
      }
    },
    "ListInstancesResponse": {
      "description": "Message for response to listing Instances",
      "type": "object",
      "id": "ListInstancesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of Instance",
          "type": "array"
        }
      }
    },
    "UserPassword": {
      "properties": {
        "user": {
          "type": "string",
          "description": "The database username."
        },
        "password": {
          "type": "string",
          "description": "The initial password for the user."
        }
      },
      "id": "UserPassword",
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "type": "object"
    },
    "RestartInstanceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "nodeIds": {
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "RestartInstanceRequest"
    },
    "DnsAutomationInfo": {
      "id": "DnsAutomationInfo",
      "properties": {
        "fullyQualifiedDomainName": {
          "readOnly": true,
          "description": "Output only. The fully qualified domain name of the instance for DNS automation. Example: \"...alloydb.goog.\". Note: The AUDIT directive is intentionally omitted because this field contains sensitive network topology information.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "description": "Output only. The state of the DNS automation."
        }
      },
      "type": "object",
      "description": "DnsAutomationInfo contains information about the DNS automation for the instance."
    },
    "ImportClusterRequest": {
      "id": "ImportClusterRequest",
      "properties": {
        "user": {
          "type": "string",
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference."
        },
        "database": {
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        },
        "csvImportOptions": {
          "$ref": "CsvImportOptions",
          "description": "Options for importing data in CSV format."
        },
        "sqlImportOptions": {
          "$ref": "SqlImportOptions",
          "description": "Options for importing data in SQL format."
        },
        "gcsUri": {
          "type": "string",
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`."
        }
      },
      "type": "object",
      "description": "Import cluster request."
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "properties": {
        "type": {
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "description": "Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "entitlementState": {
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings"
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type."
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of CPU's in the VM instance.",
          "type": "integer"
        }
      }
    },
    "BackupDrPitrSource": {
      "description": "Message describing a BackupDrPitrSource.",
      "type": "object",
      "id": "BackupDrPitrSource",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
        },
        "pointInTime": {
          "type": "string",
          "description": "Required. The point in time to restore to.",
          "format": "google-datetime"
        }
      }
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week.",
      "properties": {
        "daysOfWeek": {
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used.",
          "type": "array",
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          }
        },
        "startTimes": {
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          },
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "PscAutoConnectionConfig": {
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "id": "PscAutoConnectionConfig",
      "type": "object",
      "properties": {
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        },
        "serviceConnectionPolicy": {
          "description": "Output only. The PSC service connection policy name. The format is \"projects//regions//serviceConnectionPolicies/\"",
          "readOnly": true,
          "type": "string"
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of the PSC service automation endpoint."
        },
        "consumerNetworkStatus": {
          "readOnly": true,
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "type": "string"
        },
        "serviceConnectionPolicyCreationState": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The creation state or result of the connection policy. Possible values include: - `ACTIVE`: The policy was created successfully. - `PERMISSION_DENIED`: Sufficient permissions were not provided. Note that this field is an unstructured output and customers should not rely on the specific string value or error message directly."
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion.",
          "readOnly": true
        },
        "dnsAutomationInfos": {
          "description": "Output only. List of DNS automation info for the PSC auto connection.",
          "type": "array",
          "items": {
            "$ref": "DnsAutomationInfo"
          },
          "readOnly": true
        },
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        }
      }
    },
    "GcsDestination": {
      "properties": {
        "uri": {
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GcsDestination",
      "description": "Destination for Export. Export will be done to cloud storage."
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "properties": {
        "internalResourceMetadata": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "description": "Disable validation warnings",
          "type": "array"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
      "properties": {
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "resourceContainer": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "additionalMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Disable validation warnings"
        },
        "suspensionReason": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "Suspension reason is unspecified.",
            "Wipeout hide event.",
            "Wipeout purge event.",
            "Billing disabled for project",
            "Abuse detected for resource",
            "Encryption key inaccessible.",
            "Replicated cluster encryption key inaccessible."
          ],
          "enum": [
            "SUSPENSION_REASON_UNSPECIFIED",
            "WIPEOUT_HIDE_EVENT",
            "WIPEOUT_PURGE_EVENT",
            "BILLING_DISABLED",
            "ABUSER_DETECTED",
            "ENCRYPTION_KEY_INACCESSIBLE",
            "REPLICATED_CLUSTER_ENCRYPTION_KEY_INACCESSIBLE"
          ]
        },
        "internalAdditionalMetadata": {
          "type": "object",
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "currentState": {
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Disable validation warnings",
          "type": "string"
        },
        "backupConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "creationTime": {
          "description": "Disable validation warnings",
          "type": "string",
          "format": "google-datetime"
        },
        "edition": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "EDITION_ENTERPRISE",
            "EDITION_ENTERPRISE_PLUS",
            "EDITION_STANDARD"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "availabilityConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration"
        },
        "machineConfiguration": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration"
        },
        "gcbdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
          "description": "Disable validation warnings",
          "deprecated": true
        },
        "entitlements": {
          "description": "Disable validation warnings",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainEntitlement"
          },
          "type": "array"
        },
        "isDeletionProtectionEnabled": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "customMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
          "description": "Disable validation warnings"
        },
        "zone": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "resourceFlags": {
          "description": "Optional. Disable validation warnings",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceFlags"
          }
        },
        "primaryResourceLocation": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "backupdrConfiguration": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration"
        },
        "id": {
          "description": "Required. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "instanceType": {
          "enumDescriptions": [
            "Unspecified.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "For rest of the other categories.",
            "A regular primary database instance.",
            "A cluster or an instance acting as a secondary.",
            "An instance acting as a read-replica.",
            "An instance acting as an external primary.",
            "An instance acting as Read Pool.",
            "Represents a reservation resource.",
            "Represents a dataset resource.",
            "For rest of the other categories."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "SUB_RESOURCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY",
            "READ_REPLICA",
            "OTHER",
            "SUB_RESOURCE_TYPE_PRIMARY",
            "SUB_RESOURCE_TYPE_SECONDARY",
            "SUB_RESOURCE_TYPE_READ_REPLICA",
            "SUB_RESOURCE_TYPE_EXTERNAL_PRIMARY",
            "SUB_RESOURCE_TYPE_READ_POOL",
            "SUB_RESOURCE_TYPE_RESERVATION",
            "SUB_RESOURCE_TYPE_DATASET",
            "SUB_RESOURCE_TYPE_OTHER"
          ],
          "description": "Disable validation warnings",
          "enumDeprecated": [
            true,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "modes": {
          "type": "array",
          "description": "Optional. Disable validation warnings",
          "items": {
            "enum": [
              "MODE_UNSPECIFIED",
              "MODE_NATIVE",
              "MODE_MONGODB_COMPATIBLE",
              "MODE_DATASTORE",
              "MODE_CLUSTER_ENABLED",
              "MODE_CLUSTER_DISABLED"
            ],
            "enumDescriptions": [
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings",
              "Disable validation warnings"
            ],
            "type": "string"
          }
        },
        "expectedState": {
          "type": "string",
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "SUSPENDED",
            "DELETED",
            "STATE_OTHER",
            "STOPPED"
          ]
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "primaryResourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "updationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Disable validation warnings"
        },
        "ipAddress": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainIpAddress"
        },
        "maintenanceInfo": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
          "description": "Optional. Disable validation warnings"
        },
        "location": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "tagsSet": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainTags"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "userLabelSet": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainUserLabels"
        }
      },
      "description": "Disable validation warnings"
    },
    "CsvImportOptions": {
      "properties": {
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "columns": {
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "table": {
          "type": "string",
          "description": "Required. The database table to import CSV file into."
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        }
      },
      "id": "CsvImportOptions",
      "type": "object",
      "description": "Options for importing data in CSV format."
    },
    "ConnectionInfo": {
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "type": "object",
      "id": "ConnectionInfo",
      "properties": {
        "instanceUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the Instance."
        },
        "name": {
          "type": "string",
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning."
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application."
        }
      }
    },
    "UpgradeClusterResponse": {
      "properties": {
        "message": {
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any.",
          "type": "string"
        },
        "clusterUpgradeDetails": {
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          }
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Status of upgrade operation.",
          "type": "string"
        }
      },
      "id": "UpgradeClusterResponse",
      "type": "object",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation."
    },
    "MigrationSource": {
      "id": "MigrationSource",
      "type": "object",
      "properties": {
        "hostPort": {
          "type": "string",
          "description": "Output only. The host and port of the on-premises instance in host:port format",
          "readOnly": true
        },
        "sourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Type of migration source.",
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ]
        },
        "referenceId": {
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Subset of the source instance configuration that is available when reading the cluster resource."
    },
    "BackupDrBackupSource": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      },
      "id": "BackupDrBackupSource",
      "description": "Message describing a BackupDrBackupSource.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      }
    },
    "Instance": {
      "type": "object",
      "description": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB.",
      "id": "Instance",
      "properties": {
        "createTime": {
          "description": "Output only. Create time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "clientConnectionConfig": {
          "description": "Optional. Client connection specific configurations",
          "$ref": "ClientConnectionConfig"
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "ipAddress": {
          "description": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        },
        "outboundPublicIpAddresses": {
          "readOnly": true,
          "description": "Output only. All outbound public IP addresses configured for the instance.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "queryInsightsConfig": {
          "description": "Configuration for query insights.",
          "$ref": "QueryInsightsInstanceConfig"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "readOnly": true,
          "description": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance.",
          "type": "array"
        },
        "activationPolicy": {
          "description": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details.",
          "enum": [
            "ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ],
          "enumDescriptions": [
            "The policy is not specified.",
            "The instance is running.",
            "The instance is not running."
          ],
          "type": "string"
        },
        "readPoolConfig": {
          "$ref": "ReadPoolConfig",
          "description": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "type": "object"
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "availabilityType": {
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional (or Highly) available instance."
          ],
          "type": "string",
          "description": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones)."
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Instance."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string"
        },
        "dataApiAccess": {
          "description": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES is a default value that allows Google internal services like AlloyDB Studio to access the instance.",
            "Data API access is disabled for this instance.",
            "Data API access is enabled for this instance. For private IP instances, this allows authorized users to access the instance from the public internet using the ExecuteSql API."
          ],
          "enum": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES",
            "DISABLED",
            "ENABLED"
          ]
        },
        "networkConfig": {
          "description": "Optional. Instance-level network configuration.",
          "$ref": "InstanceNetworkConfig"
        },
        "writableNode": {
          "description": "Output only. This is set for the read-write VM of the PRIMARY instance only.",
          "readOnly": true,
          "$ref": "Node"
        },
        "observabilityConfig": {
          "$ref": "ObservabilityInstanceConfig",
          "description": "Configuration for observability."
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean"
        },
        "instanceType": {
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Required. The type of the instance. Specified at creation time.",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "pscInstanceInfo": {
          "description": "Output only. Information about the Private Service Connect (PSC) for the instance.",
          "$ref": "PscInstanceInfo",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time stamp"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Delete time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "maintenanceVersionName": {
          "description": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s).",
          "type": "string",
          "readOnly": true
        },
        "connectionPoolConfig": {
          "description": "Optional. The configuration for Managed Connection Pool (MCP).",
          "$ref": "ConnectionPoolConfig"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "CREATING",
            "DELETING",
            "MAINTENANCE",
            "FAILED",
            "BOOTSTRAPPING",
            "PROMOTING",
            "SWITCHOVER",
            "STOPPING",
            "STARTING"
          ],
          "type": "string",
          "description": "Output only. The current serving state of the instance.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is active and running.",
            "The instance is stopped. Instance name and IP resources are preserved.",
            "The instance is being created.",
            "The instance is being deleted.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during an operation on the instance. Note: Instances in this state would tried to be auto-repaired. And Customers should be able to restart, update or delete these instances.",
            "The instance has been configured to sync data from some other source.",
            "The instance is being promoted.",
            "The instance has entered switchover state. All updates on instance are restricted while the instance is in this state.",
            "The instance is being stopped.",
            "The instance is being started."
          ]
        },
        "pscInstanceConfig": {
          "$ref": "PscInstanceConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the instance."
        },
        "databaseFlags": {
          "description": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity."
        },
        "machineConfig": {
          "description": "Configurations for the machines that host the underlying database engine.",
          "$ref": "MachineConfig"
        }
      }
    },
    "ListClustersResponse": {
      "description": "Message for response to listing Clusters",
      "id": "ListClustersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "clusters": {
          "type": "array",
          "items": {
            "$ref": "Cluster"
          },
          "description": "The list of Cluster"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "AutomatedBackupPolicy": {
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "properties": {
        "quantityBasedRetention": {
          "description": "Quantity-based Backup retention policy to retain recent backups.",
          "$ref": "QuantityBasedRetention"
        },
        "location": {
          "type": "string",
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster."
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "timeBasedRetention": {
          "description": "Time-based Backup retention policy.",
          "$ref": "TimeBasedRetention"
        },
        "weeklySchedule": {
          "description": "Weekly schedule for the Backup.",
          "$ref": "WeeklySchedule"
        },
        "backupWindow": {
          "format": "google-duration",
          "type": "string",
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour."
        },
        "labels": {
          "description": "Labels to apply to backups created using this configuration.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AutomatedBackupPolicy"
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "properties": {
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Disable validation warnings"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Disable validation warnings"
        },
        "product": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "isDeletionProtectionEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
    "RestoreFromCloudSQLRequest": {
      "type": "object",
      "description": "Message for registering Restoring from CloudSQL resource.",
      "properties": {
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cloudsqlBackupRunSource": {
          "description": "Cluster created from CloudSQL backup run.",
          "$ref": "CloudSQLBackupRunSource"
        },
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        }
      },
      "id": "RestoreFromCloudSQLRequest"
    },
    "Node": {
      "type": "object",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations.",
      "id": "Node",
      "properties": {
        "ip": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\"."
        },
        "isHotStandby": {
          "readOnly": true,
          "description": "Output only. Indicates whether the node set up to be configured as a hot standby.",
          "type": "boolean"
        },
        "zoneId": {
          "readOnly": true,
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\".",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\"."
        }
      }
    },
    "QuantityBasedExpiry": {
      "properties": {
        "totalRetentionCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "type": "integer"
        },
        "retentionCount": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first)."
        }
      },
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "id": "QuantityBasedExpiry",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "properties": {
        "tags": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ContinuousBackupSource": {
      "id": "ContinuousBackupSource",
      "description": "Message describing a ContinuousBackupSource.",
      "type": "object",
      "properties": {
        "cluster": {
          "type": "string",
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field."
        },
        "pointInTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The point in time to restore to."
        }
      }
    },
    "SupportedDatabaseFlag": {
      "type": "object",
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "id": "SupportedDatabaseFlag",
      "properties": {
        "acceptsMultipleValues": {
          "type": "boolean",
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified."
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ]
        },
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "name": {
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning.",
          "type": "string"
        },
        "integerRestrictions": {
          "$ref": "IntegerRestrictions",
          "description": "Restriction on INTEGER type value."
        },
        "supportedDbVersions": {
          "items": {
            "type": "string",
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ]
          },
          "description": "Major database engine versions for which this flag is supported.",
          "type": "array"
        },
        "flagName": {
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "description": "The scope of the flag.",
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ],
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ]
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "recommendedIntegerValue": {
          "type": "string",
          "format": "int64",
          "description": "The recommended value for an INTEGER flag."
        }
      }
    },
    "SwitchoverClusterRequest": {
      "id": "SwitchoverClusterRequest",
      "description": "Message for switching over to a cluster",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "description": "Disable validation warnings",
      "properties": {
        "signalType": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
      "type": "object"
    },
    "ObservabilityInstanceConfig": {
      "description": "Observability Instance specific configuration.",
      "id": "ObservabilityInstanceConfig",
      "type": "object",
      "properties": {
        "maxQueryStringLength": {
          "format": "int32",
          "description": "Query string length. The default value is 10k.",
          "type": "integer"
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
        },
        "queryPlansPerMinute": {
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid.",
          "type": "integer"
        },
        "trackWaitEventTypes": {
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API.",
          "type": "boolean",
          "readOnly": true
        },
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        },
        "trackWaitEvents": {
          "type": "boolean",
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on."
        },
        "trackActiveQueries": {
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels",
      "properties": {
        "labels": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Disable validation warnings",
      "type": "object"
    },
[...]
