{
  "ownerDomain": "google.com",
  "baseUrl": "https://alloydb.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east7"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west1"
    },
    {
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "europe-west8",
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast1"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast1"
    },
    {
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    }
  ],
  "canonicalName": "Cloud AlloyDB Admin",
  "rootUrl": "https://alloydb.googleapis.com/",
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "alloydb.projects.locations.get",
              "path": "v1alpha/{+name}"
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "alloydb.projects.locations.list"
            }
          },
          "resources": {
            "supportedDatabaseFlags": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/supportedDatabaseFlags",
                  "id": "alloydb.projects.locations.supportedDatabaseFlags.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/supportedDatabaseFlags",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "scope": {
                      "enumDescriptions": [
                        "The scope of the flag is not specified. Default is DATABASE.",
                        "The flag is a database flag.",
                        "The flag is a connection pool flag."
                      ],
                      "location": "query",
                      "description": "Optional. The scope for which supported flags are requested. If not specified, default is DATABASE.",
                      "type": "string",
                      "enum": [
                        "SCOPE_UNSPECIFIED",
                        "DATABASE",
                        "CONNECTION_POOL"
                      ]
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource. The required format is: * projects/{project}/locations/{location} Regardless of the parent specified here, as long it is contains a valid project and location, the service will return a static list of supported flags resources. Note that we do not yet support region-specific flags.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListSupportedDatabaseFlagsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists SupportedDatabaseFlags for a given project and location."
                }
              }
            },
            "backups": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Backup"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/backups",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "description": "Creates a new Backup in a given project and location.",
                  "httpMethod": "POST",
                  "parameters": {
                    "backupId": {
                      "description": "Required. ID of the requesting object.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "alloydb.projects.locations.backups.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "path": "v1alpha/{+parent}/backups",
                  "id": "alloydb.projects.locations.backups.list",
                  "description": "Lists Backups in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent value for ListBackupsRequest"
                    },
                    "view": {
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ],
                      "location": "query",
                      "description": "Optional. The view of the backup to return.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results"
                    }
                  }
                },
                "delete": {
                  "id": "alloydb.projects.locations.backups.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the Backup. If an etag is provided and does not match the current etag of the Backup, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Name of the resource. For the required format, see the comment on the Backup.name field.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a single Backup.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.backups.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten."
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new backup is created and `update_mask` is ignored.",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "Backup"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1alpha/{+name}",
                  "description": "Updates the parameters of a single Backup.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "id": "alloydb.projects.locations.backups.get",
                  "description": "Gets details of a single Backup.",
                  "response": {
                    "$ref": "Backup"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ],
                      "description": "Optional. The view of the backup to return."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "clusters": {
              "methods": {
                "export": {
                  "path": "v1alpha/{+name}:export",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The resource name of the cluster.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.export",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:export",
                  "request": {
                    "$ref": "ExportClusterRequest"
                  },
                  "description": "Exports data from the cluster. Imperative only."
                },
                "promote": {
                  "id": "alloydb.projects.locations.clusters.promote",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:promote",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Promotes a SECONDARY cluster. This turns down replication from the PRIMARY cluster and promotes a secondary cluster into its own standalone cluster. Imperative only.",
                  "request": {
                    "$ref": "PromoteClusterRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:promote"
                },
                "restore": {
                  "description": "Creates a new Cluster in a given project and location, with a volume restored from the provided source, either a backup ID or a point-in-time and a source cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "RestoreClusterRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restore",
                  "path": "v1alpha/{+parent}/clusters:restore",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field."
                    }
                  },
                  "id": "alloydb.projects.locations.clusters.restore",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Clusters in a given project and location.",
                  "id": "alloydb.projects.locations.clusters.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1alpha/{+parent}/clusters"
                },
                "get": {
                  "description": "Gets details of a single Cluster.",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "id": "alloydb.projects.locations.clusters.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field."
                    },
                    "view": {
                      "enumDescriptions": [
                        "CLUSTER_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                        "BASIC server responses include all the relevant cluster details, excluding Cluster.ContinuousBackupInfo.EarliestRestorableTime and other view-specific fields. The default value.",
                        "CONTINUOUS_BACKUP response returns all the fields from BASIC plus the earliest restorable time if continuous backups are enabled. May increase latency."
                      ],
                      "type": "string",
                      "description": "Optional. The view of the cluster to return. Returns all default fields if not set.",
                      "location": "query",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_CONTINUOUS_BACKUP"
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "createsecondary": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:createsecondary",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/clusters:createsecondary",
                  "id": "alloydb.projects.locations.clusters.createsecondary",
                  "description": "Creates a cluster of type SECONDARY in the given location using the primary cluster as the source.",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "clusterId": {
                      "description": "Required. ID of the requesting object (the secondary cluster).",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "import": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:import",
                  "request": {
                    "$ref": "ImportClusterRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Imports data to the cluster. Imperative only.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the cluster.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "alloydb.projects.locations.clusters.import"
                },
                "delete": {
                  "id": "alloydb.projects.locations.clusters.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Whether to cascade delete child instances for given cluster."
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a single Cluster."
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "id": "alloydb.projects.locations.clusters.create",
                  "path": "v1alpha/{+parent}/clusters",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new Cluster in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. ID of the requesting object.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "type": "boolean"
                    }
                  }
                },
                "switchover": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:switchover",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field"
                    }
                  },
                  "path": "v1alpha/{+name}:switchover",
                  "request": {
                    "$ref": "SwitchoverClusterRequest"
                  },
                  "id": "alloydb.projects.locations.clusters.switchover",
                  "description": "Switches the roles of PRIMARY and SECONDARY clusters without any data loss. This promotes the SECONDARY cluster to PRIMARY and sets up the original PRIMARY cluster to replicate from this newly promoted cluster.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restoreFromCloudSQL": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/clusters:restoreFromCloudSQL",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on Cluster.name field.",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "RestoreFromCloudSQLRequest"
                  },
                  "description": "Restores an AlloyDB cluster from a CloudSQL resource.",
                  "id": "alloydb.projects.locations.clusters.restoreFromCloudSQL",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restoreFromCloudSQL"
                },
                "upgrade": {
                  "path": "v1alpha/{+name}:upgrade",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "description": "Required. The resource name of the cluster.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Upgrades a single Cluster. Imperative only.",
                  "request": {
                    "$ref": "UpgradeClusterRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "alloydb.projects.locations.clusters.upgrade",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:upgrade",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string"
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "description": "Optional. If set to true, update succeeds even if cluster is not found. In that case, a new cluster is created and `update_mask` is ignored.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "id": "alloydb.projects.locations.clusters.patch"
                }
              },
              "resources": {
                "users": {
                  "methods": {
                    "get": {
                      "path": "v1alpha/{+name}",
                      "description": "Gets details of a single User.",
                      "response": {
                        "$ref": "User"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "alloydb.projects.locations.clusters.users.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                        },
                        "name": {
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "path": "v1alpha/{+name}",
                      "id": "alloydb.projects.locations.clusters.users.delete",
                      "description": "Deletes a single User.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "path": "v1alpha/{+parent}/users",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "description": "Required. Parent value for ListUsersRequest"
                        },
                        "orderBy": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "id": "alloydb.projects.locations.clusters.users.list",
                      "description": "Lists Users in a given project and location."
                    },
                    "patch": {
                      "description": "Updates the parameters of a single User.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "User"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "allowMissing": {
                          "description": "Optional. Allow missing fields in the update mask.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                        },
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "id": "alloydb.projects.locations.clusters.users.patch",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "request": {
                        "$ref": "User"
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. Value for parent.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path"
                        },
                        "userId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. ID of the requesting object."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "path": "v1alpha/{+parent}/users",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "request": {
                        "$ref": "User"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "alloydb.projects.locations.clusters.users.create",
                      "response": {
                        "$ref": "User"
                      },
                      "description": "Creates a new User in a given project, location, and cluster.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "instances": {
                  "methods": {
                    "get": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single Instance.",
                      "id": "alloydb.projects.locations.clusters.instances.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "location": "path"
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "description": "The view of the instance to return.",
                          "enumDescriptions": [
                            "INSTANCE_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                            "BASIC server responses for a primary or read instance include all the relevant instance details, excluding the details of each node in the instance. The default value.",
                            "FULL response is equivalent to BASIC for primary instance (for now). For read pool instance, this includes details of each node in the pool."
                          ],
                          "enum": [
                            "INSTANCE_VIEW_UNSPECIFIED",
                            "INSTANCE_VIEW_BASIC",
                            "INSTANCE_VIEW_FULL"
                          ]
                        }
                      },
                      "response": {
                        "$ref": "Instance"
                      },
                      "path": "v1alpha/{+name}"
                    },
                    "createsecondary": {
                      "request": {
                        "$ref": "Instance"
                      },
                      "description": "Creates a new SECONDARY Instance in a given project and location.",
                      "id": "alloydb.projects.locations.clusters.instances.createsecondary",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "instanceId": {
                          "location": "query",
                          "description": "Required. ID of the requesting object.",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/{+parent}/instances:createsecondary",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances:createsecondary"
                    },
                    "getConnectionInfo": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}/connectionInfo",
                      "id": "alloydb.projects.locations.clusters.instances.getConnectionInfo",
                      "response": {
                        "$ref": "ConnectionInfo"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "description": "Required. The name of the parent resource. The required format is: projects/{project}/locations/{location}/clusters/{cluster}/instances/{instance}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Get instance metadata used for a connection.",
                      "path": "v1alpha/{+parent}/connectionInfo"
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "alloydb.projects.locations.clusters.instances.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "etag": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. The current etag of the Instance. If an etag is provided and does not match the current etag of the Instance, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        }
                      },
                      "description": "Deletes a single Instance.",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "restart": {
                      "request": {
                        "$ref": "RestartInstanceRequest"
                      },
                      "description": "Restart an Instance in a cluster. Imperative only.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+name}:restart",
                      "id": "alloydb.projects.locations.clusters.instances.restart",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:restart",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field."
                        }
                      }
                    },
                    "list": {
                      "description": "Lists Instances in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "alloydb.projects.locations.clusters.instances.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field. Additionally, you can perform an aggregated list operation by specifying a value with one of the following formats: * projects/{project}/locations/-/clusters/- * projects/{project}/locations/{region}/clusters/-"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return."
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        }
                      },
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "path": "v1alpha/{+parent}/instances"
                    },
                    "failover": {
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:failover",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "FailoverInstanceRequest"
                      },
                      "description": "Forces a Failover for a highly available instance. Failover promotes the HA standby instance as the new primary. Imperative only.",
                      "id": "alloydb.projects.locations.clusters.instances.failover",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/{+name}:failover",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "instanceId": {
                          "location": "query",
                          "description": "Required. ID of the requesting object.",
                          "type": "string"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "path": "v1alpha/{+parent}/instances",
                      "description": "Creates a new Instance in a given project and location.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Instance"
                      },
                      "id": "alloydb.projects.locations.clusters.instances.create"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "parameters": {
                        "validateOnly": {
                          "type": "boolean",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "location": "query"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "location": "query"
                        },
                        "requestId": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new instance is created and `update_mask` is ignored."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the parameters of a single Instance.",
                      "path": "v1alpha/{+name}",
                      "id": "alloydb.projects.locations.clusters.instances.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "request": {
                        "$ref": "Instance"
                      }
                    },
                    "injectFault": {
                      "id": "alloydb.projects.locations.clusters.instances.injectFault",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field."
                        }
                      },
                      "request": {
                        "$ref": "InjectFaultRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:injectFault",
                      "path": "v1alpha/{+name}:injectFault",
                      "description": "Injects fault in an instance. Imperative only."
                    }
                  }
                }
              }
            },
            "endpoints": {
              "methods": {
                "list": {
                  "description": "Lists Endpoints in a given project and location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Endpoint.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListEndpoints` call. This should be provided to retrieve the subsequent page. This field is currently not supported, its value will be ignored if passed.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results. This field is currently not supported, its value will be ignored if passed."
                    }
                  },
                  "id": "alloydb.projects.locations.endpoints.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListEndpointsResponse"
                  },
                  "path": "v1alpha/{+parent}/endpoints"
                },
                "create": {
                  "path": "v1alpha/{+parent}/endpoints",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The location of the new endpoint. For the required format, see the comment on the Endpoint.name field.",
                      "required": true,
                      "location": "path"
                    },
                    "endpointId": {
                      "description": "Required. ID of the requesting object.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                    }
                  },
                  "description": "Creates a new Endpoint in a given project and location.",
                  "request": {
                    "$ref": "Endpoint"
                  },
                  "id": "alloydb.projects.locations.endpoints.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Endpoint.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "request": {
                    "$ref": "Endpoint"
                  },
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.endpoints.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                    },
                    "name": {
                      "description": "Output only. Identifier. The name of the endpoint resource with the format: * projects/{project}/locations/{region}/endpoints/{endpoint_id} where the endpoint ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the endpoint resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, update succeeds even if endpoint is not found. In that case, a new endpoint is created and `update_mask` is ignored."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Endpoint resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  }
[...]
