{
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "version_module": true,
  "endpoints": [
    {
      "location": "us-central2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-central2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-east7.rep.googleapis.com/",
      "location": "us-east7",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "location": "northamerica-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.northamerica-south1.rep.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://alloydb.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://alloydb.us-east4.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-south1",
      "endpointUrl": "https://alloydb.us-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west2",
      "endpointUrl": "https://alloydb.us-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.us-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-central2.rep.googleapis.com/",
      "location": "europe-central2"
    },
    {
      "endpointUrl": "https://alloydb.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-north1.rep.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://alloydb.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west1.rep.googleapis.com/",
      "location": "europe-west1"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west2.rep.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west4",
      "endpointUrl": "https://alloydb.europe-west4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west6",
      "endpointUrl": "https://alloydb.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west8.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.europe-west12.rep.googleapis.com/",
      "location": "europe-west12"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://alloydb.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1"
    },
    {
      "endpointUrl": "https://alloydb.asia-northeast2.rep.googleapis.com/",
      "location": "asia-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "endpointUrl": "https://alloydb.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-south2.rep.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "endpointUrl": "https://alloydb.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.australia-southeast1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "australia-southeast2",
      "endpointUrl": "https://alloydb.australia-southeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://alloydb.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://alloydb.me-central2.rep.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://alloydb.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://alloydb.africa-south1.rep.googleapis.com/",
      "location": "africa-south1",
      "description": "Regional Endpoint"
    }
  ],
  "servicePath": "",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "basePath": "",
  "canonicalName": "Cloud AlloyDB Admin",
  "protocol": "rest",
  "version": "v1alpha",
  "title": "AlloyDB API",
  "id": "alloydb:v1alpha",
  "name": "alloydb",
  "rootUrl": "https://alloydb.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "id": "alloydb.projects.locations.get",
              "description": "Gets information about a location.",
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                }
              },
              "id": "alloydb.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}/locations"
            }
          },
          "resources": {
            "backups": {
              "methods": {
                "get": {
                  "id": "alloydb.projects.locations.backups.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "description": "Optional. The view of the backup to return.",
                      "location": "query",
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ]
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "response": {
                    "$ref": "Backup"
                  },
                  "description": "Gets details of a single Backup.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "description": "Updates the parameters of a single Backup.",
                  "httpMethod": "PATCH",
                  "id": "alloydb.projects.locations.backups.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Backup resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "allowMissing": {
                      "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new backup is created and `update_mask` is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$",
                      "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "type": "string"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Backup"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Backup"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "alloydb.projects.locations.backups.create",
                  "description": "Creates a new Backup in a given project and location.",
                  "path": "v1alpha/{+parent}/backups",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean"
                    },
                    "backupId": {
                      "location": "query",
                      "description": "Required. ID of the requesting object.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListBackupsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups",
                  "id": "alloydb.projects.locations.backups.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/backups",
                  "description": "Lists Backups in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Hint for how to order the results",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filtering results",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "view": {
                      "type": "string",
                      "enum": [
                        "BACKUP_VIEW_UNSPECIFIED",
                        "BACKUP_VIEW_BASIC",
                        "BACKUP_VIEW_CLUSTER_DELETED"
                      ],
                      "description": "Optional. The view of the backup to return.",
                      "enumDescriptions": [
                        "Value unspecified, equivalent to BASIC.",
                        "Responses include all fields that aren't explicitly gated behind another view.",
                        "Response include all the field from BASIC plus the field cluster_deleted, which specifies if the cluster corresponding to this backup is deleted."
                      ],
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListBackupsRequest",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/backups/{backupsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Backup.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "alloydb.projects.locations.backups.delete",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "etag": {
                      "description": "Optional. The current etag of the Backup. If an etag is provided and does not match the current etag of the Backup, deletion will be blocked and an ABORTED error will be returned.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource. For the required format, see the comment on the Backup.name field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/backups/[^/]+$"
                    }
                  }
                }
              }
            },
            "supportedDatabaseFlags": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/supportedDatabaseFlags",
                  "response": {
                    "$ref": "ListSupportedDatabaseFlagsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.supportedDatabaseFlags.list",
                  "description": "Lists SupportedDatabaseFlags for a given project and location.",
                  "parameters": {
                    "scope": {
                      "description": "Optional. The scope for which supported flags are requested. If not specified, default is DATABASE.",
                      "enumDescriptions": [
                        "The scope of the flag is not specified. Default is DATABASE.",
                        "The flag is a database flag.",
                        "The flag is a connection pool flag."
                      ],
                      "type": "string",
                      "enum": [
                        "SCOPE_UNSPECIFIED",
                        "DATABASE",
                        "CONNECTION_POOL"
                      ],
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the parent resource. The required format is: * projects/{project}/locations/{location} Regardless of the parent specified here, as long it is contains a valid project and location, the service will return a static list of supported flags resources. Note that we do not yet support region-specific flags.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/supportedDatabaseFlags"
                }
              }
            },
            "clusters": {
              "resources": {
                "users": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "Required. Parent value for ListUsersRequest",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.users.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Users in a given project and location.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUsersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "path": "v1alpha/{+parent}/users"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "alloydb.projects.locations.clusters.users.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a single User.",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "location": "query",
                          "type": "boolean"
                        }
                      }
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "description": "Updates the parameters of a single User.",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "validateOnly": {
                          "location": "query",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the User resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. Allow missing fields in the update mask.",
                          "location": "query"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "name": {
                          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.users.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "User"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "request": {
                        "$ref": "User"
                      }
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the resource. For the required format, see the comment on the User.name field.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/users/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "alloydb.projects.locations.clusters.users.get",
                      "httpMethod": "GET",
                      "description": "Gets details of a single User.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users/{usersId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "User"
                      }
                    },
                    "create": {
                      "id": "alloydb.projects.locations.clusters.users.create",
                      "path": "v1alpha/{+parent}/users",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "User"
                      },
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Value for parent."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                        },
                        "userId": {
                          "description": "Required. ID of the requesting object.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new User in a given project, location, and cluster.",
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/users",
                      "response": {
                        "$ref": "User"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "instances": {
                  "methods": {
                    "failover": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Forces a Failover for a highly available instance. Failover promotes the HA standby instance as the new primary. Imperative only.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "FailoverInstanceRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:failover",
                      "httpMethod": "POST",
                      "id": "alloydb.projects.locations.clusters.instances.failover",
                      "path": "v1alpha/{+name}:failover"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field."
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "etag": {
                          "description": "Optional. The current etag of the Instance. If an etag is provided and does not match the current etag of the Instance, deletion will be blocked and an ABORTED error will be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "Deletes a single Instance.",
                      "httpMethod": "DELETE",
                      "id": "alloydb.projects.locations.clusters.instances.delete",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets details of a single Instance.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "INSTANCE_VIEW_UNSPECIFIED",
                            "INSTANCE_VIEW_BASIC",
                            "INSTANCE_VIEW_FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "INSTANCE_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                            "BASIC server responses for a primary or read instance include all the relevant instance details, excluding the details of each node in the instance. The default value.",
                            "FULL response is equivalent to BASIC for primary instance (for now). For read pool instance, this includes details of each node in the pool."
                          ],
                          "description": "The view of the instance to return."
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "alloydb.projects.locations.clusters.instances.get",
                      "response": {
                        "$ref": "Instance"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "instanceId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. ID of the requesting object."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field.",
                          "type": "string"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "alloydb.projects.locations.clusters.instances.create",
                      "description": "Creates a new Instance in a given project and location.",
                      "path": "v1alpha/{+parent}/instances",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Instance"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "httpMethod": "POST"
                    },
                    "restart": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Restart an Instance in a cluster. Imperative only.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:restart",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "RestartInstanceRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}:restart",
                      "id": "alloydb.projects.locations.clusters.instances.restart"
                    },
                    "getConnectionInfo": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the parent resource. The required format is: projects/{project}/locations/{location}/clusters/{cluster}/instances/{instance}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Get instance metadata used for a connection.",
                      "path": "v1alpha/{+parent}/connectionInfo",
                      "id": "alloydb.projects.locations.clusters.instances.getConnectionInfo",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}/connectionInfo",
                      "response": {
                        "$ref": "ConnectionInfo"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "description": "Lists Instances in a given project and location.",
                      "path": "v1alpha/{+parent}/instances",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Hint for how to order the results"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field. Additionally, you can perform an aggregated list operation by specifying a value with one of the following formats: * projects/{project}/locations/-/clusters/- * projects/{project}/locations/{region}/clusters/-"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "alloydb.projects.locations.clusters.instances.list",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}",
                      "description": "Updates the parameters of a single Instance.",
                      "httpMethod": "PATCH",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Instance"
                      },
                      "id": "alloydb.projects.locations.clusters.instances.patch",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the Instance resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "format": "google-fieldmask"
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                        },
                        "allowMissing": {
                          "type": "boolean",
                          "description": "Optional. If set to true, update succeeds even if instance is not found. In that case, a new instance is created and `update_mask` is ignored.",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "createsecondary": {
                      "id": "alloydb.projects.locations.clusters.instances.createsecondary",
                      "parameters": {
                        "instanceId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. ID of the requesting object."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the parent resource. For the required format, see the comment on the Instance.name field."
                        },
                        "validateOnly": {
                          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "request": {
                        "$ref": "Instance"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances:createsecondary",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "path": "v1alpha/{+parent}/instances:createsecondary",
                      "description": "Creates a new SECONDARY Instance in a given project and location."
                    },
                    "injectFault": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}/instances/{instancesId}:injectFault",
                      "id": "alloydb.projects.locations.clusters.instances.injectFault",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "path": "v1alpha/{+name}:injectFault",
                      "description": "Injects fault in an instance. Imperative only.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The name of the resource. For the required format, see the comment on the Instance.name field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "InjectFaultRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "upgrade": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the cluster."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "alloydb.projects.locations.clusters.upgrade",
                  "request": {
                    "$ref": "UpgradeClusterRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:upgrade",
                  "description": "Upgrades a single Cluster. Imperative only.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "path": "v1alpha/{+name}:upgrade"
                },
                "createsecondary": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                    },
                    "clusterId": {
                      "type": "string",
                      "description": "Required. ID of the requesting object (the secondary cluster).",
                      "location": "query"
                    }
                  },
                  "path": "v1alpha/{+parent}/clusters:createsecondary",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:createsecondary",
                  "id": "alloydb.projects.locations.clusters.createsecondary",
                  "request": {
                    "$ref": "Cluster"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a cluster of type SECONDARY in the given location using the primary cluster as the source.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "switchover": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field"
                    }
                  },
                  "request": {
                    "$ref": "SwitchoverClusterRequest"
                  },
                  "path": "v1alpha/{+name}:switchover",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:switchover",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Switches the roles of PRIMARY and SECONDARY clusters without any data loss. This promotes the SECONDARY cluster to PRIMARY and sets up the original PRIMARY cluster to replicate from this newly promoted cluster.",
                  "id": "alloydb.projects.locations.clusters.switchover",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "restoreFromCloudSQL": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The location of the new cluster. For the required format, see the comment on Cluster.name field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RestoreFromCloudSQLRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/clusters:restoreFromCloudSQL",
                  "description": "Restores an AlloyDB cluster from a CloudSQL resource.",
                  "id": "alloydb.projects.locations.clusters.restoreFromCloudSQL",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restoreFromCloudSQL",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "restore": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "RestoreClusterRequest"
                  },
                  "id": "alloydb.projects.locations.clusters.restore",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters:restore",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+parent}/clusters:restore",
                  "description": "Creates a new Cluster in a given project and location, with a volume restored from the provided source, either a backup ID or a point-in-time and a source cluster.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Clusters in a given project and location.",
                  "httpMethod": "GET",
                  "id": "alloydb.projects.locations.clusters.list",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Cluster.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-"
                    }
                  },
                  "response": {
                    "$ref": "ListClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "path": "v1alpha/{+parent}/clusters"
                },
                "patch": {
                  "id": "alloydb.projects.locations.clusters.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "allowMissing": {
                      "location": "query",
                      "description": "Optional. If set to true, update succeeds even if cluster is not found. In that case, a new cluster is created and `update_mask` is ignored.",
                      "type": "boolean"
                    },
                    "updateMask": {
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Cluster resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$"
                    }
                  },
                  "description": "Updates the parameters of a single Cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Cluster"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH"
                },
                "export": {
                  "request": {
                    "$ref": "ExportClusterRequest"
                  },
                  "httpMethod": "POST",
                  "id": "alloydb.projects.locations.clusters.export",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:export",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the cluster.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Exports data from the cluster. Imperative only.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}:export"
                },
                "promote": {
                  "request": {
                    "$ref": "PromoteClusterRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:promote",
                  "path": "v1alpha/{+name}:promote",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Promotes a SECONDARY cluster. This turns down replication from the PRIMARY cluster and promotes a secondary cluster into its own standalone cluster. Imperative only.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "alloydb.projects.locations.clusters.promote",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    },
                    "view": {
                      "enumDescriptions": [
                        "CLUSTER_VIEW_UNSPECIFIED Not specified, equivalent to BASIC.",
                        "BASIC server responses include all the relevant cluster details, excluding Cluster.ContinuousBackupInfo.EarliestRestorableTime and other view-specific fields. The default value.",
                        "CONTINUOUS_BACKUP response returns all the fields from BASIC plus the earliest restorable time if continuous backups are enabled. May increase latency."
                      ],
                      "description": "Optional. The view of the cluster to return. Returns all default fields if not set.",
                      "type": "string",
                      "enum": [
                        "CLUSTER_VIEW_UNSPECIFIED",
                        "CLUSTER_VIEW_BASIC",
                        "CLUSTER_VIEW_CONTINUOUS_BACKUP"
                      ],
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "response": {
                    "$ref": "Cluster"
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Cluster.",
                  "id": "alloydb.projects.locations.clusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "description": "Creates a new Cluster in a given project and location.",
                  "path": "v1alpha/{+parent}/clusters",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "alloydb.projects.locations.clusters.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Cluster"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The location of the new cluster. For the required format, see the comment on the Cluster.name field.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "clusterId": {
                      "description": "Required. ID of the requesting object.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "import": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the cluster.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Imports data to the cluster. Imperative only.",
                  "path": "v1alpha/{+name}:import",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}:import",
                  "id": "alloydb.projects.locations.clusters.import",
                  "request": {
                    "$ref": "ImportClusterRequest"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Cluster.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "alloydb.projects.locations.clusters.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/clusters/{clustersId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/clusters/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the resource. For the required format, see the comment on the Cluster.name field."
                    },
                    "etag": {
                      "type": "string",
                      "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. Whether to cascade delete child instances for given cluster.",
                      "type": "boolean"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "endpoints": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Endpoint.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints/{endpointsId}",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "alloydb.projects.locations.endpoints.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the resource. For the required format, see the comment on the Endpoint.name field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/endpoints/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The current etag of the Endpoint. If an etag is provided and does not match the current etag of the Endpoint, deletion will be blocked and an ABORTED error will be returned."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it.",
                      "location": "query"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "Endpoint"
                  },
                  "path": "v1alpha/{+parent}/endpoints",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints",
                  "description": "Creates a new Endpoint in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The location of the new endpoint. For the required format, see the comment on the Endpoint.name field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "validateOnly": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, the backend validates the request, but doesn't actually execute it."
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "endpointId": {
                      "description": "Required. ID of the requesting object.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "alloydb.projects.locations.endpoints.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/endpoints",
                  "response": {
                    "$ref": "ListEndpointsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/endpoints",
                  "description": "Lists Endpoints in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results. This field is currently not supported, its value will be ignored if passed.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListEndpoints` call. This should be provided to retrieve the subsequent page. This field is currently not supported, its value will be ignored if passed."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource. For the required format, see the comment on the Endpoint.name field. Additionally, you can perform an aggregated list operation by specifying a value with the following format: * projects/{project}/locations/-",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
[...]
