{
  "discoveryVersion": "v1",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://alloydb.googleapis.com/",
  "canonicalName": "Cloud AlloyDB Admin",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "batchPath": "batch",
  "schemas": {
    "ObservabilityInstanceInfo": {
      "properties": {
        "trackWaitEvents": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Track wait events during query execution for an instance."
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Output only. Preserve comments in query string for an instance.",
          "readOnly": true
        },
        "recordApplicationTags": {
          "description": "Output only. Record application tags for an instance.",
          "readOnly": true,
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Observability feature status for an instance."
        },
        "trackWaitEventTypes": {
          "description": "Output only. Track wait event types during query execution for an instance.",
          "readOnly": true,
          "type": "boolean"
        },
        "trackActiveQueries": {
          "description": "Output only. Track actively running queries on the instance.",
          "readOnly": true,
          "type": "boolean"
        },
        "maxQueryStringLength": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Query string length. The default value is 10k."
        },
        "queryPlansPerMinute": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Number of query execution plans captured by Insights per minute for all queries combined.",
          "readOnly": true
        }
      },
      "id": "ObservabilityInstanceInfo",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "properties": {
        "key": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "value": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData": {
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
      "properties": {
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        },
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "signalType": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ]
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        }
      }
    },
    "ExportClusterResponse": {
      "type": "object",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Required. Option to export data to cloud storage."
        }
      },
      "description": "Response of export cluster rpc.",
      "id": "ExportClusterResponse"
    },
    "RestoreClusterRequest": {
      "id": "RestoreClusterRequest",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "type": "object",
      "properties": {
        "backupSource": {
          "$ref": "BackupSource",
          "description": "Backup source."
        },
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "backupdrPitrSource": {
          "$ref": "BackupDrPitrSource",
          "description": "BackupDR source used for point in time recovery."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "continuousBackupSource": {
          "$ref": "ContinuousBackupSource",
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed."
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        }
      }
    },
    "StringRestrictions": {
      "type": "object",
      "properties": {
        "caseAgnostic": {
          "description": "Output only. Whether the allowed values are case agnostic.",
          "type": "boolean",
          "readOnly": true
        },
        "allowedValues": {
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StringRestrictions",
      "description": "Restrictions on STRING type values"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "properties": {
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "startDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "name": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "compliance": {
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainCompliance"
          },
          "description": "Disable validation warnings"
        },
        "signalSeverity": {
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string",
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "description": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "location": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "eventTime": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "format": "google-datetime"
        },
        "additionalMetadata": {
          "description": "Disable validation warnings",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "resourceContainer": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "signalClass": {
          "description": "Required. Disable validation warnings",
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "signalType": {
          "type": "string",
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. Disable validation warnings"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ],
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "signalId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "externalUri": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Disable validation warnings"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      },
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
      "properties": {
        "signalType": {
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "signalState": {
          "readOnly": true,
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "type": "string",
          "description": "Required. Output only. Disable validation warnings"
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "location": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "fullResourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "signalBoolValue": {
          "type": "boolean",
          "deprecated": true,
          "description": "Disable validation warnings"
        },
        "signalMetadataList": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          },
          "description": "Disable validation warnings",
          "type": "array"
        }
      },
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo": {
      "properties": {
        "upcomingMaintenance": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
          "description": "Optional. Disable validation warnings"
        },
        "denyMaintenanceSchedules": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule"
          },
          "description": "Optional. Disable validation warnings",
          "type": "array"
        },
        "maintenanceVersion": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "maintenanceState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "description": "Output only. Disable validation warnings",
          "readOnly": true,
          "enum": [
            "MAINTENANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "REPAIRING",
            "DELETING",
            "ERROR"
          ],
          "type": "string"
        },
        "maintenanceSchedule": {
          "description": "Optional. Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule"
        },
        "currentVersionReleaseDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "isInstanceStopped": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "nextAvailableMaintenanceVersions": {
          "type": "array",
          "description": "Optional. Disable validation warnings",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceInfo",
      "description": "Disable validation warnings",
      "type": "object"
    },
    "ReadPoolConfig": {
      "properties": {
        "nodeCount": {
          "description": "Read capacity, i.e. number of nodes in a read pool instance.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ReadPoolConfig",
      "description": "Configuration for a read pool instance."
    },
    "InstanceNetworkConfig": {
      "properties": {
        "network": {
          "description": "Output only. The resource link for the VPC network in which instance resources are created and from which they are accessible via Private IP. This will be the same value as the parent cluster's network. It is specified in the form: // `projects/{project_number}/global/networks/{network_id}`.",
          "type": "string",
          "readOnly": true
        },
        "authorizedExternalNetworks": {
          "type": "array",
          "description": "Optional. A list of external network authorized to access this instance.",
          "items": {
            "$ref": "AuthorizedNetwork"
          }
        },
        "allocatedIpRangeOverride": {
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB instance, for example: \"google-managed-services-default\". If set, the instance IPs will be created from this allocated range and will override the IP range used by the parent cluster. The range name must comply with [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?.",
          "type": "string"
        },
        "enableOutboundPublicIp": {
          "description": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet.",
          "type": "boolean"
        },
        "enablePublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling public ip for the instance."
        }
      },
      "id": "InstanceNetworkConfig",
      "description": "Metadata related to instance-level network configuration.",
      "type": "object"
    },
    "ImportClusterResponse": {
      "description": "Response of import rpc.",
      "id": "ImportClusterResponse",
      "type": "object",
      "properties": {
        "bytesDownloaded": {
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListSupportedDatabaseFlagsResponse": {
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "id": "ListSupportedDatabaseFlagsResponse",
      "properties": {
        "supportedDatabaseFlags": {
          "description": "The list of SupportedDatabaseFlags.",
          "type": "array",
          "items": {
            "$ref": "SupportedDatabaseFlag"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "type": "object",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "entitlementState": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "description": "Disable validation warnings",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        }
      },
      "description": "Disable validation warnings"
    },
    "GoogleTypeDate": {
      "type": "object",
      "id": "GoogleTypeDate",
      "properties": {
        "day": {
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "For string value"
        },
        "int64Value": {
          "format": "int64",
          "description": "For integer value",
          "type": "string"
        },
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "doubleValue": {
          "format": "double",
          "description": "For double value",
          "type": "number"
        }
      },
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "type": "object"
    },
    "BackupDrBackupSource": {
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      },
      "id": "BackupDrBackupSource",
      "description": "Message describing a BackupDrBackupSource.",
      "type": "object"
    },
    "SqlImportOptions": {
      "description": "Options for importing data in SQL format.",
      "properties": {},
      "type": "object",
      "id": "SqlImportOptions"
    },
    "TrialMetadata": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "End time of the trial cluster."
        },
        "startTime": {
          "description": "start time of the trial cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "graceEndTime": {
          "description": "grace end time of the cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "upgradeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Upgrade time of trial cluster to Standard cluster."
        }
      },
      "description": "Contains information and all metadata related to TRIAL clusters.",
      "type": "object",
      "id": "TrialMetadata"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "properties": {
        "phase": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ]
        },
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "Instance": {
      "properties": {
        "activationPolicy": {
          "type": "string",
          "enumDescriptions": [
            "The policy is not specified.",
            "The instance is running.",
            "The instance is not running."
          ],
          "enum": [
            "ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ],
          "description": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "CREATING",
            "DELETING",
            "MAINTENANCE",
            "FAILED",
            "BOOTSTRAPPING",
            "PROMOTING",
            "SWITCHOVER",
            "STOPPING",
            "STARTING"
          ],
          "type": "string",
          "description": "Output only. The current serving state of the instance.",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is active and running.",
            "The instance is stopped. Instance name and IP resources are preserved.",
            "The instance is being created.",
            "The instance is being deleted.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during an operation on the instance. Note: Instances in this state would tried to be auto-repaired. And Customers should be able to restart, update or delete these instances.",
            "The instance has been configured to sync data from some other source.",
            "The instance is being promoted.",
            "The instance has entered switchover state. All updates on instance are restricted while the instance is in this state.",
            "The instance is being stopped.",
            "The instance is being started."
          ],
          "readOnly": true
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
        },
        "pscInstanceConfig": {
          "$ref": "PscInstanceConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the instance."
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity.",
          "type": "string"
        },
        "connectionPoolConfig": {
          "description": "Optional. The configuration for Managed Connection Pool (MCP).",
          "$ref": "ConnectionPoolConfig"
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "clientConnectionConfig": {
          "description": "Optional. Client connection specific configurations",
          "$ref": "ClientConnectionConfig"
        },
        "dataApiAccess": {
          "enum": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES",
            "DISABLED",
            "ENABLED"
          ],
          "enumDescriptions": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES is a default value that allows Google internal services like AlloyDB Studio to access the instance.",
            "Data API access is disabled for this instance.",
            "Data API access is enabled for this instance. For private IP instances, this allows authorized users to access the instance from the public internet using the ExecuteSql API."
          ],
          "description": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well.",
          "type": "string"
        },
        "writableNode": {
          "readOnly": true,
          "$ref": "Node",
          "description": "Output only. This is set for the read-write VM of the PRIMARY instance only."
        },
        "instanceType": {
          "description": "Required. The type of the instance. Specified at creation time.",
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "readPoolConfig": {
          "description": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL.",
          "$ref": "ReadPoolConfig"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Update time stamp",
          "type": "string"
        },
        "observabilityInstanceInfo": {
          "$ref": "ObservabilityInstanceInfo",
          "readOnly": true,
          "description": "Output only. Instance level observability information, contains the effective values of observability settings for this instance, by merging customer's provided `ObservabilityInstanceConfig` with the Observability defaults."
        },
        "pscInstanceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the Private Service Connect (PSC) for the instance.",
          "$ref": "PscInstanceInfo"
        },
        "ipAddress": {
          "description": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "observabilityConfig": {
          "$ref": "ObservabilityInstanceConfig",
          "description": "Configuration for observability."
        },
        "databaseFlags": {
          "description": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Instance.",
          "type": "string"
        },
        "machineConfig": {
          "$ref": "MachineConfig",
          "description": "Configurations for the machines that host the underlying database engine."
        },
        "outboundPublicIpAddresses": {
          "readOnly": true,
          "description": "Output only. All outbound public IP addresses configured for the instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queryInsightsInfo": {
          "$ref": "QueryInsightsInstanceInfo",
          "description": "Output only. Instance level Query Insights information, which is read-only and available in the output only. Contains the effective query insights settings for this instance, by merging customer's provided `QueryInsightsInstanceConfig` with the Query Insights defaults.",
          "readOnly": true
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string",
          "readOnly": true
        },
        "maintenanceVersionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s)."
        },
        "nodes": {
          "description": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance.",
          "readOnly": true,
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "annotations": {
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "queryInsightsConfig": {
          "$ref": "QueryInsightsInstanceConfig",
          "description": "Configuration for query insights."
        },
        "networkConfig": {
          "$ref": "InstanceNetworkConfig",
          "description": "Optional. Instance-level network configuration."
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "availabilityType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional (or Highly) available instance."
          ],
          "description": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones).",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "publicIpAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
        }
      },
      "type": "object",
      "id": "Instance",
      "description": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB."
    },
    "PscInstanceConfig": {
      "id": "PscInstanceConfig",
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "properties": {
        "pscInterfaceConfigs": {
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "type": "array"
        },
        "pscAutoDnsState": {
          "type": "string",
          "description": "Optional. Configuration for setting up PSC auto DNS for the instance.",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto DNS is disabled. For new instances, this means the PSC auto DNS is enabled by default. Use `effective_psc_auto_dns_enabled` to check the effective state of the PSC auto DNS.",
            "Enables the PSC auto DNS for the instance.",
            "Disables the PSC auto DNS for the instance."
          ],
          "enum": [
            "PSC_AUTO_DNS_STATE_UNSPECIFIED",
            "PSC_AUTO_DNS_STATE_ENABLED",
            "PSC_AUTO_DNS_STATE_DISABLED"
          ]
        },
        "allowedConsumerProjects": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance.",
          "type": "array"
        },
        "pscDnsName": {
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog",
          "type": "string",
          "readOnly": true
        },
        "serviceAttachmentLink": {
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "readOnly": true,
          "type": "string"
        },
        "pscAutoConnections": {
          "type": "array",
          "description": "Optional. Configurations for setting up PSC service automation.",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "pscAutoConnectionPolicyState": {
          "enum": [
            "PSC_AUTO_CONNECTION_POLICY_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "description": "Optional. Configuration for setting up PSC auto connection for the instance.",
          "enumDescriptions": [
            "The state is unspecified. For old instances, this means the PSC auto connection is disabled. For new instances, this means the PSC auto connection is enabled by default.",
            "Enables the PSC auto connection for the instance.",
            "Disables the PSC auto connection for the instance."
          ]
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainCompliance": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainCompliance",
      "description": "Disable validation warnings",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "version": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      }
    },
    "PromoteClusterRequest": {
      "id": "PromoteClusterRequest",
      "description": "Message for promoting a Cluster",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QuantityBasedRetention": {
      "description": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained.",
      "properties": {
        "count": {
          "type": "integer",
          "description": "The number of backups to retain.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "QuantityBasedRetention"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The scheduled start time for the maintenance."
        }
      },
      "id": "MaintenanceSchedule"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData": {
      "properties": {
        "recommenderId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "lastRefreshTime": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "format": "google-datetime"
        },
        "recommendationState": {
          "type": "string",
          "description": "Required. Disable validation warnings",
          "enum": [
            "UNSPECIFIED",
            "ACTIVE",
            "CLAIMED",
            "SUCCEEDED",
            "FAILED",
            "DISMISSED"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ]
        },
        "recommenderSubtype": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "additionalMetadata": {
          "type": "object",
          "description": "Optional. Disable validation warnings",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "signalType": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life.",
            "Indicates a high risk of maintenance downtime.",
            "Indicates both a low cache hit rate and a risk of maintenance downtime.",
            "Indicates that the resource is missing enhanced protection."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_HIGH_MAINTENANCE_DOWNTIME_RISK",
            "SIGNAL_TYPE_LOW_CACHE_HIT_AND_MAINTENANCE_DOWNTIME",
            "SIGNAL_TYPE_MISSING_ENHANCED_PROTECTION"
          ],
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "recommender": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
    },
    "GoogleCloudLocationLocation": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      }
    },
    "MigrationSource": {
      "id": "MigrationSource",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "readOnly": true
        },
        "hostPort": {
          "type": "string",
          "description": "Output only. The host and port of the on-premises instance in host:port format",
          "readOnly": true
        },
        "sourceType": {
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ],
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "description": "Output only. Type of migration source.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "type": "object"
    },
    "ClusterUpgradeDetails": {
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Normalized name of the cluster",
          "type": "string"
        },
        "instanceUpgradeDetails": {
          "items": {
            "$ref": "InstanceUpgradeDetails"
          },
          "type": "array",
          "description": "Upgrade details of the instances directly associated with this cluster."
        },
        "clusterType": {
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "type": "string",
          "description": "Cluster type which can either be primary or secondary."
        },
        "stageInfo": {
          "type": "array",
          "description": "Array containing stage info associated with this cluster.",
          "items": {
            "$ref": "StageInfo"
          }
        },
        "upgradeStatus": {
          "description": "Upgrade status of the cluster.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "type": "string",
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation."
        }
      },
      "id": "ClusterUpgradeDetails"
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "description": "Disable validation warnings",
      "properties": {
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "signalBoolValue": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
    },
    "CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "type": "object",
      "properties": {
        "deleteResource": {
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead.",
          "type": "boolean"
        },
        "exclusiveAction": {
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ],
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "description": "Excluisive action returned by the CLH."
        }
      },
      "id": "CloudControl2SharedOperationsReconciliationOperationMetadata"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "properties": {
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        },
        "backupdrMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
        },
        "feedType": {
          "description": "Required. Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "type": "string"
        },
        "resourceMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "observabilityMetricData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Disable validation warnings"
        },
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Disable validation warnings"
        },
        "resourceId": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
      "properties": {
        "uniqueId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "provider": {
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "providerDescription": {
          "type": "string",
          "description": "Optional. Disable validation warnings"
        }
      },
      "type": "object",
      "description": "Disable validation warnings"
    },
[...]
