{
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "documentationLink": "https://cloud.google.com/alloydb/",
  "canonicalName": "Cloud AlloyDB Admin",
  "discoveryVersion": "v1",
  "version_module": true,
  "basePath": "",
  "schemas": {
    "ListBackupsResponse": {
      "description": "Message for response to listing Backups",
      "properties": {
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "The list of Backup",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "GoogleTypeDate"
    },
    "GcsDestination": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        }
      },
      "description": "Destination for Export. Export will be done to cloud storage.",
      "id": "GcsDestination"
    },
    "Stats": {
      "description": "Upgrade stats for read pool instances.",
      "properties": {
        "failed": {
          "description": "Number of read pool instances which failed to upgrade.",
          "type": "integer",
          "format": "int32"
        },
        "ongoing": {
          "type": "integer",
          "description": "Number of read pool instances undergoing upgrade.",
          "format": "int32"
        },
        "success": {
          "description": "Number of read pool instances successfully upgraded.",
          "format": "int32",
          "type": "integer"
        },
        "notStarted": {
          "description": "Number of read pool instances for which upgrade has not started.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Stats",
      "type": "object"
    },
    "Node": {
      "properties": {
        "isHotStandby": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether the node set up to be configured as a hot standby."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\"."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
        },
        "ip": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\"."
        },
        "zoneId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\"."
        }
      },
      "type": "object",
      "id": "Node",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations."
    },
    "GoogleCloudLocationListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "SslConfig": {
      "description": "SSL configuration.",
      "type": "object",
      "id": "SslConfig",
      "properties": {
        "caSource": {
          "type": "string",
          "description": "Optional. Certificate Authority (CA) source. Only CA_SOURCE_MANAGED is supported currently, and is the default value.",
          "enum": [
            "CA_SOURCE_UNSPECIFIED",
            "CA_SOURCE_MANAGED"
          ],
          "enumDescriptions": [
            "Certificate Authority (CA) source not specified. Defaults to CA_SOURCE_MANAGED.",
            "Certificate Authority (CA) managed by the AlloyDB Cluster."
          ]
        },
        "sslMode": {
          "enumDescriptions": [
            "SSL mode is not specified. Defaults to ENCRYPTED_ONLY.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced. Clients may use locally self-signed certificates (default psql client behavior).",
            "SSL connections are required. CA verification enforced. Clients must have certificates signed by a Cluster CA, for example, using GenerateClientCertificate.",
            "SSL connections are optional. CA verification not enforced.",
            "SSL connections are required. CA verification not enforced."
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "SSL_MODE_ALLOW",
            "SSL_MODE_REQUIRE",
            "SSL_MODE_VERIFY_CA",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            true,
            false,
            false
          ],
          "type": "string",
          "description": "Optional. SSL mode. Specifies client-server SSL/TLS connection behavior."
        }
      }
    },
    "ListClustersResponse": {
      "description": "Message for response to listing Clusters",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "clusters": {
          "description": "The list of Cluster",
          "type": "array",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListClustersResponse"
    },
    "SupportedDatabaseFlag": {
      "id": "SupportedDatabaseFlag",
      "properties": {
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ],
          "type": "string",
          "description": "The scope of the flag.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ]
        },
        "stringRestrictions": {
          "$ref": "StringRestrictions",
          "description": "Restriction on STRING type value."
        },
        "flagName": {
          "type": "string",
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field."
        },
        "recommendedIntegerValue": {
          "description": "The recommended value for an INTEGER flag.",
          "type": "string",
          "format": "int64"
        },
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "supportedDbVersions": {
          "description": "Major database engine versions for which this flag is supported.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ]
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning."
        },
        "acceptsMultipleValues": {
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified.",
          "type": "boolean"
        },
        "valueType": {
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ]
        }
      },
      "type": "object",
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field."
    },
    "InstanceUpgradeDetails": {
      "id": "InstanceUpgradeDetails",
      "description": "Details regarding the upgrade of instances associated with a cluster.",
      "properties": {
        "instanceType": {
          "type": "string",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "description": "Instance type.",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ]
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the instance."
        },
        "upgradeStatus": {
          "description": "Upgrade status of the instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListUsersResponse": {
      "id": "ListUsersResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "users": {
          "items": {
            "$ref": "User"
          },
          "description": "The list of User",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message for response to listing Users"
    },
    "RestoreClusterRequest": {
      "properties": {
        "backupdrPitrSource": {
          "description": "BackupDR source used for point in time recovery.",
          "$ref": "BackupDrPitrSource"
        },
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. ID of the requesting object."
        },
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "Backup source."
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "type": "object",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "id": "RestoreClusterRequest"
    },
    "MachineConfig": {
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine.",
      "type": "object",
      "properties": {
        "cpuCount": {
          "format": "int32",
          "description": "The number of CPU's in the VM instance.",
          "type": "integer"
        },
        "machineType": {
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "type": "object",
      "properties": {
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Disable validation warnings"
        },
        "resourceName": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupRun": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        },
        "isDeletionProtectionEnabled": {
          "description": "Disable validation warnings",
          "type": "boolean"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata",
      "description": "Disable validation warnings"
    },
    "InjectFaultRequest": {
      "description": "Message for triggering fault injection on an instance",
      "properties": {
        "faultType": {
          "description": "Required. The type of fault to be injected in an instance.",
          "enum": [
            "FAULT_TYPE_UNSPECIFIED",
            "STOP_VM"
          ],
          "type": "string",
          "enumDescriptions": [
            "The fault type is unknown.",
            "Stop the VM"
          ]
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        }
      },
      "type": "object",
      "id": "InjectFaultRequest"
    },
    "StageStatus": {
      "description": "Status of an upgrade stage.",
      "id": "StageStatus",
      "properties": {
        "readPoolInstancesUpgrade": {
          "$ref": "ReadPoolInstancesUpgradeStageStatus",
          "description": "Read pool instances upgrade metadata."
        },
        "state": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "State of this stage.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "description": "Upgrade stage."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "type": "object",
      "properties": {
        "crossRegionReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "promotableReplicaConfigured": {
          "description": "Disable validation warnings",
          "type": "boolean"
        },
        "availabilityType": {
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ],
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "type": "string"
        },
        "externalReplicaConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        },
        "automaticFailoverRoutingConfigured": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      },
      "description": "Disable validation warnings"
    },
    "ImportClusterResponse": {
      "properties": {
        "bytesDownloaded": {
          "format": "int64",
          "type": "string",
          "description": "Required. Size of the object downloaded from Google Cloud Storage in bytes."
        }
      },
      "id": "ImportClusterResponse",
      "description": "Response of import rpc.",
      "type": "object"
    },
    "UpgradeClusterResponse": {
      "id": "UpgradeClusterResponse",
      "properties": {
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Status of upgrade operation.",
          "type": "string"
        },
        "clusterUpgradeDetails": {
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          },
          "type": "array"
        },
        "message": {
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any.",
          "type": "string"
        }
      },
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "id": "GoogleCloudLocationLocation"
    },
    "BackupDrPitrSource": {
      "id": "BackupDrPitrSource",
      "type": "object",
      "properties": {
        "dataSource": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
        },
        "pointInTime": {
          "format": "google-datetime",
          "description": "Required. The point in time to restore to.",
          "type": "string"
        }
      },
      "description": "Message describing a BackupDrPitrSource."
    },
    "ExportClusterResponse": {
      "id": "ExportClusterResponse",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Required. Option to export data to cloud storage."
        }
      },
      "type": "object",
      "description": "Response of export cluster rpc."
    },
    "ReadPoolConfig": {
      "id": "ReadPoolConfig",
      "description": "Configuration for a read pool instance.",
      "properties": {
        "nodeCount": {
          "description": "Read capacity, i.e. number of nodes in a read pool instance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "UpgradeClusterRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned."
        },
        "version": {
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Required. The version the cluster is going to be upgraded to.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "UpgradeClusterRequest",
      "description": "Upgrades a cluster."
    },
    "SqlExportOptions": {
      "properties": {
        "tables": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Tables to export from.",
          "type": "array"
        },
        "ifExistTargetObjects": {
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode.",
          "type": "boolean"
        },
        "cleanTargetObjects": {
          "type": "boolean",
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them."
        },
        "schemaOnly": {
          "type": "boolean",
          "description": "Optional. If true, only export the schema."
        }
      },
      "id": "SqlExportOptions",
      "description": "Options for exporting data in SQL format.",
      "type": "object"
    },
    "DnsAutomationInfo": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the DNS automation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING_CREATE",
            "ACTIVE",
            "PENDING_DELETE",
            "CREATE_FAILED",
            "DELETE_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "DNS record creation is pending.",
            "DNS record is active.",
            "DNS record deletion is pending.",
            "DNS record creation failed.",
            "DNS record deletion failed."
          ]
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "Output only. The fully qualified domain name of the instance for DNS automation. Example: \"...alloydb.goog.\". Note: The AUDIT directive is intentionally omitted because this field contains sensitive network topology information.",
          "readOnly": true
        }
      },
      "id": "DnsAutomationInfo",
      "type": "object",
      "description": "DnsAutomationInfo contains information about the DNS automation for the instance."
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "provider": {
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ],
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "uniqueId": {
          "description": "Required. Disable validation warnings",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "description": "Required. Disable validation warnings"
        },
        "providerDescription": {
          "description": "Optional. Disable validation warnings",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Disable validation warnings",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Disable validation warnings",
          "format": "google-datetime"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "description": "Disable validation warnings"
    },
    "WeeklySchedule": {
      "id": "WeeklySchedule",
      "type": "object",
      "properties": {
        "startTimes": {
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          },
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily.",
          "type": "array"
        },
        "daysOfWeek": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string"
          },
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used.",
          "type": "array"
        }
      },
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week."
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "type": "object",
      "properties": {
        "doubleValue": {
          "type": "number",
          "description": "For double value",
          "format": "double"
        },
        "stringValue": {
          "type": "string",
          "description": "For string value"
        },
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "For integer value"
        }
      },
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool."
    },
    "StringRestrictions": {
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values."
        },
        "caseAgnostic": {
          "description": "Output only. Whether the allowed values are case agnostic.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "StringRestrictions",
      "description": "Restrictions on STRING type values"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "backupdrManaged": {
          "type": "boolean",
          "description": "Disable validation warnings"
        }
      }
    },
    "ConnectionPoolConfig": {
      "description": "Configuration for Managed Connection Pool (MCP).",
      "properties": {
        "authproxyPoolerScalingType": {
          "description": "Optional. The scaling type of the AuthProxy pooler.",
          "type": "string",
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ]
        },
        "poolerCount": {
          "type": "integer",
          "description": "Output only. The number of running poolers per instance.",
          "format": "int32",
          "readOnly": true
        },
        "poolerScalingType": {
          "enumDescriptions": [
            "The scaling type is not specified.",
            "No pooler is enabled.",
            "The number of poolers is automatically determined by the service based on the VM size.",
            "The number of poolers is kept unchanged no matter the machine size."
          ],
          "description": "Optional. The scaling type of the regular pooler.",
          "type": "string",
          "enum": [
            "POOLER_SCALING_TYPE_UNSPECIFIED",
            "POOLER_NONE",
            "POOLER_MACHINE_SIZED",
            "POOLER_MANUAL_OVERRIDE"
          ]
        },
        "enabled": {
          "description": "Optional. Whether to enable Managed Connection Pool (MCP).",
          "type": "boolean"
        },
        "flags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs.",
          "type": "object"
        },
        "authproxyPoolerCount": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of running AuthProxy poolers per instance.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ConnectionPoolConfig"
    },
    "ClusterUpgradeDetails": {
      "id": "ClusterUpgradeDetails",
      "type": "object",
      "properties": {
        "clusterType": {
          "type": "string",
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Cluster type which can either be primary or secondary."
        },
        "databaseVersion": {
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "instanceUpgradeDetails": {
          "description": "Upgrade details of the instances directly associated with this cluster.",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          },
          "type": "array"
        },
        "stageInfo": {
          "description": "Array containing stage info associated with this cluster.",
          "items": {
            "$ref": "StageInfo"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the cluster"
        },
        "upgradeStatus": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "description": "Upgrade status of the cluster.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        }
      },
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary."
    },
    "MigrationSource": {
      "type": "object",
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "properties": {
        "hostPort": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The host and port of the on-premises instance in host:port format"
        },
        "referenceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster."
        },
        "sourceType": {
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ],
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "description": "Output only. Type of migration source.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "MigrationSource"
    },
    "SecondaryConfig": {
      "type": "object",
      "id": "SecondaryConfig",
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY.",
      "properties": {
        "primaryClusterName": {
          "type": "string",
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        }
      }
    },
    "ConnectionInfo": {
      "properties": {
        "instanceUid": {
          "description": "Output only. The unique ID of the Instance.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "type": "string"
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "id": "ConnectionInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        },
        "time": {
          "description": "Optional. Disable validation warnings",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Optional. Disable validation warnings"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule"
    },
    "MaintenanceSchedule": {
      "type": "object",
      "id": "MaintenanceSchedule",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead.",
      "properties": {
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The scheduled start time for the maintenance."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "description": "Disable validation warnings",
      "properties": {
        "labels": {
          "description": "Disable validation warnings",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels",
      "type": "object"
    },
    "BackupSource": {
      "type": "object",
      "description": "Message describing a BackupSource.",
      "properties": {
        "backupName": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}"
        },
        "backupUid": {
          "description": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "BackupSource"
    },
    "StageInfo": {
      "type": "object",
      "description": "Stage information for different stages in the upgrade process.",
      "properties": {
        "stage": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "description": "The stage."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Status of the stage.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        },
        "logsUrl": {
          "type": "string",
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE."
        }
      },
      "id": "StageInfo"
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Disable validation warnings"
        },
        "errorType": {
          "type": "string",
          "description": "Disable validation warnings",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "key destroyed, expired, not found, unreachable or permission denied.",
            "Database is not accessible",
            "The zone or region does not have sufficient resources to handle the request at the moment",
            "User initiated cancellation",
            "SQL server specific error",
            "Any other internal error."
          ],
          "enum": [
            "OPERATION_ERROR_TYPE_UNSPECIFIED",
            "KMS_KEY_ERROR",
            "DATABASE_ERROR",
            "STOCKOUT_ERROR",
            "CANCELLATION_ERROR",
            "SQLSERVER_ERROR",
            "INTERNAL_ERROR"
          ]
        },
        "code": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError",
      "description": "Disable validation warnings"
    },
    "StorageDatabasecenterPartnerapiV1mainCompliance": {
      "properties": {
        "standard": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Disable validation warnings"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainCompliance",
      "description": "Disable validation warnings"
    },
    "PscInterfaceConfig": {
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachmentResource": {
          "type": "string",
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance."
        }
      },
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "description": "Disable validation warnings",
      "properties": {
        "internalResourceMetadata": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array",
          "description": "Disable validation warnings"
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "TrialMetadata": {
      "type": "object",
      "id": "TrialMetadata",
      "description": "Contains information and all metadata related to TRIAL clusters.",
      "properties": {
        "startTime": {
          "description": "start time of the trial cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "graceEndTime": {
          "format": "google-datetime",
          "description": "grace end time of the cluster.",
          "type": "string"
        },
        "upgradeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Upgrade time of trial cluster to Standard cluster."
        },
        "endTime": {
          "type": "string",
          "description": "End time of the trial cluster.",
          "format": "google-datetime"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "type": "object",
      "description": "Disable validation warnings",
      "properties": {
        "databaseResourceSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "description": "Disable validation warnings"
        },
        "resourceMetadata": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "backupdrMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
          "description": "Disable validation warnings"
        },
        "resourceId": {
          "deprecated": true,
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "skipIngestion": {
          "description": "Optional. Disable validation warnings",
          "type": "boolean"
        },
        "feedTimestamp": {
          "description": "Required. Disable validation warnings",
          "format": "google-datetime",
          "type": "string"
        },
        "recommendationSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "feedType": {
          "description": "Required. Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ]
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Disable validation warnings"
        },
        "resourceHealthSignalData": {
          "description": "Disable validation warnings",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        }
      }
    },
    "ClientConnectionConfig": {
      "type": "object",
      "properties": {
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration option for this instance.",
          "$ref": "SslConfig"
        }
      },
      "id": "ClientConnectionConfig",
      "description": "Client connection configuration"
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "description": "Disable validation warnings",
      "type": "object",
      "properties": {
        "entitlementState": {
          "description": "Disable validation warnings",
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings",
            "Disable validation warnings"
          ],
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "Disable validation warnings",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ]
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainIpAddress": {
      "type": "object",
      "description": "Disable validation warnings",
      "id": "StorageDatabasecenterPartnerapiV1mainIpAddress",
      "properties": {
        "publicIp": {
          "description": "Disable validation warnings",
          "type": "string"
        },
        "privateIp": {
          "description": "Disable validation warnings",
          "type": "string"
        }
      }
    },
    "FailoverInstanceRequest": {
      "id": "FailoverInstanceRequest",
      "type": "object",
      "description": "Message for triggering failover on an Instance",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "upgradeClusterStatus": {
          "description": "Output only. UpgradeClusterStatus related metadata.",
          "$ref": "UpgradeClusterStatus",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "QueryInsightsInstanceConfig": {
      "type": "object",
      "description": "QueryInsights Instance specific configuration.",
      "id": "QueryInsightsInstanceConfig",
      "properties": {
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"on\" by default.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "format": "uint32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid.",
          "type": "integer"
        },
        "queryStringLength": {
          "description": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid.",
          "type": "integer",
          "format": "uint32"
        },
        "recordClientAddress": {
          "description": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default.",
          "type": "boolean"
        }
      }
    },
    "Instance": {
      "properties": {
        "networkConfig": {
          "$ref": "InstanceNetworkConfig",
          "description": "Optional. Instance-level network configuration."
        },
        "pscInstanceConfig": {
          "$ref": "PscInstanceConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the instance."
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "readOnly": true,
          "type": "boolean"
        },
        "observabilityConfig": {
          "$ref": "ObservabilityInstanceConfig",
          "description": "Configuration for observability."
        },
        "dataApiAccess": {
          "enum": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well.",
          "enumDescriptions": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES is a default value that allows Google internal services like AlloyDB Studio to access the instance.",
            "Data API access is disabled for this instance.",
            "Data API access is enabled for this instance. For private IP instances, this allows authorized users to access the instance from the public internet using the ExecuteSql API."
          ],
          "type": "string"
        },
        "readPoolConfig": {
          "$ref": "ReadPoolConfig",
          "description": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL."
        },
        "pscInstanceInfo": {
          "readOnly": true,
          "description": "Output only. Information about the Private Service Connect (PSC) for the instance.",
          "$ref": "PscInstanceInfo"
        },
        "ipAddress": {
          "description": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "outboundPublicIpAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. All outbound public IP addresses configured for the instance."
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "machineConfig": {
          "$ref": "MachineConfig",
          "description": "Configurations for the machines that host the underlying database engine."
        },
        "queryInsightsConfig": {
          "description": "Configuration for query insights.",
          "$ref": "QueryInsightsInstanceConfig"
        },
        "maintenanceVersionName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s)."
        },
        "writableNode": {
          "readOnly": true,
          "$ref": "Node",
          "description": "Output only. This is set for the read-write VM of the PRIMARY instance only."
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Delete time stamp",
          "format": "google-datetime"
        },
        "nodes": {
          "type": "array",
          "description": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance.",
          "items": {
            "$ref": "Node"
          },
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "instanceType": {
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "description": "Required. The type of the instance. Specified at creation time.",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity."
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "connectionPoolConfig": {
          "description": "Optional. The configuration for Managed Connection Pool (MCP).",
          "$ref": "ConnectionPoolConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels as key value pairs"
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "clientConnectionConfig": {
          "description": "Optional. Client connection specific configurations",
          "$ref": "ClientConnectionConfig"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Instance.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "CREATING",
            "DELETING",
            "MAINTENANCE",
            "FAILED",
            "BOOTSTRAPPING",
            "PROMOTING",
            "SWITCHOVER",
            "STOPPING",
            "STARTING"
          ],
          "description": "Output only. The current serving state of the instance.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is active and running.",
            "The instance is stopped. Instance name and IP resources are preserved.",
            "The instance is being created.",
            "The instance is being deleted.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during an operation on the instance. Note: Instances in this state would tried to be auto-repaired. And Customers should be able to restart, update or delete these instances.",
            "The instance has been configured to sync data from some other source.",
            "The instance is being promoted.",
            "The instance has entered switchover state. All updates on instance are restricted while the instance is in this state.",
            "The instance is being stopped.",
            "The instance is being started."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        },
        "databaseFlags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value."
        },
        "availabilityType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional (or Highly) available instance."
          ],
          "description": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones).",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "activationPolicy": {
          "type": "string",
          "description": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details.",
          "enum": [
            "ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ],
          "enumDescriptions": [
            "The policy is not specified.",
            "The instance is running.",
            "The instance is not running."
          ]
        }
      },
      "description": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB.",
      "id": "Instance",
      "type": "object"
    },
    "Cluster": {
      "type": "object",
      "id": "Cluster",
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "properties": {
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "type": "string",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ]
        },
        "trialMetadata": {
          "readOnly": true,
          "$ref": "TrialMetadata",
          "description": "Output only. Metadata for free trial clusters"
        },
        "backupdrInfo": {
          "readOnly": true,
          "$ref": "BackupDrInfo",
          "description": "Output only. Output only information about BackupDR protection for this cluster."
        },
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "migrationSource": {
          "readOnly": true,
          "$ref": "MigrationSource",
          "description": "Output only. Cluster created via DMS migration."
        },
        "clusterType": {
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ],
          "readOnly": true,
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "type": "string"
        },
        "secondaryConfig": {
          "$ref": "SecondaryConfig",
          "description": "Cross Region replication config specific to SECONDARY cluster."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp"
        },
        "backupSource": {
          "description": "Output only. Cluster created from backup.",
          "readOnly": true,
          "$ref": "BackupSource"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. The maintenance update policy determines when to allow or deny updates.",
          "$ref": "MaintenanceUpdatePolicy"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "continuousBackupConfig": {
          "$ref": "ContinuousBackupConfig",
          "description": "Optional. Continuous backup configuration for this cluster."
        },
        "primaryConfig": {
          "readOnly": true,
          "$ref": "PrimaryConfig",
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true
        },
        "continuousBackupInfo": {
          "readOnly": true,
          "description": "Output only. Continuous backup properties for this cluster.",
          "$ref": "ContinuousBackupInfo"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the cluster."
        },
        "backupdrBackupSource": {
          "readOnly": true,
          "$ref": "BackupDrBackupSource",
          "description": "Output only. Cluster created from a BackupDR backup."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Delete time stamp"
        },
        "subscriptionType": {
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ],
          "description": "Optional. Subscription type of the cluster.",
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ],
          "type": "string"
        },
        "cloudsqlBackupRunSource": {
          "$ref": "CloudSQLBackupRunSource",
          "description": "Output only. Cluster created from CloudSQL snapshot.",
          "readOnly": true
        },
        "sslConfig": {
          "description": "SSL configuration for this AlloyDB cluster.",
          "deprecated": true,
          "$ref": "SslConfig"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current serving state of the cluster.",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER"
          ]
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster."
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Cluster."
        },
        "networkConfig": {
          "description": "Optional.",
          "$ref": "NetworkConfig"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dataplexConfig": {
          "$ref": "DataplexConfig",
          "description": "Optional. Configuration for Dataplex integration."
        },
        "maintenanceVersionSelectionPolicy": {
          "type": "string",
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ],
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances.",
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ]
        },
        "initialUser": {
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored.",
          "$ref": "UserPassword"
        },
        "maintenanceSchedule": {
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "$ref": "MaintenanceSchedule",
          "readOnly": true
        },
        "network": {
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead.",
          "type": "string",
          "deprecated": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        }
      }
    },
    "AuthorizedNetwork": {
      "id": "AuthorizedNetwork",
      "type": "object",
      "properties": {
        "cidrRange": {
          "type": "string",
          "description": "CIDR range for one authorzied network of the instance."
        }
      },
      "description": "AuthorizedNetwork contains metadata for an authorized network."
    },
    "PscConfig": {
      "description": "PscConfig contains PSC related configuration at a cluster level.",
      "id": "PscConfig",
      "properties": {
        "serviceOwnedProjectNumber": {
          "format": "int64",
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity.",
          "type": "string",
          "readOnly": true
        },
        "pscEnabled": {
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CsvExportOptions": {
      "description": "Options for exporting data in CSV format.",
      "properties": {
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        },
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        }
      },
      "type": "object",
      "id": "CsvExportOptions"
    },
    "NetworkConfig": {
      "type": "object",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project_number}/global/networks/{network_id}`. This is required to create a cluster."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB cluster, for example: \"google-managed-services-default\". If set, the instance IPs for this cluster will be created in the allocated range. The range name must comply with RFC 1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. Field name is intended to be consistent with Cloud SQL."
        }
      },
      "id": "NetworkConfig",
      "description": "Metadata related to network configuration."
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "type": "object",
      "id": "GoogleTypeTimeOfDay"
    },
    "CsvImportOptions": {
      "description": "Options for importing data in CSV format.",
      "id": "CsvImportOptions",
      "properties": {
        "columns": {
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Required. The database table to import CSV file into."
        }
      },
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "properties": {
        "quantityBasedRetention": {
          "description": "Quantity-based Backup retention policy to retain recent backups.",
          "$ref": "QuantityBasedRetention"
        },
        "weeklySchedule": {
          "$ref": "WeeklySchedule",
          "description": "Weekly schedule for the Backup."
        },
        "timeBasedRetention": {
          "$ref": "TimeBasedRetention",
          "description": "Time-based Backup retention policy."
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        },
        "location": {
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster.",
          "type": "string"
        },
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
[...]
