{
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "canonicalName": "Google Analytics Admin",
  "id": "analyticsadmin:v1alpha",
  "batchPath": "batch",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "name": "analyticsadmin",
  "ownerName": "Google",
  "servicePath": "",
  "ownerDomain": "google.com",
  "revision": "20260909",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "resources": {
    "accounts": {
      "methods": {
        "searchChangeHistoryEvents": {
          "parameterOrder": [
            "account"
          ],
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameters": {
            "account": {
              "location": "path",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "type": "string",
              "required": true,
              "pattern": "^accounts/[^/]+$"
            }
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "httpMethod": "POST"
        },
        "runAccessReport": {
          "flatPath": "v1alpha/accounts/{accountsId}:runAccessReport",
          "path": "v1alpha/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "parameterOrder": [
            "entity"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "entity": {
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path"
            }
          },
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "id": "analyticsadmin.accounts.runAccessReport"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "httpMethod": "DELETE",
          "id": "analyticsadmin.accounts.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "description": "Lookup for a single Account.",
          "id": "analyticsadmin.accounts.get",
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "flatPath": "v1alpha/accounts/{accountsId}",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "patch": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "path": "v1alpha/{+name}",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Updates an account.",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "id": "analyticsadmin.accounts.patch"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/accounts",
          "id": "analyticsadmin.accounts.list",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "httpMethod": "GET",
          "flatPath": "v1alpha/accounts",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "parameterOrder": []
        },
        "getDataSharingSettings": {
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "httpMethod": "GET",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          }
        },
        "provisionAccountTicket": {
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1alpha/accounts:provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "description": "Requests a ticket for creating an account."
        }
      },
      "resources": {
        "accessBindings": {
          "methods": {
            "batchCreate": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "id": "analyticsadmin.accounts.accessBindings.batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchCreate",
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "batchGet": {
              "parameters": {
                "names": {
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchGet",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.accessBindings.batchGet",
              "description": "Gets information about multiple access bindings to an account or property.",
              "path": "v1alpha/{+parent}/accessBindings:batchGet"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "id": "analyticsadmin.accounts.accessBindings.get",
              "description": "Gets information about an access binding.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "list": {
              "path": "v1alpha/{+parent}/accessBindings",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "description": "Lists all access bindings on an account or property.",
              "id": "analyticsadmin.accounts.accessBindings.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings"
            },
            "delete": {
              "description": "Deletes an access binding on an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.accounts.accessBindings.delete"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accessBindings",
              "description": "Creates an access binding on an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "id": "analyticsadmin.accounts.accessBindings.create",
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "parameters": {
                "parent": {
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "batchUpdate": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchUpdate",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "description": "Updates information about multiple access bindings to an account or property.",
              "id": "analyticsadmin.accounts.accessBindings.batchUpdate",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.accounts.accessBindings.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
                  "type": "string"
                }
              },
              "description": "Updates an access binding on an account or property."
            },
            "batchDelete": {
              "id": "analyticsadmin.accounts.accessBindings.batchDelete",
              "description": "Deletes information about multiple users' links to an account or property.",
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "properties": {
      "resources": {
        "firebaseLinks": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "path": "v1alpha/{+parent}/firebaseLinks",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks",
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
              }
            },
            "delete": {
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`"
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a FirebaseLink on a property",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1alpha/{+parent}/firebaseLinks",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "id": "analyticsadmin.properties.firebaseLinks.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/firebaseLinks"
            }
          }
        },
        "accessBindings": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "description": "Deletes an access binding on an account or property.",
              "id": "analyticsadmin.properties.accessBindings.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "batchUpdate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchUpdate",
              "httpMethod": "POST",
              "description": "Updates information about multiple access bindings to an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.accessBindings.batchUpdate"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "GET",
              "description": "Gets information about an access binding.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.accessBindings.get"
            },
            "batchDelete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchDelete",
              "description": "Deletes information about multiple users' links to an account or property.",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "id": "analyticsadmin.properties.accessBindings.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "patch": {
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an access binding on an account or property.",
              "id": "analyticsadmin.properties.accessBindings.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
                  "pattern": "^properties/[^/]+/accessBindings/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings/{accessBindingsId}"
            },
            "batchCreate": {
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "id": "analyticsadmin.properties.accessBindings.batchCreate",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchCreate"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.accessBindings.create",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accessBindings",
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates an access binding on an account or property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.properties.accessBindings.list",
              "description": "Lists all access bindings on an account or property.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Formats: - accounts/{account} - properties/{property}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "batchGet": {
              "flatPath": "v1alpha/properties/{propertiesId}/accessBindings:batchGet",
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              },
              "description": "Gets information about multiple access bindings to an account or property.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analyticsadmin.properties.accessBindings.batchGet",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}"
                },
                "names": {
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                }
              }
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                }
              },
              "description": "Lists GoogleAdsLinks on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks",
              "path": "v1alpha/{+parent}/googleAdsLinks",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "description": "Creates a GoogleAdsLink."
            },
            "delete": {
              "description": "Deletes a GoogleAdsLink on a property",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "description": "Updates a GoogleAdsLink on a property",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            }
          }
        },
        "rollupPropertySourceLinks": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists roll-up property source Links on a property. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the roll-up property to list roll-up property source links under. Format: properties/{property_id} Example: properties/1234"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRollupPropertySourceLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRollupPropertySourceLinks` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks"
            },
            "create": {
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "description": "Creates a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "parameters": {
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/rollupPropertySourceLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST"
            },
            "delete": {
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/1234/rollupPropertySourceLinks/5678",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$",
                  "required": true
                }
              },
              "description": "Deletes a roll-up property source link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}",
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.delete",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lookup for a single roll-up property source Link. Only roll-up properties can have source links, so this method will throw an error if used on other types of properties.",
              "id": "analyticsadmin.properties.rollupPropertySourceLinks.get",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the roll-up property source link to lookup. Format: properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link_id} Example: properties/123/rollupPropertySourceLinks/456",
                  "pattern": "^properties/[^/]+/rollupPropertySourceLinks/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/rollupPropertySourceLinks/{rollupPropertySourceLinksId}",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "expandedDataSets": {
          "methods": {
            "get": {
              "id": "analyticsadmin.properties.expandedDataSets.get",
              "description": "Lookup for a single ExpandedDataSet.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The name of the ExpandedDataSet to get. Example format: properties/1234/expandedDataSets/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              }
            },
            "delete": {
              "description": "Deletes a ExpandedDataSet on a property.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.expandedDataSets.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$",
                  "description": "Required. Example format: properties/1234/expandedDataSets/5678"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "description": "Lists ExpandedDataSets on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.list",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListExpandedDataSets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExpandedDataSet` must match the call that provided the page token."
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/expandedDataSets",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets/{expandedDataSetsId}",
              "id": "analyticsadmin.properties.expandedDataSets.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
                  "type": "string",
                  "pattern": "^properties/[^/]+/expandedDataSets/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "description": "Updates a ExpandedDataSet on a property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              }
            },
            "create": {
              "description": "Creates a ExpandedDataSet.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.expandedDataSets.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/expandedDataSets",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/expandedDataSets",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
              }
            }
          }
        },
        "subpropertySyncConfigs": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "description": "Lookup for a single `SubpropertySyncConfig`.",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertySyncConfigs/{subpropertySyncConfigsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/subpropertySyncConfigs/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the SubpropertySyncConfig to lookup. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678"
                }
              },
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.subpropertySyncConfigs.get",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates a `SubpropertySyncConfig`.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/subpropertySyncConfigs/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678"
                }
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertySyncConfigs/{subpropertySyncConfigsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
              },
              "id": "analyticsadmin.properties.subpropertySyncConfigs.patch"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "List all `SubpropertySyncConfig` resources for a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "description": "Required. Resource name of the property. Format: properties/property_id Example: properties/123",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSubpropertySyncConfig` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubpropertySyncConfig` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertySyncConfigs",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse"
              },
              "path": "v1alpha/{+parent}/subpropertySyncConfigs",
              "id": "analyticsadmin.properties.subpropertySyncConfigs.list"
            }
          }
        },
        "keyEvents": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.create",
              "description": "Creates a Key Event.",
              "path": "v1alpha/{+parent}/keyEvents",
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.keyEvents.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a Key Event.",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "type": "string",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "get": {
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Retrieves a single Key Event.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.get",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              }
            },
            "list": {
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "id": "analyticsadmin.properties.keyEvents.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1alpha/{+parent}/keyEvents",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse"
              },
              "httpMethod": "GET"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.keyEvents.delete",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a Key Event.",
              "path": "v1alpha/{+name}"
            }
          }
        },
        "subpropertyEventFilters": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a subproperty Event Filter.",
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.subpropertyEventFilters.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The ordinary property for which to create a subproperty event filter. Format: properties/property_id Example: properties/123",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              }
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "List all subproperty Event Filters on a property.",
              "path": "v1alpha/{+parent}/subpropertyEventFilters",
              "id": "analyticsadmin.properties.subpropertyEventFilters.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListSubpropertyEventFilters` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubpropertyEventFilters` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. Resource name of the ordinary property. Format: properties/property_id Example: properties/123"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "id": "analyticsadmin.properties.subpropertyEventFilters.get",
              "description": "Lookup for a single subproperty Event Filter.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Resource name of the subproperty event filter to lookup. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.subpropertyEventFilters.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "description": "Required. Resource name of the subproperty event filter to delete. Format: properties/property_id/subpropertyEventFilters/subproperty_event_filter Example: properties/123/subpropertyEventFilters/456",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a subproperty event filter.",
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
                  "required": true,
                  "pattern": "^properties/[^/]+/subpropertyEventFilters/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to update. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "description": "Updates a subproperty Event Filter.",
              "id": "analyticsadmin.properties.subpropertyEventFilters.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/subpropertyEventFilters/{subpropertyEventFiltersId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "id": "analyticsadmin.properties.customDimensions.get",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CustomDimension."
            },
            "list": {
              "path": "v1alpha/{+parent}/customDimensions",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "description": "Lists CustomDimensions on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.list"
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Creates a CustomDimension. Warning: It's not permissible to use this method to collect data on individual users. In particular, sending user IDs in custom dimensions violates the [Google Analytics Terms of Service](https://www.google.com/analytics/terms/).",
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/customDimensions",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              }
            },
            "patch": {
              "description": "Updates a CustomDimension on a property.",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "id": "analyticsadmin.properties.customDimensions.patch",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "archive": {
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}:archive",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678"
                }
              },
              "description": "Archives a CustomDimension on a property.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "create": {
              "id": "analyticsadmin.properties.customMetrics.create",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "path": "v1alpha/{+parent}/customMetrics",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": "Creates a CustomMetric.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.customMetrics.get",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CustomMetric.",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}"
            },
            "archive": {
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:archive",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.customMetrics.archive",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "description": "Archives a CustomMetric on a property."
            },
            "list": {
              "path": "v1alpha/{+parent}/customMetrics",
              "description": "Lists CustomMetrics on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Updates a CustomMetric on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "path": "v1alpha/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.customMetrics.patch"
            }
          }
        },
        "bigQueryLinks": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$",
                  "description": "Required. The name of the BigQuery link to lookup. Format: properties/{property_id}/bigQueryLinks/{bigquery_link_id} Example: properties/123/bigQueryLinks/456"
                }
              },
              "id": "analyticsadmin.properties.bigQueryLinks.get",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "description": "Lookup for a single BigQuery Link.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/bigQueryLinks/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks/{bigQueryLinksId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "description": "Updates a BigQueryLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "id": "analyticsadmin.properties.bigQueryLinks.patch",
              "path": "v1alpha/{+name}"
            },
            "create": {
              "path": "v1alpha/{+parent}/bigQueryLinks",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
              },
              "description": "Creates a BigQueryLink.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.bigQueryLinks.create",
              "httpMethod": "POST",
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse"
              },
              "id": "analyticsadmin.properties.bigQueryLinks.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListBigQueryLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListBigQueryLinks` must match the call that provided the page token."
                },
                "pageSize": {
                  "description": "The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the property to list BigQuery links under. Format: properties/{property_id} Example: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/bigQueryLinks",
              "path": "v1alpha/{+parent}/bigQueryLinks",
              "description": "Lists BigQuery Links on a property.",
              "parameterOrder": [
                "parent"
              ]
[...]
