{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "revision": "20261007",
  "name": "analyticsadmin",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "version_module": true,
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "title": "Google Analytics Admin API",
  "canonicalName": "Google Analytics Admin",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "id": "analyticsadmin:v1alpha",
  "servicePath": "",
  "discoveryVersion": "v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "version": "v1alpha",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "type": "array"
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32",
          "type": "integer"
        },
        "metricHeaders": {
          "type": "array",
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse",
      "properties": {
        "subpropertySyncConfigs": {
          "type": "array",
          "description": "List of `SubpropertySyncConfig` resources.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSubpropertySyncConfigs RPC."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSet": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
      "properties": {
        "dimensionNames": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the ExpandedDataSet. Max 50 chars."
        },
        "dimensionFilterExpression": {
          "description": "Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        },
        "displayName": {
          "description": "Required. The display name of the ExpandedDataSet. Max 200 chars.",
          "type": "string"
        },
        "metricNames": {
          "type": "array",
          "description": "Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.",
          "items": {
            "type": "string"
          }
        },
        "dataCollectionStartTime": {
          "description": "Output only. Time when expanded data set began (or will begin) collecing data.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A resource message representing an `ExpandedDataSet`.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array"
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options. The match is case insensitive.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaListKeyEventsResponse": {
      "properties": {
        "keyEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
          },
          "description": "The requested Key Events"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse",
      "description": "Response message for ListKeyEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "type": "string"
        },
        "sequenceMaximumDuration": {
          "format": "google-duration",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "type": "string"
        },
        "sequenceSteps": {
          "type": "array",
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse",
      "description": "Response message for ListAdSenseLinks method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "adsenseLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
          },
          "description": "List of AdSenseLinks."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "type": "string"
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "formInteractionsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default."
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "searchQueryParameter": {
          "type": "string",
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty."
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "pageChangesEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a page view event each time the website changes the browser history state."
        },
        "uriQueryParameter": {
          "description": "Additional URL query parameters. Max length is 1024 characters.",
          "type": "string"
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        }
      },
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "description": "Response message for CreateRollupProperty RPC.",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "type": "object",
      "properties": {
        "rollupProperty": {
          "description": "The created roll-up property.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "rollupPropertySourceLinks": {
          "type": "array",
          "description": "The created roll-up property source links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value used for the matching."
        },
        "matchType": {
          "type": "string",
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ]
        },
        "caseSensitive": {
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter"
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
      "properties": {
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "operation": {
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "description": "The operation type for this filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "type": "string"
        }
      },
      "description": "Filters for numeric or date values."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "description": "A filter for numeric or date values on a dimension or metric.",
      "properties": {
        "operation": {
          "description": "Required. The operation applied to a numeric filter.",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ],
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "type": "string"
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
          "description": "Required. The numeric or date value to match against."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "properties": {
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date."
        },
        "startDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this account was originally created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "gmpOrganization": {
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "readOnly": true,
          "type": "string"
        },
        "deleted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        }
      },
      "description": "A resource message representing a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "properties": {
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "type": "string",
          "description": "Required. Immutable. The type of this DataStream resource."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this stream was originally created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        }
      },
      "description": "A resource message representing a data stream."
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions.",
          "type": "array"
        }
      },
      "description": "A list of filter expressions.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "description": "A link between a Google Analytics property and a Firebase project.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this FirebaseLink was originally created."
        },
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink"
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "type": "object",
      "properties": {
        "formula": {
          "type": "string",
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\""
        },
        "calculatedMetricId": {
          "type": "string",
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\".",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "restrictedMetricType": {
          "items": {
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Types of restricted data that this metric contains."
        },
        "metricUnit": {
          "type": "string",
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "description": "Required. The type for the calculated metric's value."
        },
        "invalidMetricReference": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "description": "A definition for a calculated metric."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy",
      "description": "Sorts by metric values."
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "properties": {
        "immediatelyFollows": {
          "type": "boolean",
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step."
        },
        "constraintDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step."
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step."
        },
        "scope": {
          "description": "Required. Immutable. Specifies the scope for this step.",
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "type": "object",
      "properties": {
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
          "description": "A filter for in list values."
        },
        "numericFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
          "description": "A filter for numeric or date values."
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter"
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "description": "An expression to filter dimension or metric values."
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        },
        "filter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression."
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression."
        }
      },
      "description": "A logical expression of EnhancedDataSet dimension filters."
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "type": "object",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "properties": {
        "value": {
          "type": "number",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "format": "double"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "type": "object",
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
        }
      },
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "properties": {
        "logCondition": {
          "type": "string",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ],
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "description": "Required. When to log the event."
        },
        "eventName": {
          "type": "string",
          "description": "Required. The event name that will be logged."
        }
      },
      "type": "object",
      "description": "Specifies an event to log when a user joins the Audience.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when entity payload fields were last updated."
        },
        "propertyType": {
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "serviceLevel": {
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ]
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A resource message representing a Google Analytics property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProperty"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "properties": {
        "accessBindings": {
          "description": "The access bindings updated.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse",
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "type": "object",
      "description": "To represent a number.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue",
      "properties": {
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest",
      "description": "Request message for SubmitUserDeletion RPC.",
      "properties": {
        "userId": {
          "description": "Google Analytics [user ID](https://firebase.google.com/docs/analytics/userid).",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Firebase [application instance ID](https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics.html#getAppInstanceId).",
          "type": "string"
        },
        "clientId": {
          "description": "Google Analytics [client ID](https://support.google.com/analytics/answer/11593727).",
          "type": "string"
        },
        "userProvidedData": {
          "type": "string",
          "description": "[User-provided data](https://support.google.com/analytics/answer/14077171). May contain either one email address or one phone number. Email addresses should be normalized as such: * lowercase * remove periods before @ for gmail.com/googlemail.com addresses * remove all spaces Phone numbers should be normalized as such: * remove all non digit characters * add + prefix"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "properties": {
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric"
    },
    "GoogleAnalyticsAdminV1alphaListPropertiesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListPropertiesResponse",
      "type": "object",
      "description": "Response message for ListProperties RPC.",
      "properties": {
        "properties": {
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest",
      "type": "object",
      "properties": {
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          },
          "type": "array"
        },
        "includeAllUsers": {
          "type": "boolean",
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included."
        },
        "expandGroups": {
          "type": "boolean",
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned."
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "dateRanges": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          },
          "type": "array",
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          },
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions."
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          }
        },
        "metricFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        }
      },
      "description": "The request for a Data Access Record Report."
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "description": "The match type for this filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The filter for strings."
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "description": "Response message for ListChannelGroups RPC.",
      "properties": {
        "channelGroups": {
          "type": "array",
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "type": "object",
      "properties": {
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "type": "boolean",
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI."
        },
        "sharingWithGoogleAnySalesEnabled": {
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "properties": {
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "type": "string",
          "format": "int64",
          "description": "Integer value"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "description": "To represent a number.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingIdentitySettings": {
      "type": "object",
      "description": "A resource containing settings related to reporting identity.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
          "type": "string",
          "readOnly": true
        },
        "reportingIdentity": {
          "type": "string",
          "enum": [
            "IDENTITY_BLENDING_STRATEGY_UNSPECIFIED",
            "BLENDED",
            "OBSERVED",
            "DEVICE_BASED"
          ],
          "enumDescriptions": [
            "Unspecified blending strategy.",
            "Blended reporting identity strategy.",
            "Observed reporting identity strategy.",
            "Device-based reporting identity strategy."
          ],
          "description": "The strategy used for identifying user identities in reports."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest": {
      "properties": {},
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "matchType": {
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "Required. The match type for the string filter.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "properties": {
        "actorType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "description": "The type of actor that made this change."
        },
        "changesFiltered": {
          "type": "boolean",
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event."
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "type": "array",
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest."
        },
        "changeTime": {
          "format": "google-datetime",
          "description": "Time when change was made.",
          "type": "string"
        },
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "userActorEmail": {
          "type": "string",
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "description": "Event setting conditions to match an event.",
      "id": "GoogleAnalyticsAdminV1alphaEventMapping",
      "properties": {
        "maxEventValue": {
          "type": "number",
          "format": "double",
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked."
        },
        "minEventCount": {
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "format": "int64",
          "type": "string"
        },
        "minEventValue": {
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked.",
          "format": "double",
          "type": "number"
        },
        "eventName": {
          "description": "Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "maxEventCount": {
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "properties": {
        "subpropertyEventFilters": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "description": "List of subproperty event filters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "type": "object",
      "description": "Response message for ListSubpropertyEventFilter RPC."
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventEditRules": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          },
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "description": "Response message for ListEventEditRules RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. Formats: - accounts/{account} - properties/{property}",
          "type": "string"
        },
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to create."
        }
      },
      "description": "Request message for CreateAccessBinding RPC.",
      "id": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "description": "Response message for ListExpandedDataSets RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "expandedDataSets": {
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "properties": {
        "values": {
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A filter for a string dimension that matches a particular list of options.",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink",
      "description": "A link that references a source property under the parent rollup property.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'"
        },
        "sourceProperty": {
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "type": "object",
      "properties": {
        "deletionRequestTime": {
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse",
      "description": "Response message for SubmitUserDeletion RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "description": "Response message for ListAudiences RPC.",
      "properties": {
        "audiences": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          },
          "type": "array",
          "description": "List of Audiences."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "properties": {
        "adsWebConversionDataExportScope": {
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ],
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ]
        },
        "reportingAttributionModel": {
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "type": "string",
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ]
        },
        "otherConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "acquisitionConversionEventLookbackWindow": {
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "type": "string",
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        }
      },
      "description": "The attribution settings used for a given property. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        },
        "account": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccount",
          "description": "The account to create."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "type": "object",
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "type": "object",
      "properties": {
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        },
        "accessFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        }
      },
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter": {
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
      "properties": {
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "properties": {
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "advertiserDisplayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the Display & Video 360 Advertiser."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser.",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "type": "string",
          "description": "Status of this setting."
        },
        "consent": {
          "type": "string",
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true,
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "type": "object",
      "properties": {
        "searchAds360Links": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "description": "List of SearchAds360Links.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "description": "Response message for ListSearchAds360Links RPC."
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventCreateRules": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          },
          "type": "array",
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse",
      "type": "object",
      "description": "Response message for ListEventCreateRules RPC."
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse",
      "properties": {
        "accessBindings": {
          "type": "array",
          "description": "The access bindings created.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      },
      "description": "Response message for BatchCreateAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "properties": {
        "countingMethod": {
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time when this key event was created in the property.",
          "format": "google-datetime"
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "custom": {
          "type": "boolean",
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "readOnly": true
        },
        "deletable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set to true, this event can be deleted."
        },
        "defaultValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
          "description": "Optional. Defines a default value/currency for a key event."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent",
      "type": "object",
      "description": "A key event in a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "properties": {
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "properties": {
        "consumed": {
          "type": "integer",
          "format": "int32",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "type": "integer",
          "format": "int32",
          "description": "Quota remaining after this request."
        }
      },
      "description": "Current state for a particular quota group.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "properties": {
        "userDataRetention": {
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that user-level data is retained."
        },
        "eventDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        }
      },
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
    },
    "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "reportingDataAnnotations": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
          },
          "description": "List of Reporting Data Annotations.",
          "type": "array"
        }
      },
      "description": "Response message for ListReportingDataAnnotation RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created."
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string"
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "properties": {
        "accessBindings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array",
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse",
      "description": "Response message for ListAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "type": "object",
      "description": "The value of a dimension.",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "description": "Response message for BatchGetAccessBindings RPC.",
      "properties": {
        "accessBindings": {
[...]
