{
  "title": "Google Analytics Admin API",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "revision": "20260913",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "analyticsadmin",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      },
      "type": "object",
      "description": "Request message for AcknowledgeUserDataCollection RPC."
    },
    "GoogleAnalyticsAdminV1alphaReportingIdentitySettings": {
      "properties": {
        "reportingIdentity": {
          "enum": [
            "IDENTITY_BLENDING_STRATEGY_UNSPECIFIED",
            "BLENDED",
            "OBSERVED",
            "DEVICE_BASED"
          ],
          "enumDescriptions": [
            "Unspecified blending strategy.",
            "Blended reporting identity strategy.",
            "Observed reporting identity strategy.",
            "Device-based reporting identity strategy."
          ],
          "type": "string",
          "description": "The strategy used for identifying user identities in reports."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings",
      "description": "A resource containing settings related to reporting identity.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "properties": {
        "adsWebConversionDataExportScope": {
          "type": "string",
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ]
        },
        "acquisitionConversionEventLookbackWindow": {
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\""
        },
        "reportingAttributionModel": {
          "type": "string",
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ]
        },
        "otherConversionEventLookbackWindow": {
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "type": "string",
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "type": "object",
      "description": "The attribution settings used for a given property. This is a singleton resource."
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "properties": {
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated. This field is no longer used and always returns false."
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings",
      "type": "object",
      "description": "A resource message representing data sharing settings of a Google Analytics account."
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy": {
      "description": "Sorts by dimension values.",
      "properties": {
        "orderType": {
          "type": "string",
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "description": "Controls the rule for dimension value ordering.",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        },
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByDimensionOrderBy"
    },
    "GoogleAnalyticsAdminV1alphaAudience": {
      "properties": {
        "exclusionDurationMode": {
          "type": "string",
          "description": "Immutable. Specifies how long an exclusion lasts for users that meet the exclusion filter. It is applied to all EXCLUDE filter clauses and is ignored when there is no EXCLUDE filter clause in the Audience.",
          "enum": [
            "AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED",
            "EXCLUDE_TEMPORARILY",
            "EXCLUDE_PERMANENTLY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Exclude users from the Audience during periods when they meet the filter clause.",
            "Exclude users from the Audience if they've ever met the filter clause."
          ]
        },
        "eventTrigger": {
          "description": "Optional. Specifies an event to log when a user joins the Audience. If not set, no event is logged when a user joins the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger"
        },
        "name": {
          "description": "Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Audience.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. It is automatically set by GA to false if this is an NPA Audience and is excluded from ads personalization."
        },
        "createTime": {
          "description": "Output only. Time when the Audience was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "filterClauses": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
          },
          "type": "array",
          "description": "Required. Immutable. Unordered list. Filter clauses that define the Audience. All clauses will be AND’ed together."
        },
        "description": {
          "description": "Required. The description of the Audience.",
          "type": "string"
        },
        "membershipDurationDays": {
          "description": "Required. Immutable. The duration a user should stay in an Audience. It cannot be set to more than 540 days.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A resource message representing an Audience.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudience"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "properties": {
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array"
        },
        "applyToProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the Subproperty that uses this filter."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678"
        }
      },
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "properties": {
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        },
        "value": {
          "type": "number",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent",
      "description": "A key event in a Google Analytics property.",
      "properties": {
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "type": "string",
          "readOnly": true
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this key event was created in the property.",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set to true, this event can be deleted.",
          "type": "boolean"
        },
        "custom": {
          "type": "boolean",
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "readOnly": true
        },
        "countingMethod": {
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse",
      "properties": {
        "accessBindings": {
          "description": "The requested access bindings.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      },
      "description": "Response message for BatchGetAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "eventEditRules": {
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "description": "Response message for ListEventEditRules RPC."
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "properties": {
        "rollupProperty": {
          "description": "The created roll-up property.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "rollupPropertySourceLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          },
          "type": "array",
          "description": "The created roll-up property source links."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "description": "Response message for CreateRollupProperty RPC."
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "type": "string",
          "description": "The property's property type.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "canEdit": {
          "type": "boolean",
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property."
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "description": "Response message for ListChannelGroups RPC.",
      "type": "object",
      "properties": {
        "channelGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          },
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "description": "A resource message representing a Google Analytics property.",
      "properties": {
        "serviceLevel": {
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "type": "string",
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted."
        },
        "deleteTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "format": "google-datetime"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "properties": {
        "startDate": {
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "$ref": "GoogleTypeDate",
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "type": "object",
      "description": "Sorts by metric values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "type": "object",
      "properties": {
        "metricHeaders": {
          "type": "array",
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          }
        },
        "rowCount": {
          "format": "int32",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer"
        },
        "rows": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "dimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "description": "The customized Data Access Record Report response."
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse": {
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalResponse",
      "properties": {
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "The DisplayVideo360AdvertiserLink created as a result of approving the proposal."
        }
      },
      "description": "Response message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings."
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subpropertyEventFilters": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          },
          "description": "List of subproperty event filters."
        }
      },
      "type": "object",
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse"
    },
    "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse": {
      "description": "Response message for ListBigQueryLinks RPC",
      "id": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "bigqueryLinks": {
          "description": "List of BigQueryLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "description": "Request message for BatchUpdateAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "properties": {
        "actorType": {
          "description": "The type of actor that made this change.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "changeTime": {
          "description": "Time when change was made.",
          "format": "google-datetime",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "ID of this change history event. This ID is unique across Google Analytics."
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        }
      },
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "description": "A resource message representing a Channel Group.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup",
      "properties": {
        "systemDefined": {
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group.",
          "type": "boolean",
          "readOnly": true
        },
        "description": {
          "description": "The description of the Channel Group. Max length of 256 characters.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Channel Group. Max length of 80 characters."
        },
        "groupingRule": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          },
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50.",
          "type": "array"
        },
        "primary": {
          "type": "boolean",
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse",
      "properties": {
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListEventCreateRules RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "type": "object",
      "description": "Response message for ListCalculatedMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "properties": {
        "calculatedMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "description": "List of CalculatedMetrics.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccessRow",
      "description": "Access report data for each row.",
      "properties": {
        "metricValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request."
        },
        "dimensionValues": {
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "description": "A logical expression of EnhancedDataSet dimension filters.",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        },
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "description": "To represent a number.",
      "properties": {
        "doubleValue": {
          "description": "Double value.",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "format": "int64",
          "description": "Integer value.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this account was originally created.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when account payload fields were last updated.",
          "format": "google-datetime"
        },
        "regionCode": {
          "type": "string",
          "description": "Country of business. Must be a Unicode CLDR region code."
        },
        "gmpOrganization": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "deleted": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter": {
      "properties": {
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP"
          ],
          "description": "Required. The match type for the string filter.",
          "type": "string"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaDataRedactionSettings": {
      "type": "object",
      "properties": {
        "emailRedactionEnabled": {
          "description": "If enabled, any event parameter or user property values that look like an email will be redacted.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
          "type": "string",
          "readOnly": true
        },
        "queryParameterRedactionEnabled": {
          "description": "Query Parameter redaction removes the key and value portions of a query parameter if it is in the configured set of query parameters. If enabled, URL query replacement logic will be run for the Stream. Any query parameters defined in query_parameter_keys will be redacted.",
          "type": "boolean"
        },
        "queryParameterKeys": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The query parameter keys to apply redaction logic to if present in the URL. Query parameter matching is case-insensitive. Must contain at least one element if query_parameter_replacement_enabled is true. Keys cannot contain commas."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRedactionSettings",
      "description": "Settings for client-side data redaction. Singleton resource under a Web Stream."
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "type": "object",
      "properties": {
        "countingMethod": {
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ],
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when this conversion event was created in the property."
        },
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "defaultConversionValue": {
          "description": "Optional. Defines a default value/currency for a conversion event.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue"
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "description": "A conversion event in a Google Analytics property."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "type": "array",
          "description": "Required. Unordered list. A list of Subproperty event filter expressions",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          }
        }
      },
      "description": "A list of Subproperty event filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
      "description": "Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty.",
      "type": "object",
      "properties": {
        "customDimensionAndMetricSyncMode": {
          "type": "string",
          "description": "Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty.",
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ]
        },
        "applyToProperty": {
          "description": "Output only. Immutable. Resource name of the subproperty that these settings apply to.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema": {
      "description": "SKAdNetwork conversion value schema of an iOS stream.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the schema. This will be child of ONLY an iOS stream, and there can be at most one such child under an iOS stream. Format: properties/{property}/dataStreams/{dataStream}/sKAdNetworkConversionValueSchema"
        },
        "postbackWindowThree": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the third postback window. This field should only be set if the user chose to define different conversion values for this postback window. It is allowed to configure window 3 without setting window 2. In case window 1 & 2 settings are set and enable_postback_window_settings for this postback window is set to false, the schema will inherit settings from postback_window_two."
        },
        "applyConversionValues": {
          "description": "If enabled, the GA SDK will set conversion values using this schema definition, and schema will be exported to any Google Ads accounts linked to this property. If disabled, the GA SDK will not automatically set conversion values, and also the schema will not be exported to Ads.",
          "type": "boolean"
        },
        "postbackWindowTwo": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "The conversion value settings for the second postback window. This field should only be configured if there is a need to define different conversion values for this postback window. If enable_postback_window_settings is set to false for this postback window, the values from postback_window_one will be used."
        },
        "postbackWindowOne": {
          "$ref": "GoogleAnalyticsAdminV1alphaPostbackWindow",
          "description": "Required. The conversion value settings for the first postback window. These differ from values for postback window two and three in that they contain a \"Fine\" grained conversion value (a numeric value). Conversion values for this postback window must be set. The other windows are optional and may inherit this window's settings if unset or disabled."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule",
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule.",
      "type": "object",
      "properties": {
        "parameterMutations": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          },
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied."
        },
        "sourceCopyParameters": {
          "type": "boolean",
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied."
        },
        "eventConditions": {
          "type": "array",
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          }
        },
        "destinationEvent": {
          "type": "string",
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "type": "string",
          "description": "Status of this setting."
        },
        "name": {
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "consent": {
          "type": "string",
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true,
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "type": "object",
      "properties": {
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "description": "A list of filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "properties": {
        "searchAds360Links": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "type": "array",
          "description": "List of SearchAds360Links."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "description": "Response message for ListSearchAds360Links RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "accountSummaries": {
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
    },
    "GoogleAnalyticsAdminV1alphaAdSenseLink": {
      "description": "A link between a Google Analytics property and an AdSense for Content ad client.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAdSenseLink",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name for this AdSense Link resource. Format: properties/{propertyId}/adSenseLinks/{linkId} Example: properties/1234/adSenseLinks/6789"
        },
        "adClientCode": {
          "type": "string",
          "description": "Immutable. The AdSense ad client code that the Google Analytics property is linked to. Example format: \"ca-pub-1234567890\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue": {
      "description": "Defines a default value/currency for a key event.",
      "id": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        },
        "numericValue": {
          "type": "number",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "format": "double"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "type": "array",
          "description": "List of CustomDimensions."
        }
      },
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest",
      "description": "Request message for CreateRollupProperty RPC.",
      "properties": {
        "rollupProperty": {
          "description": "Required. The roll-up property to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "sourceProperties": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameter": {
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place.",
          "type": "string"
        },
        "parameterValue": {
          "type": "string",
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters)."
        }
      },
      "description": "Defines an event parameter to mutate.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "expandedDataSets": {
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for ListExpandedDataSets RPC."
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "type": "object",
      "properties": {
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "type": "array",
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "description": "Data specific to Android app streams.",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "type": "object",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "description": "The filter for strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "properties": {
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "type": "string"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "type": "object",
      "description": "Request message for ArchiveCustomDimension RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "type": "object",
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "properties": {
        "simpleFilter": {
          "description": "A simple filter that a user must satisfy to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter"
        },
        "clauseType": {
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "description": "Required. Specifies whether this is an include or exclude filter clause."
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        }
      },
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter",
      "properties": {
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive."
        },
        "value": {
          "description": "Required. The string value used for the matching.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse",
      "description": "Response message for SubmitUserDeletion RPC.",
      "properties": {
        "deletionRequestTime": {
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "type": "object",
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListConversionEvents RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "description": "A definition for a custom metric.",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "measurementUnit": {
          "description": "Required. The type for the custom metric's value.",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "restrictedMetricType": {
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "items": {
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ],
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ]
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ],
          "type": "string",
          "description": "Required. Immutable. The scope of this custom metric."
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep",
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "properties": {
        "scope": {
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this step.",
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ]
        },
        "immediatelyFollows": {
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step.",
          "type": "boolean"
        },
        "constraintDuration": {
          "format": "google-duration",
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step.",
          "type": "string"
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      },
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when this link was originally created."
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean",
          "readOnly": true
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true,
          "type": "string"
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse",
      "properties": {
        "adsenseLinks": {
          "description": "List of AdSenseLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListAdSenseLinks method."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "properties": {
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "filterCondition": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "type": "object",
      "description": "A logical expression of Subproperty event filters."
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "type": "object",
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "properties": {
        "accessBindings": {
          "description": "The access bindings updated.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression": {
      "type": "object",
      "description": "A logical expression of Channel Group dimension filters.",
      "properties": {
        "filter": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilter",
          "description": "A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
          "description": "A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression."
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse": {
      "description": "Response message for ListRollupPropertySourceLinks RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse",
      "type": "object",
      "properties": {
        "rollupPropertySourceLinks": {
          "description": "List of RollupPropertySourceLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "type": "object",
      "properties": {
        "filterClauseType": {
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ],
          "description": "Required. The type for the filter clause.",
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "type": "string"
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "Required. The logical expression for what events are sent to the subproperty."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data)."
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "type": "object",
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema.",
      "properties": {
        "lockEnabled": {
          "type": "boolean",
          "description": "If true, the SDK should lock to this conversion value for the current postback window."
        },
        "fineValue": {
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units.",
          "type": "string"
        },
        "coarseValue": {
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ],
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique.",
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ],
          "type": "string"
        },
        "eventMappings": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          },
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "type": "object",
      "description": "Data specific to web streams.",
      "properties": {
        "defaultUri": {
          "type": "string",
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\""
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        },
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number."
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "action": {
          "type": "array",
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
[...]
