{
  "version_module": true,
  "kind": "discovery#restDescription",
  "baseUrl": "https://analyticshub.googleapis.com/",
  "name": "analyticshub",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
  "mtlsRootUrl": "https://analyticshub.mtls.googleapis.com/",
  "id": "analyticshub:v1",
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "Exchange data and analytics assets securely and efficiently.",
  "rootUrl": "https://analyticshub.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Analytics Hub API",
  "schemas": {
    "AIInference": {
      "id": "AIInference",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "unstructuredInference": {
          "$ref": "UnstructuredInference",
          "description": "Optional. Requests and responses can be any arbitrary JSON object."
        }
      },
      "description": "Configuration for making inference requests against Vertex AI models.",
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "ListSharedResourceSubscriptionsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        },
        "sharedResourceSubscriptions": {
          "description": "The list of subscriptions.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "type": "object",
      "id": "ListSharedResourceSubscriptionsResponse",
      "description": "Message for response to the listing of shared resource subscriptions."
    },
    "QueryTemplate": {
      "description": "A query template is a container for sharing table-valued functions defined by contributors in a data clean room.",
      "type": "object",
      "id": "QueryTemplate",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of the QueryTemplate. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes."
        },
        "description": {
          "description": "Optional. Short description of the QueryTemplate. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "description": "Optional. Encryption configuration for the query template. If set, the customer-managed KMS key is used to encrypt the query template definition body.",
          "$ref": "EncryptionConfig"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`"
        },
        "routine": {
          "description": "Optional. The routine associated with the QueryTemplate.",
          "$ref": "Routine"
        },
        "documentation": {
          "type": "string",
          "description": "Optional. Documentation describing the QueryTemplate."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The QueryTemplate is in draft state.",
            "The QueryTemplate is in pending state.",
            "The QueryTemplate is in deleted state.",
            "The QueryTemplate is in approved state."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFTED",
            "PENDING",
            "DELETED",
            "APPROVED"
          ],
          "description": "Output only. The QueryTemplate lifecycle state."
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes."
        },
        "updateTime": {
          "description": "Output only. Timestamp when the QueryTemplate was last modified.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "proposer": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `primary_contact` instead. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when the QueryTemplate was created.",
          "type": "string"
        }
      }
    },
    "DestinationPubSubSubscription": {
      "properties": {
        "pubsubSubscription": {
          "description": "Required. Destination Pub/Sub subscription resource.",
          "$ref": "GooglePubsubV1Subscription"
        }
      },
      "type": "object",
      "id": "DestinationPubSubSubscription",
      "description": "Defines the destination Pub/Sub subscription."
    },
    "RestrictedExportConfig": {
      "properties": {
        "restrictQueryResult": {
          "description": "Optional. If true, restrict export of query result derived from restricted linked dataset table.",
          "type": "boolean"
        },
        "restrictDirectTableAccess": {
          "description": "Output only. If true, restrict direct table access(read api/tabledata.list) on linked table.",
          "readOnly": true,
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. If true, enable restricted export."
        }
      },
      "id": "RestrictedExportConfig",
      "type": "object",
      "description": "Restricted export config, used to configure restricted export on linked dataset."
    },
    "DelimitedKey": {
      "description": "Row key definition based on fields from the message.",
      "properties": {
        "keyFields": {
          "description": "Optional. The key fields to construct from the row key. The fields must be present in the message as a top-level field, i.e. JSON path expressions will not traverse into nested objects.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "delimiter": {
          "description": "Optional. Byte sequence used to delimit concatenated fields. Must be specified if multiple key fields are used. The delimiter must contain at least 1 character and at most 50 characters.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "DelimitedKey",
      "type": "object"
    },
    "JavaScriptUDF": {
      "description": "User-defined JavaScript function that can transform or filter a Pub/Sub message.",
      "type": "object",
      "properties": {
        "functionName": {
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages.",
          "type": "string"
        },
        "code": {
          "description": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (required) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```",
          "type": "string"
        }
      },
      "id": "JavaScriptUDF"
    },
    "DefaultExchangeConfig": {
      "id": "DefaultExchangeConfig",
      "type": "object",
      "properties": {},
      "description": "Default Analytics Hub data exchange, used for secured data sharing."
    },
    "RowKeySchema": {
      "id": "RowKeySchema",
      "type": "object",
      "properties": {},
      "description": "Row key definition that reads the input message fields based on the field names of the table's [structured row key](https://cloud.google.com/bigtable/docs/manage-row-key-schemas). Note that if the field is nullable in the structured row key, then it need not be present in the message; `null` will be used instead."
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "description": "Message for response to the listing of subscriptions.",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of subscriptions.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      }
    },
    "Publisher": {
      "type": "object",
      "properties": {
        "primaryContact": {
          "description": "Optional. Email or URL of the listing publisher. Max Length: 1000 bytes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the listing publisher."
        }
      },
      "description": "Contains details of the listing publisher.",
      "id": "Publisher"
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "id": "Policy",
      "properties": {
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "ExpirationPolicy": {
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "properties": {
        "ttl": {
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExpirationPolicy",
      "type": "object"
    },
    "SubscribeListingResponse": {
      "properties": {
        "subscription": {
          "description": "Subscription object created from this subscribe action.",
          "$ref": "Subscription"
        }
      },
      "type": "object",
      "id": "SubscribeListingResponse",
      "description": "Message for response when you subscribe to a listing."
    },
    "ListDataExchangesResponse": {
      "type": "object",
      "properties": {
        "dataExchanges": {
          "description": "The list of data exchanges.",
          "type": "array",
          "items": {
            "$ref": "DataExchange"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "description": "Message for response to the list of data exchanges.",
      "id": "ListDataExchangesResponse"
    },
    "ListListingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "listings": {
          "description": "The list of Listing.",
          "items": {
            "$ref": "Listing"
          },
          "type": "array"
        }
      },
      "description": "Message for response to the list of Listings.",
      "type": "object",
      "id": "ListListingsResponse"
    },
    "DataProvider": {
      "description": "Contains details of the data provider.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the data provider."
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes."
        }
      },
      "id": "DataProvider"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PubSubTopicSource": {
      "properties": {
        "dataAffinityRegions": {
          "description": "Optional. Region hint on where the data might be published. Data affinity regions are modifiable. See https://cloud.google.com/about/locations for full listing of possible Cloud regions.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topic": {
          "description": "Required. Resource name of the Pub/Sub topic source for this listing. e.g. projects/myproject/topics/topicId",
          "type": "string"
        }
      },
      "id": "PubSubTopicSource",
      "description": "Pub/Sub topic source.",
      "type": "object"
    },
    "ListOrgDataExchangesResponse": {
      "description": "Message for response to listing data exchanges in an organization and location.",
      "type": "object",
      "id": "ListOrgDataExchangesResponse",
      "properties": {
        "dataExchanges": {
          "type": "array",
          "description": "The list of data exchanges.",
          "items": {
            "$ref": "DataExchange"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      }
    },
    "ColumnFamilyMapping": {
      "id": "ColumnFamilyMapping",
      "properties": {
        "rowKeySchema": {
          "description": "Optional. If set, the row key is constructed from the field names of the table's [structured row key](https://cloud.google.com/bigtable/docs/manage-row-key-schemas). Note that if the field is nullable in the structured row key, then it need not be present in the message; `null` will be used instead.",
          "$ref": "RowKeySchema"
        },
        "delimitedKey": {
          "$ref": "DelimitedKey",
          "description": "Optional. If set, the row key is constructed from the given key fields and delimiter. All key fields must be present in the message; otherwise, the message remains in the subscription backlog."
        }
      },
      "description": "Configuration for writing a Pub/Sub message to a Bigtable row with a user-defined key and writing to column families. If this field is set: - The subscription messages must be formatted as JSON. - The row key mapping is configured in the `key_definition` section. - The top-level fields will be written either: - By default, they will be written to the `data` column family with the field name as the column qualifier. - But if the field name matches an existing column family (except for the default `data` column), then that field will be written to that column family, either as a scalar or its next level nested fields if it's a JSON object. - The cell timestamp will be the message publish timestamp. If the field is not set, the default behavior is to write: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp.",
      "type": "object"
    },
    "SubmitQueryTemplateRequest": {
      "properties": {},
      "description": "Message for submitting a QueryTemplate.",
      "type": "object",
      "id": "SubmitQueryTemplateRequest"
    },
    "DeadLetterPolicy": {
      "id": "DeadLetterPolicy",
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "type": "object",
      "properties": {
        "deadLetterTopic": {
          "description": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost.",
          "type": "string"
        },
        "maxDeliveryAttempts": {
          "type": "integer",
          "description": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used.",
          "format": "int32"
        }
      }
    },
    "BigQueryDatasetSource": {
      "properties": {
        "selectedResources": {
          "type": "array",
          "description": "Optional. Resource in this dataset that is selectively shared. This field is required for data clean room exchanges.",
          "items": {
            "$ref": "SelectedResource"
          }
        },
        "effectiveReplicas": {
          "items": {
            "$ref": "Replica"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server-owned effective state of replicas. Contains both primary and secondary replicas. Each replica includes a system-computed (output-only) state and primary designation."
        },
        "dataset": {
          "type": "string",
          "description": "Optional. Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`"
        },
        "restrictedExportPolicy": {
          "$ref": "RestrictedExportPolicy",
          "description": "Optional. If set, restricted export policy will be propagated and enforced on the linked dataset."
        },
        "replicaLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of regions where the publisher has created shared dataset replicas."
        }
      },
      "type": "object",
      "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
      "id": "BigQueryDatasetSource"
    },
    "SelectedResource": {
      "properties": {
        "table": {
          "description": "Optional. Format: For table: `projects/{projectId}/datasets/{datasetId}/tables/{tableId}` Example:\"projects/test_project/datasets/test_dataset/tables/test_table\"",
          "type": "string"
        },
        "routine": {
          "type": "string",
          "description": "Optional. Format: For routine: `projects/{projectId}/datasets/{datasetId}/routines/{routineId}` Example:\"projects/test_project/datasets/test_dataset/routines/test_routine\""
        }
      },
      "type": "object",
      "description": "Resource in this dataset that is selectively shared.",
      "id": "SelectedResource"
    },
    "ApproveQueryTemplateRequest": {
      "properties": {},
      "type": "object",
      "id": "ApproveQueryTemplateRequest",
      "description": "Message for approving a QueryTemplate."
    },
    "RetryPolicy": {
      "description": "A policy that specifies how Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "properties": {
        "minimumBackoff": {
          "description": "Optional. The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "maximumBackoff": {
          "description": "Optional. The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "RetryPolicy",
      "type": "object"
    },
    "RefreshSubscriptionResponse": {
      "id": "RefreshSubscriptionResponse",
      "type": "object",
      "description": "Message for response when you refresh a subscription.",
      "properties": {
        "subscription": {
          "description": "The refreshed subscription resource.",
          "$ref": "Subscription"
        }
      }
    },
    "UnstructuredInference": {
      "description": "Configuration for making inferences using arbitrary JSON payloads.",
      "id": "UnstructuredInference",
      "properties": {
        "parameters": {
          "description": "Optional. A parameters object to be included in each inference request. The parameters object is combined with the data field of the Pub/Sub message to form the inference request.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "StoredProcedureConfig": {
      "id": "StoredProcedureConfig",
      "properties": {
        "allowedStoredProcedureTypes": {
          "description": "Output only. Types of stored procedure supported to share.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "STORED_PROCEDURE_TYPE_UNSPECIFIED",
              "SQL_PROCEDURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "SQL stored procedure."
            ]
          },
          "readOnly": true
        },
        "enabled": {
          "description": "Optional. If true, enable sharing of stored procedure.",
          "type": "boolean"
        }
      },
      "description": "Stored procedure configuration, used to configure stored procedure sharing on linked dataset.",
      "type": "object"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo": {
      "description": "Specifies the details of the Marketplace Data Product associated with the Listing.",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "Output only. Resource name of the commercial service associated with the Marketplace Data Product. e.g. example.com",
          "readOnly": true
        },
        "commercialState": {
          "type": "string",
          "enumDescriptions": [
            "Commercialization is incomplete and cannot be used.",
            "Commercialization has been initialized.",
            "Commercialization is complete and available for use."
          ],
          "readOnly": true,
          "description": "Output only. Commercial state of the Marketplace Data Product.",
          "enum": [
            "COMMERCIAL_STATE_UNSPECIFIED",
            "ONBOARDING",
            "ACTIVE"
          ]
        }
      },
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse"
    },
    "BigQueryConfig": {
      "properties": {
        "table": {
          "description": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}",
          "type": "string"
        },
        "useTopicSchema": {
          "description": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time.",
          "type": "boolean"
        },
        "dropUnknownFields": {
          "type": "boolean",
          "description": "Optional. When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog."
        },
        "writeMetadata": {
          "type": "boolean",
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
        },
        "useTableSchema": {
          "description": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time.",
          "type": "boolean"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        }
      },
      "description": "Configuration for a BigQuery subscription.",
      "type": "object",
      "id": "BigQueryConfig"
    },
    "DestinationDataset": {
      "id": "DestinationDataset",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information."
        },
        "description": {
          "type": "string",
          "description": "Optional. A user-friendly description of the dataset."
        },
        "replicaLocations": {
          "type": "array",
          "description": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations.",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "datasetReference": {
          "$ref": "DestinationDatasetReference",
          "description": "Required. A reference that identifies the destination dataset."
        },
        "friendlyName": {
          "type": "string",
          "description": "Optional. A descriptive name for the dataset."
        }
      },
      "description": "Defines the destination bigquery dataset.",
      "type": "object"
    },
    "AvroConfig": {
      "id": "AvroConfig",
      "description": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary.",
      "type": "object",
      "properties": {
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map.",
          "type": "boolean"
        },
        "useTopicSchema": {
          "description": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists.",
          "type": "boolean"
        }
      }
    },
    "Listing": {
      "description": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data.",
      "id": "Listing",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Subscribable state. Users with dataexchange.listings.subscribe permission can subscribe to this listing."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the listing.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
          "type": "string",
          "readOnly": true
        },
        "bigqueryDataset": {
          "$ref": "BigQueryDatasetSource",
          "description": "Shared dataset i.e. BigQuery dataset source."
        },
        "documentation": {
          "type": "string",
          "description": "Optional. Documentation describing the listing."
        },
        "icon": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
        },
        "discoveryType": {
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "description": "Optional. Type of discovery of the listing on the discovery page.",
          "type": "string",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
        },
        "logLinkedDatasetQueryUserEmail": {
          "type": "boolean",
          "description": "Optional. By default, false. If true, the Listing has an email sharing mandate enabled."
        },
        "publisher": {
          "description": "Optional. Details of the publisher who owns the listing and who can share the source data.",
          "$ref": "Publisher"
        },
        "allowOnlyMetadataSharing": {
          "type": "boolean",
          "description": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
        },
        "resourceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "description": "Output only. Listing shared asset type.",
          "type": "string"
        },
        "requestAccess": {
          "description": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes.",
          "type": "string"
        },
        "restrictedExportConfig": {
          "description": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset.",
          "$ref": "RestrictedExportConfig"
        },
        "pubsubTopic": {
          "description": "Pub/Sub topic source.",
          "$ref": "PubSubTopicSource"
        },
        "dataProvider": {
          "description": "Optional. Details of the data provider who owns the source data.",
          "$ref": "DataProvider"
        },
        "commercialInfo": {
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
          "description": "Output only. Commercial info contains the information about the commercial data products associated with the listing.",
          "readOnly": true
        },
        "primaryContact": {
          "description": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes.",
          "type": "string"
        },
        "categories": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "CATEGORY_OTHERS",
              "CATEGORY_ADVERTISING_AND_MARKETING",
              "CATEGORY_COMMERCE",
              "CATEGORY_CLIMATE_AND_ENVIRONMENT",
              "CATEGORY_DEMOGRAPHICS",
              "CATEGORY_ECONOMICS",
              "CATEGORY_EDUCATION",
              "CATEGORY_ENERGY",
              "CATEGORY_FINANCIAL",
              "CATEGORY_GAMING",
              "CATEGORY_GEOSPATIAL",
              "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE",
              "CATEGORY_MEDIA",
              "CATEGORY_PUBLIC_SECTOR",
              "CATEGORY_RETAIL",
              "CATEGORY_SPORTS",
              "CATEGORY_SCIENCE_AND_RESEARCH",
              "CATEGORY_TRANSPORTATION_AND_LOGISTICS",
              "CATEGORY_TRAVEL_AND_TOURISM",
              "CATEGORY_GOOGLE_EARTH_ENGINE"
            ]
          },
          "type": "array",
          "description": "Optional. Categories of the listing. Up to five categories are allowed."
        },
        "storedProcedureConfig": {
          "$ref": "StoredProcedureConfig",
          "description": "Optional. If set, stored procedure configuration will be propagated and enforced on the linked dataset."
        },
        "displayName": {
          "description": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        }
      }
    },
    "DataExchange": {
      "id": "DataExchange",
      "properties": {
        "logLinkedDatasetQueryUserEmail": {
          "type": "boolean",
          "description": "Optional. By default, false. If true, the DataExchange has an email sharing mandate enabled."
        },
        "listingCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of listings contained in the data exchange."
        },
        "discoveryType": {
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "type": "string",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ],
          "description": "Optional. Type of discovery on the discovery page for all the listings under this exchange. Updating this field also updates (overwrites) the discovery_type field for all the listings under this exchange."
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes."
        },
        "icon": {
          "description": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "format": "byte",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
          "type": "string"
        },
        "sharingEnvironmentConfig": {
          "description": "Optional. Configurable data sharing environment option for a data exchange.",
          "$ref": "SharingEnvironmentConfig"
        },
        "documentation": {
          "description": "Optional. Documentation describing the data exchange.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets."
    },
    "SubscribeListingRequest": {
      "description": "Message for subscribing to a listing.",
      "id": "SubscribeListingRequest",
      "type": "object",
      "properties": {
        "destinationPubsubSubscription": {
          "$ref": "DestinationPubSubSubscription",
          "description": "Input only. Destination Pub/Sub subscription to create for the subscriber."
        },
        "destinationDataset": {
          "description": "Input only. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        }
      }
    },
    "DestinationDatasetReference": {
      "id": "DestinationDatasetReference",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The ID of the project containing this dataset.",
          "type": "string"
        },
        "datasetId": {
          "type": "string",
          "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters."
        }
      }
    },
    "MessageTransform": {
      "description": "All supported message transforms types.",
      "properties": {
        "disabled": {
          "description": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`.",
          "type": "boolean"
        },
        "aiInference": {
          "$ref": "AIInference",
          "description": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to."
        },
        "javascriptUdf": {
          "description": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`.",
          "$ref": "JavaScriptUDF"
        },
        "compression": {
          "description": "Optional. Compression/Decompression.",
          "$ref": "Compression"
        },
        "enabled": {
          "description": "Optional. This field is deprecated, use the `disabled` field to disable transforms.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "MessageTransform"
    },
    "RefreshSubscriptionRequest": {
      "type": "object",
      "description": "Message for refreshing a subscription.",
      "id": "RefreshSubscriptionRequest",
      "properties": {}
    },
    "SubscribeDataExchangeResponse": {
      "description": "Message for response when you subscribe to a Data Exchange.",
      "id": "SubscribeDataExchangeResponse",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "Subscription object created from this subscribe action."
        }
      },
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration for the query template.",
      "id": "EncryptionConfig",
      "properties": {
        "kmsKeyName": {
          "description": "Optional. The KMS key used to encrypt the query template. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PushConfig": {
      "description": "Configuration for a push delivery endpoint.",
      "properties": {
        "oidcToken": {
          "$ref": "OidcToken",
          "description": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
        },
        "attributes": {
          "type": "object",
          "description": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pushEndpoint": {
          "description": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`.",
          "type": "string"
        },
        "noWrapper": {
          "$ref": "NoWrapper",
          "description": "Optional. When set, the payload to the push endpoint is not wrapped."
        },
        "pubsubWrapper": {
          "$ref": "PubsubWrapper",
          "description": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage)."
        }
      },
      "type": "object",
      "id": "PushConfig"
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo": {
      "properties": {
        "order": {
          "type": "string",
          "description": "Resource name of the Marketplace Order."
        }
      },
      "type": "object",
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo",
      "description": "Cloud Marketplace commercial metadata for this subscription."
    },
    "BigtableConfig": {
      "description": "Configuration for a Bigtable subscription, which will write a Pub/Sub message to a Bigtable row. See the ColumnFamilyMapping documentation below for details on how the row keys and columns will be written.",
      "type": "object",
      "id": "BigtableConfig",
      "properties": {
        "table": {
          "type": "string",
          "description": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`."
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        },
        "appProfileId": {
          "type": "string",
          "description": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing."
        },
        "columnFamilyMapping": {
          "$ref": "ColumnFamilyMapping",
          "description": "Optional. Configuration that allows writing row keys and/or columns based on fields in the input message. The input message format must be JSON if this field is set."
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "CloudStorageConfig": {
      "properties": {
        "filenamePrefix": {
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming).",
          "type": "string"
        },
        "filenameSuffix": {
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\".",
          "type": "string"
        },
        "filenameDatetimeFormat": {
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names).",
          "type": "string"
        },
        "maxBytes": {
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit.",
          "format": "int64",
          "type": "string"
        },
        "maxDuration": {
          "format": "google-duration",
          "description": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline.",
          "type": "string"
        },
        "bucket": {
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming).",
          "type": "string"
        },
        "avroConfig": {
          "$ref": "AvroConfig",
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format."
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "textConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in text format.",
          "$ref": "TextConfig"
        },
        "maxMessages": {
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Configuration for a Cloud Storage subscription.",
      "id": "CloudStorageConfig",
      "type": "object"
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        }
      }
    },
    "SubscribeDataExchangeRequest": {
      "type": "object",
      "description": "Message for subscribing to a Data Exchange.",
      "properties": {
        "subscription": {
          "type": "string",
          "description": "Required. Name of the subscription to create. e.g. `subscription1`"
        },
        "subscriberContact": {
          "type": "string",
          "description": "Email of the subscriber."
        },
        "destinationDataset": {
          "$ref": "DestinationDataset",
          "description": "Optional. BigQuery destination dataset to create for the subscriber."
        },
        "destination": {
          "description": "Required. The parent resource path of the Subscription. e.g. `projects/subscriberproject/locations/us`",
          "type": "string"
        }
      },
      "id": "SubscribeDataExchangeRequest"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo": {
      "description": "Commercial info contains the information about the commercial data products associated with the listing.",
      "type": "object",
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. Details of the Marketplace Data Product associated with the Listing.",
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo",
          "readOnly": true
        }
      }
    },
    "GooglePubsubV1Subscription": {
      "description": "Defines the destination Pub/Sub subscription. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, `bigtable_config`, `pubsub_export_config`, or `pubsublite_export_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "properties": {
        "bigqueryConfig": {
          "description": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it.",
          "$ref": "BigQueryConfig"
        },
        "messageTransforms": {
          "type": "array",
          "description": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified.",
          "items": {
            "$ref": "MessageTransform"
          }
        },
        "bigtableConfig": {
          "description": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it.",
          "$ref": "BigtableConfig"
        },
        "detached": {
          "description": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made.",
          "type": "boolean"
        },
        "filter": {
          "description": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "Optional. If push delivery is used with this subscription, this field is used to configure it."
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See [Create and manage tags](https://cloud.google.com/pubsub/docs/tags) for more information on using tags with Pub/Sub resources.",
          "type": "object"
        },
        "cloudStorageConfig": {
          "description": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it.",
          "$ref": "CloudStorageConfig"
        },
        "expirationPolicy": {
          "description": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires.",
          "$ref": "ExpirationPolicy"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels)."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
        },
        "enableMessageOrdering": {
          "description": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order.",
          "type": "boolean"
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "description": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "format": "int32"
        },
        "enableExactlyOnceDelivery": {
          "description": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values.",
          "type": "boolean"
        },
        "messageRetentionDuration": {
          "format": "google-duration",
          "description": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes.",
          "type": "string"
        },
        "retainAckedMessages": {
          "description": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "deadLetterPolicy": {
          "description": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription.",
          "$ref": "DeadLetterPolicy"
        }
      },
      "id": "GooglePubsubV1Subscription",
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Current state of the subscription.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_STALE",
            "STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This subscription is active and the data is accessible.",
            "The data referenced by this subscription is out of date and should be refreshed. This can happen when a data provider adds or removes datasets.",
            "This subscription has been cancelled or revoked and the data is no longer accessible."
          ],
          "readOnly": true
        },
        "creationTime": {
          "description": "Output only. Timestamp when the subscription was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "logLinkedDatasetQueryUserEmail": {
          "type": "boolean",
          "description": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing.",
          "readOnly": true
        },
        "organizationId": {
          "description": "Output only. Organization of the project this subscription belongs to.",
          "type": "string",
          "readOnly": true
        },
        "lastModifyTime": {
          "description": "Output only. Timestamp when the subscription was last modified.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "commercialInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
          "description": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing."
        },
        "organizationDisplayName": {
          "readOnly": true,
          "description": "Output only. Display name of the project of this subscription.",
          "type": "string"
        },
        "subscriberContact": {
          "type": "string",
          "description": "Output only. Email of the subscriber.",
          "readOnly": true
        },
        "listing": {
          "readOnly": true,
          "description": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Listing shared asset type.",
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`.",
          "readOnly": true
        },
        "linkedDatasetMap": {
          "type": "object",
          "description": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE.",
          "additionalProperties": {
            "$ref": "LinkedResource"
          },
          "readOnly": true
        },
        "linkedResources": {
          "type": "array",
          "description": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE.",
          "items": {
            "$ref": "LinkedResource"
          },
          "readOnly": true
        },
        "destinationDataset": {
          "description": "Optional. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "dataExchange": {
          "description": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets.",
      "id": "Subscription"
    },
    "RevokeSubscriptionResponse": {
      "description": "Message for response when you revoke a subscription. Empty for now.",
      "id": "RevokeSubscriptionResponse",
      "type": "object",
      "properties": {}
    },
    "SharingEnvironmentConfig": {
      "id": "SharingEnvironmentConfig",
      "type": "object",
      "description": "Sharing environment is a behavior model for sharing data within a data exchange. This option is configurable for a data exchange.",
      "properties": {
        "defaultExchangeConfig": {
          "$ref": "DefaultExchangeConfig",
          "description": "Default Analytics Hub data exchange, used for secured data sharing."
        },
        "dcrExchangeConfig": {
          "description": "Data Clean Room (DCR), used for privacy-safe and secured data sharing.",
          "$ref": "DcrExchangeConfig"
        }
      }
    },
    "Binding": {
      "properties": {
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "Compression": {
      "properties": {
        "compressionAlgorithm": {
          "description": "Required. Specifies the compression algorithm to use.",
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ],
          "type": "string",
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ]
        },
        "compressionMode": {
          "type": "string",
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ],
          "description": "Required. Specifies whether to compress or decompress the message.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ]
        }
      },
      "type": "object",
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm.",
      "id": "Compression"
    },
    "DcrExchangeConfig": {
      "description": "Data Clean Room (DCR), used for privacy-safe and secured data sharing.",
      "properties": {
        "singleSelectedResourceSharingRestriction": {
          "readOnly": true,
          "description": "Output only. If True, this DCR restricts the contributors to sharing only a single resource in a Listing. And no two resources should have the same IDs. So if a contributor adds a view with a conflicting name, the CreateListing API will reject the request. if False, the data contributor can publish an entire dataset (as before). This is not configurable, and by default, all new DCRs will have the restriction set to True.",
          "type": "boolean"
        },
        "singleLinkedDatasetPerCleanroom": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If True, when subscribing to this DCR, it will create only one linked dataset containing all resources shared within the cleanroom. If False, when subscribing to this DCR, it will create 1 linked dataset per listing. This is not configurable, and by default, all new DCRs will have the restriction set to True."
        }
      },
      "type": "object",
      "id": "DcrExchangeConfig"
    },
    "Routine": {
      "type": "object",
      "description": "Represents a bigquery routine.",
      "properties": {
        "routineType": {
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "TABLE_VALUED_FUNCTION"
          ],
          "description": "Required. The type of routine.",
          "enumDescriptions": [
            "Default value.",
            "Non-built-in persistent TVF."
          ]
        },
        "definitionBody": {
          "description": "Optional. The definition body of the routine.",
          "type": "string"
        }
      },
      "id": "Routine"
    },
    "OperationMetadata": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation in Analytics Hub."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object"
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. This is set when the subscription is commercialised via Cloud Marketplace.",
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Commercial info metadata for this subscription."
    },
    "NoWrapper": {
      "description": "Sets the `data` field as the HTTP body for delivery.",
      "type": "object",
      "properties": {
        "writeMetadata": {
          "description": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request.",
          "type": "boolean"
        }
      },
      "id": "NoWrapper"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "RevokeSubscriptionRequest": {
      "description": "Message for revoking a subscription.",
      "type": "object",
      "properties": {
        "revokeCommercial": {
          "description": "Optional. If the subscription is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid revoking commercial subscriptions accidentally.",
          "type": "boolean"
        }
      },
      "id": "RevokeSubscriptionRequest"
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "type": "array",
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "GetPolicyOptions": {
      "type": "object",
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GetPolicyOptions"
    },
    "PubsubWrapper": {
      "type": "object",
      "description": "The payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage).",
      "properties": {},
      "id": "PubsubWrapper"
    },
    "OidcToken": {
      "id": "OidcToken",
      "properties": {
        "audience": {
          "description": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        }
      },
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect).",
      "type": "object"
    },
    "GetIamPolicyRequest": {
[...]
