{
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        }
      }
    }
  },
  "id": "analyticsdata:v1beta",
  "discoveryVersion": "v1",
  "revision": "20260916",
  "title": "Google Analytics Data API",
  "version_module": true,
  "description": "Accesses report data in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning. ",
  "documentationLink": "https://developers.google.com/analytics/devguides/reporting/data/v1/",
  "rootUrl": "https://analyticsdata.googleapis.com/",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "name": "analyticsdata",
  "resources": {
    "properties": {
      "resources": {
        "audienceExports": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource where this audience export will be created. Format: `properties/{property}`",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analyticsdata.properties.audienceExports.create",
              "request": {
                "$ref": "AudienceExport"
              },
              "flatPath": "v1beta/properties/{propertiesId}/audienceExports",
              "path": "v1beta/{+parent}/audienceExports",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Operation"
              },
              "description": "Creates an audience export for later retrieval. This method quickly returns the audience export's resource name and initiates a long running asynchronous request to form an audience export. To export the users in an audience export, first create the audience export through this method and then send the audience resource name to the `QueryAudienceExport` method. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Exports with examples. An audience export is a snapshot of the users currently in the audience at the time of audience export creation. Creating audience exports for one audience on different days will return different results as users enter and exit the audience. Audiences in Google Analytics 4 allow you to segment your users in the ways that are important to your business. To learn more, see https://support.google.com/analytics/answer/9267572. Audience exports contain the users in each audience. Audience Export APIs have some methods at alpha and other methods at beta stability. The intention is to advance methods to beta stability after some feedback and adoption. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form."
            },
            "get": {
              "description": "Gets configuration metadata about a specific audience export. This method can be used to understand an audience export after it has been created. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Exports with examples. Audience Export APIs have some methods at alpha and other methods at beta stability. The intention is to advance methods to beta stability after some feedback and adoption. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/audienceExports/{audienceExportsId}",
              "response": {
                "$ref": "AudienceExport"
              },
              "id": "analyticsdata.properties.audienceExports.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/audienceExports/[^/]+$",
                  "description": "Required. The audience export resource name. Format: `properties/{property}/audienceExports/{audience_export}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all audience exports for a property. This method can be used for you to find and reuse existing audience exports rather than creating unnecessary new audience exports. The same audience can have multiple audience exports that represent the export of users that were in an audience on different days. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Exports with examples. Audience Export APIs have some methods at alpha and other methods at beta stability. The intention is to advance methods to beta stability after some feedback and adoption. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "path": "v1beta/{+parent}/audienceExports",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAudienceExports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAudienceExports` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of audience exports to return. The service may return fewer than this value. If unspecified, at most 200 audience exports will be returned. The maximum value is 1000 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. All audience exports for this property will be listed in the response. Format: `properties/{property}`",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "analyticsdata.properties.audienceExports.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/audienceExports",
              "response": {
                "$ref": "ListAudienceExportsResponse"
              }
            },
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/audienceExports/[^/]+$",
                  "description": "Required. The name of the audience export to retrieve users from. Format: `properties/{property}/audienceExports/{audience_export}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Retrieves an audience export of users. After creating an audience, the users are not immediately available for exporting. First, a request to `CreateAudienceExport` is necessary to create an audience export of users, and then second, this method is used to retrieve the users in the audience export. See [Creating an Audience Export](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-basics) for an introduction to Audience Exports with examples. Audiences in Google Analytics 4 allow you to segment your users in the ways that are important to your business. To learn more, see https://support.google.com/analytics/answer/9267572. Audience Export APIs have some methods at alpha and other methods at beta stability. The intention is to advance methods to beta stability after some feedback and adoption. To give your feedback on this API, complete the [Google Analytics Audience Export API Feedback](https://forms.gle/EeA5u5LW6PEggtCEA) form.",
              "request": {
                "$ref": "QueryAudienceExportRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "QueryAudienceExportResponse"
              },
              "flatPath": "v1beta/properties/{propertiesId}/audienceExports/{audienceExportsId}:query",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:query",
              "id": "analyticsdata.properties.audienceExports.query"
            }
          }
        }
      },
      "methods": {
        "getMetadata": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsdata.properties.getMetadata",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/metadata$",
              "description": "Required. The resource name of the metadata to retrieve. This name field is specified in the URL path and not URL parameters. Property is a numeric Google Analytics property identifier. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Example: properties/1234/metadata Set the Property ID to 0 for dimensions and metrics common to all properties. In this special mode, this method will not return custom dimensions and metrics.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "Metadata"
          },
          "description": "Returns metadata for dimensions and metrics available in reporting methods. Used to explore the dimensions and metrics. In this method, a Google Analytics property identifier is specified in the request, and the metadata response includes Custom dimensions and metrics as well as Universal metadata. For example if a custom metric with parameter name `levels_unlocked` is registered to a property, the Metadata response will contain `customEvent:levels_unlocked`. Universal metadata are dimensions and metrics applicable to any property such as `country` and `totalUsers`.",
          "path": "v1beta/{+name}",
          "flatPath": "v1beta/properties/{propertiesId}/metadata"
        },
        "batchRunPivotReports": {
          "parameterOrder": [
            "property"
          ],
          "description": "Returns multiple pivot reports in a batch. All reports must be for the same Google Analytics property.",
          "flatPath": "v1beta/properties/{propertiesId}:batchRunPivotReports",
          "request": {
            "$ref": "BatchRunPivotReportsRequest"
          },
          "httpMethod": "POST",
          "id": "analyticsdata.properties.batchRunPivotReports",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "BatchRunPivotReportsResponse"
          },
          "parameters": {
            "property": {
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). This property must be specified for the batch. The property within RunPivotReportRequest may either be unspecified or consistent with this property. Example: properties/1234",
              "type": "string"
            }
          },
          "path": "v1beta/{+property}:batchRunPivotReports"
        },
        "runRealtimeReport": {
          "httpMethod": "POST",
          "description": "Returns a customized report of realtime event data for your property. Events appear in realtime reports seconds after they have been sent to the Google Analytics. Realtime reports show events and usage data for the periods of time ranging from the present moment to 30 minutes ago (up to 60 minutes for Google Analytics 360 properties). For a guide to constructing realtime requests & understanding responses, see [Creating a Realtime Report](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-basics).",
          "path": "v1beta/{+property}:runRealtimeReport",
          "response": {
            "$ref": "RunRealtimeReportResponse"
          },
          "parameters": {
            "property": {
              "required": true,
              "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Example: properties/1234",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "request": {
            "$ref": "RunRealtimeReportRequest"
          },
          "id": "analyticsdata.properties.runRealtimeReport",
          "flatPath": "v1beta/properties/{propertiesId}:runRealtimeReport",
          "parameterOrder": [
            "property"
          ]
        },
        "batchRunReports": {
          "description": "Returns multiple reports in a batch. All reports must be for the same Google Analytics property.",
          "flatPath": "v1beta/properties/{propertiesId}:batchRunReports",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+property}:batchRunReports",
          "response": {
            "$ref": "BatchRunReportsResponse"
          },
          "parameterOrder": [
            "property"
          ],
          "id": "analyticsdata.properties.batchRunReports",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchRunReportsRequest"
          },
          "parameters": {
            "property": {
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true,
              "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). This property must be specified for the batch. The property within RunReportRequest may either be unspecified or consistent with this property. Example: properties/1234"
            }
          }
        },
        "runPivotReport": {
          "request": {
            "$ref": "RunPivotReportRequest"
          },
          "parameters": {
            "property": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+$",
              "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "flatPath": "v1beta/properties/{propertiesId}:runPivotReport",
          "description": "Returns a customized pivot report of your Google Analytics event data. Pivot reports are more advanced and expressive formats than regular reports. In a pivot report, dimensions are only visible if they are included in a pivot. Multiple pivots can be specified to further dissect your data.",
          "response": {
            "$ref": "RunPivotReportResponse"
          },
          "id": "analyticsdata.properties.runPivotReport",
          "path": "v1beta/{+property}:runPivotReport"
        },
        "checkCompatibility": {
          "description": "This compatibility method lists dimensions and metrics that can be added to a report request and maintain compatibility. This method fails if the request's dimensions and metrics are incompatible. In Google Analytics, reports fail if they request incompatible dimensions and/or metrics; in that case, you will need to remove dimensions and/or metrics from the incompatible report until the report is compatible. The Realtime and Core reports have different compatibility rules. This method checks compatibility for Core reports.",
          "flatPath": "v1beta/properties/{propertiesId}:checkCompatibility",
          "parameters": {
            "property": {
              "pattern": "^properties/[^/]+$",
              "description": "A Google Analytics property identifier whose events are tracked. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). `property` should be the same value as in your `runReport` request. Example: properties/1234",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "property"
          ],
          "path": "v1beta/{+property}:checkCompatibility",
          "response": {
            "$ref": "CheckCompatibilityResponse"
          },
          "request": {
            "$ref": "CheckCompatibilityRequest"
          },
          "id": "analyticsdata.properties.checkCompatibility"
        },
        "runReport": {
          "request": {
            "$ref": "RunReportRequest"
          },
          "response": {
            "$ref": "RunReportResponse"
          },
          "flatPath": "v1beta/properties/{propertiesId}:runReport",
          "parameters": {
            "property": {
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "location": "path",
              "required": true,
              "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234"
            }
          },
          "description": "Returns a customized report of your Google Analytics event data. Reports contain statistics derived from data collected by the Google Analytics tracking code. The data returned from the API is as a table with columns for the requested dimensions and metrics. Metrics are individual measurements of user activity on your property, such as active users or event count. Dimensions break down metrics across some common criteria, such as country or event name. For a guide to constructing requests & understanding responses, see [Creating a Report](https://developers.google.com/analytics/devguides/reporting/data/v1/basics).",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "property"
          ],
          "id": "analyticsdata.properties.runReport",
          "path": "v1beta/{+property}:runReport"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://analyticsdata.googleapis.com/",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://analyticsdata.mtls.googleapis.com/",
  "version": "v1beta",
  "servicePath": "",
  "canonicalName": "AnalyticsData",
  "schemas": {
    "MinuteRange": {
      "description": "A contiguous set of minutes: `startMinutesAgo`, `startMinutesAgo + 1`, ..., `endMinutesAgo`. Requests are allowed up to 2 minute ranges.",
      "properties": {
        "startMinutesAgo": {
          "format": "int32",
          "description": "The inclusive start minute for the query as a number of minutes before now. For example, `\"startMinutesAgo\": 29` specifies the report should include event data from 29 minutes ago and after. Cannot be after `endMinutesAgo`. If unspecified, `startMinutesAgo` is defaulted to 29. Standard Analytics properties can request up to the last 30 minutes of event data (`startMinutesAgo <= 29`), and 360 Analytics properties can request up to the last 60 minutes of event data (`startMinutesAgo <= 59`).",
          "type": "integer"
        },
        "endMinutesAgo": {
          "description": "The inclusive end minute for the query as a number of minutes before now. Cannot be before `startMinutesAgo`. For example, `\"endMinutesAgo\": 15` specifies the report should include event data from prior to 15 minutes ago. If unspecified, `endMinutesAgo` is defaulted to 0. Standard Analytics properties can request any minute in the last 30 minutes of event data (`endMinutesAgo <= 29`), and 360 Analytics properties can request any minute in the last 60 minutes of event data (`endMinutesAgo <= 59`).",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Assigns a name to this minute range. The dimension `dateRange` is valued to this name in a report response. If set, cannot begin with `date_range_` or `RESERVED_`. If not set, minute ranges are named by their zero based index in the request: `date_range_0`, `date_range_1`, etc."
        }
      },
      "id": "MinuteRange",
      "type": "object"
    },
    "PivotSelection": {
      "properties": {
        "dimensionValue": {
          "description": "Order by only when the named dimension is this value.",
          "type": "string"
        },
        "dimensionName": {
          "description": "Must be a dimension name from the request.",
          "type": "string"
        }
      },
      "id": "PivotSelection",
      "description": "A pair of dimension names and values. Rows with this dimension pivot pair are ordered by the metric's value. For example if pivots = {{\"browser\", \"Chrome\"}} and metric_name = \"Sessions\", then the rows will be sorted based on Sessions in Chrome. ---------|----------|----------------|----------|---------------- | Chrome | Chrome | Safari | Safari ---------|----------|----------------|----------|---------------- Country | Sessions | Pages/Sessions | Sessions | Pages/Sessions ---------|----------|----------------|----------|---------------- US | 2 | 2 | 3 | 1 ---------|----------|----------------|----------|---------------- Canada | 3 | 1 | 4 | 1 ---------|----------|----------------|----------|----------------",
      "type": "object"
    },
    "V1betaAudienceDimensionValue": {
      "description": "The value of a dimension.",
      "properties": {
        "value": {
          "description": "Value as a string if the dimension type is a string.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "V1betaAudienceDimensionValue"
    },
    "ActiveMetricRestriction": {
      "id": "ActiveMetricRestriction",
      "properties": {
        "metricName": {
          "description": "The name of the restricted metric.",
          "type": "string"
        },
        "restrictedMetricTypes": {
          "description": "The reason for this metric's restriction.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified type.",
              "Cost metrics such as `adCost`.",
              "Revenue metrics such as `purchaseRevenue`."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "type": "array"
        }
      },
      "description": "A metric actively restricted in creating the report.",
      "type": "object"
    },
    "QueryAudienceExportResponse": {
      "id": "QueryAudienceExportResponse",
      "description": "A list of users in an audience export.",
      "type": "object",
      "properties": {
        "audienceRows": {
          "description": "Rows for each user in an audience export. The number of rows in this response will be less than or equal to request's page size.",
          "type": "array",
          "items": {
            "$ref": "V1betaAudienceRow"
          }
        },
        "rowCount": {
          "description": "The total number of rows in the AudienceExport result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32",
          "type": "integer"
        },
        "audienceExport": {
          "description": "Configuration data about AudienceExport being queried. Returned to help interpret the audience rows in this response. For example, the dimensions in this AudienceExport correspond to the columns in the AudienceRows.",
          "$ref": "AudienceExport"
        }
      }
    },
    "PivotHeader": {
      "type": "object",
      "description": "Dimensions' values in a single pivot.",
      "id": "PivotHeader",
      "properties": {
        "pivotDimensionHeaders": {
          "description": "The size is the same as the cardinality of the corresponding dimension combinations.",
          "items": {
            "$ref": "PivotDimensionHeader"
          },
          "type": "array"
        },
        "rowCount": {
          "description": "The cardinality of the pivot. The total number of rows for this pivot's fields regardless of how the parameters `offset` and `limit` are specified in the request.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DimensionMetadata": {
      "type": "object",
      "properties": {
        "deprecatedApiNames": {
          "items": {
            "type": "string"
          },
          "description": "Still usable but deprecated names for this dimension. If populated, this dimension is available by either `apiName` or one of `deprecatedApiNames` for a period of time. After the deprecation period, the dimension will be available only by `apiName`.",
          "type": "array"
        },
        "customDefinition": {
          "description": "True if the dimension is custom to this property. This includes user, event, & item scoped custom dimensions; to learn more about custom dimensions, see https://support.google.com/analytics/answer/14240153. This also include custom channel groups; to learn more about custom channel groups, see https://support.google.com/analytics/answer/13051316.",
          "type": "boolean"
        },
        "apiName": {
          "type": "string",
          "description": "This dimension's name. Useable in [Dimension](#Dimension)'s `name`. For example, `eventName`."
        },
        "category": {
          "description": "The display name of the category that this dimension belongs to. Similar dimensions and metrics are categorized together.",
          "type": "string"
        },
        "description": {
          "description": "Description of how this dimension is used and calculated.",
          "type": "string"
        },
        "uiName": {
          "description": "This dimension's name within the Google Analytics user interface. For example, `Event name`.",
          "type": "string"
        }
      },
      "id": "DimensionMetadata",
      "description": "Explains a dimension."
    },
    "NumericFilter": {
      "description": "Filters for numeric or date values.",
      "properties": {
        "value": {
          "$ref": "NumericValue",
          "description": "A numeric value or a date value."
        },
        "operation": {
          "description": "The operation type for this filter.",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "type": "string",
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        }
      },
      "type": "object",
      "id": "NumericFilter"
    },
    "CohortSpec": {
      "properties": {
        "cohortReportSettings": {
          "description": "Optional settings for a cohort report.",
          "$ref": "CohortReportSettings"
        },
        "cohorts": {
          "items": {
            "$ref": "Cohort"
          },
          "description": "Defines the selection criteria to group users into cohorts. Most cohort reports define only a single cohort. If multiple cohorts are specified, each cohort can be recognized in the report by their name.",
          "type": "array"
        },
        "cohortsRange": {
          "description": "Cohort reports follow cohorts over an extended reporting date range. This range specifies an offset duration to follow the cohorts over.",
          "$ref": "CohortsRange"
        }
      },
      "description": "The specification of cohorts for a cohort report. Cohort reports create a time series of user retention for the cohort. For example, you could select the cohort of users that were acquired in the first week of September and follow that cohort for the next six weeks. Selecting the users acquired in the first week of September cohort is specified in the `cohort` object. Following that cohort for the next six weeks is specified in the `cohortsRange` object. For examples, see [Cohort Report Examples](https://developers.google.com/analytics/devguides/reporting/data/v1/advanced#cohort_report_examples). The report response could show a weekly time series where say your app has retained 60% of this cohort after three weeks and 25% of this cohort after six weeks. These two percentages can be calculated by the metric `cohortActiveUsers/cohortTotalUsers` and will be separate rows in the report.",
      "type": "object",
      "id": "CohortSpec"
    },
    "RunReportRequest": {
      "id": "RunReportRequest",
      "type": "object",
      "description": "The request to generate a report.",
      "properties": {
        "property": {
          "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234",
          "type": "string"
        },
        "dimensions": {
          "description": "The dimensions requested and displayed.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response. Requests including both comparisons and multiple date ranges will have order bys applied on the comparisons.",
          "type": "array",
          "items": {
            "$ref": "OrderBy"
          }
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "The metrics requested and displayed."
        },
        "limit": {
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int64",
          "type": "string"
        },
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the property's default currency.",
          "type": "string"
        },
        "dimensionFilter": {
          "description": "Dimension filters let you ask for only specific dimension values in the report. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "comparisons": {
          "description": "Optional. The configuration of comparisons requested and displayed. The request only requires a comparisons field in order to receive a comparison column in the response.",
          "type": "array",
          "items": {
            "$ref": "Comparison"
          }
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "returnPropertyQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Google Analytics property's quota. Quota is returned in [PropertyQuota](#PropertyQuota)."
        },
        "cohortSpec": {
          "$ref": "CohortSpec",
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present."
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter. Regardless of this `keep_empty_rows` setting, only data recorded by the Google Analytics property can be displayed in a report. For example if a property never logs a `purchase` event, then a query for the `eventName` dimension and `eventCount` metric will not have a row eventName: \"purchase\" and eventCount: 0.",
          "type": "boolean"
        },
        "dateRanges": {
          "description": "Date ranges of data to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the event data for the overlapping days is included in the response rows for both date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "type": "array",
          "items": {
            "$ref": "DateRange"
          }
        },
        "offset": {
          "format": "int64",
          "type": "string",
          "description": "The row count of the start row. The first row is counted as row 0. When paging, the first request does not specify offset; or equivalently, sets offset to 0; the first request returns the first `limit` of rows. The second request sets offset to the `limit` of the first request; the second request returns the second `limit` of rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\". Aggregates including both comparisons and multiple date ranges will be aggregated based on the date ranges.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ]
          }
        }
      }
    },
    "RunReportResponse": {
      "properties": {
        "rowCount": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "metricHeaders": {
          "type": "array",
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "MetricHeader"
          }
        },
        "maximums": {
          "type": "array",
          "description": "If requested, the maximum values of metrics.",
          "items": {
            "$ref": "Row"
          }
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runReport\". Useful to distinguish between response types in JSON."
        },
        "totals": {
          "description": "If requested, the totaled values of metrics.",
          "items": {
            "$ref": "Row"
          },
          "type": "array"
        },
        "dimensionHeaders": {
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "metadata": {
          "$ref": "ResponseMetaData",
          "description": "Metadata for the report."
        },
        "propertyQuota": {
          "$ref": "PropertyQuota",
          "description": "This Google Analytics property's quota state including this request."
        },
        "minimums": {
          "description": "If requested, the minimum values of metrics.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        }
      },
      "id": "RunReportResponse",
      "type": "object",
      "description": "The response report table corresponding to a request."
    },
    "MetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "MetricHeader",
      "properties": {
        "name": {
          "type": "string",
          "description": "The metric's name."
        },
        "type": {
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "TYPE_INTEGER",
            "TYPE_FLOAT",
            "TYPE_SECONDS",
            "TYPE_MILLISECONDS",
            "TYPE_MINUTES",
            "TYPE_HOURS",
            "TYPE_STANDARD",
            "TYPE_CURRENCY",
            "TYPE_FEET",
            "TYPE_MILES",
            "TYPE_METERS",
            "TYPE_KILOMETERS"
          ],
          "description": "The metric's data type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Integer type.",
            "Floating point type.",
            "A duration of seconds; a special floating point type.",
            "A duration in milliseconds; a special floating point type.",
            "A duration in minutes; a special floating point type.",
            "A duration in hours; a special floating point type.",
            "A custom metric of standard type; a special floating point type.",
            "An amount of money; a special floating point type.",
            "A length in feet; a special floating point type.",
            "A length in miles; a special floating point type.",
            "A length in meters; a special floating point type.",
            "A length in kilometers; a special floating point type."
          ]
        }
      },
      "type": "object"
    },
    "V1betaAudienceRow": {
      "description": "Dimension value attributes for the audience user row.",
      "properties": {
        "dimensionValues": {
          "description": "Each dimension value attribute for an audience user. One dimension value will be added for each dimension column requested.",
          "type": "array",
          "items": {
            "$ref": "V1betaAudienceDimensionValue"
          }
        }
      },
      "id": "V1betaAudienceRow",
      "type": "object"
    },
    "DimensionHeader": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The dimension's name.",
          "type": "string"
        }
      },
      "id": "DimensionHeader",
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers."
    },
    "DataTruncationReason": {
      "properties": {
        "dataTruncationDateRanges": {
          "items": {
            "$ref": "DataTruncationDateRange"
          },
          "type": "array",
          "description": "The truncated date ranges."
        },
        "dataTruncationDate": {
          "type": "string",
          "description": "The data truncation date in the format YYYY-MM-DD. Indicates data before this date is truncated."
        },
        "dataTruncationMessage": {
          "description": "A descriptive message explaining the data truncation.",
          "type": "string"
        },
        "dataTruncationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "Data is truncated in attribution report for rules-based models golden date.",
            "Data is truncated in attribution report for data driven attribution golden date.",
            "Data is truncated because DV360 policy does not permit data older than 2 years from being returned.",
            "Data is truncated because CM360 policy does not permit data older than 2 years from being returned.",
            "New item-scoped ecommerce metrics only have data after a specific date.",
            "New event-scoped ecommerce metrics only have data after a specific date.",
            "Query date range may not be fully served.",
            "Data truncated because the query attempts to read event data prior to its retention date.",
            "Data is truncated in conversions report.",
            "Data is truncated due to Google Ads 36 month retention policy."
          ],
          "enum": [
            "DATA_TRUNCATION_TYPE_UNSPECIFIED",
            "DATA_TRUNCATION_TYPE_RULES_BASED_MODELS",
            "DATA_TRUNCATION_TYPE_DATA_DRIVEN_ATTRIBUTION",
            "DATA_TRUNCATION_TYPE_DV360",
            "DATA_TRUNCATION_TYPE_CM360",
            "DATA_TRUNCATION_TYPE_ITEM_SCOPED_ECOMMERCE_METRICS",
            "DATA_TRUNCATION_TYPE_EVENT_SCOPED_ECOMMERCE_METRICS",
            "DATA_TRUNCATION_TYPE_DATE_RANGE",
            "DATA_TRUNCATION_TYPE_PROPERTY",
            "DATA_TRUNCATION_TYPE_CONVERSIONS",
            "DATA_TRUNCATION_TYPE_GOOGLE_ADS"
          ],
          "description": "The type of data truncation.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataTruncationReason",
      "description": "Describes a reason for data truncation in the report."
    },
    "BatchRunPivotReportsResponse": {
      "description": "The batch response containing multiple pivot reports.",
      "id": "BatchRunPivotReportsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#batchRunPivotReports\". Useful to distinguish between response types in JSON."
        },
        "pivotReports": {
          "type": "array",
          "description": "Individual responses. Each response has a separate pivot report request.",
          "items": {
            "$ref": "RunPivotReportResponse"
          }
        }
      }
    },
    "Status": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "EmptyFilter": {
      "properties": {},
      "type": "object",
      "id": "EmptyFilter",
      "description": "Filter for empty values."
    },
    "BetweenFilter": {
      "id": "BetweenFilter",
      "properties": {
        "toValue": {
          "$ref": "NumericValue",
          "description": "Ends with this number."
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "NumericValue"
        }
      },
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive)."
    },
    "CheckCompatibilityRequest": {
      "type": "object",
      "description": "The request for compatibility information for a report's dimensions and metrics. Check compatibility provides a preview of the compatibility of a report; fields shared with the `runReport` request should be the same values as in your `runReport` request.",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "The dimensions in this report. `dimensions` should be the same value as in your `runReport` request.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "compatibilityFilter": {
          "description": "Filters the dimensions and metrics in the response to just this compatibility. Commonly used as `”compatibilityFilter”: “COMPATIBLE”` to only return compatible dimensions & metrics.",
          "enum": [
            "COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified compatibility.",
            "The dimension or metric is compatible. This dimension or metric can be successfully added to a report.",
            "The dimension or metric is incompatible. This dimension or metric cannot be successfully added to a report."
          ]
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. `dimensionFilter` should be the same value as in your `runReport` request."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "The metrics in this report. `metrics` should be the same value as in your `runReport` request.",
          "type": "array"
        },
        "metricFilter": {
          "description": "The filter clause of metrics. `metricFilter` should be the same value as in your `runReport` request",
          "$ref": "FilterExpression"
        }
      },
      "id": "CheckCompatibilityRequest"
    },
    "CaseExpression": {
      "description": "Used to convert a dimension value to a single case.",
      "id": "CaseExpression",
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Name of a dimension. The name must refer back to a name in dimensions field of the request."
        }
      }
    },
    "CohortsRange": {
      "properties": {
        "endOffset": {
          "description": "Required. `endOffset` specifies the end date of the extended reporting date range for a cohort report. `endOffset` can be any positive integer but is commonly set to 5 to 10 so that reports contain data on the cohort for the next several granularity time periods. If `granularity` is `DAILY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset` days. If `granularity` is `WEEKLY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset * 7` days. If `granularity` is `MONTHLY`, the `endDate` of the extended reporting date range is `endDate` of the cohort plus `endOffset * 30` days.",
          "format": "int32",
          "type": "integer"
        },
        "granularity": {
          "description": "Required. The granularity used to interpret the `startOffset` and `endOffset` for the extended reporting date range for a cohort report.",
          "type": "string",
          "enum": [
            "GRANULARITY_UNSPECIFIED",
            "DAILY",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Should never be specified.",
            "Daily granularity. Commonly used if the cohort's `dateRange` is a single day and the request contains `cohortNthDay`.",
            "Weekly granularity. Commonly used if the cohort's `dateRange` is a week in duration (starting on Sunday and ending on Saturday) and the request contains `cohortNthWeek`.",
            "Monthly granularity. Commonly used if the cohort's `dateRange` is a month in duration and the request contains `cohortNthMonth`."
          ]
        },
        "startOffset": {
          "format": "int32",
          "type": "integer",
          "description": "`startOffset` specifies the start date of the extended reporting date range for a cohort report. `startOffset` is commonly set to 0 so that reports contain data from the acquisition of the cohort forward. If `granularity` is `DAILY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset` days. If `granularity` is `WEEKLY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset * 7` days. If `granularity` is `MONTHLY`, the `startDate` of the extended reporting date range is `startDate` of the cohort plus `startOffset * 30` days."
        }
      },
      "id": "CohortsRange",
      "type": "object",
      "description": "Configures the extended reporting date range for a cohort report. Specifies an offset duration to follow the cohorts over."
    },
    "Metric": {
      "type": "object",
      "description": "The quantitative measurements of a report. For example, the metric `eventCount` is the total number of events. Requests are allowed up to 10 metrics.",
      "properties": {
        "name": {
          "description": "The name of the metric. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of metric names supported by core reporting methods such as `runReport` and `batchRunReports`. See [Realtime Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-api-schema#metrics) for the list of metric names supported by the `runRealtimeReport` method. See [Funnel Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/exploration-api-schema#metrics) for the list of metric names supported by the `runFunnelReport` method. If `expression` is specified, `name` can be any string that you would like within the allowed character set. For example if `expression` is `screenPageViews/sessions`, you could call that metric's name = `viewsPerSession`. Metric names that you choose must match the regular expression `^[a-zA-Z0-9_]$`. Metrics are referenced by `name` in `metricFilter`, `orderBys`, and metric `expression`.",
          "type": "string"
        },
        "expression": {
          "description": "A mathematical expression for derived metrics. For example, the metric Event count per user is `eventCount/totalUsers`.",
          "type": "string"
        },
        "invisible": {
          "description": "Indicates if a metric is invisible in the report response. If a metric is invisible, the metric will not produce a column in the response, but can be used in `metricFilter`, `orderBys`, or a metric `expression`.",
          "type": "boolean"
        }
      },
      "id": "Metric"
    },
    "FilterExpression": {
      "description": "To express dimension or metric filters. The fields in the same FilterExpression need to be either all dimensions or all metrics.",
      "type": "object",
      "id": "FilterExpression",
      "properties": {
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "FilterExpression"
        },
        "filter": {
          "$ref": "Filter",
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics."
        },
        "andGroup": {
          "description": "The FilterExpressions in and_group have an AND relationship.",
          "$ref": "FilterExpressionList"
        },
        "orGroup": {
          "$ref": "FilterExpressionList",
          "description": "The FilterExpressions in or_group have an OR relationship."
        }
      }
    },
    "Metadata": {
      "id": "Metadata",
      "description": "The dimensions, metrics and comparisons currently accepted in reporting methods.",
      "type": "object",
      "properties": {
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "MetricMetadata"
          },
          "description": "The metric descriptions."
        },
        "name": {
          "description": "Resource name of this metadata.",
          "type": "string"
        },
        "comparisons": {
          "items": {
            "$ref": "ComparisonMetadata"
          },
          "description": "The comparison descriptions.",
          "type": "array"
        },
        "dimensions": {
          "description": "The dimension descriptions.",
          "items": {
            "$ref": "DimensionMetadata"
          },
          "type": "array"
        }
      }
    },
    "V1betaAudienceDimension": {
      "type": "object",
      "id": "V1betaAudienceDimension",
      "properties": {
        "dimensionName": {
          "description": "Optional. The API name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/audience-list-api-schema#dimensions) for the list of dimension names.",
          "type": "string"
        }
      },
      "description": "An audience dimension is a user attribute. Specific user attributed are requested and then later returned in the `QueryAudienceExportResponse`."
    },
    "RunRealtimeReportRequest": {
      "id": "RunRealtimeReportRequest",
      "type": "object",
      "description": "The request to generate a realtime report.",
      "properties": {
        "dimensions": {
          "type": "array",
          "description": "The dimensions requested and displayed.",
          "items": {
            "$ref": "Dimension"
          }
        },
        "metricAggregations": {
          "description": "Aggregation of metrics. Aggregated metric values will be shown in rows where the dimension_values are set to \"RESERVED_(MetricAggregation)\".",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified operator.",
              "SUM operator.",
              "Minimum operator.",
              "Maximum operator.",
              "Count operator."
            ],
            "enum": [
              "METRIC_AGGREGATION_UNSPECIFIED",
              "TOTAL",
              "MINIMUM",
              "MAXIMUM",
              "COUNT"
            ],
            "type": "string"
          }
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of dimensions. Metrics cannot be used in this filter."
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 250,000 rows per request, no matter how many you ask for. `limit` must be positive. The API can also return fewer rows than the requested `limit`, if there aren't as many dimension values as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value."
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Google Analytics property's Realtime quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "metrics": {
          "description": "The metrics requested and displayed.",
          "items": {
            "$ref": "Metric"
          },
          "type": "array"
        },
        "orderBys": {
          "items": {
            "$ref": "OrderBy"
          },
          "type": "array",
          "description": "Specifies how rows are ordered in the response."
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Dimensions cannot be used in this filter."
        },
        "minuteRanges": {
          "type": "array",
          "description": "The minute ranges of event data to read. If unspecified, one minute range for the last 30 minutes will be used. If multiple minute ranges are requested, each response row will contain a zero based minute range index. If two minute ranges overlap, the event data for the overlapping minutes is included in the response rows for both minute ranges.",
          "items": {
            "$ref": "MinuteRange"
          }
        }
      }
    },
    "RunRealtimeReportResponse": {
      "description": "The response realtime report table corresponding to a request.",
      "type": "object",
      "id": "RunRealtimeReportResponse",
      "properties": {
        "propertyQuota": {
          "description": "This Google Analytics property's Realtime quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "rowCount": {
          "type": "integer",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response and the `limit` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows.",
          "format": "int32"
        },
        "totals": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "If requested, the totaled values of metrics."
        },
        "maximums": {
          "type": "array",
          "items": {
            "$ref": "Row"
          },
          "description": "If requested, the maximum values of metrics."
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array",
          "items": {
            "$ref": "Row"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runRealtimeReport\". Useful to distinguish between response types in JSON."
        },
        "dimensionHeaders": {
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "DimensionHeader"
          }
        },
        "metricHeaders": {
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array",
          "items": {
            "$ref": "MetricHeader"
          }
        },
        "minimums": {
          "type": "array",
          "description": "If requested, the minimum values of metrics.",
          "items": {
            "$ref": "Row"
          }
        }
      }
    },
    "RunPivotReportResponse": {
      "type": "object",
      "id": "RunPivotReportResponse",
      "properties": {
        "propertyQuota": {
          "description": "This Google Analytics property's quota state including this request.",
          "$ref": "PropertyQuota"
        },
        "aggregates": {
          "items": {
            "$ref": "Row"
          },
          "description": "Aggregation of metric values. Can be totals, minimums, or maximums. The returned aggregations are controlled by the metric_aggregations in the pivot. The type of aggregation returned in each row is shown by the dimension_values which are set to \"RESERVED_\".",
          "type": "array"
        },
        "pivotHeaders": {
          "items": {
            "$ref": "PivotHeader"
          },
          "type": "array",
          "description": "Summarizes the columns and rows created by a pivot. Each pivot in the request produces one header in the response. If we have a request like this: \"pivots\": [{ \"fieldNames\": [\"country\", \"city\"] }, { \"fieldNames\": \"eventName\" }] We will have the following `pivotHeaders` in the response: \"pivotHeaders\" : [{ \"dimensionHeaders\": [{ \"dimensionValues\": [ { \"value\": \"United Kingdom\" }, { \"value\": \"London\" } ] }, { \"dimensionValues\": [ { \"value\": \"Japan\" }, { \"value\": \"Osaka\" } ] }] }, { \"dimensionHeaders\": [{ \"dimensionValues\": [{ \"value\": \"session_start\" }] }, { \"dimensionValues\": [{ \"value\": \"scroll\" }] }] }]"
        },
        "metricHeaders": {
          "type": "array",
          "items": {
            "$ref": "MetricHeader"
          },
          "description": "Describes metric columns. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "kind": {
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#runPivotReport\". Useful to distinguish between response types in JSON.",
          "type": "string"
        },
        "metadata": {
          "description": "Metadata for the report.",
          "$ref": "ResponseMetaData"
        },
        "rows": {
          "items": {
            "$ref": "Row"
          },
          "type": "array",
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "dimensionHeaders": {
          "description": "Describes dimension columns. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "items": {
            "$ref": "DimensionHeader"
          },
          "type": "array"
        }
      },
      "description": "The response pivot report table corresponding to a pivot request."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RunPivotReportRequest": {
      "description": "The request to generate a pivot report.",
      "properties": {
        "cohortSpec": {
          "description": "Cohort group associated with this request. If there is a cohort group in the request the 'cohort' dimension must be present.",
          "$ref": "CohortSpec"
        },
        "dimensionFilter": {
          "description": "The filter clause of dimensions. Dimensions must be requested to be used in this filter. Metrics cannot be used in this filter.",
          "$ref": "FilterExpression"
        },
        "pivots": {
          "type": "array",
          "items": {
            "$ref": "Pivot"
          },
          "description": "Describes the visual format of the report's dimensions in columns or rows. The union of the fieldNames (dimension names) in all pivots must be a subset of dimension names defined in Dimensions. No two pivots can share a dimension. A dimension is only visible if it appears in a pivot."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "type": "array",
          "description": "The metrics requested, at least one metric needs to be specified. All defined metrics must be used by one of the following: metric_expression, metric_filter, order_bys."
        },
        "keepEmptyRows": {
          "description": "If false or unspecified, each row with all metrics equal to 0 will not be returned. If true, these rows will be returned if they are not separately removed by a filter. Regardless of this `keep_empty_rows` setting, only data recorded by the Google Analytics property can be displayed in a report. For example if a property never logs a `purchase` event, then a query for the `eventName` dimension and `eventCount` metric will not have a row eventName: \"purchase\" and eventCount: 0.",
          "type": "boolean"
        },
        "dimensions": {
          "description": "The dimensions requested. All defined dimensions must be used by one of the following: dimension_expression, dimension_filter, pivots, order_bys.",
          "type": "array",
          "items": {
            "$ref": "Dimension"
          }
        },
        "comparisons": {
          "description": "Optional. The configuration of comparisons requested and displayed. The request requires both a comparisons field and a comparisons dimension to receive a comparison column in the response.",
          "type": "array",
          "items": {
            "$ref": "Comparison"
          }
        },
        "returnPropertyQuota": {
          "description": "Toggles whether to return the current state of this Google Analytics property's quota. Quota is returned in [PropertyQuota](#PropertyQuota).",
          "type": "boolean"
        },
        "property": {
          "description": "A Google Analytics property identifier whose events are tracked. Specified in the URL path and not the body. To learn more, see [where to find your Property ID](https://developers.google.com/analytics/devguides/reporting/data/v1/property-id). Within a batch request, this property should either be unspecified or consistent with the batch-level property. Example: properties/1234",
          "type": "string"
        },
        "currencyCode": {
          "description": "A currency code in ISO4217 format, such as \"AED\", \"USD\", \"JPY\". If the field is empty, the report uses the property's default currency.",
          "type": "string"
        },
        "dateRanges": {
          "items": {
            "$ref": "DateRange"
          },
          "description": "The date range to retrieve event data for the report. If multiple date ranges are specified, event data from each date range is used in the report. A special dimension with field name \"dateRange\" can be included in a Pivot's field names; if included, the report compares between date ranges. In a cohort request, this `dateRanges` must be unspecified.",
          "type": "array"
        },
        "metricFilter": {
          "$ref": "FilterExpression",
          "description": "The filter clause of metrics. Applied at post aggregation phase, similar to SQL having-clause. Metrics must be requested to be used in this filter. Dimensions cannot be used in this filter."
        }
      },
      "id": "RunPivotReportRequest",
      "type": "object"
    },
    "ListAudienceExportsResponse": {
      "type": "object",
      "id": "ListAudienceExportsResponse",
      "description": "A list of all audience exports for a property.",
      "properties": {
        "audienceExports": {
          "description": "Each audience export for a property.",
          "type": "array",
          "items": {
            "$ref": "AudienceExport"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "NumericValue": {
      "type": "object",
      "description": "To represent a number.",
      "properties": {
        "doubleValue": {
          "format": "double",
          "type": "number",
          "description": "Double value"
        },
        "int64Value": {
          "format": "int64",
          "description": "Integer value",
          "type": "string"
        }
      },
      "id": "NumericValue"
    },
    "PivotOrderBy": {
      "properties": {
        "metricName": {
          "type": "string",
          "description": "In the response to order by, order rows by this column. Must be a metric name from the request."
        },
        "pivotSelections": {
          "items": {
            "$ref": "PivotSelection"
          },
          "type": "array",
          "description": "Used to select a dimension name and value pivot. If multiple pivot selections are given, the sort occurs on rows where all pivot selection dimension name and value pairs match the row's dimension name and value pair."
        }
      },
      "description": "Sorts by a pivot column group.",
      "id": "PivotOrderBy",
      "type": "object"
    },
    "PropertyQuota": {
      "description": "Current state of all quotas for this Analytics Property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "id": "PropertyQuota",
      "type": "object",
      "properties": {
        "potentiallyThresholdedRequestsPerHour": {
          "$ref": "QuotaStatus",
          "description": "Analytics Properties can send up to 120 requests with potentially thresholded dimensions per hour. In a batch request, each report request is individually counted for this quota if the request contains potentially thresholded dimensions."
        },
        "concurrentRequests": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can send up to 10 concurrent requests; Analytics 360 Properties can use up to 50 concurrent requests."
        },
        "tokensPerDay": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties can use up to 200,000 tokens per day; Analytics 360 Properties can use 2,000,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "tokensPerHour": {
          "description": "Standard Analytics Properties can use up to 40,000 tokens per hour; Analytics 360 Properties can use 400,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "QuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Analytics Properties can use up to 35% of their tokens per project per hour. This amounts to standard Analytics Properties can use up to 14,000 tokens per project per hour, and Analytics 360 Properties can use 140,000 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "QuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "QuotaStatus",
          "description": "Standard Analytics Properties and cloud project pairs can have up to 10 server errors per hour; Analytics 360 Properties and cloud project pairs can have up to 50 server errors per hour."
        }
      }
    },
    "MetricCompatibility": {
      "description": "The compatibility for a single metric.",
      "properties": {
        "metricMetadata": {
          "description": "The metric metadata contains the API name for this compatibility information. The metric metadata also contains other helpful information like the UI name and description.",
          "$ref": "MetricMetadata"
        },
        "compatibility": {
          "enumDescriptions": [
            "Unspecified compatibility.",
            "The dimension or metric is compatible. This dimension or metric can be successfully added to a report.",
            "The dimension or metric is incompatible. This dimension or metric cannot be successfully added to a report."
          ],
          "enum": [
            "COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "type": "string",
          "description": "The compatibility of this metric. If the compatibility is COMPATIBLE, this metric can be successfully added to the report."
        }
      },
      "type": "object",
      "id": "MetricCompatibility"
    },
    "FilterExpressionList": {
      "type": "object",
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "items": {
            "$ref": "FilterExpression"
          },
          "type": "array"
        }
      },
      "description": "A list of filter expressions.",
      "id": "FilterExpressionList"
    },
    "Filter": {
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "stringFilter": {
          "$ref": "StringFilter",
          "description": "Strings related filter."
        },
        "betweenFilter": {
          "$ref": "BetweenFilter",
          "description": "A filter for two values."
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "InListFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "NumericFilter"
        },
        "fieldName": {
          "description": "The dimension name or metric name. In most methods, dimensions & metrics can be used for the first time in this field. However in a RunPivotReportRequest, this field must be additionally specified by name in the RunPivotReportRequest's dimensions or metrics.",
          "type": "string"
        },
        "emptyFilter": {
          "description": "A filter for empty values such as \"(not set)\" and \"\" values.",
          "$ref": "EmptyFilter"
        }
      },
      "id": "Filter"
    },
    "Dimension": {
      "id": "Dimension",
      "description": "Dimensions are attributes of your data. For example, the dimension city indicates the city from which an event originates. Dimension values in report responses are strings; for example, the city could be \"Paris\" or \"New York\". Requests are allowed up to 9 dimensions.",
      "properties": {
        "name": {
          "description": "The name of the dimension. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names supported by core reporting methods such as `runReport` and `batchRunReports`. See [Realtime Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/realtime-api-schema#dimensions) for the list of dimension names supported by the `runRealtimeReport` method. See [Funnel Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/exploration-api-schema#dimensions) for the list of dimension names supported by the `runFunnelReport` method. If `dimensionExpression` is specified, `name` can be any string that you would like within the allowed character set. For example if a `dimensionExpression` concatenates `country` and `city`, you could call that dimension `countryAndCity`. Dimension names that you choose must match the regular expression `^[a-zA-Z0-9_]$`. Dimensions are referenced by `name` in `dimensionFilter`, `orderBys`, `dimensionExpression`, and `pivots`.",
          "type": "string"
        },
        "dimensionExpression": {
          "$ref": "DimensionExpression",
          "description": "One dimension can be the result of an expression of multiple dimensions. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        }
      },
      "type": "object"
    },
    "CohortReportSettings": {
      "id": "CohortReportSettings",
      "type": "object",
      "properties": {
        "accumulate": {
          "description": "If true, accumulates the result from first touch day to the end day. Not supported in `RunReportRequest`.",
          "type": "boolean"
        }
      },
      "description": "Optional settings of a cohort report."
    },
    "QuotaStatus": {
      "description": "Current state for a particular quota group.",
      "id": "QuotaStatus",
      "type": "object",
      "properties": {
        "consumed": {
          "format": "int32",
          "type": "integer",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "format": "int32",
          "description": "Quota remaining after this request.",
          "type": "integer"
        }
      }
    },
    "ComparisonMetadata": {
      "type": "object",
      "id": "ComparisonMetadata",
      "description": "The metadata for a single comparison.",
      "properties": {
        "apiName": {
          "description": "This comparison's resource name. Useable in [Comparison](#Comparison)'s `comparison` field. For example, 'comparisons/1234'.",
          "type": "string"
        },
        "uiName": {
          "description": "This comparison's name within the Google Analytics user interface.",
          "type": "string"
        },
        "description": {
          "description": "This comparison's description.",
          "type": "string"
        }
      }
    },
    "Comparison": {
      "id": "Comparison",
      "description": "Defines an individual comparison. Most requests will include multiple comparisons so that the report compares between the comparisons.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Each comparison produces separate rows in the response. In the response, this comparison is identified by this name. If name is unspecified, we will use the saved comparisons display name."
        },
        "dimensionFilter": {
          "$ref": "FilterExpression",
          "description": "A basic comparison."
        },
        "comparison": {
          "type": "string",
          "description": "A saved comparison identified by the comparison's resource name. For example, 'comparisons/1234'."
        }
      },
      "type": "object"
    },
    "SamplingMetadata": {
      "description": "If this report results is [sampled](https://support.google.com/analytics/answer/13331292), this describes the percentage of events used in this report. Sampling is the practice of analyzing a subset of all data in order to uncover the meaningful information in the larger data set.",
      "id": "SamplingMetadata",
      "properties": {
        "samplesReadCount": {
          "type": "string",
          "description": "The total number of events read in this sampled report for a date range. This is the size of the subset this property's data that was analyzed in this report.",
          "format": "int64"
        },
        "samplingSpaceSize": {
          "format": "int64",
          "type": "string",
          "description": "The total number of events present in this property's data that could have been analyzed in this report for a date range. Sampling uncovers the meaningful information about the larger data set, and this is the size of the larger data set. To calculate the percentage of available data that was used in this report, compute `samplesReadCount/samplingSpaceSize`."
        }
      },
      "type": "object"
    },
    "DataTruncationDateRange": {
      "id": "DataTruncationDateRange",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "The end date in the format YYYY-MM-DD (inclusive).",
          "type": "string"
        },
        "startDate": {
          "description": "The start date in the format YYYY-MM-DD (inclusive).",
          "type": "string"
        }
      },
      "description": "Define the truncated date range from start_date to end_date."
    },
    "BatchRunReportsResponse": {
      "description": "The batch response containing multiple reports.",
      "properties": {
        "reports": {
          "items": {
            "$ref": "RunReportResponse"
          },
          "type": "array",
          "description": "Individual responses. Each response has a separate report request."
        },
        "kind": {
          "description": "Identifies what kind of resource this message is. This `kind` is always the fixed string \"analyticsData#batchRunReports\". Useful to distinguish between response types in JSON.",
          "type": "string"
        }
      },
      "id": "BatchRunReportsResponse",
      "type": "object"
    },
    "DimensionExpression": {
      "id": "DimensionExpression",
      "properties": {
        "concatenate": {
          "$ref": "ConcatenateExpression",
          "description": "Used to combine dimension values to a single dimension. For example, dimension \"country, city\": concatenate(country, \", \", city)."
        },
        "lowerCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to lower case."
        },
        "upperCase": {
          "$ref": "CaseExpression",
          "description": "Used to convert a dimension value to upper case."
        }
      },
      "description": "Used to express a dimension which is the result of a formula of multiple dimensions. Example usages: 1) lower_case(dimension) 2) concatenate(dimension1, symbol, dimension2).",
      "type": "object"
    },
    "AudienceListMetadata": {
      "description": "This metadata is currently blank.",
      "id": "AudienceListMetadata",
      "type": "object",
      "properties": {}
    },
    "BatchRunPivotReportsRequest": {
      "id": "BatchRunPivotReportsRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "RunPivotReportRequest"
          },
          "description": "Individual requests. Each request has a separate pivot report response. Each batch request is allowed up to 5 requests.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The batch request containing multiple pivot report requests."
    },
    "MetricOrderBy": {
      "id": "MetricOrderBy",
      "description": "Sorts by metric values.",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MetricValue": {
      "id": "MetricValue",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Measurement value. See MetricHeader for type."
        }
      },
      "description": "The value of a metric."
    },
    "OrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending event count is one ordering, and ordering rows by the event name string is a different ordering.",
      "properties": {
        "pivot": {
          "description": "Sorts results by a metric's values within a pivot column group.",
          "$ref": "PivotOrderBy"
        },
        "metric": {
          "$ref": "MetricOrderBy",
          "description": "Sorts results by a metric's values."
        },
        "dimension": {
          "description": "Sorts results by a dimension's values.",
          "$ref": "DimensionOrderBy"
        },
        "desc": {
          "type": "boolean",
          "description": "If true, sorts by descending order."
        }
      },
      "id": "OrderBy",
      "type": "object"
    },
    "PivotDimensionHeader": {
      "description": "Summarizes dimension values from a row for this pivot.",
      "id": "PivotDimensionHeader",
      "properties": {
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "DimensionValue"
          },
          "description": "Values of multiple dimensions in a pivot."
        }
      },
      "type": "object"
    },
    "StringFilter": {
      "type": "object",
      "id": "StringFilter",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter."
        }
      },
      "description": "The filter for string"
    },
    "CheckCompatibilityResponse": {
      "description": "The compatibility response with the compatibility of each dimension & metric.",
      "properties": {
        "metricCompatibilities": {
          "items": {
            "$ref": "MetricCompatibility"
          },
          "type": "array",
          "description": "The compatibility of each metric."
        },
        "dimensionCompatibilities": {
          "type": "array",
          "items": {
            "$ref": "DimensionCompatibility"
          },
          "description": "The compatibility of each dimension."
        }
      },
      "type": "object",
      "id": "CheckCompatibilityResponse"
    },
    "Cohort": {
      "description": "Defines a cohort selection criteria. A cohort is a group of users who share a common characteristic. For example, users with the same `firstSessionDate` belong to the same cohort.",
      "type": "object",
      "id": "Cohort",
      "properties": {
        "dateRange": {
          "description": "The cohort selects users whose first touch date is between start date and end date defined in the `dateRange`. This `dateRange` does not specify the full date range of event data that is present in a cohort report. In a cohort report, this `dateRange` is extended by the granularity and offset present in the `cohortsRange`; event data for the extended reporting date range is present in a cohort report. In a cohort request, this `dateRange` is required and the `dateRanges` in the `RunReportRequest` or `RunPivotReportRequest` must be unspecified. This `dateRange` should generally be aligned with the cohort's granularity. If `CohortsRange` uses daily granularity, this `dateRange` can be a single day. If `CohortsRange` uses weekly granularity, this `dateRange` can be aligned to a week boundary, starting at Sunday and ending Saturday. If `CohortsRange` uses monthly granularity, this `dateRange` can be aligned to a month, starting at the first and ending on the last day of the month.",
          "$ref": "DateRange"
        },
        "dimension": {
          "type": "string",
          "description": "Dimension used by the cohort. Required and only supports `firstSessionDate`."
        },
        "name": {
          "type": "string",
          "description": "Assigns a name to this cohort. The dimension `cohort` is valued to this name in a report response. If set, cannot begin with `cohort_` or `RESERVED_`. If not set, cohorts are named by their zero based index `cohort_0`, `cohort_1`, etc."
        }
      }
    },
    "AudienceExport": {
      "description": "An audience export is a list of users in an audience at the time of the list's creation. One audience may have multiple audience exports created for different days.",
      "id": "AudienceExport",
      "type": "object",
      "properties": {
        "creationQuotaTokensCharged": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The total quota tokens charged during creation of the AudienceExport. Because this token count is based on activity from the `CREATING` state, this tokens charged will be fixed once an AudienceExport enters the `ACTIVE` or `FAILED` states."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state will never be used.",
            "The AudienceExport is currently creating and will be available in the future. Creating occurs immediately after the CreateAudienceExport call.",
            "The AudienceExport is fully created and ready for querying. An AudienceExport is updated to active asynchronously from a request; this occurs some time (for example 15 minutes) after the initial create call.",
            "The AudienceExport failed to be created. It is possible that re-requesting this audience export will succeed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "FAILED"
          ],
          "description": "Output only. The current state for this AudienceExport.",
          "type": "string"
        },
        "dimensions": {
          "items": {
            "$ref": "V1betaAudienceDimension"
          },
          "type": "array",
          "description": "Required. The dimensions requested and displayed in the query response."
        },
        "name": {
          "description": "Output only. Identifier. The audience export resource name assigned during creation. This resource name identifies this `AudienceExport`. Format: `properties/{property}/audienceExports/{audience_export}`",
[...]
