{
  "rootUrl": "https://analyticshub.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "title": "Analytics Hub API",
  "ownerDomain": "google.com",
  "name": "analyticshub",
  "baseUrl": "https://analyticshub.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
  "revision": "20260907",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "id": "analyticshub:v1",
  "mtlsRootUrl": "https://analyticshub.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "servicePath": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "resources": {
                "listings": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/listings",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Page token, returned by a previous call, to request the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "description": "Lists all listings in a given project and location.",
                      "response": {
                        "$ref": "ListListingsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    },
                    "getIamPolicy": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.getIamPolicy",
                      "description": "Gets the IAM policy.",
                      "path": "v1/{+resource}:getIamPolicy",
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:setIamPolicy",
                      "description": "Sets the IAM policy.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.setIamPolicy",
                      "httpMethod": "POST",
                      "path": "v1/{+resource}:setIamPolicy"
                    },
                    "testIamPermissions": {
                      "path": "v1/{+resource}:testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "description": "Returns the permissions that a caller has.",
                      "parameters": {
                        "resource": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "listSubscriptions": {
                      "path": "v1/{+resource}:listSubscriptions",
                      "parameters": {
                        "includeDeletedSubscriptions": {
                          "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                          "type": "boolean",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token, returned by a previous call."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of results to return in a single response page.",
                          "location": "query",
                          "format": "int32"
                        },
                        "resource": {
                          "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.listSubscriptions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:listSubscriptions",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListSharedResourceSubscriptionsResponse"
                      }
                    },
                    "get": {
                      "id": "analyticshub.projects.locations.dataExchanges.listings.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Listing"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "description": "Gets the details of a listing.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "Required. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "id": "analyticshub.projects.locations.dataExchanges.listings.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "parameters": {
                        "deleteCommercial": {
                          "location": "query",
                          "description": "Optional. If the listing is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid deleting commercial listings accidentally.",
                          "type": "boolean"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a listing."
                    },
                    "patch": {
                      "description": "Updates an existing listing.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "Listing"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Field mask specifies the fields to update in the listing resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "format": "google-fieldmask",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Listing"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}"
                    },
                    "subscribe": {
                      "path": "v1/{+name}:subscribe",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "Required. Resource name of the listing that you want to subscribe to. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "SubscribeListingRequest"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.subscribe",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "SubscribeListingResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:subscribe",
                      "description": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project."
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "location": "path"
                        },
                        "listingId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the listing to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes."
                        }
                      },
                      "description": "Creates a new listing.",
                      "response": {
                        "$ref": "Listing"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "request": {
                        "$ref": "Listing"
                      },
                      "path": "v1/{+parent}/listings",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.create"
                    }
                  }
                },
                "queryTemplates": {
                  "methods": {
                    "submit": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true,
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`."
                        }
                      },
                      "request": {
                        "$ref": "SubmitQueryTemplateRequest"
                      },
                      "description": "Submits a query template for approval.",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.submit",
                      "path": "v1/{+name}:submit",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:submit"
                    },
                    "delete": {
                      "description": "Deletes a query template.",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.delete",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "description": "Lists all QueryTemplates in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/queryTemplates",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. Page token, returned by a previous call, to request the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource path of the QueryTemplates. e.g. `projects/myproject/locations/us/dataExchanges/123`."
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "response": {
                        "$ref": "ListQueryTemplatesResponse"
                      },
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "description": "Updates an existing QueryTemplate",
                      "path": "v1/{+name}",
                      "parameters": {
                        "updateMask": {
                          "type": "string",
                          "description": "Optional. Field mask specifies the fields to update in the query template resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.patch",
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "approve": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Approves a query template.",
                      "request": {
                        "$ref": "ApproveQueryTemplateRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:approve",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.approve",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true,
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:approve"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets a QueryTemplate",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.get"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "queryTemplateId": {
                          "type": "string",
                          "description": "Required. The ID of the QueryTemplate to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myQueryTemplate`.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.create",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/queryTemplates",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "description": "Creates a new QueryTemplate",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "QueryTemplate"
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "id": "analyticshub.projects.locations.dataExchanges.get",
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "description": "Gets the details of a data exchange.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "subscribe": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:subscribe",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:subscribe",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a Subscription to a Data Clean Room. This is a long-running operation as it will create one or more linked datasets. Throws a Bad Request error if the Data Exchange does not contain any listings.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "description": "Required. Resource name of the Data Exchange. e.g. `projects/publisherproject/locations/us/dataExchanges/123`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SubscribeDataExchangeRequest"
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.subscribe",
                  "httpMethod": "POST"
                },
                "testIamPermissions": {
                  "path": "v1/{+resource}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Returns the permissions that a caller has.",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "listSubscriptions": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                  "httpMethod": "GET",
                  "id": "analyticshub.projects.locations.dataExchanges.listSubscriptions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:listSubscriptions",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "includeDeletedSubscriptions": {
                      "location": "query",
                      "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                      "type": "boolean"
                    },
                    "resource": {
                      "type": "string",
                      "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned by a previous call."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:listSubscriptions",
                  "response": {
                    "$ref": "ListSharedResourceSubscriptionsResponse"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "parameters": {
                    "name": {
                      "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. Field mask specifies the fields to update in the data exchange resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates an existing data exchange.",
                  "request": {
                    "$ref": "DataExchange"
                  }
                },
                "getIamPolicy": {
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true
                    }
                  },
                  "description": "Gets the IAM policy.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:getIamPolicy"
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.setIamPolicy",
                  "httpMethod": "POST",
                  "description": "Sets the IAM policy.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.create",
                  "request": {
                    "$ref": "DataExchange"
                  },
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "path": "v1/{+parent}/dataExchanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new data exchange.",
                  "parameters": {
                    "dataExchangeId": {
                      "description": "Required. The ID of the data exchange. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource path of the data exchange. e.g. `projects/myproject/locations/us`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path",
                      "description": "Required. The full name of the data exchange resource that you want to delete. For example, `projects/myproject/locations/us/dataExchanges/123`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes an existing data exchange.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token, returned by a previous call, to request the next page of results."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource path of the data exchanges. e.g. `projects/myproject/locations/us`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDataExchangesResponse"
                  },
                  "path": "v1/{+parent}/dataExchanges",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "analyticshub.projects.locations.dataExchanges.list",
                  "description": "Lists all data exchanges in a given project and location."
                }
              }
            },
            "subscriptions": {
              "methods": {
                "revoke": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "description": "Required. Resource name of the subscription to revoke. e.g. projects/123/locations/us/subscriptions/456",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:revoke",
                  "id": "analyticshub.projects.locations.subscriptions.revoke",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RevokeSubscriptionResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:revoke",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RevokeSubscriptionRequest"
                  },
                  "description": "Revokes a given subscription."
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "id": "analyticshub.projects.locations.subscriptions.getIamPolicy",
                  "description": "Gets the IAM policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  }
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:setIamPolicy",
                  "id": "analyticshub.projects.locations.subscriptions.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the IAM policy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "id": "analyticshub.projects.locations.subscriptions.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a subscription.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name of the subscription to delete. e.g. projects/123/locations/us/subscriptions/456"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "analyticshub.projects.locations.subscriptions.get",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "description": "Required. Resource name of the subscription. e.g. projects/123/locations/us/subscriptions/456",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "description": "Gets the details of a Subscription.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Subscription"
                  }
                },
                "refresh": {
                  "id": "analyticshub.projects.locations.subscriptions.refresh",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Resource name of the Subscription to refresh. e.g. `projects/subscriberproject/locations/us/subscriptions/123`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "RefreshSubscriptionRequest"
                  },
                  "path": "v1/{+name}:refresh",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:refresh",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Refreshes a Subscription to a Data Exchange. A Data Exchange can become stale when a publisher adds or removes data. This is a long-running operation as it may create many linked datasets."
                },
                "list": {
                  "path": "v1/{+parent}/subscriptions",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource path of the subscription. e.g. projects/myproject/locations/us",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "An expression for filtering the results of the request. Eligible fields for filtering are: + `listing` + `data_exchange` Alternatively, a literal wrapped in double quotes may be provided. This will be checked for an exact match against both fields above. In all cases, the full Data Exchange or Listing resource name must be provided. Some example of using filters: + data_exchange=\"projects/myproject/locations/us/dataExchanges/123\" + listing=\"projects/123/locations/us/dataExchanges/456/listings/789\" + \"projects/myproject/locations/us/dataExchanges/123\"",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions",
                  "id": "analyticshub.projects.locations.subscriptions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all subscriptions in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "organization"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned by a previous call, to request the next page of results."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "organization": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "description": "Required. The organization resource path of the projects containing DataExchanges. e.g. `organizations/myorg/locations/us`.",
                      "required": true
                    }
                  },
                  "description": "Lists all data exchanges from projects in a given organization and location.",
                  "id": "analyticshub.organizations.locations.dataExchanges.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dataExchanges",
                  "path": "v1/{+organization}/dataExchanges",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOrgDataExchangesResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "schemas": {
    "Binding": {
      "id": "Binding",
      "type": "object",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo": {
      "type": "object",
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. This is set when the subscription is commercialised via Cloud Marketplace.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo"
        }
      },
      "description": "Commercial info metadata for this subscription."
    },
    "AuditLogConfig": {
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GooglePubsubV1Subscription": {
      "id": "GooglePubsubV1Subscription",
      "description": "Defines the destination Pub/Sub subscription. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, `bigtable_config`, `pubsub_export_config`, or `pubsublite_export_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "properties": {
        "bigqueryConfig": {
          "$ref": "BigQueryConfig",
          "description": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it."
        },
        "deadLetterPolicy": {
          "$ref": "DeadLetterPolicy",
          "description": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
        },
        "retainAckedMessages": {
          "description": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "description": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableExactlyOnceDelivery": {
          "type": "boolean",
          "description": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values."
        },
        "filter": {
          "description": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "cloudStorageConfig": {
          "description": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it.",
          "$ref": "CloudStorageConfig"
        },
        "ackDeadlineSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message."
        },
        "messageRetentionDuration": {
          "format": "google-duration",
          "description": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes.",
          "type": "string"
        },
        "detached": {
          "description": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made.",
          "type": "boolean"
        },
        "enableMessageOrdering": {
          "description": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order.",
          "type": "boolean"
        },
        "pushConfig": {
          "description": "Optional. If push delivery is used with this subscription, this field is used to configure it.",
          "$ref": "PushConfig"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources."
        },
        "messageTransforms": {
          "description": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified.",
          "type": "array",
          "items": {
            "$ref": "MessageTransform"
          }
        },
        "bigtableConfig": {
          "description": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it.",
          "$ref": "BigtableConfig"
        },
        "expirationPolicy": {
          "description": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires.",
          "$ref": "ExpirationPolicy"
        }
      },
      "type": "object"
    },
    "ListOrgDataExchangesResponse": {
      "id": "ListOrgDataExchangesResponse",
      "properties": {
        "dataExchanges": {
          "description": "The list of data exchanges.",
          "items": {
            "$ref": "DataExchange"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "type": "object",
      "description": "Message for response to listing data exchanges in an organization and location."
    },
    "SubscribeListingResponse": {
      "type": "object",
      "properties": {
        "subscription": {
          "description": "Subscription object created from this subscribe action.",
          "$ref": "Subscription"
        }
      },
      "description": "Message for response when you subscribe to a listing.",
      "id": "SubscribeListingResponse"
    },
    "Expr": {
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        }
      },
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "DataProvider": {
      "description": "Contains details of the data provider.",
      "type": "object",
      "id": "DataProvider",
      "properties": {
        "primaryContact": {
          "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the data provider.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "properties": {
        "version": {
          "format": "int32",
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "Replica": {
      "type": "object",
      "description": "Represents the state of a replica of a shared dataset. It includes the geographic location of the replica and system-computed, output-only fields indicating its replication state and whether it is the primary replica.",
      "properties": {
        "replicaState": {
          "description": "Output only. Assigned by Analytics Hub based on real BigQuery replication state.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is backfilled and ready to use.",
            "The replica is unavailable, does not exist, or has not been backfilled yet."
          ],
          "type": "string",
          "enum": [
            "REPLICA_STATE_UNSPECIFIED",
            "READY_TO_USE",
            "UNAVAILABLE"
          ]
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The geographic location where the replica resides. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations. Eg. \"us-central1\"."
        },
        "primaryState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is the primary replica."
          ],
          "description": "Output only. Indicates that this replica is the primary replica.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "PRIMARY_STATE_UNSPECIFIED",
            "PRIMARY_REPLICA"
          ]
        }
      },
      "id": "Replica"
    },
    "TextConfig": {
      "id": "TextConfig",
      "properties": {},
      "type": "object",
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline."
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "description": "Message for response to the listing of subscriptions.",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The list of subscriptions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "PubSubTopicSource": {
      "id": "PubSubTopicSource",
      "description": "Pub/Sub topic source.",
      "properties": {
        "dataAffinityRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Region hint on where the data might be published. Data affinity regions are modifiable. See https://cloud.google.com/about/locations for full listing of possible Cloud regions."
        },
        "topic": {
          "description": "Required. Resource name of the Pub/Sub topic source for this listing. e.g. projects/myproject/topics/topicId",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StoredProcedureConfig": {
      "type": "object",
      "description": "Stored procedure configuration, used to configure stored procedure sharing on linked dataset.",
      "properties": {
        "allowedStoredProcedureTypes": {
          "items": {
            "type": "string",
            "enum": [
              "STORED_PROCEDURE_TYPE_UNSPECIFIED",
              "SQL_PROCEDURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "SQL stored procedure."
            ]
          },
          "readOnly": true,
          "description": "Output only. Types of stored procedure supported to share.",
          "type": "array"
        },
        "enabled": {
          "description": "Optional. If true, enable sharing of stored procedure.",
          "type": "boolean"
        }
      },
      "id": "StoredProcedureConfig"
    },
    "LinkedResource": {
      "description": "Reference to a linked resource tracked by this Subscription.",
      "properties": {
        "linkedDataset": {
          "type": "string",
          "description": "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset",
          "readOnly": true
        },
        "linkedPubsubSubscription": {
          "description": "Output only. Name of the Pub/Sub subscription, e.g. projects/subscriberproject/subscriptions/subscriptions/sub_id",
          "readOnly": true,
          "type": "string"
        },
        "listing": {
          "description": "Output only. Listing for which linked resource is created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "LinkedResource",
      "type": "object"
    },
    "Subscription": {
      "type": "object",
      "description": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets.",
      "properties": {
        "commercialInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
          "description": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing."
        },
        "destinationDataset": {
          "$ref": "DestinationDataset",
          "description": "Optional. BigQuery destination dataset to create for the subscriber."
        },
        "organizationDisplayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Display name of the project of this subscription."
        },
        "listing": {
          "description": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789",
          "readOnly": true,
          "type": "string"
        },
        "linkedDatasetMap": {
          "description": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE.",
          "additionalProperties": {
            "$ref": "LinkedResource"
          },
          "readOnly": true,
          "type": "object"
        },
        "resourceType": {
          "description": "Output only. Listing shared asset type.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`.",
          "type": "string"
        },
        "logLinkedDatasetQueryUserEmail": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing."
        },
        "linkedResources": {
          "type": "array",
          "items": {
            "$ref": "LinkedResource"
          },
          "description": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE.",
          "readOnly": true
        },
        "subscriberContact": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the subscriber."
        },
        "creationTime": {
          "description": "Output only. Timestamp when the subscription was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "dataExchange": {
          "description": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_STALE",
            "STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This subscription is active and the data is accessible.",
            "The data referenced by this subscription is out of date and should be refreshed. This can happen when a data provider adds or removes datasets.",
            "This subscription has been cancelled or revoked and the data is no longer accessible."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the subscription."
        },
        "lastModifyTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the subscription was last modified.",
          "format": "google-datetime"
        },
        "organizationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization of the project this subscription belongs to."
        }
      },
      "id": "Subscription"
    },
    "Compression": {
      "type": "object",
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm.",
      "properties": {
        "compressionAlgorithm": {
          "description": "Required. Specifies the compression algorithm to use.",
          "type": "string",
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ],
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ]
        },
        "compressionMode": {
          "description": "Required. Specifies whether to compress or decompress the message.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ],
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ]
        }
      },
      "id": "Compression"
    },
    "AuditConfig": {
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      },
      "id": "AuditConfig",
      "type": "object",
[...]
