{
  "description": "Exchange data and analytics assets securely and efficiently.",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "rootUrl": "https://analyticshub.googleapis.com/",
  "canonicalName": "Analytics Hub",
  "baseUrl": "https://analyticshub.googleapis.com/",
  "mtlsRootUrl": "https://analyticshub.mtls.googleapis.com/",
  "id": "analyticshub:v1",
  "batchPath": "batch",
  "title": "Analytics Hub API",
  "protocol": "rest",
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "DefaultExchangeConfig": {
      "type": "object",
      "properties": {},
      "description": "Default Analytics Hub data exchange, used for secured data sharing.",
      "id": "DefaultExchangeConfig"
    },
    "DestinationPubSubSubscription": {
      "properties": {
        "pubsubSubscription": {
          "description": "Required. Destination Pub/Sub subscription resource.",
          "$ref": "GooglePubsubV1Subscription"
        }
      },
      "type": "object",
      "description": "Defines the destination Pub/Sub subscription.",
      "id": "DestinationPubSubSubscription"
    },
    "DataExchange": {
      "id": "DataExchange",
      "description": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets.",
      "type": "object",
      "properties": {
        "documentation": {
          "description": "Optional. Documentation describing the data exchange.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "sharingEnvironmentConfig": {
          "$ref": "SharingEnvironmentConfig",
          "description": "Optional. Configurable data sharing environment option for a data exchange."
        },
        "displayName": {
          "description": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "logLinkedDatasetQueryUserEmail": {
          "description": "Optional. By default, false. If true, the DataExchange has an email sharing mandate enabled.",
          "type": "boolean"
        },
        "discoveryType": {
          "description": "Optional. Type of discovery on the discovery page for all the listings under this exchange. Updating this field also updates (overwrites) the discovery_type field for all the listings under this exchange.",
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ],
          "type": "string"
        },
        "icon": {
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "type": "string"
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes."
        },
        "listingCount": {
          "description": "Output only. Number of listings contained in the data exchange.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "SubscribeDataExchangeRequest": {
      "description": "Message for subscribing to a Data Exchange.",
      "id": "SubscribeDataExchangeRequest",
      "type": "object",
      "properties": {
        "subscriberContact": {
          "type": "string",
          "description": "Email of the subscriber."
        },
        "destinationDataset": {
          "description": "Optional. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "subscription": {
          "description": "Required. Name of the subscription to create. e.g. `subscription1`",
          "type": "string"
        },
        "destination": {
          "description": "Required. The parent resource path of the Subscription. e.g. `projects/subscriberproject/locations/us`",
          "type": "string"
        }
      }
    },
    "LinkedResource": {
      "properties": {
        "listing": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Listing for which linked resource is created."
        },
        "linkedDataset": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset"
        },
        "linkedPubsubSubscription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Pub/Sub subscription, e.g. projects/subscriberproject/subscriptions/subscriptions/sub_id"
        }
      },
      "type": "object",
      "id": "LinkedResource",
      "description": "Reference to a linked resource tracked by this Subscription."
    },
    "GetIamPolicyRequest": {
      "properties": {
        "options": {
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`.",
          "$ref": "GetPolicyOptions"
        }
      },
      "type": "object",
      "id": "GetIamPolicyRequest",
      "description": "Request message for `GetIamPolicy` method."
    },
    "ListListingsResponse": {
      "type": "object",
      "description": "Message for response to the list of Listings.",
      "properties": {
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        },
        "listings": {
          "type": "array",
          "description": "The list of Listing.",
          "items": {
            "$ref": "Listing"
          }
        }
      },
      "id": "ListListingsResponse"
    },
    "SubscribeDataExchangeResponse": {
      "description": "Message for response when you subscribe to a Data Exchange.",
      "id": "SubscribeDataExchangeResponse",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "Subscription object created from this subscribe action."
        }
      }
    },
    "RevokeSubscriptionResponse": {
      "properties": {},
      "description": "Message for response when you revoke a subscription. Empty for now.",
      "id": "RevokeSubscriptionResponse",
      "type": "object"
    },
    "ListQueryTemplatesResponse": {
      "properties": {
        "queryTemplates": {
          "type": "array",
          "description": "The list of QueryTemplates.",
          "items": {
            "$ref": "QueryTemplate"
          }
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "description": "Message for response to the list of QueryTemplates.",
      "type": "object",
      "id": "ListQueryTemplatesResponse"
    },
    "MessageTransform": {
      "id": "MessageTransform",
      "properties": {
        "javascriptUdf": {
          "$ref": "JavaScriptUDF",
          "description": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
        },
        "enabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. This field is deprecated, use the `disabled` field to disable transforms."
        },
        "disabled": {
          "description": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`.",
          "type": "boolean"
        },
        "aiInference": {
          "$ref": "AIInference",
          "description": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to."
        },
        "compression": {
          "description": "Optional. Compression/Decompression.",
          "$ref": "Compression"
        }
      },
      "description": "All supported message transforms types.",
      "type": "object"
    },
    "ListSharedResourceSubscriptionsResponse": {
      "type": "object",
      "id": "ListSharedResourceSubscriptionsResponse",
      "properties": {
        "sharedResourceSubscriptions": {
          "description": "The list of subscriptions.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Message for response to the listing of shared resource subscriptions."
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DestinationDataset": {
      "properties": {
        "datasetReference": {
          "$ref": "DestinationDatasetReference",
          "description": "Required. A reference that identifies the destination dataset."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information.",
          "type": "object"
        },
        "description": {
          "description": "Optional. A user-friendly description of the dataset.",
          "type": "string"
        },
        "friendlyName": {
          "description": "Optional. A descriptive name for the dataset.",
          "type": "string"
        },
        "replicaLocations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations.",
          "type": "array"
        },
        "location": {
          "type": "string",
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        }
      },
      "id": "DestinationDataset",
      "description": "Defines the destination bigquery dataset.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "Routine": {
      "id": "Routine",
      "properties": {
        "definitionBody": {
          "description": "Optional. The definition body of the routine.",
          "type": "string"
        },
        "routineType": {
          "description": "Required. The type of routine.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Non-built-in persistent TVF."
          ],
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "TABLE_VALUED_FUNCTION"
          ]
        }
      },
      "type": "object",
      "description": "Represents a bigquery routine."
    },
    "SubscribeListingRequest": {
      "properties": {
        "destinationPubsubSubscription": {
          "$ref": "DestinationPubSubSubscription",
          "description": "Input only. Destination Pub/Sub subscription to create for the subscriber."
        },
        "destinationDataset": {
          "description": "Input only. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        }
      },
      "type": "object",
      "description": "Message for subscribing to a listing.",
      "id": "SubscribeListingRequest"
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
      "type": "object",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. This is set when the subscription is commercialised via Cloud Marketplace.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo"
        }
      },
      "description": "Commercial info metadata for this subscription."
    },
    "AvroConfig": {
      "properties": {
        "useTopicSchema": {
          "description": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists.",
          "type": "boolean"
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary.",
      "id": "AvroConfig"
    },
    "RetryPolicy": {
      "description": "A policy that specifies how Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "properties": {
        "maximumBackoff": {
          "description": "Optional. The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds.",
          "type": "string",
          "format": "google-duration"
        },
        "minimumBackoff": {
          "type": "string",
          "description": "Optional. The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "RetryPolicy"
    },
    "Policy": {
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "auditConfigs": {
          "items": {
            "$ref": "AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "type": "object",
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "SubmitQueryTemplateRequest": {
      "type": "object",
      "properties": {},
      "id": "SubmitQueryTemplateRequest",
      "description": "Message for submitting a QueryTemplate."
    },
    "GetPolicyOptions": {
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "id": "GetPolicyOptions"
    },
    "Compression": {
      "id": "Compression",
      "type": "object",
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm.",
      "properties": {
        "compressionMode": {
          "type": "string",
          "description": "Required. Specifies whether to compress or decompress the message.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ],
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ]
        },
        "compressionAlgorithm": {
          "type": "string",
          "description": "Required. Specifies the compression algorithm to use.",
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ],
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ]
        }
      }
    },
    "ListOrgDataExchangesResponse": {
      "properties": {
        "dataExchanges": {
          "type": "array",
          "items": {
            "$ref": "DataExchange"
          },
          "description": "The list of data exchanges."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "type": "object",
      "id": "ListOrgDataExchangesResponse",
      "description": "Message for response to listing data exchanges in an organization and location."
    },
    "DestinationDatasetReference": {
      "type": "object",
      "id": "DestinationDatasetReference",
      "properties": {
        "datasetId": {
          "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The ID of the project containing this dataset.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of a long-running operation in Analytics Hub."
    },
    "PushConfig": {
      "type": "object",
      "description": "Configuration for a push delivery endpoint.",
      "id": "PushConfig",
      "properties": {
        "pubsubWrapper": {
          "description": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage).",
          "$ref": "PubsubWrapper"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pushEndpoint": {
          "type": "string",
          "description": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`."
        },
        "oidcToken": {
          "$ref": "OidcToken",
          "description": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message."
        },
        "noWrapper": {
          "$ref": "NoWrapper",
          "description": "Optional. When set, the payload to the push endpoint is not wrapped."
        }
      }
    },
    "RefreshSubscriptionResponse": {
      "id": "RefreshSubscriptionResponse",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "The refreshed subscription resource."
        }
      },
      "type": "object",
      "description": "Message for response when you refresh a subscription."
    },
    "Listing": {
      "properties": {
        "displayName": {
          "description": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "primaryContact": {
          "description": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes.",
          "type": "string"
        },
        "commercialInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
          "description": "Output only. Commercial info contains the information about the commercial data products associated with the listing."
        },
        "documentation": {
          "description": "Optional. Documentation describing the listing.",
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. Listing shared asset type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ]
        },
        "bigqueryDataset": {
          "description": "Shared dataset i.e. BigQuery dataset source.",
          "$ref": "BigQueryDatasetSource"
        },
        "discoveryType": {
          "type": "string",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "description": "Optional. Type of discovery of the listing on the discovery page."
        },
        "pubsubTopic": {
          "$ref": "PubSubTopicSource",
          "description": "Pub/Sub topic source."
        },
        "storedProcedureConfig": {
          "description": "Optional. If set, stored procedure configuration will be propagated and enforced on the linked dataset.",
          "$ref": "StoredProcedureConfig"
        },
        "allowOnlyMetadataSharing": {
          "type": "boolean",
          "description": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Subscribable state. Users with dataexchange.listings.subscribe permission can subscribe to this listing."
          ],
          "description": "Output only. Current state of the listing.",
          "type": "string",
          "readOnly": true
        },
        "dataProvider": {
          "$ref": "DataProvider",
          "description": "Optional. Details of the data provider who owns the source data."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`"
        },
        "requestAccess": {
          "description": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "logLinkedDatasetQueryUserEmail": {
          "description": "Optional. By default, false. If true, the Listing has an email sharing mandate enabled.",
          "type": "boolean"
        },
        "categories": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "CATEGORY_OTHERS",
              "CATEGORY_ADVERTISING_AND_MARKETING",
              "CATEGORY_COMMERCE",
              "CATEGORY_CLIMATE_AND_ENVIRONMENT",
              "CATEGORY_DEMOGRAPHICS",
              "CATEGORY_ECONOMICS",
              "CATEGORY_EDUCATION",
              "CATEGORY_ENERGY",
              "CATEGORY_FINANCIAL",
              "CATEGORY_GAMING",
              "CATEGORY_GEOSPATIAL",
              "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE",
              "CATEGORY_MEDIA",
              "CATEGORY_PUBLIC_SECTOR",
              "CATEGORY_RETAIL",
              "CATEGORY_SPORTS",
              "CATEGORY_SCIENCE_AND_RESEARCH",
              "CATEGORY_TRANSPORTATION_AND_LOGISTICS",
              "CATEGORY_TRAVEL_AND_TOURISM",
              "CATEGORY_GOOGLE_EARTH_ENGINE"
            ],
            "type": "string"
          },
          "description": "Optional. Categories of the listing. Up to five categories are allowed."
        },
        "icon": {
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "type": "string"
        },
        "restrictedExportConfig": {
          "$ref": "RestrictedExportConfig",
          "description": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset."
        },
        "publisher": {
          "$ref": "Publisher",
          "description": "Optional. Details of the publisher who owns the listing and who can share the source data."
        }
      },
      "description": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data.",
      "type": "object",
      "id": "Listing"
    },
    "ListDataExchangesResponse": {
      "id": "ListDataExchangesResponse",
      "properties": {
        "dataExchanges": {
          "description": "The list of data exchanges.",
          "items": {
            "$ref": "DataExchange"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to the list of data exchanges."
    },
    "JavaScriptUDF": {
      "type": "object",
      "id": "JavaScriptUDF",
      "description": "User-defined JavaScript function that can transform or filter a Pub/Sub message.",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages."
        },
        "code": {
          "description": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (required) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```",
          "type": "string"
        }
      }
    },
    "ExpirationPolicy": {
      "id": "ExpirationPolicy",
      "type": "object",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string"
        }
      },
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion)."
    },
    "DataProvider": {
      "id": "DataProvider",
      "properties": {
        "primaryContact": {
          "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the data provider."
        }
      },
      "type": "object",
      "description": "Contains details of the data provider."
    },
    "BigQueryConfig": {
      "id": "BigQueryConfig",
      "type": "object",
      "properties": {
        "dropUnknownFields": {
          "type": "boolean",
          "description": "Optional. When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog."
        },
        "table": {
          "description": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}",
          "type": "string"
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "useTopicSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time."
        },
        "useTableSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time."
        }
      },
      "description": "Configuration for a BigQuery subscription."
    },
    "TextConfig": {
      "id": "TextConfig",
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "properties": {},
      "type": "object"
    },
    "DcrExchangeConfig": {
      "description": "Data Clean Room (DCR), used for privacy-safe and secured data sharing.",
      "properties": {
        "singleSelectedResourceSharingRestriction": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If True, this DCR restricts the contributors to sharing only a single resource in a Listing. And no two resources should have the same IDs. So if a contributor adds a view with a conflicting name, the CreateListing API will reject the request. if False, the data contributor can publish an entire dataset (as before). This is not configurable, and by default, all new DCRs will have the restriction set to True."
        },
        "singleLinkedDatasetPerCleanroom": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If True, when subscribing to this DCR, it will create only one linked dataset containing all resources shared within the cleanroom. If False, when subscribing to this DCR, it will create 1 linked dataset per listing. This is not configurable, and by default, all new DCRs will have the restriction set to True."
        }
      },
      "id": "DcrExchangeConfig",
      "type": "object"
    },
    "Subscription": {
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "description": "Output only. Listing shared asset type.",
          "readOnly": true,
          "type": "string"
        },
        "listing": {
          "description": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This subscription is active and the data is accessible.",
            "The data referenced by this subscription is out of date and should be refreshed. This can happen when a data provider adds or removes datasets.",
            "This subscription has been cancelled or revoked and the data is no longer accessible."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_STALE",
            "STATE_INACTIVE"
          ],
          "description": "Output only. Current state of the subscription.",
          "type": "string",
          "readOnly": true
        },
        "subscriberContact": {
          "description": "Output only. Email of the subscriber.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifyTime": {
          "type": "string",
          "description": "Output only. Timestamp when the subscription was last modified.",
          "format": "google-datetime",
          "readOnly": true
        },
        "organizationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Organization of the project this subscription belongs to."
        },
        "organizationDisplayName": {
          "description": "Output only. Display name of the project of this subscription.",
          "readOnly": true,
          "type": "string"
        },
        "dataExchange": {
          "description": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456",
          "type": "string",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp when the subscription was created.",
          "format": "google-datetime"
        },
        "commercialInfo": {
          "description": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing.",
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
          "readOnly": true
        },
        "linkedResources": {
          "items": {
            "$ref": "LinkedResource"
          },
          "description": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE.",
          "type": "array",
          "readOnly": true
        },
        "linkedDatasetMap": {
          "readOnly": true,
          "description": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE.",
          "additionalProperties": {
            "$ref": "LinkedResource"
          },
          "type": "object"
        },
        "destinationDataset": {
          "description": "Optional. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "logLinkedDatasetQueryUserEmail": {
          "description": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets.",
      "id": "Subscription"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
      "properties": {
        "cloudMarketplace": {
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo",
          "description": "Output only. Details of the Marketplace Data Product associated with the Listing."
        }
      },
      "description": "Commercial info contains the information about the commercial data products associated with the listing.",
      "type": "object"
    },
    "QueryTemplate": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Short description of the QueryTemplate. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
        },
        "displayName": {
          "description": "Required. Human-readable display name of the QueryTemplate. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "documentation": {
          "type": "string",
          "description": "Optional. Documentation describing the QueryTemplate."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the QueryTemplate was last modified.",
          "format": "google-datetime"
        },
        "proposer": {
          "description": "Optional. Deprecated: Use `primary_contact` instead. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes.",
          "deprecated": true,
          "type": "string"
        },
        "primaryContact": {
          "description": "Optional. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes.",
          "type": "string"
        },
        "routine": {
          "description": "Optional. The routine associated with the QueryTemplate.",
          "$ref": "Routine"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The QueryTemplate lifecycle state.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The QueryTemplate is in draft state.",
            "The QueryTemplate is in pending state.",
            "The QueryTemplate is in deleted state.",
            "The QueryTemplate is in approved state."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFTED",
            "PENDING",
            "DELETED",
            "APPROVED"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the QueryTemplate was created."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`"
        }
      },
      "type": "object",
      "id": "QueryTemplate",
      "description": "A query template is a container for sharing table-valued functions defined by contributors in a data clean room."
    },
    "RestrictedExportConfig": {
      "id": "RestrictedExportConfig",
      "type": "object",
      "description": "Restricted export config, used to configure restricted export on linked dataset.",
      "properties": {
        "restrictDirectTableAccess": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, restrict direct table access(read api/tabledata.list) on linked table."
        },
        "restrictQueryResult": {
          "type": "boolean",
          "description": "Optional. If true, restrict export of query result derived from restricted linked dataset table."
        },
        "enabled": {
          "description": "Optional. If true, enable restricted export.",
          "type": "boolean"
        }
      }
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "description": "The configuration for logging of each type of permission."
        }
      }
    },
    "RevokeSubscriptionRequest": {
      "type": "object",
      "properties": {
        "revokeCommercial": {
          "description": "Optional. If the subscription is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid revoking commercial subscriptions accidentally.",
          "type": "boolean"
        }
      },
      "description": "Message for revoking a subscription.",
      "id": "RevokeSubscriptionRequest"
    },
    "Publisher": {
      "description": "Contains details of the listing publisher.",
      "id": "Publisher",
      "properties": {
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the listing publisher. Max Length: 1000 bytes."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the listing publisher."
        }
      },
      "type": "object"
    },
    "RestrictedExportPolicy": {
      "type": "object",
      "properties": {
        "restrictDirectTableAccess": {
          "description": "Optional. If true, restrict direct table access (read api/tabledata.list) on linked table.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. If true, enable restricted export."
        },
        "restrictQueryResult": {
          "type": "boolean",
          "description": "Optional. If true, restrict export of query result derived from restricted linked dataset table."
        }
      },
      "id": "RestrictedExportPolicy",
      "description": "Restricted export policy used to configure restricted export on linked dataset."
    },
    "Binding": {
      "type": "object",
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "TestIamPermissionsResponse"
    },
    "AIInference": {
      "description": "Configuration for making inference requests against Vertex AI models.",
      "id": "AIInference",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent]({$universe.dns_names.final_documentation_domain}/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "unstructuredInference": {
          "$ref": "UnstructuredInference",
          "description": "Optional. Requests and responses can be any arbitrary JSON object."
        },
        "endpoint": {
          "type": "string",
          "description": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint."
        }
      }
    },
    "DeadLetterPolicy": {
      "type": "object",
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "properties": {
        "deadLetterTopic": {
          "description": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost.",
          "type": "string"
        },
        "maxDeliveryAttempts": {
          "description": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "DeadLetterPolicy"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo": {
      "properties": {
        "service": {
          "readOnly": true,
          "description": "Output only. Resource name of the commercial service associated with the Marketplace Data Product. e.g. example.com",
          "type": "string"
        },
        "commercialState": {
          "enumDescriptions": [
            "Commercialization is incomplete and cannot be used.",
            "Commercialization has been initialized.",
            "Commercialization is complete and available for use."
          ],
          "readOnly": true,
          "description": "Output only. Commercial state of the Marketplace Data Product.",
          "type": "string",
          "enum": [
            "COMMERCIAL_STATE_UNSPECIFIED",
            "ONBOARDING",
            "ACTIVE"
          ]
        }
      },
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo",
      "description": "Specifies the details of the Marketplace Data Product associated with the Listing.",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "SharingEnvironmentConfig": {
      "type": "object",
      "id": "SharingEnvironmentConfig",
      "properties": {
        "defaultExchangeConfig": {
          "$ref": "DefaultExchangeConfig",
          "description": "Default Analytics Hub data exchange, used for secured data sharing."
        },
        "dcrExchangeConfig": {
          "description": "Data Clean Room (DCR), used for privacy-safe and secured data sharing.",
          "$ref": "DcrExchangeConfig"
        }
      },
      "description": "Sharing environment is a behavior model for sharing data within a data exchange. This option is configurable for a data exchange."
    },
    "CloudStorageConfig": {
      "id": "CloudStorageConfig",
      "description": "Configuration for a Cloud Storage subscription.",
      "type": "object",
      "properties": {
        "filenamePrefix": {
          "type": "string",
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming)."
        },
        "filenameSuffix": {
          "type": "string",
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\"."
        },
        "avroConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format.",
          "$ref": "AvroConfig"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "textConfig": {
          "$ref": "TextConfig",
          "description": "Optional. If set, message data will be written to Cloud Storage in text format."
        },
        "maxDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline."
        },
        "maxBytes": {
          "type": "string",
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit.",
          "format": "int64"
        },
        "maxMessages": {
          "type": "string",
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages.",
          "format": "int64"
        },
        "filenameDatetimeFormat": {
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names).",
          "type": "string"
        },
        "bucket": {
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming).",
          "type": "string"
        }
      }
    },
    "BigQueryDatasetSource": {
      "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
      "id": "BigQueryDatasetSource",
      "properties": {
        "restrictedExportPolicy": {
          "$ref": "RestrictedExportPolicy",
          "description": "Optional. If set, restricted export policy will be propagated and enforced on the linked dataset."
        },
        "replicaLocations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of regions where the publisher has created shared dataset replicas.",
          "type": "array"
        },
        "selectedResources": {
          "type": "array",
          "description": "Optional. Resource in this dataset that is selectively shared. This field is required for data clean room exchanges.",
          "items": {
            "$ref": "SelectedResource"
          }
        },
        "dataset": {
          "type": "string",
          "description": "Optional. Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`"
        },
        "effectiveReplicas": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Server-owned effective state of replicas. Contains both primary and secondary replicas. Each replica includes a system-computed (output-only) state and primary designation.",
          "items": {
            "$ref": "Replica"
          }
        }
      },
      "type": "object"
    },
    "UnstructuredInference": {
      "id": "UnstructuredInference",
      "description": "Configuration for making inferences using arbitrary JSON payloads.",
      "type": "object",
      "properties": {
        "parameters": {
          "type": "object",
          "description": "Optional. A parameters object to be included in each inference request. The parameters object is combined with the data field of the Pub/Sub message to form the inference request.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "description": "The log type that this config enables.",
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "OidcToken": {
      "properties": {
        "serviceAccountEmail": {
          "description": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        }
      },
      "id": "OidcToken",
      "type": "object",
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect)."
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo": {
      "description": "Cloud Marketplace commercial metadata for this subscription.",
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo",
      "type": "object",
      "properties": {
        "order": {
          "type": "string",
          "description": "Resource name of the Marketplace Order."
        }
      }
    },
    "PubsubWrapper": {
      "description": "The payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage).",
      "type": "object",
      "id": "PubsubWrapper",
      "properties": {}
    },
    "BigtableConfig": {
      "description": "Configuration for a Bigtable subscription. The Pub/Sub message will be written to a Bigtable row as follows: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp.",
      "type": "object",
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent]({$universe.dns_names.final_documentation_domain}/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        },
        "table": {
          "description": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`.",
          "type": "string"
        },
        "appProfileId": {
          "description": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing.",
          "type": "string"
        }
      },
      "id": "BigtableConfig"
    },
    "SelectedResource": {
      "properties": {
        "routine": {
          "description": "Optional. Format: For routine: `projects/{projectId}/datasets/{datasetId}/routines/{routineId}` Example:\"projects/test_project/datasets/test_dataset/routines/test_routine\"",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Optional. Format: For table: `projects/{projectId}/datasets/{datasetId}/tables/{tableId}` Example:\"projects/test_project/datasets/test_dataset/tables/test_table\""
        }
      },
      "id": "SelectedResource",
      "description": "Resource in this dataset that is selectively shared.",
      "type": "object"
    },
    "PubSubTopicSource": {
      "description": "Pub/Sub topic source.",
      "type": "object",
      "properties": {
        "dataAffinityRegions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Region hint on where the data might be published. Data affinity regions are modifiable. See https://cloud.google.com/about/locations for full listing of possible Cloud regions."
        },
        "topic": {
          "type": "string",
          "description": "Required. Resource name of the Pub/Sub topic source for this listing. e.g. projects/myproject/topics/topicId"
        }
      },
      "id": "PubSubTopicSource"
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "type": "object",
      "description": "Message for response to the listing of subscriptions.",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "subscriptions": {
          "type": "array",
          "description": "The list of subscriptions.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "RefreshSubscriptionRequest": {
      "description": "Message for refreshing a subscription.",
      "type": "object",
      "id": "RefreshSubscriptionRequest",
      "properties": {}
    },
    "SubscribeListingResponse": {
      "description": "Message for response when you subscribe to a listing.",
      "id": "SubscribeListingResponse",
      "type": "object",
      "properties": {
        "subscription": {
          "description": "Subscription object created from this subscribe action.",
          "$ref": "Subscription"
        }
      }
    },
    "NoWrapper": {
      "id": "NoWrapper",
      "type": "object",
      "description": "Sets the `data` field as the HTTP body for delivery.",
      "properties": {
        "writeMetadata": {
          "type": "boolean",
          "description": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request."
        }
      }
    },
    "Replica": {
      "description": "Represents the state of a replica of a shared dataset. It includes the geographic location of the replica and system-computed, output-only fields indicating its replication state and whether it is the primary replica.",
      "id": "Replica",
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "description": "Output only. The geographic location where the replica resides. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations. Eg. \"us-central1\".",
          "type": "string"
        },
        "primaryState": {
          "description": "Output only. Indicates that this replica is the primary replica.",
          "enum": [
            "PRIMARY_STATE_UNSPECIFIED",
            "PRIMARY_REPLICA"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is the primary replica."
          ]
        },
        "replicaState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is backfilled and ready to use.",
            "The replica is unavailable, does not exist, or has not been backfilled yet."
          ],
          "type": "string",
          "description": "Output only. Assigned by Analytics Hub based on real BigQuery replication state.",
          "enum": [
            "REPLICA_STATE_UNSPECIFIED",
            "READY_TO_USE",
            "UNAVAILABLE"
          ]
        }
      }
    },
    "GooglePubsubV1Subscription": {
      "type": "object",
      "properties": {
        "detached": {
          "type": "boolean",
          "description": "Optional. Indicates whether the subscription is detached from its topic. Detached subscriptions don't receive messages from their topic and don't retain any backlog. `Pull` and `StreamingPull` requests will return FAILED_PRECONDITION. If the subscription is a push subscription, pushes to the endpoint will not be made."
        },
        "expirationPolicy": {
          "description": "Optional. A policy that specifies the conditions for this subscription's expiration. A subscription is considered active as long as any connected subscriber is successfully consuming messages from the subscription or is issuing operations on the subscription. If `expiration_policy` is not set, a *default policy* with `ttl` of 31 days will be used. The minimum allowed value for `expiration_policy.ttl` is 1 day. If `expiration_policy` is set, but `expiration_policy.ttl` is not set, the subscription never expires.",
          "$ref": "ExpirationPolicy"
        },
        "messageTransforms": {
          "type": "array",
          "description": "Optional. Transforms to be applied to messages before they are delivered to subscribers. Transforms are applied in the order specified.",
          "items": {
            "$ref": "MessageTransform"
          }
        },
        "ackDeadlineSeconds": {
          "description": "Optional. The approximate amount of time (on a best-effort basis) Pub/Sub waits for the subscriber to acknowledge receipt before resending the message. In the interval after the message is delivered and before it is acknowledged, it is considered to be _outstanding_. During that time period, the message will not be redelivered (on a best-effort basis). For pull subscriptions, this value is used as the initial value for the ack deadline. To override this value for a given message, call `ModifyAckDeadline` with the corresponding `ack_id` if using non-streaming pull or send the `ack_id` in a `StreamingModifyAckDeadlineRequest` if using streaming pull. The minimum custom deadline you can specify is 10 seconds. The maximum custom deadline you can specify is 600 seconds (10 minutes). If this parameter is 0, a default value of 10 seconds is used. For push delivery, this value is also used to set the request timeout for the call to the push endpoint. If the subscriber never acknowledges the message, the Pub/Sub system will eventually redeliver the message.",
          "type": "integer",
          "format": "int32"
        },
        "bigqueryConfig": {
          "description": "Optional. If delivery to BigQuery is used with this subscription, this field is used to configure it.",
          "$ref": "BigQueryConfig"
        },
        "retainAckedMessages": {
          "type": "boolean",
          "description": "Optional. Indicates whether to retain acknowledged messages. If true, then messages are not expunged from the subscription's backlog, even if they are acknowledged, until they fall out of the `message_retention_duration` window. This must be true if you would like to [`Seek` to a timestamp] (https://cloud.google.com/pubsub/docs/replay-overview#seek_to_a_time) in the past to replay previously-acknowledged messages."
        },
        "enableExactlyOnceDelivery": {
          "description": "Optional. If true, Pub/Sub provides the following guarantees for the delivery of a message with a given value of `message_id` on this subscription: * The message sent to a subscriber is guaranteed not to be resent before the message's acknowledgement deadline expires. * An acknowledged message will not be resent to a subscriber. Note that subscribers may still receive multiple copies of a message when `enable_exactly_once_delivery` is true if the message was published multiple times by a publisher client. These copies are considered distinct by Pub/Sub and have distinct `message_id` values.",
          "type": "boolean"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" See https://{$universe.dns_names.final_documentation_domain}/pubsub/docs/tags for more information on using tags with Pub/Sub resources.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Required. Identifier. Name of the subscription. Format is `projects/{project}/subscriptions/{sub}`."
        },
        "labels": {
          "type": "object",
          "description": "Optional. See [Creating and managing labels](https://cloud.google.com/pubsub/docs/labels).",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deadLetterPolicy": {
          "$ref": "DeadLetterPolicy",
          "description": "Optional. A policy that specifies the conditions for dead lettering messages in this subscription. If dead_letter_policy is not set, dead lettering is disabled. The Pub/Sub service account associated with this subscriptions's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Acknowledge() messages on this subscription."
        },
        "messageRetentionDuration": {
          "description": "Optional. How long to retain unacknowledged messages in the subscription's backlog, from the moment a message is published. If `retain_acked_messages` is true, then this also configures the retention of acknowledged messages, and thus configures how far back in time a `Seek` can be done. Defaults to 7 days. Cannot be more than 31 days or less than 10 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "filter": {
          "description": "Optional. An expression written in the Pub/Sub [filter language](https://cloud.google.com/pubsub/docs/filtering). If non-empty, then only `PubsubMessage`s whose `attributes` field matches the filter are delivered on this subscription. If empty, then no messages are filtered out.",
          "type": "string"
        },
        "retryPolicy": {
          "$ref": "RetryPolicy",
          "description": "Optional. A policy that specifies how Pub/Sub retries message delivery for this subscription. If not set, the default retry policy is applied. This generally implies that messages will be retried as soon as possible for healthy subscribers. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message."
        },
        "bigtableConfig": {
          "$ref": "BigtableConfig",
          "description": "Optional. If delivery to Bigtable is used with this subscription, this field is used to configure it."
        },
        "enableMessageOrdering": {
          "description": "Optional. If true, messages published with the same `ordering_key` in `PubsubMessage` will be delivered to the subscribers in the order in which they are received by the Pub/Sub system. Otherwise, they may be delivered in any order.",
          "type": "boolean"
        },
        "pushConfig": {
          "$ref": "PushConfig",
          "description": "Optional. If push delivery is used with this subscription, this field is used to configure it."
        },
        "cloudStorageConfig": {
          "description": "Optional. If delivery to Google Cloud Storage is used with this subscription, this field is used to configure it.",
          "$ref": "CloudStorageConfig"
        }
      },
      "description": "Defines the destination Pub/Sub subscription. If none of `push_config`, `bigquery_config`, `cloud_storage_config`, `bigtable_config`, `pubsub_export_config`, or `pubsublite_export_config` is set, then the subscriber will pull and ack messages using API methods. At most one of these fields may be set.",
      "id": "GooglePubsubV1Subscription"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "id": "Expr"
    },
    "ApproveQueryTemplateRequest": {
      "type": "object",
      "properties": {},
      "description": "Message for approving a QueryTemplate.",
      "id": "ApproveQueryTemplateRequest"
    },
    "StoredProcedureConfig": {
      "properties": {
        "enabled": {
          "description": "Optional. If true, enable sharing of stored procedure.",
          "type": "boolean"
        },
        "allowedStoredProcedureTypes": {
          "description": "Output only. Types of stored procedure supported to share.",
          "readOnly": true,
          "items": {
            "enum": [
              "STORED_PROCEDURE_TYPE_UNSPECIFIED",
              "SQL_PROCEDURE"
            ],
            "enumDescriptions": [
              "Default value. This value is unused.",
              "SQL stored procedure."
            ],
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Stored procedure configuration, used to configure stored procedure sharing on linked dataset.",
      "id": "StoredProcedureConfig"
    }
  },
  "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
  "parameters": {
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260824",
  "resources": {
    "projects": {
      "resources": {
[...]
