{
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://analyticshub.googleapis.com/",
  "servicePath": "",
  "revision": "20260926",
  "batchPath": "batch",
  "title": "Analytics Hub API",
  "canonicalName": "Analytics Hub",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "resources": {
                "queryTemplates": {
                  "methods": {
                    "approve": {
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.approve",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "ApproveQueryTemplateRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:approve",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Approves a query template.",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:approve",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true,
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "httpMethod": "GET",
                      "description": "Gets a QueryTemplate",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}"
                    },
                    "patch": {
                      "description": "Updates an existing QueryTemplate",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true,
                          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Optional. Field mask specifies the fields to update in the query template resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "format": "google-fieldmask",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.patch"
                    },
                    "create": {
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "description": "Creates a new QueryTemplate",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "parameters": {
                        "queryTemplateId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID of the QueryTemplate to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myQueryTemplate`.",
                          "required": true
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/queryTemplates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a query template.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.delete"
                    },
                    "submit": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "SubmitQueryTemplateRequest"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.submit",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "description": "Submits a query template for approval.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:submit",
                      "path": "v1/{+name}:submit",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListQueryTemplatesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token, returned by a previous call, to request the next page of results.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource path of the QueryTemplates. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.list",
                      "description": "Lists all QueryTemplates in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "path": "v1/{+parent}/queryTemplates"
                    }
                  }
                },
                "listings": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "httpMethod": "GET",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.list",
                      "path": "v1/{+parent}/listings",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token, returned by a previous call, to request the next page of results.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all listings in a given project and location.",
                      "response": {
                        "$ref": "ListListingsResponse"
                      }
                    },
                    "listSubscriptions": {
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "location": "path",
                          "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                          "type": "string"
                        },
                        "includeDeletedSubscriptions": {
                          "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                          "location": "query",
                          "type": "boolean"
                        },
                        "pageToken": {
                          "description": "Page token, returned by a previous call.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of results to return in a single response page.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:listSubscriptions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                      "response": {
                        "$ref": "ListSharedResourceSubscriptionsResponse"
                      },
                      "path": "v1/{+resource}:listSubscriptions",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.listSubscriptions"
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "Listing"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Field mask specifies the fields to update in the listing resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.patch",
                      "response": {
                        "$ref": "Listing"
                      },
                      "description": "Updates an existing listing."
                    },
                    "create": {
                      "id": "analyticshub.projects.locations.dataExchanges.listings.create",
                      "path": "v1/{+parent}/listings",
                      "request": {
                        "$ref": "Listing"
                      },
                      "response": {
                        "$ref": "Listing"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "description": "Creates a new listing.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "listingId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The ID of the listing to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes."
                        },
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "get": {
                      "description": "Gets the details of a listing.",
                      "response": {
                        "$ref": "Listing"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "setIamPolicy": {
                      "path": "v1/{+resource}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.setIamPolicy",
                      "httpMethod": "POST",
                      "description": "Sets the IAM policy.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:setIamPolicy"
                    },
                    "subscribe": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:subscribe",
                      "description": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.subscribe",
                      "path": "v1/{+name}:subscribe",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "SubscribeListingRequest"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Resource name of the listing that you want to subscribe to. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "SubscribeListingResponse"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes a listing.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "parameters": {
                        "deleteCommercial": {
                          "type": "boolean",
                          "description": "Optional. If the listing is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid deleting commercial listings accidentally.",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.delete",
                      "httpMethod": "DELETE"
                    },
                    "testIamPermissions": {
                      "path": "v1/{+resource}:testIamPermissions",
                      "description": "Returns the permissions that a caller has.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.testIamPermissions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "getIamPolicy": {
                      "id": "analyticshub.projects.locations.dataExchanges.listings.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "path": "v1/{+resource}:getIamPolicy",
                      "description": "Gets the IAM policy.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "description": "Gets the IAM policy.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.getIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "testIamPermissions": {
                  "id": "analyticshub.projects.locations.dataExchanges.testIamPermissions",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1/{+resource}:testIamPermissions",
                  "description": "Returns the permissions that a caller has."
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all data exchanges in a given project and location.",
                  "response": {
                    "$ref": "ListDataExchangesResponse"
                  },
                  "path": "v1/{+parent}/dataExchanges",
                  "id": "analyticshub.projects.locations.dataExchanges.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource path of the data exchanges. e.g. `projects/myproject/locations/us`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call, to request the next page of results.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The full name of the data exchange resource that you want to delete. For example, `projects/myproject/locations/us/dataExchanges/123`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes an existing data exchange.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "request": {
                    "$ref": "DataExchange"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing data exchange.",
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path",
                      "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`."
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask specifies the fields to update in the data exchange resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.patch"
                },
                "setIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Sets the IAM policy.",
                  "id": "analyticshub.projects.locations.dataExchanges.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "subscribe": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:subscribe",
                  "description": "Creates a Subscription to a Data Clean Room. This is a long-running operation as it will create one or more linked datasets. Throws a Bad Request error if the Data Exchange does not contain any listings.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the Data Exchange. e.g. `projects/publisherproject/locations/us/dataExchanges/123`",
                      "type": "string"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.subscribe",
                  "request": {
                    "$ref": "SubscribeDataExchangeRequest"
                  },
                  "path": "v1/{+name}:subscribe",
                  "httpMethod": "POST"
                },
                "listSubscriptions": {
                  "path": "v1/{+resource}:listSubscriptions",
                  "response": {
                    "$ref": "ListSharedResourceSubscriptionsResponse"
                  },
                  "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                  "id": "analyticshub.projects.locations.dataExchanges.listSubscriptions",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of results to return in a single response page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "includeDeletedSubscriptions": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion)."
                    },
                    "resource": {
                      "required": true,
                      "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token, returned by a previous call.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:listSubscriptions"
                },
                "get": {
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "analyticshub.projects.locations.dataExchanges.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "description": "Required. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "description": "Gets the details of a data exchange."
                },
                "create": {
                  "id": "analyticshub.projects.locations.dataExchanges.create",
                  "description": "Creates a new data exchange.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource path of the data exchange. e.g. `projects/myproject/locations/us`.",
                      "type": "string",
                      "location": "path"
                    },
                    "dataExchangeId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID of the data exchange. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/dataExchanges",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "request": {
                    "$ref": "DataExchange"
                  }
                }
              }
            },
            "subscriptions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/subscriptions",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource path of the subscription. e.g. projects/myproject/locations/us"
                    },
                    "filter": {
                      "location": "query",
                      "description": "An expression for filtering the results of the request. Eligible fields for filtering are: + `listing` + `data_exchange` Alternatively, a literal wrapped in double quotes may be provided. This will be checked for an exact match against both fields above. In all cases, the full Data Exchange or Listing resource name must be provided. Some example of using filters: + data_exchange=\"projects/myproject/locations/us/dataExchanges/123\" + listing=\"projects/123/locations/us/dataExchanges/456/listings/789\" + \"projects/myproject/locations/us/dataExchanges/123\"",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "analyticshub.projects.locations.subscriptions.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions",
                  "description": "Lists all subscriptions in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets the details of a Subscription.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the subscription. e.g. projects/123/locations/us/subscriptions/456",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "id": "analyticshub.projects.locations.subscriptions.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "description": "Deletes a subscription.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the subscription to delete. e.g. projects/123/locations/us/subscriptions/456",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "analyticshub.projects.locations.subscriptions.delete"
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "analyticshub.projects.locations.subscriptions.getIamPolicy",
                  "httpMethod": "POST",
                  "description": "Gets the IAM policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "refresh": {
                  "request": {
                    "$ref": "RefreshSubscriptionRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "description": "Required. Resource name of the Subscription to refresh. e.g. `projects/subscriberproject/locations/us/subscriptions/123`"
                    }
                  },
                  "description": "Refreshes a Subscription to a Data Exchange. A Data Exchange can become stale when a publisher adds or removes data. This is a long-running operation as it may create many linked datasets.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:refresh",
                  "httpMethod": "POST",
                  "id": "analyticshub.projects.locations.subscriptions.refresh",
                  "path": "v1/{+name}:refresh",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "description": "Sets the IAM policy.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "analyticshub.projects.locations.subscriptions.setIamPolicy",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "revoke": {
                  "path": "v1/{+name}:revoke",
                  "response": {
                    "$ref": "RevokeSubscriptionResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "description": "Required. Resource name of the subscription to revoke. e.g. projects/123/locations/us/subscriptions/456"
                    }
                  },
                  "id": "analyticshub.projects.locations.subscriptions.revoke",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:revoke",
                  "request": {
                    "$ref": "RevokeSubscriptionRequest"
                  },
                  "description": "Revokes a given subscription.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dataExchanges",
                  "id": "analyticshub.organizations.locations.dataExchanges.list",
                  "path": "v1/{+organization}/dataExchanges",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Page token, returned by a previous call, to request the next page of results."
                    },
                    "organization": {
                      "description": "Required. The organization resource path of the projects containing DataExchanges. e.g. `organizations/myorg/locations/us`.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "organization"
                  ],
                  "response": {
                    "$ref": "ListOrgDataExchangesResponse"
                  },
                  "description": "Lists all data exchanges from projects in a given organization and location."
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "schemas": {
    "SubscribeListingResponse": {
      "type": "object",
      "description": "Message for response when you subscribe to a listing.",
      "properties": {
        "subscription": {
          "description": "Subscription object created from this subscribe action.",
          "$ref": "Subscription"
        }
      },
      "id": "SubscribeListingResponse"
    },
    "DataProvider": {
      "description": "Contains details of the data provider.",
      "id": "DataProvider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the data provider."
        },
        "primaryContact": {
          "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeadLetterPolicy": {
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "type": "object",
      "properties": {
        "deadLetterTopic": {
          "type": "string",
          "description": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost."
        },
        "maxDeliveryAttempts": {
          "description": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DeadLetterPolicy"
    },
    "ColumnFamilyMapping": {
      "type": "object",
      "description": "Configuration for writing a Pub/Sub message to a Bigtable row with a user-defined key and writing to column families. If this field is set: - The subscription messages must be formatted as JSON. - The row key mapping is configured in the `key_definition` section. - The top-level fields will be written either: - By default, they will be written to the `data` column family with the field name as the column qualifier. - But if the field name matches an existing column family (except for the default `data` column), then that field will be written to that column family, either as a scalar or its next level nested fields if it's a JSON object. - The cell timestamp will be the message publish timestamp. If the field is not set, the default behavior is to write: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp.",
      "properties": {
        "rowKeySchema": {
          "$ref": "RowKeySchema",
          "description": "Optional. If set, the row key is constructed from the field names of the table's [structured row key](https://cloud.google.com/bigtable/docs/manage-row-key-schemas). Note that if the field is nullable in the structured row key, then it need not be present in the message; `null` will be used instead."
        },
        "delimitedKey": {
          "$ref": "DelimitedKey",
          "description": "Optional. If set, the row key is constructed from the given key fields and delimiter. All key fields must be present in the message; otherwise, the message remains in the subscription backlog."
        }
      },
      "id": "ColumnFamilyMapping"
    },
    "ListSubscriptionsResponse": {
      "id": "ListSubscriptionsResponse",
      "description": "Message for response to the listing of subscriptions.",
      "type": "object",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The list of subscriptions."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      }
    },
    "Compression": {
      "id": "Compression",
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm.",
      "type": "object",
      "properties": {
        "compressionMode": {
          "description": "Required. Specifies whether to compress or decompress the message.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ],
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ],
          "type": "string"
        },
        "compressionAlgorithm": {
          "type": "string",
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ],
          "description": "Required. Specifies the compression algorithm to use.",
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ]
        }
      }
    },
    "BigQueryConfig": {
      "id": "BigQueryConfig",
      "properties": {
        "dropUnknownFields": {
          "type": "boolean",
          "description": "Optional. When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog."
        },
        "useTableSchema": {
          "description": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time.",
          "type": "boolean"
        },
        "table": {
          "description": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}",
          "type": "string"
        },
        "useTopicSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time."
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for a BigQuery subscription."
    },
    "RevokeSubscriptionResponse": {
      "type": "object",
      "properties": {},
      "id": "RevokeSubscriptionResponse",
      "description": "Message for response when you revoke a subscription. Empty for now."
    },
    "SubmitQueryTemplateRequest": {
      "description": "Message for submitting a QueryTemplate.",
      "properties": {},
      "id": "SubmitQueryTemplateRequest",
      "type": "object"
    },
    "EncryptionConfig": {
      "description": "Encryption configuration for the query template.",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Optional. The KMS key used to encrypt the query template. Format: `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}`"
        }
      },
      "id": "EncryptionConfig",
      "type": "object"
    },
    "Publisher": {
      "properties": {
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the listing publisher. Max Length: 1000 bytes."
        },
        "name": {
          "description": "Optional. Name of the listing publisher.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains details of the listing publisher.",
      "id": "Publisher"
    },
    "BigQueryDatasetSource": {
      "type": "object",
      "id": "BigQueryDatasetSource",
      "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
      "properties": {
        "selectedResources": {
          "description": "Optional. Resource in this dataset that is selectively shared. This field is required for data clean room exchanges.",
          "items": {
            "$ref": "SelectedResource"
          },
          "type": "array"
        },
        "restrictedExportPolicy": {
          "$ref": "RestrictedExportPolicy",
          "description": "Optional. If set, restricted export policy will be propagated and enforced on the linked dataset."
        },
        "dataset": {
          "type": "string",
          "description": "Optional. Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`"
        },
        "effectiveReplicas": {
          "description": "Output only. Server-owned effective state of replicas. Contains both primary and secondary replicas. Each replica includes a system-computed (output-only) state and primary designation.",
          "items": {
            "$ref": "Replica"
          },
          "type": "array",
          "readOnly": true
        },
        "replicaLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of regions where the publisher has created shared dataset replicas."
        }
      }
    },
    "OidcToken": {
      "properties": {
        "audience": {
          "description": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        }
      },
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect).",
      "type": "object",
      "id": "OidcToken"
    },
    "SubscribeDataExchangeRequest": {
      "properties": {
        "subscriberContact": {
          "description": "Email of the subscriber.",
          "type": "string"
        },
        "destinationDataset": {
          "description": "Optional. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "destination": {
          "type": "string",
          "description": "Required. The parent resource path of the Subscription. e.g. `projects/subscriberproject/locations/us`"
        },
        "subscription": {
          "type": "string",
          "description": "Required. Name of the subscription to create. e.g. `subscription1`"
        }
      },
      "id": "SubscribeDataExchangeRequest",
      "description": "Message for subscribing to a Data Exchange.",
      "type": "object"
    },
    "ExpirationPolicy": {
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "type": "object",
      "properties": {
        "ttl": {
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "ExpirationPolicy"
    },
    "CloudStorageConfig": {
      "type": "object",
      "properties": {
        "filenameSuffix": {
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\".",
          "type": "string"
        },
        "textConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in text format.",
          "$ref": "TextConfig"
        },
        "filenamePrefix": {
          "type": "string",
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming)."
        },
        "maxMessages": {
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages.",
          "type": "string",
          "format": "int64"
        },
        "bucket": {
          "type": "string",
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming)."
        },
        "avroConfig": {
          "$ref": "AvroConfig",
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format."
        },
        "filenameDatetimeFormat": {
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names).",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "maxDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline."
        },
        "maxBytes": {
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CloudStorageConfig",
      "description": "Configuration for a Cloud Storage subscription."
    },
    "RefreshSubscriptionRequest": {
      "type": "object",
      "description": "Message for refreshing a subscription.",
      "id": "RefreshSubscriptionRequest",
      "properties": {}
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "SubscribeListingRequest": {
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "Input only. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "destinationPubsubSubscription": {
          "$ref": "DestinationPubSubSubscription",
          "description": "Input only. Destination Pub/Sub subscription to create for the subscriber."
        }
      },
      "description": "Message for subscribing to a listing.",
      "id": "SubscribeListingRequest"
    },
    "ApproveQueryTemplateRequest": {
      "properties": {},
      "description": "Message for approving a QueryTemplate.",
      "type": "object",
      "id": "ApproveQueryTemplateRequest"
    },
    "ListOrgDataExchangesResponse": {
      "description": "Message for response to listing data exchanges in an organization and location.",
      "type": "object",
      "id": "ListOrgDataExchangesResponse",
      "properties": {
        "dataExchanges": {
          "description": "The list of data exchanges.",
          "items": {
            "$ref": "DataExchange"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      }
    },
    "Replica": {
      "type": "object",
      "properties": {
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The geographic location where the replica resides. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations. Eg. \"us-central1\"."
        },
        "replicaState": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is backfilled and ready to use.",
            "The replica is unavailable, does not exist, or has not been backfilled yet."
          ],
          "enum": [
            "REPLICA_STATE_UNSPECIFIED",
            "READY_TO_USE",
            "UNAVAILABLE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Assigned by Analytics Hub based on real BigQuery replication state."
        },
        "primaryState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "PRIMARY_STATE_UNSPECIFIED",
            "PRIMARY_REPLICA"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The replica is the primary replica."
          ],
          "description": "Output only. Indicates that this replica is the primary replica."
        }
      },
      "description": "Represents the state of a replica of a shared dataset. It includes the geographic location of the replica and system-computed, output-only fields indicating its replication state and whether it is the primary replica.",
      "id": "Replica"
    },
    "Routine": {
      "properties": {
        "routineType": {
          "description": "Required. The type of routine.",
          "enumDescriptions": [
            "Default value.",
            "Non-built-in persistent TVF."
          ],
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "TABLE_VALUED_FUNCTION"
          ],
          "type": "string"
        },
        "definitionBody": {
          "description": "Optional. The definition body of the routine.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Routine",
      "description": "Represents a bigquery routine."
    },
    "RetryPolicy": {
      "properties": {
        "maximumBackoff": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The maximum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 600 seconds."
        },
        "minimumBackoff": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The minimum delay between consecutive deliveries of a given message. Value should be between 0 and 600 seconds. Defaults to 10 seconds."
        }
      },
      "description": "A policy that specifies how Pub/Sub retries message delivery. Retry delay will be exponential based on provided minimum and maximum backoffs. https://en.wikipedia.org/wiki/Exponential_backoff. RetryPolicy will be triggered on NACKs or acknowledgement deadline exceeded events for a given message. Retry Policy is implemented on a best effort basis. At times, the delay between consecutive deliveries may not match the configuration. That is, delay can be more or less than configured backoff.",
      "type": "object",
      "id": "RetryPolicy"
    },
    "ListDataExchangesResponse": {
      "id": "ListDataExchangesResponse",
      "description": "Message for response to the list of data exchanges.",
      "properties": {
        "dataExchanges": {
          "items": {
            "$ref": "DataExchange"
          },
          "type": "array",
          "description": "The list of data exchanges."
        },
        "nextPageToken": {
          "description": "A token to request the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object"
    },
    "DestinationPubSubSubscription": {
      "id": "DestinationPubSubSubscription",
      "type": "object",
      "properties": {
        "pubsubSubscription": {
          "description": "Required. Destination Pub/Sub subscription resource.",
          "$ref": "GooglePubsubV1Subscription"
        }
      },
      "description": "Defines the destination Pub/Sub subscription."
    },
    "ListListingsResponse": {
      "type": "object",
      "description": "Message for response to the list of Listings.",
      "id": "ListListingsResponse",
      "properties": {
        "listings": {
          "description": "The list of Listing.",
          "items": {
            "$ref": "Listing"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      }
    },
    "AIInference": {
      "description": "Configuration for making inference requests against Vertex AI models.",
      "id": "AIInference",
      "properties": {
        "endpoint": {
          "description": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used.",
          "type": "string"
        },
        "unstructuredInference": {
          "description": "Optional. Requests and responses can be any arbitrary JSON object.",
          "$ref": "UnstructuredInference"
        }
      },
      "type": "object"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
      "description": "Commercial info contains the information about the commercial data products associated with the listing.",
      "type": "object",
      "properties": {
        "cloudMarketplace": {
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo",
          "description": "Output only. Details of the Marketplace Data Product associated with the Listing.",
          "readOnly": true
        }
      }
    },
    "TextConfig": {
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "type": "object",
      "id": "TextConfig",
      "properties": {}
    },
    "MessageTransform": {
      "description": "All supported message transforms types.",
      "type": "object",
      "id": "MessageTransform",
      "properties": {
        "enabled": {
          "description": "Optional. This field is deprecated, use the `disabled` field to disable transforms.",
          "type": "boolean",
          "deprecated": true
        },
        "disabled": {
          "description": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`.",
          "type": "boolean"
        },
        "compression": {
          "$ref": "Compression",
          "description": "Optional. Compression/Decompression."
        },
        "aiInference": {
          "description": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to.",
          "$ref": "AIInference"
        },
        "javascriptUdf": {
          "$ref": "JavaScriptUDF",
          "description": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "AuditConfig": {
      "id": "AuditConfig",
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object"
    },
    "LinkedResource": {
      "description": "Reference to a linked resource tracked by this Subscription.",
      "id": "LinkedResource",
      "type": "object",
      "properties": {
        "linkedPubsubSubscription": {
          "description": "Output only. Name of the Pub/Sub subscription, e.g. projects/subscriberproject/subscriptions/subscriptions/sub_id",
          "type": "string",
          "readOnly": true
        },
        "listing": {
          "description": "Output only. Listing for which linked resource is created.",
          "readOnly": true,
          "type": "string"
        },
        "linkedDataset": {
          "description": "Output only. Name of the linked dataset, e.g. projects/subscriberproject/datasets/linked_dataset",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "Subscription": {
      "type": "object",
      "id": "Subscription",
      "properties": {
        "resourceType": {
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "readOnly": true,
          "description": "Output only. Listing shared asset type.",
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "type": "string"
        },
        "listing": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of the source Listing. e.g. projects/123/locations/us/dataExchanges/456/listings/789"
        },
        "logLinkedDatasetQueryUserEmail": {
          "description": "Output only. By default, false. If true, the Subscriber agreed to the email sharing mandate that is enabled for DataExchange/Listing.",
          "readOnly": true,
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "This subscription is active and the data is accessible.",
            "The data referenced by this subscription is out of date and should be refreshed. This can happen when a data provider adds or removes datasets.",
            "This subscription has been cancelled or revoked and the data is no longer accessible."
          ],
          "description": "Output only. Current state of the subscription.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_ACTIVE",
            "STATE_STALE",
            "STATE_INACTIVE"
          ]
        },
        "creationTime": {
          "description": "Output only. Timestamp when the subscription was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "organizationId": {
          "description": "Output only. Organization of the project this subscription belongs to.",
          "type": "string",
          "readOnly": true
        },
        "organizationDisplayName": {
          "readOnly": true,
          "description": "Output only. Display name of the project of this subscription.",
          "type": "string"
        },
        "linkedResources": {
          "description": "Output only. Linked resources created in the subscription. Only contains values if state = STATE_ACTIVE.",
          "items": {
            "$ref": "LinkedResource"
          },
          "readOnly": true,
          "type": "array"
        },
        "linkedDatasetMap": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Map of listing resource names to associated linked resource, e.g. projects/123/locations/us/dataExchanges/456/listings/789 -> projects/123/datasets/my_dataset For listing-level subscriptions, this is a map of size 1. Only contains values if state == STATE_ACTIVE.",
          "additionalProperties": {
            "$ref": "LinkedResource"
          }
        },
        "lastModifyTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the subscription was last modified.",
          "type": "string",
          "readOnly": true
        },
        "destinationDataset": {
          "description": "Optional. BigQuery destination dataset to create for the subscriber.",
          "$ref": "DestinationDataset"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the subscription. e.g. `projects/myproject/locations/us/subscriptions/123`."
        },
        "commercialInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
          "description": "Output only. This is set if this is a commercial subscription i.e. if this subscription was created from subscribing to a commercial listing."
        },
        "dataExchange": {
          "description": "Output only. Resource name of the source Data Exchange. e.g. projects/123/locations/us/dataExchanges/456",
          "type": "string",
          "readOnly": true
        },
        "subscriberContact": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email of the subscriber."
        }
      },
      "description": "A subscription represents a subscribers' access to a particular set of published data. It contains references to associated listings, data exchanges, and linked datasets."
    },
    "JavaScriptUDF": {
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages."
        },
        "code": {
[...]
