{
  "description": "Exchange data and analytics assets securely and efficiently.",
  "revision": "20260914",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "id": "analyticshub:v1",
  "baseUrl": "https://analyticshub.googleapis.com/",
  "mtlsRootUrl": "https://analyticshub.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/bigquery/docs/analytics-hub-introduction",
  "protocol": "rest",
  "title": "Analytics Hub API",
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "ownerName": "Google",
  "rootUrl": "https://analyticshub.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "name": "analyticshub",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "description": "Required. The full name of the data exchange resource that you want to delete. For example, `projects/myproject/locations/us/dataExchanges/123`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.delete",
                  "description": "Deletes an existing data exchange.",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listSubscriptions": {
                  "response": {
                    "$ref": "ListSharedResourceSubscriptionsResponse"
                  },
                  "parameters": {
                    "includeDeletedSubscriptions": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion)."
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to return in a single response page.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "analyticshub.projects.locations.dataExchanges.listSubscriptions",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:listSubscriptions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                  "path": "v1/{+resource}:listSubscriptions"
                },
                "testIamPermissions": {
                  "description": "Returns the permissions that a caller has.",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "path": "v1/{+resource}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.get",
                  "httpMethod": "GET",
                  "description": "Gets the details of a data exchange.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}"
                },
                "getIamPolicy": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the IAM policy.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:getIamPolicy",
                  "id": "analyticshub.projects.locations.dataExchanges.getIamPolicy"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new data exchange.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "parameters": {
                    "dataExchangeId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID of the data exchange. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource path of the data exchange. e.g. `projects/myproject/locations/us`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "request": {
                    "$ref": "DataExchange"
                  },
                  "path": "v1/{+parent}/dataExchanges",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.create"
                },
                "setIamPolicy": {
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "analyticshub.projects.locations.dataExchanges.setIamPolicy",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Sets the IAM policy.",
                  "response": {
                    "$ref": "Policy"
                  }
                },
                "subscribe": {
                  "id": "analyticshub.projects.locations.dataExchanges.subscribe",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Resource name of the Data Exchange. e.g. `projects/publisherproject/locations/us/dataExchanges/123`",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:subscribe",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SubscribeDataExchangeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}:subscribe",
                  "description": "Creates a Subscription to a Data Clean Room. This is a long-running operation as it will create one or more linked datasets. Throws a Bad Request error if the Data Exchange does not contain any listings."
                },
                "patch": {
                  "id": "analyticshub.projects.locations.dataExchanges.patch",
                  "description": "Updates an existing data exchange.",
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask specifies the fields to update in the data exchange resource. The fields specified in the `updateMask` are relative to the resource and are not a full request."
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`."
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "request": {
                    "$ref": "DataExchange"
                  }
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call, to request the next page of results.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource path of the data exchanges. e.g. `projects/myproject/locations/us`.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                    }
                  },
                  "description": "Lists all data exchanges in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "path": "v1/{+parent}/dataExchanges",
                  "httpMethod": "GET",
                  "id": "analyticshub.projects.locations.dataExchanges.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListDataExchangesResponse"
                  }
                }
              },
              "resources": {
                "queryTemplates": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "path": "v1/{+parent}/queryTemplates",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource path of the QueryTemplates. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Page token, returned by a previous call, to request the next page of results."
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists all QueryTemplates in a given project and location.",
                      "response": {
                        "$ref": "ListQueryTemplatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "description": "Deletes a query template.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}"
                    },
                    "submit": {
                      "request": {
                        "$ref": "SubmitQueryTemplateRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:submit",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:submit",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "description": "Submits a query template for approval.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.submit"
                    },
                    "approve": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:approve",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:approve",
                      "description": "Approves a query template.",
                      "request": {
                        "$ref": "ApproveQueryTemplateRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "location": "path",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.approve",
                      "response": {
                        "$ref": "QueryTemplate"
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myQueryTemplate`.",
                          "location": "path"
                        },
                        "queryTemplateId": {
                          "description": "Required. The ID of the QueryTemplate to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new QueryTemplate",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.create",
                      "path": "v1/{+parent}/queryTemplates"
                    },
                    "patch": {
                      "description": "Updates an existing QueryTemplate",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Optional. Field mask specifies the fields to update in the query template resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "location": "query"
                        }
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "description": "Gets a QueryTemplate",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.get"
                    }
                  }
                },
                "listings": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "deleteCommercial": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If the listing is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid deleting commercial listings accidentally."
                        },
                        "name": {
                          "location": "path",
                          "description": "Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a listing.",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.delete",
                      "response": {
                        "$ref": "Empty"
                      }
                    },
                    "testIamPermissions": {
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.testIamPermissions",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "required": true
                        }
                      },
                      "description": "Returns the permissions that a caller has.",
                      "path": "v1/{+resource}:testIamPermissions",
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "subscribe": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Resource name of the listing that you want to subscribe to. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "SubscribeListingRequest"
                      },
                      "description": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:subscribe",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:subscribe",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.subscribe",
                      "response": {
                        "$ref": "SubscribeListingResponse"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "Required. Field mask specifies the fields to update in the listing resource. The fields specified in the `updateMask` are relative to the resource and are not a full request."
                        },
                        "name": {
                          "type": "string",
                          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Listing"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Listing"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.patch",
                      "description": "Updates an existing listing.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "setIamPolicy": {
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:setIamPolicy",
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the IAM policy.",
                      "path": "v1/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      }
                    },
                    "listSubscriptions": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:listSubscriptions",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "resource"
                      ],
                      "path": "v1/{+resource}:listSubscriptions",
                      "parameters": {
                        "includeDeletedSubscriptions": {
                          "type": "boolean",
                          "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Page token, returned by a previous call.",
                          "type": "string"
                        },
                        "resource": {
                          "location": "path",
                          "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of results to return in a single response page.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.listSubscriptions",
                      "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListSharedResourceSubscriptionsResponse"
                      }
                    },
                    "getIamPolicy": {
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.getIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "description": "Gets the IAM policy.",
                      "path": "v1/{+resource}:getIamPolicy"
                    },
                    "create": {
                      "request": {
                        "$ref": "Listing"
                      },
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "type": "string",
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "required": true
                        },
                        "listingId": {
                          "description": "Required. The ID of the listing to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Creates a new listing.",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/listings",
                      "response": {
                        "$ref": "Listing"
                      },
                      "id": "analyticshub.projects.locations.dataExchanges.listings.create"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/listings",
                      "description": "Lists all listings in a given project and location.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token, returned by a previous call, to request the next page of results.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "ListListingsResponse"
                      }
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets the details of a listing.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Listing"
                      },
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "analyticshub.projects.locations.dataExchanges.listings.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "subscriptions": {
              "methods": {
                "refresh": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:refresh",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:refresh",
                  "request": {
                    "$ref": "RefreshSubscriptionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the Subscription to refresh. e.g. `projects/subscriberproject/locations/us/subscriptions/123`",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Refreshes a Subscription to a Data Exchange. A Data Exchange can become stale when a publisher adds or removes data. This is a long-running operation as it may create many linked datasets.",
                  "id": "analyticshub.projects.locations.subscriptions.refresh",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST"
                },
                "revoke": {
                  "id": "analyticshub.projects.locations.subscriptions.revoke",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:revoke",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the subscription to revoke. e.g. projects/123/locations/us/subscriptions/456",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Revokes a given subscription.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:revoke",
                  "request": {
                    "$ref": "RevokeSubscriptionRequest"
                  },
                  "response": {
                    "$ref": "RevokeSubscriptionResponse"
                  }
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "description": "Gets the IAM policy.",
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:getIamPolicy",
                  "id": "analyticshub.projects.locations.subscriptions.getIamPolicy",
                  "path": "v1/{+resource}:getIamPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1/{+parent}/subscriptions",
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "An expression for filtering the results of the request. Eligible fields for filtering are: + `listing` + `data_exchange` Alternatively, a literal wrapped in double quotes may be provided. This will be checked for an exact match against both fields above. In all cases, the full Data Exchange or Listing resource name must be provided. Some example of using filters: + data_exchange=\"projects/myproject/locations/us/dataExchanges/123\" + listing=\"projects/123/locations/us/dataExchanges/456/listings/789\" + \"projects/myproject/locations/us/dataExchanges/123\""
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response page."
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous call.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource path of the subscription. e.g. projects/myproject/locations/us",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "analyticshub.projects.locations.subscriptions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all subscriptions in a given project and location.",
                  "httpMethod": "GET"
                },
                "setIamPolicy": {
                  "httpMethod": "POST",
                  "id": "analyticshub.projects.locations.subscriptions.setIamPolicy",
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "description": "Sets the IAM policy.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:setIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "get": {
                  "id": "analyticshub.projects.locations.subscriptions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Subscription"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of the subscription. e.g. projects/123/locations/us/subscriptions/456"
                    }
                  },
                  "description": "Gets the details of a Subscription.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "description": "Deletes a subscription.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "httpMethod": "DELETE",
                  "id": "analyticshub.projects.locations.subscriptions.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "description": "Required. Resource name of the subscription to delete. e.g. projects/123/locations/us/subscriptions/456"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dataExchanges",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned by a previous call, to request the next page of results."
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "organization": {
                      "description": "Required. The organization resource path of the projects containing DataExchanges. e.g. `organizations/myorg/locations/us`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "analyticshub.organizations.locations.dataExchanges.list",
                  "response": {
                    "$ref": "ListOrgDataExchangesResponse"
                  },
                  "description": "Lists all data exchanges from projects in a given organization and location.",
                  "path": "v1/{+organization}/dataExchanges",
                  "parameterOrder": [
                    "organization"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "BigtableConfig": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Bigtable. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table under the pubsub_metadata column family. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column.",
          "type": "boolean"
        },
        "appProfileId": {
          "description": "Optional. The app profile to use for the Bigtable writes. If not specified, the \"default\" application profile will be used. The app profile must use single-cluster routing.",
          "type": "string"
        },
        "table": {
          "type": "string",
          "description": "Optional. The unique name of the table to write messages to. Values are of the form `projects//instances//tables/`."
        }
      },
      "description": "Configuration for a Bigtable subscription. The Pub/Sub message will be written to a Bigtable row as follows: - row key: subscription name, message ID hash, and message ID delimited by `#`. - columns: message bytes written to a single column family `data` with an empty-string column qualifier. - cell timestamp: the message publish timestamp.",
      "type": "object",
      "id": "BigtableConfig"
    },
    "PushConfig": {
      "properties": {
        "attributes": {
          "description": "Optional. Endpoint configuration attributes that can be used to control different aspects of the message delivery. The only currently supported attribute is `x-goog-version`, which you can use to change the format of the pushed message. This attribute indicates the version of the data expected by the endpoint. This controls the shape of the pushed message (i.e., its fields and metadata). If not present during the `CreateSubscription` call, it will default to the version of the Pub/Sub API used to make such call. If not present in a `ModifyPushConfig` call, its value will not be changed. `GetSubscription` calls will always return a valid version, even if the subscription was created without this attribute. The only supported values for the `x-goog-version` attribute are: * `v1beta1`: uses the push format defined in the v1beta1 Pub/Sub API. * `v1` or `v1beta2`: uses the push format defined in the v1 Pub/Sub API. For example: `attributes { \"x-goog-version\": \"v1\" }`",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "noWrapper": {
          "$ref": "NoWrapper",
          "description": "Optional. When set, the payload to the push endpoint is not wrapped."
        },
        "oidcToken": {
          "description": "Optional. If specified, Pub/Sub will generate and attach an OIDC JWT token as an `Authorization` header in the HTTP request for every pushed message.",
          "$ref": "OidcToken"
        },
        "pubsubWrapper": {
          "description": "Optional. When set, the payload to the push endpoint is in the form of the JSON representation of a PubsubMessage (https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#pubsubmessage).",
          "$ref": "PubsubWrapper"
        },
        "pushEndpoint": {
          "description": "Optional. A URL locating the endpoint to which messages should be pushed. For example, a Webhook endpoint might use `https://example.com/push`.",
          "type": "string"
        }
      },
      "description": "Configuration for a push delivery endpoint.",
      "id": "PushConfig",
      "type": "object"
    },
    "Listing": {
      "description": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data.",
      "id": "Listing",
      "properties": {
        "pubsubTopic": {
          "description": "Pub/Sub topic source.",
          "$ref": "PubSubTopicSource"
        },
        "restrictedExportConfig": {
          "description": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset.",
          "$ref": "RestrictedExportConfig"
        },
        "categories": {
          "description": "Optional. Categories of the listing. Up to five categories are allowed.",
          "type": "array",
          "items": {
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "CATEGORY_OTHERS",
              "CATEGORY_ADVERTISING_AND_MARKETING",
              "CATEGORY_COMMERCE",
              "CATEGORY_CLIMATE_AND_ENVIRONMENT",
              "CATEGORY_DEMOGRAPHICS",
              "CATEGORY_ECONOMICS",
              "CATEGORY_EDUCATION",
              "CATEGORY_ENERGY",
              "CATEGORY_FINANCIAL",
              "CATEGORY_GAMING",
              "CATEGORY_GEOSPATIAL",
              "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE",
              "CATEGORY_MEDIA",
              "CATEGORY_PUBLIC_SECTOR",
              "CATEGORY_RETAIL",
              "CATEGORY_SPORTS",
              "CATEGORY_SCIENCE_AND_RESEARCH",
              "CATEGORY_TRANSPORTATION_AND_LOGISTICS",
              "CATEGORY_TRAVEL_AND_TOURISM",
              "CATEGORY_GOOGLE_EARTH_ENGINE"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "requestAccess": {
          "type": "string",
          "description": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes."
        },
        "publisher": {
          "description": "Optional. Details of the publisher who owns the listing and who can share the source data.",
          "$ref": "Publisher"
        },
        "primaryContact": {
          "description": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "discoveryType": {
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "type": "string",
          "description": "Optional. Type of discovery of the listing on the discovery page.",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ]
        },
        "icon": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
        },
        "dataProvider": {
          "$ref": "DataProvider",
          "description": "Optional. Details of the data provider who owns the source data."
        },
        "description": {
          "description": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. Documentation describing the listing.",
          "type": "string"
        },
        "allowOnlyMetadataSharing": {
          "type": "boolean",
          "description": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
        },
        "name": {
          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
          "type": "string",
          "readOnly": true
        },
        "logLinkedDatasetQueryUserEmail": {
          "description": "Optional. By default, false. If true, the Listing has an email sharing mandate enabled.",
          "type": "boolean"
        },
        "resourceType": {
          "readOnly": true,
          "description": "Output only. Listing shared asset type.",
          "type": "string",
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ]
        },
        "storedProcedureConfig": {
          "$ref": "StoredProcedureConfig",
          "description": "Optional. If set, stored procedure configuration will be propagated and enforced on the linked dataset."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE"
          ],
          "description": "Output only. Current state of the listing.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Subscribable state. Users with dataexchange.listings.subscribe permission can subscribe to this listing."
          ],
          "type": "string"
        },
        "commercialInfo": {
          "description": "Output only. Commercial info contains the information about the commercial data products associated with the listing.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo"
        },
        "bigqueryDataset": {
          "description": "Shared dataset i.e. BigQuery dataset source.",
          "$ref": "BigQueryDatasetSource"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "Compression": {
      "description": "Configuration for compressing/decompressing message data using a user-specified compression algorithm.",
      "type": "object",
      "id": "Compression",
      "properties": {
        "compressionMode": {
          "description": "Required. Specifies whether to compress or decompress the message.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Compress.",
            "Decompress."
          ],
          "enum": [
            "COMPRESSION_MODE_UNSPECIFIED",
            "COMPRESS",
            "DECOMPRESS"
          ]
        },
        "compressionAlgorithm": {
          "type": "string",
          "description": "Required. Specifies the compression algorithm to use.",
          "enumDescriptions": [
            "Unspecified algorithm.",
            "ZLIB compression."
          ],
          "enum": [
            "COMPRESSION_ALGORITHM_UNSPECIFIED",
            "ZLIB"
          ]
        }
      }
    },
    "JavaScriptUDF": {
      "description": "User-defined JavaScript function that can transform or filter a Pub/Sub message.",
      "id": "JavaScriptUDF",
      "properties": {
        "functionName": {
          "type": "string",
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages."
        },
        "code": {
          "description": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (required) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```",
          "type": "string"
        }
      },
      "type": "object"
    },
    "QueryTemplate": {
      "type": "object",
      "id": "QueryTemplate",
      "properties": {
        "description": {
          "description": "Optional. Short description of the QueryTemplate. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "encryptionConfiguration": {
          "$ref": "EncryptionConfig",
          "description": "Optional. Encryption configuration for the query template. If set, the customer-managed KMS key is used to encrypt the query template definition body."
        },
        "documentation": {
          "type": "string",
          "description": "Optional. Documentation describing the QueryTemplate."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the QueryTemplate was last modified.",
          "type": "string"
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes."
        },
        "routine": {
          "$ref": "Routine",
          "description": "Optional. The routine associated with the QueryTemplate."
        },
        "state": {
          "description": "Output only. The QueryTemplate lifecycle state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFTED",
            "PENDING",
            "DELETED",
            "APPROVED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The QueryTemplate is in draft state.",
            "The QueryTemplate is in pending state.",
            "The QueryTemplate is in deleted state.",
            "The QueryTemplate is in approved state."
          ],
          "type": "string"
        },
        "proposer": {
          "deprecated": true,
          "description": "Optional. Deprecated: Use `primary_contact` instead. Email or URL of the primary point of contact of the QueryTemplate. Max Length: 1000 bytes.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name of the QueryTemplate. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when the QueryTemplate was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "A query template is a container for sharing table-valued functions defined by contributors in a data clean room."
    },
    "DestinationPubSubSubscription": {
      "properties": {
        "pubsubSubscription": {
          "description": "Required. Destination Pub/Sub subscription resource.",
          "$ref": "GooglePubsubV1Subscription"
        }
      },
      "type": "object",
      "description": "Defines the destination Pub/Sub subscription.",
      "id": "DestinationPubSubSubscription"
    },
    "BigQueryConfig": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to BigQuery. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "table": {
          "description": "Optional. The name of the table to which to write data, of the form {projectId}.{datasetId}.{tableId}",
          "type": "string"
        },
        "dropUnknownFields": {
          "description": "Optional. When true and use_topic_schema is true, any fields that are a part of the topic schema that are not part of the BigQuery table schema are dropped when writing to BigQuery. Otherwise, the schemas must be kept in sync and any messages with extra fields are not written and remain in the subscription's backlog.",
          "type": "boolean"
        },
        "useTableSchema": {
          "type": "boolean",
          "description": "Optional. When true, use the BigQuery table's schema as the columns to write to in BigQuery. `use_table_schema` and `use_topic_schema` cannot be enabled at the same time."
        },
        "writeMetadata": {
          "type": "boolean",
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key to additional columns in the table. The subscription name, message_id, and publish_time fields are put in their own columns while all other message properties (other than data) are written to a JSON object in the attributes column."
        },
        "useTopicSchema": {
          "description": "Optional. When true, use the topic's schema as the columns to write to in BigQuery, if it exists. `use_topic_schema` and `use_table_schema` cannot be enabled at the same time.",
          "type": "boolean"
        }
      },
      "id": "BigQueryConfig",
      "type": "object",
      "description": "Configuration for a BigQuery subscription."
    },
    "SubscribeListingRequest": {
      "id": "SubscribeListingRequest",
      "description": "Message for subscribing to a listing.",
      "type": "object",
      "properties": {
        "destinationPubsubSubscription": {
          "$ref": "DestinationPubSubSubscription",
          "description": "Input only. Destination Pub/Sub subscription to create for the subscriber."
        },
        "destinationDataset": {
          "$ref": "DestinationDataset",
          "description": "Input only. BigQuery destination dataset to create for the subscriber."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "RefreshSubscriptionResponse": {
      "description": "Message for response when you refresh a subscription.",
      "id": "RefreshSubscriptionResponse",
      "properties": {
        "subscription": {
          "description": "The refreshed subscription resource.",
          "$ref": "Subscription"
        }
      },
      "type": "object"
    },
    "PubSubTopicSource": {
      "id": "PubSubTopicSource",
      "type": "object",
      "description": "Pub/Sub topic source.",
      "properties": {
        "dataAffinityRegions": {
          "type": "array",
          "description": "Optional. Region hint on where the data might be published. Data affinity regions are modifiable. See https://cloud.google.com/about/locations for full listing of possible Cloud regions.",
          "items": {
            "type": "string"
          }
        },
        "topic": {
          "description": "Required. Resource name of the Pub/Sub topic source for this listing. e.g. projects/myproject/topics/topicId",
          "type": "string"
        }
      }
    },
    "RefreshSubscriptionRequest": {
      "description": "Message for refreshing a subscription.",
      "id": "RefreshSubscriptionRequest",
      "properties": {},
      "type": "object"
    },
    "RevokeSubscriptionRequest": {
      "description": "Message for revoking a subscription.",
      "id": "RevokeSubscriptionRequest",
      "properties": {
        "revokeCommercial": {
          "description": "Optional. If the subscription is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid revoking commercial subscriptions accidentally.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListListingsResponse": {
      "description": "Message for response to the list of Listings.",
      "id": "ListListingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        },
        "listings": {
          "items": {
            "$ref": "Listing"
          },
          "description": "The list of Listing.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "BigQueryDatasetSource": {
      "properties": {
        "selectedResources": {
          "description": "Optional. Resource in this dataset that is selectively shared. This field is required for data clean room exchanges.",
          "items": {
            "$ref": "SelectedResource"
          },
          "type": "array"
        },
        "restrictedExportPolicy": {
          "description": "Optional. If set, restricted export policy will be propagated and enforced on the linked dataset.",
          "$ref": "RestrictedExportPolicy"
        },
        "dataset": {
          "description": "Optional. Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`",
          "type": "string"
        },
        "replicaLocations": {
          "description": "Optional. A list of regions where the publisher has created shared dataset replicas.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "effectiveReplicas": {
          "description": "Output only. Server-owned effective state of replicas. Contains both primary and secondary replicas. Each replica includes a system-computed (output-only) state and primary designation.",
          "items": {
            "$ref": "Replica"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "BigQueryDatasetSource",
      "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
      "type": "object"
    },
    "SelectedResource": {
      "properties": {
        "routine": {
          "description": "Optional. Format: For routine: `projects/{projectId}/datasets/{datasetId}/routines/{routineId}` Example:\"projects/test_project/datasets/test_dataset/routines/test_routine\"",
          "type": "string"
        },
        "table": {
          "description": "Optional. Format: For table: `projects/{projectId}/datasets/{datasetId}/tables/{tableId}` Example:\"projects/test_project/datasets/test_dataset/tables/test_table\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SelectedResource",
      "description": "Resource in this dataset that is selectively shared."
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "SubmitQueryTemplateRequest": {
      "description": "Message for submitting a QueryTemplate.",
      "type": "object",
      "id": "SubmitQueryTemplateRequest",
      "properties": {}
    },
    "SubscribeListingResponse": {
      "description": "Message for response when you subscribe to a listing.",
      "properties": {
        "subscription": {
          "$ref": "Subscription",
          "description": "Subscription object created from this subscribe action."
        }
      },
      "type": "object",
      "id": "SubscribeListingResponse"
    },
    "ListDataExchangesResponse": {
      "type": "object",
      "properties": {
        "dataExchanges": {
          "items": {
            "$ref": "DataExchange"
          },
          "description": "The list of data exchanges.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "description": "Message for response to the list of data exchanges.",
      "id": "ListDataExchangesResponse"
    },
    "ExpirationPolicy": {
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "type": "object",
      "properties": {
        "ttl": {
          "format": "google-duration",
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string"
        }
      },
      "id": "ExpirationPolicy"
    },
    "TextConfig": {
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "type": "object",
      "properties": {},
      "id": "TextConfig"
    },
    "ApproveQueryTemplateRequest": {
      "properties": {},
      "description": "Message for approving a QueryTemplate.",
      "id": "ApproveQueryTemplateRequest",
      "type": "object"
    },
    "MessageTransform": {
      "id": "MessageTransform",
      "description": "All supported message transforms types.",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Optional. If true, the transform is disabled and will not be applied to messages. Defaults to `false`."
        },
        "enabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. This field is deprecated, use the `disabled` field to disable transforms."
        },
        "javascriptUdf": {
          "$ref": "JavaScriptUDF",
          "description": "Optional. JavaScript User Defined Function. If multiple JavaScriptUDF's are specified on a resource, each must have a unique `function_name`."
        },
        "aiInference": {
          "description": "Optional. AI Inference. Specifies the Vertex AI endpoint that inference requests built from the Pub/Sub message data and provided parameters will be sent to.",
          "$ref": "AIInference"
        },
        "compression": {
          "description": "Optional. Compression/Decompression.",
          "$ref": "Compression"
        }
      }
    },
    "OidcToken": {
      "properties": {
        "serviceAccountEmail": {
          "description": "Optional. [Service account email](https://cloud.google.com/iam/docs/service-accounts) used for generating the OIDC token. For more information on setting up authentication, see [Push subscriptions](https://cloud.google.com/pubsub/docs/push).",
          "type": "string"
        },
        "audience": {
          "description": "Optional. Audience to be used when generating OIDC token. The audience claim identifies the recipients that the JWT is intended for. The audience value is a single case-sensitive string. Having multiple values (array) for the audience field is not supported. More info about the OIDC JWT token audience here: https://tools.ietf.org/html/rfc7519#section-4.1.3 Note: if not specified, the Push endpoint URL will be used.",
          "type": "string"
        }
      },
      "description": "Contains information needed for generating an [OpenID Connect token](https://developers.google.com/identity/protocols/OpenIDConnect).",
      "type": "object",
      "id": "OidcToken"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "CloudStorageConfig": {
      "properties": {
        "filenameSuffix": {
          "type": "string",
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\"."
        },
        "bucket": {
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming).",
          "type": "string"
        },
        "maxMessages": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages."
        },
        "maxDuration": {
          "description": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline.",
          "type": "string",
          "format": "google-duration"
        },
        "filenameDatetimeFormat": {
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names).",
          "type": "string"
        },
        "textConfig": {
          "$ref": "TextConfig",
          "description": "Optional. If set, message data will be written to Cloud Storage in text format."
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "avroConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format.",
          "$ref": "AvroConfig"
        },
        "filenamePrefix": {
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming).",
          "type": "string"
        },
        "maxBytes": {
          "format": "int64",
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit.",
          "type": "string"
        }
      },
      "id": "CloudStorageConfig",
      "description": "Configuration for a Cloud Storage subscription.",
      "type": "object"
    },
    "DestinationDataset": {
      "description": "Defines the destination bigquery dataset.",
      "id": "DestinationDataset",
      "type": "object",
      "properties": {
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "replicaLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations."
        },
        "description": {
[...]
