{
  "discoveryVersion": "v1",
  "canonicalName": "Google Analytics Admin",
  "protocol": "rest",
  "ownerName": "Google",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "resources": {
    "properties": {
      "resources": {
        "dataStreams": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the DataStream to delete. Example format: properties/1234/dataStreams/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a DataStream on a property.",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.dataStreams.delete"
            },
            "create": {
              "description": "Creates a DataStream.",
              "httpMethod": "POST",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta/{+parent}/dataStreams",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.create"
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "path": "v1beta/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Lookup for a single DataStream.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                }
              },
              "id": "analyticsadmin.properties.dataStreams.get",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams",
              "id": "analyticsadmin.properties.dataStreams.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListDataStreamsResponse"
              },
              "description": "Lists DataStreams on a property."
            },
            "patch": {
              "path": "v1beta/{+name}",
              "description": "Updates a DataStream on a property.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.dataStreams.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaDataStream"
              }
            }
          },
          "resources": {
            "measurementProtocolSecrets": {
              "methods": {
                "create": {
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "description": "Creates a measurement protocol secret.",
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "httpMethod": "POST",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where this secret will be created. Format: properties/{property}/dataStreams/{dataStream}",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "description": "Required. The name of the MeasurementProtocolSecret to delete. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "description": "Deletes target MeasurementProtocolSecret.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.delete"
                },
                "get": {
                  "description": "Lookup for a single MeasurementProtocolSecret.",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.get",
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the measurement protocol secret to lookup. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ]
                },
                "patch": {
                  "path": "v1beta/{+name}",
                  "request": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates a measurement protocol secret.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets/{measurementProtocolSecretsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. The list of fields to be updated. Omitted fields will not be updated.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+/measurementProtocolSecrets/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.patch"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse"
                  },
                  "id": "analyticsadmin.properties.dataStreams.measurementProtocolSecrets.list",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of resources to return. If unspecified, at most 10 resources will be returned. The maximum value is 10. Higher values will be coerced to the maximum.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the parent stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets",
                      "type": "string",
                      "location": "path",
                      "pattern": "^properties/[^/]+/dataStreams/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListMeasurementProtocolSecrets` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMeasurementProtocolSecrets` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1beta/properties/{propertiesId}/dataStreams/{dataStreamsId}/measurementProtocolSecrets",
                  "scopes": [
                    "https://www.googleapis.com/auth/analytics.edit",
                    "https://www.googleapis.com/auth/analytics.readonly"
                  ],
                  "description": "Returns child MeasurementProtocolSecrets under the specified parent Property.",
                  "path": "v1beta/{+parent}/measurementProtocolSecrets"
                }
              }
            }
          }
        },
        "firebaseLinks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse"
              },
              "description": "Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListFirebaseLinks` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1beta/{+parent}/firebaseLinks",
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.firebaseLinks.list"
            },
            "create": {
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.firebaseLinks.create",
              "path": "v1beta/{+parent}/firebaseLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "description": "Creates a FirebaseLink. Properties can have at most one FirebaseLink.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: properties/{property_id} Example: `properties/1234`"
                }
              },
              "httpMethod": "POST"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "analyticsadmin.properties.firebaseLinks.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Format: properties/{property_id}/firebaseLinks/{firebase_link_id} Example: `properties/1234/firebaseLinks/5678`",
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/firebaseLinks/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}",
              "description": "Deletes a FirebaseLink on a property",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/firebaseLinks/{firebaseLinksId}"
            }
          }
        },
        "googleAdsLinks": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a GoogleAdsLink on a property",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Example format: properties/1234/googleAdsLinks/5678",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.googleAdsLinks.delete"
            },
            "patch": {
              "id": "analyticsadmin.properties.googleAdsLinks.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/googleAdsLinks/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
                }
              },
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks/{googleAdsLinksId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a GoogleAdsLink on a property",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              }
            },
            "list": {
              "path": "v1beta/{+parent}/googleAdsLinks",
              "description": "Lists GoogleAdsLinks on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.googleAdsLinks.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "description": "Creates a GoogleAdsLink.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "id": "analyticsadmin.properties.googleAdsLinks.create",
              "flatPath": "v1beta/properties/{propertiesId}/googleAdsLinks",
              "path": "v1beta/{+parent}/googleAdsLinks",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "id": "analyticsadmin.properties.customDimensions.list",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "description": "Lists CustomDimensions on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "path": "v1beta/{+parent}/customDimensions"
            },
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "path": "v1beta/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single CustomDimension.",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "id": "analyticsadmin.properties.customDimensions.get"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Creates a CustomDimension. Warning: It's not permissible to use this method to collect data on individual users. In particular, sending user IDs in custom dimensions violates the [Google Analytics Terms of Service](https://www.google.com/analytics/terms/).",
              "path": "v1beta/{+parent}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              }
            },
            "archive": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest"
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1beta/{+name}:archive",
              "id": "analyticsadmin.properties.customDimensions.archive",
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Archives a CustomDimension on a property.",
              "httpMethod": "POST"
            },
            "patch": {
              "flatPath": "v1beta/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "id": "analyticsadmin.properties.customDimensions.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a CustomDimension on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
              },
              "parameters": {
                "name": {
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "required": true,
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "v1beta/{+parent}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.list",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token."
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists CustomMetrics on a property.",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "description": "Creates a CustomMetric.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/customMetrics",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics",
              "id": "analyticsadmin.properties.customMetrics.create",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              }
            },
            "archive": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest"
              },
              "path": "v1beta/{+name}:archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true
                }
              },
              "id": "analyticsadmin.properties.customMetrics.archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Archives a CustomMetric on a property."
            },
            "patch": {
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.customMetrics.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates a CustomMetric on a property.",
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "httpMethod": "PATCH"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Lookup for a single CustomMetric.",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "type": "string",
                  "location": "path"
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "id": "analyticsadmin.properties.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
              }
            }
          }
        },
        "keyEvents": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListKeyEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "id": "analyticsadmin.properties.keyEvents.list",
              "path": "v1beta/{+parent}/keyEvents"
            },
            "patch": {
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.keyEvents.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a Key Event.",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true
                }
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "id": "analyticsadmin.properties.keyEvents.get",
              "httpMethod": "GET",
              "description": "Retrieves a single Key Event.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\""
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+name}"
            },
            "create": {
              "id": "analyticsadmin.properties.keyEvents.create",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "description": "Creates a Key Event.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "path": "v1beta/{+parent}/keyEvents"
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a Key Event.",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$"
                }
              },
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.keyEvents.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "conversionEvents": {
          "methods": {
            "get": {
              "id": "analyticsadmin.properties.conversionEvents.get",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "type": "string",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "location": "path"
                }
              },
              "deprecated": true
            },
            "patch": {
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "description": "Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes.",
              "path": "v1beta/{+name}",
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
                },
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "deprecated": true
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1beta/{+parent}/conversionEvents",
              "description": "Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                }
              },
              "deprecated": true,
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              },
              "id": "analyticsadmin.properties.conversionEvents.list"
            },
            "create": {
              "id": "analyticsadmin.properties.conversionEvents.create",
              "httpMethod": "POST",
              "path": "v1beta/{+parent}/conversionEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "deprecated": true,
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "required": true
                }
              },
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes."
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "deprecated": true,
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "description": "Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          },
          "deprecated": true
        }
      },
      "methods": {
        "delete": {
          "flatPath": "v1beta/properties/{propertiesId}",
          "id": "analyticsadmin.properties.delete",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^properties/[^/]+$",
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found."
        },
        "updateDataRetentionSettings": {
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "path": "v1beta/{+name}",
          "description": "Updates the singleton data retention settings for this property.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "required": true,
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "location": "path"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          }
        },
        "list": {
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
            }
          },
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "path": "v1beta/properties",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1beta/properties",
          "id": "analyticsadmin.properties.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListPropertiesResponse"
          }
        },
        "patch": {
          "path": "v1beta/{+name}",
          "description": "Updates a property.",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+$"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          },
          "id": "analyticsadmin.properties.patch",
          "flatPath": "v1beta/properties/{propertiesId}",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          }
        },
        "getDataRetentionSettings": {
          "flatPath": "v1beta/properties/{propertiesId}/dataRetentionSettings",
          "httpMethod": "GET",
          "description": "Returns the singleton data retention settings for this property.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\"",
              "required": true,
              "location": "path",
              "pattern": "^properties/[^/]+/dataRetentionSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings"
          },
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1beta/{+name}",
          "parameterOrder": [
            "name"
          ]
        },
        "acknowledgeUserDataCollection": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse"
          },
          "path": "v1beta/{+property}:acknowledgeUserDataCollection",
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest"
          },
          "flatPath": "v1beta/properties/{propertiesId}:acknowledgeUserDataCollection",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "property"
          ],
          "parameters": {
            "property": {
              "required": true,
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "description": "Required. The property for which to acknowledge user data collection.",
              "location": "path"
            }
          }
        },
        "runAccessReport": {
          "parameters": {
            "entity": {
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$"
            }
          },
          "path": "v1beta/{+entity}:runAccessReport",
          "parameterOrder": [
            "entity"
          ],
          "flatPath": "v1beta/properties/{propertiesId}:runAccessReport",
          "httpMethod": "POST",
          "id": "analyticsadmin.properties.runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          }
        },
        "create": {
          "id": "analyticsadmin.properties.create",
          "flatPath": "v1beta/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "path": "v1beta/properties",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "description": "Creates a Google Analytics property with the specified location and attributes."
        },
        "get": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "pattern": "^properties/[^/]+$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1beta/properties/{propertiesId}",
          "description": "Lookup for a single GA Property.",
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.properties.get"
        }
      }
    },
    "accounts": {
      "methods": {
        "provisionAccountTicket": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Requests a ticket for creating an account.",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse"
          },
          "path": "v1beta/accounts:provisionAccountTicket",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest"
          },
          "httpMethod": "POST",
          "flatPath": "v1beta/accounts:provisionAccountTicket",
          "parameters": {}
        },
        "runAccessReport": {
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "path": "v1beta/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaRunAccessReportRequest"
          },
          "parameters": {
            "entity": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "type": "string",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "entity"
          ],
          "id": "analyticsadmin.accounts.runAccessReport",
          "httpMethod": "POST",
          "flatPath": "v1beta/accounts/{accountsId}:runAccessReport"
        },
        "list": {
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountsResponse"
          },
          "httpMethod": "GET",
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`.",
          "id": "analyticsadmin.accounts.list",
          "parameters": {
            "pageToken": {
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [],
          "path": "v1beta/accounts",
          "flatPath": "v1beta/accounts"
        },
        "getDataSharingSettings": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/accounts/{accountsId}/dataSharingSettings",
          "description": "Get data sharing settings on an account. Data sharing settings are singletons.",
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "required": true,
              "pattern": "^accounts/[^/]+/dataSharingSettings$"
            }
          },
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        },
        "patch": {
          "parameters": {
            "name": {
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "format": "google-fieldmask"
            }
          },
          "path": "v1beta/{+name}",
          "id": "analyticsadmin.accounts.patch",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Updates an account.",
          "flatPath": "v1beta/accounts/{accountsId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Lookup for a single Account.",
          "flatPath": "v1beta/accounts/{accountsId}",
          "httpMethod": "GET",
          "id": "analyticsadmin.accounts.get",
          "path": "v1beta/{+name}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$"
            }
          }
        },
        "delete": {
          "id": "analyticsadmin.accounts.delete",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1beta/accounts/{accountsId}",
          "path": "v1beta/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\""
            }
          },
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found."
        },
        "searchChangeHistoryEvents": {
          "flatPath": "v1beta/accounts/{accountsId}:searchChangeHistoryEvents",
          "parameterOrder": [
            "account"
          ],
          "path": "v1beta/{+account}:searchChangeHistoryEvents",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest"
          },
          "parameters": {
            "account": {
              "location": "path",
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`",
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true
            }
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        }
      }
    },
    "accountSummaries": {
      "methods": {
        "list": {
          "flatPath": "v1beta/accountSummaries",
          "description": "Returns summaries of all accounts accessible by the caller.",
          "parameterOrder": [],
          "path": "v1beta/accountSummaries",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "parameters": {
            "pageSize": {
              "format": "int32",
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "analyticsadmin.accountSummaries.list",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260922",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "basePath": "",
  "name": "analyticsadmin",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "id": "analyticsadmin:v1beta",
  "servicePath": "",
  "version_module": true,
  "schemas": {
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "properties": {
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "Ends with this number."
        },
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "Begins with this number."
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter"
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaPropertySummary",
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        },
        "canEdit": {
          "type": "boolean",
          "description": "If true, then the user has a Google Analytics role that permits them to edit the property."
        },
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "propertyType": {
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "The property's property type.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "type": "object",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "id": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
      "properties": {
        "value": {
          "format": "double",
          "type": "number",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset."
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          }
        },
        "name": {
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties."
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "type": "array",
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when the entity was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "type": "string"
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string"
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceLevel": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ]
        }
      },
      "description": "A resource message representing a Google Analytics property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProperty"
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "properties": {},
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "properties": {
        "endDate": {
          "type": "string",
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        },
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "A metric name in the request to order by."
        }
      },
      "description": "Sorts by metric values.",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "properties": {
        "dimensionValues": {
          "type": "array",
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          }
        },
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Access report data for each row."
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "description": "A resource message representing a data stream.",
      "type": "object",
      "properties": {
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData"
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "iosAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when stream payload fields were last updated."
        }
      },
      "id": "GoogleAnalyticsAdminV1betaDataStream"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "properties": {
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          }
        },
        "dimensionFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter."
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "orderBys": {
          "description": "Specifies how rows are ordered in the response.",
[...]
