{
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "analyticsadmin:v1alpha",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        }
      }
    }
  },
  "version": "v1alpha",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "title": "Google Analytics Admin API",
  "canonicalName": "Google Analytics Admin",
  "version_module": true,
  "resources": {
    "accounts": {
      "methods": {
        "get": {
          "id": "analyticsadmin.accounts.get",
          "description": "Lookup for a single Account.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^accounts/[^/]+$",
              "description": "Required. The name of the account to lookup. Format: accounts/{account} Example: \"accounts/100\"",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "httpMethod": "GET",
          "path": "v1alpha/{+name}"
        },
        "getDataSharingSettings": {
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the settings to lookup. Format: accounts/{account}/dataSharingSettings Example: `accounts/1000/dataSharingSettings`",
              "pattern": "^accounts/[^/]+/dataSharingSettings$",
              "location": "path"
            }
          },
          "id": "analyticsadmin.accounts.getDataSharingSettings",
          "path": "v1alpha/{+name}",
          "httpMethod": "GET",
          "flatPath": "v1alpha/accounts/{accountsId}/dataSharingSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Get data sharing settings on an account. Data sharing settings are singletons."
        },
        "delete": {
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.accounts.delete",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Required. The name of the Account to soft-delete. Format: accounts/{account} Example: \"accounts/100\"",
              "location": "path"
            }
          },
          "description": "Marks target Account as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted accounts. However, they can be restored using the Trash Can UI. If the accounts are not restored before the expiration time, the account and all child resources (eg: Properties, GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "provisionAccountTicket": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
          },
          "path": "v1alpha/accounts:provisionAccountTicket",
          "description": "Requests a ticket for creating an account.",
          "id": "analyticsadmin.accounts.provisionAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "flatPath": "v1alpha/accounts:provisionAccountTicket",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "runAccessReport": {
          "id": "analyticsadmin.accounts.runAccessReport",
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "httpMethod": "POST",
          "parameterOrder": [
            "entity"
          ],
          "flatPath": "v1alpha/accounts/{accountsId}:runAccessReport",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "path": "v1alpha/{+entity}:runAccessReport",
          "parameters": {
            "entity": {
              "pattern": "^accounts/[^/]+$",
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          }
        },
        "list": {
          "id": "analyticsadmin.accounts.list",
          "path": "v1alpha/accounts",
          "flatPath": "v1alpha/accounts",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListAccountsResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "showDeleted": {
              "description": "Whether to include soft-deleted (ie: \"trashed\") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns all accounts accessible by the caller. Note that these accounts might not currently have GA properties. Soft-deleted (ie: \"trashed\") accounts are excluded by default. Returns an empty list if no relevant accounts are found. Note: The easiest way to retrieve a list of all properties you have access to is by using `ListAccountSummaries`."
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.patch",
          "httpMethod": "PATCH",
          "flatPath": "v1alpha/accounts/{accountsId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "path": "v1alpha/{+name}",
          "description": "Updates an account.",
          "parameters": {
            "updateMask": {
              "description": "Required. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "pattern": "^accounts/[^/]+$",
              "required": true,
              "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        },
        "searchChangeHistoryEvents": {
          "parameterOrder": [
            "account"
          ],
          "parameters": {
            "account": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Required. The account resource for which to return change history resources. Format: accounts/{account} Example: `accounts/100`"
            }
          },
          "flatPath": "v1alpha/accounts/{accountsId}:searchChangeHistoryEvents",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
          },
          "path": "v1alpha/{+account}:searchChangeHistoryEvents",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
          },
          "description": "Searches through all changes to an account or its children given the specified set of filters. Only returns the subset of changes supported by the API. The UI may return additional changes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "id": "analyticsadmin.accounts.searchChangeHistoryEvents"
        }
      },
      "resources": {
        "accessBindings": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "PATCH",
              "description": "Updates an access binding on an account or property.",
              "id": "analyticsadmin.accounts.accessBindings.patch",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "batchCreate": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates information about multiple access bindings to an account or property. This method is transactional. If any AccessBinding cannot be created, none of the AccessBindings will be created.",
              "parameters": {
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent field in the CreateAccessBindingRequest messages must either be empty or match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchCreate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchCreate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analyticsadmin.accounts.accessBindings.batchCreate"
            },
            "batchGet": {
              "description": "Gets information about multiple access bindings to an account or property.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "names": {
                  "type": "string",
                  "description": "Required. The names of the access bindings to retrieve. A maximum of 1000 access bindings can be retrieved in a batch. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "location": "query",
                  "repeated": true
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field must match this field. Formats: - accounts/{account} - properties/{property}",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "id": "analyticsadmin.accounts.accessBindings.batchGet",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/accessBindings:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchGet",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchGetAccessBindingsResponse"
              }
            },
            "batchUpdate": {
              "description": "Updates information about multiple access bindings to an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "v1alpha/{+parent}/accessBindings:batchUpdate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided AccessBinding in UpdateAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "type": "string",
                  "required": true,
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchUpdate",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.accounts.accessBindings.batchUpdate"
            },
            "create": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Creates an access binding on an account or property.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "Required. Formats: - accounts/{account} - properties/{property}"
                }
              },
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListAccessBindings` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccessBindings` must match the call that provided the page token."
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Formats: - accounts/{account} - properties/{property}"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of access bindings to return. The service may return fewer than this value. If unspecified, at most 200 access bindings will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query"
                }
              },
              "description": "Lists all access bindings on an account or property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
              },
              "path": "v1alpha/{+parent}/accessBindings",
              "id": "analyticsadmin.accounts.accessBindings.list"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.accounts.accessBindings.delete",
              "description": "Deletes an access binding on an account or property.",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "DELETE"
            },
            "get": {
              "id": "analyticsadmin.accounts.accessBindings.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "v1alpha/{+name}",
              "description": "Gets information about an access binding.",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings/{accessBindingsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
              },
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/accessBindings/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the access binding to retrieve. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "batchDelete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Deletes information about multiple users' links to an account or property.",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest"
              },
              "path": "v1alpha/{+parent}/accessBindings:batchDelete",
              "flatPath": "v1alpha/accounts/{accountsId}/accessBindings:batchDelete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.accounts.accessBindings.batchDelete",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The account or property that owns the access bindings. The parent of all provided values for the 'names' field in DeleteAccessBindingRequest messages must match this field. Formats: - accounts/{account} - properties/{property}",
                  "required": true,
                  "location": "path",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "properties": {
      "methods": {
        "getUserProvidedDataSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/userProvidedDataSettings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the user provided data settings to retrieve. Format: properties/{property}/userProvidedDataSettings"
            }
          },
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/userProvidedDataSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
          },
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.getUserProvidedDataSettings",
          "description": "Looks up settings related to user-provided data for a property.",
          "parameterOrder": [
            "name"
          ]
        },
        "updateReportingIdentitySettings": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "description": "Updates the reporting identity settings for this property.",
          "path": "v1alpha/{+name}",
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "id": "analyticsadmin.properties.updateReportingIdentitySettings",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^properties/[^/]+/reportingIdentitySettings$"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. The list of fields to be updated. Field names must be in snake case (for example, \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields. If omitted, the service will treat it as an implied field mask equivalent to all fields that are populated.",
              "format": "google-fieldmask"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ]
        },
        "create": {
          "flatPath": "v1alpha/properties",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Creates a Google Analytics property with the specified location and attributes.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "path": "v1alpha/properties",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "analyticsadmin.properties.create"
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Marks target Property as soft-deleted (ie: \"trashed\") and returns it. This API does not have a method to restore soft-deleted properties. However, they can be restored using the Trash Can UI. If the properties are not restored before the expiration time, the Property and all child resources (eg: GoogleAdsLinks, Streams, AccessBindings) will be permanently purged. https://support.google.com/analytics/answer/6154772 Returns an error if the target is not found.",
          "parameters": {
            "name": {
              "description": "Required. The name of the Property to soft-delete. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+$",
              "required": true
            }
          },
          "id": "analyticsadmin.properties.delete",
          "path": "v1alpha/{+name}"
        },
        "list": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns child Properties under the specified parent Account. Properties will be excluded if the caller does not have access. Soft-deleted (ie: \"trashed\") properties are excluded by default. Returns an empty list if no relevant properties are found.",
          "id": "analyticsadmin.properties.list",
          "path": "v1alpha/properties",
          "parameters": {
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to include soft-deleted (ie: \"trashed\") Properties in the results. Properties can be inspected to determine whether they are deleted or not."
            },
            "filter": {
              "type": "string",
              "description": "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account/property) or `ancestor:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | parent:properties/123 | The property with property id: 123. | | ancestor:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "description": "Optional. The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "v1alpha/properties",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          },
          "httpMethod": "GET"
        },
        "submitUserDeletion": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}:submitUserDeletion",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest"
          },
          "id": "analyticsadmin.properties.submitUserDeletion",
          "parameterOrder": [
            "name"
          ],
          "description": "Submits a request for user deletion for a property.",
          "httpMethod": "POST",
          "path": "v1alpha/{+name}:submitUserDeletion",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the property to submit user deletion for.",
              "pattern": "^properties/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        },
        "getAttributionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/attributionSettings$",
              "required": true,
              "description": "Required. The name of the attribution settings to retrieve. Format: properties/{property}/attributionSettings",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Lookup for a AttributionSettings singleton.",
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.getAttributionSettings",
          "path": "v1alpha/{+name}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.get",
          "description": "Lookup for a single GA Property.",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. The name of the property to lookup. Format: properties/{property_id} Example: \"properties/1000\"",
              "required": true,
              "pattern": "^properties/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "httpMethod": "GET"
        },
        "updateDataRetentionSettings": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "location": "query",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          },
          "id": "analyticsadmin.properties.updateDataRetentionSettings",
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [
            "name"
          ],
          "path": "v1alpha/{+name}",
          "description": "Updates the singleton data retention settings for this property."
        },
        "updateGoogleSignalsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "description": "Updates Google Signals settings for a property.",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/googleSignalsSettings$",
              "type": "string",
              "location": "path",
              "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
              "required": true
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
              "location": "query"
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "id": "analyticsadmin.properties.updateGoogleSignalsSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "getGoogleSignalsSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/googleSignalsSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
          },
          "httpMethod": "GET",
          "description": "Lookup for Google Signals settings for a property.",
          "parameters": {
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. The name of the google signals settings to retrieve. Format: properties/{property}/googleSignalsSettings",
              "required": true,
              "pattern": "^properties/[^/]+/googleSignalsSettings$"
            }
          },
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "analyticsadmin.properties.getGoogleSignalsSettings"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "path": "v1alpha/{+name}",
          "id": "analyticsadmin.properties.patch",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "description": "Updates a property.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProperty"
          },
          "parameters": {
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            },
            "name": {
              "required": true,
              "type": "string",
              "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
              "location": "path",
              "pattern": "^properties/[^/]+$"
            }
          }
        },
        "updateAttributionSettings": {
          "description": "Updates attribution settings on a property.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/attributionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "id": "analyticsadmin.properties.updateAttributionSettings",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
          },
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
              "location": "path",
              "type": "string",
              "pattern": "^properties/[^/]+/attributionSettings$"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "location": "query",
              "type": "string",
              "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields."
            }
          }
        },
        "getDataRetentionSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "description": "Returns the singleton data retention settings for this property.",
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "parameters": {
            "name": {
              "pattern": "^properties/[^/]+/dataRetentionSettings$",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataRetentionSettings Example: \"properties/1000/dataRetentionSettings\""
            }
          },
          "flatPath": "v1alpha/properties/{propertiesId}/dataRetentionSettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
          },
          "id": "analyticsadmin.properties.getDataRetentionSettings",
          "parameterOrder": [
            "name"
          ]
        },
        "createRollupProperty": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
          },
          "id": "analyticsadmin.properties.createRollupProperty",
          "flatPath": "v1alpha/properties:createRollupProperty",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "httpMethod": "POST",
          "description": "Create a roll-up property and all roll-up property source links.",
          "path": "v1alpha/properties:createRollupProperty",
          "parameterOrder": []
        },
        "acknowledgeUserDataCollection": {
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest"
          },
          "id": "analyticsadmin.properties.acknowledgeUserDataCollection",
          "path": "v1alpha/{+property}:acknowledgeUserDataCollection",
          "flatPath": "v1alpha/properties/{propertiesId}:acknowledgeUserDataCollection",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse"
          },
          "description": "Acknowledges the terms of user data collection for the specified property. This acknowledgement must be completed (either in the Google Analytics UI or through this API) before MeasurementProtocolSecret resources may be created.",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameters": {
            "property": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "Required. The property for which to acknowledge user data collection.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "property"
          ],
          "httpMethod": "POST"
        },
        "provisionSubproperty": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest"
          },
          "description": "Create a subproperty and a subproperty event filter that applies to the created subproperty.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit"
          ],
          "parameterOrder": [],
          "id": "analyticsadmin.properties.provisionSubproperty",
          "path": "v1alpha/properties:provisionSubproperty",
          "flatPath": "v1alpha/properties:provisionSubproperty",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse"
          }
        },
        "getReportingIdentitySettings": {
          "path": "v1alpha/{+name}",
          "description": "Returns the reporting identity settings for this property.",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the settings to lookup. Format: properties/{property}/reportingIdentitySettings Example: \"properties/1000/reportingIdentitySettings\"",
              "location": "path",
              "pattern": "^properties/[^/]+/reportingIdentitySettings$",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "flatPath": "v1alpha/properties/{propertiesId}/reportingIdentitySettings",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
          },
          "httpMethod": "GET",
          "id": "analyticsadmin.properties.getReportingIdentitySettings"
        },
        "runAccessReport": {
          "httpMethod": "POST",
          "flatPath": "v1alpha/properties/{propertiesId}:runAccessReport",
          "response": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
          },
          "request": {
            "$ref": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest"
          },
          "parameterOrder": [
            "entity"
          ],
          "description": "Returns a customized report of data access records. The report provides records of each time a user reads Google Analytics reporting data. Access records are retained for up to 2 years. Data Access Reports can be requested for a property. Reports may be requested for any property, but dimensions that aren't related to quota can only be requested on Google Analytics 360 properties. This method is only available to Administrators. These data access records include GA UI Reporting, GA UI Explorations, GA Data API, and other products like Firebase & Admob that can retrieve data from Google Analytics through a linkage. These records don't include property configuration changes like adding a stream or changing a property's time zone. For configuration change history, see [searchChangeHistoryEvents](https://developers.google.com/analytics/devguides/config/admin/v1/rest/v1alpha/accounts/searchChangeHistoryEvents). To give your feedback on this API, complete the [Google Analytics Access Reports feedback](https://docs.google.com/forms/d/e/1FAIpQLSdmEBUrMzAEdiEKk5TV5dEHvDUZDRlgWYdQdAeSdtR4hVjEhw/viewform) form.",
          "parameters": {
            "entity": {
              "pattern": "^properties/[^/]+$",
              "required": true,
              "description": "The Data Access Report supports requesting at the property level or account level. If requested at the account level, Data Access Reports include all access for all properties under that account. To request at the property level, entity should be for example 'properties/123' if \"123\" is your Google Analytics property ID. To request at the account level, entity should be for example 'accounts/1234' if \"1234\" is your Google Analytics Account ID.",
              "type": "string",
              "location": "path"
            }
          },
          "path": "v1alpha/{+entity}:runAccessReport",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ],
          "id": "analyticsadmin.properties.runAccessReport"
        }
      },
      "resources": {
        "customMetrics": {
          "methods": {
            "archive": {
              "description": "Archives a CustomMetric on a property.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.customMetrics.archive",
              "path": "v1alpha/{+name}:archive",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the CustomMetric to archive. Example format: properties/1234/customMetrics/5678",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomMetricRequest"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}:archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "description": "Creates a CustomMetric.",
              "path": "v1alpha/{+parent}/customMetrics",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "id": "analyticsadmin.properties.customMetrics.create",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              }
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
              },
              "id": "analyticsadmin.properties.customMetrics.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListCustomMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomMetrics` must match the call that provided the page token.",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Example format: properties/1234",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists CustomMetrics on a property.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/customMetrics"
            },
            "patch": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "description": "Updates a CustomMetric on a property.",
              "id": "analyticsadmin.properties.customMetrics.patch"
            },
            "get": {
              "id": "analyticsadmin.properties.customMetrics.get",
              "description": "Lookup for a single CustomMetric.",
              "flatPath": "v1alpha/properties/{propertiesId}/customMetrics/{customMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomMetric to get. Example format: properties/1234/customMetrics/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/customMetrics/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "searchAds360Links": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the SearchAds360Link to get. Example format: properties/1234/SearchAds360Link/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Look up a single SearchAds360Link",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.searchAds360Links.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a SearchAds360Link on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The name of the SearchAds360Link to delete. Example format: properties/1234/SearchAds360Links/5678",
                  "type": "string",
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analyticsadmin.properties.searchAds360Links.delete"
            },
            "create": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/searchAds360Links",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "id": "analyticsadmin.properties.searchAds360Links.create",
              "description": "Creates a SearchAds360Link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              }
            },
            "list": {
              "path": "v1alpha/{+parent}/searchAds360Links",
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse"
              },
              "description": "Lists all SearchAds360Links on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListSearchAds360Links` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSearchAds360Links` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.searchAds360Links.list"
            },
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/searchAds360Links/[^/]+$",
                  "description": "Identifier. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates a SearchAds360Link on a property.",
              "flatPath": "v1alpha/properties/{propertiesId}/searchAds360Links/{searchAds360LinksId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
              },
              "id": "analyticsadmin.properties.searchAds360Links.patch"
            }
          }
        },
        "calculatedMetrics": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "id": "analyticsadmin.properties.calculatedMetrics.patch",
              "description": "Updates a CalculatedMetric on a property.",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+parent}/calculatedMetrics",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "description": "Creates a CalculatedMetric.",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "description": "Required. Format: properties/{property_id} Example: properties/1234",
                  "type": "string",
                  "location": "path"
                },
                "calculatedMetricId": {
                  "description": "Required. The ID to use for the calculated metric which will become the final component of the calculated metric's resource name. This value should be 1-80 characters and valid characters are /[a-zA-Z0-9_]/, no spaces allowed. calculated_metric_id must be unique between all calculated metrics under a property. The calculated_metric_id is used when referencing this calculated metric from external APIs, for example, \"calcMetric:{calculated_metric_id}\".",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "analyticsadmin.properties.calculatedMetrics.create"
            },
            "list": {
              "description": "Lists CalculatedMetrics on a property.",
              "parameters": {
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCalculatedMetrics` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCalculatedMetrics` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/calculatedMetrics",
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.calculatedMetrics.list"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.calculatedMetrics.get",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
              },
              "description": "Lookup for a single CalculatedMetric.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the CalculatedMetric to get. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01",
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^properties/[^/]+/calculatedMetrics/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the CalculatedMetric to delete. Format: properties/{property_id}/calculatedMetrics/{calculated_metric_id} Example: properties/1234/calculatedMetrics/Metric01"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.calculatedMetrics.delete",
              "flatPath": "v1alpha/properties/{propertiesId}/calculatedMetrics/{calculatedMetricsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1alpha/{+name}",
              "description": "Deletes a CalculatedMetric on a property."
            }
          }
        },
        "customDimensions": {
          "methods": {
            "patch": {
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "required": true,
                  "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
                  "location": "path"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                }
              },
              "id": "analyticsadmin.properties.customDimensions.patch",
              "httpMethod": "PATCH",
              "description": "Updates a CustomDimension on a property.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "analyticsadmin.properties.customDimensions.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to get. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "description": "Lookup for a single CustomDimension.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "archive": {
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:archive",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.archive",
              "httpMethod": "POST",
              "description": "Archives a CustomDimension on a property.",
              "parameters": {
                "name": {
                  "description": "Required. The name of the CustomDimension to archive. Example format: properties/1234/customDimensions/5678",
                  "pattern": "^properties/[^/]+/customDimensions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions/{customDimensionsId}:archive",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "create": {
              "description": "Creates a CustomDimension. Warning: It's not permissible to use this method to collect data on individual users. In particular, sending user IDs in custom dimensions violates the [Google Analytics Terms of Service](https://www.google.com/analytics/terms/).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.customDimensions.create",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/customDimensions",
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. Example format: properties/1234",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
              }
            },
            "list": {
              "description": "Lists CustomDimensions on a property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "v1alpha/{+parent}/customDimensions",
              "id": "analyticsadmin.properties.customDimensions.list",
              "flatPath": "v1alpha/properties/{propertiesId}/customDimensions",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum)."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234",
                  "pattern": "^properties/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListCustomDimensions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCustomDimensions` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "keyEvents": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "location": "path",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
                  "required": true
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "id": "analyticsadmin.properties.keyEvents.patch",
              "description": "Updates a Key Event.",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.get",
              "description": "Retrieve a single Key Event.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/keyEvents",
              "id": "analyticsadmin.properties.keyEvents.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "required": true
                }
              },
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "description": "Creates a Key Event.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes a Key Event.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "id": "analyticsadmin.properties.keyEvents.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "type": "string",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.keyEvents.list",
              "flatPath": "v1alpha/properties/{propertiesId}/keyEvents",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse"
              },
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "httpMethod": "GET",
              "path": "v1alpha/{+parent}/keyEvents",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token."
                }
              }
            }
          }
        },
        "dataStreams": {
          "methods": {
            "patch": {
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.dataStreams.patch",
              "parameters": {
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates a DataStream on a property.",
              "httpMethod": "PATCH"
            },
            "updateEnhancedMeasurementSettings": {
              "description": "Updates the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "parameters": {
                "name": {
                  "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analyticsadmin.properties.dataStreams.updateEnhancedMeasurementSettings"
            },
            "get": {
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the DataStream to get. Example format: properties/1234/dataStreams/5678",
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analyticsadmin.properties.dataStreams.get",
              "httpMethod": "GET",
              "description": "Lookup for a single DataStream."
            },
            "getDataRedactionSettings": {
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.getDataRedactionSettings",
              "parameters": {
                "name": {
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lookup for a single DataRedactionSettings."
            },
            "updateDataRedactionSettings": {
              "description": "Updates a DataRedactionSettings on a property.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/dataRedactionSettings",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
              },
              "httpMethod": "PATCH",
              "id": "analyticsadmin.properties.dataStreams.updateDataRedactionSettings",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "Output only. Name of this Data Redaction Settings resource. Format: properties/{property_id}/dataStreams/{data_stream}/dataRedactionSettings Example: \"properties/1000/dataStreams/2000/dataRedactionSettings\"",
                  "location": "path",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/dataRedactionSettings$",
                  "type": "string"
                }
              }
            },
            "getGlobalSiteTag": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/globalSiteTag",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaGlobalSiteTag"
              },
              "id": "analyticsadmin.properties.dataStreams.getGlobalSiteTag",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/globalSiteTag$",
                  "required": true,
                  "description": "Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/dataStreams/{stream_id}/globalSiteTag Example: `properties/123/dataStreams/456/globalSiteTag`",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.",
              "httpMethod": "GET"
            },
            "list": {
              "id": "analyticsadmin.properties.dataStreams.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token, received from a previous `ListDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDataStreams` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Example format: properties/1234",
                  "required": true,
                  "pattern": "^properties/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "format": "int32"
                }
              },
              "description": "Lists DataStreams on a property.",
              "path": "v1alpha/{+parent}/dataStreams",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Example format: properties/1234",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "httpMethod": "POST",
              "id": "analyticsadmin.properties.dataStreams.create",
              "path": "v1alpha/{+parent}/dataStreams",
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams",
              "response": {
                "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
              },
              "description": "Creates a DataStream."
            },
            "getEnhancedMeasurementSettings": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the settings to lookup. Format: properties/{property}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
                  "location": "path",
                  "type": "string",
                  "pattern": "^properties/[^/]+/dataStreams/[^/]+/enhancedMeasurementSettings$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns the enhanced measurement settings for this data stream. Note that the stream must enable enhanced measurement for these settings to take effect.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "id": "analyticsadmin.properties.dataStreams.getEnhancedMeasurementSettings",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/properties/{propertiesId}/dataStreams/{dataStreamsId}/enhancedMeasurementSettings",
              "response": {
[...]
