{
  "servicePath": "",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/android-publisher",
  "batchPath": "batch",
  "version": "v3",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "resources": {
    "appstoreappsreview": {
      "methods": {
        "updateappstorehostedapppublishstatus": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED.",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app."
            },
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the third-party app store."
            }
          },
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus"
        },
        "uploadimage": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "mediaUpload": {
            "accept": [
              "image/*"
            ],
            "maxSize": "15728640",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
                "multipart": true
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
                "multipart": true
              }
            }
          },
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store.",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadimage",
          "request": {
            "$ref": "UploadImageRequest"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "supportsMediaUpload": true,
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "response": {
            "$ref": "UploadImageResponse"
          }
        },
        "updateappstorehostedapp": {
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "appStorePackageName"
          ],
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation.",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp"
        },
        "createappstorehostedapp": {
          "parameterOrder": [
            "appStorePackageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app.",
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create"
        },
        "uploadapk": {
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true
            },
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "UploadApkResponse"
          },
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
                "multipart": true
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
                "multipart": true
              }
            },
            "maxSize": "10737418240"
          },
          "request": {
            "$ref": "UploadApkRequest"
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
        },
        "uploadappstoreapppolicydeclarationfile": {
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
                "multipart": true
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
                "multipart": true
              }
            },
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "maxSize": "10485760"
          },
          "httpMethod": "POST",
          "parameters": {
            "appStorePackageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store."
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app."
            }
          },
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          },
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "supportsMediaUpload": true,
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file."
        }
      }
    },
    "appstorecatalog": {
      "resources": {
        "recentappviews": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "id": "androidpublisher.appstorecatalog.recentappviews.get",
              "httpMethod": "GET",
              "parameters": {
                "appStorePackageName": {
                  "description": "Required. The package name of the app store on behalf of which the request is made.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "playAppPackageName": {
                  "type": "string",
                  "description": "Required. The package name of the requested Play app.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns metadata about a recently updated app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "response": {
                "$ref": "RecentAppView"
              },
              "parameterOrder": [
                "appStorePackageName",
                "playAppPackageName"
              ]
            }
          }
        },
        "recentupdateevents": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "response": {
                "$ref": "ListRecentUpdateEventsResponse"
              },
              "parameterOrder": [
                "appStorePackageName"
              ],
              "id": "androidpublisher.appstorecatalog.recentupdateevents.list",
              "httpMethod": "GET",
              "parameters": {
                "endTime": {
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string",
                  "description": "Required. The end time of the range (exclusive)."
                },
                "startTime": {
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query",
                  "description": "Required. The start time of the range (inclusive)."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListRecentUpdateEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRecentUpdateEvents` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "appStorePackageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The package name of the app store on behalf of which the request is made."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. The maximum number of update events to return. The service may return fewer than this value. If unspecified, at most 100 update events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists update events for eligible apps in the given time range.",
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents"
            }
          }
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "orderId": {
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "required": true
            },
            "revoke": {
              "type": "boolean",
              "location": "query",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)."
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "id": "androidpublisher.orders.refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "batchget": {
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.orders.batchget",
          "description": "Get order details for a list of orders.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "type": "string"
            },
            "orderIds": {
              "type": "string",
              "repeated": true,
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "BatchGetOrdersResponse"
          }
        },
        "reviewrefund": {
          "description": "Provide refund preference and purchase usage for a chargeback request",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing')."
            },
            "orderId": {
              "type": "string",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "required": true
            }
          },
          "id": "androidpublisher.orders.reviewrefund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:reviewrefund",
          "request": {
            "$ref": "OrdersReviewRefundRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "get": {
          "id": "androidpublisher.orders.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "description": "Get order details for a single order.",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "parameters": {
            "orderId": {
              "location": "path",
              "required": true,
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing')."
            }
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "id": "androidpublisher.purchases.products.get",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ProductPurchase"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "description": "Checks the purchase and consumption status of an inapp item.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "consume": {
              "description": "Consumes a purchase for an inapp item.",
              "httpMethod": "POST",
              "parameters": {
                "productId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "id": "androidpublisher.purchases.products.consume",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume"
            },
            "acknowledge": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Acknowledges a purchase of an inapp item.",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1')."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "id": "androidpublisher.purchases.products.acknowledge",
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              }
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "httpMethod": "GET",
              "parameters": {
                "endTime": {
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response.",
                  "format": "int64",
                  "type": "string",
                  "location": "query"
                },
                "maxResults": {
                  "location": "query",
                  "format": "uint32",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection."
                },
                "startTime": {
                  "type": "string",
                  "format": "int64",
                  "location": "query",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "format": "uint32",
                  "location": "query",
                  "type": "integer"
                },
                "type": {
                  "type": "integer",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken.",
                  "format": "int32",
                  "location": "query"
                },
                "includeQuantityBasedPartialRefund": {
                  "location": "query",
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "type": "boolean"
                },
                "token": {
                  "type": "string",
                  "location": "query",
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled."
                },
                "packageName": {
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists the purchases that were canceled, refunded or charged-back."
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "defer": {
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "description": "Defers the renewal of a subscription.",
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              }
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Get metadata about a subscription",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "token": {
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "revoke": {
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "description": "Revoke a subscription purchase for the user.",
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "httpMethod": "POST",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                }
              }
            },
            "cancel": {
              "description": "Cancel a subscription purchase for the user.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptionsv2.cancel"
            }
          }
        },
        "subscriptions": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "deprecated": true,
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001')."
                },
                "packageName": {
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "acknowledge": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "parameters": {
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a subscription purchase.",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              }
            },
            "defer": {
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.defer",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "subscriptionId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001')."
                },
                "token": {
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "type": "string"
                }
              }
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "httpMethod": "GET",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "response": {
                "$ref": "ProductPurchaseV2"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}"
            }
          }
        }
      }
    },
    "apprecovery": {
      "methods": {
        "create": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.apprecovery.create"
        },
        "list": {
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "type": "string"
            },
            "versionCode": {
              "description": "Required. Version code targeted by the list of recovery actions.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "id": "androidpublisher.apprecovery.list"
        },
        "deploy": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "httpMethod": "POST",
          "parameters": {
            "appRecoveryId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is deployed."
            }
          },
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "id": "androidpublisher.apprecovery.deploy",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          }
        },
        "cancel": {
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which recovery action cancellation is requested.",
              "location": "path",
              "required": true
            },
            "appRecoveryId": {
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "id": "androidpublisher.apprecovery.cancel",
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ]
        },
        "addTargeting": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "parameters": {
            "appRecoveryId": {
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is to be updated."
            }
          },
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "id": "androidpublisher.apprecovery.addTargeting",
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting"
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The app package name."
            }
          },
          "id": "androidpublisher.monetization.convertRegionPrices",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          }
        }
      },
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "packageName": {
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  }
                },
                "batchDelete": {
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\"."
                    }
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "list": {
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) for which the offers should be read."
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app."
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token."
                        }
                      }
                    },
                    "batchUpdateStates": {
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "description": "Updates a batch of one-time product offer states.",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                        },
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates"
                    },
                    "batchGet": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "httpMethod": "POST",
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources."
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "description": "Reads one or more one-time product offers.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "activate": {
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "description": "Activates a one-time product offer.",
                      "httpMethod": "POST",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to activate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ]
                    },
                    "batchDelete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "description": "Deletes one or more one-time product offers.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options."
                        },
                        "packageName": {
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "location": "path",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        }
                      }
                    },
                    "deactivate": {
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate."
                        },
                        "offerId": {
                          "type": "string",
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "description": "Deactivates a one-time product offer.",
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      }
                    },
                    "batchUpdate": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "description": "Creates or updates one or more one-time product offers.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string"
                        }
                      }
                    },
                    "cancel": {
                      "httpMethod": "POST",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "offerId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The offer ID of the offer to cancel."
                        },
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "description": "Cancels a one-time product offer.",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) of the product to retrieve."
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The product ID of the product to retrieve.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Reads a single one-time product.",
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "response": {
                "$ref": "OneTimeProduct"
              }
            },
            "list": {
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "packageName": {
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time product should be read.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "description": "Lists all one-time products under a given app.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts"
            },
            "batchDelete": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "description": "Deletes one or more one-time products.",
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete"
            },
            "delete": {
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Deletes a one-time product.",
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "latencyTolerance": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "type": "string",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ]
                },
                "productId": {
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.delete"
            },
            "patch": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated.",
                  "location": "query"
                },
                "productId": {
                  "type": "string",
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "location": "path",
                  "required": true
                },
                "latencyTolerance": {
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "type": "string",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "location": "query"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. Package name of the parent app."
                },
                "regionsVersion.version": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                },
                "allowMissing": {
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "response": {
                "$ref": "OneTimeProduct"
              },
              "description": "Creates or updates a one-time product.",
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "request": {
                "$ref": "OneTimeProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "batchUpdate": {
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              },
              "parameterOrder": [
                "packageName"
              ],
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "description": "Creates or updates one or more one-time products.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate"
            },
            "batchGet": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "location": "path",
                  "required": true
                },
                "productIds": {
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Reads one or more one-time products.",
              "parameterOrder": [
                "packageName"
              ]
            }
          }
        },
        "subscriptions": {
          "resources": {
            "basePlans": {
              "methods": {
                "deactivate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "response": {
                    "$ref": "Subscription"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "type": "string"
                    },
                    "packageName": {
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "location": "path",
                      "required": true
                    },
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to deactivate.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate"
                },
                "migratePrices": {
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported.",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource."
                    },
                    "productId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "type": "string"
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to update prices on."
                    }
                  }
                },
                "activate": {
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to activate."
                    },
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to activate.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to activate.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "response": {
                    "$ref": "Subscription"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible.",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "type": "string"
                    },
                    "basePlanId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to delete.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "batchUpdateStates": {
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
[...]
