{
  "protocol": "rest",
  "revision": "20260908",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "canonicalName": "Android Publisher",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "name": "androidpublisher",
  "schemas": {
    "ProductPurchasesAcknowledgeRequest": {
      "id": "ProductPurchasesAcknowledgeRequest",
      "description": "Request for the product.purchases.acknowledge API.",
      "properties": {
        "developerPayload": {
          "type": "string",
          "description": "Payload to attach to the purchase."
        }
      },
      "type": "object"
    },
    "PartialRefundEvent": {
      "type": "object",
      "description": "Details of the partial refund events for this order.",
      "id": "PartialRefundEvent",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "The partial refund has been created, but not yet processed.",
            "The partial refund was processed successfully."
          ],
          "description": "The state of the partial refund.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED_SUCCESSFULLY"
          ]
        },
        "processTime": {
          "format": "google-datetime",
          "description": "The time when the partial refund was processed.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the partial refund was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "refundDetails": {
          "description": "Details for the partial refund.",
          "$ref": "RefundDetails"
        }
      }
    },
    "EnrollExistingApp": {
      "type": "object",
      "description": "Enroll an existing app into Play signing.",
      "properties": {
        "cloudKmsKey": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKey"
        }
      },
      "id": "EnrollExistingApp"
    },
    "SignupPromotion": {
      "type": "object",
      "id": "SignupPromotion",
      "description": "The promotion applied on this item when purchased.",
      "properties": {
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        },
        "vanityCode": {
          "description": "A vanity code was applied.",
          "$ref": "VanityCode"
        }
      }
    },
    "GetOneTimeProductOfferRequest": {
      "description": "Request message for GetOneTimeProductOffers.",
      "type": "object",
      "id": "GetOneTimeProductOfferRequest",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to get.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to get.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to get."
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to get.",
          "type": "string"
        }
      }
    },
    "UpdateSubscriptionRequest": {
      "id": "UpdateSubscriptionRequest",
      "description": "Request message for UpdateSubscription.",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "format": "google-fieldmask",
          "type": "string"
        },
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription.",
          "$ref": "RegionsVersion"
        }
      },
      "type": "object"
    },
    "AppVersionList": {
      "type": "object",
      "id": "AppVersionList",
      "description": "Data format for a list of app versions.",
      "properties": {
        "versionCodes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "List of app version codes."
        }
      }
    },
    "Order": {
      "type": "object",
      "description": "The Order resource encapsulates comprehensive information about a transaction made on Google Play. It includes a variety of attributes that provide details about the order itself, the products purchased, and the history of events related to the order. The Orders APIs provide real-time access to your order data within the Google Play ecosystem. You can retrieve detailed information and metadata for both one-time and recurring orders, including transaction details like charges, taxes, and refunds, as well as metadata such as pricing phases for subscriptions. The Orders APIs let you automate tasks related to order management, reducing the need for manual checks via the Play Developer Console. The following are some of the use cases for this API: + Real-time order data retrieval - Get order details and metadata immediately after a purchase using an order ID. + Order update synchronization - Periodically sync order updates to maintain an up-to-date record of order information. Note: + The Orders API calls count towards your Play Developer API quota, which defaults to 200K daily, and may be insufficient to sync extensive order histories. + A maximum of 1000 orders can be retrieved per call. Using larger page sizes is recommended to minimize quota usage. Check your quota in the Cloud Console and request more if required.",
      "id": "Order",
      "properties": {
        "pointsDetails": {
          "description": "Play points applied to the order, including offer information, discount rate and point values.",
          "$ref": "PointsDetails"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "Order has been created and is waiting to be processed.",
            "Order has been successfully processed.",
            "Order was canceled before being processed.",
            "Requested refund is waiting to be processed.",
            "Part of the order amount was refunded.",
            "The full order amount was refunded."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED",
            "CANCELED",
            "PENDING_REFUND",
            "PARTIALLY_REFUNDED",
            "REFUNDED"
          ],
          "description": "The state of the order."
        },
        "orderId": {
          "description": "The order ID.",
          "type": "string"
        },
        "salesChannel": {
          "description": "The originating sales channel of the order.",
          "type": "string",
          "enum": [
            "SALES_CHANNEL_UNSPECIFIED",
            "IN_APP",
            "PC_EMULATOR",
            "NATIVE_PC",
            "PLAY_STORE",
            "OUTSIDE_PLAY_STORE"
          ],
          "enumDescriptions": [
            "Sales channel unspecified. This value is not used.",
            "Standard orders that initiated from in-app.",
            "Orders initiated from a PC emulator for in-app purchases.",
            "Orders initiated from a native PC app for in-app purchases.",
            "Orders initiated from the Google Play store.",
            "Orders initiated outside the Google Play store."
          ]
        },
        "developerRevenueInBuyerCurrency": {
          "$ref": "Money",
          "description": "Your revenue for this order in the buyer's currency, including deductions of partial refunds, taxes and fees. Google deducts standard transaction and third party fees from each sale, including VAT in some regions."
        },
        "lineItems": {
          "description": "The individual line items making up this order.",
          "type": "array",
          "items": {
            "$ref": "LineItem"
          }
        },
        "buyerAddress": {
          "$ref": "BuyerAddress",
          "description": "Address information for the customer, for use in tax computation. When Google is the Merchant of Record for the order, only country is shown."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the order was created."
        },
        "orderDetails": {
          "$ref": "OrderDetails",
          "description": "Detailed information about the order at creation time."
        },
        "purchaseToken": {
          "description": "The token provided to the user's device when the subscription or item was purchased.",
          "type": "string"
        },
        "total": {
          "description": "The final amount paid by the customer, taking into account discounts and taxes.",
          "$ref": "Money"
        },
        "tax": {
          "description": "The total tax paid as a part of this order.",
          "$ref": "Money"
        },
        "orderHistory": {
          "$ref": "OrderHistory",
          "description": "Details about events which modified the order."
        },
        "lastEventTime": {
          "type": "string",
          "description": "The time of the last event that occurred on the order.",
          "format": "google-datetime"
        }
      }
    },
    "GeneratedSplitApk": {
      "type": "object",
      "id": "GeneratedSplitApk",
      "description": "Download metadata for a split APK.",
      "properties": {
        "splitId": {
          "type": "string",
          "description": "Split ID. Empty for the main split of the base module."
        },
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this APK belongs to."
        },
        "variantId": {
          "description": "ID of the generated variant.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ActivateSubscriptionOfferRequest": {
      "type": "object",
      "id": "ActivateSubscriptionOfferRequest",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to activate.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the offer to activate."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to activate."
        }
      },
      "description": "Request message for ActivateSubscriptionOffer."
    },
    "PreorderDetails": {
      "id": "PreorderDetails",
      "description": "Details of a pre-order purchase.",
      "type": "object",
      "properties": {}
    },
    "PendingCancellation": {
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "id": "PendingCancellation",
      "properties": {},
      "type": "object"
    },
    "ReviewsListResponse": {
      "properties": {
        "reviews": {
          "items": {
            "$ref": "Review"
          },
          "type": "array",
          "description": "List of reviews."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "Information about the current page."
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        }
      },
      "type": "object",
      "description": "Response listing reviews.",
      "id": "ReviewsListResponse"
    },
    "InternalAppSharingArtifact": {
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "type": "string",
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command."
        },
        "downloadUrl": {
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "type": "object",
      "id": "SubscriptionPurchasesDeferResponse",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "UploadAppStoreAppPolicyDeclarationFileResponse": {
      "type": "object",
      "description": "Response for uploading a policy declaration file.",
      "id": "UploadAppStoreAppPolicyDeclarationFileResponse",
      "properties": {
        "fileId": {
          "description": "The unique ID of the uploaded file.",
          "type": "string"
        }
      }
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "type": "object",
      "properties": {
        "otherRegionsPrices": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "free": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
          "description": "Set to specify this offer is free to obtain."
        },
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "relativeDiscount": {
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "type": "number"
        }
      }
    },
    "OneTimeProductBuyPurchaseOption": {
      "properties": {
        "multiQuantityEnabled": {
          "type": "boolean",
          "description": "Optional. Whether this purchase option allows multi-quantity. Multi-quantity allows buyer to purchase more than one item in a single checkout."
        },
        "legacyCompatible": {
          "type": "boolean",
          "description": "Optional. Whether this purchase option will be available in legacy PBL flows that do not support one-time products model. Up to one \"buy\" purchase option can be marked as backwards compatible."
        }
      },
      "id": "OneTimeProductBuyPurchaseOption",
      "type": "object",
      "description": "A purchase option that can be bought."
    },
    "LocalizedStoreListing": {
      "properties": {
        "phoneScreenshots": {
          "$ref": "ScreenshotSet",
          "description": "The phone screenshots of the app."
        },
        "icon": {
          "$ref": "ImageAsset",
          "description": "The icon of the app."
        },
        "tabletRegularScreenshots": {
          "$ref": "ScreenshotSet",
          "description": "The regular tablet screenshots of the app."
        },
        "tabletSmallScreenshots": {
          "description": "The small tablet screenshots of the app.",
          "$ref": "ScreenshotSet"
        },
        "fullDescription": {
          "description": "A longer description of the app in this localization.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code for this localization.",
          "type": "string"
        },
        "appName": {
          "type": "string",
          "description": "The name of the app in this localization."
        },
        "video": {
          "description": "The video of the app.",
          "$ref": "VideoAsset"
        },
        "featureGraphic": {
          "$ref": "ImageAsset",
          "description": "The feature graphic of the app."
        },
        "shortDescription": {
          "description": "A short description of the app in this localization.",
          "type": "string"
        }
      },
      "id": "LocalizedStoreListing",
      "description": "A localized store listings of the app.",
      "type": "object"
    },
    "SystemApkOptions": {
      "id": "SystemApkOptions",
      "properties": {
        "uncompressedNativeLibraries": {
          "description": "Whether system APK was generated with uncompressed native libraries.",
          "type": "boolean"
        },
        "uncompressedDexFiles": {
          "description": "Whether system APK was generated with uncompressed dex files.",
          "type": "boolean"
        },
        "rotated": {
          "description": "Whether to use the rotated key for signing the system APK.",
          "type": "boolean"
        }
      },
      "description": "Options for system APKs.",
      "type": "object"
    },
    "PurchaseStateContext": {
      "id": "PurchaseStateContext",
      "properties": {
        "purchaseState": {
          "readOnly": true,
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ],
          "description": "Output only. The purchase state of the purchase."
        }
      },
      "type": "object",
      "description": "Context about the purchase state."
    },
    "MultiAbi": {
      "type": "object",
      "properties": {
        "abi": {
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "items": {
            "$ref": "Abi"
          },
          "type": "array"
        }
      },
      "description": "Represents a list of ABIs.",
      "id": "MultiAbi"
    },
    "UpdatePurchaseOptionStateRequest": {
      "properties": {
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        },
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        }
      },
      "type": "object",
      "id": "UpdatePurchaseOptionStateRequest",
      "description": "Request message to update the state of a one-time product purchase option."
    },
    "ExternalAccountIds": {
      "description": "User account identifier in your app.",
      "properties": {
        "obfuscatedProfileId": {
          "type": "string",
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow."
        },
        "obfuscatedAccountId": {
          "type": "string",
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow."
        }
      },
      "type": "object",
      "id": "ExternalAccountIds"
    },
    "UsesPermission": {
      "description": "A permission used by this APK.",
      "id": "UsesPermission",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "type": "integer"
        }
      }
    },
    "UpdateSubscriptionOfferRequest": {
      "type": "object",
      "description": "Request message for UpdateSubscriptionOffer.",
      "id": "UpdateSubscriptionOfferRequest",
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored.",
          "type": "boolean"
        },
        "subscriptionOffer": {
          "description": "Required. The subscription offer to update.",
          "$ref": "SubscriptionOffer"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the subscription_offer."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to be updated."
        }
      }
    },
    "OfferPhaseDetails": {
      "id": "OfferPhaseDetails",
      "description": "Details of a pricing phase for the entitlement period funded by this order.",
      "properties": {
        "baseDetails": {
          "$ref": "BaseDetails",
          "description": "The order funds a base price period."
        },
        "freeTrialDetails": {
          "description": "The order funds a free trial period.",
          "$ref": "FreeTrialDetails"
        },
        "prorationPeriodDetails": {
          "$ref": "ProrationPeriodDetails",
          "description": "The order funds a proration period."
        },
        "introductoryPriceDetails": {
          "$ref": "IntroductoryPriceDetails",
          "description": "The order funds an introductory pricing period."
        }
      },
      "type": "object"
    },
    "DeployAppRecoveryResponse": {
      "description": "Response message for DeployAppRecovery.",
      "id": "DeployAppRecoveryResponse",
      "properties": {},
      "type": "object"
    },
    "CatalogPermission": {
      "description": "A permission declared by an app.",
      "properties": {
        "maxSdkVersion": {
          "type": "integer",
          "description": "The `maxSdkVersion` attribute indicating up to which Android SDK version the permission is requested.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The `name` attribute indicating the permission name."
        }
      },
      "type": "object",
      "id": "CatalogPermission"
    },
    "DeviceIdentifier": {
      "id": "DeviceIdentifier",
      "properties": {
        "deviceBrand": {
          "description": "The brand of the device.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "type": "object",
      "description": "Defines a device identifier for a device."
    },
    "VoidedPurchase": {
      "properties": {
        "purchaseTimeMillis": {
          "format": "int64",
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string"
        },
        "voidedTimeMillis": {
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "voidedSource": {
          "type": "integer",
          "format": "int32",
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "voidedQuantity": {
          "type": "integer",
          "description": "The voided quantity as the result of a quantity-based partial refund. Voided purchases of quantity-based partial refunds may only be returned when includeQuantityBasedPartialRefund is set to true.",
          "format": "int32"
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a voided purchase object in the androidpublisher service."
        },
        "voidedReason": {
          "type": "integer",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback 8. Unacknowledged_purchase",
          "format": "int32"
        }
      },
      "id": "VoidedPurchase",
      "type": "object",
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back."
    },
    "DeferredItemReplacement": {
      "description": "Information related to deferred item replacement.",
      "properties": {
        "productId": {
          "description": "The product_id going to replace the existing product_id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DeferredItemReplacement"
    },
    "RamSelector": {
      "type": "object",
      "description": "Defines a RAM selector for a device.",
      "id": "RamSelector",
      "properties": {
        "ramMbLessThanOrEqual": {
          "format": "int64",
          "description": "This will match any device that has less than or equal ram_mb_less_than_or_equal mb of RAM.",
          "type": "string"
        }
      }
    },
    "OneTimeProductOfferRegionalPricingAndAvailabilityConfig": {
      "properties": {
        "availability": {
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The offer is available to users.",
            "The offer is no longer available to users. This value can only be used if the availability was previously set as AVAILABLE."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ],
          "description": "Required. The availability for this region.",
          "type": "string"
        },
        "relativeDiscount": {
          "description": "The fraction of the purchase option price that the user pays for this offer. For example, if the purchase option price for this region is $12, then a 50% discount would correspond to a price of $6. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "format": "double",
          "type": "number"
        },
        "noOverride": {
          "$ref": "OneTimeProductOfferNoPriceOverrideOptions",
          "description": "The price defined in the purchase option for this region will be used."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g., \"US\".",
          "type": "string"
        },
        "absoluteDiscount": {
          "description": "The absolute value of the discount that is subtracted from the purchase option price. It should be between 0 and the purchase option price.",
          "$ref": "Money"
        }
      },
      "description": "Regional pricing and availability configuration for a one-time product offer.",
      "type": "object",
      "id": "OneTimeProductOfferRegionalPricingAndAvailabilityConfig"
    },
    "Apk": {
      "id": "Apk",
      "properties": {
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of the APK, as specified in the manifest file."
        }
      },
      "description": "Information about an APK. The resource for ApksService.",
      "type": "object"
    },
    "UploadImageRequest": {
      "properties": {},
      "id": "UploadImageRequest",
      "description": "Request to upload an image.",
      "type": "object"
    },
    "Bundle": {
      "id": "Bundle",
      "description": "Information about an app bundle. The resource for BundlesService.",
      "properties": {
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "sha256": {
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeletePurchaseOptionRequest": {
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to delete.",
          "type": "string"
        },
        "force": {
          "description": "Optional. This field has no effect for purchase options with no offers under them. For purchase options with associated offers: * If `force` is set to false (default), an error will be returned. * If `force` is set to true, any associated offers under the purchase option will be deleted.",
          "type": "boolean"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to delete.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to delete."
        },
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "description": "Request message for deleting a purchase option.",
      "id": "DeletePurchaseOptionRequest",
      "type": "object"
    },
    "ListRecentUpdateEventsResponse": {
      "id": "ListRecentUpdateEventsResponse",
      "description": "Response message for ListRecentUpdateEvents.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "recentUpdateEvents": {
          "type": "array",
          "description": "The list of recent update events.",
          "items": {
            "$ref": "RecentUpdateEvent"
          }
        }
      },
      "type": "object"
    },
    "OrderDetails": {
      "description": "Detailed information about the order at creation time.",
      "type": "object",
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "type": "boolean",
          "description": "Indicates whether the listed price was tax inclusive or not."
        }
      }
    },
    "EnrollAppRequest": {
      "id": "EnrollAppRequest",
      "type": "object",
      "description": "Request to enroll an app into Play App Signing using a self-hosted Cloud KMS key.",
      "properties": {
        "enrollExistingApp": {
          "$ref": "EnrollExistingApp",
          "description": "Enrolls an existing app into Play signing using an external Cloud KMS key."
        },
        "pemUploadCertificate": {
          "type": "string",
          "format": "byte",
          "description": "The certificate associated with the upload key, in PEM format."
        },
        "enrollNewApp": {
          "description": "Changes the signing key of a new app to an external Cloud KMS key. The app must not have published to Open testing or Production tracks.",
          "$ref": "EnrollNewApp"
        }
      }
    },
    "RemoteInAppUpdate": {
      "id": "RemoteInAppUpdate",
      "type": "object",
      "description": "Object representation for Remote in-app update action type.",
      "properties": {
        "isRemoteInAppUpdateRequested": {
          "type": "boolean",
          "description": "Required. Set to true if Remote In-App Update action type is needed."
        }
      }
    },
    "DeveloperComment": {
      "description": "Developer entry from conversation between user and developer.",
      "id": "DeveloperComment",
      "type": "object",
      "properties": {
        "text": {
          "description": "The content of the comment, i.e. reply body.",
          "type": "string"
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        }
      }
    },
    "SystemOnChip": {
      "type": "object",
      "id": "SystemOnChip",
      "properties": {
        "manufacturer": {
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required."
        }
      },
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices."
    },
    "ExternallyHostedApk": {
      "id": "ExternallyHostedApk",
      "properties": {
        "packageName": {
          "description": "The package name.",
          "type": "string"
        },
        "fileSha256Base64": {
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "fileSize": {
          "type": "string",
          "description": "The file size in bytes of this APK.",
          "format": "int64"
        },
        "externallyHostedUrl": {
          "type": "string",
          "description": "The URL at which the APK is hosted. This must be an https URL."
        },
        "usesPermissions": {
          "description": "The permissions requested by this APK.",
          "items": {
            "$ref": "UsesPermission"
          },
          "type": "array"
        },
        "maximumSdk": {
          "description": "The maximum SDK supported by this APK (optional).",
          "format": "int32",
          "type": "integer"
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "certificateBase64s": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array."
        },
        "minimumSdk": {
          "description": "The minimum SDK targeted by this APK.",
          "type": "integer",
          "format": "int32"
        },
        "fileSha1Base64": {
          "type": "string",
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array."
        },
        "usesFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The features required by this APK (optional)."
        },
        "versionCode": {
          "type": "integer",
          "description": "The version code of this APK.",
          "format": "int32"
        },
        "iconBase64": {
          "description": "The icon image from the APK, as a base64 encoded byte array.",
          "type": "string"
        },
        "nativeCodes": {
          "type": "array",
          "description": "The native code environments supported by this APK (optional).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations."
    },
    "Regions": {
      "properties": {
        "regionCode": {
          "items": {
            "type": "string"
          },
          "description": "Regions targeted by the recovery action. Region codes are ISO 3166 Alpha-2 country codes. For example, US stands for United States of America. See https://www.iso.org/iso-3166-country-codes.html for the complete list of country codes.",
          "type": "array"
        }
      },
      "description": "Region targeting data for app recovery action targeting.",
      "type": "object",
      "id": "Regions"
    },
    "LocalizedText": {
      "type": "object",
      "properties": {
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "description": "Localized text in given language."
    },
    "ConvertedRegionPrice": {
      "type": "object",
      "id": "ConvertedRegionPrice",
      "properties": {
        "price": {
          "description": "The converted price tax inclusive.",
          "$ref": "Money"
        },
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "regionCode": {
          "description": "The region code of the region.",
          "type": "string"
        }
      },
      "description": "A converted region price."
    },
    "ProrationPeriodDetails": {
      "id": "ProrationPeriodDetails",
      "properties": {
        "originalOfferPhase": {
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "Represent the original offer phase from the purchased the line item if the proration period contains any of them. For example, a proration period from CHARGE_FULL_PRICE plan change may merge the 1st offer phase of the subscription offer of the new product user purchased. In this case, the original offer phase will be set here.",
          "type": "string"
        }
      },
      "description": "Details of a proration period. A proration period can be a period calculated during a plan change to cover existing entitlements (For more information, see [Allow users to upgrade, downgrade, or change their subscription](https://developer.android.com/google/play/billing/subscriptions#allow-users-change), or a prorated period to align add-on renewal dates with the base (For more information, see [Rules applicable for items in the purchase](https://developer.android.com/google/play/billing/subscription-with-addons#rules-base-addons)).",
      "type": "object"
    },
    "ModuleTargeting": {
      "properties": {
        "userCountriesTargeting": {
          "$ref": "UserCountriesTargeting",
          "description": "Countries-level targeting"
        },
        "deviceFeatureTargeting": {
          "type": "array",
          "description": "Targeting for device features.",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        }
      },
      "id": "ModuleTargeting",
      "type": "object",
      "description": "Targeting on the module level."
    },
    "AppRecoveryAction": {
      "properties": {
        "lastUpdateTime": {
          "description": "Timestamp of when the developer last updated recovery action. In case the action is cancelled, it corresponds to cancellation time. It is always set after creation of the recovery action.",
          "type": "string",
          "format": "google-datetime"
        },
        "deployTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the app recovery action is deployed to the users. Only set if the recovery action has been deployed."
        },
        "appRecoveryId": {
          "description": "ID corresponding to the app recovery action.",
          "format": "int64",
          "type": "string"
        },
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        },
        "cancelTime": {
          "description": "Timestamp of when the app recovery action is canceled by the developer. Only set if the recovery action has been canceled.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "The status of the recovery action.",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "Timestamp of when the app recovery action is created by the developer. It is always set after creation of the recovery action.",
          "type": "string",
          "format": "google-datetime"
        },
        "remoteInAppUpdateData": {
          "description": "Data about the remote in-app update action such as such as recovered user base, recoverable user base etc. Set only if the recovery action type is Remote In-App Update.",
          "$ref": "RemoteInAppUpdateData"
        }
      },
      "description": "Information about an app recovery action.",
      "type": "object",
      "id": "AppRecoveryAction"
    },
    "RevocationContextItemBasedRefund": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      },
      "type": "object",
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "id": "RevocationContextItemBasedRefund"
    },
    "ProductPurchaseV2": {
      "type": "object",
      "properties": {
        "purchaseStateContext": {
          "description": "Information about the purchase state of the purchase.",
          "$ref": "PurchaseStateContext"
        },
        "purchaseCompletionTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the purchase was successful, i.e., when the PurchaseState has changed to PURCHASED. This field will not be present until the payment is complete. For example, if the user initiated a pending transaction (https://developer.android.com/google/play/billing/integrate#pending), this field will not be populated until the user successfully completes the steps required to complete the transaction."
        },
        "regionCode": {
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "acknowledgementState": {
          "type": "string",
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The purchase is not acknowledged yet.",
            "The purchase is acknowledged."
          ],
          "description": "Output only. The acknowledgement state of the purchase.",
          "readOnly": true
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product. May not be set if there is no order associated with the purchase.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a ProductPurchaseV2 object in the androidpublisher service."
        },
        "testPurchaseContext": {
          "$ref": "TestPurchaseContext",
          "description": "Information related to test purchases. This will only be set for test purchases."
        },
        "productLineItem": {
          "items": {
            "$ref": "ProductLineItem"
          },
          "type": "array",
          "description": "Contains item-level info for a ProductPurchaseV2."
        }
      },
      "description": "A ProductPurchaseV2 resource indicates the status of a user's inapp product purchase.",
      "id": "ProductPurchaseV2"
    },
    "User": {
      "properties": {
        "partial": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner."
        },
        "grants": {
          "description": "Output only. Per-app permissions for the user.",
          "items": {
            "$ref": "Grant"
          },
          "readOnly": true,
          "type": "array"
        },
        "expirationTime": {
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future.",
          "format": "google-datetime",
          "type": "string"
        },
        "developerAccountPermissions": {
          "description": "Permissions for the user which apply across the developer account.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer.",
              "Allows viewing connected apps in the Google Play Console.",
              "Allows editing connected apps in the Google Play Console."
            ],
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL",
              "CAN_VIEW_CONNECTED_APPS_GLOBAL",
              "CAN_EDIT_CONNECTED_APPS_GLOBAL"
            ]
          }
        },
        "name": {
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
          "type": "string"
        },
        "email": {
          "description": "Immutable. The user's email address.",
          "type": "string"
        },
        "accessState": {
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the user's access to the Play Console.",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "readOnly": true
        }
      },
      "description": "A user resource.",
      "id": "User",
      "type": "object"
    },
    "ExternalContentLinkDetails": {
      "description": "Reporting details unique to the external content link program.",
      "type": "object",
      "id": "ExternalContentLinkDetails",
      "properties": {
        "linkType": {
          "type": "string",
          "enum": [
            "EXTERNAL_CONTENT_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "description": "Required. The type content being reported by this transaction.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ]
        },
        "installedAppPackage": {
          "type": "string",
          "description": "Optional. The package name of the app downloaded through this transaction. Only required for app installs."
        },
        "externalAppCategory": {
          "description": "Optional. The category of the downlaoded app. This must match the category provided in Play Console during the external app verification process. Only required for app installs.",
          "type": "string",
          "enum": [
            "EXTERNAL_CONTENT_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ]
        }
      }
    },
    "SubscriptionOfferPhase": {
      "properties": {
        "recurrenceCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase."
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          }
        }
      },
      "description": "A single phase of a subscription offer.",
      "type": "object",
      "id": "SubscriptionOfferPhase"
    },
    "BatchDeletePurchaseOptionsRequest": {
      "type": "object",
      "id": "BatchDeletePurchaseOptionsRequest",
      "description": "Request message for BatchDeletePurchaseOption.",
      "properties": {
        "requests": {
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete purchase options from different one-time products.",
          "items": {
            "$ref": "DeletePurchaseOptionRequest"
          },
          "type": "array"
        }
      }
    },
    "ScreenDensityTargeting": {
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array"
        },
        "value": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array",
          "description": "Value of a screen density."
        }
      },
      "id": "ScreenDensityTargeting",
      "type": "object",
      "description": "Targeting based on screen density."
    },
    "AppContactInformation": {
      "type": "object",
      "properties": {
        "websiteUrl": {
          "type": "string",
          "description": "The contact website url for this app. Optionally provided by the developer."
        },
        "phoneNumber": {
          "description": "The contact phone for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "contactEmail": {
          "description": "The contact email for this app. Always set.",
          "type": "string"
        }
      },
      "id": "AppContactInformation",
      "description": "Contact information for the app."
    },
    "PreorderOfferDetails": {
      "properties": {
        "preorderReleaseTime": {
          "description": "The time when a preordered item is released for a preorder purchase.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "PreorderOfferDetails",
      "type": "object",
      "description": "Offer details information related to a preorder line item."
    },
    "BatchUpdateBasePlanStatesResponse": {
      "type": "object",
      "id": "BatchUpdateBasePlanStatesResponse",
      "description": "Response message for BatchUpdateBasePlanStates.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "ConsumptionUsageEvent": {
      "type": "object",
      "id": "ConsumptionUsageEvent",
      "description": "List of events, each representing an instance where the user consumed or used the purchased item or service.",
      "properties": {
        "location": {
          "$ref": "CoarseLocation",
          "description": "Optional. Geographic location where the consumption occurred."
        },
        "obfuscatedProfileId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user profile in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedProfileId(java.lang.String)",
          "type": "string"
        },
        "ipAddress": {
          "description": "Optional. The IP address from which the consumption occurred.",
          "type": "string"
        },
        "consumptionTime": {
          "format": "google-datetime",
          "description": "Optional. Time when the user consumed, used, downloaded, opened, or streamed the content.",
          "type": "string"
        },
        "obfuscatedAccountId": {
          "type": "string",
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user account in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedAccountId(java.lang.String)"
        },
        "consumptionItemDescription": {
          "type": "string",
          "description": "Optional. Free form text that allows developers to provide more info on the item consumed. Maximum length is 5000 characters."
        }
      }
    },
    "UserInitiatedCancellation": {
      "id": "UserInitiatedCancellation",
      "description": "Information specific to cancellations initiated by users.",
      "properties": {
        "cancelSurveyResult": {
          "$ref": "CancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        },
        "cancelTime": {
          "format": "google-datetime",
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProcessedEvent": {
      "type": "object",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time when the order was processed.",
          "type": "string"
        }
      },
      "description": "Details of when the order was processed.",
      "id": "ProcessedEvent"
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "type": "object"
    },
    "GeneratedAssetPackSlice": {
      "type": "object",
      "description": "Download metadata for an asset pack slice.",
      "id": "GeneratedAssetPackSlice",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        },
        "sliceId": {
          "type": "string",
          "description": "Asset slice ID."
        },
        "version": {
          "type": "string",
          "description": "Asset module version.",
          "format": "int64"
        }
      }
    },
    "RegionsVersion": {
      "id": "RegionsVersion",
      "description": "The version of the available regions being used for the specified resource.",
      "properties": {
        "version": {
          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApksAddExternallyHostedRequest": {
      "id": "ApksAddExternallyHostedRequest",
      "description": "Request to create a new externally hosted APK.",
      "type": "object",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      }
    },
    "Targeting": {
      "properties": {
        "versionList": {
          "description": "Target version codes as a list.",
          "$ref": "AppVersionList"
        },
        "regions": {
          "description": "Targeting is based on the user account region.",
          "$ref": "Regions"
        },
        "androidSdks": {
          "description": "Targeting is based on android api levels of devices.",
          "$ref": "AndroidSdks"
        },
        "allUsers": {
          "$ref": "AllUsers",
          "description": "All users are targeted."
        },
        "versionRange": {
          "description": "Target version codes as a range.",
          "$ref": "AppVersionRange"
        }
      },
      "id": "Targeting",
      "description": "Targeting details for a recovery action such as regions, android sdk levels, app versions etc.",
      "type": "object"
    },
    "InappproductsListResponse": {
      "id": "InappproductsListResponse",
      "description": "Response listing all in-app products.",
      "type": "object",
      "properties": {
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\")."
        },
        "inappproduct": {
          "type": "array",
          "description": "All in-app products.",
          "items": {
            "$ref": "InAppProduct"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "deprecated": true,
          "description": "Deprecated and unset."
        }
      }
    },
    "UserComment": {
      "description": "User entry from conversation between user and developer.",
      "id": "UserComment",
      "type": "object",
      "properties": {
        "androidOsVersion": {
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "format": "int32",
          "type": "integer"
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "thumbsDownCount": {
          "format": "int32",
          "description": "Number of users who have given this review a thumbs down.",
          "type": "integer"
        },
        "appVersionCode": {
          "format": "int32",
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent."
        },
        "thumbsUpCount": {
          "description": "Number of users who have given this review a thumbs up.",
          "format": "int32",
          "type": "integer"
        },
        "reviewerLanguage": {
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
          "type": "string"
        },
        "starRating": {
          "description": "The star rating associated with the review, from 1 to 5.",
          "format": "int32",
          "type": "integer"
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        }
      }
    },
    "UsesConfiguration": {
      "properties": {
        "requiresFiveWayNavigation": {
          "type": "boolean",
          "description": "Whether or not the application requires a five-way navigation control."
        },
        "requiredNavigationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified navigation type.",
            "Undefined navigation type.",
            "No navigation.",
            "Dpad navigation.",
            "Trackball navigation.",
            "Wheel navigation."
          ],
          "description": "The navigation device required.",
          "enum": [
            "NAVIGATION_TYPE_UNSPECIFIED",
            "NAVIGATION_TYPE_UNDEFINED",
            "NAVIGATION_TYPE_NO_NAVIGATION",
            "NAVIGATION_TYPE_DPAD",
            "NAVIGATION_TYPE_TRACKBALL",
            "NAVIGATION_TYPE_WHEEL"
          ]
        },
        "requiredKeyboardType": {
          "description": "The type of keyboard required.",
          "enum": [
            "KEYBOARD_TYPE_UNSPECIFIED",
            "KEYBOARD_TYPE_UNDEFINED",
            "KEYBOARD_TYPE_NO_KEYS",
            "KEYBOARD_TYPE_QWERTY",
            "KEYBOARD_TYPE_TWELVE_KEY"
          ],
          "enumDescriptions": [
            "Unspecified keyboard type.",
            "Undefined keyboard type.",
            "No keys keyboard.",
            "Qwerty keyboard.",
            "Twelve key keyboard."
          ],
          "type": "string"
        },
        "requiredTouchscreenType": {
          "enum": [
            "TOUCHSCREEN_TYPE_UNSPECIFIED",
            "TOUCHSCREEN_TYPE_UNDEFINED",
            "TOUCHSCREEN_TYPE_NO_TOUCHSCREEN",
            "TOUCHSCREEN_TYPE_STYLUS",
            "TOUCHSCREEN_TYPE_FINGER"
          ],
          "enumDescriptions": [
            "Unspecified touchscreen type.",
            "Undefined touchscreen type.",
            "No touchscreen.",
            "Stylus touchscreen.",
            "Finger touchscreen."
          ],
          "type": "string",
          "description": "The type of touchscreen required."
        },
        "requiresHardwareKeyboard": {
          "type": "boolean",
          "description": "Whether or not the application requires a hardware keyboard."
        }
      },
      "id": "UsesConfiguration",
      "type": "object",
      "description": "Represents all configurations marked as required by use of the uses-configuration manifest tag."
    },
    "DeobfuscationFile": {
      "description": "Represents a deobfuscation file.",
      "type": "object",
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "description": "The type of the deobfuscation file.",
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "type": "string"
        }
      }
    },
    "UserCountrySet": {
      "properties": {
        "name": {
          "description": "Country set name.",
          "type": "string"
        },
        "countryCodes": {
          "type": "array",
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "id": "UserCountrySet",
      "type": "object"
    },
    "OneTimeProductOfferNoPriceOverrideOptions": {
      "id": "OneTimeProductOfferNoPriceOverrideOptions",
      "type": "object",
      "properties": {},
      "description": "Options for one-time product offers without a regional price override."
    },
    "ActivateBasePlanRequest": {
      "description": "Request message for ActivateBasePlan.",
      "type": "object",
      "properties": {
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to activate.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the base plan to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the base plan to activate.",
          "type": "string"
        }
      },
      "id": "ActivateBasePlanRequest"
    },
    "TextureCompressionFormatTargeting": {
      "id": "TextureCompressionFormatTargeting",
      "properties": {
        "value": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array",
          "description": "The list of targeted TCFs. Should not be empty."
        },
        "alternatives": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "type": "array",
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits)."
        }
      },
      "type": "object",
      "description": "Targeting by a texture compression format."
    },
    "AddTargetingResponse": {
      "properties": {},
      "type": "object",
      "id": "AddTargetingResponse",
      "description": "Response message for AddTargeting."
    },
    "DeleteOneTimeProductRequest": {
      "description": "Request message for deleting a one-time product.",
      "id": "DeleteOneTimeProductRequest",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the one-time product to delete.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "productId": {
          "type": "string",
          "description": "Required. The one-time product ID of the one-time product to delete."
        }
      },
      "type": "object"
    },
    "OneTimeProductPreOrderOffer": {
      "id": "OneTimeProductPreOrderOffer",
      "type": "object",
      "description": "Configuration specific to pre-order offers.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Time when the pre-order will start being available.",
          "type": "string"
        },
        "endTime": {
          "description": "Required. Time when the pre-order will stop being available.",
          "type": "string",
          "format": "google-datetime"
        },
        "releaseTime": {
          "description": "Required. Time on which the product associated with the pre-order will be released and the pre-order orders fulfilled.",
          "format": "google-datetime",
          "type": "string"
        },
        "priceChangeBehavior": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified price change behavior. Must not be used.",
            "The buyer gets charged the minimum between the initial price at the time of pre-order and the final offer price on the release date.",
            "The buyer gets the same price as the one they pre-ordered, regardless of any price changes that may have happened after the pre-order."
          ],
          "description": "Required. Immutable. Specifies how price changes affect pre-existing pre-orders.",
          "enum": [
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_UNSPECIFIED",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_TWO_POINT_LOWEST",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_NEW_ORDERS_ONLY"
          ]
        }
      }
    },
    "CancelAppRecoveryRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelAppRecoveryRequest",
      "description": "Request message for CancelAppRecovery."
    },
    "PrepaidBasePlanType": {
      "properties": {
        "timeExtension": {
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ]
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        }
      },
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "id": "PrepaidBasePlanType",
      "type": "object"
    },
    "CreateAppStoreHostedAppResponse": {
      "properties": {},
      "type": "object",
      "description": "Response for creating a new app record for an app store hosted app.",
      "id": "CreateAppStoreHostedAppResponse"
    },
    "TestPurchase": {
      "description": "Whether this subscription purchase is a test purchase.",
      "properties": {},
      "type": "object",
      "id": "TestPurchase"
    },
    "Grant": {
      "description": "An access grant resource.",
      "type": "object",
      "id": "Grant",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        },
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "appLevelPermissions": {
          "type": "array",
          "description": "The permissions granted to the user for this app.",
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "type": "string",
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ]
          }
        }
      }
    },
    "SystemInitiatedCancellation": {
      "id": "SystemInitiatedCancellation",
      "description": "Information specific to cancellations initiated by Google system.",
      "properties": {},
      "type": "object"
    },
    "SafetyLabelsUpdateResponse": {
      "description": "Response for SafetyLabelsUpdate rpc.",
      "id": "SafetyLabelsUpdateResponse",
      "type": "object",
      "properties": {}
    },
    "OneTimeProductOffer": {
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. The ID of this product offer. Must be unique within the purchase option. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters."
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent product belongs to.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the parent product this offer belongs to."
        },
        "discountedOffer": {
          "description": "A discounted offer.",
          "$ref": "OneTimeProductDiscountedOffer"
        },
        "preOrderOffer": {
          "description": "A pre-order offer.",
          "$ref": "OneTimeProductPreOrderOffer"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the purchase option to which this offer is an extension."
        },
        "offerTags": {
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          },
          "description": "Optional. List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        },
        "gameRewardOffer": {
          "description": "A game reward offer.",
          "$ref": "OneTimeProductGameRewardOffer"
        },
        "regionsVersion": {
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product offer.",
          "$ref": "RegionsVersion",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The offer is not and has never been available to users.",
            "The offer is available to users, as long as its conditions are met.",
            "This state is specific to pre-orders. The offer is cancelled and not available to users. All pending orders related to this offer were cancelled.",
            "This state is specific to discounted offers. The offer is no longer available to users."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "CANCELLED",
            "INACTIVE"
          ],
          "description": "Output only. The current state of this offer. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "readOnly": true
        },
        "regionalPricingAndAvailabilityConfigs": {
          "description": "Set of regional pricing and availability information for this offer. Must not have duplicate entries with the same region_code.",
          "items": {
            "$ref": "OneTimeProductOfferRegionalPricingAndAvailabilityConfig"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A single offer for a one-time product.",
      "id": "OneTimeProductOffer"
    },
    "RegionalSubscriptionOfferConfig": {
      "properties": {
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false."
        },
        "regionCode": {
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        }
      },
      "id": "RegionalSubscriptionOfferConfig",
      "description": "Configuration for a subscription offer in a single region.",
      "type": "object"
    },
    "ModuleMetadata": {
      "properties": {
        "moduleType": {
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "description": "Indicates the type of this feature module.",
          "type": "string"
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "deliveryType": {
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        }
      },
      "id": "ModuleMetadata",
      "type": "object",
      "description": "Metadata of a module."
    },
    "RevokeSubscriptionPurchaseRequest": {
      "properties": {
        "revocationContext": {
          "$ref": "RevocationContext",
          "description": "Required. Additional details around the subscription revocation."
        }
      },
      "id": "RevokeSubscriptionPurchaseRequest",
      "type": "object",
      "description": "Request for the purchases.subscriptionsv2.revoke API."
    },
    "CancelSurveyResult": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason the user selected in the cancel survey.",
          "enumDescriptions": [
            "Unspecified cancel survey reason.",
            "Not enough usage of the subscription.",
            "Technical issues while using the app.",
            "Cost related issues.",
            "The user found a better app.",
            "Other reasons."
          ],
          "enum": [
            "CANCEL_SURVEY_REASON_UNSPECIFIED",
            "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE",
            "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES",
            "CANCEL_SURVEY_REASON_COST_RELATED",
            "CANCEL_SURVEY_REASON_FOUND_BETTER_APP",
            "CANCEL_SURVEY_REASON_OTHERS"
          ]
        },
        "reasonUserInput": {
          "description": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey.",
          "type": "string"
        }
      },
      "id": "CancelSurveyResult",
      "description": "Result of the cancel survey when the subscription was canceled by the user."
    },
    "InappproductsUpdateRequest": {
      "type": "object",
      "properties": {
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created."
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "autoConvertMissingPrices": {
          "type": "boolean",
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
        }
      },
      "id": "InappproductsUpdateRequest",
      "description": "Request to update an in-app product."
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "type": "object",
      "id": "ListingsListResponse",
      "properties": {
        "listings": {
          "description": "All localized listings.",
          "type": "array",
          "items": {
            "$ref": "Listing"
          }
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\").",
          "type": "string"
        }
      }
    },
    "ApkSet": {
      "description": "A set of apks representing a module.",
      "properties": {
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
[...]
