{
  "version": "v3",
  "kind": "discovery#restDescription",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "documentationLink": "https://developers.google.com/android-publisher",
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260915",
  "title": "Google Play Android Developer API",
  "name": "androidpublisher",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "basePath": "",
  "schemas": {
    "ListSubscriptionsResponse": {
      "type": "object",
      "id": "ListSubscriptionsResponse",
      "description": "Response message for ListSubscriptions.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The subscriptions from the specified app.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "InappproductsBatchDeleteRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "InappproductsDeleteRequest"
          },
          "type": "array",
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products."
        }
      },
      "description": "Request to delete multiple in-app products.",
      "type": "object",
      "id": "InappproductsBatchDeleteRequest"
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "Default language code, in BCP 47 format (eg \"en-US\").",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        },
        "contactWebsite": {
          "type": "string",
          "description": "The user-visible website for this app."
        }
      },
      "description": "The app details. The resource for DetailsService."
    },
    "UpdateBasePlanStateRequest": {
      "properties": {
        "deactivateBasePlanRequest": {
          "$ref": "DeactivateBasePlanRequest",
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
        },
        "activateBasePlanRequest": {
          "$ref": "ActivateBasePlanRequest",
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers."
        }
      },
      "description": "Request message to update the state of a subscription base plan.",
      "type": "object",
      "id": "UpdateBasePlanStateRequest"
    },
    "LocalizedText": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text in the given language."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      },
      "id": "LocalizedText",
      "description": "Localized text in given language."
    },
    "DeployAppRecoveryResponse": {
      "id": "DeployAppRecoveryResponse",
      "description": "Response message for DeployAppRecovery.",
      "properties": {},
      "type": "object"
    },
    "AppStoreAppActiveApks": {
      "properties": {
        "activeApkSets": {
          "items": {
            "$ref": "AppStoreAppActiveApkSet"
          },
          "description": "Required. List specifying which APK sets are distributed together. This list should contain all APKs that you're distributing for this app. Add an entry for each individual installable set of APKs.",
          "type": "array"
        }
      },
      "id": "AppStoreAppActiveApks",
      "type": "object",
      "description": "Information about active APKs of an app store hosted app."
    },
    "RefundEvent": {
      "description": "Details of when the order was fully refunded.",
      "properties": {
        "eventTime": {
          "format": "google-datetime",
          "description": "The time when the order was fully refunded.",
          "type": "string"
        },
        "refundReason": {
          "enum": [
            "REFUND_REASON_UNSPECIFIED",
            "OTHER",
            "CHARGEBACK"
          ],
          "enumDescriptions": [
            "Refund reason unspecified. This value is not used.",
            "The order was refunded for a reason other than the listed reasons here.",
            "The order was charged back."
          ],
          "type": "string",
          "description": "The reason the order was refunded."
        },
        "refundDetails": {
          "description": "Details for the full refund.",
          "$ref": "RefundDetails"
        }
      },
      "type": "object",
      "id": "RefundEvent"
    },
    "SplitApkVariant": {
      "id": "SplitApkVariant",
      "properties": {
        "targeting": {
          "description": "Variant-level targeting.",
          "$ref": "VariantTargeting"
        },
        "variantNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers."
        },
        "apkSet": {
          "items": {
            "$ref": "ApkSet"
          },
          "type": "array",
          "description": "Set of APKs, one set per module."
        }
      },
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object"
    },
    "DeviceSpec": {
      "id": "DeviceSpec",
      "type": "object",
      "description": "The device spec used to generate a system APK.",
      "properties": {
        "supportedLocales": {
          "items": {
            "type": "string"
          },
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array"
        },
        "supportedAbis": {
          "type": "array",
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "description": "Screen dpi.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "AppEdit": {
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "properties": {
        "expiryTimeSeconds": {
          "readOnly": true,
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "id": "AppEdit"
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "id": "OtherRegionsSubscriptionOfferConfig",
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false."
        }
      },
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer."
    },
    "SubscriptionPurchasesDeferResponse": {
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API.",
      "id": "SubscriptionPurchasesDeferResponse",
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch.",
          "format": "int64"
        }
      }
    },
    "OneTimeProductListing": {
      "description": "Regional store listing for a one-time product.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "Required. The title of this product in the language of this listing. The maximum length is 55 characters."
        },
        "description": {
          "type": "string",
          "description": "Required. The description of this product in the language of this listing. The maximum length is 200 characters."
        },
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this listing, as defined by BCP-47, e.g., \"en-US\"."
        }
      },
      "id": "OneTimeProductListing"
    },
    "Listing": {
      "type": "object",
      "properties": {
        "fullDescription": {
          "description": "Full description of the app.",
          "type": "string"
        },
        "title": {
          "description": "Localized title of the app.",
          "type": "string"
        },
        "video": {
          "description": "URL of a promotional YouTube video for the app.",
          "type": "string"
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Short description of the app."
        }
      },
      "id": "Listing",
      "description": "A localized store listing. The resource for ListingsService."
    },
    "UserCountriesTargeting": {
      "id": "UserCountriesTargeting",
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "type": "object",
      "properties": {
        "exclude": {
          "description": "Indicates if the list above is exclusive.",
          "type": "boolean"
        },
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes in the two-letter CLDR territory format."
        }
      }
    },
    "ProrationPeriodOfferPhase": {
      "type": "object",
      "id": "ProrationPeriodOfferPhase",
      "description": "Details about proration period offer phase.",
      "properties": {
        "originalOfferPhaseType": {
          "type": "string",
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase.",
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ]
        }
      }
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "type": "object",
      "id": "Comment"
    },
    "AppContactInformation": {
      "id": "AppContactInformation",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "The contact email for this app. Always set.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The contact phone for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "websiteUrl": {
          "description": "The contact website url for this app. Optionally provided by the developer.",
          "type": "string"
        }
      },
      "description": "Contact information for the app."
    },
    "Group": {
      "id": "Group",
      "description": "A group of responses.",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "description": "Required. Responses within a group.",
          "type": "array"
        }
      }
    },
    "PolicyGroupResponse": {
      "description": "A repeated group of responses.",
      "id": "PolicyGroupResponse",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "Optional. Groups of responses to questions."
        }
      }
    },
    "Abi": {
      "id": "Abi",
      "type": "object",
      "properties": {
        "alias": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified abi.",
            "ARMEABI abi.",
            "ARMEABI_V7A abi.",
            "ARM64_V8A abi.",
            "X86 abi.",
            "X86_64 abi.",
            "RISCV64 abi."
          ],
          "description": "Alias for an abi.",
          "enum": [
            "UNSPECIFIED_CPU_ARCHITECTURE",
            "ARMEABI",
            "ARMEABI_V7A",
            "ARM64_V8A",
            "X86",
            "X86_64",
            "RISCV64"
          ]
        }
      },
      "description": "Represents an Abi."
    },
    "RevocationContextFullRefund": {
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a full refund.",
      "type": "object",
      "id": "RevocationContextFullRefund"
    },
    "MigrateBasePlanPricesResponse": {
      "properties": {},
      "description": "Response message for MigrateBasePlanPrices.",
      "type": "object",
      "id": "MigrateBasePlanPricesResponse"
    },
    "ListDeviceTierConfigsResponse": {
      "id": "ListDeviceTierConfigsResponse",
      "description": "Response listing existing device tier configs.",
      "type": "object",
      "properties": {
        "deviceTierConfigs": {
          "items": {
            "$ref": "DeviceTierConfig"
          },
          "type": "array",
          "description": "Device tier configs created by the developer."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SdkVersion": {
      "type": "object",
      "properties": {
        "min": {
          "type": "integer",
          "description": "Inclusive minimum value of an sdk version.",
          "format": "int32"
        }
      },
      "id": "SdkVersion",
      "description": "Represents an sdk version."
    },
    "BatchUpdateBasePlanStatesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "type": "array",
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          }
        }
      },
      "id": "BatchUpdateBasePlanStatesRequest",
      "description": "Request message for BatchUpdateBasePlanStates.",
      "type": "object"
    },
    "ArchiveSubscriptionRequest": {
      "deprecated": true,
      "description": "Deprecated: subscription archiving is not supported.",
      "id": "ArchiveSubscriptionRequest",
      "type": "object",
      "properties": {}
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "type": "object",
      "properties": {
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride"
        },
        "relativeDiscount": {
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "format": "double"
        }
      }
    },
    "TrackTargetedCountry": {
      "type": "object",
      "id": "TrackTargetedCountry",
      "description": "Representation of a single country where the contents of a track can be made available.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country that can be targeted, as a two-letter CLDR code."
        }
      }
    },
    "CanceledStateContext": {
      "properties": {
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "developerInitiatedCancellation": {
          "$ref": "DeveloperInitiatedCancellation",
          "description": "Subscription was canceled by the developer."
        }
      },
      "type": "object",
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "id": "CanceledStateContext"
    },
    "InappproductsListResponse": {
      "type": "object",
      "id": "InappproductsListResponse",
      "description": "Response listing all in-app products.",
      "properties": {
        "inappproduct": {
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array",
          "description": "All in-app products."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "deprecated": true,
          "description": "Deprecated and unset."
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination token, to handle a number of products that is over one page."
        }
      }
    },
    "ExpansionFilesUploadResponse": {
      "id": "ExpansionFilesUploadResponse",
      "type": "object",
      "properties": {
        "expansionFile": {
          "$ref": "ExpansionFile",
          "description": "The uploaded expansion file configuration."
        }
      },
      "description": "Response for uploading an expansion file."
    },
    "CountryTargeting": {
      "type": "object",
      "id": "CountryTargeting",
      "properties": {
        "countries": {
          "items": {
            "type": "string"
          },
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "type": "array"
        },
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        }
      },
      "description": "Country targeting specification."
    },
    "RentOfferDetails": {
      "id": "RentOfferDetails",
      "type": "object",
      "properties": {},
      "description": "Offer details information related to a rental line item."
    },
    "RotateAppSigningKeyResponse": {
      "properties": {
        "rotatedKeyCertificate": {
          "description": "The rotated key certificate hashes for the app. Always set.",
          "$ref": "CertificateHashes"
        }
      },
      "type": "object",
      "description": "Response to rotate an app's signing key.",
      "id": "RotateAppSigningKeyResponse"
    },
    "ImageAsset": {
      "description": "An image asset.",
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string",
          "description": "The URL of the image asset."
        }
      },
      "id": "ImageAsset"
    },
    "ProcessedEvent": {
      "id": "ProcessedEvent",
      "properties": {
        "eventTime": {
          "description": "The time when the order was processed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Details of when the order was processed."
    },
    "OneTimeProductPurchaseOptionNewRegionsConfig": {
      "type": "object",
      "properties": {
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new regions Play may launch in.",
          "$ref": "Money"
        },
        "availability": {
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ],
          "description": "Required. The regional availability for the new regions config. When set to AVAILABLE, the pricing information will be used for any new regions Play may launch in the future.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The config will be used for any new regions Play may launch in the future.",
            "The config is not available anymore and will not be used for any new regions Play may launch in the future. This value can only be used if the availability was previously set as AVAILABLE."
          ]
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new regions Play may launch in.",
          "$ref": "Money"
        }
      },
      "id": "OneTimeProductPurchaseOptionNewRegionsConfig",
      "description": "Pricing information for any new regions Play may launch in the future."
    },
    "EnrollAppResponse": {
      "description": "Response to enroll an app into Play signing.",
      "type": "object",
      "properties": {
        "signingCertificate": {
          "$ref": "CertificateHashes",
          "description": "The signing certificate hashes for the app. Always set."
        },
        "uploadCertificate": {
          "$ref": "CertificateHashes",
          "description": "The upload certificate hashes for the app. Set iff pem_upload_certificate was set in the request."
        }
      },
      "id": "EnrollAppResponse"
    },
    "BuyerAddress": {
      "id": "BuyerAddress",
      "properties": {
        "buyerPostcode": {
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        },
        "buyerCountry": {
          "type": "string",
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes)."
        },
        "buyerState": {
          "type": "string",
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included."
        }
      },
      "description": "Address information for the customer, for use in tax computation.",
      "type": "object"
    },
    "UploadApkRequest": {
      "description": "Request to upload an APK.",
      "type": "object",
      "id": "UploadApkRequest",
      "properties": {}
    },
    "InstallmentPlan": {
      "type": "object",
      "id": "InstallmentPlan",
      "description": "Information to a installment plan.",
      "properties": {
        "remainingCommittedPaymentsCount": {
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle.",
          "format": "int32",
          "type": "integer"
        },
        "subsequentCommittedPaymentsCount": {
          "type": "integer",
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "format": "int32"
        },
        "initialCommittedPaymentsCount": {
          "format": "int32",
          "description": "Total number of payments the user is initially committed for.",
          "type": "integer"
        },
        "pendingCancellation": {
          "$ref": "PendingCancellation",
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments."
        }
      }
    },
    "ListUsersResponse": {
      "description": "A response containing one or more users with access to an account.",
      "properties": {
        "users": {
          "type": "array",
          "description": "The resulting users.",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "A token to pass to subsequent calls in order to retrieve subsequent results. This will not be set if there are no more results to return.",
          "type": "string"
        }
      },
      "id": "ListUsersResponse",
      "type": "object"
    },
    "AppRecoveryAction": {
      "description": "Information about an app recovery action.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Timestamp of when the app recovery action is created by the developer. It is always set after creation of the recovery action.",
          "format": "google-datetime"
        },
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        },
        "remoteInAppUpdateData": {
          "description": "Data about the remote in-app update action such as such as recovered user base, recoverable user base etc. Set only if the recovery action type is Remote In-App Update.",
          "$ref": "RemoteInAppUpdateData"
        },
        "lastUpdateTime": {
          "description": "Timestamp of when the developer last updated recovery action. In case the action is cancelled, it corresponds to cancellation time. It is always set after creation of the recovery action.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancelTime": {
          "description": "Timestamp of when the app recovery action is canceled by the developer. Only set if the recovery action has been canceled.",
          "type": "string",
          "format": "google-datetime"
        },
        "status": {
          "description": "The status of the recovery action.",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "type": "string",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ]
        },
        "appRecoveryId": {
          "description": "ID corresponding to the app recovery action.",
          "type": "string",
          "format": "int64"
        },
        "deployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the app recovery action is deployed to the users. Only set if the recovery action has been deployed."
        }
      },
      "id": "AppRecoveryAction",
      "type": "object"
    },
    "RegionalTaxRateInfo": {
      "id": "RegionalTaxRateInfo",
      "properties": {
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ]
        },
        "streamingTaxType": {
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "type": "string"
        },
        "eligibleForStreamingServiceTaxRate": {
          "type": "boolean",
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States."
        }
      },
      "description": "Specified details about taxation in a given geographical region.",
      "type": "object"
    },
    "CreateDraftAppRecoveryRequest": {
      "id": "CreateDraftAppRecoveryRequest",
      "type": "object",
      "properties": {
        "remoteInAppUpdate": {
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes.",
          "$ref": "RemoteInAppUpdate"
        },
        "targeting": {
          "$ref": "Targeting",
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc."
        }
      },
      "description": "Request message for CreateDraftAppRecovery."
    },
    "EnrollNewApp": {
      "description": "Enroll a new app into Play signing.",
      "id": "EnrollNewApp",
      "properties": {
        "cloudKmsKeyAndCert": {
          "$ref": "CloudKmsKeyAndCert",
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app."
        }
      },
      "type": "object"
    },
    "UploadAppStoreAppPolicyDeclarationFileResponse": {
      "type": "object",
      "description": "Response for uploading a policy declaration file.",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "The unique ID of the uploaded file."
        }
      },
      "id": "UploadAppStoreAppPolicyDeclarationFileResponse"
    },
    "ExternalTransaction": {
      "id": "ExternalTransaction",
      "description": "The details of an external transaction.",
      "properties": {
        "currentPreTaxAmount": {
          "readOnly": true,
          "$ref": "Price",
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction."
        },
        "createTime": {
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "externalTransactionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction."
        },
        "externalContentLinkDetails": {
          "description": "Optional. Details necessary to accurately report external content link transactions.",
          "$ref": "ExternalContentLinkDetails"
        },
        "originalPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied."
        },
        "oneTimeTransaction": {
          "$ref": "OneTimeExternalTransaction",
          "description": "This is a one-time transaction and not part of a subscription."
        },
        "packageName": {
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app').",
          "readOnly": true,
          "type": "string"
        },
        "testPurchase": {
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "$ref": "ExternalTransactionTestPurchase",
          "readOnly": true
        },
        "userTaxAddress": {
          "description": "Required. User address for tax computation.",
          "$ref": "ExternalTransactionAddress"
        },
        "originalTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied."
        },
        "transactionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time when the transaction was completed."
        },
        "currentTaxAmount": {
          "readOnly": true,
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction.",
          "$ref": "Price"
        },
        "transactionState": {
          "description": "Output only. The current state of the transaction.",
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "type": "string",
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "readOnly": true
        },
        "recurringTransaction": {
          "$ref": "RecurringExternalTransaction",
          "description": "This transaction is part of a recurring series of transactions."
        },
        "externalOfferDetails": {
          "$ref": "ExternalOfferDetails",
          "description": "Optional. Details necessary to accurately report external offers transactions."
        },
        "transactionProgramCode": {
          "description": "Optional. The transaction program code, used to help determine service fee for eligible apps participating in partner programs. Developers participating in the Play Media Experience Program (https://play.google.com/console/about/programs/mediaprogram/) must provide the program code when reporting alternative billing transactions. If you are an eligible developer, please contact your BDM for more information on how to set this field. Note: this field can not be used for external offers transactions.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "DeactivatePurchaseOptionRequest": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to deactivate."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate."
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      },
      "description": "Request message for UpdatePurchaseOptionState.",
      "type": "object",
      "id": "DeactivatePurchaseOptionRequest"
    },
    "RegionalProductAgeRatingInfo": {
      "description": "Details about the age rating for a specific geographic region.",
      "id": "RegionalProductAgeRatingInfo",
      "properties": {
        "productAgeRatingTier": {
          "description": "The age rating tier of a product for the given region.",
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ],
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        }
      },
      "type": "object"
    },
    "RemoteInAppUpdateDataPerBundle": {
      "id": "RemoteInAppUpdateDataPerBundle",
      "type": "object",
      "description": "Data related to the recovery action at bundle level.",
      "properties": {
        "totalDeviceCount": {
          "format": "int64",
          "description": "Total number of devices affected by this recovery action associated with bundle of the app.",
          "type": "string"
        },
        "recoveredDeviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of devices which have been rescued."
        },
        "versionCode": {
          "format": "int64",
          "description": "Version Code corresponding to the target bundle.",
          "type": "string"
        }
      }
    },
    "OrderHistory": {
      "properties": {
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "cancellationEvent": {
          "description": "Details of when the order was canceled.",
          "$ref": "CancellationEvent"
        },
        "refundEvent": {
          "$ref": "RefundEvent",
          "description": "Details of when the order was fully refunded."
        },
        "partialRefundEvents": {
          "type": "array",
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "description": "Details of the partial refund events for this order."
        }
      },
      "type": "object",
      "id": "OrderHistory",
      "description": "Details about events which modified the order."
    },
    "OneTimeProductBuyPurchaseOption": {
      "id": "OneTimeProductBuyPurchaseOption",
      "type": "object",
      "properties": {
        "multiQuantityEnabled": {
          "type": "boolean",
          "description": "Optional. Whether this purchase option allows multi-quantity. Multi-quantity allows buyer to purchase more than one item in a single checkout."
        },
        "legacyCompatible": {
          "description": "Optional. Whether this purchase option will be available in legacy PBL flows that do not support one-time products model. Up to one \"buy\" purchase option can be marked as backwards compatible.",
          "type": "boolean"
        }
      },
      "description": "A purchase option that can be bought."
    },
    "ExpansionFile": {
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "properties": {
        "fileSize": {
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string"
        },
        "referencesVersion": {
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ExpansionFile"
    },
    "Review": {
      "description": "An Android app review.",
      "properties": {
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Review"
    },
    "DeveloperInitiatedCancellation": {
      "id": "DeveloperInitiatedCancellation",
      "type": "object",
      "description": "Information specific to cancellations initiated by developers.",
      "properties": {}
    },
    "ExternalTransactionAddress": {
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\"."
        }
      },
      "description": "User's address for the external transaction.",
      "type": "object",
      "id": "ExternalTransactionAddress"
    },
    "FreeTrialOfferPhase": {
      "description": "Details about free trial offer phase.",
      "type": "object",
      "properties": {},
      "id": "FreeTrialOfferPhase"
    },
    "ApkSet": {
      "type": "object",
      "properties": {
        "moduleMetadata": {
          "$ref": "ModuleMetadata",
          "description": "Metadata about the module represented by this ApkSet"
        },
        "apkDescription": {
          "type": "array",
          "description": "Description of the generated apks.",
          "items": {
            "$ref": "ApkDescription"
          }
        }
      },
      "description": "A set of apks representing a module.",
      "id": "ApkSet"
    },
    "OnHoldStateContext": {
      "type": "object",
      "description": "Additional context around subscriptions in ON_HOLD state.",
      "properties": {
        "renewalDeclined": {
          "description": "Optional. The payment for the renewal was declined.",
          "$ref": "RenewalDeclinedContext"
        }
      },
      "id": "OnHoldStateContext"
    },
    "ListOneTimeProductOffersResponse": {
      "id": "ListOneTimeProductOffersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oneTimeProductOffers": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The one_time_product offers from the specified request."
        }
      },
      "description": "Response message for ListOneTimeProductOffers."
    },
    "UpdateSubscriptionRequest": {
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored.",
          "type": "boolean"
        },
        "updateMask": {
          "type": "string",
          "description": "Required. The list of fields to be updated.",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the subscription."
        }
      },
      "id": "UpdateSubscriptionRequest",
      "description": "Request message for UpdateSubscription."
    },
    "BatchGetSubscriptionsResponse": {
      "id": "BatchGetSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "items": {
            "$ref": "Subscription"
          },
          "type": "array",
          "description": "The list of requested subscriptions, in the same order as the request."
        }
      },
      "type": "object",
      "description": "Response message for BatchGetSubscriptions endpoint."
    },
    "PreorderDetails": {
      "description": "Details of a pre-order purchase.",
      "properties": {},
      "id": "PreorderDetails",
      "type": "object"
    },
    "BatchUpdateOneTimeProductsRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products.",
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateOneTimeProduct.",
      "id": "BatchUpdateOneTimeProductsRequest",
      "type": "object"
    },
    "ConvertRegionPricesResponse": {
      "id": "ConvertRegionPricesResponse",
      "description": "Response message for ConvertRegionPrices.",
      "type": "object",
      "properties": {
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "convertedRegionPrices": {
          "type": "object",
          "description": "Map from region code to converted region price.",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          }
        },
        "regionVersion": {
          "description": "The region version at which the prices were generated.",
          "$ref": "RegionsVersion"
        }
      }
    },
    "DeviceTier": {
      "type": "object",
      "properties": {
        "level": {
          "format": "int32",
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "type": "integer"
        },
        "deviceGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration.",
          "type": "array"
        }
      },
      "id": "DeviceTier",
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier."
    },
    "Subscription": {
      "type": "object",
      "description": "A single subscription for an app.",
      "id": "Subscription",
      "properties": {
        "restrictedPaymentCountries": {
          "$ref": "RestrictedPaymentCountries",
          "description": "Optional. Countries where the purchase of this subscription is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed."
        },
        "productId": {
          "type": "string",
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
        },
        "basePlans": {
          "type": "array",
          "items": {
            "$ref": "BasePlan"
          },
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply."
        },
        "packageName": {
          "description": "Immutable. Package name of the parent app.",
          "type": "string"
        },
        "listings": {
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionListing"
          }
        },
        "taxAndComplianceSettings": {
          "$ref": "SubscriptionTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance."
        },
        "archived": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Deprecated: subscription archiving is not supported.",
          "deprecated": true
        }
      }
    },
    "ListingsListResponse": {
      "description": "Response listing all localized listings.",
      "id": "ListingsListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#listingsListResponse\").",
          "type": "string"
        },
        "listings": {
          "type": "array",
          "items": {
            "$ref": "Listing"
          },
          "description": "All localized listings."
        }
      }
    },
    "ProductLineItem": {
      "description": "Contains item-level info for a ProductPurchaseV2.",
      "type": "object",
      "id": "ProductLineItem",
      "properties": {
        "productOfferDetails": {
          "description": "The offer details for this item.",
          "$ref": "ProductOfferDetails"
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        }
      }
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      },
      "description": "Response on status of replying to a review.",
      "type": "object"
    },
    "OrdersReviewRefundRequest": {
      "type": "object",
      "properties": {
        "consumptionUsageEvents": {
          "description": "Optional. List of events, each representing an instance where the user consumed or used the purchased item or service. Lists with over 1000 items will be rejected.",
          "type": "array",
          "items": {
            "$ref": "ConsumptionUsageEvent"
          }
        },
        "sampleContentProvided": {
          "type": "boolean",
          "description": "Required. Indicates whether you provided a free sample, trial, or information about the functionality prior to the purchase."
        },
        "refundPreference": {
          "description": "Required. Indicates your preference, based on your operational logic, as to whether the Play Store should grant the refund.",
          "enumDescriptions": [
            "Refund preference unspecified. This value is not used.",
            "Developer prefers that Play declines the refund.",
            "Developer prefers that Play grants the refund in full.",
            "Developer has no preference about Google Play's decision to issue a refund"
          ],
          "type": "string",
          "enum": [
            "REFUND_PREFERENCE_UNSPECIFIED",
            "DECLINE",
            "APPROVE",
            "NEUTRAL"
          ]
        },
        "consumptionPercentageMilliunits": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Percentage of the In-App purchase the customer consumed, in milliunits. Minimum: 0 Maximum: 100,000. For paid apps, this can be omitted. Example : 45200 represents 45.2%."
        },
        "pendingRefundToken": {
          "type": "string",
          "description": "Required. The pending refund token included in the pending refund review notification."
        }
      },
      "id": "OrdersReviewRefundRequest",
      "description": "Request for the orders.reviewrefund API."
    },
    "SubscriptionItemPriceChangeDetails": {
      "properties": {
        "priceChangeState": {
          "description": "State the price change is currently in.",
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ],
          "type": "string"
        },
        "newPrice": {
          "$ref": "Money",
          "description": "New recurring price for the subscription item."
        },
        "expectedNewPriceChargeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect."
        },
        "priceChangeMode": {
          "description": "Price change mode specifies how the subscription item price is changing.",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ],
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "SubscriptionItemPriceChangeDetails",
      "description": "Price change related information of a subscription item."
    },
    "VideoAsset": {
      "properties": {
        "videoUrl": {
          "type": "string",
          "description": "The URL of the video asset."
        }
      },
      "type": "object",
      "description": "A video asset.",
      "id": "VideoAsset"
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "VariantTargeting": {
      "id": "VariantTargeting",
      "properties": {
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen densities that this variant supports"
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        }
      },
      "description": "Targeting on the level of variants.",
      "type": "object"
    },
    "DeleteOneTimeProductOfferRequest": {
      "description": "Request message for deleting an one-time product offer.",
      "type": "object",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to delete.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to delete."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to delete.",
          "type": "string"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The parent purchase option (ID) of the offer to delete."
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        }
      },
      "id": "DeleteOneTimeProductOfferRequest"
    },
    "UploadImageResponse": {
      "id": "UploadImageResponse",
      "description": "Response for uploading an image.",
      "properties": {
        "imageId": {
          "description": "The unique ID of the uploaded image.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicySingleChoiceResponse": {
      "description": "Any response where a single option is chosen from several possibilities.",
      "properties": {
        "value": {
          "description": "Required. Provided value.",
          "type": "string"
        }
      },
      "id": "PolicySingleChoiceResponse",
      "type": "object"
    },
    "CancelSurveyResult": {
      "id": "CancelSurveyResult",
      "description": "Result of the cancel survey when the subscription was canceled by the user.",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "CANCEL_SURVEY_REASON_UNSPECIFIED",
            "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE",
            "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES",
            "CANCEL_SURVEY_REASON_COST_RELATED",
            "CANCEL_SURVEY_REASON_FOUND_BETTER_APP",
            "CANCEL_SURVEY_REASON_OTHERS"
          ],
          "enumDescriptions": [
            "Unspecified cancel survey reason.",
            "Not enough usage of the subscription.",
            "Technical issues while using the app.",
            "Cost related issues.",
            "The user found a better app.",
            "Other reasons."
          ],
          "type": "string",
          "description": "The reason the user selected in the cancel survey."
        },
        "reasonUserInput": {
          "description": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey.",
          "type": "string"
        }
      }
    },
    "ReviewReplyResult": {
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "$ref": "Timestamp",
          "description": "The time at which the reply took effect."
        }
      },
      "description": "The result of replying/updating a reply to review.",
      "type": "object",
      "id": "ReviewReplyResult"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          }
        }
      },
      "type": "object",
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesResponse"
    },
    "CloudKmsKey": {
      "id": "CloudKmsKey",
      "properties": {
        "cryptoKeyVersionResource": {
          "type": "string",
          "description": "Required. Resource identifier of the private key hosted in Google Cloud KMS. The Google Play service account must be granted Decrypt and Sign permissions on this resource. Format: projects//locations//keyRings//cryptoKeys//cryptoKeyVersions/"
        }
      },
      "type": "object",
      "description": "Reference to a private key hosted in developer-managed Google Cloud KMS."
    },
    "OneTimeProductTaxAndComplianceSettings": {
      "id": "OneTimeProductTaxAndComplianceSettings",
      "properties": {
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this one-time product is declared as a product representing a tokenized digital asset."
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "regionalTaxConfigs": {
          "description": "Regional tax configuration.",
          "type": "array",
          "items": {
            "$ref": "RegionalTaxConfig"
          }
        },
        "productTaxCategoryCode": {
          "description": "Product tax category code to assign to the one-time product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        }
      },
      "description": "Details about taxation, Google Play policy and legal compliance for one-time products.",
      "type": "object"
    },
    "DeveloperComment": {
      "description": "Developer entry from conversation between user and developer.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "type": "object",
      "id": "DeveloperComment"
    },
    "PrepaidPlan": {
      "type": "object",
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime"
        }
      },
      "id": "PrepaidPlan",
      "description": "Information related to a prepaid plan."
    },
    "AssetSliceSet": {
      "description": "Set of asset slices belonging to a single asset module.",
      "properties": {
        "apkDescription": {
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Asset slices."
        },
        "assetModuleMetadata": {
          "$ref": "AssetModuleMetadata",
          "description": "Module level metadata."
        }
      },
      "type": "object",
      "id": "AssetSliceSet"
    },
    "ApkTargeting": {
      "id": "ApkTargeting",
      "type": "object",
      "description": "Represents a set of apk-level targetings.",
      "properties": {
        "multiAbiTargeting": {
          "$ref": "MultiAbiTargeting",
          "description": "Multi-api-level targeting."
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "The language that the apk targets"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the apk targets",
          "$ref": "SdkVersionTargeting"
        }
      }
    },
    "DeferredItemRemoval": {
      "type": "object",
      "id": "DeferredItemRemoval",
      "properties": {},
      "description": "Information related to deferred item replacement."
    },
    "ApkBinary": {
      "id": "ApkBinary",
      "type": "object",
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command."
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command."
        }
      },
      "description": "Represents the binary payload of an APK."
    },
    "DeactivateOneTimeProductOfferRequest": {
      "description": "Request message for DeactivateOneTimeProductOffer.",
      "type": "object",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "offerId": {
          "description": "Required. The offer ID of the offer to deactivate.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to deactivate."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        }
      },
      "id": "DeactivateOneTimeProductOfferRequest"
    },
    "BatchUpdateBasePlanStatesResponse": {
      "id": "BatchUpdateBasePlanStatesResponse",
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order."
        }
      },
      "description": "Response message for BatchUpdateBasePlanStates.",
      "type": "object"
    },
    "SocSelector": {
      "properties": {
        "socMake": {
          "type": "string",
          "description": "The manufacturer of the SoC."
        },
        "socModel": {
          "type": "string",
          "description": "The model of the SoC."
        }
      },
      "description": "Defines a SOC selector for a device. This will match any device whose SoC (System on Chip) matches all fields in the selector.",
      "type": "object",
      "id": "SocSelector"
    },
    "Image": {
      "properties": {
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        },
        "aiGeneratedState": {
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ],
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ],
          "type": "string"
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        }
      },
      "description": "An uploaded image. The resource for ImagesService.",
      "type": "object",
      "id": "Image"
    },
    "DeviceTierSet": {
      "properties": {
        "deviceTiers": {
          "items": {
            "$ref": "DeviceTier"
          },
          "description": "Device tiers belonging to the set.",
          "type": "array"
        }
      },
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details.",
      "id": "DeviceTierSet",
      "type": "object"
    },
    "TargetingInfo": {
      "type": "object",
      "description": "Targeting information about the generated apks.",
      "properties": {
        "assetSliceSet": {
          "type": "array",
          "description": "List of created asset slices.",
          "items": {
            "$ref": "AssetSliceSet"
          }
        },
        "packageName": {
          "description": "The package name of this app.",
          "type": "string"
        },
        "variant": {
          "type": "array",
          "description": "List of the created variants.",
          "items": {
            "$ref": "SplitApkVariant"
          }
        }
      },
      "id": "TargetingInfo"
    },
    "OneTimeProductGameRewardOffer": {
      "description": "Configuration specific to game reward offers.",
      "properties": {
        "redemptionLimit": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The number of times this offer can be redeemed. If unset or set to 0, allows for unlimited offer redemptions. Otherwise must be a number between 1 and 50 inclusive."
        }
      },
      "type": "object",
      "id": "OneTimeProductGameRewardOffer"
    },
    "ExternalTransactionTestPurchase": {
      "id": "ExternalTransactionTestPurchase",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "type": "object",
      "properties": {}
    },
    "SignupPromotion": {
      "id": "SignupPromotion",
      "properties": {
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        },
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        }
      },
      "type": "object",
      "description": "The promotion applied on this item when purchased."
    },
    "InAppProductListing": {
      "properties": {
        "title": {
          "type": "string",
          "description": "Title for the store listing."
        },
        "description": {
          "type": "string",
          "description": "Description for the store listing."
        },
        "benefits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Localized entitlement benefits for a subscription."
        }
      },
      "id": "InAppProductListing",
      "description": "Store listing of a single in-app product.",
      "type": "object"
    },
    "ReviewsReplyRequest": {
      "type": "object",
      "id": "ReviewsReplyRequest",
      "properties": {
        "replyText": {
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped.",
          "type": "string"
        }
      },
      "description": "Request to reply to review or update existing reply."
    },
    "DeviceMetadata": {
      "description": "Characteristics of the user's device.",
      "type": "object",
      "properties": {
        "screenHeightPx": {
          "type": "integer",
          "format": "int32",
          "description": "Screen height in pixels"
        },
        "deviceClass": {
          "type": "string",
          "description": "Device class (e.g. tablet)"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "glEsVersion": {
          "type": "integer",
          "format": "int32",
          "description": "OpenGL version"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "ramMb": {
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "screenDensityDpi": {
          "format": "int32",
          "type": "integer",
          "description": "Screen density in DPI"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "screenWidthPx": {
          "format": "int32",
          "description": "Screen width in pixels",
          "type": "integer"
        }
      },
      "id": "DeviceMetadata"
    },
    "RotateAppSigningKeyRequest": {
      "id": "RotateAppSigningKeyRequest",
      "type": "object",
      "description": "Request to rotate an app's signing key.",
      "properties": {
        "keyRotationReason": {
          "enum": [
            "KEY_ROTATION_REASON_UNSPECIFIED",
            "COMPROMISED_KEY",
            "USE_STRONGER_KEY",
            "USE_SAME_KEY_FOR_MULTIPLE_APPS",
            "ROUTINE_KEY_UPGRADE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified key rotation reason. Cannot be used.",
            "Key is compromised.",
            "Stronger key is required.",
            "Same key is used for multiple apps.",
            "Routine key upgrade.",
            "Other reason."
          ],
          "type": "string",
          "description": "Required. Reason for rotating the app key."
        },
        "rotatedCloudKmsKey": {
          "description": "Required. Self-hosted Cloud KMS key.",
          "$ref": "RotatedCloudKmsKey"
        }
      }
    },
    "UpdateOneTimeProductOfferRequest": {
      "type": "object",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The list of fields to be updated.",
          "format": "google-fieldmask"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored."
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the offer."
        }
      },
      "id": "UpdateOneTimeProductOfferRequest",
      "description": "Request message for UpdateOneTimeProductOffer."
    },
    "ListOneTimeProductsResponse": {
      "description": "Response message for ListOneTimeProducts.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array",
          "description": "The one-time products from the specified app."
        }
      },
      "type": "object",
      "id": "ListOneTimeProductsResponse"
    },
    "ExternalAccountIdentifiers": {
      "type": "object",
      "properties": {
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        }
      },
      "id": "ExternalAccountIdentifiers",
      "description": "User account identifier in the third-party service."
    },
    "TrackRelease": {
      "description": "A release within a track.",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "description": "The status of the release.",
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ]
        },
        "releaseNotes": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "A description of what is new in this release.",
          "type": "array"
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries. Note this is only allowed to be set for inProgress releases in the production track.",
          "$ref": "CountryTargeting"
        },
        "name": {
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date.",
          "type": "string"
        },
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 < fraction < 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases.",
          "type": "array"
        },
        "inAppUpdatePriority": {
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "TrackRelease"
    },
    "InappproductsBatchUpdateRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "type": "array",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          }
        }
      },
      "id": "InappproductsBatchUpdateRequest",
      "description": "Request to update or insert one or more in-app products."
    },
    "VanityCode": {
      "properties": {
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        }
      },
      "description": "A multiple use, predefined promotion code.",
      "id": "VanityCode",
      "type": "object"
    },
    "OtherRecurringProduct": {
      "id": "OtherRecurringProduct",
      "properties": {},
      "type": "object",
      "description": "Details of a recurring external transaction product which doesn't belong to any other more specific category."
    },
    "RotatedCloudKmsKey": {
      "id": "RotatedCloudKmsKey",
      "type": "object",
      "description": "Message representing rotated Cloud KMS key. Consists of the Cloud KMS key and its associated proof of rotation.",
      "properties": {
        "signingCertificateLineage": {
          "format": "byte",
          "type": "string",
          "description": "Required. Proof-of-rotation. See [creating signing certificate lineages](https://developer.android.com/studio/command-line/apksigner#rotate_signing_keys_2)."
        },
        "cloudKmsKeyAndCert": {
          "$ref": "CloudKmsKeyAndCert",
          "description": "Required. Cloud KMS key and the certificate associated with the key."
        }
      }
    },
    "EnrollExistingApp": {
      "id": "EnrollExistingApp",
      "description": "Enroll an existing app into Play signing.",
      "type": "object",
      "properties": {
        "cloudKmsKey": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKey"
        }
      }
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "description": "Configuration for a single phase of a subscription offer in a single region.",
      "properties": {
        "relativeDiscount": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region."
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "RegionalSubscriptionOfferPhaseFreePriceOverride"
        },
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. The region to which this config applies."
        },
        "absoluteDiscount": {
          "$ref": "Money",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region."
        }
      },
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "type": "object"
    },
    "SubscriptionOfferPhase": {
      "description": "A single phase of a subscription offer.",
      "properties": {
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig",
          "description": "Pricing information for any new locations Play may launch in."
        },
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "format": "int32",
          "type": "integer"
        },
        "duration": {
          "type": "string",
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format."
        },
        "regionalConfigs": {
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config."
        }
      },
      "id": "SubscriptionOfferPhase",
      "type": "object"
    },
    "PolicyKeyedGroupResponse": {
      "description": "A group of responses each identified by a distinct key within an allowed set.",
      "type": "object",
      "properties": {
        "groups": {
          "type": "array",
          "description": "Optional. Groups of responses to questions. Each KeyedGroup.key must be unique within this list.",
          "items": {
            "$ref": "KeyedGroup"
          }
        }
      },
      "id": "PolicyKeyedGroupResponse"
    },
    "TracksListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "description": "All tracks (including tracks with no releases).",
          "type": "array",
          "items": {
            "$ref": "Track"
          }
        }
      },
      "description": "Response listing all tracks.",
      "id": "TracksListResponse",
      "type": "object"
    },
    "RegionalSubscriptionOfferConfig": {
      "id": "RegionalSubscriptionOfferConfig",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "newSubscriberAvailability": {
          "type": "boolean",
[...]
