{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "title": "Google Play Android Developer API",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/android-publisher",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "discoveryVersion": "v1",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "name": "androidpublisher",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "basePath": "",
  "ownerName": "Google",
  "canonicalName": "Android Publisher",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "id": "androidpublisher:v3",
  "servicePath": "",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "ownerDomain": "google.com",
  "resources": {
    "inappproducts": {
      "methods": {
        "insert": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "InAppProduct"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.insert",
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Package name of the app.",
              "type": "string",
              "required": true
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            }
          }
        },
        "get": {
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            },
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            }
          },
          "id": "androidpublisher.inappproducts.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "GET",
          "id": "androidpublisher.inappproducts.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "deprecated": true
            },
            "maxResults": {
              "type": "integer",
              "deprecated": true,
              "location": "query",
              "format": "uint32",
              "description": "Deprecated and ignored. The page size is determined by the server."
            }
          },
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "batchGet": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchGet",
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Package name of the app."
            },
            "sku": {
              "type": "string",
              "repeated": true,
              "description": "Unique identifier for the in-app products.",
              "location": "query"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameterOrder": [
            "packageName"
          ]
        },
        "batchUpdate": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "id": "androidpublisher.inappproducts.batchUpdate",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST"
        },
        "batchDelete": {
          "id": "androidpublisher.inappproducts.batchDelete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ]
        },
        "patch": {
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "latencyTolerance": {
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query"
            },
            "sku": {
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean"
            }
          },
          "id": "androidpublisher.inappproducts.patch",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH"
        },
        "update": {
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.update",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "latencyTolerance": {
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            },
            "sku": {
              "type": "string",
              "location": "path",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "allowMissing": {
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "type": "boolean",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "PUT",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "parameters": {
            "sku": {
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string"
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "DELETE"
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "createexternaltransaction": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Creates a new external transaction.",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "ExternalTransaction"
          },
          "parameters": {
            "externalTransactionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked."
            },
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "pattern": "^applications/[^/]+$",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "response": {
            "$ref": "ExternalTransaction"
          }
        },
        "getexternaltransaction": {
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "description": "Gets an existing external transaction."
        },
        "refundexternaltransaction": {
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "path": "androidpublisher/v3/{+name}:refund",
          "parameters": {
            "name": {
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "type": "string",
              "location": "path",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "required": true
            }
          },
          "description": "Refunds or partially refunds an existing external transaction."
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "id": "androidpublisher.monetization.convertRegionPrices",
          "httpMethod": "POST",
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "parameters": {
            "packageName": {
              "description": "Required. The app package name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ]
        }
      },
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "resources": {
                "offers": {
                  "methods": {
                    "batchGet": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "description": "Reads one or more one-time product offers.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "parameters": {
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      }
                    },
                    "activate": {
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "description": "Activates a one-time product offer.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "parameters": {
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to activate."
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "type": "string"
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "location": "path"
                        },
                        "offerId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The offer ID of the offer to activate.",
                          "required": true
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate"
                    },
                    "cancel": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "parameters": {
                        "offerId": {
                          "description": "Required. The offer ID of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Cancels a one-time product offer.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      }
                    },
                    "batchUpdateStates": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "description": "Updates a batch of one-time product offer states.",
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "deactivate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Deactivates a one-time product offer.",
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      },
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate"
                    },
                    "batchUpdate": {
                      "parameters": {
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "description": "Creates or updates one or more one-time product offers.",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate"
                    },
                    "batchDelete": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "description": "Deletes one or more one-time product offers.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "parameters": {
                        "purchaseOptionId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources."
                        }
                      }
                    },
                    "list": {
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app."
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "location": "query"
                        }
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "batchUpdateStates": {
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "required": true,
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ]
                },
                "batchDelete": {
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "parameters": {
                    "productId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "required": true
                    },
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent app (package name) of the purchase options to delete."
                    }
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete"
                }
              }
            }
          },
          "methods": {
            "batchGet": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "httpMethod": "GET",
              "parameters": {
                "productIds": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "repeated": true
                },
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Reads one or more one-time products.",
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes a one-time product.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "type": "string"
                },
                "productId": {
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "latencyTolerance": {
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "id": "androidpublisher.monetization.onetimeproducts.delete"
            },
            "get": {
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Reads a single one-time product.",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "response": {
                "$ref": "OneTimeProduct"
              },
              "parameters": {
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The product ID of the product to retrieve."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) of the product to retrieve.",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time product should be read.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "description": "Lists all one-time products under a given app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.list"
            },
            "batchUpdate": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "description": "Creates or updates one or more one-time products.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "required": true
                }
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "parameterOrder": [
                "packageName"
              ]
            },
            "batchDelete": {
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "description": "Deletes one or more one-time products.",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "parameterOrder": [
                "packageName"
              ],
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "OneTimeProduct"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive."
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.)."
                },
                "allowMissing": {
                  "type": "boolean",
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "location": "query"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. The list of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "regionsVersion.version": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Immutable. Package name of the parent app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "response": {
                "$ref": "OneTimeProduct"
              },
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "description": "Creates or updates a one-time product.",
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "packageName",
                "productId"
              ]
            }
          }
        },
        "subscriptions": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Subscription"
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "response": {
                "$ref": "Subscription"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Immutable. Package name of the parent app.",
                  "required": true
                },
                "allowMissing": {
                  "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored.",
                  "location": "query",
                  "type": "boolean"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. The list of fields to be updated.",
                  "format": "google-fieldmask"
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string"
                },
                "productId": {
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length.",
                  "required": true
                },
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
                }
              },
              "id": "androidpublisher.monetization.subscriptions.patch",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "description": "Updates an existing subscription."
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a subscription. A subscription can only be deleted if it has never had a base plan published.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) of the app of the subscription to delete."
                },
                "productId": {
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "id": "androidpublisher.monetization.subscriptions.delete"
            },
            "batchGet": {
              "parameters": {
                "productIds": {
                  "type": "string",
                  "location": "query",
                  "description": "Required. A list of up to 100 subscription product IDs to retrieve. All the IDs must be different.",
                  "repeated": true
                },
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the subscriptions should be retrieved. Must be equal to the package_name field on all the requests.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.monetization.subscriptions.batchGet",
              "description": "Reads one or more subscriptions.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions:batchGet",
              "response": {
                "$ref": "BatchGetSubscriptionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions:batchGet"
            },
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "id": "androidpublisher.monetization.subscriptions.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "showArchived": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Deprecated: subscription archiving is not supported.",
                  "deprecated": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all subscriptions under a given app.",
              "httpMethod": "GET"
            },
            "create": {
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "response": {
                "$ref": "Subscription"
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "parameters": {
                "regionsVersion.version": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                },
                "productId": {
                  "description": "Required. The ID to use for the subscription. For the requirements on this format, see the documentation of the product_id field on the Subscription resource.",
                  "type": "string",
                  "location": "query"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent app (package name) for which the subscription should be created. Must be equal to the package_name field on the Subscription resource."
                }
              },
              "request": {
                "$ref": "Subscription"
              },
              "description": "Creates a new subscription. Newly added base plans will remain in draft state until activated.",
              "id": "androidpublisher.monetization.subscriptions.create",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName"
              ]
            },
            "batchUpdate": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions:batchUpdate",
              "response": {
                "$ref": "BatchUpdateSubscriptionsResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "request": {
                "$ref": "BatchUpdateSubscriptionsRequest"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the subscriptions should be updated. Must be equal to the package_name field on all the Subscription resources.",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.subscriptions.batchUpdate",
              "httpMethod": "POST",
              "description": "Updates a batch of subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions:batchUpdate"
            },
            "archive": {
              "deprecated": true,
              "id": "androidpublisher.monetization.subscriptions.archive",
              "request": {
                "$ref": "ArchiveSubscriptionRequest"
              },
              "description": "Deprecated: subscription archiving is not supported.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive",
              "response": {
                "$ref": "Subscription"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) of the app of the subscription to delete.",
                  "type": "string",
                  "required": true
                },
                "productId": {
                  "type": "string",
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "productId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "response": {
                "$ref": "Subscription"
              },
              "id": "androidpublisher.monetization.subscriptions.get",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) of the subscription to get.",
                  "type": "string",
                  "location": "path"
                },
                "productId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The unique product ID of the subscription to get."
                }
              },
              "description": "Reads a single subscription.",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}"
            }
          },
          "resources": {
            "basePlans": {
              "methods": {
                "delete": {
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible.",
                  "parameters": {
                    "productId": {
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "basePlanId": {
                      "location": "path",
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "httpMethod": "DELETE",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                },
                "deactivate": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "httpMethod": "POST",
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "parameters": {
                    "productId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate."
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to deactivate."
                    },
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  }
                },
                "batchUpdateStates": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "description": "Activates or deactivates base plans across one or multiple subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the updated base plans.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "productId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The product ID of the parent subscription, if all updated base plans belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set."
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchUpdateStates",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdateBasePlanStatesResponse"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  }
                },
                "migratePrices": {
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported.",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "type": "string",
                      "location": "path"
                    },
                    "productId": {
                      "location": "path",
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "required": true,
                      "type": "string"
                    },
                    "basePlanId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The unique base plan ID of the base plan to update prices on."
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ]
                },
                "batchMigratePrices": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchMigratePrices",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "request": {
                    "$ref": "BatchMigrateBasePlanPricesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "response": {
                    "$ref": "BatchMigrateBasePlanPricesResponse"
                  },
                  "description": "Batch variant of the MigrateBasePlanPrices endpoint. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "parameters": {
                    "packageName": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the Subscription resources.",
                      "location": "path"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "activate": {
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "parameters": {
                    "productId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent subscription (ID) of the base plan to activate."
                    },
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the base plan to activate."
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to activate."
                    }
                  },
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.get",
                      "parameters": {
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to get.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to get.",
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent subscription (ID) of the offer to get."
                        },
                        "basePlanId": {
                          "required": true,
                          "description": "Required. The parent base plan (ID) of the offer to get.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Reads a single offer",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Creates a new subscription offer. Only auto-renewing base plans can have subscription offers. The offer state will be DRAFT until it is activated.",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "parameters": {
                        "offerId": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. The ID to use for the offer. For the requirements on this format, see the documentation of the offer_id field on the SubscriptionOffer resource."
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the offer should be created. Must be equal to the package_name field on the Subscription resource.",
                          "required": true
                        },
                        "basePlanId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent base plan (ID) for which the offer should be created. Must be equal to the base_plan_id field on the SubscriptionOffer resource.",
                          "location": "path"
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) for which the offer should be created. Must be equal to the product_id field on the SubscriptionOffer resource.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "regionsVersion.version": {
                          "location": "query",
                          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "SubscriptionOffer"
                      }
                    },
                    "batchUpdate": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate",
                      "response": {
                        "$ref": "BatchUpdateSubscriptionOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchUpdate",
                      "description": "Updates a batch of subscription offers. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                      "parameters": {
                        "productId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set.",
                          "location": "path"
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the updated subscription offers. Must be equal to the package_name field on all the updated SubscriptionOffer resources.",
                          "required": true
                        },
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple base plans.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "BatchUpdateSubscriptionOffersRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST"
                    },
                    "list": {
                      "description": "Lists all offers under a given subscription.",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListSubscriptionsOffers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptionOffers` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "basePlanId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read all offers under a subscription or an app. Must be specified as '-' if product_id is specified as '-'."
                        },
                        "packageName": {
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent subscription (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.list",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "response": {
                        "$ref": "ListSubscriptionOffersResponse"
[...]
