{
  "canonicalName": "Android Publisher",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/android-publisher",
  "name": "androidpublisher",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "schemas": {
    "RegionalProductAgeRatingInfo": {
      "description": "Details about the age rating for a specific geographic region.",
      "type": "object",
      "id": "RegionalProductAgeRatingInfo",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "productAgeRatingTier": {
          "type": "string",
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "description": "The age rating tier of a product for the given region.",
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ]
        }
      }
    },
    "NestedPolicyResponse": {
      "type": "object",
      "description": "An individual nested response to a policy question about an app. Nested responses are like regular responses but without groups.",
      "id": "NestedPolicyResponse",
      "properties": {
        "stringResponse": {
          "description": "Optional. A string response.",
          "$ref": "PolicyStringResponse"
        },
        "documentResponse": {
          "$ref": "PolicyDocumentResponse",
          "description": "Optional. A document response."
        },
        "booleanResponse": {
          "description": "Optional. A boolean response.",
          "$ref": "PolicyBooleanResponse"
        },
        "singleChoiceResponse": {
          "description": "Optional. A single choice response.",
          "$ref": "PolicySingleChoiceResponse"
        },
        "questionId": {
          "description": "Required. ID of the question being answered.",
          "type": "string"
        },
        "multipleChoiceResponse": {
          "$ref": "PolicyMultipleChoiceResponse",
          "description": "Optional. A multiple choice response."
        }
      }
    },
    "LocalizedStoreListings": {
      "id": "LocalizedStoreListings",
      "properties": {
        "localizedStoreListings": {
          "type": "array",
          "items": {
            "$ref": "LocalizedStoreListing"
          }
        },
        "defaultLanguageCode": {
          "description": "The default language code of the app. If a localized store listing is not available for a given language, assets from the default language are used instead.",
          "type": "string"
        }
      },
      "description": "The localized store listings of an app.",
      "type": "object"
    },
    "Variant": {
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "properties": {
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        },
        "variantId": {
          "readOnly": true,
          "type": "integer",
          "format": "uint32",
          "description": "Output only. The ID of a previously created system APK variant."
        },
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        }
      },
      "id": "Variant",
      "type": "object"
    },
    "SignupPromotion": {
      "type": "object",
      "id": "SignupPromotion",
      "description": "The promotion applied on this item when purchased.",
      "properties": {
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        },
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        }
      }
    },
    "VideoAsset": {
      "id": "VideoAsset",
      "type": "object",
      "description": "A video asset.",
      "properties": {
        "videoUrl": {
          "description": "The URL of the video asset.",
          "type": "string"
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        },
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        }
      },
      "id": "Price",
      "description": "Definition of a price, i.e. currency and units."
    },
    "RegionalTaxConfig": {
      "type": "object",
      "description": "Details about taxation in a given geographical region.",
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        },
        "streamingTaxType": {
          "type": "string",
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ]
        },
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "type": "string",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "RegionalTaxConfig"
    },
    "DeviceTierSet": {
      "id": "DeviceTierSet",
      "properties": {
        "deviceTiers": {
          "description": "Device tiers belonging to the set.",
          "type": "array",
          "items": {
            "$ref": "DeviceTier"
          }
        }
      },
      "type": "object",
      "description": "A set of device tiers. A tier set determines what variation of app content gets served to a specific device, for device-targeted content. You should assign a priority level to each tier, which determines the ordering by which they are evaluated by Play. See the documentation of DeviceTier.level for more details."
    },
    "BatchUpdateBasePlanStatesRequest": {
      "id": "BatchUpdateBasePlanStatesRequest",
      "type": "object",
      "description": "Request message for BatchUpdateBasePlanStates.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          },
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "type": "array"
        }
      }
    },
    "AppStoreAppPolicyDeclaration": {
      "type": "object",
      "description": "A policy declaration with its responses.",
      "id": "AppStoreAppPolicyDeclaration",
      "properties": {
        "declarationId": {
          "type": "string",
          "description": "Required. ID of the policy declaration."
        },
        "responses": {
          "type": "array",
          "items": {
            "$ref": "PolicyResponse"
          },
          "description": "Required. Responses provided for this declaration."
        }
      }
    },
    "BatchDeleteOneTimeProductOffersRequest": {
      "description": "Request message for BatchDeleteOneTimeProductOffers.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of update requests of up to 100 elements. All requests must correspond to different offers.",
          "items": {
            "$ref": "DeleteOneTimeProductOfferRequest"
          }
        }
      },
      "type": "object",
      "id": "BatchDeleteOneTimeProductOffersRequest"
    },
    "KeyedGroup": {
      "properties": {
        "responses": {
          "type": "array",
          "description": "Required. Responses in this group.",
          "items": {
            "$ref": "NestedPolicyResponse"
          }
        },
        "key": {
          "description": "Required. Key for this group.",
          "type": "string"
        }
      },
      "id": "KeyedGroup",
      "description": "A group of responses, with a key.",
      "type": "object"
    },
    "RemoteInAppUpdateDataPerBundle": {
      "type": "object",
      "id": "RemoteInAppUpdateDataPerBundle",
      "properties": {
        "versionCode": {
          "description": "Version Code corresponding to the target bundle.",
          "type": "string",
          "format": "int64"
        },
        "totalDeviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of devices affected by this recovery action associated with bundle of the app."
        },
        "recoveredDeviceCount": {
          "description": "Total number of devices which have been rescued.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Data related to the recovery action at bundle level."
    },
    "ExternalTransactionAddress": {
      "description": "User's address for the external transaction.",
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\"."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes)."
        }
      },
      "id": "ExternalTransactionAddress",
      "type": "object"
    },
    "PaidAppDetails": {
      "type": "object",
      "id": "PaidAppDetails",
      "description": "Details of a paid app purchase.",
      "properties": {}
    },
    "UpdateAppStoreHostedAppRequest": {
      "id": "UpdateAppStoreHostedAppRequest",
      "properties": {
        "activeLocalizedStoreListings": {
          "description": "Required. Localized store listings details of the update.",
          "type": "array",
          "items": {
            "$ref": "AppStoreAppStoreListing"
          }
        },
        "packageName": {
          "type": "string",
          "description": "Required. Package name of the app."
        },
        "policyDeclarations": {
          "type": "array",
          "description": "Required. Policy declarations provided for the app.",
          "items": {
            "$ref": "AppStoreAppPolicyDeclaration"
          }
        },
        "appDetails": {
          "description": "Required. General developer details for the app.",
          "$ref": "AppStoreAppDetails"
        },
        "activeApks": {
          "description": "Required. Actively distributed APKs of the app.",
          "$ref": "AppStoreAppActiveApks"
        }
      },
      "description": "Request to update an app record for an app store hosted app.",
      "type": "object"
    },
    "ItemReplacement": {
      "properties": {
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID of the subscription line item being replaced."
        },
        "productId": {
          "type": "string",
          "description": "The product ID of the subscription line item being replaced."
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID of the subscription line item being replaced, if applicable."
        },
        "replacementMode": {
          "type": "string",
          "enum": [
            "REPLACEMENT_MODE_UNSPECIFIED",
            "WITH_TIME_PRORATION",
            "CHARGE_PRORATED_PRICE",
            "WITHOUT_PRORATION",
            "CHARGE_FULL_PRICE",
            "DEFERRED",
            "KEEP_EXISTING"
          ],
          "enumDescriptions": [
            "Unspecified replacement mode.",
            "The new plan will be prorated and credited from the old plan.",
            "The user will be charged a prorated price for the new plan.",
            "The new plan will replace the old one without prorating the time.",
            "The user will be charged the full price for the new plan.",
            "The old plan will be cancelled and the new plan will be effective after the old one expires.",
            "The plan will remain unchanged with this replacement."
          ],
          "description": "The replacement mode applied during the purchase."
        }
      },
      "description": "Details about a subscription line item that is being replaced.",
      "type": "object",
      "id": "ItemReplacement"
    },
    "OfferPhase": {
      "id": "OfferPhase",
      "properties": {
        "prorationPeriod": {
          "description": "Set when the offer phase is a proration period.",
          "$ref": "ProrationPeriodOfferPhase"
        },
        "basePrice": {
          "$ref": "BasePriceOfferPhase",
          "description": "Set when the offer phase is a base plan pricing phase."
        },
        "freeTrial": {
          "description": "Set when the offer phase is a free trial.",
          "$ref": "FreeTrialOfferPhase"
        },
        "introductoryPrice": {
          "$ref": "IntroductoryPriceOfferPhase",
          "description": "Set when the offer phase is an introductory price offer phase."
        }
      },
      "description": "Offer phase details.",
      "type": "object"
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "id": "Apk",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "type": "integer",
          "format": "int32"
        },
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        }
      }
    },
    "DeferSubscriptionPurchaseResponse": {
      "type": "object",
      "properties": {
        "itemExpiryTimeDetails": {
          "description": "The new expiry time for each subscription items.",
          "type": "array",
          "items": {
            "$ref": "ItemExpiryTimeDetails"
          }
        }
      },
      "description": "Response for the v2 purchases.subscriptions.defer API.",
      "id": "DeferSubscriptionPurchaseResponse"
    },
    "ReviewsReplyRequest": {
      "id": "ReviewsReplyRequest",
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The text to set as the reply. Replies of more than approximately 350 characters will be rejected. HTML tags will be stripped."
        }
      },
      "description": "Request to reply to review or update existing reply.",
      "type": "object"
    },
    "AppStoreAppStoreListing": {
      "id": "AppStoreAppStoreListing",
      "description": "A localized store listing. These are the details about the app as shown in your app store.",
      "type": "object",
      "properties": {
        "screenshotId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Multiple image IDs for screenshot galleries."
        },
        "appIconId": {
          "description": "Required. Image ID generated from UploadImage for the main app icon.",
          "type": "string"
        },
        "appName": {
          "description": "Required. The title of the app.",
          "type": "string"
        },
        "videoLink": {
          "description": "Optional. Link to a video about the app.",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. Language code (e.g., \"en-US\") of the listing.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Optional. Quick summary about the app."
        },
        "fullDescription": {
          "description": "Required. Comprehensive description text about the app.",
          "type": "string"
        }
      }
    },
    "PolicyResponse": {
      "id": "PolicyResponse",
      "description": "An individual response (answer) to a policy question about an app.",
      "type": "object",
      "properties": {
        "questionId": {
          "description": "Required. ID of the question being answered.",
          "type": "string"
        },
        "documentResponse": {
          "description": "Optional. A document response.",
          "$ref": "PolicyDocumentResponse"
        },
        "groupResponse": {
          "$ref": "PolicyGroupResponse",
          "description": "Optional. A group response."
        },
        "multipleChoiceResponse": {
          "$ref": "PolicyMultipleChoiceResponse",
          "description": "Optional. A multiple choice response."
        },
        "booleanResponse": {
          "$ref": "PolicyBooleanResponse",
          "description": "Optional. A boolean response."
        },
        "singleChoiceResponse": {
          "description": "Optional. A single choice response.",
          "$ref": "PolicySingleChoiceResponse"
        },
        "keyedGroupResponse": {
          "$ref": "PolicyKeyedGroupResponse",
          "description": "Optional. A keyed group response."
        },
        "stringResponse": {
          "description": "Optional. A string response.",
          "$ref": "PolicyStringResponse"
        }
      }
    },
    "AppVersionRange": {
      "id": "AppVersionRange",
      "description": "Data format for a continuous range of app versions.",
      "type": "object",
      "properties": {
        "versionCodeStart": {
          "format": "int64",
          "type": "string",
          "description": "Lowest app version in the range, inclusive."
        },
        "versionCodeEnd": {
          "type": "string",
          "description": "Highest app version in the range, inclusive.",
          "format": "int64"
        }
      }
    },
    "ProductLineItem": {
      "type": "object",
      "properties": {
        "productOfferDetails": {
          "$ref": "ProductOfferDetails",
          "description": "The offer details for this item."
        },
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        }
      },
      "id": "ProductLineItem",
      "description": "Contains item-level info for a ProductPurchaseV2."
    },
    "InappproductsDeleteRequest": {
      "properties": {
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request to delete an in-app product.",
      "id": "InappproductsDeleteRequest"
    },
    "BatchUpdatePurchaseOptionStatesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdatePurchaseOptionStateRequest"
          },
          "description": "Required. The update request list of up to 100 elements. All requests must update different purchase options."
        }
      },
      "description": "Request message for BatchUpdatePurchaseOptionStates.",
      "type": "object",
      "id": "BatchUpdatePurchaseOptionStatesRequest"
    },
    "UpdateOneTimeProductRequest": {
      "type": "object",
      "id": "UpdateOneTimeProductRequest",
      "properties": {
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Required. The version of the available regions being used for the one-time product."
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
          "type": "boolean"
        },
        "oneTimeProduct": {
          "description": "Required. The one-time product to upsert.",
          "$ref": "OneTimeProduct"
        }
      },
      "description": "Request message for UpdateOneTimeProduct."
    },
    "ApkDescription": {
      "properties": {
        "instantApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Instant split APKs."
        },
        "targeting": {
          "$ref": "ApkTargeting",
          "description": "Apk-level targeting."
        },
        "standaloneApkMetadata": {
          "description": "Set only for standalone APKs.",
          "$ref": "StandaloneApkMetadata"
        },
        "path": {
          "type": "string",
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API."
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        }
      },
      "id": "ApkDescription",
      "type": "object",
      "description": "Description of the created apks."
    },
    "PartialRefundEvent": {
      "id": "PartialRefundEvent",
      "description": "Details of the partial refund events for this order.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "The partial refund has been created, but not yet processed.",
            "The partial refund was processed successfully."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED_SUCCESSFULLY"
          ],
          "description": "The state of the partial refund."
        },
        "createTime": {
          "description": "The time when the partial refund was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "refundDetails": {
          "description": "Details for the partial refund.",
          "$ref": "RefundDetails"
        },
        "processTime": {
          "description": "The time when the partial refund was processed.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CountryTargeting": {
      "id": "CountryTargeting",
      "description": "Country targeting specification.",
      "properties": {
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html)."
        },
        "includeRestOfWorld": {
          "description": "Include \"rest of world\" as well as explicitly targeted countries.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AppEdit": {
      "properties": {
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "description": "An app edit. The resource for EditsService.",
      "type": "object",
      "id": "AppEdit"
    },
    "SafetyLabelsUpdateRequest": {
      "id": "SafetyLabelsUpdateRequest",
      "description": "Request to update Safety Labels of an app.",
      "type": "object",
      "properties": {
        "safetyLabels": {
          "type": "string",
          "description": "Required. Contents of the CSV file containing Data Safety responses. For the format of this file, see the Help Center documentation at https://support.google.com/googleplay/android-developer/answer/10787469?#zippy=%2Cunderstand-the-csv-format To download an up to date template, follow the steps at https://support.google.com/googleplay/android-developer/answer/10787469?#zippy=%2Cexport-to-a-csv-file"
        }
      }
    },
    "DeveloperDetails": {
      "description": "The developer details of a Google Play app.",
      "type": "object",
      "id": "DeveloperDetails",
      "properties": {
        "contactEmail": {
          "type": "string",
          "description": "The contact email of the developer."
        },
        "developerName": {
          "description": "The developer name of the app.",
          "type": "string"
        },
        "website": {
          "type": "string",
          "description": "The website of the developer."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the developer."
        },
        "address": {
          "description": "The physical address of the developer.",
          "type": "string"
        }
      }
    },
    "UpdateOneTimeProductOfferRequest": {
      "type": "object",
      "id": "UpdateOneTimeProductOfferRequest",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to be updated."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored."
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive."
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        }
      },
      "description": "Request message for UpdateOneTimeProductOffer."
    },
    "ActivatePurchaseOptionRequest": {
      "type": "object",
      "description": "Request message for UpdatePurchaseOptionState.",
      "id": "ActivatePurchaseOptionRequest",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to activate.",
          "type": "string"
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to activate.",
          "type": "string"
        }
      }
    },
    "UpdateBasePlanStateRequest": {
      "properties": {
        "activateBasePlanRequest": {
          "$ref": "ActivateBasePlanRequest",
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers."
        },
        "deactivateBasePlanRequest": {
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
          "$ref": "DeactivateBasePlanRequest"
        }
      },
      "type": "object",
      "description": "Request message to update the state of a subscription base plan.",
      "id": "UpdateBasePlanStateRequest"
    },
    "OtherRegionsSubscriptionOfferPhaseFreePriceOverride": {
      "type": "object",
      "description": "Represents the free price override configuration for any new locations Play may launch for a single offer phase.",
      "id": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
      "properties": {}
    },
    "CloudKmsKeyAndCert": {
      "description": "Cloud KMS key and the certificate associated with the key.",
      "properties": {
        "pemCertificate": {
          "format": "byte",
          "description": "Required. Certificate associated with the key. The bytes must contain the certificate in PEM format.",
          "type": "string"
        },
        "cloudKmsKey": {
          "$ref": "CloudKmsKey",
          "description": "Required. Cloud KMS key."
        }
      },
      "id": "CloudKmsKeyAndCert",
      "type": "object"
    },
    "TracksListResponse": {
      "description": "Response listing all tracks.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks (including tracks with no releases).",
          "type": "array"
        }
      },
      "id": "TracksListResponse",
      "type": "object"
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "type": "object",
      "description": "A single phase of a subscription offer.",
      "properties": {
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "format": "int32",
          "type": "integer"
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "type": "array"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        }
      }
    },
    "DeviceMetadata": {
      "type": "object",
      "properties": {
        "cpuMake": {
          "description": "Device CPU make, e.g. \"Qualcomm\"",
          "type": "string"
        },
        "deviceClass": {
          "type": "string",
          "description": "Device class (e.g. tablet)"
        },
        "screenDensityDpi": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI"
        },
        "glEsVersion": {
          "description": "OpenGL version",
          "type": "integer",
          "format": "int32"
        },
        "manufacturer": {
          "description": "Device manufacturer (e.g. Motorola)",
          "type": "string"
        },
        "nativePlatform": {
          "description": "Comma separated list of native platforms (e.g. \"arm\", \"arm7\")",
          "type": "string"
        },
        "ramMb": {
          "type": "integer",
          "description": "Device RAM in Megabytes, e.g. \"2048\"",
          "format": "int32"
        },
        "screenHeightPx": {
          "type": "integer",
          "description": "Screen height in pixels",
          "format": "int32"
        },
        "cpuModel": {
          "description": "Device CPU model, e.g. \"MSM8974\"",
          "type": "string"
        },
        "productName": {
          "description": "Device model name (e.g. Droid)",
          "type": "string"
        },
        "screenWidthPx": {
          "format": "int32",
          "type": "integer",
          "description": "Screen width in pixels"
        }
      },
      "id": "DeviceMetadata",
      "description": "Characteristics of the user's device."
    },
    "LanguageTargeting": {
      "properties": {
        "value": {
          "description": "ISO-639: 2 or 3 letter language code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "alternatives": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Alternative languages."
        }
      },
      "description": "Targeting based on language.",
      "type": "object",
      "id": "LanguageTargeting"
    },
    "DeviceFeature": {
      "type": "object",
      "description": "Represents a device feature.",
      "id": "DeviceFeature",
      "properties": {
        "featureName": {
          "description": "Name of the feature.",
          "type": "string"
        },
        "featureVersion": {
          "type": "integer",
          "description": "The feature version specified by android:glEsVersion or android:version in in the AndroidManifest.",
          "format": "int32"
        }
      }
    },
    "ActivateOneTimeProductOfferRequest": {
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to activate.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive."
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to activate.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to activate."
        }
      },
      "description": "Request message for ActivateOneTimeProductOffer.",
      "type": "object",
      "id": "ActivateOneTimeProductOfferRequest"
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "id": "BatchUpdateSubscriptionOffersResponse",
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "type": "object",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The updated subscription offers list."
        }
      }
    },
    "ProductPurchasesAcknowledgeRequest": {
      "description": "Request for the product.purchases.acknowledge API.",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductPurchasesAcknowledgeRequest"
    },
    "Grant": {
      "id": "Grant",
      "description": "An access grant resource.",
      "properties": {
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        },
        "appLevelPermissions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ]
          },
          "description": "The permissions granted to the user for this app."
        }
      },
      "type": "object"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "id": "BatchDeleteOneTimeProductsRequest"
    },
    "PolicyMultipleChoiceResponse": {
      "type": "object",
      "id": "PolicyMultipleChoiceResponse",
      "description": "Any response where multiple options can be chosen from several possibilities.",
      "properties": {
        "values": {
          "description": "Optional. Provided values.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Comment": {
      "type": "object",
      "properties": {
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        },
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        }
      },
      "description": "An entry of conversation between user and developer.",
      "id": "Comment"
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "type": "object",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false.",
          "type": "boolean"
        }
      },
      "id": "OtherRegionsSubscriptionOfferConfig",
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer."
    },
    "Image": {
      "properties": {
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        },
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "aiGeneratedState": {
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ],
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "type": "string",
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ]
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image"
    },
    "ImagesUploadResponse": {
      "type": "object",
      "description": "Response for uploading an image.",
      "id": "ImagesUploadResponse",
      "properties": {
        "image": {
          "description": "The uploaded image.",
          "$ref": "Image"
        }
      }
    },
    "SystemFeature": {
      "description": "Representation of a system feature.",
      "properties": {
        "name": {
          "description": "The name of the feature.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SystemFeature"
    },
    "DeployAppRecoveryRequest": {
      "id": "DeployAppRecoveryRequest",
      "type": "object",
      "description": "Request message for DeployAppRecovery.",
      "properties": {}
    },
    "SystemApksListResponse": {
      "description": "Response to list previously created system APK variants.",
      "id": "SystemApksListResponse",
      "properties": {
        "variants": {
          "type": "array",
          "description": "All system APK variants created.",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "type": "object"
    },
    "GeneratedSplitApk": {
      "description": "Download metadata for a split APK.",
      "id": "GeneratedSplitApk",
      "properties": {
        "splitId": {
          "type": "string",
          "description": "Split ID. Empty for the main split of the base module."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "type": "integer",
          "format": "int32",
          "description": "ID of the generated variant."
        },
        "moduleName": {
          "description": "Name of the module that this APK belongs to.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PartialRefund": {
      "properties": {
        "refundId": {
          "type": "string",
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction."
        },
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        }
      },
      "description": "A partial refund of a transaction.",
      "id": "PartialRefund",
      "type": "object"
    },
    "EnrollExistingApp": {
      "id": "EnrollExistingApp",
      "description": "Enroll an existing app into Play signing.",
      "type": "object",
      "properties": {
        "cloudKmsKey": {
          "$ref": "CloudKmsKey",
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app."
        }
      }
    },
    "CreateDraftAppRecoveryRequest": {
      "description": "Request message for CreateDraftAppRecovery.",
      "id": "CreateDraftAppRecoveryRequest",
      "properties": {
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        },
        "remoteInAppUpdate": {
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes.",
          "$ref": "RemoteInAppUpdate"
        }
      },
      "type": "object"
    },
    "OneTimeProductDiscountedOffer": {
      "id": "OneTimeProductDiscountedOffer",
      "description": "Configuration specific to discounted offers.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Time when the offer will stop being available.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the offer will start being available.",
          "type": "string"
        },
        "redemptionLimit": {
          "type": "string",
          "description": "Optional. The number of times this offer can be redeemed. If unset or set to 0, allows for unlimited offer redemptions. Otherwise must be a number between 1 and 50 inclusive.",
          "format": "int64"
        }
      }
    },
    "ConvertRegionPricesResponse": {
      "type": "object",
      "description": "Response message for ConvertRegionPrices.",
      "properties": {
        "regionVersion": {
          "description": "The region version at which the prices were generated.",
          "$ref": "RegionsVersion"
        },
        "convertedOtherRegionsPrice": {
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency.",
          "$ref": "ConvertedOtherRegionsPrice"
        },
        "convertedRegionPrices": {
          "description": "Map from region code to converted region price.",
          "type": "object",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          }
        }
      },
      "id": "ConvertRegionPricesResponse"
    },
    "ApkTargeting": {
      "type": "object",
      "description": "Represents a set of apk-level targetings.",
      "id": "ApkTargeting",
      "properties": {
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "The language that the apk targets"
        },
        "abiTargeting": {
          "$ref": "AbiTargeting",
          "description": "The abi that the apk targets"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the apk targets",
          "$ref": "SdkVersionTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        }
      }
    },
    "EnrollAppRequest": {
      "id": "EnrollAppRequest",
      "properties": {
        "enrollNewApp": {
          "description": "Changes the signing key of a new app to an external Cloud KMS key. The app must not have published to Open testing or Production tracks.",
          "$ref": "EnrollNewApp"
        },
        "pemUploadCertificate": {
          "description": "The certificate associated with the upload key, in PEM format.",
          "format": "byte",
          "type": "string"
        },
        "enrollExistingApp": {
          "description": "Enrolls an existing app into Play signing using an external Cloud KMS key.",
          "$ref": "EnrollExistingApp"
        }
      },
      "type": "object",
      "description": "Request to enroll an app into Play App Signing using a self-hosted Cloud KMS key."
    },
    "GeneratedUniversalApk": {
      "id": "GeneratedUniversalApk",
      "type": "object",
      "description": "Download metadata for a universal APK.",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      }
    },
    "InappproductsBatchDeleteRequest": {
      "description": "Request to delete multiple in-app products.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "InappproductsDeleteRequest"
          },
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "type": "array"
        }
      },
      "id": "InappproductsBatchDeleteRequest",
      "type": "object"
    },
    "ProcessedEvent": {
      "id": "ProcessedEvent",
      "type": "object",
      "description": "Details of when the order was processed.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the order was processed."
        }
      }
    },
    "DeferredItemRemoval": {
      "description": "Information related to deferred item replacement.",
      "properties": {},
      "type": "object",
      "id": "DeferredItemRemoval"
    },
    "UsesPermission": {
      "id": "UsesPermission",
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A permission used by this APK.",
      "type": "object"
    },
    "UpdateAppStoreHostedAppResponse": {
      "id": "UpdateAppStoreHostedAppResponse",
      "description": "Response for updating an app record for an app store hosted app.",
      "type": "object",
      "properties": {
        "updateId": {
          "description": "Unique identifier for the specific version of the hosted app submitted in this update. This identifier can be used to correlate publishing signals (such as those returned by ListHostedAppsPublishingSignals) with this specific app update.",
          "type": "string"
        }
      }
    },
    "ProductOfferDetails": {
      "description": "Offer details information related to a purchase line item.",
      "type": "object",
      "properties": {
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "preorderOfferDetails": {
          "description": "Offer details for a preorder offer. This will only be set for preorders.",
          "$ref": "PreorderOfferDetails"
        },
        "offerTags": {
          "items": {
            "type": "string"
          },
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the purchase option.",
          "type": "array"
        },
        "purchaseOptionId": {
          "description": "The purchase option ID.",
          "type": "string"
        },
        "rentOfferDetails": {
          "$ref": "RentOfferDetails",
          "description": "Offer details about rent offers. This will only be set for rental line items."
        },
        "consumptionState": {
          "enum": [
            "CONSUMPTION_STATE_UNSPECIFIED",
            "CONSUMPTION_STATE_YET_TO_BE_CONSUMED",
            "CONSUMPTION_STATE_CONSUMED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Consumption state unspecified. This value should never be set.",
            "Yet to be consumed.",
            "Consumed already."
          ],
          "description": "Output only. The consumption state of the purchase."
        },
        "offerId": {
          "description": "The offer ID. Only present for offers.",
          "type": "string"
        },
        "refundableQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds."
        },
        "offerToken": {
          "description": "The per-transaction offer token used to make this purchase line item.",
          "type": "string"
        }
      },
      "id": "ProductOfferDetails"
    },
    "ApksListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#apksListResponse\")."
        },
        "apks": {
          "description": "All APKs.",
          "items": {
            "$ref": "Apk"
          },
          "type": "array"
        }
      },
      "description": "Response listing all APKs.",
      "id": "ApksListResponse",
      "type": "object"
    },
    "VariantTargeting": {
      "type": "object",
      "id": "VariantTargeting",
      "properties": {
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        },
        "textureCompressionFormatTargeting": {
          "$ref": "TextureCompressionFormatTargeting",
          "description": "Texture-compression-format-level targeting"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen densities that this variant supports"
        },
        "abiTargeting": {
          "$ref": "AbiTargeting",
          "description": "The abi that the variant targets"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        }
      },
      "description": "Targeting on the level of variants."
    },
    "ModuleMetadata": {
      "properties": {
        "moduleType": {
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ],
          "description": "Indicates the type of this feature module."
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "dependencies": {
          "type": "array",
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "items": {
            "type": "string"
          }
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "deliveryType": {
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        }
      },
      "type": "object",
      "description": "Metadata of a module.",
      "id": "ModuleMetadata"
    },
    "AutoRenewingPlan": {
      "properties": {
        "recurringPrice": {
          "$ref": "Money",
          "description": "The current recurring price of the auto renewing plan. Note that the price does not take into account discounts and does not include taxes. For tax-exclusive pricing, please call orders.get API instead if transaction details are needed."
        },
        "priceStepUpConsentDetails": {
          "description": "The information of the latest price step-up consent.",
          "$ref": "PriceStepUpConsentDetails"
        },
        "installmentDetails": {
          "description": "The installment plan commitment and state related info for the auto renewing plan.",
          "$ref": "InstallmentPlan"
        },
        "autoRenewEnabled": {
          "description": "If the subscription is currently set to auto-renew, e.g. the user has not canceled the subscription",
          "type": "boolean"
        },
        "priceChangeDetails": {
          "description": "The information of the last price change for the item since subscription signup.",
          "$ref": "SubscriptionItemPriceChangeDetails"
        }
      },
      "type": "object",
      "description": "Information related to an auto renewing plan.",
      "id": "AutoRenewingPlan"
    },
    "InappproductsUpdateRequest": {
      "type": "object",
      "description": "Request to update an in-app product.",
      "id": "InappproductsUpdateRequest",
      "properties": {
        "inappproduct": {
          "$ref": "InAppProduct",
          "description": "The new in-app product."
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "autoConvertMissingPrices": {
          "type": "boolean",
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created."
        },
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        }
      }
    },
    "SystemOnChip": {
      "id": "SystemOnChip",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        }
      },
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices."
    },
    "SocSelector": {
      "id": "SocSelector",
      "properties": {
        "socMake": {
          "description": "The manufacturer of the SoC.",
          "type": "string"
        },
        "socModel": {
          "description": "The model of the SoC.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines a SOC selector for a device. This will match any device whose SoC (System on Chip) matches all fields in the selector."
    },
    "RegionalBasePlanConfig": {
      "id": "RegionalBasePlanConfig",
      "type": "object",
      "description": "Configuration for a base plan specific to a region.",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "newSubscriberAvailability": {
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "price": {
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region.",
          "$ref": "Money"
        }
      }
    },
    "InstallmentPlan": {
      "type": "object",
      "properties": {
        "subsequentCommittedPaymentsCount": {
          "type": "integer",
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "format": "int32"
        },
        "initialCommittedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of payments the user is initially committed for."
        },
        "pendingCancellation": {
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments.",
          "$ref": "PendingCancellation"
        },
        "remainingCommittedPaymentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle."
        }
      },
      "id": "InstallmentPlan",
      "description": "Information to a installment plan."
    },
    "VoidedPurchasesListResponse": {
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        }
      },
      "description": "Response for the voidedpurchases.list API.",
      "type": "object",
      "id": "VoidedPurchasesListResponse"
    },
    "VanityCode": {
      "id": "VanityCode",
      "description": "A multiple use, predefined promotion code.",
      "properties": {
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemoteInAppUpdateData": {
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "type": "array",
          "description": "Data related to the recovery action at bundle level.",
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          }
        }
      },
      "type": "object",
      "id": "RemoteInAppUpdateData",
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc."
    },
    "PolicyDocumentResponse": {
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. ID of the uploaded document.",
          "type": "string"
        },
        "nonExpiring": {
          "type": "boolean",
          "description": "Optional. True if confirmed that the document does not have an expiry date."
        },
        "expiryDate": {
          "description": "Optional. Expiry date for the document.",
          "$ref": "Date"
        }
      },
      "id": "PolicyDocumentResponse",
      "description": "An uploaded document. Must be a single logical document (e.g. a financial license)."
    },
    "RevocationContextItemBasedRefund": {
      "id": "RevocationContextItemBasedRefund",
      "type": "object",
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      }
    },
    "SubscriptionOffer": {
      "id": "SubscriptionOffer",
      "properties": {
        "targeting": {
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves.",
          "$ref": "SubscriptionOfferTargeting"
        },
        "phases": {
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "type": "array",
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order."
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "offerTags": {
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          },
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library."
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension."
        },
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array"
        }
      },
      "description": "A single, temporary offer",
      "type": "object"
    },
    "LocalizedText": {
      "type": "object",
      "description": "Localized text in given language.",
      "id": "LocalizedText",
      "properties": {
        "language": {
          "type": "string",
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
        },
        "text": {
          "description": "The text in the given language.",
          "type": "string"
        }
      }
    },
    "ProrationPeriodOfferPhase": {
      "properties": {
        "originalOfferPhaseType": {
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ],
          "type": "string",
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase."
        }
      },
      "id": "ProrationPeriodOfferPhase",
      "description": "Details about proration period offer phase.",
      "type": "object"
    },
    "PurchaseStateContext": {
      "properties": {
        "purchaseState": {
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The purchase state of the purchase."
        }
      },
      "description": "Context about the purchase state.",
      "id": "PurchaseStateContext",
      "type": "object"
    },
    "GetSubscriptionOfferRequest": {
      "properties": {
        "basePlanId": {
          "description": "Required. The parent base plan (ID) of the offer to get.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to get."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to get."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to get.",
          "type": "string"
        }
      },
      "description": "Request message for GetSubscriptionOffer.",
      "type": "object",
      "id": "GetSubscriptionOfferRequest"
    },
    "ProductPurchaseV2": {
      "properties": {
        "purchaseStateContext": {
          "$ref": "PurchaseStateContext",
          "description": "Information about the purchase state of the purchase."
        },
        "kind": {
          "description": "This kind represents a ProductPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "purchaseCompletionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the purchase was successful, i.e., when the PurchaseState has changed to PURCHASED. This field will not be present until the payment is complete. For example, if the user initiated a pending transaction (https://developer.android.com/google/play/billing/integrate#pending), this field will not be populated until the user successfully completes the steps required to complete the transaction."
        },
        "acknowledgementState": {
          "description": "Output only. The acknowledgement state of the purchase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The purchase is not acknowledged yet.",
            "The purchase is acknowledged."
          ],
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "readOnly": true
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product. May not be set if there is no order associated with the purchase.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "productLineItem": {
          "type": "array",
          "items": {
            "$ref": "ProductLineItem"
          },
          "description": "Contains item-level info for a ProductPurchaseV2."
        },
        "testPurchaseContext": {
          "$ref": "TestPurchaseContext",
          "description": "Information related to test purchases. This will only be set for test purchases."
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        }
      },
      "type": "object",
      "id": "ProductPurchaseV2",
      "description": "A ProductPurchaseV2 resource indicates the status of a user's inapp product purchase."
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "type": "object",
      "description": "Request for the purchases.subscriptions.defer API.",
      "properties": {
        "deferralInfo": {
          "$ref": "SubscriptionDeferralInfo",
          "description": "The information about the new desired expiry time for the subscription."
        }
      }
    },
    "AppContactInformation": {
      "id": "AppContactInformation",
      "description": "Contact information for the app.",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "The contact email for this app. Always set.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The contact phone for this app. Optionally provided by the developer."
        },
        "websiteUrl": {
          "description": "The contact website url for this app. Optionally provided by the developer.",
          "type": "string"
        }
      }
    },
    "Review": {
      "type": "object",
      "description": "An Android app review.",
      "id": "Review",
      "properties": {
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        },
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        },
        "comments": {
          "description": "A repeated field containing comments for the review.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      }
    },
    "RentalDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of a rental purchase.",
      "id": "RentalDetails"
    },
    "InstallmentsBasePlanType": {
      "properties": {
        "committedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created."
        },
        "renewalType": {
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ],
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "type": "string",
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ]
        },
        "accountHoldDuration": {
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "prorationMode": {
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ]
        },
        "resubscribeState": {
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "type": "string",
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ]
        },
        "gracePeriodDuration": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        }
      },
      "id": "InstallmentsBasePlanType",
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "type": "object"
    },
    "SplitApkVariant": {
      "id": "SplitApkVariant",
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "properties": {
        "apkSet": {
          "type": "array",
          "items": {
            "$ref": "ApkSet"
          },
          "description": "Set of APKs, one set per module."
        },
        "targeting": {
          "description": "Variant-level targeting.",
          "$ref": "VariantTargeting"
        },
        "variantNumber": {
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "BatchUpdateSubscriptionOfferStatesResponse": {
      "type": "object",
      "description": "Response message for BatchUpdateSubscriptionOfferStates.",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The updated subscription offers list."
        }
      },
      "id": "BatchUpdateSubscriptionOfferStatesResponse"
    },
    "ListSubscriptionsResponse": {
      "description": "Response message for ListSubscriptions.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The subscriptions from the specified app."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse",
      "type": "object"
    },
    "TargetingRuleScopeThisSubscription": {
      "properties": {},
      "type": "object",
      "id": "TargetingRuleScopeThisSubscription",
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined."
    },
    "ReviewReplyResult": {
      "properties": {
        "replyText": {
          "type": "string",
          "description": "The reply text that was applied."
        },
        "lastEdited": {
          "description": "The time at which the reply took effect.",
          "$ref": "Timestamp"
        }
      },
      "description": "The result of replying/updating a reply to review.",
      "type": "object",
      "id": "ReviewReplyResult"
    },
    "BuyerAddress": {
      "id": "BuyerAddress",
      "description": "Address information for the customer, for use in tax computation.",
      "type": "object",
      "properties": {
        "buyerState": {
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        },
        "buyerPostcode": {
          "type": "string",
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included."
        },
        "buyerCountry": {
          "type": "string",
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes)."
        }
      }
    },
    "BatchGetSubscriptionsResponse": {
      "type": "object",
      "id": "BatchGetSubscriptionsResponse",
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "The list of requested subscriptions, in the same order as the request."
        }
      }
    },
    "DeviceTier": {
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier.",
      "properties": {
        "level": {
          "format": "int32",
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "type": "integer"
        },
        "deviceGroupNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration."
        }
      },
      "type": "object",
      "id": "DeviceTier"
    },
    "BundlesListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\")."
        },
        "bundles": {
          "type": "array",
          "items": {
            "$ref": "Bundle"
          },
          "description": "All app bundles."
        }
      },
      "description": "Response listing all app bundles.",
      "type": "object",
      "id": "BundlesListResponse"
    },
    "ListOneTimeProductOffersResponse": {
      "type": "object",
      "id": "ListOneTimeProductOffersResponse",
      "description": "Response message for ListOneTimeProductOffers.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oneTimeProductOffers": {
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array",
          "description": "The one_time_product offers from the specified request."
        }
      }
    },
    "ScreenDensityTargeting": {
      "type": "object",
      "description": "Targeting based on screen density.",
      "id": "ScreenDensityTargeting",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array"
        },
        "value": {
          "description": "Value of a screen density.",
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array"
        }
      }
    },
    "ExternalTransaction": {
      "description": "The details of an external transaction.",
      "id": "ExternalTransaction",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction."
        },
        "externalTransactionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction."
        },
        "userTaxAddress": {
          "description": "Required. User address for tax computation.",
          "$ref": "ExternalTransactionAddress"
        },
        "oneTimeTransaction": {
          "description": "This is a one-time transaction and not part of a subscription.",
          "$ref": "OneTimeExternalTransaction"
        },
        "currentTaxAmount": {
          "$ref": "Price",
          "readOnly": true,
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction."
        },
        "externalOfferDetails": {
          "$ref": "ExternalOfferDetails",
          "description": "Optional. Details necessary to accurately report external offers transactions."
        },
        "recurringTransaction": {
          "description": "This transaction is part of a recurring series of transactions.",
          "$ref": "RecurringExternalTransaction"
        },
        "externalContentLinkDetails": {
          "$ref": "ExternalContentLinkDetails",
          "description": "Optional. Details necessary to accurately report external content link transactions."
        },
        "originalTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied."
        },
        "transactionState": {
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "type": "string",
          "description": "Output only. The current state of the transaction.",
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "readOnly": true
        },
        "currentPreTaxAmount": {
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction.",
          "$ref": "Price",
          "readOnly": true
        },
        "transactionProgramCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The transaction program code, used to help determine service fee for eligible apps participating in partner programs. Developers participating in the Play Media Experience Program (https://play.google.com/console/about/programs/mediaprogram/) must provide the program code when reporting alternative billing transactions. If you are an eligible developer, please contact your BDM for more information on how to set this field. Note: this field can not be used for external offers transactions."
        },
        "originalPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied."
        },
        "transactionTime": {
          "format": "google-datetime",
          "description": "Required. The time when the transaction was completed.",
          "type": "string"
        },
        "testPurchase": {
          "$ref": "ExternalTransactionTestPurchase",
          "readOnly": true,
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction."
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app')."
        }
      },
      "type": "object"
    },
    "OneTimeProductOfferRegionalPricingAndAvailabilityConfig": {
      "properties": {
        "relativeDiscount": {
          "type": "number",
[...]
