{
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "schemas": {
    "ExternalAccountIds": {
      "properties": {
        "obfuscatedAccountId": {
          "type": "string",
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow."
        },
        "obfuscatedProfileId": {
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow.",
          "type": "string"
        }
      },
      "description": "User account identifier in your app.",
      "id": "ExternalAccountIds",
      "type": "object"
    },
    "RegionalProductAgeRatingInfo": {
      "type": "object",
      "id": "RegionalProductAgeRatingInfo",
      "description": "Details about the age rating for a specific geographic region.",
      "properties": {
        "productAgeRatingTier": {
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ],
          "description": "The age rating tier of a product for the given region.",
          "type": "string"
        },
        "regionCode": {
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        }
      }
    },
    "ScreenshotSet": {
      "id": "ScreenshotSet",
      "description": "A set of screenshots.",
      "type": "object",
      "properties": {
        "screenshots": {
          "items": {
            "$ref": "ImageAsset"
          },
          "description": "The image assets of the screenshots.",
          "type": "array"
        }
      }
    },
    "GeneratedApksPerSigningKey": {
      "id": "GeneratedApksPerSigningKey",
      "properties": {
        "generatedSplitApks": {
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "type": "array"
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        },
        "unprotectedGeneratedStandaloneApks": {
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "type": "array"
        },
        "unprotectedGeneratedSplitApks": {
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "type": "array",
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection."
        },
        "generatedUniversalApk": {
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key.",
          "$ref": "GeneratedUniversalApk"
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedAssetPackSlices": {
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array"
        },
        "generatedRecoveryModules": {
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedRecoveryApk"
          }
        },
        "generatedStandaloneApks": {
          "type": "array",
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          }
        }
      },
      "type": "object",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key."
    },
    "ApkDescription": {
      "description": "Description of the created apks.",
      "id": "ApkDescription",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API."
        },
        "instantApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Instant split APKs."
        },
        "targeting": {
          "$ref": "ApkTargeting",
          "description": "Apk-level targeting."
        },
        "assetSliceMetadata": {
          "description": "Set only for asset slices.",
          "$ref": "SplitApkMetadata"
        },
        "standaloneApkMetadata": {
          "description": "Set only for standalone APKs.",
          "$ref": "StandaloneApkMetadata"
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        }
      },
      "type": "object"
    },
    "SubscriptionOffer": {
      "type": "object",
      "id": "SubscriptionOffer",
      "description": "A single, temporary offer",
      "properties": {
        "targeting": {
          "$ref": "SubscriptionOfferTargeting",
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferConfig",
          "description": "The configuration for any new locations Play may launch in the future."
        },
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "type": "array"
        },
        "regionalConfigs": {
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry.",
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          }
        },
        "phases": {
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order.",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "type": "array"
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
        }
      }
    },
    "UserCountrySet": {
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "properties": {
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "type": "array"
        },
        "name": {
          "description": "Country set name.",
          "type": "string"
        }
      },
      "id": "UserCountrySet",
      "type": "object"
    },
    "ActivateBasePlanRequest": {
      "id": "ActivateBasePlanRequest",
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the base plan to activate."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the base plan to activate."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to activate."
        }
      },
      "description": "Request message for ActivateBasePlan."
    },
    "GeneratedUniversalApk": {
      "description": "Download metadata for a universal APK.",
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        }
      },
      "id": "GeneratedUniversalApk",
      "type": "object"
    },
    "OfferPhase": {
      "description": "Offer phase details.",
      "properties": {
        "prorationPeriod": {
          "$ref": "ProrationPeriodOfferPhase",
          "description": "Set when the offer phase is a proration period."
        },
        "basePrice": {
          "description": "Set when the offer phase is a base plan pricing phase.",
          "$ref": "BasePriceOfferPhase"
        },
        "introductoryPrice": {
          "description": "Set when the offer phase is an introductory price offer phase.",
          "$ref": "IntroductoryPriceOfferPhase"
        },
        "freeTrial": {
          "description": "Set when the offer phase is a free trial.",
          "$ref": "FreeTrialOfferPhase"
        }
      },
      "id": "OfferPhase",
      "type": "object"
    },
    "BatchGetOneTimeProductsResponse": {
      "id": "BatchGetOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The list of requested one-time products, in the same order as the request.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for the BatchGetOneTimeProducts endpoint."
    },
    "AppStoreAppPolicyDeclaration": {
      "description": "A policy declaration with its responses.",
      "type": "object",
      "properties": {
        "declarationId": {
          "description": "Required. ID of the policy declaration.",
          "type": "string"
        },
        "responses": {
          "items": {
            "$ref": "PolicyResponse"
          },
          "description": "Required. Responses provided for this declaration.",
          "type": "array"
        }
      },
      "id": "AppStoreAppPolicyDeclaration"
    },
    "SystemApksListResponse": {
      "id": "SystemApksListResponse",
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "description": "Response to list previously created system APK variants.",
      "type": "object"
    },
    "OrderDetails": {
      "description": "Detailed information about the order at creation time.",
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "description": "Indicates whether the listed price was tax inclusive or not.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ImagesDeleteAllResponse": {
      "type": "object",
      "description": "Response for deleting all images.",
      "id": "ImagesDeleteAllResponse",
      "properties": {
        "deleted": {
          "type": "array",
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "PausedStateContext": {
      "type": "object",
      "properties": {
        "autoResumeTime": {
          "format": "google-datetime",
          "description": "Time at which the subscription will be automatically resumed.",
          "type": "string"
        }
      },
      "description": "Information specific to a subscription in paused state.",
      "id": "PausedStateContext"
    },
    "ProcessedEvent": {
      "properties": {
        "eventTime": {
          "description": "The time when the order was processed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Details of when the order was processed.",
      "id": "ProcessedEvent",
      "type": "object"
    },
    "InstallmentsBasePlanType": {
      "id": "InstallmentsBasePlanType",
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "type": "object",
      "properties": {
        "prorationMode": {
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ]
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "resubscribeState": {
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ],
          "type": "string"
        },
        "renewalType": {
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ],
          "type": "string",
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created."
        },
        "accountHoldDuration": {
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "gracePeriodDuration": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "committedPaymentsCount": {
          "type": "integer",
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created.",
          "format": "int32"
        }
      }
    },
    "ImageAsset": {
      "id": "ImageAsset",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image asset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An image asset."
    },
    "SystemApkOptions": {
      "id": "SystemApkOptions",
      "type": "object",
      "description": "Options for system APKs.",
      "properties": {
        "rotated": {
          "type": "boolean",
          "description": "Whether to use the rotated key for signing the system APK."
        },
        "uncompressedDexFiles": {
          "type": "boolean",
          "description": "Whether system APK was generated with uncompressed dex files."
        },
        "uncompressedNativeLibraries": {
          "description": "Whether system APK was generated with uncompressed native libraries.",
          "type": "boolean"
        }
      }
    },
    "RestrictedPaymentCountries": {
      "type": "object",
      "id": "RestrictedPaymentCountries",
      "description": "Countries where the purchase of this product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
      "properties": {
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Region codes to impose payment restrictions on, as defined by ISO 3166-2, e.g. \"US\"."
        }
      }
    },
    "OneTimePurchaseDetails": {
      "type": "object",
      "description": "Details of a one-time purchase.",
      "properties": {
        "preorderDetails": {
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled.",
          "$ref": "PreorderDetails"
        },
        "rentalDetails": {
          "$ref": "RentalDetails",
          "description": "The details of a rent purchase. Only set if it is a rent purchase."
        },
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer."
        },
        "quantity": {
          "type": "integer",
          "description": "The number of items purchased (for multi-quantity item purchases).",
          "format": "int32"
        }
      },
      "id": "OneTimePurchaseDetails"
    },
    "TracksListResponse": {
      "id": "TracksListResponse",
      "properties": {
        "tracks": {
          "items": {
            "$ref": "Track"
          },
          "type": "array",
          "description": "All tracks (including tracks with no releases)."
        },
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        }
      },
      "type": "object",
      "description": "Response listing all tracks."
    },
    "SdkVersionTargeting": {
      "id": "SdkVersionTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "items": {
            "$ref": "SdkVersion"
          },
          "description": "Value of an sdk version.",
          "type": "array"
        }
      },
      "description": "Targeting based on sdk version.",
      "type": "object"
    },
    "PriceStepUpConsentDetails": {
      "properties": {
        "newPrice": {
          "description": "The new price which requires user consent.",
          "$ref": "Money"
        },
        "consentDeadlineTime": {
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ],
          "description": "Output only. The state of the price step-up consent.",
          "readOnly": true,
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ]
        }
      },
      "type": "object",
      "description": "Information related to a price step-up that requires user consent.",
      "id": "PriceStepUpConsentDetails"
    },
    "ManagedProductTaxAndComplianceSettings": {
      "id": "ManagedProductTaxAndComplianceSettings",
      "properties": {
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this in-app product is declared as a product representing a tokenized digital asset."
        },
        "eeaWithdrawalRightType": {
          "type": "string",
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the in-app product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          },
          "type": "array"
        }
      },
      "description": "Details about taxation and legal compliance for managed products.",
      "type": "object"
    },
    "ModuleTargeting": {
      "properties": {
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "type": "array",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "userCountriesTargeting": {
          "description": "Countries-level targeting",
          "$ref": "UserCountriesTargeting"
        }
      },
      "id": "ModuleTargeting",
      "description": "Targeting on the module level.",
      "type": "object"
    },
    "BatchUpdateOneTimeProductsRequest": {
      "id": "BatchUpdateOneTimeProductsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products.",
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateOneTimeProduct."
    },
    "UpgradeTargetingRule": {
      "type": "object",
      "properties": {
        "oncePerUser": {
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer.",
          "type": "boolean"
        },
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        },
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\"."
        }
      },
      "id": "UpgradeTargetingRule",
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}]."
    },
    "DeferredItemRemoval": {
      "properties": {},
      "type": "object",
      "description": "Information related to deferred item replacement.",
      "id": "DeferredItemRemoval"
    },
    "UpdateSubscriptionOfferRequest": {
      "type": "object",
      "description": "Request message for UpdateSubscriptionOffer.",
      "properties": {
        "updateMask": {
          "type": "string",
          "description": "Required. The list of fields to be updated.",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription_offer.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "subscriptionOffer": {
          "$ref": "SubscriptionOffer",
          "description": "Required. The subscription offer to update."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored."
        }
      },
      "id": "UpdateSubscriptionOfferRequest"
    },
    "OfferTag": {
      "type": "object",
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      },
      "id": "OfferTag",
      "description": "Represents a custom tag specified for a product offer."
    },
    "NestedPolicyResponse": {
      "properties": {
        "stringResponse": {
          "$ref": "PolicyStringResponse",
          "description": "Optional. A string response."
        },
        "questionId": {
          "description": "Required. ID of the question being answered.",
          "type": "string"
        },
        "documentResponse": {
          "description": "Optional. A document response.",
          "$ref": "PolicyDocumentResponse"
        },
        "booleanResponse": {
          "$ref": "PolicyBooleanResponse",
          "description": "Optional. A boolean response."
        },
        "singleChoiceResponse": {
          "description": "Optional. A single choice response.",
          "$ref": "PolicySingleChoiceResponse"
        },
        "multipleChoiceResponse": {
          "description": "Optional. A multiple choice response.",
          "$ref": "PolicyMultipleChoiceResponse"
        }
      },
      "description": "An individual nested response to a policy question about an app. Nested responses are like regular responses but without groups.",
      "id": "NestedPolicyResponse",
      "type": "object"
    },
    "AppContactInformation": {
      "description": "Contact information for the app.",
      "type": "object",
      "properties": {
        "websiteUrl": {
          "description": "The contact website url for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The contact phone for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "contactEmail": {
          "description": "The contact email for this app. Always set.",
          "type": "string"
        }
      },
      "id": "AppContactInformation"
    },
    "CloudKmsKey": {
      "type": "object",
      "description": "Reference to a private key hosted in developer-managed Google Cloud KMS.",
      "properties": {
        "cryptoKeyVersionResource": {
          "description": "Required. Resource identifier of the private key hosted in Google Cloud KMS. The Google Play service account must be granted Decrypt and Sign permissions on this resource. Format: projects//locations//keyRings//cryptoKeys//cryptoKeyVersions/",
          "type": "string"
        }
      },
      "id": "CloudKmsKey"
    },
    "AndroidSdks": {
      "description": "Android api level targeting data for app recovery action targeting.",
      "id": "AndroidSdks",
      "type": "object",
      "properties": {
        "sdkLevels": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Android api levels of devices targeted by recovery action. See https://developer.android.com/guide/topics/manifest/uses-sdk-element#ApiLevels for different api levels in android."
        }
      }
    },
    "UpdateAppStoreHostedAppRequest": {
      "description": "Request to update an app record for an app store hosted app.",
      "type": "object",
      "properties": {
        "appDetails": {
          "$ref": "AppStoreAppDetails",
          "description": "Required. General developer details for the app."
        },
        "policyDeclarations": {
          "description": "Required. Policy declarations provided for the app.",
          "type": "array",
          "items": {
            "$ref": "AppStoreAppPolicyDeclaration"
          }
        },
        "activeApks": {
          "description": "Required. Actively distributed APKs of the app.",
          "$ref": "AppStoreAppActiveApks"
        },
        "activeLocalizedStoreListings": {
          "type": "array",
          "description": "Required. Localized store listings details of the update.",
          "items": {
            "$ref": "AppStoreAppStoreListing"
          }
        },
        "packageName": {
          "description": "Required. Package name of the app.",
          "type": "string"
        }
      },
      "id": "UpdateAppStoreHostedAppRequest"
    },
    "OneTimeProductPreOrderOffer": {
      "type": "object",
      "properties": {
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time on which the product associated with the pre-order will be released and the pre-order orders fulfilled."
        },
        "endTime": {
          "description": "Required. Time when the pre-order will stop being available.",
          "type": "string",
          "format": "google-datetime"
        },
        "priceChangeBehavior": {
          "enum": [
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_UNSPECIFIED",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_TWO_POINT_LOWEST",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_NEW_ORDERS_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified price change behavior. Must not be used.",
            "The buyer gets charged the minimum between the initial price at the time of pre-order and the final offer price on the release date.",
            "The buyer gets the same price as the one they pre-ordered, regardless of any price changes that may have happened after the pre-order."
          ],
          "description": "Required. Immutable. Specifies how price changes affect pre-existing pre-orders.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. Time when the pre-order will start being available.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "OneTimeProductPreOrderOffer",
      "description": "Configuration specific to pre-order offers."
    },
    "OnHoldStateContext": {
      "properties": {
        "renewalDeclined": {
          "description": "Optional. The payment for the renewal was declined.",
          "$ref": "RenewalDeclinedContext"
        }
      },
      "description": "Additional context around subscriptions in ON_HOLD state.",
      "id": "OnHoldStateContext",
      "type": "object"
    },
    "SdkVersion": {
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version."
        }
      },
      "description": "Represents an sdk version.",
      "type": "object",
      "id": "SdkVersion"
    },
    "VanityCode": {
      "properties": {
        "promotionCode": {
          "description": "The promotion code.",
          "type": "string"
        }
      },
      "id": "VanityCode",
      "type": "object",
      "description": "A multiple use, predefined promotion code."
    },
    "InappproductsListResponse": {
      "id": "InappproductsListResponse",
      "properties": {
        "pageInfo": {
          "deprecated": true,
          "description": "Deprecated and unset.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "inappproduct": {
          "description": "All in-app products.",
          "type": "array",
          "items": {
            "$ref": "InAppProduct"
          }
        },
        "kind": {
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\").",
          "type": "string"
        }
      },
      "description": "Response listing all in-app products.",
      "type": "object"
    },
    "AssetSliceSet": {
      "id": "AssetSliceSet",
      "type": "object",
      "properties": {
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array",
          "description": "Asset slices."
        },
        "assetModuleMetadata": {
          "$ref": "AssetModuleMetadata",
          "description": "Module level metadata."
        }
      },
      "description": "Set of asset slices belonging to a single asset module."
    },
    "DeviceIdentifier": {
      "id": "DeviceIdentifier",
      "type": "object",
      "properties": {
        "deviceBrand": {
          "description": "The brand of the device.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "description": "Defines a device identifier for a device."
    },
    "DeferralContext": {
      "description": "Deferral context of the purchases.subscriptionsv2.defer API.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted.",
          "type": "boolean"
        },
        "etag": {
          "type": "string",
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get"
        },
        "deferDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The duration by which all subscription items should be deferred."
        }
      },
      "id": "DeferralContext"
    },
    "AppStoreAppActiveApkSet": {
      "type": "object",
      "properties": {
        "baseApkId": {
          "description": "Required. The ID for the main base application module. Example: base.apk or app.apk.",
          "type": "string"
        },
        "versionCode": {
          "format": "int64",
          "description": "Optional. Version code for the version this APK set represents.",
          "type": "string"
        },
        "alreadyPublishedOnPlay": {
          "type": "boolean",
          "description": "Optional. Whether all APKs referenced in this active APK set are published on Play Store (or derived from an app bundle published on Play Store). When this is set, version_code must be provided."
        },
        "splitApkId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. IDs for split modules that might be installed in combination with the base APK. Can be empty if app bundles (or a similar technology) are not used. Example: config.en.apk."
        }
      },
      "id": "AppStoreAppActiveApkSet",
      "description": "An installable set of active APKs. All APKs in this set should belong to the same version of the app. A set of APKs might only contain 1 APK if the app in question publishes using APKs. If the app uses app bundles (or a similar technology), this set should contain all APKs (even optional ones) that might be installed for this app. A set of APKs should be installable together. If certain APKs are exclusive to one another and cannot be installed together, then a separate AppStoreAppActiveApkSet should be created."
    },
    "TargetingUpdate": {
      "description": "Update type for targeting. Note it is always a subset Targeting.",
      "id": "TargetingUpdate",
      "properties": {
        "allUsers": {
          "$ref": "AllUsers",
          "description": "All users are targeted."
        },
        "regions": {
          "description": "Additional regions are targeted by the recovery action.",
          "$ref": "Regions"
        },
        "androidSdks": {
          "$ref": "AndroidSdks",
          "description": "Additional android sdk levels are targeted by the recovery action."
        }
      },
      "type": "object"
    },
    "OneTimeCode": {
      "description": "A single use promotion code.",
      "id": "OneTimeCode",
      "properties": {},
      "type": "object"
    },
    "LineItem": {
      "properties": {
        "subscriptionDetails": {
          "$ref": "SubscriptionDetails",
          "description": "Details of a subscription purchase."
        },
        "productId": {
          "description": "The purchased product ID or in-app SKU (for example, 'monthly001' or 'com.some.thing.inapp1').",
          "type": "string"
        },
        "tax": {
          "description": "The tax paid for this line item.",
          "$ref": "Money"
        },
        "productTitle": {
          "description": "Developer-specified name of the product. Displayed in buyer's locale. Example: coins, monthly subscription, etc.",
          "type": "string"
        },
        "listingPrice": {
          "description": "Item's listed price on Play Store, this may or may not include tax. Excludes Google-funded discounts only.",
          "$ref": "Money"
        },
        "paidAppDetails": {
          "$ref": "PaidAppDetails",
          "description": "Details of a paid app purchase."
        },
        "oneTimePurchaseDetails": {
          "$ref": "OneTimePurchaseDetails",
          "description": "Details of a one-time purchase."
        },
        "total": {
          "description": "The total amount paid by the user for this line item, taking into account discounts and tax.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Details of a line item.",
      "id": "LineItem"
    },
    "PendingCancellation": {
      "properties": {},
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "id": "PendingCancellation",
      "type": "object"
    },
    "InappproductsDeleteRequest": {
      "id": "InappproductsDeleteRequest",
      "type": "object",
      "description": "Request to delete an in-app product.",
      "properties": {
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        }
      }
    },
    "InappproductsBatchUpdateResponse": {
      "description": "Response for a batch in-app product update.",
      "type": "object",
      "id": "InappproductsBatchUpdateResponse",
      "properties": {
        "inappproducts": {
          "type": "array",
          "description": "The updated or inserted in-app products.",
          "items": {
            "$ref": "InAppProduct"
          }
        }
      }
    },
    "DeviceRam": {
      "properties": {
        "minBytes": {
          "type": "string",
          "format": "int64",
          "description": "Minimum RAM in bytes (bound included)."
        },
        "maxBytes": {
          "format": "int64",
          "type": "string",
          "description": "Maximum RAM in bytes (bound excluded)."
        }
      },
      "id": "DeviceRam",
      "description": "Conditions about a device's RAM capabilities.",
      "type": "object"
    },
    "OneTimeProductListing": {
      "description": "Regional store listing for a one-time product.",
      "properties": {
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g., \"en-US\".",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of this product in the language of this listing. The maximum length is 55 characters.",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of this product in the language of this listing. The maximum length is 200 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OneTimeProductListing"
    },
    "ApkSet": {
      "properties": {
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        },
        "apkDescription": {
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Description of the generated apks."
        }
      },
      "type": "object",
      "description": "A set of apks representing a module.",
      "id": "ApkSet"
    },
    "OneTimeProductTaxAndComplianceSettings": {
      "description": "Details about taxation, Google Play policy and legal compliance for one-time products.",
      "type": "object",
      "properties": {
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this one-time product is declared as a product representing a tokenized digital asset."
        },
        "regionalProductAgeRatingInfos": {
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          },
          "description": "Regional age rating information. Currently this field is only supported for region code `US`."
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the one-time product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "regionalTaxConfigs": {
          "items": {
            "$ref": "RegionalTaxConfig"
          },
          "type": "array",
          "description": "Regional tax configuration."
        }
      },
      "id": "OneTimeProductTaxAndComplianceSettings"
    },
    "ActivateSubscriptionOfferRequest": {
      "description": "Request message for ActivateSubscriptionOffer.",
      "type": "object",
      "id": "ActivateSubscriptionOfferRequest",
      "properties": {
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to activate."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to activate."
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to activate."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the offer to activate."
        }
      }
    },
    "BatchUpdateOneTimeProductOfferStatesResponse": {
      "id": "BatchUpdateOneTimeProductOfferStatesResponse",
      "description": "Response message for BatchUpdateOneTimeProductOfferStates.",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The updated one-time product offers list, in the same order as the request."
        }
      },
      "type": "object"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          }
        }
      },
      "id": "BatchMigrateBasePlanPricesResponse",
      "description": "Response message for BatchMigrateBasePlanPrices."
    },
    "PageInfo": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "Index of the first result returned in the current page.",
          "format": "int32"
        },
        "resultPerPage": {
          "format": "int32",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "type": "integer"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of results available on the backend ! The total number of results in the result set."
        }
      },
      "id": "PageInfo",
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "UploadImageRequest": {
      "properties": {},
      "id": "UploadImageRequest",
      "description": "Request to upload an image.",
      "type": "object"
    },
    "SubscriptionItemPriceChangeDetails": {
      "id": "SubscriptionItemPriceChangeDetails",
      "properties": {
        "priceChangeState": {
          "type": "string",
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "description": "State the price change is currently in.",
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ]
        },
        "priceChangeMode": {
          "type": "string",
          "description": "Price change mode specifies how the subscription item price is changing.",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ],
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ]
        },
        "expectedNewPriceChargeTime": {
          "type": "string",
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect.",
          "format": "google-datetime"
        },
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        }
      },
      "description": "Price change related information of a subscription item.",
      "type": "object"
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "id": "BatchUpdateSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The updated subscription offers list.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "OutOfAppPurchaseContext": {
      "id": "OutOfAppPurchaseContext",
      "description": "Information specific to an out of app purchase.",
      "type": "object",
      "properties": {
        "expiredPurchaseToken": {
          "description": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry.",
          "type": "string"
        },
        "expiredExternalAccountIdentifiers": {
          "description": "User account identifier from the last expired subscription for this SKU.",
          "$ref": "ExternalAccountIdentifiers"
        }
      }
    },
    "BatchMigrateBasePlanPricesRequest": {
      "id": "BatchMigrateBasePlanPricesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          },
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "type": "array"
        }
      },
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "type": "object"
    },
    "TargetingRuleScopeThisSubscription": {
      "type": "object",
      "properties": {},
      "id": "TargetingRuleScopeThisSubscription",
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined."
    },
    "AppStoreAppActiveApks": {
      "id": "AppStoreAppActiveApks",
      "type": "object",
      "properties": {
        "activeApkSets": {
          "description": "Required. List specifying which APK sets are distributed together. This list should contain all APKs that you're distributing for this app. Add an entry for each individual installable set of APKs.",
          "type": "array",
          "items": {
            "$ref": "AppStoreAppActiveApkSet"
          }
        }
      },
      "description": "Information about active APKs of an app store hosted app."
    },
    "InappproductsBatchDeleteRequest": {
      "properties": {
        "requests": {
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          },
          "type": "array"
        }
      },
      "id": "InappproductsBatchDeleteRequest",
      "description": "Request to delete multiple in-app products.",
      "type": "object"
    },
    "CoarseLocation": {
      "id": "CoarseLocation",
      "type": "object",
      "properties": {
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty.",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district. For most addresses, you can omit this."
        },
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. [CLDR region code](https://cldr.unicode.org/) of the country/region of the address. This value is never inferred and you must ensure the value is correct. Example: \"CH\" for Switzerland."
        }
      },
      "description": "Coarse Geographic location details for where the consumption happened."
    },
    "DeletePurchaseOptionRequest": {
      "id": "DeletePurchaseOptionRequest",
      "type": "object",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to delete.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to delete.",
          "type": "string"
        },
        "force": {
          "type": "boolean",
          "description": "Optional. This field has no effect for purchase options with no offers under them. For purchase options with associated offers: * If `force` is set to false (default), an error will be returned. * If `force` is set to true, any associated offers under the purchase option will be deleted."
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to delete.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        }
      },
      "description": "Request message for deleting a purchase option."
    },
    "ExternalTransaction": {
      "properties": {
        "externalOfferDetails": {
          "description": "Optional. Details necessary to accurately report external offers transactions.",
          "$ref": "ExternalOfferDetails"
        },
        "transactionState": {
          "description": "Output only. The current state of the transaction.",
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "readOnly": true,
          "type": "string"
        },
        "userTaxAddress": {
          "description": "Required. User address for tax computation.",
          "$ref": "ExternalTransactionAddress"
        },
        "currentTaxAmount": {
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction.",
          "readOnly": true,
          "$ref": "Price"
        },
        "transactionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time when the transaction was completed."
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app').",
          "type": "string"
        },
        "transactionProgramCode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The transaction program code, used to help determine service fee for eligible apps participating in partner programs. Developers participating in the Play Media Experience Program (https://play.google.com/console/about/programs/mediaprogram/) must provide the program code when reporting alternative billing transactions. If you are an eligible developer, please contact your BDM for more information on how to set this field. Note: this field can not be used for external offers transactions."
        },
        "oneTimeTransaction": {
          "$ref": "OneTimeExternalTransaction",
          "description": "This is a one-time transaction and not part of a subscription."
        },
        "externalTransactionId": {
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction.",
          "type": "string",
          "readOnly": true
        },
        "originalPreTaxAmount": {
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction.",
          "format": "google-datetime",
          "readOnly": true
        },
        "testPurchase": {
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "$ref": "ExternalTransactionTestPurchase",
          "readOnly": true
        },
        "originalTaxAmount": {
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "recurringTransaction": {
          "description": "This transaction is part of a recurring series of transactions.",
          "$ref": "RecurringExternalTransaction"
        },
        "externalContentLinkDetails": {
          "$ref": "ExternalContentLinkDetails",
          "description": "Optional. Details necessary to accurately report external content link transactions."
        },
        "currentPreTaxAmount": {
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction.",
          "readOnly": true,
          "$ref": "Price"
        }
      },
      "description": "The details of an external transaction.",
      "id": "ExternalTransaction",
      "type": "object"
    },
    "RevokeSubscriptionPurchaseResponse": {
      "type": "object",
      "properties": {},
      "id": "RevokeSubscriptionPurchaseResponse",
      "description": "Response for the purchases.subscriptionsv2.revoke API."
    },
    "RentalDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of a rental purchase.",
      "id": "RentalDetails"
    },
    "GeneratedAssetPackSlice": {
      "id": "GeneratedAssetPackSlice",
      "type": "object",
      "properties": {
        "sliceId": {
          "type": "string",
          "description": "Asset slice ID."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "version": {
          "description": "Asset module version.",
          "type": "string",
          "format": "int64"
        },
        "moduleName": {
          "description": "Name of the module that this asset slice belongs to.",
          "type": "string"
        }
      },
      "description": "Download metadata for an asset pack slice."
    },
    "ModuleMetadata": {
      "id": "ModuleMetadata",
      "description": "Metadata of a module.",
      "properties": {
        "deliveryType": {
          "description": "Indicates the delivery type (e.g. on-demand) of the module.",
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ],
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ]
        },
        "name": {
          "type": "string",
          "description": "Module name."
        },
        "targeting": {
          "description": "The targeting that makes a conditional module installed. Relevant only for Split APKs.",
          "$ref": "ModuleTargeting"
        },
        "dependencies": {
          "description": "Names of the modules that this module directly depends on. Each module implicitly depends on the base module.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "moduleType": {
          "enumDescriptions": [
            "Unknown feature module.",
            "Regular feature module."
          ],
          "description": "Indicates the type of this feature module.",
          "type": "string",
          "enum": [
            "UNKNOWN_MODULE_TYPE",
            "FEATURE_MODULE"
          ]
        }
      },
      "type": "object"
    },
    "SystemOnChip": {
      "id": "SystemOnChip",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required.",
          "type": "string"
        },
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        }
      },
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices."
    },
    "UpdateAppStoreHostedAppPublishStatusResponse": {
      "id": "UpdateAppStoreHostedAppPublishStatusResponse",
      "properties": {},
      "description": "Response for updating the publish status of an app store hosted app.",
      "type": "object"
    },
    "ConsumptionUsageEvent": {
      "description": "List of events, each representing an instance where the user consumed or used the purchased item or service.",
      "type": "object",
      "id": "ConsumptionUsageEvent",
      "properties": {
        "consumptionItemDescription": {
          "type": "string",
          "description": "Optional. Free form text that allows developers to provide more info on the item consumed. Maximum length is 5000 characters."
        },
        "ipAddress": {
          "description": "Optional. The IP address from which the consumption occurred.",
          "type": "string"
        },
        "consumptionTime": {
          "type": "string",
          "description": "Optional. Time when the user consumed, used, downloaded, opened, or streamed the content.",
          "format": "google-datetime"
        },
        "obfuscatedAccountId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user account in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedAccountId(java.lang.String)",
          "type": "string"
        },
        "obfuscatedProfileId": {
          "type": "string",
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user profile in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedProfileId(java.lang.String)"
        },
        "location": {
          "$ref": "CoarseLocation",
          "description": "Optional. Geographic location where the consumption occurred."
        }
      }
    },
    "SubscribeWithGoogleInfo": {
      "properties": {
        "familyName": {
          "type": "string",
          "description": "The family name of the user when the subscription was purchased."
        },
        "profileId": {
          "description": "The Google profile id of the user when the subscription was purchased.",
          "type": "string"
        },
        "givenName": {
          "description": "The given name of the user when the subscription was purchased.",
          "type": "string"
        },
        "profileName": {
          "type": "string",
          "description": "The profile name of the user when the subscription was purchased."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the user when the subscription was purchased."
        }
      },
      "type": "object",
      "id": "SubscribeWithGoogleInfo",
      "description": "Information associated with purchases made with 'Subscribe with Google'."
    },
    "DeferSubscriptionPurchaseRequest": {
      "description": "Request for the v2 purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "deferralContext": {
          "description": "Required. Details about the subscription deferral.",
          "$ref": "DeferralContext"
        }
      },
      "id": "DeferSubscriptionPurchaseRequest"
    },
    "BatchGetSubscriptionsResponse": {
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionsResponse",
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "type": "object"
    },
    "PrepaidPlan": {
      "type": "object",
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime"
        }
      },
      "id": "PrepaidPlan",
      "description": "Information related to a prepaid plan."
    },
    "SubscriptionDetails": {
      "properties": {
        "servicePeriodStartTime": {
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "format": "google-datetime",
          "type": "string"
        },
        "offerPhase": {
          "deprecated": true,
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "type": "string",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID for the current subscription offer."
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "offerPhaseDetails": {
          "$ref": "OfferPhaseDetails",
          "description": "The pricing phase details for the entitlement period funded by this order."
        },
        "servicePeriodEndTime": {
          "format": "google-datetime",
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get.",
          "type": "string"
        }
      },
      "id": "SubscriptionDetails",
      "type": "object",
      "description": "Details of a subscription purchase."
    },
    "VariantTargeting": {
      "properties": {
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        },
        "abiTargeting": {
          "$ref": "AbiTargeting",
          "description": "The abi that the variant targets"
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        }
      },
      "description": "Targeting on the level of variants.",
      "type": "object",
      "id": "VariantTargeting"
    },
    "Image": {
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "aiGeneratedState": {
          "type": "string",
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ],
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ]
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        }
      },
      "id": "Image",
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService."
    },
    "SubscriptionPurchasesDeferResponse": {
      "id": "SubscriptionPurchasesDeferResponse",
      "type": "object",
      "properties": {
        "newExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "AppRecoveryAction": {
      "description": "Information about an app recovery action.",
      "properties": {
        "deployTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the app recovery action is deployed to the users. Only set if the recovery action has been deployed."
        },
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the app recovery action is canceled by the developer. Only set if the recovery action has been canceled."
        },
        "lastUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp of when the developer last updated recovery action. In case the action is cancelled, it corresponds to cancellation time. It is always set after creation of the recovery action."
        },
        "remoteInAppUpdateData": {
          "$ref": "RemoteInAppUpdateData",
          "description": "Data about the remote in-app update action such as such as recovered user base, recoverable user base etc. Set only if the recovery action type is Remote In-App Update."
        },
        "status": {
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "description": "The status of the recovery action.",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "type": "string"
        },
        "appRecoveryId": {
          "format": "int64",
          "description": "ID corresponding to the app recovery action.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp of when the app recovery action is created by the developer. It is always set after creation of the recovery action."
        },
        "targeting": {
          "$ref": "Targeting",
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc."
        }
      },
      "type": "object",
      "id": "AppRecoveryAction"
    },
    "OrderHistory": {
      "description": "Details about events which modified the order.",
      "properties": {
        "cancellationEvent": {
          "$ref": "CancellationEvent",
          "description": "Details of when the order was canceled."
        },
        "refundEvent": {
          "description": "Details of when the order was fully refunded.",
          "$ref": "RefundEvent"
        },
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "partialRefundEvents": {
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "type": "array",
          "description": "Details of the partial refund events for this order."
        }
      },
      "id": "OrderHistory",
      "type": "object"
    },
    "AppDetails": {
      "type": "object",
      "description": "The app details. The resource for DetailsService.",
      "id": "AppDetails",
      "properties": {
        "contactWebsite": {
          "description": "The user-visible website for this app.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string",
          "description": "Default language code, in BCP 47 format (eg \"en-US\")."
        },
        "contactEmail": {
          "description": "The user-visible support email for this app.",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "The user-visible support telephone number for this app."
        }
      }
    },
    "GeneratedApksListResponse": {
      "properties": {
        "generatedApks": {
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          },
          "type": "array",
          "description": "All generated APKs, grouped by the APK signing key."
        }
      },
      "description": "Response to list generated APKs.",
      "type": "object",
      "id": "GeneratedApksListResponse"
    },
    "RefundDetails": {
      "properties": {
        "tax": {
          "$ref": "Money",
          "description": "The amount of tax refunded."
        },
        "total": {
          "$ref": "Money",
          "description": "The total amount refunded, including tax."
        }
      },
      "id": "RefundDetails",
      "description": "Details for a partial or full refund.",
      "type": "object"
    },
    "PolicyDocumentResponse": {
      "type": "object",
      "description": "An uploaded document. Must be a single logical document (e.g. a financial license).",
      "properties": {
        "documentId": {
          "description": "Required. ID of the uploaded document.",
          "type": "string"
        },
        "expiryDate": {
          "description": "Optional. Expiry date for the document.",
          "$ref": "Date"
        },
        "nonExpiring": {
          "description": "Optional. True if confirmed that the document does not have an expiry date.",
          "type": "boolean"
        }
      },
      "id": "PolicyDocumentResponse"
    },
    "KeyedGroup": {
      "properties": {
        "key": {
          "description": "Required. Key for this group.",
          "type": "string"
        },
        "responses": {
          "type": "array",
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "description": "Required. Responses in this group."
        }
      },
      "description": "A group of responses, with a key.",
      "id": "KeyedGroup",
      "type": "object"
    },
    "TrackCountryAvailability": {
      "id": "TrackCountryAvailability",
      "type": "object",
      "properties": {
        "syncWithProduction": {
          "description": "Whether this track's availability is synced with the default production track. See https://support.google.com/googleplay/android-developer/answer/7550024 for more information on syncing country availability with production. Note that if this is true, the returned \"countries\" and \"rest_of_world\" fields will reflect the values for the default production track.",
          "type": "boolean"
        },
        "countries": {
          "type": "array",
          "items": {
            "$ref": "TrackTargetedCountry"
          },
          "description": "A list of one or more countries where artifacts in this track are available. This list includes all countries that are targeted by the track, even if only specific carriers are targeted in that country."
        },
        "restOfWorld": {
          "type": "boolean",
          "description": "Whether artifacts in this track are available to \"rest of the world\" countries."
        }
      },
      "description": "Resource for per-track country availability information."
    },
    "OtherRegionsBasePlanConfig": {
      "id": "OtherRegionsBasePlanConfig",
      "properties": {
        "newSubscriberAvailability": {
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false.",
          "type": "boolean"
        },
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        }
      },
      "type": "object",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "ExternalTransactionTestPurchase": {
      "properties": {},
      "id": "ExternalTransactionTestPurchase",
      "type": "object",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google."
    },
    "DeveloperComment": {
      "type": "object",
      "description": "Developer entry from conversation between user and developer.",
      "properties": {
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. reply body."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        }
      },
      "id": "DeveloperComment"
    },
    "TestPurchase": {
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object",
      "properties": {},
      "id": "TestPurchase"
    },
    "Grant": {
      "type": "object",
      "id": "Grant",
      "properties": {
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "appLevelPermissions": {
          "description": "The permissions granted to the user for this app.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ]
          }
        },
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        }
      },
      "description": "An access grant resource."
    },
    "SafetyLabelsUpdateResponse": {
      "description": "Response for SafetyLabelsUpdate rpc.",
      "id": "SafetyLabelsUpdateResponse",
      "type": "object",
      "properties": {}
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      },
      "description": "Response on status of replying to a review."
    },
    "ListDeviceTierConfigsResponse": {
      "id": "ListDeviceTierConfigsResponse",
      "description": "Response listing existing device tier configs.",
      "type": "object",
      "properties": {
        "deviceTierConfigs": {
          "type": "array",
          "items": {
            "$ref": "DeviceTierConfig"
          },
          "description": "Device tier configs created by the developer."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "InternalAppSharingArtifact": {
      "properties": {
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        },
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
        }
      },
      "type": "object",
      "id": "InternalAppSharingArtifact",
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing."
    },
    "RevocationContextItemBasedRefund": {
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      },
      "type": "object",
      "id": "RevocationContextItemBasedRefund",
      "description": "Used to determine what specific item to revoke in a subscription with multiple items."
    },
    "BatchUpdateSubscriptionOfferStatesRequest": {
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers.",
          "items": {
            "$ref": "UpdateSubscriptionOfferStateRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateSubscriptionOfferStatesRequest",
      "type": "object",
      "description": "Request message for BatchUpdateSubscriptionOfferStates."
    },
    "Price": {
      "description": "Definition of a price, i.e. currency and units.",
      "properties": {
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        },
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        }
      },
      "type": "object",
      "id": "Price"
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        },
        "previousPageToken": {
          "type": "string"
        }
      }
    },
    "OneTimeProductDiscountedOffer": {
      "properties": {
        "endTime": {
          "description": "Time when the offer will stop being available.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Time when the offer will start being available.",
          "type": "string"
        },
        "redemptionLimit": {
          "description": "Optional. The number of times this offer can be redeemed. If unset or set to 0, allows for unlimited offer redemptions. Otherwise must be a number between 1 and 50 inclusive.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration specific to discounted offers.",
      "id": "OneTimeProductDiscountedOffer"
    },
    "RegionalTaxConfig": {
      "description": "Details about taxation in a given geographical region.",
      "id": "RegionalTaxConfig",
      "type": "object",
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
[...]
