{
  "revision": "20260826",
  "basePath": "",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "schemas": {
    "DeviceIdentifier": {
      "properties": {
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "meid2": {
          "description": "The device’s second MEID number.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android mobile and Desktop except Googlebooks and Chromebooks",
            "Chrome OS device"
          ]
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        }
      },
      "id": "DeviceIdentifier",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "type": "object",
      "description": "Response message containing device id of the claim.",
      "id": "ClaimDeviceResponse",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        },
        "deviceId": {
          "type": "string",
          "description": "The device ID of the claimed device.",
          "format": "int64"
        }
      }
    },
    "ListVendorsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "vendors": {
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "type": "object",
      "id": "ListVendorsResponse",
      "description": "Response message to list vendors of the partner."
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "customers": {
          "type": "array",
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          }
        }
      },
      "id": "ListVendorCustomersResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "id": "Status"
    },
    "PerDeviceStatusInBatch": {
      "id": "PerDeviceStatusInBatch",
      "properties": {
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "deviceId": {
          "type": "string",
          "description": "If processing succeeds, the device ID of the device.",
          "format": "int64"
        },
        "status": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "description": "The result status of the device after processing."
        }
      },
      "type": "object",
      "description": "Captures the processing status for each device in the operation."
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "id": "OperationPerDevice",
      "properties": {
        "result": {
          "$ref": "PerDeviceStatusInBatch",
          "description": "The processing result for each device."
        },
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        }
      },
      "type": "object"
    },
    "DeviceReference": {
      "type": "object",
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the device."
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      }
    },
    "FindDevicesByOwnerRequest": {
      "properties": {
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "limit": {
          "type": "string",
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive."
        },
        "googleWorkspaceCustomerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for."
        },
        "customerId": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The list of customer IDs to search for.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "FindDevicesByOwnerRequest",
      "description": "Request to find devices by customers."
    },
    "CustomerListCustomersResponse": {
      "type": "object",
      "description": "Response message for listing my customers.",
      "id": "CustomerListCustomersResponse",
      "properties": {
        "customers": {
          "description": "The customer accounts the calling user is a member of.",
          "type": "array",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      },
      "id": "UnclaimDevicesRequest",
      "type": "object"
    },
    "DevicesLongRunningOperationResponse": {
      "properties": {
        "successCount": {
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32",
          "type": "integer"
        },
        "perDeviceStatus": {
          "type": "array",
          "items": {
            "$ref": "OperationPerDevice"
          },
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        }
      },
      "type": "object",
      "id": "DevicesLongRunningOperationResponse",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "DeviceMetadata": {
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "id": "DeviceMetadata",
      "type": "object",
      "properties": {
        "entries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs."
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "Found devices.",
          "type": "array"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PartnerClaim": {
      "description": "Identifies one claim request.",
      "properties": {
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "simlockProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
        },
        "customerId": {
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device at claim."
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        }
      },
      "id": "PartnerClaim",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Device": {
      "properties": {
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "claims": {
          "items": {
            "$ref": "DeviceClaim"
          },
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "type": "array",
          "readOnly": true
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string"
        }
      },
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "id": "Device",
      "type": "object"
    },
    "CreateCustomerRequest": {
      "id": "CreateCustomerRequest",
      "type": "object",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "description": "Request message to create a customer."
    },
    "Company": {
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "id": "Company",
      "properties": {
        "googleWorkspaceAccount": {
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true
        },
        "ownerEmails": {
          "type": "array",
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          }
        },
        "adminEmails": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account."
        },
        "companyId": {
          "type": "string",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64",
          "readOnly": true
        },
        "termsStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ]
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. Deprecated: This field is no longer supported and is ignored by the server.",
          "deprecated": true
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "type": "string"
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "properties": {
        "claims": {
          "description": "Required. A list of device claims.",
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      },
      "type": "object",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "id": "ClaimDevicesRequest"
    },
    "PartnerUnclaim": {
      "type": "object",
      "description": "Identifies one unclaim request.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. Device ID of the device."
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        }
      },
      "id": "PartnerUnclaim"
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "type": "object",
      "id": "CustomerApplyConfigurationRequest"
    },
    "GetDeviceSimLockStateResponse": {
      "type": "object",
      "properties": {
        "simLockState": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "type": "string",
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      },
      "description": "Response containing a device's SimLock state.",
      "id": "GetDeviceSimLockStateResponse"
    },
    "ListCustomersResponse": {
      "type": "object",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers related to this reseller partner."
        }
      },
      "id": "ListCustomersResponse"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "description": "Request to update device metadata in batch.",
      "type": "object",
      "properties": {
        "updates": {
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "description": "Required. The list of metadata updates.",
          "type": "array"
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest"
    },
    "CustomerListConfigurationsResponse": {
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "items": {
            "$ref": "Configuration"
          },
          "description": "The configurations.",
          "type": "array"
        }
      }
    },
    "Configuration": {
      "properties": {
        "contactPhone": {
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.",
          "type": "string"
        },
        "configurationId": {
          "readOnly": true,
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "format": "int64",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "forcedResetTime": {
          "format": "google-duration",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "type": "string"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server."
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        }
      },
      "id": "Configuration",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "type": "object"
    },
    "CustomerRemoveConfigurationRequest": {
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "type": "object",
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device."
    },
    "UnclaimDeviceRequest": {
      "description": "Request message to unclaim a device.",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      },
      "id": "UnclaimDeviceRequest",
      "type": "object"
    },
    "DeviceClaim": {
      "properties": {
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string",
          "format": "google-datetime"
        },
        "additionalService": {
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "vacationModeStartTime": {
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "resellerId": {
          "format": "int64",
          "description": "The ID of the reseller that claimed the device.",
          "type": "string"
        },
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "type": "string",
          "format": "int64"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "description": "Output only. The type of claim made on the device.",
          "readOnly": true,
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      },
      "type": "object",
      "id": "DeviceClaim",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim)."
    },
    "GetDeviceSimLockStateRequest": {
      "id": "GetDeviceSimLockStateRequest",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request to get a device's SIM lock status."
    },
    "CustomerListDpcsResponse": {
      "id": "CustomerListDpcsResponse",
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array",
          "items": {
            "$ref": "Dpc"
          }
        }
      },
      "type": "object"
    },
    "Dpc": {
      "type": "object",
      "id": "Dpc",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`)."
        },
        "dpcName": {
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play."
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "properties": {
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
        }
      },
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices."
    },
    "ClaimDeviceRequest": {
      "id": "ClaimDeviceRequest",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string",
          "format": "int64"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      },
      "description": "Request message to claim a device on behalf of a customer."
    },
    "CustomerUnclaimDeviceRequest": {
      "description": "Request message for customer to unclaim a device.",
      "id": "CustomerUnclaimDeviceRequest",
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      }
    },
    "UpdateDeviceMetadataRequest": {
      "id": "UpdateDeviceMetadataRequest",
      "type": "object",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleWorkspaceAccount",
      "description": "A Google Workspace customer."
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "type": "object",
      "id": "UpdateMetadataArguments",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. Device ID of the device.",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        }
      }
    },
    "DevicesLongRunningOperationMetadata": {
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "id": "DevicesLongRunningOperationMetadata",
      "properties": {
        "devicesCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates."
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer",
          "format": "int32"
        },
        "processingStatus": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "type": "string",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "description": "The processing status of the operation."
        }
      },
      "type": "object"
    },
    "FindDevicesByOwnerResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices.",
      "type": "object"
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "type": "object",
      "description": "Response message of customer's liting devices.",
      "properties": {
        "devices": {
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    }
  },
  "version_module": true,
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "ownerName": "Google",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "id": "androiddeviceprovisioning:v1",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "name": "androiddeviceprovisioning",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Android Device Provisioning Partner API",
  "version": "v1",
  "canonicalName": "Android Provisioning Partner",
  "servicePath": "",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "id": "androiddeviceprovisioning.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource.",
              "required": true
            }
          },
          "path": "v1/{+name}"
        }
      }
    },
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/customers",
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "flatPath": "v1/partners/{partnersId}/customers"
            },
            "create": {
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/customers",
              "path": "v1/{+parent}/customers",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "response": {
                "$ref": "Company"
              },
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path",
                  "pattern": "^partners/[^/]+$",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "vendors": {
          "methods": {
            "list": {
              "path": "v1/{+parent}/vendors",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "pattern": "^partners/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "description": "Lists the vendors of the partner.",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/customers",
                  "description": "Lists the customers of the vendor."
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "unclaimAsync": {
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST"
            },
            "unclaim": {
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "response": {
                "$ref": "Empty"
              }
            },
            "updateMetadataAsync": {
              "httpMethod": "POST",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The reseller partner ID.",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              }
            },
            "claimAsync": {
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the reseller partner.",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "required": true,
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
                }
              },
              "description": "Gets a device.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "androiddeviceprovisioning.partners.devices.get",
              "path": "v1/{+name}"
            },
            "findByIdentifier": {
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "required": true
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "findByOwner": {
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "httpMethod": "POST",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string"
                }
              }
            },
            "metadata": {
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "httpMethod": "POST",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameters": {
                "metadataOwnerId": {
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path"
                },
                "deviceId": {
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The ID of the device.",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ]
            },
            "getSimLockState": {
              "parameters": {
                "partnerId": {
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the partner.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets a device's SIM lock state.",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "httpMethod": "POST",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState"
            },
            "claim": {
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "pattern": "^[^/]+$",
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "flatPath": "v1/customers",
          "path": "v1/customers",
          "description": "Lists the user's customer accounts.",
          "id": "androiddeviceprovisioning.customers.list",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "type": "integer"
            }
          }
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "removeConfiguration": {
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Removes a configuration from device.",
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ]
            },
            "unclaim": {
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "path": "v1/{+parent}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "description": "Gets the details of a device.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "v1/customers/{customersId}/devices",
              "path": "v1/{+parent}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "id": "androiddeviceprovisioning.customers.devices.list",
              "description": "Lists a customer's devices.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`."
                },
                "pageSize": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or `0`, defaults to `5000`. If a value greater than `10000` is specified, it will be coerced to `10000`.",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token specifying which result page to return."
                }
              }
            },
            "applyConfiguration": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "path": "v1/{+parent}/devices:applyConfiguration",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+parent}/dpcs",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListDpcsResponse"
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates a configuration's field values.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "response": {
                "$ref": "Configuration"
              },
              "parameters": {
                "name": {
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "flatPath": "v1/customers/{customersId}/configurations",
              "description": "Lists a customer's configurations.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/customers/{customersId}/configurations",
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "request": {
                "$ref": "Configuration"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "response": {
                "$ref": "Configuration"
              },
              "description": "Gets the details of a configuration.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            },
            "delete": {
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/"
}