{
  "ownerDomain": "google.com",
  "title": "Google Play Android Developer API",
  "documentationLink": "https://developers.google.com/android-publisher",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20261001",
  "name": "androidpublisher",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "version": "v3",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "id": "androidpublisher:v3",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "canonicalName": "Android Publisher",
  "kind": "discovery#restDescription",
  "resources": {
    "users": {
      "methods": {
        "create": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "request": {
            "$ref": "User"
          },
          "id": "androidpublisher.users.create",
          "description": "Grant access for a user to the given developer account.",
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+parent}/users",
          "parameters": {
            "parent": {
              "description": "Required. The developer account to add the user to. Format: developers/{developer}",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^developers/[^/]+$"
            }
          }
        },
        "list": {
          "parameters": {
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "A token received from a previous call to this method, in order to retrieve further results."
            },
            "parent": {
              "required": true,
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "type": "string",
              "location": "path",
              "pattern": "^developers/[^/]+$"
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "httpMethod": "GET",
          "id": "androidpublisher.users.list",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+parent}/users",
          "response": {
            "$ref": "ListUsersResponse"
          },
          "description": "Lists all users with access to a developer account."
        },
        "delete": {
          "description": "Removes all access for the user to the given developer account.",
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.users.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}"
        },
        "patch": {
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "description": "Updates access for the user to the developer account.",
          "id": "androidpublisher.users.patch",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "User"
          },
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "required": true,
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "User"
          }
        }
      }
    },
    "edits": {
      "resources": {
        "listings": {
          "methods": {
            "update": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Creates or updates a localized store listing.",
              "id": "androidpublisher.edits.listings.update",
              "response": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Listing"
              },
              "httpMethod": "PUT"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "description": "Gets a localized store listing.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "id": "androidpublisher.edits.listings.get",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string"
                }
              }
            },
            "delete": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "httpMethod": "DELETE",
              "description": "Deletes a localized store listing.",
              "parameters": {
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "list": {
              "id": "androidpublisher.edits.listings.list",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "description": "Lists all localized store listings.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings"
            },
            "deleteall": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "description": "Deletes all store listings.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.listings.deleteall",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "request": {
                "$ref": "Listing"
              },
              "response": {
                "$ref": "Listing"
              },
              "description": "Patches a localized store listing.",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The track to read from."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "response": {
                "$ref": "TrackCountryAvailability"
              },
              "description": "Gets country availability.",
              "id": "androidpublisher.edits.countryavailability.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.bundles.list",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "BundlesListResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
            },
            "upload": {
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "53687091200",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                }
              },
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "response": {
                "$ref": "Bundle"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "id": "androidpublisher.edits.bundles.upload",
              "parameters": {
                "ackBundleInstallationWarning": {
                  "type": "boolean",
                  "deprecated": true,
                  "description": "Deprecated. The installation warning has been removed, it's not necessary to set this field anymore.",
                  "location": "query"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "deviceTierConfigId": {
                  "location": "query",
                  "type": "string",
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            }
          }
        },
        "tracks": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Track"
              },
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "description": "Patches a track.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androidpublisher.edits.tracks.patch"
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Track"
              },
              "request": {
                "$ref": "Track"
              },
              "httpMethod": "PUT",
              "id": "androidpublisher.edits.tracks.update",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Updates a track."
            },
            "list": {
              "response": {
                "$ref": "TracksListResponse"
              },
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "httpMethod": "GET",
              "id": "androidpublisher.edits.tracks.list",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all tracks.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks"
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "id": "androidpublisher.edits.tracks.get",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a track.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Creates a new track.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "description": "Required. Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "Track"
              },
              "request": {
                "$ref": "TrackConfig"
              },
              "id": "androidpublisher.edits.tracks.create",
              "httpMethod": "POST"
            }
          }
        },
        "testers": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to read from.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.testers.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "track": {
                  "description": "The track to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "request": {
                "$ref": "Testers"
              },
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}"
            },
            "update": {
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "response": {
                "$ref": "Testers"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to update.",
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.testers.update",
              "request": {
                "$ref": "Testers"
              },
              "httpMethod": "PUT"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "AppDetails"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets details of an app.",
              "id": "androidpublisher.edits.details.get"
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "description": "Patches details of an app.",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PATCH",
              "id": "androidpublisher.edits.details.patch",
              "response": {
                "$ref": "AppDetails"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "description": "Updates details of an app.",
              "id": "androidpublisher.edits.details.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "httpMethod": "PUT",
              "response": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              }
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "patch": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "apkVersionCode": {
                  "location": "path",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "required": true,
                  "format": "int32"
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "required": true,
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string"
                }
              },
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "id": "androidpublisher.edits.expansionfiles.patch",
              "request": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ExpansionFile"
              }
            },
            "get": {
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameters": {
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "type": "string",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path",
                  "format": "int32",
                  "required": true,
                  "type": "integer"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "httpMethod": "GET",
              "description": "Fetches the expansion file configuration for the specified APK.",
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "update": {
              "request": {
                "$ref": "ExpansionFile"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "type": "string",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "apkVersionCode": {
                  "location": "path",
                  "format": "int32",
                  "required": true,
                  "type": "integer",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified."
                }
              },
              "id": "androidpublisher.edits.expansionfiles.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "ExpansionFile"
              }
            },
            "upload": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "supportsMediaUpload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2147483648",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
                    "multipart": true
                  }
                }
              },
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "parameters": {
                "expansionFileType": {
                  "required": true,
                  "type": "string",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "location": "path"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "required": true,
                  "format": "int32",
                  "type": "integer",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "id": "androidpublisher.edits.expansionfiles.upload",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ]
            }
          }
        },
        "apks": {
          "methods": {
            "upload": {
              "mediaUpload": {
                "maxSize": "10737418240",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ]
              },
              "description": "Uploads an APK and adds to the current edit.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Apk"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.apks.upload",
              "supportsMediaUpload": true,
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "POST"
            },
            "addexternallyhosted": {
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.apks.list",
              "response": {
                "$ref": "ApksListResponse"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "description": "Lists all current APKs of the app and edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "parameters": {
                "deobfuscationFileType": {
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ],
                  "type": "string",
                  "description": "The type of the deobfuscation file.",
                  "required": true,
                  "location": "path"
                },
                "packageName": {
                  "description": "Unique identifier for the Android app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Unique identifier for this edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "apkVersionCode": {
                  "format": "int32",
                  "location": "path",
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded.",
                  "required": true,
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "2097152000",
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  }
                }
              },
              "description": "Uploads a new deobfuscation file and attaches to the specified APK.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              }
            }
          }
        },
        "images": {
          "methods": {
            "list": {
              "parameters": {
                "imageType": {
                  "location": "path",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response."
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "response": {
                "$ref": "ImagesListResponse"
              },
              "id": "androidpublisher.edits.images.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Lists all images. The response may be empty."
            },
            "deleteall": {
              "httpMethod": "DELETE",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "imageType": {
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ]
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "id": "androidpublisher.edits.images.deleteall"
            },
            "delete": {
              "id": "androidpublisher.edits.images.delete",
              "parameters": {
                "imageId": {
                  "description": "Unique identifier an image within the set of images attached to this edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "required": true,
                  "description": "Type of the Image.",
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "description": "Deletes the image (specified by id) from the edit.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "httpMethod": "DELETE",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "upload": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "parameters": {
                "imageType": {
                  "description": "Type of the Image.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "aiGeneratedState": {
                  "type": "string",
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ],
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ],
                  "location": "query",
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer."
                }
              },
              "mediaUpload": {
                "maxSize": "15728640",
                "accept": [
                  "image/*"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                }
              },
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "id": "androidpublisher.edits.images.upload",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ]
            }
          }
        }
      },
      "methods": {
        "insert": {
          "id": "androidpublisher.edits.insert",
          "request": {
            "$ref": "AppEdit"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/edits",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "response": {
            "$ref": "AppEdit"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Creates a new edit for an app.",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "delete": {
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "editId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifier of the edit."
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "id": "androidpublisher.edits.delete",
          "description": "Deletes an app edit."
        },
        "validate": {
          "httpMethod": "POST",
          "description": "Validates an app edit.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.validate",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          }
        },
        "get": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "editId": {
              "description": "Identifier of the edit.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "description": "Gets an app edit.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.get"
        },
        "commit": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier of the edit."
            },
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Package name of the app."
            },
            "changesNotSentForReview": {
              "description": "When a rejection happens, the parameter will make sure that the changes in this edit won't be reviewed until they are explicitly sent for review from within the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "type": "boolean",
              "location": "query"
            },
            "changesInReviewBehavior": {
              "type": "string",
              "location": "query",
              "enum": [
                "CHANGES_IN_REVIEW_BEHAVIOR_TYPE_UNSPECIFIED",
                "CANCEL_IN_REVIEW_AND_SUBMIT",
                "ERROR_IF_IN_REVIEW"
              ],
              "description": "Optional. Specify how the API should behave if there are changes currently in review. If this value is not set, it will default to \"CANCEL_IN_REVIEW_AND_SUBMIT\", which will cancel the changes in review and then send all the changes for publishing.",
              "enumDescriptions": [
                "Defaults to CANCEL_IN_REVIEW_AND_SUBMIT.",
                "If there are changes already in review, then this will cancel that review first and then send all the changes for publishing.",
                "If there are changes in review, then this will return an error. Please refer to the error message sample that is returned when this happens. Note that this won't invalidate the edit. If there aren't any changes in review, then this will continue and send the new changes for publishing."
              ]
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          },
          "id": "androidpublisher.edits.commit",
          "httpMethod": "POST",
          "description": "Commits an app edit.",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit"
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "createexternaltransaction": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ExternalTransaction"
          },
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "description": "Creates a new external transaction.",
          "parameters": {
            "externalTransactionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked."
            },
            "parent": {
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "^applications/[^/]+$"
            }
          },
          "id": "androidpublisher.externaltransactions.createexternaltransaction"
        },
        "refundexternaltransaction": {
          "path": "androidpublisher/v3/{+name}:refund",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "required": true
            }
          },
          "description": "Refunds or partially refunds an existing external transaction.",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.externaltransactions.refundexternaltransaction"
        },
        "getexternaltransaction": {
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "type": "string",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "location": "path"
            }
          },
          "description": "Gets an existing external transaction.",
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "appstoreappsreview": {
      "methods": {
        "uploadappstoreapppolicydeclarationfile": {
          "mediaUpload": {
            "maxSize": "10485760",
            "accept": [
              "application/pdf",
              "image/jpeg",
              "image/png"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload"
              }
            }
          },
          "description": "Upload a policy declaration file for the hosted app. Returns an ID to track the file.",
          "id": "androidpublisher.appstoreappsreview.uploadappstoreapppolicydeclarationfile",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "request": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "UploadAppStoreAppPolicyDeclarationFileResponse"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/policyDeclarationFiles:upload",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "supportsMediaUpload": true,
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app."
            },
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "updateappstorehostedapppublishstatus": {
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "UpdateAppStoreHostedAppPublishStatusRequest"
          },
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapppublishstatus",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}:updateAppStoreHostedAppPublishStatus",
          "description": "Updates the publish status of an app store hosted app. The default state after calling UpdateAppStoreHostedApp is PUBLISHED. It is not necessary to call this RPC explicitly to set an app to PUBLISHED."
        },
        "uploadapk": {
          "request": {
            "$ref": "UploadApkRequest"
          },
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload"
              }
            },
            "maxSize": "10737418240"
          },
          "description": "Upload an APK file for the hosted app. Returns an ID to track this APK.",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/apks:upload",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app.",
              "type": "string"
            },
            "appStorePackageName": {
              "description": "Required. Package name of the third-party app store.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "UploadApkResponse"
          },
          "id": "androidpublisher.appstoreappsreview.uploadapk",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ]
        },
        "createappstorehostedapp": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "appStorePackageName"
          ],
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the third-party app store."
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create",
          "response": {
            "$ref": "CreateAppStoreHostedAppResponse"
          },
          "description": "Creates an app store hosted app. This must be called before any other RPCs for this hosted app.",
          "httpMethod": "POST",
          "request": {
            "$ref": "CreateAppStoreHostedAppRequest"
          },
          "id": "androidpublisher.appstoreappsreview.createappstorehostedapp",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:create"
        },
        "uploadimage": {
          "supportsMediaUpload": true,
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app.",
              "type": "string"
            },
            "appStorePackageName": {
              "type": "string",
              "description": "Required. Package name of the third-party app store.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "UploadImageRequest"
          },
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "UploadImageResponse"
          },
          "mediaUpload": {
            "accept": [
              "image/*"
            ],
            "maxSize": "15728640",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/appstore/{appStorePackageName}/apps/{packageName}/images:upload"
              }
            }
          },
          "description": "Upload a screenshot or app icon for the hosted app. Returns an ID to track the image.",
          "parameterOrder": [
            "appStorePackageName",
            "packageName"
          ],
          "httpMethod": "POST",
          "id": "androidpublisher.appstoreappsreview.uploadimage"
        },
        "updateappstorehostedapp": {
          "parameterOrder": [
            "appStorePackageName"
          ],
          "parameters": {
            "appStorePackageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the third-party app store.",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "path": "androidpublisher/v3/appstore/{appStorePackageName}/apps:update",
          "response": {
            "$ref": "UpdateAppStoreHostedAppResponse"
          },
          "request": {
            "$ref": "UpdateAppStoreHostedAppRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Updates details for an app hosted on an app store. Use this to provide details for a new app, or to update details for an existing app. The update will be sent for review immediately after creation.",
          "id": "androidpublisher.appstoreappsreview.updateappstorehostedapp"
        }
      }
    },
    "apprecovery": {
      "methods": {
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "type": "string"
            },
            "versionCode": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "Required. Version code targeted by the list of recovery actions."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.apprecovery.list"
        },
        "deploy": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "parameters": {
            "appRecoveryId": {
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "id": "androidpublisher.apprecovery.deploy",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "httpMethod": "POST"
        },
        "addTargeting": {
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "parameters": {
            "appRecoveryId": {
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Package name of the app for which recovery action is to be updated."
            }
          },
          "id": "androidpublisher.apprecovery.addTargeting",
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "response": {
            "$ref": "AddTargetingResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting"
        },
        "create": {
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app on which recovery action is performed.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.apprecovery.create",
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries"
        },
        "cancel": {
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Package name of the app for which recovery action cancellation is requested."
            },
            "appRecoveryId": {
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action.",
              "required": true,
              "location": "path",
              "format": "int64"
            }
          },
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "httpMethod": "POST",
          "id": "androidpublisher.apprecovery.cancel"
        }
      }
    },
    "appsigning": {
      "methods": {
        "rotateAppSigningKey": {
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Either package name or app ID of the app rotating the signing key."
            }
          },
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey"
        },
        "enrollApp": {
          "id": "androidpublisher.appsigning.enrollApp",
          "httpMethod": "POST",
          "request": {
            "$ref": "EnrollAppRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "response": {
            "$ref": "EnrollAppResponse"
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "create": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "POST",
              "response": {
                "$ref": "Variant"
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "versionCode": {
                  "type": "string",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "format": "int64"
                }
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create"
            },
            "list": {
              "id": "androidpublisher.systemapks.variants.list",
              "parameters": {
                "packageName": {
                  "location": "path",
[...]
