{
  "mtlsRootUrl": "https://androidenterprise.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "rootUrl": "https://androidenterprise.googleapis.com/",
  "canonicalName": "Android Enterprise",
  "revision": "20260917",
  "version": "v1",
  "id": "androidenterprise:v1",
  "baseUrl": "https://androidenterprise.googleapis.com/",
  "description": "Manages the deployment of apps to Android Enterprise devices.",
  "basePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "resources": {
    "storelayoutclusters": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "StoreCluster"
          },
          "request": {
            "$ref": "StoreCluster"
          },
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "pageId": {
              "description": "The ID of the page.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "androidenterprise.storelayoutclusters.insert",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Inserts a new cluster in a page.",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters"
        },
        "update": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "parameters": {
            "pageId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the page."
            },
            "clusterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the cluster."
            },
            "enterpriseId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "StoreCluster"
          },
          "id": "androidenterprise.storelayoutclusters.update",
          "httpMethod": "PUT",
          "description": "Updates a cluster.",
          "request": {
            "$ref": "StoreCluster"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "description": "Deletes a cluster.",
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clusterId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the cluster."
            },
            "pageId": {
              "type": "string",
              "description": "The ID of the page.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "id": "androidenterprise.storelayoutclusters.delete"
        },
        "get": {
          "id": "androidenterprise.storelayoutclusters.get",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId",
            "pageId",
            "clusterId"
          ],
          "response": {
            "$ref": "StoreCluster"
          },
          "description": "Retrieves details of a cluster.",
          "parameters": {
            "pageId": {
              "description": "The ID of the page.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "clusterId": {
              "description": "The ID of the cluster.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            }
          }
        },
        "list": {
          "parameters": {
            "pageId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the page."
            },
            "enterpriseId": {
              "required": true,
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "id": "androidenterprise.storelayoutclusters.list",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "description": "Retrieves the details of all clusters on the specified page.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "StoreLayoutClustersListResponse"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "flatPath": "androidenterprise/v1/permissions/{permissionId}",
          "path": "androidenterprise/v1/permissions/{permissionId}",
          "httpMethod": "GET",
          "description": "Retrieves details of an Android app permission for display to an enterprise admin.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "permissionId": {
              "type": "string",
              "description": "The ID of the permission.",
              "location": "path",
              "required": true
            },
            "language": {
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")",
              "type": "string",
              "location": "query"
            }
          },
          "id": "androidenterprise.permissions.get",
          "parameterOrder": [
            "permissionId"
          ],
          "response": {
            "$ref": "Permission"
          }
        }
      }
    },
    "installs": {
      "methods": {
        "get": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "id": "androidenterprise.installs.get",
          "response": {
            "$ref": "Install"
          },
          "httpMethod": "GET",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "description": "Retrieves details of an installation of an app on a device.",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise.",
              "required": true
            },
            "userId": {
              "type": "string",
              "description": "The ID of the user.",
              "required": true,
              "location": "path"
            },
            "deviceId": {
              "required": true,
              "description": "The Android ID of the device.",
              "location": "path",
              "type": "string"
            },
            "installId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "parameters": {
            "userId": {
              "description": "The ID of the user.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "deviceId": {
              "location": "path",
              "description": "The Android ID of the device.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "response": {
            "$ref": "InstallsListResponse"
          },
          "description": "Retrieves the details of all apps installed on the specified device.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.installs.list"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "Install"
          },
          "request": {
            "$ref": "Install"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "parameters": {
            "userId": {
              "description": "The ID of the user.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "installId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "required": true
            },
            "deviceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The Android ID of the device."
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "httpMethod": "PUT",
          "description": "Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.",
          "id": "androidenterprise.installs.update",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ]
        },
        "delete": {
          "description": "Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed. A successful response indicates that a removal request has been sent to the device. The call will be considered successful even if the app is not present on the device (e.g. it was never installed, or was removed by the user).",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "installId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "id": "androidenterprise.installs.delete",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}",
          "parameters": {
            "deviceId": {
              "location": "path",
              "required": true,
              "description": "The Android ID of the device.",
              "type": "string"
            },
            "enterpriseId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise."
            },
            "userId": {
              "required": true,
              "description": "The ID of the user.",
              "location": "path",
              "type": "string"
            },
            "installId": {
              "location": "path",
              "required": true,
              "description": "The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "DELETE"
        }
      }
    },
    "grouplicenses": {
      "methods": {
        "list": {
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "GroupLicensesListResponse"
          },
          "description": "Retrieves IDs of all products for which the enterprise has a group license. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "id": "androidenterprise.grouplicenses.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses"
        },
        "get": {
          "description": "Retrieves details of an enterprise's group license for a product. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "id": "androidenterprise.grouplicenses.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
          "parameterOrder": [
            "enterpriseId",
            "groupLicenseId"
          ],
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the enterprise."
            },
            "groupLicenseId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the product the group license is for, e.g. \"app:com.google.android.gm\"."
            }
          },
          "response": {
            "$ref": "GroupLicense"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}",
          "httpMethod": "GET"
        }
      }
    },
    "managedconfigurationsforuser": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.managedconfigurationsforuser.update",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "description": "Adds or updates the managed configuration settings for an app for the specified user. If you support the Managed configurations iframe, you can apply managed configurations to a user by specifying an mcmId and its associated configuration variables (if any) in the request. Alternatively, all EMMs can apply managed configurations by passing a list of managed properties.",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "description": "The ID of the enterprise.",
              "type": "string"
            },
            "managedConfigurationForUserId": {
              "required": true,
              "location": "path",
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "type": "string"
            },
            "userId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the user.",
              "required": true
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "httpMethod": "PUT",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}"
        },
        "delete": {
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "parameters": {
            "managedConfigurationForUserId": {
              "location": "path",
              "required": true,
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "type": "string"
            },
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "userId": {
              "required": true,
              "description": "The ID of the user.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "androidenterprise.managedconfigurationsforuser.delete",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "description": "Removes a per-user managed configuration for an app for the specified user."
        },
        "list": {
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "userId": {
              "location": "path",
              "required": true,
              "description": "The ID of the user.",
              "type": "string"
            }
          },
          "description": "Lists all the per-user managed configurations for the specified user. Only the ID is set.",
          "id": "androidenterprise.managedconfigurationsforuser.list",
          "response": {
            "$ref": "ManagedConfigurationsForUserListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "managedConfigurationForUserId"
          ],
          "parameters": {
            "managedConfigurationForUserId": {
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "userId": {
              "location": "path",
              "description": "The ID of the user.",
              "required": true,
              "type": "string"
            },
            "enterpriseId": {
              "location": "path",
              "description": "The ID of the enterprise.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Retrieves details of a per-user managed configuration for an app for the specified user.",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}",
          "id": "androidenterprise.managedconfigurationsforuser.get",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "httpMethod": "GET"
        }
      }
    },
    "managedconfigurationssettings": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings",
          "response": {
            "$ref": "ManagedConfigurationsSettingsListResponse"
          },
          "id": "androidenterprise.managedconfigurationssettings.list",
          "description": "Lists all the managed configurations settings for the specified app.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the enterprise."
            },
            "productId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the product for which the managed configurations settings applies to."
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/managedConfigurationsSettings"
        }
      }
    },
    "serviceaccountkeys": {
      "methods": {
        "list": {
          "description": "Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ServiceAccountKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "required": true,
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "id": "androidenterprise.serviceaccountkeys.list",
          "deprecated": true,
          "parameterOrder": [
            "enterpriseId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "ServiceAccountKey"
          },
          "id": "androidenterprise.serviceaccountkeys.insert",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount. Only the type of the key should be populated in the resource to be inserted.",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "deprecated": true,
          "parameterOrder": [
            "enterpriseId"
          ],
          "request": {
            "$ref": "ServiceAccountKey"
          },
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "delete": {
          "id": "androidenterprise.serviceaccountkeys.delete",
          "parameterOrder": [
            "enterpriseId",
            "keyId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "DELETE",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccountKeys/{keyId}",
          "deprecated": true,
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "keyId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the key."
            }
          },
          "description": "Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount."
        }
      },
      "deprecated": true
    },
    "enrollmentTokens": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "EnrollmentToken"
          },
          "response": {
            "$ref": "EnrollmentToken"
          },
          "description": "Returns a token for device enrollment. The DPC can encode this token within the QR/NFC/zero-touch enrollment payload or fetch it before calling the on-device API to authenticate the user. The token can be generated for each device or reused across multiple devices.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/enrollmentTokens",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/enrollmentTokens",
          "id": "androidenterprise.enrollmentTokens.create",
          "parameterOrder": [
            "enterpriseId"
          ],
          "parameters": {
            "enterpriseId": {
              "description": "Required. The ID of the enterprise.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        }
      }
    },
    "devices": {
      "methods": {
        "get": {
          "parameters": {
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enterpriseId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the enterprise."
            },
            "deviceId": {
              "description": "The ID of the device.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves the details of a device.",
          "id": "androidenterprise.devices.get",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "response": {
            "$ref": "Device"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Retrieves the IDs of all of a user's devices.",
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "userId": {
              "location": "path",
              "required": true,
              "description": "The ID of the user.",
              "type": "string"
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
          "response": {
            "$ref": "DevicesListResponse"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices",
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "id": "androidenterprise.devices.list"
        },
        "update": {
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "request": {
            "$ref": "Device"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}",
          "id": "androidenterprise.devices.update",
          "response": {
            "$ref": "Device"
          },
          "description": "Updates the device policy. To ensure the policy is properly enforced, you need to prevent unmanaged accounts from accessing Google Play by setting the allowed_accounts in the managed configuration for the Google Play package. See restrict accounts in Google Play. When provisioning a new device, you should set the device policy using this method before adding the managed Google Play Account to the device, otherwise the policy will not be applied for a short period of time after adding the account to the device.",
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise."
            },
            "updateMask": {
              "type": "string",
              "description": "Mask that identifies which fields to update. If not set, all modifiable fields will be modified. When set in a query parameter, this field should be specified as updateMask=<field1>,<field2>,...",
              "location": "query"
            },
            "deviceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the device."
            },
            "userId": {
              "type": "string",
              "description": "The ID of the user.",
              "location": "path",
              "required": true
            }
          }
        },
        "setState": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "DeviceState"
          },
          "response": {
            "$ref": "DeviceState"
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "userId": {
              "type": "string",
              "description": "The ID of the user.",
              "required": true,
              "location": "path"
            },
            "deviceId": {
              "description": "The ID of the device.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Sets whether a device's access to Google services (including Google Play) is enabled or disabled for the specified user. Setting the state to \"enabled\" allows the Google Account to access Google services, while \"disabled\" blocks access by preventing OAuth token issuance. Preconditions for Enforcement: 1. This setting is only effective for Google-managed users. 2. The enterprise must be linked to a Google Managed Domain. 3. Enforcement requires third-party Android mobile management to be enabled within the Google Admin Console for the user's Organizational Unit. If these preconditions are not met, changes to this state may be ignored.",
          "id": "androidenterprise.devices.setState",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "forceReportUpload": {
          "id": "androidenterprise.devices.forceReportUpload",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload",
          "description": "Uploads a report containing any changes in app states on the device since the last report was generated. You can call this method up to 3 times every 24 hours for a given device. If you exceed the quota, then the Google Play EMM API returns HTTP 429 Too Many Requests.",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            },
            "deviceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the device."
            },
            "userId": {
              "location": "path",
              "required": true,
              "description": "The ID of the user.",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/forceReportUpload"
        },
        "getState": {
          "id": "androidenterprise.devices.getState",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "description": "Checks if a device can access Google apps and services for a user. Returns whether access is \"enabled\" or \"disabled\". A \"disabled\" state prevents the user's Managed Google Account on the device from successfully authenticating with Google. This blocks access to most Google applications and services, including Google Play, as the device cannot prove its entitlement to access them. New devices default to \"disabled\". Important: Enforcement of this state depends on the following conditions: * The user must be a managed google account. * The enterprise must be a managed google domain. * Third-party Android mobile management must be active in the Google Admin Console for the user's Organizational Unit. If these conditions aren't met, access may still be possible even in a \"disabled\" state.",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ],
          "response": {
            "$ref": "DeviceState"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state",
          "parameters": {
            "deviceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the device."
            },
            "userId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the user."
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "managedconfigurationsfordevice": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ManagedConfigurationsForDeviceListResponse"
          },
          "id": "androidenterprise.managedconfigurationsfordevice.list",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "httpMethod": "GET",
          "description": "Lists all the per-device managed configurations for the specified device. Only the ID is set.",
          "parameters": {
            "deviceId": {
              "location": "path",
              "required": true,
              "description": "The Android ID of the device.",
              "type": "string"
            },
            "userId": {
              "description": "The ID of the user.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "enterpriseId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the enterprise."
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId"
          ]
        },
        "update": {
          "description": "Adds or updates a per-device managed configuration for an app for the specified device.",
          "parameters": {
            "deviceId": {
              "required": true,
              "location": "path",
              "description": "The Android ID of the device.",
              "type": "string"
            },
            "enterpriseId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "userId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the user."
            },
            "managedConfigurationForDeviceId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".",
              "required": true
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "id": "androidenterprise.managedconfigurationsfordevice.update",
          "request": {
            "$ref": "ManagedConfiguration"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "ManagedConfiguration"
          }
        },
        "delete": {
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "managedConfigurationForDeviceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\"."
            },
            "userId": {
              "type": "string",
              "description": "The ID of the user.",
              "location": "path",
              "required": true
            },
            "deviceId": {
              "required": true,
              "type": "string",
              "description": "The Android ID of the device.",
              "location": "path"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "id": "androidenterprise.managedconfigurationsfordevice.delete",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "httpMethod": "DELETE",
          "description": "Removes a per-device managed configuration for an app for the specified device.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "get": {
          "description": "Retrieves details of a per-device managed configuration.",
          "httpMethod": "GET",
          "response": {
            "$ref": "ManagedConfiguration"
          },
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "deviceId",
            "managedConfigurationForDeviceId"
          ],
          "id": "androidenterprise.managedconfigurationsfordevice.get",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}",
          "parameters": {
            "deviceId": {
              "description": "The Android ID of the device.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "enterpriseId": {
              "type": "string",
              "description": "The ID of the enterprise.",
              "required": true,
              "location": "path"
            },
            "userId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the user.",
              "required": true
            },
            "managedConfigurationForDeviceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\"."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}"
        }
      }
    },
    "webapps": {
      "methods": {
        "delete": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "webAppId": {
              "description": "The ID of the web app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "id": "androidenterprise.webapps.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Deletes an existing web app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}"
        },
        "get": {
          "response": {
            "$ref": "WebApp"
          },
          "httpMethod": "GET",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "id": "androidenterprise.webapps.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the enterprise."
            },
            "webAppId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the web app."
            }
          },
          "description": "Gets an existing web app.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}"
        },
        "list": {
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            }
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
          "httpMethod": "GET",
          "id": "androidenterprise.webapps.list",
          "description": "Retrieves the details of all web apps for a given enterprise.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "WebAppsListResponse"
          }
        },
        "insert": {
          "description": "Creates a new web app for the enterprise.",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
          "response": {
            "$ref": "WebApp"
          },
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "id": "androidenterprise.webapps.insert",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps",
          "request": {
            "$ref": "WebApp"
          },
          "httpMethod": "POST"
        },
        "update": {
          "description": "Updates an existing web app.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "request": {
            "$ref": "WebApp"
          },
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "webAppId": {
              "description": "The ID of the web app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "WebApp"
          },
          "parameterOrder": [
            "enterpriseId",
            "webAppId"
          ],
          "id": "androidenterprise.webapps.update",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}",
          "httpMethod": "PUT",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/webApps/{webAppId}"
        }
      }
    },
    "entitlements": {
      "methods": {
        "list": {
          "parameters": {
            "userId": {
              "required": true,
              "description": "The ID of the user.",
              "location": "path",
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "EntitlementsListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.entitlements.list",
          "description": "Lists all entitlements for the specified user. Only the ID is set. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ]
        },
        "get": {
          "parameters": {
            "entitlementId": {
              "type": "string",
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".",
              "required": true,
              "location": "path"
            },
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            },
            "userId": {
              "type": "string",
              "location": "path",
              "description": "The ID of the user.",
              "required": true
            }
          },
          "description": "Retrieves details of an entitlement. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "id": "androidenterprise.entitlements.get",
          "response": {
            "$ref": "Entitlement"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ]
        },
        "update": {
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "description": "Adds or updates an entitlement to an app for a user. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true
            },
            "entitlementId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\"."
            },
            "userId": {
              "description": "The ID of the user.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "install": {
              "description": "Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "request": {
            "$ref": "Entitlement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.entitlements.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Entitlement"
          }
        },
        "delete": {
          "parameterOrder": [
            "enterpriseId",
            "userId",
            "entitlementId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Removes an entitlement to an app for a user. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}",
          "id": "androidenterprise.entitlements.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "userId": {
              "type": "string",
              "description": "The ID of the user.",
              "location": "path",
              "required": true
            },
            "entitlementId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\"."
            }
          }
        }
      }
    },
    "products": {
      "methods": {
        "unapprove": {
          "httpMethod": "POST",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/unapprove",
          "parameters": {
            "productId": {
              "required": true,
              "location": "path",
              "description": "The ID of the product.",
              "type": "string"
            },
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the enterprise."
            }
          },
          "description": "Unapproves the specified product (and the relevant app permissions, if any) **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "id": "androidenterprise.products.unapprove",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ]
        },
        "generateApprovalUrl": {
          "httpMethod": "POST",
          "id": "androidenterprise.products.generateApprovalUrl",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "languageCode": {
              "description": "The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance \"en-US\".",
              "type": "string",
              "location": "query"
            },
            "productId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the product.",
              "required": true
            },
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl",
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "description": "Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product. Admins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. ",
          "response": {
            "$ref": "ProductsGenerateApprovalUrlResponse"
          }
        },
        "getAppRestrictionsSchema": {
          "httpMethod": "GET",
          "description": "Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.",
          "id": "androidenterprise.products.getAppRestrictionsSchema",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The ID of the enterprise."
            },
            "language": {
              "type": "string",
              "location": "query",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")."
            },
            "productId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The ID of the product."
            }
          },
          "response": {
            "$ref": "AppRestrictionsSchema"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema"
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "Product"
          },
          "id": "androidenterprise.products.get",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "parameters": {
            "language": {
              "location": "query",
              "type": "string",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")."
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "productId": {
              "location": "path",
              "description": "The ID of the product, e.g. \"app:com.google.android.gm\".",
              "type": "string",
              "required": true
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}",
          "description": "Retrieves details of a product for display to an enterprise admin.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ]
        },
        "getPermissions": {
          "response": {
            "$ref": "ProductPermissions"
          },
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.products.getPermissions",
          "httpMethod": "GET",
          "description": "Retrieves the Android app permissions required by this app.",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "type": "string",
              "description": "The ID of the enterprise.",
              "required": true
            },
            "productId": {
              "description": "The ID of the product.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/permissions"
        },
        "approve": {
          "parameterOrder": [
            "enterpriseId",
            "productId"
          ],
          "id": "androidenterprise.products.approve",
          "httpMethod": "POST",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
          "description": " Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000. To learn how to use managed Google Play to design and create a store layout to display approved products to your users, see Store Layout Design. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. ",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products/{productId}/approve",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "productId": {
              "description": "The ID of the product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ProductsApproveRequest"
          }
        },
        "list": {
          "response": {
            "$ref": "ProductsListResponse"
          },
          "httpMethod": "GET",
          "id": "androidenterprise.products.list",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/products",
          "description": "Finds approved products that match a query, or all approved products if there is no query. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations. ",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/products",
          "parameterOrder": [
            "enterpriseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise.",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "Defines how many results the list operation should return. The default number depends on the resource collection.",
              "type": "integer"
            },
            "token": {
              "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
              "location": "query",
              "type": "string"
            },
            "approved": {
              "location": "query",
              "description": "Specifies whether to search among all products (false) or among only products that have been approved (true). Only \"true\" is supported, and should be specified.",
              "type": "boolean"
            },
            "query": {
              "type": "string",
              "description": "The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).",
              "location": "query"
            },
            "language": {
              "type": "string",
              "description": "The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\"). Results are returned in the language best matching the preferred language.",
              "location": "query"
            }
          }
        }
      }
    },
    "storelayoutpages": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.storelayoutpages.get",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "parameters": {
            "pageId": {
              "required": true,
              "location": "path",
              "description": "The ID of the page.",
              "type": "string"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves details of a store page.",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "response": {
            "$ref": "StorePage"
          }
        },
        "delete": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "description": "Deletes a store page.",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "id": "androidenterprise.storelayoutpages.delete",
          "parameters": {
            "pageId": {
              "description": "The ID of the page.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "StoreLayoutPagesListResponse"
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "httpMethod": "GET",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true
            }
          },
          "description": "Retrieves the details of all pages in the store.",
          "id": "androidenterprise.storelayoutpages.list",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages"
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "description": "The ID of the enterprise.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "StorePage"
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "request": {
            "$ref": "StorePage"
          },
          "description": "Inserts a new store page.",
          "id": "androidenterprise.storelayoutpages.insert"
        },
        "update": {
          "httpMethod": "PUT",
          "id": "androidenterprise.storelayoutpages.update",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout/pages/{pageId}",
          "parameterOrder": [
            "enterpriseId",
            "pageId"
          ],
          "description": "Updates the content of a store page.",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise.",
              "location": "path"
            },
            "pageId": {
              "description": "The ID of the page.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "StorePage"
          },
          "response": {
            "$ref": "StorePage"
          }
        }
      }
    },
    "enterprises": {
      "methods": {
        "generateSignupUrl": {
          "id": "androidenterprise.enterprises.generateSignupUrl",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Generates a sign-up URL.",
          "response": {
            "$ref": "SignupInfo"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "androidenterprise/v1/enterprises/signupUrl",
          "path": "androidenterprise/v1/enterprises/signupUrl",
          "parameters": {
            "callbackUrl": {
              "type": "string",
              "description": "The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named \"enterpriseToken\" which will contain an opaque token to be used for the CompleteSignup request. Beware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.",
              "location": "query"
            },
            "adminEmail": {
              "description": "Optional. Email address used to prefill the admin field of the enterprise signup form. This value is a hint only and can be altered by the user. If `allowedDomains` is non-empty then this must belong to one of the `allowedDomains`.",
              "type": "string",
              "location": "query"
            },
            "allowedDomains": {
              "type": "string",
              "description": "Optional. A list of domains that are permitted for the admin email. The IT admin cannot enter an email address with a domain name that is not in this list. Subdomains of domains in this list are not allowed but can be allowed by adding a second entry which has `*.` prefixed to the domain name (e.g. *.example.com). If the field is not present or is an empty list then the IT admin is free to use any valid domain name. Personal email domains are always allowed, but will result in the creation of a managed Google Play Accounts enterprise.",
              "repeated": true,
              "location": "query"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Enterprise"
          },
          "description": "Retrieves the name and domain of an enterprise.",
          "parameterOrder": [
            "enterpriseId"
          ],
          "httpMethod": "GET",
          "id": "androidenterprise.enterprises.get",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}",
          "parameters": {
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "setStoreLayout": {
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "description": "The ID of the enterprise.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Sets the store layout for the enterprise. By default, storeLayoutType is set to \"basic\" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = \"custom\" and setting a homepage), the basic store layout is disabled.",
          "parameterOrder": [
            "enterpriseId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "request": {
            "$ref": "StoreLayout"
          },
          "id": "androidenterprise.enterprises.setStoreLayout",
          "response": {
            "$ref": "StoreLayout"
          },
          "httpMethod": "PUT"
        },
        "unenroll": {
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.unenroll",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise."
            }
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/unenroll",
          "description": "Unenrolls an enterprise from the calling EMM."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameterOrder": [
            "domain"
          ],
          "httpMethod": "GET",
          "description": "Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.",
          "response": {
            "$ref": "EnterprisesListResponse"
          },
          "flatPath": "androidenterprise/v1/enterprises",
          "path": "androidenterprise/v1/enterprises",
          "parameters": {
            "domain": {
              "location": "query",
              "description": "Required. The exact primary domain name of the enterprise to look up.",
              "required": true,
              "type": "string"
            }
          },
          "id": "androidenterprise.enterprises.list"
        },
        "setAccount": {
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            }
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/account",
          "description": "Sets the account that will be used to authenticate to the API as the enterprise.",
          "response": {
            "$ref": "EnterpriseAccount"
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "id": "androidenterprise.enterprises.setAccount",
          "httpMethod": "PUT",
          "request": {
            "$ref": "EnterpriseAccount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/account"
        },
        "generateEnterpriseUpgradeUrl": {
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/generateEnterpriseUpgradeUrl",
          "description": "Generates an enterprise upgrade URL to upgrade an existing managed Google Play Accounts enterprise to a managed Google domain. See the guide to upgrading an enterprise for more details.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "parameters": {
            "enterpriseId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The ID of the enterprise."
            },
            "adminEmail": {
              "location": "query",
              "type": "string",
              "description": "Optional. Email address used to prefill the admin field of the enterprise signup form as part of the upgrade process. This value is a hint only and can be altered by the user. Personal email addresses are not allowed. If `allowedDomains` is non-empty then this must belong to one of the `allowedDomains`."
            },
            "allowedDomains": {
              "description": "Optional. A list of domains that are permitted for the admin email. The IT admin cannot enter an email address with a domain name that is not in this list. Subdomains of domains in this list are not allowed but can be allowed by adding a second entry which has `*.` prefixed to the domain name (e.g. *.example.com). If the field is not present or is an empty list then the IT admin is free to use any valid domain name. Personal email domains are not allowed.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GenerateEnterpriseUpgradeUrlResponse"
          },
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/generateEnterpriseUpgradeUrl",
          "id": "androidenterprise.enterprises.generateEnterpriseUpgradeUrl",
          "parameterOrder": [
            "enterpriseId"
          ]
        },
        "createWebToken": {
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise.",
              "type": "string"
            }
          },
          "description": "Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the JavaScript API documentation for further information.",
          "request": {
            "$ref": "AdministratorWebTokenSpec"
          },
          "parameterOrder": [
            "enterpriseId"
          ],
          "response": {
            "$ref": "AdministratorWebToken"
          },
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.createWebToken",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/createWebToken",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "acknowledgeNotificationSet": {
          "httpMethod": "POST",
          "id": "androidenterprise.enterprises.acknowledgeNotificationSet",
          "parameterOrder": [],
          "flatPath": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
          "parameters": {
            "notificationSetId": {
              "location": "query",
              "description": "The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.",
              "type": "string"
            }
          },
          "description": "Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.",
          "path": "androidenterprise/v1/enterprises/acknowledgeNotificationSet",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "completeSignup": {
          "path": "androidenterprise/v1/enterprises/completeSignup",
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/completeSignup",
          "id": "androidenterprise.enterprises.completeSignup",
          "response": {
            "$ref": "Enterprise"
          },
          "parameters": {
            "completionToken": {
              "type": "string",
              "location": "query",
              "description": "The Completion token initially returned by GenerateSignupUrl."
            },
            "enterpriseToken": {
              "type": "string",
              "description": "The Enterprise token appended to the Callback URL.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token."
        },
        "getServiceAccount": {
          "response": {
            "$ref": "ServiceAccount"
          },
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The ID of the enterprise."
            },
            "keyType": {
              "type": "string",
              "enumDescriptions": [
                "Google Credentials File format.",
                "PKCS12 format. The password for the PKCS12 file is 'notasecret'. For more information, see https://tools.ietf.org/html/rfc7292. The data for keys of this type are base64 encoded according to RFC 4648 Section 4. See http://tools.ietf.org/html/rfc4648#section-4."
              ],
              "enum": [
                "googleCredentials",
                "pkcs12"
              ],
              "location": "query",
              "description": "The type of credential to return with the service account. Required."
            }
          },
          "id": "androidenterprise.enterprises.getServiceAccount",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
          "httpMethod": "GET",
          "description": "Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side. This method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error. Subsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials. Once the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource. *Note:* After you create a key, you might need to wait for 60 seconds or more before you perform another operation with the key. If you try to perform an operation with the key immediately after you create the key, and you receive an error, you can retry the request with exponential backoff .",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/serviceAccount",
          "parameterOrder": [
            "enterpriseId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "pullNotificationSet": {
          "path": "androidenterprise/v1/enterprises/pullNotificationSet",
          "parameterOrder": [],
          "flatPath": "androidenterprise/v1/enterprises/pullNotificationSet",
          "parameters": {
            "requestMode": {
              "type": "string",
              "enumDescriptions": [
                "Wait until one or more notifications are present.",
                "Returns immediately whether notifications are present or not."
              ],
              "location": "query",
              "enum": [
                "waitForNotifications",
                "returnImmediately"
              ],
              "description": "The request mode for pulling notifications. Specifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time. Specifying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present. If omitted, defaults to waitForNotifications."
            }
          },
          "description": "Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending. A notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty. Notifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy. Multiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending. If no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "id": "androidenterprise.enterprises.pullNotificationSet",
          "response": {
            "$ref": "NotificationSet"
          },
          "httpMethod": "POST"
        },
        "enroll": {
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "response": {
            "$ref": "Enterprise"
          },
          "parameters": {
            "token": {
              "required": true,
              "location": "query",
              "description": "Required. The token provided by the enterprise to register the EMM.",
              "type": "string"
            }
          },
          "id": "androidenterprise.enterprises.enroll",
          "path": "androidenterprise/v1/enterprises/enroll",
          "parameterOrder": [
            "token"
          ],
          "request": {
            "$ref": "Enterprise"
          },
          "description": "Enrolls an enterprise with the calling EMM.",
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/enroll"
        },
        "sendTestPushNotification": {
          "httpMethod": "POST",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/sendTestPushNotification",
          "parameterOrder": [
            "enterpriseId"
          ],
          "description": "Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.",
          "parameters": {
            "enterpriseId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The ID of the enterprise."
            }
          },
          "response": {
            "$ref": "EnterprisesSendTestPushNotificationResponse"
          },
          "id": "androidenterprise.enterprises.sendTestPushNotification",
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ]
        },
        "getStoreLayout": {
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout",
          "httpMethod": "GET",
          "parameterOrder": [
            "enterpriseId"
          ],
          "id": "androidenterprise.enterprises.getStoreLayout",
          "response": {
            "$ref": "StoreLayout"
          },
          "description": "Returns the store layout for the enterprise. If the store layout has not been set, returns \"basic\" as the store layout type and no homepage.",
          "parameters": {
            "enterpriseId": {
              "location": "path",
              "description": "The ID of the enterprise.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/storeLayout"
        }
      }
    },
    "users": {
      "methods": {
        "insert": {
          "description": "Creates a new EMM-managed user. The Users resource passed in the body of the request should include an accountIdentifier and an accountType. If a corresponding user already exists with the same account identifier, the user will be updated with the resource. In this case only the displayName field can be changed.",
          "parameters": {
            "enterpriseId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The ID of the enterprise."
            }
          },
          "id": "androidenterprise.users.insert",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "httpMethod": "POST",
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "enterpriseId"
          ]
        },
        "setAvailableProductSet": {
          "response": {
            "$ref": "ProductSet"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidenterprise"
          ],
          "description": "Modifies the set of products that a user is entitled to access (referred to as *whitelisted* products). Only products that are approved or products that were previously approved (products with revoked approval) can be whitelisted. **Note:** This item has been deprecated. New integrations cannot use this method and can refer to our new recommendations.",
          "parameters": {
            "userId": {
              "description": "The ID of the user.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "enterpriseId": {
              "description": "The ID of the enterprise.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "androidenterprise.users.setAvailableProductSet",
          "flatPath": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet",
          "request": {
            "$ref": "ProductSet"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "enterpriseId",
            "userId"
          ],
          "path": "androidenterprise/v1/enterprises/{enterpriseId}/users/{userId}/availableProductSet"
        },
        "list": {
          "id": "androidenterprise.users.list",
          "response": {
            "$ref": "UsersListResponse"
          },
          "httpMethod": "GET",
[...]
