{
  "canonicalName": "Android Provisioning Partner",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "schemas": {
    "CreateCustomerRequest": {
      "description": "Request message to create a customer.",
      "type": "object",
      "properties": {
        "customer": {
          "$ref": "Company",
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty."
        }
      },
      "id": "CreateCustomerRequest"
    },
    "GetDeviceSimLockStateRequest": {
      "id": "GetDeviceSimLockStateRequest",
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "description": "Request to get a device's SIM lock status."
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "id": "PartnerUnclaim",
      "type": "object",
      "properties": {
        "vacationModeExpireTime": {
          "type": "string",
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "format": "int32",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer"
        }
      }
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The device ID returned by `ClaimDevice`."
        }
      },
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device."
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "properties": {
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Request to find devices.",
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest"
    },
    "PartnerClaim": {
      "type": "object",
      "description": "Identifies one claim request.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "configurationId": {
          "type": "string",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string"
        }
      },
      "id": "PartnerClaim"
    },
    "CustomerRemoveConfigurationRequest": {
      "description": "Request message for customer to remove the configuration from device.",
      "id": "CustomerRemoveConfigurationRequest",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "id": "ClaimDevicesRequest",
      "properties": {
        "claims": {
          "type": "array",
          "description": "Required. A list of device claims.",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      },
      "type": "object"
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "id": "ClaimDeviceRequest",
      "properties": {
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "simlockProfileId": {
          "format": "int64",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string"
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "sectionType": {
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "type": "string",
          "description": "Required. The section type of the device's provisioning record."
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCustomersResponse": {
      "type": "object",
      "properties": {
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Response message of all customers related to this partner.",
      "id": "ListCustomersResponse"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "devices": {
          "description": "Found devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        }
      },
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "type": "object"
    },
    "CustomerUnclaimDeviceRequest": {
      "type": "object",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "id": "CustomerUnclaimDeviceRequest"
    },
    "DeviceMetadata": {
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateDeviceMetadataRequest": {
      "description": "Request to set metadata for a device.",
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "PerDeviceStatusInBatch": {
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "If processing succeeds, the device ID of the device."
        },
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "type": "string",
          "description": "The result status of the device after processing.",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ]
        },
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        }
      },
      "id": "PerDeviceStatusInBatch",
      "type": "object",
      "description": "Captures the processing status for each device in the operation."
    },
    "CustomerListDevicesResponse": {
      "id": "CustomerListDevicesResponse",
      "type": "object",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "description": "Response message of customer's liting devices."
    },
    "DevicesLongRunningOperationMetadata": {
      "properties": {
        "processingStatus": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "description": "The processing status of the operation.",
          "type": "string"
        },
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32",
          "type": "integer"
        },
        "progress": {
          "format": "int32",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "type": "integer"
        }
      },
      "id": "DevicesLongRunningOperationMetadata",
      "type": "object",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations)."
    },
    "DeviceIdentifier": {
      "id": "DeviceIdentifier",
      "type": "object",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "imei": {
          "type": "string",
          "description": "The device’s IMEI number. Validated on input."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "imei2": {
          "description": "The device’s second IMEI number.",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.",
          "type": "string"
        },
        "deviceType": {
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device",
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android mobile and Desktop except Googlebooks and Chromebooks",
            "Chrome OS device"
          ]
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        }
      }
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "updateMetadata": {
          "$ref": "UpdateMetadataArguments",
          "description": "A copy of the original metadata-update request received by the server."
        },
        "unclaim": {
          "$ref": "PartnerUnclaim",
          "description": "A copy of the original device-unclaim request received by the server."
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        }
      },
      "type": "object",
      "id": "OperationPerDevice"
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "properties": {
        "unclaims": {
          "type": "array",
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          }
        }
      },
      "description": "Request to unclaim devices asynchronously in batch.",
      "type": "object"
    },
    "CustomerListCustomersResponse": {
      "id": "CustomerListCustomersResponse",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "The customer accounts the calling user is a member of."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for listing my customers."
    },
    "DeviceReference": {
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceId": {
          "description": "The ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "DeviceReference",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "properties": {
        "configurations": {
          "type": "array",
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          }
        }
      },
      "type": "object",
      "description": "Response message of customer's listing configuration.",
      "id": "CustomerListConfigurationsResponse"
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "description": "A Google Workspace customer.",
      "id": "GoogleWorkspaceAccount",
      "properties": {
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        },
        "preProvisioningTokens": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "contactEmail": {
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.",
          "type": "string"
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "forcedResetTime": {
          "type": "string",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "format": "google-duration"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        }
      },
      "id": "Configuration",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases."
    },
    "ListVendorCustomersResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers of the vendor."
        }
      },
      "description": "Response message to list customers of the vendor.",
      "id": "ListVendorCustomersResponse"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "type": "array",
          "items": {
            "$ref": "UpdateMetadataArguments"
          }
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object",
      "description": "Request to update device metadata in batch."
    },
    "CustomerApplyConfigurationRequest": {
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        },
        "configuration": {
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        }
      },
      "description": "Request message for customer to assign a configuration to device.",
      "id": "CustomerApplyConfigurationRequest",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "DeviceClaim": {
      "type": "object",
      "properties": {
        "vacationModeStartTime": {
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "resellerId": {
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64",
          "type": "string"
        },
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "description": "Output only. The type of claim made on the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        },
        "additionalService": {
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ],
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ]
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "type": "string"
        }
      },
      "id": "DeviceClaim",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim)."
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "type": "object",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to update."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "UpdateMetadataArguments"
    },
    "Dpc": {
      "type": "object",
      "id": "Dpc",
      "properties": {
        "dpcName": {
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play."
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object",
      "properties": {
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        },
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "ClaimDeviceResponse": {
      "properties": {
        "deviceId": {
          "format": "int64",
          "description": "The device ID of the claimed device.",
          "type": "string"
        },
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        }
      },
      "description": "Response message containing device id of the claim.",
      "type": "object",
      "id": "ClaimDeviceResponse"
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "type": "object",
      "properties": {
        "dpcs": {
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "type": "array",
          "items": {
            "$ref": "Dpc"
          }
        }
      },
      "id": "CustomerListDpcsResponse"
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices."
    },
    "Device": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata)."
        },
        "claims": {
          "type": "array",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true,
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment."
        },
        "deviceId": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "type": "string"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        }
      },
      "id": "Device",
      "description": "An Android or Chrome OS device registered for zero-touch enrollment."
    },
    "FindDevicesByOwnerRequest": {
      "id": "FindDevicesByOwnerRequest",
      "description": "Request to find devices by customers.",
      "type": "object",
      "properties": {
        "limit": {
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "type": "array"
        },
        "customerId": {
          "type": "array",
          "description": "The list of customer IDs to search for.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string"
        }
      }
    },
    "ListVendorsResponse": {
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "vendors": {
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      },
      "description": "Response message to list vendors of the partner.",
      "type": "object",
      "id": "ListVendorsResponse"
    },
    "GetDeviceSimLockStateResponse": {
      "description": "Response containing a device's SimLock state.",
      "id": "GetDeviceSimLockStateResponse",
      "properties": {
        "simLockState": {
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ]
        }
      },
      "type": "object"
    },
    "Company": {
      "properties": {
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "termsStatus": {
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus."
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "companyId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "googleWorkspaceAccount": {
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. Deprecated: This field is no longer supported and is ignored by the server.",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "id": "Company"
    }
  },
  "title": "Android Device Provisioning Partner API",
  "kind": "discovery#restDescription",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "fullyEncodeReservedExpansion": true,
  "id": "androiddeviceprovisioning:v1",
  "revision": "20260915",
  "resources": {
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "path": "v1/partners/{+partnerId}/customers",
              "httpMethod": "GET",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "type": "string",
                  "format": "int64"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "type": "integer"
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListCustomersResponse"
              }
            },
            "create": {
              "id": "androiddeviceprovisioning.partners.customers.create",
              "response": {
                "$ref": "Company"
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "type": "string"
                }
              },
              "flatPath": "v1/partners/{partnersId}/customers",
              "path": "v1/{+parent}/customers",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CreateCustomerRequest"
              }
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "description": "Lists the customers of the vendor.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customers",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists the vendors of the partner.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/vendors",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "pattern": "^partners/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to be returned."
                }
              },
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "path": "v1/{+parent}/vendors"
            }
          }
        },
        "devices": {
          "methods": {
            "getSimLockState": {
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "Required. The ID of the partner.",
                  "pattern": "^[^/]+$"
                }
              },
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "description": "Gets a device's SIM lock state.",
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:getSimLockState"
            },
            "findByOwner": {
              "httpMethod": "POST",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "claimAsync": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "response": {
                "$ref": "Operation"
              },
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync"
            },
            "findByIdentifier": {
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Gets a device.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+/devices/[^/]+$"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              }
            },
            "unclaimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID."
                }
              }
            },
            "updateMetadataAsync": {
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaim": {
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "id": "androiddeviceprovisioning.partners.devices.unclaim"
            },
            "claim": {
              "path": "v1/partners/{+partnerId}/devices:claim",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "format": "int64",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "httpMethod": "POST",
              "request": {
                "$ref": "ClaimDeviceRequest"
              }
            },
            "metadata": {
              "httpMethod": "POST",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "parameters": {
                "deviceId": {
                  "description": "Required. The ID of the device.",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "required": true
                },
                "metadataOwnerId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID."
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "id": "androiddeviceprovisioning.operations.get",
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource."
            }
          },
          "path": "v1/{+name}"
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "path": "v1/customers",
          "id": "androiddeviceprovisioning.customers.list",
          "description": "Lists the user's customer accounts.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "v1/customers",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive)."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator"
            }
          },
          "response": {
            "$ref": "CustomerListCustomersResponse"
          }
        }
      },
      "resources": {
        "dpcs": {
          "methods": {
            "list": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "path": "v1/{+parent}/dpcs"
            }
          }
        },
        "configurations": {
          "methods": {
            "delete": {
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "description": "Updates a configuration's field values.",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            },
            "list": {
              "flatPath": "v1/customers/{customersId}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "description": "Lists a customer's configurations.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/configurations"
            },
            "get": {
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Gets the details of a configuration.",
              "response": {
                "$ref": "Configuration"
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/configurations"
            }
          }
        },
        "devices": {
          "methods": {
            "unclaim": {
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:unclaim"
            },
            "applyConfiguration": {
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              },
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "id": "androiddeviceprovisioning.customers.devices.list",
              "flatPath": "v1/customers/{customersId}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/devices",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of devices to show in a page of results. If unset or `0`, defaults to `5000`. If a value greater than `10000` is specified, it will be coerced to `10000`.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token specifying which result page to return."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Lists a customer's devices."
            },
            "removeConfiguration": {
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Removes a configuration from device.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "pattern": "^customers/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "response": {
                "$ref": "Device"
              },
              "description": "Gets the details of a device.",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "type": "string",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "androiddeviceprovisioning.customers.devices.get"
            }
          }
        }
      }
    }
  },
  "name": "androiddeviceprovisioning",
  "version": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "protocol": "rest",
  "version_module": true,
  "basePath": "",
  "ownerName": "Google",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  }
}