{
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "version": "v3",
  "basePath": "",
  "resources": {
    "apprecovery": {
      "methods": {
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "AppRecoveryAction"
          },
          "id": "androidpublisher.apprecovery.create",
          "parameters": {
            "packageName": {
              "description": "Required. Package name of the app on which recovery action is performed.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "CreateDraftAppRecoveryRequest"
          },
          "description": "Create an app recovery action with recovery status as DRAFT. Note that this action does not execute the recovery action."
        },
        "list": {
          "httpMethod": "GET",
          "id": "androidpublisher.apprecovery.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries",
          "description": "List all app recovery action resources associated with a particular package name and app version.",
          "response": {
            "$ref": "ListAppRecoveriesResponse"
          },
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Required. Package name of the app for which list of recovery actions is requested.",
              "required": true,
              "location": "path"
            },
            "versionCode": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Required. Version code targeted by the list of recovery actions."
            }
          }
        },
        "deploy": {
          "response": {
            "$ref": "DeployAppRecoveryResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "parameters": {
            "appRecoveryId": {
              "type": "string",
              "format": "int64",
              "description": "Required. ID corresponding to the app recovery action to deploy.",
              "required": true,
              "location": "path"
            },
            "packageName": {
              "required": true,
              "description": "Required. Package name of the app for which recovery action is deployed.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "DeployAppRecoveryRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deploy an already created app recovery action with recovery status DRAFT. Note that this action activates the recovery action for all targeted users and changes its status to ACTIVE.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:deploy",
          "id": "androidpublisher.apprecovery.deploy"
        },
        "cancel": {
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "description": "Cancel an already executing app recovery action. Note that this action changes status of the recovery action to CANCELED.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:cancel",
          "request": {
            "$ref": "CancelAppRecoveryRequest"
          },
          "response": {
            "$ref": "CancelAppRecoveryResponse"
          },
          "id": "androidpublisher.apprecovery.cancel",
          "parameters": {
            "appRecoveryId": {
              "type": "string",
              "description": "Required. ID corresponding to the app recovery action.",
              "format": "int64",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Required. Package name of the app for which recovery action cancellation is requested.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "addTargeting": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "description": "Incrementally update targeting for a recovery action. Note that only the criteria selected during the creation of recovery action can be expanded.",
          "parameterOrder": [
            "packageName",
            "appRecoveryId"
          ],
          "parameters": {
            "appRecoveryId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "Required. ID corresponding to the app recovery action.",
              "location": "path"
            },
            "packageName": {
              "location": "path",
              "description": "Required. Package name of the app for which recovery action is to be updated.",
              "required": true,
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/appRecoveries/{appRecoveryId}:addTargeting",
          "id": "androidpublisher.apprecovery.addTargeting",
          "request": {
            "$ref": "AddTargetingRequest"
          },
          "response": {
            "$ref": "AddTargetingResponse"
          }
        }
      }
    },
    "appstorecatalog": {
      "resources": {
        "recentupdateevents": {
          "methods": {
            "list": {
              "parameters": {
                "appStorePackageName": {
                  "type": "string",
                  "description": "Required. The package name of the app store on behalf of which the request is made.",
                  "required": true,
                  "location": "path"
                },
                "endTime": {
                  "description": "Required. The end time of the range (exclusive).",
                  "format": "google-datetime",
                  "type": "string",
                  "location": "query"
                },
                "startTime": {
                  "description": "Required. The start time of the range (inclusive).",
                  "location": "query",
                  "format": "google-datetime",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of update events to return. The service may return fewer than this value. If unspecified, at most 100 update events will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListRecentUpdateEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListRecentUpdateEvents` must match the call that provided the page token."
                }
              },
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "description": "Lists update events for eligible apps in the given time range.",
              "parameterOrder": [
                "appStorePackageName"
              ],
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentUpdateEvents",
              "id": "androidpublisher.appstorecatalog.recentupdateevents.list",
              "response": {
                "$ref": "ListRecentUpdateEventsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "recentappviews": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "RecentAppView"
              },
              "description": "Returns metadata about a recently updated app.",
              "parameters": {
                "playAppPackageName": {
                  "description": "Required. The package name of the requested Play app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "appStorePackageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The package name of the app store on behalf of which the request is made."
                }
              },
              "id": "androidpublisher.appstorecatalog.recentappviews.get",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "flatPath": "androidpublisher/v3/appstorecatalog/{appStorePackageName}/recentAppViews/{playAppPackageName}",
              "parameterOrder": [
                "appStorePackageName",
                "playAppPackageName"
              ]
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "download": {
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "supportsMediaDownload": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.download",
              "useMediaDownloadService": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path"
                },
                "variantId": {
                  "format": "uint32",
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "type": "integer",
                  "required": true
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              }
            },
            "create": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Package name of the app.",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "type": "string",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "description": "The version code of the App Bundle."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.create",
              "response": {
                "$ref": "Variant"
              },
              "httpMethod": "POST",
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "request": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "androidpublisher.systemapks.variants.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "description": "Returns the list of previously created system APK variants.",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "format": "int64",
                  "description": "The version code of the App Bundle."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants"
            },
            "get": {
              "response": {
                "$ref": "Variant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "GET",
              "description": "Returns a previously created system APK variant.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "id": "androidpublisher.systemapks.variants.get",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "variantId": {
                  "location": "path",
                  "type": "integer",
                  "required": true,
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32"
                },
                "versionCode": {
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle."
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}"
            }
          }
        }
      }
    },
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "parameters": {
            "packageName": {
              "location": "path",
              "description": "Required. The app package name.",
              "type": "string",
              "required": true
            }
          },
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "httpMethod": "POST",
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "id": "androidpublisher.monetization.convertRegionPrices",
          "parameterOrder": [
            "packageName"
          ]
        }
      },
      "resources": {
        "onetimeproducts": {
          "methods": {
            "get": {
              "parameters": {
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) of the product to retrieve."
                },
                "productId": {
                  "location": "path",
                  "description": "Required. The product ID of the product to retrieve.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "OneTimeProduct"
              },
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "httpMethod": "GET",
              "description": "Reads a single one-time product."
            },
            "batchUpdate": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "required": true
                }
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "parameterOrder": [
                "packageName"
              ],
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "description": "Creates or updates one or more one-time products."
            },
            "patch": {
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "parameters": {
                "allowMissing": {
                  "type": "boolean",
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "location": "query"
                },
                "productId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "location": "path"
                },
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ]
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "packageName": {
                  "type": "string",
                  "description": "Required. Immutable. Package name of the parent app.",
                  "location": "path",
                  "required": true
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "OneTimeProduct"
              },
              "httpMethod": "PATCH",
              "description": "Creates or updates a one-time product.",
              "response": {
                "$ref": "OneTimeProduct"
              }
            },
            "batchDelete": {
              "description": "Deletes one or more one-time products.",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "parameterOrder": [
                "packageName"
              ]
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Required. The parent app (package name) for which the one-time product should be read.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "description": "Lists all one-time products under a given app.",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Deletes a one-time product.",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "id": "androidpublisher.monetization.onetimeproducts.delete",
              "parameters": {
                "productId": {
                  "required": true,
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "type": "string",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "type": "string",
                  "location": "path"
                },
                "latencyTolerance": {
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ]
                }
              }
            },
            "batchGet": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "description": "Reads one or more one-time products.",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "required": true
                },
                "productIds": {
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchDelete": {
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "productId": {
                      "location": "path",
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior."
                },
                "batchUpdateStates": {
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                    },
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ]
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "batchDelete": {
                      "description": "Deletes one or more one-time product offers.",
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "productId": {
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete"
                    },
                    "batchUpdateStates": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "location": "path"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "httpMethod": "POST",
                      "description": "Updates a batch of one-time product offer states.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      }
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "description": "Cancels a one-time product offer.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "parameters": {
                        "offerId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The offer ID of the offer to cancel.",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      }
                    },
                    "batchGet": {
                      "description": "Reads one or more one-time product offers.",
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameters": {
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources."
                        }
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "activate": {
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "httpMethod": "POST",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "description": "Activates a one-time product offer.",
                      "parameters": {
                        "purchaseOptionId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "required": true
                        },
                        "offerId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The offer ID of the offer to activate."
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent one-time product (ID) of the offer to activate."
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ]
                    },
                    "list": {
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "httpMethod": "GET",
                      "parameters": {
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "packageName": {
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "required": true,
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'."
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "description": "Lists all offers under a given app, product, or purchase option."
                    },
                    "batchUpdate": {
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\"."
                        }
                      },
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Creates or updates one or more one-time product offers.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "httpMethod": "POST"
                    },
                    "deactivate": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "description": "Deactivates a one-time product offer.",
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "location": "path"
                        },
                        "offerId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The offer ID of the offer to deactivate."
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate"
                    }
                  }
                }
              }
            }
          }
        },
        "subscriptions": {
          "resources": {
            "basePlans": {
              "methods": {
                "batchMigratePrices": {
                  "description": "Batch variant of the MigrateBasePlanPrices endpoint. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the Subscription resources.",
                      "location": "path"
                    },
                    "productId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set."
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchMigratePrices",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "response": {
                    "$ref": "BatchMigrateBasePlanPricesResponse"
                  },
                  "request": {
                    "$ref": "BatchMigrateBasePlanPricesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ]
                },
                "deactivate": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "response": {
                    "$ref": "Subscription"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "parameters": {
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to deactivate.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the base plan to deactivate."
                    },
                    "productId": {
                      "location": "path",
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "parameters": {
                    "productId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent subscription (ID) of the base plan to delete.",
                      "required": true
                    },
                    "basePlanId": {
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "packageName": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to delete."
                    }
                  }
                },
                "batchUpdateStates": {
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdateBasePlanStatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  },
                  "description": "Activates or deactivates base plans across one or multiple subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "parameters": {
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated base plans belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated base plans.",
                      "required": true
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchUpdateStates"
                },
                "activate": {
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to activate.",
                      "location": "path"
                    },
                    "basePlanId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The unique base plan ID of the base plan to activate."
                    },
                    "productId": {
                      "location": "path",
                      "description": "Required. The parent subscription (ID) of the base plan to activate.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "Subscription"
                  },
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "httpMethod": "POST"
                },
                "migratePrices": {
                  "parameters": {
                    "productId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "location": "path"
                    },
                    "basePlanId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The unique base plan ID of the base plan to update prices on.",
                      "required": true
                    },
                    "packageName": {
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.patch",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "description": "Updates an existing subscription offer.",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
                          "type": "string"
                        },
                        "basePlanId": {
                          "required": true,
                          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. The list of fields to be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "allowMissing": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored."
                        },
                        "regionsVersion.version": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                        },
                        "latencyTolerance": {
                          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                          "location": "query",
                          "enumDescriptions": [
                            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                          ],
                          "enum": [
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                          ],
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}"
                    },
                    "batchUpdateStates": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Updates a batch of subscription offer states. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdateStates",
                      "parameters": {
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent base plan (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple base plans.",
                          "required": true
                        },
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent app (package name) of the updated subscription offers. Must be equal to the package_name field on all the updated SubscriptionOffer resources.",
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "request": {
                        "$ref": "BatchUpdateSubscriptionOfferStatesRequest"
                      },
                      "response": {
                        "$ref": "BatchUpdateSubscriptionOfferStatesResponse"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchUpdateStates",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdateStates"
                    },
                    "batchGet": {
                      "response": {
                        "$ref": "BatchGetSubscriptionOffersResponse"
                      },
                      "description": "Reads one or more subscription offers.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchGetSubscriptionOffersRequest"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchGet",
                      "parameters": {
                        "basePlanId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read offers from multiple base plans."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the requests.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ]
                    },
                    "create": {
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.create",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent subscription (ID) for which the offer should be created. Must be equal to the product_id field on the SubscriptionOffer resource."
                        },
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent base plan (ID) for which the offer should be created. Must be equal to the base_plan_id field on the SubscriptionOffer resource."
                        },
                        "offerId": {
                          "description": "Required. The ID to use for the offer. For the requirements on this format, see the documentation of the offer_id field on the SubscriptionOffer resource.",
                          "location": "query",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) for which the offer should be created. Must be equal to the package_name field on the Subscription resource.",
                          "location": "path"
                        },
                        "regionsVersion.version": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                        }
                      },
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "description": "Creates a new subscription offer. Only auto-renewing base plans can have subscription offers. The offer state will be DRAFT until it is activated."
                    },
                    "get": {
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.get",
                      "httpMethod": "GET",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "description": "Reads a single offer",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "parameters": {
                        "basePlanId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent base plan (ID) of the offer to get.",
                          "required": true
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) of the offer to get.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to get.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to get.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "batchUpdate": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchUpdate",
                      "request": {
                        "$ref": "BatchUpdateSubscriptionOffersRequest"
                      },
                      "response": {
                        "$ref": "BatchUpdateSubscriptionOffersResponse"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate",
                      "description": "Updates a batch of subscription offers. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated subscription offers. Must be equal to the package_name field on all the updated SubscriptionOffer resources.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "basePlanId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent base plan (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple base plans."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "activate": {
                      "parameters": {
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to activate.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "location": "path"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent subscription (ID) of the offer to activate."
                        },
                        "basePlanId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent base plan (ID) of the offer to activate.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "description": "Activates a subscription offer. Once activated, subscription offers will be available to new subscribers.",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.activate",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ActivateSubscriptionOfferRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "parameters": {
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to delete.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "description": "Required. The parent subscription (ID) of the offer to delete.",
                          "required": true,
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to delete."
                        },
                        "basePlanId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent base plan (ID) of the offer to delete.",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a subscription offer. Can only be done for draft offers. This action is irreversible.",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.delete"
                    },
                    "list": {
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.list",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "parameters": {
                        "basePlanId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read all offers under a subscription or an app. Must be specified as '-' if product_id is specified as '-'."
                        },
                        "pageSize": {
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "productId": {
                          "location": "path",
                          "description": "Required. The parent subscription (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the subscriptions should be read."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListSubscriptionsOffers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptionOffers` must match the call that provided the page token."
                        }
                      },
                      "description": "Lists all offers under a given subscription.",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "response": {
                        "$ref": "ListSubscriptionOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "httpMethod": "GET"
                    },
                    "deactivate": {
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.deactivate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "DeactivateSubscriptionOfferRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "description": "Deactivates a subscription offer. Once deactivated, existing subscribers will maintain their subscription, but the offer will become unavailable to new subscribers.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "offerId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The unique offer ID of the offer to deactivate.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.monetization.subscriptions.list",
              "response": {
                "$ref": "ListSubscriptionsResponse"
              },
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the subscriptions should be read."
                },
                "showArchived": {
                  "deprecated": true,
                  "location": "query",
                  "type": "boolean",
                  "description": "Deprecated: subscription archiving is not supported."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "description": "Lists all subscriptions under a given app."
[...]
