{
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "canonicalName": "Android Enterprise",
  "description": "Manages the deployment of apps to Android Enterprise devices.",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidenterprise.googleapis.com/",
  "name": "androidenterprise",
  "batchPath": "batch",
  "revision": "20260826",
  "ownerName": "Google",
  "version": "v1",
  "id": "androidenterprise:v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidenterprise": {
          "description": "Manage corporate Android devices"
        }
      }
    }
  },
  "mtlsRootUrl": "https://androidenterprise.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "schemas": {
    "AppUpdateEvent": {
      "type": "object",
      "description": "An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.",
      "id": "AppUpdateEvent",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field will always be present."
        }
      }
    },
    "AppRestrictionsSchemaChangeEvent": {
      "id": "AppRestrictionsSchemaChangeEvent",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API."
    },
    "AdministratorWebTokenSpecPrivateApps": {
      "id": "AdministratorWebTokenSpecPrivateApps",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Private Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      }
    },
    "Enterprise": {
      "type": "object",
      "description": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: - For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. - For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.",
      "id": "Enterprise",
      "properties": {
        "enterpriseType": {
          "type": "string",
          "enum": [
            "enterpriseTypeUnspecified",
            "managedGoogleDomain",
            "managedGooglePlayAccountsEnterprise"
          ],
          "enumDescriptions": [
            "This value is not used.",
            "The enterprise belongs to a managed Google domain.",
            "The enterprise is a managed Google Play Accounts enterprise."
          ],
          "description": "The type of the enterprise."
        },
        "name": {
          "description": "The name of the enterprise, for example, \"Example, Inc\".",
          "type": "string"
        },
        "primaryDomain": {
          "type": "string",
          "description": "The enterprise's primary domain, such as \"example.com\"."
        },
        "googleAuthenticationSettings": {
          "$ref": "GoogleAuthenticationSettings",
          "readOnly": true,
          "description": "Output only. Settings for Google-provided user authentication."
        },
        "administrator": {
          "type": "array",
          "items": {
            "$ref": "Administrator"
          },
          "description": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow."
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the enterprise."
        },
        "managedGoogleDomainType": {
          "enumDescriptions": [
            "The managed Google domain type is not specified.",
            "The managed Google domain is an email-verified team.",
            "The managed Google domain is domain-verified."
          ],
          "type": "string",
          "enum": [
            "managedGoogleDomainTypeUnspecified",
            "typeTeam",
            "typeDomain"
          ],
          "description": "The type of managed Google domain"
        }
      }
    },
    "LocalizedText": {
      "description": "A localized string with its locale.",
      "type": "object",
      "id": "LocalizedText",
      "properties": {
        "locale": {
          "description": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\").",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The text localized in the associated locale."
        }
      }
    },
    "Install": {
      "id": "Install",
      "properties": {
        "productId": {
          "description": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        },
        "versionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\"."
        },
        "installState": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only.",
          "type": "string",
          "enum": [
            "installed",
            "installPending"
          ]
        }
      },
      "type": "object",
      "description": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending). The API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails. The API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version. Note that it is not possible to force the installation of a specific version of an app: the version code is read-only. If a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created. The API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves."
    },
    "StoreLayoutPagesListResponse": {
      "id": "StoreLayoutPagesListResponse",
      "type": "object",
      "properties": {
        "page": {
          "type": "array",
          "items": {
            "$ref": "StorePage"
          },
          "description": "A store page of an enterprise."
        }
      }
    },
    "ManagedProperty": {
      "description": "A managed property of a managed configuration. The property must match one of the properties in the app restrictions schema of the product. Exactly one of the value fields must be populated, and it must match the property's type in the app restrictions schema.",
      "type": "object",
      "properties": {
        "valueBundleArray": {
          "items": {
            "$ref": "ManagedPropertyBundle"
          },
          "type": "array",
          "description": "The list of bundles of properties - this will only be present if type of the property is bundle_array."
        },
        "key": {
          "description": "The unique key that identifies the property.",
          "type": "string"
        },
        "valueStringArray": {
          "description": "The list of string values - this will only be present if type of the property is multiselect.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "valueInteger": {
          "format": "int32",
          "description": "The integer value - this will only be present if type of the property is integer.",
          "type": "integer"
        },
        "valueBundle": {
          "description": "The bundle of managed properties - this will only be present if type of the property is bundle.",
          "$ref": "ManagedPropertyBundle"
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type of the property is bool.",
          "type": "boolean"
        },
        "valueString": {
          "type": "string",
          "description": "The string value - this will only be present if type of the property is string, choice or hidden."
        }
      },
      "id": "ManagedProperty"
    },
    "Entitlement": {
      "type": "object",
      "id": "Entitlement",
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations. ",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses.",
          "type": "string",
          "enum": [
            "free",
            "groupLicense",
            "userPurchase"
          ]
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\"."
        }
      }
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users."
        },
        "accountIdentifier": {
          "type": "string",
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "description": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users."
        },
        "accountType": {
          "type": "string",
          "enum": [
            "deviceAccount",
            "userAccount"
          ],
          "description": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount.",
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "managementType": {
          "description": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "googleManaged",
            "emmManaged"
          ]
        },
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts. @mutable androidenterprise.users.update",
          "type": "string"
        }
      },
      "description": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: - The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). - The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play. "
    },
    "ProductPermissions": {
      "id": "ProductPermissions",
      "type": "object",
      "properties": {
        "permission": {
          "description": "The permissions required by the app.",
          "type": "array",
          "items": {
            "$ref": "ProductPermission"
          }
        },
        "productId": {
          "description": "The ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\".",
          "type": "string"
        }
      },
      "description": "Information about the permissions required by a specific app and whether they have been accepted by the enterprise."
    },
    "AdministratorWebTokenSpecZeroTouch": {
      "id": "AdministratorWebTokenSpecZeroTouch",
      "properties": {
        "enabled": {
          "description": "Whether zero-touch embedded UI is usable with this token. If enabled, the admin can link zero-touch customers to this enterprise.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "description": "Maintenance window for managed Google Play Accounts. This allows Play store to update the apps on the foreground in the designated window.",
      "type": "object",
      "properties": {
        "startTimeAfterMidnightMs": {
          "format": "int64",
          "type": "string",
          "description": "Start time of the maintenance window, in milliseconds after midnight on the device. Windows can span midnight."
        },
        "durationMs": {
          "format": "int64",
          "type": "string",
          "description": "Duration of the maintenance window, in milliseconds. The duration must be between 30 minutes and 24 hours (inclusive)."
        }
      },
      "id": "MaintenanceWindow"
    },
    "ServiceAccount": {
      "type": "object",
      "id": "ServiceAccount",
      "description": "A service account identity, including the name and credentials that can be used to authenticate as the service account.",
      "properties": {
        "key": {
          "description": "Credentials that can be used to authenticate as this ServiceAccount.",
          "$ref": "ServiceAccountKey"
        },
        "name": {
          "type": "string",
          "description": "The account name of the service account, in the form of an email address. Assigned by the server."
        }
      }
    },
    "ProductsGenerateApprovalUrlResponse": {
      "id": "ProductsGenerateApprovalUrlResponse",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted.",
          "type": "string"
        }
      }
    },
    "ManagedPropertyBundle": {
      "id": "ManagedPropertyBundle",
      "type": "object",
      "description": "A bundle of managed properties.",
      "properties": {
        "managedProperty": {
          "items": {
            "$ref": "ManagedProperty"
          },
          "description": "The list of managed properties.",
          "type": "array"
        }
      }
    },
    "DevicesListResponse": {
      "type": "object",
      "id": "DevicesListResponse",
      "properties": {
        "device": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "A managed device."
        }
      }
    },
    "KeyedAppState": {
      "properties": {
        "severity": {
          "type": "string",
          "enum": [
            "severityUnknown",
            "severityInfo",
            "severityError"
          ],
          "description": "Severity of the app state. This field will always be present.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "data": {
          "type": "string",
          "description": "Additional field intended for machine-readable data. For example, a number or JSON object. To prevent XSS, we recommend removing any HTML from the data before displaying it."
        },
        "stateTimestampMillis": {
          "format": "int64",
          "description": "Timestamp of when the app set the state in milliseconds since epoch. This field will always be present.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key indicating what the app is providing a state for. The content of the key is set by the app's developer. To prevent XSS, we recommend removing any HTML from the key before displaying it. This field will always be present."
        },
        "message": {
          "type": "string",
          "description": "Free-form, human-readable message describing the app state. For example, an error message. To prevent XSS, we recommend removing any HTML from the message before displaying it."
        }
      },
      "id": "KeyedAppState",
      "description": "Represents a keyed app state containing a key, timestamp, severity level, optional description, and optional data.",
      "type": "object"
    },
    "ManagedConfigurationsSettings": {
      "properties": {
        "lastUpdatedTimestampMillis": {
          "type": "string",
          "format": "int64",
          "description": "The last updated time of the managed configuration settings in milliseconds since 1970-01-01T00:00:00Z."
        },
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the managed configurations settings."
        }
      },
      "description": "A managed configurations settings resource contains the set of managed properties that have been configured for an Android app to be applied to a set of users. The app's developer would have defined configurable properties in the managed configurations schema.",
      "id": "ManagedConfigurationsSettings",
      "type": "object"
    },
    "AppRestrictionsSchemaRestriction": {
      "type": "object",
      "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\"."
        },
        "nestedRestriction": {
          "description": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep.",
          "type": "array",
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          }
        },
        "defaultValue": {
          "description": "The default value of the restriction. bundle and bundleArray restrictions never have a default value.",
          "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue"
        },
        "entry": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names."
        },
        "description": {
          "type": "string",
          "description": "A longer description of the restriction, giving more detail of what it affects."
        },
        "restrictionType": {
          "description": "The type of the restriction.",
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "type": "string",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ]
        },
        "entryValue": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction."
        },
        "title": {
          "type": "string",
          "description": "The name of the restriction."
        }
      },
      "id": "AppRestrictionsSchemaRestriction"
    },
    "ApprovalUrlInfo": {
      "type": "object",
      "description": "Information on an approval URL.",
      "properties": {
        "approvalUrl": {
          "description": "A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call.",
          "type": "string"
        }
      },
      "id": "ApprovalUrlInfo"
    },
    "GroupLicenseUsersListResponse": {
      "type": "object",
      "id": "GroupLicenseUsersListResponse",
      "properties": {
        "user": {
          "items": {
            "$ref": "User"
          },
          "description": "A user of an enterprise.",
          "type": "array"
        }
      }
    },
    "ServiceAccountKeysListResponse": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "serviceAccountKey": {
          "items": {
            "$ref": "ServiceAccountKey"
          },
          "description": "The service account credentials.",
          "type": "array"
        }
      },
      "id": "ServiceAccountKeysListResponse"
    },
    "ServiceAccountKey": {
      "properties": {
        "publicData": {
          "description": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "googleCredentials",
            "pkcs12"
          ],
          "annotations": {
            "required": [
              "androidenterprise.serviceaccountkeys.insert"
            ]
          },
          "enumDescriptions": [
            "Google Credentials File format.",
            "PKCS12 format. The password for the PKCS12 file is 'notasecret'. For more information, see https://tools.ietf.org/html/rfc7292. The data for keys of this type are base64 encoded according to RFC 4648 Section 4. See http://tools.ietf.org/html/rfc4648#section-4."
          ],
          "description": "The file format of the generated key data."
        },
        "id": {
          "description": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server.",
          "type": "string"
        },
        "data": {
          "description": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google. When type is \"pkcs12\", the contents of the data field is base64 encoded and has the password \"notasecret\".",
          "type": "string"
        }
      },
      "id": "ServiceAccountKey",
      "type": "object",
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations "
    },
    "NewPermissionsEvent": {
      "type": "object",
      "properties": {
        "requestedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions that the app is currently requesting. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
          "type": "array"
        },
        "approvedPermissions": {
          "type": "array",
          "description": "The set of permissions that the enterprise admin has already approved for this application. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
          "items": {
            "type": "string"
          }
        },
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which new permissions were added. This field will always be present."
        }
      },
      "description": "An event generated when new permissions are added to an app.",
      "id": "NewPermissionsEvent"
    },
    "ProductApprovalEvent": {
      "type": "object",
      "description": "An event generated when a product's approval status is changed.",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the approval status has changed. This field will always be present.",
          "type": "string"
        },
        "approved": {
          "description": "Whether the product was approved or unapproved. This field will always be present.",
          "enumDescriptions": [
            "Conveys no information.",
            "The product was approved.",
            "The product was unapproved."
          ],
          "type": "string",
          "enum": [
            "unknown",
            "approved",
            "unapproved"
          ]
        }
      },
      "id": "ProductApprovalEvent"
    },
    "EnterpriseAccount": {
      "id": "EnterpriseAccount",
      "description": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication.",
      "properties": {
        "accountEmail": {
          "type": "string",
          "description": "The email address of the service account."
        }
      },
      "type": "object"
    },
    "Policy": {
      "properties": {
        "policyId": {
          "description": "An identifier for the policy that will be passed with the app install feedback sent from the Play Store.",
          "type": "string"
        },
        "autoUpdatePolicy": {
          "enumDescriptions": [
            "The auto update policy is not set.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over WiFi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "type": "string",
          "enum": [
            "autoUpdatePolicyUnspecified",
            "choiceToTheUser",
            "never",
            "wifiOnly",
            "always"
          ],
          "description": "Controls when automatic app updates on the device can be applied. Recommended alternative: autoUpdateMode which is set per app, provides greater flexibility around update frequency. When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, autoUpdatePolicy has no effect. - choiceToTheUser allows the device's user to configure the app update policy. - always enables auto updates. - never disables auto updates. - wifiOnly enables auto updates only when the device is connected to wifi. *Important:* Changes to app update policies don't affect updates that are in progress. Any policy changes will apply to subsequent app updates. ",
          "deprecated": true
        },
        "productAvailabilityPolicy": {
          "enumDescriptions": [
            "Unspecified, applies the user available product set by default.",
            "The approved products with product availability set to AVAILABLE in the product policy are available.",
            "All products are available except those explicitly marked as unavailable in the product availability policy."
          ],
          "type": "string",
          "enum": [
            "productAvailabilityPolicyUnspecified",
            "whitelist",
            "all"
          ],
          "description": "The availability granted to the device for the specified products. \"all\" gives the device access to all products, regardless of approval status. \"all\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks. \"whitelist\" grants the device access the products specified in productPolicy[]. Only products that are approved or products that were previously approved (products with revoked approval) by the enterprise can be whitelisted. If no value is provided, the availability set at the user level is applied by default."
        },
        "deviceReportPolicy": {
          "description": "Whether the device reports app states to the EMM. The default value is \"deviceReportDisabled\".",
          "enumDescriptions": [
            "The device report policy is not set.",
            "Device reports are disabled.",
            "Device reports are enabled."
          ],
          "type": "string",
          "enum": [
            "deviceReportPolicyUnspecified",
            "deviceReportDisabled",
            "deviceReportEnabled"
          ]
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window defining when apps running in the foreground should be updated."
        },
        "productPolicy": {
          "items": {
            "$ref": "ProductPolicy"
          },
          "type": "array",
          "description": "The list of product policies. The productAvailabilityPolicy needs to be set to WHITELIST or ALL for the product policies to be applied."
        }
      },
      "id": "Policy",
      "description": "The device policy for a given managed device.",
      "type": "object"
    },
    "ManagedConfigurationsSettingsListResponse": {
      "type": "object",
      "properties": {
        "managedConfigurationsSettings": {
          "type": "array",
          "items": {
            "$ref": "ManagedConfigurationsSettings"
          },
          "description": "A managed configurations settings for an app that may be assigned to a group of users in an enterprise."
        }
      },
      "id": "ManagedConfigurationsSettingsListResponse"
    },
    "AuthenticationToken": {
      "type": "object",
      "description": "An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.",
      "id": "AuthenticationToken",
      "properties": {
        "token": {
          "type": "string",
          "description": "The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated."
        }
      }
    },
    "Device": {
      "description": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.",
      "id": "Device",
      "properties": {
        "product": {
          "description": "The product name of the device. This comes from android.os.Build.PRODUCT.",
          "type": "string"
        },
        "device": {
          "description": "The internal hardware codename of the device. This comes from android.os.Build.DEVICE. (field named \"device\" per logs/wireless/android/android_checkin.proto)",
          "type": "string"
        },
        "latestBuildFingerprint": {
          "description": "The build fingerprint of the device if known.",
          "type": "string"
        },
        "sdkVersion": {
          "format": "int32",
          "type": "integer",
          "description": "API compatibility version."
        },
        "model": {
          "type": "string",
          "description": "The model name of the device. This comes from android.os.Build.MODEL."
        },
        "managementType": {
          "type": "string",
          "enum": [
            "managedDevice",
            "managedProfile",
            "containerApp",
            "unmanagedProfile"
          ],
          "description": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner. - \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC. - \"containerApp\", no longer used (deprecated). - \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC. ",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "androidId": {
          "description": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\".",
          "type": "string"
        },
        "report": {
          "description": "The device report updated with the latest app states.",
          "$ref": "DeviceReport"
        },
        "policy": {
          "description": "The policy enforced on the device.",
          "$ref": "Policy"
        },
        "retailBrand": {
          "description": "Retail brand for the device, if set. See android.os.Build.BRAND",
          "type": "string"
        },
        "maker": {
          "description": "The manufacturer of the device. This comes from android.os.Build.MANUFACTURER.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ManagedConfigurationsForUserListResponse": {
      "properties": {
        "managedConfigurationForUser": {
          "description": "A managed configuration for an app for a specific user.",
          "items": {
            "$ref": "ManagedConfiguration"
          },
          "type": "array"
        }
      },
      "id": "ManagedConfigurationsForUserListResponse",
      "type": "object"
    },
    "ManagedConfigurationsForDeviceListResponse": {
      "type": "object",
      "properties": {
        "managedConfigurationForDevice": {
          "description": "A managed configuration for an app on a specific device.",
          "type": "array",
          "items": {
            "$ref": "ManagedConfiguration"
          }
        }
      },
      "id": "ManagedConfigurationsForDeviceListResponse"
    },
    "AdministratorWebTokenSpec": {
      "description": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "Unknown permission.",
              "Permission to approve and unapprove apps.",
              "Permission to manage app restrictions."
            ],
            "type": "string",
            "enum": [
              "unknown",
              "approveApps",
              "manageMcm"
            ]
          },
          "description": "Deprecated. Use PlaySearch.approveApps.",
          "type": "array"
        },
        "playSearch": {
          "description": "Options for displaying the managed Play Search apps page.",
          "$ref": "AdministratorWebTokenSpecPlaySearch"
        },
        "webApps": {
          "$ref": "AdministratorWebTokenSpecWebApps",
          "description": "Options for displaying the Web Apps page."
        },
        "zeroTouch": {
          "$ref": "AdministratorWebTokenSpecZeroTouch",
          "description": "Options for displaying the Zero Touch page."
        },
        "privateApps": {
          "description": "Options for displaying the Private Apps page.",
          "$ref": "AdministratorWebTokenSpecPrivateApps"
        },
        "managedConfigurations": {
          "description": "Options for displaying the Managed Configuration page.",
          "$ref": "AdministratorWebTokenSpecManagedConfigurations"
        },
        "parent": {
          "type": "string",
          "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https. Use whitespaces to separate multiple parent URIs."
        },
        "storeBuilder": {
          "$ref": "AdministratorWebTokenSpecStoreBuilder",
          "description": "Options for displaying the Organize apps page."
        }
      },
      "type": "object",
      "id": "AdministratorWebTokenSpec"
    },
    "AutoInstallPolicy": {
      "properties": {
        "minimumVersionCode": {
          "format": "int32",
          "description": "The minimum version of the app. If a lower version of the app is installed, then the app will be auto-updated according to the auto-install constraints, instead of waiting for the regular auto-update. You can set a minimum version code for at most 20 apps per device.",
          "type": "integer"
        },
        "autoInstallMode": {
          "type": "string",
          "enum": [
            "autoInstallModeUnspecified",
            "doNotAutoInstall",
            "autoInstallOnce",
            "forceAutoInstall"
          ],
          "enumDescriptions": [
            "",
            "The product is not installed automatically, the user needs to install it from the Play Store.",
            "The product is automatically installed once, if the user uninstalls the product it will not be installed again.",
            "The product is automatically installed, if the user uninstalls the product it will be installed again. On managed devices the DPC should block uninstall."
          ],
          "description": "The auto-install mode. If unset, defaults to \"doNotAutoInstall\". An app is automatically installed regardless of a set maintenance window."
        },
        "autoInstallPriority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the install, as an unsigned integer. A lower number means higher priority."
        },
        "autoInstallConstraint": {
          "description": "The constraints for auto-installing the app. You can specify a maximum of one constraint.",
          "items": {
            "$ref": "AutoInstallConstraint"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AutoInstallPolicy"
    },
    "ProductPolicy": {
      "properties": {
        "autoInstallPolicy": {
          "description": "The auto-install policy for the product.",
          "$ref": "AutoInstallPolicy"
        },
        "enterpriseAuthenticationAppLinkConfigs": {
          "items": {
            "$ref": "EnterpriseAuthenticationAppLinkConfig"
          },
          "type": "array",
          "description": "An authentication URL configuration for the authenticator app of an identity provider. This helps to launch the identity provider's authenticator app during the authentication happening in a private app using Android WebView. Authenticator app should already be the default handler for the authentication url on the device."
        },
        "tracks": {
          "items": {
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ]
          },
          "description": "Deprecated. Use trackIds instead.",
          "type": "array"
        },
        "managedConfiguration": {
          "description": "The managed configuration for the product.",
          "$ref": "ManagedConfiguration"
        },
        "autoUpdateMode": {
          "description": "The auto-update mode for the product. When autoUpdateMode is used, it always takes precedence over the user's choice. So when a user makes changes to the device settings manually, these changes are ignored.",
          "type": "string",
          "enum": [
            "autoUpdateModeUnspecified",
            "autoUpdateDefault",
            "autoUpdatePostponed",
            "autoUpdateHighPriority"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user. The app is updated when the following constraints are met: * The device is not actively used * The device is connected to an unmetered network * The device is charging The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date. 90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again. The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied. The device is notified as soon as possible about a new app update after it is published by the developer."
          ]
        },
        "trackIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Grants the device visibility to the specified product release track(s), identified by trackIds. The list of release tracks of a product can be obtained by calling Products.Get."
        },
        "productId": {
          "description": "The ID of the product. For example, \"app:com.google.android.gm\".",
          "type": "string"
        }
      },
      "description": "The policy for a product.",
      "type": "object",
      "id": "ProductPolicy"
    },
    "EnterprisesSendTestPushNotificationResponse": {
      "properties": {
        "topicName": {
          "description": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID of the test push notification that was sent."
        }
      },
      "type": "object",
      "id": "EnterprisesSendTestPushNotificationResponse"
    },
    "PageInfo": {
      "properties": {
        "resultPerPage": {
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "format": "int32"
        },
        "startIndex": {
          "description": "Index of the first result returned in the current page.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "PageInfo",
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "EnterpriseAuthenticationAppLinkConfig": {
      "id": "EnterpriseAuthenticationAppLinkConfig",
      "properties": {
        "uri": {
          "description": "An authentication url.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An authentication URL configuration for the authenticator app of an identity provider."
    },
    "ProductAvailabilityChangeEvent": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present.",
          "type": "string"
        },
        "availabilityStatus": {
          "description": "The new state of the product. This field will always be present.",
          "enumDescriptions": [
            "Conveys no information.",
            "The previously unavailable product is again available on Google Play.",
            "The product was removed from Google Play.",
            "The product was unpublished by the developer."
          ],
          "type": "string",
          "enum": [
            "unknown",
            "available",
            "removed",
            "unpublished"
          ]
        }
      },
      "id": "ProductAvailabilityChangeEvent",
      "description": "An event generated whenever a product's availability changes."
    },
    "TrackInfo": {
      "id": "TrackInfo",
      "description": "Id to name association of a track.",
      "type": "object",
      "properties": {
        "trackId": {
          "description": "Unmodifiable, unique track identifier. This identifier is the releaseTrackId in the url of the play developer console page that displays the track information.",
          "type": "string"
        },
        "trackAlias": {
          "type": "string",
          "description": "A modifiable name for a track. This is the visible name in the play developer console."
        }
      }
    },
    "WebAppsListResponse": {
      "id": "WebAppsListResponse",
      "type": "object",
      "properties": {
        "webApp": {
          "description": "The manifest describing a web app.",
          "items": {
            "$ref": "WebApp"
          },
          "type": "array"
        }
      }
    },
    "ConfigurationVariables": {
      "id": "ConfigurationVariables",
      "properties": {
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string"
        },
        "variableSet": {
          "description": "The variable set that is attributed to the user.",
          "items": {
            "$ref": "VariableSet"
          },
          "type": "array"
        }
      },
      "description": "A configuration variables resource contains the managed configuration settings ID to be applied to a single user, as well as the variable set that is attributed to the user. The variable set will be used to replace placeholders in the managed configuration settings.",
      "type": "object"
    },
    "TokenPagination": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        },
        "previousPageToken": {
          "type": "string"
        }
      },
      "id": "TokenPagination",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object"
    },
    "AppRestrictionsSchema": {
      "type": "object",
      "id": "AppRestrictionsSchema",
      "description": "Represents the list of app restrictions available to be pre-configured for the product.",
      "properties": {
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        },
        "restrictions": {
          "type": "array",
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          },
          "description": "The set of restrictions that make up this schema."
        }
      }
    },
    "StorePage": {
      "properties": {
        "name": {
          "type": "array",
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry."
        },
        "link": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Ordered list of pages a user should be able to reach from this page. The list can't include this page. It is recommended that the basic pages are created first, before adding the links between pages. The API doesn't verify that the pages exist or the pages are reachable."
        },
        "id": {
          "description": "Unique ID of this page. Assigned by the server. Immutable once assigned.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Definition of a managed Google Play store page, made of a localized name and links to other pages. A page also contains clusters defined as a subcollection.",
      "id": "StorePage"
    },
    "Permission": {
      "description": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created. The permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise.",
      "id": "Permission",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the permission."
        },
        "permissionId": {
          "description": "An opaque string uniquely identifying the permission.",
          "type": "string"
        },
        "description": {
          "description": "A longer description of the Permissions resource, giving more details of what it affects.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProductVisibility": {
      "properties": {
        "trackIds": {
          "items": {
            "type": "string"
          },
          "description": "Grants the user visibility to the specified product track(s), identified by trackIds.",
          "type": "array"
        },
        "tracks": {
          "description": "Deprecated. Use trackIds instead.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ]
          }
        },
        "productId": {
          "description": "The product ID to make visible to the user. Required for each item in the productVisibility list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductVisibility",
      "description": "A product to be made visible to a user."
    },
    "AppState": {
      "description": "List of states set by the app.",
      "id": "AppState",
      "properties": {
        "packageName": {
          "description": "The package name of the app. This field will always be present.",
          "type": "string"
        },
        "keyedAppState": {
          "items": {
            "$ref": "KeyedAppState"
          },
          "description": "List of keyed app states. This field will always be present.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Administrator": {
      "description": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The admin's email address."
        }
      },
      "id": "Administrator"
    },
    "DeviceReport": {
      "type": "object",
      "id": "DeviceReport",
      "properties": {
        "lastUpdatedTimestampMillis": {
          "description": "The timestamp of the last report update in milliseconds since epoch. This field will always be present.",
          "format": "int64",
          "type": "string"
        },
        "appState": {
          "description": "List of app states set by managed apps on the device. App states are defined by the app's developers. This field will always be present.",
          "type": "array",
          "items": {
            "$ref": "AppState"
          }
        }
      },
      "description": "Device report updated with the latest app states for managed apps on the device."
    },
    "AdministratorWebTokenSpecWebApps": {
      "properties": {
        "enabled": {
          "description": "Whether the Web Apps page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "AdministratorWebTokenSpecWebApps"
    },
    "ProductsListResponse": {
      "type": "object",
      "properties": {
        "product": {
          "type": "array",
          "description": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin.",
          "items": {
            "$ref": "Product"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        }
      },
      "id": "ProductsListResponse"
    },
    "InstallFailureEvent": {
      "description": "An event generated when an app installation failed on a device",
      "id": "InstallFailureEvent",
      "type": "object",
      "properties": {
        "failureDetails": {
          "type": "string",
          "description": "Additional details on the failure if applicable."
        },
        "userId": {
          "type": "string",
          "description": "The ID of the user. This field will always be present."
        },
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present."
        },
        "failureReason": {
          "description": "The reason for the installation failure. This field will always be present.",
          "enumDescriptions": [
            "Used whenever no better reason for failure can be provided.",
            "Used when the installation timed out. This can cover a number of situations, for example when the device did not have connectivity at any point during the retry period, or if the device is OOM."
          ],
          "type": "string",
          "enum": [
            "unknown",
            "timeout"
          ]
        },
        "deviceId": {
          "description": "The Android ID of the device. This field will always be present.",
          "type": "string"
        }
      }
    },
    "Product": {
      "type": "object",
      "description": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.) The information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface.",
      "id": "Product",
      "properties": {
        "detailsUrl": {
          "description": "A link to the (consumer) Google Play details page for the product.",
          "type": "string"
        },
        "appRestrictionsSchema": {
          "description": "The app restriction schema",
          "$ref": "AppRestrictionsSchema"
        },
        "distributionChannel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "publicGoogleHosted",
            "privateGoogleHosted",
            "privateSelfHosted"
          ],
          "description": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted."
        },
        "features": {
          "items": {
            "type": "string",
            "enum": [
              "featureUnknown",
              "vpnApp"
            ],
            "enumDescriptions": [
              "",
              "The app is a VPN."
            ]
          },
          "description": "Noteworthy features (if any) of this product.",
          "type": "array"
        },
        "contentRating": {
          "type": "string",
          "enum": [
            "ratingUnknown",
            "all",
            "preTeen",
            "teen",
            "mature"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The content rating for this app."
        },
        "workDetailsUrl": {
          "description": "A link to the managed Google Play details page for the product, for use by an Enterprise admin.",
          "type": "string"
        },
        "requiresContainerApp": {
          "description": "Deprecated.",
          "type": "boolean"
        },
        "productId": {
          "type": "string",
          "description": "A string of the form *app:<package name>*. For example, app:com.google.android.gm represents the Gmail app."
        },
        "minAndroidSdkVersion": {
          "type": "integer",
          "description": "The minimum Android SDK necessary to run the app.",
          "format": "int32"
        },
        "productPricing": {
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved product that is not generally available.",
            "The product is free.",
            "The product is free, but offers in-app purchases.",
            "The product is paid."
          ],
          "description": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it).",
          "type": "string",
          "enum": [
            "unknown",
            "free",
            "freeWithInAppPurchase",
            "paid"
          ]
        },
        "recentChanges": {
          "description": "A description of the recent changes made to the app.",
          "type": "string"
        },
        "permissions": {
          "description": "A list of permissions required by the app.",
          "type": "array",
          "items": {
            "$ref": "ProductPermission"
          }
        },
        "appTracks": {
          "items": {
            "$ref": "TrackInfo"
          },
          "type": "array",
          "description": "The tracks visible to the enterprise."
        },
        "smallIconUrl": {
          "description": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px.",
          "type": "string"
        },
        "signingCertificate": {
          "description": "The certificate used to sign this product.",
          "$ref": "ProductSigningCertificate"
        },
        "authorName": {
          "type": "string",
          "description": "The name of the author of the product (for example, the app developer)."
        },
        "screenshotUrls": {
          "type": "array",
          "description": "A list of screenshot links representing the app.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "The localized promotional description, if available.",
          "type": "string"
        },
        "fullDescription": {
          "type": "string",
          "description": "The localized full app store description, if available."
        },
        "availableTracks": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ]
          },
          "type": "array",
          "description": "Deprecated, use appTracks instead."
        },
        "category": {
          "description": "The app category (e.g. RACING, SOCIAL, etc.)",
          "type": "string"
        },
        "iconUrl": {
          "description": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The name of the product."
        },
        "lastUpdatedTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The approximate time (within 7 days) the app was last published, expressed in milliseconds since epoch."
        },
        "appVersion": {
          "description": "App versions currently available for this product.",
          "type": "array",
          "items": {
            "$ref": "AppVersion"
          }
        },
        "availableCountries": {
          "items": {
            "type": "string"
          },
          "description": "The countries which this app is available in.",
          "type": "array"
        }
      }
    },
    "DeviceReportUpdateEvent": {
      "type": "object",
      "description": "An event generated when an updated device report is available.",
      "id": "DeviceReportUpdateEvent",
      "properties": {
        "userId": {
          "description": "The ID of the user. This field will always be present.",
          "type": "string"
        },
        "report": {
          "$ref": "DeviceReport",
          "description": "The device report updated with the latest app states. This field will always be present."
        },
        "deviceId": {
          "type": "string",
          "description": "The Android ID of the device. This field will always be present."
        }
      }
    },
    "Notification": {
      "properties": {
        "newPermissionsEvent": {
          "$ref": "NewPermissionsEvent",
          "description": "Notifications about new app permissions."
        },
        "deviceReportUpdateEvent": {
          "$ref": "DeviceReportUpdateEvent",
          "description": "Notifications about device report updates."
        },
        "appRestrictionsSchemaChangeEvent": {
          "$ref": "AppRestrictionsSchemaChangeEvent",
          "description": "Notifications about new app restrictions schema changes."
        },
        "notificationType": {
          "enumDescriptions": [
            "",
            "A test push notification.",
            "Notification about change to a product's approval status.",
            "Notification about an app installation failure.",
            "Notification about app update.",
            "Notification about new app permissions.",
            "Notification about new app restrictions schema change.",
            "Notification about product availability change.",
            "Notification about a new device.",
            "Notification about an updated device report.",
            "Notification about an enterprise upgrade."
          ],
          "description": "Type of the notification.",
          "type": "string",
          "enum": [
            "unknown",
            "testNotification",
            "productApproval",
            "installFailure",
            "appUpdate",
            "newPermissions",
            "appRestricionsSchemaChange",
            "productAvailabilityChange",
            "newDevice",
            "deviceReportUpdate",
            "enterpriseUpgrade"
          ]
        },
        "productAvailabilityChangeEvent": {
          "description": "Notifications about product availability changes.",
          "$ref": "ProductAvailabilityChangeEvent"
        },
        "timestampMillis": {
          "description": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present.",
          "type": "string",
          "format": "int64"
        },
        "enterpriseId": {
          "description": "The ID of the enterprise for which the notification is sent. This will always be present.",
          "type": "string"
        },
        "appUpdateEvent": {
          "$ref": "AppUpdateEvent",
          "description": "Notifications about app updates."
        },
        "installFailureEvent": {
          "description": "Notifications about an app installation failure.",
          "$ref": "InstallFailureEvent"
        },
        "enterpriseUpgradeEvent": {
          "description": "Notifications about enterprise upgrade.",
          "$ref": "EnterpriseUpgradeEvent"
        },
        "newDeviceEvent": {
          "$ref": "NewDeviceEvent",
          "description": "Notifications about new devices."
        },
        "productApprovalEvent": {
          "description": "Notifications about changes to a product's approval status.",
          "$ref": "ProductApprovalEvent"
        }
      },
      "id": "Notification",
      "description": "A notification of one event relating to an enterprise.",
      "type": "object"
    },
    "AdministratorWebTokenSpecStoreBuilder": {
      "id": "AdministratorWebTokenSpecStoreBuilder",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Organize apps page is displayed. Default is true.",
          "type": "boolean"
        }
      }
    },
    "UsersListResponse": {
      "type": "object",
      "properties": {
        "user": {
          "description": "A user of an enterprise.",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        }
      },
      "id": "UsersListResponse"
    },
    "VariableSet": {
      "type": "object",
      "description": "A variable set is a key-value pair of EMM-provided placeholders and its corresponding value, which is attributed to a user. For example, $FIRSTNAME could be a placeholder, and its value could be Alice. Placeholders should start with a '$' sign and should be alphanumeric only.",
      "properties": {
        "placeholder": {
          "type": "string",
          "description": "The placeholder string; defined by EMM."
        },
        "userValue": {
          "description": "The value of the placeholder, specific to the user.",
          "type": "string"
        }
      },
      "id": "VariableSet"
    },
    "AdministratorWebToken": {
      "description": "A token authorizing an admin to access an iframe.",
      "type": "object",
      "id": "AdministratorWebToken",
      "properties": {
        "token": {
          "description": "An opaque token to be passed to the Play front-end to generate an iframe.",
          "type": "string"
        }
      }
    },
    "NewDeviceEvent": {
      "type": "object",
      "properties": {
        "dpcPackageName": {
          "description": "Policy app on the device.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "The Android ID of the device. This field will always be present."
        },
        "managementType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device where the DPC is set as device owner, - \"managedProfile\", a device where the DPC is set as profile owner. ",
          "type": "string",
          "enum": [
            "managedDevice",
            "managedProfile"
          ]
        },
        "userId": {
          "type": "string",
          "description": "The ID of the user. This field will always be present."
        }
      },
      "description": "An event generated when a new device is ready to be managed.",
      "id": "NewDeviceEvent"
    },
    "ProductPermission": {
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "required",
            "accepted"
          ],
          "enumDescriptions": [
            "The permission is required by the app but has not yet been accepted by the enterprise.",
            "The permission has been accepted by the enterprise."
          ],
          "description": "Whether the permission has been accepted or not."
        },
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission."
        }
      },
      "id": "ProductPermission",
      "type": "object",
      "description": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin. The API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted."
    },
    "AdministratorWebTokenSpecPlaySearch": {
      "type": "object",
      "properties": {
        "approveApps": {
          "description": "Allow access to the iframe in approve mode. Default is false.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the managed Play Search apps page is displayed. Default is true."
        }
      },
      "id": "AdministratorWebTokenSpecPlaySearch"
    },
    "ProductsApproveRequest": {
      "id": "ProductsApproveRequest",
      "type": "object",
      "properties": {
        "approvalUrlInfo": {
          "$ref": "ApprovalUrlInfo",
          "description": "The approval URL that was shown to the user. Only the permissions shown to the user with that URL will be accepted, which may not be the product's entire set of permissions. For example, the URL may only display new permissions from an update after the product was approved, or not include new permissions if the product was updated since the URL was generated."
        },
        "approvedPermissions": {
          "description": "Sets how new permission requests for the product are handled. \"allPermissions\" automatically approves all current and future permissions for the product. \"currentPermissionsOnly\" approves the current set of permissions for the product, but any future permissions added through updates will require manual reapproval. If not specified, only the current set of permissions will be approved.",
          "enumDescriptions": [
            "Approve only the permissions the product requires at approval time. If an update requires additional permissions, the app will not be updated on devices associated with enterprise users until the additional permissions are approved.",
            "All current and future permissions the app requires are automatically approved."
          ],
          "type": "string",
          "enum": [
            "currentPermissionsOnly",
            "allPermissions"
          ]
        }
      }
    },
    "EnterprisesListResponse": {
      "properties": {
        "enterprise": {
          "items": {
            "$ref": "Enterprise"
          },
          "description": "An enterprise.",
          "type": "array"
        }
      },
      "id": "EnterprisesListResponse",
      "type": "object"
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "properties": {
        "track": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Deprecated, use trackId instead.",
          "type": "string",
          "enum": [
            "appTrackUnspecified",
            "production",
            "beta",
            "alpha"
          ]
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "Unique increasing identifier for the app version."
        },
        "trackId": {
          "description": "Track ids that the app version is published in. Replaces the track field (deprecated), but doesn't include the production track (see isProduction instead).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "targetSdkVersion": {
          "type": "integer",
          "description": "The SDK version this app targets, as specified in the manifest of the APK. See http://developer.android.com/guide/topics/manifest/uses-sdk-element.html",
          "format": "int32"
        },
        "isProduction": {
          "description": "True if this version is a production APK.",
          "type": "boolean"
        },
        "versionString": {
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\").",
          "type": "string"
        }
      },
      "description": "This represents a single version of the app."
    },
    "AdministratorWebTokenSpecManagedConfigurations": {
      "id": "AdministratorWebTokenSpecManagedConfigurations",
      "properties": {
        "enabled": {
          "description": "Whether the Managed Configuration page is displayed. Default is true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "StoreLayoutClustersListResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "type": "array",
          "description": "A store cluster of an enterprise.",
          "items": {
            "$ref": "StoreCluster"
          }
        }
      },
      "id": "StoreLayoutClustersListResponse"
    },
    "ProductSet": {
      "id": "ProductSet",
      "type": "object",
      "description": "A set of products.",
      "properties": {
        "productId": {
          "items": {
            "type": "string"
          },
          "description": "The list of product IDs making up the set of products.",
          "type": "array"
        },
        "productVisibility": {
          "items": {
            "$ref": "ProductVisibility"
          },
          "description": "Additional list of product IDs making up the product set. Unlike the productID array, in this list It's possible to specify which tracks (alpha, beta, production) of a product are visible to the user. See ProductVisibility and its fields for more information. Specifying the same product ID both here and in the productId array is not allowed and it will result in an error.",
          "type": "array"
        },
        "productSetBehavior": {
          "description": "The interpretation of this product set. \"unknown\" should never be sent and is ignored if received. \"whitelist\" means that the user is entitled to access the product set. \"includeAll\" means that all products are accessible, including products that are approved, products with revoked approval, and products that have never been approved. \"allApproved\" means that the user is entitled to access all products that are approved for the enterprise. If the value is \"allApproved\" or \"includeAll\", the productId field is ignored. If no value is provided, it is interpreted as \"whitelist\" for backwards compatibility. Further \"allApproved\" or \"includeAll\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks for Android app. Use ProductVisibility to enable \"alpha\" or \"beta\" tracks per user.",
          "type": "string",
          "enum": [
            "unknown",
            "whitelist",
            "includeAll",
            "allApproved"
          ],
          "enumDescriptions": [
            "This value should never be sent and ignored if received.",
            "This product set constitutes a whitelist.",
            "This product set represents all products. For Android app it represents only \"production\" track. (The value of the productId field is therefore ignored).",
            "This product set represents all approved products. For Android app it represents only \"production\" track. (The value of the product_id field is therefore ignored)."
          ]
        }
      }
    },
    "DeviceState": {
      "type": "object",
      "id": "DeviceState",
      "description": "The state of a user's device, as accessed by the getState and setState methods on device resources.",
      "properties": {
        "accountState": {
          "type": "string",
          "enum": [
            "enabled",
            "disabled"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state."
        }
      }
    },
    "EntitlementsListResponse": {
      "type": "object",
      "properties": {
        "entitlement": {
          "type": "array",
          "description": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to.",
          "items": {
            "$ref": "Entitlement"
          }
        }
      },
      "id": "EntitlementsListResponse"
    },
    "SignupInfo": {
      "properties": {
        "completionToken": {
          "type": "string",
          "description": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup."
        },
        "kind": {
          "type": "string",
          "description": "Deprecated."
        },
        "url": {
          "description": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe.",
          "type": "string"
        }
      },
      "description": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token.",
      "type": "object",
      "id": "SignupInfo"
    },
    "WebAppIcon": {
      "description": "Icon for a web app.",
      "id": "WebAppIcon",
      "properties": {
        "imageData": {
          "type": "string",
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
        }
      },
      "type": "object"
    },
    "EnterpriseUpgradeEvent": {
      "type": "object",
      "id": "EnterpriseUpgradeEvent",
      "description": "An event generated when an enterprise is upgraded.",
      "properties": {
        "upgradeState": {
          "type": "string",
          "enum": [
            "upgradeStateUnspecified",
            "upgradeStateSucceeded"
          ],
          "description": "The upgrade state.",
          "enumDescriptions": [
            "Unspecified. This value is not used.",
            "The upgrade has succeeded."
          ]
        }
      }
    },
    "ProductSigningCertificate": {
      "properties": {
        "certificateHashSha256": {
          "type": "string",
          "description": "The base64 urlsafe encoded SHA2-256 hash of the certificate."
        },
        "certificateHashSha1": {
          "type": "string",
          "description": "The base64 urlsafe encoded SHA1 hash of the certificate. (This field is deprecated in favor of SHA2-256. It should not be used and may be removed at any time.)"
        }
      },
      "id": "ProductSigningCertificate",
      "type": "object"
    },
    "GroupLicense": {
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations ",
      "id": "GroupLicense",
      "type": "object",
      "properties": {
        "numPurchased": {
          "type": "integer",
          "description": "The number of purchased licenses (possibly in multiple purchases). If this field is omitted, then there is no limit on the number of licenses that can be provisioned (for example, if the acquisition kind is \"free\").",
          "format": "int32"
        },
        "productId": {
          "description": "The ID of the product that the license is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        },
        "acquisitionKind": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "free",
            "bulkPurchase"
          ],
          "description": "How this group license was acquired. \"bulkPurchase\" means that this Grouplicenses resource was created because the enterprise purchased licenses for this product; otherwise, the value is \"free\" (for free products)."
        },
        "permissions": {
          "description": "The permission approval status of the product. This field is only set if the product is approved. Possible states are: - \"currentApproved\", the current set of permissions is approved, but additional permissions will require the administrator to reapprove the product (If the product was approved without specifying the approved permissions setting, then this is the default behavior.), - \"needsReapproval\", the product has unapproved permissions. No additional product licenses can be assigned until the product is reapproved, - \"allCurrentAndFutureApproved\", the current permissions are approved and any future permission updates will be automatically approved without administrator review. ",
          "type": "string",
          "enum": [
            "currentApproved",
            "needsReapproval",
            "allCurrentAndFutureApproved"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "numProvisioned": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of provisioned licenses for this product. Returned by read operations, but ignored in write operations."
        },
        "approval": {
          "type": "string",
          "enum": [
            "approved",
            "unapproved"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Whether the product to which this group license relates is currently approved by the enterprise. Products are approved when a group license is first created, but this approval may be revoked by an enterprise admin via Google Play. Unapproved products will not be visible to end users in collections, and new entitlements to them should not normally be created."
        }
      }
    },
    "InstallsListResponse": {
      "id": "InstallsListResponse",
      "properties": {
        "install": {
          "description": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app.",
          "items": {
            "$ref": "Install"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleAuthenticationSettings": {
      "description": "Contains settings for Google-provided user authentication.",
      "type": "object",
      "properties": {
        "googleAuthenticationRequired": {
          "enumDescriptions": [
            "This value is unused.",
            "Google authentication is not required.",
            "User is required to be successfully authenticated by Google."
          ],
          "type": "string",
          "enum": [
            "googleAuthenticationRequiredUnspecified",
            "notRequired",
            "required"
          ],
          "description": "Whether Google authentication is required."
        }
      },
      "id": "GoogleAuthenticationSettings"
    },
    "GroupLicensesListResponse": {
      "type": "object",
      "id": "GroupLicensesListResponse",
      "properties": {
        "groupLicense": {
          "type": "array",
          "description": "A group license for a product approved for use in the enterprise.",
          "items": {
            "$ref": "GroupLicense"
          }
        }
      }
    },
    "StoreCluster": {
      "properties": {
        "name": {
          "items": {
            "$ref": "LocalizedText"
          },
          "type": "array",
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry."
        },
        "orderInPage": {
          "description": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined. The value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters.",
          "type": "string"
        },
        "productId": {
          "items": {
            "type": "string"
          },
          "description": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster.",
          "type": "array"
        },
        "id": {
          "description": "Unique ID of this cluster. Assigned by the server. Immutable once assigned.",
          "type": "string"
        }
      },
      "description": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page.",
      "id": "StoreCluster",
      "type": "object"
    },
    "StoreLayout": {
      "id": "StoreLayout",
      "properties": {
        "homepageId": {
          "type": "string",
          "description": "The ID of the store page to be used as the homepage. The homepage is the first page shown in the managed Google Play Store. Not specifying a homepage is equivalent to setting the store layout type to \"basic\"."
        },
        "storeLayoutType": {
          "description": "The store layout type. By default, this value is set to \"basic\" if the homepageId field is not set, and to \"custom\" otherwise. If set to \"basic\", the layout will consist of all approved apps that have been whitelisted for the user.",
          "type": "string",
          "enum": [
            "unknown",
            "basic",
            "custom"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "General setting for the managed Google Play store layout, currently only specifying the page to display the first time the store is opened."
    },
    "NotificationSet": {
      "description": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request.",
      "type": "object",
      "properties": {
        "notificationSetId": {
          "description": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present.",
          "type": "string"
        },
        "notification": {
          "items": {
            "$ref": "Notification"
          },
          "type": "array",
          "description": "The notifications received, or empty if no notifications are present."
        }
      },
      "id": "NotificationSet"
    },
    "EnrollmentToken": {
      "id": "EnrollmentToken",
      "properties": {
        "token": {
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server.",
          "type": "string"
        },
        "enrollmentTokenType": {
          "description": "[Required] The type of the enrollment token.",
          "type": "string",
          "enum": [
            "enrollmentTokenTypeUnspecified",
            "userlessDevice",
            "userDevice"
          ],
          "enumDescriptions": [
            "The value is unused.",
            "The enrollment token is for a userless device.",
            "The enrollment token is for a user device."
          ]
        },
        "googleAuthenticationOptions": {
          "description": "[Optional] Provides options related to Google authentication during the enrollment.",
          "$ref": "EnrollmentTokenGoogleAuthenticationOptions"
        },
        "duration": {
          "type": "string",
          "description": "[Optional] The length of time the enrollment token is valid, ranging from 1 minute to [`Durations.MAX_VALUE`](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations.html#MAX_VALUE), approximately 10,000 years. If not specified, the default duration is 1 hour. In the JSON REST API, this is represented as a string (e.g., `3600s`).",
          "format": "google-duration"
        }
      },
      "description": "A token used to enroll a device.",
      "type": "object"
    },
    "ManagedConfiguration": {
      "id": "ManagedConfiguration",
      "properties": {
        "managedProperty": {
          "type": "array",
          "description": "The set of managed properties for this configuration.",
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\"."
        },
        "configurationVariables": {
          "description": "Contains the ID of the managed configuration profile and the set of configuration variables (if any) defined for the user.",
          "$ref": "ConfigurationVariables"
        },
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        }
      },
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations ",
      "type": "object"
    },
    "AppRestrictionsSchemaRestrictionRestrictionValue": {
      "description": "A typed value for the restriction.",
      "properties": {
        "valueMultiselect": {
          "items": {
            "type": "string"
          },
          "description": "The list of string values - this will only be present if type is multiselect.",
          "type": "array"
        },
        "valueString": {
          "description": "The string value - this will be present for types string, choice and hidden.",
          "type": "string"
        },
        "valueInteger": {
          "format": "int32",
          "description": "The integer value - this will only be present if type is integer.",
          "type": "integer"
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type is bool.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of the value being provided.",
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "type": "string",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ]
        }
      },
      "type": "object",
      "id": "AppRestrictionsSchemaRestrictionRestrictionValue"
    },
    "EnrollmentTokenGoogleAuthenticationOptions": {
      "properties": {
        "authenticationRequirement": {
          "type": "string",
          "enum": [
            "authenticationRequirementUnspecified",
            "optional",
            "required"
          ],
          "description": "[Optional] Specifies whether user should authenticate with Google during enrollment. This setting, if specified,`GoogleAuthenticationSettings` specified for the enterprise resource is ignored for devices enrolled with this token.",
          "enumDescriptions": [
            "The value is unused.",
            "Google authentication is optional for the user. This means the user can choose to skip Google authentication during enrollment.",
            "Google authentication is required for the user. This means the user must authenticate with a Google account to proceed."
          ]
        },
        "requiredAccountEmail": {
          "description": "[Optional] Specifies the managed Google account that the user must use during enrollment.`AuthenticationRequirement` must be set to`REQUIRED` if this field is set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "EnrollmentTokenGoogleAuthenticationOptions",
      "description": "Options for Google authentication during the enrollment."
    },
    "GenerateEnterpriseUpgradeUrlResponse": {
      "properties": {
        "url": {
          "type": "string",
[...]
