{
  "canonicalName": "Android Publisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "documentationLink": "https://developers.google.com/android-publisher",
  "discoveryVersion": "v1",
  "revision": "20261006",
  "version": "v3",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "androidpublisher",
  "title": "Google Play Android Developer API",
  "basePath": "",
  "id": "androidpublisher:v3",
  "protocol": "rest",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "OneTimeProductOffer": {
      "description": "A single offer for a one-time product.",
      "properties": {
        "gameRewardOffer": {
          "$ref": "OneTimeProductGameRewardOffer",
          "description": "A game reward offer."
        },
        "packageName": {
          "description": "Required. Immutable. The package name of the app the parent product belongs to.",
          "type": "string"
        },
        "preOrderOffer": {
          "$ref": "OneTimeProductPreOrderOffer",
          "description": "A pre-order offer."
        },
        "regionalPricingAndAvailabilityConfigs": {
          "description": "Set of regional pricing and availability information for this offer. Must not have duplicate entries with the same region_code.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOfferRegionalPricingAndAvailabilityConfig"
          }
        },
        "discountedOffer": {
          "description": "A discounted offer.",
          "$ref": "OneTimeProductDiscountedOffer"
        },
        "purchaseOptionId": {
          "description": "Required. Immutable. The ID of the purchase option to which this offer is an extension.",
          "type": "string"
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent product this offer belongs to.",
          "type": "string"
        },
        "offerTags": {
          "type": "array",
          "description": "Optional. List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "offerId": {
          "description": "Required. Immutable. The ID of this product offer. Must be unique within the purchase option. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of this offer. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "CANCELLED",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value, should never be used.",
            "The offer is not and has never been available to users.",
            "The offer is available to users, as long as its conditions are met.",
            "This state is specific to pre-orders. The offer is cancelled and not available to users. All pending orders related to this offer were cancelled.",
            "This state is specific to discounted offers. The offer is no longer available to users."
          ]
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product offer.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "OneTimeProductOffer"
    },
    "InstallmentsBasePlanType": {
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "id": "InstallmentsBasePlanType",
      "type": "object",
      "properties": {
        "accountHoldDuration": {
          "type": "string",
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "renewalType": {
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ],
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ],
          "type": "string"
        },
        "gracePeriodDuration": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "prorationMode": {
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ]
        },
        "resubscribeState": {
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ],
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "type": "string"
        },
        "committedPaymentsCount": {
          "type": "integer",
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created.",
          "format": "int32"
        },
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        }
      }
    },
    "OneTimeExternalTransaction": {
      "id": "OneTimeExternalTransaction",
      "type": "object",
      "description": "Represents a one-time transaction.",
      "properties": {
        "externalTransactionToken": {
          "type": "string",
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched."
        }
      }
    },
    "UploadApkResponse": {
      "id": "UploadApkResponse",
      "properties": {
        "apkId": {
          "type": "string",
          "description": "The unique ID of the uploaded APK."
        }
      },
      "description": "Response for uploading an APK.",
      "type": "object"
    },
    "SubscriptionPurchasesDeferRequest": {
      "id": "SubscriptionPurchasesDeferRequest",
      "description": "Request for the purchases.subscriptions.defer API.",
      "type": "object",
      "properties": {
        "deferralInfo": {
          "$ref": "SubscriptionDeferralInfo",
          "description": "The information about the new desired expiry time for the subscription."
        }
      }
    },
    "BaseDetails": {
      "type": "object",
      "properties": {},
      "description": "Details of a base price pricing phase.",
      "id": "BaseDetails"
    },
    "RecentUpdateEvent": {
      "id": "RecentUpdateEvent",
      "type": "object",
      "properties": {
        "playAppPackageName": {
          "type": "string",
          "description": "The package name of the app."
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the update."
        },
        "updateType": {
          "description": "The type of the update event.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "The app was modified.",
            "The app stopped being eligible for catalog inclusion or was removed from the Play Store."
          ],
          "type": "string",
          "enum": [
            "UPDATE_TYPE_UNSPECIFIED",
            "MODIFICATION",
            "DELETION"
          ]
        }
      },
      "description": "A recent update event."
    },
    "PolicyBooleanResponse": {
      "id": "PolicyBooleanResponse",
      "description": "Responses that will only ever be a boolean.",
      "properties": {
        "value": {
          "description": "Required. Provided boolean value.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListOneTimeProductOffersResponse": {
      "id": "ListOneTimeProductOffersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "oneTimeProductOffers": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The one_time_product offers from the specified request."
        }
      },
      "type": "object",
      "description": "Response message for ListOneTimeProductOffers."
    },
    "GeneratedApksPerSigningKey": {
      "type": "object",
      "id": "GeneratedApksPerSigningKey",
      "properties": {
        "unprotectedGeneratedStandaloneApks": {
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "type": "array"
        },
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        },
        "unprotectedGeneratedSplitApks": {
          "type": "array",
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "generatedRecoveryModules": {
          "type": "array",
          "items": {
            "$ref": "GeneratedRecoveryApk"
          },
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key."
        },
        "generatedAssetPackSlices": {
          "type": "array",
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          }
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedSplitApks": {
          "type": "array",
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "generatedStandaloneApks": {
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          }
        }
      },
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key."
    },
    "ApkTargeting": {
      "description": "Represents a set of apk-level targetings.",
      "id": "ApkTargeting",
      "properties": {
        "languageTargeting": {
          "$ref": "LanguageTargeting",
          "description": "The language that the apk targets"
        },
        "multiAbiTargeting": {
          "$ref": "MultiAbiTargeting",
          "description": "Multi-api-level targeting."
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the apk targets",
          "$ref": "SdkVersionTargeting"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        }
      },
      "type": "object"
    },
    "AbiTargeting": {
      "description": "Targeting based on Abi.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of an abi.",
          "items": {
            "$ref": "Abi"
          },
          "type": "array"
        },
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "Abi"
          },
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        }
      },
      "id": "AbiTargeting"
    },
    "BatchUpdatePurchaseOptionStatesResponse": {
      "id": "BatchUpdatePurchaseOptionStatesResponse",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of updated one-time products. This list will match the requests one to one, in the same order.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      },
      "type": "object",
      "description": "Response message for BatchUpdatePurchaseOptionStates."
    },
    "BatchMigrateBasePlanPricesRequest": {
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesRequest",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          },
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans."
        }
      }
    },
    "SystemApkOptions": {
      "description": "Options for system APKs.",
      "properties": {
        "uncompressedNativeLibraries": {
          "type": "boolean",
          "description": "Whether system APK was generated with uncompressed native libraries."
        },
        "uncompressedDexFiles": {
          "description": "Whether system APK was generated with uncompressed dex files.",
          "type": "boolean"
        },
        "rotated": {
          "description": "Whether to use the rotated key for signing the system APK.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "SystemApkOptions"
    },
    "BatchGetOrdersResponse": {
      "type": "object",
      "description": "Response for the orders.batchGet API.",
      "id": "BatchGetOrdersResponse",
      "properties": {
        "orders": {
          "type": "array",
          "items": {
            "$ref": "Order"
          },
          "description": "Details for the requested order IDs."
        }
      }
    },
    "DeviceRam": {
      "properties": {
        "minBytes": {
          "type": "string",
          "description": "Minimum RAM in bytes (bound included).",
          "format": "int64"
        },
        "maxBytes": {
          "description": "Maximum RAM in bytes (bound excluded).",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "DeviceRam",
      "type": "object",
      "description": "Conditions about a device's RAM capabilities."
    },
    "CoarseLocation": {
      "type": "object",
      "id": "CoarseLocation",
      "description": "Coarse Geographic location details for where the consumption happened.",
      "properties": {
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district. For most addresses, you can omit this.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. [CLDR region code](https://cldr.unicode.org/) of the country/region of the address. This value is never inferred and you must ensure the value is correct. Example: \"CH\" for Switzerland.",
          "type": "string"
        }
      }
    },
    "BatchUpdateOneTimeProductOfferStatesResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The updated one-time product offers list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "description": "Response message for BatchUpdateOneTimeProductOfferStates.",
      "id": "BatchUpdateOneTimeProductOfferStatesResponse"
    },
    "OtherRegionsBasePlanConfig": {
      "id": "OtherRegionsBasePlanConfig",
      "description": "Pricing information for any new locations Play may launch in.",
      "type": "object",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new locations Play may launch in."
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new locations Play may launch in."
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false."
        }
      }
    },
    "DeviceCompatibilityRequirements": {
      "description": "Defines a set of device compatibility requirements for the app. A device must satisfy all of the requirements in a set to be considered compatible with the app.",
      "properties": {
        "supportedGlTextures": {
          "items": {
            "type": "string"
          },
          "description": "Supported gl textures as specified by the `supported-gl-texture` Manifest tag.",
          "type": "array"
        },
        "requiresSmallestWidthDp": {
          "type": "string",
          "format": "int64",
          "description": "Specifies the minimum smallest width required of the screen."
        },
        "nativePlatforms": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of required ABIs (Application Binary Interface), e.g. `armeabi` or `x86`."
        },
        "supportedScreens": {
          "items": {
            "enum": [
              "SCREEN_SIZE_UNSPECIFIED",
              "SCREEN_SIZE_SMALL",
              "SCREEN_SIZE_NORMAL",
              "SCREEN_SIZE_LARGE",
              "SCREEN_SIZE_EXTRA_LARGE"
            ],
            "enumDescriptions": [
              "Unspecified screen size.",
              "Small screen size.",
              "Normal screen size.",
              "Large screen size.",
              "Extra large screen size."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Compatible screens as listed in the `supports-screens` Manifest tag."
        },
        "usesConfigurations": {
          "description": "Lists all configurations marked as required by use of the `uses-configuration` manifest tag. Each instance of this proto represents a single `uses-configuration` entry. See http://developer.android.com/guide/topics/manifest/uses-configuration-element.html",
          "items": {
            "$ref": "UsesConfiguration"
          },
          "type": "array"
        },
        "glEsVersion": {
          "type": "integer",
          "description": "Required version of OpenGL ES.",
          "format": "int32"
        },
        "use32BitAbi": {
          "description": "Value of `android:use32BitAbi` flag retrieved from the Manifest.",
          "enum": [
            "USE_32_BIT_ABI_UNSPECIFIED",
            "USE_32_BIT_ABI_TRUE",
            "USE_32_BIT_ABI_OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified 32-bit ABI usage.",
            "Value of use32BitAbi is set to \"true\".",
            "Value of use32BitAbi is not set or set to something other than \"true\"."
          ]
        },
        "isScreenRequired": {
          "description": "Specifies if the app requires a screen.",
          "type": "boolean"
        },
        "requiredSoftwareLibraries": {
          "items": {
            "type": "string"
          },
          "description": "List of required libraries as declared in the `uses-library` manifest tag.",
          "type": "array"
        },
        "requiredSystemFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The system features that the app requires. A device must have all of the system features to be considered compatible with the app."
        },
        "sdkVersion": {
          "$ref": "CatalogSdkVersion",
          "description": "Defines a range of SDK versions that the app is compatible with."
        },
        "compatibleScreens": {
          "items": {
            "$ref": "CompatibleScreen"
          },
          "description": "Compatible screens as listed in the `compatible-screens` Manifest tag.",
          "type": "array"
        }
      },
      "id": "DeviceCompatibilityRequirements",
      "type": "object"
    },
    "SplitApkMetadata": {
      "type": "object",
      "properties": {
        "isMasterSplit": {
          "description": "Indicates whether this APK is the main split of the module.",
          "type": "boolean"
        },
        "splitId": {
          "description": "Id of the split.",
          "type": "string"
        }
      },
      "description": "Holds data specific to Split APKs.",
      "id": "SplitApkMetadata"
    },
    "ActivateOneTimeProductOfferRequest": {
      "id": "ActivateOneTimeProductOfferRequest",
      "description": "Request message for ActivateOneTimeProductOffer.",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to activate."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to activate."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to activate."
        }
      },
      "type": "object"
    },
    "OneTimeProductRentPurchaseOption": {
      "description": "A purchase option that can be rented.",
      "type": "object",
      "properties": {
        "rentalPeriod": {
          "description": "Required. The amount of time a user has the entitlement for. Starts at purchase flow completion. Specified in ISO 8601 format.",
          "type": "string"
        },
        "expirationPeriod": {
          "description": "Optional. The amount of time the user has after starting consuming the entitlement before it is revoked. Specified in ISO 8601 format.",
          "type": "string"
        }
      },
      "id": "OneTimeProductRentPurchaseOption"
    },
    "EnrollExistingApp": {
      "description": "Enroll an existing app into Play signing.",
      "properties": {
        "cloudKmsKey": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKey"
        }
      },
      "id": "EnrollExistingApp",
      "type": "object"
    },
    "OrdersReviewRefundRequest": {
      "properties": {
        "pendingRefundToken": {
          "description": "Required. The pending refund token included in the pending refund review notification.",
          "type": "string"
        },
        "sampleContentProvided": {
          "description": "Required. Indicates whether you provided a free sample, trial, or information about the functionality prior to the purchase.",
          "type": "boolean"
        },
        "refundPreference": {
          "enumDescriptions": [
            "Refund preference unspecified. This value is not used.",
            "Developer prefers that Play declines the refund.",
            "Developer prefers that Play grants the refund in full.",
            "Developer has no preference about Google Play's decision to issue a refund"
          ],
          "enum": [
            "REFUND_PREFERENCE_UNSPECIFIED",
            "DECLINE",
            "APPROVE",
            "NEUTRAL"
          ],
          "description": "Required. Indicates your preference, based on your operational logic, as to whether the Play Store should grant the refund.",
          "type": "string"
        },
        "consumptionUsageEvents": {
          "type": "array",
          "items": {
            "$ref": "ConsumptionUsageEvent"
          },
          "description": "Optional. List of events, each representing an instance where the user consumed or used the purchased item or service. Lists with over 1000 items will be rejected."
        },
        "consumptionPercentageMilliunits": {
          "format": "int32",
          "description": "Optional. Percentage of the In-App purchase the customer consumed, in milliunits. Minimum: 0 Maximum: 100,000. For paid apps, this can be omitted. Example : 45200 represents 45.2%.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "OrdersReviewRefundRequest",
      "description": "Request for the orders.reviewrefund API."
    },
    "ArtifactSummary": {
      "description": "Summary of an artifact.",
      "id": "ArtifactSummary",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "Artifact's version code",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImagesDeleteAllResponse": {
      "properties": {
        "deleted": {
          "type": "array",
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          }
        }
      },
      "description": "Response for deleting all images.",
      "type": "object",
      "id": "ImagesDeleteAllResponse"
    },
    "TracksListResponse": {
      "description": "Response listing all tracks.",
      "id": "TracksListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks (including tracks with no releases)."
        }
      }
    },
    "RegionalProductAgeRatingInfo": {
      "id": "RegionalProductAgeRatingInfo",
      "description": "Details about the age rating for a specific geographic region.",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "productAgeRatingTier": {
          "description": "The age rating tier of a product for the given region.",
          "type": "string",
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ]
        }
      }
    },
    "ReplacementCancellation": {
      "properties": {},
      "description": "Information specific to cancellations caused by subscription replacement.",
      "type": "object",
      "id": "ReplacementCancellation"
    },
    "VoidedPurchase": {
      "type": "object",
      "id": "VoidedPurchase",
      "description": "A VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.",
      "properties": {
        "voidedSource": {
          "description": "The initiator of voided purchase, possible values are: 0. User 1. Developer 2. Google",
          "format": "int32",
          "type": "integer"
        },
        "voidedTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The time at which the purchase was canceled/refunded/charged-back, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "purchaseToken": {
          "description": "The token which uniquely identifies a one-time purchase or subscription. To uniquely identify subscription renewals use order_id (available starting from version 3 of the API).",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a voided purchase object in the androidpublisher service.",
          "type": "string"
        },
        "orderId": {
          "description": "The order id which uniquely identifies a one-time purchase, subscription purchase, or subscription renewal.",
          "type": "string"
        },
        "voidedQuantity": {
          "type": "integer",
          "format": "int32",
          "description": "The voided quantity as the result of a quantity-based partial refund. Voided purchases of quantity-based partial refunds may only be returned when includeQuantityBasedPartialRefund is set to true."
        },
        "purchaseTimeMillis": {
          "description": "The time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).",
          "format": "int64",
          "type": "string"
        },
        "voidedReason": {
          "type": "integer",
          "description": "The reason why the purchase was voided, possible values are: 0. Other 1. Remorse 2. Not_received 3. Defective 4. Accidental_purchase 5. Fraud 6. Friendly_fraud 7. Chargeback 8. Unacknowledged_purchase",
          "format": "int32"
        }
      }
    },
    "CancelOneTimeProductOfferRequest": {
      "description": "Request message for CancelOneTimeProductOffer.",
      "properties": {
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to cancel."
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to cancel."
        }
      },
      "id": "CancelOneTimeProductOfferRequest",
      "type": "object"
    },
    "BasePlan": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "readOnly": true
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "type": "array"
        },
        "regionalConfigs": {
          "description": "Region-specific information for this base plan.",
          "type": "array",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          }
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
        },
        "prepaidBasePlanType": {
          "$ref": "PrepaidBasePlanType",
          "description": "Set when the base plan does not automatically renew at the end of the billing period."
        },
        "autoRenewingBasePlanType": {
          "$ref": "AutoRenewingBasePlanType",
          "description": "Set when the base plan automatically renews at a regular interval."
        },
        "installmentsBasePlanType": {
          "description": "Set for installments base plans where a user is committed to a specified number of payments.",
          "$ref": "InstallmentsBasePlanType"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future.",
          "$ref": "OtherRegionsBasePlanConfig"
        }
      },
      "id": "BasePlan",
      "description": "A single base plan for a subscription."
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "description": "A single phase of a subscription offer.",
      "type": "object",
      "properties": {
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "type": "array"
        },
        "duration": {
          "type": "string",
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format."
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "recurrenceCount": {
          "type": "integer",
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "format": "int32"
        }
      }
    },
    "BatchGetSubscriptionOffersRequest": {
      "description": "Request message for BatchGetSubscriptionOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GetSubscriptionOfferRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions."
        }
      },
      "id": "BatchGetSubscriptionOffersRequest"
    },
    "UserCountrySet": {
      "properties": {
        "name": {
          "description": "Country set name.",
          "type": "string"
        },
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "id": "UserCountrySet"
    },
    "OtherRegionsSubscriptionOfferConfig": {
      "type": "object",
      "id": "OtherRegionsSubscriptionOfferConfig",
      "description": "Configuration for any new locations Play may launch in specified on a subscription offer.",
      "properties": {
        "otherRegionsNewSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the subscription offer in any new locations Play may launch in the future. If not specified, this will default to false."
        }
      }
    },
    "IntroductoryPriceDetails": {
      "description": "Details of an introductory price pricing phase.",
      "type": "object",
      "id": "IntroductoryPriceDetails",
      "properties": {}
    },
    "ProrationPeriodDetails": {
      "type": "object",
      "description": "Details of a proration period. A proration period can be a period calculated during a plan change to cover existing entitlements (For more information, see [Allow users to upgrade, downgrade, or change their subscription](https://developer.android.com/google/play/billing/subscriptions#allow-users-change), or a prorated period to align add-on renewal dates with the base (For more information, see [Rules applicable for items in the purchase](https://developer.android.com/google/play/billing/subscription-with-addons#rules-base-addons)).",
      "id": "ProrationPeriodDetails",
      "properties": {
        "originalOfferPhase": {
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Represent the original offer phase from the purchased the line item if the proration period contains any of them. For example, a proration period from CHARGE_FULL_PRICE plan change may merge the 1st offer phase of the subscription offer of the new product user purchased. In this case, the original offer phase will be set here.",
          "type": "string"
        }
      }
    },
    "ScreenDensityTargeting": {
      "id": "ScreenDensityTargeting",
      "description": "Targeting based on screen density.",
      "properties": {
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array"
        },
        "value": {
          "description": "Value of a screen density.",
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          }
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "grants": {
          "items": {
            "$ref": "Grant"
          },
          "readOnly": true,
          "description": "Output only. Per-app permissions for the user.",
          "type": "array"
        },
        "email": {
          "type": "string",
          "description": "Immutable. The user's email address."
        },
        "accessState": {
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "readOnly": true,
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "type": "string",
          "description": "Output only. The state of the user's access to the Play Console."
        },
        "partial": {
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\"."
        },
        "developerAccountPermissions": {
          "type": "array",
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL",
              "CAN_VIEW_CONNECTED_APPS_GLOBAL",
              "CAN_EDIT_CONNECTED_APPS_GLOBAL"
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Deprecated: This permission is no longer supported. Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer.",
              "Allows viewing connected apps in the Google Play Console.",
              "Allows editing connected apps in the Google Play Console."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string"
          }
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future."
        }
      },
      "description": "A user resource.",
      "type": "object",
      "id": "User"
    },
    "OneTimeProductPreOrderOffer": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Required. Time when the pre-order will start being available.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time when the pre-order will stop being available."
        },
        "priceChangeBehavior": {
          "enum": [
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_UNSPECIFIED",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_TWO_POINT_LOWEST",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_NEW_ORDERS_ONLY"
          ],
          "enumDescriptions": [
            "Unspecified price change behavior. Must not be used.",
            "The buyer gets charged the minimum between the initial price at the time of pre-order and the final offer price on the release date.",
            "The buyer gets the same price as the one they pre-ordered, regardless of any price changes that may have happened after the pre-order."
          ],
          "description": "Required. Immutable. Specifies how price changes affect pre-existing pre-orders.",
          "type": "string"
        },
        "releaseTime": {
          "format": "google-datetime",
          "description": "Required. Time on which the product associated with the pre-order will be released and the pre-order orders fulfilled.",
          "type": "string"
        }
      },
      "id": "OneTimeProductPreOrderOffer",
      "description": "Configuration specific to pre-order offers.",
      "type": "object"
    },
    "RenewalDeclinedContext": {
      "description": "Context related to renewal declined scenario.",
      "id": "RenewalDeclinedContext",
      "properties": {
        "pendingOrderId": {
          "description": "Required. The ID of the pending or failed order causing the state.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UploadApkRequest": {
      "description": "Request to upload an APK.",
      "properties": {},
      "id": "UploadApkRequest",
      "type": "object"
    },
    "Date": {
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "RevocationContextItemBasedRefund": {
      "properties": {
        "productId": {
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke.",
          "type": "string"
        }
      },
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "id": "RevocationContextItemBasedRefund",
      "type": "object"
    },
    "ApkSet": {
      "id": "ApkSet",
      "properties": {
        "moduleMetadata": {
          "$ref": "ModuleMetadata",
          "description": "Metadata about the module represented by this ApkSet"
        },
        "apkDescription": {
          "type": "array",
          "description": "Description of the generated apks.",
          "items": {
            "$ref": "ApkDescription"
          }
        }
      },
      "type": "object",
      "description": "A set of apks representing a module."
    },
    "UpgradeTargetingRule": {
      "properties": {
        "oncePerUser": {
          "type": "boolean",
          "description": "Limit this offer to only once per user. If set to true, a user can never be eligible for this offer again if they ever subscribed to this offer."
        },
        "billingPeriodDuration": {
          "description": "The specific billing period duration, specified in ISO 8601 format, that a user must be currently subscribed to to be eligible for this rule. If not specified, users subscribed to any billing period are matched.",
          "type": "string"
        },
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"specific subscription in app\".",
          "$ref": "TargetingRuleScope"
        }
      },
      "description": "Represents a targeting rule of the form: User currently has {scope} [with billing period {billing_period}].",
      "id": "UpgradeTargetingRule",
      "type": "object"
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "type": "object",
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app."
    },
    "EnrollAppRequest": {
      "id": "EnrollAppRequest",
      "properties": {
        "enrollNewApp": {
          "description": "Changes the signing key of a new app to an external Cloud KMS key. The app must not have published to Open testing or Production tracks.",
          "$ref": "EnrollNewApp"
        },
        "pemUploadCertificate": {
          "format": "byte",
          "description": "The certificate associated with the upload key, in PEM format.",
          "type": "string"
        },
        "enrollExistingApp": {
          "$ref": "EnrollExistingApp",
          "description": "Enrolls an existing app into Play signing using an external Cloud KMS key."
        }
      },
      "description": "Request to enroll an app into Play App Signing using a self-hosted Cloud KMS key.",
      "type": "object"
    },
    "DeleteOneTimeProductOfferRequest": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to delete.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to delete.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to delete.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to delete.",
          "type": "string"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "description": "Request message for deleting an one-time product offer.",
      "id": "DeleteOneTimeProductOfferRequest"
    },
    "RentOfferDetails": {
      "type": "object",
      "description": "Offer details information related to a rental line item.",
      "id": "RentOfferDetails",
      "properties": {}
    },
    "TestPurchaseContext": {
      "properties": {
        "fopType": {
          "enum": [
            "FOP_TYPE_UNSPECIFIED",
            "TEST"
          ],
          "description": "The fop type of the test purchase.",
          "enumDescriptions": [
            "Fop type unspecified. This value should never be set.",
            "The purchase was made using a test card."
          ],
          "type": "string"
        }
      },
      "id": "TestPurchaseContext",
      "type": "object",
      "description": "Context about a test purchase."
    },
    "UpdateOneTimeProductRequest": {
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "Required. The list of fields to be updated.",
          "type": "string"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the one-time product.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored."
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive."
        },
        "oneTimeProduct": {
          "$ref": "OneTimeProduct",
          "description": "Required. The one-time product to upsert."
        }
      },
      "type": "object",
      "description": "Request message for UpdateOneTimeProduct.",
      "id": "UpdateOneTimeProductRequest"
    },
    "MigrateBasePlanPricesRequest": {
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to update prices on.",
          "type": "string"
        },
        "regionalPriceMigrations": {
          "type": "array",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "description": "Required. The regional prices to update."
        },
        "latencyTolerance": {
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "productId": {
          "type": "string",
          "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource."
        },
        "packageName": {
          "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
          "type": "string"
        }
      },
      "description": "Request message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesRequest",
      "type": "object"
    },
    "RentalDetails": {
      "type": "object",
      "id": "RentalDetails",
      "properties": {},
      "description": "Details of a rental purchase."
    },
    "ConvertedOtherRegionsPrice": {
      "type": "object",
      "id": "ConvertedOtherRegionsPrice",
      "description": "Converted other regions prices.",
      "properties": {
        "eurPrice": {
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        },
        "usdPrice": {
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes.",
          "$ref": "Money"
        }
      }
    },
    "RefundDetails": {
      "type": "object",
      "id": "RefundDetails",
      "description": "Details for a partial or full refund.",
      "properties": {
        "tax": {
          "description": "The amount of tax refunded.",
          "$ref": "Money"
        },
        "total": {
          "description": "The total amount refunded, including tax.",
          "$ref": "Money"
        }
      }
    },
    "ExternalTransactionAddress": {
      "description": "User's address for the external transaction.",
      "id": "ExternalTransactionAddress",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes)."
        },
        "administrativeArea": {
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivateBasePlanRequest": {
      "description": "Request message for ActivateBasePlan.",
      "type": "object",
      "id": "ActivateBasePlanRequest",
      "properties": {
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to activate."
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the base plan to activate."
        },
        "latencyTolerance": {
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the base plan to activate.",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "A single subscription for an app.",
      "id": "Subscription",
      "type": "object",
      "properties": {
        "taxAndComplianceSettings": {
          "description": "Details about taxes and legal compliance.",
          "$ref": "SubscriptionTaxAndComplianceSettings"
        },
        "listings": {
          "description": "Required. List of localized listings for this subscription. Must contain at least an entry for the default language of the parent app.",
          "items": {
            "$ref": "SubscriptionListing"
          },
          "type": "array"
        },
        "basePlans": {
          "description": "The set of base plans for this subscription. Represents the prices and duration of the subscription if no other offers apply.",
          "type": "array",
          "items": {
            "$ref": "BasePlan"
          }
        },
        "productId": {
          "type": "string",
          "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length."
        },
        "archived": {
          "type": "boolean",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: subscription archiving is not supported."
        },
        "packageName": {
          "description": "Immutable. Package name of the parent app.",
          "type": "string"
        },
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this subscription is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        }
      }
    },
    "BatchUpdateOneTimeProductsResponse": {
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "type": "object",
      "id": "BatchUpdateOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "description": "The list of updated one-time products list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      }
    },
    "ProductPurchase": {
      "type": "object",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase.",
      "id": "ProductPurchase",
      "properties": {
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        },
        "purchaseTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970)."
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "type": "integer",
          "format": "int32"
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU. May not be present."
        },
        "acknowledgementState": {
          "format": "int32",
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "refundableQuantity": {
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "type": "integer",
          "format": "int32"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        },
        "purchaseType": {
          "type": "integer",
          "format": "int32",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)"
        },
        "quantity": {
          "format": "int32",
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer"
        },
        "developerPayload": {
          "type": "string",
          "description": "A developer-specified string that contains supplemental information about an order."
        },
        "purchaseToken": {
          "type": "string",
          "description": "The purchase token generated to identify this purchase. May not be present."
        },
        "consumptionState": {
          "type": "integer",
          "format": "int32",
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        }
      }
    },
    "SdkVersion": {
      "description": "Represents an sdk version.",
      "type": "object",
      "properties": {
        "min": {
          "type": "integer",
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version."
        }
      },
      "id": "SdkVersion"
    },
    "CancelSubscriptionPurchaseRequest": {
      "description": "Request for the purchases.subscriptionsv2.cancel API.",
      "properties": {
        "cancellationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "CancellationContext"
        }
      },
      "id": "CancelSubscriptionPurchaseRequest",
      "type": "object"
    },
    "DeactivateBasePlanRequest": {
      "type": "object",
      "id": "DeactivateBasePlanRequest",
      "description": "Request message for DeactivateBasePlan.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the base plan to deactivate."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
          "type": "string"
        },
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      }
    },
    "SubscriptionTaxAndComplianceSettings": {
      "type": "object",
      "properties": {
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the subscription. Product tax category determines the transaction tax rates applied to the subscription. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "taxRateInfoByRegionCode": {
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object"
        },
        "eeaWithdrawalRightType": {
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string"
        },
        "regionalProductAgeRatingInfos": {
          "type": "array",
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset."
        }
      },
      "description": "Details about taxation, Google Play policy, and legal compliance for subscription products.",
      "id": "SubscriptionTaxAndComplianceSettings"
    },
    "SubscriptionPurchasesDeferResponse": {
      "properties": {
        "newExpiryTimeMillis": {
          "type": "string",
          "format": "int64",
          "description": "The new expiry time for the subscription in milliseconds since the Epoch."
        }
      },
      "id": "SubscriptionPurchasesDeferResponse",
      "type": "object",
      "description": "Response for the purchases.subscriptions.defer API."
    },
    "RegionalTaxConfig": {
      "properties": {
        "streamingTaxType": {
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax)."
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\"."
        },
        "taxTier": {
          "type": "string",
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        }
      },
      "description": "Details about taxation in a given geographical region.",
      "id": "RegionalTaxConfig",
      "type": "object"
    },
    "RegionalSubscriptionOfferConfig": {
      "id": "RegionalSubscriptionOfferConfig",
      "properties": {
        "newSubscriberAvailability": {
          "description": "Whether the subscription offer in the specified region is available for new subscribers. Existing subscribers will not have their subscription cancelled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "regionCode": {
          "description": "Required. Immutable. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Configuration for a subscription offer in a single region."
    },
    "TrackTargetedCountry": {
      "type": "object",
      "description": "Representation of a single country where the contents of a track can be made available.",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country that can be targeted, as a two-letter CLDR code."
        }
      },
      "id": "TrackTargetedCountry"
    },
    "CreateDraftAppRecoveryRequest": {
      "description": "Request message for CreateDraftAppRecovery.",
      "type": "object",
      "id": "CreateDraftAppRecoveryRequest",
      "properties": {
        "remoteInAppUpdate": {
          "description": "Action type is remote in-app update. As a consequence of this action, a downloadable recovery module is also created for testing purposes.",
          "$ref": "RemoteInAppUpdate"
        },
        "targeting": {
          "description": "Specifies targeting criteria for the recovery action such as regions, android sdk versions, app versions etc.",
          "$ref": "Targeting"
        }
      }
    },
    "DeviceSpec": {
      "type": "object",
      "properties": {
        "supportedAbis": {
          "type": "array",
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "items": {
            "type": "string"
          }
        },
        "screenDensity": {
          "type": "integer",
          "description": "Screen dpi.",
          "format": "uint32"
        },
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The device spec used to generate a system APK.",
      "id": "DeviceSpec"
    },
    "SubscriptionDeferralInfo": {
      "description": "A SubscriptionDeferralInfo contains the data needed to defer a subscription purchase to a future expiry time.",
      "properties": {
        "desiredExpiryTimeMillis": {
          "description": "The desired next expiry time to assign to the subscription, in milliseconds since the Epoch. The given time must be later/greater than the current expiry time for the subscription.",
          "format": "int64",
          "type": "string"
        },
        "expectedExpiryTimeMillis": {
          "format": "int64",
          "type": "string",
          "description": "The expected expiry time for the subscription. If the current expiry time for the subscription is not the value specified here, the deferral will not occur."
        }
      },
      "type": "object",
      "id": "SubscriptionDeferralInfo"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "id": "BatchDeleteOneTimeProductsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          }
        }
      },
      "type": "object",
      "description": "Request message for BatchDeleteOneTimeProduct."
    },
    "Grant": {
      "id": "Grant",
      "type": "object",
      "description": "An access grant resource.",
      "properties": {
        "appLevelPermissions": {
          "items": {
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ]
          },
          "type": "array",
          "description": "The permissions granted to the user for this app."
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        }
      }
    },
    "AppContactInformation": {
      "properties": {
        "phoneNumber": {
          "description": "The contact phone for this app. Optionally provided by the developer.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "The contact email for this app. Always set."
        },
        "websiteUrl": {
          "description": "The contact website url for this app. Optionally provided by the developer.",
          "type": "string"
        }
      },
      "id": "AppContactInformation",
      "type": "object",
      "description": "Contact information for the app."
    },
    "BatchGetOneTimeProductOffersRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          },
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchGetOneTimeProductOffersRequest",
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint."
    },
    "PrepaidPlan": {
      "type": "object",
      "properties": {
        "allowExtendAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans."
        }
      },
      "description": "Information related to a prepaid plan.",
      "id": "PrepaidPlan"
    },
    "PointsDetails": {
      "properties": {
        "pointsCouponValue": {
          "$ref": "Money",
          "description": "The monetary value of a Play Points coupon. This is the discount the coupon provides, which may not be the total amount. Only set when Play Points coupons have been used. E.g. for a 100 points for $2 coupon, this is $2."
        },
        "pointsDiscountRateMicros": {
          "description": "The percentage rate which the Play Points promotion reduces the cost by. E.g. for a 100 points for $2 coupon, this is 500,000. Since $2 has an estimate of 200 points, but the actual Points required, 100, is 50% of this, and 50% in micros is 500,000. Between 0 and 1,000,000.",
          "type": "string",
          "format": "int64"
        },
        "pointsOfferId": {
          "description": "ID unique to the play points offer in use for this order.",
          "type": "string"
        },
        "pointsSpent": {
          "description": "The number of Play Points applied in this order. E.g. for a 100 points for $2 coupon, this is 100. For coupon stacked with base offer, this is the total points spent across both.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "PointsDetails",
      "type": "object",
      "description": "Details relating to any Play Points applied to an order."
    },
    "InappproductsDeleteRequest": {
      "description": "Request to delete an in-app product.",
      "properties": {
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        }
      },
      "id": "InappproductsDeleteRequest",
      "type": "object"
    },
    "ProductOfferDetails": {
      "description": "Offer details information related to a purchase line item.",
      "type": "object",
      "id": "ProductOfferDetails",
      "properties": {
        "purchaseOptionId": {
          "description": "The purchase option ID.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID. Only present for offers."
        },
        "consumptionState": {
          "description": "Output only. The consumption state of the purchase.",
          "enumDescriptions": [
            "Consumption state unspecified. This value should never be set.",
            "Yet to be consumed.",
            "Consumed already."
          ],
          "readOnly": true,
          "enum": [
            "CONSUMPTION_STATE_UNSPECIFIED",
            "CONSUMPTION_STATE_YET_TO_BE_CONSUMED",
            "CONSUMPTION_STATE_CONSUMED"
          ],
          "type": "string"
        },
        "refundableQuantity": {
          "type": "integer",
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "format": "int32"
        },
        "preorderOfferDetails": {
          "description": "Offer details for a preorder offer. This will only be set for preorders.",
          "$ref": "PreorderOfferDetails"
        },
        "offerToken": {
          "description": "The per-transaction offer token used to make this purchase line item.",
          "type": "string"
        },
        "offerTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the purchase option."
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "rentOfferDetails": {
          "$ref": "RentOfferDetails",
          "description": "Offer details about rent offers. This will only be set for rental line items."
        }
      }
    },
    "PolicyDocumentResponse": {
      "properties": {
        "nonExpiring": {
          "description": "Optional. True if confirmed that the document does not have an expiry date.",
          "type": "boolean"
        },
        "documentId": {
          "type": "string",
          "description": "Required. ID of the uploaded document."
        },
        "expiryDate": {
          "$ref": "Date",
          "description": "Optional. Expiry date for the document."
        }
      },
      "description": "An uploaded document. Must be a single logical document (e.g. a financial license).",
      "type": "object",
      "id": "PolicyDocumentResponse"
    },
    "EnrollAppResponse": {
      "type": "object",
      "id": "EnrollAppResponse",
      "description": "Response to enroll an app into Play signing.",
      "properties": {
        "signingCertificate": {
          "description": "The signing certificate hashes for the app. Always set.",
          "$ref": "CertificateHashes"
        },
        "uploadCertificate": {
          "description": "The upload certificate hashes for the app. Set iff pem_upload_certificate was set in the request.",
          "$ref": "CertificateHashes"
        }
      }
    },
    "MultiAbi": {
      "id": "MultiAbi",
      "description": "Represents a list of ABIs.",
      "properties": {
        "abi": {
          "type": "array",
          "items": {
            "$ref": "Abi"
          },
          "description": "A list of targeted ABIs, as represented by the Android Platform"
        }
      },
      "type": "object"
    },
    "SignupPromotion": {
      "type": "object",
      "description": "The promotion applied on this item when purchased.",
      "properties": {
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        },
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        }
      },
      "id": "SignupPromotion"
    },
    "UserComment": {
      "id": "UserComment",
      "description": "User entry from conversation between user and developer.",
      "properties": {
        "reviewerLanguage": {
          "type": "string",
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent."
        },
        "originalText": {
          "type": "string",
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank."
        },
        "androidOsVersion": {
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "format": "int32"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Information about the characteristics of the user's device."
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "appVersionCode": {
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32"
        },
        "thumbsDownCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs down."
        },
        "starRating": {
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer",
          "format": "int32"
        },
        "thumbsUpCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up."
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character."
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "device": {
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "type": "object",
      "id": "Apk",
      "properties": {
        "versionCode": {
          "format": "int32",
[...]
