{
  "version": "v3",
  "servicePath": "",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Android Developer API",
  "name": "androidpublisher",
  "resources": {
    "inappproducts": {
      "methods": {
        "list": {
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.list",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "location": "query",
              "deprecated": true,
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "format": "uint32"
            },
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            },
            "startIndex": {
              "type": "integer",
              "deprecated": true,
              "location": "query",
              "format": "uint32",
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page."
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first product."
            }
          },
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.update",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "sku": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ]
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "allowMissing": {
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT"
        },
        "get": {
          "id": "androidpublisher.inappproducts.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "sku": {
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "batchUpdate": {
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.batchUpdate",
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          }
        },
        "patch": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.patch",
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "latencyTolerance": {
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ]
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "insert": {
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.insert",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "packageName"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.delete",
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "latencyTolerance": {
              "location": "query",
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            },
            "sku": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Unique identifier for the in-app product."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "batchDelete": {
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "parameters": {
            "packageName": {
              "type": "string",
              "description": "Package name of the app.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "httpMethod": "POST",
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.batchDelete",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete"
        },
        "batchGet": {
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app products.",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "id": "androidpublisher.inappproducts.batchGet",
          "parameterOrder": [
            "packageName"
          ]
        }
      }
    },
    "edits": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "AppEdit"
          },
          "description": "Creates a new edit for an app.",
          "httpMethod": "POST",
          "id": "androidpublisher.edits.insert",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits",
          "response": {
            "$ref": "AppEdit"
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits"
        },
        "delete": {
          "id": "androidpublisher.edits.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "editId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier of the edit."
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "description": "Deletes an app edit."
        },
        "get": {
          "parameters": {
            "editId": {
              "description": "Identifier of the edit.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an app edit.",
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}",
          "response": {
            "$ref": "AppEdit"
          },
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "id": "androidpublisher.edits.get"
        },
        "commit": {
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "parameters": {
            "changesNotSentForReview": {
              "description": "When a rejection happens, the parameter will make sure that the changes in this edit won't be reviewed until they are explicitly sent for review from within the Google Play Console UI. These changes will be added to any other changes that are not yet sent for review.",
              "type": "boolean",
              "location": "query"
            },
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            },
            "changesInReviewBehavior": {
              "description": "Optional. Specify how the API should behave if there are changes currently in review. If this value is not set, it will default to \"CANCEL_IN_REVIEW_AND_SUBMIT\", which will cancel the changes in review and then send all the changes for publishing.",
              "type": "string",
              "enumDescriptions": [
                "Defaults to CANCEL_IN_REVIEW_AND_SUBMIT.",
                "If there are changes already in review, then this will cancel that review first and then send all the changes for publishing.",
                "If there are changes in review, then this will return an error. Please refer to the error message sample that is returned when this happens. Note that this won't invalidate the edit. If there aren't any changes in review, then this will continue and send the new changes for publishing."
              ],
              "enum": [
                "CHANGES_IN_REVIEW_BEHAVIOR_TYPE_UNSPECIFIED",
                "CANCEL_IN_REVIEW_AND_SUBMIT",
                "ERROR_IF_IN_REVIEW"
              ],
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "description": "Commits an app edit.",
          "id": "androidpublisher.edits.commit",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:commit",
          "response": {
            "$ref": "AppEdit"
          }
        },
        "validate": {
          "parameterOrder": [
            "packageName",
            "editId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}:validate",
          "response": {
            "$ref": "AppEdit"
          },
          "description": "Validates an app edit.",
          "id": "androidpublisher.edits.validate",
          "parameters": {
            "editId": {
              "location": "path",
              "required": true,
              "description": "Identifier of the edit.",
              "type": "string"
            },
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        }
      },
      "resources": {
        "listings": {
          "methods": {
            "patch": {
              "parameters": {
                "language": {
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "httpMethod": "PATCH",
              "description": "Patches a localized store listing.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "request": {
                "$ref": "Listing"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Gets a localized store listing.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "httpMethod": "GET",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ]
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "response": {
                "$ref": "Listing"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Listing"
              },
              "description": "Creates or updates a localized store listing.",
              "parameters": {
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "id": "androidpublisher.edits.listings.update",
              "httpMethod": "PUT"
            },
            "delete": {
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}",
              "description": "Deletes a localized store listing.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language"
              ],
              "id": "androidpublisher.edits.listings.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}"
            },
            "deleteall": {
              "description": "Deletes all store listings.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.listings.deleteall",
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "response": {
                "$ref": "ListingsListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Lists all localized store listings.",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings",
              "id": "androidpublisher.edits.listings.list"
            }
          }
        },
        "bundles": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "description": "Lists all current Android App Bundles of the app and edit.",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "BundlesListResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.bundles.list",
              "httpMethod": "GET"
            },
            "upload": {
              "id": "androidpublisher.edits.bundles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "response": {
                "$ref": "Bundle"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles",
              "httpMethod": "POST",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "ackBundleInstallationWarning": {
                  "location": "query",
                  "type": "boolean",
                  "deprecated": true,
                  "description": "Deprecated. The installation warning has been removed, it's not necessary to set this field anymore."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "deviceTierConfigId": {
                  "description": "Device tier config (DTC) to be used for generating deliverables (APKs). Contains id of the DTC or \"LATEST\" for last uploaded DTC.",
                  "location": "query",
                  "type": "string"
                }
              },
              "supportsMediaUpload": true,
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Uploads a new Android App Bundle to this edit. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "53687091200",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/bundles"
                  }
                }
              }
            }
          }
        },
        "images": {
          "methods": {
            "list": {
              "id": "androidpublisher.edits.images.list",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "imageType": {
                  "location": "path",
                  "description": "Type of the Image. Providing an image type that refers to no images will return an empty response.",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). There must be a store listing for the specified language."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "httpMethod": "GET",
              "description": "Lists all images. The response may be empty.",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesListResponse"
              }
            },
            "deleteall": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "id": "androidpublisher.edits.images.deleteall",
              "description": "Deletes all images for the specified language and image type. Returns an empty response if no images are found.",
              "parameters": {
                "imageType": {
                  "type": "string",
                  "required": true,
                  "description": "Type of the Image. Providing an image type that refers to no images is a no-op.",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path"
                },
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesDeleteAllResponse"
              }
            },
            "delete": {
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType",
                "imageId"
              ],
              "id": "androidpublisher.edits.images.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "imageId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Unique identifier an image within the set of images attached to this edit."
                },
                "language": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German)."
                },
                "imageType": {
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image.",
                  "required": true,
                  "type": "string",
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ],
                  "location": "path"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deletes the image (specified by id) from the edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}"
            },
            "upload": {
              "parameters": {
                "imageType": {
                  "type": "string",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified type. Do not use.",
                    "Phone screenshot.",
                    "Seven inch screenshot.",
                    "Ten inch screenshot.",
                    "TV screenshot.",
                    "Wear screenshot.",
                    "Icon.",
                    "Feature graphic.",
                    "TV banner."
                  ],
                  "description": "Type of the Image.",
                  "required": true,
                  "enum": [
                    "appImageTypeUnspecified",
                    "phoneScreenshots",
                    "sevenInchScreenshots",
                    "tenInchScreenshots",
                    "tvScreenshots",
                    "wearScreenshots",
                    "icon",
                    "featureGraphic",
                    "tvBanner"
                  ]
                },
                "aiGeneratedState": {
                  "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Catch-all for unrecognized enum values. See go/protodosdonts.",
                    "The content is not generated by AI.",
                    "The content is generated by AI and attested by the developer."
                  ],
                  "enum": [
                    "aiGeneratedStateUnspecified",
                    "aiGeneratedStateNotAiGenerated",
                    "aiGeneratedStateAiGeneratedDeveloperAttested"
                  ]
                },
                "language": {
                  "type": "string",
                  "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German). Providing a language that is not supported by the App is a no-op.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "packageName",
                "editId",
                "language",
                "imageType"
              ],
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
                    "multipart": true
                  }
                },
                "accept": [
                  "image/*"
                ],
                "maxSize": "15728640"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "description": "Uploads an image of the specified language and image type, and adds to the edit.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "supportsMediaUpload": true,
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}",
              "response": {
                "$ref": "ImagesUploadResponse"
              },
              "id": "androidpublisher.edits.images.upload"
            }
          }
        },
        "apks": {
          "methods": {
            "addexternallyhosted": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted",
              "response": {
                "$ref": "ApksAddExternallyHostedResponse"
              },
              "id": "androidpublisher.edits.apks.addexternallyhosted",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "request": {
                "$ref": "ApksAddExternallyHostedRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                }
              },
              "description": "Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/externallyHosted"
            },
            "list": {
              "id": "androidpublisher.edits.apks.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "ApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Lists all current APKs of the app and edit.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
            },
            "upload": {
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "response": {
                "$ref": "Apk"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.apks.upload",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
              "description": "Uploads an APK and adds to the current edit.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              },
              "mediaUpload": {
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks"
                  },
                  "simple": {
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks",
                    "multipart": true
                  }
                },
                "accept": [
                  "application/octet-stream",
                  "application/vnd.android.package-archive"
                ],
                "maxSize": "10737418240"
              },
              "httpMethod": "POST"
            }
          }
        },
        "details": {
          "methods": {
            "get": {
              "parameters": {
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "description": "Gets details of an app.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "id": "androidpublisher.edits.details.get"
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "request": {
                "$ref": "AppDetails"
              },
              "description": "Updates details of an app.",
              "id": "androidpublisher.edits.details.update",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT"
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "id": "androidpublisher.edits.details.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/details",
              "response": {
                "$ref": "AppDetails"
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "AppDetails"
              },
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                }
              },
              "httpMethod": "PATCH",
              "description": "Patches details of an app."
            }
          }
        },
        "tracks": {
          "methods": {
            "patch": {
              "description": "Patches a track.",
              "request": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.patch",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ]
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Gets a track.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.tracks.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "track": {
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "update": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "response": {
                "$ref": "Track"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "description": "Updates a track.",
              "request": {
                "$ref": "Track"
              },
              "id": "androidpublisher.edits.tracks.update",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks/{track}",
              "httpMethod": "PUT",
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "track": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
                }
              }
            },
            "create": {
              "request": {
                "$ref": "TrackConfig"
              },
              "id": "androidpublisher.edits.tracks.create",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates a new track.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "Track"
              },
              "httpMethod": "POST",
              "parameters": {
                "editId": {
                  "type": "string",
                  "description": "Required. Identifier of the edit.",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Package name of the app."
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ]
            },
            "list": {
              "description": "Lists all tracks.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/tracks",
              "response": {
                "$ref": "TracksListResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId"
              ],
              "id": "androidpublisher.edits.tracks.list"
            }
          }
        },
        "expansionfiles": {
          "methods": {
            "patch": {
              "description": "Patches the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "request": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "id": "androidpublisher.edits.expansionfiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "type": "string",
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "httpMethod": "PATCH"
            },
            "update": {
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Package name of the app."
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "type": "integer",
                  "location": "path",
                  "format": "int32",
                  "required": true
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "required": true,
                  "type": "string",
                  "description": "The file type of the file configuration which is being read or modified.",
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "location": "path"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "PUT",
              "description": "Updates the APK's expansion file configuration to reference another APK's expansion file. To add a new expansion file use the Upload method.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "request": {
                "$ref": "ExpansionFile"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.edits.expansionfiles.update"
            },
            "upload": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "description": "Uploads a new expansion file and attaches to the specified APK.",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"
                  }
                },
                "maxSize": "2147483648"
              },
              "parameters": {
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "apkVersionCode": {
                  "type": "integer",
                  "required": true,
                  "format": "int32",
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "location": "path"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "expansionFileType": {
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "required": true,
                  "description": "The file type of the expansion file configuration which is being updated.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFilesUploadResponse"
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "httpMethod": "POST",
              "id": "androidpublisher.edits.expansionfiles.upload",
              "supportsMediaUpload": true
            },
            "get": {
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "expansionFileType"
              ],
              "description": "Fetches the expansion file configuration for the specified APK.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "response": {
                "$ref": "ExpansionFile"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}",
              "id": "androidpublisher.edits.expansionfiles.get",
              "parameters": {
                "expansionFileType": {
                  "type": "string",
                  "location": "path",
                  "enumDescriptions": [
                    "Unspecified expansion file type.",
                    "Main expansion file.",
                    "Patch expansion file."
                  ],
                  "enum": [
                    "expansionFileTypeUnspecified",
                    "main",
                    "patch"
                  ],
                  "description": "The file type of the file configuration which is being read or modified.",
                  "required": true
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "description": "Identifier of the edit.",
                  "type": "string"
                },
                "apkVersionCode": {
                  "description": "The version code of the APK whose expansion file configuration is being read or modified.",
                  "format": "int32",
                  "required": true,
                  "location": "path",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "countryavailability": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "track": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The track to read from."
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "type": "string",
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "id": "androidpublisher.edits.countryavailability.get",
              "httpMethod": "GET",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "description": "Gets country availability.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/countryAvailability/{track}",
              "response": {
                "$ref": "TrackCountryAvailability"
              }
            }
          }
        },
        "testers": {
          "methods": {
            "update": {
              "request": {
                "$ref": "Testers"
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.update",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "httpMethod": "PUT",
              "description": "Updates testers. Note: Testers resource does not support email lists.",
              "parameters": {
                "track": {
                  "description": "The track to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app.",
                  "type": "string"
                },
                "editId": {
                  "description": "Identifier of the edit.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "track": {
                  "type": "string",
                  "description": "The track to update.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "Testers"
              },
              "description": "Patches testers. Note: Testers resource does not support email lists.",
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "id": "androidpublisher.edits.testers.patch"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "description": "Gets testers. Note: Testers resource does not support email lists.",
              "id": "androidpublisher.edits.testers.get",
              "parameterOrder": [
                "packageName",
                "editId",
                "track"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/testers/{track}",
              "response": {
                "$ref": "Testers"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "track": {
                  "location": "path",
                  "required": true,
                  "description": "The track to read from.",
                  "type": "string"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Package name of the app."
                },
                "editId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Identifier of the edit."
                }
              }
            }
          }
        },
        "deobfuscationfiles": {
          "methods": {
            "upload": {
              "id": "androidpublisher.edits.deobfuscationfiles.upload",
              "flatPath": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "response": {
                "$ref": "DeobfuscationFilesUploadResponse"
              },
              "supportsMediaUpload": true,
              "parameters": {
                "editId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Unique identifier for this edit."
                },
                "deobfuscationFileType": {
                  "location": "path",
                  "type": "string",
                  "description": "The type of the deobfuscation file.",
                  "enum": [
                    "deobfuscationFileTypeUnspecified",
                    "proguard",
                    "nativeCode"
                  ],
                  "required": true,
                  "enumDescriptions": [
                    "Unspecified deobfuscation file type.",
                    "Proguard deobfuscation file type.",
                    "Native debugging symbols file type."
                  ]
                },
                "packageName": {
                  "type": "string",
                  "description": "Unique identifier for the Android app.",
                  "location": "path",
                  "required": true
                },
                "apkVersionCode": {
                  "format": "int32",
                  "required": true,
                  "type": "integer",
                  "location": "path",
                  "description": "The version code of the APK whose Deobfuscation File is being uploaded."
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "mediaUpload": {
                "maxSize": "1677721600",
                "protocols": {
                  "resumable": {
                    "path": "/resumable/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}",
                    "multipart": true
                  },
                  "simple": {
                    "multipart": true,
                    "path": "/upload/androidpublisher/v3/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ]
              },
              "parameterOrder": [
                "packageName",
                "editId",
                "apkVersionCode",
                "deobfuscationFileType"
              ],
              "description": "Uploads a new deobfuscation file and attaches to the specified APK."
            }
          }
        }
      }
    },
    "generatedapks": {
      "methods": {
        "download": {
          "id": "androidpublisher.generatedapks.download",
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "description": "Downloads a single signed APK generated from an app bundle.",
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "parameters": {
            "downloadId": {
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "versionCode": {
              "format": "int32",
              "required": true,
              "type": "integer",
              "description": "Version code of the app bundle.",
              "location": "path"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "supportsMediaDownload": true
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "id": "androidpublisher.generatedapks.list",
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "required": true,
              "description": "Package name of the app.",
              "type": "string"
            },
            "versionCode": {
              "type": "integer",
              "required": true,
              "description": "Version code of the app bundle.",
              "location": "path",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "appsigning": {
      "methods": {
        "rotateAppSigningKey": {
          "id": "androidpublisher.appsigning.rotateAppSigningKey",
          "request": {
            "$ref": "RotateAppSigningKeyRequest"
          },
          "description": "Rotates an app's signing key to a new self-hosted Google Cloud KMS key. Warning: This method only applies to apps enrolled with self-hosted Cloud KMS keys. For apps using standard Google-managed Play App Signing, key rotation requests must be initiated through the Google Play Console UI. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "path": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Either package name or app ID of the app rotating the signing key."
            }
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:rotateAppSigningKey",
          "response": {
            "$ref": "RotateAppSigningKeyResponse"
          },
          "parameterOrder": [
            "name"
          ]
        },
        "enrollApp": {
          "description": "Enrolls an app in Play App Signing using a self-hosted Google Cloud KMS key. Warning: Do not use this method for standard Play App Signing enrollment. * Standard enrollment with Google-generated or Google-managed keys cannot be done via API. * This advanced API is strictly for enterprise organizations with mandatory compliance, regulatory, or policy requirements to retain key custody in an external Google Cloud KMS instance. * Prerequisites: Requires an active, properly configured Google Cloud KMS key with appropriate IAM permissions granted to Google Play before calling this method. See Help Center: https://support.google.com/googleplay/android-developer/answer/9842756",
          "flatPath": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "response": {
            "$ref": "EnrollAppResponse"
          },
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "description": "Required. Either package name or app ID of the app enrolling in Play Signing.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/applications/{name}/appSigning:enrollApp",
          "httpMethod": "POST",
          "id": "androidpublisher.appsigning.enrollApp",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "EnrollAppRequest"
          }
        }
      }
    },
    "purchases": {
      "resources": {
        "products": {
          "methods": {
            "acknowledge": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "description": "Acknowledges a purchase of an inapp item.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.acknowledge"
            },
            "consume": {
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "id": "androidpublisher.purchases.products.consume",
              "description": "Consumes a purchase for an inapp item.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "token": {
                  "type": "string",
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "id": "androidpublisher.purchases.products.get",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "description": "Checks the purchase and consumption status of an inapp item."
            }
          }
        },
        "subscriptions": {
          "methods": {
            "defer": {
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "token": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased."
                }
              },
              "httpMethod": "POST",
              "deprecated": true,
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "description": "Deprecated: Use purchases.subscriptionsv2.defer instead. Defers a user's subscription purchase until a specified future expiration time.",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "cancel": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "description": "Deprecated: Use purchases.subscriptionsv2.cancel instead. Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "httpMethod": "POST",
              "deprecated": true,
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "parameters": {
                "token": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "type": "string"
                },
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "type": "string"
                }
              }
            },
            "acknowledge": {
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "parameters": {
                "subscriptionId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
[...]
