{
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Android Publisher",
  "ownerDomain": "google.com",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "revision": "20260924",
  "version": "v3",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Google Play Android Developer API",
  "documentationLink": "https://developers.google.com/android-publisher",
  "name": "androidpublisher",
  "id": "androidpublisher:v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "servicePath": "",
  "schemas": {
    "RevocationContext": {
      "type": "object",
      "properties": {
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        },
        "itemBasedRefund": {
          "$ref": "RevocationContextItemBasedRefund",
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items."
        },
        "proratedRefund": {
          "$ref": "RevocationContextProratedRefund",
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription."
        }
      },
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "id": "RevocationContext"
    },
    "DeviceSpec": {
      "type": "object",
      "properties": {
        "screenDensity": {
          "type": "integer",
          "format": "uint32",
          "description": "Screen dpi."
        },
        "supportedAbis": {
          "description": "Supported ABI architectures in the order of preference. The values should be the string as reported by the platform, e.g. \"armeabi-v7a\", \"x86_64\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedLocales": {
          "description": "All installed locales represented as BCP-47 strings, e.g. \"en-US\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The device spec used to generate a system APK.",
      "id": "DeviceSpec"
    },
    "DeployAppRecoveryResponse": {
      "properties": {},
      "id": "DeployAppRecoveryResponse",
      "description": "Response message for DeployAppRecovery.",
      "type": "object"
    },
    "InappproductsDeleteRequest": {
      "id": "InappproductsDeleteRequest",
      "description": "Request to delete an in-app product.",
      "type": "object",
      "properties": {
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      }
    },
    "ApksListResponse": {
      "type": "object",
      "id": "ApksListResponse",
      "description": "Response listing all APKs.",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "type": "array",
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs."
        }
      }
    },
    "PriceStepUpConsentDetails": {
      "id": "PriceStepUpConsentDetails",
      "description": "Information related to a price step-up that requires user consent.",
      "properties": {
        "newPrice": {
          "$ref": "Money",
          "description": "The new price which requires user consent."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ],
          "description": "Output only. The state of the price step-up consent.",
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ],
          "type": "string"
        },
        "consentDeadlineTime": {
          "type": "string",
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GeneratedApksPerSigningKey": {
      "id": "GeneratedApksPerSigningKey",
      "type": "object",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "properties": {
        "unprotectedGeneratedStandaloneApks": {
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array"
        },
        "certificateSha256Hash": {
          "description": "SHA256 hash of the APK signing public key certificate.",
          "type": "string"
        },
        "generatedUniversalApk": {
          "$ref": "GeneratedUniversalApk",
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key."
        },
        "generatedAssetPackSlices": {
          "type": "array",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          },
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash."
        },
        "unprotectedGeneratedSplitApks": {
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        },
        "generatedRecoveryModules": {
          "items": {
            "$ref": "GeneratedRecoveryApk"
          },
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key.",
          "type": "array"
        },
        "generatedSplitApks": {
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array"
        },
        "generatedStandaloneApks": {
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash."
        }
      }
    },
    "DeviceGroup": {
      "id": "DeviceGroup",
      "properties": {
        "deviceSelectors": {
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group.",
          "items": {
            "$ref": "DeviceSelector"
          },
          "type": "array"
        },
        "name": {
          "description": "The name of the group.",
          "type": "string"
        }
      },
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR).",
      "type": "object"
    },
    "ArtifactSummary": {
      "description": "Summary of an artifact.",
      "properties": {
        "versionCode": {
          "description": "Artifact's version code",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "ArtifactSummary"
    },
    "SdkVersionTargeting": {
      "properties": {
        "value": {
          "description": "Value of an sdk version.",
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          }
        },
        "alternatives": {
          "items": {
            "$ref": "SdkVersion"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        }
      },
      "id": "SdkVersionTargeting",
      "description": "Targeting based on sdk version.",
      "type": "object"
    },
    "ItemExpiryTimeDetails": {
      "description": "Expiry time details of a subscription item.",
      "id": "ItemExpiryTimeDetails",
      "type": "object",
      "properties": {
        "productId": {
          "description": "The product ID of the subscription item (for example, 'premium_plan').",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "description": "The new expiry time for this subscription item.",
          "format": "google-datetime"
        }
      }
    },
    "GeneratedRecoveryApk": {
      "type": "object",
      "id": "GeneratedRecoveryApk",
      "description": "Download metadata for an app recovery module.",
      "properties": {
        "recoveryStatus": {
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "description": "The status of the recovery action corresponding to the recovery apk."
        },
        "recoveryId": {
          "type": "string",
          "description": "ID of the recovery action.",
          "format": "int64"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module which recovery apk belongs to."
        }
      }
    },
    "OfferPhaseDetails": {
      "id": "OfferPhaseDetails",
      "description": "Details of a pricing phase for the entitlement period funded by this order.",
      "properties": {
        "introductoryPriceDetails": {
          "$ref": "IntroductoryPriceDetails",
          "description": "The order funds an introductory pricing period."
        },
        "freeTrialDetails": {
          "description": "The order funds a free trial period.",
          "$ref": "FreeTrialDetails"
        },
        "prorationPeriodDetails": {
          "$ref": "ProrationPeriodDetails",
          "description": "The order funds a proration period."
        },
        "baseDetails": {
          "description": "The order funds a base price period.",
          "$ref": "BaseDetails"
        }
      },
      "type": "object"
    },
    "OfferTag": {
      "description": "Represents a custom tag specified for a product offer.",
      "id": "OfferTag",
      "type": "object",
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      }
    },
    "BatchDeleteOneTimeProductOffersRequest": {
      "description": "Request message for BatchDeleteOneTimeProductOffers.",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must correspond to different offers.",
          "items": {
            "$ref": "DeleteOneTimeProductOfferRequest"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "BatchDeleteOneTimeProductOffersRequest"
    },
    "CoarseLocation": {
      "type": "object",
      "description": "Coarse Geographic location details for where the consumption happened.",
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. For Spain, this is the province and not the autonomous community (for example, \"Barcelona\" and not \"Catalonia\"). Many countries don't use an administrative area in postal addresses. For example, in Switzerland, this should be left unpopulated."
        },
        "regionCode": {
          "description": "Required. [CLDR region code](https://cldr.unicode.org/) of the country/region of the address. This value is never inferred and you must ensure the value is correct. Example: \"CH\" for Switzerland.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address. For example, this can be a neighborhood, borough, or district. For most addresses, you can omit this.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city or town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave `locality` empty.",
          "type": "string"
        }
      },
      "id": "CoarseLocation"
    },
    "AppStoreAppActiveApks": {
      "description": "Information about active APKs of an app store hosted app.",
      "id": "AppStoreAppActiveApks",
      "type": "object",
      "properties": {
        "activeApkSets": {
          "items": {
            "$ref": "AppStoreAppActiveApkSet"
          },
          "type": "array",
          "description": "Required. List specifying which APK sets are distributed together. This list should contain all APKs that you're distributing for this app. Add an entry for each individual installable set of APKs."
        }
      }
    },
    "ConsumptionUsageEvent": {
      "properties": {
        "obfuscatedProfileId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user profile in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedProfileId(java.lang.String)",
          "type": "string"
        },
        "consumptionItemDescription": {
          "description": "Optional. Free form text that allows developers to provide more info on the item consumed. Maximum length is 5000 characters.",
          "type": "string"
        },
        "obfuscatedAccountId": {
          "description": "Optional. Obfuscated string that is uniquely associated with the purchaser's user account in the app. https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setObfuscatedAccountId(java.lang.String)",
          "type": "string"
        },
        "location": {
          "$ref": "CoarseLocation",
          "description": "Optional. Geographic location where the consumption occurred."
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The IP address from which the consumption occurred."
        },
        "consumptionTime": {
          "type": "string",
          "description": "Optional. Time when the user consumed, used, downloaded, opened, or streamed the content.",
          "format": "google-datetime"
        }
      },
      "id": "ConsumptionUsageEvent",
      "description": "List of events, each representing an instance where the user consumed or used the purchased item or service.",
      "type": "object"
    },
    "ListAppRecoveriesResponse": {
      "properties": {
        "recoveryActions": {
          "items": {
            "$ref": "AppRecoveryAction"
          },
          "description": "List of recovery actions associated with the requested package name.",
          "type": "array"
        }
      },
      "id": "ListAppRecoveriesResponse",
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled",
      "type": "object"
    },
    "SafetyLabelsUpdateResponse": {
      "description": "Response for SafetyLabelsUpdate rpc.",
      "id": "SafetyLabelsUpdateResponse",
      "properties": {},
      "type": "object"
    },
    "Image": {
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image",
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique id representing this image."
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        },
        "aiGeneratedState": {
          "description": "Optional. Whether the image was generated by AI. Attested by the developer.",
          "enumDescriptions": [
            "Catch-all for unrecognized enum values. See go/protodosdonts.",
            "The content is not generated by AI.",
            "The content is generated by AI and attested by the developer."
          ],
          "enum": [
            "aiGeneratedStateUnspecified",
            "aiGeneratedStateNotAiGenerated",
            "aiGeneratedStateAiGeneratedDeveloperAttested"
          ],
          "type": "string"
        },
        "url": {
          "description": "A URL that will serve a preview of the image.",
          "type": "string"
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        }
      }
    },
    "OneTimeExternalTransaction": {
      "type": "object",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched.",
          "type": "string"
        }
      },
      "id": "OneTimeExternalTransaction",
      "description": "Represents a one-time transaction."
    },
    "MultiAbi": {
      "id": "MultiAbi",
      "description": "Represents a list of ABIs.",
      "type": "object",
      "properties": {
        "abi": {
          "items": {
            "$ref": "Abi"
          },
          "type": "array",
          "description": "A list of targeted ABIs, as represented by the Android Platform"
        }
      }
    },
    "EnrollAppResponse": {
      "description": "Response to enroll an app into Play signing.",
      "id": "EnrollAppResponse",
      "type": "object",
      "properties": {
        "uploadCertificate": {
          "$ref": "CertificateHashes",
          "description": "The upload certificate hashes for the app. Set iff pem_upload_certificate was set in the request."
        },
        "signingCertificate": {
          "$ref": "CertificateHashes",
          "description": "The signing certificate hashes for the app. Always set."
        }
      }
    },
    "OneTimeProduct": {
      "properties": {
        "taxAndComplianceSettings": {
          "$ref": "OneTimeProductTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance."
        },
        "purchaseOptions": {
          "description": "Required. The set of purchase options for this one-time product.",
          "items": {
            "$ref": "OneTimeProductPurchaseOption"
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. Package name of the parent app."
        },
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this one-time product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        },
        "productId": {
          "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
          "type": "string"
        },
        "listings": {
          "description": "Required. Set of localized title and description data. Must not have duplicate entries with the same language_code.",
          "items": {
            "$ref": "OneTimeProductListing"
          },
          "type": "array"
        },
        "offerTags": {
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array",
          "description": "Optional. List of up to 20 custom tags specified for this one-time product, and returned to the app through the billing library. Purchase options and offers for this product will also receive these tags in the billing library."
        },
        "regionsVersion": {
          "$ref": "RegionsVersion",
          "readOnly": true,
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product."
        }
      },
      "id": "OneTimeProduct",
      "type": "object",
      "description": "A single one-time product for an app."
    },
    "BatchUpdateSubscriptionsResponse": {
      "description": "Response message for BatchUpdateSubscription.",
      "type": "object",
      "id": "BatchUpdateSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "description": "The updated subscriptions list.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "UpdateAppStoreHostedAppResponse": {
      "id": "UpdateAppStoreHostedAppResponse",
      "properties": {
        "updateId": {
          "type": "string",
          "description": "Unique identifier for the specific version of the hosted app submitted in this update. This identifier can be used to correlate publishing signals (such as those returned by ListHostedAppsPublishingSignals) with this specific app update."
        }
      },
      "description": "Response for updating an app record for an app store hosted app.",
      "type": "object"
    },
    "PrepaidBasePlanType": {
      "type": "object",
      "properties": {
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "timeExtension": {
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ],
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "type": "string",
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified."
        }
      },
      "id": "PrepaidBasePlanType",
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user."
    },
    "ExternalContentLinkDetails": {
      "description": "Reporting details unique to the external content link program.",
      "type": "object",
      "id": "ExternalContentLinkDetails",
      "properties": {
        "linkType": {
          "enum": [
            "EXTERNAL_CONTENT_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "type": "string",
          "description": "Required. The type content being reported by this transaction.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ]
        },
        "installedAppPackage": {
          "type": "string",
          "description": "Optional. The package name of the app downloaded through this transaction. Only required for app installs."
        },
        "externalAppCategory": {
          "description": "Optional. The category of the downlaoded app. This must match the category provided in Play Console during the external app verification process. Only required for app installs.",
          "enum": [
            "EXTERNAL_CONTENT_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ],
          "type": "string"
        }
      }
    },
    "TracksListResponse": {
      "description": "Response listing all tracks.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\").",
          "type": "string"
        },
        "tracks": {
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks (including tracks with no releases).",
          "type": "array"
        }
      },
      "id": "TracksListResponse"
    },
    "ImagesDeleteAllResponse": {
      "description": "Response for deleting all images.",
      "type": "object",
      "id": "ImagesDeleteAllResponse",
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        }
      }
    },
    "VoidedPurchasesListResponse": {
      "id": "VoidedPurchasesListResponse",
      "type": "object",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination information for token pagination."
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "description": "Response for the voidedpurchases.list API."
    },
    "AppEdit": {
      "id": "AppEdit",
      "properties": {
        "id": {
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls.",
          "readOnly": true,
          "type": "string"
        },
        "expiryTimeSeconds": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use."
        }
      },
      "description": "An app edit. The resource for EditsService.",
      "type": "object"
    },
    "ProductPurchase": {
      "properties": {
        "consumptionState": {
          "description": "The consumption state of the inapp product. Possible values are: 0. Yet to be consumed 1. Consumed",
          "type": "integer",
          "format": "int32"
        },
        "acknowledgementState": {
          "description": "The acknowledgement state of the inapp product. Possible values are: 0. Yet to be acknowledged 1. Acknowledged",
          "type": "integer",
          "format": "int32"
        },
        "developerPayload": {
          "description": "A developer-specified string that contains supplemental information about an order.",
          "type": "string"
        },
        "purchaseToken": {
          "description": "The purchase token generated to identify this purchase. May not be present.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "The inapp product SKU. May not be present."
        },
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product. If not present, the quantity is 1.",
          "type": "integer",
          "format": "int32"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "purchaseTimeMillis": {
          "description": "The time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "description": "This kind represents an inappPurchase object in the androidpublisher service.",
          "type": "string"
        },
        "purchaseType": {
          "format": "int32",
          "type": "integer",
          "description": "The type of purchase of the inapp product. This field is only set if this purchase was not made using the standard in-app billing flow. Possible values are: 0. Test (i.e. purchased from a license testing account) 1. Promo (i.e. purchased using a promo code). Does not include Play Points purchases. 2. Rewarded (i.e. from watching a video ad instead of paying)"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "refundableQuantity": {
          "type": "integer",
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "format": "int32"
        },
        "purchaseState": {
          "description": "The purchase state of the order. Possible values are: 0. Purchased 1. Canceled 2. Pending",
          "format": "int32",
          "type": "integer"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ProductPurchase",
      "description": "A ProductPurchase resource indicates the status of a user's inapp product purchase."
    },
    "Variant": {
      "properties": {
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        },
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "type": "integer",
          "readOnly": true,
          "format": "uint32"
        }
      },
      "id": "Variant",
      "type": "object",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService."
    },
    "GeneratedStandaloneApk": {
      "properties": {
        "variantId": {
          "type": "integer",
          "format": "int32",
          "description": "ID of the generated variant."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        }
      },
      "id": "GeneratedStandaloneApk",
      "type": "object",
      "description": "Download metadata for a standalone APK."
    },
    "CancelAppRecoveryResponse": {
      "properties": {},
      "description": "Response message for CancelAppRecovery.",
      "id": "CancelAppRecoveryResponse",
      "type": "object"
    },
    "RevocationContextItemBasedRefund": {
      "type": "object",
      "id": "RevocationContextItemBasedRefund",
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      }
    },
    "InstallmentPlan": {
      "description": "Information to a installment plan.",
      "id": "InstallmentPlan",
      "type": "object",
      "properties": {
        "remainingCommittedPaymentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle."
        },
        "initialCommittedPaymentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of payments the user is initially committed for."
        },
        "subsequentCommittedPaymentsCount": {
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "type": "integer",
          "format": "int32"
        },
        "pendingCancellation": {
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments.",
          "$ref": "PendingCancellation"
        }
      }
    },
    "DeveloperDetails": {
      "description": "The developer details of a Google Play app.",
      "id": "DeveloperDetails",
      "type": "object",
      "properties": {
        "contactEmail": {
          "description": "The contact email of the developer.",
          "type": "string"
        },
        "website": {
          "description": "The website of the developer.",
          "type": "string"
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the developer."
        },
        "developerName": {
          "description": "The developer name of the app.",
          "type": "string"
        },
        "address": {
          "description": "The physical address of the developer.",
          "type": "string"
        }
      }
    },
    "GeneratedSplitApk": {
      "type": "object",
      "description": "Download metadata for a split APK.",
      "id": "GeneratedSplitApk",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this APK belongs to."
        },
        "variantId": {
          "description": "ID of the generated variant.",
          "type": "integer",
          "format": "int32"
        },
        "splitId": {
          "type": "string",
          "description": "Split ID. Empty for the main split of the base module."
        }
      }
    },
    "AppStoreAppStoreListing": {
      "id": "AppStoreAppStoreListing",
      "type": "object",
      "description": "A localized store listing. These are the details about the app as shown in your app store.",
      "properties": {
        "videoLink": {
          "type": "string",
          "description": "Optional. Link to a video about the app."
        },
        "languageCode": {
          "description": "Required. Language code (e.g., \"en-US\") of the listing.",
          "type": "string"
        },
        "appName": {
          "description": "Required. The title of the app.",
          "type": "string"
        },
        "screenshotId": {
          "description": "Required. Multiple image IDs for screenshot galleries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appIconId": {
          "description": "Required. Image ID generated from UploadImage for the main app icon.",
          "type": "string"
        },
        "shortDescription": {
          "description": "Optional. Quick summary about the app.",
          "type": "string"
        },
        "fullDescription": {
          "type": "string",
          "description": "Required. Comprehensive description text about the app."
        }
      }
    },
    "ExpansionFile": {
      "properties": {
        "referencesVersion": {
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer"
        },
        "fileSize": {
          "type": "string",
          "format": "int64",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes."
        }
      },
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "id": "ExpansionFile",
      "type": "object"
    },
    "UpdatePurchaseOptionStateRequest": {
      "description": "Request message to update the state of a one-time product purchase option.",
      "type": "object",
      "properties": {
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        },
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        }
      },
      "id": "UpdatePurchaseOptionStateRequest"
    },
    "SubscriptionDetails": {
      "properties": {
        "offerPhase": {
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order."
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID for the current subscription offer."
        },
        "servicePeriodStartTime": {
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "format": "google-datetime",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID of the subscription."
        },
        "servicePeriodEndTime": {
          "type": "string",
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get.",
          "format": "google-datetime"
        },
        "offerPhaseDetails": {
          "$ref": "OfferPhaseDetails",
          "description": "The pricing phase details for the entitlement period funded by this order."
        }
      },
      "id": "SubscriptionDetails",
      "type": "object",
      "description": "Details of a subscription purchase."
    },
    "EnrollExistingApp": {
      "type": "object",
      "description": "Enroll an existing app into Play signing.",
      "id": "EnrollExistingApp",
      "properties": {
        "cloudKmsKey": {
          "description": "Required. Self-hosted key. Once enrolled, this key will be used to sign your app.",
          "$ref": "CloudKmsKey"
        }
      }
    },
    "ImageAsset": {
      "description": "An image asset.",
      "properties": {
        "imageUrl": {
          "description": "The URL of the image asset.",
          "type": "string"
        }
      },
      "id": "ImageAsset",
      "type": "object"
    },
    "DeviceCompatibilityRequirements": {
      "type": "object",
      "description": "Defines a set of device compatibility requirements for the app. A device must satisfy all of the requirements in a set to be considered compatible with the app.",
      "properties": {
        "use32BitAbi": {
          "type": "string",
          "enum": [
            "USE_32_BIT_ABI_UNSPECIFIED",
            "USE_32_BIT_ABI_TRUE",
            "USE_32_BIT_ABI_OTHER"
          ],
          "description": "Value of `android:use32BitAbi` flag retrieved from the Manifest.",
          "enumDescriptions": [
            "Unspecified 32-bit ABI usage.",
            "Value of use32BitAbi is set to \"true\".",
            "Value of use32BitAbi is not set or set to something other than \"true\"."
          ]
        },
        "requiredSoftwareLibraries": {
          "description": "List of required libraries as declared in the `uses-library` manifest tag.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedGlTextures": {
          "description": "Supported gl textures as specified by the `supported-gl-texture` Manifest tag.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "requiresSmallestWidthDp": {
          "format": "int64",
          "description": "Specifies the minimum smallest width required of the screen.",
          "type": "string"
        },
        "isScreenRequired": {
          "description": "Specifies if the app requires a screen.",
          "type": "boolean"
        },
        "supportedScreens": {
          "items": {
            "enumDescriptions": [
              "Unspecified screen size.",
              "Small screen size.",
              "Normal screen size.",
              "Large screen size.",
              "Extra large screen size."
            ],
            "enum": [
              "SCREEN_SIZE_UNSPECIFIED",
              "SCREEN_SIZE_SMALL",
              "SCREEN_SIZE_NORMAL",
              "SCREEN_SIZE_LARGE",
              "SCREEN_SIZE_EXTRA_LARGE"
            ],
            "type": "string"
          },
          "description": "Compatible screens as listed in the `supports-screens` Manifest tag.",
          "type": "array"
        },
        "requiredSystemFeatures": {
          "items": {
            "type": "string"
          },
          "description": "The system features that the app requires. A device must have all of the system features to be considered compatible with the app.",
          "type": "array"
        },
        "nativePlatforms": {
          "description": "List of required ABIs (Application Binary Interface), e.g. `armeabi` or `x86`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "compatibleScreens": {
          "description": "Compatible screens as listed in the `compatible-screens` Manifest tag.",
          "type": "array",
          "items": {
            "$ref": "CompatibleScreen"
          }
        },
        "sdkVersion": {
          "description": "Defines a range of SDK versions that the app is compatible with.",
          "$ref": "CatalogSdkVersion"
        },
        "usesConfigurations": {
          "description": "Lists all configurations marked as required by use of the `uses-configuration` manifest tag. Each instance of this proto represents a single `uses-configuration` entry. See http://developer.android.com/guide/topics/manifest/uses-configuration-element.html",
          "type": "array",
          "items": {
            "$ref": "UsesConfiguration"
          }
        },
        "glEsVersion": {
          "type": "integer",
          "description": "Required version of OpenGL ES.",
          "format": "int32"
        }
      },
      "id": "DeviceCompatibilityRequirements"
    },
    "SystemOnChip": {
      "description": "Representation of a System-on-Chip (SoC) of an Android device. Can be used to target S+ devices.",
      "type": "object",
      "id": "SystemOnChip",
      "properties": {
        "manufacturer": {
          "type": "string",
          "description": "Required. The designer of the SoC, eg. \"Google\" Value of build property \"ro.soc.manufacturer\" https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER Required."
        },
        "model": {
          "description": "Required. The model of the SoC, eg. \"Tensor\" Value of build property \"ro.soc.model\" https://developer.android.com/reference/android/os/Build#SOC_MODEL Required.",
          "type": "string"
        }
      }
    },
    "ScreenDensityTargeting": {
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          },
          "description": "Value of a screen density."
        }
      },
      "description": "Targeting based on screen density.",
      "type": "object",
      "id": "ScreenDensityTargeting"
    },
    "UpdateOneTimeProductOfferStateRequest": {
      "properties": {
        "activateOneTimeProductOfferRequest": {
          "$ref": "ActivateOneTimeProductOfferRequest",
          "description": "Activates an offer. Once activated, the offer is available to users, as long as its conditions are met."
        },
        "cancelOneTimeProductOfferRequest": {
          "description": "Cancels an offer. Once cancelled, the offer is not available to users. Any pending orders related to this offer will be cancelled. This state transition is specific to pre-orders.",
          "$ref": "CancelOneTimeProductOfferRequest"
        },
        "deactivateOneTimeProductOfferRequest": {
          "description": "Deactivates an offer. Once deactivated, the offer is no longer available to users. This state transition is specific to discounted offers.",
          "$ref": "DeactivateOneTimeProductOfferRequest"
        }
      },
      "type": "object",
      "id": "UpdateOneTimeProductOfferStateRequest",
      "description": "Request message to update the state of a one-time product offer."
    },
    "SubscriptionOffer": {
      "properties": {
        "otherRegionsConfig": {
          "$ref": "OtherRegionsSubscriptionOfferConfig",
          "description": "The configuration for any new locations Play may launch in the future."
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "basePlanId": {
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "phases": {
          "items": {
            "$ref": "SubscriptionOfferPhase"
          },
          "type": "array",
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order."
        },
        "targeting": {
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves.",
          "$ref": "SubscriptionOfferTargeting"
        },
        "offerTags": {
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "items": {
            "$ref": "OfferTag"
          },
          "type": "array"
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array",
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry."
        },
        "offerId": {
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        }
      },
      "description": "A single, temporary offer",
      "type": "object",
      "id": "SubscriptionOffer"
    },
    "SplitApkVariant": {
      "id": "SplitApkVariant",
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "properties": {
        "targeting": {
          "$ref": "VariantTargeting",
          "description": "Variant-level targeting."
        },
        "apkSet": {
          "type": "array",
          "items": {
            "$ref": "ApkSet"
          },
          "description": "Set of APKs, one set per module."
        },
        "variantNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers."
        }
      }
    },
    "SdkVersion": {
      "properties": {
        "min": {
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "SdkVersion",
      "description": "Represents an sdk version."
    },
    "RecurringExternalTransaction": {
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder).",
      "properties": {
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        },
        "migratedTransactionProgram": {
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ],
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ]
        },
        "otherRecurringProduct": {
          "$ref": "OtherRecurringProduct",
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category."
        },
        "externalSubscription": {
          "$ref": "ExternalSubscription",
          "description": "Details of an external subscription."
        },
        "initialExternalTransactionId": {
          "type": "string",
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions."
        }
      },
      "id": "RecurringExternalTransaction",
      "type": "object"
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "id": "Comment",
      "type": "object",
      "properties": {
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      }
    },
    "DeactivateSubscriptionOfferRequest": {
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to deactivate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to deactivate."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "id": "DeactivateSubscriptionOfferRequest",
      "type": "object",
      "description": "Request message for DeactivateSubscriptionOffer."
    },
    "UpdateOneTimeProductOfferRequest": {
      "id": "UpdateOneTimeProductOfferRequest",
      "type": "object",
      "description": "Request message for UpdateOneTimeProductOffer.",
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored."
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        },
        "latencyTolerance": {
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "ApkSet": {
      "description": "A set of apks representing a module.",
      "id": "ApkSet",
      "properties": {
        "moduleMetadata": {
          "$ref": "ModuleMetadata",
          "description": "Metadata about the module represented by this ApkSet"
        },
        "apkDescription": {
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Description of the generated apks."
        }
      },
      "type": "object"
    },
    "OfferDetails": {
      "properties": {
        "offerId": {
          "description": "The offer ID. Only present for discounted offers.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID. Present for all base plan and offers."
        },
        "offerTags": {
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "OfferDetails",
      "description": "Offer details information related to a purchase line item."
    },
    "LineItem": {
      "properties": {
        "paidAppDetails": {
          "description": "Details of a paid app purchase.",
          "$ref": "PaidAppDetails"
        },
        "productId": {
          "description": "The purchased product ID or in-app SKU (for example, 'monthly001' or 'com.some.thing.inapp1').",
          "type": "string"
        },
        "tax": {
          "description": "The tax paid for this line item.",
          "$ref": "Money"
        },
        "listingPrice": {
          "$ref": "Money",
          "description": "Item's listed price on Play Store, this may or may not include tax. Excludes Google-funded discounts only."
        },
        "oneTimePurchaseDetails": {
          "$ref": "OneTimePurchaseDetails",
          "description": "Details of a one-time purchase."
        },
        "productTitle": {
          "description": "Developer-specified name of the product. Displayed in buyer's locale. Example: coins, monthly subscription, etc.",
          "type": "string"
        },
        "subscriptionDetails": {
          "description": "Details of a subscription purchase.",
          "$ref": "SubscriptionDetails"
        },
        "total": {
          "description": "The total amount paid by the user for this line item, taking into account discounts and tax.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Details of a line item.",
      "id": "LineItem"
    },
    "PolicyMultipleChoiceResponse": {
      "description": "Any response where multiple options can be chosen from several possibilities.",
      "type": "object",
      "id": "PolicyMultipleChoiceResponse",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Provided values."
        }
      }
    },
    "PrepaidPlan": {
      "id": "PrepaidPlan",
      "type": "object",
      "description": "Information related to a prepaid plan.",
      "properties": {
        "allowExtendAfterTime": {
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "id": "BatchUpdateSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "description": "The updated subscription offers list.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      },
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "type": "object"
    },
    "ConvertRegionPricesResponse": {
      "type": "object",
      "description": "Response message for ConvertRegionPrices.",
      "id": "ConvertRegionPricesResponse",
      "properties": {
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "convertedRegionPrices": {
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          },
          "type": "object",
          "description": "Map from region code to converted region price."
        },
        "regionVersion": {
          "description": "The region version at which the prices were generated.",
          "$ref": "RegionsVersion"
        }
      }
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "type": "object",
      "id": "CanceledStateContext",
      "properties": {
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "systemInitiatedCancellation": {
          "$ref": "SystemInitiatedCancellation",
          "description": "Subscription was canceled by the system, for example because of a billing problem."
        },
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "userInitiatedCancellation": {
          "$ref": "UserInitiatedCancellation",
          "description": "Subscription was canceled by user."
        }
      }
    },
    "KeyedGroup": {
      "type": "object",
      "id": "KeyedGroup",
      "description": "A group of responses, with a key.",
      "properties": {
        "key": {
          "description": "Required. Key for this group.",
          "type": "string"
        },
        "responses": {
          "description": "Required. Responses in this group.",
          "type": "array",
          "items": {
            "$ref": "NestedPolicyResponse"
          }
        }
      }
    },
    "ProductOfferDetails": {
      "type": "object",
      "properties": {
        "quantity": {
          "description": "The quantity associated with the purchase of the inapp product.",
          "type": "integer",
          "format": "int32"
        },
        "rentOfferDetails": {
          "description": "Offer details about rent offers. This will only be set for rental line items.",
          "$ref": "RentOfferDetails"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "The purchase option ID."
        },
        "consumptionState": {
          "type": "string",
          "enumDescriptions": [
            "Consumption state unspecified. This value should never be set.",
            "Yet to be consumed.",
            "Consumed already."
          ],
          "description": "Output only. The consumption state of the purchase.",
          "readOnly": true,
          "enum": [
            "CONSUMPTION_STATE_UNSPECIFIED",
            "CONSUMPTION_STATE_YET_TO_BE_CONSUMED",
            "CONSUMPTION_STATE_CONSUMED"
          ]
        },
        "offerId": {
          "description": "The offer ID. Only present for offers.",
          "type": "string"
        },
        "offerTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the purchase option."
        },
        "refundableQuantity": {
          "type": "integer",
          "description": "The quantity eligible for refund, i.e. quantity that hasn't been refunded. The value reflects quantity-based partial refunds and full refunds.",
          "format": "int32"
        },
        "preorderOfferDetails": {
          "description": "Offer details for a preorder offer. This will only be set for preorders.",
          "$ref": "PreorderOfferDetails"
        },
        "offerToken": {
          "type": "string",
          "description": "The per-transaction offer token used to make this purchase line item."
        }
      },
      "id": "ProductOfferDetails",
      "description": "Offer details information related to a purchase line item."
    },
    "BasePlan": {
      "description": "A single base plan for a subscription.",
      "id": "BasePlan",
      "properties": {
        "installmentsBasePlanType": {
          "description": "Set for installments base plans where a user is committed to a specified number of payments.",
          "$ref": "InstallmentsBasePlanType"
        },
        "offerTags": {
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
        },
        "prepaidBasePlanType": {
          "description": "Set when the base plan does not automatically renew at the end of the billing period.",
          "$ref": "PrepaidBasePlanType"
        },
        "autoRenewingBasePlanType": {
          "description": "Set when the base plan automatically renews at a regular interval.",
          "$ref": "AutoRenewingBasePlanType"
        },
        "regionalConfigs": {
          "type": "array",
          "description": "Region-specific information for this base plan.",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          }
        },
        "state": {
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "otherRegionsConfig": {
          "$ref": "OtherRegionsBasePlanConfig",
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future."
        }
      },
      "type": "object"
    },
    "DeactivatePurchaseOptionRequest": {
      "description": "Request message for UpdatePurchaseOptionState.",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to deactivate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to deactivate.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        }
      },
      "id": "DeactivatePurchaseOptionRequest",
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "properties": {
        "absoluteDiscounts": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "free": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
          "description": "Set to specify this offer is free to obtain."
        },
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "type": "object"
    },
    "AssetSliceSet": {
      "id": "AssetSliceSet",
      "properties": {
        "assetModuleMetadata": {
          "$ref": "AssetModuleMetadata",
          "description": "Module level metadata."
        },
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array",
          "description": "Asset slices."
        }
      },
      "description": "Set of asset slices belonging to a single asset module.",
      "type": "object"
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page."
    },
    "GeneratedAssetPackSlice": {
      "description": "Download metadata for an asset pack slice.",
      "id": "GeneratedAssetPackSlice",
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this asset slice belongs to."
        },
        "version": {
          "format": "int64",
          "type": "string",
          "description": "Asset module version."
        },
        "sliceId": {
          "type": "string",
          "description": "Asset slice ID."
        }
      },
      "type": "object"
    },
    "TargetingRuleScope": {
      "properties": {
        "thisSubscription": {
          "$ref": "TargetingRuleScopeThisSubscription",
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined."
        },
        "specificSubscriptionInApp": {
          "type": "string",
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app."
        },
        "anySubscriptionInApp": {
          "$ref": "TargetingRuleScopeAnySubscriptionInApp",
          "description": "The scope of the current targeting rule is any subscription in the parent app."
        }
      },
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "type": "object",
      "id": "TargetingRuleScope"
    },
    "PreorderOfferDetails": {
      "description": "Offer details information related to a preorder line item.",
      "properties": {
        "preorderReleaseTime": {
          "description": "The time when a preordered item is released for a preorder purchase.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "PreorderOfferDetails",
      "type": "object"
    },
    "SubscriptionListing": {
      "properties": {
        "benefits": {
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\".",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Required. The title of this subscription in the language of this listing. Plain text."
        },
        "description": {
          "type": "string",
          "description": "The description of this subscription in the language of this listing. Maximum length - 200 characters. Plain text."
        }
      },
      "id": "SubscriptionListing",
      "description": "The consumer-visible metadata of a subscription.",
      "type": "object"
    },
    "PendingCancellation": {
      "type": "object",
      "properties": {},
      "id": "PendingCancellation",
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments."
    },
    "AppStoreAppDetails": {
      "description": "Details about the app.",
      "id": "AppStoreAppDetails",
      "type": "object",
      "properties": {
        "developerWebsite": {
          "description": "Optional. Website link for the developer or app.",
          "type": "string"
        },
        "developerName": {
          "type": "string",
          "description": "Required. The app developer's name."
        },
        "contactEmail": {
          "description": "Required. The app developer's contact email address.",
          "type": "string"
        }
      }
    },
    "InappproductsBatchUpdateRequest": {
      "id": "InappproductsBatchUpdateRequest",
      "description": "Request to update or insert one or more in-app products.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "InappproductsUpdateRequest"
          },
          "type": "array",
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products."
        }
      },
      "type": "object"
    },
    "AppVersionRange": {
      "properties": {
        "versionCodeStart": {
          "format": "int64",
          "type": "string",
          "description": "Lowest app version in the range, inclusive."
        },
        "versionCodeEnd": {
          "description": "Highest app version in the range, inclusive.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AppVersionRange",
      "description": "Data format for a continuous range of app versions."
    },
    "BatchDeleteOneTimeProductsRequest": {
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "type": "array"
        }
      },
      "id": "BatchDeleteOneTimeProductsRequest"
    },
    "InappproductsBatchDeleteRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          },
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products."
        }
      },
      "description": "Request to delete multiple in-app products.",
      "id": "InappproductsBatchDeleteRequest",
      "type": "object"
    },
    "RegionalBasePlanConfig": {
      "properties": {
        "price": {
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region.",
          "$ref": "Money"
        },
        "newSubscriberAvailability": {
          "type": "boolean",
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RegionalBasePlanConfig",
      "description": "Configuration for a base plan specific to a region."
    },
    "DeviceTierConfig": {
      "type": "object",
      "id": "DeviceTierConfig",
      "description": "Configuration describing device targeting criteria for the content of an app.",
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceGroups": {
          "description": "Definition of device groups for the app.",
          "items": {
            "$ref": "DeviceGroup"
          },
          "type": "array"
        },
        "userCountrySets": {
          "items": {
            "$ref": "UserCountrySet"
          },
          "description": "Definition of user country sets for the app.",
          "type": "array"
        },
        "deviceTierConfigId": {
          "description": "Output only. The device tier config ID.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ActivatePurchaseOptionRequest": {
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the purchase option to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "productId": {
          "description": "Required. The parent one-time product (ID) of the purchase option to activate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The purchase option ID of the purchase option to activate."
        }
      },
      "type": "object",
      "description": "Request message for UpdatePurchaseOptionState.",
      "id": "ActivatePurchaseOptionRequest"
    },
    "InstallmentsBasePlanType": {
      "properties": {
        "resubscribeState": {
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ]
        },
        "prorationMode": {
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "type": "string"
        },
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        },
        "gracePeriodDuration": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "renewalType": {
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ],
          "type": "string",
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ]
        },
        "committedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created."
        },
        "accountHoldDuration": {
          "type": "string",
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        }
      },
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "id": "InstallmentsBasePlanType",
      "type": "object"
    },
    "OtherRegionsSubscriptionOfferPhaseFreePriceOverride": {
      "description": "Represents the free price override configuration for any new locations Play may launch for a single offer phase.",
      "id": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
      "type": "object",
      "properties": {}
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "properties": {},
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app.",
      "type": "object"
    },
    "PolicySingleChoiceResponse": {
      "description": "Any response where a single option is chosen from several possibilities.",
      "id": "PolicySingleChoiceResponse",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Provided value."
        }
      }
    },
    "AppVersionList": {
      "description": "Data format for a list of app versions.",
      "id": "AppVersionList",
      "type": "object",
      "properties": {
        "versionCodes": {
          "type": "array",
          "description": "List of app version codes.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      }
    },
    "OneTimeProductPurchaseOptionNewRegionsConfig": {
      "type": "object",
      "id": "OneTimeProductPurchaseOptionNewRegionsConfig",
      "description": "Pricing information for any new regions Play may launch in the future.",
      "properties": {
        "eurPrice": {
          "$ref": "Money",
          "description": "Required. Price in EUR to use for any new regions Play may launch in."
        },
        "availability": {
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The config will be used for any new regions Play may launch in the future.",
            "The config is not available anymore and will not be used for any new regions Play may launch in the future. This value can only be used if the availability was previously set as AVAILABLE."
          ],
          "type": "string",
          "description": "Required. The regional availability for the new regions config. When set to AVAILABLE, the pricing information will be used for any new regions Play may launch in the future.",
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ]
        },
        "usdPrice": {
          "$ref": "Money",
          "description": "Required. Price in USD to use for any new regions Play may launch in."
        }
      }
    },
    "OneTimeProductOfferNoPriceOverrideOptions": {
      "properties": {},
      "description": "Options for one-time product offers without a regional price override.",
      "type": "object",
      "id": "OneTimeProductOfferNoPriceOverrideOptions"
    },
    "BatchUpdateBasePlanStatesResponse": {
      "type": "object",
      "id": "BatchUpdateBasePlanStatesResponse",
      "description": "Response message for BatchUpdateBasePlanStates.",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "TestPurchaseContext": {
      "type": "object",
      "id": "TestPurchaseContext",
      "description": "Context about a test purchase.",
      "properties": {
        "fopType": {
          "enumDescriptions": [
            "Fop type unspecified. This value should never be set.",
            "The purchase was made using a test card."
          ],
          "type": "string",
          "enum": [
            "FOP_TYPE_UNSPECIFIED",
            "TEST"
          ],
          "description": "The fop type of the test purchase."
        }
      }
    },
    "RentOfferDetails": {
      "properties": {},
      "id": "RentOfferDetails",
      "description": "Offer details information related to a rental line item.",
      "type": "object"
    },
    "UserComment": {
      "properties": {
        "thumbsUpCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up."
        },
        "androidOsVersion": {
          "format": "int32",
          "type": "integer",
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent."
        },
        "starRating": {
          "type": "integer",
          "description": "The star rating associated with the review, from 1 to 5.",
          "format": "int32"
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character."
        },
        "appVersionCode": {
          "type": "integer",
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32"
        },
        "device": {
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent.",
          "type": "string"
        },
        "lastModified": {
          "$ref": "Timestamp",
          "description": "The last time at which this comment was updated."
        },
        "thumbsDownCount": {
          "format": "int32",
          "description": "Number of users who have given this review a thumbs down.",
          "type": "integer"
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
[...]
