{
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/android-publisher",
  "name": "androidpublisher",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "version": "v3",
  "batchPath": "batch",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "canonicalName": "Android Publisher",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "resources": {
    "monetization": {
      "methods": {
        "convertRegionPrices": {
          "path": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "description": "Calculates the region prices, using today's exchange rate and country-specific pricing patterns, based on the price in the request for a set of regions.",
          "parameters": {
            "packageName": {
              "description": "Required. The app package name.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ConvertRegionPricesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ConvertRegionPricesResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/pricing:convertRegionPrices",
          "id": "androidpublisher.monetization.convertRegionPrices"
        }
      },
      "resources": {
        "subscriptions": {
          "methods": {
            "patch": {
              "request": {
                "$ref": "Subscription"
              },
              "id": "androidpublisher.monetization.subscriptions.patch",
              "parameters": {
                "allowMissing": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
                },
                "productId": {
                  "required": true,
                  "description": "Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must be composed of lower-case letters (a-z), numbers (0-9), underscores (_) and dots (.). It must start with a lower-case letter or number, and be between 1 and 40 (inclusive) characters in length.",
                  "type": "string",
                  "location": "path"
                },
                "latencyTolerance": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "type": "string",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
                },
                "packageName": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Immutable. Package name of the parent app."
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Subscription"
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Updates an existing subscription."
            },
            "batchUpdate": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Updates a batch of subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
              "request": {
                "$ref": "BatchUpdateSubscriptionsRequest"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the subscriptions should be updated. Must be equal to the package_name field on all the Subscription resources.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "BatchUpdateSubscriptionsResponse"
              },
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.monetization.subscriptions.batchUpdate",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions:batchUpdate",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions:batchUpdate"
            },
            "delete": {
              "id": "androidpublisher.monetization.subscriptions.delete",
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "parameters": {
                "productId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "required": true
                },
                "packageName": {
                  "location": "path",
                  "description": "Required. The parent app (package name) of the app of the subscription to delete.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "description": "Deletes a subscription. A subscription can only be deleted if it has never had a base plan published."
            },
            "list": {
              "id": "androidpublisher.monetization.subscriptions.list",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "description": "Lists all subscriptions under a given app.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "packageName": {
                  "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "showArchived": {
                  "location": "query",
                  "type": "boolean",
                  "deprecated": true,
                  "description": "Deprecated: subscription archiving is not supported."
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "ListSubscriptionsResponse"
              }
            },
            "batchGet": {
              "description": "Reads one or more subscriptions.",
              "id": "androidpublisher.monetization.subscriptions.batchGet",
              "response": {
                "$ref": "BatchGetSubscriptionsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions:batchGet",
              "parameters": {
                "productIds": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Required. A list of up to 100 subscription product IDs to retrieve. All the IDs must be different."
                },
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the subscriptions should be retrieved. Must be equal to the package_name field on all the requests."
                }
              }
            },
            "archive": {
              "httpMethod": "POST",
              "deprecated": true,
              "request": {
                "$ref": "ArchiveSubscriptionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "Subscription"
              },
              "description": "Deprecated: subscription archiving is not supported.",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}:archive",
              "id": "androidpublisher.monetization.subscriptions.archive",
              "parameters": {
                "packageName": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The parent app (package name) of the app of the subscription to delete."
                },
                "productId": {
                  "required": true,
                  "description": "Required. The unique product ID of the subscription to delete.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "create": {
              "httpMethod": "POST",
              "response": {
                "$ref": "Subscription"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates a new subscription. Newly added base plans will remain in draft state until activated.",
              "request": {
                "$ref": "Subscription"
              },
              "id": "androidpublisher.monetization.subscriptions.create",
              "parameterOrder": [
                "packageName"
              ],
              "parameters": {
                "productId": {
                  "location": "query",
                  "description": "Required. The ID to use for the subscription. For the requirements on this format, see the documentation of the product_id field on the Subscription resource.",
                  "type": "string"
                },
                "packageName": {
                  "description": "Required. The parent app (package name) for which the subscription should be created. Must be equal to the package_name field on the Subscription resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "regionsVersion.version": {
                  "location": "query",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Subscription"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "parameters": {
                "productId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The unique product ID of the subscription to get."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent app (package name) of the subscription to get."
                }
              },
              "description": "Reads a single subscription.",
              "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}",
              "id": "androidpublisher.monetization.subscriptions.get"
            }
          },
          "resources": {
            "basePlans": {
              "resources": {
                "offers": {
                  "methods": {
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to delete."
                        },
                        "offerId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The unique offer ID of the offer to delete."
                        },
                        "basePlanId": {
                          "type": "string",
                          "description": "Required. The parent base plan (ID) of the offer to delete.",
                          "required": true,
                          "location": "path"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent subscription (ID) of the offer to delete.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.delete",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "description": "Deletes a subscription offer. Can only be done for draft offers. This action is irreversible.",
                      "httpMethod": "DELETE",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}"
                    },
                    "get": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "description": "Reads a single offer",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.get",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "productId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent subscription (ID) of the offer to get.",
                          "location": "path"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to get.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "basePlanId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent base plan (ID) of the offer to get.",
                          "location": "path"
                        },
                        "offerId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The unique offer ID of the offer to get."
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "batchUpdateStates": {
                      "description": "Updates a batch of subscription offer states. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "BatchUpdateSubscriptionOfferStatesRequest"
                      },
                      "response": {
                        "$ref": "BatchUpdateSubscriptionOfferStatesResponse"
                      },
                      "parameters": {
                        "packageName": {
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated subscription offers. Must be equal to the package_name field on all the updated SubscriptionOffer resources.",
                          "required": true,
                          "location": "path"
                        },
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple base plans.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "type": "string",
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdateStates",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchUpdateStates",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdateStates"
                    },
                    "patch": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "description": "Updates an existing subscription offer.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.patch",
                      "parameters": {
                        "latencyTolerance": {
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                          ],
                          "enumDescriptions": [
                            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                          ],
                          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
                        },
                        "allowMissing": {
                          "description": "Optional. If set to true, and the subscription offer with the given package_name, product_id, base_plan_id and offer_id doesn't exist, an offer will be created. If a new offer is created, update_mask is ignored.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "productId": {
                          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "basePlanId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension.",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. The list of fields to be updated.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "offerId": {
                          "type": "string",
                          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan.",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
                          "location": "path"
                        },
                        "regionsVersion.version": {
                          "location": "query",
                          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                          "type": "string"
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "activate": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.activate",
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:activate",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "description": "Activates a subscription offer. Once activated, subscription offers will be available to new subscribers.",
                      "request": {
                        "$ref": "ActivateSubscriptionOfferRequest"
                      },
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "type": "string",
                          "description": "Required. The parent subscription (ID) of the offer to activate.",
                          "required": true,
                          "location": "path"
                        },
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to activate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) of the offer to activate.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "offerId": {
                          "type": "string",
                          "description": "Required. The ID to use for the offer. For the requirements on this format, see the documentation of the offer_id field on the SubscriptionOffer resource.",
                          "location": "query"
                        },
                        "regionsVersion.version": {
                          "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                          "location": "query",
                          "type": "string"
                        },
                        "basePlanId": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent base plan (ID) for which the offer should be created. Must be equal to the base_plan_id field on the SubscriptionOffer resource.",
                          "type": "string"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent subscription (ID) for which the offer should be created. Must be equal to the product_id field on the SubscriptionOffer resource.",
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) for which the offer should be created. Must be equal to the package_name field on the Subscription resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.create",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "description": "Creates a new subscription offer. Only auto-renewing base plans can have subscription offers. The offer state will be DRAFT until it is activated.",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "httpMethod": "POST"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all offers under a given subscription.",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.list",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "response": {
                        "$ref": "ListSubscriptionOffersResponse"
                      },
                      "parameters": {
                        "basePlanId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read all offers under a subscription or an app. Must be specified as '-' if product_id is specified as '-'."
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A page token, received from a previous `ListSubscriptionsOffers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptionOffers` must match the call that provided the page token."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent subscription (ID) for which the offers should be read. May be specified as '-' to read all offers under an app."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query"
                        }
                      }
                    },
                    "batchGet": {
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchGet",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchGet",
                      "description": "Reads one or more subscription offers.",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "BatchGetSubscriptionOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchGet",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set.",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the requests."
                        },
                        "basePlanId": {
                          "type": "string",
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read offers from multiple base plans.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "BatchGetSubscriptionOffersRequest"
                      }
                    },
                    "batchUpdate": {
                      "response": {
                        "$ref": "BatchUpdateSubscriptionOffersResponse"
                      },
                      "description": "Updates a batch of subscription offers. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.batchUpdate",
                      "parameters": {
                        "productId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this request spans multiple subscriptions, set this field to \"-\". Must be set."
                        },
                        "basePlanId": {
                          "type": "string",
                          "description": "Required. The parent base plan (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple base plans.",
                          "location": "path",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the updated subscription offers. Must be equal to the package_name field on all the updated SubscriptionOffer resources.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "BatchUpdateSubscriptionOffersRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers:batchUpdate"
                    },
                    "deactivate": {
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.deactivate",
                      "httpMethod": "POST",
                      "description": "Deactivates a subscription offer. Once deactivated, existing subscribers will maintain their subscription, but the offer will become unavailable to new subscribers.",
                      "request": {
                        "$ref": "DeactivateSubscriptionOfferRequest"
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "parameters": {
                        "basePlanId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
                          "required": true
                        },
                        "offerId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The unique offer ID of the offer to deactivate.",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible.",
                  "httpMethod": "DELETE",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "parameters": {
                    "basePlanId": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "location": "path"
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to delete."
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}"
                },
                "batchUpdateStates": {
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated base plans.",
                      "required": true
                    },
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The product ID of the parent subscription, if all updated base plans belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "required": true
                    }
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchUpdateStates",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "description": "Activates or deactivates base plans across one or multiple subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "response": {
                    "$ref": "BatchUpdateBasePlanStatesResponse"
                  },
                  "httpMethod": "POST"
                },
                "activate": {
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "parameters": {
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to activate.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the base plan to activate.",
                      "required": true
                    },
                    "basePlanId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to activate.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Subscription"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                },
                "batchMigratePrices": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "httpMethod": "POST",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchMigratePrices",
                  "description": "Batch variant of the MigrateBasePlanPrices endpoint. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the Subscription resources.",
                      "required": true,
                      "type": "string"
                    },
                    "productId": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "location": "path"
                    }
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "request": {
                    "$ref": "BatchMigrateBasePlanPricesRequest"
                  },
                  "response": {
                    "$ref": "BatchMigrateBasePlanPricesResponse"
                  }
                },
                "deactivate": {
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "parameters": {
                    "productId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "type": "string"
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "basePlanId": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to deactivate.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
                  "response": {
                    "$ref": "Subscription"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "httpMethod": "POST"
                },
                "migratePrices": {
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "httpMethod": "POST",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported.",
                  "parameters": {
                    "packageName": {
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to update prices on."
                    },
                    "productId": {
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices"
                }
              }
            }
          }
        },
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "required": true
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                },
                "batchDelete": {
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "required": true,
                      "type": "string"
                    },
                    "productId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\"."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "cancel": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "required": true,
                          "type": "string"
                        },
                        "productId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path"
                        },
                        "offerId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The offer ID of the offer to cancel.",
                          "required": true
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Cancels a one-time product offer."
                    },
                    "activate": {
                      "parameters": {
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent one-time product (ID) of the offer to activate."
                        },
                        "packageName": {
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "required": true,
                          "location": "path"
                        },
                        "offerId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The offer ID of the offer to activate.",
                          "location": "path"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "description": "Activates a one-time product offer.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "httpMethod": "POST"
                    },
                    "batchDelete": {
                      "description": "Deletes one or more one-time product offers.",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "httpMethod": "POST",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "location": "path"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete"
                    },
                    "deactivate": {
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Deactivates a one-time product offer.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to deactivate."
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "required": true,
                          "type": "string"
                        },
                        "offerId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "location": "path"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      }
                    },
                    "list": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token."
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query"
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'."
                        }
                      },
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list"
                    },
                    "batchUpdateStates": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Updates a batch of one-time product offer states.",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "parameters": {
                        "productId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                        },
                        "purchaseOptionId": {
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "type": "string"
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      }
                    },
                    "batchUpdate": {
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "description": "Creates or updates one or more one-time product offers.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate"
                    },
                    "batchGet": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "parameters": {
                        "packageName": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources."
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "description": "Reads one or more one-time product offers.",
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "parameters": {
                "packageName": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent app (package name) of the product to retrieve.",
                  "type": "string"
                },
                "productId": {
                  "type": "string",
                  "description": "Required. The product ID of the product to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "OneTimeProduct"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Reads a single one-time product.",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "httpMethod": "GET"
            },
            "batchDelete": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources."
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "description": "Deletes one or more one-time products."
            },
            "delete": {
              "parameters": {
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ]
                },
                "productId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The one-time product ID of the one-time product to delete."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent app (package name) of the one-time product to delete."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "id": "androidpublisher.monetization.onetimeproducts.delete",
              "description": "Deletes a one-time product.",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "httpMethod": "DELETE"
            },
            "patch": {
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "description": "Creates or updates a one-time product.",
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "parameters": {
                "allowMissing": {
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "type": "boolean",
                  "location": "query"
                },
                "latencyTolerance": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ]
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                },
                "regionsVersion.version": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available."
                },
                "packageName": {
                  "description": "Required. Immutable. Package name of the parent app.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "productId": {
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "request": {
                "$ref": "OneTimeProduct"
              },
              "response": {
                "$ref": "OneTimeProduct"
              }
            },
            "list": {
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "description": "Lists all one-time products under a given app.",
              "httpMethod": "GET",
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "location": "query"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent app (package name) for which the one-time product should be read."
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "batchUpdate": {
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "httpMethod": "POST",
              "description": "Creates or updates one or more one-time products.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              }
            },
            "batchGet": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "description": "Reads one or more one-time products.",
              "parameterOrder": [
                "packageName"
              ],
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "productIds": {
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                }
              }
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameterOrder": [
            "packageName"
          ],
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "mediaUpload": {
            "maxSize": "1073741824",
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "uploadbundle": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "parameters": {
            "packageName": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Package name of the app."
            }
          },
          "scopes": [
[...]
