{
  "basePath": "",
  "canonicalName": "Apigee",
  "discoveryVersion": "v1",
  "revision": "20260827",
  "name": "apigee",
  "version": "v1",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "version_module": true,
  "baseUrl": "https://apigee.googleapis.com/",
  "kind": "discovery#restDescription",
  "rootUrl": "https://apigee.googleapis.com/",
  "id": "apigee:v1",
  "endpoints": [
    {
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    }
  ],
  "title": "Apigee API",
  "servicePath": "",
  "schemas": {
    "GoogleCloudApigeeV1AsyncApiDocumentation": {
      "id": "GoogleCloudApigeeV1AsyncApiDocumentation",
      "type": "object",
      "properties": {
        "spec": {
          "description": "Required. The documentation file contents for the AsyncAPI Specification. JSON and YAML file formats are supported.",
          "$ref": "GoogleCloudApigeeV1DocumentationFile"
        }
      },
      "description": "AsyncAPI Specification documentation for a catalog item."
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "properties": {
        "monetizationConfig": {
          "description": "Configuration for the Monetization add-on.",
          "$ref": "GoogleCloudApigeeV1MonetizationConfig"
        },
        "connectorsPlatformConfig": {
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "description": "Configuration for the Connectors Platform add-on."
        },
        "analyticsConfig": {
          "$ref": "GoogleCloudApigeeV1AnalyticsConfig",
          "description": "Configuration for the Analytics add-on. Only used in organizations.environments.addonsConfig."
        },
        "apiSecurityConfig": {
          "description": "Configuration for the API Security add-on.",
          "$ref": "GoogleCloudApigeeV1ApiSecurityConfig"
        },
        "integrationConfig": {
          "$ref": "GoogleCloudApigeeV1IntegrationConfig",
          "description": "Configuration for the Integration add-on."
        },
        "advancedApiOpsConfig": {
          "description": "Configuration for the Advanced API Ops add-on.",
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig"
        }
      },
      "id": "GoogleCloudApigeeV1AddonsConfig",
      "description": "Add-on configurations for the Apigee organization.",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "id": "GoogleCloudApigeeV1OperationConfig",
      "properties": {
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done."
        },
        "attributes": {
          "description": "Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "description": "List of resource/method pairs for the API proxy or remote service to which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided."
        },
        "apiSource": {
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1LlmOperation": {
      "properties": {
        "model": {
          "type": "string",
          "description": "Required. LLM model name associated with the API proxy"
        },
        "methods": {
          "description": "Optional. methods refers to the REST verbs as in https://httpwg.org/specs/rfc9110.html For example: GET, POST, PUT, DELETE, etc. They need to be in uppercase. When none specified, all verb types are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "description": "Required. REST resource path associated with the API proxy or remote service.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1LlmOperation",
      "type": "object",
      "description": "Represents the pairing of REST resource path, model and the actions (verbs) allowed on the resource path."
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation": {
      "description": "The message format of a recommendation from the assessment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation",
      "properties": {
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "FAIL",
            "NOT_APPLICABLE"
          ],
          "enumDescriptions": [
            "The verdict is unspecified.",
            "The assessment has passed.",
            "The assessment has failed.",
            "The verdict is not applicable."
          ],
          "description": "Verdict indicates the assessment result.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the assessment.",
          "type": "string"
        },
        "weight": {
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ],
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ],
          "description": "The weight of the assessment which was set in the profile.",
          "type": "string"
        },
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation"
          },
          "description": "The recommended steps of the assessment.",
          "type": "array"
        },
        "scoreImpact": {
          "type": "integer",
          "format": "int32",
          "description": "Score impact indicates the impact on the overall score if the assessment were to pass."
        }
      }
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "description": "Configuration detail for datastore",
      "properties": {
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Google Cloud project in which the datastore exists",
          "type": "string"
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "tablePrefix": {
          "type": "string",
          "description": "Prefix of BigQuery table Required for `bigquery` target_type."
        },
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        }
      },
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          },
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array"
        }
      },
      "description": "Request for BatchUpdateSecurityIncident.",
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest"
    },
    "GoogleCloudApigeeV1MoveSharedFlowRequest": {
      "type": "object",
      "id": "GoogleCloudApigeeV1MoveSharedFlowRequest",
      "description": "Moves a Shared Flow to a different space.",
      "properties": {
        "space": {
          "type": "string",
          "description": "Optional. Resource ID of the space to move the shared flow to. If unspecified, the shared flow will be moved to the organization level."
        }
      }
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "type": "object",
      "properties": {
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5.",
          "type": "number",
          "format": "float"
        },
        "sampler": {
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs."
    },
    "GoogleCloudApigeeV1ListApimServiceExtensionsResponse": {
      "id": "GoogleCloudApigeeV1ListApimServiceExtensionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in an `ListApimServiceExtensions` request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "apimServiceExtensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApimServiceExtension"
          },
          "description": "service extension in a given organization.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for list service extensions."
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment",
      "properties": {
        "createdAt": {
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "environment": {
          "description": "Required. ID of the attached environment.",
          "type": "string"
        },
        "environmentGroupId": {
          "readOnly": true,
          "description": "Output only. ID of the environment group.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "ID of the environment group attachment."
        }
      },
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListEndpointAttachmentsResponse": {
      "description": "Response for ListEndpointAttachments method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in an `ListEndpointAttachments` request to retrieve the next page. If omitted, no subsequent pages exist."
        },
        "endpointAttachments": {
          "description": "Endpoint attachments in the specified organization.",
          "items": {
            "$ref": "GoogleCloudApigeeV1EndpointAttachment"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        },
        "sessions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "type": "array",
          "description": "Session info that includes debug session ID and the first transaction creation timestamp."
        }
      },
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperationGroup": {
      "description": "List of graphQL operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "type": "object",
      "id": "GoogleCloudApigeeV1GraphQLOperationGroup",
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1GraphQLOperationConfig"
          },
          "type": "array",
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product."
        },
        "operationConfigType": {
          "description": "Flag that specifies whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AdjustAppGroupBalanceRequest": {
      "properties": {
        "adjustment": {
          "description": "Required. * A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged AppGroup i.e. the balance of the AppGroup will decrease. * A negative value of `adjustment` is not supported. Use credit balance API instead.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "description": "Request for AdjustAppGroupBalance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1AdjustAppGroupBalanceRequest"
    },
    "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfig",
      "description": "Configuration for resolving the client ip.",
      "properties": {
        "headerIndexAlgorithm": {
          "$ref": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm",
          "description": "Resolves the client ip based on a custom header."
        }
      }
    },
    "GoogleCloudApigeeV1Schema": {
      "type": "object",
      "id": "GoogleCloudApigeeV1Schema",
      "properties": {
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array",
          "description": "List of schema fields grouped as dimensions that can be used with an aggregate function such as `sum`, `avg`, `min`, and `max`."
        },
        "dimensions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SchemaSchemaElement"
          },
          "type": "array",
          "description": "List of schema fields grouped as dimensions."
        },
        "meta": {
          "description": "Additional metadata associated with schema. This is a legacy field and usually consists of an empty array of strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response for Schema call"
    },
    "GoogleCloudApigeeV1MonetizationConfig": {
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Monetization add-on is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1MonetizationConfig",
      "description": "Configuration for the Monetization add-on."
    },
    "GoogleCloudApigeeV1ListSecurityReportsResponse": {
      "description": "The response for SecurityReports.",
      "id": "GoogleCloudApigeeV1ListSecurityReportsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of security reports exceeded the page size requested, the token can be used to fetch the next page in a subsequent call. If the response is the last page and there are no more reports to return this field is left empty."
        },
        "securityReports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReport"
          },
          "description": "The security reports belong to requested resource name."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Instance": {
      "properties": {
        "accessLoggingConfig": {
          "$ref": "GoogleCloudApigeeV1AccessLoggingConfig",
          "description": "Optional. Access logging configuration enables the access logging feature at the instance. Apigee customers can enable access logging to ship the access logs to their own project's cloud logging."
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Time the instance was created in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "consumerAcceptList": {
          "description": "Optional. Customer accept list represents the list of projects (id/number) on customer side that can privately connect to the service attachment. It is an optional field which the customers can provide during the instance creation. By default, the customer project associated with the Apigee organization will be included to the list.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastModifiedAt": {
          "description": "Output only. Time the instance was last modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "serviceAttachment": {
          "description": "Output only. Resource name of the service attachment created for the instance in the format: `projects/*/regions/*/serviceAttachments/*` Apigee customers can privately forward traffic to this service attachment using the PSC endpoints.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "readOnly": true,
          "description": "Output only. State of the instance. Values other than `ACTIVE` means the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "type": "string"
        },
        "peeringCidrRange": {
          "enum": [
            "CIDR_RANGE_UNSPECIFIED",
            "SLASH_16",
            "SLASH_17",
            "SLASH_18",
            "SLASH_19",
            "SLASH_20",
            "SLASH_22",
            "SLASH_23"
          ],
          "description": "Optional. Size of the CIDR block range that will be reserved by the instance. PAID organizations support `SLASH_16` to `SLASH_20` and defaults to `SLASH_16`. Evaluation organizations support only `SLASH_23`.",
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Range not specified.",
            "`/16` CIDR range.",
            "`/17` CIDR range.",
            "`/18` CIDR range.",
            "`/19` CIDR range.",
            "`/20` CIDR range.",
            "`/22` CIDR range. Supported for evaluation only.",
            "`/23` CIDR range. Supported for evaluation only."
          ]
        },
        "host": {
          "description": "Output only. Internal hostname or IP address of the Apigee endpoint used by clients to connect to the service.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Display name for the instance.",
          "type": "string"
        },
        "ipRange": {
          "description": "Optional. Comma-separated list of CIDR blocks of length 22 and/or 28 used to create the Apigee instance. Providing CIDR ranges is optional. You can provide just /22 or /28 or both (or neither). Ranges you provide should be freely available as part of a larger named range you have allocated to the Service Networking peering. If this parameter is not provided, Apigee automatically requests an available /22 and /28 CIDR block from Service Networking. Use the /22 CIDR block for configuring your firewall needs to allow traffic from Apigee. Input formats: `a.b.c.d/22` or `e.f.g.h/28` or `a.b.c.d/22,e.f.g.h/28`",
          "type": "string"
        },
        "diskEncryptionKeyName": {
          "type": "string",
          "description": "Optional. Customer Managed Encryption Key (CMEK) used for disk and volume encryption. If not specified, a Google-Managed encryption key will be used. Use the following format: `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`"
        },
        "name": {
          "description": "Required. Resource ID of the instance. Values must match the regular expression `^a-z{0,30}[a-z\\d]$`.",
          "type": "string"
        },
        "scheduledMaintenance": {
          "$ref": "GoogleCloudApigeeV1ScheduledMaintenance",
          "description": "Output only. Time and date of the scheduled maintenance for this instance. This field is only populated for instances that have opted into Maintenance Window and if there is an upcoming maintenance. Cleared once the maintenance is complete.",
          "readOnly": true
        },
        "isVersionLocked": {
          "readOnly": true,
          "description": "Output only. Indicates whether the instance is version locked. If true, the instance will not be updated by automated runtime rollouts. This is only supported for Apigee X instances.",
          "type": "boolean"
        },
        "location": {
          "type": "string",
          "description": "Required. Compute Engine location where the instance resides."
        },
        "port": {
          "type": "string",
          "description": "Output only. Port number of the exposed Apigee endpoint.",
          "readOnly": true
        },
        "runtimeVersion": {
          "readOnly": true,
          "description": "Output only. Version of the runtime system running in the instance. The runtime system is the set of components that serve the API Proxy traffic in your Environments.",
          "type": "string"
        },
        "maintenanceUpdatePolicy": {
          "description": "Optional. Apigee customers can set the preferred window to perform maintenance on the instance (day of the week and time of day).",
          "$ref": "GoogleCloudApigeeV1MaintenanceUpdatePolicy"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the instance."
        }
      },
      "description": "Apigee runtime instance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Instance"
    },
    "GoogleRpcPreconditionFailureViolation": {
      "id": "GoogleRpcPreconditionFailureViolation",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\"."
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\".",
          "type": "string"
        }
      },
      "description": "A message type used to describe a single precondition failure."
    },
    "GoogleCloudApigeeV1ListKeyValueEntriesResponse": {
      "description": "The request structure for listing key value map keys and its corresponding values.",
      "id": "GoogleCloudApigeeV1ListKeyValueEntriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "keyValueEntries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1KeyValueEntry"
          },
          "description": "One or more key value map keys and values."
        }
      }
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence": {
      "type": "object",
      "description": "A sequence of time series.",
      "properties": {
        "points": {
          "items": {
            "items": {
              "type": "any"
            },
            "type": "array"
          },
          "description": "List of points. First value of each inner list is a timestamp.",
          "type": "array"
        },
        "dimensions": {
          "type": "object",
          "description": "Map of dimensions and their values that uniquely identifies a time series sequence.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray": {
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray",
      "properties": {
        "apis": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The array of API Hub API IDs. Format: `projects/{project}/locations/{location}/apis/{api}`"
        }
      },
      "description": "Message for the array of API Hub APIs."
    },
    "GoogleCloudApigeeV1SecurityActionHttpHeader": {
      "description": "An HTTP header.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The header value to be sent to the target."
        },
        "name": {
          "description": "The header name to be sent to the target.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityActionHttpHeader"
    },
    "GoogleCloudApigeeV1ApiDocDocumentation": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiDocDocumentation",
      "description": "The documentation for a catalog item.",
      "properties": {
        "asyncApiDocumentation": {
          "$ref": "GoogleCloudApigeeV1AsyncApiDocumentation",
          "description": "Optional. AsyncAPI Specification documentation."
        },
        "oasDocumentation": {
          "description": "Optional. OpenAPI Specification documentation.",
          "$ref": "GoogleCloudApigeeV1OASDocumentation"
        },
        "graphqlDocumentation": {
          "description": "Optional. GraphQL documentation.",
          "$ref": "GoogleCloudApigeeV1GraphqlDocumentation"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportResultMetadata": {
      "type": "object",
      "description": "Contains informations about the security report results.",
      "id": "GoogleCloudApigeeV1SecurityReportResultMetadata",
      "properties": {
        "expires": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Expire_time is set to 7 days after report creation. Query result will be unaccessable after this time. Example: \"2021-05-04T13:38:52-07:00\""
        },
        "self": {
          "type": "string",
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "id": "GoogleTypeTimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "GoogleCloudApigeeV1AliasRevisionConfig": {
      "id": "GoogleCloudApigeeV1AliasRevisionConfig",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "ALIAS_TYPE_UNSPECIFIED",
            "CERT",
            "KEY_CERT"
          ],
          "enumDescriptions": [
            "Alias type is not specified.",
            "Certificate.",
            "Key/certificate pair."
          ]
        },
        "location": {
          "description": "Location of the alias file. For example, a Google Cloud Storage URI.",
          "type": "string"
        },
        "name": {
          "description": "Name of the alias revision included in the keystore in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}/revisions/{rev}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListAppGroupAppsResponse": {
      "description": "Response for ListAppGroupApps",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "appGroupApps": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AppGroupApp"
          },
          "description": "List of AppGroup apps and their credentials."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListAppGroupAppsResponse"
    },
    "GoogleCloudApigeeV1OperationMetadata": {
      "type": "object",
      "description": "Metadata describing an Operation.",
      "id": "GoogleCloudApigeeV1OperationMetadata",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warnings encountered while executing the operation."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "targetResourceName": {
          "type": "string",
          "description": "Name of the resource for which the operation is operating on."
        },
        "operationType": {
          "enum": [
            "OPERATION_TYPE_UNSPECIFIED",
            "INSERT",
            "DELETE",
            "UPDATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "progress": {
          "description": "Progress of the operation.",
          "$ref": "GoogleCloudApigeeV1OperationMetadataProgress"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "properties": {
        "revisions": {
          "description": "Revisions of the resource currently deployed in the instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          }
        },
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "uid": {
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses.",
          "type": "string"
        },
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus",
      "type": "object",
      "description": "The status of a resource loaded in the runtime."
    },
    "GoogleCloudApigeeV1Session": {
      "description": "Session carries the debug session id and its creation time.",
      "properties": {
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP.",
          "format": "int64",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The debug session ID."
        }
      },
      "id": "GoogleCloudApigeeV1Session",
      "type": "object"
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "properties": {
        "adjustment": {
          "$ref": "GoogleTypeMoney",
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase. NOTE: An adjustment cannot increase the balance of the developer beyond the balance as of the most recent credit. For example, if a developer's balance is updated to be $100, and they spend $10, a negative adjustment can only increase the balance of the developer to $100."
        }
      },
      "description": "Request for AdjustDeveloperBalance."
    },
    "GoogleCloudApigeeV1ApimServiceExtensionExtension": {
      "id": "GoogleCloudApigeeV1ApimServiceExtensionExtension",
      "description": "Extension configuration for Apigee extension processor service extension.",
      "properties": {
        "matchCondition": {
          "type": "string",
          "description": "Optional. Match Condition for CEL expression. Refer to https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference for more details."
        },
        "name": {
          "type": "string",
          "description": "Required. Name of the `LbTrafficExtension` resource. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
        },
        "hostname": {
          "description": "Required. One of the hostnames of Apigee EnvGroup where the proxy is deployed. This hostname (i.e FDQN) will be used to route traffic from the specified forwarding rule to the environment in Apigee X instance where the proxy is deployed for handling extension traffic. Format: ^([a-zA-Z0-9. _-])+$",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Whether this request should fail open."
        },
        "supportedEvents": {
          "description": "Optional. Supported events for the Service Extension. If not specified, all events are supported.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified event.",
              "Request headers event.",
              "Request body event.",
              "Response headers event.",
              "Response body event.",
              "Request trailers event.",
              "Response trailers event."
            ],
            "enum": [
              "SUPPORTED_EVENT_UNSPECIFIED",
              "REQUEST_HEADERS",
              "REQUEST_BODY",
              "RESPONSE_HEADERS",
              "RESPONSE_BODY",
              "REQUEST_TRAILERS",
              "RESPONSE_TRAILERS"
            ]
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse": {
      "properties": {
        "scores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Score"
          },
          "type": "array",
          "description": "List of scores. One score per day."
        },
        "nextPageToken": {
          "description": "A page token, received from a previous `ComputeScore` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        }
      },
      "description": "Response for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "description": "The response for TestDatastore",
      "type": "object",
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. It could be `completed` or `failed`",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Error message of test connection failure",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1Space": {
      "id": "GoogleCloudApigeeV1Space",
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the space.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Id of the space. This field is used as the resource name, and must follow [AIP-122](https://google.aip.dev/122) guidelines.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create timestamp of the space.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Last modified timestamp of the space.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Organization space resource."
    },
    "GoogleCloudApigeeV1Credential": {
      "id": "GoogleCloudApigeeV1Credential",
      "type": "object",
      "properties": {
        "issuedAt": {
          "format": "int64",
          "type": "string",
          "description": "Time the credential was issued in milliseconds since epoch."
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "apiProducts": {
          "description": "List of API products this credential can be used for.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          }
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes associated with this credential."
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "expiresAt": {
          "format": "int64",
          "description": "Time the credential will expire in milliseconds since epoch.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileEnvironment": {
      "type": "object",
      "description": "Environment information of attached environments. Scoring an environment is enabled only if it is attached to a security profile.",
      "properties": {
        "environment": {
          "description": "Output only. Name of the environment.",
          "readOnly": true,
          "type": "string"
        },
        "attachTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time at which environment was attached to the security profile.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1SecurityProfileEnvironment"
    },
    "GoogleCloudApigeeV1SecurityMonitoringCondition": {
      "description": "Security monitoring condition for risk assessment version 2.",
      "properties": {
        "totalMonitoredResources": {
          "description": "Output only. Total number of monitored resources within this condition.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "scope": {
          "type": "string",
          "description": "Optional. Scope of the security monitoring condition. When RiskAssessmentType is APIGEE, the scope should be set to the environment of the resources. When RiskAssessmentType is API_HUB, the scope should not be set."
        },
        "include": {
          "description": "Include only these resources.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray"
        },
        "updateTime": {
          "description": "Output only. The time of the security monitoring condition update.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "totalDeployedResources": {
          "readOnly": true,
          "description": "Output only. Total number of deployed resources within scope.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}"
        },
        "createTime": {
          "description": "Output only. The time of the security monitoring condition creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiHubGateway": {
          "description": "Optional. The API Hub gateway monitored by the security monitoring condition. This should only be set if risk_assessment_type is API_HUB. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "includeAllResources": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll",
          "description": "Include all resources under the scope."
        },
        "riskAssessmentType": {
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ],
          "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ],
          "type": "string"
        },
        "profile": {
          "type": "string",
          "description": "Required. ID of security profile of the security monitoring condition."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityMonitoringCondition",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityProfileScoringConfig": {
      "properties": {
        "scorePath": {
          "description": "Path of the component config used for scoring.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the config."
        },
        "title": {
          "description": "Title of the config.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityProfileScoringConfig",
      "description": "Security configurations to manage scoring.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityActionsResponse": {
      "description": "Contains a list of SecurityActions in response to a ListSecurityActionRequest.",
      "id": "GoogleCloudApigeeV1ListSecurityActionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "securityActions": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAction"
          },
          "description": "The SecurityActions for the specified environment.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OASDocumentation": {
      "properties": {
        "spec": {
          "description": "Required. The documentation file contents for the OpenAPI Specification. JSON and YAML file formats are supported.",
          "$ref": "GoogleCloudApigeeV1DocumentationFile"
        },
        "format": {
          "enumDescriptions": [
            "The format is not available.",
            "YAML format.",
            "JSON format."
          ],
          "description": "Output only. The format of the input specification file contents.",
          "type": "string",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "YAML",
            "JSON"
          ],
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1OASDocumentation",
      "type": "object",
      "description": "OpenAPI Specification documentation for a catalog item."
    },
    "GoogleCloudApigeeV1DisableSecurityActionRequest": {
      "id": "GoogleCloudApigeeV1DisableSecurityActionRequest",
      "type": "object",
      "properties": {},
      "description": "Message to disable an enabled SecurityAction."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "description": "The status of a deployment as reported by a single instance.",
      "type": "object",
      "properties": {
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        },
        "deployedRevisions": {
          "type": "array",
          "description": "Revisions currently deployed in MPs.",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          }
        },
        "deployedRoutes": {
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          }
        }
      },
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus"
    },
    "GoogleCloudApigeeV1ListSecurityProfilesResponse": {
      "description": "Response for ListSecurityProfiles.",
      "id": "GoogleCloudApigeeV1ListSecurityProfilesResponse",
      "properties": {
        "securityProfiles": {
          "description": "List of security profiles in the organization. The profiles may be attached or unattached to any environment. This will return latest revision of each profile.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Reference": {
      "description": "A Reference configuration. References must refer to a keystore that also exists in the parent environment.",
      "properties": {
        "description": {
          "description": "Optional. A human-readable description of this reference.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this reference. Values must match the regular expression [\\w\\s\\-.]+."
        },
        "resourceType": {
          "description": "The type of resource referred to by this reference. Valid values are 'KeyStore' or 'TrustStore'.",
          "type": "string"
        },
        "refers": {
          "description": "Required. The id of the resource to which this reference refers. Must be the id of a resource that exists in the parent environment and is of the given resource_type.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Reference"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxy",
      "description": "Metadata describing the API proxy",
      "properties": {
        "space": {
          "description": "Optional. The id of the space this proxy is associated with. Any IAM policies applied to the space will control access to this proxy. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        },
        "labels": {
          "description": "User labels applied to this API Proxy.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "latestRevisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The id of the most recently created revision for this api proxy."
        },
        "revision": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. List of revisions defined for the API proxy."
        },
        "readOnly": {
          "description": "Output only. Whether this proxy is read-only. A read-only proxy cannot have new revisions created through calls to CreateApiProxyRevision. A proxy is read-only if it was generated by an archive.",
          "type": "boolean",
          "readOnly": true
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "readOnly": true,
          "description": "Output only. Metadata describing the API proxy."
        },
        "apiProxyType": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the API proxy.",
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API proxy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "id": "GoogleCloudApigeeV1ListExportsResponse",
      "properties": {
        "exports": {
          "description": "Details of the export jobs.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          }
        }
      },
      "description": "The response for ListExports",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiCategoryResponse": {
      "description": "The API category resource wrapped with response status, error_code, etc.",
      "properties": {
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "data": {
          "description": "The API category resource.",
          "$ref": "GoogleCloudApigeeV1ApiCategory"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "type": "string",
          "description": "Unique error code for the request, if any."
        }
      },
      "id": "GoogleCloudApigeeV1ApiCategoryResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ProfileConfigCategory": {
      "properties": {
        "abuse": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigAbuse",
          "description": "Checks for abuse, which includes any requests sent to the API for purposes other than what it is intended for, such as high volumes of requests, data scraping, and abuse related to authorization."
        },
        "cors": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigCORS",
          "description": "Checks to see if you have CORS policy in place."
        },
        "mediation": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigMediation",
          "description": "Checks to see if you have a mediation policy in place."
        },
        "threat": {
          "description": "Checks to see if you have a threat protection policy in place.",
          "$ref": "GoogleCloudApigeeV1ProfileConfigThreat"
        },
        "authorization": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigAuthorization",
          "description": "Checks to see if you have an authorization policy in place."
        },
        "mtls": {
          "$ref": "GoogleCloudApigeeV1ProfileConfigMTLS",
          "description": "Checks to see if you have configured mTLS for the target server."
        }
      },
      "id": "GoogleCloudApigeeV1ProfileConfigCategory",
      "type": "object",
      "description": "Advanced API Security provides security profile that scores the following categories."
    },
    "GoogleCloudApigeeV1ApiDoc": {
      "properties": {
        "description": {
          "description": "Optional. Description of the catalog item. Max length is 10,000 characters.",
          "type": "string"
        },
        "categoryIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The IDs of the API categories to which this catalog item belongs."
        },
        "specId": {
          "deprecated": true,
          "description": "Optional. DEPRECATED: DO NOT USE",
          "type": "string"
        },
        "anonAllowed": {
          "description": "Optional. Boolean flag that manages user access to the catalog item. When true, the catalog item has public visibility and can be viewed anonymously; otherwise, only registered users may view it. Note: when the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), and this flag is set to false, visibility is set to an indeterminate state and must be explicitly specified in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)). Additionally, when enrolled in the audience management feature, updates to this flag will be ignored as visibility permissions must be updated in the management UI.",
          "type": "boolean"
        },
        "graphqlSchema": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "visibility": {
          "description": "Optional. DEPRECATED: use the `published` field instead",
          "type": "boolean"
        },
        "requireCallbackUrl": {
          "type": "boolean",
          "description": "Optional. Whether a callback URL is required when this catalog item's API product is enabled in a developer app. When true, a portal user will be required to input a URL when managing the app (this is typically used for the app's OAuth flow)."
        },
        "imageUrl": {
          "type": "string",
          "description": "Optional. Location of the image used for the catalog item in the catalog. This can be either an image with an external URL or a file path for [image files stored in the portal](/apigee/docs/api-platform/publish/portal/portal-files\"), for example, `/files/book-tree.jpg`. When specifying the URL of an external image, the image won't be uploaded to your assets; additionally, loading the image in the integrated portal will be subject to its availability, which may be blocked or restricted by [content security policies](/apigee/docs/api-platform/publish/portal/csp). Max length of file path is 2,083 characters."
        },
        "apiProductName": {
          "type": "string",
          "description": "Required. Immutable. The `name` field of the associated [API product](/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). A portal may have only one catalog item associated with a given API product."
        },
        "published": {
          "description": "Optional. Denotes whether the catalog item is published to the portal or is in a draft state. When the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), the visibility can be set to public on creation by setting the anonAllowed flag to true or further managed in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)) before it can be visible to any users. If not enrolled in the audience management feature, the visibility is managed by the `anonAllowed` flag.",
          "type": "boolean"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID of the catalog item.",
          "format": "int64",
          "type": "string"
        },
        "graphqlSchemaDisplayName": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "edgeAPIProductName": {
          "type": "string",
          "description": "Optional. Immutable. DEPRECATED: use the `apiProductName` field instead"
        },
        "title": {
          "description": "Required. The user-facing name of the catalog item. `title` must be a non-empty string with a max length of 255 characters.",
          "type": "string"
        },
        "graphqlEndpointUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "siteId": {
          "readOnly": true,
          "description": "Output only. The ID of the parent portal.",
          "type": "string"
        },
        "modified": {
          "description": "Output only. Time the catalog item was last modified in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "`ApiDoc` represents an API catalog item. Catalog items are used in two ways in a portal: - Users can browse and interact with a visual representation of the API documentation - The `api_product_name` field provides a link to a backing [API product] (/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). Through this link, portal users can create and manage developer apps linked to one or more API products.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiDoc"
    },
    "GoogleCloudApigeeV1SecurityActionConditionConfig": {
      "properties": {
        "developerApps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of developer apps. Limit 1000 per action."
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of API Products. Limit 1000 per action."
        },
        "asns": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. A list of ASN numbers to act on, e.g. 23. https://en.wikipedia.org/wiki/Autonomous_system_(Internet) This uses int64 instead of uint32 because of https://linter.aip.dev/141/forbidden-types."
        },
        "botReasons": {
          "type": "array",
          "description": "Optional. A list of Bot Reasons. Current options: Flooder, Brute Guessor, Static Content Scraper, OAuth Abuser, Robot Abuser, TorListRule, Advanced Anomaly Detection, Advanced API Scraper, Search Engine Crawlers, Public Clouds, Public Cloud AWS, Public Cloud Azure, and Public Cloud Google.",
          "items": {
            "type": "string"
          }
        },
        "apiKeys": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of API keys. Limit 1000 per action."
        },
        "developers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of developers. Limit 1000 per action."
        },
        "userAgents": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of user agents to deny. We look for exact matches. Limit 50 per action.",
          "type": "array"
        },
        "httpMethods": {
          "description": "Optional. Act only on particular HTTP methods. E.g. A read-only API can block POST/PUT/DELETE methods. Accepted values are: GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE and PATCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accessTokens": {
          "description": "Optional. A list of access_tokens. Limit 1000 per action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "regionCodes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of countries/region codes to act on, e.g. US. This follows https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.",
          "type": "array"
        },
        "ipAddressRanges": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of IP addresses. This could be either IPv4 or IPv6. Limited to 100 per action.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The following are a list of conditions. A valid SecurityAction must contain at least one condition. Within a condition, each element is ORed. Across conditions elements are ANDed. For example if a SecurityAction has the following: ip_address_ranges: [\"ip1\", \"ip2\"] and bot_reasons: [\"Flooder\", \"Robot Abuser\"] then this is interpreted as: enforce the action if the incoming request has ((ip_address_ranges = \"ip1\" OR ip_address_ranges = \"ip2\") AND (bot_reasons=\"Flooder\" OR bot_reasons=\"Robot Abuser\")). Conditions other than ip_address_ranges and bot_reasons cannot be ANDed.",
      "id": "GoogleCloudApigeeV1SecurityActionConditionConfig"
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse",
      "type": "object",
      "properties": {
        "app": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          },
          "description": "List of developer apps and their credentials."
        }
      }
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "type": "object",
      "description": "Configuration for the Connectors Platform add-on.",
      "properties": {
        "expiresAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "type": "string"
        },
        "enabled": {
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "type": "object",
      "id": "GoogleCloudApigeeV1TargetServer",
      "properties": {
        "isEnabled": {
          "type": "boolean",
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true."
        },
        "protocol": {
          "type": "string",
          "description": "Immutable. The protocol used by this TargetServer.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "HTTP2",
            "GRPC_TARGET",
            "GRPC",
            "EXTERNAL_CALLOUT"
          ],
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetSever uses HTTP2.",
            "The TargetServer uses GRPC.",
            "GRPC TargetServer to be used in ExternalCallout Policy. Prefer to use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once EXTERNAL _CALLOUT generally available.",
            "The TargetServer is to be used in the ExternalCallout Policy"
          ]
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "name": {
          "description": "Required. The resource id of this target server. Values must match the regular expression ",
          "type": "string"
        }
      },
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy TargetEndpoint HTTPTargetConnections from concrete URLs for backend services."
    },
    "GoogleCloudApigeeV1Export": {
      "id": "GoogleCloudApigeeV1Export",
      "description": "Details of an export job.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the export job."
        },
        "executionTime": {
          "description": "Output only. Execution time for this export job. If the job is still in progress, it will be set to the amount of time that has elapsed since`created`, in seconds. Else, it will set to (`updated` - `created`), in seconds.",
          "type": "string",
          "readOnly": true
        },
        "self": {
          "type": "string",
          "description": "Output only. Self link of the export job. A URI that can be used to retrieve the status of an export job. Example: `/organizations/myorg/environments/myenv/analytics/exports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "readOnly": true
        },
        "datastoreName": {
          "type": "string",
          "description": "Name of the datastore that is the destination of the export job [datastore]"
        },
        "state": {
          "type": "string",
          "description": "Output only. Status of the export job. Valid values include `enqueued`, `running`, `completed`, and `failed`.",
          "readOnly": true
        },
        "created": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the export job was created."
        },
        "updated": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the export job was last updated."
        },
        "name": {
          "description": "Display name of the export job.",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Output only. Error is set when export fails",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name."
        },
        "function": {
          "type": "string",
          "description": "Aggregation function: avg, min, max, or sum."
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryMetric"
    },
    "GoogleCloudApigeeV1AppGroupSubscription": {
      "properties": {
        "apiproduct": {
          "description": "Required. Name of the API product for which the appgroup is purchasing a subscription.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch."
        },
        "name": {
          "description": "Output only. Name of the API product subscription.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "endTime": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time when the API product subscription ends in milliseconds since epoch.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Time when the API product subscription starts in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "AppGroup Subscription details.",
      "id": "GoogleCloudApigeeV1AppGroupSubscription",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeyAliasReference": {
      "id": "GoogleCloudApigeeV1KeyAliasReference",
      "type": "object",
      "properties": {
        "aliasId": {
          "type": "string",
          "description": "Alias ID. Must exist in the keystore referred to by the reference."
        },
        "reference": {
          "description": "Reference name in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest": {
      "properties": {
        "include": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray",
          "description": "Include only these resources."
        },
        "includeAllResources": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll",
          "description": "Include all resources under the scope."
        },
        "profile": {
          "description": "Required. Name of the profile that is used for computation.",
          "type": "string"
        },
        "apiHubGateways": {
          "description": "An array of API Hub Gateways to assess. A maximum of 3 gateways can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous `BatchComputeSecurityAssessmentResults` call. Provide this to retrieve the subsequent page."
        },
        "scope": {
          "description": "Optional. Scope of the resources for the computation. When computing scores for Apigee proxies, the scope should be set to the environment of the resources. When computing scores for API Hub deployments, api_hub_scope should be set instead.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 50 results will be returned.",
          "format": "int32",
          "type": "integer"
        },
        "apiHubApis": {
          "description": "An array of API Hub APIs to assess. A maximum of 1 API can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray"
        }
      },
      "description": "Request for BatchComputeSecurityAssessmentResults.",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resource files.",
          "type": "array"
        }
      },
      "description": "List of resource files.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "type": "object",
      "properties": {
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "credentials": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the developer app consisting of the consumer key/secret pairs associated with the API products."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the developer app. The specified scopes must already exist for the API product that you associate with the developer app."
        },
        "apiProducts": {
          "type": "array",
          "description": "List of API products associated with the developer app.",
          "items": {
            "type": "string"
          }
        },
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "name": {
          "description": "Name of the developer app.",
          "type": "string"
        },
        "appId": {
          "type": "string",
          "description": "ID of the developer app. This ID is not user specified but is automatically generated on app creation. appId is a UUID."
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the developer app was created in milliseconds since epoch.",
          "format": "int64"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes for the developer app."
        },
        "callbackUrl": {
          "type": "string",
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to developer apps."
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "keyExpiresIn": {
          "format": "int64",
          "type": "string",
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set."
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Time the developer app was modified in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperApp"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "properties": {
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        },
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          },
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1OperationGroup"
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "properties": {
        "message": {
          "description": "The response contains only a message field.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportMetadata": {
      "description": "Metadata for the security report.",
      "properties": {
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "format": "google-datetime",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the SecurityReport."
        },
        "timeUnit": {
          "description": "Query GroupBy time unit. Example: \"seconds\", \"minute\", \"hour\"",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type / Output format.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Metrics of the SecurityReport. Example: [\"name:bot_count,func:sum,alias:sum_bot_count\"]",
          "items": {
            "type": "string"
          }
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityReportMetadata",
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter": {
      "type": "object",
      "properties": {
        "scorePath": {
          "type": "string",
          "description": "Optional. Return scores for this component. Example: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\""
        }
      },
      "description": "Filter scores by component path. Used custom filter instead of AIP-160 as the use cases are highly constrained and predictable.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "properties": {
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "format": "google-datetime",
          "type": "string"
        },
        "instanceUid": {
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "description": "Status for config resources",
          "type": "array"
        }
      },
      "description": "Request for ReportInstanceStatus.",
      "type": "object"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "description": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```",
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "description": "List of metrics grouped under dimensions."
        },
        "name": {
          "description": "Name of the environment.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values."
        }
      },
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "GoogleProtobufEmpty",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1ScheduledMaintenance": {
      "description": "Scheduled maintenance information for an instance.",
      "id": "GoogleCloudApigeeV1ScheduledMaintenance",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Output only. The start time (UTC) of the scheduled maintenance.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1PayloadOperationGroup": {
      "description": "List of payload operation configuration details associated with Apigee API proxies. Payload operations enable governance of protocols where operations are embedded in the request body (such as JSON-RPC) rather than defined by the URL path.",
      "id": "GoogleCloudApigeeV1PayloadOperationGroup",
      "properties": {
        "operationConfigs": {
          "description": "Required. List of payload operation configurations for Apigee API proxies that are associated with this API product.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1PayloadOperationConfig"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeInterval": {
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "id": "GoogleTypeInterval",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      }
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse"
    },
    "GoogleCloudApigeeV1AnalyticsConfig": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Add-on is in progress of enabling.",
            "Add-on is fully enabled and ready to use.",
            "Add-on is in progress of disabling.",
            "Add-on is fully disabled."
          ],
          "enum": [
            "ADDON_STATE_UNSPECIFIED",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED"
          ],
          "description": "Output only. The state of the Analytics add-on.",
          "readOnly": true,
          "type": "string"
        },
        "enabled": {
          "description": "Whether the Analytics add-on is enabled.",
          "type": "boolean"
        },
        "expireTimeMillis": {
          "readOnly": true,
          "description": "Output only. Time at which the Analytics add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "format": "int64",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The latest update time.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1AnalyticsConfig",
      "description": "Configuration for the Analytics add-on.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ResourceFile",
      "properties": {
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        }
      },
      "description": "Metadata about a resource file."
    },
    "GoogleCloudApigeeV1CustomReport": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReport",
      "properties": {
        "environment": {
          "description": "Output only. Environment name",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "This is the display name for the report"
        },
        "sortByCols": {
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "toTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the end time for the report"
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "type": "string",
          "format": "int64"
        },
        "chartType": {
          "type": "string",
          "description": "This field contains the chart type for the report"
        },
        "name": {
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "topk": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result"
        },
        "limit": {
          "description": "Legacy field: not used This field contains the limit for the result retrieved",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "readOnly": true
        },
        "tags": {
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "dimensions": {
          "description": "This contains the list of dimensions for the report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sortOrder": {
          "description": "Legacy field: not used much. Contains the sort order for the sort columns",
          "type": "string"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Output only. Organization name",
          "readOnly": true
        },
        "comments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report"
        },
        "properties": {
          "description": "This field contains report properties such as ui metadata etc.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          }
        },
        "metrics": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          },
          "description": "Required. This contains the list of metrics",
          "type": "array"
        },
        "lastViewedAt": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "readOnly": true
        },
        "timeUnit": {
          "description": "This field contains the time unit of aggregation for the report",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiSecurityConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the API security add-on is enabled."
        },
        "expiresAt": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time at which the API Security add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire."
        }
      },
      "description": "Configurations of the API Security add-on.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiSecurityConfig"
    },
    "GoogleCloudApigeeV1GrpcOperationGroup": {
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1GrpcOperationConfig"
          },
          "type": "array",
          "description": "Required. List of operation configurations for either Apigee API proxies that are associated with this API product."
        }
      },
      "type": "object",
      "description": "List of gRPC operation configuration details associated with Apigee API proxies.",
      "id": "GoogleCloudApigeeV1GrpcOperationGroup"
    },
    "EdgeConfigstoreBundleBadBundle": {
      "id": "EdgeConfigstoreBundleBadBundle",
      "description": "Describes why a bundle is invalid. Intended for use in error details.",
      "type": "object",
      "properties": {
        "violations": {
          "type": "array",
          "description": "Describes all precondition violations.",
          "items": {
            "$ref": "EdgeConfigstoreBundleBadBundleViolation"
          }
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaElement": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
[...]
