{
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "baseUrl": "https://apigee.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260827",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "name": "apigee",
  "id": "apigee:v1",
  "version_module": true,
  "basePath": "",
  "endpoints": [
    {
      "location": "us",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "eu"
    },
    {
      "location": "in",
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "sa"
    }
  ],
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "id": "apigee.projects.provisionOrganization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "project": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the GCP project with which to associate the Apigee organization.",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial.",
          "parameterOrder": [
            "project"
          ],
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "path": "v1/{+project}:provisionOrganization",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST"
        }
      }
    },
    "organizations": {
      "methods": {
        "getSecuritySettings": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "location": "path",
              "pattern": "^organizations/[^/]+/securitySettings$"
            }
          },
          "description": "GetSecuritySettings gets the security settings for API Security.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "id": "apigee.organizations.getSecuritySettings"
        },
        "getProjectMapping": {
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "description": "Gets the project ID and region for an Apigee organization.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "id": "apigee.organizations.getProjectMapping",
          "path": "v1/{+name}:getProjectMapping",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET"
        },
        "getRuntimeConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "description": "Get runtime config for an organization.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.getRuntimeConfig",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'."
            }
          }
        },
        "getDeployedIngressConfig": {
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameters": {
            "view": {
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "type": "string",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "location": "query"
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "location": "path",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "path": "v1/{+parent}",
          "parameters": {
            "parent": {
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true,
              "location": "path",
              "pattern": "^organizations$",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "flatPath": "v1/organizations",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "id": "apigee.organizations.list"
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "id": "apigee.organizations.update",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`"
            }
          }
        },
        "getMcpServerConfig": {
          "description": "Gets the deployed MCP server configuration for an organization. McpServerConfig is an org-scoped singleton (one per organization). The returned configuration may be up to 30 seconds out of date by default.",
          "response": {
            "$ref": "GoogleCloudApigeeV1McpServerConfig"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/mcpServerConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getMcpServerConfig",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Name of the deployed MCP server configuration for the organization in the singleton form: `organizations/{org}/mcpServerConfig`.",
              "pattern": "^organizations/[^/]+/mcpServerConfig$",
              "required": true,
              "type": "string"
            }
          }
        },
        "setAddons": {
          "id": "apigee.organizations.setAddons",
          "path": "v1/{+org}:setAddons",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "POST",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "parameters": {
            "org": {
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "org"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          }
        },
        "delete": {
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "id": "apigee.organizations.delete",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path"
            },
            "retention": {
              "location": "query",
              "type": "string",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ]
            }
          },
          "path": "v1/{+name}"
        },
        "setSyncAuthorization": {
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "id": "apigee.organizations.setSyncAuthorization",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:setSyncAuthorization",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ]
        },
        "updateControlPlaneAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/controlPlaneAccess$"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, analytics_publisher_identities, watcher_identities.",
              "format": "google-fieldmask"
            }
          },
          "path": "v1/{+name}",
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.updateControlPlaneAccess",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess"
        },
        "create": {
          "parameters": {
            "parent": {
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/organizations",
          "flatPath": "v1/organizations",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "id": "apigee.organizations.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "POST"
        },
        "updateSecuritySettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "UpdateSecuritySettings updates the current security settings for API Security.",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "required": true,
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "id": "apigee.organizations.updateSecuritySettings",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "path": "v1/{+name}"
        },
        "get": {
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.get"
        },
        "getSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "apigee.organizations.getSyncAuthorization",
          "path": "v1/{+name}:getSyncAuthorization",
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          }
        },
        "getControlPlaneAccess": {
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "id": "apigee.organizations.getControlPlaneAccess",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          }
        }
      },
      "resources": {
        "environments": {
          "resources": {
            "keystores": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "id": "apigee.organizations.environments.keystores.get",
                  "description": "Gets a keystore or truststore.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a keystore or truststore.",
                  "id": "apigee.organizations.environments.keystores.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}"
                },
                "create": {
                  "description": "Creates a keystore or truststore. - Keystore: Contains certificates and their associated keys. - Truststore: Contains trusted certificates used to validate a server's certificate. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path"
                    },
                    "name": {
                      "description": "Optional. Name of the keystore. Overrides the value in Keystore.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.keystores.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "path": "v1/{+parent}/keystores"
                }
              },
              "resources": {
                "aliases": {
                  "methods": {
                    "update": {
                      "description": "Updates the certificate in an alias. The updated certificate must be in PEM- or DER-encoded X.509 format.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.update",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "parameters": {
                        "ignoreExpiryValidation": {
                          "description": "Required. Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "ignoreNewlineValidation": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`."
                        }
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "path": "v1/{+name}",
                      "description": "Deletes an alias.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.delete",
                      "httpMethod": "DELETE"
                    },
                    "create": {
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "format": {
                          "description": "Required. Format of the data. Valid values include: `selfsignedcert`, `keycertfile`, or `pkcs12`",
                          "location": "query",
                          "type": "string"
                        },
                        "_password": {
                          "description": "DEPRECATED: For improved security, specify the password in the request body instead of using the query parameter. To specify the password in the request body, set `Content-type: multipart/form-data` part with name `password`. Password for the private key file, if required.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                          "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "alias": {
                          "description": "Alias for the key/certificate pair. Values must match the regular expression `[\\w\\s-.]{1,255}`. This must be provided for all formats except `selfsignedcert`; self-signed certs may specify the alias in either this parameter or the JSON body.",
                          "type": "string",
                          "location": "query"
                        },
                        "ignoreExpiryValidation": {
                          "location": "query",
                          "description": "Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean"
                        },
                        "ignoreNewlineValidation": {
                          "type": "boolean",
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+parent}/aliases",
                      "id": "apigee.organizations.environments.keystores.aliases.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates an alias from a key/certificate pair. The structure of the request is controlled by the `format` query parameter: - `keycertfile` - Separate PEM-encoded key and certificate files are uploaded. Set `Content-Type: multipart/form-data` and include the `keyFile`, `certFile`, and `password` (if keys are encrypted) fields in the request body. If uploading to a truststore, omit `keyFile`. - `pkcs12` - A PKCS12 file is uploaded. Set `Content-Type: multipart/form-data`, provide the file in the `file` field, and include the `password` field if the file is encrypted in the request body. - `selfsignedcert` - A new private key and certificate are generated. Set `Content-Type: application/json` and include CertificateGenerationSpec in the request body."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.environments.keystores.aliases.get",
                      "description": "Gets an alias.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "csr": {
                      "path": "v1/{+name}/csr",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Generates a PKCS #10 Certificate Signing Request for the private key in an alias.",
                      "id": "apigee.organizations.environments.keystores.aliases.csr",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/csr",
                      "httpMethod": "GET"
                    },
                    "getCertificate": {
                      "description": "Gets the certificate from an alias in PEM-encoded form.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "apigee.organizations.environments.keystores.aliases.getCertificate",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/certificate",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/certificate",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      }
                    }
                  }
                }
              }
            },
            "resourcefiles": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "description": "Gets the contents of a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "id": "apigee.organizations.environments.resourcefiles.get",
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. ID of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "type": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Resource file type. {{ resource_file_type }}"
                    }
                  }
                },
                "list": {
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/resourcefiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "type": {
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.environments.resourcefiles.list"
                },
                "update": {
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.update",
                  "description": "Updates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "httpMethod": "PUT",
                  "parameters": {
                    "type": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "required": true
                    },
                    "name": {
                      "required": true,
                      "description": "Required. ID of the resource file to update. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "location": "path",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "description": "Deletes a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "type": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource file type. {{ resource_file_type }}"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. ID of the resource file to delete. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.delete",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}"
                },
                "create": {
                  "description": "Creates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.environments.resourcefiles.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/resourcefiles",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the resource file in the following format: `organizations/{org}/environments/{env}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "type": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Resource file type. {{ resource_file_type }}"
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Name of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles"
                },
                "listEnvironmentResources": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.listEnvironmentResources",
                  "path": "v1/{+parent}/resourcefiles/{type}",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "type": {
                      "location": "path",
                      "required": true,
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string"
                    }
                  },
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent",
                    "type"
                  ]
                }
              }
            },
            "securityReports": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Return a list of Security Reports",
                  "parameters": {
                    "from": {
                      "location": "query",
                      "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "to": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'."
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of security report to return in the list response."
                    },
                    "submittedBy": {
                      "location": "query",
                      "description": "Filter response list by user who submitted queries.",
                      "type": "string"
                    },
                    "status": {
                      "description": "Filter response list by security reports status.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Token returned from the previous list response to fetch the next page.",
                      "type": "string",
                      "location": "query"
                    },
                    "dataset": {
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "apigee.organizations.environments.securityReports.list",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "path": "v1/{+parent}/securityReports",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
                  }
                },
                "getResultView": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/resultView",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/resultView$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/resultView`."
                    }
                  },
                  "description": "After the query is completed, use this API to view the query result when result size is small.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.securityReports.getResultView",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "id": "apigee.organizations.environments.securityReports.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}",
                  "description": "Get security report status If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}`.",
                      "required": true
                    }
                  }
                },
                "getResult": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/environments/{env}/securityReports/{reportId}/result`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityReports/[^/]+/result$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.securityReports.getResult",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "description": "After the query is completed, use this API to retrieve the results as file. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports/{securityReportsId}/result",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "id": "apigee.organizations.environments.securityReports.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "description": "Submit a report request to be processed in the background. If the submission succeeds, the API returns a 200 status and an ID that refer to the report request. In addition to the HTTP status 200, the `state` of \"enqueued\" means that the request succeeded.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityReport"
                  },
                  "path": "v1/{+parent}/securityReports",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityReports",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "references": {
              "methods": {
                "update": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Reference. Note that this operation has PUT semantics; it will replace the entirety of the existing Reference with the resource in the request body.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.update",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Reference to update. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. The parent environment name under which the Reference will be created. Must be of the form `organizations/{org}/environments/{env}`.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "path": "v1/{+parent}/references",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "description": "Creates a Reference in the specified environment.",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.environments.references.create"
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.references.get",
                  "description": "Gets a Reference resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the Reference to get. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a Reference from an environment. Returns the deleted Reference resource.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the Reference to delete. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.references.delete",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "httpMethod": "DELETE"
                }
              }
            },
            "optimizedStats": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "sortby": {
                      "location": "query",
                      "type": "string",
                      "description": "Comma-separated list of metrics to sort the final result."
                    },
                    "accuracy": {
                      "type": "string",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "location": "query"
                    },
                    "select": {
                      "type": "string",
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                      "location": "query"
                    },
                    "offset": {
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                      "location": "query",
                      "type": "string"
                    },
                    "tzo": {
                      "location": "query",
                      "description": "Timezone offset value.",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$"
                    },
                    "tsAscending": {
                      "location": "query",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`.",
                      "type": "boolean"
                    },
                    "realtime": {
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "topk": {
                      "type": "string",
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "location": "query"
                    },
                    "sonar": {
                      "type": "boolean",
                      "description": "Routes the query to API Monitoring for the last hour.",
                      "location": "query"
                    },
                    "aggTable": {
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "location": "query",
                      "type": "string"
                    },
                    "timeRange": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`"
                    },
                    "sort": {
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "type": "string",
                      "description": "Maximum number of result items to return."
                    },
                    "filter": {
                      "description": "Filter that enables you to drill-down on specific dimension values.",
                      "location": "query",
                      "type": "string"
                    },
                    "timeUnit": {
                      "type": "string",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "id": "apigee.organizations.environments.optimizedStats.get",
                  "description": "Similar to GetStats except that the response is less verbose."
                }
              }
            },
            "archiveDeployments": {
              "methods": {
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing ArchiveDeployment. Labels can modified but most of the other fields are not modifiable.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.patch",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes an archive deployment.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "id": "apigee.organizations.environments.archiveDeployments.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the specified ArchiveDeployment.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$",
                      "description": "Required. Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "apigee.organizations.environments.archiveDeployments.get",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateDownloadUrl": {
                  "description": "Generates a signed URL for downloading the original zip file used to create an Archive Deployment. The URL is only valid for a limited period and should be used within minutes after generation. Each call returns a new upload URL.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Archive Deployment you want to download.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/archiveDeployments/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments/{archiveDeploymentsId}:generateDownloadUrl",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateDownloadUrlRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:generateDownloadUrl",
                  "id": "apigee.organizations.environments.archiveDeployments.generateDownloadUrl"
                },
                "create": {
                  "path": "v1/{+parent}/archiveDeployments",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The Environment this Archive Deployment will be created in.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.archiveDeployments.create",
                  "httpMethod": "POST",
                  "description": "Creates a new ArchiveDeployment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "generateUploadUrl": {
                  "path": "v1/{+parent}/archiveDeployments:generateUploadUrl",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The organization and environment to upload to.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlRequest"
                  },
                  "description": "Generates a signed URL for uploading an Archive zip file to Google Cloud Storage. Once the upload is complete, the signed URL should be passed to CreateArchiveDeployment. When uploading to the generated signed URL, please follow these restrictions: * Source file type should be a zip file. * Source file size should not exceed 1GB limit. * No credentials should be attached - the signed URLs provide access to the target bucket using internal service identity; if credentials were attached, the identity from the credentials would be used, but that identity does not have permissions to upload files to the URL. When making a HTTP PUT request, these two headers need to be specified: * `content-type: application/zip` * `x-goog-content-length-range: 0,1073741824` And this header SHOULD NOT be specified: * `Authorization: Bearer YOUR_TOKEN`",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments:generateUploadUrl",
                  "httpMethod": "POST",
                  "id": "apigee.organizations.environments.archiveDeployments.generateUploadUrl",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GenerateUploadUrlResponse"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the Environment for which to list Archive Deployments in the format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional query used to return a subset of Archive Deployments using the semantics defined in https://google.aip.dev/160."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Page token, returned from a previous ListArchiveDeployments call, that you can use to retrieve the next page."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Maximum number of Archive Deployments to return. If unspecified, at most 25 deployments will be returned.",
                      "location": "query"
                    }
                  },
                  "description": "Lists the ArchiveDeployments in the specified Environment.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/archiveDeployments",
                  "id": "apigee.organizations.environments.archiveDeployments.list",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/archiveDeployments",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse"
                  }
                }
              }
            },
            "securityActions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/securityActions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListSecurityActionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns a list of SecurityActions. This returns both enabled and disabled actions.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of SecurityActions to return. If unspecified, at most 50 SecurityActions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. The parent, which owns this collection of SecurityActions. Format: organizations/{org}/environments/{env}",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression to filter List results. https://google.aip.dev/160. Allows for filtering over: state and api_proxies. E.g.: state = ACTIVE AND apiProxies:foo. Filtering by action is not supported https://github.com/aip-dev/google.aip.dev/issues/624"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `ListSecurityActions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSecurityActions` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.securityActions.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.securityActions.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The fully qualified name of the SecurityAction to retrieve. Format: organizations/{org}/environments/{env}/securityActions/{security_action}",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Get a SecurityAction by name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  }
                },
                "disable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityActions.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:disable",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the SecurityAction to disable. Format: organizations/{org}/environments/{env}/securityActions/{security_action}",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DisableSecurityActionRequest"
                  },
                  "httpMethod": "POST",
                  "description": "Disable a SecurityAction. The `state` of the SecurityAction after disabling is `DISABLED`. `DisableSecurityAction` can be called on SecurityActions in the state `ENABLED`; SecurityActions in a different state (including `DISABLED`) return an error.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}:disable",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The organization and environment that this SecurityAction applies to. Format: organizations/{org}/environments/{env}",
                      "type": "string"
                    },
                    "securityActionId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the SecurityAction, which will become the final component of the action's resource name. This value should be 0-61 characters, and valid format is (^[a-z]([a-z0-9-]{​0,61}[a-z0-9])?$)."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions",
                  "path": "v1/{+parent}/securityActions",
                  "httpMethod": "POST",
                  "description": "CreateSecurityAction creates a SecurityAction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.securityActions.create"
                },
                "enable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the SecurityAction to enable. Format: organizations/{org}/environments/{env}/securityActions/{security_action}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$"
                    }
                  },
                  "description": "Enable a SecurityAction. The `state` of the SecurityAction after enabling is `ENABLED`. `EnableSecurityAction` can be called on SecurityActions in the state `DISABLED`; SecurityActions in a different state (including `ENABLED) return an error.",
                  "id": "apigee.organizations.environments.securityActions.enable",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnableSecurityActionRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}:enable",
                  "httpMethod": "POST",
                  "path": "v1/{+name}:enable"
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Update a SecurityAction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.securityActions.patch",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Immutable. This field is ignored during creation as per AIP-133. Please set the `security_action_id` field in the CreateSecurityActionRequest when creating a new SecurityAction. Format: organizations/{org}/environments/{env}/securityActions/{security_action}",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list of fields to update. Valid fields to update are `description`, `state`, `allow`, `deny`, and `flag`, `expire_time`, and `ttl`, `api_proxies`, and `condition_config`."
                    }
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$",
                      "description": "Required. The name of the security action to delete. Format: `organizations/{org}/environment/{env}/securityActions/{security_action}`",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Delete a SecurityAction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "apigee.organizations.environments.securityActions.delete",
                  "httpMethod": "DELETE"
                }
              }
            },
            "addonsConfig": {
              "methods": {
                "setAddonEnablement": {
                  "path": "v1/{+name}:setAddonEnablement",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SetAddonEnablementRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/addonsConfig$",
                      "description": "Required. Name of the add-ons config. Must be in the format of `/organizations/{org}/environments/{env}/addonsConfig`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/addonsConfig:setAddonEnablement",
                  "id": "apigee.organizations.environments.addonsConfig.setAddonEnablement",
                  "description": "Updates an add-on enablement status of an environment.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            },
            "apis": {
              "resources": {
                "revisions": {
                  "resources": {
                    "deployments": {
                      "methods": {
                        "generateDeployChangeReport": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Generates a report for a dry run analysis of a DeployApiProxy request without committing the deployment. In addition to the standard validations performed when adding deployments, additional analysis will be done to detect possible traffic routing changes that would result from this deployment being created. Any potential routing conflicts or unsafe changes will be reported in the response. This routing analysis is not performed for a non-dry-run DeployApiProxy request. For a request path `organizations/{org}/environments/{env}/apis/{api}/revisions/{rev}/deployments:generateDeployChangeReport`, two permissions are required: * `apigee.deployments.create` on the resource `organizations/{org}/environments/{env}` * `apigee.proxyrevisions.deploy` on the resource `organizations/{org}/apis/{api}/revisions/{rev}`",
                          "path": "v1/{+name}/deployments:generateDeployChangeReport",
                          "parameters": {
                            "override": {
                              "type": "boolean",
[...]
