{
  "canonicalName": "Apigee",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "apigee",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "title": "Apigee API",
  "id": "apigee:v1",
  "resources": {
    "organizations": {
      "resources": {
        "instances": {
          "resources": {
            "attachments": {
              "methods": {
                "create": {
                  "id": "apigee.organizations.instances.attachments.create",
                  "path": "v1/{+parent}/attachments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "required": true
                    }
                  },
                  "description": "Creates a new attachment of an environment to an instance. **Note:** Not supported for Apigee hybrid.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`.",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Deletes an attachment. **Note:** Not supported for Apigee hybrid.",
                  "id": "apigee.organizations.instances.attachments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.attachments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all attachments to an instance. **Note:** Not supported for Apigee hybrid.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Maximum number of instance attachments to return. Defaults to 25.",
                      "format": "int32"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`"
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous ListInstanceAttachments call, that you can use to retrieve the next page of content.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/attachments",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "apigee.organizations.instances.attachments.get",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "description": "Gets an attachment. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+name}"
                }
              }
            },
            "natAddresses": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.instances.natAddresses.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/natAddresses",
                  "httpMethod": "POST",
                  "description": "Creates a NAT address. The address is created in the RESERVED state and a static external IP address will be provisioned. At this time, the instance will not use this IP address for Internet egress traffic. The address can be activated for use once any required firewall IP whitelisting has been completed. **Note:** Not supported for Apigee hybrid.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "id": "apigee.organizations.instances.natAddresses.get",
                  "description": "Gets the details of a NAT address. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "apigee.organizations.instances.natAddresses.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes the NAT address. Connections that are actively using the address are drained before it is removed. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListNatAddressesResponse"
                  },
                  "description": "Lists the NAT addresses for an Apigee instance. **Note:** Not supported for Apigee hybrid.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.natAddresses.list",
                  "path": "v1/{+parent}/natAddresses",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum number of natAddresses to return. Defaults to 25.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Page token, returned from a previous ListNatAddresses call, that you can use to retrieve the next page of content."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "activate": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}:activate",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Activates the NAT address. The Apigee instance can now use this for Internet egress traffic. **Note:** Not supported for Apigee hybrid.",
                  "path": "v1/{+name}:activate",
                  "id": "apigee.organizations.instances.natAddresses.activate",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ActivateNatAddressRequest"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "canaryevaluations": {
              "methods": {
                "create": {
                  "description": "Creates a new canary evaluation for an organization.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apigee.organizations.instances.canaryevaluations.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "path": "v1/{+parent}/canaryevaluations",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets a CanaryEvaluation for an organization.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations/{canaryevaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.instances.canaryevaluations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/canaryevaluations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the CanaryEvaluation. Use the following structure in your request: `organizations/{org}/instances/*/canaryevaluations/{evaluation}`",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "id": "apigee.organizations.instances.get",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the details for an Apigee runtime instance. **Note:** Not supported for Apigee hybrid."
            },
            "create": {
              "id": "apigee.organizations.instances.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates an Apigee runtime instance. The instance is accessible from the authorized network configured on the organization. **Note:** Not supported for Apigee hybrid.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}/instances",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reportStatus": {
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}:reportStatus",
              "response": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
              },
              "description": "Reports the latest status for a runtime instance.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "instance": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "description": "The name of the instance reporting this status. For SaaS the request will be rejected if no instance exists under this name. Format is organizations/{org}/instances/{instance}",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.instances.reportStatus",
              "path": "v1/{+instance}:reportStatus",
              "request": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
              },
              "parameterOrder": [
                "instance"
              ]
            },
            "list": {
              "description": "Lists all Apigee runtime instances for the organization. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListInstancesResponse"
              },
              "path": "v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "apigee.organizations.instances.list",
              "parameters": {
                "pageToken": {
                  "description": "Page token, returned from a previous ListInstances call, that you can use to retrieve the next page of content.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum number of instances to return. Defaults to 25.",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              }
            },
            "delete": {
              "id": "apigee.organizations.instances.delete",
              "path": "v1/{+name}",
              "description": "Deletes an Apigee runtime instance. The instance stops serving requests and the runtime data is deleted. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.instances.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Updates an Apigee runtime instance. You can update the fields described in NodeConfig. No other fields will be updated. **Note:** Not supported for Apigee hybrid."
            }
          }
        },
        "reports": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a Custom Report for an Organization. A Custom Report provides Apigee Customers to create custom dashboards in addition to the standard dashboards which are provided. The Custom Report in its simplest form contains specifications about metrics, dimensions and filters. It is important to note that the custom report by itself does not provide an executable entity. The Edge UI converts the custom report definition into an analytics query and displays the result in a chart.",
              "path": "v1/{+parent}/reports",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "id": "apigee.organizations.reports.create",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent organization name under which the Custom Report will be created. Must be of the form: `organizations/{organization_id}/reports`",
                  "required": true
                }
              },
              "httpMethod": "POST"
            },
            "update": {
              "parameterOrder": [
                "name"
              ],
              "description": "Update an existing custom report definition",
              "request": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.reports.update",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/reports",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListCustomReportsResponse"
              },
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent organization name under which the API product will be listed `organizations/{organization_id}/reports`",
                  "type": "string"
                },
                "expand": {
                  "type": "boolean",
                  "description": "Set to 'true' to get expanded details about each custom report.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apigee.organizations.reports.list",
              "description": "Return a list of Custom Reports",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/reports"
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeleteCustomReportResponse"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.reports.delete",
              "httpMethod": "DELETE",
              "description": "Deletes an existing custom report definition",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/reports/[^/]+$",
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Custom Report name of the form: `organizations/{organization_id}/reports/{report_name}`",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/reports/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/reports/{reportsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1CustomReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.reports.get",
              "description": "Retrieve a custom report definition."
            }
          }
        },
        "hostSecurityReports": {
          "methods": {
            "getResult": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/securityReports/{reportId}/result`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/result$"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/result",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "apigee.organizations.hostSecurityReports.getResult",
              "parameterOrder": [
                "name"
              ],
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`"
            },
            "getResultView": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "After the query is completed, use this API to view the query result when result size is small.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostSecurityReports.getResultView",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/securityReports/{reportId}/resultView`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/resultView$"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/resultView",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "id": "apigee.organizations.hostSecurityReports.get",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/securityReports/{reportId}`.",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.hostSecurityReports.create",
              "httpMethod": "POST",
              "path": "v1/{+parent}/hostSecurityReports",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
              },
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              }
            },
            "list": {
              "parameters": {
                "status": {
                  "description": "Filter response list by security report status.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "submittedBy": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by user who submitted queries."
                },
                "envgroupHostname": {
                  "location": "query",
                  "description": "Required. Filter response list by hostname.",
                  "type": "string"
                },
                "to": {
                  "location": "query",
                  "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "type": "string"
                },
                "from": {
                  "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token returned from the previous list response to fetch the next page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of security report to return in the list response.",
                  "format": "int32",
                  "location": "query"
                },
                "dataset": {
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "path": "v1/{+parent}/hostSecurityReports",
              "description": "Return a list of Security Reports at host level.",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
              },
              "id": "apigee.organizations.hostSecurityReports.list"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "id": "apigee.organizations.operations.list",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations",
              "flatPath": "v1/organizations/{organizationsId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.operations.get",
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            }
          }
        },
        "envgroups": {
          "methods": {
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "id": "apigee.organizations.envgroups.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
                }
              },
              "description": "Gets an environment group.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.envgroups.delete",
              "description": "Deletes an environment group.",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                  "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}"
            },
            "getDeployedIngressConfig": {
              "id": "apigee.organizations.envgroups.getDeployedIngressConfig",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/deployedIngressConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "view": {
                  "location": "query",
                  "type": "string",
                  "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
                  "enum": [
                    "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                    "BASIC",
                    "FULL"
                  ],
                  "enumDescriptions": [
                    "The default/unset value. The API will default to the BASIC view.",
                    "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                    "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
                  ]
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+/deployedIngressConfig$",
                  "description": "Required. Name of the deployed configuration for the environment group in the following format: 'organizations/{org}/envgroups/{envgroup}/deployedIngressConfig'."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "description": "Gets the deployed ingress configuration for an environment group."
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "description": "Updates an environment group.",
              "id": "apigee.organizations.envgroups.patch",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment group to update in the format: `organizations/{org}/envgroups/{envgroup}.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/envgroups/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. List of fields to be updated."
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. ID of the environment group. Overrides any ID in the environment_group resource."
                },
                "parent": {
                  "description": "Required. Name of the organization in which to create the environment group in the following format: `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/envgroups",
              "request": {
                "$ref": "GoogleCloudApigeeV1EnvironmentGroup"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.envgroups.create",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new environment group."
            },
            "list": {
              "flatPath": "v1/organizations/{organizationsId}/envgroups",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.envgroups.list",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the organization for which to list environment groups in the following format: `organizations/{org}`."
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Maximum number of environment groups to return. The page size defaults to 25."
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Page token, returned from a previous ListEnvironmentGroups call, that you can use to retrieve the next page."
                }
              },
              "description": "Lists all environment groups.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/envgroups"
            }
          },
          "resources": {
            "attachments": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/attachments",
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. EnvironmentGroup under which to create the attachment in the following format: `organizations/{org}/envgroups/{envgroup}`.",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new attachment of an environment to an environment group.",
                  "id": "apigee.organizations.envgroups.attachments.create"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes an environment group attachment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.envgroups.attachments.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the environment group attachment to delete in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$"
                    }
                  }
                },
                "get": {
                  "description": "Gets an environment group attachment.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.envgroups.attachments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+/attachments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the environment group attachment in the following format: `organizations/{org}/envgroups/{envgroup}/attachments/{attachment}`",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous ListEnvironmentGroupAttachments call, that you can use to retrieve the next page.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum number of environment group attachments to return. The page size defaults to 25."
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/envgroups/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`."
                    }
                  },
                  "id": "apigee.organizations.envgroups.attachments.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/envgroups/{envgroupsId}/attachments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse"
                  },
                  "path": "v1/{+parent}/attachments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all attachments of an environment group."
                }
              }
            }
          }
        },
        "apimServiceExtensions": {
          "methods": {
            "create": {
              "id": "apigee.organizations.apimServiceExtensions.create",
              "flatPath": "v1/organizations/{organizationsId}/apimServiceExtensions",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an APIM ServiceExtension in an organization.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/apimServiceExtensions",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApimServiceExtension"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization in which the service extension will be created. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "apimServiceExtensionId": {
                  "description": "Optional. ID used to uniquely identify of the service extension. It must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number.",
                  "type": "string",
                  "location": "query"
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the service extension. Use the following structure in your request: `organizations/{org}/apimServiceExtensions/{extension_id}`",
                  "pattern": "^organizations/[^/]+/apimServiceExtensions/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/apimServiceExtensions/{apimServiceExtensionsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApimServiceExtension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.apimServiceExtensions.get",
              "description": "Gets APIM service extension details.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "apigee.organizations.apimServiceExtensions.list",
              "flatPath": "v1/organizations/{organizationsId}/apimServiceExtensions",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApimServiceExtensionsResponse"
              },
              "description": "Lists all APIM service extensions in an organization.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/apimServiceExtensions",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization for which to list the service extension. Use the following structure in your request: `organizations/{org}/apimServiceExtensions`"
                },
                "pageSize": {
                  "description": "Optional. Maximum number of items to return. If unspecified, at most 25 service extension will be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token, returned from a previous `ListApimServiceExtensions` call, that you can use to retrieve the next page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/apimServiceExtensions/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the service extension. Use the following structure in your request: `organizations/{org}/apimServiceExtensions/{extension_id}`",
                  "location": "path"
                }
              },
              "description": "Deletes APIM service extension from an organization.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.apimServiceExtensions.delete",
              "flatPath": "v1/organizations/{organizationsId}/apimServiceExtensions/{apimServiceExtensionsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "patch": {
              "description": "Updates an APIM service extension in an organization.",
              "flatPath": "v1/organizations/{organizationsId}/apimServiceExtensions/{apimServiceExtensionsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.apimServiceExtensions.patch",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apimServiceExtensions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. unique name of the APIM service extension. The name must conform with RFC-1034, is restricted to lower-cased letters, numbers and hyphens, and can have a maximum length of 63 characters. Additionally, the first character must be a letter and the last a letter or a number."
                },
                "allowMissing": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. If set to true, and the service extension is not found, a new service extension will be created. In this situation, `update_mask` is ignored."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Optional. The list of fields to update.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApimServiceExtension"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            }
          }
        },
        "apps": {
          "methods": {
            "get": {
              "description": "Gets the app profile for the specified app ID.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apps/[^/]+$",
                  "description": "Required. App ID in the following format: `organizations/{org}/apps/{app}`",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/apps/{appsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1App"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apps.get"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apps",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppsResponse"
              },
              "description": "Lists IDs of apps within an organization that have the specified app status (approved or revoked) or are of the specified app type (developer or company).",
              "path": "v1/{+parent}/apps",
              "parameters": {
                "rows": {
                  "format": "int64",
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Maximum number of app IDs to return. Defaults to 1000, which is also the upper limit. To get more than 1000, use pagination with 'pageSize' and 'pageToken' parameters."
                },
                "includeCred": {
                  "description": "Optional. Flag that specifies whether to include credentials in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Resource path of the parent in the following format: `organizations/{org}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "apiProduct": {
                  "type": "string",
                  "description": "API product.",
                  "location": "query"
                },
                "expand": {
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to return an expanded list of apps for the organization. Defaults to `false`.",
                  "type": "boolean"
                },
                "startKey": {
                  "description": "Returns the list of apps starting from the specified app ID.",
                  "type": "string",
                  "location": "query"
                },
                "status": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter by the status of the app. Valid values are `approved` or `revoked`. Defaults to `approved`."
                },
                "filter": {
                  "description": "Optional. The filter expression to be used to get the list of apps, where filtering can be done on developerEmail, apiProduct, consumerKey, status, appId, appName, appType and appGroup. Examples: \"developerEmail=foo@bar.com\", \"appType=AppGroup\", or \"appType=Developer\" \"filter\" is supported from ver 1.10.0 and above.",
                  "type": "string",
                  "location": "query"
                },
                "ids": {
                  "type": "string",
                  "description": "Optional. Comma-separated list of app IDs on which to filter.",
                  "location": "query"
                },
                "keyStatus": {
                  "description": "Optional. Key status of the app. Valid values include `approved` or `revoked`. Defaults to `approved`.",
                  "type": "string",
                  "location": "query"
                },
                "apptype": {
                  "description": "Optional. 'apptype' is no longer available. Use a 'filter' instead.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The starting index record for listing the developers. \"page_token\" is supported from ver 1.10.0 and above.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. Count of apps a single page can have in the response. If unspecified, at most 1000 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000. \"page_size\" is supported from ver 1.10.0 and above."
                }
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.apps.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "developers": {
          "methods": {
            "updateMonetizationConfig": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$",
                  "location": "path"
                }
              },
              "description": "Updates the monetization configuration for the developer.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.updateMonetizationConfig",
              "request": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              }
            },
            "get": {
              "id": "apigee.organizations.developers.get",
              "description": "Returns the developer details, including the developer's name, email address, apps, and other information. **Note**: The response includes only the first 100 developer apps.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "action": {
                  "location": "query",
                  "description": "Status of the developer. Valid values are `active` or `inactive`.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              }
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "id": "apigee.organizations.developers.create",
              "path": "v1/{+parent}/developers",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`"
                }
              },
              "description": "Updates a developer. This API replaces the existing developer details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
              "httpMethod": "PUT",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.update"
            },
            "attributes": {
              "description": "Updates developer attributes. This API replaces the existing attributes with those specified in the request. Add new attributes, and include or exclude any existing attributes that you want to retain or remove, respectively. The custom attribute limit is 18. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "path": "v1/{+parent}/attributes",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Email address of the developer for which attributes are being updated. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "apigee.organizations.developers.attributes",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes",
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              }
            },
            "setDeveloperStatus": {
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Sets the status of a developer. A developer is `active` by default. If you set a developer's status to `inactive`, the API keys assigned to the developer apps are no longer valid even though the API keys are set to `approved`. Inactive developers can still sign in to the developer portal and create apps; however, any new API keys generated during app creation won't work. To set the status of a developer, set the `action` query parameter to `active` or `inactive`, and the `Content-Type` header to `application/octet-stream`. If successful, the API call returns the following HTTP status code: `204 No Content`",
              "path": "v1/{+name}",
              "id": "apigee.organizations.developers.setDeveloperStatus",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_id}`",
                  "type": "string"
                },
                "action": {
                  "description": "Status of the developer. Valid values are `active` and `inactive`.",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "includeCompany": {
                  "location": "query",
                  "description": "Flag that specifies whether to include company details in the response.",
                  "type": "boolean"
                },
                "startKey": {
                  "description": "**Note**: Must be used in conjunction with the `count` parameter. Email address of the developer from which to start displaying the list of developers. For example, if the an unfiltered list returns: ``` westley@example.com fezzik@example.com buttercup@example.com ``` and your `startKey` is `fezzik@example.com`, the list returned will be ``` fezzik@example.com buttercup@example.com ```",
                  "location": "query",
                  "type": "string"
                },
                "count": {
                  "format": "int64",
                  "description": "Optional. Number of developers to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The limit is 1000.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "expand": {
                  "description": "Specifies whether to expand the results. Set to `true` to expand the results. This query parameter is not valid if you use the `count` or `startKey` query parameters.",
                  "type": "boolean",
                  "location": "query"
                },
                "ids": {
                  "description": "Optional. List of IDs to include, separated by commas.",
                  "type": "string",
                  "location": "query"
                },
                "app": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. List only Developers that are associated with the app. Note that start_key, count are not applicable for this filter criteria."
                }
              },
              "id": "apigee.organizations.developers.list",
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListOfDevelopersResponse"
              },
              "path": "v1/{+parent}/developers",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all developers in an organization by email address. By default, the response does not include company developers. Set the `includeCompany` query parameter to `true` to include company developers. **Note**: A maximum of 1000 developers are returned in the response. You paginate the list of developers returned using the `startKey` and `count` query parameters."
            },
            "getMonetizationConfig": {
              "description": "Gets the monetization configuration for the developer.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.developers.getMonetizationConfig",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+/monetizationConfig$",
                  "location": "path",
                  "description": "Required. Monetization configuration for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/monetizationConfig`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/monetizationConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperMonetizationConfig"
              }
            },
            "delete": {
              "description": "Deletes a developer. All apps and API keys associated with the developer are also removed. **Warning**: This API will permanently delete the developer and related artifacts. To avoid permanently deleting developers and their artifacts, set the developer status to `inactive` using the SetDeveloperStatus API. **Note**: The delete operation is asynchronous. The developer is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "path": "v1/{+name}",
              "id": "apigee.organizations.developers.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getBalance": {
              "httpMethod": "GET",
              "description": "Gets the account balance for the developer.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                  "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance",
              "response": {
                "$ref": "GoogleCloudApigeeV1DeveloperBalance"
              },
              "id": "apigee.organizations.developers.getBalance",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "balance": {
              "methods": {
                "credit": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:credit",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "path": "v1/{+name}:credit",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CreditDeveloperBalanceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Credits the account balance for the developer.",
                  "id": "apigee.organizations.developers.balance.credit",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "adjust": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Account balance for the developer. Use the following structure in your request: `organizations/{org}/developers/{developer}/balance`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/balance$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Adjust the prepaid balance for the developer. This API will be used in scenarios where the developer has been under-charged or over-charged.",
                  "path": "v1/{+name}:adjust",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/balance:adjust",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperBalance"
                  },
                  "id": "apigee.organizations.developers.balance.adjust"
                }
              }
            },
            "subscriptions": {
              "methods": {
                "get": {
                  "description": "Gets details for an API product subscription.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.developers.subscriptions.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  }
                },
                "list": {
                  "id": "apigee.organizations.developers.subscriptions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/subscriptions",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse"
                  },
                  "description": "Lists all API product subscriptions for a developer.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "location": "path",
                      "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "type": "string"
                    },
                    "count": {
                      "description": "Number of API product subscriptions to return in the API call. Use with `startKey` to provide more targeted filtering. Defaults to 100. The maximum limit is 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "startKey": {
                      "description": "Name of the API product subscription from which to start displaying the list of subscriptions. If omitted, the list starts from the first item. For example, to view the API product subscriptions from 51-150, set the value of `startKey` to the name of the 51st subscription and set the value of `count` to 100.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Email address of the developer that is purchasing a subscription to the API product. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "apigee.organizations.developers.subscriptions.create",
                  "description": "Creates a subscription to an API product. ",
                  "path": "v1/{+parent}/subscriptions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "expire": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.developers.subscriptions.expire",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/subscriptions/{subscriptionsId}:expire",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
                  },
                  "description": "Expires an API product subscription immediately.",
                  "path": "v1/{+name}:expire",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/subscriptions/{subscription}`",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/subscriptions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest"
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "updateDeveloperAttribute": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a developer attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (default). Any custom attributes associated with these entities are cached for at least 180 seconds after the entity is accessed at runtime. Therefore, an `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "id": "apigee.organizations.developers.attributes.updateDeveloperAttribute",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the developer attribute. Use the following structure in your request: `organizations/{org}/developers/{developer_email}/attributes/{attribute}`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/developers/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "description": "Deletes a developer attribute.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
