{
  "canonicalName": "Apigee",
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "name": "apigee",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "organizations": {
      "methods": {
        "updateSecuritySettings": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "type": "string",
              "required": true,
              "pattern": "^organizations/[^/]+/securitySettings$"
            },
            "updateMask": {
              "type": "string",
              "location": "query",
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "format": "google-fieldmask"
            }
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "id": "apigee.organizations.updateSecuritySettings",
          "description": "UpdateSecuritySettings updates the current security settings for API Security.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "flatPath": "v1/organizations/{organizationsId}/securitySettings"
        },
        "getSyncAuthorization": {
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameters": {
            "name": {
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "apigee.organizations.getSyncAuthorization"
        },
        "list": {
          "parameterOrder": [
            "parent"
          ],
          "flatPath": "v1/organizations",
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. Use the following structure in your request: `organizations`",
              "location": "path",
              "pattern": "^organizations$",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v1/{+parent}",
          "id": "apigee.organizations.list",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getControlPlaneAccess": {
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "id": "apigee.organizations.getControlPlaneAccess",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          }
        },
        "getMcpServerConfig": {
          "flatPath": "v1/organizations/{organizationsId}/mcpServerConfig",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getMcpServerConfig",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^organizations/[^/]+/mcpServerConfig$",
              "description": "Required. Name of the deployed MCP server configuration for the organization in the singleton form: `organizations/{org}/mcpServerConfig`."
            }
          },
          "description": "Gets the deployed MCP server configuration for an organization. McpServerConfig is an org-scoped singleton (one per organization). The returned configuration may be up to 30 seconds out of date by default.",
          "response": {
            "$ref": "GoogleCloudApigeeV1McpServerConfig"
          }
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/organizations",
          "id": "apigee.organizations.create",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "location": "query"
            }
          },
          "httpMethod": "POST",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org).",
          "flatPath": "v1/organizations"
        },
        "get": {
          "id": "apigee.organizations.get",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "getSecuritySettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "description": "GetSecuritySettings gets the security settings for API Security.",
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.getSecuritySettings",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securitySettings$",
              "required": true,
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "path": "v1/{+name}"
        },
        "getRuntimeConfig": {
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "id": "apigee.organizations.getRuntimeConfig",
          "description": "Get runtime config for an organization.",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "location": "path",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig"
        },
        "updateControlPlaneAccess": {
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "location": "query",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, analytics_publisher_identities, watcher_identities.",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "type": "string",
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\""
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.updateControlPlaneAccess",
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only."
        },
        "update": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "httpMethod": "PUT",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "location": "path",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.update",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          }
        },
        "getProjectMapping": {
          "description": "Gets the project ID and region for an Apigee organization.",
          "id": "apigee.organizations.getProjectMapping",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "path": "v1/{+name}:getProjectMapping",
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          }
        },
        "setAddons": {
          "path": "v1/{+org}:setAddons",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "parameterOrder": [
            "org"
          ],
          "id": "apigee.organizations.setAddons",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "httpMethod": "POST",
          "parameters": {
            "org": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path"
            }
          }
        },
        "setSyncAuthorization": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}:setSyncAuthorization",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "location": "path",
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "id": "apigee.organizations.setSyncAuthorization",
          "httpMethod": "POST"
        },
        "getDeployedIngressConfig": {
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameters": {
            "view": {
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "location": "query",
              "type": "string",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ]
            },
            "name": {
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "type": "string",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.getDeployedIngressConfig",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig"
        },
        "delete": {
          "path": "v1/{+name}",
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed by default. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "id": "apigee.organizations.delete",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "retention": {
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ],
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "location": "query",
              "type": "string",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ]
            }
          },
          "flatPath": "v1/organizations/{organizationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "securityFeedback": {
          "methods": {
            "delete": {
              "id": "apigee.organizations.securityFeedback.delete",
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a specific feedback report. Used for \"undo\" of a feedback submission.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the SecurityFeedback to delete. Use the following structure in your request: `organizations/{org}/securityFeedback/{feedback_id}`",
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists all feedback reports which have already been submitted.",
              "path": "v1/{+parent}/securityFeedback",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization. Format: `organizations/{org}`. Example: organizations/apigee-organization-name/securityFeedback",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of feedback reports to return. The service may return fewer than this value. LINT.IfChange(documented_page_size_limits) If unspecified, at most 10 feedback reports will be returned. The maximum value is 100; values above 100 will be coerced to 100. LINT.ThenChange( //depot/google3/edge/sense/boq/service/v1/securityfeedback/securityfeedback_rpc.go:page_size_limits )",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSecurityFeedback` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSecurityFeedback` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.securityFeedback.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityFeedbackResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ]
            },
            "patch": {
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "id": "apigee.organizations.securityFeedback.patch",
              "description": "Updates a specific feedback report.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a specific customer feedback report.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the SecurityFeedback. Format: `organizations/{org}/securityFeedback/{feedback_id}` Example: organizations/apigee-organization-name/securityFeedback/feedback-id",
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityFeedback.get"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "id": "apigee.organizations.securityFeedback.create",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "description": "Creates a new report containing customer feedback.",
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback",
              "httpMethod": "POST",
              "path": "v1/{+parent}/securityFeedback",
              "parameters": {
                "securityFeedbackId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The id for this feedback report. If not provided, it will be set to a system-generated UUID."
                },
                "parent": {
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              }
            }
          }
        },
        "environments": {
          "methods": {
            "subscribe": {
              "path": "v1/{+parent}:subscribe",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.subscribe",
              "response": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "description": "Creates a subscription for the environment's Pub/Sub topic. The server will assign a random name for this subscription. The \"name\" and \"push_config\" must *not* be specified.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:subscribe",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.environments.get",
              "description": "Gets environment details.",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.environments.delete",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "description": "Deletes an environment from an organization. **Warning: You must delete all key value maps and key value entries before you delete an environment.** Otherwise, if you re-create the environment the key value map entry operations will encounter encryption/decryption discrepancies.",
              "httpMethod": "DELETE"
            },
            "unsubscribe": {
              "path": "v1/{+parent}:unsubscribe",
              "description": "Deletes a subscription for the environment's Pub/Sub topic.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.unsubscribe",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:unsubscribe",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              }
            },
            "getDebugmask": {
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.environments.getDebugmask",
              "description": "Gets the debug mask singleton resource for an environment.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the debug mask. Use the following structure in your request: `organizations/{org}/environments/{env}/debugmask`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              }
            },
            "getAddonsConfig": {
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/addonsConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AddonsConfig"
              },
              "id": "apigee.organizations.environments.getAddonsConfig",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the add-ons config. Must be in the format of `/organizations/{org}/environments/{env}/addonsConfig`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/addonsConfig$"
                }
              },
              "description": "Gets the add-ons config of an environment.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "path": "v1/{+name}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              }
            },
            "getIamPolicy": {
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "description": "Gets the IAM policy on an environment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.getIamPolicy` permission to call this API.",
              "id": "apigee.organizations.environments.getIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:getIamPolicy",
              "path": "v1/{+resource}:getIamPolicy",
              "parameters": {
                "options.requestedPolicyVersion": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                },
                "resource": {
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "httpMethod": "GET"
            },
            "updateEnvironment": {
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "id": "apigee.organizations.environments.updateEnvironment",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              }
            },
            "modifyEnvironment": {
              "id": "apigee.organizations.environments.modifyEnvironment",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. Fields that can be updated: node_config."
                },
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{environment}`.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Updates properties for an Apigee environment with patch semantics using a field mask. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}"
            },
            "setIamPolicy": {
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "description": "Sets the IAM policy on an environment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.setIamPolicy` permission to call this API.",
              "parameterOrder": [
                "resource"
              ],
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "id": "apigee.organizations.environments.setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:setIamPolicy",
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy"
            },
            "getTraceConfig": {
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "id": "apigee.organizations.environments.getTraceConfig",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\"."
                }
              },
              "httpMethod": "GET",
              "description": "Get distributed trace configuration in an environment."
            },
            "updateTraceConfig": {
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "id": "apigee.organizations.environments.updateTraceConfig",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "List of fields to be updated.",
                  "location": "query"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "description": "Updates the trace configurations in an environment. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "parameterOrder": [
                "name"
              ]
            },
            "getApiSecurityRuntimeConfig": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/apiSecurityRuntimeConfig$",
                  "description": "Required. Name of the environment API Security Runtime configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "apigee.organizations.environments.getApiSecurityRuntimeConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the API Security runtime configuration for an environment. This named ApiSecurityRuntimeConfig to prevent conflicts with ApiSecurityConfig from addon config.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/apiSecurityRuntimeConfig"
            },
            "create": {
              "description": "Creates an environment in an organization.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization in which the environment will be created. Use the following structure in your request: `organizations/{org}`",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+$"
                },
                "name": {
                  "description": "Optional. Name of the environment.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/environments",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.environments.create",
              "path": "v1/{+parent}/environments"
            },
            "testIamPermissions": {
              "parameterOrder": [
                "resource"
              ],
              "id": "apigee.organizations.environments.testIamPermissions",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:testIamPermissions",
              "description": "Tests the permissions of a user on an environment, and returns a subset of permissions that the user has on the environment. If the environment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned).",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "getDeployedConfig": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment deployed configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/deployedConfig`",
                  "type": "string",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/deployedConfig$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentConfig"
              },
              "id": "apigee.organizations.environments.getDeployedConfig",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployedConfig",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets the deployed configuration for an environment."
            },
            "updateDebugmask": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "parameters": {
                "updateMask": {
                  "description": "Field debug mask to support partial updates.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "replaceRepeatedFields": {
                  "description": "Boolean flag that specifies whether to replace existing values in the debug mask when doing an update. Set to true to replace existing values. The default behavior is to append the values (false).",
                  "location": "query",
                  "type": "boolean"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Name of the debug mask.",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$"
                }
              },
              "description": "Updates the debug mask singleton resource for an environment.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "id": "apigee.organizations.environments.updateDebugmask",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask"
            },
            "getSecurityActionsConfig": {
              "id": "apigee.organizations.environments.getSecurityActionsConfig",
              "description": "GetSecurityActionConfig returns the current SecurityActions configuration.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActionsConfig",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/securityActionsConfig$",
                  "type": "string",
                  "description": "Required. The name of the SecurityActionsConfig to retrieve. This will always be: `organizations/{org}/environments/{env}/security_actions_config`",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "updateSecurityActionsConfig": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "This is a singleton resource, the name will always be set by SecurityActions and any user input will be ignored. The name is always: `organizations/{org}/environments/{env}/security_actions_config`",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/securityActionsConfig$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "The list of fields to update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActionsConfig",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "UpdateSecurityActionConfig updates the current SecurityActions configuration. This method is used to enable/disable the feature at the environment level.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "id": "apigee.organizations.environments.updateSecurityActionsConfig",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "keyvaluemaps": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to create the key value map. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps",
                  "description": "Creates a key value map in an environment.",
                  "path": "v1/{+parent}/keyvaluemaps",
                  "id": "apigee.organizations.environments.keyvaluemaps.create"
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}",
                  "httpMethod": "GET",
                  "description": "Get the key value map scoped to an organization, environment, or API proxy.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "id": "apigee.organizations.environments.keyvaluemaps.get"
                },
                "update": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.keyvaluemaps.update",
                  "parameters": {
                    "name": {
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path"
                    }
                  },
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Update the key value map scoped to an organization, environment, or API proxy.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "path": "v1/{+name}"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}",
                  "id": "apigee.organizations.environments.keyvaluemaps.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/environments/{env}/keyvaluemaps/{keyvaluemap}`",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Deletes a key value map from an environment."
                }
              },
              "resources": {
                "entries": {
                  "methods": {
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "id": "apigee.organizations.environments.keyvaluemaps.entries.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/entries",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      }
                    },
                    "get": {
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "location": "path",
                          "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "apigee.organizations.environments.keyvaluemaps.entries.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      }
                    },
                    "update": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keyvaluemaps.entries.update",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Update key value entry scoped to an organization, environment, or API proxy for an existing key.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+$",
                          "location": "path",
                          "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/entries",
                      "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "id": "apigee.organizations.environments.keyvaluemaps.entries.list",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}/entries"
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.environments.keyvaluemaps.entries.delete",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}"
                    }
                  }
                }
              }
            },
            "targetservers": {
              "methods": {
                "delete": {
                  "id": "apigee.organizations.environments.targetservers.delete",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the TargetServer to delete. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a TargetServer from an environment. Returns the deleted TargetServer resource.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  }
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the TargetServer to replace. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "httpMethod": "PUT",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "description": "Updates an existing TargetServer. Note that this operation has PUT semantics; it will replace the entirety of the existing TargetServer with the resource in the request body.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.targetservers.update",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "description": "Gets a TargetServer resource.",
                  "id": "apigee.organizations.environments.targetservers.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the TargetServer to get. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  }
                },
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.targetservers.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/targetservers",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Optional. The ID to give the TargetServer. This will overwrite the value in TargetServer.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent environment name under which the TargetServer will be created. Must be of the form `organizations/{org}/environments/{env}`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "description": "Creates a TargetServer in the specified environment."
                }
              }
            },
            "caches": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/caches/[^/]+$",
                      "description": "Required. Cache resource name of the form: `organizations/{organization_id}/environments/{environment_id}/caches/{cache_id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a cache.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/caches/{cachesId}",
                  "id": "apigee.organizations.environments.caches.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "optimizedStats": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Similar to GetStats except that the response is less verbose.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "offset": {
                      "location": "query",
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                      "type": "string"
                    },
                    "aggTable": {
                      "type": "string",
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "location": "query"
                    },
                    "sortby": {
                      "description": "Comma-separated list of metrics to sort the final result.",
                      "type": "string",
                      "location": "query"
                    },
                    "accuracy": {
                      "type": "string",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "location": "query"
                    },
                    "topk": {
                      "location": "query",
                      "type": "string",
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`."
                    },
                    "filter": {
                      "description": "Filter that enables you to drill-down on specific dimension values.",
                      "type": "string",
                      "location": "query"
                    },
                    "timeUnit": {
                      "location": "query",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                      "type": "string"
                    },
                    "realtime": {
                      "type": "boolean",
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility."
                    },
                    "tzo": {
                      "description": "Timezone offset value.",
                      "location": "query",
                      "type": "string"
                    },
                    "timeRange": {
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                      "location": "query",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "Maximum number of result items to return.",
                      "type": "string"
                    },
                    "sonar": {
                      "description": "Routes the query to API Monitoring for the last hour.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`"
                    },
                    "tsAscending": {
                      "type": "boolean",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`.",
                      "location": "query"
                    },
                    "select": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`"
                    },
                    "sort": {
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "id": "apigee.organizations.environments.optimizedStats.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "traceConfig": {
              "resources": {
                "overrides": {
                  "methods": {
                    "patch": {
                      "id": "apigee.organizations.environments.traceConfig.overrides.patch",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "description": "Updates a distributed trace configuration override. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "List of fields to be updated.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a trace configuration override. The response contains a system-generated UUID, that can be used to view, update, or delete the configuration override. Use the List API to view the existing trace configuration overrides.",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request. \"organizations/*/environments/*/traceConfig\".",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+parent}/overrides",
                      "id": "apigee.organizations.environments.traceConfig.overrides.create"
                    },
                    "list": {
                      "id": "apigee.organizations.environments.traceConfig.overrides.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Maximum number of trace configuration overrides to return. If not specified, the maximum number returned is 25. The maximum number cannot exceed 100.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, returned from a previous `ListTraceConfigOverrides` call. Token value that can be used to retrieve the subsequent page. When paginating, all other parameters provided to `ListTraceConfigOverrides` must match those specified in the call to obtain the page token.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\"."
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/overrides",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "description": "Lists all of the distributed trace configuration overrides in an environment."
                    },
                    "delete": {
                      "description": "Deletes a distributed trace configuration override.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.environments.traceConfig.overrides.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+name}",
                      "description": "Gets a trace configuration override.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\"."
                        }
                      },
                      "httpMethod": "GET",
                      "id": "apigee.organizations.environments.traceConfig.overrides.get",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "securityActions": {
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Delete a SecurityAction.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityActions.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the security action to delete. Format: `organizations/{org}/environment/{env}/securityActions/{security_action}`",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/securityActions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Immutable. This field is ignored during creation as per AIP-133. Please set the `security_action_id` field in the CreateSecurityActionRequest when creating a new SecurityAction. Format: organizations/{org}/environments/{env}/securityActions/{security_action}"
                    },
                    "updateMask": {
                      "description": "Optional. The list of fields to update. Valid fields to update are `description`, `state`, `allow`, `deny`, and `flag`, `expire_time`, and `ttl`, `api_proxies`, and `condition_config`.",
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityAction"
                  },
                  "httpMethod": "PATCH",
                  "description": "Update a SecurityAction.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.securityActions.patch",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions/{securityActionsId}"
                },
                "list": {
                  "description": "Returns a list of SecurityActions. This returns both enabled and disabled actions.",
                  "id": "apigee.organizations.environments.securityActions.list",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActions",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/securityActions",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListSecurityActionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
[...]
