{
  "ownerName": "Google",
  "name": "apigee",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "title": "Apigee API",
  "canonicalName": "Apigee",
  "basePath": "",
  "schemas": {
    "GoogleCloudApigeeV1CreditAppGroupBalanceRequest": {
      "description": "Request for CreditAppGroupBalance.",
      "type": "object",
      "id": "GoogleCloudApigeeV1CreditAppGroupBalanceRequest",
      "properties": {
        "transactionId": {
          "description": "Required. Each transaction_id uniquely identifies a credit balance request. If multiple requests are received with the same transaction_id, only one of them will be considered.",
          "type": "string"
        },
        "transactionAmount": {
          "description": "Required. The amount of money to be credited. The wallet corresponding to the currency specified within `transaction_amount` will be updated. For example, if you specified `currency_code` within `transaction_amount` as \"USD\", then the amount would be added to the wallet which has the \"USD\" currency or if no such wallet exists, a new wallet will be created with the \"USD\" currency.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "type": "object",
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "properties": {
        "createdAt": {
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. ID of the attachment.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "ID of the attached environment."
        }
      },
      "description": "InstanceAttachment represents the installation of an environment onto an instance."
    },
    "GoogleRpcStatus": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object"
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "id": "GoogleCloudApigeeV1ExportRequest",
      "type": "object",
      "description": "Request body for [CreateExportRequest]",
      "properties": {
        "outputFormat": {
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property.",
          "type": "string"
        },
        "csvDelimiter": {
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "dateRange": {
          "description": "Required. Date range of the data to export.",
          "$ref": "GoogleCloudApigeeV1DateRange"
        },
        "datastoreName": {
          "type": "string",
          "description": "Required. Name of the preconfigured datastore."
        },
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the export job."
        }
      }
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "description": "Request for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "properties": {
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page.",
          "type": "integer"
        },
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned, and both the start and end dates must be within the last 90 days."
        },
        "pageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "filters": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          },
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\"",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1EndpointAttachment": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Required. Location of the endpoint attachment."
        },
        "host": {
          "readOnly": true,
          "description": "Output only. Host that can be used in either the HTTP target endpoint directly or as the host in target server.",
          "type": "string"
        },
        "connectionState": {
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "UNAVAILABLE",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_LIMITED_CAPACITY"
          ],
          "readOnly": true,
          "description": "Output only. State of the endpoint attachment connection to the service attachment.",
          "type": "string",
          "enumDescriptions": [
            "The connection state has not been set.",
            "The connection state is unavailable at this time, possibly because the endpoint attachment is currently being provisioned.",
            "The connection is pending acceptance by the PSC producer.",
            "The connection has been accepted by the PSC producer.",
            "The connection has been rejected by the PSC producer.",
            "The connection has been closed by the PSC producer and will not serve traffic going forward.",
            "The connection has been frozen by the PSC producer and will not serve traffic.",
            "The connection has been accepted by the PSC producer, but it is not ready to serve the traffic due to producer side issues.",
            "The connection has been accepted by the PSC producer, but it will only serve capacity limited traffic. The producer needs to take further actions to increase capacity for this connection."
          ]
        },
        "serviceAttachment": {
          "description": "Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "name": {
          "description": "Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "type": "string",
          "description": "Output only. State of the endpoint attachment. Values other than `ACTIVE` mean the resource is not ready to use.",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1EndpointAttachment",
      "description": "Apigee endpoint attachment. For more information, see [Southbound networking patterns] (https://cloud.google.com/apigee/docs/api-platform/architecture/southbound-networking-patterns-endpoints).",
      "type": "object"
    },
    "GoogleCloudApigeeV1GrpcOperationConfig": {
      "id": "GoogleCloudApigeeV1GrpcOperationConfig",
      "description": "Binds the resources in a proxy or remote service with the gRPC operation and its associated quota enforcement.",
      "type": "object",
      "properties": {
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the methods and API source combination. If none are specified, quota enforcement will not be done."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "Custom attributes associated with the operation."
        },
        "service": {
          "description": "Required. gRPC Service name associated to be associated with the API proxy, on which quota rules can be applied upon.",
          "type": "string"
        },
        "methods": {
          "type": "array",
          "description": "List of unqualified gRPC method names for the proxy to which quota will be applied. If this field is empty, the Quota will apply to all operations on the gRPC service defined on the proxy. Example: Given a proxy that is configured to serve com.petstore.PetService, the methods com.petstore.PetService.ListPets and com.petstore.PetService.GetPet would be specified here as simply [\"ListPets\", \"GetPet\"].",
          "items": {
            "type": "string"
          }
        },
        "apiSource": {
          "description": "Required. Name of the API proxy with which the gRPC operation and quota are associated.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1TargetServer": {
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "type": "object",
      "id": "GoogleCloudApigeeV1TargetServer",
      "properties": {
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. A human-readable description of this TargetServer.",
          "type": "string"
        },
        "protocol": {
          "description": "Immutable. The protocol used by this TargetServer.",
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetSever uses HTTP2.",
            "The TargetServer uses GRPC.",
            "GRPC TargetServer to be used in ExternalCallout Policy. Prefer to use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once EXTERNAL _CALLOUT generally available.",
            "The TargetServer is to be used in the ExternalCallout Policy"
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "HTTP2",
            "GRPC_TARGET",
            "GRPC",
            "EXTERNAL_CALLOUT"
          ]
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        },
        "sSLInfo": {
          "$ref": "GoogleCloudApigeeV1TlsInfo",
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration."
        },
        "port": {
          "format": "int32",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer"
        },
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1Credential": {
      "properties": {
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "issuedAt": {
          "description": "Time the credential was issued in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "apiProducts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "List of API products this credential can be used for.",
          "type": "array"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app."
        },
        "consumerKey": {
          "type": "string",
          "description": "Consumer key."
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array",
          "description": "List of attributes associated with this credential."
        },
        "expiresAt": {
          "description": "Time the credential will expire in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1Credential"
    },
    "GoogleCloudApigeeV1Certificate": {
      "id": "GoogleCloudApigeeV1Certificate",
      "type": "object",
      "properties": {
        "certInfo": {
          "type": "array",
          "description": "Chain of certificates under this name.",
          "items": {
            "$ref": "GoogleCloudApigeeV1CertInfo"
          }
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentGroupAttachment": {
      "type": "object",
      "description": "EnvironmentGroupAttachment is a resource which defines an attachment of an environment to an environment group.",
      "properties": {
        "environmentGroupId": {
          "description": "Output only. ID of the environment group.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "description": "Required. ID of the attached environment.",
          "type": "string"
        },
        "name": {
          "description": "ID of the environment group attachment.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The time at which the environment group attachment was created as milliseconds since epoch."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
    },
    "GoogleCloudApigeeV1RatePlan": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RatePlan",
      "description": "Rate plan details.",
      "properties": {
        "displayName": {
          "description": "Display name of the rate plan.",
          "type": "string"
        },
        "revenueShareType": {
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "description": "Method used to calculate the revenue that is shared with developers.",
          "type": "string",
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ]
        },
        "state": {
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ],
          "description": "Current state of the rate plan (draft or published).",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "format": "int64"
        },
        "consumptionPricingType": {
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ],
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "description": "Pricing model used for consumption-based charges.",
          "type": "string"
        },
        "apiproduct": {
          "description": "Name of the API product that the rate plan is associated with.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire.",
          "format": "int64"
        },
        "currencyCode": {
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard.",
          "type": "string"
        },
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "consumptionPricingRates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          },
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `BANDED` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 2 }, { \"start\": 101, \"end\": 200, \"fee\": 1.50 }, { \"start\": 201, \"end\": 0, \"fee\": 1 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 50 calls cost 50 x $2 = $100 * 150 calls cost 100 x $2 + 50 x $1.5 = $275 * 250 calls cost 100 x $2 + 100 x $1.5 + 50 x $1 = $400 * 500 calls cost 100 x $2 + 100 x $1.5 + 300 x $1 = $650"
        },
        "fixedFeeFrequency": {
          "format": "int32",
          "description": "Frequency at which the fixed fee is charged.",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the rate plan."
        },
        "paymentFundingModel": {
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "type": "string",
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "deprecated": true
        },
        "lastModifiedAt": {
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "billingPeriod": {
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ],
          "type": "string",
          "description": "Frequency at which the customer will be billed."
        },
        "revenueShareRates": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          },
          "description": "Details of the revenue sharing model.",
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the rate plan."
        },
        "startTime": {
          "type": "string",
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "format": "int64"
        },
        "fixedRecurringFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period."
        }
      }
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          },
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array"
        }
      },
      "description": "Request for BatchUpdateSecurityIncident."
    },
    "GoogleCloudApigeeV1ResourceStatus": {
      "type": "object",
      "description": "The status of a resource loaded in the runtime.",
      "properties": {
        "totalReplicas": {
          "description": "The total number of replicas that should have this resource.",
          "type": "integer",
          "format": "int32"
        },
        "resource": {
          "type": "string",
          "description": "The resource name. Currently only two resources are supported: EnvironmentGroup - organizations/{org}/envgroups/{envgroup} EnvironmentConfig - organizations/{org}/environments/{environment}/deployedConfig"
        },
        "revisions": {
          "type": "array",
          "description": "Revisions of the resource currently deployed in the instance.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevisionStatus"
          }
        },
        "uid": {
          "type": "string",
          "description": "The uid of the resource. In the unexpected case that the instance has multiple uids for the same name, they should be reported under separate ResourceStatuses."
        }
      },
      "id": "GoogleCloudApigeeV1ResourceStatus"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      },
      "id": "GoogleLongrunningOperation"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource": {
      "description": "Resource for which we are computing security assessment.",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "API_PROXY",
            "API_HUB_DEPLOYMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "ResourceType not specified.",
            "Resource is an Apigee Proxy.",
            "Resource is an API Hub deployment."
          ]
        },
        "name": {
          "description": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse"
    },
    "GoogleCloudApigeeV1MoveApiProxyRequest": {
      "id": "GoogleCloudApigeeV1MoveApiProxyRequest",
      "description": "Moves an API Proxy to a different Space.",
      "type": "object",
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the proxy to. If unspecified, the proxy will be moved to the organization level.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1CustomReportMetric": {
      "id": "GoogleCloudApigeeV1CustomReportMetric",
      "properties": {
        "name": {
          "type": "string",
          "description": "name of the metric"
        },
        "function": {
          "description": "aggregate function",
          "type": "string"
        }
      },
      "description": "This encapsulates a metric property of the form sum(message_count) where name is message_count and function is sum",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityProfileScoringConfig": {
      "id": "GoogleCloudApigeeV1SecurityProfileScoringConfig",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the config.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the config."
        },
        "scorePath": {
          "type": "string",
          "description": "Path of the component config used for scoring."
        }
      },
      "description": "Security configurations to manage scoring."
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext": {
      "properties": {
        "documentationLink": {
          "description": "Documentation link for the action.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Action context are all the relevant details for the action.",
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext"
    },
    "GoogleCloudApigeeV1ActivateNatAddressRequest": {
      "description": "Request for ActivateNatAddressRequest. Activate the nat address request.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudApigeeV1ActivateNatAddressRequest"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApigeeV1GenerateUploadUrlRequest",
      "description": "Request for GenerateUploadUrl method."
    },
    "GoogleCloudApigeeV1ReportProperty": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportProperty",
      "properties": {
        "value": {
          "type": "array",
          "description": "property values",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "property": {
          "description": "name of the property",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategory"
          },
          "description": "The API category resources."
        },
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "errorCode": {
          "type": "string",
          "description": "Unique error code for the request, if any."
        }
      },
      "description": "The response for `ListApiCategoriesRequest`. Next ID: 6"
    },
    "GoogleCloudApigeeV1SecurityActionConditionConfig": {
      "properties": {
        "apiProducts": {
          "description": "Optional. A list of API Products. Limit 1000 per action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "botReasons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of Bot Reasons. Current options: Flooder, Brute Guessor, Static Content Scraper, OAuth Abuser, Robot Abuser, TorListRule, Advanced Anomaly Detection, Advanced API Scraper, Search Engine Crawlers, Public Clouds, Public Cloud AWS, Public Cloud Azure, and Public Cloud Google."
        },
        "developerApps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of developer apps. Limit 1000 per action."
        },
        "apiKeys": {
          "type": "array",
          "description": "Optional. A list of API keys. Limit 1000 per action.",
          "items": {
            "type": "string"
          }
        },
        "asns": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Optional. A list of ASN numbers to act on, e.g. 23. https://en.wikipedia.org/wiki/Autonomous_system_(Internet) This uses int64 instead of uint32 because of https://linter.aip.dev/141/forbidden-types."
        },
        "developers": {
          "description": "Optional. A list of developers. Limit 1000 per action.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ipAddressRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of IP addresses. This could be either IPv4 or IPv6. Limited to 100 per action."
        },
        "accessTokens": {
          "description": "Optional. A list of access_tokens. Limit 1000 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "httpMethods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Act only on particular HTTP methods. E.g. A read-only API can block POST/PUT/DELETE methods. Accepted values are: GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE and PATCH."
        },
        "userAgents": {
          "description": "Optional. A list of user agents to deny. We look for exact matches. Limit 50 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regionCodes": {
          "description": "Optional. A list of countries/region codes to act on, e.g. US. This follows https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityActionConditionConfig",
      "description": "The following are a list of conditions. A valid SecurityAction must contain at least one condition. Within a condition, each element is ORed. Across conditions elements are ANDed. For example if a SecurityAction has the following: ip_address_ranges: [\"ip1\", \"ip2\"] and bot_reasons: [\"Flooder\", \"Robot Abuser\"] then this is interpreted as: enforce the action if the incoming request has ((ip_address_ranges = \"ip1\" OR ip_address_ranges = \"ip2\") AND (bot_reasons=\"Flooder\" OR bot_reasons=\"Robot Abuser\")). Conditions other than ip_address_ranges and bot_reasons cannot be ANDed."
    },
    "GoogleCloudApigeeV1ProfileConfigThreat": {
      "id": "GoogleCloudApigeeV1ProfileConfigThreat",
      "description": "By default, following policies will be included: - XMLThreatProtection - JSONThreatProtection",
      "type": "object",
      "properties": {}
    },
    "GoogleRpcPreconditionFailureViolation": {
      "description": "A message type used to describe a single precondition failure.",
      "properties": {
        "type": {
          "description": "The type of PreconditionFailure. We recommend using a service-specific enum type to define the supported precondition violation subjects. For example, \"TOS\" for \"Terms of Service violation\".",
          "type": "string"
        },
        "subject": {
          "description": "The subject, relative to the type, that failed. For example, \"google.com/cloud\" relative to the \"TOS\" type would indicate which terms of service is being referenced.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of how the precondition failed. Developers can use this description to understand how to fix the failure. For example: \"Terms of service not accepted\"."
        }
      },
      "id": "GoogleRpcPreconditionFailureViolation",
      "type": "object"
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "properties": {
        "end": {
          "type": "string",
          "format": "int64",
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values."
        },
        "start": {
          "type": "string",
          "format": "int64",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values."
        },
        "sharePercentage": {
          "type": "number",
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range."
    },
    "GoogleCloudApigeeV1McpServerConfig": {
      "type": "object",
      "description": "Deployed MCP server configuration for an organization. Response for GetMcpServerConfig. Org-scoped singleton: each organization has exactly one McpServerConfig. Multiple logical MCP servers within the same org are expressed inside the Cloud Storage blob (McpServerConfigData.hosts map), not as multiple McpServerConfig resources.",
      "id": "GoogleCloudApigeeV1McpServerConfig",
      "properties": {
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique ID for the McpServerConfig that will only change if the organization is deleted and recreated."
        },
        "revisionCreateTime": {
          "description": "Output only. Time at which this McpServerConfig revision was created. Mirrors IngressConfig.revision_create_time.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "revisionId": {
          "description": "Output only. Revision ID that defines the ordering on McpServerConfig revisions. Higher values indicate more recently deployed configurations. Monotonically non-decreasing per organization. Mirrors IngressConfig.revision_id.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name in the singleton form: organizations/{org}/mcpServerConfig",
          "type": "string"
        },
        "mcpServerConfigDataLocation": {
          "description": "Output only. Cloud Storage URI to the McpServerConfigData blob in the Apigee tenant project bucket. The sidecar fetches this URI using Cloud Storage, and deserializes the. protojson blob to McpServerConfigData. Treat this as an opaque URI — its format may change. Example: gs://{apigee-tp-bucket}/apigee-mcp-config-{org}-{revision_id}.json",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "properties": {
        "samplingRate": {
          "type": "number",
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5."
        },
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "type": "string",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        }
      },
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "properties": {
        "connectorsPlatformConfig": {
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig",
          "description": "Configuration for the Connectors Platform add-on."
        },
        "monetizationConfig": {
          "description": "Configuration for the Monetization add-on.",
          "$ref": "GoogleCloudApigeeV1MonetizationConfig"
        },
        "integrationConfig": {
          "$ref": "GoogleCloudApigeeV1IntegrationConfig",
          "description": "Configuration for the Integration add-on."
        },
        "apiSecurityConfig": {
          "$ref": "GoogleCloudApigeeV1ApiSecurityConfig",
          "description": "Configuration for the API Security add-on."
        },
        "analyticsConfig": {
          "$ref": "GoogleCloudApigeeV1AnalyticsConfig",
          "description": "Configuration for the Analytics add-on. Only used in organizations.environments.addonsConfig."
        },
        "advancedApiOpsConfig": {
          "description": "Configuration for the Advanced API Ops add-on.",
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig"
        }
      },
      "description": "Add-on configurations for the Apigee organization.",
      "type": "object",
      "id": "GoogleCloudApigeeV1AddonsConfig"
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence": {
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "Map of dimensions and their values that uniquely identifies a time series sequence.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "points": {
          "description": "List of points. First value of each inner list is a timestamp.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        }
      },
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence",
      "description": "A sequence of time series."
    },
    "GoogleCloudApigeeV1Session": {
      "description": "Session carries the debug session id and its creation time.",
      "id": "GoogleCloudApigeeV1Session",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The debug session ID."
        },
        "timestampMs": {
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1NatAddress": {
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Resource ID of the NAT address."
        },
        "ipAddress": {
          "description": "Output only. The static IPV4 address.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the nat address.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "id": "GoogleCloudApigeeV1NatAddress"
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "type": "object",
      "properties": {
        "attachments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "description": "Attachments for the instance."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for ListInstanceAttachments.",
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "properties": {
        "samplingRate": {
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5.",
          "type": "number",
          "format": "float"
        },
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "type": "string",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        }
      },
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "type": "object",
      "description": "Encapsulates a metric grouped by dimension.",
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "properties": {
        "individualNames": {
          "type": "array",
          "description": "Individual dimension names. E.g. [\"dim1_name\", \"dim2_name\"].",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "deprecated": true,
          "description": "Comma joined dimension names. E.g. \"dim1_name,dim2_name\". Deprecated. If name already has comma before join, we may get wrong splits. Please use individual_names.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "List of metrics.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          }
        }
      }
    },
    "GoogleCloudApigeeV1OptimizedStatsResponse": {
      "description": "Encapsulates a response format for JavaScript Optimized Scenario.",
      "properties": {
        "resultTruncated": {
          "type": "boolean",
          "description": "Boolean flag that indicates whether the results were truncated based on the limit parameter."
        },
        "TimeUnit": {
          "description": "List of time unit values. Time unit refers to an epoch timestamp value.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "stats": {
          "$ref": "GoogleCloudApigeeV1OptimizedStatsNode",
          "description": "`stats` results."
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1Metadata",
          "description": "Metadata information about the query executed."
        }
      },
      "id": "GoogleCloudApigeeV1OptimizedStatsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeApiSecurityConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "If the API Security is enabled or not."
        }
      },
      "id": "GoogleCloudApigeeV1RuntimeApiSecurityConfig",
      "description": "Runtime configuration for the API Security add-on."
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "type": "object",
      "properties": {
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        },
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "format": "google-datetime",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "description": "Status for config resources",
          "type": "array"
        }
      },
      "description": "Request for ReportInstanceStatus."
    },
    "GoogleCloudApigeeV1ListSecurityFeedbackResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ListSecurityFeedbackResponse",
      "properties": {
        "securityFeedback": {
          "description": "List of SecurityFeedback reports.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedback"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` in `ListSecurityFeedbackRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListSecurityFeedback"
    },
    "GoogleCloudApigeeV1ScheduledMaintenance": {
      "type": "object",
      "description": "Scheduled maintenance information for an instance.",
      "properties": {
        "startTime": {
          "description": "Output only. The start time (UTC) of the scheduled maintenance.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1ScheduledMaintenance"
    },
    "GoogleCloudApigeeV1ListSecurityReportsResponse": {
      "id": "GoogleCloudApigeeV1ListSecurityReportsResponse",
      "description": "The response for SecurityReports.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "If the number of security reports exceeded the page size requested, the token can be used to fetch the next page in a subsequent call. If the response is the last page and there are no more reports to return this field is left empty."
        },
        "securityReports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityReport"
          },
          "description": "The security reports belong to requested resource name.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1Operation": {
      "id": "GoogleCloudApigeeV1Operation",
      "type": "object",
      "properties": {
        "methods": {
          "type": "array",
          "description": "methods refers to the REST verbs as in https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html. When none specified, all verb types are allowed.",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "type": "string",
          "description": "Required. REST resource path associated with the API proxy or remote service."
        }
      },
      "description": "Represents the pairing of REST resource path and the actions (verbs) allowed on the resource path."
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "type": "object",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "GoogleCloudApigeeV1ExpireAppGroupSubscriptionRequest": {
      "type": "object",
      "description": "Request for ExpireAppGroupSubscription.",
      "properties": {},
      "id": "GoogleCloudApigeeV1ExpireAppGroupSubscriptionRequest"
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationAction": {
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationAction",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the action."
        },
        "actionContext": {
          "$ref": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext",
          "description": "Action context for the action."
        }
      },
      "description": "Action to improve security score."
    },
    "GoogleCloudApigeeV1GenerateDownloadUrlRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApigeeV1GenerateDownloadUrlRequest",
      "description": "Request for GenerateDownloadUrl method."
    },
    "GoogleIamV1TestIamPermissionsRequest": {
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleIamV1TestIamPermissionsRequest"
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "type": "object",
      "properties": {
        "developer": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          },
          "description": "List of developers.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "GoogleCloudApigeeV1SecurityProfile": {
      "id": "GoogleCloudApigeeV1SecurityProfile",
      "description": "Represents a SecurityProfile resource.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the security profile."
        },
        "name": {
          "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}",
          "type": "string"
        },
        "minScore": {
          "format": "int32",
          "description": "Output only. Minimum security score that can be generated by this profile.",
          "readOnly": true,
          "type": "integer"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironment"
          },
          "description": "List of environments attached to security profile.",
          "type": "array"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when revision was created.",
          "type": "string"
        },
        "revisionPublishTime": {
          "format": "google-datetime",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. DEPRECATED: DO NOT USE The time when revision was published. Once published, the security profile revision cannot be updated further and can be attached to environments.",
          "type": "string"
        },
        "revisionUpdateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when revision was updated.",
          "type": "string"
        },
        "maxScore": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Maximum security score that can be generated by this profile.",
          "format": "int32"
        },
        "profileConfig": {
          "$ref": "GoogleCloudApigeeV1ProfileConfig",
          "description": "Required. Customized profile configuration that computes the security score."
        },
        "displayName": {
          "type": "string",
          "deprecated": true,
          "description": "DEPRECATED: DO NOT USE Display name of the security profile."
        },
        "scoringConfigs": {
          "type": "array",
          "description": "List of profile scoring configs in this revision.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileScoringConfig"
          }
        },
        "revisionId": {
          "description": "Output only. Revision ID of the security profile.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityActionAllow": {
      "description": "Message that should be set in case of an Allow Action. This does not have any fields.",
      "id": "GoogleCloudApigeeV1SecurityActionAllow",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1Query": {
      "properties": {
        "groupByTimeUnit": {
          "description": "Time unit used to group the result set. Valid values include: second, minute, hour, day, week, or month. If a query includes groupByTimeUnit, then the result is an aggregation based on the specified time unit and the resultant timestamp does not include milliseconds precision. If a query omits groupByTimeUnit, then the resultant timestamp includes milliseconds precision.",
          "type": "string"
        },
        "outputFormat": {
          "type": "string",
          "description": "Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the csvDelimiter property."
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "filter": {
          "description": "Boolean expression that can be used to filter data. Filter expressions can be combined using AND/OR terms and should be fully parenthesized to avoid ambiguity. See Analytics metrics, dimensions, and filters reference https://docs.apigee.com/api-platform/analytics/analytics-reference for more information on the fields available to filter on. For more information on the tokens that you use to build filter expressions, see Filter expression syntax. https://docs.apigee.com/api-platform/analytics/asynch-reports-api#filter-expression-syntax",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname needs to be specified if query intends to run at host level. This field is only allowed when query is submitted by CreateHostAsyncQuery where analytics data will be grouped by organization and hostname."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of dimensions. https://docs.apigee.com/api-platform/analytics/analytics-reference#dimensions"
        },
        "limit": {
          "format": "int32",
          "description": "Maximum number of rows that can be returned in the result.",
          "type": "integer"
        },
        "csvDelimiter": {
          "description": "Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`).",
          "type": "string"
        },
        "metrics": {
          "description": "A list of Metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryMetric"
          }
        },
        "timeRange": {
          "description": "Required. Time range for the query. Can use the following predefined strings to specify the time range: `last60minutes` `last24hours` `last7days` Or, specify the timeRange as a structure describing start and end timestamps in the ISO format: yyyy-mm-ddThh:mm:ssZ. Example: \"timeRange\": { \"start\": \"2018-07-29T00:13:00Z\", \"end\": \"2018-08-01T00:18:00Z\" }",
          "type": "any"
        }
      },
      "id": "GoogleCloudApigeeV1Query",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportResultMetadata": {
      "id": "GoogleCloudApigeeV1SecurityReportResultMetadata",
      "type": "object",
      "description": "Contains informations about the security report results.",
      "properties": {
        "expires": {
          "description": "Output only. Expire_time is set to 7 days after report creation. Query result will be unaccessable after this time. Example: \"2021-05-04T13:38:52-07:00\"",
          "type": "string",
          "readOnly": true
        },
        "self": {
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1MoveSharedFlowRequest": {
      "id": "GoogleCloudApigeeV1MoveSharedFlowRequest",
      "type": "object",
      "description": "Moves a Shared Flow to a different space.",
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the shared flow to. If unspecified, the shared flow will be moved to the organization level.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "description": "Wallet used to manage an account balance for a particular currency.",
      "properties": {
        "balance": {
          "$ref": "GoogleTypeMoney",
          "description": "Current remaining balance of the developer for a particular currency."
        },
        "lastCreditTime": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityMonitoringCondition": {
      "id": "GoogleCloudApigeeV1SecurityMonitoringCondition",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time of the security monitoring condition update."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the security monitoring condition creation."
        },
        "apiHubGateway": {
          "type": "string",
          "description": "Optional. The API Hub gateway monitored by the security monitoring condition. This should only be set if risk_assessment_type is API_HUB. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        },
        "profile": {
          "description": "Required. ID of security profile of the security monitoring condition.",
          "type": "string"
        },
        "include": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray",
          "description": "Include only these resources."
        },
        "totalDeployedResources": {
          "readOnly": true,
          "description": "Output only. Total number of deployed resources within scope.",
          "type": "integer",
          "format": "int32"
        },
        "scope": {
          "description": "Optional. Scope of the security monitoring condition. When RiskAssessmentType is APIGEE, the scope should be set to the environment of the resources. When RiskAssessmentType is API_HUB, the scope should not be set.",
          "type": "string"
        },
        "includeAllResources": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll",
          "description": "Include all resources under the scope."
        },
        "riskAssessmentType": {
          "type": "string",
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ],
          "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ]
        },
        "totalMonitoredResources": {
          "type": "integer",
          "description": "Output only. Total number of monitored resources within this condition.",
          "readOnly": true,
          "format": "int32"
        },
        "name": {
          "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}",
          "type": "string"
        }
      },
      "description": "Security monitoring condition for risk assessment version 2."
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter": {
      "type": "object",
      "properties": {
        "scorePath": {
          "description": "Optional. Return scores for this component. Example: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\"",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter",
      "description": "Filter scores by component path. Used custom filter instead of AIP-160 as the use cases are highly constrained and predictable."
    },
    "GoogleCloudApigeeV1SecurityActionDeny": {
      "type": "object",
      "properties": {
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The HTTP response code if the Action = DENY."
        }
      },
      "description": "Message that should be set in case of a Deny Action.",
      "id": "GoogleCloudApigeeV1SecurityActionDeny"
    },
    "EdgeConfigstoreBundleBadBundleViolation": {
      "properties": {
        "description": {
          "description": "A description of why the bundle is invalid and how to fix it.",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "The filename (including relative path from the bundle root) in which the error occurred."
        }
      },
      "type": "object",
      "description": "A message type used to describe a single bundle validation error.",
      "id": "EdgeConfigstoreBundleBadBundleViolation"
    },
    "GoogleCloudApigeeV1ProfileConfigMTLS": {
      "description": "Checks to see if you have configured mTLS for the target server.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApigeeV1ProfileConfigMTLS"
    },
    "GoogleCloudApigeeV1SecurityFeedback": {
      "properties": {
        "comment": {
          "description": "Optional. Optional text the user can provide for additional, unstructured context.",
          "type": "string"
        },
        "feedbackType": {
          "enumDescriptions": [
            "Unspecified feedback type.",
            "Feedback identifying attributes to be excluded from detections."
          ],
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "EXCLUDED_DETECTION"
          ],
          "type": "string",
          "description": "Required. The type of feedback being submitted."
        },
        "feedbackContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext"
          },
          "description": "Required. One or more attribute/value pairs for constraining the feedback."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when this specific feedback id was created."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid."
        },
        "reason": {
          "description": "Optional. The reason for the feedback.",
          "type": "string",
          "enum": [
            "REASON_UNSPECIFIED",
            "INTERNAL_SYSTEM",
            "NON_RISK_CLIENT",
            "NAT",
            "PENETRATION_TEST",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified reason.",
            "The feedback is created for an internal system.",
            "The feedback is created for a non-risk client.",
            "The feedback is created for to label NAT.",
            "The feedback is created for a penetration test.",
            "The feedback is created for other reasons."
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when this specific feedback id was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name of the feedback.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityFeedback",
      "type": "object",
      "description": "Represents a feedback report from an Advanced API Security customer."
    },
    "GoogleCloudApigeeV1ResourceFile": {
      "description": "Metadata about a resource file.",
      "type": "object",
      "properties": {
        "name": {
          "description": "ID of the resource file.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource file type. {{ resource_file_type }}"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceFile"
    },
    "GoogleCloudApigeeV1EnvironmentConfig": {
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Time that the environment configuration was created.",
          "type": "string"
        },
        "name": {
          "description": "Name of the environment configuration in the following format: `organizations/{org}/environments/{env}/configs/{config}`",
          "type": "string"
        },
        "flowhooks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1FlowHookConfig"
          },
          "description": "List of flow hooks in the environment."
        },
        "arcConfigLocation": {
          "type": "string",
          "description": "The location for the config blob of API Runtime Control, aka Envoy Adapter, for op-based authentication as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways."
        },
        "deploymentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentGroupConfig"
          },
          "type": "array",
          "description": "List of deployment groups in the environment."
        },
        "sequenceNumber": {
          "type": "string",
          "description": "DEPRECATED: Use revision_id.",
          "format": "int64"
        },
        "deployments": {
          "description": "List of deployments in the environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentConfig"
          }
        },
        "dataCollectors": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollectorConfig"
          },
          "type": "array",
          "description": "List of data collectors used by the deployments in the environment."
        },
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeAddonsConfig",
          "description": "The latest runtime configurations for add-ons."
        },
        "debugMask": {
          "$ref": "GoogleCloudApigeeV1DebugMask",
          "description": "Debug mask that applies to all deployments in the environment."
        },
        "provider": {
          "description": "Used by the Control plane to add context information to help detect the source of the document during diagnostics and debugging.",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID for the environment configuration. The ID will only change if the environment is deleted and recreated.",
          "type": "string"
        },
        "keystores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1KeystoreConfig"
          },
          "description": "List of keystores in the environment.",
          "type": "array"
        },
        "featureFlags": {
          "type": "object",
          "description": "Feature flags inherited from the organization and environment.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gatewayConfigLocation": {
          "description": "The location for the gateway config blob as a URI, e.g. a Cloud Storage URI. This is only used by Envoy-based gateways.",
          "type": "string"
        },
        "traceConfig": {
          "description": "Trace configurations. Contains config for the environment and config overrides for specific API proxies.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfig"
        },
        "envScopedRevisionId": {
          "type": "string",
          "description": "Revision ID for environment-scoped resources (e.g. target servers, keystores) in this config. This ID will increment any time a resource not scoped to a deployment group changes.",
          "format": "int64"
        },
        "resourceReferences": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReferenceConfig"
          },
          "description": "List of resource references in the environment."
        },
        "targets": {
          "items": {
            "$ref": "GoogleCloudApigeeV1TargetServerConfig"
          },
          "description": "List of target servers in the environment. Disabled target servers are not displayed.",
          "type": "array"
        },
        "pubsubTopic": {
          "description": "Name of the PubSub topic for the environment.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision ID of the environment configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "clientIpResolutionConfig": {
          "description": "The algorithm to resolve IP.",
          "$ref": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfig"
        },
        "resources": {
          "type": "array",
          "description": "List of resource versions in the environment.",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceConfig"
          }
        },
        "forwardProxyUri": {
          "description": "The forward proxy's url to be used by the runtime. When set, runtime will send requests to the target via the given forward proxy. This is only used by programmable gateways.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentConfig"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "type": "object",
      "description": "NEXT ID: 13 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
          "description": "Trace configuration for all API proxies in an environment."
        },
        "openTelemetryProtocolEnabled": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. If `true`, the runtime uses OpenTelemetry Protocol (OTLP) to send trace data. Configuration Requirements (if `open_telemetry_protocol_enabled` is `true`): - Allowed `Exporter`s: `CLOUD_TRACE` or `OPEN_TELEMETRY_COLLECTOR`. - If `Exporter` is `OPEN_TELEMETRY_COLLECTOR`: - `endpoint` refers to a valid OTLP collector URL. - If `Exporter` is `CLOUD_TRACE`: - `endpoint` refers to a valid project ID Deprecated: Use trace_protocol instead."
        },
        "name": {
          "type": "string",
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`"
        },
        "revisionCreateTime": {
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "traceProtocol": {
          "enumDescriptions": [
            "Protocol unspecified. Defaults to OPEN_CENSUS.",
            "Uses OpenCensus protocol.",
            "Uses OpenTelemetry Protocol (OTLP)."
          ],
          "enum": [
            "TRACE_PROTOCOL_UNSPECIFIED",
            "OPEN_CENSUS",
            "OTLP"
          ],
          "type": "string",
          "description": "Optional. The trace protocol to use."
        },
        "spanSemantics": {
          "enum": [
            "SPAN_SEMANTICS_UNSPECIFIED",
            "LEGACY",
            "OTEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Semantics unspecified. Defaults to LEGACY.",
            "Uses Apigee legacy span and attribute names.",
            "Uses OpenTelemetry semantic-convention-aligned span and attribute names."
          ],
          "description": "Optional. The span semantics to use. Configuration Requirements (if `span_semantics` is `OTEL`): - `trace_protocol` must be `OTLP`."
        },
        "otelCollectorSecurityScheme": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified. Behavior is identical to NONE.",
            "Default. Unauthenticated OTLP/HTTP export. Preserves today's behavior byte-for-byte for existing configurations.",
            "Mutual TLS via customer PKI. Cert material is stored in Apigee Keystores/Truststores and referenced by resource ID in `mtls_config` (same mechanism as TargetServer.tls_info)."
          ],
          "enum": [
            "OTEL_COLLECTOR_SECURITY_SCHEME_UNSPECIFIED",
            "NONE",
            "MTLS"
          ],
          "description": "Optional. Security scheme for the outbound connection to the customer-owned OpenTelemetry Collector. Only meaningful when `exporter` is `OPEN_TELEMETRY_COLLECTOR`. Runtime consumers unaware of a value should treat it as `OTEL_COLLECTOR_SECURITY_SCHEME_UNSPECIFIED` (== NONE)."
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "exporter": {
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE",
            "OPEN_TELEMETRY_COLLECTOR",
            "OPEN_TELEMETRY_CLOUD_TRACE"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enumDescriptions": [
            "Exporter unspecified",
            "Exports events to Jaeger. Compatible with OpenCensus protocol.",
            "Exports events to Cloud Trace. Compatible with OpenCensus protocol.",
            "OpenTelemetry Collector. Compatible with OpenTelemetry protocol.",
            "Exports events to Cloud Trace. Compatible with OpenTelemetry protocol."
          ]
        },
        "mTlsConfig": {
          "description": "Optional. mTLS configuration for the OTel Collector endpoint. Required when `otel_collector_security_scheme` is `MTLS`; must be absent otherwise.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOtelMtlsConfig"
        }
      }
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "description": "This message encapsulates a list of custom report definitions",
      "properties": {
        "qualifier": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1UpdateSecurityIncidentRequest": {
      "description": "Request for UpdateSecurityIncident.",
      "properties": {
        "securityIncident": {
          "$ref": "GoogleCloudApigeeV1SecurityIncident",
          "description": "Required. The security incident to update. Must contain all existing populated fields of the current incident."
        },
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Required. The list of fields to update. Allowed fields are: LINT.IfChange(allowed_update_fields_comment) - observability LINT.ThenChange()"
        }
      },
      "id": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDeveloperAppsResponse": {
      "type": "object",
      "properties": {
        "app": {
          "type": "array",
          "description": "List of developer apps and their credentials.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperApp"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListDeveloperAppsResponse"
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "GoogleCloudApigeeV1DnsZone": {
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name for hosts in this private zone, for instance \"example.com.\"."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time that this resource was updated on the server.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time that this resource was created on the server."
        },
        "description": {
          "description": "Required. Description of the resource. String of at most 1024 characters associated with this resource for the user's convenience.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the DNS Peering. Values other than `ACTIVE` mean the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ]
        },
        "peeringConfig": {
          "description": "DNS PEERING zone configuration.",
          "$ref": "GoogleCloudApigeeV1DnsZonePeeringConfig"
        },
        "name": {
          "description": "Identifier. Unique name for the resource. Defined by the server Format: \"organizations/{organization}/dnsZones/{dns_zone}\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DnsZone",
      "type": "object",
      "description": "A DNS zone is a resource under an Apigee organization that is used to create a DNS peering with Apigee's network. DNS peering will let Apigee instances resolve the hostnames created in a peered network."
    },
    "GoogleCloudApigeeV1AsyncQueryResult": {
      "type": "object",
      "properties": {
        "self": {
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`",
          "type": "string"
        },
        "expires": {
          "type": "string",
          "description": "Query result will be unaccessable after this time."
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQueryResult"
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "id": "GoogleCloudApigeeV1GraphQLOperation",
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name.",
      "type": "object",
      "properties": {
        "operation": {
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload.",
          "type": "string"
        },
        "operationTypes": {
          "type": "array",
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ApimServiceExtensionExtension": {
      "id": "GoogleCloudApigeeV1ApimServiceExtensionExtension",
      "type": "object",
      "description": "Extension configuration for Apigee extension processor service extension.",
      "properties": {
        "matchCondition": {
          "description": "Optional. Match Condition for CEL expression. Refer to https://cloud.google.com/service-extensions/docs/cel-matcher-language-reference for more details.",
          "type": "string"
        },
        "failOpen": {
          "type": "boolean",
          "description": "Optional. Whether this request should fail open."
        },
        "hostname": {
          "type": "string",
          "description": "Required. One of the hostnames of Apigee EnvGroup where the proxy is deployed. This hostname (i.e FDQN) will be used to route traffic from the specified forwarding rule to the environment in Apigee X instance where the proxy is deployed for handling extension traffic. Format: ^([a-zA-Z0-9. _-])+$"
        },
        "name": {
[...]
