{
  "version_module": true,
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://apigee.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "eu",
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "ch",
      "endpointUrl": "https://apigee.ch.rep.googleapis.com/"
    }
  ],
  "basePath": "",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Apigee API",
  "ownerDomain": "google.com",
  "revision": "20260905",
  "name": "apigee",
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "required": true,
                  "pattern": "^hybrid/issuers$",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "id": "apigee.hybrid.issuers.list",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              },
              "flatPath": "v1/hybrid/issuers",
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids."
            }
          }
        }
      }
    },
    "organizations": {
      "methods": {
        "updateControlPlaneAccess": {
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "type": "string",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, analytics_publisher_identities, watcher_identities.",
              "location": "query",
              "format": "google-fieldmask"
            },
            "name": {
              "required": true,
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "type": "string",
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "apigee.organizations.updateControlPlaneAccess",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only."
        },
        "create": {
          "path": "v1/organizations",
          "flatPath": "v1/organizations",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.create",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "getProjectMapping": {
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "path": "v1/{+name}:getProjectMapping",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "type": "string",
              "pattern": "^organizations/[^/]+$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "id": "apigee.organizations.getProjectMapping",
          "description": "Gets the project ID and region for an Apigee organization."
        },
        "getDeployedIngressConfig": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the deployed ingress configuration for an organization.",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "httpMethod": "GET",
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "type": "string",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules."
            },
            "name": {
              "location": "path",
              "type": "string",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "required": true
            }
          }
        },
        "getMcpServerConfig": {
          "description": "Gets the deployed MCP server configuration for an organization. McpServerConfig is an org-scoped singleton (one per organization). The returned configuration may be up to 30 seconds out of date by default.",
          "path": "v1/{+name}",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/mcpServerConfig$",
              "location": "path",
              "type": "string",
              "description": "Required. Name of the deployed MCP server configuration for the organization in the singleton form: `organizations/{org}/mcpServerConfig`.",
              "required": true
            }
          },
          "response": {
            "$ref": "GoogleCloudApigeeV1McpServerConfig"
          },
          "id": "apigee.organizations.getMcpServerConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/mcpServerConfig"
        },
        "setSyncAuthorization": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "type": "string"
            }
          },
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "path": "v1/{+name}:setSyncAuthorization",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.setSyncAuthorization",
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization"
        },
        "delete": {
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$"
            },
            "retention": {
              "location": "query",
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ],
              "type": "string",
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ]
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed by default. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**",
          "flatPath": "v1/organizations/{organizationsId}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "apigee.organizations.delete"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "PUT",
          "parameters": {
            "name": {
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "location": "path",
              "type": "string"
            }
          },
          "id": "apigee.organizations.update"
        },
        "updateSecuritySettings": {
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.updateSecuritySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "description": "UpdateSecuritySettings updates the current security settings for API Security.",
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "type": "string",
              "pattern": "^organizations/[^/]+/securitySettings$",
              "location": "path",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "getSyncAuthorization": {
          "parameterOrder": [
            "name"
          ],
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "type": "string",
              "required": true
            }
          },
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization",
          "id": "apigee.organizations.getSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:getSyncAuthorization"
        },
        "setAddons": {
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "org": {
              "required": true,
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.setAddons",
          "path": "v1/{+org}:setAddons",
          "parameterOrder": [
            "org"
          ],
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced."
        },
        "get": {
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`"
            }
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.organizations.get"
        },
        "list": {
          "path": "v1/{+parent}",
          "flatPath": "v1/organizations",
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "parameterOrder": [
            "parent"
          ],
          "id": "apigee.organizations.list",
          "httpMethod": "GET",
          "parameters": {
            "parent": {
              "type": "string",
              "pattern": "^organizations$",
              "required": true,
              "location": "path",
              "description": "Required. Use the following structure in your request: `organizations`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          }
        },
        "getControlPlaneAccess": {
          "id": "apigee.organizations.getControlPlaneAccess",
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "location": "path",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1/{+name}",
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess"
        },
        "getRuntimeConfig": {
          "id": "apigee.organizations.getRuntimeConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "description": "Get runtime config for an organization.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "type": "string",
              "location": "path",
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "required": true
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          }
        },
        "getSecuritySettings": {
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "path": "v1/{+name}",
          "description": "GetSecuritySettings gets the security settings for API Security.",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securitySettings$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "location": "path"
            }
          },
          "id": "apigee.organizations.getSecuritySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "hostSecurityReports": {
          "methods": {
            "create": {
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
              },
              "id": "apigee.organizations.hostSecurityReports.create",
              "path": "v1/{+parent}/hostSecurityReports",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "getResult": {
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/result",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "apigee.organizations.hostSecurityReports.getResult",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/securityReports/{reportId}/result`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/result$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/hostSecurityReports",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "type": "string"
                },
                "envgroupHostname": {
                  "type": "string",
                  "description": "Required. Filter response list by hostname.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of security report to return in the list response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "submittedBy": {
                  "type": "string",
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query"
                },
                "to": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token returned from the previous list response to fetch the next page."
                },
                "from": {
                  "type": "string",
                  "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query"
                },
                "dataset": {
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "location": "query",
                  "type": "string"
                },
                "status": {
                  "type": "string",
                  "description": "Filter response list by security report status.",
                  "location": "query"
                }
              },
              "description": "Return a list of Security Reports at host level.",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "id": "apigee.organizations.hostSecurityReports.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/securityReports/{reportId}`.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostSecurityReports.get",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              }
            },
            "getResultView": {
              "description": "After the query is completed, use this API to view the query result when result size is small.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/securityReports/{reportId}/resultView`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/resultView$",
                  "required": true
                }
              },
              "id": "apigee.organizations.hostSecurityReports.getResultView",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/resultView"
            }
          }
        },
        "sharedflows": {
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "description": "Lists all deployments of a shared flow.",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/deployments",
                  "path": "v1/{+parent}/deployments",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the shared flow for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sharedflows.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "revisions": {
              "methods": {
                "updateSharedFlowRevision": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "description": "Required. The name of the shared flow revision to update. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "validate": {
                      "type": "boolean",
                      "description": "Ignored. All uploads are validated regardless of the value of this field. It is kept for compatibility with existing APIs. Must be `true` or `false` if provided.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a shared flow revision. This operation is only allowed on revisions which have never been deployed. After deployment a revision becomes immutable, even if it becomes undeployed. The payload is a ZIP-formatted shared flow. Content type must be either multipart/form-data or application/octet-stream.",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "id": "apigee.organizations.sharedflows.revisions.updateSharedFlowRevision"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "format": {
                      "location": "query",
                      "type": "string",
                      "description": "Specify `bundle` to export the contents of the shared flow bundle. Otherwise, the bundle metadata is returned."
                    },
                    "name": {
                      "description": "Required. The name of the shared flow revision to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the Shared Flow resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets a revision of a shared flow. To download the shared flow configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the shared flow configuration locally and upload the updated sharedFlow configuration revision, as described in [updateSharedFlowRevision](updateSharedFlowRevision).",
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "id": "apigee.organizations.sharedflows.revisions.get",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "delete": {
                  "id": "apigee.organizations.sharedflows.revisions.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a shared flow and all associated policies, resources, and revisions. You must undeploy the shared flow before deleting it.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the shared flow revision to delete. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}/revisions/{revision_id}` If the Shared Flow resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
                  },
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "description": "Lists all deployments of a shared flow revision.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/deployments",
                      "id": "apigee.organizations.sharedflows.revisions.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`. If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "pattern": "^organizations/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "includeRevisions": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Indicates whether to include a list of revisions in the response."
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The name of the parent organization under which to get shared flows. Must be of the form: `organizations/{organization_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "includeMetaData": {
                  "type": "boolean",
                  "description": "Indicates whether to include shared flow metadata in the response.",
                  "location": "query"
                },
                "space": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The space ID used to filter the list of shared flows (optional). If unspecified, all shared flows in the organization will be listed. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                }
              },
              "path": "v1/{+parent}/sharedflows",
              "description": "Lists all shared flows in the organization. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSharedFlowsResponse"
              },
              "id": "apigee.organizations.sharedflows.list",
              "flatPath": "v1/organizations/{organizationsId}/sharedflows"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/sharedflows",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the parent organization under which to create the shared flow. Must be of the form: `organizations/{organization_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "space": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The ID of the space to associated with this shared flow. Any IAM policies applied to the space will affect access to this shared flow. Note that this field is only respected when creating a new shared flow. It has no effect when creating a new revision for an existing shared flow."
                },
                "action": {
                  "location": "query",
                  "description": "Required. Must be set to either `import` or `validate`.",
                  "type": "string"
                },
                "name": {
                  "description": "Required. The name to give the shared flow",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlowRevision"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sharedflows",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "apigee.organizations.sharedflows.create",
              "description": "Uploads a ZIP-formatted shared flow configuration bundle to an organization. If the shared flow already exists, this creates a new revision of it. If the shared flow does not exist, this creates it. Once imported, the shared flow revision must be deployed before it can be accessed at runtime. The size limit of a shared flow bundle is 15 MB."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the shared flow to get. Must be of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$"
                }
              },
              "id": "apigee.organizations.sharedflows.get",
              "path": "v1/{+name}",
              "description": "Gets a shared flow by name, including a list of its revisions."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. shared flow name of the form: `organizations/{organization_id}/sharedflows/{shared_flow_id}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}",
              "description": "Deletes a shared flow and all it's revisions. The shared flow must be undeployed before you can delete it.",
              "path": "v1/{+name}",
              "id": "apigee.organizations.sharedflows.delete"
            },
            "move": {
              "description": "Moves an shared flow to a different space.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/sharedflows/{sharedflowsId}:move",
              "response": {
                "$ref": "GoogleCloudApigeeV1SharedFlow"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveSharedFlowRequest"
              },
              "path": "v1/{+name}:move",
              "id": "apigee.organizations.sharedflows.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/sharedflows/[^/]+$",
                  "description": "Required. Shared Flow to move in the following format: `organizations/{org}/sharedflows/{shared_flow}`"
                }
              }
            }
          }
        },
        "instances": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "path": "v1/{+name}",
              "id": "apigee.organizations.instances.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "description": "Gets the details for an Apigee runtime instance. **Note:** Not supported for Apigee hybrid.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v1/{+parent}/instances",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListInstancesResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum number of instances to return. Defaults to 25.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Page token, returned from a previous ListInstances call, that you can use to retrieve the next page of content.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`."
                }
              },
              "description": "Lists all Apigee runtime instances for the organization. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.instances.list"
            },
            "create": {
              "id": "apigee.organizations.instances.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/instances",
              "description": "Creates an Apigee runtime instance. The instance is accessible from the authorized network configured on the organization. **Note:** Not supported for Apigee hybrid.",
              "path": "v1/{+parent}/instances",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1Instance"
              },
              "description": "Updates an Apigee runtime instance. You can update the fields described in NodeConfig. No other fields will be updated. **Note:** Not supported for Apigee hybrid.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "httpMethod": "PATCH",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "List of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "location": "path"
                }
              },
              "id": "apigee.organizations.instances.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "reportStatus": {
              "request": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+instance}:reportStatus",
              "parameterOrder": [
                "instance"
              ],
              "description": "Reports the latest status for a runtime instance.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ReportInstanceStatusResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "instance": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "description": "The name of the instance reporting this status. For SaaS the request will be rejected if no instance exists under this name. Format is organizations/{org}/instances/{instance}",
                  "required": true
                }
              },
              "id": "apigee.organizations.instances.reportStatus",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}:reportStatus"
            },
            "delete": {
              "id": "apigee.organizations.instances.delete",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an Apigee runtime instance. The instance stops serving requests and the runtime data is deleted. **Note:** Not supported for Apigee hybrid.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^organizations/[^/]+/instances/[^/]+$",
                  "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          },
          "resources": {
            "natAddresses": {
              "methods": {
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Deletes the NAT address. Connections that are actively using the address are drained before it is removed. **Note:** Not supported for Apigee hybrid.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.natAddresses.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "required": true
                    }
                  }
                },
                "create": {
                  "id": "apigee.organizations.instances.natAddresses.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/natAddresses",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "description": "Creates a NAT address. The address is created in the RESERVED state and a static external IP address will be provisioned. At this time, the instance will not use this IP address for Internet egress traffic. The address can be activated for use once any required firewall IP whitelisting has been completed. **Note:** Not supported for Apigee hybrid."
                },
                "activate": {
                  "path": "v1/{+name}:activate",
                  "description": "Activates the NAT address. The Apigee instance can now use this for Internet egress traffic. **Note:** Not supported for Apigee hybrid.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ActivateNatAddressRequest"
                  },
                  "id": "apigee.organizations.instances.natAddresses.activate",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}:activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}``",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1NatAddress"
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the details of a NAT address. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses/{natAddressesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/natAddresses/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the nat address. Use the following structure in your request: `organizations/{org}/instances/{instances}/natAddresses/{nataddress}`",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.instances.natAddresses.get"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/natAddresses",
                  "description": "Lists the NAT addresses for an Apigee instance. **Note:** Not supported for Apigee hybrid.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/natAddresses",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListNatAddressesResponse"
                  },
                  "id": "apigee.organizations.instances.natAddresses.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Maximum number of natAddresses to return. Defaults to 25.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token, returned from a previous ListNatAddresses call, that you can use to retrieve the next page of content.",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "canaryevaluations": {
              "methods": {
                "create": {
                  "description": "Creates a new canary evaluation for an organization.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations",
                  "id": "apigee.organizations.instances.canaryevaluations.create",
                  "path": "v1/{+parent}/canaryevaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the CanaryEvaluation. Use the following structure in your request: `organizations/{org}/instances/*/canaryevaluations/{evaluation}`",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/canaryevaluations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a CanaryEvaluation for an organization.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/canaryevaluations/{canaryevaluationsId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1CanaryEvaluation"
                  },
                  "id": "apigee.organizations.instances.canaryevaluations.get"
                }
              }
            },
            "attachments": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/attachments",
                  "description": "Creates a new attachment of an environment to an instance. **Note:** Not supported for Apigee hybrid.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.instances.attachments.create",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "description": "Required. Name of the instance. Use the following structure in your request: `organizations/{org}/instances/{instance}`."
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Maximum number of instance attachments to return. Defaults to 25.",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}/instances/{instance}`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Page token, returned by a previous ListInstanceAttachments call, that you can use to retrieve the next page of content.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.instances.attachments.list",
                  "path": "v1/{+parent}/attachments",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments",
                  "description": "Lists all attachments to an instance. **Note:** Not supported for Apigee hybrid.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.instances.attachments.delete",
                  "description": "Deletes an attachment. **Note:** Not supported for Apigee hybrid."
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1InstanceAttachment"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the attachment. Use the following structure in your request: `organizations/{org}/instances/{instance}/attachments/{attachment}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/instances/[^/]+/attachments/[^/]+$"
                    }
                  },
                  "description": "Gets an attachment. **Note:** Not supported for Apigee hybrid.",
                  "flatPath": "v1/organizations/{organizationsId}/instances/{instancesId}/attachments/{attachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.instances.attachments.get"
                }
              }
            }
          }
        },
        "apiproducts": {
          "resources": {
            "rateplans": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/rateplans",
                  "id": "apigee.organizations.apiproducts.rateplans.create",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "description": "Create a rate plan that is associated with an API product in an organization. Using rate plans, API product owners can monetize their API products by configuring one or more of the following: - Billing frequency - Initial setup fees for using an API product - Payment funding model (postpaid only) - Fixed recurring or consumption-based charges for using an API product - Revenue sharing with developer partners An API product can have multiple rate plans associated with it but *only one* rate plan can be active at any point of time. **Note: From the developer's perspective, they purchase API products not rate plans.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API product that is associated with the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "description": "Gets the details of a rate plan.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "id": "apigee.organizations.apiproducts.rateplans.get"
                },
                "delete": {
                  "description": "Deletes a rate plan.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "id": "apigee.organizations.apiproducts.rateplans.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "description": "Required. ID of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "description": "Updates an existing rate plan.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                    }
                  },
                  "id": "apigee.organizations.apiproducts.rateplans.update"
                },
                "list": {
                  "path": "v1/{+parent}/rateplans",
                  "id": "apigee.organizations.apiproducts.rateplans.list",
                  "description": "Lists all the rate plans for an API product.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "expand": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API. Defaults to `false`."
                    },
                    "startKey": {
                      "location": "query",
                      "type": "string",
                      "description": "Name of the rate plan from which to start displaying the list of rate plans. If omitted, the list starts from the first item. For example, to view the rate plans from 51-150, set the value of `startKey` to the name of the 51st rate plan and set the value of `count` to 100."
                    },
                    "count": {
                      "location": "query",
                      "format": "int32",
                      "description": "Number of rate plans to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The maximum limit is 1000. Defaults to 100.",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Name of the attribute used for sorting. Valid values include: * `name`: Name of the rate plan. * `state`: State of the rate plan (`DRAFT`, `PUBLISHED`). * `startTime`: Time when the rate plan becomes active. * `endTime`: Time when the rate plan expires. **Note**: Not supported by Apigee at this time.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` Use `organizations/{org}/apiproducts/-` to return rate plans for all API products within the organization. If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$"
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "DRAFT",
                        "PUBLISHED"
                      ],
                      "enumDescriptions": [
                        "State of the rate plan is not specified.",
                        "Rate plan is in draft mode and only visible to API providers.",
                        "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
                      ],
                      "description": "State of the rate plans (`DRAFT`, `PUBLISHED`) that you want to display.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListRatePlansResponse"
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "updateApiProductAttribute": {
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "description": "Updates the value of an API product attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path"
                    }
                  },
                  "description": "Gets the value of an API product attribute."
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "path": "v1/{+parent}/attributes",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all API product attributes.",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "description": "Deletes an API product attribute.",
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "id": "apigee.organizations.apiproducts.delete",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Deletes an API product from an organization. Deleting an API product causes app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "path": "v1/{+name}",
              "id": "apigee.organizations.apiproducts.update",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "httpMethod": "PUT",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path.To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via UI or API. View the list of API products to identify their internal names. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "apigee.organizations.apiproducts.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/apiproducts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "startKey": {
                  "description": "Gets a list of API products starting with a specific API product in the list. For example, if you're returning 50 API products at a time (using the `count` query parameter), you can view products 50-99 by entering the name of the 50th API product in the first API (without using `startKey`). Product name is case sensitive.",
                  "location": "query",
                  "type": "string"
                },
                "expand": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API."
                },
                "space": {
                  "description": "Optional. The Space to list API products for. When none provided, all the spaces the user has list access, will be used implicitly, and the same following rules will apply. Can be used in conjunction with start_key, expand and count for paginated response. Composite queries with attributename and attributevalue are not supported yet.",
                  "location": "query",
                  "type": "string"
                },
                "count": {
                  "location": "query",
                  "description": "Enter the number of API products you want returned in the API call. The limit is 1000.",
                  "type": "string",
                  "format": "int64"
                },
                "attributevalue": {
                  "description": "Value of the attribute used to filter the search.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "location": "path",
                  "pattern": "^organizations/[^/]+$"
                },
                "attributename": {
                  "location": "query",
                  "type": "string",
                  "description": "Name of the attribute used to filter the search."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "description": "Lists all API product names for an organization. Filter the list by passing an `attributename` and `attibutevalue`. The maximum number of API products returned is 1000. You can paginate the list of API products returned using the `startKey` and `count` query parameters. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "path": "v1/{+parent}/apiproducts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
[...]
