{
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "version": "v1",
  "ownerName": "Google",
  "endpoints": [
    {
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    }
  ],
  "protocol": "rest",
  "servicePath": "",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "title": "Apigee API",
  "basePath": "",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "canonicalName": "Apigee",
  "revision": "20260820",
  "name": "apigee",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "GoogleCloudApigeeV1MoveApiProductRequest": {
      "type": "object",
      "description": "Moves API product to a different space.",
      "id": "GoogleCloudApigeeV1MoveApiProductRequest",
      "properties": {
        "space": {
          "type": "string",
          "description": "Optional. Resource ID of the space to move the API product to. If unspecified, the API product will be moved to the organization level."
        }
      }
    },
    "EdgeConfigstoreBundleBadBundle": {
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "EdgeConfigstoreBundleBadBundleViolation"
          },
          "description": "Describes all precondition violations.",
          "type": "array"
        }
      },
      "description": "Describes why a bundle is invalid. Intended for use in error details.",
      "id": "EdgeConfigstoreBundleBadBundle"
    },
    "GoogleCloudApigeeV1EnvironmentGroup": {
      "properties": {
        "createdAt": {
          "format": "int64",
          "description": "Output only. The time at which the environment group was created as milliseconds since epoch.",
          "type": "string",
          "readOnly": true
        },
        "hostnames": {
          "type": "array",
          "description": "Required. Host names for this environment group.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "description": "Output only. State of the environment group. Values other than ACTIVE means the resource is not ready to use."
        },
        "lastModifiedAt": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The time at which the environment group was last updated as milliseconds since epoch."
        },
        "name": {
          "type": "string",
          "description": "ID of the environment group."
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentGroup",
      "description": "EnvironmentGroup configuration. An environment group is used to group one or more Apigee environments under a single host name.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter": {
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter",
      "type": "object",
      "properties": {
        "scorePath": {
          "type": "string",
          "description": "Optional. Return scores for this component. Example: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\""
        }
      },
      "description": "Filter scores by component path. Used custom filter instead of AIP-160 as the use cases are highly constrained and predictable."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute",
      "type": "object",
      "properties": {
        "envgroup": {
          "type": "string",
          "description": "Environment group where this route is installed."
        },
        "basepath": {
          "type": "string",
          "description": "Base path in the routing table."
        },
        "environment": {
          "description": "Destination environment. This will be empty if the route is not yet reported.",
          "type": "string"
        },
        "percentage": {
          "format": "int32",
          "type": "integer",
          "description": "Percentage of ingress replicas reporting this route."
        }
      },
      "description": "Route deployed in the ingress routing table."
    },
    "GoogleCloudApigeeV1LlmOperationConfig": {
      "type": "object",
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "properties": {
        "attributes": {
          "description": "Optional. Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "llmOperations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1LlmOperation"
          },
          "type": "array",
          "description": "Required. List of resource/method/model for the API proxy to which quota will applied. **Note**: Currently, you can specify only a single resource/method/model mapping. The call will fail if more than one resource/method/model mappings are provided."
        },
        "apiSource": {
          "type": "string",
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated."
        },
        "llmTokenQuota": {
          "$ref": "GoogleCloudApigeeV1LlmTokenQuota",
          "description": "Required. LLM token Quota parameters to be enforced for the resources, methods, and API source & LLM model combination. If none are specified, quota enforcement will not be done."
        }
      },
      "id": "GoogleCloudApigeeV1LlmOperationConfig"
    },
    "GoogleCloudApigeeV1Result": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\""
        },
        "ActionResult": {
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess",
          "type": "string"
        },
        "accessList": {
          "type": "array",
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          }
        },
        "timestamp": {
          "type": "string",
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "uRI": {
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`",
          "type": "string"
        },
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        },
        "headers": {
          "type": "array",
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Result",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentConfig": {
      "id": "GoogleCloudApigeeV1DeploymentConfig",
      "description": "NEXT ID: 11",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the API or shared flow revision to be deployed in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` or `organizations/{org}/sharedflows/{sharedflow}/revisions/{rev}`"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Additional key-value metadata for the deployment."
        },
        "location": {
          "description": "Location of the API proxy bundle as a URI.",
          "type": "string"
        },
        "proxyUid": {
          "type": "string",
          "description": "Unique ID of the API proxy revision."
        },
        "endpoints": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A mapping from basepaths to proxy endpoint names in this proxy. Not populated for shared flows.",
          "type": "object"
        },
        "deploymentGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of deployment groups in which this proxy should be deployed. Not currently populated for shared flows."
        },
        "basePath": {
          "type": "string",
          "description": "Base path where the application will be hosted. Defaults to \"/\"."
        },
        "serviceAccount": {
          "description": "The service account identity associated with this deployment. If non-empty, will be in the following format: `projects/-/serviceAccounts/{account_email}`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID. The ID will only change if the deployment is deleted and recreated."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Keystore": {
      "properties": {
        "aliases": {
          "type": "array",
          "description": "Output only. Aliases in this keystore.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "description": "Required. Resource ID for this keystore. Values must match the regular expression `[\\w[:space:].-]{1,255}`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Keystore",
      "description": "Datastore for Certificates and Aliases.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSharedFlowsResponse": {
      "properties": {
        "sharedFlows": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SharedFlow"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListSharedFlowsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1DocumentationFile": {
      "id": "GoogleCloudApigeeV1DocumentationFile",
      "type": "object",
      "properties": {
        "contents": {
          "type": "string",
          "description": "Required. The file contents. The max size is 4 MB.",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A display name for the file, shown in the management UI. Max length is 255 characters."
        }
      },
      "description": "Documentation file contents for a catalog item."
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultResource": {
      "properties": {
        "name": {
          "description": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment.",
          "type": "string"
        },
        "apiHubDeploymentDetails": {
          "description": "Output only. Additional details for the API Hub deployment.",
          "readOnly": true,
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "ResourceType not specified.",
            "Resource is an Apigee Proxy.",
            "Resource is an API Hub deployment."
          ],
          "description": "Required. Type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "API_PROXY",
            "API_HUB_DEPLOYMENT"
          ]
        },
        "apiHubGatewayType": {
          "description": "Optional. ",
          "enumDescriptions": [
            "Gateway type is not specified.",
            "Gateway is Apigee X for API Hub.",
            "Gateway is Apigee Hybrid for API Hub.",
            "Gateway is Apigee Edge for API Hub.",
            "Gateway is Apigee OPDK for API Hub."
          ],
          "enum": [
            "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X",
            "APIGEE_HYBRID",
            "APIGEE_EDGE",
            "APIGEE_OPDK"
          ],
          "type": "string"
        },
        "resourceRevisionId": {
          "description": "The revision id for the resource. In case of Apigee, this is proxy revision id.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultResource",
      "description": "Resource for which we are computing security assessment.",
      "type": "object"
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "podName": {
          "description": "Name of the pod which is reporting the status.",
          "type": "string"
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "statusCode": {
          "type": "string",
          "description": "Code associated with the deployment status."
        },
        "deploymentTime": {
          "format": "int64",
          "type": "string",
          "description": "Time the proxy was deployed in milliseconds since epoch."
        },
        "podStatus": {
          "type": "string",
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output."
        },
        "deploymentStatusTime": {
          "format": "int64",
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "type": "string"
        },
        "deploymentStatus": {
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment.",
          "type": "string"
        },
        "podStatusTime": {
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "statusCodeDetails": {
          "type": "string",
          "description": "Human-readable message associated with the status code."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray",
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource"
          },
          "description": "Required. The array of resources. For Apigee, the proxies are resources.",
          "type": "array"
        }
      },
      "description": "Message for the array of resources. For Apigee, the proxies are resources."
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "description": "Response for ListInstanceAttachments.",
      "properties": {
        "attachments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          },
          "type": "array",
          "description": "Attachments for the instance."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      },
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "properties": {},
      "description": "Placeholder for future enhancements to status reporting protocol"
    },
    "GoogleCloudApigeeV1QueryTabularStatsRequest": {
      "properties": {
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Time range for the stats."
        },
        "filter": {
          "type": "string",
          "description": "Filter further on specific dimension values. Follows the same grammar as custom report's filter expressions. Example, apiproxy eq 'foobar'. https://cloud.google.com/apigee/docs/api-platform/analytics/analytics-reference#filters"
        },
        "pageToken": {
          "description": "Identifies a sequence of rows.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. List of dimension names to group the aggregations by."
        },
        "metrics": {
          "type": "array",
          "description": "Required. List of metrics and their aggregations.",
          "items": {
            "$ref": "GoogleCloudApigeeV1MetricAggregation"
          }
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Page size represents the number of rows."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryTabularStatsRequest",
      "description": "Request payload representing the query to be run for fetching security statistics as rows."
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "id": "GoogleCloudApigeeV1GraphQLOperation",
      "type": "object",
      "properties": {
        "operation": {
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload.",
          "type": "string"
        },
        "operationTypes": {
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name."
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "type": "object",
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "description": "Request for AdjustDeveloperBalance.",
      "properties": {
        "adjustment": {
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase. NOTE: An adjustment cannot increase the balance of the developer beyond the balance as of the most recent credit. For example, if a developer's balance is updated to be $100, and they spend $10, a negative adjustment can only increase the balance of the developer to $100.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAction": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Required. Only an ENABLED SecurityAction is enforced. An ENABLED SecurityAction past its expiration time will not be enforced.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The default value. This only exists for forward compatibility. A create request with this value will be rejected.",
            "An ENABLED SecurityAction is actively enforced if the `expiration_time` is in the future.",
            "A disabled SecurityAction is never enforced."
          ]
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "The expiration for this SecurityAction.",
          "type": "string"
        },
        "flag": {
          "description": "Flag a request through if it matches this SecurityAction.",
          "$ref": "GoogleCloudApigeeV1SecurityActionFlag"
        },
        "deny": {
          "$ref": "GoogleCloudApigeeV1SecurityActionDeny",
          "description": "Deny a request through if it matches this SecurityAction."
        },
        "apiProxies": {
          "description": "Optional. If unset, this would apply to all proxies in the environment. If set, this action is enforced only if at least one proxy in the repeated list is deployed at the time of enforcement. If set, several restrictions are enforced on SecurityActions. There can be at most 100 enabled actions with proxies set in an env. Several other restrictions apply on conditions and are detailed later.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "allow": {
          "description": "Allow a request through if it matches this SecurityAction.",
          "$ref": "GoogleCloudApigeeV1SecurityActionAllow"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time for this SecurityAction. This reflects when this SecurityAction changed states.",
          "format": "google-datetime"
        },
        "conditionConfig": {
          "description": "Required. A valid SecurityAction must contain at least one condition.",
          "$ref": "GoogleCloudApigeeV1SecurityActionConditionConfig"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time for this SecurityAction.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. An optional user provided description of the SecurityAction.",
          "type": "string"
        },
        "ttl": {
          "format": "google-duration",
          "type": "string",
          "description": "Input only. The TTL for this SecurityAction."
        },
        "name": {
          "description": "Immutable. This field is ignored during creation as per AIP-133. Please set the `security_action_id` field in the CreateSecurityActionRequest when creating a new SecurityAction. Format: organizations/{org}/environments/{env}/securityActions/{security_action}",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityAction",
      "type": "object",
      "description": "A SecurityAction is rule that can be enforced at an environment level. The result is one of: - A denied API call - An explicitly allowed API call - A flagged API call (HTTP headers added before the target receives it) At least one condition is required to create a SecurityAction."
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RoutingRule",
      "properties": {
        "environment": {
          "type": "string",
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`. Only one of environment or deployment_group will be set."
        },
        "envGroupRevision": {
          "format": "int64",
          "type": "string",
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string"
        },
        "receiver": {
          "type": "string",
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL."
        },
        "basepath": {
          "type": "string",
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string."
        },
        "otherTargets": {
          "type": "array",
          "description": "Conflicting targets, which will be resource names specifying either deployment groups or environments.",
          "items": {
            "type": "string"
          }
        },
        "deploymentGroup": {
          "description": "Name of a deployment group in an environment bound to the environment group in the following format: `organizations/{org}/environment/{env}/deploymentGroups/{group}` Only one of environment or deployment_group will be set.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "type": "object",
      "properties": {
        "resourceFile": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resources files."
        }
      },
      "description": "Response for ListEnvironmentResources",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
    },
    "GoogleCloudApigeeV1DisableSecurityActionRequest": {
      "description": "Message to disable an enabled SecurityAction.",
      "id": "GoogleCloudApigeeV1DisableSecurityActionRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1Credential": {
      "properties": {
        "scopes": {
          "type": "array",
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "items": {
            "type": "string"
          }
        },
        "issuedAt": {
          "description": "Time the credential was issued in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "List of API products this credential can be used for."
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "expiresAt": {
          "format": "int64",
          "description": "Time the credential will expire in milliseconds since epoch.",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with this credential."
        },
        "consumerSecret": {
          "type": "string",
          "description": "Secret key."
        }
      },
      "id": "GoogleCloudApigeeV1Credential",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReport": {
      "type": "object",
      "properties": {
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the Security Report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        },
        "resultRows": {
          "format": "int64",
          "description": "ResultRows is available only after the query is completed.",
          "type": "string"
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname is available only when query is executed at host level."
        },
        "error": {
          "description": "Error is set when query fails.",
          "type": "string"
        },
        "reportDefinitionId": {
          "description": "Report Definition ID.",
          "type": "string"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name specified by the user."
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Last updated timestamp for the query."
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"expired\" and \"failed\"."
        },
        "created": {
          "description": "Creation time of the query.",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1SecurityReportResultMetadata",
          "description": "Result is available only after the query is completed."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityReport",
      "description": "SecurityReport saves all the information about the created security report."
    },
    "GoogleCloudApigeeV1DeploymentChangeReport": {
      "properties": {
        "routingChanges": {
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingChange"
          },
          "type": "array",
          "description": "All routing changes that may result from a deployment request."
        },
        "validationErrors": {
          "$ref": "GoogleRpcPreconditionFailure",
          "description": "Validation errors that would cause the deployment change request to be rejected."
        },
        "routingConflicts": {
          "description": "All base path conflicts detected for a deployment request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict"
          }
        }
      },
      "id": "GoogleCloudApigeeV1DeploymentChangeReport",
      "type": "object",
      "description": "Response for GenerateDeployChangeReport and GenerateUndeployChangeReport. This report contains any validation failures that would cause the deployment to be rejected, as well changes and conflicts in routing that may occur due to the new deployment. The existence of a routing warning does not necessarily imply that the deployment request is bad, if the desired state of the deployment request is to effect a routing change. The primary purposes of the routing messages are: 1) To inform users of routing changes that may have an effect on traffic currently being routed to other existing deployments. 2) To warn users if some base path in the proxy will not receive traffic due to an existing deployment having already claimed that base path. The presence of routing conflicts/changes will not cause non-dry-run DeployApiProxy/UndeployApiProxy requests to be rejected."
    },
    "GoogleCloudApigeeV1ConnectorsPlatformConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the Connectors Platform add-on is enabled."
        },
        "expiresAt": {
          "type": "string",
          "description": "Output only. Time at which the Connectors Platform add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Configuration for the Connectors Platform add-on.",
      "id": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
    },
    "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse": {
      "type": "object",
      "description": "Response for ListDeveloperSubscriptions.",
      "id": "GoogleCloudApigeeV1ListDeveloperSubscriptionsResponse",
      "properties": {
        "nextStartKey": {
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "developerSubscriptions": {
          "type": "array",
          "description": "List of all subscriptions.",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperSubscription"
          }
        }
      }
    },
    "GoogleCloudApigeeV1FlowHook": {
      "type": "object",
      "properties": {
        "flowHookPoint": {
          "readOnly": true,
          "description": "Output only. Where in the API call flow the flow hook is invoked. Must be one of `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, or `PostTargetFlowHook`.",
          "type": "string"
        },
        "continueOnError": {
          "type": "boolean",
          "description": "Optional. Flag that specifies whether execution should continue if the flow hook throws an exception. Set to `true` to continue execution. Set to `false` to stop execution if the flow hook throws an exception. Defaults to `true`."
        },
        "sharedFlow": {
          "type": "string",
          "description": "Shared flow attached to this flow hook, or empty if there is none attached."
        },
        "description": {
          "description": "Description of the flow hook.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1FlowHook"
    },
    "GoogleCloudApigeeV1ApiDoc": {
      "properties": {
        "imageUrl": {
          "description": "Optional. Location of the image used for the catalog item in the catalog. This can be either an image with an external URL or a file path for [image files stored in the portal](/apigee/docs/api-platform/publish/portal/portal-files\"), for example, `/files/book-tree.jpg`. When specifying the URL of an external image, the image won't be uploaded to your assets; additionally, loading the image in the integrated portal will be subject to its availability, which may be blocked or restricted by [content security policies](/apigee/docs/api-platform/publish/portal/csp). Max length of file path is 2,083 characters.",
          "type": "string"
        },
        "visibility": {
          "type": "boolean",
          "description": "Optional. DEPRECATED: use the `published` field instead"
        },
        "siteId": {
          "description": "Output only. The ID of the parent portal.",
          "type": "string",
          "readOnly": true
        },
        "edgeAPIProductName": {
          "type": "string",
          "description": "Optional. Immutable. DEPRECATED: use the `apiProductName` field instead"
        },
        "title": {
          "type": "string",
          "description": "Required. The user-facing name of the catalog item. `title` must be a non-empty string with a max length of 255 characters."
        },
        "apiProductName": {
          "type": "string",
          "description": "Required. Immutable. The `name` field of the associated [API product](/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). A portal may have only one catalog item associated with a given API product."
        },
        "anonAllowed": {
          "description": "Optional. Boolean flag that manages user access to the catalog item. When true, the catalog item has public visibility and can be viewed anonymously; otherwise, only registered users may view it. Note: when the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), and this flag is set to false, visibility is set to an indeterminate state and must be explicitly specified in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)). Additionally, when enrolled in the audience management feature, updates to this flag will be ignored as visibility permissions must be updated in the management UI.",
          "type": "boolean"
        },
        "specId": {
          "type": "string",
          "description": "Optional. DEPRECATED: DO NOT USE",
          "deprecated": true
        },
        "graphqlSchemaDisplayName": {
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods",
          "type": "string"
        },
        "categoryIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The IDs of the API categories to which this catalog item belongs.",
          "type": "array"
        },
        "graphqlSchema": {
          "type": "string",
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods",
          "deprecated": true
        },
        "requireCallbackUrl": {
          "type": "boolean",
          "description": "Optional. Whether a callback URL is required when this catalog item's API product is enabled in a developer app. When true, a portal user will be required to input a URL when managing the app (this is typically used for the app's OAuth flow)."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the catalog item. Max length is 10,000 characters."
        },
        "published": {
          "description": "Optional. Denotes whether the catalog item is published to the portal or is in a draft state. When the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), the visibility can be set to public on creation by setting the anonAllowed flag to true or further managed in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)) before it can be visible to any users. If not enrolled in the audience management feature, the visibility is managed by the `anonAllowed` flag.",
          "type": "boolean"
        },
        "modified": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the catalog item was last modified in milliseconds since epoch."
        },
        "graphqlEndpointUrl": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "id": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The ID of the catalog item."
        }
      },
      "description": "`ApiDoc` represents an API catalog item. Catalog items are used in two ways in a portal: - Users can browse and interact with a visual representation of the API documentation - The `api_product_name` field provides a link to a backing [API product] (/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). Through this link, portal users can create and manage developer apps linked to one or more API products.",
      "id": "GoogleCloudApigeeV1ApiDoc",
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationConfig": {
      "id": "GoogleCloudApigeeV1OperationConfig",
      "description": "Binds the resources in an API proxy or remote service with the allowed REST methods and associated quota enforcement.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "List of resource/method pairs for the API proxy or remote service to which quota will applied. **Note**: Currently, you can specify only a single resource/method pair. The call will fail if more than one resource/method pair is provided.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Operation"
          },
          "type": "array"
        },
        "attributes": {
          "description": "Custom attributes associated with the operation.",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "type": "array"
        },
        "apiSource": {
          "type": "string",
          "description": "Required. Name of the API proxy or remote service with which the resources, methods, and quota are associated."
        },
        "quota": {
          "$ref": "GoogleCloudApigeeV1Quota",
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done."
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "properties": {
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ]
        },
        "samplingRate": {
          "type": "number",
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityMonitoringCondition": {
      "description": "Security monitoring condition for risk assessment version 2.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time of the security monitoring condition creation."
        },
        "scope": {
          "type": "string",
          "description": "Optional. Scope of the security monitoring condition. When RiskAssessmentType is APIGEE, the scope should be set to the environment of the resources. When RiskAssessmentType is API_HUB, the scope should not be set."
        },
        "totalDeployedResources": {
          "description": "Output only. Total number of deployed resources within scope.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time of the security monitoring condition update.",
          "type": "string"
        },
        "include": {
          "description": "Include only these resources.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray"
        },
        "profile": {
          "type": "string",
          "description": "Required. ID of security profile of the security monitoring condition."
        },
        "apiHubGateway": {
          "type": "string",
          "description": "Optional. The API Hub gateway monitored by the security monitoring condition. This should only be set if risk_assessment_type is API_HUB. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        },
        "totalMonitoredResources": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of monitored resources within this condition."
        },
        "riskAssessmentType": {
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ],
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ],
          "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
          "type": "string"
        },
        "includeAllResources": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll",
          "description": "Include all resources under the scope."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityMonitoringCondition"
    },
    "GoogleCloudApigeeV1TraceSamplingConfig": {
      "type": "object",
      "properties": {
        "sampler": {
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ],
          "type": "string"
        },
        "samplingRate": {
          "type": "number",
          "format": "float",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5."
        }
      },
      "id": "GoogleCloudApigeeV1TraceSamplingConfig",
      "description": "TraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs."
    },
    "GoogleCloudApigeeV1CustomReport": {
      "type": "object",
      "id": "GoogleCloudApigeeV1CustomReport",
      "properties": {
        "offset": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the offset for the data"
        },
        "dimensions": {
          "type": "array",
          "description": "This contains the list of dimensions for the report",
          "items": {
            "type": "string"
          }
        },
        "sortOrder": {
          "description": "Legacy field: not used much. Contains the sort order for the sort columns",
          "type": "string"
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        },
        "topk": {
          "type": "string",
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result"
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "type": "string",
          "readOnly": true
        },
        "filter": {
          "description": "This field contains the filter expression",
          "type": "string"
        },
        "sortByCols": {
          "description": "Legacy field: not used much. Contains the list of sort by columns",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "comments": {
          "type": "array",
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "items": {
            "type": "string"
          }
        },
        "organization": {
          "readOnly": true,
          "description": "Output only. Organization name",
          "type": "string"
        },
        "tags": {
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "toTime": {
          "description": "Legacy field: not used. Contains the end time for the report",
          "type": "string"
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "environment": {
          "description": "Output only. Environment name",
          "readOnly": true,
          "type": "string"
        },
        "properties": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          },
          "description": "This field contains report properties such as ui metadata etc.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "This is the display name for the report"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt"
        },
        "timeUnit": {
          "type": "string",
          "description": "This field contains the time unit of aggregation for the report"
        },
        "lastViewedAt": {
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "metrics": {
          "description": "Required. This contains the list of metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "name": {
          "type": "string",
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id"
        }
      }
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "properties": {
        "timeRange": {
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned, and both the start and end dates must be within the last 90 days.",
          "$ref": "GoogleTypeInterval"
        },
        "filters": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          },
          "type": "array",
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\""
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page.",
          "type": "integer"
        }
      },
      "description": "Request for ComputeEnvironmentScores.",
      "type": "object"
    },
    "GoogleCloudApigeeV1AccessSet": {
      "id": "GoogleCloudApigeeV1AccessSet",
      "type": "object",
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ProvisionOrganizationRequest": {
      "id": "GoogleCloudApigeeV1ProvisionOrganizationRequest",
      "description": "Request for ProvisionOrganization.",
      "properties": {
        "disableVpcPeering": {
          "description": "Optional. Flag that specifies whether the VPC Peering through Private Google Access should be disabled between the consumer network and Apigee. Required if an authorizedNetwork on the consumer project is not provided, in which case the flag should be set to true. The value must be set before the creation of any Apigee runtime instance and can be updated only when there are no runtime instances. **Note:** Apigee will be deprecating the vpc peering model that requires you to provide 'authorizedNetwork', by making the non-peering model as the default way of provisioning Apigee organization in future. So, this will be a temporary flag to enable the transition. Not supported for Apigee hybrid.",
          "type": "boolean"
        },
        "analyticsRegion": {
          "type": "string",
          "description": "Primary Cloud Platform region for analytics data storage. For valid values, see [Create an organization](https://cloud.google.com/apigee/docs/hybrid/latest/precog-provision). Defaults to `us-west1`."
        },
        "authorizedNetwork": {
          "description": "Compute Engine network used for Service Networking to be peered with Apigee runtime instances. See [Getting started with the Service Networking API](https://cloud.google.com/service-infrastructure/docs/service-networking/getting-started). Apigee also supports shared VPC (that is, the host network project is not the same as the one that is peering with Apigee). See [Shared VPC overview](https://cloud.google.com/vpc/docs/shared-vpc). To use a shared VPC network, use the following format: `projects/{host-project-id}/{region}/networks/{network-name}`. For example: `projects/my-sharedvpc-host/global/networks/mynetwork`",
          "type": "string"
        },
        "runtimeLocation": {
          "description": "Cloud Platform location for the runtime instance. Defaults to zone `us-west1-a`. If a region is provided, `EVAL` organizations will use the region for automatically selecting a zone for the runtime instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1FlowHookConfig": {
      "id": "GoogleCloudApigeeV1FlowHookConfig",
      "type": "object",
      "properties": {
        "continueOnError": {
          "description": "Flag that specifies whether the flow should abort after an error in the flow hook. Defaults to `true` (continue on error).",
          "type": "boolean"
        },
        "sharedFlowName": {
          "description": "Name of the shared flow to invoke in the following format: `organizations/{org}/sharedflows/{sharedflow}`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{point}`. Valid `point` values include: `PreProxyFlowHook`, `PostProxyFlowHook`, `PreTargetFlowHook`, and `PostTargetFlowHook`"
        }
      }
    },
    "GoogleCloudApigeeV1MoveSharedFlowRequest": {
      "id": "GoogleCloudApigeeV1MoveSharedFlowRequest",
      "type": "object",
      "description": "Moves a Shared Flow to a different space.",
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the shared flow to. If unspecified, the shared flow will be moved to the organization level.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse": {
      "description": "Response for BatchUpdateSecurityIncident.",
      "properties": {
        "securityIncidents": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Updated security incidents"
        }
      },
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "description": "NEXT ID: 13 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "properties": {
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          },
          "type": "array"
        },
        "traceProtocol": {
          "description": "Optional. The trace protocol to use.",
          "type": "string",
          "enumDescriptions": [
            "Protocol unspecified. Defaults to OPEN_CENSUS.",
            "Uses OpenCensus protocol.",
            "Uses OpenTelemetry Protocol (OTLP)."
          ],
          "enum": [
            "TRACE_PROTOCOL_UNSPECIFIED",
            "OPEN_CENSUS",
            "OTLP"
          ]
        },
        "otelCollectorSecurityScheme": {
          "enum": [
            "OTEL_COLLECTOR_SECURITY_SCHEME_UNSPECIFIED",
            "NONE",
            "MTLS"
          ],
          "enumDescriptions": [
            "Unspecified. Behavior is identical to NONE.",
            "Default. Unauthenticated OTLP/HTTP export. Preserves today's behavior byte-for-byte for existing configurations.",
            "Mutual TLS via customer PKI. Cert material is stored in Apigee Keystores/Truststores and referenced by resource ID in `mtls_config` (same mechanism as TargetServer.tls_info)."
          ],
          "description": "Optional. Security scheme for the outbound connection to the customer-owned OpenTelemetry Collector. Only meaningful when `exporter` is `OPEN_TELEMETRY_COLLECTOR`. Runtime consumers unaware of a value should treat it as `OTEL_COLLECTOR_SECURITY_SCHEME_UNSPECIFIED` (== NONE).",
          "type": "string"
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "endpoint": {
          "type": "string",
          "description": "Endpoint of the exporter."
        },
        "spanSemantics": {
          "enumDescriptions": [
            "Semantics unspecified. Defaults to LEGACY.",
            "Uses Apigee legacy span and attribute names.",
            "Uses OpenTelemetry semantic-convention-aligned span and attribute names."
          ],
          "enum": [
            "SPAN_SEMANTICS_UNSPECIFIED",
            "LEGACY",
            "OTEL"
          ],
          "type": "string",
          "description": "Optional. The span semantics to use. Configuration Requirements (if `span_semantics` is `OTEL`): - `trace_protocol` must be `OTLP`."
        },
        "exporter": {
          "enumDescriptions": [
            "Exporter unspecified",
            "Exports events to Jaeger. Compatible with OpenCensus protocol.",
            "Exports events to Cloud Trace. Compatible with OpenCensus protocol.",
            "OpenTelemetry Collector. Compatible with OpenTelemetry protocol.",
            "Exports events to Cloud Trace. Compatible with OpenTelemetry protocol."
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE",
            "OPEN_TELEMETRY_COLLECTOR",
            "OPEN_TELEMETRY_CLOUD_TRACE"
          ]
        },
        "revisionCreateTime": {
          "type": "string",
          "description": "The timestamp that the revision was created or updated.",
          "format": "google-datetime"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions.",
          "type": "string"
        },
        "mTlsConfig": {
          "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOtelMtlsConfig",
          "description": "Optional. mTLS configuration for the OTel Collector endpoint. Required when `otel_collector_security_scheme` is `MTLS`; must be absent otherwise."
        },
        "openTelemetryProtocolEnabled": {
          "description": "Optional. If `true`, the runtime uses OpenTelemetry Protocol (OTLP) to send trace data. Configuration Requirements (if `open_telemetry_protocol_enabled` is `true`): - Allowed `Exporter`s: `CLOUD_TRACE` or `OPEN_TELEMETRY_COLLECTOR`. - If `Exporter` is `OPEN_TELEMETRY_COLLECTOR`: - `endpoint` refers to a valid OTLP collector URL. - If `Exporter` is `CLOUD_TRACE`: - `endpoint` refers to a valid project ID Deprecated: Use trace_protocol instead.",
          "deprecated": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeApiSecurityConfig": {
      "id": "GoogleCloudApigeeV1RuntimeApiSecurityConfig",
      "properties": {
        "enabled": {
          "description": "If the API Security is enabled or not.",
          "type": "boolean"
        }
      },
      "description": "Runtime configuration for the API Security add-on.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListExportsResponse": {
      "properties": {
        "exports": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Export"
          },
          "description": "Details of the export jobs.",
          "type": "array"
        }
      },
      "description": "The response for ListExports",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListExportsResponse"
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "description": "Wallet used to manage an account balance for a particular currency.",
      "properties": {
        "balance": {
          "description": "Current remaining balance of the developer for a particular currency.",
          "$ref": "GoogleTypeMoney"
        },
        "lastCreditTime": {
          "readOnly": true,
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "type": "object",
      "properties": {
        "identities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts)."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions."
        }
      },
      "id": "GoogleCloudApigeeV1SyncAuthorization"
    },
    "GoogleCloudApigeeV1DataCollector": {
      "properties": {
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        },
        "type": {
          "description": "Immutable. The type of data this data collector will collect.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ],
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch."
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DataCollector",
      "description": "Data collector configuration.",
      "type": "object"
    },
    "GoogleTypeMoney": {
      "type": "object",
      "id": "GoogleTypeMoney",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      }
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "type": "object",
      "properties": {
        "apiProxy": {
          "description": "ID of the API proxy that will have its trace configuration overridden.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "ID of the trace configuration override specified as a system-generated UUID."
        },
        "samplingConfig": {
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig",
          "description": "Trace configuration to override."
        }
      },
      "description": "A representation of a configuration override.",
      "id": "GoogleCloudApigeeV1TraceConfigOverride"
    },
    "GoogleCloudApigeeV1SecurityActionAllow": {
      "type": "object",
      "description": "Message that should be set in case of an Allow Action. This does not have any fields.",
      "properties": {},
      "id": "GoogleCloudApigeeV1SecurityActionAllow"
    },
    "GoogleCloudApigeeV1ListOrganizationsResponse": {
      "properties": {
        "organizations": {
          "type": "array",
          "description": "List of Apigee organizations and associated Google Cloud projects.",
          "items": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListOrganizationsResponse"
    },
    "GoogleCloudApigeeV1ListSecurityFeedbackResponse": {
      "type": "object",
      "properties": {
        "securityFeedback": {
          "description": "List of SecurityFeedback reports.",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedback"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in `ListSecurityFeedbackRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityFeedbackResponse",
      "description": "Response for ListSecurityFeedback"
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation": {
      "description": "The message format of a recommendation from the assessment.",
      "type": "object",
      "properties": {
        "weight": {
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ],
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ],
          "type": "string",
          "description": "The weight of the assessment which was set in the profile."
        },
        "displayName": {
          "description": "The display name of the assessment.",
          "type": "string"
        },
        "scoreImpact": {
          "format": "int32",
          "type": "integer",
          "description": "Score impact indicates the impact on the overall score if the assessment were to pass."
        },
        "verdict": {
          "type": "string",
          "description": "Verdict indicates the assessment result.",
          "enumDescriptions": [
            "The verdict is unspecified.",
            "The assessment has passed.",
            "The assessment has failed.",
            "The verdict is not applicable."
          ],
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "FAIL",
            "NOT_APPLICABLE"
          ]
        },
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation"
          },
          "description": "The recommended steps of the assessment.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation"
    },
    "GoogleCloudApigeeV1RevenueShareRange": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RevenueShareRange",
      "description": "API call volume range and the percentage of revenue to share with the developer when the total number of API calls is within the range.",
      "properties": {
        "sharePercentage": {
          "description": "Percentage of the revenue to be shared with the developer. For example, to share 21 percent of the total revenue with the developer, set this value to 21. Specify a decimal number with a maximum of two digits following the decimal point.",
          "format": "double",
          "type": "number"
        },
        "start": {
          "format": "int64",
          "description": "Starting value of the range. Set to 0 or `null` for the initial range of values.",
          "type": "string"
        },
        "end": {
          "description": "Ending value of the range. Set to 0 or `null` for the last range of values.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink": {
      "description": "The format for a link in the recommendation.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the url. (ie: \"Learn more\")"
        },
        "uri": {
          "type": "string",
          "description": "The link itself."
        }
      },
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink"
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer"
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportResultMetadata": {
      "id": "GoogleCloudApigeeV1SecurityReportResultMetadata",
      "properties": {
        "self": {
          "type": "string",
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
        },
        "expires": {
          "readOnly": true,
          "description": "Output only. Expire_time is set to 7 days after report creation. Query result will be unaccessable after this time. Example: \"2021-05-04T13:38:52-07:00\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains informations about the security report results."
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "type": "object",
      "properties": {
        "self": {
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`",
          "type": "string"
        },
        "result": {
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult",
          "description": "Result is available only after the query is completed."
        },
        "envgroupHostname": {
          "type": "string",
          "description": "Hostname is available only when query is executed at host level."
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "executionTime": {
          "type": "string",
          "description": "ExecutionTime is available only after the query is completed."
        },
        "name": {
          "type": "string",
          "description": "Asynchronous Query Name."
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "updated": {
          "type": "string",
          "description": "Last updated timestamp for the query."
        },
        "state": {
          "type": "string",
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\"."
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQuery"
    },
    "GoogleCloudApigeeV1Metric": {
      "type": "object",
      "description": "Encapsulates the metric data point. For example: ```{ \"name\": \"sum(message_count)\", \"values\" : [ { \"timestamp\": 1549004400000, \"value\": \"39.0\" }, { \"timestamp\" : 1548997200000, \"value\" : \"0.0\" } ] }``` or ```{ \"name\": \"sum(message_count)\", \"values\" : [\"39.0\"] }```",
      "id": "GoogleCloudApigeeV1Metric",
      "properties": {
        "name": {
          "type": "string",
          "description": "Metric name."
        },
        "values": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "List of metric values. Possible value formats include: `\"values\":[\"39.0\"]` or `\"values\":[ { \"value\": \"39.0\", \"timestamp\": 1232434354} ]`"
        }
      }
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "description": "This message encapsulates a list of custom report definitions",
      "properties": {
        "qualifier": {
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse"
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "type": "object",
      "properties": {
        "issuers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          },
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array"
        }
      },
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse"
    },
    "GoogleCloudApigeeV1AccessGet": {
      "description": "Get action. For example, \"Get\" : { \"name\" : \"target.name\", \"value\" : \"default\" }",
      "properties": {
        "value": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1AccessGet"
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        },
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ResourceConfig"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray",
      "type": "object",
      "description": "Message for the array of API Hub Gateways.",
      "properties": {
        "gateways": {
          "items": {
            "type": "string"
          },
          "description": "Required. The array of API Hub Gateway IDs. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1AppGroupBalance": {
      "properties": {
        "wallets": {
          "type": "array",
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "items": {
            "$ref": "GoogleCloudApigeeV1AppGroupBalanceWallet"
          },
          "readOnly": true
        }
      },
      "description": "AppGroupBalance for the AppGroup.",
      "type": "object",
      "id": "GoogleCloudApigeeV1AppGroupBalance"
    },
    "GoogleCloudApigeeV1IngressConfig": {
      "id": "GoogleCloudApigeeV1IngressConfig",
      "properties": {
        "uid": {
          "type": "string",
          "description": "A unique id for the ingress config that will only change if the organization is deleted and recreated."
        },
        "name": {
          "type": "string",
          "description": "Name of the resource in the following format: `organizations/{org}/deployedIngressConfig`."
        },
        "revisionCreateTime": {
          "description": "Time at which the IngressConfig revision was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Revision id that defines the ordering on IngressConfig resources. The higher the revision, the more recently the configuration was deployed.",
          "format": "int64"
        },
        "environmentGroups": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupConfig"
          },
          "type": "array",
          "description": "List of environment groups in the organization."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig",
      "properties": {
        "include": {
          "description": "Include only these Gateway Types.",
          "$ref": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray"
        },
        "weight": {
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ],
          "type": "string",
          "description": "The weight of the assessment.",
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ]
        }
      },
      "description": "The configuration definition for a specific assessment."
    },
    "GoogleCloudApigeeV1SecurityProfile": {
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityProfile",
      "properties": {
        "name": {
          "type": "string",
          "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}"
        },
        "environments": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironment"
          },
          "type": "array",
          "description": "List of environments attached to security profile."
        },
        "profileConfig": {
          "description": "Required. Customized profile configuration that computes the security score.",
          "$ref": "GoogleCloudApigeeV1ProfileConfig"
        },
        "revisionCreateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when revision was created."
        },
        "revisionUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when revision was updated.",
          "format": "google-datetime"
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. Revision ID of the security profile.",
          "format": "int64",
          "type": "string"
        },
        "maxScore": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Maximum security score that can be generated by this profile."
        },
        "revisionPublishTime": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. DEPRECATED: DO NOT USE The time when revision was published. Once published, the security profile revision cannot be updated further and can be attached to environments.",
          "format": "google-datetime"
        },
        "displayName": {
          "deprecated": true,
          "description": "DEPRECATED: DO NOT USE Display name of the security profile.",
          "type": "string"
        },
        "description": {
          "description": "Description of the security profile.",
          "type": "string"
        },
        "scoringConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileScoringConfig"
          },
          "description": "List of profile scoring configs in this revision.",
          "type": "array"
        },
        "minScore": {
          "description": "Output only. Minimum security score that can be generated by this profile.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "description": "Represents a SecurityProfile resource."
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "description": "List of resource files.",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "type": "array",
          "description": "List of resource files."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object",
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "logType": {
          "type": "string",
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeSpecGenerationAddonConfig": {
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeSpecGenerationAddonConfig",
      "description": "Runtime configuration for the Spec Generation add-on. All fields are proto3 primitives (bool, string, double) rather than google.protobuf.*Value wrappers because the runtime consumer deserializes the JSON via Gson field reflection with no registered type adapters. Wrapper types would serialize as JSON objects/null that Gson cannot bind to Java primitive fields.",
      "properties": {
        "enabledUntil": {
          "type": "string",
          "description": "ISO-8601 timestamp until which Spec Generation remains active (e.g. \"2026-12-31T23:59:59Z\"). Empty string is the canonical \"not configured\" sentinel and MUST be treated by the consumer as \"expired\" (short-circuit before parsing). Default: empty string."
        },
        "rawObservationsPubsubTopic": {
          "description": "Full Pub/Sub topic path in the Apigee Runtime Tenant Project where the message processor publishes captured RawObservation messages. Format: projects/{project}/topics/{topic}. Empty string is the \"not configured\" sentinel; the consumer short-circuits publishing when empty. Default: empty string.",
          "type": "string"
        },
        "samplingRate": {
          "type": "number",
          "format": "double",
          "description": "Fraction of eligible transactions to capture, in [0.0, 1.0]. The consumer enforces an internal upper-bound clamp independently of this field. Default: 0.0 (omitted from JSON per proto3 default-scalar-omission; the consumer's field initializer supplies the effective 0.01 fallback)."
        },
        "apiObservationsPubsubTopic": {
          "description": "Full Pub/Sub topic path in the Apigee Runtime Tenant Project where the Schema Inferring Engine publishes inferred ApiObservation messages. Format: projects/{project}/topics/{topic}. Same sentinel semantics as raw_observations_pubsub_topic. Default: empty string.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the Spec Generation add-on is active for this environment. Default: false."
        }
      }
    },
    "GoogleRpcPreconditionFailure": {
      "description": "Describes what preconditions have failed. For example, if an RPC failed because it required the Terms of Service to be acknowledged, it could list the terms of service violation in the PreconditionFailure message.",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleRpcPreconditionFailureViolation"
          },
          "type": "array",
          "description": "Describes all precondition violations."
        }
      },
      "id": "GoogleRpcPreconditionFailure"
    },
    "GoogleCloudApigeeV1TraceConfigOtelMtlsConfig": {
      "properties": {
        "keyAlias": {
          "type": "string",
          "description": "Required. Plain alias ID within `key_store` that contains the client key/cert used for mTLS."
        },
        "trustStore": {
          "description": "Required. Truststore holding the CA(s) that signed the OTel Collector's server certificate. Accepts either a plain keystore ID (e.g. `my-truststore`) resolving to `organizations/{org}/environments/{env}/keystores/{trust_store}`, or a reference URI of the form `ref://{referenceID}` that points to a Reference whose `resource_type` is `KeyStore` (used as a truststore).",
          "type": "string"
        },
        "keyStore": {
          "description": "Required. Keystore holding the client-side key/cert alias. Accepts either a plain keystore ID (e.g. `my-keystore`) resolving to `organizations/{org}/environments/{env}/keystores/{key_store}`, or a reference URI of the form `ref://{referenceID}` that points to a Reference whose `resource_type` is `KeyStore`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1TraceConfigOtelMtlsConfig",
      "type": "object",
[...]
