{
  "basePath": "",
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260922",
  "rootUrl": "https://apihub.googleapis.com/",
  "baseUrl": "https://apihub.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://apihub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://apihub.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://apihub.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://apihub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west3",
      "endpointUrl": "https://apihub.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.northamerica-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apihub.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://apihub.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.us-west2.rep.googleapis.com/"
    }
  ],
  "kind": "discovery#restDescription",
  "title": "API hub API",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
  "discoveryVersion": "v1",
  "version_module": true,
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://apihub.mtls.googleapis.com/",
  "canonicalName": "API hub",
  "servicePath": "",
  "name": "apihub",
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "lookupRuntimeProjectAttachment": {
              "response": {
                "$ref": "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse"
              },
              "description": "Look up a runtime project attachment. This API can be called in the context of any project.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readonly",
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Runtime project ID to look up runtime project attachment for. Lookup happens across all regions. Expected format: `projects/{project}/locations/{location}`.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:lookupRuntimeProjectAttachment",
              "path": "v1/{+name}:lookupRuntimeProjectAttachment",
              "id": "apihub.projects.locations.lookupRuntimeProjectAttachment"
            },
            "retrieveApiViews": {
              "path": "v1/{+parent}:retrieveApiViews",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveApiViews",
              "id": "apihub.projects.locations.retrieveApiViews",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve API views.",
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readonly",
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of results to return. Default to 100."
                },
                "view": {
                  "enum": [
                    "API_VIEW_TYPE_UNSPECIFIED",
                    "MCP_SERVER",
                    "MCP_TOOL"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "The default view type.",
                    "The MCP server view in API hub.",
                    "The MCP tool view in API hub."
                  ],
                  "type": "string",
                  "description": "Required. The view type to return."
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The filter expression.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `RetrieveApiViews` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudApihubV1RetrieveApiViewsResponse"
              }
            },
            "searchResources": {
              "path": "v1/{+location}:searchResources",
              "request": {
                "$ref": "GoogleCloudApihubV1SearchResourcesRequest"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchResources",
              "parameterOrder": [
                "location"
              ],
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The resource name of the location which will be of the type `projects/{project_id}/locations/{location_id}`. This field is used to identify the instance of API-Hub in which resources should be searched.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Search across API-Hub resources.",
              "id": "apihub.projects.locations.searchResources",
              "response": {
                "$ref": "GoogleCloudApihubV1SearchResourcesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readonly",
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readonly",
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/locations",
              "id": "apihub.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "collectApiData": {
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apihub.projects.locations.collectApiData",
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The regional location of the API hub instance and its resources. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:collectApiData",
              "path": "v1/{+location}:collectApiData",
              "description": "Collect API data from a source and push it to Hub's collect layer.",
              "request": {
                "$ref": "GoogleCloudApihubV1CollectApiDataRequest"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "id": "apihub.projects.locations.get",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/apihub.readonly",
                "https://www.googleapis.com/auth/apihub.readwrite",
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "servers": {
              "methods": {
                "configureAndDeployServer": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1ConfigureAndDeployServerRequest"
                  },
                  "path": "v1/{+parent}/servers:configureAndDeployServer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Configures and deploys a given server config for given target. Currently this API supports only deploying MCP server in Apigee X. For mcp server deployment in apigee X, if there is already a mcp proxy deployed, then this method will try to overwrite it by creating new revision i.e. all existing tools will be removed and new set of tools will be deployed.",
                  "id": "apihub.projects.locations.servers.configureAndDeployServer",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers:configureAndDeployServer"
                }
              }
            },
            "apiHubInstances": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances",
                  "httpMethod": "POST",
                  "parameters": {
                    "apiHubInstanceId": {
                      "description": "Optional. Identifier to assign to the Api Hub instance. Must be unique within scope of the parent resource. If the field is not provided, system generated id will be used. This value should be 4-40 characters, and valid characters are `/a-z[0-9]-_/`.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "description": "Provisions instance resources for the API Hub.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/apiHubInstances",
                  "id": "apihub.projects.locations.apiHubInstances.create"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "description": "Required. The name of the Api Hub instance to delete. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.apiHubInstances.delete",
                  "description": "Deletes the API hub instance. Deleting the API hub instance will also result in the removal of all associated runtime project attachments and the host project registration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}"
                },
                "patch": {
                  "description": "Update an Api Hub instance. The following fields in the ApiHubInstance can be updated: * disable_search * vertex_location * agent_registry_sync_config The update_mask should be used to specify the fields being updated.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "id": "apihub.projects.locations.apiHubInstances.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "id": "apihub.projects.locations.apiHubInstances.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the Api Hub instance to retrieve. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "description": "Gets details of a single API Hub instance."
                },
                "lookup": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1LookupApiHubInstanceResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. There will always be only one Api Hub instance for a Google Cloud project across all locations. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances:lookup",
                  "path": "v1/{+parent}/apiHubInstances:lookup",
                  "description": "Looks up an Api Hub instance in a given Google Cloud project. There will always be only one Api Hub instance for a Google Cloud project across all locations.",
                  "id": "apihub.projects.locations.apiHubInstances.lookup"
                }
              }
            },
            "addons": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/addons",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this addon will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListAddons` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListAddons` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of hub addons to return. The service may return fewer than this value. If unspecified, at most 50 hub addons will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of addons. The only supported filter is `plugin_instance_name`. It can be used to filter addons that are enabled for a given plugin instance. The format of the filter is `plugin_instance_name = \"projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}\"`.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListAddonsResponse"
                  },
                  "description": "List addons.",
                  "id": "apihub.projects.locations.addons.list"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons/{addonsId}",
                  "description": "Get an addon.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the addon to get. Format: `projects/{project}/locations/{location}/addons/{addon}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/addons/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1Addon"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.addons.get"
                },
                "manageConfig": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the addon for which the config is to be managed. Format: `projects/{project}/locations/{location}/addons/{addon}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/addons/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons/{addonsId}:manageConfig",
                  "path": "v1/{+name}:manageConfig",
                  "id": "apihub.projects.locations.addons.manageConfig",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1ManageAddonConfigRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Manage addon config. This RPC is used for managing the config of the addon. Calling this RPC moves the addon into an updating state until the long-running operation succeeds."
                }
              }
            },
            "discoveredApiObservations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDiscoveredApiObservationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token."
                    }
                  },
                  "id": "apihub.projects.locations.discoveredApiObservations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations",
                  "description": "Lists all the DiscoveredAPIObservations in a given project and location.",
                  "path": "v1/{+parent}/discoveredApiObservations"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}",
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.discoveredApiObservations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the DiscoveredApiObservation to retrieve. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a DiscoveredAPIObservation in a given project, location and ApiObservation.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1DiscoveredApiObservation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "discoveredApiOperations": {
                  "methods": {
                    "get": {
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApihubV1DiscoveredApiOperation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the DiscoveredApiOperation to retrieve. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}/discoveredApiOperations/{discovered_api_operation}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+/discoveredApiOperations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets a DiscoveredAPIOperation in a given project, location, ApiObservation and ApiOperation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readonly",
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.discoveredApiObservations.discoveredApiOperations.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}/discoveredApiOperations/{discoveredApiOperationsId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListDiscoveredApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDiscoveredApiApiOperations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of DiscoveredApiOperations. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Optional. DiscoveredApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse"
                      },
                      "path": "v1/{+parent}/discoveredApiOperations",
                      "id": "apihub.projects.locations.discoveredApiObservations.discoveredApiOperations.list",
                      "description": "Lists all the DiscoveredAPIOperations in a given project, location and ApiObservation.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readonly",
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}/discoveredApiOperations"
                    }
                  }
                }
              }
            },
            "plugins": {
              "resources": {
                "styleGuide": {
                  "methods": {
                    "getContents": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:contents",
                      "id": "apihub.projects.locations.plugins.styleGuide.getContents",
                      "response": {
                        "$ref": "GoogleCloudApihubV1StyleGuideContents"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the StyleGuide whose contents need to be retrieved. There is exactly one style guide resource per project per location. The expected format is `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readonly",
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide:contents",
                      "description": "Get the contents of the style guide."
                    }
                  }
                },
                "instances": {
                  "methods": {
                    "delete": {
                      "id": "apihub.projects.locations.plugins.instances.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the plugin instance to delete. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Deletes a plugin instance in the API hub.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "manageSourceData": {
                      "request": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the plugin instance for which data needs to be managed. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "required": true
                        }
                      },
                      "id": "apihub.projects.locations.plugins.instances.manageSourceData",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:manageSourceData",
                      "path": "v1/{+name}:manageSourceData",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Manages data for a given plugin instance.",
                      "response": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataResponse"
                      }
                    },
                    "enableAction": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the plugin instance to enable. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:enableAction",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Enables a plugin instance in the API hub.",
                      "id": "apihub.projects.locations.plugins.instances.enableAction",
                      "path": "v1/{+name}:enableAction",
                      "request": {
                        "$ref": "GoogleCloudApihubV1EnablePluginInstanceActionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "description": "Updates a plugin instance in the API hub. The following fields in the plugin_instance can be updated currently: * display_name * schedule_cron_expression The update_mask should be used to specify the fields being updated. To update the auth_config and additional_config of the plugin instance, use the ApplyPluginInstanceConfig method.",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.plugins.instances.patch",
                      "request": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "Optional. The list of fields to update.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "description": "Identifier. The unique name of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
                        }
                      }
                    },
                    "create": {
                      "id": "apihub.projects.locations.plugins.instances.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "pluginInstanceId": {
                          "description": "Optional. The ID to use for the plugin instance, which will become the final component of the plugin instance's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another plugin instance in the plugin resource. * If not provided, a system generated id will be used. This value should be 4-63 characters, and valid characters are /a-z[0-9]-_/.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                          "description": "Required. The parent of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}`",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Creates a Plugin instance in the API hub.",
                      "request": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances",
                      "path": "v1/{+parent}/instances"
                    },
                    "executeAction": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the plugin instance to execute. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}:executeAction",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:executeAction",
                      "request": {
                        "$ref": "GoogleCloudApihubV1ExecutePluginInstanceActionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.plugins.instances.executeAction",
                      "description": "Executes a plugin instance in the API hub."
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the plugin instance to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Get an API Hub plugin instance.",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readonly",
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apihub.projects.locations.plugins.instances.get"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readonly",
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances",
                      "description": "List all the plugins in a given project and location. `-` can be used as wildcard value for {plugin_id}",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression that filters the list of plugin instances. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `PluginInstances` are eligible for filtering: * `state` - The state of the Plugin Instance. Allowed comparison operators: `=`. * `source_project_id` - The source project id of the Plugin Instance. Allowed comparison operators: `=`. A filter function is also supported in the filter string. The filter function is `id(name)`. The `id(name)` function returns the id of the resource name. For example, `id(name) = \\\"plugin-instance-1\\\"` is equivalent to `name = \\\"projects/test-project-id/locations/test-location-id/plugins/plugin-1/instances/plugin-instance-1\\\"` provided the parent is `projects/test-project-id/locations/test-location-id/plugins/plugin-1`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `state = ENABLED` - The plugin instance is in enabled state.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListPluginInstances` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPluginInstances` must match the call that provided the page token."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}/plugins/{plugin}`. To list plugin instances for multiple plugins, use the - character instead of the plugin ID.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of hub plugins to return. The service may return fewer than this value. If unspecified, at most 50 hub plugins will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        }
                      },
                      "path": "v1/{+parent}/instances",
                      "response": {
                        "$ref": "GoogleCloudApihubV1ListPluginInstancesResponse"
                      },
                      "id": "apihub.projects.locations.plugins.instances.list"
                    },
                    "disableAction": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:disableAction",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:disableAction",
                      "id": "apihub.projects.locations.plugins.instances.disableAction",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApihubV1DisablePluginInstanceActionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Disables a plugin instance in the API hub.",
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the plugin instance to disable. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the plugin to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}",
                  "id": "apihub.projects.locations.plugins.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get an API Hub plugin.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  }
                },
                "list": {
                  "id": "apihub.projects.locations.plugins.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListPluginsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List all the plugins in a given project and location.",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of hub plugins to return. The service may return fewer than this value. If unspecified, at most 50 hub plugins will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "parent": {
                      "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListPlugins` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListPlugins` must match the call that provided the page token."
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of plugins. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Plugins` are eligible for filtering: * `plugin_category` - The category of the Plugin. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `plugin_category = ON_RAMP` - The plugin is of category on ramp."
                    }
                  },
                  "path": "v1/{+parent}/plugins",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins"
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pluginId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the Plugin resource, which will become the final component of the Plugin's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another Plugin resource in the API hub instance. * If not provided, a system generated id will be used. This value should be 4-63 characters, overall resource name which will be of format `projects/{project}/locations/{location}/plugins/{plugin}`, its length is limited to 1000 characters and valid characters are /a-z[0-9]-_/.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.plugins.create",
                  "description": "Create an API Hub plugin resource in the API hub. Once a plugin is created, it can be used to create plugin instances.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins",
                  "path": "v1/{+parent}/plugins"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Plugin resource to delete. Format: `projects/{project}/locations/{location}/plugins/{plugin}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}",
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.plugins.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete a Plugin in API hub. Note, only user owned plugins can be deleted via this method.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "disable": {
                  "path": "v1/{+name}:disable",
                  "description": "Disables a plugin. The `state` of the plugin after disabling is `DISABLED`",
                  "request": {
                    "$ref": "GoogleCloudApihubV1DisablePluginRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "id": "apihub.projects.locations.plugins.disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the plugin to disable. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}:disable"
                },
                "updateStyleGuide": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update."
                    },
                    "name": {
                      "description": "Identifier. The name of the style guide. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  },
                  "id": "apihub.projects.locations.plugins.updateStyleGuide",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  },
                  "description": "Update the styleGuide to be used for liniting in by API hub.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide",
                  "path": "v1/{+name}"
                },
                "enable": {
                  "id": "apihub.projects.locations.plugins.enable",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables a plugin. The `state` of the plugin after enabling is `ENABLED`",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the plugin to enable. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "path": "v1/{+name}:enable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1EnablePluginRequest"
                  }
                },
                "getStyleGuide": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.plugins.getStyleGuide",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the spec to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$",
                      "location": "path"
                    }
                  },
                  "description": "Get the style guide being used for linting.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide",
                  "path": "v1/{+name}"
                }
              }
            },
            "curations": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "path": "v1/{+parent}/curations",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource for the curation resource. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    },
                    "curationId": {
                      "description": "Optional. The ID to use for the curation resource, which will become the final component of the curations's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified ID is already used by another curation resource in the API hub. * If not provided, a system generated ID will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a curation resource in the API hub. Once a curation resource is created, plugin instances can start using it.",
                  "id": "apihub.projects.locations.curations.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "id": "apihub.projects.locations.curations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the curation resource to delete. Format: `projects/{project}/locations/{location}/curations/{curation}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete a curation resource in the API hub. A curation can only be deleted if it's not being used by any plugin instance.",
                  "path": "v1/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$",
                      "description": "Required. The name of the curation resource to retrieve. Format: `projects/{project}/locations/{location}/curations/{curation}`",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "id": "apihub.projects.locations.curations.get",
                  "description": "Get curation resource details.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. The list of fields to update."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Identifier. The name of the curation. Format: `projects/{project}/locations/{location}/curations/{curation}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update a curation resource in the API hub. The following fields in the curation can be updated: * display_name * description The update_mask should be used to specify the fields being updated.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "id": "apihub.projects.locations.curations.patch",
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List curation resources in the API hub.",
                  "id": "apihub.projects.locations.curations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListCurations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListCurations` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of curation resources to return. The service may return fewer than this value. If unspecified, at most 50 curations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of curation resources. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of curation resources. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>`, `:` or `=`. Filters are case insensitive. The following fields in the `curation resource` are eligible for filtering: * `create_time` - The time at which the curation was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `display_name` - The display name of the curation. Allowed comparison operators: `=`. * `state` - The state of the curation. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The curation resource was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations",
                  "path": "v1/{+parent}/curations",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListCurationsResponse"
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apihub.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "id": "apihub.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "apihub.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "list": {
                  "id": "apihub.projects.locations.attributes.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes",
                  "description": "List all attributes.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAttributes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAttributes` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of attribute resources to return. The service may return fewer than this value. If unspecified, at most 50 attributes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. An expression that filters the list of Attributes. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string or a boolean. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Attribute` are eligible for filtering: * `display_name` - The display name of the Attribute. Allowed comparison operators: `=`. * `definition_type` - The definition type of the attribute. Allowed comparison operators: `=`. * `scope` - The scope of the attribute. Allowed comparison operators: `=`. * `data_type` - The type of the data of the attribute. Allowed comparison operators: `=`. * `mandatory` - Denotes whether the attribute is mandatory or not. Allowed comparison operators: `=`. * `create_time` - The time at which the Attribute was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `display_name = production` - - The display name of the attribute is _production_. * `(display_name = production) AND (create_time < \\\"2021-08-15T14:50:00Z\\\") AND (create_time > \\\"2021-08-10T12:00:00Z\\\")` - The display name of the attribute is _production_ and the attribute was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `display_name = production OR scope = api` - The attribute where the display name is _production_ or the scope is _api_.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListAttributesResponse"
                  },
                  "path": "v1/{+parent}/attributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "description": "Get details about the attribute.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the attribute to retrieve. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.attributes.get"
                },
                "create": {
                  "path": "v1/{+parent}/attributes",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a user defined attribute. Certain pre defined attributes are already created by the API hub. These attributes will have type as `SYSTEM_DEFINED` and can be listed via ListAttributes method. Allowed values for the same can be updated via UpdateAttribute method.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes",
                  "httpMethod": "POST",
                  "parameters": {
                    "attributeId": {
                      "type": "string",
                      "description": "Optional. The ID to use for the attribute, which will become the final component of the attribute's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another attribute resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "apihub.projects.locations.attributes.create",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$",
                      "description": "Required. The name of the attribute to delete. Format: `projects/{project}/locations/{location}/attributes/{attribute}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.attributes.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "description": "Delete an attribute. Note: System defined attributes cannot be deleted. All associations of the attribute being deleted with any API hub resource will also get deleted."
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
[...]
