{
  "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
  "description": "",
  "version_module": true,
  "revision": "20260922",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/apihub.readwrite": {
          "description": "See, edit, configure, and delete your Google Cloud API hub data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/apihub.readonly": {
          "description": "See your Google Cloud API hub data and the email address of your Google Account"
        }
      }
    }
  },
  "protocol": "rest",
  "title": "API hub API",
  "kind": "discovery#restDescription",
  "canonicalName": "API hub",
  "name": "apihub",
  "endpoints": [
    {
      "endpointUrl": "https://apihub.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-east1"
    },
    {
      "location": "asia-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.asia-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apihub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.europe-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://apihub.europe-west3.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "endpointUrl": "https://apihub.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://apihub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east4",
      "endpointUrl": "https://apihub.us-east4.rep.googleapis.com/"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://apihub.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://apihub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "rootUrl": "https://apihub.googleapis.com/",
  "discoveryVersion": "v1",
  "baseUrl": "https://apihub.googleapis.com/",
  "version": "v1",
  "schemas": {
    "GoogleCloudApihubV1ApigeeEdgeConfig": {
      "properties": {
        "environmentFilter": {
          "$ref": "GoogleCloudApihubV1EnvironmentFilter",
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
        }
      },
      "type": "object",
      "description": "Configuration for Apigee Edge gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "id": "GoogleCloudApihubV1ApigeeEdgeConfig"
    },
    "GoogleCloudApihubV1Config": {
      "properties": {
        "agentRegistrySyncConfig": {
          "$ref": "GoogleCloudApihubV1AgentRegistrySyncConfig",
          "description": "Optional. The configuration for syncing MCP data in the API Hub instance to the Agent Registry."
        },
        "vertexLocation": {
          "type": "string",
          "description": "Optional. The name of the Vertex AI location where the data store is stored."
        },
        "disableSearch": {
          "description": "Optional. If true, the search will be disabled for the instance. The default value is false.",
          "type": "boolean"
        },
        "cmekKeyName": {
          "type": "string",
          "description": "Optional. The Customer Managed Encryption Key (CMEK) used for data encryption. The CMEK name should follow the format of `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`, where the location must match the instance location. If the CMEK is not provided, a GMEK will be created for the instance."
        },
        "encryptionType": {
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Encryption type unspecified.",
            "Default encryption using Google managed encryption key.",
            "Encryption using customer managed encryption key."
          ],
          "description": "Optional. Encryption type for the region. If the encryption type is CMEK, the cmek_key_name must be provided. If no encryption type is provided, GMEK will be used."
        }
      },
      "description": "Available configurations to provision an ApiHub Instance.",
      "id": "GoogleCloudApihubV1Config",
      "type": "object"
    },
    "GoogleCloudApihubV1ConfigValueOption": {
      "id": "GoogleCloudApihubV1ConfigValueOption",
      "description": "ConfigValueOption represents an option for a config variable of type enum or multi select.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the option."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the option."
        },
        "id": {
          "type": "string",
          "description": "Required. Id of the option."
        }
      }
    },
    "GoogleCloudCommonOperationMetadata": {
      "id": "GoogleCloudCommonOperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudApihubV1Point": {
      "properties": {
        "line": {
          "type": "integer",
          "description": "Required. Line number (zero-indexed).",
          "format": "int32"
        },
        "character": {
          "type": "integer",
          "description": "Required. Character position within the line (zero-indexed).",
          "format": "int32"
        }
      },
      "description": "Point within the file (line and character).",
      "id": "GoogleCloudApihubV1Point",
      "type": "object"
    },
    "GoogleCloudApihubV1SpecContents": {
      "description": "The spec contents.",
      "id": "GoogleCloudApihubV1SpecContents",
      "properties": {
        "mimeType": {
          "description": "Required. The mime type of the content for example application/json, application/yaml, application/wsdl etc.",
          "type": "string"
        },
        "contents": {
          "format": "byte",
          "description": "Required. The contents of the spec.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ApiMetadataList": {
      "id": "GoogleCloudApihubV1ApiMetadataList",
      "properties": {
        "apiMetadata": {
          "items": {
            "$ref": "GoogleCloudApihubV1APIMetadata"
          },
          "type": "array",
          "description": "Required. The list of API metadata."
        }
      },
      "type": "object",
      "description": "The message to hold repeated API metadata."
    },
    "GoogleCloudApihubV1OperationDetails": {
      "id": "GoogleCloudApihubV1OperationDetails",
      "type": "object",
      "properties": {
        "deprecated": {
          "type": "boolean",
          "description": "Optional. For OpenAPI spec, this will be set if `operation.deprecated`is marked as `true` in the spec."
        },
        "mcpTool": {
          "$ref": "GoogleCloudApihubV1McpTool",
          "description": "The MCP Tool Operation."
        },
        "httpOperation": {
          "description": "The HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        },
        "documentation": {
          "$ref": "GoogleCloudApihubV1Documentation",
          "description": "Optional. Additional external documentation for this operation. For OpenAPI spec, this will map to `operation.documentation` in the spec."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the operation behavior. For OpenAPI spec, this will map to `operation.description` in the spec, in case description is empty, `operation.summary` will be used."
        }
      },
      "description": "The operation details parsed from the spec."
    },
    "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse": {
      "description": "Message for response to listing DiscoveredApiOperations",
      "properties": {
        "discoveredApiOperations": {
          "items": {
            "$ref": "GoogleCloudApihubV1DiscoveredApiOperation"
          },
          "description": "The DiscoveredApiOperations from the specified project, location and DiscoveredApiObservation.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse",
      "type": "object"
    },
    "GoogleCloudApihubV1ApiOperation": {
      "properties": {
        "sourceMetadata": {
          "readOnly": true,
          "description": "Output only. The list of sources and metadata from the sources of the API operation.",
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "attributes": {
          "type": "object",
          "description": "Optional. The list of user defined attributes associated with the API operation resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          }
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the operation was last updated."
        },
        "name": {
          "description": "Identifier. The name of the operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "string"
        },
        "deployments": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The deployments linked directly to this API operation. For operations parsed from a spec, `UpdateApiOperation` returns `FAILED_PRECONDITION`; link the parent spec to the deployment via `Spec.deployments` instead. Format is `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "array"
        },
        "spec": {
          "readOnly": true,
          "description": "Output only. The name of the spec will be of the format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}` Note:The name of the spec will be empty if the operation is created via CreateApiOperation API.",
          "type": "string"
        },
        "details": {
          "description": "Optional. Operation details. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided.",
          "$ref": "GoogleCloudApihubV1OperationDetails"
        }
      },
      "description": "Represents an operation contained in an API version in the API Hub. An operation is added/updated/deleted in an API version when a new spec is added or an existing spec is updated/deleted in a version. Currently, an operation will be created only corresponding to OpenAPI spec as parsing is supported for OpenAPI spec. Alternatively operations can be managed via create,update and delete APIs, creation of apiOperation can be possible only for version with no parsed operations and update/delete can be possible only for operations created via create API.",
      "type": "object",
      "id": "GoogleCloudApihubV1ApiOperation"
    },
    "GoogleCloudApihubV1Schema": {
      "description": "The schema details derived from the spec. Currently, this entity is supported for OpenAPI spec only. For OpenAPI spec, this maps to the schema defined in the `definitions` section for OpenAPI 2.0 version and in `components.schemas` section for OpenAPI 3.0 and 3.1 version.",
      "properties": {
        "displayName": {
          "description": "Output only. The display name of the schema. This will map to the name of the schema in the spec.",
          "readOnly": true,
          "type": "string"
        },
        "rawValue": {
          "type": "string",
          "readOnly": true,
          "format": "byte",
          "description": "Output only. The raw value of the schema definition corresponding to the schema name in the spec."
        }
      },
      "id": "GoogleCloudApihubV1Schema",
      "type": "object"
    },
    "GoogleCloudApihubV1MultiIntValues": {
      "description": "The config variable value of data type multi int.",
      "properties": {
        "values": {
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "description": "Optional. The config variable value of data type multi int."
        }
      },
      "id": "GoogleCloudApihubV1MultiIntValues",
      "type": "object"
    },
    "GoogleCloudApihubV1Api": {
      "id": "GoogleCloudApihubV1Api",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the API resource was created.",
          "format": "google-datetime"
        },
        "targetUser": {
          "description": "Optional. The target users for the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-target-user` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "team": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The team owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-team` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "fingerprint": {
          "type": "string",
          "description": "Optional. Fingerprint of the API resource. This must be unique for each API resource. It can neither be unset nor be updated to an existing fingerprint of another API resource."
        },
        "selectedVersion": {
          "type": "string",
          "description": "Optional. The selected version for an API resource. This can be used when special handling is needed on client side for particular version of the API. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`"
        },
        "maturityLevel": {
          "description": "Optional. The maturity level of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-maturity-level` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the API resource was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "versions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of versions present in an API resource. Note: An API resource can be associated with more than 1 version. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
          "readOnly": true
        },
        "owner": {
          "description": "Optional. Owner details for the API resource.",
          "$ref": "GoogleCloudApihubV1Owner"
        },
        "serviceType": {
          "description": "Optional. The type of the service. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-service-type` attribute. The cardinality of this attribute is 1. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "sourceMetadata": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of sources and metadata from the sources of the API resource.",
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          }
        },
        "displayName": {
          "description": "Required. The display name of the API resource.",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. The documentation for the API resource.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the API resource in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the API resource."
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "type": "object",
          "description": "Optional. The list of user defined attributes associated with the API resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "apiRequirements": {
          "description": "Optional. The api requirement doc associated with the API resource. Cardinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "apiTechnicalRequirements": {
          "description": "Optional. The api technical requirements associated with the API resource. Cardinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-technical-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "apiFunctionalRequirements": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The api functional requirements associated with the API resource. Cardinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-functional-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory."
        },
        "businessUnit": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The business unit owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-business-unit` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "apiStyle": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The style of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-style` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        }
      },
      "description": "An API resource in the API Hub."
    },
    "GoogleCloudApihubV1ListDeploymentsResponse": {
      "id": "GoogleCloudApihubV1ListDeploymentsResponse",
      "description": "The ListDeployments method's response.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The deployment resources present in the API hub.",
          "items": {
            "$ref": "GoogleCloudApihubV1Deployment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1GatewayPluginAddonConfig": {
      "id": "GoogleCloudApihubV1GatewayPluginAddonConfig",
      "description": "Configuration for gateway plugin addons. This is used to specify the list of gateway plugin configs for which the addon is enabled.",
      "type": "object",
      "properties": {
        "gatewayPluginConfigs": {
          "type": "array",
          "description": "Required. The list of gateway plugin configs for which the addon is enabled. Each gateway plugin config should have a unique plugin instance.",
          "items": {
            "$ref": "GoogleCloudApihubV1GatewayPluginConfig"
          }
        }
      }
    },
    "GoogleCloudApihubV1SpecMetadata": {
      "id": "GoogleCloudApihubV1SpecMetadata",
      "type": "object",
      "description": "The metadata associated with a spec of the API version.",
      "properties": {
        "originalUpdateTime": {
          "type": "string",
          "description": "Required. Timestamp indicating when the spec was last updated at the source.",
          "format": "google-datetime"
        },
        "deploymentResourceUris": {
          "description": "Optional. The gateway-side URIs of deployments that serve this spec. If provided, the API Hub service creates links between this spec and the deployments identified by these URIs. URIs that don't match any known deployment are ignored; a subsequent ingestion cycle that includes the missing deployment will re-establish the link. The maximum number of URIs allowed is 100.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "spec": {
          "description": "Required. The spec resource to be pushed to Hub's collect layer. The ID of the spec will be generated by Hub.",
          "$ref": "GoogleCloudApihubV1Spec"
        },
        "originalCreateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp indicating when the spec was created at the source."
        },
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the spec in the system where it was originally created."
        }
      }
    },
    "GoogleCloudApihubV1EnablePluginInstanceActionRequest": {
      "description": "The EnablePluginInstanceAction method's request.",
      "type": "object",
      "id": "GoogleCloudApihubV1EnablePluginInstanceActionRequest",
      "properties": {
        "actionId": {
          "description": "Required. The action id to enable.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1Header": {
      "id": "GoogleCloudApihubV1Header",
      "type": "object",
      "properties": {
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Data type of header",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of this Header across transactions.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "An aggregation of HTTP header occurrences."
    },
    "GoogleCloudApihubV1CustomCuration": {
      "description": "Custom curation information for this plugin instance.",
      "properties": {
        "curation": {
          "type": "string",
          "description": "Required. The unique name of the curation resource. This will be the name of the curation resource in the format: `projects/{project}/locations/{location}/curations/{curation}`"
        }
      },
      "id": "GoogleCloudApihubV1CustomCuration",
      "type": "object"
    },
    "GoogleCloudApihubV1HostProjectRegistration": {
      "type": "object",
      "id": "GoogleCloudApihubV1HostProjectRegistration",
      "properties": {
        "name": {
          "description": "Identifier. The name of the host project registration. Format: \"projects/{project}/locations/{location}/hostProjectRegistrations/{host_project_registration}\".",
          "type": "string"
        },
        "gcpProject": {
          "description": "Required. Immutable. Google cloud project name in the format: \"projects/abc\" or \"projects/123\". As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the host project registration was created.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Host project registration refers to the registration of a Google cloud project with Api Hub as a host project. This is the project where Api Hub is provisioned. It acts as the consumer project for the Api Hub instance provisioned. Multiple runtime projects can be attached to the host project and these attachments define the scope of Api Hub."
    },
    "GoogleCloudApihubV1Curation": {
      "type": "object",
      "description": "A curation resource in the API Hub.",
      "properties": {
        "lastExecutionErrorCode": {
          "readOnly": true,
          "description": "Output only. The error code of the last execution of the curation. The error code is populated only when the last execution state is failed.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Default unspecified error code.",
            "The execution failed due to an internal error.",
            "The curation is not authorized to trigger the endpoint uri."
          ]
        },
        "lastExecutionErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message describing the failure, if any, during the last execution of the curation."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the curation."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the curation was created.",
          "type": "string"
        },
        "lastExecutionState": {
          "readOnly": true,
          "enum": [
            "LAST_EXECUTION_STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "The last curation execution was successful.",
            "The last curation execution failed."
          ],
          "type": "string",
          "description": "Output only. The last execution state of the curation."
        },
        "pluginInstanceActions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstanceActionID"
          },
          "description": "Output only. The plugin instances and associated actions that are using the curation. Note: A particular curation could be used by multiple plugin instances or multiple actions in a plugin instance."
        },
        "displayName": {
          "description": "Required. The display name of the curation.",
          "type": "string"
        },
        "endpoint": {
          "$ref": "GoogleCloudApihubV1Endpoint",
          "description": "Required. The endpoint to be triggered for curation."
        },
        "updateTime": {
          "description": "Output only. The time at which the curation was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The name of the curation. Format: `projects/{project}/locations/{location}/curations/{curation}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1Curation"
    },
    "GoogleCloudApihubV1Endpoint": {
      "properties": {
        "applicationIntegrationEndpointDetails": {
          "description": "Required. The details of the Application Integration endpoint to be triggered for curation.",
          "$ref": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails"
        }
      },
      "id": "GoogleCloudApihubV1Endpoint",
      "description": "The endpoint to be triggered for curation. The endpoint will be invoked with a request payload containing ApiMetadata. Response should contain curated data in the form of ApiMetadata.",
      "type": "object"
    },
    "GoogleCloudApihubV1ApigeeXHybridConfig": {
      "description": "Configuration for Apigee X and Apigee Hybrid gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "type": "object",
      "properties": {
        "environmentFilter": {
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering.",
          "$ref": "GoogleCloudApihubV1EnvironmentFilter"
        }
      },
      "id": "GoogleCloudApihubV1ApigeeXHybridConfig"
    },
    "GoogleCloudApihubV1ApiHubResource": {
      "description": "ApiHubResource is one of the resources such as Api, Operation, Deployment, Definition, Spec and Version resources stored in API-Hub.",
      "properties": {
        "operation": {
          "$ref": "GoogleCloudApihubV1ApiOperation",
          "description": "This represents ApiOperation resource in search results. Only name, description, spec and details fields are populated in search results."
        },
        "api": {
          "$ref": "GoogleCloudApihubV1Api",
          "description": "This represents Api resource in search results. Only name, display_name, description and owner fields are populated in search results."
        },
        "version": {
          "description": "This represents Version resource in search results. Only name, display_name, description, lifecycle, compliance and accreditation fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Version"
        },
        "deployment": {
          "description": "This represents Deployment resource in search results. Only name, display_name, description, deployment_type and api_versions fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "spec": {
          "description": "This represents Spec resource in search results. Only name, display_name, description, spec_type and documentation fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Spec"
        },
        "definition": {
          "description": "This represents Definition resource in search results. Only name field is populated in search results.",
          "$ref": "GoogleCloudApihubV1Definition"
        }
      },
      "id": "GoogleCloudApihubV1ApiHubResource",
      "type": "object"
    },
    "GoogleCloudApihubV1AllowedValue": {
      "id": "GoogleCloudApihubV1AllowedValue",
      "description": "The value that can be assigned to the attribute when the data type is enum.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. The detailed description of the allowed value."
        },
        "id": {
          "description": "Required. The ID of the allowed value. * If provided, the same will be used. The service will throw an error if the specified id is already used by another allowed value in the same attribute resource. * If not provided, a system generated id derived from the display name will be used. In this case, the service will handle conflict resolution by adding a system generated suffix in case of duplicates. This value should be 3-500 characters, and valid characters are /a-z[0-9]-_/.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the allowed value."
        },
        "immutable": {
          "type": "boolean",
          "description": "Optional. When set to true, the allowed value cannot be updated or deleted by the user. It can only be true for System defined attributes."
        }
      }
    },
    "GoogleCloudApihubV1LookupApiHubInstanceResponse": {
      "type": "object",
      "id": "GoogleCloudApihubV1LookupApiHubInstanceResponse",
      "description": "The LookupApiHubInstance method's response.`",
      "properties": {
        "apiHubInstance": {
          "$ref": "GoogleCloudApihubV1ApiHubInstance",
          "description": "API Hub instance for a project if it exists, empty otherwise."
        }
      }
    },
    "GoogleCloudApihubV1OpenApiSpecDetails": {
      "type": "object",
      "id": "GoogleCloudApihubV1OpenApiSpecDetails",
      "description": "OpenApiSpecDetails contains the details parsed from an OpenAPI spec in addition to the fields mentioned in SpecDetails.",
      "properties": {
        "version": {
          "description": "Output only. The version in the spec. This maps to `info.version` in OpenAPI spec.",
          "readOnly": true,
          "type": "string"
        },
        "owner": {
          "description": "Output only. Owner details for the spec. This maps to `info.contact` in OpenAPI spec.",
          "$ref": "GoogleCloudApihubV1Owner",
          "readOnly": true
        },
        "format": {
          "description": "Output only. The format of the spec.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "OPEN_API_SPEC_2_0",
            "OPEN_API_SPEC_3_0",
            "OPEN_API_SPEC_3_1"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "SpecFile type unspecified.",
            "OpenAPI Spec v2.0.",
            "OpenAPI Spec v3.0.",
            "OpenAPI Spec v3.1."
          ]
        }
      }
    },
    "GoogleCloudApihubV1GatewayPluginConfig": {
      "description": "Configuration for a gateway plugin. This is used to specify configs for different gateways.",
      "properties": {
        "apigeeXHybridConfig": {
          "$ref": "GoogleCloudApihubV1ApigeeXHybridConfig",
          "description": "Configuration for Apigee X and Apigee Hybrid gateways."
        },
        "pluginInstance": {
          "type": "string",
          "description": "Required. The name of the gateway plugin instance for which the config is to be specified. Format: projects/{project}/locations/{location}/plugins/{plugin}/pluginInstances/{plugin_instance}"
        },
        "apigeeOpdkConfig": {
          "$ref": "GoogleCloudApihubV1ApigeeOPDKConfig",
          "description": "Configuration for Apigee OPDK gateways."
        },
        "apigeeEdgeConfig": {
          "$ref": "GoogleCloudApihubV1ApigeeEdgeConfig",
          "description": "Configuration for Apigee Edge gateways."
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1GatewayPluginConfig"
    },
    "GoogleCloudApihubV1FlattenedApiVersionDeploymentView": {
      "description": "A flattened view of an API, its version and one of the linked deployments.",
      "properties": {
        "deployment": {
          "description": "Optional. The deployment.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "version": {
          "description": "Optional. The version.",
          "$ref": "GoogleCloudApihubV1Version"
        },
        "api": {
          "description": "Optional. The API.",
          "$ref": "GoogleCloudApihubV1Api"
        }
      },
      "id": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView",
      "type": "object"
    },
    "GoogleCloudApihubV1StyleGuide": {
      "type": "object",
      "description": "Represents a singleton style guide resource to be used for linting Open API specs.",
      "properties": {
        "contents": {
          "$ref": "GoogleCloudApihubV1StyleGuideContents",
          "description": "Required. Input only. The contents of the uploaded style guide."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the style guide. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`"
        },
        "linter": {
          "enum": [
            "LINTER_UNSPECIFIED",
            "SPECTRAL",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Linter type unspecified.",
            "Linter type spectral.",
            "Linter type other."
          ],
          "description": "Required. Target linter for the style guide."
        }
      },
      "id": "GoogleCloudApihubV1StyleGuide"
    },
    "GoogleCloudApihubV1StyleGuideContents": {
      "id": "GoogleCloudApihubV1StyleGuideContents",
      "properties": {
        "contents": {
          "description": "Required. The contents of the style guide.",
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "description": "Required. The mime type of the content.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The style guide contents."
    },
    "GoogleCloudApihubV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "id": "GoogleCloudApihubV1Secret",
      "properties": {
        "secretVersion": {
          "description": "Required. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ApiKeyConfig": {
      "description": "Config for authentication with API key.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name.",
          "type": "string"
        },
        "apiKey": {
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}`. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret.",
          "$ref": "GoogleCloudApihubV1Secret"
        },
        "httpElementLocation": {
          "enum": [
            "HTTP_ELEMENT_LOCATION_UNSPECIFIED",
            "QUERY",
            "HEADER",
            "PATH",
            "BODY",
            "COOKIE"
          ],
          "description": "Required. The location of the API key. The default value is QUERY.",
          "type": "string",
          "enumDescriptions": [
            "HTTP element location not specified.",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ]
        }
      },
      "id": "GoogleCloudApihubV1ApiKeyConfig"
    },
    "GoogleCloudApihubV1LastExecution": {
      "id": "GoogleCloudApihubV1LastExecution",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. Error message describing the failure, if any, during the last execution.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last execution end time of the plugin instance."
        },
        "resultMetadata": {
          "type": "string",
          "description": "Output only. The result metadata of the last execution of the plugin instance. This will be a string representation of a JSON object and will be available on successful execution.",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The last execution start time of the plugin instance.",
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "readOnly": true,
          "enum": [
            "RESULT_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The result of the last execution of the plugin instance.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified execution result.",
            "The plugin instance executed successfully.",
            "The plugin instance execution failed."
          ]
        }
      },
      "description": "The result of the last execution of the plugin instance.",
      "type": "object"
    },
    "GoogleCloudApihubV1VersionMetadata": {
      "properties": {
        "version": {
          "description": "Required. Represents a version of the API resource in API hub. The ID of the version will be generated by Hub.",
          "$ref": "GoogleCloudApihubV1Version"
        },
        "originalId": {
          "description": "Optional. The unique identifier of the version in the system where it was originally created.",
          "type": "string"
        },
        "originalCreateTime": {
          "description": "Optional. Timestamp indicating when the version was created at the source.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalUpdateTime": {
          "type": "string",
          "description": "Required. Timestamp indicating when the version was last updated at the source.",
          "format": "google-datetime"
        },
        "deployments": {
          "description": "Optional. The deployments linked to this API version. Note: A particular API version could be deployed to multiple deployments (for dev deployment, UAT deployment, etc.)",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1DeploymentMetadata"
          }
        },
        "specs": {
          "description": "Optional. The specs associated with this version. Note that an API version can be associated with multiple specs.",
          "items": {
            "$ref": "GoogleCloudApihubV1SpecMetadata"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The metadata associated with a version of the API resource.",
      "id": "GoogleCloudApihubV1VersionMetadata"
    },
    "GoogleCloudApihubV1Attribute": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the attribute.",
          "type": "string"
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "API",
            "VERSION",
            "SPEC",
            "API_OPERATION",
            "DEPLOYMENT",
            "DEPENDENCY",
            "DEFINITION",
            "EXTERNAL_API",
            "PLUGIN"
          ],
          "type": "string",
          "description": "Required. The scope of the attribute. It represents the resource in the API Hub to which the attribute can be linked.",
          "enumDescriptions": [
            "Scope Unspecified.",
            "Attribute can be linked to an API.",
            "Attribute can be linked to an API version.",
            "Attribute can be linked to a Spec.",
            "Attribute can be linked to an API Operation.",
            "Attribute can be linked to a Deployment.",
            "Attribute can be linked to a Dependency.",
            "Attribute can be linked to a definition.",
            "Attribute can be linked to a ExternalAPI.",
            "Attribute can be linked to a Plugin."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the attribute was created."
        },
        "name": {
          "description": "Identifier. The name of the attribute in the API Hub. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
          "type": "string"
        },
        "allowedValues": {
          "items": {
            "$ref": "GoogleCloudApihubV1AllowedValue"
          },
          "description": "Optional. The list of allowed values when the attribute value is of type enum. This is required when the data_type of the attribute is ENUM. The maximum number of allowed values of an attribute will be 1000.",
          "type": "array"
        },
        "mandatory": {
          "description": "Output only. When mandatory is true, the attribute is mandatory for the resource specified in the scope. Only System defined attributes can be mandatory.",
          "type": "boolean",
          "readOnly": true
        },
        "dataType": {
          "enumDescriptions": [
            "Attribute data type unspecified.",
            "Attribute's value is of type enum.",
            "Attribute's value is of type json.",
            "Attribute's value is of type string.",
            "Attribute's value is of type uri."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "ENUM",
            "JSON",
            "STRING",
            "URI"
          ],
          "type": "string",
          "description": "Required. The type of the data of the attribute."
        },
        "definitionType": {
          "enumDescriptions": [
            "Attribute definition type unspecified.",
            "The attribute is predefined by the API Hub. Note that only the list of allowed values can be updated in this case via UpdateAttribute method.",
            "The attribute is defined by the user."
          ],
          "type": "string",
          "enum": [
            "DEFINITION_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ],
          "readOnly": true,
          "description": "Output only. The definition type of the attribute."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which the attribute was last updated.",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. The description of the attribute.",
          "type": "string"
        },
        "cardinality": {
          "format": "int32",
          "description": "Optional. The maximum number of values that the attribute can have when associated with an API Hub resource. Cardinality 1 would represent a single-valued attribute. It must not be less than 1 or greater than 20. If not specified, the cardinality would be set to 1 by default and represent a single-valued attribute.",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "An attribute in the API Hub. An attribute is a name value pair which can be attached to different resources in the API hub based on the scope of the attribute. Attributes can either be pre-defined by the API Hub or created by users.",
      "id": "GoogleCloudApihubV1Attribute"
    },
    "GoogleCloudApihubV1HttpOperationDetails": {
      "properties": {
        "queryParams": {
          "description": "Optional. Query params of HttpOperation",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1QueryParam"
          }
        },
        "response": {
          "description": "Optional. Response metadata.",
          "$ref": "GoogleCloudApihubV1HttpResponse"
        },
        "httpOperation": {
          "description": "Required. An HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        },
        "pathParams": {
          "items": {
            "$ref": "GoogleCloudApihubV1PathParam"
          },
          "description": "Optional. Path params of HttpOperation",
          "type": "array"
        },
        "request": {
          "description": "Optional. Request metadata.",
          "$ref": "GoogleCloudApihubV1HttpRequest"
        }
      },
      "id": "GoogleCloudApihubV1HttpOperationDetails",
      "type": "object",
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation."
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudApihubV1MultiSelectValues": {
      "id": "GoogleCloudApihubV1MultiSelectValues",
      "description": "The config variable value of data type multi select.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "description": "Optional. The config variable value of data type multi select.",
          "items": {
            "$ref": "GoogleCloudApihubV1ConfigValueOption"
          }
        }
      }
    },
    "GoogleCloudApihubV1SummaryEntry": {
      "properties": {
        "severity": {
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_ERROR",
            "SEVERITY_WARNING",
            "SEVERITY_INFO",
            "SEVERITY_HINT"
          ],
          "enumDescriptions": [
            "Severity unspecified.",
            "Severity error.",
            "Severity warning.",
            "Severity info.",
            "Severity hint."
          ],
          "type": "string",
          "description": "Required. Severity of the issue."
        },
        "count": {
          "description": "Required. Count of issues with the given severity.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudApihubV1SummaryEntry",
      "description": "Count of issues with a given severity.",
      "type": "object"
    },
    "GoogleCloudApihubV1AttributeValues": {
      "description": "The attribute values associated with resource.",
      "properties": {
        "enumValues": {
          "$ref": "GoogleCloudApihubV1EnumAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is enum."
        },
        "stringValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is string."
        },
        "uriValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is URL, URI or IP, like gs://bucket-name/object-name."
        },
        "attribute": {
          "description": "Output only. The name of the attribute. Format: projects/{project}/locations/{location}/attributes/{attribute}",
          "type": "string",
          "readOnly": true
        },
        "jsonValues": {
          "description": "The attribute values associated with a resource in case attribute data type is JSON.",
          "$ref": "GoogleCloudApihubV1StringAttributeValues"
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1AttributeValues"
    },
    "GoogleCloudApihubV1StringAttributeValues": {
      "type": "object",
      "description": "The attribute values of data type string or JSON.",
      "id": "GoogleCloudApihubV1StringAttributeValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The attribute values in case attribute data type is string or JSON.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApihubV1AdditionalSpecContent": {
      "type": "object",
      "description": "The additional spec content for the spec. This contains the metadata and the last update time for the additional spec content.",
      "properties": {
        "specContentType": {
          "description": "Required. The type of the spec content.",
          "enum": [
            "SPEC_CONTENT_TYPE_UNSPECIFIED",
            "BOOSTED_SPEC_CONTENT",
            "GATEWAY_OPEN_API_SPEC"
          ],
          "enumDescriptions": [
            "Unspecified spec content type. Defaults to spec content uploaded by the user.",
            "The spec content type for boosted spec.",
            "The spec content type for OpenAPI spec. This enum is used for OpenAPI specs ingested via APIGEE X Gateway."
          ],
          "type": "string"
        },
        "specContents": {
          "description": "Optional. The additional spec contents.",
          "$ref": "GoogleCloudApihubV1SpecContents"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels of the spec content e.g. specboost addon version."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the spec content was created."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time at which the spec content was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudApihubV1AdditionalSpecContent"
    },
    "GoogleCloudApihubV1QueryParam": {
      "id": "GoogleCloudApihubV1QueryParam",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of occurrences of this query parameter across transactions."
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Optional. Data type of path param"
        },
        "name": {
          "description": "Required. Name of query param",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An aggregation of HTTP query parameter occurrences."
    },
    "GoogleCloudApihubV1Addon": {
      "description": "Addon resource.",
      "id": "GoogleCloudApihubV1Addon",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the addon to enable. Format: `projects/{project}/locations/{location}/addons/{addon}`.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the addon.",
          "type": "string"
        },
        "dataSource": {
          "type": "string",
          "enumDescriptions": [
            "The data source of the addon is not specified.",
            "Addon operates on data collected from specific plugin instances.",
            "Addon operates on all data in the API hub."
          ],
          "description": "Required. The data source on which the addon operates. This determines which field in the `config` oneof is used.",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "PLUGIN_INSTANCE",
            "ALL_DATA"
          ]
        },
        "config": {
          "description": "Required. The configuration of the addon.",
          "$ref": "GoogleCloudApihubV1AddonConfig"
        },
        "updateTime": {
          "description": "Output only. The time at which the addon was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enum": [
            "ADDON_STATE_UNSPECIFIED",
            "ACTIVE",
            "UPDATING",
            "ERROR",
            "INACTIVE"
          ],
          "description": "Output only. The state of the addon.",
          "enumDescriptions": [
            "The addon state is not specified.",
            "The addon is active.",
            "The addon is being updated.",
            "The addon is in error state.",
            "The addon is inactive."
          ],
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which the addon was created.",
          "readOnly": true
        },
        "boostSpecGeminiRegionId": {
          "description": "Output only. The Vertex AI region where the BoostSpec Gemini model calls run for this API Hub instance. Populated only for the SpecGen addon (`system-spec-generation`); other addons leave this field empty. `gemini-2.5-flash` is not available in every API Hub region, so the effective region may differ from the API Hub instance's own region. The value follows these semantics: - `\"\"`: BoostSpec is disabled in this region (the addon is not SpecGen, or the API Hub instance region has no configured Gemini endpoint or fallback). - Equal to the API Hub instance region: BoostSpec calls run in-region. - Differs from the API Hub instance region: BoostSpec calls run in the specified fallback region. Callers rendering this field can derive the three display states from this single field combined with the API Hub instance region.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the addon."
        }
      }
    },
    "GoogleCloudApihubV1Version": {
      "properties": {
        "selectedDeployment": {
          "description": "Optional. The selected deployment for a Version resource. This can be used when special handling is needed on client side for a particular deployment linked to the version. Format is `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. The documentation of the version.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "apiOperations": {
          "description": "Output only. The operations contained in the API version. These operations will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "compliance": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The compliance associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-compliance` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "attributes": {
          "description": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "type": "object"
        },
        "name": {
          "description": "Identifier. The name of the version. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
          "type": "string"
        },
        "specs": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The specs associated with this version. Note that an API version can be associated with multiple specs. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`"
        },
        "accreditation": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The accreditations associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-accreditation` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "definitions": {
          "description": "Output only. The definitions contained in the API version. These definitions will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/definitions/{definition}`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. The display name of the version.",
          "type": "string"
        },
        "lifecycle": {
          "description": "Optional. The lifecycle of the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-lifecycle` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the version was last updated.",
          "type": "string"
        },
        "sourceMetadata": {
          "readOnly": true,
          "description": "Output only. The list of sources and metadata from the sources of the version.",
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time at which the version was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the version."
        },
        "deployments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The deployments linked directly to this API version. Only directly-linked deployments are returned; deployments linked to this version's specs or operations are not included. Note: A particular API version could be deployed to multiple deployments (for dev deployment, UAT deployment, etc) Format is `projects/{project}/locations/{location}/deployments/{deployment}`"
        }
      },
      "id": "GoogleCloudApihubV1Version",
      "description": "Represents a version of the API resource in API hub. This is also referred to as the API version.",
      "type": "object"
    },
    "GoogleCloudApihubV1OperationSchema": {
      "type": "object",
      "properties": {
        "jsonSchema": {
          "description": "The JSON schema. Only valid JSON is accepted but semantic validation of schema is not supported right now.",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudApihubV1OperationSchema",
      "description": "The operation schema needed for an operation."
    },
    "GoogleCloudApihubV1PluginInstanceActionSource": {
      "properties": {
        "actionId": {
          "type": "string",
          "description": "Output only. The id of the plugin instance action.",
          "readOnly": true
        },
        "pluginInstance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the source plugin instance. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        }
      },
      "id": "GoogleCloudApihubV1PluginInstanceActionSource",
      "type": "object",
      "description": "PluginInstanceActionSource represents the plugin instance action source."
    },
    "GoogleCloudApihubV1Deployment": {
      "description": "Details of the deployment where APIs are hosted. A deployment could represent an Apigee proxy, API gateway, other Google Cloud services or non-Google Cloud services as well. A deployment entity is a root level entity in the API hub and exists independent of any API.",
      "type": "object",
      "id": "GoogleCloudApihubV1Deployment",
      "properties": {
        "specs": {
          "type": "array",
          "description": "Output only. The specs linked directly to this deployment. Note: a deployment could serve multiple specs (e.g., across different revisions of the same underlying gateway configuration).",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sourceEnvironment": {
          "description": "Optional. The environment at source for the deployment. For example: prod, dev, staging, etc.",
          "type": "string"
        },
        "deploymentType": {
          "description": "Required. The type of deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-deployment-type` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the deployment resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "endpoints": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The endpoints at which this deployment resource is listening for API requests. This could be a list of complete URIs, hostnames or an IP addresses."
        },
        "sourceUri": {
          "description": "Optional. The uri where additional source specific information for this deployment can be found. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-source-uri` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "managementUrl": {
          "description": "Optional. The uri where users can navigate to for the management of the deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-management-url` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URL.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "apiVersions": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The API versions linked to this deployment. Note: A particular deployment could be linked to multiple different API versions (of same or different APIs).",
          "readOnly": true,
          "type": "array"
        },
        "sourceRevision": {
          "type": "string",
          "description": "Optional. A revision identifier for the underlying gateway configuration that this deployment serves. For Apigee gateway variants, this is typically the proxy revision number populated automatically when the deployment is discovered."
        },
        "slo": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The SLO for this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-slo` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "sourceMetadata": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "type": "array",
          "description": "Output only. The list of sources and metadata from the sources of the deployment."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the deployment was last updated."
        },
        "displayName": {
          "description": "Required. The display name of the deployment.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. The resource URI identifies the deployment within its gateway. For Apigee gateways, its recommended to use the format: organizations/{org}/environments/{env}/apis/{api}. For ex: if a proxy with name `orders` is deployed in `staging` environment of `cymbal` organization, the resource URI would be: `organizations/cymbal/environments/staging/apis/orders`."
        },
        "description": {
          "description": "Optional. The description of the deployment.",
          "type": "string"
        },
        "environment": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The environment mapping to this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-environment` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute."
        },
        "apiOperations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The API operations linked directly to this deployment.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
        },
        "documentation": {
          "$ref": "GoogleCloudApihubV1Documentation",
          "description": "Optional. The documentation of the deployment."
        },
        "sourceProject": {
          "type": "string",
          "description": "Optional. The project to which the deployment belongs. For Google Cloud gateways, this will refer to the project identifier. For others like Edge/OPDK, this will refer to the org identifier."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the deployment was created.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView": {
      "type": "object",
      "id": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView",
      "description": "A flattened view of an API, its version, one of its operations and one of the linked deployments. If there are no deployments linked to the operation then the result will be empty.",
      "properties": {
        "apiOperation": {
          "$ref": "GoogleCloudApihubV1ApiOperation",
          "description": "Optional. The API operation."
        },
        "deployment": {
          "$ref": "GoogleCloudApihubV1Deployment",
          "description": "Optional. The deployment."
        },
        "version": {
          "$ref": "GoogleCloudApihubV1Version",
          "description": "Optional. The version."
        },
        "api": {
          "$ref": "GoogleCloudApihubV1Api",
          "description": "Optional. The API."
        }
      }
    },
    "GoogleCloudApihubV1AllDataAddonConfig": {
      "id": "GoogleCloudApihubV1AllDataAddonConfig",
      "description": "Configuration for addons which act on all data in the API hub. This is used to specify if the addon is enabled for all data in the API hub.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Required. If true, the addon is enabled for all data in the API hub.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApihubV1ConfigureAndDeployServerRequest": {
      "id": "GoogleCloudApihubV1ConfigureAndDeployServerRequest",
      "type": "object",
      "properties": {
        "mcpServerConfig": {
          "$ref": "GoogleCloudApihubV1McpServerConfig",
          "description": "MCP (Model Context Protocol) server configuration."
        }
      },
      "description": "Request message for ApiHub.ConfigureAndDeployServer."
    },
    "GoogleCloudApihubV1Dependency": {
      "properties": {
        "discoveryMode": {
          "description": "Output only. Discovery mode of the dependency.",
          "enum": [
            "DISCOVERY_MODE_UNSPECIFIED",
            "MANUAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Manual mode of discovery when the dependency is defined by the user."
          ],
          "type": "string"
        },
        "consumer": {
          "$ref": "GoogleCloudApihubV1DependencyEntityReference",
          "description": "Required. Immutable. The entity acting as the consumer in the dependency."
        },
        "name": {
          "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
          "type": "string"
        },
        "supplier": {
          "$ref": "GoogleCloudApihubV1DependencyEntityReference",
          "description": "Required. Immutable. The entity acting as the supplier in the dependency."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the dependency was created.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Human readable description corresponding of the dependency."
        },
        "errorDetail": {
          "readOnly": true,
          "description": "Output only. Error details of a dependency if the system has detected it internally.",
          "$ref": "GoogleCloudApihubV1DependencyErrorDetail"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the dependency resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROPOSED",
            "VALIDATED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the dependency.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dependency will be in a proposed state when it is newly identified by the API hub on its own.",
            "Dependency will be in a validated state when it is validated by the admin or manually created in the API hub."
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the dependency was last updated.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApihubV1Dependency",
      "description": "A dependency resource defined in the API hub describes a dependency directed from a consumer to a supplier entity. A dependency can be defined between two Operations or between an Operation and External API.",
      "type": "object"
    },
    "GoogleCloudApihubV1Documentation": {
      "description": "Documentation details.",
      "id": "GoogleCloudApihubV1Documentation",
      "properties": {
        "externalUri": {
          "description": "Optional. The uri of the externally hosted documentation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1AddonConfig": {
      "type": "object",
      "id": "GoogleCloudApihubV1AddonConfig",
      "description": "Configuration for the addon.",
      "properties": {
        "gatewayPluginAddonConfig": {
          "description": "Configuration for gateway plugin addons.",
          "$ref": "GoogleCloudApihubV1GatewayPluginAddonConfig"
        },
        "allDataAddonConfig": {
          "description": "Configuration for addons which act on all data in the API hub.",
          "$ref": "GoogleCloudApihubV1AllDataAddonConfig"
        }
      }
    },
    "GoogleCloudApihubV1SourceMetadata": {
      "type": "object",
      "properties": {
        "originalResourceCreateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the resource was created at the source."
        },
        "originalResourceId": {
          "type": "string",
          "description": "Output only. The unique identifier of the resource at the source.",
          "readOnly": true
        },
        "originalResourceUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which the resource was last updated at the source.",
          "type": "string",
          "readOnly": true
        },
        "sourceType": {
          "enumDescriptions": [
            "Source type not specified.",
            "Source type plugin."
          ],
          "type": "string",
          "description": "Output only. The type of the source.",
          "readOnly": true,
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "PLUGIN"
          ]
        },
        "pluginInstanceActionSource": {
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1PluginInstanceActionSource",
          "description": "Output only. The source of the resource is a plugin instance action."
        }
      },
      "id": "GoogleCloudApihubV1SourceMetadata",
      "description": "SourceMetadata represents the metadata for a resource at the source."
    },
    "GoogleCloudApihubV1SearchResourcesRequest": {
      "id": "GoogleCloudApihubV1SearchResourcesRequest",
      "type": "object",
      "description": "The SearchResources method's request.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. An expression that filters the list of search results. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be `=`. Filters are not case sensitive. The following field names are eligible for filtering: * `resource_type` - The type of resource in the search results. Must be one of the following: `Api`, `ApiOperation`, `Deployment`, `Definition`, `Spec` or `Version`. This field can only be specified once in the filter. Here are is an example: * `resource_type = Api` - The resource_type is _Api_."
        },
        "query": {
          "description": "Required. The free text search query. This query can contain keywords which could be related to any detail of the API-Hub resources such display names, descriptions, attributes etc.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous SearchResources call. Specify this parameter to retrieve the next page of transactions. When paginating, you must specify the `page_token` parameter and all the other parameters except page_size should be specified with the same value which was used in the previous call. If the other fields are set with a different value than the previous call then `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        },
        "pageSize": {
          "description": "Optional. The maximum number of search results to return. The service may return fewer than this value. If unspecified at most 10 search results will be returned. If value is negative then `INVALID_ARGUMENT` error is returned. The maximum value is 25; values above 25 will be coerced to 25. While paginating, you can specify a new page size parameter for each page of search results to be listed.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudApihubV1ManageAddonConfigRequest": {
      "description": "The ManageAddonConfig method's request.",
      "type": "object",
      "properties": {
        "config": {
          "$ref": "GoogleCloudApihubV1AddonConfig",
          "description": "Required. The config of the addon to be managed. This config will replace the config present in the addon. The type of the config should match the config type already present in the addon."
        }
      },
      "id": "GoogleCloudApihubV1ManageAddonConfigRequest"
    },
    "GoogleCloudApihubV1ExecutionStatus": {
      "id": "GoogleCloudApihubV1ExecutionStatus",
      "properties": {
        "currentExecutionState": {
          "readOnly": true,
          "enum": [
            "CURRENT_EXECUTION_STATE_UNSPECIFIED",
            "RUNNING",
            "NOT_RUNNING"
          ],
          "description": "Output only. The current state of the execution.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified execution state.",
            "The plugin instance is executing.",
            "The plugin instance is not running an execution."
          ]
        },
        "lastExecution": {
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1LastExecution",
          "description": "Output only. The last execution of the plugin instance."
        }
      },
      "type": "object",
      "description": "The execution status for the plugin instance."
    },
    "GoogleCloudApihubV1DependencyEntityReference": {
      "description": "Reference to an entity participating in a dependency.",
      "properties": {
        "displayName": {
          "description": "Output only. Display name of the entity.",
          "readOnly": true,
          "type": "string"
        },
        "externalApiResourceName": {
          "description": "The resource name of an external API in the API Hub. Format: `projects/{project}/locations/{location}/externalApis/{external_api}`",
          "type": "string"
        },
        "operationResourceName": {
          "description": "The resource name of an operation in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1DependencyEntityReference",
      "type": "object"
    },
    "GoogleCloudApihubV1GoogleServiceAccountConfig": {
      "id": "GoogleCloudApihubV1GoogleServiceAccountConfig",
      "type": "object",
      "description": "Config for Google service account authentication.",
      "properties": {
        "serviceAccount": {
          "description": "Required. The service account to be used for authenticating request. The `iam.serviceAccounts.getAccessToken` permission should be granted on this service account to the impersonator service account.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1DisablePluginRequest": {
      "id": "GoogleCloudApihubV1DisablePluginRequest",
      "type": "object",
      "properties": {},
      "description": "The DisablePlugin method's request."
    },
    "GoogleCloudApihubV1ApiView": {
      "id": "GoogleCloudApihubV1ApiView",
      "properties": {
        "mcpToolView": {
          "description": "MCP tools view.",
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView"
        },
        "mcpServerView": {
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView",
          "description": "MCP server view."
        }
      },
      "type": "object",
      "description": "The view of an API."
    },
    "GoogleCloudApihubV1SpecDetails": {
      "description": "SpecDetails contains the details parsed from supported spec types.",
      "properties": {
        "openApiSpecDetails": {
          "description": "Output only. Additional details apart from `OperationDetails` parsed from an OpenAPI spec. The OperationDetails parsed from the spec can be obtained by using ListAPIOperations method.",
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1OpenApiSpecDetails"
        },
        "description": {
          "description": "Output only. The description of the spec.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1SpecDetails"
    },
    "GoogleCloudApihubV1ListExternalApisResponse": {
      "id": "GoogleCloudApihubV1ListExternalApisResponse",
      "description": "The ListExternalApis method's response.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "externalApis": {
          "description": "The External API resources present in the API hub.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1ExternalApi"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ConfigVariable": {
      "description": "ConfigVariable represents a additional configuration variable present in a PluginInstance Config or AuthConfig, based on a ConfigVariableTemplate.",
      "properties": {
        "multiIntValues": {
          "description": "Optional. The config variable value in case of config variable of type multi integer.",
          "$ref": "GoogleCloudApihubV1MultiIntValues"
        },
        "multiSelectValues": {
          "description": "Optional. The config variable value in case of config variable of type multi select.",
          "$ref": "GoogleCloudApihubV1MultiSelectValues"
        },
        "intValue": {
          "description": "Optional. The config variable value in case of config variable of type integer.",
          "type": "string",
          "format": "int64"
        },
        "secretValue": {
          "$ref": "GoogleCloudApihubV1Secret",
          "description": "Optional. The config variable value in case of config variable of type secret."
        },
        "multiStringValues": {
          "$ref": "GoogleCloudApihubV1MultiStringValues",
          "description": "Optional. The config variable value in case of config variable of type multi string."
        },
        "key": {
          "description": "Output only. Key will be the id to uniquely identify the config variable.",
          "readOnly": true,
          "type": "string"
        },
        "boolValue": {
          "description": "Optional. The config variable value in case of config variable of type boolean.",
          "type": "boolean"
        },
        "enumValue": {
          "description": "Optional. The config variable value in case of config variable of type enum.",
          "$ref": "GoogleCloudApihubV1ConfigValueOption"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. The config variable value in case of config variable of type string."
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1ConfigVariable"
    },
    "GoogleCloudApihubV1Spec": {
      "description": "Represents a spec associated with an API version in the API Hub. Note that specs of various types can be uploaded, however parsing of details is supported for OpenAPI spec currently.",
      "properties": {
        "additionalSpecContents": {
          "description": "Output only. The additional spec contents for the spec.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1AdditionalSpecContent"
          }
        },
        "parsingMode": {
          "enum": [
            "PARSING_MODE_UNSPECIFIED",
            "RELAXED",
            "STRICT"
          ],
          "description": "Optional. Input only. Enum specifying the parsing mode for OpenAPI Specification (OAS) parsing.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to `RELAXED`.",
            "Parsing of the Spec on create and update is relaxed, meaning that parsing errors the spec contents will not fail the API call.",
            "Parsing of the Spec on create and update is strict, meaning that parsing errors in the spec contents will fail the API call."
          ]
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the spec. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        },
        "details": {
          "$ref": "GoogleCloudApihubV1SpecDetails",
          "description": "Output only. Details parsed from the spec.",
          "readOnly": true
        },
        "deployments": {
          "type": "array",
          "description": "Optional. The deployments linked directly to this spec. Format is `projects/{project}/locations/{location}/deployments/{deployment}`",
          "items": {
            "type": "string"
          }
        },
        "sourceUri": {
[...]
