{
  "version_module": true,
  "discoveryVersion": "v1",
  "rootUrl": "https://apihub.googleapis.com/",
  "endpoints": [
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.asia-east1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-south1",
      "endpointUrl": "https://apihub.asia-south1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://apihub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apihub.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://apihub.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west3",
      "endpointUrl": "https://apihub.europe-west3.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.europe-west9.rep.googleapis.com/",
      "location": "europe-west9"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://apihub.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://apihub.us-central1.rep.googleapis.com/"
    },
    {
      "location": "us-east1",
      "endpointUrl": "https://apihub.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east4",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.us-east4.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apihub.us-west1.rep.googleapis.com/",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://apihub.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    }
  ],
  "baseUrl": "https://apihub.googleapis.com/",
  "revision": "20260922",
  "schemas": {
    "GoogleCloudApihubV1LintSpecRequest": {
      "id": "GoogleCloudApihubV1LintSpecRequest",
      "type": "object",
      "properties": {},
      "description": "The LintSpec method's request."
    },
    "GoogleCloudApihubV1Schema": {
      "type": "object",
      "description": "The schema details derived from the spec. Currently, this entity is supported for OpenAPI spec only. For OpenAPI spec, this maps to the schema defined in the `definitions` section for OpenAPI 2.0 version and in `components.schemas` section for OpenAPI 3.0 and 3.1 version.",
      "id": "GoogleCloudApihubV1Schema",
      "properties": {
        "rawValue": {
          "format": "byte",
          "readOnly": true,
          "description": "Output only. The raw value of the schema definition corresponding to the schema name in the spec.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the schema. This will map to the name of the schema in the spec.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApihubV1SearchResult": {
      "id": "GoogleCloudApihubV1SearchResult",
      "properties": {
        "resource": {
          "description": "This represents the ApiHubResource. Note: Only selected fields of the resources are populated in response.",
          "$ref": "GoogleCloudApihubV1ApiHubResource"
        }
      },
      "description": "Represents the search results.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudApihubV1Point": {
      "description": "Point within the file (line and character).",
      "id": "GoogleCloudApihubV1Point",
      "properties": {
        "line": {
          "description": "Required. Line number (zero-indexed).",
          "type": "integer",
          "format": "int32"
        },
        "character": {
          "description": "Required. Character position within the line (zero-indexed).",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1Header": {
      "type": "object",
      "id": "GoogleCloudApihubV1Header",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this Header across transactions."
        },
        "dataType": {
          "type": "string",
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      },
      "description": "An aggregation of HTTP header occurrences."
    },
    "GoogleCloudApihubV1MultiStringValues": {
      "id": "GoogleCloudApihubV1MultiStringValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The config variable value of data type multi string.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The config variable value of data type multi string."
    },
    "GoogleCloudApihubV1Range": {
      "type": "object",
      "id": "GoogleCloudApihubV1Range",
      "properties": {
        "end": {
          "$ref": "GoogleCloudApihubV1Point",
          "description": "Required. End of the issue."
        },
        "start": {
          "$ref": "GoogleCloudApihubV1Point",
          "description": "Required. Start of the issue."
        }
      },
      "description": "Object describing where in the file the issue was found."
    },
    "GoogleCloudApihubV1SpecMetadata": {
      "properties": {
        "originalCreateTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp indicating when the spec was created at the source.",
          "type": "string"
        },
        "spec": {
          "description": "Required. The spec resource to be pushed to Hub's collect layer. The ID of the spec will be generated by Hub.",
          "$ref": "GoogleCloudApihubV1Spec"
        },
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the spec was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the spec in the system where it was originally created."
        },
        "deploymentResourceUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The gateway-side URIs of deployments that serve this spec. If provided, the API Hub service creates links between this spec and the deployments identified by these URIs. URIs that don't match any known deployment are ignored; a subsequent ingestion cycle that includes the missing deployment will re-establish the link. The maximum number of URIs allowed is 100."
        }
      },
      "id": "GoogleCloudApihubV1SpecMetadata",
      "type": "object",
      "description": "The metadata associated with a spec of the API version."
    },
    "GoogleCloudApihubV1ExternalApi": {
      "properties": {
        "paths": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of paths served by this API."
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        },
        "documentation": {
          "$ref": "GoogleCloudApihubV1Documentation",
          "description": "Optional. Documentation of the external API."
        },
        "endpoints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of endpoints on which this API is accessible."
        },
        "displayName": {
          "description": "Required. Display name of the external API. Max length is 500 characters (Unicode Code Points).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/externalApi/{externalApi}`."
        },
        "description": {
          "description": "Optional. Description of the external API. Max length is 500000 characters (Unicode Code Points).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update timestamp.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "An external API represents an API being provided by external sources. This can be used to model third-party APIs and can be used to define dependencies.",
      "id": "GoogleCloudApihubV1ExternalApi",
      "type": "object"
    },
    "GoogleCloudApihubV1Endpoint": {
      "type": "object",
      "id": "GoogleCloudApihubV1Endpoint",
      "description": "The endpoint to be triggered for curation. The endpoint will be invoked with a request payload containing ApiMetadata. Response should contain curated data in the form of ApiMetadata.",
      "properties": {
        "applicationIntegrationEndpointDetails": {
          "description": "Required. The details of the Application Integration endpoint to be triggered for curation.",
          "$ref": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails"
        }
      }
    },
    "GoogleCloudApihubV1GatewayPluginConfig": {
      "description": "Configuration for a gateway plugin. This is used to specify configs for different gateways.",
      "id": "GoogleCloudApihubV1GatewayPluginConfig",
      "properties": {
        "apigeeEdgeConfig": {
          "description": "Configuration for Apigee Edge gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeEdgeConfig"
        },
        "pluginInstance": {
          "description": "Required. The name of the gateway plugin instance for which the config is to be specified. Format: projects/{project}/locations/{location}/plugins/{plugin}/pluginInstances/{plugin_instance}",
          "type": "string"
        },
        "apigeeOpdkConfig": {
          "description": "Configuration for Apigee OPDK gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeOPDKConfig"
        },
        "apigeeXHybridConfig": {
          "$ref": "GoogleCloudApihubV1ApigeeXHybridConfig",
          "description": "Configuration for Apigee X and Apigee Hybrid gateways."
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1SearchResourcesResponse": {
      "description": "Response for the SearchResources method.",
      "type": "object",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudApihubV1SearchResult"
          },
          "description": "List of search results according to the filter and search query specified. The order of search results represents the ranking.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pass this token in the SearchResourcesRequest to continue to list results. If all results have been returned, this field is an empty string or not present in the response."
        }
      },
      "id": "GoogleCloudApihubV1SearchResourcesResponse"
    },
    "GoogleCloudApihubV1ManageAddonConfigRequest": {
      "properties": {
        "config": {
          "$ref": "GoogleCloudApihubV1AddonConfig",
          "description": "Required. The config of the addon to be managed. This config will replace the config present in the addon. The type of the config should match the config type already present in the addon."
        }
      },
      "description": "The ManageAddonConfig method's request.",
      "id": "GoogleCloudApihubV1ManageAddonConfigRequest",
      "type": "object"
    },
    "GoogleCloudApihubV1ApiOperation": {
      "description": "Represents an operation contained in an API version in the API Hub. An operation is added/updated/deleted in an API version when a new spec is added or an existing spec is updated/deleted in a version. Currently, an operation will be created only corresponding to OpenAPI spec as parsing is supported for OpenAPI spec. Alternatively operations can be managed via create,update and delete APIs, creation of apiOperation can be possible only for version with no parsed operations and update/delete can be possible only for operations created via create API.",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "description": "Optional. Operation details. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided.",
          "$ref": "GoogleCloudApihubV1OperationDetails"
        },
        "spec": {
          "readOnly": true,
          "description": "Output only. The name of the spec will be of the format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}` Note:The name of the spec will be empty if the operation is created via CreateApiOperation API.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the operation was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "string"
        },
        "deployments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The deployments linked directly to this API operation. For operations parsed from a spec, `UpdateApiOperation` returns `FAILED_PRECONDITION`; link the parent spec to the deployment via `Spec.deployments` instead. Format is `projects/{project}/locations/{location}/deployments/{deployment}`"
        },
        "sourceMetadata": {
          "description": "Output only. The list of sources and metadata from the sources of the API operation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          }
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "type": "object",
          "description": "Optional. The list of user defined attributes associated with the API operation resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource."
        }
      },
      "id": "GoogleCloudApihubV1ApiOperation",
      "type": "object"
    },
    "GoogleCloudApihubV1ApiHubResource": {
      "properties": {
        "definition": {
          "$ref": "GoogleCloudApihubV1Definition",
          "description": "This represents Definition resource in search results. Only name field is populated in search results."
        },
        "operation": {
          "description": "This represents ApiOperation resource in search results. Only name, description, spec and details fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1ApiOperation"
        },
        "api": {
          "description": "This represents Api resource in search results. Only name, display_name, description and owner fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Api"
        },
        "spec": {
          "$ref": "GoogleCloudApihubV1Spec",
          "description": "This represents Spec resource in search results. Only name, display_name, description, spec_type and documentation fields are populated in search results."
        },
        "deployment": {
          "description": "This represents Deployment resource in search results. Only name, display_name, description, deployment_type and api_versions fields are populated in search results.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "version": {
          "$ref": "GoogleCloudApihubV1Version",
          "description": "This represents Version resource in search results. Only name, display_name, description, lifecycle, compliance and accreditation fields are populated in search results."
        }
      },
      "description": "ApiHubResource is one of the resources such as Api, Operation, Deployment, Definition, Spec and Version resources stored in API-Hub.",
      "type": "object",
      "id": "GoogleCloudApihubV1ApiHubResource"
    },
    "GoogleCloudApihubV1HttpOperationConfig": {
      "description": "Identifies a single API Hub operation by spec resource name + HTTP path + HTTP method.",
      "id": "GoogleCloudApihubV1HttpOperationConfig",
      "properties": {
        "path": {
          "description": "Required. HTTP path of the operation within the referenced spec. Match is exact (no template substitution): the path here must appear verbatim on an APIOperationRevision belonging to the spec.",
          "type": "string"
        },
        "method": {
          "enumDescriptions": [
            "Method unspecified.",
            "Get Operation type.",
            "Put Operation type.",
            "Post Operation type.",
            "Delete Operation type.",
            "Options Operation type.",
            "Head Operation type.",
            "Patch Operation type.",
            "Trace Operation type."
          ],
          "enum": [
            "METHOD_UNSPECIFIED",
            "GET",
            "PUT",
            "POST",
            "DELETE",
            "OPTIONS",
            "HEAD",
            "PATCH",
            "TRACE"
          ],
          "type": "string",
          "description": "Required. HTTP method of the operation within the referenced spec. (GET / PUT / POST / DELETE / OPTIONS / HEAD / PATCH / TRACE)."
        },
        "spec": {
          "type": "string",
          "description": "Required. Spec resource name: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ConfigValueOption": {
      "id": "GoogleCloudApihubV1ConfigValueOption",
      "description": "ConfigValueOption represents an option for a config variable of type enum or multi select.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. Id of the option."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name of the option."
        },
        "description": {
          "description": "Optional. Description of the option.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1OperationMetadata"
    },
    "GoogleCloudApihubV1ListAttributesResponse": {
      "type": "object",
      "description": "The ListAttributes method's response.",
      "id": "GoogleCloudApihubV1ListAttributesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApihubV1Attribute"
          },
          "description": "The list of all attributes.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApihubV1AttributeValues": {
      "properties": {
        "enumValues": {
          "description": "The attribute values associated with a resource in case attribute data type is enum.",
          "$ref": "GoogleCloudApihubV1EnumAttributeValues"
        },
        "uriValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is URL, URI or IP, like gs://bucket-name/object-name."
        },
        "jsonValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is JSON."
        },
        "attribute": {
          "type": "string",
          "description": "Output only. The name of the attribute. Format: projects/{project}/locations/{location}/attributes/{attribute}",
          "readOnly": true
        },
        "stringValues": {
          "$ref": "GoogleCloudApihubV1StringAttributeValues",
          "description": "The attribute values associated with a resource in case attribute data type is string."
        }
      },
      "id": "GoogleCloudApihubV1AttributeValues",
      "type": "object",
      "description": "The attribute values associated with resource."
    },
    "GoogleCloudApihubV1FetchAdditionalSpecContentResponse": {
      "description": "The FetchAdditionalSpecContent method's response.",
      "type": "object",
      "properties": {
        "additionalSpecContent": {
          "$ref": "GoogleCloudApihubV1AdditionalSpecContent",
          "description": "The additional spec content."
        }
      },
      "id": "GoogleCloudApihubV1FetchAdditionalSpecContentResponse"
    },
    "GoogleCloudApihubV1ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "description": "The versions corresponding to an API.",
          "items": {
            "$ref": "GoogleCloudApihubV1Version"
          }
        }
      },
      "type": "object",
      "description": "The ListVersions method's response.",
      "id": "GoogleCloudApihubV1ListVersionsResponse"
    },
    "GoogleCloudApihubV1LintResponse": {
      "type": "object",
      "properties": {
        "linter": {
          "description": "Required. Name of the linter used.",
          "enumDescriptions": [
            "Linter type unspecified.",
            "Linter type spectral.",
            "Linter type other."
          ],
          "type": "string",
          "enum": [
            "LINTER_UNSPECIFIED",
            "SPECTRAL",
            "OTHER"
          ]
        },
        "issues": {
          "description": "Optional. Array of issues found in the analyzed document.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Issue"
          }
        },
        "state": {
          "enum": [
            "LINT_STATE_UNSPECIFIED",
            "LINT_STATE_SUCCESS",
            "LINT_STATE_ERROR"
          ],
          "description": "Required. Lint state represents success or failure for linting.",
          "enumDescriptions": [
            "Lint state unspecified.",
            "Linting was completed successfully.",
            "Linting encountered errors."
          ],
          "type": "string"
        },
        "summary": {
          "description": "Optional. Summary of all issue types and counts for each severity level.",
          "items": {
            "$ref": "GoogleCloudApihubV1SummaryEntry"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Required. Timestamp when the linting response was generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "source": {
          "description": "Required. Name of the linting application.",
          "type": "string"
        }
      },
      "description": "LintResponse contains the response from the linter.",
      "id": "GoogleCloudApihubV1LintResponse"
    },
    "GoogleCloudApihubV1DiscoveredApiObservation": {
      "description": "Respresents an API Observation observed in one of the sources.",
      "properties": {
        "style": {
          "type": "string",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "description": "Optional. Style of ApiObservation",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ]
        },
        "apiOperationCount": {
          "description": "Optional. The number of observed API Operations.",
          "type": "string",
          "format": "int64"
        },
        "sourceMetadata": {
          "$ref": "GoogleCloudApihubV1SourceMetadata",
          "description": "Output only. The metadata of the source from which the observation was collected.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time stamp of the observation in API Hub.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "knownOperationsCount": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The number of known API Operations.",
          "format": "int64"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp of the observation in API Hub.",
          "type": "string",
          "readOnly": true
        },
        "lastEventDetectedTime": {
          "type": "string",
          "description": "Optional. Last event detected time stamp",
          "format": "google-datetime"
        },
        "serverIps": {
          "description": "Optional. The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the discovered API Observation. Format: `projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}`"
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The location of the observation source."
        },
        "sourceTypes": {
          "description": "Optional. The type of the source from which the observation was collected.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Source type not specified.",
              "Google Cloud external load balancer.",
              "Google Cloud internal load balancer."
            ],
            "enum": [
              "SOURCE_TYPE_UNSPECIFIED",
              "GCP_XLB",
              "GCP_ILB"
            ]
          },
          "type": "array"
        },
        "origin": {
          "description": "Optional. For an observation pushed from a Google Cloud resource, this would be the Google Cloud project id.",
          "type": "string"
        },
        "unknownOperationsCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of unknown API Operations.",
          "format": "int64"
        },
        "hostname": {
          "description": "Optional. The hostname of requests processed for this Observation.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1DiscoveredApiObservation",
      "type": "object"
    },
    "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails": {
      "properties": {
        "triggerId": {
          "description": "Required. The API trigger ID of the Application Integration workflow.",
          "type": "string"
        },
        "uri": {
          "description": "Required. The endpoint URI should be a valid REST URI for triggering an Application Integration. Format: `https://integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute` or `https://{location}-integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute`",
          "type": "string"
        }
      },
      "description": "The details of the Application Integration endpoint to be triggered for curation.",
      "type": "object",
      "id": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails"
    },
    "GoogleCloudApihubV1ListPluginsResponse": {
      "type": "object",
      "id": "GoogleCloudApihubV1ListPluginsResponse",
      "properties": {
        "plugins": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Plugin"
          },
          "description": "The plugins from the specified parent resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The ListPlugins method's response."
    },
    "GoogleCloudApihubV1DependencyEntityReference": {
      "properties": {
        "externalApiResourceName": {
          "type": "string",
          "description": "The resource name of an external API in the API Hub. Format: `projects/{project}/locations/{location}/externalApis/{external_api}`"
        },
        "operationResourceName": {
          "type": "string",
          "description": "The resource name of an operation in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`"
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the entity.",
          "type": "string"
        }
      },
      "description": "Reference to an entity participating in a dependency.",
      "id": "GoogleCloudApihubV1DependencyEntityReference",
      "type": "object"
    },
    "GoogleCloudApihubV1Plugin": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The plugin is enabled.",
            "The plugin is disabled."
          ],
          "description": "Output only. Represents the state of the plugin. Note this field will not be set for plugins developed via plugin framework as the state will be managed at plugin instance level.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string",
          "readOnly": true
        },
        "ownershipType": {
          "description": "Output only. The type of the plugin, indicating whether it is 'SYSTEM_OWNED' or 'USER_OWNED'.",
          "readOnly": true,
          "enum": [
            "OWNERSHIP_TYPE_UNSPECIFIED",
            "SYSTEM_OWNED",
            "USER_OWNED"
          ],
          "enumDescriptions": [
            "Default unspecified type.",
            "System owned plugins are defined by API hub and are available out of the box in API hub.",
            "User owned plugins are defined by the user and need to be explicitly added to API hub via CreatePlugin method."
          ],
          "type": "string"
        },
        "type": {
          "$ref": "GoogleCloudApihubV1AttributeValues",
          "description": "Optional. The type of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-plugin-type` attribute. The number of allowed values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute. Note this field is not required for plugins developed via plugin framework."
        },
        "configTemplate": {
          "$ref": "GoogleCloudApihubV1ConfigTemplate",
          "description": "Optional. The configuration template for the plugin."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp indicating when the plugin was last updated."
        },
        "createTime": {
          "description": "Output only. Timestamp indicating when the plugin was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "hostingService": {
          "description": "Optional. This field is optional. It is used to notify the plugin hosting service for any lifecycle changes of the plugin instance and trigger execution of plugin instance actions in case of API hub managed actions. This field should be provided if the plugin instance lifecycle of the developed plugin needs to be managed from API hub. Also, in this case the plugin hosting service interface needs to be implemented. This field should not be provided if the plugin wants to manage plugin instance lifecycle events outside of hub interface and use plugin framework for only registering of plugin and plugin instances to capture the source of data into hub. Note, in this case the plugin hosting service interface is not required to be implemented. Also, the plugin instance lifecycle actions will be disabled from API hub's UI.",
          "$ref": "GoogleCloudApihubV1HostingService"
        },
        "displayName": {
          "description": "Required. The display name of the plugin. Max length is 500 characters (Unicode code points).",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. The documentation of the plugin, that explains how to set up and use the plugin.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "actionsConfig": {
          "items": {
            "$ref": "GoogleCloudApihubV1PluginActionConfig"
          },
          "description": "Optional. The configuration of actions supported by the plugin. **REQUIRED**: This field must be provided when creating or updating a Plugin. The server will reject requests if this field is missing.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the plugin. Format: `projects/{project}/locations/{location}/plugins/{plugin}`"
        },
        "description": {
          "type": "string",
          "description": "Optional. The plugin description. Max length is 500000 characters (Unicode code points)."
        },
        "gatewayType": {
          "type": "string",
          "enum": [
            "GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X_AND_HYBRID",
            "APIGEE_EDGE_PUBLIC_CLOUD",
            "APIGEE_EDGE_PRIVATE_CLOUD",
            "CLOUD_API_GATEWAY",
            "CLOUD_ENDPOINTS",
            "API_DISCOVERY",
            "OTHERS",
            "AWS_API_GATEWAY",
            "AZURE_API_MANAGEMENT"
          ],
          "description": "Optional. The type of the gateway.",
          "enumDescriptions": [
            "The gateway type is not specified.",
            "The gateway type is Apigee X and Hybrid.",
            "The gateway type is Apigee Edge Public Cloud.",
            "The gateway type is Apigee Edge Private Cloud.",
            "The gateway type is Cloud API Gateway.",
            "The gateway type is Cloud Endpoints.",
            "The gateway type is API Discovery.",
            "The gateway type for any other types of gateways.",
            "The gateway type is AWS API Gateway.",
            "The gateway type is Azure API Management."
          ]
        },
        "pluginCategory": {
          "description": "Optional. The category of the plugin, identifying its primary category or purpose. This field is required for all plugins.",
          "enum": [
            "PLUGIN_CATEGORY_UNSPECIFIED",
            "API_GATEWAY",
            "API_PRODUCER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default unspecified plugin type.",
            "API_GATEWAY plugins represent plugins built for API Gateways like Apigee.",
            "API_PRODUCER plugins represent plugins built for API Producers like Cloud Run, Application Integration etc."
          ]
        }
      },
      "type": "object",
      "description": "A plugin resource in the API Hub.",
      "id": "GoogleCloudApihubV1Plugin"
    },
    "GoogleCloudApihubV1AddonConfig": {
      "type": "object",
      "properties": {
        "gatewayPluginAddonConfig": {
          "description": "Configuration for gateway plugin addons.",
          "$ref": "GoogleCloudApihubV1GatewayPluginAddonConfig"
        },
        "allDataAddonConfig": {
          "$ref": "GoogleCloudApihubV1AllDataAddonConfig",
          "description": "Configuration for addons which act on all data in the API hub."
        }
      },
      "id": "GoogleCloudApihubV1AddonConfig",
      "description": "Configuration for the addon."
    },
    "GoogleCloudApihubV1SourceMetadata": {
      "id": "GoogleCloudApihubV1SourceMetadata",
      "type": "object",
      "properties": {
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Source type not specified.",
            "Source type plugin."
          ],
          "readOnly": true,
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "PLUGIN"
          ],
          "description": "Output only. The type of the source."
        },
        "pluginInstanceActionSource": {
          "description": "Output only. The source of the resource is a plugin instance action.",
          "$ref": "GoogleCloudApihubV1PluginInstanceActionSource",
          "readOnly": true
        },
        "originalResourceCreateTime": {
          "description": "Output only. The time at which the resource was created at the source.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "originalResourceUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which the resource was last updated at the source."
        },
        "originalResourceId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource at the source."
        }
      },
      "description": "SourceMetadata represents the metadata for a resource at the source."
    },
    "GoogleRpcStatus": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "GoogleRpcStatus",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApihubV1AdditionalSpecContent": {
      "type": "object",
      "id": "GoogleCloudApihubV1AdditionalSpecContent",
      "description": "The additional spec content for the spec. This contains the metadata and the last update time for the additional spec content.",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time at which the spec content was last updated."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time at which the spec content was created.",
          "type": "string"
        },
        "specContentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified spec content type. Defaults to spec content uploaded by the user.",
            "The spec content type for boosted spec.",
            "The spec content type for OpenAPI spec. This enum is used for OpenAPI specs ingested via APIGEE X Gateway."
          ],
          "enum": [
            "SPEC_CONTENT_TYPE_UNSPECIFIED",
            "BOOSTED_SPEC_CONTENT",
            "GATEWAY_OPEN_API_SPEC"
          ],
          "description": "Required. The type of the spec content."
        },
        "specContents": {
          "description": "Optional. The additional spec contents.",
          "$ref": "GoogleCloudApihubV1SpecContents"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels of the spec content e.g. specboost addon version.",
          "type": "object"
        }
      }
    },
    "GoogleCloudApihubV1SearchResourcesRequest": {
      "description": "The SearchResources method's request.",
      "properties": {
        "filter": {
          "type": "string",
          "description": "Optional. An expression that filters the list of search results. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be `=`. Filters are not case sensitive. The following field names are eligible for filtering: * `resource_type` - The type of resource in the search results. Must be one of the following: `Api`, `ApiOperation`, `Deployment`, `Definition`, `Spec` or `Version`. This field can only be specified once in the filter. Here are is an example: * `resource_type = Api` - The resource_type is _Api_."
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of search results to return. The service may return fewer than this value. If unspecified at most 10 search results will be returned. If value is negative then `INVALID_ARGUMENT` error is returned. The maximum value is 25; values above 25 will be coerced to 25. While paginating, you can specify a new page size parameter for each page of search results to be listed."
        },
        "query": {
          "description": "Required. The free text search query. This query can contain keywords which could be related to any detail of the API-Hub resources such display names, descriptions, attributes etc.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous SearchResources call. Specify this parameter to retrieve the next page of transactions. When paginating, you must specify the `page_token` parameter and all the other parameters except page_size should be specified with the same value which was used in the previous call. If the other fields are set with a different value than the previous call then `INVALID_ARGUMENT` error is returned.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1SearchResourcesRequest"
    },
    "GoogleCloudApihubV1ListSpecsResponse": {
      "description": "The ListSpecs method's response.",
      "type": "object",
      "id": "GoogleCloudApihubV1ListSpecsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "specs": {
          "description": "The specs corresponding to an API Version.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Spec"
          }
        }
      }
    },
    "GoogleCloudApihubV1DiscoveredApiOperation": {
      "id": "GoogleCloudApihubV1DiscoveredApiOperation",
      "description": "DiscoveredApiOperation represents an API Operation observed in one of the sources.",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The number of occurrences of this API Operation."
        },
        "httpOperation": {
          "$ref": "GoogleCloudApihubV1HttpOperationDetails",
          "description": "Optional. An HTTP Operation."
        },
        "firstSeenTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. First seen time stamp"
        },
        "matchResults": {
          "items": {
            "$ref": "GoogleCloudApihubV1MatchResult"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of matched results for the discovered API operation. This will be populated only if the classification is known. The current usecase is for a single match. Keeping it repeated to support multiple matches in future."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time stamp of the discovered API operation in API Hub.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "sourceMetadata": {
          "readOnly": true,
          "description": "Output only. The metadata of the source from which the api operation was collected.",
          "$ref": "GoogleCloudApihubV1SourceMetadata"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Update time stamp of the discovered API operation in API Hub."
        },
        "classification": {
          "type": "string",
          "enum": [
            "CLASSIFICATION_UNSPECIFIED",
            "KNOWN",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Operation is not classified as known or unknown.",
            "Operation has a matched catalog operation.",
            "Operation does not have a matched catalog operation."
          ],
          "description": "Output only. The classification of the discovered API operation.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the discovered API Operation. Format: `projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}/discoveredApiOperations/{discovered_api_operation}`"
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Last seen time stamp"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest": {
      "properties": {
        "relativePath": {
          "description": "Required. Relative path of data being managed for a given plugin instance.",
          "type": "string"
        },
        "action": {
          "description": "Required. Action to be performed.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified action.",
            "Upload or upsert data.",
            "Delete data."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPLOAD",
            "DELETE"
          ]
        },
        "data": {
          "description": "Required. Data to be managed.",
          "type": "string",
          "format": "byte"
        },
        "dataType": {
          "enumDescriptions": [
            "Default unspecified type.",
            "Proxy deployment manifest.",
            "Environment manifest.",
            "Proxy bundle.",
            "Shared flow bundle."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "PROXY_DEPLOYMENT_MANIFEST",
            "ENVIRONMENT_MANIFEST",
            "PROXY_BUNDLE",
            "SHARED_FLOW_BUNDLE"
          ],
          "description": "Required. Type of data to be managed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest",
      "description": "The ManagePluginInstanceSourceData method's request.",
      "type": "object"
    },
    "GoogleCloudApihubV1DisablePluginInstanceActionRequest": {
      "properties": {
        "actionId": {
          "description": "Required. The action id to disable.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The DisablePluginInstanceAction method's request.",
      "id": "GoogleCloudApihubV1DisablePluginInstanceActionRequest"
    },
    "GoogleCloudApihubV1SpecDetails": {
      "properties": {
        "description": {
          "description": "Output only. The description of the spec.",
          "readOnly": true,
          "type": "string"
        },
        "openApiSpecDetails": {
          "readOnly": true,
          "description": "Output only. Additional details apart from `OperationDetails` parsed from an OpenAPI spec. The OperationDetails parsed from the spec can be obtained by using ListAPIOperations method.",
          "$ref": "GoogleCloudApihubV1OpenApiSpecDetails"
        }
      },
      "description": "SpecDetails contains the details parsed from supported spec types.",
      "type": "object",
      "id": "GoogleCloudApihubV1SpecDetails"
    },
    "GoogleCloudApihubV1AllowedValue": {
      "id": "GoogleCloudApihubV1AllowedValue",
      "description": "The value that can be assigned to the attribute when the data type is enum.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The detailed description of the allowed value.",
          "type": "string"
        },
        "immutable": {
          "description": "Optional. When set to true, the allowed value cannot be updated or deleted by the user. It can only be true for System defined attributes.",
          "type": "boolean"
        },
        "id": {
          "description": "Required. The ID of the allowed value. * If provided, the same will be used. The service will throw an error if the specified id is already used by another allowed value in the same attribute resource. * If not provided, a system generated id derived from the display name will be used. In this case, the service will handle conflict resolution by adding a system generated suffix in case of duplicates. This value should be 3-500 characters, and valid characters are /a-z[0-9]-_/.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the allowed value."
        }
      }
    },
    "GoogleCloudApihubV1StyleGuide": {
      "description": "Represents a singleton style guide resource to be used for linting Open API specs.",
      "properties": {
        "linter": {
          "type": "string",
          "enumDescriptions": [
            "Linter type unspecified.",
            "Linter type spectral.",
            "Linter type other."
          ],
          "description": "Required. Target linter for the style guide.",
          "enum": [
            "LINTER_UNSPECIFIED",
            "SPECTRAL",
            "OTHER"
          ]
        },
        "contents": {
          "description": "Required. Input only. The contents of the uploaded style guide.",
          "$ref": "GoogleCloudApihubV1StyleGuideContents"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the style guide. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`"
        }
      },
      "id": "GoogleCloudApihubV1StyleGuide",
      "type": "object"
    },
    "GoogleCloudApihubV1Secret": {
      "id": "GoogleCloudApihubV1Secret",
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Required. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1Attribute": {
      "description": "An attribute in the API Hub. An attribute is a name value pair which can be attached to different resources in the API hub based on the scope of the attribute. Attributes can either be pre-defined by the API Hub or created by users.",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Scope Unspecified.",
            "Attribute can be linked to an API.",
            "Attribute can be linked to an API version.",
            "Attribute can be linked to a Spec.",
            "Attribute can be linked to an API Operation.",
            "Attribute can be linked to a Deployment.",
            "Attribute can be linked to a Dependency.",
            "Attribute can be linked to a definition.",
            "Attribute can be linked to a ExternalAPI.",
            "Attribute can be linked to a Plugin."
          ],
          "type": "string",
          "description": "Required. The scope of the attribute. It represents the resource in the API Hub to which the attribute can be linked.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "API",
            "VERSION",
            "SPEC",
            "API_OPERATION",
            "DEPLOYMENT",
            "DEPENDENCY",
            "DEFINITION",
            "EXTERNAL_API",
            "PLUGIN"
          ]
        },
        "allowedValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1AllowedValue"
          },
          "description": "Optional. The list of allowed values when the attribute value is of type enum. This is required when the data_type of the attribute is ENUM. The maximum number of allowed values of an attribute will be 1000."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the attribute in the API Hub. Format: `projects/{project}/locations/{location}/attributes/{attribute}`"
        },
        "mandatory": {
          "type": "boolean",
          "description": "Output only. When mandatory is true, the attribute is mandatory for the resource specified in the scope. Only System defined attributes can be mandatory.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the attribute was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the attribute."
        },
        "displayName": {
          "description": "Required. The display name of the attribute.",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Attribute data type unspecified.",
            "Attribute's value is of type enum.",
            "Attribute's value is of type json.",
            "Attribute's value is of type string.",
            "Attribute's value is of type uri."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "ENUM",
            "JSON",
            "STRING",
            "URI"
          ],
          "description": "Required. The type of the data of the attribute.",
          "type": "string"
        },
        "cardinality": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of values that the attribute can have when associated with an API Hub resource. Cardinality 1 would represent a single-valued attribute. It must not be less than 1 or greater than 20. If not specified, the cardinality would be set to 1 by default and represent a single-valued attribute."
        },
        "updateTime": {
          "description": "Output only. The time at which the attribute was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "definitionType": {
          "enumDescriptions": [
            "Attribute definition type unspecified.",
            "The attribute is predefined by the API Hub. Note that only the list of allowed values can be updated in this case via UpdateAttribute method.",
            "The attribute is defined by the user."
          ],
          "enum": [
            "DEFINITION_TYPE_UNSPECIFIED",
            "SYSTEM_DEFINED",
            "USER_DEFINED"
          ],
          "readOnly": true,
          "description": "Output only. The definition type of the attribute.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1Attribute",
      "type": "object"
    },
    "GoogleCloudApihubV1ApiHubInstance": {
      "type": "object",
      "id": "GoogleCloudApihubV1ApiHubInstance",
      "properties": {
        "stateMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Extra information about ApiHub instance state. Currently the message would be populated when state is `FAILED`."
        },
        "config": {
          "description": "Required. Config of the ApiHub instance.",
          "$ref": "GoogleCloudApihubV1Config"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The ApiHub instance has not been initialized or has been deleted.",
            "The ApiHub instance is being created.",
            "The ApiHub instance has been created and is ready for use.",
            "The ApiHub instance is being updated.",
            "The ApiHub instance is being deleted.",
            "The ApiHub instance encountered an error during a state change."
          ],
          "description": "Output only. The current state of the ApiHub instance.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Optional. Instance labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the ApiHub instance.",
          "type": "string"
        }
      },
      "description": "An ApiHubInstance represents the instance resources of the API Hub. Currently, only one ApiHub instance is allowed for each project."
    },
    "GoogleCloudApihubV1ExecutePluginInstanceActionRequest": {
      "id": "GoogleCloudApihubV1ExecutePluginInstanceActionRequest",
      "type": "object",
      "description": "The ExecutePluginInstanceAction method's request.",
      "properties": {
        "actionExecutionDetail": {
          "$ref": "GoogleCloudApihubV1ActionExecutionDetail",
          "description": "Required. The execution details for the action to execute."
        }
      }
    },
    "GoogleCloudApihubV1LookupApiHubInstanceResponse": {
      "id": "GoogleCloudApihubV1LookupApiHubInstanceResponse",
      "properties": {
        "apiHubInstance": {
          "$ref": "GoogleCloudApihubV1ApiHubInstance",
          "description": "API Hub instance for a project if it exists, empty otherwise."
        }
      },
      "type": "object",
      "description": "The LookupApiHubInstance method's response.`"
    },
    "GoogleCloudApihubV1Documentation": {
      "description": "Documentation details.",
      "id": "GoogleCloudApihubV1Documentation",
      "type": "object",
      "properties": {
        "externalUri": {
          "type": "string",
          "description": "Optional. The uri of the externally hosted documentation."
        }
      }
    },
    "GoogleCloudApihubV1HttpRequest": {
      "type": "object",
      "id": "GoogleCloudApihubV1HttpRequest",
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1Header"
          },
          "type": "object",
          "description": "Optional. Unordered map from header name to header metadata"
        }
      },
      "description": "An aggregation of HTTP requests."
    },
    "GoogleCloudApihubV1ApiData": {
      "description": "The API data to be collected.",
      "id": "GoogleCloudApihubV1ApiData",
      "properties": {
        "apiMetadataList": {
          "description": "Optional. The list of API metadata.",
          "$ref": "GoogleCloudApihubV1ApiMetadataList"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1OperationDetails": {
      "description": "The operation details parsed from the spec.",
      "id": "GoogleCloudApihubV1OperationDetails",
      "properties": {
        "mcpTool": {
          "$ref": "GoogleCloudApihubV1McpTool",
          "description": "The MCP Tool Operation."
        },
        "description": {
          "description": "Optional. Description of the operation behavior. For OpenAPI spec, this will map to `operation.description` in the spec, in case description is empty, `operation.summary` will be used.",
          "type": "string"
        },
        "httpOperation": {
          "$ref": "GoogleCloudApihubV1HttpOperation",
          "description": "The HTTP Operation."
        },
        "documentation": {
          "description": "Optional. Additional external documentation for this operation. For OpenAPI spec, this will map to `operation.documentation` in the spec.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "deprecated": {
          "type": "boolean",
          "description": "Optional. For OpenAPI spec, this will be set if `operation.deprecated`is marked as `true` in the spec."
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1McpTool": {
      "id": "GoogleCloudApihubV1McpTool",
      "type": "object",
      "properties": {
        "inputSchema": {
          "description": "Optional. Input schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        },
        "name": {
          "description": "Required. The name of the tool, unique within its parent scope (version).",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Optional annotations for the tool.",
          "$ref": "GoogleCloudApihubV1ToolAnnotations"
        },
        "title": {
          "description": "Optional. Optional title for the tool.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Optional. Output schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        },
        "description": {
          "description": "Optional. Description of what the tool does.",
          "type": "string"
        }
      },
      "description": "Details describing an MCP Tool."
    },
    "GoogleLongrunningOperation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "GoogleCloudApihubV1PluginInstance": {
      "properties": {
        "sourceEnvironmentsConfig": {
          "type": "object",
          "description": "Optional. The source environment's config present in the gateway instance linked to the plugin instance. The key is the `source_environment` name from the SourceEnvironment message.",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1SourceEnvironment"
          }
        },
        "additionalConfig": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1ConfigVariable"
          },
          "description": "Optional. The additional information for this plugin instance corresponding to the additional config template of the plugin. This information will be sent to plugin hosting service on each call to plugin hosted service. The key will be the config_variable_template.display_name to uniquely identify the config variable.",
          "type": "object"
        },
        "sourceProjectId": {
          "description": "Optional. The source project id of the plugin instance. This will be the id of runtime project in case of Google Cloud based plugins and org id in case of non-Google Cloud based plugins. This field will be a required field for Google provided on-ramp plugins.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The current state of the plugin instance (e.g., enabled, disabled, provisioning).",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "APPLYING_CONFIG",
            "ERROR",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "The plugin instance is being created.",
            "The plugin instance is active and ready for executions. This is the only state where executions can run on the plugin instance.",
            "The updated config that contains additional_config and auth_config is being applied.",
            "The ERROR state can come while applying config. Users can retrigger ApplyPluginInstanceConfig to restore the plugin instance back to active state. Note, In case the ERROR state happens while applying config (auth_config, additional_config), the plugin instance will reflect the config which was trying to be applied while error happened. In order to overwrite, trigger ApplyConfig with a new config.",
            "The plugin instance is in a failed state. This indicates that an unrecoverable error occurred during a previous operation (Create, Delete).",
            "The plugin instance is being deleted. Delete is only possible if there is no other operation running on the plugin instance and plugin instance action."
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique name of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp indicating when the plugin instance was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "authConfig": {
          "$ref": "GoogleCloudApihubV1AuthConfig",
          "description": "Optional. The authentication information for this plugin instance."
        },
        "createTime": {
          "description": "Output only. Timestamp indicating when the plugin instance was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. Error message describing the failure, if any, during Create, Delete or ApplyConfig operation corresponding to the plugin instance.This field will only be populated if the plugin instance is in the ERROR or FAILED state.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name for this plugin instance. Max length is 500 characters.",
          "type": "string"
        },
        "actions": {
          "type": "array",
          "description": "Required. The action status for the plugin instance.",
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstanceAction"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1PluginInstance",
      "description": "Represents a plugin instance resource in the API Hub. A PluginInstance is a specific instance of a hub plugin with its own configuration, state, and execution details."
    },
    "GoogleCloudApihubV1ListApiOperationsResponse": {
      "id": "GoogleCloudApihubV1ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "type": "array",
          "description": "The operations corresponding to an API version.",
          "items": {
            "$ref": "GoogleCloudApihubV1ApiOperation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The ListApiOperations method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1ListApisResponse": {
      "description": "The ListApis method's response.",
      "id": "GoogleCloudApihubV1ListApisResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apis": {
          "type": "array",
          "description": "The API resources present in the API hub.",
          "items": {
            "$ref": "GoogleCloudApihubV1Api"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1StringAttributeValues": {
      "description": "The attribute values of data type string or JSON.",
      "id": "GoogleCloudApihubV1StringAttributeValues",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The attribute values in case attribute data type is string or JSON.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ApigeeXHybridConfig": {
      "type": "object",
      "id": "GoogleCloudApihubV1ApigeeXHybridConfig",
      "description": "Configuration for Apigee X and Apigee Hybrid gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "properties": {
        "environmentFilter": {
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering.",
          "$ref": "GoogleCloudApihubV1EnvironmentFilter"
        }
      }
    },
    "GoogleCloudApihubV1ListExternalApisResponse": {
      "type": "object",
      "properties": {
        "externalApis": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1ExternalApi"
          },
          "description": "The External API resources present in the API hub."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "The ListExternalApis method's response.",
      "id": "GoogleCloudApihubV1ListExternalApisResponse"
    },
    "GoogleCloudApihubV1ConfigTemplate": {
      "description": "ConfigTemplate represents the configuration template for a plugin.",
      "id": "GoogleCloudApihubV1ConfigTemplate",
      "properties": {
        "additionalConfigTemplate": {
          "items": {
            "$ref": "GoogleCloudApihubV1ConfigVariableTemplate"
          },
          "type": "array",
          "description": "Optional. The list of additional configuration variables for the plugin's configuration."
        },
        "authConfigTemplate": {
          "description": "Optional. The authentication template for the plugin.",
          "$ref": "GoogleCloudApihubV1AuthConfigTemplate"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ListRuntimeProjectAttachmentsResponse": {
      "type": "object",
      "description": "The ListRuntimeProjectAttachments method's response.",
      "id": "GoogleCloudApihubV1ListRuntimeProjectAttachmentsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "runtimeProjectAttachments": {
          "description": "List of runtime project attachments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
          }
        }
      }
    },
    "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse": {
      "id": "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse",
      "type": "object",
      "description": "The ListRuntimeProjectAttachments method's response.",
      "properties": {
        "runtimeProjectAttachment": {
          "description": "Runtime project attachment for a project if exists, empty otherwise.",
          "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "GoogleCloudLocationListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1ConfigVariable": {
      "id": "GoogleCloudApihubV1ConfigVariable",
      "description": "ConfigVariable represents a additional configuration variable present in a PluginInstance Config or AuthConfig, based on a ConfigVariableTemplate.",
      "properties": {
        "enumValue": {
          "description": "Optional. The config variable value in case of config variable of type enum.",
          "$ref": "GoogleCloudApihubV1ConfigValueOption"
        },
        "multiSelectValues": {
          "description": "Optional. The config variable value in case of config variable of type multi select.",
          "$ref": "GoogleCloudApihubV1MultiSelectValues"
        },
        "multiStringValues": {
          "description": "Optional. The config variable value in case of config variable of type multi string.",
          "$ref": "GoogleCloudApihubV1MultiStringValues"
        },
        "secretValue": {
          "$ref": "GoogleCloudApihubV1Secret",
          "description": "Optional. The config variable value in case of config variable of type secret."
        },
        "intValue": {
          "format": "int64",
          "type": "string",
          "description": "Optional. The config variable value in case of config variable of type integer."
        },
        "key": {
          "type": "string",
          "description": "Output only. Key will be the id to uniquely identify the config variable.",
          "readOnly": true
        },
        "multiIntValues": {
          "description": "Optional. The config variable value in case of config variable of type multi integer.",
          "$ref": "GoogleCloudApihubV1MultiIntValues"
        },
        "stringValue": {
          "type": "string",
          "description": "Optional. The config variable value in case of config variable of type string."
        },
        "boolValue": {
          "description": "Optional. The config variable value in case of config variable of type boolean.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1ListPluginInstancesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "pluginInstances": {
          "description": "The plugin instances from the specified parent resource.",
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstance"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudApihubV1ListPluginInstancesResponse",
      "description": "The ListPluginInstances method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1CollectApiDataRequest": {
      "type": "object",
      "properties": {
        "collectionType": {
          "enum": [
            "COLLECTION_TYPE_UNSPECIFIED",
            "COLLECTION_TYPE_UPSERT",
            "COLLECTION_TYPE_DELETE"
          ],
          "description": "Required. The type of collection. Applies to all entries in api_data.",
          "enumDescriptions": [
            "The default value. This value is used if the collection type is omitted.",
            "The collection type is upsert. This should be used when an API is created or updated at the source.",
            "The collection type is delete. This should be used when an API is deleted at the source."
          ],
          "type": "string"
        },
        "apiData": {
          "$ref": "GoogleCloudApihubV1ApiData",
          "description": "Required. The API data to be collected."
        },
        "pluginInstance": {
          "description": "Required. The plugin instance collecting the API data. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`.",
          "type": "string"
        },
        "actionId": {
          "description": "Required. The action ID to be used for collecting the API data. This should map to one of the action IDs specified in action configs in the plugin.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1CollectApiDataRequest",
      "description": "The CollectApiData method's request."
    },
    "GoogleCloudApihubV1ListAddonsResponse": {
      "id": "GoogleCloudApihubV1ListAddonsResponse",
      "properties": {
        "addons": {
          "description": "The list of addons.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Addon"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The ListAddons method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1MatchResult": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the matched API Operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "readOnly": true
        }
      },
      "description": "MatchResult represents the result of matching a discovered API operation with a catalog API operation.",
      "type": "object",
      "id": "GoogleCloudApihubV1MatchResult"
    },
    "GoogleCloudApihubV1DependencyErrorDetail": {
      "properties": {
        "errorTime": {
          "description": "Optional. Timestamp at which the error was found.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "description": "Optional. Error in the dependency.",
          "enum": [
            "ERROR_UNSPECIFIED",
            "SUPPLIER_NOT_FOUND",
            "SUPPLIER_RECREATED"
          ],
          "enumDescriptions": [
            "Default value used for no error in the dependency.",
            "Supplier entity has been deleted.",
            "Supplier entity has been recreated."
          ],
          "type": "string"
        }
      },
      "description": "Details describing error condition of a dependency.",
      "id": "GoogleCloudApihubV1DependencyErrorDetail",
      "type": "object"
    },
    "GoogleCloudApihubV1PluginInstanceActionID": {
      "description": "The plugin instance and associated action that is using the curation.",
      "properties": {
        "pluginInstance": {
          "type": "string",
          "description": "Output only. Plugin instance that is using the curation. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "readOnly": true
        },
        "actionId": {
          "type": "string",
          "description": "Output only. The action ID that is using the curation. This should map to one of the action IDs specified in action configs in the plugin.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1PluginInstanceActionID"
    },
    "GoogleCloudApihubV1MetaData": {
      "description": "Metadata for the server configuration in Apigee X.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Display name for the server. For apigee target, this will be used as revision display name."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for the server. For apigee target, this will be used as revision description."
        }
      },
      "id": "GoogleCloudApihubV1MetaData"
    },
    "GoogleCloudApihubV1EnvironmentFilter": {
      "type": "object",
      "description": "Filter for environments.",
      "properties": {
        "allEnvironments": {
          "type": "boolean",
          "description": "Optional. Indicates if this filter should match all environments or only a subset of environments. If set to true, all environments are matched."
        },
        "environments": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. If provided, only environments in this list are matched. This field is ignored if `all_environments` is true."
        }
      },
      "id": "GoogleCloudApihubV1EnvironmentFilter"
    },
    "GoogleCloudApihubV1RetrieveApiViewsResponse": {
      "properties": {
        "apiViews": {
          "items": {
            "$ref": "GoogleCloudApihubV1ApiView"
          },
          "description": "Output only. The list of API views.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "The RetrieveApiViews method's response.",
      "id": "GoogleCloudApihubV1RetrieveApiViewsResponse",
      "type": "object"
    },
    "GoogleCloudApihubV1HostingService": {
      "id": "GoogleCloudApihubV1HostingService",
      "properties": {
        "serviceUri": {
          "description": "Optional. The URI of the service implemented by the plugin developer, used to invoke the plugin's functionality. This information is only required for user defined plugins.",
          "type": "string"
        }
      },
      "description": "The information related to the service implemented by the plugin developer, used to invoke the plugin's functionality.",
      "type": "object"
    },
    "GoogleCloudApihubV1StyleGuideContents": {
      "id": "GoogleCloudApihubV1StyleGuideContents",
      "properties": {
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "Required. The contents of the style guide."
        },
        "mimeType": {
          "description": "Required. The mime type of the content.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The style guide contents."
    },
    "GoogleCloudApihubV1AuthConfig": {
      "properties": {
        "userPasswordConfig": {
          "$ref": "GoogleCloudApihubV1UserPasswordConfig",
          "description": "User Password."
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudApihubV1ApiKeyConfig",
          "description": "Api Key Config."
        },
        "oauth2ClientCredentialsConfig": {
          "$ref": "GoogleCloudApihubV1Oauth2ClientCredentialsConfig",
          "description": "Oauth2.0 Client Credentials."
        },
        "googleServiceAccountConfig": {
          "description": "Google Service Account.",
          "$ref": "GoogleCloudApihubV1GoogleServiceAccountConfig"
        },
        "authType": {
          "type": "string",
          "description": "Required. The authentication type.",
          "enumDescriptions": [
            "Authentication type not specified.",
            "No authentication.",
            "Google service account authentication.",
            "Username and password authentication.",
            "API Key authentication.",
            "Oauth 2.0 client credentials grant authentication."
          ],
          "enum": [
            "AUTH_TYPE_UNSPECIFIED",
            "NO_AUTH",
            "GOOGLE_SERVICE_ACCOUNT",
            "USER_PASSWORD",
            "API_KEY",
            "OAUTH2_CLIENT_CREDENTIALS"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudApihubV1AuthConfig",
      "description": "AuthConfig represents the authentication information."
    },
    "GoogleCloudApihubV1OperationSchema": {
      "description": "The operation schema needed for an operation.",
      "properties": {
        "jsonSchema": {
          "description": "The JSON schema. Only valid JSON is accepted but semantic validation of schema is not supported right now.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "GoogleCloudApihubV1OperationSchema",
      "type": "object"
    },
    "GoogleCloudApihubV1ApigeeOPDKConfig": {
      "description": "Configuration for Apigee OPDK gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "id": "GoogleCloudApihubV1ApigeeOPDKConfig",
      "properties": {
        "environmentFilter": {
          "$ref": "GoogleCloudApihubV1EnvironmentFilter",
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering."
        }
      },
      "type": "object"
    },
    "GoogleCloudApihubV1MultiSelectValues": {
      "id": "GoogleCloudApihubV1MultiSelectValues",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1ConfigValueOption"
          },
          "description": "Optional. The config variable value of data type multi select."
        }
      },
      "description": "The config variable value of data type multi select."
    },
    "GoogleCloudApihubV1ApiKeyConfig": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name.",
          "type": "string"
        },
        "httpElementLocation": {
          "enum": [
            "HTTP_ELEMENT_LOCATION_UNSPECIFIED",
            "QUERY",
            "HEADER",
            "PATH",
            "BODY",
            "COOKIE"
          ],
          "description": "Required. The location of the API key. The default value is QUERY.",
          "enumDescriptions": [
            "HTTP element location not specified.",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ],
          "type": "string"
        },
        "apiKey": {
          "$ref": "GoogleCloudApihubV1Secret",
          "description": "Required. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}`. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret."
        }
      },
      "id": "GoogleCloudApihubV1ApiKeyConfig",
      "description": "Config for authentication with API key."
    },
    "GoogleCloudApihubV1HttpResponse": {
      "id": "GoogleCloudApihubV1HttpResponse",
      "type": "object",
      "properties": {
        "responseCodes": {
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Map of status code to observed count"
        },
        "headers": {
          "description": "Optional. Unordered map from header name to header metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1Header"
          }
        }
      },
      "description": "An aggregation of HTTP responses."
    },
    "GoogleCloudApihubV1DeploymentMetadata": {
      "properties": {
        "deployment": {
          "description": "Required. The deployment resource to be pushed to Hub's collect layer. The ID of the deployment will be generated by Hub.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "originalCreateTime": {
          "description": "Optional. Timestamp indicating when the deployment was created at the source.",
          "format": "google-datetime",
          "type": "string"
        },
        "originalId": {
          "type": "string",
          "description": "Optional. The unique identifier of the deployment in the system where it was originally created."
        },
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the deployment was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "The metadata associated with a deployment.",
      "id": "GoogleCloudApihubV1DeploymentMetadata"
    },
    "GoogleCloudApihubV1ConfigureAndDeployServerRequest": {
      "type": "object",
      "id": "GoogleCloudApihubV1ConfigureAndDeployServerRequest",
      "properties": {
        "mcpServerConfig": {
          "description": "MCP (Model Context Protocol) server configuration.",
          "$ref": "GoogleCloudApihubV1McpServerConfig"
        }
      },
      "description": "Request message for ApiHub.ConfigureAndDeployServer."
    },
    "GoogleCloudApihubV1PluginInstanceActionSource": {
      "type": "object",
      "properties": {
        "actionId": {
          "readOnly": true,
          "description": "Output only. The id of the plugin instance action.",
          "type": "string"
        },
        "pluginInstance": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the source plugin instance. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`"
        }
      },
      "id": "GoogleCloudApihubV1PluginInstanceActionSource",
      "description": "PluginInstanceActionSource represents the plugin instance action source."
    },
    "GoogleCloudApihubV1Definition": {
      "id": "GoogleCloudApihubV1Definition",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time at which the definition was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. The type of the definition.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "SCHEMA"
          ],
          "enumDescriptions": [
            "Definition type unspecified.",
            "Definition type schema."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the definition was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
[...]
