{
  "ownerName": "Google",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "revision": "20260819",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "httpMethod": "GET"
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "id": "apihub.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "id": "apihub.projects.locations.deployments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "path": "v1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of deployment resources to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of deployment resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of Deployments. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Deployments` are eligible for filtering: * `display_name` - The display name of the Deployment. Allowed comparison operators: `=`. * `create_time` - The time at which the Deployment was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `resource_uri` - A URI to the deployment resource. Allowed comparison operators: `=`. * `api_versions` - The API versions linked to this deployment. Allowed comparison operators: `:`. * `source_project` - The project/organization at source for the deployment. Allowed comparison operators: `=`. * `source_environment` - The environment at source for the deployment. Allowed comparison operators: `=`. * `deployment_type.enum_values.values.id` - The allowed value id of the deployment_type attribute associated with the Deployment. Allowed comparison operators: `:`. * `deployment_type.enum_values.values.display_name` - The allowed value display name of the deployment_type attribute associated with the Deployment. Allowed comparison operators: `:`. * `slo.string_values.values` -The allowed string value of the slo attribute associated with the deployment. Allowed comparison operators: `:`. * `environment.enum_values.values.id` - The allowed value id of the environment attribute associated with the deployment. Allowed comparison operators: `:`. * `environment.enum_values.values.display_name` - The allowed value display name of the environment attribute associated with the deployment. Allowed comparison operators: `:`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. A filter function is also supported in the filter string. The filter function is `id(name)`. The `id(name)` function returns the id of the resource name. For example, `id(name) = \\\"deployment-1\\\"` is equivalent to `name = \\\"projects/test-project-id/locations/test-location-id/deployments/deployment-1\\\"` provided the parent is `projects/test-project-id/locations/test-location-id`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `environment.enum_values.values.id: staging-id` - The allowed value id of the environment attribute associated with the Deployment is _staging-id_. * `environment.enum_values.values.display_name: \\\"Staging Deployment\\\"` - The allowed value display name of the environment attribute associated with the Deployment is `Staging Deployment`. * `environment.enum_values.values.id: production-id AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The allowed value id of the environment attribute associated with the Deployment is _production-id_ and Deployment was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `environment.enum_values.values.id: production-id OR slo.string_values.values: \\\"99.99%\\\"` - The allowed value id of the environment attribute Deployment is _production-id_ or string value of the slo attribute is _99.99%_. * `environment.enum_values.values.id: staging-id AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.string_values.values: test` - The filter string specifies that the allowed value id of the environment attribute associated with the Deployment is _staging-id_ and the value of the user defined attribute of type string is _test_."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListDeployments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListDeployments` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List deployment resources in the API hub.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "id": "apihub.projects.locations.deployments.patch",
                  "path": "v1/{+name}",
                  "description": "Update a deployment resource in the API hub. The following fields in the deployment resource can be updated: * display_name * description * documentation * deployment_type * resource_uri * endpoints * slo * environment * attributes * source_project * source_environment * management_url * source_uri The update_mask should be used to specify the fields being updated.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "description": "Required. The list of fields to update.",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Identifier. The name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Deployment"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1Deployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.deployments.delete",
                  "httpMethod": "DELETE",
                  "description": "Delete a deployment resource in the API hub.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the deployment resource to delete. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}"
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "parameters": {
                    "deploymentId": {
                      "description": "Optional. The ID to use for the deployment resource, which will become the final component of the deployment's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another deployment resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource for the deployment resource. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "id": "apihub.projects.locations.deployments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create a deployment resource in the API hub. Once a deployment resource is created, it can be associated with API versions.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Deployment"
                  },
                  "path": "v1/{+parent}/deployments",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Deployment"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.deployments.get",
                  "description": "Get details about a deployment and the API versions linked to it.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Deployment"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. The name of the deployment resource to retrieve. Format: `projects/{project}/locations/{location}/deployments/{deployment}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "runtimeProjectAttachments": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent, which owns this collection of runtime project attachments. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An expression that filters the list of RuntimeProjectAttachments. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. All standard operators as documented at https://google.aip.dev/160 are supported. The following fields in the `RuntimeProjectAttachment` are eligible for filtering: * `name` - The name of the RuntimeProjectAttachment. * `create_time` - The time at which the RuntimeProjectAttachment was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. * `runtime_project` - The Google cloud project associated with the RuntimeProjectAttachment."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of runtime project attachments to return. The service may return fewer than this value. If unspecified, at most 50 runtime project attachments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListRuntimeProjectAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListRuntimeProjectAttachments` must match the call that provided the page token.",
                      "type": "string"
                    }
                  },
                  "description": "List runtime projects attached to the host project.",
                  "path": "v1/{+parent}/runtimeProjectAttachments",
                  "httpMethod": "GET",
                  "id": "apihub.projects.locations.runtimeProjectAttachments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListRuntimeProjectAttachmentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  },
                  "httpMethod": "POST",
                  "description": "Attaches a runtime project to the host project.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/runtimeProjectAttachments",
                  "id": "apihub.projects.locations.runtimeProjectAttachments.create",
                  "parameters": {
                    "runtimeProjectAttachmentId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Runtime Project Attachment, which will become the final component of the Runtime Project Attachment's name. The ID must be the same as the project ID of the Google cloud project specified in the runtime_project_attachment.runtime_project field.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource for the Runtime Project Attachment. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments/{runtimeProjectAttachmentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeProjectAttachments/[^/]+$",
                      "description": "Required. The name of the Runtime Project Attachment to delete. Format: `projects/{project}/locations/{location}/runtimeProjectAttachments/{runtime_project_attachment}`"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete a runtime project attachment in the API Hub. This call will detach the runtime project from the host project.",
                  "id": "apihub.projects.locations.runtimeProjectAttachments.delete"
                },
                "get": {
                  "description": "Gets a runtime project attachment.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the API resource to retrieve. Format: `projects/{project}/locations/{location}/runtimeProjectAttachments/{runtime_project_attachment}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeProjectAttachments/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "apihub.projects.locations.runtimeProjectAttachments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments/{runtimeProjectAttachmentsId}"
                }
              }
            },
            "servers": {
              "methods": {
                "configureAndDeployServer": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+parent}/servers:configureAndDeployServer",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1ConfigureAndDeployServerRequest"
                  },
                  "httpMethod": "POST",
                  "id": "apihub.projects.locations.servers.configureAndDeployServer",
                  "description": "Configures and deploys a given server config for given target. Currently this API supports only deploying MCP server in Apigee X. For mcp server deployment in apigee X, if there is already a mcp proxy deployed, then this method will try to overwrite it by creating new revision i.e. all existing tools will be removed and new set of tools will be deployed.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/servers:configureAndDeployServer"
                }
              }
            },
            "addons": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the addon to get. Format: `projects/{project}/locations/{location}/addons/{addon}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/addons/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons/{addonsId}",
                  "description": "Get an addon.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apihub.projects.locations.addons.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Addon"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "manageConfig": {
                  "path": "v1/{+name}:manageConfig",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Manage addon config. This RPC is used for managing the config of the addon. Calling this RPC moves the addon into an updating state until the long-running operation succeeds.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/addons/[^/]+$",
                      "description": "Required. The name of the addon for which the config is to be managed. Format: `projects/{project}/locations/{location}/addons/{addon}`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "apihub.projects.locations.addons.manageConfig",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons/{addonsId}:manageConfig",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1ManageAddonConfigRequest"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/addons",
                  "description": "List addons.",
                  "id": "apihub.projects.locations.addons.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this addon will be created. Format: `projects/{project}/locations/{location}`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of addons. The only supported filter is `plugin_instance_name`. It can be used to filter addons that are enabled for a given plugin instance. The format of the filter is `plugin_instance_name = \"projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}\"`.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAddons` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListAddons` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of hub addons to return. The service may return fewer than this value. If unspecified, at most 50 hub addons will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListAddonsResponse"
                  },
                  "path": "v1/{+parent}/addons"
                }
              }
            },
            "apiHubInstances": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "id": "apihub.projects.locations.apiHubInstances.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Deletes the API hub instance. Deleting the API hub instance will also result in the removal of all associated runtime project attachments and the host project registration.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "description": "Required. The name of the Api Hub instance to delete. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "apihub.projects.locations.apiHubInstances.get",
                  "description": "Gets details of a single API Hub instance.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the Api Hub instance to retrieve. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "lookup": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1LookupApiHubInstanceResponse"
                  },
                  "id": "apihub.projects.locations.apiHubInstances.lookup",
                  "httpMethod": "GET",
                  "description": "Looks up an Api Hub instance in a given Google Cloud project. There will always be only one Api Hub instance for a Google Cloud project across all locations.",
                  "path": "v1/{+parent}/apiHubInstances:lookup",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. There will always be only one Api Hub instance for a Google Cloud project across all locations. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances:lookup"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances",
                  "path": "v1/{+parent}/apiHubInstances",
                  "description": "Provisions instance resources for the API Hub.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "apiHubInstanceId": {
                      "location": "query",
                      "description": "Optional. Identifier to assign to the Api Hub instance. Must be unique within scope of the parent resource. If the field is not provided, system generated id will be used. This value should be 4-40 characters, and valid characters are `/a-z[0-9]-_/`.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "id": "apihub.projects.locations.apiHubInstances.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    }
                  },
                  "description": "Update an Api Hub instance. The following fields in the ApiHubInstance can be updated: * disable_search * vertex_location * agent_registry_sync_config The update_mask should be used to specify the fields being updated.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "httpMethod": "PATCH",
                  "id": "apihub.projects.locations.apiHubInstances.patch"
                }
              }
            },
            "hostProjectRegistrations": {
              "methods": {
                "get": {
                  "description": "Get a host project registration.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostProjectRegistrations/{hostProjectRegistrationsId}",
                  "id": "apihub.projects.locations.hostProjectRegistrations.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApihubV1HostProjectRegistration"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/hostProjectRegistrations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Host project registration resource name. projects/{project}/locations/{location}/hostProjectRegistrations/{host_project_registration_id}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListHostProjectRegistrationsResponse"
                  },
                  "path": "v1/{+parent}/hostProjectRegistrations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of HostProjectRegistrations. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. All standard operators as documented at https://google.aip.dev/160 are supported. The following fields in the `HostProjectRegistration` are eligible for filtering: * `name` - The name of the HostProjectRegistration. * `create_time` - The time at which the HostProjectRegistration was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. * `gcp_project` - The Google cloud project associated with the HostProjectRegistration."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListHostProjectRegistrations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListHostProjectRegistrations` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of host projects. Format: `projects/*/locations/*`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of host project registrations to return. The service may return fewer than this value. If unspecified, at most 50 host project registrations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    }
                  },
                  "description": "Lists host project registrations.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apihub.projects.locations.hostProjectRegistrations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostProjectRegistrations",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/hostProjectRegistrations",
                  "path": "v1/{+parent}/hostProjectRegistrations",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1HostProjectRegistration"
                  },
                  "id": "apihub.projects.locations.hostProjectRegistrations.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource for the host project. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path"
                    },
                    "hostProjectRegistrationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the Host Project Registration, which will become the final component of the host project registration's resource name. The ID must be the same as the Google cloud project specified in the host_project_registration.gcp_project field."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1HostProjectRegistration"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Create a host project registration. A Google cloud project can be registered as a host project if it is not attached as a runtime project to another host project. A project can be registered as a host project only once. Subsequent register calls for the same project will fail."
                }
              }
            },
            "attributes": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes",
                  "id": "apihub.projects.locations.attributes.list",
                  "description": "List all attributes.",
                  "path": "v1/{+parent}/attributes",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAttributes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAttributes` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of attribute resources to return. The service may return fewer than this value. If unspecified, at most 50 attributes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. An expression that filters the list of Attributes. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string or a boolean. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Attribute` are eligible for filtering: * `display_name` - The display name of the Attribute. Allowed comparison operators: `=`. * `definition_type` - The definition type of the attribute. Allowed comparison operators: `=`. * `scope` - The scope of the attribute. Allowed comparison operators: `=`. * `data_type` - The type of the data of the attribute. Allowed comparison operators: `=`. * `mandatory` - Denotes whether the attribute is mandatory or not. Allowed comparison operators: `=`. * `create_time` - The time at which the Attribute was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `display_name = production` - - The display name of the attribute is _production_. * `(display_name = production) AND (create_time < \\\"2021-08-15T14:50:00Z\\\") AND (create_time > \\\"2021-08-10T12:00:00Z\\\")` - The display name of the attribute is _production_ and the attribute was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `display_name = production OR scope = api` - The attribute where the display name is _production_ or the scope is _api_.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListAttributesResponse"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the attribute to delete. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "Delete an attribute. Note: System defined attributes cannot be deleted. All associations of the attribute being deleted with any API hub resource will also get deleted.",
                  "id": "apihub.projects.locations.attributes.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "id": "apihub.projects.locations.attributes.patch",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "description": "Update the attribute. The following fields in the Attribute resource can be updated: * display_name The display name can be updated for user defined attributes only. * description The description can be updated for user defined attributes only. * allowed_values To update the list of allowed values, clients need to use the fetched list of allowed values and add or remove values to or from the same list. The mutable allowed values can be updated for both user defined and System defined attributes. The immutable allowed values cannot be updated or deleted. The updated list of allowed values cannot be empty. If an allowed value that is already used by some resource's attribute is deleted, then the association between the resource and the attribute value will also be deleted. * cardinality The cardinality can be updated for user defined attributes only. Cardinality can only be increased during an update. The update_mask should be used to specify the fields being updated.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The name of the attribute in the API Hub. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$"
                    }
                  }
                },
                "create": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/attributes",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "attributeId": {
                      "description": "Optional. The ID to use for the attribute, which will become the final component of the attribute's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another attribute resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Create a user defined attribute. Certain pre defined attributes are already created by the API hub. These attributes will have type as `SYSTEM_DEFINED` and can be listed via ListAttributes method. Allowed values for the same can be updated via UpdateAttribute method.",
                  "id": "apihub.projects.locations.attributes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes"
                },
                "get": {
                  "description": "Get details about the attribute.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.attributes.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the attribute to retrieve. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  }
                }
              }
            },
            "curations": {
              "methods": {
                "patch": {
                  "description": "Update a curation resource in the API hub. The following fields in the curation can be updated: * display_name * description The update_mask should be used to specify the fields being updated.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. The name of the curation. Format: `projects/{project}/locations/{location}/curations/{curation}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    }
                  },
                  "id": "apihub.projects.locations.curations.patch",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the curation resource to retrieve. Format: `projects/{project}/locations/{location}/curations/{curation}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Get curation resource details.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.curations.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations/{curationsId}",
                  "description": "Delete a curation resource in the API hub. A curation can only be deleted if it's not being used by any plugin instance.",
                  "id": "apihub.projects.locations.curations.delete",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the curation resource to delete. Format: `projects/{project}/locations/{location}/curations/{curation}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/curations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListCurationsResponse"
                  },
                  "description": "List curation resources in the API hub.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of curation resources to return. The service may return fewer than this value. If unspecified, at most 50 curations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. An expression that filters the list of curation resources. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>`, `:` or `=`. Filters are case insensitive. The following fields in the `curation resource` are eligible for filtering: * `create_time` - The time at which the curation was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `display_name` - The display name of the curation. Allowed comparison operators: `=`. * `state` - The state of the curation. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The curation resource was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListCurations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListCurations` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of curation resources. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "id": "apihub.projects.locations.curations.list",
                  "path": "v1/{+parent}/curations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/curations",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Curation"
                  },
                  "description": "Create a curation resource in the API hub. Once a curation resource is created, plugin instances can start using it.",
                  "httpMethod": "POST",
                  "id": "apihub.projects.locations.curations.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/curations",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource for the curation resource. Format: `projects/{project}/locations/{location}`"
                    },
                    "curationId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The ID to use for the curation resource, which will become the final component of the curations's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified ID is already used by another curation resource in the API hub. * If not provided, a system generated ID will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/."
                    }
                  }
                }
              }
            },
            "dependencies": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDependenciesResponse"
                  },
                  "path": "v1/{+parent}/dependencies",
                  "description": "List dependencies based on the provided filter and pagination parameters.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies",
                  "id": "apihub.projects.locations.dependencies.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of dependency resources to return. The service may return fewer than this value. If unspecified, at most 50 dependencies will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent which owns this collection of dependency resources. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDependencies` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDependencies` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of Dependencies. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. Allowed comparison operator is `=`. Filters are not case sensitive. The following fields in the `Dependency` are eligible for filtering: * `consumer.operation_resource_name` - The operation resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `consumer.external_api_resource_name` - The external api resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.operation_resource_name` - The operation resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.external_api_resource_name` - The external api resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. For example, `consumer.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\" OR supplier.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\"` - The dependencies with either consumer or supplier operation resource name as _projects/p1/locations/global/apis/a1/versions/v1/operations/o1_."
                    }
                  }
                },
                "get": {
                  "id": "apihub.projects.locations.dependencies.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the dependency resource to retrieve. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$"
                    }
                  },
                  "description": "Get details about a dependency resource in the API hub.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a dependency between two entities in the API hub.",
                  "id": "apihub.projects.locations.dependencies.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for the dependency resource. Format: `projects/{project}/locations/{location}`",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "dependencyId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The ID to use for the dependency resource, which will become the final component of the dependency's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if duplicate id is provided by the client. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are `a-z[0-9]-_`."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "path": "v1/{+parent}/dependencies",
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "description": "Update a dependency based on the update_mask provided in the request. The following fields in the dependency can be updated: * description",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.dependencies.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "location": "path",
                      "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete the dependency resource.",
                  "path": "v1/{+name}",
                  "id": "apihub.projects.locations.dependencies.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "description": "Required. The name of the dependency resource to delete. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "httpMethod": "DELETE"
                }
              }
            },
            "externalApis": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the External API resource to delete. Format: `projects/{project}/locations/{location}/externalApis/{externalApi}`"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.externalApis.delete",
                  "httpMethod": "DELETE",
                  "description": "Delete an External API resource in the API hub.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "id": "apihub.projects.locations.externalApis.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List External API resources in the API hub.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListExternalApisResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of External API resources to return. The service may return fewer than this value. If unspecified, at most 50 ExternalApis will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListExternalApis` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListExternalApis` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of External API resources. Format: `projects/{project}/locations/{location}`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/externalApis",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$",
                      "description": "Required. The name of the External API resource to retrieve. Format: `projects/{project}/locations/{location}/externalApis/{externalApi}`",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "httpMethod": "GET",
                  "id": "apihub.projects.locations.externalApis.get",
                  "description": "Get details about an External API resource in the API hub.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readonly",
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "path": "v1/{+name}"
                },
                "create": {
                  "id": "apihub.projects.locations.externalApis.create",
                  "parameters": {
                    "externalApiId": {
                      "description": "Optional. The ID to use for the External API resource, which will become the final component of the External API's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another External API resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource for the External API resource. Format: `projects/{project}/locations/{location}`",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "path": "v1/{+parent}/externalApis",
                  "request": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an External API resource in the API hub."
                },
                "patch": {
                  "description": "Update an External API resource in the API hub. The following fields can be updated: * display_name * description * documentation * endpoints * paths The update_mask should be used to specify the fields being updated.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apihub.readwrite",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "request": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apihub.projects.locations.externalApis.patch",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. Format: `projects/{project}/locations/{location}/externalApi/{externalApi}`."
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  }
                }
              }
            },
            "plugins": {
              "resources": {
                "instances": {
                  "methods": {
                    "create": {
                      "parameters": {
                        "pluginInstanceId": {
                          "description": "Optional. The ID to use for the plugin instance, which will become the final component of the plugin instance's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another plugin instance in the plugin resource. * If not provided, a system generated id will be used. This value should be 4-63 characters, and valid characters are /a-z[0-9]-_/.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}`"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances",
                      "id": "apihub.projects.locations.plugins.instances.create",
                      "description": "Creates a Plugin instance in the API hub.",
                      "path": "v1/{+parent}/instances",
                      "request": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      }
                    },
                    "manageSourceData": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Manages data for a given plugin instance.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the plugin instance for which data needs to be managed. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataResponse"
                      },
                      "path": "v1/{+name}:manageSourceData",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:manageSourceData",
                      "request": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest"
                      },
                      "id": "apihub.projects.locations.plugins.instances.manageSourceData"
                    },
                    "delete": {
                      "description": "Deletes a plugin instance in the API hub.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "description": "Required. The name of the plugin instance to delete. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "apihub.projects.locations.plugins.instances.delete",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "path": "v1/{+name}"
                    },
                    "disableAction": {
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:disableAction",
                      "scopes": [
                        "https://www.googleapis.com/auth/apihub.readwrite",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "required": true,
                          "description": "Required. The name of the plugin instance to disable. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "type": "string",
                          "location": "path"
[...]
