{
  "kind": "discovery#restDescription",
  "version_module": true,
  "rootUrl": "https://apikeys.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apikeys.readonly": {
          "description": "See your Google Cloud API Keys data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/apikeys": {
          "description": "See, edit, configure, and delete your Google Cloud API Keys data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version": "v2",
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "protocol": "rest",
  "basePath": "",
  "title": "API Keys API",
  "discoveryVersion": "v1",
  "schemas": {
    "V2IosKeyRestrictions": {
      "description": "The iOS apps that are allowed to use the key.",
      "id": "V2IosKeyRestrictions",
      "type": "object",
      "properties": {
        "allowedBundleIds": {
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "properties": {
        "allowedApplications": {
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The Android apps that are allowed to use the key."
    },
    "V2GetKeyStringResponse": {
      "properties": {
        "keyString": {
          "description": "An encrypted and signed value of the key.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "V2GetKeyStringResponse",
      "description": "Response message for `GetKeyString` method."
    },
    "V2Restrictions": {
      "id": "V2Restrictions",
      "properties": {
        "apiTargets": {
          "items": {
            "$ref": "V2ApiTarget"
          },
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "type": "array"
        },
        "iosKeyRestrictions": {
          "$ref": "V2IosKeyRestrictions",
          "description": "The iOS apps that are allowed to use the key."
        },
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "androidKeyRestrictions": {
          "$ref": "V2AndroidKeyRestrictions",
          "description": "The Android apps that are allowed to use the key."
        },
        "browserKeyRestrictions": {
          "description": "The HTTP referrers (websites) that are allowed to use the key.",
          "$ref": "V2BrowserKeyRestrictions"
        }
      },
      "type": "object",
      "description": "Describes the restrictions on the key."
    },
    "V2Key": {
      "id": "V2Key",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
        },
        "updateTime": {
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique id in UUID4 format.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to.",
          "type": "string"
        },
        "keyString": {
          "readOnly": true,
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "type": "string"
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        },
        "restrictions": {
          "$ref": "V2Restrictions",
          "description": "Key restrictions."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "readOnly": true,
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        }
      },
      "description": "The representation of a key managed by the API Keys API."
    },
    "V2AndroidApplication": {
      "type": "object",
      "id": "V2AndroidApplication",
      "description": "Identifier of an Android application for key use.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter."
        }
      }
    },
    "V2UndeleteKeyRequest": {
      "id": "V2UndeleteKeyRequest",
      "description": "Request message for `UndeleteKey` method.",
      "type": "object",
      "properties": {}
    },
    "V2ListKeysResponse": {
      "description": "Response message for `ListKeys` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "keys": {
          "description": "A list of API keys.",
          "items": {
            "$ref": "V2Key"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "V2ListKeysResponse"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "V2ApiTarget": {
      "properties": {
        "methods": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "type": "array"
        },
        "service": {
          "type": "string",
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project."
        }
      },
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "id": "V2ApiTarget",
      "type": "object"
    },
    "V2ServerKeyRestrictions": {
      "description": "The IP addresses of callers that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedIps": {
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "V2ServerKeyRestrictions"
    },
    "V2BrowserKeyRestrictions": {
      "properties": {
        "allowedReferrers": {
          "type": "array",
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "id": "V2BrowserKeyRestrictions"
    },
    "V2LookupKeyResponse": {
      "properties": {
        "parent": {
          "type": "string",
          "description": "The project that owns the key with the value specified in the request."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty."
        }
      },
      "description": "Response message for `LookupKey` method.",
      "id": "V2LookupKeyResponse",
      "type": "object"
    }
  },
  "revision": "20260819",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "delete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "apikeys.projects.locations.keys.delete",
                  "parameters": {
                    "checkExistingUsage": {
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key.",
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ]
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                },
                "create": {
                  "path": "v2/{+parent}/keys",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apikeys.projects.locations.keys.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "keyId": {
                      "location": "query",
                      "type": "string",
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "undelete": {
                  "path": "v2/{+name}:undelete",
                  "id": "apikeys.projects.locations.keys.undelete",
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "httpMethod": "PATCH",
                  "parameters": {
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key.",
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "id": "apikeys.projects.locations.keys.patch"
                },
                "list": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "parameters": {
                    "parent": {
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. Requests a specific page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/keys",
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apikeys.projects.locations.keys.list",
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  }
                },
                "get": {
                  "id": "apikeys.projects.locations.keys.get",
                  "response": {
                    "$ref": "V2Key"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the API key to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "getKeyString": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be retrieved.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v2/{+name}/keyString",
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.getKeyString"
                }
              }
            }
          }
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "path": "v2/keys:lookupKey",
          "parameters": {
            "keyString": {
              "description": "Required. Finds the project that owns the key string value.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "id": "apikeys.keys.lookupKey",
          "parameterOrder": [],
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project."
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v2/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "path": "v2/{+name}",
          "parameterOrder": [
            "name"
          ],
          "id": "apikeys.operations.get",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "pattern": "^operations/[^/]+$",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "ownerName": "Google",
  "id": "apikeys:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "apikeys",
  "batchPath": "batch",
  "baseUrl": "https://apikeys.googleapis.com/",
  "canonicalName": "Api Keys Service",
  "description": "Manages the API keys associated with developer projects.",
  "ownerDomain": "google.com"
}