{
  "revision": "20260818",
  "discoveryVersion": "v1",
  "baseUrl": "https://apikeys.googleapis.com/",
  "rootUrl": "https://apikeys.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apikeys.readonly": {
          "description": "See your Google Cloud API Keys data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/apikeys": {
          "description": "See, edit, configure, and delete your Google Cloud API Keys data and see the email address for your Google Account"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "batchPath": "batch",
  "id": "apikeys:v2",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "schemas": {
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "V2Restrictions": {
      "description": "Describes the restrictions on the key.",
      "properties": {
        "iosKeyRestrictions": {
          "description": "The iOS apps that are allowed to use the key.",
          "$ref": "V2IosKeyRestrictions"
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        },
        "apiTargets": {
          "items": {
            "$ref": "V2ApiTarget"
          },
          "type": "array",
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed."
        },
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "browserKeyRestrictions": {
          "description": "The HTTP referrers (websites) that are allowed to use the key.",
          "$ref": "V2BrowserKeyRestrictions"
        }
      },
      "type": "object",
      "id": "V2Restrictions"
    },
    "V2LookupKeyResponse": {
      "description": "Response message for `LookupKey` method.",
      "properties": {
        "parent": {
          "description": "The project that owns the key with the value specified in the request.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "V2LookupKeyResponse"
    },
    "V2ListKeysResponse": {
      "description": "Response message for `ListKeys` method.",
      "properties": {
        "keys": {
          "type": "array",
          "description": "A list of API keys.",
          "items": {
            "$ref": "V2Key"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        }
      },
      "type": "object",
      "id": "V2ListKeysResponse"
    },
    "V2AndroidApplication": {
      "description": "Identifier of an Android application for key use.",
      "properties": {
        "sha1Fingerprint": {
          "type": "string",
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter."
        },
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "V2AndroidApplication"
    },
    "V2BrowserKeyRestrictions": {
      "type": "object",
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "V2BrowserKeyRestrictions"
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "type": "object",
      "description": "The Android apps that are allowed to use the key.",
      "properties": {
        "allowedApplications": {
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "$ref": "V2AndroidApplication"
          }
        }
      }
    },
    "V2ServerKeyRestrictions": {
      "id": "V2ServerKeyRestrictions",
      "type": "object",
      "description": "The IP addresses of callers that are allowed to use the key.",
      "properties": {
        "allowedIps": {
          "type": "array",
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "V2GetKeyStringResponse": {
      "type": "object",
      "description": "Response message for `GetKeyString` method.",
      "properties": {
        "keyString": {
          "type": "string",
          "description": "An encrypted and signed value of the key."
        }
      },
      "id": "V2GetKeyStringResponse"
    },
    "V2UndeleteKeyRequest": {
      "type": "object",
      "description": "Request message for `UndeleteKey` method.",
      "properties": {},
      "id": "V2UndeleteKeyRequest"
    },
    "V2ApiTarget": {
      "id": "V2ApiTarget",
      "type": "object",
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "properties": {
        "methods": {
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        }
      }
    },
    "V2IosKeyRestrictions": {
      "type": "object",
      "description": "The iOS apps that are allowed to use the key.",
      "properties": {
        "allowedBundleIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "type": "array"
        }
      },
      "id": "V2IosKeyRestrictions"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "V2Key": {
      "id": "V2Key",
      "type": "object",
      "description": "The representation of a key managed by the API Keys API.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "type": "string"
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        },
        "keyString": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "type": "string"
        },
        "deleteTime": {
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to.",
          "type": "string"
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Unique id in UUID4 format.",
          "type": "string"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "API Keys API",
  "description": "Manages the API keys associated with developer projects.",
  "version_module": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "version": "v2",
  "ownerDomain": "google.com",
  "canonicalName": "Api Keys Service",
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/[^/]+$",
              "location": "path",
              "description": "The name of the operation resource.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/operations/{operationsId}",
          "path": "v2/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "apikeys.operations.get",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "flatPath": "v2/keys:lookupKey",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "path": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "id": "apikeys.keys.lookupKey",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "parameters": {
            "keyString": {
              "location": "query",
              "type": "string",
              "description": "Required. Finds the project that owns the key string value."
            }
          },
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "patch": {
                  "parameters": {
                    "updateMask": {
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "checkExistingUsage": {
                      "location": "query",
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key.",
                      "type": "string",
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ]
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "required": true
                    }
                  },
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "id": "apikeys.projects.locations.keys.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "undelete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}:undelete",
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "httpMethod": "POST",
                  "id": "apikeys.projects.locations.keys.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "create": {
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "keyId": {
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "path": "v2/{+parent}/keys",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apikeys.projects.locations.keys.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST"
                },
                "getKeyString": {
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the API key to be retrieved.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "path": "v2/{+name}/keyString",
                  "httpMethod": "GET",
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "checkExistingUsage": {
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key.",
                      "type": "string",
                      "location": "query",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ]
                    },
                    "etag": {
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Requests a specific page of results.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "type": "integer"
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned."
                    }
                  },
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "id": "apikeys.projects.locations.keys.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/keys",
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to get.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "id": "apikeys.projects.locations.keys.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "V2Key"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "servicePath": "",
  "name": "apikeys"
}