{
  "batchPath": "batch",
  "rootUrl": "https://apikeys.googleapis.com/",
  "basePath": "",
  "description": "Manages the API keys associated with developer projects.",
  "discoveryVersion": "v1",
  "canonicalName": "Api Keys Service",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "version_module": true,
  "schemas": {
    "V2LookupKeyResponse": {
      "id": "V2LookupKeyResponse",
      "properties": {
        "name": {
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty.",
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "The project that owns the key with the value specified in the request."
        }
      },
      "description": "Response message for `LookupKey` method.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        }
      },
      "id": "Status"
    },
    "V2Restrictions": {
      "properties": {
        "apiTargets": {
          "type": "array",
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "items": {
            "$ref": "V2ApiTarget"
          }
        },
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "iosKeyRestrictions": {
          "$ref": "V2IosKeyRestrictions",
          "description": "The iOS apps that are allowed to use the key."
        },
        "browserKeyRestrictions": {
          "$ref": "V2BrowserKeyRestrictions",
          "description": "The HTTP referrers (websites) that are allowed to use the key."
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        }
      },
      "id": "V2Restrictions",
      "type": "object",
      "description": "Describes the restrictions on the key."
    },
    "V2ListKeysResponse": {
      "id": "V2ListKeysResponse",
      "type": "object",
      "description": "Response message for `ListKeys` method.",
      "properties": {
        "keys": {
          "description": "A list of API keys.",
          "items": {
            "$ref": "V2Key"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      }
    },
    "V2ApiTarget": {
      "properties": {
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`"
        }
      },
      "type": "object",
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "id": "V2ApiTarget"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "V2BrowserKeyRestrictions": {
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "V2BrowserKeyRestrictions"
    },
    "V2AndroidApplication": {
      "id": "V2AndroidApplication",
      "properties": {
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        },
        "sha1Fingerprint": {
          "type": "string",
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter."
        }
      },
      "type": "object",
      "description": "Identifier of an Android application for key use."
    },
    "V2ServerKeyRestrictions": {
      "id": "V2ServerKeyRestrictions",
      "properties": {
        "allowedIps": {
          "type": "array",
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The IP addresses of callers that are allowed to use the key.",
      "type": "object"
    },
    "V2UndeleteKeyRequest": {
      "description": "Request message for `UndeleteKey` method.",
      "type": "object",
      "properties": {},
      "id": "V2UndeleteKeyRequest"
    },
    "V2GetKeyStringResponse": {
      "type": "object",
      "description": "Response message for `GetKeyString` method.",
      "properties": {
        "keyString": {
          "type": "string",
          "description": "An encrypted and signed value of the key."
        }
      },
      "id": "V2GetKeyStringResponse"
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "description": "The Android apps that are allowed to use the key.",
      "properties": {
        "allowedApplications": {
          "type": "array",
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "description": "A list of Android applications that are allowed to make API calls with this key."
        }
      },
      "type": "object"
    },
    "V2IosKeyRestrictions": {
      "id": "V2IosKeyRestrictions",
      "description": "The iOS apps that are allowed to use the key.",
      "properties": {
        "allowedBundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of bundle IDs that are allowed when making API calls with this key."
        }
      },
      "type": "object"
    },
    "V2Key": {
      "type": "object",
      "id": "V2Key",
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. A timestamp identifying the time this key was last updated."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "type": "string",
          "readOnly": true
        },
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "readOnly": true
        },
        "keyString": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method."
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique id in UUID4 format."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        }
      },
      "description": "The representation of a key managed by the API Keys API."
    }
  },
  "version": "v2",
  "protocol": "rest",
  "servicePath": "",
  "ownerName": "Google",
  "revision": "20260819",
  "baseUrl": "https://apikeys.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "apikeys",
  "kind": "discovery#restDescription",
  "resources": {
    "keys": {
      "methods": {
        "lookupKey": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "path": "v2/keys:lookupKey",
          "flatPath": "v2/keys:lookupKey",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "parameters": {
            "keyString": {
              "type": "string",
              "location": "query",
              "description": "Required. Finds the project that owns the key string value."
            }
          },
          "id": "apikeys.keys.lookupKey"
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "patch": {
                  "id": "apikeys.projects.locations.keys.patch",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "type": "string",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
                    },
                    "checkExistingUsage": {
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ]
                    }
                  },
                  "path": "v2/{+name}"
                },
                "getKeyString": {
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the API key to be retrieved."
                    }
                  },
                  "path": "v2/{+name}/keyString",
                  "id": "apikeys.projects.locations.keys.getKeyString"
                },
                "create": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "keyId": {
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "V2Key"
                  },
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/keys"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "checkExistingUsage": {
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key.",
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ]
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "type": "string"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apikeys.projects.locations.keys.delete",
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "DELETE",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Requests a specific page of results."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "showDeleted": {
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "path": "v2/{+parent}/keys",
                  "id": "apikeys.projects.locations.keys.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "apikeys.projects.locations.keys.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to get.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "response": {
                    "$ref": "V2Key"
                  }
                },
                "undelete": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:undelete",
                  "id": "apikeys.projects.locations.keys.undelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "flatPath": "v2/operations/{operationsId}",
          "response": {
            "$ref": "Operation"
          },
          "id": "apikeys.operations.get",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource."
            }
          },
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    }
  },
  "title": "API Keys API",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "id": "apikeys:v2",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/apikeys": {
          "description": "See, edit, configure, and delete your Google Cloud API Keys data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/apikeys.readonly": {
          "description": "See your Google Cloud API Keys data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}