{
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apikeys.readonly": {
          "description": "See your Google Cloud API Keys data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/apikeys": {
          "description": "See, edit, configure, and delete your Google Cloud API Keys data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://apikeys.googleapis.com/",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "version": "v2",
  "basePath": "",
  "title": "API Keys API",
  "ownerName": "Google",
  "name": "apikeys",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "rootUrl": "https://apikeys.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "Api Keys Service",
  "batchPath": "batch",
  "schemas": {
    "V2Key": {
      "description": "The representation of a key managed by the API Keys API.",
      "id": "V2Key",
      "properties": {
        "deleteTime": {
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "restrictions": {
          "$ref": "V2Restrictions",
          "description": "Key restrictions."
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique id in UUID4 format."
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects."
        },
        "keyString": {
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "V2ApiTarget": {
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "type": "object",
      "id": "V2ApiTarget",
      "properties": {
        "service": {
          "type": "string",
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project."
        },
        "methods": {
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "V2BrowserKeyRestrictions": {
      "properties": {
        "allowedReferrers": {
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "V2BrowserKeyRestrictions",
      "description": "The HTTP referrers (websites) that are allowed to use the key."
    },
    "V2AndroidKeyRestrictions": {
      "type": "object",
      "id": "V2AndroidKeyRestrictions",
      "properties": {
        "allowedApplications": {
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "type": "array"
        }
      },
      "description": "The Android apps that are allowed to use the key."
    },
    "V2ServerKeyRestrictions": {
      "id": "V2ServerKeyRestrictions",
      "description": "The IP addresses of callers that are allowed to use the key.",
      "type": "object",
      "properties": {
        "allowedIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key."
        }
      }
    },
    "V2AndroidApplication": {
      "description": "Identifier of an Android application for key use.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        },
        "sha1Fingerprint": {
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "V2AndroidApplication"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "V2GetKeyStringResponse": {
      "properties": {
        "keyString": {
          "type": "string",
          "description": "An encrypted and signed value of the key."
        }
      },
      "id": "V2GetKeyStringResponse",
      "description": "Response message for `GetKeyString` method.",
      "type": "object"
    },
    "V2IosKeyRestrictions": {
      "id": "V2IosKeyRestrictions",
      "description": "The iOS apps that are allowed to use the key.",
      "properties": {
        "allowedBundleIds": {
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "V2LookupKeyResponse": {
      "description": "Response message for `LookupKey` method.",
      "type": "object",
      "id": "V2LookupKeyResponse",
      "properties": {
        "parent": {
          "description": "The project that owns the key with the value specified in the request.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty.",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "V2ListKeysResponse": {
      "type": "object",
      "id": "V2ListKeysResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The pagination token for the next page of results."
        },
        "keys": {
          "items": {
            "$ref": "V2Key"
          },
          "description": "A list of API keys.",
          "type": "array"
        }
      },
      "description": "Response message for `ListKeys` method."
    },
    "V2UndeleteKeyRequest": {
      "properties": {},
      "id": "V2UndeleteKeyRequest",
      "description": "Request message for `UndeleteKey` method.",
      "type": "object"
    },
    "V2Restrictions": {
      "properties": {
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "androidKeyRestrictions": {
          "$ref": "V2AndroidKeyRestrictions",
          "description": "The Android apps that are allowed to use the key."
        },
        "iosKeyRestrictions": {
          "$ref": "V2IosKeyRestrictions",
          "description": "The iOS apps that are allowed to use the key."
        },
        "browserKeyRestrictions": {
          "$ref": "V2BrowserKeyRestrictions",
          "description": "The HTTP referrers (websites) that are allowed to use the key."
        },
        "apiTargets": {
          "items": {
            "$ref": "V2ApiTarget"
          },
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Describes the restrictions on the key.",
      "id": "V2Restrictions"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Manages the API keys associated with developer projects.",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "undelete": {
                  "path": "v2/{+name}:undelete",
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the API key to be undeleted."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apikeys.projects.locations.keys.undelete",
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "apikeys.projects.locations.keys.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameters": {
                    "etag": {
                      "location": "query",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    },
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key.",
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "location": "query"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "apikeys.projects.locations.keys.create",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+parent}/keys",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\"."
                    },
                    "keyId": {
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the API key to get."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "response": {
                    "$ref": "V2Key"
                  },
                  "path": "v2/{+name}",
                  "id": "apikeys.projects.locations.keys.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "id": "apikeys.projects.locations.keys.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "showDeleted": {
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "Optional. Requests a specific page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "httpMethod": "GET",
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+parent}/keys"
                },
                "getKeyString": {
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the API key to be retrieved."
                    }
                  },
                  "path": "v2/{+name}/keyString",
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "request": {
                    "$ref": "V2Key"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "id": "apikeys.projects.locations.keys.patch",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v2/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`."
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations/[^/]+$"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v2/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "apikeys.operations.get",
          "path": "v2/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ]
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "parameters": {
            "keyString": {
              "location": "query",
              "description": "Required. Finds the project that owns the key string value.",
              "type": "string"
            }
          },
          "flatPath": "v2/keys:lookupKey",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v2/keys:lookupKey",
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "apikeys.keys.lookupKey"
        }
      }
    }
  },
  "revision": "20260902",
  "id": "apikeys:v2",
  "kind": "discovery#restDescription"
}