{
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "baseUrl": "https://apikeys.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "servicePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "name": "apikeys",
  "kind": "discovery#restDescription",
  "title": "API Keys API",
  "basePath": "",
  "schemas": {
    "V2ServerKeyRestrictions": {
      "type": "object",
      "properties": {
        "allowedIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key."
        }
      },
      "description": "The IP addresses of callers that are allowed to use the key.",
      "id": "V2ServerKeyRestrictions"
    },
    "V2ApiTarget": {
      "id": "V2ApiTarget",
      "type": "object",
      "properties": {
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        },
        "methods": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`"
        }
      },
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive."
    },
    "V2LookupKeyResponse": {
      "type": "object",
      "id": "V2LookupKeyResponse",
      "properties": {
        "parent": {
          "type": "string",
          "description": "The project that owns the key with the value specified in the request."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty."
        }
      },
      "description": "Response message for `LookupKey` method."
    },
    "V2AndroidApplication": {
      "properties": {
        "sha1Fingerprint": {
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "The package name of the application."
        }
      },
      "description": "Identifier of an Android application for key use.",
      "type": "object",
      "id": "V2AndroidApplication"
    },
    "V2Restrictions": {
      "description": "Describes the restrictions on the key.",
      "properties": {
        "apiTargets": {
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed.",
          "type": "array",
          "items": {
            "$ref": "V2ApiTarget"
          }
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        },
        "browserKeyRestrictions": {
          "description": "The HTTP referrers (websites) that are allowed to use the key.",
          "$ref": "V2BrowserKeyRestrictions"
        },
        "serverKeyRestrictions": {
          "$ref": "V2ServerKeyRestrictions",
          "description": "The IP addresses of callers that are allowed to use the key."
        },
        "iosKeyRestrictions": {
          "description": "The iOS apps that are allowed to use the key.",
          "$ref": "V2IosKeyRestrictions"
        }
      },
      "id": "V2Restrictions",
      "type": "object"
    },
    "V2GetKeyStringResponse": {
      "description": "Response message for `GetKeyString` method.",
      "properties": {
        "keyString": {
          "type": "string",
          "description": "An encrypted and signed value of the key."
        }
      },
      "id": "V2GetKeyStringResponse",
      "type": "object"
    },
    "V2AndroidKeyRestrictions": {
      "id": "V2AndroidKeyRestrictions",
      "description": "The Android apps that are allowed to use the key.",
      "properties": {
        "allowedApplications": {
          "description": "A list of Android applications that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "$ref": "V2AndroidApplication"
          }
        }
      },
      "type": "object"
    },
    "V2IosKeyRestrictions": {
      "type": "object",
      "id": "V2IosKeyRestrictions",
      "description": "The iOS apps that are allowed to use the key.",
      "properties": {
        "allowedBundleIds": {
          "description": "A list of bundle IDs that are allowed when making API calls with this key.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Operation": {
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "V2Key": {
      "type": "object",
      "properties": {
        "keyString": {
          "readOnly": true,
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. Unique id in UUID4 format.",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
          "type": "string"
        },
        "restrictions": {
          "description": "Key restrictions.",
          "$ref": "V2Restrictions"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to."
        },
        "etag": {
          "type": "string",
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154."
        },
        "annotations": {
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. A timestamp identifying the time this key was originally created."
        }
      },
      "description": "The representation of a key managed by the API Keys API.",
      "id": "V2Key"
    },
    "V2BrowserKeyRestrictions": {
      "id": "V2BrowserKeyRestrictions",
      "properties": {
        "allowedReferrers": {
          "items": {
            "type": "string"
          },
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The HTTP referrers (websites) that are allowed to use the key."
    },
    "V2UndeleteKeyRequest": {
      "properties": {},
      "id": "V2UndeleteKeyRequest",
      "description": "Request message for `UndeleteKey` method.",
      "type": "object"
    },
    "V2ListKeysResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        },
        "keys": {
          "items": {
            "$ref": "V2Key"
          },
          "type": "array",
          "description": "A list of API keys."
        }
      },
      "type": "object",
      "description": "Response message for `ListKeys` method.",
      "id": "V2ListKeysResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      },
      "type": "object",
      "id": "Status"
    }
  },
  "batchPath": "batch",
  "rootUrl": "https://apikeys.googleapis.com/",
  "revision": "20260819",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "resources": {
    "keys": {
      "methods": {
        "lookupKey": {
          "flatPath": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "parameters": {
            "keyString": {
              "description": "Required. Finds the project that owns the key string value.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "apikeys.keys.lookupKey",
          "path": "v2/keys:lookupKey",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "parameterOrder": []
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to get.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    }
                  },
                  "id": "apikeys.projects.locations.keys.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "V2Key"
                  }
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "keyId": {
                      "type": "string",
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string.",
                      "location": "query"
                    }
                  },
                  "id": "apikeys.projects.locations.keys.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "path": "v2/{+parent}/keys"
                },
                "undelete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the API key to be undeleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:undelete",
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "id": "apikeys.projects.locations.keys.undelete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. Requests a specific page of results.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "showDeleted": {
                      "location": "query",
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned.",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Specifies the maximum number of results to be returned at a time."
                    }
                  },
                  "id": "apikeys.projects.locations.keys.list",
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  },
                  "path": "v2/{+parent}/keys",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "V2Key"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    },
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when updating a key.",
                        "If set, existing usage is checked when updating the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "description": "Optional. Defines the behavior for checking existing usage when updating a key.",
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "location": "query"
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "type": "string"
                    }
                  }
                },
                "getKeyString": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/apikeys.readonly",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v2/{+name}/keyString",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the API key to be retrieved."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apikeys.projects.locations.keys.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "etag": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency."
                    },
                    "name": {
                      "description": "Required. The resource name of the API key to be deleted.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    },
                    "checkExistingUsage": {
                      "enumDescriptions": [
                        "When unset, the default behavior is used, which is SKIP.",
                        "If set, skip checking existing usage when deleting a key.",
                        "If set, existing usage is checked when deleting the key. If the key has usage in the last 7 days, the request returns a FAILED_PRECONDITION error."
                      ],
                      "type": "string",
                      "enum": [
                        "CHECK_EXISTING_USAGE_UNSPECIFIED",
                        "SKIP",
                        "CHECK"
                      ],
                      "location": "query",
                      "description": "Optional. Defines the behavior for checking existing usage when deleting a key."
                    }
                  },
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/apikeys",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "path": "v2/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "pattern": "^operations/[^/]+$",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "apikeys.operations.get",
          "parameterOrder": [
            "name"
          ],
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/apikeys",
            "https://www.googleapis.com/auth/apikeys.readonly",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "flatPath": "v2/operations/{operationsId}"
        }
      }
    }
  },
  "description": "Manages the API keys associated with developer projects.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apikeys": {
          "description": "See, edit, configure, and delete your Google Cloud API Keys data and see the email address for your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/apikeys.readonly": {
          "description": "See your Google Cloud API Keys data and the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "version": "v2",
  "canonicalName": "Api Keys Service",
  "version_module": true,
  "id": "apikeys:v2"
}