{
  "discoveryVersion": "v1",
  "name": "apim",
  "batchPath": "batch",
  "title": "API Management API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "basePath": "",
  "rootUrl": "https://apim.googleapis.com/",
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "baseUrl": "https://apim.googleapis.com/",
  "protocol": "rest",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "version": "v1alpha",
  "revision": "20260819",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/apigee/",
  "id": "apim:v1alpha",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "canonicalName": "API Management",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getEntitlement": {
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "required": true
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "response": {
                "$ref": "Entitlement"
              },
              "id": "apim.projects.locations.getEntitlement",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "apim.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Gets information about a location."
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "path": "v1alpha/{+name}/locations",
              "id": "apim.projects.locations.list",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET"
            },
            "listApiObservationTags": {
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}"
                }
              },
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apim.projects.locations.listApiObservationTags",
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "id": "apim.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "httpMethod": "POST",
                  "id": "apim.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "apim.projects.locations.operations.list",
                  "path": "v1alpha/{+name}/operations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.operations.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "observationJobs": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  },
                  "path": "v1alpha/{+parent}/observationJobs",
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "id": "apim.projects.locations.observationJobs.list",
                  "httpMethod": "GET"
                },
                "disable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables the given ObservationJob.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}:disable",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "id": "apim.projects.locations.observationJobs.disable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "observationJobId": {
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "httpMethod": "POST",
                  "id": "apim.projects.locations.observationJobs.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs"
                },
                "get": {
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "path": "v1alpha/{+name}",
                  "id": "apim.projects.locations.observationJobs.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ObservationJob"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationJobs.delete"
                },
                "enable": {
                  "path": "v1alpha/{+name}:enable",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Enables the given ObservationJob.",
                  "id": "apim.projects.locations.observationJobs.enable",
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "apiObservations": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/apiObservations",
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "location": "query"
                        }
                      }
                    },
                    "batchEditTags": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      }
                    },
                    "get": {
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}"
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "get": {
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get",
                          "path": "v1alpha/{+name}",
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          }
                        },
                        "list": {
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1alpha/{+parent}/apiOperations",
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "observationSources": {
              "methods": {
                "create": {
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "observationSourceId": {
                      "location": "query",
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+parent}/observationSources",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationSources.create",
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "id": "apim.projects.locations.observationSources.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE"
                },
                "list": {
                  "path": "v1alpha/{+parent}/observationSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.observationSources.list",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationSources.get",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "type": "object"
    },
    "EnableObservationJobRequest": {
      "properties": {},
      "type": "object",
      "id": "EnableObservationJobRequest",
      "description": "Message for enabling an ObservationJob"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "id": "GclbObservationSourcePscNetworkConfig",
      "properties": {
        "network": {
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}"
        }
      },
      "type": "object",
      "description": "Network information for setting up a PSC connection."
    },
    "OperationMetadata": {
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "ApiOperation": {
      "description": "Message describing ApiOperation object",
      "properties": {
        "httpOperation": {
          "$ref": "HttpOperation",
          "description": "An HTTP Operation."
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of this API Operation.",
          "format": "int64"
        },
        "firstSeenTime": {
          "description": "First seen time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "lastSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last seen time stamp"
        }
      },
      "id": "ApiOperation",
      "type": "object"
    },
    "HttpOperation": {
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "type": "object",
      "id": "HttpOperation",
      "properties": {
        "method": {
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "description": "HTTP Method.",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        },
        "response": {
          "$ref": "HttpOperationHttpResponse",
          "description": "Response metadata."
        },
        "request": {
          "description": "Request metadata.",
          "$ref": "HttpOperationHttpRequest"
        },
        "queryParams": {
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          },
          "type": "object",
          "description": "Query params of HttpOperation"
        },
        "pathParams": {
          "description": "Path params of HttpOperation",
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "type": "array"
        },
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        }
      }
    },
    "BatchEditTagsApiObservationsResponse": {
      "id": "BatchEditTagsApiObservationsResponse",
      "properties": {
        "apiObservations": {
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "ApiObservations that were changed"
        }
      },
      "type": "object",
      "description": "Message for response to edit Tags for ApiObservations"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "GclbObservationSource": {
      "properties": {
        "pscNetworkConfigs": {
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network.",
          "type": "array"
        }
      },
      "id": "GclbObservationSource",
      "type": "object",
      "description": "The GCLB observation source."
    },
    "ListObservationSourcesResponse": {
      "description": "Message for response to listing ObservationSources",
      "id": "ListObservationSourcesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "observationSources": {
          "items": {
            "$ref": "ObservationSource"
          },
          "type": "array",
          "description": "The ObservationSource from the specified project and location."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Entitlement": {
      "type": "object",
      "id": "Entitlement",
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`"
        },
        "updateTime": {
          "description": "Output only. The time of the entitlement update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "billingProjectNumber": {
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "format": "int64",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time of the entitlement creation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "apiObservationEntitled": {
          "type": "boolean",
          "description": "Whether API Observation is entitled."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "EditTagsApiObservationsRequest": {
      "id": "EditTagsApiObservationsRequest",
      "properties": {
        "apiObservationId": {
          "type": "string",
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\""
        },
        "tagActions": {
          "description": "Required. Tag actions to be applied",
          "type": "array",
          "items": {
            "$ref": "TagAction"
          }
        }
      },
      "description": "Message for requesting edit tags for ApiObservation",
      "type": "object"
    },
    "ListApiObservationTagsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservationTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The tags from the specified project"
        }
      },
      "description": "Message for response to listing tags",
      "type": "object",
      "id": "ListApiObservationTagsResponse"
    },
    "HttpOperationHeader": {
      "id": "HttpOperationHeader",
      "description": "An aggregation of HTTP header occurrences.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "dataType": {
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this Header across transactions.",
          "type": "string"
        }
      }
    },
    "ObservationSource": {
      "properties": {
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "readOnly": true,
          "description": "Output only. The observation source state",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp"
        },
        "gclbObservationSource": {
          "$ref": "GclbObservationSource",
          "description": "The GCLB observation source"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        }
      },
      "id": "ObservationSource",
      "type": "object",
      "description": "Observation source configuration types"
    },
    "BatchEditTagsApiObservationsRequest": {
      "type": "object",
      "id": "BatchEditTagsApiObservationsRequest",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "HttpOperationQueryParam": {
      "properties": {
        "dataType": {
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of query param"
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of this query parameter across transactions.",
          "format": "int64"
        }
      },
      "id": "HttpOperationQueryParam",
      "description": "An aggregation of HTTP query parameter occurrences.",
      "type": "object"
    },
    "HttpOperationPathParam": {
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter.",
      "type": "object",
      "properties": {
        "position": {
          "description": "Segment location in the path, 1-indexed",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      }
    },
    "ListApiOperationsResponse": {
      "id": "ListApiOperationsResponse",
      "type": "object",
      "description": "Message for response to listing ApiOperations",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiOperations": {
          "items": {
            "$ref": "ApiOperation"
          },
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "type": "array"
        }
      }
    },
    "DisableObservationJobRequest": {
      "description": "Message for disabling an ObservationJob",
      "type": "object",
      "id": "DisableObservationJobRequest",
      "properties": {}
    },
    "ObservationJob": {
      "id": "ObservationJob",
      "description": "Message describing ObservationJob object",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ],
          "description": "Output only. The observation job state",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "type": "string"
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These should be of the same kind of source.",
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "HttpOperationHttpResponse": {
      "properties": {
        "responseCodes": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of status code to observed count",
          "type": "object"
        },
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object"
        }
      },
      "description": "An aggregation of HTTP responses.",
      "id": "HttpOperationHttpResponse",
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListApiObservationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiObservations": {
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "The ApiObservation from the specified project and location and ObservationJobs."
        }
      },
      "description": "Message for response to listing ApiObservations",
      "id": "ListApiObservationsResponse"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "ListObservationJobsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "observationJobs": {
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          },
          "description": "The ObservationJob from the specified project and location."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing ObservationJobs",
      "id": "ListObservationJobsResponse"
    },
    "HttpOperationHttpRequest": {
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object",
          "description": "Unordered map from header name to header metadata"
        }
      },
      "description": "An aggregation of HTTP requests.",
      "id": "HttpOperationHttpRequest",
      "type": "object"
    },
    "ApiObservation": {
      "type": "object",
      "description": "Message describing ApiObservation object",
      "properties": {
        "apiOperationCount": {
          "description": "The number of observed API Operations.",
          "type": "string",
          "format": "int64"
        },
        "sourceLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
        },
        "lastEventDetectedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last event detected time stamp"
        },
        "hostname": {
          "description": "The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "serverIps": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "description": "User-defined tags to organize and sort",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "style": {
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "description": "Style of ApiObservation",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Update time stamp",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Create time stamp"
        }
      },
      "id": "ApiObservation"
    },
    "TagAction": {
      "id": "TagAction",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Required. Tag to be added or removed"
        },
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Required. Action to be applied",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ]
        }
      },
      "type": "object",
      "description": "Message for edit tag action"
    }
  }
}