{
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "canonicalName": "API Management",
  "id": "apim:v1alpha",
  "baseUrl": "https://apim.googleapis.com/",
  "protocol": "rest",
  "version_module": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "title": "API Management API",
  "name": "apim",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://apim.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getEntitlement": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "required": true,
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Entitlement"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "id": "apim.projects.locations.getEntitlement",
              "httpMethod": "GET"
            },
            "listApiObservationTags": {
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "httpMethod": "GET",
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "required": true
                }
              },
              "id": "apim.projects.locations.listApiObservationTags"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apim.projects.locations.list",
              "path": "v1alpha/{+name}/locations",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "path": "v1alpha/{+name}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apim.projects.locations.get",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1alpha/{+name}/operations",
                  "id": "apim.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apim.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "apim.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.operations.get",
                  "path": "v1alpha/{+name}"
                }
              }
            },
            "observationSources": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationSources.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "observationSourceId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/."
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "path": "v1alpha/{+parent}/observationSources"
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "id": "apim.projects.locations.observationSources.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "httpMethod": "GET"
                },
                "list": {
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/observationSources",
                  "id": "apim.projects.locations.observationSources.list"
                },
                "delete": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationSources.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled."
                }
              }
            },
            "observationJobs": {
              "resources": {
                "apiObservations": {
                  "methods": {
                    "batchEditTags": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                        }
                      },
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "required": true
                        }
                      }
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "path": "v1alpha/{+parent}/apiObservations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "type": "string",
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                              "required": true
                            }
                          },
                          "path": "v1alpha/{+parent}/apiOperations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "httpMethod": "GET"
                        },
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "location": "path"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "observationJobId": {
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}"
                    }
                  },
                  "id": "apim.projects.locations.observationJobs.create",
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.get"
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "apim.projects.locations.observationJobs.delete",
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "disable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}:disable",
                  "httpMethod": "POST",
                  "description": "Disables the given ObservationJob.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "id": "apim.projects.locations.observationJobs.disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable"
                },
                "enable": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Enables the given ObservationJob.",
                  "path": "v1alpha/{+name}:enable",
                  "id": "apim.projects.locations.observationJobs.enable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable"
                },
                "list": {
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.observationJobs.list",
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "schemas": {
    "DisableObservationJobRequest": {
      "description": "Message for disabling an ObservationJob",
      "type": "object",
      "id": "DisableObservationJobRequest",
      "properties": {}
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "HttpOperationQueryParam": {
      "id": "HttpOperationQueryParam",
      "type": "object",
      "description": "An aggregation of HTTP query parameter occurrences.",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this query parameter across transactions.",
          "type": "string"
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "dataType": {
          "description": "Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        }
      }
    },
    "HttpOperation": {
      "type": "object",
      "properties": {
        "pathParams": {
          "type": "array",
          "description": "Path params of HttpOperation",
          "items": {
            "$ref": "HttpOperationPathParam"
          }
        },
        "queryParams": {
          "type": "object",
          "description": "Query params of HttpOperation",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          }
        },
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        },
        "method": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "description": "HTTP Method.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        },
        "response": {
          "description": "Response metadata.",
          "$ref": "HttpOperationHttpResponse"
        },
        "request": {
          "$ref": "HttpOperationHttpRequest",
          "description": "Request metadata."
        }
      },
      "id": "HttpOperation",
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation."
    },
    "HttpOperationHttpResponse": {
      "properties": {
        "responseCodes": {
          "type": "object",
          "description": "Map of status code to observed count",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          }
        },
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object"
        }
      },
      "id": "HttpOperationHttpResponse",
      "description": "An aggregation of HTTP responses.",
      "type": "object"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "type": "object",
      "description": "Network information for setting up a PSC connection.",
      "id": "GclbObservationSourcePscNetworkConfig",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}"
        }
      }
    },
    "BatchEditTagsApiObservationsResponse": {
      "description": "Message for response to edit Tags for ApiObservations",
      "type": "object",
      "id": "BatchEditTagsApiObservationsResponse",
      "properties": {
        "apiObservations": {
          "description": "ApiObservations that were changed",
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      }
    },
    "BatchEditTagsApiObservationsRequest": {
      "type": "object",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchEditTagsApiObservationsRequest"
    },
    "EnableObservationJobRequest": {
      "properties": {},
      "type": "object",
      "id": "EnableObservationJobRequest",
      "description": "Message for enabling an ObservationJob"
    },
    "ListObservationJobsResponse": {
      "properties": {
        "observationJobs": {
          "description": "The ObservationJob from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Message for response to listing ObservationJobs",
      "type": "object",
      "id": "ListObservationJobsResponse"
    },
    "ApiObservation": {
      "id": "ApiObservation",
      "properties": {
        "updateTime": {
          "description": "Update time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "lastEventDetectedTime": {
          "type": "string",
          "description": "Last event detected time stamp",
          "format": "google-datetime"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname of requests processed for this Observation."
        },
        "serverIps": {
          "items": {
            "type": "string"
          },
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array"
        },
        "apiOperationCount": {
          "type": "string",
          "description": "The number of observed API Operations.",
          "format": "int64"
        },
        "sourceLocations": {
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\"",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "User-defined tags to organize and sort",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Create time stamp",
          "format": "google-datetime"
        },
        "style": {
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "type": "string",
          "description": "Style of ApiObservation"
        }
      },
      "description": "Message describing ApiObservation object",
      "type": "object"
    },
    "GclbObservationSource": {
      "type": "object",
      "id": "GclbObservationSource",
      "description": "The GCLB observation source.",
      "properties": {
        "pscNetworkConfigs": {
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network.",
          "type": "array",
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          }
        }
      }
    },
    "ObservationJob": {
      "id": "ObservationJob",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The observation job state",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime"
        },
        "sources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. These should be of the same kind of source.",
          "type": "array"
        }
      },
      "description": "Message describing ObservationJob object",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "ApiOperation": {
      "type": "object",
      "description": "Message describing ApiOperation object",
      "properties": {
        "lastSeenTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last seen time stamp"
        },
        "count": {
          "description": "The number of occurrences of this API Operation.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        },
        "firstSeenTime": {
          "description": "First seen time stamp",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ApiOperation"
    },
    "ObservationSource": {
      "type": "object",
      "id": "ObservationSource",
      "description": "Observation source configuration types",
      "properties": {
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource For MVP, each region can only have 1 source."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "readOnly": true,
          "description": "Output only. The observation source state"
        }
      }
    },
    "ListApiObservationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservations": {
          "description": "The ApiObservation from the specified project and location and ObservationJobs.",
          "items": {
            "$ref": "ApiObservation"
          },
          "type": "array"
        }
      },
      "id": "ListApiObservationsResponse",
      "type": "object",
      "description": "Message for response to listing ApiObservations"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ListObservationSourcesResponse": {
      "type": "object",
      "description": "Message for response to listing ObservationSources",
      "id": "ListObservationSourcesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "observationSources": {
          "items": {
            "$ref": "ObservationSource"
          },
          "type": "array",
          "description": "The ObservationSource from the specified project and location."
        }
      }
    },
    "ListApiObservationTagsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiObservationTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The tags from the specified project"
        }
      },
      "id": "ListApiObservationTagsResponse",
      "description": "Message for response to listing tags"
    },
    "HttpOperationHeader": {
      "id": "HttpOperationHeader",
      "properties": {
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this Header across transactions."
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of header",
          "type": "string"
        }
      },
      "description": "An aggregation of HTTP header occurrences.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "HttpOperationPathParam": {
      "type": "object",
      "properties": {
        "position": {
          "format": "int32",
          "description": "Segment location in the path, 1-indexed",
          "type": "integer"
        },
        "dataType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of path param"
        }
      },
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter."
    },
    "HttpOperationHttpRequest": {
      "description": "An aggregation of HTTP requests.",
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        }
      },
      "id": "HttpOperationHttpRequest"
    },
    "CancelOperationRequest": {
      "properties": {},
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "EditTagsApiObservationsRequest": {
      "type": "object",
      "properties": {
        "apiObservationId": {
          "type": "string",
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\""
        },
        "tagActions": {
          "items": {
            "$ref": "TagAction"
          },
          "description": "Required. Tag actions to be applied",
          "type": "array"
        }
      },
      "description": "Message for requesting edit tags for ApiObservation",
      "id": "EditTagsApiObservationsRequest"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "ListApiOperationsResponse": {
      "id": "ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "items": {
            "$ref": "ApiOperation"
          },
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for response to listing ApiOperations"
    },
    "Entitlement": {
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time of the entitlement creation."
        },
        "apiObservationEntitled": {
          "type": "boolean",
          "description": "Whether API Observation is entitled."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time of the entitlement update.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "billingProjectNumber": {
          "type": "string",
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "format": "int64"
        }
      },
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "id": "Entitlement",
      "type": "object"
    },
    "TagAction": {
      "id": "TagAction",
      "type": "object",
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "type": "string",
          "description": "Required. Action to be applied",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ]
        },
        "tag": {
          "type": "string",
          "description": "Required. Tag to be added or removed"
        }
      },
      "description": "Message for edit tag action"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    }
  },
  "revision": "20260925",
  "documentationLink": "https://cloud.google.com/apigee/"
}