{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://apim.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "version": "v1alpha",
  "title": "API Management API",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "revision": "20260826",
  "canonicalName": "API Management",
  "parameters": {
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "baseUrl": "https://apim.googleapis.com/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "name": "apim",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ApiObservation": {
      "id": "ApiObservation",
      "type": "object",
      "description": "Message describing ApiObservation object",
      "properties": {
        "hostname": {
          "description": "The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "createTime": {
          "description": "Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "serverIps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
        },
        "style": {
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "description": "Style of ApiObservation",
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ]
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Update time stamp"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "User-defined tags to organize and sort"
        },
        "apiOperationCount": {
          "format": "int64",
          "description": "The number of observed API Operations.",
          "type": "string"
        },
        "lastEventDetectedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Last event detected time stamp"
        }
      }
    },
    "ObservationSource": {
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "readOnly": true
        },
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "readOnly": true,
          "description": "Output only. The observation source state"
        },
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        }
      },
      "description": "Observation source configuration types",
      "type": "object",
      "id": "ObservationSource"
    },
    "EditTagsApiObservationsRequest": {
      "type": "object",
      "description": "Message for requesting edit tags for ApiObservation",
      "properties": {
        "tagActions": {
          "items": {
            "$ref": "TagAction"
          },
          "type": "array",
          "description": "Required. Tag actions to be applied"
        },
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        }
      },
      "id": "EditTagsApiObservationsRequest"
    },
    "ApiOperation": {
      "properties": {
        "firstSeenTime": {
          "format": "google-datetime",
          "description": "First seen time stamp",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "lastSeenTime": {
          "description": "Last seen time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The number of occurrences of this API Operation."
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        }
      },
      "id": "ApiOperation",
      "description": "Message describing ApiOperation object",
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "HttpOperationPathParam": {
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter.",
      "properties": {
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        },
        "position": {
          "format": "int32",
          "description": "Segment location in the path, 1-indexed",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GclbObservationSource": {
      "type": "object",
      "id": "GclbObservationSource",
      "properties": {
        "pscNetworkConfigs": {
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "type": "array",
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network."
        }
      },
      "description": "The GCLB observation source."
    },
    "HttpOperationHeader": {
      "type": "object",
      "id": "HttpOperationHeader",
      "description": "An aggregation of HTTP header occurrences.",
      "properties": {
        "dataType": {
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of this Header across transactions.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Header name."
        }
      }
    },
    "DisableObservationJobRequest": {
      "description": "Message for disabling an ObservationJob",
      "id": "DisableObservationJobRequest",
      "type": "object",
      "properties": {}
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListApiObservationTagsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservationTags": {
          "items": {
            "type": "string"
          },
          "description": "The tags from the specified project",
          "type": "array"
        }
      },
      "description": "Message for response to listing tags",
      "id": "ListApiObservationTagsResponse",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListObservationJobsResponse": {
      "type": "object",
      "description": "Message for response to listing ObservationJobs",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "observationJobs": {
          "description": "The ObservationJob from the specified project and location.",
          "items": {
            "$ref": "ObservationJob"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListObservationJobsResponse"
    },
    "HttpOperation": {
      "type": "object",
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "properties": {
        "path": {
          "type": "string",
          "description": "Path of the HTTP request."
        },
        "pathParams": {
          "type": "array",
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "description": "Path params of HttpOperation"
        },
        "response": {
          "$ref": "HttpOperationHttpResponse",
          "description": "Response metadata."
        },
        "method": {
          "description": "HTTP Method.",
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        },
        "request": {
          "description": "Request metadata.",
          "$ref": "HttpOperationHttpRequest"
        },
        "queryParams": {
          "type": "object",
          "description": "Query params of HttpOperation",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          }
        }
      },
      "id": "HttpOperation"
    },
    "HttpOperationQueryParam": {
      "type": "object",
      "description": "An aggregation of HTTP query parameter occurrences.",
      "properties": {
        "dataType": {
          "description": "Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        },
        "count": {
          "description": "The number of occurrences of this query parameter across transactions.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        }
      },
      "id": "HttpOperationQueryParam"
    },
    "Entitlement": {
      "type": "object",
      "properties": {
        "apiObservationEntitled": {
          "description": "Whether API Observation is entitled.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement creation.",
          "readOnly": true,
          "type": "string"
        },
        "billingProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled."
        },
        "updateTime": {
          "description": "Output only. The time of the entitlement update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`"
        }
      },
      "id": "Entitlement",
      "description": "Entitlement stores data related to API Observation entitlement for a given project"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "description": "Network information for setting up a PSC connection.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`"
        },
        "subnetwork": {
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      },
      "id": "GclbObservationSourcePscNetworkConfig",
      "type": "object"
    },
    "ObservationJob": {
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ],
          "type": "string",
          "description": "Output only. The observation job state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ]
        },
        "sources": {
          "description": "Optional. These should be of the same kind of source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
        }
      },
      "type": "object",
      "id": "ObservationJob",
      "description": "Message describing ObservationJob object"
    },
    "ListObservationSourcesResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "observationSources": {
          "items": {
            "$ref": "ObservationSource"
          },
          "description": "The ObservationSource from the specified project and location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListObservationSourcesResponse",
      "description": "Message for response to listing ObservationSources"
    },
    "ListApiOperationsResponse": {
      "type": "object",
      "description": "Message for response to listing ApiOperations",
      "id": "ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "type": "array",
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "items": {
            "$ref": "ApiOperation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "EnableObservationJobRequest": {
      "type": "object",
      "id": "EnableObservationJobRequest",
      "description": "Message for enabling an ObservationJob",
      "properties": {}
    },
    "ListApiObservationsResponse": {
      "description": "Message for response to listing ApiObservations",
      "type": "object",
      "id": "ListApiObservationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservations": {
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "The ApiObservation from the specified project and location and ObservationJobs.",
          "type": "array"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "HttpOperationHttpRequest": {
      "properties": {
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        }
      },
      "description": "An aggregation of HTTP requests.",
      "id": "HttpOperationHttpRequest",
      "type": "object"
    },
    "TagAction": {
      "type": "object",
      "description": "Message for edit tag action",
      "id": "TagAction",
      "properties": {
        "tag": {
          "description": "Required. Tag to be added or removed",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "description": "Required. Action to be applied",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        }
      }
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "HttpOperationHttpResponse": {
      "id": "HttpOperationHttpResponse",
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "type": "object",
          "description": "Unordered map from header name to header metadata"
        },
        "responseCodes": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map of status code to observed count"
        }
      },
      "description": "An aggregation of HTTP responses.",
      "type": "object"
    },
    "BatchEditTagsApiObservationsRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "id": "BatchEditTagsApiObservationsRequest"
    },
    "OperationMetadata": {
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "BatchEditTagsApiObservationsResponse": {
      "description": "Message for response to edit Tags for ApiObservations",
      "type": "object",
      "properties": {
        "apiObservations": {
          "description": "ApiObservations that were changed",
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      },
      "id": "BatchEditTagsApiObservationsResponse"
    }
  },
  "version_module": true,
  "id": "apim:v1alpha",
  "basePath": "",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "observationJobs": {
              "resources": {
                "apiObservations": {
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "list": {
                          "path": "v1alpha/{+parent}/apiOperations",
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                            },
                            "parent": {
                              "required": true,
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET"
                        },
                        "get": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1alpha/{+name}",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}"
                            }
                          },
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get"
                        }
                      }
                    }
                  },
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "required": true
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        }
                      },
                      "path": "v1alpha/{+parent}/apiObservations",
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "batchEditTags": {
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationJobs.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                    }
                  },
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}"
                },
                "disable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Disables the given ObservationJob.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "path": "v1alpha/{+name}:disable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationJobs.disable"
                },
                "list": {
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationJobs.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  }
                },
                "enable": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.enable",
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:enable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Enables the given ObservationJob."
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/observationJobs",
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "id": "apim.projects.locations.observationJobs.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "observationJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/."
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.get",
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "apim.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "apim.projects.locations.operations.cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "v1alpha/{+name}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource."
                    }
                  }
                }
              }
            },
            "observationSources": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationSources.create",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Value for parent.",
                      "location": "path"
                    },
                    "observationSourceId": {
                      "type": "string",
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query"
                    }
                  },
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/observationSources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "apim.projects.locations.observationSources.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "id": "apim.projects.locations.observationSources.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "id": "apim.projects.locations.observationSources.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/observationSources",
                  "httpMethod": "GET",
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1alpha/{+name}/locations",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apim.projects.locations.list"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "id": "apim.projects.locations.get",
              "description": "Gets information about a location."
            },
            "listApiObservationTags": {
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "id": "apim.projects.locations.listApiObservationTags",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token."
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "path": "v1alpha/{+parent}:listApiObservationTags"
            },
            "getEntitlement": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}",
              "id": "apim.projects.locations.getEntitlement",
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "response": {
                "$ref": "Entitlement"
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/apigee/",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure."
}