{
  "batchPath": "batch",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://appengine.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "version": "v1beta",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "description": "Provisions and manages developers' App Engine applications.",
  "id": "appengine:v1beta",
  "baseUrl": "https://appengine.googleapis.com/",
  "revision": "20260801",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "OperationMetadataV1Beta": {
      "id": "OperationMetadataV1Beta",
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "DebugInstanceRequest": {
      "description": "Request message for Instances.DebugInstance.",
      "id": "DebugInstanceRequest",
      "type": "object",
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      }
    },
    "Resources": {
      "description": "Machine resources for a version.",
      "id": "Resources",
      "type": "object",
      "properties": {
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "volumes": {
          "type": "array",
          "items": {
            "$ref": "Volume"
          },
          "description": "User specified volumes."
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "format": "double",
          "type": "number"
        },
        "memoryGb": {
          "description": "Memory (GB) needed.",
          "type": "number",
          "format": "double"
        },
        "diskGb": {
          "type": "number",
          "format": "double",
          "description": "Disk size (GB) needed."
        }
      }
    },
    "VpcAccess": {
      "description": "VPC Access settings",
      "id": "VpcAccess",
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "description": "The Direct VPC configuration. Currently only single network interface is supported.",
          "type": "array",
          "items": {
            "$ref": "VpcNetworkInterface"
          }
        },
        "vpcEgress": {
          "enumDescriptions": [
            "No value set; apply default behavior",
            "Force all traffic to egress through the NetworkInterface (and configured VPC Network)",
            "Force all Private IP Space traffic to egress through NetworkInterface (and configured VPC Network)"
          ],
          "type": "string",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "description": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it."
        }
      }
    },
    "ListIngressRulesResponse": {
      "id": "ListIngressRulesResponse",
      "type": "object",
      "properties": {
        "ingressRules": {
          "description": "The ingress FirewallRules for this application.",
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Firewall.ListIngressRules."
    },
    "GceTag": {
      "id": "GceTag",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        },
        "parent": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
        }
      },
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info."
    },
    "BuildInfo": {
      "description": "Google Cloud Build information.",
      "id": "BuildInfo",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
          "type": "string"
        }
      }
    },
    "DiskUtilization": {
      "id": "DiskUtilization",
      "type": "object",
      "properties": {
        "targetWriteOpsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target ops written per second."
        },
        "targetReadOpsPerSecond": {
          "description": "Target ops read per seconds.",
          "format": "int32",
          "type": "integer"
        },
        "targetWriteBytesPerSecond": {
          "description": "Target bytes written per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReadBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes read per second."
        }
      },
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment."
    },
    "Deployment": {
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "id": "Deployment",
      "type": "object",
      "properties": {
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        },
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "build": {
          "description": "Google Cloud Build build information. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "BuildInfo"
        },
        "files": {
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "additionalProperties": {
            "$ref": "FileInfo"
          },
          "type": "object"
        },
        "cloudBuildOptions": {
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
          "$ref": "CloudBuildOptions"
        }
      }
    },
    "VpcAccessConnector": {
      "id": "VpcAccessConnector",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        },
        "egressSetting": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ],
          "description": "The egress setting for the connector, controlling what traffic is diverted through it.",
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ]
        }
      },
      "description": "VPC access connector specification."
    },
    "RepairApplicationRequest": {
      "id": "RepairApplicationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'Applications.RepairApplication'."
    },
    "CpuUtilization": {
      "description": "Target scaling by CPU usage.",
      "id": "CpuUtilization",
      "type": "object",
      "properties": {
        "aggregationWindowLength": {
          "format": "google-duration",
          "type": "string",
          "description": "Period of time over which CPU utilization is calculated."
        },
        "targetUtilization": {
          "format": "double",
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
        }
      }
    },
    "ZipInfo": {
      "description": "The zip file information for a zip deployment.",
      "id": "ZipInfo",
      "type": "object",
      "properties": {
        "filesCount": {
          "format": "int32",
          "type": "integer",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        },
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      }
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "type": "object",
      "properties": {
        "targetUtilization": {
          "description": "The target value for the metric.",
          "format": "double",
          "type": "number"
        },
        "metricName": {
          "description": "The name of the metric.",
          "type": "string"
        },
        "singleInstanceAssignment": {
          "type": "number",
          "format": "double",
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment."
        },
        "filter": {
          "description": "Allows filtering on the metric's fields.",
          "type": "string"
        },
        "targetType": {
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc.",
          "type": "string"
        }
      },
      "description": "Allows autoscaling based on Stackdriver metrics."
    },
    "StaticFilesHandler": {
      "id": "StaticFilesHandler",
      "type": "object",
      "properties": {
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "applicationReadable": {
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
          "type": "boolean"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "expiration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers."
        }
      },
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them."
    },
    "BatchUpdateIngressRulesResponse": {
      "id": "BatchUpdateIngressRulesResponse",
      "type": "object",
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The full list of ingress FirewallRules for this application."
        }
      },
      "description": "Response message for Firewall.UpdateAllIngressRules."
    },
    "Entrypoint": {
      "id": "Entrypoint",
      "type": "object",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      },
      "description": "The entrypoint for the application."
    },
    "ContainerInfo": {
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "id": "ContainerInfo",
      "type": "object",
      "properties": {
        "image": {
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
          "type": "string"
        }
      }
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "id": "CertificateRawData",
      "type": "object",
      "properties": {
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        },
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        }
      }
    },
    "ProjectsMetadata": {
      "id": "ProjectsMetadata",
      "type": "object",
      "properties": {
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        },
        "isGceProjectDeprovisioning": {
          "deprecated": true,
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "type": "boolean"
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "The consumer project number."
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "type": "array",
          "items": {
            "$ref": "GceTag"
          }
        },
        "tenantProjectNumber": {
          "description": "The tenant project number.",
          "format": "int64",
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number.",
          "format": "int64",
          "type": "string"
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        },
        "consumerProjectState": {
          "type": "string",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ]
        }
      },
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer)."
    },
    "DomainMapping": {
      "description": "A domain serving an App Engine application.",
      "id": "DomainMapping",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "resourceRecords": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecord"
          },
          "readOnly": true,
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } "
    },
    "ProjectEvent": {
      "id": "ProjectEvent",
      "type": "object",
      "properties": {
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "phase": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ]
        }
      },
      "description": "The request sent to CLHs during project events."
    },
    "CreateVersionMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Beta",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp"
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "properties": {
        "appEngineRelease": {
          "description": "Output only. App Engine release this instance is running on.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
          "type": "string",
          "readOnly": true
        },
        "requests": {
          "description": "Output only. Number of requests since this instance was started.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "vmLiveness": {
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment."
        },
        "vmStatus": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
        },
        "availability": {
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Output only. Availability of the instance.",
          "readOnly": true,
          "type": "string"
        },
        "vmIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment."
        },
        "vmName": {
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Time that this instance was started.@OutputOnly",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "qps": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. Average queries per second (QPS) over the last minute."
        },
        "vmZoneName": {
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
          "type": "string",
          "readOnly": true
        },
        "memoryUsage": {
          "description": "Output only. Total memory in use (bytes).",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "averageLatency": {
          "description": "Output only. Average latency (ms) over the last minute.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "vmDebugEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment."
        },
        "errors": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of errors since this instance was started."
        },
        "vmId": {
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application."
    },
    "CreateVersionMetadataV1Alpha": {
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "AutomaticScaling": {
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "id": "AutomaticScaling",
      "type": "object",
      "properties": {
        "standardSchedulerSettings": {
          "description": "Scheduler settings for standard environment.",
          "$ref": "StandardSchedulerSettings"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "maxConcurrentRequests": {
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "type": "integer",
          "format": "int32"
        },
        "maxIdleInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of idle instances that should be maintained for this version."
        },
        "maxTotalInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of instances that should be started to handle requests for this version."
        },
        "minTotalInstances": {
          "description": "Minimum number of running instances that should be maintained for this version.",
          "type": "integer",
          "format": "int32"
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "minPendingLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
        },
        "coolDownPeriod": {
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment.",
          "format": "google-duration",
          "type": "string"
        },
        "maxPendingLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it."
        },
        "cpuUtilization": {
          "description": "Target scaling by CPU usage.",
          "$ref": "CpuUtilization"
        },
        "minIdleInstances": {
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "type": "integer",
          "format": "int32"
        },
        "customMetrics": {
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        }
      }
    },
    "LivenessCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "id": "LivenessCheck",
      "type": "object",
      "properties": {
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy."
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "initialDelay": {
          "format": "google-duration",
          "type": "string",
          "description": "The initial delay before starting to execute the checks."
        },
        "successThreshold": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of consecutive successful checks required before considering the VM healthy."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time before the check is considered failed."
        }
      }
    },
    "FeatureSettings": {
      "id": "FeatureSettings",
      "type": "object",
      "properties": {
        "useContainerOptimizedOs": {
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
          "type": "boolean"
        },
        "splitHealthChecks": {
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
          "type": "boolean"
        }
      },
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable."
    },
    "FlexibleRuntimeSettings": {
      "id": "FlexibleRuntimeSettings",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "The runtime version of an App Engine flexible application.",
          "type": "string"
        }
      },
      "description": "Runtime settings for the App Engine flexible environment."
    },
    "CloudBuildOptions": {
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "id": "CloudBuildOptions",
      "type": "object",
      "properties": {
        "appYamlPath": {
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details.",
          "type": "string"
        },
        "cloudBuildTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes."
        }
      }
    },
    "SslSettings": {
      "description": "SSL configuration for a DomainMapping resource.",
      "id": "SslSettings",
      "type": "object",
      "properties": {
        "pendingManagedCertificateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "sslManagementType": {
          "enum": [
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enumDescriptions": [
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ],
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "properties": {
        "zones": {
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "servingStatus": {
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "type": "string",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING."
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "vpcAccess": {
          "description": "Enables VPC access connectivity for standard apps.",
          "$ref": "VpcAccess"
        },
        "diskUsageBytes": {
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "healthCheck": {
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.",
          "$ref": "HealthCheck"
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances",
          "$ref": "LivenessCheck"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.",
          "$ref": "ReadinessCheck"
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "name": {
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          }
        },
        "runtimeChannel": {
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel.",
          "type": "string"
        },
        "defaultExpiration": {
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string",
          "format": "google-duration"
        },
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "versionUrl": {
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "endpointsApiService": {
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
          "$ref": "EndpointsApiService"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "deprecated": true,
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set."
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "createTime": {
          "description": "Time that this version was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "appEngineBundledServices": {
          "description": "List of specific App Engine Bundled Services that are enabled for this Version.",
          "type": "array",
          "items": {
            "enum": [
              "BUNDLED_SERVICE_TYPE_UNSPECIFIED",
              "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_BLOBSTORE",
              "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_DATASTORE_V3",
              "BUNDLED_SERVICE_TYPE_DEFERRED",
              "BUNDLED_SERVICE_TYPE_IMAGES",
              "BUNDLED_SERVICE_TYPE_MAIL",
              "BUNDLED_SERVICE_TYPE_MEMCACHE",
              "BUNDLED_SERVICE_TYPE_MODULES",
              "BUNDLED_SERVICE_TYPE_NAMESPACES",
              "BUNDLED_SERVICE_TYPE_NDB",
              "BUNDLED_SERVICE_TYPE_SEARCH",
              "BUNDLED_SERVICE_TYPE_TASKQUEUES",
              "BUNDLED_SERVICE_TYPE_URLFETCH",
              "BUNDLED_SERVICE_TYPE_USERS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Default, invalid value",
              "App Identity Service",
              "Blobstore",
              "Capability Service",
              "Datastore V3",
              "Deferred",
              "Images",
              "Mail",
              "Memcache",
              "Modules",
              "Namespaces",
              "NDB",
              "Search",
              "Task Queues",
              "URL Fetch",
              "Users"
            ]
          }
        },
        "createdBy": {
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "errorHandlers": {
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          },
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
        },
        "network": {
          "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
          "$ref": "Network"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "betaSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "flexibleRuntimeSettings": {
          "description": "Settings for App Engine flexible runtimes.",
          "$ref": "FlexibleRuntimeSettings"
        },
        "runtimeMainExecutablePath": {
          "description": "The path or name of the app's main executable.",
          "type": "string"
        },
        "envVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
        },
        "buildEnvVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        }
      },
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service."
    },
    "ReadinessCheck": {
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "id": "ReadinessCheck",
      "type": "object",
      "properties": {
        "checkInterval": {
          "description": "Interval between health checks.",
          "type": "string",
          "format": "google-duration"
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        },
        "failureThreshold": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of consecutive failed checks required before removing traffic."
        },
        "appStartTimeout": {
          "format": "google-duration",
          "type": "string",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the check is considered failed."
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "AuthorizedCertificate": {
      "id": "AuthorizedCertificate",
      "type": "object",
      "properties": {
        "id": {
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "domainNames": {
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "domainMappingsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "visibleDomainMappings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "OperationMetadataV1": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1",
      "type": "object",
      "properties": {
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        }
      }
    },
    "RequestUtilization": {
      "id": "RequestUtilization",
      "type": "object",
      "properties": {
        "targetConcurrentRequests": {
          "description": "Target number of concurrent requests.",
          "type": "integer",
          "format": "int32"
        },
        "targetRequestCountPerSecond": {
          "description": "Target requests per second.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment."
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The versions belonging to the requested service."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Versions.ListVersions."
    },
    "StandardSchedulerSettings": {
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "type": "object",
      "properties": {
        "maxInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration."
        },
        "minInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration."
        },
        "targetThroughputUtilization": {
          "type": "number",
          "format": "double",
          "description": "Target throughput utilization ratio to maintain when scaling"
        },
        "targetCpuUtilization": {
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "AuthorizedDomain": {
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "id": "AuthorizedDomain",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        }
      }
    },
    "ApiEndpointHandler": {
      "id": "ApiEndpointHandler",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "description": "Uses Google Cloud Endpoints to handle requests."
    },
    "ContainerState": {
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "id": "ContainerState",
      "type": "object",
      "properties": {
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string"
        },
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        }
      }
    },
    "ListAuthorizedCertificatesResponse": {
      "id": "ListAuthorizedCertificatesResponse",
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The SSL certificates the user is authorized to administer.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates."
    },
    "UrlMap": {
      "id": "UrlMap",
      "type": "object",
      "properties": {
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "urlRegex": {
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "redirectHttpResponseCode": {
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ]
        },
        "script": {
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\".",
          "$ref": "ScriptHandler"
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ]
        },
        "login": {
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ]
        },
        "authFailAction": {
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "type": "string"
        }
      },
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript."
    },
    "UrlDispatchRule": {
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "id": "UrlDispatchRule",
      "type": "object",
      "properties": {
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        },
        "domain": {
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\".",
          "type": "string"
        },
        "path": {
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters.",
          "type": "string"
        }
      }
    },
    "BatchUpdateIngressRulesRequest": {
      "id": "BatchUpdateIngressRulesRequest",
      "type": "object",
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set."
        }
      },
      "description": "Request message for Firewall.BatchUpdateIngressRules."
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "searchApiAvailable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "BasicScaling": {
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "id": "BasicScaling",
      "type": "object",
      "properties": {
        "idleTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down."
        },
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances to create for this version."
        }
      }
    },
    "ListInstancesResponse": {
      "description": "Response message for Instances.ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances belonging to the requested version."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "description": "The services belonging to the requested application.",
          "type": "array",
          "items": {
            "$ref": "Service"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Services.ListServices."
    },
    "EndpointsApiService": {
      "id": "EndpointsApiService",
      "type": "object",
      "properties": {
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        },
        "rolloutStrategy": {
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ]
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        }
      },
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview)."
    },
    "ListAuthorizedDomainsResponse": {
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          },
          "description": "The authorized domains belonging to the user."
        }
      }
    },
    "CreateVersionMetadataV1": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ApiConfigHandler": {
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers.",
      "id": "ApiConfigHandler",
      "type": "object",
      "properties": {
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "type": "string",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource. Defaults to optional."
        },
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ]
        },
        "url": {
          "description": "URL to serve the endpoint at.",
          "type": "string"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ]
        },
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      }
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "GoogleAppengineV1betaLocationMetadata",
      "type": "object",
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "id": "ResourceRecord",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ],
          "description": "Resource record type. Example: AAAA."
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "TrafficSplit": {
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "id": "TrafficSplit",
      "type": "object",
      "properties": {
        "shardBy": {
          "type": "string",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        },
        "allocations": {
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          },
          "type": "object"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ScriptHandler": {
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "id": "ScriptHandler",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      }
    },
    "VpcNetworkInterface": {
      "description": "Network interface key message.",
      "id": "VpcNetworkInterface",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The network tags that will be applied to this App Engine resource."
        },
        "network": {
          "description": "Optional. The VPC network that the App Engine resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork. Could be either a short name or a full path. e.g. {VPC_NETWORK} or projects/{HOST_PROJECT_ID}/global/networks/{VPC_NETWORK}",
          "type": "string"
        },
        "subnet": {
          "description": "Optional. The VPC subnetwork that the App Engine resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used. Could be either a short name or a full path. e.g. {SUBNET_NAME} or projects/{HOST_PROJECT_ID}/regions/{REGION}/subnetworks/{SUBNET_NAME}",
          "type": "string"
        }
      }
    },
    "ResourceEvent": {
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "id": "ResourceEvent",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        },
        "eventId": {
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        }
      }
    },
    "HealthCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "id": "HealthCheck",
      "type": "object",
      "properties": {
        "healthyThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful health checks required before receiving traffic."
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "type": "string",
          "format": "google-duration"
        },
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "unhealthyThreshold": {
          "format": "uint32",
          "type": "integer",
          "description": "Number of consecutive failed health checks required before removing traffic."
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "format": "uint32",
          "type": "integer"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        }
      }
    },
    "Application": {
      "id": "Application",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "dispatchRules": {
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "id": {
[...]
