{
  "protocol": "rest",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    }
  },
  "name": "appengine",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "title": "App Engine Admin API",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "apps": {
      "resources": {
        "authorizedCertificates": {
          "methods": {
            "get": {
              "parameters": {
                "authorizedCertificatesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response.",
                  "location": "query",
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.get"
            },
            "create": {
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Uploads the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.create",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "id": "appengine.apps.authorizedCertificates.patch",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              }
            },
            "list": {
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "parameters": {
                "view": {
                  "type": "string",
                  "description": "Controls the set of fields returned in the LIST response.",
                  "location": "query",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1alpha/apps/{appsId}/locations",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/apps/{appsId}/locations",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "locationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about a location.",
              "id": "appengine.apps.locations.get",
              "path": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ]
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "path": "v1alpha/apps/{appsId}/authorizedDomains",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/authorizedDomains",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists all domains the user is authorized to administer.",
              "id": "appengine.apps.authorizedDomains.list",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1alpha/apps/{appsId}/operations",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/apps/{appsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "id": "appengine.apps.operations.list"
            },
            "get": {
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "operationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "id": "appengine.apps.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "httpMethod": "GET"
            }
          }
        },
        "domainMappings": {
          "methods": {
            "list": {
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.domainMappings.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists the domain mappings on an application.",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "ListDomainMappingsResponse"
              }
            },
            "delete": {
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "DELETE",
              "id": "appengine.apps.domainMappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "id": "appengine.apps.domainMappings.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the specified domain mapping.",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "GET",
              "parameters": {
                "domainMappingsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "DomainMapping"
              }
            },
            "create": {
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                  "location": "query",
                  "type": "boolean"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                },
                "overrideStrategy": {
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "type": "string",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "id": "appengine.apps.domainMappings.create",
              "request": {
                "$ref": "DomainMapping"
              },
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ]
            },
            "patch": {
              "parameters": {
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                  "location": "query",
                  "type": "boolean"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "request": {
                "$ref": "DomainMapping"
              },
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "PATCH",
              "id": "appengine.apps.domainMappings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource."
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "projectsId": {
                      "type": "string",
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "id": "appengine.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                },
                "get": {
                  "parameters": {
                    "operationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "id": "appengine.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "applications": {
              "resources": {
                "domainMappings": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists the domain mappings on an application.",
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      }
                    },
                    "delete": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "domainMappingsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets the specified domain mapping.",
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "domainMappingsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "DomainMapping"
                      }
                    },
                    "create": {
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "parameters": {
                        "overrideStrategy": {
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "location": "query",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "location": "query",
                          "type": "string"
                        },
                        "noManagedCertificate": {
                          "type": "boolean",
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                          "location": "query"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "httpMethod": "PATCH",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}"
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists all domains the user is authorized to administer.",
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ]
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "get": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets the specified SSL certificate.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "parameters": {
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "view": {
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "type": "string",
                          "description": "Controls the set of fields returned in the GET response.",
                          "location": "query"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      }
                    },
                    "create": {
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Uploads the specified SSL certificate.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create"
                    },
                    "patch": {
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      }
                    },
                    "list": {
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "parameters": {
                        "view": {
                          "description": "Controls the set of fields returned in the LIST response.",
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ]
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      }
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified SSL certificate.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "httpMethod": "DELETE",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "response": {
                        "$ref": "Empty"
                      },
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "appengine.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1alpha/projects/{projectsId}/locations",
              "parameterOrder": [
                "projectsId"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "projectsId": {
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets information about a location.",
              "id": "appengine.projects.locations.get",
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "path": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "projectsId": {
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "required": true
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260801",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://appengine.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "schemas": {
    "GoogleAppengineV1betaLocationMetadata": {
      "properties": {
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean",
          "readOnly": true
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "id": "GoogleAppengineV1betaLocationMetadata",
      "type": "object",
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "ProjectEvent": {
      "properties": {
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "projectMetadata": {
          "$ref": "ProjectsMetadata",
          "description": "The projects metadata for this project. required"
        },
        "phase": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "type": "string",
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
        }
      },
      "description": "The request sent to CLHs during project events.",
      "id": "ProjectEvent",
      "type": "object"
    },
    "LocationMetadata": {
      "properties": {
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean",
          "readOnly": true
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "LocationMetadata",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {}
    },
    "ResourceRecord": {
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        },
        "type": {
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ],
          "type": "string",
          "description": "Resource record type. Example: AAAA."
        }
      },
      "description": "A DNS resource record.",
      "id": "ResourceRecord",
      "type": "object"
    },
    "CreateVersionMetadataV1Alpha": {
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object"
    },
    "SslSettings": {
      "properties": {
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify no_managed_certificate on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "isManagedCertificate": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the mapped certificate is an App Engine managed certificate. Managed certificates are created by default with a domain mapping. To opt out, specify no_managed_certificate on a CREATE or UPDATE request.@OutputOnly"
        }
      },
      "description": "SSL configuration for a DomainMapping resource.",
      "id": "SslSettings",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "CertificateRawData": {
      "id": "CertificateRawData",
      "type": "object",
      "description": "An SSL certificate obtained from a certificate authority.",
      "properties": {
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
        },
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "properties": {
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1Alpha",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "CreateVersionMetadataV1": {
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "ResourceEvent": {
      "id": "ResourceEvent",
      "type": "object",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the resource for which this event is. required"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
        },
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "GceTag": {
      "id": "GceTag",
      "type": "object",
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "properties": {
        "parent": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
        },
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "properties": {
        "domainMappings": {
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          },
          "description": "The domain mappings for the application."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "id": "ListDomainMappingsResponse",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      }
    },
    "OperationMetadataV1": {
      "properties": {
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1",
      "type": "object"
    },
    "ProjectsMetadata": {
      "properties": {
        "producerProjectId": {
          "type": "string",
          "description": "The producer project id."
        },
        "consumerProjectState": {
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "The tenant project number.",
          "format": "int64"
        },
        "producerProjectNumber": {
          "type": "string",
          "description": "The producer project number.",
          "format": "int64"
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "The consumer project number.",
          "format": "int64"
        },
        "gceTag": {
          "type": "array",
          "items": {
            "$ref": "GceTag"
          },
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE."
        },
        "isGceProjectDeprovisioning": {
          "deprecated": true,
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "type": "boolean"
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "consumerProjectId": {
          "type": "string",
          "description": "The consumer project id."
        }
      },
      "id": "ProjectsMetadata",
      "type": "object",
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer)."
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "domains": {
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          },
          "description": "The authorized domains belonging to the user."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "ManagedCertificate": {
      "properties": {
        "lastRenewalTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        },
        "status": {
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to a system failure and will be retried. System failure is likely transient, and subsequent renewal attempts may succeed. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted. Most recent renewal failed due to an invalid DNS setup and will not be retried. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "enum": [
            "UNSPECIFIED_STATUS",
            "OK",
            "PENDING",
            "FAILED_RETRYING_INTERNAL",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENTLY_NOT_VISIBLE",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "type": "string"
        }
      },
      "id": "ManagedCertificate",
      "type": "object",
      "description": "A certificate managed by App Engine."
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "OperationMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Beta",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        }
      }
    },
    "ListAuthorizedCertificatesResponse": {
      "properties": {
        "certificates": {
[...]
