{
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version": "v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "revision": "20260914",
  "schemas": {
    "DomainMapping": {
      "id": "DomainMapping",
      "type": "object",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "resourceRecords": {
          "type": "array",
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "readOnly": true,
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "name": {
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        }
      }
    },
    "CertificateRawData": {
      "id": "CertificateRawData",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
        },
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
        }
      },
      "type": "object",
      "description": "An SSL certificate obtained from a certificate authority."
    },
    "ContainerInfo": {
      "id": "ContainerInfo",
      "type": "object",
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "properties": {
        "image": {
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
          "type": "string"
        }
      }
    },
    "ProjectEvent": {
      "type": "object",
      "properties": {
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "phase": {
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        }
      },
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events."
    },
    "Runtime": {
      "properties": {
        "decommissionedDate": {
          "$ref": "Date",
          "description": "Date when Runtime is decommissioned."
        },
        "name": {
          "description": "The name of the runtime, e.g., 'go113', 'nodejs12', etc.",
          "type": "string"
        },
        "stage": {
          "description": "The stage of life this runtime is in, e.g., BETA, GA, etc.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The runtime is in development.",
            "The runtime is in the Alpha stage.",
            "The runtime is in the Beta stage.",
            "The runtime is generally available.",
            "The runtime is deprecated.",
            "The runtime is no longer supported.",
            "The runtime is end of support."
          ],
          "enum": [
            "RUNTIME_STAGE_UNSPECIFIED",
            "DEVELOPMENT",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DECOMMISSIONED",
            "END_OF_SUPPORT"
          ]
        },
        "warnings": {
          "description": "Warning messages, e.g., a deprecation warning.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "User-friendly display name, e.g. 'Node.js 12', etc.",
          "type": "string"
        },
        "endOfSupportDate": {
          "$ref": "Date",
          "description": "Date when Runtime is end of support."
        },
        "deprecationDate": {
          "$ref": "Date",
          "description": "Date when Runtime is deprecated."
        },
        "supportedOperatingSystems": {
          "description": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "environment": {
          "enumDescriptions": [
            "Default value.",
            "App Engine Standard.",
            "App Engine Flexible"
          ],
          "type": "string",
          "description": "The environment of the runtime.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ]
        }
      },
      "type": "object",
      "id": "Runtime",
      "description": "Runtime versions for App Engine."
    },
    "BatchUpdateIngressRulesRequest": {
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set."
        }
      },
      "id": "BatchUpdateIngressRulesRequest",
      "type": "object",
      "description": "Request message for Firewall.BatchUpdateIngressRules."
    },
    "BatchUpdateIngressRulesResponse": {
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The full list of ingress FirewallRules for this application.",
          "type": "array"
        }
      },
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "type": "object",
      "id": "BatchUpdateIngressRulesResponse"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Reasons": {
      "id": "Reasons",
      "properties": {
        "abuse": {
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ]
        },
        "dataGovernance": {
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ],
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ]
        },
        "serviceActivation": {
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "type": "string",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ],
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ]
        },
        "billing": {
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ],
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ]
        },
        "serviceManagement": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ],
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "type": "string",
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ]
        }
      },
      "type": "object",
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)"
    },
    "BuildInfo": {
      "properties": {
        "cloudBuildId": {
          "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BuildInfo",
      "description": "Google Cloud Build information."
    },
    "ListInstancesResponse": {
      "type": "object",
      "id": "ListInstancesResponse",
      "description": "Response message for Instances.ListInstances.",
      "properties": {
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "type": "array",
          "description": "The instances belonging to the requested version."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Resources": {
      "id": "Resources",
      "description": "Machine resources for a version.",
      "type": "object",
      "properties": {
        "volumes": {
          "items": {
            "$ref": "Volume"
          },
          "type": "array",
          "description": "User specified volumes."
        },
        "cpu": {
          "description": "Number of CPU cores needed.",
          "type": "number",
          "format": "double"
        },
        "memoryGb": {
          "type": "number",
          "format": "double",
          "description": "Memory (GB) needed."
        },
        "diskGb": {
          "format": "double",
          "description": "Disk size (GB) needed.",
          "type": "number"
        },
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "properties": {
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "CreateVersionMetadataV1Alpha": {
      "id": "CreateVersionMetadataV1Alpha",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "OperationMetadataV1": {
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1",
      "type": "object"
    },
    "Entrypoint": {
      "description": "The entrypoint for the application.",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      },
      "id": "Entrypoint",
      "type": "object"
    },
    "FeatureSettings": {
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
      "properties": {
        "useContainerOptimizedOs": {
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
          "type": "boolean"
        },
        "splitHealthChecks": {
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
          "type": "boolean"
        }
      },
      "id": "FeatureSettings",
      "type": "object"
    },
    "ListIngressRulesResponse": {
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The ingress FirewallRules for this application.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for Firewall.ListIngressRules.",
      "id": "ListIngressRulesResponse",
      "type": "object"
    },
    "AuthorizedCertificate": {
      "properties": {
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        },
        "domainMappingsCount": {
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "integer",
          "format": "int32"
        },
        "managedCertificate": {
          "$ref": "ManagedCertificate",
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "type": "string"
        },
        "certificateRawData": {
          "$ref": "CertificateRawData",
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority."
        },
        "displayName": {
          "type": "string",
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate."
        },
        "visibleDomainMappings": {
          "type": "array",
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "domainNames": {
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AuthorizedCertificate",
      "type": "object",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
      "id": "Date",
      "type": "object",
      "properties": {
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "domains": {
          "items": {
            "$ref": "AuthorizedDomain"
          },
          "type": "array",
          "description": "The authorized domains belonging to the user."
        }
      }
    },
    "IdentityAwareProxy": {
      "id": "IdentityAwareProxy",
      "description": "Identity-Aware Proxy",
      "type": "object",
      "properties": {
        "oauth2ClientSecretSha256": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly"
        },
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty."
        },
        "oauth2ClientSecret": {
          "type": "string",
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly"
        }
      }
    },
    "LivenessCheck": {
      "type": "object",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time before the check is considered failed."
        },
        "checkInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between health checks."
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "successThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful checks required before considering the VM healthy."
        },
        "initialDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The initial delay before starting to execute the checks."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "failureThreshold": {
          "type": "integer",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "format": "uint32"
        }
      },
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "id": "LivenessCheck"
    },
    "DiskUtilization": {
      "id": "DiskUtilization",
      "type": "object",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetReadOpsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target ops read per seconds."
        },
        "targetReadBytesPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target bytes read per second."
        },
        "targetWriteOpsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target ops written per second."
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        }
      }
    },
    "ContainerState": {
      "id": "ContainerState",
      "type": "object",
      "properties": {
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ]
        },
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        }
      },
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state."
    },
    "CustomMetric": {
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The name of the metric.",
          "type": "string"
        },
        "targetType": {
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc.",
          "type": "string"
        },
        "targetUtilization": {
          "type": "number",
          "format": "double",
          "description": "The target value for the metric."
        },
        "singleInstanceAssignment": {
          "type": "number",
          "format": "double",
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment."
        },
        "filter": {
          "description": "Allows filtering on the metric's fields.",
          "type": "string"
        }
      },
      "id": "CustomMetric",
      "description": "Allows autoscaling based on Stackdriver metrics."
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "properties": {
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "GceTag": {
      "type": "object",
      "id": "GceTag",
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "properties": {
        "parent": {
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tag": {
          "type": "string",
          "description": "The administrative_tag name."
        }
      }
    },
    "CreateVersionMetadataV1": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "id": "CreateVersionMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "Service": {
      "properties": {
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly"
        },
        "split": {
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
          "$ref": "TrafficSplit"
        },
        "generatedCustomerMetadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest",
          "type": "object"
        }
      },
      "id": "Service",
      "type": "object",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service."
    },
    "VpcAccessConnector": {
      "id": "VpcAccessConnector",
      "properties": {
        "egressSetting": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ],
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "description": "The egress setting for the connector, controlling what traffic is diverted through it."
        },
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VPC access connector specification."
    },
    "SslSettings": {
      "type": "object",
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "certificateId": {
          "type": "string",
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
        },
        "pendingManagedCertificateId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
        },
        "sslManagementType": {
          "type": "string",
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enum": [
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ]
        }
      },
      "id": "SslSettings"
    },
    "UrlMap": {
      "id": "UrlMap",
      "properties": {
        "script": {
          "$ref": "ScriptHandler",
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
        },
        "apiEndpoint": {
          "$ref": "ApiEndpointHandler",
          "description": "Uses API Endpoints to handle requests."
        },
        "login": {
          "type": "string",
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ]
        },
        "authFailAction": {
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "type": "string"
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "urlRegex": {
          "type": "string",
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
        },
        "redirectHttpResponseCode": {
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "type": "string",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ]
        },
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL."
        }
      },
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "type": "object"
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location.",
      "type": "object",
      "id": "GoogleAppengineV1betaLocationMetadata"
    },
    "CpuUtilization": {
      "description": "Target scaling by CPU usage.",
      "type": "object",
      "id": "CpuUtilization",
      "properties": {
        "aggregationWindowLength": {
          "type": "string",
          "format": "google-duration",
          "description": "Period of time over which CPU utilization is calculated."
        },
        "targetUtilization": {
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1.",
          "type": "number"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        }
      },
      "id": "Operation"
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'."
        },
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceRecord"
    },
    "EndpointsApiService": {
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "properties": {
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "rolloutStrategy": {
          "type": "string",
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ]
        },
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        }
      },
      "id": "EndpointsApiService",
      "type": "object"
    },
    "CreateVersionMetadataV1Beta": {
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateVersionMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest."
    },
    "AutomaticScaling": {
      "type": "object",
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "properties": {
        "minPendingLatency": {
          "format": "google-duration",
          "type": "string",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
        },
        "maxPendingLatency": {
          "type": "string",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration"
        },
        "maxConcurrentRequests": {
          "type": "integer",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "format": "int32"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "maxTotalInstances": {
          "format": "int32",
          "description": "Maximum number of instances that should be started to handle requests for this version.",
          "type": "integer"
        },
        "maxIdleInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of idle instances that should be maintained for this version."
        },
        "requestUtilization": {
          "$ref": "RequestUtilization",
          "description": "Target scaling by request utilization."
        },
        "customMetrics": {
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "coolDownPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
        },
        "minIdleInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service."
        },
        "minTotalInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of running instances that should be maintained for this version."
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "standardSchedulerSettings": {
          "$ref": "StandardSchedulerSettings",
          "description": "Scheduler settings for standard environment."
        }
      }
    },
    "StandardSchedulerSettings": {
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "type": "object",
      "properties": {
        "minInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration."
        },
        "maxInstances": {
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration.",
          "type": "integer",
          "format": "int32"
        },
        "targetThroughputUtilization": {
          "description": "Target throughput utilization ratio to maintain when scaling",
          "type": "number",
          "format": "double"
        },
        "targetCpuUtilization": {
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "DebugInstanceRequest": {
      "description": "Request message for Instances.DebugInstance.",
      "properties": {
        "sshKey": {
          "type": "string",
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)."
        }
      },
      "type": "object",
      "id": "DebugInstanceRequest"
    },
    "ResourceEvent": {
      "id": "ResourceEvent",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "properties": {
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlexibleRuntimeSettings": {
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        },
        "runtimeVersion": {
          "type": "string",
          "description": "The runtime version of an App Engine flexible application."
        }
      },
      "description": "Runtime settings for the App Engine flexible environment.",
      "id": "FlexibleRuntimeSettings"
    },
    "OperationMetadataV1Beta": {
      "type": "object",
      "id": "OperationMetadataV1Beta",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "properties": {
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "deprecated": true,
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set."
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "zones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "id": {
          "type": "string",
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Time that this version was created.@OutputOnly",
          "format": "google-datetime"
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
        },
        "defaultExpiration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "vpcAccess": {
          "$ref": "VpcAccess",
          "description": "Enables VPC access connectivity for standard apps."
        },
        "name": {
          "type": "string",
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "readOnly": true
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "runtimeChannel": {
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel.",
          "type": "string"
        },
        "diskUsageBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly"
        },
        "versionUrl": {
          "type": "string",
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "readOnly": true
        },
        "runtimeApiVersion": {
          "type": "string",
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref"
        },
        "threadsafe": {
          "type": "boolean",
          "description": "Whether multiple requests can be dispatched to this version at once."
        },
        "livenessCheck": {
          "$ref": "LivenessCheck",
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances"
        },
        "envVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
        },
        "vm": {
          "type": "boolean",
          "description": "Whether to deploy this version in a container on a virtual machine."
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.",
          "$ref": "ReadinessCheck"
        },
        "runtimeMainExecutablePath": {
          "description": "The path or name of the app's main executable.",
          "type": "string"
        },
        "endpointsApiService": {
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
          "$ref": "EndpointsApiService"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "servingStatus": {
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "type": "string",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ]
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "env": {
          "type": "string",
          "description": "App Engine execution environment for this version.Defaults to standard."
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "type": "object"
        },
        "buildEnvVariables": {
          "type": "object",
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inboundServices": {
          "type": "array",
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "type": "string"
          }
        },
        "nobuildFilesRegex": {
          "type": "string",
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "libraries": {
          "items": {
            "$ref": "Library"
          },
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array"
        },
        "flexibleRuntimeSettings": {
          "$ref": "FlexibleRuntimeSettings",
          "description": "Settings for App Engine flexible runtimes."
        },
        "errorHandlers": {
          "type": "array",
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "ErrorHandler"
          }
        },
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "appEngineApis": {
          "type": "boolean",
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services."
        },
        "appEngineBundledServices": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default, invalid value",
              "App Identity Service",
              "Blobstore",
              "Capability Service",
              "Datastore V3",
              "Deferred",
              "Images",
              "Mail",
              "Memcache",
              "Modules",
              "Namespaces",
              "NDB",
              "Search",
              "Task Queues",
              "URL Fetch",
              "Users"
            ],
            "enum": [
              "BUNDLED_SERVICE_TYPE_UNSPECIFIED",
              "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_BLOBSTORE",
              "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_DATASTORE_V3",
              "BUNDLED_SERVICE_TYPE_DEFERRED",
              "BUNDLED_SERVICE_TYPE_IMAGES",
              "BUNDLED_SERVICE_TYPE_MAIL",
              "BUNDLED_SERVICE_TYPE_MEMCACHE",
              "BUNDLED_SERVICE_TYPE_MODULES",
              "BUNDLED_SERVICE_TYPE_NAMESPACES",
              "BUNDLED_SERVICE_TYPE_NDB",
              "BUNDLED_SERVICE_TYPE_SEARCH",
              "BUNDLED_SERVICE_TYPE_TASKQUEUES",
              "BUNDLED_SERVICE_TYPE_URLFETCH",
              "BUNDLED_SERVICE_TYPE_USERS"
            ]
          },
          "type": "array",
          "description": "List of specific App Engine Bundled Services that are enabled for this Version."
        },
        "entrypoint": {
          "$ref": "Entrypoint",
          "description": "The entrypoint for the application."
        }
      }
    },
    "VpcNetworkInterface": {
      "type": "object",
      "description": "Network interface key message.",
      "properties": {
        "network": {
          "description": "Optional. The VPC network that the App Engine resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork. Could be either a short name or a full path. e.g. {VPC_NETWORK} or projects/{HOST_PROJECT_ID}/global/networks/{VPC_NETWORK}",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The network tags that will be applied to this App Engine resource."
        },
        "subnet": {
          "description": "Optional. The VPC subnetwork that the App Engine resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used. Could be either a short name or a full path. e.g. {SUBNET_NAME} or projects/{HOST_PROJECT_ID}/regions/{REGION}/subnetworks/{SUBNET_NAME}",
          "type": "string"
        }
      },
      "id": "VpcNetworkInterface"
    },
    "StaticFilesHandler": {
      "properties": {
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "expiration": {
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string"
        },
        "httpHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "HTTP headers to use for all responses from these URLs."
        },
        "applicationReadable": {
          "type": "boolean",
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them."
    },
    "ZipInfo": {
      "properties": {
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "filesCount": {
          "type": "integer",
          "format": "int32",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        }
      },
      "id": "ZipInfo",
      "type": "object",
      "description": "The zip file information for a zip deployment."
    },
    "VpcAccess": {
      "properties": {
        "networkInterfaces": {
          "items": {
            "$ref": "VpcNetworkInterface"
          },
          "description": "The Direct VPC configuration. Currently only single network interface is supported.",
          "type": "array"
        },
        "vpcEgress": {
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "type": "string",
          "description": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it.",
          "enumDescriptions": [
            "No value set; apply default behavior",
            "Force all traffic to egress through the NetworkInterface (and configured VPC Network)",
            "Force all Private IP Space traffic to egress through NetworkInterface (and configured VPC Network)"
          ]
        }
      },
      "id": "VpcAccess",
      "type": "object",
      "description": "VPC Access settings"
    },
    "Network": {
      "properties": {
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        },
        "forwardedPorts": {
          "items": {
            "type": "string"
          },
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "type": "array"
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "instanceIpMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ],
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ]
        },
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        }
      },
      "id": "Network",
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "type": "object"
    },
    "ListAuthorizedCertificatesResponse": {
      "id": "ListAuthorizedCertificatesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "certificates": {
          "description": "The SSL certificates the user is authorized to administer.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          }
        }
      },
      "type": "object",
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates."
    },
    "CloudBuildOptions": {
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "properties": {
        "cloudBuildTimeout": {
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
          "format": "google-duration",
          "type": "string"
        },
        "appYamlPath": {
          "type": "string",
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details."
        }
      },
      "type": "object",
      "id": "CloudBuildOptions"
    },
    "ListRuntimesResponse": {
      "type": "object",
      "properties": {
        "runtimes": {
          "items": {
            "$ref": "Runtime"
          },
          "description": "The runtimes available to the requested application.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Applications.ListRuntimes.",
      "id": "ListRuntimesResponse"
    },
    "ExportAppImageRequest": {
      "description": "Request message for Versions.ExportAppImage.",
      "id": "ExportAppImageRequest",
      "type": "object",
      "properties": {
        "destinationRepository": {
          "type": "string",
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
        }
      }
    },
    "NetworkUtilization": {
      "id": "NetworkUtilization",
      "type": "object",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetSentBytesPerSecond": {
          "description": "Target bytes sent per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetSentPacketsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target packets sent per second."
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedPacketsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target packets received per second."
        }
      }
    },
    "RepairApplicationRequest": {
      "id": "RepairApplicationRequest",
      "description": "Request message for 'Applications.RepairApplication'.",
      "type": "object",
      "properties": {}
    },
    "TrafficSplit": {
      "id": "TrafficSplit",
      "type": "object",
      "properties": {
        "allocations": {
          "type": "object",
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "format": "double",
            "type": "number"
          }
        },
        "shardBy": {
          "type": "string",
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        }
      },
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions."
    },
    "ManagedCertificate": {
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "type": "string",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ]
        },
        "lastRenewalTime": {
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine."
    },
    "NetworkSettings": {
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "id": "NetworkSettings",
      "type": "object",
      "properties": {
        "ingressTrafficAllowed": {
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ],
          "description": "The ingress settings for version or service."
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "type": "object",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "properties": {
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\""
        },
        "unhealthyThreshold": {
          "type": "integer",
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "format": "uint32"
        },
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        },
        "restartThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "type": "integer"
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "type": "string",
          "format": "google-duration"
        },
        "disableHealthCheck": {
          "type": "boolean",
          "description": "Whether to explicitly disable health checks for this instance."
        }
      }
    },
    "ScriptHandler": {
      "type": "object",
      "id": "ScriptHandler",
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      }
    },
    "BasicScaling": {
      "properties": {
        "maxInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of instances to create for this version."
        },
        "idleTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down."
        }
      },
      "type": "object",
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "id": "BasicScaling"
    },
    "FileInfo": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage."
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "id": "FileInfo",
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately."
    },
    "FirewallRule": {
      "type": "object",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
      "id": "FirewallRule",
      "properties": {
        "description": {
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters.",
          "type": "string"
        },
        "action": {
[...]
