{
  "id": "appengine:v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "ownerName": "Google",
  "revision": "20260919",
  "basePath": "",
  "title": "App Engine Admin API",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "baseUrl": "https://appengine.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://appengine.googleapis.com/",
  "name": "appengine",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Provisions and manages developers' App Engine applications.",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                },
                "projectsId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "projectsId"
              ],
              "id": "appengine.projects.locations.list"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameters": {
                "locationsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. See documentation of `projectsId`."
                },
                "projectsId": {
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. Resource name for the location.",
                  "type": "string"
                }
              },
              "id": "appengine.projects.locations.get",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "description": "Gets information about a location."
            }
          },
          "resources": {
            "applications": {
              "methods": {
                "patch": {
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "httpMethod": "PATCH",
                  "id": "appengine.projects.locations.applications.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ],
                  "request": {
                    "$ref": "Application"
                  },
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "locationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "required": true
                    },
                    "projectsId": {
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "applicationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "services": {
                  "resources": {
                    "versions": {
                      "resources": {
                        "instances": {
                          "methods": {
                            "debug": {
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "httpMethod": "POST",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                              "request": {
                                "$ref": "DebugInstanceRequest"
                              },
                              "response": {
                                "$ref": "Operation"
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "instancesId": {
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "type": "string"
                                },
                                "locationsId": {
                                  "required": true,
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "projectsId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "location": "path"
                                },
                                "applicationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "servicesId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path"
                                },
                                "versionsId": {
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "id": "appengine.projects.locations.applications.services.versions.instances.debug"
                            },
                            "delete": {
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "servicesId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "versionsId": {
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "type": "string"
                                },
                                "instancesId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "applicationsId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "locationsId": {
                                  "type": "string",
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "projectsId": {
                                  "location": "path",
                                  "type": "string",
                                  "required": true,
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                                }
                              },
                              "response": {
                                "$ref": "Operation"
                              },
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "id": "appengine.projects.locations.applications.services.versions.instances.delete",
                              "httpMethod": "DELETE"
                            }
                          }
                        }
                      },
                      "methods": {
                        "exportAppImage": {
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "id": "appengine.projects.locations.applications.services.versions.exportAppImage",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "ExportAppImageRequest"
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "description": "Exports a user image to Artifact Registry.",
                          "parameters": {
                            "servicesId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "versionsId": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "applicationsId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            },
                            "locationsId": {
                              "required": true,
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string"
                            },
                            "projectsId": {
                              "type": "string",
                              "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "PATCH",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "id": "appengine.projects.locations.applications.services.versions.patch",
                          "parameters": {
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Standard field mask for the set of fields to be updated.",
                              "type": "string",
                              "location": "query",
                              "format": "google-fieldmask"
                            },
                            "servicesId": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "projectsId": {
                              "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "locationsId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "applicationsId": {
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            }
                          },
                          "request": {
                            "$ref": "Version"
                          }
                        },
                        "delete": {
                          "description": "Deletes an existing Version resource.",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "httpMethod": "DELETE",
                          "id": "appengine.projects.locations.applications.services.versions.delete",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "parameters": {
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "servicesId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectsId": {
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "locationsId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "applicationsId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameters": {
                        "migrateTraffic": {
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                          "type": "boolean",
                          "location": "query"
                        },
                        "applicationsId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "servicesId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Standard field mask for the set of fields to be updated."
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "appengine.projects.locations.applications.services.patch",
                      "httpMethod": "PATCH",
                      "description": "Updates the configuration of the specified service.",
                      "request": {
                        "$ref": "Service"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}"
                    },
                    "delete": {
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "servicesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path"
                        },
                        "locationsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "id": "appengine.projects.locations.applications.services.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified service and all enclosed versions.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ]
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "httpMethod": "GET",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        }
                      },
                      "description": "Lists all domains the user is authorized to administer.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ]
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "delete": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes the specified SSL certificate.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "authorizedCertificatesId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "authorizedCertificatesId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "view": {
                          "type": "string",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "description": "Controls the set of fields returned in the GET response.",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query"
                        }
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets the specified SSL certificate.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}"
                    },
                    "list": {
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "view": {
                          "description": "Controls the set of fields returned in the LIST response.",
                          "type": "string",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ]
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true
                        },
                        "applicationsId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Uploads the specified SSL certificate.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create"
                    },
                    "patch": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "format": "google-fieldmask"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "authorizedCertificatesId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345."
                        }
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "httpMethod": "PATCH",
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch"
                    }
                  }
                },
                "domainMappings": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "parameters": {
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Standard field mask for the set of fields to be updated."
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com."
                        }
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ]
                    },
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists the domain mappings on an application.",
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "applicationsId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "projectsId": {
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                        }
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "description": "Gets the specified domain mapping.",
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "domainMappingsId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "overrideStrategy": {
                          "location": "query",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "appengine.projects.locations.operations.get",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "operationsId": {
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path"
                    },
                    "projectsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. The name of the operation resource."
                    },
                    "locationsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    }
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "httpMethod": "GET",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "id": "appengine.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "locationsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "projectsId": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. The name of the operation's parent resource."
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/apps",
          "flatPath": "v1beta/apps",
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "request": {
            "$ref": "Application"
          },
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "appengine.apps.create"
        },
        "repair": {
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "parameterOrder": [
            "appsId"
          ],
          "path": "v1beta/apps/{appsId}:repair",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "id": "appengine.apps.repair",
          "response": {
            "$ref": "Operation"
          },
          "flatPath": "v1beta/apps/{appsId}:repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "parameters": {
            "appsId": {
              "type": "string",
              "location": "path",
              "description": "Part of `name`. Required. Name of the application to repair. Example: apps/myapp",
              "required": true
            }
          }
        },
        "listRuntimes": {
          "path": "v1beta/apps/{appsId}:listRuntimes",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "parameters": {
            "environment": {
              "location": "query",
              "type": "string",
              "description": "Optional. The environment of the Application.",
              "enum": [
                "ENVIRONMENT_UNSPECIFIED",
                "STANDARD",
                "FLEXIBLE"
              ],
              "enumDescriptions": [
                "Default value.",
                "App Engine Standard.",
                "App Engine Flexible"
              ]
            },
            "appsId": {
              "type": "string",
              "location": "path",
              "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
              "required": true
            }
          },
          "description": "Lists all the available runtimes for the application.",
          "id": "appengine.apps.listRuntimes",
          "flatPath": "v1beta/apps/{appsId}:listRuntimes",
          "response": {
            "$ref": "ListRuntimesResponse"
          },
          "parameterOrder": [
            "appsId"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.get",
          "response": {
            "$ref": "Application"
          },
          "parameters": {
            "includeExtraData": {
              "description": "Optional. Options to include extra data",
              "location": "query",
              "enumDescriptions": [
                "Unspecified: No extra data will be returned",
                "Do not return any extra data",
                "Return GGCM associated with the resources"
              ],
              "type": "string",
              "enum": [
                "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                "INCLUDE_EXTRA_DATA_NONE",
                "INCLUDE_GOOGLE_GENERATED_METADATA"
              ]
            },
            "appsId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Part of `name`. Required. Name of the Application resource to get. Example: apps/myapp."
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "description": "Gets information about an application.",
          "parameterOrder": [
            "appsId"
          ]
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "v1beta/apps/{appsId}",
          "id": "appengine.apps.patch",
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Application"
          },
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Standard field mask for the set of fields to be updated.",
              "location": "query"
            },
            "appsId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp."
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "response": {
            "$ref": "Operation"
          }
        }
      },
      "resources": {
        "services": {
          "methods": {
            "list": {
              "flatPath": "v1beta/apps/{appsId}/services",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Lists all the services in the application.",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "path": "v1beta/apps/{appsId}/services",
              "parameters": {
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.services.list"
            },
            "get": {
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the current configuration of the specified service.",
              "response": {
                "$ref": "Service"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "id": "appengine.apps.services.get",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                },
                "includeExtraData": {
                  "enum": [
                    "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                    "INCLUDE_EXTRA_DATA_NONE",
                    "INCLUDE_GOOGLE_GENERATED_METADATA"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified: No extra data will be returned",
                    "Do not return any extra data",
                    "Return GGCM associated with the resources"
                  ],
                  "description": "Optional. Options to include extra data",
                  "location": "query"
                },
                "servicesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}"
            },
            "patch": {
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "request": {
                "$ref": "Service"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "migrateTraffic": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic)."
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. Standard field mask for the set of fields to be updated."
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.patch",
              "response": {
                "$ref": "Operation"
              },
              "description": "Updates the configuration of the specified service.",
              "httpMethod": "PATCH",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ]
            },
            "delete": {
              "id": "appengine.apps.services.delete",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "description": "Deletes the specified service and all enclosed versions.",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "location": "path",
                  "required": true
                },
                "servicesId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}"
            }
          },
          "resources": {
            "versions": {
              "resources": {
                "instances": {
                  "methods": {
                    "debug": {
                      "httpMethod": "POST",
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "versionsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true
                        },
                        "servicesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "appsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "appengine.apps.services.versions.instances.debug"
                    },
                    "get": {
                      "description": "Gets instance information.",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Instance"
                      },
                      "parameters": {
                        "appsId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                        },
                        "servicesId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string"
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "versionsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "id": "appengine.apps.services.versions.instances.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "delete": {
                      "id": "appengine.apps.services.versions.instances.delete",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameters": {
                        "servicesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `appsId`."
                        },
                        "appsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "location": "path"
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "id": "appengine.apps.services.versions.instances.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "parameters": {
                        "versionsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "location": "path",
                          "required": true
                        },
                        "servicesId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1."
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "request": {
[...]
