{
  "id": "appengine:v1beta",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "servicePath": "",
  "rootUrl": "https://appengine.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "NetworkUtilization": {
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetSentPacketsPerSecond": {
          "description": "Target packets sent per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReceivedPacketsPerSecond": {
          "format": "int32",
          "type": "integer",
          "description": "Target packets received per second."
        },
        "targetSentBytesPerSecond": {
          "description": "Target bytes sent per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Network": {
      "properties": {
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "instanceIpMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ],
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ]
        },
        "name": {
          "type": "string",
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default."
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        },
        "forwardedPorts": {
          "type": "array",
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
      "id": "Network",
      "type": "object"
    },
    "RequestUtilization": {
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "properties": {
        "targetRequestCountPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target requests per second."
        },
        "targetConcurrentRequests": {
          "format": "int32",
          "type": "integer",
          "description": "Target number of concurrent requests."
        }
      },
      "id": "RequestUtilization"
    },
    "ListInstancesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances belonging to the requested version."
        }
      },
      "description": "Response message for Instances.ListInstances.",
      "id": "ListInstancesResponse"
    },
    "ProjectsMetadata": {
      "properties": {
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "items": {
            "$ref": "GceTag"
          },
          "type": "array"
        },
        "producerProjectNumber": {
          "description": "The producer project number.",
          "format": "int64",
          "type": "string"
        },
        "consumerProjectNumber": {
          "format": "int64",
          "type": "string",
          "description": "The consumer project number."
        },
        "producerProjectId": {
          "type": "string",
          "description": "The producer project id."
        },
        "isGceProjectDeprovisioning": {
          "type": "boolean",
          "deprecated": true,
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future."
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "consumerProjectState": {
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "int64",
          "description": "The tenant project number.",
          "type": "string"
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        }
      },
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object",
      "id": "ProjectsMetadata"
    },
    "RepairApplicationRequest": {
      "type": "object",
      "description": "Request message for 'Applications.RepairApplication'.",
      "properties": {},
      "id": "RepairApplicationRequest"
    },
    "BasicScaling": {
      "id": "BasicScaling",
      "properties": {
        "maxInstances": {
          "description": "Maximum number of instances to create for this version.",
          "type": "integer",
          "format": "int32"
        },
        "idleTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down."
        }
      },
      "type": "object",
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
    },
    "EndpointsApiService": {
      "type": "object",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "properties": {
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\""
        },
        "configId": {
          "type": "string",
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted."
        },
        "rolloutStrategy": {
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "type": "string",
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ]
        }
      },
      "id": "EndpointsApiService"
    },
    "ZipInfo": {
      "id": "ZipInfo",
      "type": "object",
      "properties": {
        "filesCount": {
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
          "type": "integer",
          "format": "int32"
        },
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "description": "The zip file information for a zip deployment."
    },
    "OperationMetadataV1Beta": {
      "type": "object",
      "id": "OperationMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "FlexibleRuntimeSettings": {
      "properties": {
        "runtimeVersion": {
          "description": "The runtime version of an App Engine flexible application.",
          "type": "string"
        },
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "FlexibleRuntimeSettings",
      "description": "Runtime settings for the App Engine flexible environment."
    },
    "VpcNetworkInterface": {
      "type": "object",
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Optional. The VPC subnetwork that the App Engine resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used. Could be either a short name or a full path. e.g. {SUBNET_NAME} or projects/{HOST_PROJECT_ID}/regions/{REGION}/subnetworks/{SUBNET_NAME}"
        },
        "network": {
          "type": "string",
          "description": "Optional. The VPC network that the App Engine resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork. Could be either a short name or a full path. e.g. {VPC_NETWORK} or projects/{HOST_PROJECT_ID}/global/networks/{VPC_NETWORK}"
        },
        "tags": {
          "description": "Optional. The network tags that will be applied to this App Engine resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Network interface key message.",
      "id": "VpcNetworkInterface"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "versions": {
          "items": {
            "$ref": "Version"
          },
          "type": "array",
          "description": "The versions belonging to the requested service."
        }
      },
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "Response message for Versions.ListVersions."
    },
    "ReadinessCheck": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before removing traffic."
        },
        "appStartTimeout": {
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "type": "string",
          "format": "google-duration"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "successThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful checks required before receiving traffic."
        },
        "checkInterval": {
          "format": "google-duration",
          "type": "string",
          "description": "Interval between health checks."
        }
      },
      "type": "object",
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation.",
      "id": "ReadinessCheck"
    },
    "Volume": {
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "properties": {
        "sizeGb": {
          "type": "number",
          "format": "double",
          "description": "Volume size in gigabytes."
        },
        "name": {
          "description": "Unique name for the volume.",
          "type": "string"
        },
        "volumeType": {
          "type": "string",
          "description": "Underlying volume type, e.g. 'tmpfs'."
        }
      },
      "type": "object",
      "id": "Volume"
    },
    "FeatureSettings": {
      "properties": {
        "splitHealthChecks": {
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
          "type": "boolean"
        },
        "useContainerOptimizedOs": {
          "type": "boolean",
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image."
        }
      },
      "id": "FeatureSettings",
      "type": "object",
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable."
    },
    "Resources": {
      "type": "object",
      "id": "Resources",
      "description": "Machine resources for a version.",
      "properties": {
        "diskGb": {
          "type": "number",
          "format": "double",
          "description": "Disk size (GB) needed."
        },
        "memoryGb": {
          "format": "double",
          "description": "Memory (GB) needed.",
          "type": "number"
        },
        "cpu": {
          "type": "number",
          "format": "double",
          "description": "Number of CPU cores needed."
        },
        "volumes": {
          "type": "array",
          "description": "User specified volumes.",
          "items": {
            "$ref": "Volume"
          }
        },
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        }
      }
    },
    "CertificateRawData": {
      "type": "object",
      "description": "An SSL certificate obtained from a certificate authority.",
      "id": "CertificateRawData",
      "properties": {
        "publicCertificate": {
          "type": "string",
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- "
        },
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
        }
      }
    },
    "SslSettings": {
      "type": "object",
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "sslManagementType": {
          "enum": [
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enumDescriptions": [
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ],
          "type": "string"
        },
        "pendingManagedCertificateId": {
          "type": "string",
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly",
          "readOnly": true
        },
        "certificateId": {
          "type": "string",
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
        }
      },
      "id": "SslSettings"
    },
    "VpcAccess": {
      "properties": {
        "networkInterfaces": {
          "description": "The Direct VPC configuration. Currently only single network interface is supported.",
          "items": {
            "$ref": "VpcNetworkInterface"
          },
          "type": "array"
        },
        "vpcEgress": {
          "description": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it.",
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "enumDescriptions": [
            "No value set; apply default behavior",
            "Force all traffic to egress through the NetworkInterface (and configured VPC Network)",
            "Force all Private IP Space traffic to egress through NetworkInterface (and configured VPC Network)"
          ],
          "type": "string"
        }
      },
      "description": "VPC Access settings",
      "type": "object",
      "id": "VpcAccess"
    },
    "ListAuthorizedDomainsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        }
      },
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains."
    },
    "Application": {
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "properties": {
        "codeBucket": {
          "readOnly": true,
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly",
          "type": "string"
        },
        "dispatchRules": {
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "servingStatus": {
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "description": "Serving status of this application.",
          "type": "string"
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ],
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ],
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "type": "string"
        },
        "generatedCustomerMetadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
          "type": "object"
        },
        "defaultBucket": {
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "gcrDomain": {
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application.",
          "readOnly": true,
          "type": "string"
        },
        "featureSettings": {
          "description": "The feature specific settings to be used in the application.",
          "$ref": "FeatureSettings"
        },
        "defaultHostname": {
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "id": {
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations)."
        },
        "sslPolicy": {
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "type": "string",
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ],
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ]
        },
        "defaultCookieExpiration": {
          "type": "string",
          "description": "Cookie expiration policy for this application.",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "Application"
    },
    "ListIngressRulesResponse": {
      "description": "Response message for Firewall.ListIngressRules.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array",
          "description": "The ingress FirewallRules for this application."
        }
      },
      "id": "ListIngressRulesResponse",
      "type": "object"
    },
    "AuthorizedDomain": {
      "properties": {
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com."
        }
      },
      "type": "object",
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome)."
    },
    "DomainMapping": {
      "id": "DomainMapping",
      "properties": {
        "resourceRecords": {
          "readOnly": true,
          "items": {
            "$ref": "ResourceRecord"
          },
          "type": "array",
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A domain serving an App Engine application."
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "id": "ResourceRecord",
      "type": "object",
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "type": "string",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        }
      }
    },
    "Version": {
      "id": "Version",
      "properties": {
        "defaultExpiration": {
          "format": "google-duration",
          "type": "string",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "runtime": {
          "type": "string",
          "description": "Desired runtime. Example: python27."
        },
        "servingStatus": {
          "type": "string",
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ]
        },
        "healthCheck": {
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.",
          "$ref": "HealthCheck"
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          },
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
        },
        "libraries": {
          "type": "array",
          "items": {
            "$ref": "Library"
          },
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set."
        },
        "endpointsApiService": {
          "$ref": "EndpointsApiService",
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app."
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "vpcAccessConnector": {
          "$ref": "VpcAccessConnector",
          "description": "Enables VPC connectivity for standard apps."
        },
        "createTime": {
          "description": "Time that this version was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "diskUsageBytes": {
          "readOnly": true,
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "type": "string",
          "format": "int64"
        },
        "versionUrl": {
          "readOnly": true,
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly",
          "type": "string"
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "runtimeMainExecutablePath": {
          "type": "string",
          "description": "The path or name of the app's main executable."
        },
        "env": {
          "type": "string",
          "description": "App Engine execution environment for this version.Defaults to standard."
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "nobuildFilesRegex": {
          "type": "string",
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set."
        },
        "runtimeChannel": {
          "type": "string",
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
        },
        "id": {
          "type": "string",
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "readinessCheck": {
          "$ref": "ReadinessCheck",
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation."
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "flexibleRuntimeSettings": {
          "description": "Settings for App Engine flexible runtimes.",
          "$ref": "FlexibleRuntimeSettings"
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          },
          "type": "array"
        },
        "vpcAccess": {
          "$ref": "VpcAccess",
          "description": "Enables VPC access connectivity for standard apps."
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "envVariables": {
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "network": {
          "$ref": "Network",
          "description": "Extra network settings. Only applicable in the App Engine flexible environment."
        },
        "instanceClass": {
          "type": "string",
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "appEngineBundledServices": {
          "description": "List of specific App Engine Bundled Services that are enabled for this Version.",
          "items": {
            "enum": [
              "BUNDLED_SERVICE_TYPE_UNSPECIFIED",
              "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_BLOBSTORE",
              "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_DATASTORE_V3",
              "BUNDLED_SERVICE_TYPE_DEFERRED",
              "BUNDLED_SERVICE_TYPE_IMAGES",
              "BUNDLED_SERVICE_TYPE_MAIL",
              "BUNDLED_SERVICE_TYPE_MEMCACHE",
              "BUNDLED_SERVICE_TYPE_MODULES",
              "BUNDLED_SERVICE_TYPE_NAMESPACES",
              "BUNDLED_SERVICE_TYPE_NDB",
              "BUNDLED_SERVICE_TYPE_SEARCH",
              "BUNDLED_SERVICE_TYPE_TASKQUEUES",
              "BUNDLED_SERVICE_TYPE_URLFETCH",
              "BUNDLED_SERVICE_TYPE_USERS"
            ],
            "enumDescriptions": [
              "Default, invalid value",
              "App Identity Service",
              "Blobstore",
              "Capability Service",
              "Datastore V3",
              "Deferred",
              "Images",
              "Mail",
              "Memcache",
              "Modules",
              "Namespaces",
              "NDB",
              "Search",
              "Task Queues",
              "URL Fetch",
              "Users"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "buildEnvVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        },
        "manualScaling": {
          "$ref": "ManualScaling",
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\"."
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances",
          "$ref": "LivenessCheck"
        },
        "apiConfig": {
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "$ref": "ApiConfigHandler",
          "deprecated": true
        },
        "name": {
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "generatedCustomerMetadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest"
        },
        "createdBy": {
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "errorHandlers": {
          "type": "array",
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "ErrorHandler"
          }
        }
      },
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "type": "object"
    },
    "BatchUpdateIngressRulesResponse": {
      "id": "BatchUpdateIngressRulesResponse",
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "type": "array",
          "description": "The full list of ingress FirewallRules for this application."
        }
      },
      "type": "object"
    },
    "ApiEndpointHandler": {
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "id": "ApiEndpointHandler",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DiskUtilization": {
      "id": "DiskUtilization",
      "properties": {
        "targetWriteOpsPerSecond": {
          "description": "Target ops written per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes read per second.",
          "type": "integer"
        },
        "targetReadOpsPerSecond": {
          "description": "Target ops read per seconds.",
          "type": "integer",
          "format": "int32"
        },
        "targetWriteBytesPerSecond": {
          "description": "Target bytes written per second.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "type": "object"
    },
    "Service": {
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly",
          "readOnly": true
        },
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
        },
        "name": {
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        }
      },
      "id": "Service",
      "type": "object"
    },
    "CreateVersionMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "StandardSchedulerSettings": {
      "properties": {
        "targetCpuUtilization": {
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "format": "double"
        },
        "minInstances": {
          "format": "int32",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "type": "integer"
        },
        "maxInstances": {
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration.",
          "type": "integer",
          "format": "int32"
        },
        "targetThroughputUtilization": {
          "format": "double",
          "description": "Target throughput utilization ratio to maintain when scaling",
          "type": "number"
        }
      },
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "type": "object"
    },
    "OperationMetadataV1": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1"
    },
    "ListAuthorizedCertificatesResponse": {
      "type": "object",
      "properties": {
        "certificates": {
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "description": "The SSL certificates the user is authorized to administer."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse"
    },
    "ProjectEvent": {
      "properties": {
        "projectMetadata": {
          "$ref": "ProjectsMetadata",
          "description": "The projects metadata for this project. required"
        },
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the organization that led to this event."
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "phase": {
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
        }
      },
      "description": "The request sent to CLHs during project events.",
      "type": "object",
      "id": "ProjectEvent"
    },
    "ManualScaling": {
      "id": "ManualScaling",
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "properties": {
        "instances": {
          "format": "int32",
          "type": "integer",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function."
        }
      },
      "type": "object"
    },
    "BuildInfo": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Google Cloud Build id. Example: \"f966068f-08b2-42c8-bdfe-74137dff2bf9\""
        }
      },
      "description": "Google Cloud Build information.",
      "id": "BuildInfo"
    },
    "AutomaticScaling": {
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "properties": {
        "minTotalInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of running instances that should be maintained for this version."
        },
        "maxConcurrentRequests": {
          "type": "integer",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "format": "int32"
        },
        "customMetrics": {
          "type": "array",
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "standardSchedulerSettings": {
          "$ref": "StandardSchedulerSettings",
          "description": "Scheduler settings for standard environment."
        },
        "minPendingLatency": {
          "format": "google-duration",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
          "type": "string"
        },
        "maxTotalInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of instances that should be started to handle requests for this version."
        },
        "minIdleInstances": {
          "type": "integer",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "format": "int32"
        },
        "coolDownPeriod": {
          "format": "google-duration",
          "type": "string",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
        },
        "diskUtilization": {
          "description": "Target scaling by disk usage.",
          "$ref": "DiskUtilization"
        },
        "cpuUtilization": {
          "description": "Target scaling by CPU usage.",
          "$ref": "CpuUtilization"
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "maxIdleInstances": {
          "type": "integer",
          "format": "int32",
          "description": "Maximum number of idle instances that should be maintained for this version."
        },
        "maxPendingLatency": {
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AutomaticScaling",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      }
    },
    "ManagedCertificate": {
      "type": "object",
      "description": "A certificate managed by App Engine.",
      "id": "ManagedCertificate",
      "properties": {
        "lastRenewalTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly"
        },
        "status": {
          "type": "string",
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        }
      }
    },
    "HealthCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "id": "HealthCheck",
      "properties": {
        "timeout": {
          "format": "google-duration",
          "type": "string",
          "description": "Time before the health check is considered failed."
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "unhealthyThreshold": {
          "description": "Number of consecutive failed health checks required before removing traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "healthyThreshold": {
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "restartThreshold": {
          "description": "Number of consecutive failed health checks required before an instance is restarted.",
          "format": "uint32",
          "type": "integer"
        },
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "TrafficSplit": {
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "id": "TrafficSplit",
      "properties": {
        "shardBy": {
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ],
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "type": "string"
        },
        "allocations": {
          "type": "object",
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "type": "object"
    },
    "ContainerState": {
      "id": "ContainerState",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ]
        },
        "previousReasons": {
          "$ref": "Reasons",
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state."
        },
        "currentReasons": {
          "$ref": "Reasons"
        }
      },
      "type": "object",
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state."
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "properties": {
        "targetType": {
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc.",
          "type": "string"
        },
        "singleInstanceAssignment": {
          "format": "double",
          "type": "number",
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment."
        },
        "targetUtilization": {
          "type": "number",
          "description": "The target value for the metric.",
          "format": "double"
        },
        "metricName": {
          "type": "string",
          "description": "The name of the metric."
        },
        "filter": {
          "description": "Allows filtering on the metric's fields.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Allows autoscaling based on Stackdriver metrics."
    },
    "AuthorizedCertificate": {
      "id": "AuthorizedCertificate",
      "type": "object",
      "properties": {
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly"
        },
        "visibleDomainMappings": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "displayName": {
          "type": "string",
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate."
        },
        "domainMappingsCount": {
          "format": "int32",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "integer"
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly"
        },
        "domainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "readOnly": true
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "Instance": {
      "type": "object",
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application.",
      "id": "Instance",
      "properties": {
        "requests": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of requests since this instance was started.",
          "readOnly": true
        },
        "id": {
          "description": "Output only. Relative name of the instance within the version. Example: instance-1.",
          "readOnly": true,
          "type": "string"
        },
        "averageLatency": {
          "format": "int32",
          "description": "Output only. Average latency (ms) over the last minute.",
          "type": "integer",
          "readOnly": true
        },
        "vmLiveness": {
          "type": "string",
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "readOnly": true
        },
        "memoryUsage": {
          "type": "string",
          "description": "Output only. Total memory in use (bytes).",
          "readOnly": true,
          "format": "int64"
        },
        "errors": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. Number of errors since this instance was started.",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
        },
        "vmIp": {
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "string"
        },
        "vmDebugEnabled": {
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "boolean"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time that this instance was started.@OutputOnly",
          "type": "string"
        },
        "vmStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment."
        },
        "availability": {
          "description": "Output only. Availability of the instance.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "vmName": {
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true,
          "type": "string"
        },
        "vmId": {
          "readOnly": true,
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "appEngineRelease": {
          "description": "Output only. App Engine release this instance is running on.",
          "readOnly": true,
          "type": "string"
        },
        "qps": {
          "type": "number",
          "readOnly": true,
          "format": "float",
          "description": "Output only. Average queries per second (QPS) over the last minute."
        },
        "vmZoneName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment."
        }
      }
    },
    "ApiConfigHandler": {
      "id": "ApiConfigHandler",
      "properties": {
        "login": {
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource. Defaults to optional.",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "type": "string"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "type": "string",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ]
        },
        "securityLevel": {
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "type": "string"
        },
        "url": {
          "description": "URL to serve the endpoint at.",
          "type": "string"
        },
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers."
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        }
      },
      "id": "LocationMetadata"
    },
    "VpcAccessConnector": {
      "id": "VpcAccessConnector",
      "properties": {
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        },
        "egressSetting": {
          "description": "The egress setting for the connector, controlling what traffic is diverted through it.",
          "type": "string",
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ]
        }
      },
      "type": "object",
      "description": "VPC access connector specification."
    },
    "OperationMetadataV1Alpha": {
      "id": "OperationMetadataV1Alpha",
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      }
    },
    "BatchUpdateIngressRulesRequest": {
      "description": "Request message for Firewall.BatchUpdateIngressRules.",
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set.",
          "type": "array"
        }
      },
      "id": "BatchUpdateIngressRulesRequest",
      "type": "object"
    },
    "ListDomainMappingsResponse": {
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "id": "ListDomainMappingsResponse",
      "type": "object",
      "properties": {
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "GceTag": {
      "id": "GceTag",
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        },
        "parent": {
          "type": "array",
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateVersionMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "id": "CreateVersionMetadataV1Beta"
    },
    "LivenessCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "properties": {
        "timeout": {
          "description": "Time before the check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy."
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "type": "integer",
          "format": "uint32"
        },
        "initialDelay": {
          "format": "google-duration",
          "description": "The initial delay before starting to execute the checks.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\""
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        }
      },
      "id": "LivenessCheck",
      "type": "object"
    },
    "ScriptHandler": {
      "type": "object",
      "id": "ScriptHandler",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "description": "Executes a script to handle the request that matches the URL pattern."
    },
    "DebugInstanceRequest": {
      "type": "object",
      "id": "DebugInstanceRequest",
      "description": "Request message for Instances.DebugInstance.",
      "properties": {
        "sshKey": {
          "type": "string",
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys)."
        }
      }
    },
    "Reasons": {
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)",
      "id": "Reasons",
      "type": "object",
      "properties": {
        "serviceActivation": {
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ],
[...]
