{
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "applications": {
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "appengine.projects.locations.applications.patch",
                  "httpMethod": "PATCH",
                  "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "request": {
                    "$ref": "Application"
                  },
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Standard field mask for the set of fields to be updated."
                    },
                    "projectsId": {
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "type": "string"
                    },
                    "locationsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "applicationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "domainMappings": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "httpMethod": "DELETE",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
                    },
                    "create": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "overrideStrategy": {
                          "type": "string",
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "location": "query"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "description": "Lists the domain mappings on an application.",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "httpMethod": "GET",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "description": "Gets the specified domain mapping."
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "parameters": {
                        "domainMappingsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "updateMask": {
                          "location": "query",
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "id": "appengine.projects.locations.applications.domainMappings.patch"
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "create": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "httpMethod": "POST",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Uploads the specified SSL certificate.",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates"
                    },
                    "patch": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "authorizedCertificatesId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "location": "query"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "httpMethod": "PATCH"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query"
                        },
                        "view": {
                          "description": "Controls the set of fields returned in the LIST response.",
                          "type": "string",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "location": "query",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ]
                        }
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "description": "Controls the set of fields returned in the GET response.",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ]
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "description": "Gets the specified SSL certificate.",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "parameters": {
                        "authorizedCertificatesId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "description": "Deletes the specified SSL certificate.",
                      "httpMethod": "DELETE",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Empty"
                      }
                    }
                  }
                },
                "services": {
                  "methods": {
                    "patch": {
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "request": {
                        "$ref": "Service"
                      },
                      "description": "Updates the configuration of the specified service.",
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.services.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "servicesId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "migrateTraffic": {
                          "location": "query",
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ]
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.services.delete",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "description": "Deletes the specified service and all enclosed versions.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "servicesId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}"
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "exportAppImage": {
                          "parameters": {
                            "projectsId": {
                              "location": "path",
                              "required": true,
                              "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                              "type": "string"
                            },
                            "locationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "applicationsId": {
                              "location": "path",
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string"
                            },
                            "servicesId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            },
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "request": {
                            "$ref": "ExportAppImageRequest"
                          },
                          "description": "Exports a user image to Artifact Registry.",
                          "httpMethod": "POST",
                          "id": "appengine.projects.locations.applications.services.versions.exportAppImage",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "patch": {
                          "parameters": {
                            "projectsId": {
                              "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "locationsId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            },
                            "applicationsId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "servicesId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            },
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "Standard field mask for the set of fields to be updated."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "request": {
                            "$ref": "Version"
                          },
                          "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#manualscaling)",
                          "httpMethod": "PATCH",
                          "id": "appengine.projects.locations.applications.services.versions.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "description": "Deletes an existing Version resource.",
                          "httpMethod": "DELETE",
                          "id": "appengine.projects.locations.applications.services.versions.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "parameters": {
                            "projectsId": {
                              "type": "string",
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "location": "path",
                              "required": true
                            },
                            "locationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "applicationsId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            },
                            "servicesId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "versionsId": {
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true
                            }
                          }
                        }
                      },
                      "resources": {
                        "instances": {
                          "methods": {
                            "delete": {
                              "parameters": {
                                "instancesId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "projectsId": {
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "locationsId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "applicationsId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "versionsId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                },
                                "servicesId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "id": "appengine.projects.locations.applications.services.versions.instances.delete",
                              "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                              "httpMethod": "DELETE",
                              "response": {
                                "$ref": "Operation"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "debug": {
                              "id": "appengine.projects.locations.applications.services.versions.instances.debug",
                              "httpMethod": "POST",
                              "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "request": {
                                "$ref": "DebugInstanceRequest"
                              },
                              "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                              "response": {
                                "$ref": "Operation"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameters": {
                                "servicesId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string"
                                },
                                "versionsId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`."
                                },
                                "instancesId": {
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true
                                },
                                "projectsId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
                                },
                                "locationsId": {
                                  "location": "path",
                                  "required": true,
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string"
                                },
                                "applicationsId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "location": "path",
                                  "required": true
                                }
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "path": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "description": "Lists all domains the user is authorized to administer.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string"
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "methods": {
        "create": {
          "parameters": {},
          "flatPath": "v1/apps",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "v1/apps",
          "request": {
            "$ref": "Application"
          },
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "id": "appengine.apps.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "path": "v1/apps/{appsId}",
          "request": {
            "$ref": "Application"
          },
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
          "id": "appengine.apps.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "appsId": {
              "location": "path",
              "required": true,
              "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
              "type": "string"
            },
            "updateMask": {
              "type": "string",
              "format": "google-fieldmask",
              "description": "Required. Standard field mask for the set of fields to be updated.",
              "location": "query"
            }
          },
          "flatPath": "v1/apps/{appsId}",
          "parameterOrder": [
            "appsId"
          ]
        },
        "repair": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/apps/{appsId}:repair",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log.",
          "httpMethod": "POST",
          "id": "appengine.apps.repair",
          "flatPath": "v1/apps/{appsId}:repair",
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Required. Name of the application to repair. Example: apps/myapp",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "parameterOrder": [
            "appsId"
          ],
          "flatPath": "v1/apps/{appsId}",
          "parameters": {
            "appsId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Part of `name`. Required. Name of the Application resource to get. Example: apps/myapp."
            },
            "includeExtraData": {
              "enumDescriptions": [
                "Unspecified: No extra data will be returned",
                "Do not return any extra data",
                "Return GGCM associated with the resources"
              ],
              "location": "query",
              "enum": [
                "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                "INCLUDE_EXTRA_DATA_NONE",
                "INCLUDE_GOOGLE_GENERATED_METADATA"
              ],
              "description": "Options to include extra data",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Application"
          },
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "id": "appengine.apps.get",
          "path": "v1/apps/{appsId}",
          "description": "Gets information about an application.",
          "httpMethod": "GET"
        },
        "listRuntimes": {
          "parameters": {
            "environment": {
              "type": "string",
              "description": "Optional. The environment of the Application.",
              "enumDescriptions": [
                "Default value.",
                "App Engine Standard.",
                "App Engine Flexible"
              ],
              "enum": [
                "ENVIRONMENT_UNSPECIFIED",
                "STANDARD",
                "FLEXIBLE"
              ],
              "location": "query"
            },
            "appsId": {
              "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "v1/apps/{appsId}:listRuntimes",
          "parameterOrder": [
            "appsId"
          ],
          "path": "v1/apps/{appsId}:listRuntimes",
          "description": "Lists all the available runtimes for the application.",
          "httpMethod": "GET",
          "id": "appengine.apps.listRuntimes",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "ListRuntimesResponse"
          }
        }
      },
      "resources": {
        "domainMappings": {
          "methods": {
            "create": {
              "id": "appengine.apps.domainMappings.create",
              "path": "v1/apps/{appsId}/domainMappings",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                },
                "overrideStrategy": {
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected."
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/domainMappings"
            },
            "patch": {
              "id": "appengine.apps.domainMappings.patch",
              "httpMethod": "PATCH",
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "domainMappingsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com."
                }
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "list": {
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/domainMappings",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.domainMappings.list",
              "httpMethod": "GET",
              "path": "v1/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application."
            },
            "get": {
              "id": "appengine.apps.domainMappings.get",
              "httpMethod": "GET",
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Gets the specified domain mapping.",
              "response": {
                "$ref": "DomainMapping"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "domainMappingsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "delete": {
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                },
                "domainMappingsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "flatPath": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "path": "v1/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "httpMethod": "DELETE",
              "id": "appengine.apps.domainMappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "create": {
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/apps/{appsId}/authorizedCertificates",
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "path": "v1/apps/{appsId}/authorizedCertificates",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Uploads the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              }
            },
            "list": {
              "flatPath": "v1/apps/{appsId}/authorizedCertificates",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "type": "string",
                  "description": "Controls the set of fields returned in the LIST response.",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ]
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "path": "v1/apps/{appsId}/authorizedCertificates",
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.list"
            },
            "get": {
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "view": {
                  "description": "Controls the set of fields returned in the GET response.",
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ]
                },
                "authorizedCertificatesId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Gets the specified SSL certificate.",
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.get"
            },
            "patch": {
              "id": "appengine.apps.authorizedCertificates.patch",
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "delete": {
              "httpMethod": "DELETE",
              "path": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ]
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/authorizedDomains"
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "create": {
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Required. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "path": "v1/apps/{appsId}/firewall/ingressRules",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Creates a firewall rule for the application.",
                  "httpMethod": "POST",
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "path": "v1/apps/{appsId}/firewall/ingressRules",
                  "description": "Lists the firewall rules of an application.",
                  "httpMethod": "GET",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "matchingAddress": {
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100."
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Gets the specified firewall rule.",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  }
                },
                "patch": {
                  "parameters": {
                    "ingressRulesId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "location": "query"
                    },
                    "appsId": {
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "httpMethod": "PATCH",
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "description": "Updates the specified firewall rule.",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "FirewallRule"
                  }
                },
                "batchUpdate": {
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "path": "v1/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "httpMethod": "POST",
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate"
                },
                "delete": {
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`."
                    }
                  },
                  "flatPath": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "path": "v1/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Deletes the specified firewall rule.",
                  "httpMethod": "DELETE",
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.operations.list",
              "path": "v1/apps/{appsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1/apps/{appsId}/operations",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
[...]
