{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "revision": "20260919",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "protocol": "rest",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "id": "appengine:v1beta",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "projectsId"
              ],
              "path": "v1beta/projects/{projectsId}/locations",
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160)."
                },
                "projectsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.projects.locations.list"
            },
            "get": {
              "id": "appengine.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameters": {
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "projectsId": {
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "locationsId": {
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "id": "appengine.projects.locations.operations.list"
                },
                "get": {
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "projectsId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. The name of the operation resource."
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "operationsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "appengine.projects.locations.operations.get"
                }
              }
            },
            "applications": {
              "resources": {
                "services": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "patch": {
                          "request": {
                            "$ref": "Version"
                          },
                          "id": "appengine.projects.locations.applications.services.versions.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "applicationsId": {
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path"
                            },
                            "versionsId": {
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path"
                            },
                            "servicesId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "type": "string",
                              "description": "Standard field mask for the set of fields to be updated."
                            },
                            "locationsId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "type": "string",
                              "required": true
                            },
                            "projectsId": {
                              "required": true,
                              "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Operation"
                          }
                        },
                        "exportAppImage": {
                          "description": "Exports a user image to Artifact Registry.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "id": "appengine.projects.locations.applications.services.versions.exportAppImage",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "locationsId": {
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "versionsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "applicationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "servicesId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "projectsId": {
                              "required": true,
                              "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                          "request": {
                            "$ref": "ExportAppImageRequest"
                          }
                        },
                        "delete": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "applicationsId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "servicesId": {
                              "location": "path",
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true
                            },
                            "projectsId": {
                              "type": "string",
                              "required": true,
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "location": "path"
                            },
                            "versionsId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Part of `name`. See documentation of `projectsId`."
                            },
                            "locationsId": {
                              "required": true,
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "description": "Deletes an existing Version resource.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "projectsId",
                            "locationsId",
                            "applicationsId",
                            "servicesId",
                            "versionsId"
                          ],
                          "id": "appengine.projects.locations.applications.services.versions.delete",
                          "httpMethod": "DELETE"
                        }
                      },
                      "resources": {
                        "instances": {
                          "methods": {
                            "delete": {
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "appengine.projects.locations.applications.services.versions.instances.delete",
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "response": {
                                "$ref": "Operation"
                              },
                              "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method.",
                              "httpMethod": "DELETE",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                              "parameters": {
                                "applicationsId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "required": true,
                                  "location": "path"
                                },
                                "versionsId": {
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string",
                                  "required": true
                                },
                                "instancesId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string"
                                },
                                "locationsId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path"
                                },
                                "projectsId": {
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "servicesId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "location": "path",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ]
                            },
                            "debug": {
                              "parameterOrder": [
                                "projectsId",
                                "locationsId",
                                "applicationsId",
                                "servicesId",
                                "versionsId",
                                "instancesId"
                              ],
                              "response": {
                                "$ref": "Operation"
                              },
                              "parameters": {
                                "locationsId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "versionsId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "applicationsId": {
                                  "location": "path",
                                  "type": "string",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true
                                },
                                "projectsId": {
                                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                },
                                "servicesId": {
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "required": true,
                                  "location": "path",
                                  "type": "string"
                                },
                                "instancesId": {
                                  "required": true,
                                  "location": "path",
                                  "description": "Part of `name`. See documentation of `projectsId`.",
                                  "type": "string"
                                }
                              },
                              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                              "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                              "httpMethod": "POST",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "id": "appengine.projects.locations.applications.services.versions.instances.debug",
                              "request": {
                                "$ref": "DebugInstanceRequest"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "patch": {
                      "description": "Updates the configuration of the specified service.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Service"
                      },
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "migrateTraffic": {
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                          "location": "query",
                          "type": "boolean"
                        },
                        "servicesId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "projectsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                          "location": "path"
                        },
                        "locationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.services.patch"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified service and all enclosed versions.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "parameters": {
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "locationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "servicesId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "id": "appengine.projects.locations.applications.services.delete",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                },
                "domainMappings": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "projectsId": {
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string",
                          "location": "path"
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "domainMappingsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ]
                    },
                    "list": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "httpMethod": "GET",
                      "description": "Lists the domain mappings on an application.",
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true,
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      }
                    },
                    "patch": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "domainMappingsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path"
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com."
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.patch"
                    },
                    "create": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "overrideStrategy": {
                          "type": "string",
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "location": "query",
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ]
                        }
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "request": {
                        "$ref": "DomainMapping"
                      }
                    },
                    "get": {
                      "parameters": {
                        "domainMappingsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "required": true
                        },
                        "locationsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "required": true
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path"
                        },
                        "applicationsId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "description": "Gets the specified domain mapping."
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all domains the user is authorized to administer.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameters": {
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "applicationsId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum results to return per page."
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "parameters": {
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                        },
                        "applicationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true
                        },
                        "authorizedCertificatesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Deletes the specified SSL certificate."
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "authorizedCertificatesId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "applicationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "projectsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ]
                    },
                    "create": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "httpMethod": "POST",
                      "description": "Uploads the specified SSL certificate.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "applicationsId": {
                          "type": "string",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates"
                    },
                    "list": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "parameters": {
                        "projectsId": {
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "view": {
                          "type": "string",
                          "description": "Controls the set of fields returned in the LIST response.",
                          "location": "query",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ]
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "description": "Gets the specified SSL certificate.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                          "type": "string",
                          "required": true
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "view": {
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "type": "string",
                          "location": "query",
                          "description": "Controls the set of fields returned in the GET response.",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ]
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}"
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ],
                  "parameters": {
                    "projectsId": {
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "locationsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Standard field mask for the set of fields to be updated.",
                      "location": "query"
                    },
                    "applicationsId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`."
                    }
                  },
                  "id": "appengine.projects.locations.applications.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Application"
                  },
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}"
                }
              }
            }
          }
        }
      }
    },
    "apps": {
      "resources": {
        "domainMappings": {
          "methods": {
            "create": {
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "overrideStrategy": {
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "location": "query",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "type": "string",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "appengine.apps.domainMappings.create",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/domainMappings",
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "parameterOrder": [
                "appsId"
              ]
            },
            "list": {
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "type": "integer"
                },
                "appsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                }
              },
              "description": "Lists the domain mappings on an application.",
              "path": "v1beta/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Gets the specified domain mapping.",
              "httpMethod": "GET",
              "id": "appengine.apps.domainMappings.get",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "appsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com."
                },
                "domainMappingsId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "response": {
                "$ref": "DomainMapping"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "patch": {
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "required": true
                },
                "domainMappingsId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "updateMask": {
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "appengine.apps.domainMappings.patch",
              "request": {
                "$ref": "DomainMapping"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "httpMethod": "PATCH",
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource."
            },
            "delete": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "httpMethod": "DELETE",
              "id": "appengine.apps.domainMappings.delete",
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com."
                },
                "domainMappingsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            }
          }
        },
        "services": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Service"
              },
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "location": "path",
                  "required": true
                },
                "includeExtraData": {
                  "location": "query",
                  "description": "Optional. Options to include extra data",
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified: No extra data will be returned",
                    "Do not return any extra data",
                    "Return GGCM associated with the resources"
                  ],
                  "enum": [
                    "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                    "INCLUDE_EXTRA_DATA_NONE",
                    "INCLUDE_GOOGLE_GENERATED_METADATA"
                  ]
                },
                "servicesId": {
                  "type": "string",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "id": "appengine.apps.services.get",
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "httpMethod": "GET",
              "description": "Gets the current configuration of the specified service.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "delete": {
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Deletes the specified service and all enclosed versions.",
              "id": "appengine.apps.services.delete",
              "parameters": {
                "servicesId": {
                  "location": "path",
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true
                },
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates the configuration of the specified service.",
              "parameters": {
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "id": "appengine.apps.services.patch"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists all the services in the application.",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.services.list",
              "response": {
                "$ref": "ListServicesResponse"
              },
              "flatPath": "v1beta/apps/{appsId}/services",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results."
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1beta/apps/{appsId}/services"
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Version"
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "parameters": {
                    "appsId": {
                      "required": true,
                      "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string",
                      "location": "path"
                    },
                    "servicesId": {
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path"
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "description": "Controls the set of fields returned in the Get response.",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ]
                    },
                    "versionsId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`."
                    },
                    "includeExtraData": {
                      "description": "Optional. Options to include extra data",
                      "enumDescriptions": [
                        "Unspecified: No extra data will be returned",
                        "Do not return any extra data",
                        "Return GGCM associated with the resources"
                      ],
                      "location": "query",
                      "enum": [
                        "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                        "INCLUDE_EXTRA_DATA_NONE",
                        "INCLUDE_GOOGLE_GENERATED_METADATA"
                      ],
                      "type": "string"
                    }
                  },
                  "id": "appengine.apps.services.versions.get",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "delete": {
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "required": true,
                      "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "type": "string"
                    },
                    "servicesId": {
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "location": "path"
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "appengine.apps.services.versions.delete",
                  "description": "Deletes an existing Version resource."
                },
                "patch": {
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.patch",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "request": {
                    "$ref": "Version"
                  },
                  "parameters": {
                    "servicesId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true
                    },
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query"
                    },
                    "appsId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1."
                    },
                    "versionsId": {
                      "location": "path",
                      "type": "string",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}"
                },
                "list": {
                  "description": "Lists the versions of a service.",
                  "parameters": {
                    "pageSize": {
                      "description": "Maximum results to return per page.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "appsId": {
                      "type": "string",
                      "location": "path",
                      "description": "Part of `parent`. Required. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "required": true
                    },
                    "view": {
                      "type": "string",
                      "location": "query",
                      "description": "Controls the set of fields returned in the List response.",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ]
                    },
                    "servicesId": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Part of `parent`. See documentation of `appsId`."
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "appengine.apps.services.versions.list",
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "scopes": [
[...]
