{
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "description": "Provisions and manages developers' App Engine applications.",
  "servicePath": "",
  "rootUrl": "https://appengine.googleapis.com/",
  "baseUrl": "https://appengine.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "appengine:v1beta",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260801",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        }
      }
    }
  },
  "title": "App Engine Admin API",
  "resources": {
    "apps": {
      "methods": {
        "create": {
          "path": "v1beta/apps",
          "response": {
            "$ref": "Operation"
          },
          "request": {
            "$ref": "Application"
          },
          "description": "Creates an App Engine application for a Google Cloud Platform project. Required fields: id - The ID of the target Cloud Platform project. location - The region (https://cloud.google.com/appengine/docs/locations) where you want the App Engine application located.For more information about App Engine applications, see Managing Projects, Applications, and Billing (https://cloud.google.com/appengine/docs/standard/python/console/).",
          "flatPath": "v1beta/apps",
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "POST",
          "id": "appengine.apps.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "get": {
          "response": {
            "$ref": "Application"
          },
          "path": "v1beta/apps/{appsId}",
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Required. Name of the Application resource to get. Example: apps/myapp.",
              "required": true,
              "type": "string"
            },
            "includeExtraData": {
              "description": "Optional. Options to include extra data",
              "type": "string",
              "enumDescriptions": [
                "Unspecified: No extra data will be returned",
                "Do not return any extra data",
                "Return GGCM associated with the resources"
              ],
              "location": "query",
              "enum": [
                "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                "INCLUDE_EXTRA_DATA_NONE",
                "INCLUDE_GOOGLE_GENERATED_METADATA"
              ]
            }
          },
          "flatPath": "v1beta/apps/{appsId}",
          "description": "Gets information about an application.",
          "parameterOrder": [
            "appsId"
          ],
          "id": "appengine.apps.get",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "flatPath": "v1beta/apps/{appsId}",
          "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
          "parameters": {
            "appsId": {
              "location": "path",
              "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Required. Standard field mask for the set of fields to be updated.",
              "type": "string",
              "location": "query",
              "format": "google-fieldmask"
            }
          },
          "path": "v1beta/apps/{appsId}",
          "request": {
            "$ref": "Application"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "id": "appengine.apps.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "appsId"
          ]
        },
        "repair": {
          "parameterOrder": [
            "appsId"
          ],
          "id": "appengine.apps.repair",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "RepairApplicationRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1beta/apps/{appsId}:repair",
          "parameters": {
            "appsId": {
              "description": "Part of `name`. Required. Name of the application to repair. Example: apps/myapp",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "flatPath": "v1beta/apps/{appsId}:repair",
          "description": "Recreates the required App Engine features for the specified App Engine application, for example a Cloud Storage bucket or App Engine service account. Use this method if you receive an error message about a missing feature, for example, Error retrieving the App Engine service account. If you have deleted your App Engine service account, this will not be able to recreate it. Instead, you should attempt to use the IAM undelete API if possible at https://cloud.google.com/iam/reference/rest/v1/projects.serviceAccounts/undelete?apix_params=%7B\"name\"%3A\"projects%2F-%2FserviceAccounts%2Funique_id\"%2C\"resource\"%3A%7B%7D%7D . If the deletion was recent, the numeric ID can be found in the Cloud Console Activity Log."
        },
        "listRuntimes": {
          "id": "appengine.apps.listRuntimes",
          "scopes": [
            "https://www.googleapis.com/auth/appengine.admin",
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "appsId"
          ],
          "parameters": {
            "appsId": {
              "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "environment": {
              "location": "query",
              "enum": [
                "ENVIRONMENT_UNSPECIFIED",
                "STANDARD",
                "FLEXIBLE"
              ],
              "enumDescriptions": [
                "Default value.",
                "App Engine Standard.",
                "App Engine Flexible"
              ],
              "type": "string",
              "description": "Optional. The environment of the Application."
            }
          },
          "description": "Lists all the available runtimes for the application.",
          "flatPath": "v1beta/apps/{appsId}:listRuntimes",
          "response": {
            "$ref": "ListRuntimesResponse"
          },
          "path": "v1beta/apps/{appsId}:listRuntimes"
        }
      },
      "resources": {
        "services": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListServicesResponse"
              },
              "path": "v1beta/apps/{appsId}/services",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/services",
              "description": "Lists all the services in the application.",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.services.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "response": {
                "$ref": "Operation"
              },
              "description": "Deletes the specified service and all enclosed versions.",
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "servicesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "httpMethod": "DELETE",
              "id": "appengine.apps.services.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "servicesId"
              ],
              "id": "appengine.apps.services.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Service"
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "parameters": {
                "includeExtraData": {
                  "type": "string",
                  "enumDescriptions": [
                    "Unspecified: No extra data will be returned",
                    "Do not return any extra data",
                    "Return GGCM associated with the resources"
                  ],
                  "location": "query",
                  "enum": [
                    "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                    "INCLUDE_EXTRA_DATA_NONE",
                    "INCLUDE_GOOGLE_GENERATED_METADATA"
                  ],
                  "description": "Optional. Options to include extra data"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the current configuration of the specified service.",
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}"
            },
            "patch": {
              "flatPath": "v1beta/apps/{appsId}/services/{servicesId}",
              "description": "Updates the configuration of the specified service.",
              "parameters": {
                "updateMask": {
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                },
                "migrateTraffic": {
                  "location": "query",
                  "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                  "type": "boolean"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                  "required": true,
                  "type": "string"
                },
                "servicesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta/apps/{appsId}/services/{servicesId}",
              "request": {
                "$ref": "Service"
              },
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "PATCH",
              "id": "appengine.apps.services.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "servicesId"
              ]
            }
          },
          "resources": {
            "versions": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "id": "appengine.apps.services.versions.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "parameters": {
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `parent`. Required. Name of the parent resource to create this version under. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Deploys code and resource files to a new version."
                },
                "list": {
                  "id": "appengine.apps.services.versions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "servicesId"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string"
                    },
                    "servicesId": {
                      "description": "Part of `parent`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Required. Name of the parent Service resource. Example: apps/myapp/services/default.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "view": {
                      "description": "Controls the set of fields returned in the List response.",
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ]
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions",
                  "description": "Lists the versions of a service.",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions"
                },
                "delete": {
                  "parameters": {
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes an existing Version resource.",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "id": "appengine.apps.services.versions.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Version"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameters": {
                    "view": {
                      "description": "Controls the set of fields returned in the Get response.",
                      "type": "string",
                      "enumDescriptions": [
                        "Basic version information including scaling and inbound services, but not detailed deployment information.",
                        "The information from BASIC, plus detailed information about the deployment. This format is required when creating resources, but is not returned in Get or List by default."
                      ],
                      "location": "query",
                      "enum": [
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                      "required": true,
                      "type": "string"
                    },
                    "versionsId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "includeExtraData": {
                      "description": "Optional. Options to include extra data",
                      "location": "query",
                      "enum": [
                        "INCLUDE_EXTRA_DATA_UNSPECIFIED",
                        "INCLUDE_EXTRA_DATA_NONE",
                        "INCLUDE_GOOGLE_GENERATED_METADATA"
                      ],
                      "type": "string",
                      "enumDescriptions": [
                        "Unspecified: No extra data will be returned",
                        "Do not return any extra data",
                        "Return GGCM associated with the resources"
                      ]
                    }
                  },
                  "description": "Gets the specified Version resource. By default, only a BASIC_VIEW will be returned. Specify the FULL_VIEW parameter to get the full resource.",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "id": "appengine.apps.services.versions.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET"
                },
                "patch": {
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "request": {
                    "$ref": "Version"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}",
                  "description": "Updates the specified Version resource. You can specify the following fields depending on the App Engine environment and type of scaling that the version resource uses:Standard environment instance_class (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.instance_class)automatic scaling in the standard environment: automatic_scaling.min_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_idle_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automaticScaling.standard_scheduler_settings.max_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.min_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_cpu_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings) automaticScaling.standard_scheduler_settings.target_throughput_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StandardSchedulerSettings)basic scaling or manual scaling in the standard environment: serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status) manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)Flexible environment serving_status (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.serving_status)automatic scaling in the flexible environment: automatic_scaling.min_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.max_total_instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cool_down_period_sec (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling) automatic_scaling.cpu_utilization.target_utilization (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#Version.FIELDS.automatic_scaling)manual scaling in the flexible environment: manual_scaling.instances (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#manualscaling)",
                  "parameters": {
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "servicesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "appsId": {
                      "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default/versions/1.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "httpMethod": "PATCH",
                  "id": "appengine.apps.services.versions.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "exportAppImage": {
                  "id": "appengine.apps.services.versions.exportAppImage",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId",
                    "servicesId",
                    "versionsId"
                  ],
                  "parameters": {
                    "servicesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `name`. Required. Name of the App Engine version resource. Format: apps/{app}/services/{service}/versions/{version}",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "versionsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Exports a user image to Artifact Registry.",
                  "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}:exportAppImage",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "ExportAppImageRequest"
                  },
                  "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}:exportAppImage"
                }
              },
              "resources": {
                "instances": {
                  "methods": {
                    "list": {
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "response": {
                        "$ref": "ListInstancesResponse"
                      },
                      "description": "Lists the instances of a version.Tip: To aggregate details about instances over time, see the Stackdriver Monitoring API (https://cloud.google.com/monitoring/api/ref_v3/rest/v3/projects.timeSeries/list).",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances",
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "servicesId": {
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `parent`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `parent`. Required. Name of the parent Version resource. Example: apps/myapp/services/default/versions/v1.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId"
                      ],
                      "httpMethod": "GET",
                      "id": "appengine.apps.services.versions.instances.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "id": "appengine.apps.services.versions.instances.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "parameters": {
                        "appsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "instancesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Stops a running instance.The instance might be automatically recreated based on the scaling settings of the version. For more information, see \"How Instances are Managed\" (standard environment (https://cloud.google.com/appengine/docs/standard/python/how-instances-are-managed) | flexible environment (https://cloud.google.com/appengine/docs/flexible/python/how-instances-are-managed)).To ensure that instances are not re-created and avoid getting billed, you can stop all instances within the target version by changing the serving status of the version to STOPPED with the apps.services.versions.patch (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions/patch) method."
                    },
                    "debug": {
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "DebugInstanceRequest"
                      },
                      "description": "Enables debugging on a VM instance. This allows you to use the SSH command to connect to the virtual machine where the instance lives. While in \"debug mode\", the instance continues to serve live traffic. You should delete the instance when you are done debugging and then allow the system to take over and determine if another instance should be started.Only applicable for instances in App Engine flexible environment.",
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}:debug",
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "appsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "versionsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "httpMethod": "POST",
                      "id": "appengine.apps.services.versions.instances.debug",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "appengine.apps.services.versions.instances.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "appsId",
                        "servicesId",
                        "versionsId",
                        "instancesId"
                      ],
                      "flatPath": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "description": "Gets instance information.",
                      "parameters": {
                        "versionsId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "appsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1/instances/instance-1.",
                          "required": true,
                          "type": "string"
                        },
                        "servicesId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "instancesId": {
                          "description": "Part of `name`. See documentation of `appsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "v1beta/apps/{appsId}/services/{servicesId}/versions/{versionsId}/instances/{instancesId}",
                      "response": {
                        "$ref": "Instance"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "flatPath": "v1beta/apps/{appsId}/authorizedDomains",
              "description": "Lists all domains the user is authorized to administer.",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1beta/apps/{appsId}/authorizedDomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedDomains.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ]
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "create": {
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "POST",
              "id": "appengine.apps.authorizedCertificates.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Uploads the specified SSL certificate.",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedCertificates.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/authorizedCertificates",
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "view": {
                  "description": "Controls the set of fields returned in the LIST response.",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string"
                }
              }
            },
            "delete": {
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Deletes the specified SSL certificate.",
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "Empty"
              },
              "httpMethod": "DELETE",
              "id": "appengine.apps.authorizedCertificates.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ]
            },
            "get": {
              "id": "appengine.apps.authorizedCertificates.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "view": {
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response."
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the specified SSL certificate.",
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}"
            },
            "patch": {
              "httpMethod": "PATCH",
              "id": "appengine.apps.authorizedCertificates.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "parameters": {
                "authorizedCertificatesId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "v1beta/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              }
            }
          }
        },
        "firewall": {
          "resources": {
            "ingressRules": {
              "methods": {
                "create": {
                  "id": "appengine.apps.firewall.ingressRules.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "appsId"
                  ],
                  "parameters": {
                    "appsId": {
                      "description": "Part of `parent`. Required. Name of the parent Firewall collection in which to create a new rule. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "description": "Creates a firewall rule for the application.",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules"
                },
                "list": {
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "response": {
                    "$ref": "ListIngressRulesResponse"
                  },
                  "description": "Lists the firewall rules of an application.",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules",
                  "parameters": {
                    "matchingAddress": {
                      "location": "query",
                      "description": "A valid IP Address. If set, only rules matching this address will be returned. The first returned rule will be the rule that fires on requests from this IP.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Maximum results to return per page.",
                      "type": "integer"
                    },
                    "appsId": {
                      "description": "Part of `parent`. Name of the Firewall collection to retrieve. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "appsId"
                  ],
                  "httpMethod": "GET",
                  "id": "appengine.apps.firewall.ingressRules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ],
                  "id": "appengine.apps.firewall.ingressRules.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to delete. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Deletes the specified firewall rule.",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}"
                },
                "batchUpdate": {
                  "description": "Replaces the entire firewall ruleset in one bulk operation. This overrides and replaces the rules of an existing firewall with the new rules.If the final rule does not match traffic with the '*' wildcard IP range, then an \"allow all\" rule is explicitly added to the end of the list.",
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "parameters": {
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall collection to set. Example: apps/myapp/firewall/ingressRules.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules:batchUpdate",
                  "response": {
                    "$ref": "BatchUpdateIngressRulesResponse"
                  },
                  "request": {
                    "$ref": "BatchUpdateIngressRulesRequest"
                  },
                  "httpMethod": "POST",
                  "id": "appengine.apps.firewall.ingressRules.batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "appsId"
                  ]
                },
                "get": {
                  "parameters": {
                    "ingressRulesId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "appsId": {
                      "description": "Part of `name`. Name of the Firewall resource to retrieve. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Gets the specified firewall rule.",
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ]
                },
                "patch": {
                  "parameters": {
                    "appsId": {
                      "location": "path",
                      "description": "Part of `name`. Name of the Firewall resource to update. Example: apps/myapp/firewall/ingressRules/100.",
                      "required": true,
                      "type": "string"
                    },
                    "ingressRulesId": {
                      "description": "Part of `name`. See documentation of `appsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "description": "Updates the specified firewall rule.",
                  "request": {
                    "$ref": "FirewallRule"
                  },
                  "response": {
                    "$ref": "FirewallRule"
                  },
                  "path": "v1beta/apps/{appsId}/firewall/ingressRules/{ingressRulesId}",
                  "id": "appengine.apps.firewall.ingressRules.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "appsId",
                    "ingressRulesId"
                  ]
                }
              }
            }
          }
        },
        "domainMappings": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "id": "appengine.apps.domainMappings.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              }
            },
            "get": {
              "id": "appengine.apps.domainMappings.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Gets the specified domain mapping.",
              "response": {
                "$ref": "DomainMapping"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}"
            },
            "patch": {
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings/{domainMappingsId}",
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "id": "appengine.apps.domainMappings.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH"
            },
            "create": {
              "id": "appengine.apps.domainMappings.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "overrideStrategy": {
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "location": "query",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "request": {
                "$ref": "DomainMapping"
              },
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/domainMappings"
            },
            "list": {
              "flatPath": "v1beta/apps/{appsId}/domainMappings",
              "description": "Lists the domain mappings on an application.",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "v1beta/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "httpMethod": "GET",
              "id": "appengine.apps.domainMappings.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET",
              "id": "appengine.apps.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta/apps/{appsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1beta/apps/{appsId}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/apps/{appsId}/locations/{locationsId}",
              "parameters": {
                "locationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "id": "appengine.apps.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "operations": {
          "methods": {
            "list": {
              "id": "appengine.apps.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "flatPath": "v1beta/apps/{appsId}/operations",
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "path": "v1beta/apps/{appsId}/operations"
            },
            "get": {
              "parameters": {
                "appsId": {
                  "location": "path",
                  "description": "Part of `name`. The name of the operation resource.",
                  "required": true,
                  "type": "string"
                },
                "operationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1beta/apps/{appsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              },
              "path": "v1beta/apps/{appsId}/operations/{operationsId}",
              "id": "appengine.apps.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameterOrder": [
                "projectsId"
              ],
              "id": "appengine.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "projectsId": {
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "path": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "projectsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "locationsId": {
                  "location": "path",
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "id": "appengine.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "id": "appengine.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "appengine.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation resource.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "operationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "applications": {
              "methods": {
                "patch": {
                  "parameters": {
                    "projectsId": {
                      "location": "path",
                      "description": "Part of `name`. Required. Name of the Application resource to update. Example: apps/myapp.",
                      "required": true,
                      "type": "string"
                    },
                    "locationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. Standard field mask for the set of fields to be updated.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "applicationsId": {
                      "location": "path",
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Updates the specified Application resource. You can update the following fields: auth_domain - Google authentication domain for controlling user access to the application. default_cookie_expiration - Cookie expiration policy for the application. iap - Identity-Aware Proxy properties for the application.",
                  "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Application"
                  },
                  "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "id": "appengine.projects.locations.applications.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "applicationsId"
                  ]
                }
              },
              "resources": {
                "services": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.services.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "Service"
                      },
                      "description": "Updates the configuration of the specified service.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/services/default.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "migrateTraffic": {
                          "description": "Set to true to gradually shift traffic to one or more versions that you specify. By default, traffic is shifted immediately. For gradual traffic migration, the target versions must be located within instances that are configured for both warmup requests (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#InboundServiceType) and automatic scaling (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#AutomaticScaling). You must specify the shardBy (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services#ShardBy) field in the Service resource. Gradual traffic migration is not supported in the App Engine flexible environment. For examples, see Migrating and Splitting Traffic (https://cloud.google.com/appengine/docs/admin-api/migrating-splitting-traffic).",
                          "type": "boolean",
                          "location": "query"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        },
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "delete": {
                      "path": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes the specified service and all enclosed versions.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}",
                      "parameters": {
                        "servicesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectsId": {
                          "location": "path",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default.",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string"
                        },
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "servicesId"
                      ],
                      "httpMethod": "DELETE",
                      "id": "appengine.projects.locations.applications.services.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "delete": {
                          "description": "Deletes an existing Version resource.",
                          "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/services/{servicesId}/versions/{versionsId}",
                          "parameters": {
                            "servicesId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "type": "string"
                            },
                            "applicationsId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "type": "string"
                            },
                            "versionsId": {
                              "location": "path",
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "type": "string"
                            },
                            "projectsId": {
                              "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/services/default/versions/v1.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "locationsId": {
                              "description": "Part of `name`. See documentation of `projectsId`.",
                              "required": true,
                              "type": "string",
[...]
