{
  "revision": "20260902",
  "ownerName": "Google",
  "title": "App Engine Admin API",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "schemas": {
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "NetworkUtilization": {
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetReceivedPacketsPerSecond": {
          "description": "Target packets received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetSentPacketsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target packets sent per second."
        },
        "targetSentBytesPerSecond": {
          "description": "Target bytes sent per second.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ApiConfigHandler": {
      "properties": {
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "securityLevel": {
          "description": "Security (HTTPS) enforcement for this URL.",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "type": "string"
        },
        "authFailAction": {
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "type": "string"
        },
        "login": {
          "description": "Level of login required to access this resource. Defaults to optional.",
          "type": "string",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "url": {
          "type": "string",
          "description": "URL to serve the endpoint at."
        }
      },
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers.",
      "id": "ApiConfigHandler",
      "type": "object"
    },
    "DiskUtilization": {
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "properties": {
        "targetReadBytesPerSecond": {
          "description": "Target bytes read per second.",
          "type": "integer",
          "format": "int32"
        },
        "targetReadOpsPerSecond": {
          "description": "Target ops read per seconds.",
          "type": "integer",
          "format": "int32"
        },
        "targetWriteOpsPerSecond": {
          "format": "int32",
          "description": "Target ops written per second.",
          "type": "integer"
        },
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        }
      },
      "id": "DiskUtilization"
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        }
      }
    },
    "Runtime": {
      "id": "Runtime",
      "description": "Runtime versions for App Engine.",
      "type": "object",
      "properties": {
        "warnings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Warning messages, e.g., a deprecation warning."
        },
        "stage": {
          "enum": [
            "RUNTIME_STAGE_UNSPECIFIED",
            "DEVELOPMENT",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DECOMMISSIONED",
            "END_OF_SUPPORT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The runtime is in development.",
            "The runtime is in the Alpha stage.",
            "The runtime is in the Beta stage.",
            "The runtime is generally available.",
            "The runtime is deprecated.",
            "The runtime is no longer supported.",
            "The runtime is end of support."
          ],
          "description": "The stage of life this runtime is in, e.g., BETA, GA, etc.",
          "type": "string"
        },
        "endOfSupportDate": {
          "description": "Date when Runtime is end of support.",
          "$ref": "Date"
        },
        "deprecationDate": {
          "description": "Date when Runtime is deprecated.",
          "$ref": "Date"
        },
        "displayName": {
          "description": "User-friendly display name, e.g. 'Node.js 12', etc.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the runtime, e.g., 'go113', 'nodejs12', etc."
        },
        "supportedOperatingSystems": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc."
        },
        "decommissionedDate": {
          "$ref": "Date",
          "description": "Date when Runtime is decommissioned."
        },
        "environment": {
          "type": "string",
          "description": "The environment of the runtime.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "enumDescriptions": [
            "Default value.",
            "App Engine Standard.",
            "App Engine Flexible"
          ]
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: \"us-east1\"."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      }
    },
    "VpcAccess": {
      "description": "VPC Access settings",
      "id": "VpcAccess",
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "type": "array",
          "description": "The Direct VPC configuration. Currently only single network interface is supported.",
          "items": {
            "$ref": "VpcNetworkInterface"
          }
        },
        "vpcEgress": {
          "enum": [
            "VPC_EGRESS_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "enumDescriptions": [
            "No value set; apply default behavior",
            "Force all traffic to egress through the NetworkInterface (and configured VPC Network)",
            "Force all Private IP Space traffic to egress through NetworkInterface (and configured VPC Network)"
          ],
          "type": "string",
          "description": "The traffic egress setting for the VPC network interface, controlling what traffic is diverted through it."
        }
      }
    },
    "EndpointsApiService": {
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "id": "EndpointsApiService",
      "type": "object",
      "properties": {
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        },
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "rolloutStrategy": {
          "type": "string",
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ]
        }
      }
    },
    "VpcNetworkInterface": {
      "type": "object",
      "id": "VpcNetworkInterface",
      "description": "Network interface key message.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The VPC network that the App Engine resource will be able to send traffic to. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If network is not specified, it will be looked up from the subnetwork. Could be either a short name or a full path. e.g. {VPC_NETWORK} or projects/{HOST_PROJECT_ID}/global/networks/{VPC_NETWORK}"
        },
        "tags": {
          "description": "Optional. The network tags that will be applied to this App Engine resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subnet": {
          "description": "Optional. The VPC subnetwork that the App Engine resource will get IPs from. At least one of network or subnetwork must be specified. If both network and subnetwork are specified, the given VPC subnetwork must belong to the given VPC network. If subnetwork is not specified, the subnetwork with the same name with the network will be used. Could be either a short name or a full path. e.g. {SUBNET_NAME} or projects/{HOST_PROJECT_ID}/regions/{REGION}/subnetworks/{SUBNET_NAME}",
          "type": "string"
        }
      }
    },
    "AuthorizedDomain": {
      "properties": {
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        },
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome)."
    },
    "ScriptHandler": {
      "id": "ScriptHandler",
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "type": "string",
          "description": "Path to the script from the application root directory."
        }
      }
    },
    "BasicScaling": {
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
      "id": "BasicScaling",
      "type": "object",
      "properties": {
        "maxInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of instances to create for this version."
        },
        "idleTimeout": {
          "type": "string",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down.",
          "format": "google-duration"
        }
      }
    },
    "ListRuntimesResponse": {
      "description": "Response message for Applications.ListRuntimes.",
      "properties": {
        "runtimes": {
          "description": "The runtimes available to the requested application.",
          "type": "array",
          "items": {
            "$ref": "Runtime"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListRuntimesResponse",
      "type": "object"
    },
    "CustomMetric": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Allows filtering on the metric's fields."
        },
        "singleInstanceAssignment": {
          "format": "double",
          "description": "May be used instead of target_utilization when an instance can handle a specific amount of work/resources and the metric value is equal to the current amount of work remaining. The autoscaler will try to keep the number of instances equal to the metric value divided by single_instance_assignment.",
          "type": "number"
        },
        "metricName": {
          "type": "string",
          "description": "The name of the metric."
        },
        "targetUtilization": {
          "format": "double",
          "type": "number",
          "description": "The target value for the metric."
        },
        "targetType": {
          "type": "string",
          "description": "The type of the metric. Must be a string representing a Stackdriver metric type e.g. GAGUE, DELTA_PER_SECOND, etc."
        }
      },
      "description": "Allows autoscaling based on Stackdriver metrics.",
      "type": "object",
      "id": "CustomMetric"
    },
    "CreateVersionMetadataV1Beta": {
      "id": "CreateVersionMetadataV1Beta",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "type": "object",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest."
    },
    "FileInfo": {
      "type": "object",
      "id": "FileInfo",
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately.",
      "properties": {
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage."
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "UrlDispatchRule": {
      "properties": {
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
        },
        "path": {
          "type": "string",
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters."
        }
      },
      "id": "UrlDispatchRule",
      "type": "object",
      "description": "Rules to match an HTTP request and dispatch that request to a service."
    },
    "BatchUpdateIngressRulesResponse": {
      "description": "Response message for Firewall.UpdateAllIngressRules.",
      "type": "object",
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The full list of ingress FirewallRules for this application.",
          "type": "array"
        }
      },
      "id": "BatchUpdateIngressRulesResponse"
    },
    "ExportAppImageRequest": {
      "id": "ExportAppImageRequest",
      "description": "Request message for Versions.ExportAppImage.",
      "properties": {
        "destinationRepository": {
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        }
      }
    },
    "OperationMetadataV1Beta": {
      "type": "object",
      "properties": {
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Beta"
    },
    "ProjectEvent": {
      "properties": {
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the organization that led to this event."
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "eventId": {
          "type": "string",
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required"
        },
        "phase": {
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "type": "string"
        }
      },
      "description": "The request sent to CLHs during project events.",
      "type": "object",
      "id": "ProjectEvent"
    },
    "FlexibleRuntimeSettings": {
      "description": "Runtime settings for the App Engine flexible environment.",
      "id": "FlexibleRuntimeSettings",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "The operating system of the application runtime."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "The runtime version of an App Engine flexible application."
        }
      }
    },
    "Entrypoint": {
      "id": "Entrypoint",
      "type": "object",
      "description": "The entrypoint for the application.",
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      }
    },
    "ZipInfo": {
      "properties": {
        "filesCount": {
          "type": "integer",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
          "format": "int32"
        },
        "sourceUrl": {
          "type": "string",
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        }
      },
      "type": "object",
      "description": "The zip file information for a zip deployment.",
      "id": "ZipInfo"
    },
    "UrlMap": {
      "id": "UrlMap",
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "type": "object",
      "properties": {
        "staticFiles": {
          "$ref": "StaticFilesHandler",
          "description": "Returns the contents of a file, such as an image, as the response."
        },
        "urlRegex": {
          "type": "string",
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path."
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "type": "string"
        },
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "type": "string"
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "script": {
          "$ref": "ScriptHandler",
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
        },
        "redirectHttpResponseCode": {
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ],
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "type": "string",
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302."
        },
        "authFailAction": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect."
        }
      }
    },
    "ListIngressRulesResponse": {
      "description": "Response message for Firewall.ListIngressRules.",
      "properties": {
        "ingressRules": {
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The ingress FirewallRules for this application.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListIngressRulesResponse",
      "type": "object"
    },
    "DomainMapping": {
      "type": "object",
      "id": "DomainMapping",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "resourceRecords": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "items": {
            "$ref": "ResourceRecord"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string"
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        }
      }
    },
    "StandardSchedulerSettings": {
      "type": "object",
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "properties": {
        "minInstances": {
          "type": "integer",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "format": "int32"
        },
        "maxInstances": {
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration.",
          "format": "int32",
          "type": "integer"
        },
        "targetThroughputUtilization": {
          "description": "Target throughput utilization ratio to maintain when scaling",
          "type": "number",
          "format": "double"
        },
        "targetCpuUtilization": {
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "type": "number",
          "format": "double"
        }
      }
    },
    "BatchUpdateIngressRulesRequest": {
      "type": "object",
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "A list of FirewallRules to replace the existing set."
        }
      },
      "id": "BatchUpdateIngressRulesRequest",
      "description": "Request message for Firewall.BatchUpdateIngressRules."
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "id": "GoogleAppengineV1betaLocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "searchApiAvailable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FeatureSettings": {
      "type": "object",
      "properties": {
        "useContainerOptimizedOs": {
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
          "type": "boolean"
        },
        "splitHealthChecks": {
          "type": "boolean",
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed."
        }
      },
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable.",
      "id": "FeatureSettings"
    },
    "CpuUtilization": {
      "properties": {
        "aggregationWindowLength": {
          "type": "string",
          "description": "Period of time over which CPU utilization is calculated.",
          "format": "google-duration"
        },
        "targetUtilization": {
          "format": "double",
          "type": "number",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
        }
      },
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage.",
      "type": "object"
    },
    "ListVersionsResponse": {
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The versions belonging to the requested service."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "Response message for Versions.ListVersions."
    },
    "ManagedCertificate": {
      "description": "A certificate managed by App Engine.",
      "id": "ManagedCertificate",
      "properties": {
        "status": {
          "type": "string",
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly"
        },
        "lastRenewalTime": {
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Network": {
      "properties": {
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        },
        "subnetworkName": {
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application.",
          "type": "string"
        },
        "instanceIpMode": {
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ],
          "type": "string",
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ]
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "forwardedPorts": {
          "type": "array",
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default.",
          "type": "string"
        }
      },
      "id": "Network",
      "type": "object",
      "description": "Extra network settings. Only applicable in the App Engine flexible environment."
    },
    "ManualScaling": {
      "id": "ManualScaling",
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "type": "object",
      "properties": {
        "instances": {
          "type": "integer",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function.",
          "format": "int32"
        }
      }
    },
    "CertificateRawData": {
      "description": "An SSL certificate obtained from a certificate authority.",
      "id": "CertificateRawData",
      "properties": {
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        },
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AuthorizedCertificate": {
      "type": "object",
      "id": "AuthorizedCertificate",
      "properties": {
        "domainNames": {
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "visibleDomainMappings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "displayName": {
          "type": "string",
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate."
        },
        "expireTime": {
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "type": "string",
          "format": "google-datetime"
        },
        "domainMappingsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "id": {
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly",
          "type": "string"
        },
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "managedCertificate": {
          "$ref": "ManagedCertificate",
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly"
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "ResourceRecord": {
      "id": "ResourceRecord",
      "description": "A DNS resource record.",
      "properties": {
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        },
        "type": {
          "type": "string",
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        },
        "name": {
          "type": "string",
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'."
        }
      },
      "type": "object"
    },
    "RequestUtilization": {
      "properties": {
        "targetConcurrentRequests": {
          "description": "Target number of concurrent requests.",
          "type": "integer",
          "format": "int32"
        },
        "targetRequestCountPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target requests per second."
        }
      },
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment.",
      "id": "RequestUtilization",
      "type": "object"
    },
    "ApiEndpointHandler": {
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "id": "ApiEndpointHandler",
      "description": "Uses Google Cloud Endpoints to handle requests."
    },
    "ContainerState": {
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "id": "ContainerState",
      "properties": {
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        },
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container."
        }
      },
      "type": "object"
    },
    "ListDomainMappingsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "domainMappings": {
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          },
          "description": "The domain mappings for the application."
        }
      },
      "type": "object",
      "id": "ListDomainMappingsResponse",
      "description": "Response message for DomainMappings.ListDomainMappings."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        }
      }
    },
    "NetworkSettings": {
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "type": "object",
      "properties": {
        "ingressTrafficAllowed": {
          "description": "The ingress settings for version or service.",
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ],
          "type": "string",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ]
        }
      },
      "id": "NetworkSettings"
    },
    "Service": {
      "type": "object",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly"
        },
        "generatedCustomerMetadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
        },
        "name": {
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "split": {
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
          "$ref": "TrafficSplit"
        },
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        }
      },
      "id": "Service"
    },
    "RepairApplicationRequest": {
      "type": "object",
      "description": "Request message for 'Applications.RepairApplication'.",
      "id": "RepairApplicationRequest",
      "properties": {}
    },
    "CreateVersionMetadataV1": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      },
      "id": "CreateVersionMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "Deployment": {
      "properties": {
        "build": {
          "$ref": "BuildInfo",
          "description": "Google Cloud Build build information. Only applicable for instances running in the App Engine flexible environment."
        },
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        },
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "files": {
          "additionalProperties": {
            "$ref": "FileInfo"
          },
          "type": "object",
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call."
        },
        "cloudBuildOptions": {
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
          "$ref": "CloudBuildOptions"
        }
      },
      "type": "object",
      "id": "Deployment",
      "description": "Code and application artifacts used to deploy a version to App Engine."
    },
    "DebugInstanceRequest": {
      "description": "Request message for Instances.DebugInstance.",
      "type": "object",
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "id": "DebugInstanceRequest"
    },
    "AutomaticScaling": {
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Target scaling by user-provided metrics. Only applicable in the App Engine flexible environment."
        },
        "minIdleInstances": {
          "type": "integer",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "format": "int32"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "coolDownPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment."
        },
        "maxIdleInstances": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of idle instances that should be maintained for this version."
        },
        "minPendingLatency": {
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it.",
          "format": "google-duration",
          "type": "string"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "maxConcurrentRequests": {
          "format": "int32",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "type": "integer"
        },
        "maxPendingLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it."
        },
        "requestUtilization": {
          "description": "Target scaling by request utilization.",
          "$ref": "RequestUtilization"
        },
        "maxTotalInstances": {
          "description": "Maximum number of instances that should be started to handle requests for this version.",
          "type": "integer",
          "format": "int32"
        },
        "standardSchedulerSettings": {
          "description": "Scheduler settings for standard environment.",
          "$ref": "StandardSchedulerSettings"
        },
        "diskUtilization": {
          "$ref": "DiskUtilization",
          "description": "Target scaling by disk usage."
        },
        "minTotalInstances": {
          "type": "integer",
          "description": "Minimum number of running instances that should be maintained for this version.",
          "format": "int32"
        }
      },
      "id": "AutomaticScaling",
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "type": "object"
    },
    "Application": {
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "id": "Application",
      "properties": {
        "generatedCustomerMetadata": {
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "gcrDomain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application."
        },
        "sslPolicy": {
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ],
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ],
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "type": "string"
        },
        "servingStatus": {
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "description": "Serving status of this application.",
          "type": "string",
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ]
        },
        "defaultCookieExpiration": {
          "type": "string",
          "format": "google-duration",
          "description": "Cookie expiration policy for this application."
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "databaseType": {
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ]
        },
        "defaultHostname": {
          "type": "string",
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
        },
        "defaultBucket": {
          "readOnly": true,
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "type": "string"
        },
        "locationId": {
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "featureSettings": {
          "$ref": "FeatureSettings",
          "description": "The feature specific settings to be used in the application."
        },
        "codeBucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "dispatchRules": {
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported.",
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Volume": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name for the volume."
        },
        "volumeType": {
          "type": "string",
          "description": "Underlying volume type, e.g. 'tmpfs'."
        },
        "sizeGb": {
          "format": "double",
          "type": "number",
          "description": "Volume size in gigabytes."
        }
      },
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "id": "Volume"
    },
    "CloudBuildOptions": {
      "type": "object",
      "description": "Options for the build operations performed as a part of the version deployment. Only applicable for App Engine flexible environment when creating a version using source code directly.",
      "id": "CloudBuildOptions",
      "properties": {
        "appYamlPath": {
          "type": "string",
          "description": "Path to the yaml file used in deployment, used to determine runtime configuration details.Required for flexible environment builds.See https://cloud.google.com/appengine/docs/standard/python/config/appref for more details."
        },
        "cloudBuildTimeout": {
          "format": "google-duration",
          "description": "The Cloud Build timeout used as part of any dependent builds performed by version creation. Defaults to 10 minutes.",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Alpha",
      "properties": {
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Date": {
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
      "id": "Date"
    },
    "LivenessCheck": {
      "properties": {
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        },
        "initialDelay": {
          "description": "The initial delay before starting to execute the checks.",
          "format": "google-duration",
          "type": "string"
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "type": "integer",
          "format": "uint32"
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "format": "google-duration",
          "type": "string"
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "LivenessCheck",
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "properties": {}
    },
    "GceTag": {
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "type": "object",
      "id": "GceTag",
      "properties": {
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        },
        "parent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
        }
      }
    },
    "StaticFilesHandler": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension."
        },
        "path": {
          "type": "string",
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern."
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "httpHeaders": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "HTTP headers to use for all responses from these URLs."
        },
        "applicationReadable": {
          "type": "boolean",
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
        },
        "expiration": {
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string",
          "format": "google-duration"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        }
      },
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "ProjectsMetadata": {
      "id": "ProjectsMetadata",
      "properties": {
        "tenantProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "The tenant project number."
        },
        "consumerProjectNumber": {
          "description": "The consumer project number.",
          "type": "string",
          "format": "int64"
        },
        "isGceProjectDeprovisioning": {
          "type": "boolean",
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "deprecated": true
        },
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
        },
        "producerProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "The producer project number."
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "gceTag": {
          "type": "array",
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "items": {
            "$ref": "GceTag"
          }
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "consumerProjectState": {
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "type": "string"
        },
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        }
      },
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object"
    },
    "ReadinessCheck": {
      "properties": {
        "timeout": {
          "description": "Time before the check is considered failed.",
          "type": "string",
          "format": "google-duration"
        },
        "checkInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "Interval between health checks."
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "host": {
          "type": "string",
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\""
        },
        "failureThreshold": {
          "description": "Number of consecutive failed checks required before removing traffic.",
          "type": "integer",
          "format": "uint32"
        },
        "appStartTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic."
        }
      },
      "id": "ReadinessCheck",
      "type": "object",
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation."
    },
    "ResourceEvent": {
      "type": "object",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "id": "ResourceEvent",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
        },
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the project that led to this event."
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        }
      }
    },
    "Version": {
      "id": "Version",
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "properties": {
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "deprecated": true,
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set."
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "name": {
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\"."
        },
        "betaSettings": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "type": "object"
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "network": {
          "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
          "$ref": "Network"
        },
        "threadsafe": {
          "type": "boolean",
          "description": "Whether multiple requests can be dispatched to this version at once."
        },
        "runtime": {
          "type": "string",
          "description": "Desired runtime. Example: python27."
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances",
          "$ref": "LivenessCheck"
        },
        "buildEnvVariables": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.",
          "$ref": "ReadinessCheck"
        },
        "versionUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
        },
        "entrypoint": {
          "$ref": "Entrypoint",
          "description": "The entrypoint for the application."
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time that this version was created.@OutputOnly"
        },
        "automaticScaling": {
          "$ref": "AutomaticScaling",
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic."
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1beta/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "type": "string"
        },
        "instanceClass": {
          "type": "string",
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling."
        },
        "appEngineBundledServices": {
          "description": "List of specific App Engine Bundled Services that are enabled for this Version.",
          "type": "array",
          "items": {
            "enum": [
              "BUNDLED_SERVICE_TYPE_UNSPECIFIED",
              "BUNDLED_SERVICE_TYPE_APP_IDENTITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_BLOBSTORE",
              "BUNDLED_SERVICE_TYPE_CAPABILITY_SERVICE",
              "BUNDLED_SERVICE_TYPE_DATASTORE_V3",
              "BUNDLED_SERVICE_TYPE_DEFERRED",
              "BUNDLED_SERVICE_TYPE_IMAGES",
              "BUNDLED_SERVICE_TYPE_MAIL",
              "BUNDLED_SERVICE_TYPE_MEMCACHE",
              "BUNDLED_SERVICE_TYPE_MODULES",
              "BUNDLED_SERVICE_TYPE_NAMESPACES",
              "BUNDLED_SERVICE_TYPE_NDB",
              "BUNDLED_SERVICE_TYPE_SEARCH",
              "BUNDLED_SERVICE_TYPE_TASKQUEUES",
              "BUNDLED_SERVICE_TYPE_URLFETCH",
              "BUNDLED_SERVICE_TYPE_USERS"
            ],
            "enumDescriptions": [
              "Default, invalid value",
              "App Identity Service",
              "Blobstore",
              "Capability Service",
              "Datastore V3",
              "Deferred",
              "Images",
              "Mail",
              "Memcache",
              "Modules",
              "Namespaces",
              "NDB",
              "Search",
              "Task Queues",
              "URL Fetch",
              "Users"
            ],
            "type": "string"
          }
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          },
          "type": "array"
        },
        "diskUsageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "readOnly": true
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "envVariables": {
          "type": "object",
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorHandlers": {
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          },
[...]
