{
  "version": "v1",
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "id": "apphub:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://apphub.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "baseUrl": "https://apphub.googleapis.com/",
  "batchPath": "batch",
  "description": "App Hub lets you build, operate, and manage applications on Google Cloud.",
  "ownerName": "Google",
  "revision": "20260904",
  "schemas": {
    "Binding": {
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "LookupServiceProjectAttachmentResponse": {
      "description": "Response for LookupServiceProjectAttachment.",
      "type": "object",
      "properties": {
        "serviceProjectAttachment": {
          "description": "Service project attachment for a project if exists, empty otherwise.",
          "$ref": "ServiceProjectAttachment"
        }
      },
      "id": "LookupServiceProjectAttachmentResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "DiscoveredWorkload": {
      "type": "object",
      "properties": {
        "workloadReference": {
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "readOnly": true,
          "$ref": "WorkloadReference"
        },
        "workloadProperties": {
          "readOnly": true,
          "$ref": "WorkloadProperties",
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable."
        },
        "name": {
          "description": "Identifier. The resource name of the discovered workload. Format: `\"projects/{host-project-id}/locations/{location}/discoveredWorkloads/{uuid}\"`",
          "type": "string"
        }
      },
      "description": "DiscoveredWorkload is a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality. A discovered workload can be registered to an App Hub Workload.",
      "id": "DiscoveredWorkload"
    },
    "FunctionalType": {
      "id": "FunctionalType",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Agent type.",
            "MCP Server type.",
            "Endpoint type."
          ],
          "description": "Output only. The functional type of a service or workload.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "AGENT",
            "MCP_SERVER",
            "ENDPOINT"
          ]
        }
      },
      "description": "The functional type of a service or workload."
    },
    "ListExtendedMetadataSchemasResponse": {
      "type": "object",
      "properties": {
        "extendedMetadataSchemas": {
          "items": {
            "$ref": "ExtendedMetadataSchema"
          },
          "description": "List of Extended Metadata Schemas.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Response for ListExtendedMetadataSchemas.",
      "id": "ListExtendedMetadataSchemasResponse"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "Environment": {
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRODUCTION",
            "STAGING",
            "TEST",
            "DEVELOPMENT"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Production environment.",
            "Staging environment.",
            "Test environment.",
            "Development environment."
          ],
          "description": "Required. Environment Type."
        }
      },
      "id": "Environment",
      "description": "Environment of the Application, Service, or Workload",
      "type": "object"
    },
    "Application": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "The Application is being created.",
            "The Application is ready to register Services and Workloads.",
            "The Application is being deleted."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Application state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`"
        },
        "uid": {
          "description": "Output only. A universally unique identifier (in UUID4 format) for the `Application`.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-defined description of an Application. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. Defines what data can be included into this Application. Limits which Services and Workloads can be registered.",
          "$ref": "Scope"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "displayName": {
          "description": "Optional. User-defined name for the Application. Can have a maximum length of 63 characters.",
          "type": "string"
        }
      },
      "description": "Application defines the governance boundary for App Hub entities that perform a logical end-to-end business function. App Hub supports application level IAM permission to align with governance requirements.",
      "id": "Application"
    },
    "ServiceProperties": {
      "properties": {
        "gcpProject": {
          "type": "string",
          "description": "Output only. The service project identifier that the underlying cloud resource resides in.",
          "readOnly": true
        },
        "functionalType": {
          "description": "Output only. The type of the service.",
          "$ref": "FunctionalType",
          "readOnly": true
        },
        "location": {
          "readOnly": true,
          "description": "Output only. The location that the underlying resource resides in, for example, us-west1.",
          "type": "string"
        },
        "registrationType": {
          "$ref": "RegistrationType",
          "readOnly": true,
          "description": "Output only. The registration type of the service."
        },
        "zone": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location that the underlying resource resides in if it is zonal, for example, us-west1-a)."
        },
        "extendedMetadata": {
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        },
        "identity": {
          "description": "Output only. The identity associated with the service.",
          "readOnly": true,
          "$ref": "Identity"
        }
      },
      "description": "Properties of an underlying cloud resource that can comprise a Service.",
      "id": "ServiceProperties",
      "type": "object"
    },
    "ExtendedMetadataSchema": {
      "description": "ExtendedMetadataSchema represents a schema for extended metadata of a service or workload.",
      "id": "ExtendedMetadataSchema",
      "properties": {
        "schemaVersion": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the schema. New versions are required to be backwards compatible."
        },
        "jsonSchema": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The JSON schema as a string."
        },
        "name": {
          "description": "Identifier. Resource name of the schema. Format: projects//locations//extendedMetadataSchemas/",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListApplicationsResponse": {
      "id": "ListApplicationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "applications": {
          "description": "List of Applications.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        }
      },
      "description": "Response for ListApplications.",
      "type": "object"
    },
    "Criticality": {
      "type": "object",
      "description": "Criticality of the Application, Service, or Workload",
      "id": "Criticality",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "MISSION_CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "Required. Criticality Type.",
          "enumDescriptions": [
            "Unspecified type.",
            "Mission critical service, application or workload.",
            "High impact.",
            "Medium impact.",
            "Low impact."
          ]
        }
      }
    },
    "ListDiscoveredServicesResponse": {
      "description": "Response for ListDiscoveredServices.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "discoveredServices": {
          "items": {
            "$ref": "DiscoveredService"
          },
          "description": "List of Discovered Services.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDiscoveredServicesResponse"
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
        },
        "logType": {
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "type": "object"
    },
    "ListDiscoveredWorkloadsResponse": {
      "type": "object",
      "id": "ListDiscoveredWorkloadsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "discoveredWorkloads": {
          "type": "array",
          "description": "List of Discovered Workloads.",
          "items": {
            "$ref": "DiscoveredWorkload"
          }
        }
      },
      "description": "Response for ListDiscoveredWorkloads."
    },
    "ListServiceProjectAttachmentsResponse": {
      "id": "ListServiceProjectAttachmentsResponse",
      "type": "object",
      "description": "Response for ListServiceProjectAttachments.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "serviceProjectAttachments": {
          "description": "List of service project attachments.",
          "items": {
            "$ref": "ServiceProjectAttachment"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContactInfo": {
      "type": "object",
      "id": "ContactInfo",
      "properties": {
        "email": {
          "description": "Required. Email address of the contacts.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Contact's name. Can have a maximum length of 63 characters."
        }
      },
      "description": "Contact information of stakeholders."
    },
    "Workload": {
      "description": "Workload is an App Hub data model that contains a discovered workload, which represents a binary deployment (such as managed instance groups (MIGs) and GKE deployments) that performs the smallest logical subset of business functionality.",
      "id": "Workload",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. Workload state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The Workload is being created.",
            "The Workload is ready.",
            "The Workload is being deleted.",
            "The underlying compute resources have been deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        },
        "attributes": {
          "description": "Optional. Consumer provided attributes.",
          "$ref": "Attributes"
        },
        "name": {
          "description": "Identifier. The resource name of the Workload. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/workloads/{workload-id}\"`",
          "type": "string"
        },
        "description": {
          "description": "Optional. User-defined description of a Workload. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Workload. Can have a maximum length of 63 characters."
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Workload` in the UUID4 format."
        },
        "workloadReference": {
          "description": "Output only. Reference of an underlying compute resource represented by the Workload. These are immutable.",
          "$ref": "WorkloadReference",
          "readOnly": true
        },
        "workloadProperties": {
          "readOnly": true,
          "$ref": "WorkloadProperties",
          "description": "Output only. Properties of an underlying compute resource represented by the Workload. These are immutable."
        },
        "discoveredWorkload": {
          "description": "Required. Immutable. The resource name of the original discovered workload.",
          "type": "string"
        }
      }
    },
    "ExtendedMetadata": {
      "type": "object",
      "description": "Additional metadata for a Service or Workload.",
      "properties": {
        "metadataStruct": {
          "description": "Output only. The metadata contents.",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      },
      "id": "ExtendedMetadata"
    },
    "Policy": {
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array",
          "items": {
            "$ref": "AuditConfig"
          }
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "id": "Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "id": "AuditConfig",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Service": {
      "type": "object",
      "description": "Service is an App Hub data model that contains a discovered service, which represents a network or API interface that exposes some functionality to clients for consumption over the network.",
      "id": "Service",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. User-defined name for the Service. Can have a maximum length of 63 characters."
        },
        "serviceProperties": {
          "$ref": "ServiceProperties",
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-defined description of a Service. Can have a maximum length of 2048 characters.",
          "type": "string"
        },
        "discoveredService": {
          "description": "Required. Immutable. The resource name of the original discovered service.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of a Service. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}/services/{service-id}\"`",
          "type": "string"
        },
        "attributes": {
          "$ref": "Attributes",
          "description": "Optional. Consumer provided attributes."
        },
        "serviceReference": {
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceReference",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The service is being created.",
            "The service is ready.",
            "The service is being deleted.",
            "The underlying networking resources have been deleted."
          ],
          "description": "Output only. Service state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "DETACHED"
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A universally unique identifier (UUID) for the `Service` in the UUID4 format."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time."
        }
      }
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method."
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "OperationMetadata"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string"
        },
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      },
      "id": "SetIamPolicyRequest"
    },
    "Scope": {
      "id": "Scope",
      "properties": {
        "type": {
          "description": "Required. Scope Type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "REGIONAL",
            "GLOBAL"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Regional type.",
            "Global type."
          ]
        }
      },
      "type": "object",
      "description": "Scope of an application."
    },
    "ListServicesResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "services": {
          "items": {
            "$ref": "Service"
          },
          "description": "List of Services.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for ListServices.",
      "type": "object",
      "id": "ListServicesResponse"
    },
    "Boundary": {
      "id": "Boundary",
      "description": "Application management boundary.",
      "type": "object",
      "properties": {
        "crmNode": {
          "description": "Optional. The resource name of the CRM node being attached to the boundary. Format: `projects/{project-number}` or `projects/{project-id}`",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the boundary. Format: \"projects/{project}/locations/{location}/boundary\"",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL",
            "MANAGED_AUTOMATIC"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The Boundary automatically includes all descendants of the CRM node.",
            "The list of projects within the Boundary is managed by the user.",
            "The Boundary automatically includes all descendants of the CRM node, which is set via App Management folder capability."
          ],
          "type": "string",
          "description": "Output only. Boundary type.",
          "readOnly": true
        }
      }
    },
    "LookupDiscoveredServiceResponse": {
      "properties": {
        "discoveredService": {
          "description": "Discovered Service if exists, empty otherwise.",
          "$ref": "DiscoveredService"
        }
      },
      "type": "object",
      "description": "Response for LookupDiscoveredService.",
      "id": "LookupDiscoveredServiceResponse"
    },
    "ServiceReference": {
      "type": "object",
      "id": "ServiceReference",
      "description": "Reference to an underlying networking resource that can comprise a Service.",
      "properties": {
        "uri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The underlying resource URI. For example, URI of Forwarding Rule, URL Map, and Backend Service."
        }
      }
    },
    "ServiceProjectAttachment": {
      "type": "object",
      "id": "ServiceProjectAttachment",
      "description": "ServiceProjectAttachment represents an attachment from a service project to a host project. Service projects contain the underlying cloud infrastructure resources, and expose these resources to the host project through a ServiceProjectAttachment. With the attachments, the host project can provide an aggregated view of resources across all service projects.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. ServiceProjectAttachment state.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "The ServiceProjectAttachment is being created.",
            "The ServiceProjectAttachment is ready. This means Services and Workloads under the corresponding ServiceProjectAttachment is ready for registration.",
            "The ServiceProjectAttachment is being deleted."
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A globally unique identifier (in UUID4 format) for the `ServiceProjectAttachment`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time."
        },
        "serviceProject": {
          "description": "Required. Immutable. Service project name in the format: `\"projects/abc\"` or `\"projects/123\"`. As input, project name with either project id or number are accepted. As output, this field will contain project number.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of a ServiceProjectAttachment. Format: `\"projects/{host-project-id}/locations/global/serviceProjectAttachments/{service-project-id}.\"`"
        }
      }
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        }
      }
    },
    "ReconciliationOperationMetadata": {
      "description": "Operation metadata returned by the CLH during resource state reconciliation.",
      "properties": {
        "exclusiveAction": {
          "enumDescriptions": [
            "Unknown repair action.",
            "The resource has to be deleted. When using this bit, the CLH should fail the operation. DEPRECATED. Instead use DELETE_RESOURCE OperationSignal in SideChannel.",
            "This resource could not be repaired but the repair should be tried again at a later time. This can happen if there is a dependency that needs to be resolved first- e.g. if a parent resource must be repaired before a child resource."
          ],
          "description": "Excluisive action returned by the CLH.",
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            false
          ],
          "enum": [
            "UNKNOWN_REPAIR_ACTION",
            "DELETE",
            "RETRY"
          ]
        },
        "deleteResource": {
          "type": "boolean",
          "deprecated": true,
          "description": "DEPRECATED. Use exclusive_action instead."
        }
      },
      "id": "ReconciliationOperationMetadata",
      "type": "object"
    },
    "LookupDiscoveredWorkloadResponse": {
      "id": "LookupDiscoveredWorkloadResponse",
      "type": "object",
      "description": "Response for LookupDiscoveredWorkload.",
      "properties": {
        "discoveredWorkload": {
          "$ref": "DiscoveredWorkload",
          "description": "Discovered Workload if exists, empty otherwise."
        }
      }
    },
    "Attributes": {
      "type": "object",
      "description": "Consumer provided attributes.",
      "id": "Attributes",
      "properties": {
        "environment": {
          "description": "Optional. User-defined environment information.",
          "$ref": "Environment"
        },
        "criticality": {
          "$ref": "Criticality",
          "description": "Optional. User-defined criticality information."
        },
        "businessOwners": {
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Business team that ensures user needs are met and value is delivered",
          "type": "array"
        },
        "operatorOwners": {
          "type": "array",
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Operator team that ensures runtime and operations."
        },
        "developerOwners": {
          "items": {
            "$ref": "ContactInfo"
          },
          "description": "Optional. Developer team that owns development and coding.",
          "type": "array"
        }
      }
    },
    "WorkloadReference": {
      "type": "object",
      "id": "WorkloadReference",
      "description": "Reference of an underlying compute resource represented by the Workload.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Output only. The underlying compute resource uri.",
          "readOnly": true
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "DetachServiceProjectAttachmentResponse": {
      "description": "Response for DetachServiceProjectAttachment.",
      "type": "object",
      "properties": {},
      "id": "DetachServiceProjectAttachmentResponse"
    },
    "DetachServiceProjectAttachmentRequest": {
      "description": "Request for DetachServiceProjectAttachment.",
      "properties": {},
      "type": "object",
      "id": "DetachServiceProjectAttachmentRequest"
    },
    "DiscoveredService": {
      "id": "DiscoveredService",
      "description": "DiscoveredService is a network or API interface that exposes some functionality to clients for consumption over the network. A discovered service can be registered to a App Hub service.",
      "type": "object",
      "properties": {
        "serviceProperties": {
          "readOnly": true,
          "description": "Output only. Properties of an underlying compute resource that can comprise a Service. These are immutable.",
          "$ref": "ServiceProperties"
        },
        "serviceReference": {
          "$ref": "ServiceReference",
          "description": "Output only. Reference to an underlying networking resource that can comprise a Service. These are immutable.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the discovered service. Format: `\"projects/{host-project-id}/locations/{location}/discoveredServices/{uuid}\"`"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "WorkloadProperties": {
      "type": "object",
      "properties": {
        "identity": {
          "$ref": "Identity",
          "readOnly": true,
          "description": "Output only. The identity associated with the workload."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The location that the underlying compute resource resides in (for example, us-west1)."
        },
        "zone": {
          "description": "Output only. The location that the underlying compute resource resides in if it is zonal (for example, us-west1-a).",
          "type": "string",
          "readOnly": true
        },
        "functionalType": {
          "description": "Output only. The type of the workload.",
          "readOnly": true,
          "$ref": "FunctionalType"
        },
        "gcpProject": {
          "type": "string",
          "description": "Output only. The service project identifier that the underlying cloud resource resides in. Empty for non-cloud resources.",
          "readOnly": true
        },
        "extendedMetadata": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "$ref": "ExtendedMetadata"
          },
          "description": "Output only. Additional metadata specific to the resource type. The key is a string that identifies the type of metadata and the value is the metadata contents specific to that type. Key format: `apphub.googleapis.com/{metadataType}`"
        }
      },
      "id": "WorkloadProperties",
      "description": "Properties of an underlying compute resource represented by the Workload."
    },
    "Identity": {
      "properties": {
        "principal": {
          "description": "Output only. The principal of the identity. Supported formats: * `sa://my-sa@PROJECT_ID.iam.gserviceaccount.com` for GCP Service Account * `principal://POOL_ID.global.PROJECT_NUMBER.workload.id.goog/ns/NAMESPACE_ID/sa/MANAGED_IDENTITY_ID` for Managed Workload Identity",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The identity associated with a service or workload.",
      "id": "Identity",
      "type": "object"
    },
    "RegistrationType": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The registration type of a service.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "EXCLUSIVE",
            "SHARED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified registration type. Defaults to EXCLUSIVE.",
            "The service can only be registered to one application.",
            "The service can be registered to multiple applications."
          ]
        }
      },
      "description": "The registration type of a service.",
      "id": "RegistrationType"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method."
    },
    "ListWorkloadsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "workloads": {
          "items": {
            "$ref": "Workload"
          },
          "description": "List of Workloads.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "type": "object",
      "description": "Response for ListWorkloads.",
      "id": "ListWorkloadsResponse"
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "canonicalName": "App Hub",
  "title": "App Hub API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/app-hub/docs/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "apphub.projects.locations.operations.list",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "apphub.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "delete": {
                  "id": "apphub.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "apphub.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "discoveredWorkloads": {
              "methods": {
                "lookup": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads:lookup",
                  "response": {
                    "$ref": "LookupDiscoveredWorkloadResponse"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Host project ID and location to lookup Discovered Workload in. Expected format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true
                    },
                    "uri": {
                      "description": "Required. Resource URI to find Discovered Workload for. Accepts both project number and project ID and does translation when needed.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "id": "apphub.projects.locations.discoveredWorkloads.lookup",
                  "description": "Lists a Discovered Workload in a host project and location, with a given resource URI.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/discoveredWorkloads:lookup",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apphub.projects.locations.discoveredWorkloads.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "DiscoveredWorkload"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads/{discoveredWorkloadsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredWorkloads/[^/]+$",
                      "description": "Required. Fully qualified name of the Discovered Workload to fetch. Expected format: `projects/{project}/locations/{location}/discoveredWorkloads/{discoveredWorkload}`."
                    }
                  },
                  "description": "Gets a Discovered Workload in a host project and location."
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredWorkloads",
                  "description": "Lists Discovered Workloads that can be added to an Application in a host project and location.",
                  "response": {
                    "$ref": "ListDiscoveredWorkloadsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/discoveredWorkloads",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Project and location to list Discovered Workloads on. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Hint for how to order the results."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apphub.projects.locations.discoveredWorkloads.list"
                }
              }
            },
            "serviceProjectAttachments": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}",
                  "id": "apphub.projects.locations.serviceProjectAttachments.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Fully qualified name of the service project attachment to delete. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a service project attachment."
                },
                "list": {
                  "path": "v1/{+parent}/serviceProjectAttachments",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Host project ID and location to list service project attachments. Only global location is supported. Expected format: `projects/{project}/locations/{location}`."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apphub.projects.locations.serviceProjectAttachments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListServiceProjectAttachmentsResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "description": "Lists service projects attached to the host project."
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ServiceProjectAttachment"
                  },
                  "id": "apphub.projects.locations.serviceProjectAttachments.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Attaches a service project to the host project.",
                  "path": "v1/{+parent}/serviceProjectAttachments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Host project ID and location to which service project is being attached. Only global location is supported. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "serviceProjectAttachmentId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The service project attachment identifier must contain the project id of the service project specified in the service_project_attachment.service_project field."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Fully qualified name of the service project attachment to retrieve. Expected format: `projects/{project}/locations/{location}/serviceProjectAttachments/{serviceProjectAttachment}`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/serviceProjectAttachments/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "apphub.projects.locations.serviceProjectAttachments.get",
                  "description": "Gets a service project attachment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ServiceProjectAttachment"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/serviceProjectAttachments/{serviceProjectAttachmentsId}"
                }
              }
            },
            "discoveredServices": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "DiscoveredService"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredServices/{discoveredServicesId}",
                  "description": "Gets a Discovered Service in a host project and location.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Fully qualified name of the Discovered Service to fetch. Expected format: `projects/{project}/locations/{location}/discoveredServices/{discoveredService}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredServices/[^/]+$"
                    }
                  },
                  "id": "apphub.projects.locations.discoveredServices.get"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.discoveredServices.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filtering results.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Project and location to list Discovered Services on. Expected format: `projects/{project}/locations/{location}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/discoveredServices",
                  "httpMethod": "GET",
                  "description": "Lists Discovered Services that can be added to an Application in a host project and location.",
                  "response": {
                    "$ref": "ListDiscoveredServicesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredServices"
                },
                "lookup": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists a Discovered Service in a host project and location, with a given resource URI.",
                  "response": {
                    "$ref": "LookupDiscoveredServiceResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredServices:lookup",
                  "path": "v1/{+parent}/discoveredServices:lookup",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Host project ID and location to lookup Discovered Service in. Expected format: `projects/{project}/locations/{location}`."
                    },
                    "uri": {
                      "location": "query",
                      "description": "Required. Resource URI to find DiscoveredService for. Accepts both project number and project ID and does translation when needed.",
                      "type": "string"
                    }
                  },
                  "id": "apphub.projects.locations.discoveredServices.lookup"
                }
              }
            },
            "extendedMetadataSchemas": {
              "methods": {
                "list": {
                  "description": "Lists Extended Metadata Schemas available in a host project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apphub.projects.locations.extendedMetadataSchemas.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Project and location to list Extended Metadata Schemas on. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas",
                  "response": {
                    "$ref": "ListExtendedMetadataSchemasResponse"
                  },
                  "path": "v1/{+parent}/extendedMetadataSchemas",
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets an Extended Metadata Schema.",
                  "id": "apphub.projects.locations.extendedMetadataSchemas.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/extendedMetadataSchemas/{extendedMetadataSchemasId}",
                  "response": {
                    "$ref": "ExtendedMetadataSchema"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/extendedMetadataSchemas/.*$",
                      "description": "Required. Schema resource name. Format: `projects/{project}/locations/{location}/extendedMetadataSchemas/{extended_metadata_schema}`. `{extended_metadata_schema}` has the format `\"apphub.googleapis.com/{SchemaName}\"`."
                    }
                  }
                }
              }
            },
            "applications": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/applications",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apphub.projects.locations.applications.create",
                  "request": {
                    "$ref": "Application"
                  },
                  "parameters": {
                    "applicationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The Application identifier. Must contain only lowercase letters, numbers or hyphens, with the first character a letter, the last a letter or a number, and a 63 character maximum."
                    },
                    "parent": {
                      "description": "Required. Project and location to create Application in. Expected format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Creates an Application in a host project and location."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "description": "Required. Fully qualified name of the Application to delete. Expected format: `projects/{project}/locations/{location}/applications/{application}`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes an Application in a host project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "id": "apphub.projects.locations.applications.delete",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Optional. Field mask is used to specify the fields to be overwritten in the Application resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. The API changes the values of the fields as specified in the update_mask. The API ignores the values of all fields not covered by the update_mask. You can also unset a field by not specifying it in the updated message, but adding the field to the mask. This clears whatever value the field previously had."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/applications/[^/]+$",
                      "description": "Identifier. The resource name of an Application. Format: `\"projects/{host-project-id}/locations/{location}/applications/{application-id}\"`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Updates an Application in a host project and location.",
                  "id": "apphub.projects.locations.applications.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Application"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH"
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Applications in a host project and location.",
                  "path": "v1/{+parent}/applications",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Filtering results."
                    },
                    "orderBy": {
[...]
