{
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "ownerName": "Google",
  "id": "areainsights:v1",
  "description": "Places Aggregate API.",
  "protocol": "rest",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/maps/documentation/places-aggregate/overview",
  "version_module": true,
  "mtlsRootUrl": "https://areainsights.mtls.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "name": "areainsights",
  "ownerDomain": "google.com",
  "baseUrl": "https://areainsights.googleapis.com/",
  "title": "Places Aggregate API",
  "canonicalName": "Area Insights",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260902",
  "discoveryVersion": "v1",
  "rootUrl": "https://areainsights.googleapis.com/",
  "schemas": {
    "LocationFilter": {
      "id": "LocationFilter",
      "description": "Location filters. Specifies the area of interest for the insight.",
      "properties": {
        "region": {
          "$ref": "Region",
          "description": "Area as region."
        },
        "customArea": {
          "description": "Custom area specified by a polygon.",
          "$ref": "CustomArea"
        },
        "circle": {
          "description": "Area as a circle.",
          "$ref": "Circle"
        }
      },
      "type": "object"
    },
    "PlaceInsight": {
      "type": "object",
      "id": "PlaceInsight",
      "description": "Holds information about a place",
      "properties": {
        "place": {
          "description": "The unique identifier of the place. This resource name can be used to retrieve details about the place using the [Places API](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places/get).",
          "type": "string"
        }
      }
    },
    "CustomArea": {
      "type": "object",
      "description": "Custom Area.",
      "properties": {
        "polygon": {
          "$ref": "Polygon",
          "description": "Required. The custom area represented as a polygon"
        }
      },
      "id": "CustomArea"
    },
    "TypeFilter": {
      "type": "object",
      "description": "Place type filters. Only Place types from [Table a](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) are supported. A place can only have a single primary type associated with it. For example, the primary type might be \"mexican_restaurant\" or \"steak_house\". Use included_primary_types and excluded_primary_types to filter the results on a place's primary type. A place can also have multiple type values associated with it. For example a restaurant might have the following types: \"seafood_restaurant\", \"restaurant\", \"food\", \"point_of_interest\", \"establishment\". Use included_types and excluded_types to filter the results on the list of types associated with a place. If a search is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if you specify {\"included_types\": [\"restaurant\"], \"excluded_primary_types\": [\"steak_house\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as a \"steak_house\". If there are any conflicting types, i.e. a type appears in both included_types and excluded_types types or included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. One of included_types or included_primary_types must be set.",
      "properties": {
        "includedPrimaryTypes": {
          "description": "Optional. Included primary Place types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includedTypes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Included Place types."
        },
        "excludedTypes": {
          "description": "Optional. Excluded Place types.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludedPrimaryTypes": {
          "description": "Optional. Excluded primary Place types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TypeFilter"
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "ratingFilter": {
          "$ref": "RatingFilter",
          "description": "Optional. Restricts results to places whose average user ratings are in the range specified by rating_filter. If rating_filter is not set, all ratings are included in the result."
        },
        "priceLevels": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not specified. This value should not be used.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ],
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "type": "string"
          },
          "description": "Optional. Restricts results to places whose price level is included on this list. If `price_levels` is not set, all price levels are included in the results."
        },
        "typeFilter": {
          "$ref": "TypeFilter",
          "description": "Required. Place type filters."
        },
        "locationFilter": {
          "$ref": "LocationFilter",
          "description": "Required. Restricts results to places which are located in the area specified by location filters."
        },
        "operatingStatus": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified. This value should not be used.",
              "The place is operational and its open during its defined hours.",
              "The Place is no longer in business.",
              "The place is temporarily closed and expected to reopen in the future."
            ],
            "enum": [
              "OPERATING_STATUS_UNSPECIFIED",
              "OPERATING_STATUS_OPERATIONAL",
              "OPERATING_STATUS_PERMANENTLY_CLOSED",
              "OPERATING_STATUS_TEMPORARILY_CLOSED"
            ]
          },
          "description": "Optional. Restricts results to places whose operating status is included on this list. If operating_status is not set, OPERATING_STATUS_OPERATIONAL is used as default."
        }
      },
      "description": "Filters for the ComputeInsights RPC.",
      "type": "object"
    },
    "RatingFilter": {
      "id": "RatingFilter",
      "properties": {
        "minRating": {
          "description": "Optional. Restricts results to places whose average user rating is greater than or equal to min_rating. Values must be between 1.0 and 5.0.",
          "format": "float",
          "type": "number"
        },
        "maxRating": {
          "type": "number",
          "description": "Optional. Restricts results to places whose average user rating is strictly less than or equal to max_rating. Values must be between 1.0 and 5.0.",
          "format": "float"
        }
      },
      "description": "Average user rating filters.",
      "type": "object"
    },
    "ComputeInsightsResponse": {
      "id": "ComputeInsightsResponse",
      "description": "Response for the ComputeInsights RPC.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Result for Insights.INSIGHT_COUNT."
        },
        "placeInsights": {
          "items": {
            "$ref": "PlaceInsight"
          },
          "description": "Result for Insights.INSIGHT_PLACES.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Circle": {
      "properties": {
        "latLng": {
          "description": "The latitude and longitude of the center of the circle.",
          "$ref": "LatLng"
        },
        "place": {
          "description": "**Format:** Must be in the format `places/PLACE_ID`, where `PLACE_ID` is the unique identifier of a place. For example: `places/ChIJgUbEo8cfqokR5lP9_Wh_DaM`.",
          "type": "string"
        },
        "radius": {
          "description": "Optional. The radius of the circle in meters",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Circle",
      "description": "A circle is defined by a center point and radius in meters."
    },
    "Region": {
      "id": "Region",
      "type": "object",
      "description": "A region is a geographic boundary such as: cities, postal codes, counties, states, etc.",
      "properties": {
        "place": {
          "type": "string",
          "description": "The [place ID](https://developers.google.com/maps/documentation/places/web-service/place-id) of the geographic region. Not all region types are supported; see documentation for details. **Format:** Must be in the format `places/PLACE_ID`, where `PLACE_ID` is the unique identifier of a place. For example: `places/ChIJPV4oX_65j4ARVW8IJ6IJUYs`."
        }
      }
    },
    "ComputeInsightsRequest": {
      "type": "object",
      "id": "ComputeInsightsRequest",
      "description": "Request for the ComputeInsights RPC.",
      "properties": {
        "insights": {
          "description": "Required. Insights to compute. Currently only INSIGHT_COUNT and INSIGHT_PLACES are supported.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Not Specified.",
              "Count insight. When this insight is specified ComputeInsights returns the number of places that match the specified filter criteria. Example request: ``` { \"insights\": [\"INSIGHT_COUNT\"], \"filter\": { \"locationFilter\": { \"region\": { \"place\": \"places/ChIJPV4oX_65j4ARVW8IJ6IJUYs\" } }, \"typeFilter\": { \"includedTypes\": [\"restaurant\"] }, \"operatingStatus\": [\"OPERATING_STATUS_OPERATIONAL\"], \"priceLevels\": [ \"PRICE_LEVEL_FREE\", \"PRICE_LEVEL_INEXPENSIVE\" ], \"ratingFilter\": { \"minRating\": 4.0 } } } ``` Example response: ``` { \"count\": 1234 } ```",
              "Return Places When this insight is specified ComputeInsights returns places IDs that match the specified filter criteria. Example request: ``` { \"insights\": [\"INSIGHT_PLACES\"], \"filter\": { \"locationFilter\": { \"region\": { \"place\": \"places/ChIJPV4oX_65j4ARVW8IJ6IJUYs\" } }, \"typeFilter\": { \"includedTypes\": [\"restaurant\"] }, \"operatingStatus\": [\"OPERATING_STATUS_OPERATIONAL\"], \"priceLevels\": [ \"PRICE_LEVEL_FREE\", \"PRICE_LEVEL_INEXPENSIVE\" ], \"ratingFilter\": { \"minRating\": 4.0 } } } ``` Example response: ``` { \"placeInsights\": [ {\"place\": \"places/ABC\"}, {\"place\": \"places/PQR\"}, {\"place\": \"places/XYZ\"} ] } ```"
            ],
            "enum": [
              "INSIGHT_UNSPECIFIED",
              "INSIGHT_COUNT",
              "INSIGHT_PLACES"
            ],
            "type": "string"
          }
        },
        "filter": {
          "$ref": "Filter",
          "description": "Required. Insight filter."
        }
      }
    },
    "LatLng": {
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0]."
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "type": "object",
      "id": "LatLng",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "Polygon": {
      "id": "Polygon",
      "properties": {
        "coordinates": {
          "type": "array",
          "description": "Optional. The coordinates that define the polygon.",
          "items": {
            "$ref": "LatLng"
          }
        }
      },
      "type": "object",
      "description": "A polygon is represented by a series of connected coordinates in an counterclockwise ordered sequence. The coordinates form a closed loop and define a filled region. The first and last coordinates are equivalent, and they must contain identical values. The format is a simplified version of GeoJSON polygons (we only support one counterclockwise exterior ring)."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "v1": {
      "methods": {
        "computeInsights": {
          "response": {
            "$ref": "ComputeInsightsResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "ComputeInsightsRequest"
          },
          "description": "This method lets you retrieve insights about areas using a variety of filter such as: area, place type, operating status, price level and ratings. Currently \"count\" and \"places\" insights are supported. With \"count\" insights you can answer questions such as \"How many restaurant are located in California that are operational, are inexpensive and have an average rating of at least 4 stars\" (see `insight` enum for more details). With \"places\" insights, you can determine which places match the requested filter. Clients can then use those place resource names to fetch more details about each individual place using the Places API.",
          "path": "v1:computeInsights",
          "parameterOrder": [],
          "id": "areainsights.computeInsights",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1:computeInsights",
          "httpMethod": "POST"
        }
      }
    }
  }
}