{
  "basePath": "",
  "baseUrl": "https://areainsights.googleapis.com/",
  "documentationLink": "https://developers.google.com/maps/documentation/places-aggregate/overview",
  "revision": "20260901",
  "title": "Places Aggregate API",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "resources": {
    "v1": {
      "methods": {
        "computeInsights": {
          "description": "This method lets you retrieve insights about areas using a variety of filter such as: area, place type, operating status, price level and ratings. Currently \"count\" and \"places\" insights are supported. With \"count\" insights you can answer questions such as \"How many restaurant are located in California that are operational, are inexpensive and have an average rating of at least 4 stars\" (see `insight` enum for more details). With \"places\" insights, you can determine which places match the requested filter. Clients can then use those place resource names to fetch more details about each individual place using the Places API.",
          "request": {
            "$ref": "ComputeInsightsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {},
          "id": "areainsights.computeInsights",
          "path": "v1:computeInsights",
          "response": {
            "$ref": "ComputeInsightsResponse"
          },
          "httpMethod": "POST",
          "flatPath": "v1:computeInsights",
          "parameterOrder": []
        }
      }
    }
  },
  "version_module": true,
  "ownerName": "Google",
  "id": "areainsights:v1",
  "description": "Places Aggregate API.",
  "canonicalName": "Area Insights",
  "name": "areainsights",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://areainsights.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "CustomArea": {
      "description": "Custom Area.",
      "properties": {
        "polygon": {
          "description": "Required. The custom area represented as a polygon",
          "$ref": "Polygon"
        }
      },
      "type": "object",
      "id": "CustomArea"
    },
    "PlaceInsight": {
      "id": "PlaceInsight",
      "description": "Holds information about a place",
      "type": "object",
      "properties": {
        "place": {
          "description": "The unique identifier of the place. This resource name can be used to retrieve details about the place using the [Places API](https://developers.google.com/maps/documentation/places/web-service/reference/rest/v1/places/get).",
          "type": "string"
        }
      }
    },
    "Filter": {
      "properties": {
        "operatingStatus": {
          "items": {
            "enumDescriptions": [
              "Not specified. This value should not be used.",
              "The place is operational and its open during its defined hours.",
              "The Place is no longer in business.",
              "The place is temporarily closed and expected to reopen in the future."
            ],
            "type": "string",
            "enum": [
              "OPERATING_STATUS_UNSPECIFIED",
              "OPERATING_STATUS_OPERATIONAL",
              "OPERATING_STATUS_PERMANENTLY_CLOSED",
              "OPERATING_STATUS_TEMPORARILY_CLOSED"
            ]
          },
          "type": "array",
          "description": "Optional. Restricts results to places whose operating status is included on this list. If operating_status is not set, OPERATING_STATUS_OPERATIONAL is used as default."
        },
        "locationFilter": {
          "description": "Required. Restricts results to places which are located in the area specified by location filters.",
          "$ref": "LocationFilter"
        },
        "priceLevels": {
          "items": {
            "type": "string",
            "enum": [
              "PRICE_LEVEL_UNSPECIFIED",
              "PRICE_LEVEL_FREE",
              "PRICE_LEVEL_INEXPENSIVE",
              "PRICE_LEVEL_MODERATE",
              "PRICE_LEVEL_EXPENSIVE",
              "PRICE_LEVEL_VERY_EXPENSIVE"
            ],
            "enumDescriptions": [
              "Not specified. This value should not be used.",
              "Place provides free services.",
              "Place provides inexpensive services.",
              "Place provides moderately priced services.",
              "Place provides expensive services.",
              "Place provides very expensive services."
            ]
          },
          "type": "array",
          "description": "Optional. Restricts results to places whose price level is included on this list. If `price_levels` is not set, all price levels are included in the results."
        },
        "typeFilter": {
          "$ref": "TypeFilter",
          "description": "Required. Place type filters."
        },
        "ratingFilter": {
          "description": "Optional. Restricts results to places whose average user ratings are in the range specified by rating_filter. If rating_filter is not set, all ratings are included in the result.",
          "$ref": "RatingFilter"
        }
      },
      "description": "Filters for the ComputeInsights RPC.",
      "type": "object",
      "id": "Filter"
    },
    "LatLng": {
      "id": "LatLng",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      },
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges."
    },
    "Polygon": {
      "id": "Polygon",
      "description": "A polygon is represented by a series of connected coordinates in an counterclockwise ordered sequence. The coordinates form a closed loop and define a filled region. The first and last coordinates are equivalent, and they must contain identical values. The format is a simplified version of GeoJSON polygons (we only support one counterclockwise exterior ring).",
      "properties": {
        "coordinates": {
          "items": {
            "$ref": "LatLng"
          },
          "description": "Optional. The coordinates that define the polygon.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "ComputeInsightsResponse": {
      "description": "Response for the ComputeInsights RPC.",
      "type": "object",
      "id": "ComputeInsightsResponse",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "Result for Insights.INSIGHT_COUNT."
        },
        "placeInsights": {
          "type": "array",
          "items": {
            "$ref": "PlaceInsight"
          },
          "description": "Result for Insights.INSIGHT_PLACES."
        }
      }
    },
    "Region": {
      "type": "object",
      "id": "Region",
      "properties": {
        "place": {
          "description": "The [place ID](https://developers.google.com/maps/documentation/places/web-service/place-id) of the geographic region. Not all region types are supported; see documentation for details. **Format:** Must be in the format `places/PLACE_ID`, where `PLACE_ID` is the unique identifier of a place. For example: `places/ChIJPV4oX_65j4ARVW8IJ6IJUYs`.",
          "type": "string"
        }
      },
      "description": "A region is a geographic boundary such as: cities, postal codes, counties, states, etc."
    },
    "RatingFilter": {
      "id": "RatingFilter",
      "description": "Average user rating filters.",
      "type": "object",
      "properties": {
        "minRating": {
          "description": "Optional. Restricts results to places whose average user rating is greater than or equal to min_rating. Values must be between 1.0 and 5.0.",
          "type": "number",
          "format": "float"
        },
        "maxRating": {
          "type": "number",
          "description": "Optional. Restricts results to places whose average user rating is strictly less than or equal to max_rating. Values must be between 1.0 and 5.0.",
          "format": "float"
        }
      }
    },
    "LocationFilter": {
      "id": "LocationFilter",
      "properties": {
        "customArea": {
          "$ref": "CustomArea",
          "description": "Custom area specified by a polygon."
        },
        "region": {
          "description": "Area as region.",
          "$ref": "Region"
        },
        "circle": {
          "description": "Area as a circle.",
          "$ref": "Circle"
        }
      },
      "description": "Location filters. Specifies the area of interest for the insight.",
      "type": "object"
    },
    "Circle": {
      "type": "object",
      "properties": {
        "latLng": {
          "$ref": "LatLng",
          "description": "The latitude and longitude of the center of the circle."
        },
        "radius": {
          "type": "integer",
          "description": "Optional. The radius of the circle in meters",
          "format": "int32"
        },
        "place": {
          "description": "**Format:** Must be in the format `places/PLACE_ID`, where `PLACE_ID` is the unique identifier of a place. For example: `places/ChIJgUbEo8cfqokR5lP9_Wh_DaM`.",
          "type": "string"
        }
      },
      "id": "Circle",
      "description": "A circle is defined by a center point and radius in meters."
    },
    "ComputeInsightsRequest": {
      "description": "Request for the ComputeInsights RPC.",
      "properties": {
        "insights": {
          "items": {
            "enum": [
              "INSIGHT_UNSPECIFIED",
              "INSIGHT_COUNT",
              "INSIGHT_PLACES"
            ],
            "type": "string",
            "enumDescriptions": [
              "Not Specified.",
              "Count insight. When this insight is specified ComputeInsights returns the number of places that match the specified filter criteria. Example request: ``` { \"insights\": [\"INSIGHT_COUNT\"], \"filter\": { \"locationFilter\": { \"region\": { \"place\": \"places/ChIJPV4oX_65j4ARVW8IJ6IJUYs\" } }, \"typeFilter\": { \"includedTypes\": [\"restaurant\"] }, \"operatingStatus\": [\"OPERATING_STATUS_OPERATIONAL\"], \"priceLevels\": [ \"PRICE_LEVEL_FREE\", \"PRICE_LEVEL_INEXPENSIVE\" ], \"ratingFilter\": { \"minRating\": 4.0 } } } ``` Example response: ``` { \"count\": 1234 } ```",
              "Return Places When this insight is specified ComputeInsights returns places IDs that match the specified filter criteria. Example request: ``` { \"insights\": [\"INSIGHT_PLACES\"], \"filter\": { \"locationFilter\": { \"region\": { \"place\": \"places/ChIJPV4oX_65j4ARVW8IJ6IJUYs\" } }, \"typeFilter\": { \"includedTypes\": [\"restaurant\"] }, \"operatingStatus\": [\"OPERATING_STATUS_OPERATIONAL\"], \"priceLevels\": [ \"PRICE_LEVEL_FREE\", \"PRICE_LEVEL_INEXPENSIVE\" ], \"ratingFilter\": { \"minRating\": 4.0 } } } ``` Example response: ``` { \"placeInsights\": [ {\"place\": \"places/ABC\"}, {\"place\": \"places/PQR\"}, {\"place\": \"places/XYZ\"} ] } ```"
            ]
          },
          "type": "array",
          "description": "Required. Insights to compute. Currently only INSIGHT_COUNT and INSIGHT_PLACES are supported."
        },
        "filter": {
          "$ref": "Filter",
          "description": "Required. Insight filter."
        }
      },
      "type": "object",
      "id": "ComputeInsightsRequest"
    },
    "TypeFilter": {
      "properties": {
        "includedTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Included Place types."
        },
        "includedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Included primary Place types.",
          "type": "array"
        },
        "excludedTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Excluded Place types."
        },
        "excludedPrimaryTypes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Excluded primary Place types.",
          "type": "array"
        }
      },
      "id": "TypeFilter",
      "type": "object",
      "description": "Place type filters. Only Place types from [Table a](https://developers.google.com/maps/documentation/places/web-service/place-types#table-a) are supported. A place can only have a single primary type associated with it. For example, the primary type might be \"mexican_restaurant\" or \"steak_house\". Use included_primary_types and excluded_primary_types to filter the results on a place's primary type. A place can also have multiple type values associated with it. For example a restaurant might have the following types: \"seafood_restaurant\", \"restaurant\", \"food\", \"point_of_interest\", \"establishment\". Use included_types and excluded_types to filter the results on the list of types associated with a place. If a search is specified with multiple type restrictions, only places that satisfy all of the restrictions are returned. For example, if you specify {\"included_types\": [\"restaurant\"], \"excluded_primary_types\": [\"steak_house\"]}, the returned places provide \"restaurant\" related services but do not operate primarily as a \"steak_house\". If there are any conflicting types, i.e. a type appears in both included_types and excluded_types types or included_primary_types and excluded_primary_types, an INVALID_ARGUMENT error is returned. One of included_types or included_primary_types must be set."
    }
  },
  "mtlsRootUrl": "https://areainsights.mtls.googleapis.com/",
  "version": "v1"
}