{
  "version": "v1",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "id": "artifactregistry.projects.locations.list",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location."
                }
              },
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "artifactregistry.projects.locations.get"
            },
            "updateVpcscConfig": {
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "type": "string",
                  "description": "Field mask to support partial updates.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/vpcscConfig$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set"
                }
              },
              "description": "Updates the VPCSC Config for the Project.",
              "response": {
                "$ref": "VPCSCConfig"
              },
              "id": "artifactregistry.projects.locations.updateVpcscConfig",
              "request": {
                "$ref": "VPCSCConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcscConfig"
            },
            "updateProjectConfig": {
              "request": {
                "$ref": "ProjectConfig"
              },
              "description": "Updates the project configuration.",
              "httpMethod": "PATCH",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/projectConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Optional. Field mask to support partial updates. See https://protobuf.dev/reference/protobuf/google.protobuf/#field-mask for more details.",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/projectConfig$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ProjectConfig"
              },
              "id": "artifactregistry.projects.locations.updateProjectConfig",
              "parameterOrder": [
                "name"
              ]
            },
            "getProjectConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "description": "Retrieves the project configuration.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ProjectConfig"
              },
              "id": "artifactregistry.projects.locations.getProjectConfig",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/projectConfig",
              "parameters": {
                "name": {
                  "description": "Required. The name of the project's logging configuration: projects/{project}/locations/{location}/projectConfig",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/projectConfig$"
                }
              }
            },
            "getVpcscConfig": {
              "response": {
                "$ref": "VPCSCConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/vpcscConfig",
              "id": "artifactregistry.projects.locations.getVpcscConfig",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/vpcscConfig$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The name of the VPCSCConfig resource.",
                  "location": "path"
                }
              },
              "description": "Retrieves the VPCSC Config for the Project.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "artifactregistry.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "artifactregistry.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              }
            },
            "repositories": {
              "resources": {
                "attachments": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Attachment"
                      },
                      "id": "artifactregistry.projects.locations.repositories.attachments.get",
                      "description": "Gets an attachment.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments/{attachmentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the attachment to retrieve.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/attachments/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "id": "artifactregistry.projects.locations.repositories.attachments.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments/{attachmentsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the attachment to delete.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/attachments/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "description": "Deletes an attachment. The returned Operation will finish once the attachments has been deleted. It will not have any Operation metadata and will return a `google.protobuf.Empty` response.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `target` * `type` * `attachment_namespace`",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request, if any."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of attachments to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "description": "Required. The name of the parent resource whose attachments will be listed.",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.attachments.list",
                      "description": "Lists attachments.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListAttachmentsResponse"
                      },
                      "path": "v1/{+parent}/attachments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Attachment"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the parent resource where the attachment will be created.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        },
                        "attachmentId": {
                          "location": "query",
                          "description": "Required. The attachment id to use for this attachment.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/attachments",
                      "path": "v1/{+parent}/attachments",
                      "id": "artifactregistry.projects.locations.repositories.attachments.create",
                      "description": "Creates an attachment. The returned Operation will finish once the attachment has been created. Its response will be the created attachment."
                    }
                  }
                },
                "pythonPackages": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pythonPackages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1/{+parent}/pythonPackages",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the parent resource whose python packages will be listed."
                        }
                      },
                      "response": {
                        "$ref": "ListPythonPackagesResponse"
                      },
                      "description": "Lists python packages.",
                      "id": "artifactregistry.projects.locations.repositories.pythonPackages.list"
                    },
                    "get": {
                      "response": {
                        "$ref": "PythonPackage"
                      },
                      "description": "Gets a python package.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the python package.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/pythonPackages/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/pythonPackages/{pythonPackagesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.pythonPackages.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "genericArtifacts": {
                  "methods": {
                    "upload": {
                      "path": "v1/{+parent}/genericArtifacts:create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/genericArtifacts:create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.genericArtifacts.upload",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "The resource name of the repository where the generic artifact will be uploaded.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "UploadGenericArtifactMediaResponse"
                      },
                      "description": "Directly uploads a Generic artifact. The returned operation will complete once the resources are uploaded. Package, version, and file resources are created based on the uploaded artifact. Uploaded artifacts that conflict with existing resources will raise an `ALREADY_EXISTS` error.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "resumable": {
                            "multipart": true,
                            "path": "/resumable/upload/v1/{+parent}/genericArtifacts:create"
                          },
                          "simple": {
                            "path": "/upload/v1/{+parent}/genericArtifacts:create",
                            "multipart": true
                          }
                        }
                      },
                      "request": {
                        "$ref": "UploadGenericArtifactRequest"
                      },
                      "supportsMediaUpload": true,
                      "httpMethod": "POST"
                    }
                  }
                },
                "files": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the file to delete.",
                          "required": true
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.files.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "description": "Deletes a file and all of its content. It is only allowed on generic repositories. The returned operation will complete once the file has been deleted.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` * `annotations` Examples of using a filter: To filter the results of your request to files with the name `my_file.txt` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-file.txt\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file.txt\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file*\"` To filter the results of your request to files owned by the version `1.0` in package `pkg1`, append the following filter expression to your request: * `owner=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"` To filter the results of your request to files with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request: * `\"annotations.external_link:external_link_value\"` To filter just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to files with the annotation key-value pair [`external.link`:`https://example.com/my-file`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-file`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "The field to order the results by.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of files to return. Maximum page size is 1,000.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "parent": {
                          "description": "Required. The name of the repository whose files will be listed. For example: \"projects/p1/locations/us-central1/repositories/repo1",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        }
                      },
                      "description": "Lists files.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/files",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFilesResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a file.",
                      "parameters": {
                        "name": {
                          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$"
                        },
                        "updateMask": {
                          "type": "string",
                          "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "format": "google-fieldmask"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "request": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "id": "artifactregistry.projects.locations.repositories.files.patch",
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "upload": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "description": "Directly uploads a file to a repository. The returned Operation will complete once the resources are uploaded.",
                      "path": "v1/{+parent}/files:upload",
                      "response": {
                        "$ref": "UploadFileMediaResponse"
                      },
                      "mediaUpload": {
                        "protocols": {
                          "resumable": {
                            "path": "/resumable/upload/v1/{+parent}/files:upload",
                            "multipart": true
                          },
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/files:upload"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource name of the repository where the file will be uploaded.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.files.upload",
                      "request": {
                        "$ref": "UploadFileRequest"
                      },
                      "supportsMediaUpload": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files:upload"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1File"
                      },
                      "description": "Gets a file.",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$",
                          "location": "path",
                          "description": "Required. The name of the file to retrieve."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}"
                    },
                    "download": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}:download",
                      "httpMethod": "GET",
                      "description": "Download a file.",
                      "id": "artifactregistry.projects.locations.repositories.files.download",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "useMediaDownloadService": true,
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the file to download.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "DownloadFileResponse"
                      },
                      "supportsMediaDownload": true,
                      "path": "v1/{+name}:download"
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "import": {
                      "httpMethod": "POST",
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import",
                      "path": "v1/{+parent}/yumArtifacts:import",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "upload": {
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/yumArtifacts:create",
                            "multipart": true
                          }
                        }
                      },
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        }
                      },
                      "supportsMediaUpload": true,
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/yumArtifacts:create"
                    }
                  }
                },
                "googetArtifacts": {
                  "methods": {
                    "import": {
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/googetArtifacts:import",
                      "description": "Imports GooGet artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "request": {
                        "$ref": "ImportGoogetArtifactsRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "artifactregistry.projects.locations.repositories.googetArtifacts.import",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/googetArtifacts:import"
                    },
                    "upload": {
                      "request": {
                        "$ref": "UploadGoogetArtifactRequest"
                      },
                      "supportsMediaUpload": true,
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/googetArtifacts:create",
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.googetArtifacts.upload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "UploadGoogetArtifactMediaResponse"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Directly uploads a GooGet artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "path": "v1/{+parent}/googetArtifacts:create",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/googetArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      }
                    }
                  }
                },
                "npmPackages": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/npmPackages",
                      "path": "v1/{+parent}/npmPackages",
                      "description": "Lists npm packages.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "The next_page_token value returned from a previous list request, if any."
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000.",
                          "type": "integer"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the parent resource whose npm packages will be listed.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "ListNpmPackagesResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.npmPackages.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "description": "Gets a npm package.",
                      "httpMethod": "GET",
                      "id": "artifactregistry.projects.locations.repositories.npmPackages.get",
                      "response": {
                        "$ref": "NpmPackage"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the npm package.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/npmPackages/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/npmPackages/{npmPackagesId}"
                    }
                  }
                },
                "packages": {
                  "resources": {
                    "versions": {
                      "methods": {
                        "batchDelete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions:batchDelete",
                          "request": {
                            "$ref": "BatchDeleteVersionsRequest"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "description": "Deletes multiple versions across a repository. The returned operation will complete once the versions have been deleted.",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.batchDelete",
                          "parameters": {
                            "parent": {
                              "description": "The name of the repository holding all requested versions.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path"
                            }
                          },
                          "path": "v1/{+parent}/versions:batchDelete"
                        },
                        "list": {
                          "parameters": {
                            "filter": {
                              "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `annotations` Examples of using a filter: To filter the results of your request to versions with the name `my-version` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/my-version\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/*version\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/my*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/*version*\"` To filter the results of your request to versions with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request: * `\"annotations.external_link:external_link_value\"` To filter just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to versions with the annotation key-value pair [`external.link`:`https://example.com/my-version`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-version`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "description": "The name of the parent resource whose versions will be listed.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "type": "string"
                            },
                            "view": {
                              "description": "The view that should be returned in the response.",
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "location": "query",
                              "type": "string",
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ]
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The field to order the results by."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions",
                          "path": "v1/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "response": {
                            "$ref": "ListVersionsResponse"
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "description": "Lists versions."
                        },
                        "patch": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "parameters": {
                            "updateMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "type": "string"
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Updates a version.",
                          "request": {
                            "$ref": "Version"
                          },
                          "httpMethod": "PATCH",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.patch",
                          "response": {
                            "$ref": "Version"
                          },
                          "path": "v1/{+name}"
                        },
                        "delete": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "path": "v1/{+name}",
                          "parameters": {
                            "force": {
                              "type": "boolean",
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "type": "string",
                              "required": true,
                              "location": "path",
                              "description": "The name of the version to delete."
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE"
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "httpMethod": "GET",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Gets a version",
                          "response": {
                            "$ref": "Version"
                          },
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the version to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$"
                            },
                            "view": {
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "description": "The view that should be returned in the response.",
                              "location": "query",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "tags": {
                      "methods": {
                        "get": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "name": {
                              "description": "The name of the tag to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "description": "Gets a tag."
                        },
                        "delete": {
                          "parameters": {
                            "name": {
                              "description": "The name of the tag to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "response": {
                            "$ref": "Empty"
                          },
                          "path": "v1/{+name}",
                          "description": "Deletes a tag.",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "httpMethod": "DELETE"
                        },
                        "create": {
                          "parameters": {
                            "tagId": {
                              "location": "query",
                              "description": "The tag id to use for this repository.",
                              "type": "string"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The name of the parent resource where the tag will be created.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a tag.",
                          "response": {
                            "$ref": "Tag"
                          },
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "Tag"
                          },
                          "path": "v1/{+parent}/tags",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "patch": {
                          "description": "Updates a tag.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "request": {
                            "$ref": "Tag"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "updateMask": {
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
                              "type": "string"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "PATCH",
                          "response": {
                            "$ref": "Tag"
                          },
                          "path": "v1/{+name}"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "path": "v1/{+parent}/tags",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "response": {
                            "$ref": "ListTagsResponse"
                          },
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `version` Examples of using a filter: To filter the results of your request to tags with the name `my-tag` in package `my-package` in repository `my-repo` in project \"`y-project` in the us-central region, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my-tag\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag*\"` To filter the results of your request to tags applied to the version `1.0` in package `my-package`, append the following filter expression to your request: * `version=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"`",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "The maximum number of tags to return. Maximum page size is 1,000."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "required": true,
                              "description": "The name of the parent package whose tags will be listed. For example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`.",
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request, if any."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Lists tags."
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/packages",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "response": {
                        "$ref": "ListPackagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages",
                      "description": "Lists packages.",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. The field to order the results by.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `annotations` Examples of using a filter: To filter the results of your request to packages with the name `my-package` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/*package\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/*pack*\"` To filter the results of your request to packages with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request\": * `\"annotations.external_link:external_link_value\"` To filter the results just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to packages with the annotation key-value pair [`external.link`:`https://example.com/my-package`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-package`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"annotations.*_link:`*example.com*`\" ``"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "description": "Required. The name of the parent resource whose packages will be listed.",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "The maximum number of packages to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      }
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "description": "Updates a package.",
                      "request": {
                        "$ref": "Package"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "Package"
                      }
                    },
                    "get": {
                      "description": "Gets a package.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Package"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "description": "Required. The name of the package to retrieve.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the package to delete.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted."
                    }
                  }
                },
                "aptArtifacts": {
                  "methods": {
                    "import": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports Apt artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:import",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ImportAptArtifactsRequest"
                      },
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.import",
                      "path": "v1/{+parent}/aptArtifacts:import"
                    },
                    "upload": {
                      "response": {
                        "$ref": "UploadAptArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadAptArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.aptArtifacts.upload",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "supportsMediaUpload": true,
                      "description": "Directly uploads an Apt artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "path": "v1/{+parent}/aptArtifacts:create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/aptArtifacts:create",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/aptArtifacts:create",
                            "multipart": true
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      },
                      "httpMethod": "POST"
                    }
                  }
                },
                "kfpArtifacts": {
                  "methods": {
                    "upload": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/kfpArtifacts:create",
                      "httpMethod": "POST",
                      "description": "Directly uploads a KFP artifact. The returned Operation will complete once the resource is uploaded. Package, Version, and File resources will be created based on the uploaded artifact. Uploaded artifacts that conflict with existing resources will be overwritten.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "path": "/upload/v1/{+parent}/kfpArtifacts:create",
                            "multipart": true
                          }
                        }
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "The resource name of the repository where the KFP artifact will be uploaded."
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.kfpArtifacts.upload",
                      "response": {
                        "$ref": "UploadKfpArtifactMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "request": {
                        "$ref": "UploadKfpArtifactRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/kfpArtifacts:create"
                    }
                  }
                },
                "goModules": {
                  "methods": {
                    "upload": {
                      "description": "Directly uploads a Go module. The returned Operation will complete once the Go module is uploaded. Package, Version, and File resources are created based on the uploaded Go module.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "UploadGoModuleMediaResponse"
                      },
                      "supportsMediaUpload": true,
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1/{+parent}/goModules:create"
                          }
                        }
                      },
                      "request": {
                        "$ref": "UploadGoModuleRequest"
                      },
                      "httpMethod": "POST",
                      "id": "artifactregistry.projects.locations.repositories.goModules.upload",
                      "path": "v1/{+parent}/goModules:create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/goModules:create",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "description": "The resource name of the repository where the Go module will be uploaded.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "dockerImages": {
                  "methods": {
                    "list": {
                      "description": "Lists docker images.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages",
                      "path": "v1/{+parent}/dockerImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListDockerImagesResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request, if any."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "The field to order the results by.",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000."
                        },
                        "parent": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the parent resource whose docker images will be listed."
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.list"
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/dockerImages/[^/]+$",
                          "description": "Required. The name of the docker images.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/dockerImages/{dockerImagesId}",
                      "id": "artifactregistry.projects.locations.repositories.dockerImages.get",
                      "description": "Gets a docker image.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "DockerImage"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ]
                    }
                  }
                },
                "prewarmedArtifacts": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "ListPrewarmedArtifactsResponse"
                      },
                      "path": "v1/{+parent}/prewarmedArtifacts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of prewarmed artifacts to return. Maximum page size is 1,000. Default page size is 100.",
                          "type": "integer",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "description": "Required. The repository of the artifact to list. Format: projects/{project}/locations/{location}/repositories/{repository}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. Filter should only support The location of the prewarmed artifacts. multi-region is not supported for this field.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. The next_page_token value returned from a previous list request, if any.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "description": "Lists all streamed artifacts in a repository.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/prewarmedArtifacts",
                      "id": "artifactregistry.projects.locations.repositories.prewarmedArtifacts.list",
                      "httpMethod": "GET"
                    }
                  }
                },
                "mavenArtifacts": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/mavenArtifacts/{mavenArtifactsId}",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the maven artifact.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/mavenArtifacts/[^/]+$"
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.mavenArtifacts.get",
                      "response": {
                        "$ref": "MavenArtifact"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets a maven artifact.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/mavenArtifacts",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/mavenArtifacts",
                      "description": "Lists maven artifacts.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.mavenArtifacts.list",
                      "response": {
                        "$ref": "ListMavenArtifactsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of artifacts to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the parent resource whose maven artifacts will be listed.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "rules": {
                  "methods": {
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/rules/{rulesId}",
[...]
