{
  "ownerName": "Google",
  "basePath": "",
  "version_module": true,
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "canonicalName": "Artifact Registry",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "name": "artifactregistry",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "title": "Artifact Registry API",
  "schemas": {
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "NoCacheFetching": {
      "type": "object",
      "description": "The configuration for the no-cache fetching mode, which acts as a non-caching proxy.",
      "id": "NoCacheFetching",
      "properties": {}
    },
    "ProjectSettings": {
      "type": "object",
      "description": "The Artifact Registry settings that apply to a Project.",
      "properties": {
        "pullPercent": {
          "type": "integer",
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32"
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "legacyRedirectionState": {
          "description": "The redirection state of the legacy repositories in this project.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ]
        }
      },
      "id": "ProjectSettings"
    },
    "UploadGenericArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload a generic artifact.",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadGenericArtifactMediaResponse"
    },
    "PythonPackage": {
      "type": "object",
      "description": "PythonPackage represents a python artifact.",
      "id": "PythonPackage",
      "properties": {
        "name": {
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package.",
          "type": "string"
        },
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the package was created."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the package was updated."
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz"
        }
      }
    },
    "CommonRemoteRepository": {
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      },
      "id": "CommonRemoteRepository",
      "type": "object",
      "description": "Common remote repository settings type."
    },
    "UpstreamCredentials": {
      "description": "The credentials to access the remote repository.",
      "properties": {
        "usernamePasswordCredentials": {
          "$ref": "UsernamePasswordCredentials",
          "description": "Use username and password to access the remote repository."
        }
      },
      "id": "UpstreamCredentials",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Metadata type for longrunning-operations, currently empty.",
      "id": "OperationMetadata",
      "properties": {},
      "type": "object"
    },
    "ListNpmPackagesResponse": {
      "description": "The response from listing npm packages.",
      "id": "ListNpmPackagesResponse",
      "type": "object",
      "properties": {
        "npmPackages": {
          "items": {
            "$ref": "NpmPackage"
          },
          "type": "array",
          "description": "The npm packages returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      }
    },
    "ImportAptArtifactsRequest": {
      "properties": {
        "gcsSource": {
          "$ref": "ImportAptArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "description": "The request to import new apt artifacts.",
      "id": "ImportAptArtifactsRequest",
      "type": "object"
    },
    "ListDockerImagesResponse": {
      "properties": {
        "dockerImages": {
          "items": {
            "$ref": "DockerImage"
          },
          "description": "The docker images returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDockerImagesResponse",
      "description": "The response from listing docker images."
    },
    "ListFilesResponse": {
      "type": "object",
      "id": "ListFilesResponse",
      "description": "The response from listing files.",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return.",
          "type": "string"
        },
        "files": {
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          },
          "description": "The files returned.",
          "type": "array"
        }
      }
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "description": "The attachments returned.",
          "type": "array",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAttachmentsResponse",
      "description": "The response from listing attachments."
    },
    "UploadKfpArtifactRequest": {
      "type": "object",
      "id": "UploadKfpArtifactRequest",
      "description": "The request to upload an artifact.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the package version."
        },
        "tags": {
          "type": "array",
          "description": "Tags to be created with the version.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "type": "object"
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "properties": {
        "condition": {
          "$ref": "CleanupPolicyCondition",
          "description": "Policy condition for matching versions."
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the cleanup policy."
        },
        "mostRecentVersions": {
          "$ref": "CleanupPolicyMostRecentVersions",
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action."
        },
        "action": {
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "description": "Policy action.",
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ],
          "type": "string"
        }
      },
      "description": "Artifact policy configuration for repository cleanup policies.",
      "type": "object"
    },
    "UploadAptArtifactResponse": {
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "description": "The Apt artifacts updated.",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      },
      "id": "UploadAptArtifactResponse"
    },
    "UpstreamPolicy": {
      "description": "Artifact policy configuration for the repository contents.",
      "properties": {
        "repository": {
          "type": "string",
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`."
        },
        "priority": {
          "format": "int32",
          "type": "integer",
          "description": "Entries with a greater priority value take precedence in the pull order."
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the upstream policy."
        }
      },
      "id": "UpstreamPolicy",
      "type": "object"
    },
    "UploadGoogetArtifactMetadata": {
      "properties": {},
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadGoogetArtifactMetadata",
      "type": "object"
    },
    "MavenArtifact": {
      "id": "MavenArtifact",
      "description": "MavenArtifact represents a maven artifact.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of this artifact."
        },
        "createTime": {
          "description": "Output only. Time the artifact was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time the artifact was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "artifactId": {
          "description": "Artifact ID for the artifact.",
          "type": "string"
        },
        "groupId": {
          "description": "Group ID for the artifact. Example: com.google.guava",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact.",
          "type": "string"
        },
        "pomUri": {
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom",
          "type": "string"
        }
      }
    },
    "RemovePrewarmedArtifactResponse": {
      "type": "object",
      "id": "RemovePrewarmedArtifactResponse",
      "properties": {
        "prewarmedArtifact": {
          "$ref": "PrewarmedArtifact",
          "description": "The prewarmed artifact that was removed."
        }
      },
      "description": "The response for removing an artifact from streaming."
    },
    "ImportGoogetArtifactsMetadata": {
      "properties": {},
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportGoogetArtifactsMetadata"
    },
    "UploadKfpArtifactMetadata": {
      "description": "The operation metadata for uploading KFP artifacts.",
      "properties": {},
      "id": "UploadKfpArtifactMetadata",
      "type": "object"
    },
    "Binding": {
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
        }
      },
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`."
    },
    "PythonRepository": {
      "properties": {
        "publicRepository": {
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ],
          "description": "One of the publicly available Python repositories supported by Artifact Registry.",
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "type": "string"
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "type": "object",
      "description": "Configuration for a Python remote repository.",
      "id": "PythonRepository"
    },
    "UploadAptArtifactMediaResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "type": "object",
      "description": "The response to upload an artifact.",
      "id": "UploadAptArtifactMediaResponse"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "PrewarmArtifactResponse": {
      "description": "The response for prewarming an artifact for streaming.",
      "type": "object",
      "properties": {
        "prewarmedArtifact": {
          "$ref": "PrewarmedArtifact",
          "description": "The prewarmed artifact that was prewarmed."
        }
      },
      "id": "PrewarmArtifactResponse"
    },
    "ImportGoogetArtifactsErrorInfo": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        },
        "gcsSource": {
          "$ref": "ImportGoogetArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        }
      },
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportGoogetArtifactsErrorInfo"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "description": "Customer-specified publicly available remote repository.",
      "type": "object"
    },
    "ListRulesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of rules, or empty if there are no more rules to return.",
          "type": "string"
        },
        "rules": {
          "type": "array",
          "description": "The rules returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          }
        }
      },
      "type": "object",
      "description": "The response from listing rules.",
      "id": "ListRulesResponse"
    },
    "GoModule": {
      "properties": {
        "name": {
          "description": "The resource name of a Go module.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Go module is created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is updated."
        }
      },
      "type": "object",
      "id": "GoModule",
      "description": "GoModule represents a Go module."
    },
    "BatchDeleteVersionsRequest": {
      "properties": {
        "names": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region."
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is performed without deleting data, following AIP-163."
        }
      },
      "description": "The request to delete multiple versions across a repository.",
      "type": "object",
      "id": "BatchDeleteVersionsRequest"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        },
        "repositories": {
          "type": "array",
          "description": "The repositories returned.",
          "items": {
            "$ref": "Repository"
          }
        }
      },
      "description": "The response from listing repositories.",
      "id": "ListRepositoriesResponse"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "VPCSCConfig": {
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set"
        },
        "vpcscPolicy": {
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ],
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "type": "string",
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny)."
        }
      },
      "type": "object",
      "id": "VPCSCConfig"
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "type": "object",
      "description": "The request to import new yum artifacts.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      }
    },
    "GoogetArtifact": {
      "description": "A detailed representation of a GooGet artifact.",
      "id": "GoogetArtifact",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GooGet package name of the artifact."
        }
      }
    },
    "GenericArtifact": {
      "id": "GenericArtifact",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the Generic module is created."
        },
        "updateTime": {
          "description": "Output only. The time when the Generic module is updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\""
        },
        "version": {
          "type": "string",
          "description": "The version of the generic artifact."
        }
      },
      "description": "GenericArtifact represents a generic artifact",
      "type": "object"
    },
    "UploadFileMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object",
      "description": "The response to upload a generic artifact.",
      "id": "UploadFileMediaResponse"
    },
    "AptArtifact": {
      "properties": {
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        },
        "packageType": {
          "readOnly": true,
          "description": "Output only. An artifact is a binary or source package.",
          "type": "string",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact."
        },
        "controlFile": {
          "description": "Output only. Contents of the artifact's control metadata file.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        },
        "packageName": {
          "description": "Output only. The Apt package name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "component": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Repository component of the artifact."
        }
      },
      "id": "AptArtifact",
      "type": "object",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "RemoteRepositoryConfig": {
      "description": "Remote repository configuration.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the remote source."
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "noCache": {
          "description": "The remote repository will act as a non-caching proxy.",
          "$ref": "NoCacheFetching"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "mavenRepository": {
          "$ref": "MavenRepository",
          "description": "Specific settings for a Maven remote repository."
        },
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "upstreamCredentials": {
          "$ref": "UpstreamCredentials",
          "description": "Optional. The credentials used to access the remote repository."
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "aptRepository": {
          "description": "Specific settings for an Apt remote repository.",
          "$ref": "AptRepository"
        },
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        }
      },
      "id": "RemoteRepositoryConfig",
      "type": "object"
    },
    "ListPrewarmedArtifactsResponse": {
      "properties": {
        "prewarmedArtifacts": {
          "type": "array",
          "items": {
            "$ref": "PrewarmedArtifact"
          },
          "description": "The prewarmed artifacts."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of prewarmed artifacts, or empty if there are no more streamings to return.",
          "type": "string"
        }
      },
      "description": "The response for listing artifacts for streaming.",
      "id": "ListPrewarmedArtifactsResponse",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "type": "object",
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
      "properties": {
        "repositoryBase": {
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ],
          "type": "string",
          "description": "A common public repository base for Yum."
        },
        "repositoryPath": {
          "type": "string",
          "description": "A custom field to define a path to a specific repository from the base."
        }
      }
    },
    "ExportArtifactRequest": {
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten."
        },
        "sourceTag": {
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}",
          "type": "string"
        },
        "sourceVersion": {
          "type": "string",
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        }
      },
      "type": "object",
      "description": "The request for exporting an artifact to a destination.",
      "id": "ExportArtifactRequest"
    },
    "UploadGoModuleMediaResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "type": "object",
      "description": "The response to upload a Go module.",
      "id": "UploadGoModuleMediaResponse"
    },
    "UsernamePasswordCredentials": {
      "type": "object",
      "id": "UsernamePasswordCredentials",
      "properties": {
        "username": {
          "description": "The username to access the remote repository.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        }
      },
      "description": "Username and password credentials."
    },
    "UploadKfpArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "type": "object",
      "id": "UploadKfpArtifactMediaResponse"
    },
    "DockerRepository": {
      "id": "DockerRepository",
      "properties": {
        "publicRepository": {
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ],
          "description": "One of the publicly available Docker repositories supported by Artifact Registry.",
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ],
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Docker remote repository.",
      "type": "object"
    },
    "ImportAptArtifactsErrorInfo": {
      "properties": {
        "gcsSource": {
          "$ref": "ImportAptArtifactsGcsSource",
          "description": "Google Cloud Storage location requested."
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportAptArtifactsErrorInfo"
    },
    "Version": {
      "id": "Version",
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time when the version was created.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the version was last updated."
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Client specified annotations."
        },
        "fingerprints": {
          "type": "array",
          "items": {
            "$ref": "Hash"
          },
          "readOnly": true,
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "readOnly": true
        },
        "relatedTags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped."
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsGcsSource": {
      "type": "object",
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "type": "array"
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "UploadGoogetArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object",
      "properties": {
        "googetArtifacts": {
          "type": "array",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "description": "The GooGet artifacts updated."
        }
      },
      "id": "UploadGoogetArtifactResponse"
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportYumArtifactsMetadata",
      "properties": {}
    },
    "ExportArtifactMetadata": {
      "properties": {
        "exportedFiles": {
          "items": {
            "$ref": "ExportedFile"
          },
          "description": "The exported artifact files.",
          "type": "array"
        }
      },
      "id": "ExportArtifactMetadata",
      "description": "The LRO metadata for exporting an artifact.",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "KfpArtifact": {
      "description": "A detailed representation of a KFP artifact.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard."
        },
        "name": {
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "KfpArtifact"
    },
    "UploadGoModuleRequest": {
      "properties": {},
      "description": "The request to upload a Go module.",
      "type": "object",
      "id": "UploadGoModuleRequest"
    },
    "YumRepository": {
      "id": "YumRepository",
      "properties": {
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
          "description": "One of the publicly available Yum repositories supported by Artifact Registry."
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "type": "object",
      "description": "Configuration for a Yum remote repository."
    },
    "Package": {
      "description": "Packages are named collections of versions.",
      "properties": {
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "createTime": {
          "description": "The time when the package was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package."
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        }
      },
      "id": "Package",
      "type": "object"
    },
    "CheckPrewarmedArtifactRequest": {
      "description": "The request for checking an artifact for streaming.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "version": {
          "type": "string",
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        },
        "streamLocation": {
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field.",
          "type": "string"
        }
      },
      "id": "CheckPrewarmedArtifactRequest",
      "type": "object"
    },
    "ImportAptArtifactsMetadata": {
      "properties": {},
      "description": "The operation metadata for importing artifacts.",
      "type": "object",
      "id": "ImportAptArtifactsMetadata"
    },
    "ImportGoogetArtifactsRequest": {
      "description": "The request to import new googet artifacts.",
      "id": "ImportGoogetArtifactsRequest",
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "ImportGoogetArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`."
        },
        "condition": {
          "$ref": "Expr",
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action this rule takes.",
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ]
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ]
        },
        "packageId": {
          "type": "string",
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository."
        }
      },
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1Rule"
    },
    "RemovePrewarmedArtifactRequest": {
      "description": "The request for removing an artifact from streaming.",
      "id": "RemovePrewarmedArtifactRequest",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "streamLocation": {
          "type": "string",
          "description": "Optional. The location of the prewarmed artifact. multi-region is not supported for this field."
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "properties": {
        "repositoryBase": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ],
          "description": "A common public repository base for Apt."
        },
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
      "type": "object"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        }
      },
      "id": "Policy"
    },
    "UploadAptArtifactRequest": {
      "properties": {},
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest",
      "type": "object"
    },
    "UploadYumArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "id": "UploadYumArtifactMediaResponse",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\".",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository"
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "fetchTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "readOnly": true
        },
        "sizeBytes": {
          "format": "int64",
          "description": "The size of the File in bytes.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
        },
        "hashes": {
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client specified annotations."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the File was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the File was last updated.",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1File",
      "type": "object"
    },
    "UploadFileRequest": {
      "properties": {
        "fileId": {
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded.",
          "type": "string"
        },
        "fileType": {
          "description": "Optional. The type of the file to upload. Defaulting to ATTACHMENT if not specified.",
          "enum": [
            "ATTACHMENT",
            "ARTIFACT"
          ],
          "enumDescriptions": [
            "Attachment file. Default value.",
            "Facade specific artifact file."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "UploadFileRequest",
      "description": "The request to upload a file."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ImageManifest": {
      "description": "Details of a single image manifest within a multi-arch image.",
      "properties": {
        "digest": {
          "description": "Optional. The manifest digest, in the format \"sha256:\".",
          "type": "string"
        },
        "osFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`."
        },
        "variant": {
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`.",
          "type": "string"
        },
        "os": {
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc.",
          "type": "string"
        },
        "mediaType": {
          "type": "string",
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\""
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc."
        }
      },
      "id": "ImageManifest",
      "type": "object"
    },
    "ImportGoogetArtifactsResponse": {
      "type": "object",
      "id": "ImportGoogetArtifactsResponse",
      "description": "The response message from importing artifacts.",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        },
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        }
      }
    },
    "UploadGoogetArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "type": "object",
      "id": "UploadGoogetArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      }
    },
    "UploadYumArtifactResponse": {
      "type": "object",
      "id": "UploadYumArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "yumArtifacts": {
          "items": {
            "$ref": "YumArtifact"
          },
          "description": "The Yum artifacts updated.",
          "type": "array"
        }
      }
    },
    "NpmRepository": {
      "properties": {
        "publicRepository": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "npmjs."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "NPMJS"
          ],
          "description": "One of the publicly available Npm repositories supported by Artifact Registry."
        },
        "customRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
          "description": "Customer-specified remote repository."
        }
      },
      "description": "Configuration for a Npm remote repository.",
      "type": "object",
      "id": "NpmRepository"
    },
    "PrewarmArtifactRequest": {
      "id": "PrewarmArtifactRequest",
      "description": "The request for prewarming an artifact for streaming.",
      "type": "object",
      "properties": {
        "platform": {
          "description": "Optional. The platform (architecture and OS) of the image or tag.",
          "$ref": "PrewarmPlatform"
        },
        "force": {
          "type": "boolean",
          "description": "Optional. If true, old artifact will be evicted to make room for the new artifact."
        },
        "streamLocation": {
          "description": "Optional. The location to cache the artifact in. If not specified, the artifact will be cached in the same location as the artifact. multi-region is not supported for this field.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The artifact version Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "tag": {
          "type": "string",
          "description": "Optional. The artifact tag Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "retentionDays": {
          "type": "string",
          "description": "Optional. The retention days of the prewarmed artifact. If not specified, the artifact will be cached for 3 days.",
          "format": "int64"
        }
      }
    },
    "ExportArtifactResponse": {
      "id": "ExportArtifactResponse",
      "type": "object",
      "description": "The response for exporting an artifact to a destination.",
      "properties": {
        "exportedVersion": {
          "$ref": "Version",
          "description": "The exported version. Should be the same as the request version with fingerprint resource name."
        }
      }
    },
    "ListVersionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        },
        "versions": {
          "description": "The versions returned.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "id": "ListVersionsResponse",
      "type": "object",
      "description": "The response from listing versions."
    },
    "AptRepository": {
      "id": "AptRepository",
      "properties": {
        "publicRepository": {
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
          "description": "One of the publicly available Apt repositories supported by Artifact Registry."
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository"
        }
      },
      "description": "Configuration for an Apt remote repository.",
      "type": "object"
    },
    "UploadGoModuleMetadata": {
      "properties": {},
      "id": "UploadGoModuleMetadata",
      "type": "object",
      "description": "The operation metadata for uploading go modules."
    },
    "Repository": {
      "type": "object",
      "properties": {
        "remoteRepositoryConfig": {
          "$ref": "RemoteRepositoryConfig",
          "description": "Configuration specific for a Remote Repository."
        },
        "dockerConfig": {
          "$ref": "DockerRepositoryConfig",
          "description": "Docker repository config contains repository level configuration for the repositories of docker type."
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        },
        "cleanupPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length."
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "registryUri": {
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "type": "string",
          "readOnly": true
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "description": "Optional. The mode of the repository.",
          "type": "string",
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "type": "boolean",
          "readOnly": true
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "format": {
          "description": "Optional. The format of packages that are stored in the repository.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY",
            "CONDA"
          ],
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format.",
            "Conda package format."
          ],
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "virtualRepositoryConfig": {
          "$ref": "VirtualRepositoryConfig",
          "description": "Configuration specific for a Virtual Repository."
        },
        "sizeBytes": {
          "format": "int64",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "type": "string",
          "readOnly": true
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true,
          "type": "boolean"
        },
        "cleanupPolicyDryRun": {
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the repository was created.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Repository",
      "description": "A Repository for storing artifacts with a specific format."
    },
    "DownloadFileResponse": {
      "description": "The response to download a file.",
      "id": "DownloadFileResponse",
      "properties": {},
      "type": "object"
    },
    "VulnerabilityScanningConfig": {
      "type": "object",
      "properties": {
        "enablementStateReason": {
          "type": "string",
          "description": "Output only. Reason for the repository state.",
          "readOnly": true
        },
        "enablementState": {
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ],
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "readOnly": true,
          "type": "string"
        },
        "enablementConfig": {
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "Unspecified enablement configuration.",
            "Enables the feature, but is dependent on parent API enablement.",
            "Disables the feature for this repository."
          ],
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled. When unset (ENABLEMENT_CONFIG_UNSPECIFIED), this is treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
          "type": "string"
        },
        "lastEnableTime": {
          "readOnly": true,
          "description": "Output only. The last time this repository config was enabled.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "VulnerabilityScanningConfig",
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state."
    },
    "Tag": {
      "id": "Tag",
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "type": "object",
      "properties": {
        "version": {
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        }
      }
    },
    "CleanupPolicyCondition": {
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied.",
      "type": "object",
      "properties": {
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "olderThan": {
          "description": "Match versions older than a duration.",
          "type": "string",
          "format": "google-duration"
        },
        "newerThan": {
          "format": "google-duration",
          "type": "string",
          "description": "Match versions newer than a duration."
        },
        "tagPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Match versions by tag prefix. Applied on any prefix match."
        },
        "tagState": {
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "description": "Match versions by tag status.",
          "type": "string",
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ]
        },
        "packageNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "type": "array"
        }
      },
      "id": "CleanupPolicyCondition"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository"
    },
    "YumArtifact": {
      "description": "A detailed representation of a Yum artifact.",
      "id": "YumArtifact",
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "type": "string",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ImportGoogetArtifactsGcsSource": {
      "type": "object",
      "id": "ImportGoogetArtifactsGcsSource",
      "properties": {
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        },
        "uris": {
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "UploadGoogetArtifactRequest": {
      "id": "UploadGoogetArtifactRequest",
      "description": "The request to upload an artifact.",
      "properties": {},
      "type": "object"
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "description": "The tags returned.",
          "items": {
            "$ref": "Tag"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        }
      },
      "id": "ListTagsResponse"
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "type": "object",
      "properties": {},
      "description": "The operation metadata for uploading artifacts."
    },
    "BatchDeleteVersionsMetadata": {
      "type": "object",
      "properties": {
        "failedVersions": {
          "items": {
            "type": "string"
          },
          "description": "The versions the operation failed to delete.",
          "type": "array"
        }
      },
      "id": "BatchDeleteVersionsMetadata",
      "description": "The metadata of an LRO from deleting multiple versions."
    },
    "UploadYumArtifactRequest": {
      "type": "object",
      "id": "UploadYumArtifactRequest",
      "properties": {},
      "description": "The request to upload an artifact."
    },
    "UploadAptArtifactMetadata": {
      "id": "UploadAptArtifactMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for uploading artifacts."
    },
    "ListMavenArtifactsResponse": {
      "type": "object",
      "id": "ListMavenArtifactsResponse",
      "description": "The response from listing maven artifacts.",
      "properties": {
        "mavenArtifacts": {
          "description": "The maven artifacts returned.",
          "type": "array",
          "items": {
            "$ref": "MavenArtifact"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      }
    },
    "UploadGenericArtifactRequest": {
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename.",
      "type": "object",
      "properties": {
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        },
        "versionAnnotations": {
          "description": "Optional. Client specified annotations to attach to the version upon creation. This field is only applied if the Version is created during this upload. If the Version already exists and this field is set, the request will fail.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        },
        "versionId": {
          "type": "string",
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed."
        }
      },
      "id": "UploadGenericArtifactRequest"
    },
    "UploadGenericArtifactMetadata": {
      "properties": {},
      "id": "UploadGenericArtifactMetadata",
      "description": "The operation metadata for uploading generic artifacts.",
      "type": "object"
    },
    "DockerRepositoryConfig": {
      "id": "DockerRepositoryConfig",
      "type": "object",
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type.",
      "properties": {
        "immutableTags": {
          "type": "boolean",
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created."
        }
      }
    },
    "PlatformLogsConfig": {
      "type": "object",
      "id": "PlatformLogsConfig",
      "properties": {
        "loggingState": {
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "type": "string",
          "description": "Optional. The state of the platform logs: enabled or disabled.",
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "severityLevel": {
          "type": "string",
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ]
        }
      },
      "description": "The platform logs config for a project or a repository."
    },
    "TestIamPermissionsRequest": {
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsRequest"
    },
    "PrewarmPlatform": {
      "description": "The platform (architecture and OS) of the image. This is a sub-message.",
      "properties": {
        "architecture": {
          "description": "Optional. The architecture of the image or tag. For example, \"arm64\" or \"amd64\".",
          "type": "string"
        },
        "os": {
          "description": "Optional. The OS of the image or tag. For example, \"linux\" or \"windows\".",
          "type": "string"
        }
      },
      "id": "PrewarmPlatform",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Hash": {
      "properties": {
        "type": {
          "description": "The algorithm used to compute the hash value.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ]
        },
        "value": {
          "format": "byte",
          "description": "The hash value.",
          "type": "string"
        }
      },
      "id": "Hash",
      "type": "object",
      "description": "A hash of file content."
    },
    "CleanupPolicyMostRecentVersions": {
      "type": "object",
      "properties": {
        "packageNamePrefixes": {
          "items": {
            "type": "string"
          },
          "description": "List of package name prefixes that will apply this rule.",
          "type": "array"
        },
        "keepCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of versions to keep."
        }
      },
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions.",
      "id": "CleanupPolicyMostRecentVersions"
    },
    "Attachment": {
      "description": "An Attachment refers to additional metadata that can be attached to artifacts in Artifact Registry. An attachment consists of one or more files.",
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "type": "string"
          },
          "description": "Required. The files that belong to this attachment. If the file ID part contains slashes, they are escaped. E.g. `projects/p1/locations/us-central1/repositories/repo1/files/sha:`.",
          "type": "array"
        },
        "target": {
          "description": "Required. The target the attachment is for, can be a Version, Package or Repository. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
          "type": "string"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
[...]
