{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "title": "Artifact Registry API",
  "version": "v1beta2",
  "name": "artifactregistry",
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "id": "artifactregistry:v1beta2",
  "kind": "discovery#restDescription",
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "protocol": "rest",
  "revision": "20260822",
  "canonicalName": "Artifact Registry",
  "schemas": {
    "ImportYumArtifactsGcsSource": {
      "id": "ImportYumArtifactsGcsSource",
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      }
    },
    "UploadYumArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "yumArtifacts": {
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          },
          "description": "The Yum artifacts updated."
        }
      },
      "type": "object",
      "id": "UploadYumArtifactResponse"
    },
    "Repository": {
      "id": "Repository",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "sizeBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs."
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "mavenConfig": {
          "$ref": "MavenRepositoryConfig",
          "description": "Maven repository config contains repository level configuration for the repositories of maven type."
        },
        "format": {
          "type": "string",
          "description": "Optional. The format of packages that are stored in the repository.",
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON"
          ],
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format."
          ]
        }
      },
      "type": "object",
      "description": "A Repository for storing artifacts with a specific format."
    },
    "Package": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the package."
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        },
        "updateTime": {
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "type": "string",
          "format": "google-datetime"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Client specified annotations."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the package was created."
        }
      },
      "description": "Packages are named collections of versions.",
      "id": "Package",
      "type": "object"
    },
    "Version": {
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "type": "object",
      "id": "Version",
      "properties": {
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "updateTime": {
          "description": "The time when the version was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped."
        },
        "metadata": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the version was created."
        }
      }
    },
    "YumArtifact": {
      "id": "YumArtifact",
      "description": "A detailed representation of a Yum artifact.",
      "properties": {
        "packageType": {
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "type": "string",
          "description": "Output only. An artifact is a binary or source package."
        },
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string"
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The yum package name of the artifact."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Metadata type for longrunning-operations, currently empty.",
      "properties": {},
      "id": "OperationMetadata"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "UploadAptArtifactResponse": {
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      },
      "id": "UploadAptArtifactResponse",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object"
    },
    "ImportAptArtifactsResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        },
        "aptArtifacts": {
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        }
      },
      "id": "ImportAptArtifactsResponse",
      "description": "The response message from importing APT artifacts."
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "bindings": {
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          }
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      }
    },
    "ImportYumArtifactsResponse": {
      "description": "The response message from importing YUM artifacts.",
      "id": "ImportYumArtifactsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          },
          "type": "array"
        },
        "yumArtifacts": {
          "description": "The yum artifacts imported.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      }
    },
    "ImportAptArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportAptArtifactsMetadata",
      "type": "object",
      "properties": {}
    },
    "UploadAptArtifactRequest": {
      "id": "UploadAptArtifactRequest",
      "type": "object",
      "properties": {},
      "description": "The request to upload an artifact."
    },
    "MavenRepositoryConfig": {
      "type": "object",
      "properties": {
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        },
        "versionPolicy": {
          "type": "string",
          "description": "Version policy defines the versions that the registry will accept.",
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ]
        }
      },
      "id": "MavenRepositoryConfig",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type."
    },
    "ImportAptArtifactsErrorInfo": {
      "id": "ImportAptArtifactsErrorInfo",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        }
      },
      "type": "object"
    },
    "ImportAptArtifactsRequest": {
      "properties": {
        "gcsSource": {
          "$ref": "ImportAptArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "description": "The request to import new apt artifacts.",
      "type": "object",
      "id": "ImportAptArtifactsRequest"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListVersionsResponse": {
      "id": "ListVersionsResponse",
      "description": "The response from listing versions.",
      "properties": {
        "versions": {
          "description": "The versions returned.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UploadAptArtifactMetadata": {
      "properties": {},
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadAptArtifactMetadata",
      "type": "object"
    },
    "ProjectSettings": {
      "type": "object",
      "id": "ProjectSettings",
      "description": "The Artifact Registry settings that apply to a Project.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
        },
        "pullPercent": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection."
        },
        "legacyRedirectionState": {
          "description": "The redirection state of the legacy repositories in this project.",
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "type": "string",
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ]
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1beta2File": {
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "id": "GoogleDevtoolsArtifactregistryV1beta2File",
      "type": "object",
      "properties": {
        "sizeBytes": {
          "format": "int64",
          "description": "The size of the File in bytes.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the File was created."
        },
        "owner": {
          "description": "The name of the Package or Version that owns this file, if any.",
          "type": "string"
        },
        "hashes": {
          "type": "array",
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time when the File was last updated."
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListRepositoriesResponse": {
      "description": "The response from listing repositories.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        },
        "repositories": {
          "items": {
            "$ref": "Repository"
          },
          "type": "array",
          "description": "The repositories returned."
        }
      },
      "id": "ListRepositoriesResponse"
    },
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "description": "Request message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      }
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "type": "object",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "type": "object",
      "description": "The response to upload an artifact.",
      "id": "UploadAptArtifactMediaResponse"
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      },
      "type": "object"
    },
    "ListPackagesResponse": {
      "description": "The response from listing packages.",
      "type": "object",
      "id": "ListPackagesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        },
        "packages": {
          "items": {
            "$ref": "Package"
          },
          "type": "array",
          "description": "The packages returned."
        }
      }
    },
    "AptArtifact": {
      "type": "object",
      "id": "AptArtifact",
      "properties": {
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Apt package name of the artifact."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact."
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        },
        "controlFile": {
          "description": "Output only. Contents of the artifact's control metadata file.",
          "readOnly": true,
          "type": "string",
          "format": "byte"
        },
        "component": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Repository component of the artifact."
        }
      },
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "$ref": "Expr",
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      }
    },
    "UploadYumArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadYumArtifactMetadata",
      "properties": {},
      "type": "object"
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "properties": {},
      "description": "The request to upload an artifact.",
      "type": "object"
    },
    "DownloadFileResponse": {
      "id": "DownloadFileResponse",
      "description": "The response to download a file.",
      "type": "object",
      "properties": {}
    },
    "Hash": {
      "description": "A hash of file content.",
      "id": "Hash",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "type": "string",
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ],
          "description": "The algorithm used to compute the hash value."
        },
        "value": {
          "format": "byte",
          "type": "string",
          "description": "The hash value."
        }
      },
      "type": "object"
    },
    "ListFilesResponse": {
      "type": "object",
      "properties": {
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
          },
          "description": "The files returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return."
        }
      },
      "id": "ListFilesResponse",
      "description": "The response from listing files."
    },
    "Expr": {
      "properties": {
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "ImportYumArtifactsMetadata": {
      "properties": {},
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportYumArtifactsMetadata"
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped."
        }
      }
    },
    "TestIamPermissionsResponse": {
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "UploadYumArtifactMediaResponse": {
      "id": "UploadYumArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "description": "The response to upload an artifact."
    },
    "ImportAptArtifactsGcsSource": {
      "properties": {
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        },
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ImportAptArtifactsGcsSource",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        },
        "tags": {
          "description": "The tags returned.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "type": "object",
      "description": "The response from listing tags."
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "type": "object",
      "description": "The request to import new yum artifacts."
    }
  },
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "batchPath": "batch",
  "resources": {
    "projects": {
      "methods": {
        "getProjectSettings": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1beta2/{+name}",
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "description": "Retrieves the Settings for the Project.",
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^projects/[^/]+/projectSettings$",
              "required": true,
              "location": "path",
              "description": "Required. The name of the projectSettings resource."
            }
          },
          "id": "artifactregistry.projects.getProjectSettings",
          "httpMethod": "GET"
        },
        "updateProjectSettings": {
          "parameters": {
            "updateMask": {
              "description": "Field mask to support partial updates.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "name": {
              "location": "path",
              "pattern": "^projects/[^/]+/projectSettings$",
              "type": "string",
              "required": true,
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
            }
          },
          "response": {
            "$ref": "ProjectSettings"
          },
          "description": "Updates the Settings for the Project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "parameterOrder": [
            "name"
          ],
          "id": "artifactregistry.projects.updateProjectSettings",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "ProjectSettings"
          },
          "path": "v1beta2/{+name}"
        }
      },
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "artifactregistry.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1beta2/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "repositories": {
              "methods": {
                "list": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000.",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. The field to order the results by.",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous list request, if any.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "description": "Lists repositories.",
                  "httpMethod": "GET",
                  "path": "v1beta2/{+parent}/repositories"
                },
                "patch": {
                  "id": "artifactregistry.projects.locations.repositories.patch",
                  "request": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates a repository.",
                  "response": {
                    "$ref": "Repository"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$"
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}"
                },
                "setIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "path": "v1beta2/{+resource}:setIamPolicy",
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Updates the IAM policy for a given resource.",
                  "httpMethod": "POST",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the repository to delete."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta2/{+name}",
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response."
                },
                "testIamPermissions": {
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1beta2/{+resource}:testIamPermissions"
                },
                "get": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "id": "artifactregistry.projects.locations.repositories.get",
                  "response": {
                    "$ref": "Repository"
                  },
                  "description": "Gets a repository.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "description": "Required. The name of the repository to retrieve.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta2/{+name}",
                  "httpMethod": "GET"
                },
                "getIamPolicy": {
                  "path": "v1beta2/{+resource}:getIamPolicy",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "required": true
                    },
                    "options.requestedPolicyVersion": {
                      "location": "query",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the IAM policy for a given resource.",
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "httpMethod": "GET"
                },
                "create": {
                  "path": "v1beta2/{+parent}/repositories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Repository"
                  },
                  "httpMethod": "POST",
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "repositoryId": {
                      "description": "Required. The repository id to use for this repository.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories"
                }
              },
              "resources": {
                "packages": {
                  "methods": {
                    "delete": {
                      "path": "v1beta2/{+name}",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "description": "Required. The name of the package to delete.",
                          "type": "string",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Package"
                      },
                      "description": "Gets a package.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "path": "v1beta2/{+name}",
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the package to retrieve.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. The field to order the results by.",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the parent resource whose packages will be listed."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of packages to return. Maximum page size is 1,000."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "path": "v1beta2/{+parent}/packages",
                      "response": {
                        "$ref": "ListPackagesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages",
                      "description": "Lists packages."
                    },
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "type": "string",
                          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Package"
                      },
                      "description": "Updates a package.",
                      "path": "v1beta2/{+name}",
                      "httpMethod": "PATCH",
                      "id": "artifactregistry.projects.locations.repositories.packages.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "Package"
                      }
                    }
                  },
                  "resources": {
                    "versions": {
                      "methods": {
                        "get": {
                          "path": "v1beta2/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "GET",
                          "description": "Gets a version",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.get",
                          "response": {
                            "$ref": "Version"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the version to retrieve.",
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "required": true
                            },
                            "view": {
                              "type": "string",
                              "description": "The view that should be returned in the response.",
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "location": "query"
                            }
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}"
                        },
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "force": {
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "name": {
                              "required": true,
                              "description": "The name of the version to delete.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "httpMethod": "DELETE"
                        },
                        "list": {
                          "response": {
                            "$ref": "ListVersionsResponse"
                          },
                          "httpMethod": "GET",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions",
                          "path": "v1beta2/{+parent}/versions",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Lists versions.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "required": true,
                              "description": "The name of the parent resource whose versions will be listed.",
                              "type": "string"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. The field to order the results by."
                            },
                            "view": {
                              "enumDescriptions": [
                                "The default / unset value. The API will default to the BASIC view.",
                                "Includes basic information about the version, but not any related tags.",
                                "Include everything."
                              ],
                              "enum": [
                                "VERSION_VIEW_UNSPECIFIED",
                                "BASIC",
                                "FULL"
                              ],
                              "type": "string",
                              "location": "query",
                              "description": "The view that should be returned in the response."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "tags": {
                      "methods": {
                        "get": {
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "Tag"
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "path": "v1beta2/{+name}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets a tag.",
                          "parameters": {
                            "name": {
                              "description": "The name of the tag to retrieve.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path"
                            }
                          }
                        },
                        "patch": {
                          "parameters": {
                            "updateMask": {
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "format": "google-fieldmask",
                              "type": "string",
                              "location": "query"
                            },
                            "name": {
                              "required": true,
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path"
                            }
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch",
                          "response": {
                            "$ref": "Tag"
                          },
                          "description": "Updates a tag.",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "PATCH",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "request": {
                            "$ref": "Tag"
                          },
                          "path": "v1beta2/{+name}"
                        },
                        "create": {
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "httpMethod": "POST",
                          "description": "Creates a tag.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "Tag"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Tag"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The name of the parent resource where the tag will be created.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                            },
                            "tagId": {
                              "type": "string",
                              "location": "query",
                              "description": "The tag id to use for this repository."
                            }
                          },
                          "path": "v1beta2/{+parent}/tags",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags"
                        },
                        "list": {
                          "parameters": {
                            "filter": {
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `version` Examples of using a filter: To filter the results of your request to tags with the name `my-tag` in package `my-package` in repository `my-repo` in project \"`y-project` in the us-central region, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my-tag\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag*\"` To filter the results of your request to tags applied to the version `1.0` in package `my-package`, append the following filter expression to your request: * `version=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"`",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of tags to return. Maximum page size is 1,000.",
                              "type": "integer",
                              "format": "int32",
                              "location": "query"
                            },
                            "parent": {
                              "description": "The name of the parent package whose tags will be listed. For example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`.",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "description": "Lists tags.",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListTagsResponse"
                          },
                          "path": "v1beta2/{+parent}/tags"
                        },
                        "delete": {
                          "description": "Deletes a tag.",
                          "httpMethod": "DELETE",
                          "path": "v1beta2/{+name}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the tag to delete."
                            }
                          },
                          "response": {
                            "$ref": "Empty"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}"
                        }
                      }
                    }
                  }
                },
                "yumArtifacts": {
                  "methods": {
                    "import": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "The name of the parent resource where the artifacts will be imported.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "path": "v1beta2/{+parent}/yumArtifacts:import",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "upload": {
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta2/{+parent}/yumArtifacts:create",
                      "supportsMediaUpload": true,
                      "mediaUpload": {
                        "accept": [
                          "*/*"
                        ],
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1beta2/{+parent}/yumArtifacts:create"
                          }
                        }
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "parameters": {
                        "parent": {
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      }
                    }
                  }
                },
                "files": {
                  "methods": {
                    "download": {
                      "supportsMediaDownload": true,
                      "description": "Download a file.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1beta2/{+name}:download",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "DownloadFileResponse"
                      },
                      "id": "artifactregistry.projects.locations.repositories.files.download",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}:download",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the file to download."
                        }
                      },
                      "useMediaDownloadService": true
                    },
                    "get": {
                      "id": "artifactregistry.projects.locations.repositories.files.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "response": {
                        "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
                      },
                      "path": "v1beta2/{+name}",
                      "description": "Gets a file.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/files/{filesId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the file to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/files/.*$"
                        }
                      }
                    },
                    "list": {
                      "id": "artifactregistry.projects.locations.repositories.files.list",
                      "path": "v1beta2/{+parent}/files",
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The maximum number of files to return. Maximum page size is 1,000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the repository whose files will be listed. For example: \"projects/p1/locations/us-central1/repositories/repo1"
                        },
                        "filter": {
                          "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `owner` * `annotations` Examples of using a filter: To filter the results of your request to files with the name `my_file.txt` in project `my-project` in the `us-central` region, in repository `my-repo`, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-file.txt\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/my-*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file.txt\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/files/*file*\"` To filter the results of your request to files owned by the version `1.0` in package `pkg1`, append the following filter expression to your request: * `owner=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"` To filter the results of your request to files with the annotation key-value pair [`external_link`: `external_link_value`], append the following filter expression to your request: * `\"annotations.external_link:external_link_value\"` To filter just for a specific annotation key `external_link`, append the following filter expression to your request: * `\"annotations.external_link\"` If the annotation key or value contains special characters, you can escape them by surrounding the value with backticks. For example, to filter the results of your request to files with the annotation key-value pair [`external.link`:`https://example.com/my-file`], append the following filter expression to your request: * `` \"annotations.`external.link`:`https://example.com/my-file`\" `` You can also filter with annotations with a wildcard to match any number of characters before or after the value: * `` \"anno
[...]
